[2020-06-27 15:07] iravid commented on #3609
I’ll get back to this over the next few days @thesamet. Could you point me to the part of zio-grpc that this affects?

[2020-06-27 15:21] shvimas commented on #3893
@adamgfraser TBH I do not follow: what error channel are you talking about? Since `random.nextIntBetween` returns `UIO` I have the only option to use `ZIO.catchSomeDefect` to recover from the potential bad input (assuming no explicit input validation). Did you mean this as an appropriate handling or am I missing something?

[2020-06-27 15:37] adamgfraser commented on #3893
@shvimas Yes, in ZIO we have the "checked" error channel with typed errors embodied by the `E` parameter and we have the "unchecked" error channel with errors that are a subtype of `Throwable` as part of the `Die` case of `Cause`. I think ideally you would validate the input before calling these methods if necessary or otherwise you could potentially do `catchSomeDefect`.

[2020-06-27 15:40] thesamet commented on #3609
It's been a while, I believe the area of the code was here: https://github.com/scalapb/zio-grpc/blob/497a6a4d22a3652be5420c3b1b07492534a99b11/core/jvm/src/main/scala/scalapb/zio_grpc/client/ClientCalls.scala#L65-L83.  I need to re-examine this again to fully recall the context, but leaving for a short trip, will add more details next week.

[2020-06-27 15:41] shvimas commented on #3893
I see. Thanks for the quick response!

[2020-06-27 16:25] MI3Guy opened #3894 "Add error handling methods to ZSink and ZTransducer"
Would it be possible to add error handling methods such as flatMapError or refineOrDie to ZSink and ZTransducer?

As far as I can tell, the only way to do the equivalent of these methods is to access pull.

[2020-06-27 18:55] mijicd commented on #3868
I'm with @iravid here. We need to have a branching strategy to support post 1.0 work. That includes discussing which model works best for us, but also adjusting our CI, which is known to cause a trouble or two anyhow.

That said, I am strongly against renaming branches before 1.0 lands. Once we have that one, I'm open for all suggestions.

[2020-06-27 19:06] mikearnaldi opened #3897 "Interruption exit lost"
[code]

This code results in the following exit:

[code]

The error is completely lost but the finalizer is executed, this behaviour was introduced as a result of RC21 modifications of the FiberContext & ZScope.

The following PR https://github.com/zio/zio/pull/3883 restores the behaviour as it was pre RC21 including the trace of the errors in finalizers.

[2020-06-27 21:10] simpadjo commented on #3868
From a project that is aiming to overthrow the FP scene and breaks things (in a good way!) every minor release, I expect a bit more courage when thinking about potential problems with CI :smile:

[2020-06-27 22:05] simpadjo commented on #3894
Makes sense to me!
Regarding sinks, there is a PR that adds `ZSink.either` among other changes https://github.com/zio/zio/pull/3817 (@iravid pinging you btw :) ).

For now you can simulate error handling in ZSink using `foldM`: `sink.foldM(err => ZSink.succeed("default"), ok => ZSink.succeed(ok))`

[2020-06-28 06:49] gzoller commented on #1180
Bump!  Scala 3 is right around the corner... time to clean up any Scala 2 dependencies and publish Dotty builds, please.

[2020-06-28 07:05] ghostdogpr commented on #1180
We are already publishing for dotty: https://repo1.maven.org/maven2/dev/zio/zio_0.23/ (it's not the latest dotty version, there is a blocker for upgrading but it might be solved soon, see https://github.com/zio/izumi-reflect/issues/38)

[2020-06-28 10:38] svroonland commented on #3785
Just noticed that #1711 is also about retrying, but just the latest pull.

[2020-06-28 12:00] natansil opened #3903 "Introduce foreachWhile"
It would be nice if ZIO could have a functionality of iterating over an `Iterable`, and executing effects but stopping if the effect returns false.

Something like

[code]

Mind you there is already `ZStream#foreachWhile`
and @iravid raised the following reservation in discord:

So should I open a PR or not?

[2020-06-28 19:04] #1180 closed

[2020-06-28 20:36] #3638 closed

[2020-06-28 21:10] adrianfilip opened #3908 "Tests unrelated to submitted code failing"
I noticed the build for my  pull request https://github.com/zio/zio/pull/3901 keeps failing for reasons unrelated to the PR code.

<img width="1260" alt="Screenshot 2020-06-29 at 00 08 45" src="https://user-images.githubusercontent.com/3481889/85958235-b622eb80-b99c-11ea-805f-d73bc3eaed2e.png">

<img width="1260" alt="Screenshot 2020-06-29 at 00 09 32" src="https://user-images.githubusercontent.co

[2020-06-28 21:17] unclebob418 commented on #3908
Possibly related to #3851? Looks like it's been fixed but the failing tests are in the same areas so maybe not quite? Quite the coincidence if it's unrelated!

[2020-06-28 22:42] unclebob418 commented on #3908
Cc @adamgfraser @ghostdogpr

[2020-06-29 07:50] softinio commented on #3868
I think what needs to be considered here timing of such change so as not to duplicate effort. From the last conversations I had with @jdegoes we are evaluating moving our ci (to GitHub Actions) which I am hoping to start work on later this summer from the current one so my preference would be to coincide this change with that change together with the strategies we agree on for 1.0 as already menti

[2020-06-29 12:17] Fristi opened #3910 "RC21-1 The fiber's scope has ended before the fiber itself has ended"
Since upgrading to RC21-1 we'll get:

[code]

Anyone else? We are using interop-cats, http4s, doobie.

Working on a reproduction case

[2020-06-29 14:03] fokot opened #3911 "[Zio-test] Navigation links for failed tests in Intellij Idea"
When I'm using `scalatest` in Intellij I get clickable lines for all failures. And I find it very handy. Not sure how hard it would be to do with zio-test but it would be cool

[2020-06-29 15:03] sebver commented on #3910
This is a reproduction with http4s: https://github.com/sebver/zio-http4s-scope-issue

There are some instructions in the readme, you should see the error appear after a wile.

The requests don't actually fail - so I'm not sure what the consequences are.

[2020-06-29 15:12] adamgfraser commented on #3911
This would be a great feature to add and is one we have talked about. I think to do this we need to capture the tracing information in ZIO Test for all test failures (right now we only capture it for runtime failures) and then we can report it ourselves with tools like ZIO Intellij provides a more advanced interface on top of this. I know @hmemcpy has spent some time thinking about this as well.

[2020-06-29 15:16] adamgfraser commented on #3910
Thanks for reporting! Will take a look.

[2020-06-29 15:20] hmemcpy commented on #3911
I experimented a little with adding Li Haoyi's [Sourcecode](https://github.com/lihaoyi/sourcecode) macros with some success (see #3152). Unfortunately, I never progressed beyond the initial spike.

In general, source information for both failed and successful runs would be great - it would enable tooling support. I'm not entirely sure if it's possible to capture via just tracing information, thoug

[2020-06-29 15:54] adamgfraser commented on #3910
Looks like this issue also replicates on RC21. Can you confirm?

[2020-06-29 16:04] sebver commented on #3910
I just checked and I can confirm. We hadn't noticed since we upgraded straight to RC21-1 from RC20.

[2020-06-29 16:11] adamgfraser commented on #3910
Makes sense, it just helps narrow down the cause since it eliminates one potential change that was made in RC21-1 as a candidate.

[2020-06-29 17:13] TobiasPfeifer opened #3913 "ZTransducer should provide a way to split on Chunk[A]"
Currently ZTransducer provides a way to split on a String, however there is no generalized way to split on Chunk[A].

use case video stream processing:
I've got a ZStream of Chunk[Byte]. Each Chunk[Byte] contains 0 to n video frames in PNG-format (possibly with some leftovers).
I want to split the the stream on the PNGs magic number (=delimiter).

[2020-06-29 17:36] #3849 closed

[2020-06-29 21:14] #3769 closed

[2020-06-30 03:24] mgenereu commented on #3820
I'm assuming by support you meant make the project easily editable in Gitpod. Hope that's what you meant and feel free to clarify.

[2020-06-30 04:04] mgenereu commented on #3820
Please note: The template from Gitpod is based on their really heavy Docker image. I can see this being a good first working version but using a lighter base image and optimization might take a few iterations. I'm on a Chromebook and Gitpod doesn't have a strong Dockerfile iteration process that doesn't require a commit to the repository each time.

[2020-06-30 13:03] jdegoes commented on #3820
@mgenereu Yes, I was hoping we could make it as easy to contribute to ZIO as clicking a button. 😄

[2020-06-30 16:55] #3910 closed

[2020-06-30 16:57] adamgfraser commented on #3910
@Fristi @sebver We just merged #3910 which should fix this. If you have a chance and are able to test with snapshots could you let me know if this resolves your issue?

[2020-06-30 18:13] sebver commented on #3910
@adamgfraser I just let it run locally for a while and it appears to be fixed! 🙏

Just checking if there are any plans for an RC21-2 at some point? Don't mind verifying it in our test/production environments, but a snapshot is a bit of a hard sell there. 😄

[2020-06-30 18:19] adamgfraser commented on #3910
@sebver Totally makes sense! :smiley:

Yes, I think so, maybe after #3883 and #3919 get merged.

[2020-06-30 18:21] #3820 closed

[2020-06-30 18:31] #3871 closed

[2020-06-30 20:42] #3882 closed

[2020-07-01 06:25] Fristi commented on #3910
Thank you so much!

[2020-07-01 09:46] TobiasPfeifer commented on #3360
discovered the same issue for `zio.Chunk$PrependN.toArray` in #3914 on master
can be reproduced with https://github.com/zio/zio/pull/3914/commits/73f14a989b98d15369cd9e389f6453f253153133 with ScalaJs 2.13, jdk8 (see https://app.circleci.com/pipelines/github/zio/zio/8228/workflows/25f29f1e-ed92-46e4-9987-76113cf7d47a/jobs/83141/steps)

#3418 does not fix this one

[code]

[code]

[2020-07-01 12:36] sebver opened #3926 "Possible scope issue after upgrading to RC21-2 (Performance)"
I still have some issues after upgrading to RC21-2 with the same code sample as in #3910. After hitting the endpoint a few times the server doesn't respond, maybe because of issues wrt the scope fix of yesterday.

https://github.com/sebver/zio-http4s-scope-issue

The odd thing is that this becomes very noticeable as soon as you run it in a container. We didn't notice it yesterday because we weren'

[2020-07-01 13:56] fsvehla commented on #3926
I can also confirm that I still see it.

[2020-07-01 14:02] adamgfraser commented on #3926
Okay, on it. Thanks for reporting and for the reproducer!

[2020-07-01 14:07] adamgfraser commented on #3897
Resolved by #3883.

[2020-07-01 14:07] #3897 closed

[2020-07-01 18:47] adamgfraser commented on #3926
Is everyone who is seeing this issue using `interop-cats`? My current hypothesis is that the issue is related to the interaction between that and the fiber supervision changes.

In particular, my understanding is that in `cats-interop` we want to fork everything on the global scope (because applications that are built using Cats Effect don't know anything about ZIO's fiber supervision model and ca

[2020-07-01 21:36] er1c commented on #3872
Woops, I'm sorry I didn't cover this in my initial PR!

[2020-07-02 00:05] ghostdogpr commented on #3926
Hmm in interop-cats we always use `forkDaemon` and never `fork`. But maybe this could come from inside another operator. Do you have any idea where that fork operation come from?

[2020-07-02 00:20] ghostdogpr commented on #3926
The only non-global fork done in this example comes from a call to `raceTimeout` in http4s. Our implementation for `race` is here https://github.com/zio/interop-cats/blob/332c7ea4debeeb70caae66850e785af86f655dad/interop-cats/shared/src/main/scala/zio/interop/cats.scala#L231
See anything wrong with it?

[2020-07-02 00:57] adamgfraser commented on #3926
Yes I think the issue is that we are doing internal forks in those combinators that are on local scopes. For example in the snippet below both raced fibers are forked on the scope of the parent fiber instead of the global scope:

[code]

[2020-07-02 04:47] iravid commented on #3872
@er1c Thank you for *not* covering it and keeping PR scope manageable :-)

[2020-07-02 06:03] mijicd commented on #3874
I'm taking this one.

[2020-07-02 08:32] #3872 closed

[2020-07-02 17:10] toxicafunk commented on #3871
The scala bug found by @ghostdogpr seems related https://github.com/zio/zio/issues/1841

[2020-07-02 22:06] jdegoes commented on #3868
I think I concur with @iravid and @mijicd!

[2020-07-03 09:25] mijicd commented on #3876
On it :).

[2020-07-03 14:10] fanf opened #3932 "Deadlock in RC21-2"
I have code that used to work in ZIO `RC18-2` that deadlock in `RC21-2`. It may be related to https://github.com/zio/zio/issues/3871 but I tested a local build with PR https://github.com/zio/zio/pull/3919 which didn't solved the issue.

Original code: https://github.com/Normation/rudder/blob/branches/rudder/6.1/webapp/sources/rudder/rudder-core/src/test/scala/com/normation/rudder/metrics/NodeCount

[2020-07-03 14:11] fanf commented on #3932
Removing call to `sleep` break the deadlock.

[2020-07-03 16:18] adamgfraser commented on #3932
@fanf I don't think this is actually related to the fiber supervision changes but to changes to the `TestClock`. You just need to fork you `sleep` and adjust the time.

[code]

If you adjust the time first the sleep will sleep until the set time plus the sleep duration so it will never return. You want to fork the sleep and then adjust the time to the sleep duration so the effect then runs.

[2020-07-03 16:52] fanf commented on #3932
Cool! I'm closing that issue, since it's just an evolution in `sleep` semantic.

[2020-07-03 16:52] #3932 closed

[2020-07-04 15:05] #3874 closed

[2020-07-04 16:09] kubukoz commented on #3850
I just did, same thing:

[code]

(`Schedule.fixed(10.millis)`)

[2020-07-04 16:15] kubukoz commented on #3850
Also, `Schedule.forever.addDelay(_ => 10.millis)` (which I guess is fewer combinators on top of the primitive implementation).

[2020-07-04 17:15] natansil commented on #3903
@iravid WDYT, should I open a PR or not?

[2020-07-04 22:45] mijicd commented on #3875
I'm taking this one.

[2020-07-05 04:57] #3876 closed

[2020-07-05 22:27] simpadjo opened #3938 "Allow ZManaged finalizer to throw errors"
ZManaged finalizers are not allowed to throw exceptions:

`def make[R, R1 <: R, E, A](acquire: ZIO[R, E, A])(release: A => ZIO[R1, Nothing, Any]): ZManaged[R1, E, A]`

Alternatively it could allow to throw an error of type `E`:

`def make[R, R1 <: R, E, A](acquire: ZIO[R, E, A])(release: A => ZIO[R1, E, Any]): ZManaged[R1, E, A]`

Motivation of the current behavior: otherwise a user couldn't disti

[2020-07-06 10:58] adrianfilip commented on #3938
You raise an interesting point.
But wouldn't a failed release imply that there is a leak? That would make ZManaged unsafe by itself because you would then have to deal with the failure somehow.
Maybe a better approach is to make sure that what is in release never fails and if it does you kill the fiber so you "force release" the resource anyway.

[2020-07-06 11:17] simpadjo commented on #3938
There are 2 kinds of leaks: app-level leaks (stale objects) and system-level leaks (e.g. stale database entries).
Killing the fiber won't help against the second.
If a finalizer doesn't do any IO, it should be unexceptional, I think.

But yeah, it's nuanced.

[2020-07-06 15:29] poslegm opened #3939 "ZIO.catchOnly constructor"
It would be nice to have `ZIO.catchOnly` method working like `Either.catchOnly` [from cats](https://github.com/typelevel/cats/blob/v2.2.0-RC1/core/src/main/scala/cats/syntax/either.scala#L354-L366).

**Use case**

[code]

**Possible implementation**

[code]

If there is a more idiomatic way to write code from my example please let me know!

[2020-07-06 16:27] adamgfraser commented on #3939
[code]

[2020-07-06 16:35] adamgfraser opened #3940 "Issue with Handling of Uncaught Exceptions in Parallel Code"
This program will hang if run with `foreachPar` versus failing with an error when run with `foreach`. Looks like it has to do with how we are handling uncaught exceptions when there is an open scope in `FiberContext`.

[code]

[2020-07-06 16:39] poslegm commented on #3939
Exactly what I want, thank you!

[2020-07-06 16:39] #3939 closed

[2020-07-06 21:17] mijicd commented on #3878
I'm taking this one.

[2020-07-07 10:53] SimY4 opened #3942 "Introduce ZIO.foreach and ZIO.collect that takes BuildFrom/CanBuildFrom implicit"
It can be useful for ZIO foreach/collect API to accept implicit CanBuildFrom/BuildFrom implicit.

It'll provide a way to collect elements into your own collection type. The biggest value I see in when you try to collect to Map. Or even just aggregate values into a single value (count, min, max).

[2020-07-07 13:53] reibitto opened #3943 "Schedule.andThen repeats first element"
I notice strange behavior with Schedule's `andThen`. These results are unexpected:

[code]

prints out:

[code]

I see the same behavior when using `Schedule.run` rather than `ZStream.fromSchedule` which is why I'm thinking `Schedule.andThen` itself is the cause.

[2020-07-07 13:55] reibitto commented on #3943
Actually `Schedule.once` is `recurs(1)` which is why I think it's running twice. `Schedule.stop` is the one that is `recurs(0)`. Still though, the "1 s" being swallowed seems to indicate something is still wrong somewhere.

[2020-07-07 15:41] adamgfraser commented on #3942
Yes I think this would be really helpful. Ideally by doing this we could also eliminate the different variants of these methods that currently exist (e.g. `ZIO#foreach` for `List`, `Chunk`, and `Option`).

[2020-07-07 17:49] mgenereu commented on #3139
Spun my wheels on this until figured out the linking issue had to do with Java Time.  That led me to this mill addition:
`ivy"org.scala-js::scalajs-java-time::1.0.0"`
Didn't solve the issue either.  More spinning and I found this ticket.  This mill addition (as referenced above) solved it:
`ivy"io.github.cquiroz::scala-java-time::2.0.0-RC5"`

[2020-07-07 17:54] mgenereu commented on #3139
How are the ZIO JS tests running without this?

[2020-07-07 18:02] adamgfraser commented on #3139
I don't know if there is some specific issue with Mill but in general all you have to do is add a `java-time` dependency.

[2020-07-07 18:16] reibitto commented on #3139
I just checked and can confirm what @mgenereu is seeing. `scalajs-java-time` doesn't work (getting those non-existent class errors). `scala-java-time` works fine though and it's what I've been using without issue since when I first created this issue.

[2020-07-07 18:18] adamgfraser commented on #3139
Yes the issue is that `scalars-java-time` doesn't implement all the methods of `java-time`. That's why we switched.

[2020-07-07 18:20] mgenereu commented on #3139
To clarify two points:

- It's no longer optional and since I wasn't using Clock, I ignored the suggestion on https://zio.dev/docs/interop/interop_javascript . Other research on the linking error I was getting led me to the ScalaJS java-time dependency instead.
- The ScalaJS java-time dependency doesn't work. I don't know why.

Here's the code that failed without Clock.
[code]

Nothing to do with

[2020-07-07 18:22] mgenereu commented on #3139
Heh... didn't see your comments until after I hit submit.  Would you like me to update the docs now that it's not optional or do you think that's going to change back?

[2020-07-07 18:24] reibitto commented on #3139
Also to answer your question @mgenereu, the reason why the tests work is because of this line:
https://github.com/zio/zio/blob/deb11439336658dd4a4e4aa7819dd83a3e2be3ef/project/BuildHelper.scala#L331

However, this is a Test dependency. Since `scala-java-time` is effectively a requirement currently (wasn't the case before), I'm not sure it should be marked as Test anymore. Unless Clock can be made

[2020-07-07 18:26] adamgfraser commented on #3139
I think documentation update would definitely be good. I wonder if we should just add it as a dependency in ZIO on Scala.js. The idea of the current setup is that we are zero dependency and the user just has to bring their own `java-time` dependency. But to my knowledge there is only one dependency that actually fully implements the interface and you need to have some dependency so I wonder if we

[2020-07-07 18:29] mgenereu commented on #3139
It's not a typical dependency in the library sense.  It's part of fixing ScalaJS to get it to work.  These dependencies are already there to make everything work:

[code]

[2020-07-07 18:32] adamgfraser commented on #3139
Yes. I think that is a fair argument.

[2020-07-07 20:59] #3875 closed

[2020-07-08 12:38] myFree opened #3948 "./sbt issue - java.util.concurrent.RejectedExecutionException"
I am trying to follow the steps https://github.com/myFree/zio/blob/master/docs/about/contributing.md

After cloning the repo; I'm hitting

[code]
and the output of last is huge; and ends with

[code]

The error is being thrown after 5 seconds or so, so maybe I need to increase a timeout setting somewhere?

[2020-07-08 14:53] #3879 closed

[2020-07-09 02:51] mgenereu commented on #3139
Want a PR for this or is it easy, peasy for you?

[2020-07-09 05:46] BananaPlantain commented on #3948
Reverting the ScalaFix upgrade seems to resolve the issue on my end

[2020-07-09 07:10] myFree commented on #3948
++
after `git revert a4cadb24d5a6dab1275e0b309d790cb5f341b4f3` I am able to load sbt; thank you for the pointer.

[2020-07-09 07:11] myFree commented on #3948
Should I close this issue; or should we revert the scalaFix upgrade in master? There are a few others reporting sbt issues in https://discord.com/channels/629491597070827530/629491597070827534

[2020-07-09 17:05] adrianfilip commented on #3685
I will take a crack at this next week if no one else is working on it.

[2020-07-09 18:54] plokhotnyuk commented on #3685
Why not just write own `zio.time.Duration`?

It can be less than 300 lines of Scala code including efficient parsing and serialization that could be borrowed from the jsoniter-scala library.

[2020-07-09 22:57] williammmeyer opened #3949 "Performance regression between 1.0.0-RC20 and 1.0.0-RC21-2"
We've started to use zio + tapir + http4s in an internal project and noticed performance issues after upgrading to 1.0.0-RC21-2

The zio http4s example in the tapir repo demonstrates the same behavior we're seeing:

https://github.com/softwaremill/tapir/blob/3e3549644735256e22d756616a9187c109e0e7ec/examples/src/main/scala/sttp/tapir/examples/ZioExampleHttp4sServer.scala

v0.16.1 - 3075b5836f8be257

[2020-07-10 05:31] octavz opened #3950 "zio-macros: support polymorphic service"
Hi, it seems the macro doesn't accept polymorphic services

[code]

should work

[2020-07-10 05:55] octavz commented on #3950
i also have the situation where I have more than one parameter ie.
[code]
I don't know if is easy to do this for any number of parameters, but would be a nice to have feature.
They simply need to be forwarded as type params to the helper functions, together with their bounds.

[2020-07-10 08:28] Adriani-Furtado opened #3951 "Add missing common types to DeriveGen"
There are types with no dependencies that could be added to `DeriveGen` such as `BigDecimal`

[2020-07-10 13:38] ghostdogpr commented on #3948
Seems it's failing the CI as well: https://circleci.com/gh/zio/zio/83812?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-07-10 13:43] ghostdogpr commented on #3948
There is a v0.9.18-1 that maybe solve this issue: https://github.com/scalacenter/sbt-scalafix/releases/tag/v0.9.18-1

[2020-07-10 14:25] #3948 closed

[2020-07-10 16:38] Fristi commented on #3949
I think this is related to #3926

[2020-07-10 18:07] er1c opened #3955 "zio.streams needs scaladocs"
There are *alot* of `@tparam`/etc docs that need to be added in the `zio.stream` package.

Lack of documentation makes trying to work with the types an exercise of mental fortitude.

[2020-07-10 19:32] #3806 closed

[2020-07-10 19:58] pshemass opened #3956 "Program stuck when Layer return error"
I found really weird behavior in `ZLayer` with `>+>`

ZIO version: 1.0.0-R21-2

[code]

for given code I'm getting output below and program never ends.
[code]

if I change `>+>` to `>>>` program works as expected and exit with code 1
[code]

one more observation is that if I changed `putStrLn("the end")` to `putStrLn("the end").delay(10.seconds)` program complete as expected.

[2020-07-11 04:13] Jeremy-Laier commented on #335
Can we close?  [#480](https://github.com/zio/zio/pull/480) is merged

[2020-07-11 14:09] #335 closed

[2020-07-11 23:41] neko-kai commented on #3950
It would also be great to support higher-kinded services e.g.

[code]

[2020-07-12 19:07] mijicd opened #3962 "Factor out BufferedPull(s)"
Due to historical reasons ZStream "leaks" BufferedPull logic in some combinators. The implementer should find these and make sure BufferedPull is (re)used wherever possible.

cc @msvaljek

[2020-07-12 19:07] msvaljek commented on #3962
I'll take this one!

[2020-07-12 21:27] neko-kai opened #3964 "Borrow back useful improvements to ZIO Tracing, if any, from cats-effect's implementation"
CE have released their own take on tracing, with following notable changes compared to original ZIO Tracing:

* Instead of parsing lambdas, CE throws exceptions in IO constructors and cleans up stacktraces. That also means there is no regional control of tracing and AFAIK no way to avoid slight overhead even when tracing is completely disabled – but OTOH it may probably work on Scala.js
* Traces i

[2020-07-13 11:26] Fristi commented on #3926
Would this fix it ?

[code]

[2020-07-13 11:36] szymonrodziewicz opened #3965 "ZIO layer initialization deadlock"
Hi. I'm having a problem with ZIO layer initialization. Calling `Runtime.unsafeFromLayer` causes my application to go into a deadlock (infinite await in OneShot.get) with following thread dump:
[code]
I was unable to reproduce this error up to this point, but I'm working on it and if I manage to do it, I will post there the code as soon as possible. I thought that some of you may've got into a sim

[2020-07-13 14:38] #3950 closed

[2020-07-13 17:09] caeus opened #3966 "Why to use implicits as evidence that R1 is subtype of R, instead of using Upper bound syntax?"
Here: https://github.com/zio/zio/blob/d97e49469e5b45254363b817a1ac35f22c6d0bd6/core/shared/src/main/scala/zio/ZManaged.scala#L694
Why
[code]
instead of
[code]
?

[2020-07-13 18:21] williammmeyer commented on #3949
Closing this issue - same as #3926

[2020-07-13 18:21] #3949 closed

[2020-07-13 19:10] caeus commented on #3966
I just understood why. Scala doesn't allow for multiple upper or lower bounds.

[2020-07-13 19:10] #3966 closed

[2020-07-14 05:20] YuvalItzchakov opened #3968 "Chunk.foldWhileM explodes due to multiple iterations"
Current implementation of Chunk.foldWhileM explodes due to advancing the iterator twice while checking `hasNext` once:

[code]

[2020-07-14 05:47] #3968 closed

[2020-07-14 15:31] adamgfraser commented on #3926
@sebver @fsvehla Can you try using this snapshot of `cats-interop` and see if that resolves the issue `2.1.3.0-RC16+8-8ebd453e-SNAPSHOT`?

[2020-07-14 15:37] adamgfraser commented on #3965
@szymonrodziewicz We have seen some issues related to Scala object initialization. See https://github.com/zio/zio/issues/3871. I would try defining your layers as `lazy val` instead of `val`. If this is the issue we have a fix but it is not binary compatible so we are going to try to get all the binary compatible changes in first. If that doesn't resolve the issue we can troubleshoot more.

[2020-07-14 15:43] adamgfraser commented on #3956
I'm wondering if this could be related to #3940.

[2020-07-14 16:02] pshemass commented on #3956
there is a chance they are related because it seems that with `>+>` init code is async ( not really sure if this is expected ).
[code]

but there is chance that this is different too. this delay `putStrLn("the end").delay(10.seconds)` which help doesn't help for snippet in #3940

[2020-07-14 22:31] neko-kai opened #3971 "zio-macros: support higher-kinded polymorphic services"
follow up to https://github.com/zio/zio/issues/3950

It would be great if `@accessible` macro supported higher-kinded polymorphic services e.g.

[code]

[2020-07-15 05:59] YuvalItzchakov commented on #3926
@adamgfraser Can confirm this fixes the issue 🎊

[code]

[2020-07-15 07:07] ghostdogpr commented on #3926
Great news! I will release cats-interop.

[2020-07-15 07:28] ghostdogpr commented on #3926
cats-interop is released: https://github.com/zio/interop-cats/releases/tag/v2.1.4.0-RC17

Closing this issue, thanks to everyone who helped!

[2020-07-15 08:23] Fristi commented on #3971
Typically these tagless final algebras live in modules which don't have a zio dependency. Would be great if you could derive 'em like so

[code]

[2020-07-15 14:27] neko-kai commented on #3971
@Fristi yep, there's another ticket for that - https://github.com/zio/zio/issues/3261

[2020-07-15 14:50] sebver commented on #3926
@Fristi @ghostdogpr @adamgfraser I can also confirm it's fixed, thanks everyone!

I did notice a performance degradation. With the example I'm getting the following numbers after some runs:
RC21-2:
Requests per second:    837.22 [#/sec] (mean)
RC20:
Requests per second:    1426.12 [#/sec] (mean)

[2020-07-15 17:58] #3940 closed

[2020-07-16 02:32] SimY4 commented on #3942
Ran a few experiments for this proposal:

- Add CanBuildFrom to existing foreach:

[code]

Type inference doesn't help here. It works when such methods sit on the actual collection type where you can fix `From` at least. This definition here will always pick Iterable to Iterable build from unless you advise on all types.

- Add CanBuildFrom as a partially applied type argument

[code]

But that wi

[2020-07-16 09:10] #3951 closed

[2020-07-16 11:40] #3863 closed

[2020-07-17 12:56] iravid opened #3977 "CCE in FiberContext"
Looks like something we've fixed before here: https://github.com/zio/zio/pull/3079/files#diff-b53adcb54f013ee1630f875cdc6d23af

[code]

[2020-07-17 15:08] iravid opened #3979 "Bincompat setup for 1.0.0"
Before 1.0.0:
- Setup Mima - #3978

After 1.0.0 is released:
- Adjust `MimaSettings.bincompatVersionToCompare` to `1.0.0`
- Set `failOnProblem = true` for `coreJVM`

[2020-07-18 13:19] jdegoes commented on #3977
These type of errors always indicate the stack is wrong.

[2020-07-18 18:48] adrianfilip commented on #3685
I see no other comments. I am starting to work on this one.

[2020-07-18 20:06] er1c commented on #3865
I added utf32Decode/utf32BEDecode/utf32LEDecode and a "utfDecode" in https://github.com/zio/zio/pull/3980

I primarily want the "utfDecode" that doesn't require manually knowing the input BOM

[2020-07-19 10:12] adrianfilip commented on #3685
@jdegoes @adamgfraser @iravid
What behaviour do you want when someone passes a negative Duration in operators where that doesn't make sense? Let's say a negative duration is used in ZIO.sleep. Should it fail, should it use the abs(value) or should it use the zero value (meaning it won't sleep at all)?

[2020-07-19 15:58] svroonland opened #3986 "ZManaged.mapParN / zipPar parallel release strategy propagation issue"
With ZIO 1.0.0-RC21-2 (actually `1.0.0-RC21-2+37-be08a9e6-SNAPSHOT`), using `ZManaged.mapParN` propagates the parallel release strategy to both ZManaged arguments unexpectedly. The below test outputs:

[code]

while I would expect:

[code]

or some other permutation where at least `start D - end D - start C - end C` are in order.

[code]

[2020-07-20 06:04] Fristi commented on #3926
On a local branch I added a benchmark to zio for race:

[code]

I think there is the underlying problem for http4s being slower.

[2020-07-20 17:48] adamgfraser commented on #3926
@sebver Is that on your production code or the reproducer? Could you add something to the reproducer that makes it easy to see the different in throughput? That could really help us as we explore different changes to see if they actually move the needle on this.

[2020-07-20 19:08] sebver commented on #3926
This was on the reproducer. I'll try to make a more minimal example tomorrow, with easy ways of testing.

[2020-07-20 21:16] #3878 closed

[2020-07-21 11:11] gerdreiss commented on #3854
@adamgfraser I've added the Either.cond like constructor to ZIO. Could you please review, since you've approved the idea? ;)

[2020-07-21 12:51] #3977 closed

[2020-07-21 22:47] lemastero opened #3995 "[dotty][zio-test] error Type Mismatch Error env zio.test.mock.Expectation[zio.console.Console"
I experimented with ZIO and dotty. I run into issue. Following [test](https://github.com/lemastero/zio_dotty_bug/blob/master/src/test/scala/com/example/BrokenSpec.scala) (that pass without issues on Scala 2)

[code]

gives me compilation error error:

[code]

I suspect sth is not right with resolving implicit. There is a chance I am doing sth wrong :) Repository: [zio_dotty_bug](https://github.com

[2020-07-22 06:37] adrianfilip commented on #3685
I am making the (executive :D) decision to treat negative java.time durations as Duration(0).
This will also impact zio operations with Durations.
Ex. Adding 2 durations where one is negative and one is positive will result in ignoring the negative one. Basically the moment negative durations are passed to any operator they get converted to Duration(0) or are ignored. Also if any operation will re

[2020-07-22 10:41] #3913 closed

[2020-07-22 13:38] adamgfraser commented on #3995
@ioleo Could you take a look at this?

@lemastero We use some relatively advanced type level machinery in the implementation of the mocking framework and there have been some differences with Dotty we have had to work through so have a feeling this is related to that.

[2020-07-22 14:29] #3956 closed

[2020-07-22 22:23] thesamet opened #3997 "Union of Has[_] and Any"
In zio-grpc, users can define traits that take two type parameters:

[code]

Where `R` represents an environment needed by all the service methods, and `C` represents metadata that the service is expecting (value changes on each request). Both `R` and `C` should be be either a subclass of `zio.Has[_]` or `Any`.

The library provides a few operations that allow doing all sort of transformations ove

[2020-07-23 19:13] #3854 closed

[2020-07-24 19:27] TobiasPfeifer commented on #3877
I'm working on this one

[2020-07-24 20:14] darl opened #4007 "[zio-test] Control checkM behaviour via aspects"
It will be very helpful if this things could be controlled via aspects:
1. Disabling or limiting shrinking. Current default is 1000 and it cannot be controlled.
2. Running some effect before or after checkM's `test`. E.g. cleaning up db state.

[2020-07-24 20:35] TobiasPfeifer opened #4008 "ZStream tests failing when ZStream.range emits values in chunks"
#4006 makes ZStream.range emit values in chunks. This breaks 2 tests in ZStream:
[code]

Both tests succeed when `ZStream.range(min, max)` is replaced by `ZStream.range(min, max).chunkN(1)`

Can someone investigate why these only succeed with singleton chunks?

[2020-07-27 08:16] sebver commented on #3926
So I mentioned this to Adam earlier, but seems good to mention it here as well.

After some more performance testing on the reproduction I felt like the difference wasn't as big and consistent as I originally thought it was. Meanwhile I've put the latest version in production in our real world application, and I'm not seeing any performance issues whatsoever. So, although there _may_ be somewhat o

[2020-07-27 08:42] ghostdogpr commented on #3926
It is just circumstantial evidence but I am also working on load testing at work and I haven't seen any degradation either.

[2020-07-27 16:56] tusharmath opened #4010 "Feature Request: `takeUntilM` in ZStream"
Add `takeUntilM` in ZStream.

[2020-07-27 17:20] adamgfraser commented on #4010
I am working on this.

[2020-07-27 19:04] lemastero commented on #4007
I am using zio-test and I ❤️  it. I would like to support it - by contributing.

[2020-07-27 19:09] adamgfraser commented on #4007
This would be great. There is a related issue in #2851. We already have `Sized` in the environment to allow configuring the size of generated values but would be great to expand this to something like `TestConfig` that includes additional parameters like number of times to run property based tests, whether to shrink, how many times to shrink, etc... Then those could also be modified using test asp

[2020-07-27 19:44] lemastero commented on #4007
Thank you @adamgfraser for letting me know. There is good chance problem 1 will be solved by #2851 I will wait for this.

Problem 2 could be explored.
Making a common setup for every test in a suite sounds like nice thing to have - set up DB before all tests, clean table contents after every test. Similar to: `beforeAll`, `afterAll`. `before`, `after` from ScalaTest JUnit.

Possibly

[code]

could

[2020-07-27 19:45] jaliss opened #4012 "Add equalWith combinator to Cause"
Adding an equalWith combinator on Cause will allow us to properly implement an `Equal` instance on Prelude.

[2020-07-27 19:45] jaliss commented on #4012
I'll work on this.

[2020-07-27 19:46] adamgfraser commented on #4007
@lemastero For the before and after functionality take a look at the existing `before` and `after` test aspects. `provideLayer` with a layer that includes the before or after actions can also be used.

[2020-07-27 20:04] adamgfraser commented on #4012
Great! There is a decent amount of logic in `Cause` to make sure the different laws about how causes are supposed to be equivalent hold (e.g. `Cause.Both(a, b) <-> Cause.both(b, a)`). I think what you are going to want to do is parameterize all those on an equality function and rename them `equalsWith` instead of `equals`, and then the default `equals` method can just call that with default equali

[2020-07-27 21:04] adamgfraser commented on #3965
@szymonrodziewicz Can you check this on the latest snapshot? We believe we have resolved these issues but if you are still having issues would be good to know so we can investigate further.

[2020-07-27 21:12] adamgfraser commented on #3943
Looks like #3976 fixes this issue:

[code]

[2020-07-28 02:58] #3360 closed

[2020-07-28 03:51] #3997 closed

[2020-07-28 05:27] #4010 closed

[2020-07-28 13:38] lemastero commented on #3964
I can 👀  at changes and see if we improve tracing in zio, if that is OK.

[2020-07-28 14:58] neko-kai commented on #3964
@lemastero Definitely OK 👍

[2020-07-28 15:30] darl commented on #4007
@lemastero will you work on this?

[2020-07-29 06:41] vsuharnikov opened #4020 "@accessible and a default implementation lead to a compilation error"
## How to reproduce

[code]

The compilation of this code outcomes with an error:
[code]

## Debugging

<details>
  <summary>Full -Ymacro-debug-like output</summary>

[code]

</details>

I think, the most interesting part is:
[code]
If I compile the code without a default implementation I get this output:
[code]

[2020-07-29 06:44] adamgfraser commented on #4007
I can also work on this once 1.0 is released.

[2020-07-29 13:52] aartigao commented on #4020
For the record, the same happened to me with Scala 2.12 and macro paradise.

[2020-07-29 16:27] adamgfraser commented on #4020
@ioleo Could you take a look at this when you get the chance?

[2020-07-30 11:24] Fristi opened #4024 "OOM with RC21-2 with cats-interop 2.1.3.0-RC15 after upgrading from RC20"
We've been developing with a stack composed of zio, interop-cats, cats-effect, fs2 and fs2-kafka for a while.

Recently we've tried upgrading to RC21, but our applications started to consume more memory and eventually crashed due to an OOM.

Me and @sebver worked on a reproduction case which can be found here: github.com/Fristi/zio-memory-issue/

The program runs fine for about 10 minutes and afte

[2020-07-30 14:49] leonbur opened #4025 "ZLayer can't update dependent layers"
I've noticed that when I have two layers such as `ULayer[Config]` and `RLayer[Config, MyService]` I can't update the `Config` layer and by that recreate the `MyService` layer.

even if I do something like:
[code]

here's an example to paste in a REPL (sorry if it's verbose):
[code]
I would expect the output to be:
[code]
but instead I get:
[code]

[2020-07-30 16:50] adamgfraser commented on #4025
@leonbur The issue is that layers are memoized. So in your example the `dependee` layer is constructed in `val dependOnBase = l1 >+> dependee` and constructs a layer that returns 1.5. When you then call `val dependOnUpdated = (dependOnBase ++ l2) >+> dependee`, the previously computed value of the layer is returned. You can get the behavior you want using the `fresh` combinator, which indicates yo

[2020-07-30 19:43] leonbur commented on #4025
@adamgfraser I'm confused why then isn't `l1` in `dependOnBase` memoized as well? since `>+>` does a `++` behind the scenes shouldn't it perform an update on dependee?

[2020-07-30 20:16] adrianfilip commented on #3685
Made a PR for this: https://github.com/zio/zio/pull/4026

[2020-07-30 21:09] adamgfraser commented on #4025
I don’t think `l1` is referred to a second time in any of your four programs.

In `dependOnUpdated` you’re saying you ultimately want to return the result of the `dependee` layer, which way already created. Whether we use `++` or `>>>` if a layer has already been constructed we’re just going to return the previously constructed layer if we refer to it again instead of reconstructing it unless we u

[2020-07-31 06:25] leonbur commented on #4025
`dependOnBase` is `MyInt with MyDouble`. (l1 and dependee)
in `dependOnUpdated` the clause `(dependOnBase ++ l2)` updates the `MyInt` value of `l1` to `l2` so I do in fact refer to `l1`, no?

[2020-07-31 13:46] mmuschalik opened #4028 "Add ZSink.take(Int)"
Hi guys,

Is there a function on ZStream[R,E,O] such as:

`  def runTake(n: Int): ZIO[R,E,(Chunk[O], ZStream[R,E,O])] `

Not sure I got it all right, but looking for a function that will return an effect that can collect n items and return the remainder stream.
I can also think of a number of other functions that could operate similarly, such as using runTakeUntil, runfoldUntil etc.

For example I

[2020-07-31 15:02] iravid commented on #4028
Hi @mmuschalik, we have `ZStream#peel` for the times when you'd like to consume a prefix of the stream (and keep the rest inside the stream).

What we're missing is a sink that reads N elements; then you'd be able to do `stream.peel(ZSink.take(10))`. I'll change the title of the issue to reflect that.

Let me know if you'd like to try adding that sink!

[2020-07-31 20:13] iravid commented on #3986
Thanks @svroonland, definitely a bug there. Will work on a fix for that.

[2020-07-31 20:15] iravid commented on #3880
Resolved in #3901.

[2020-07-31 20:15] #3880 closed

[2020-07-31 21:05] adamgfraser commented on #4025
If I substitute the definition of `dependOnBase` into `dependOnUpdated` I get:

[code]

So it looks like `l1` only appears a single time if I'm not mistaken.

[2020-07-31 22:10] #3723 closed

[2020-07-31 23:44] renancaju opened #4032 "Possible bug with NonEmptyChunk's `++`"
This code

[code]

Produces the following result:

[code]

However I would expect the two result lines to be similar (disregarding the randomness of `UUID.randomUUID`)

Converting to vector before performing concatenation produces the expected result (as @reibitto pointed out on Discord)

[2020-07-31 23:52] adamgfraser commented on #4032
@renancaju Thanks for reporting! I will take a look and get back to you.

[2020-07-31 23:53] mmuschalik commented on #4028
I had a look at the PR, which looks good to me at a glance. Boy you guys are quick, thanks heaps! So with this approach you use the sink to pull out items and to continue on pulling from the remainder stream, you effectively reuse the original stream, which will be positioned correctly. Is that how it should be used?

[2020-08-01 12:45] #4025 closed

[2020-08-02 04:16] ghostdogpr commented on #4024
So I did a few tests and found out the problem doesn't happen with RC21-2 and interop-cats RC16. It seems to be caused by interop-cats RC17, where the only related changed was https://github.com/zio/interop-cats/pull/205.

[2020-08-02 09:50] adamgfraser commented on #2143
Resolved by #3754.

[2020-08-02 09:50] #2143 closed

[2020-08-02 09:53] #3447 closed

[2020-08-02 13:02] googley42 opened #4039 "AggregateAsyncWithin does not fail fast - it goes to next element before failing"
Hi I have a question RE ZStream's `AggregateAsyncWithin` combinator.
[code]
In the above i would not expect to see `processed 7` after failure processing element 6 - ie I would expect fail fast behaviour. Is this expected behaviour?
Version of ZIO used is ` 1.0.0-RC21-2+37-be08a9e6-SNAPSHOT`

[2020-08-02 19:52] #2781 closed

[2020-08-02 19:52] #3369 closed

[2020-08-02 19:52] #3942 closed

[2020-08-02 19:52] #4032 closed

[2020-08-03 02:05] jdegoes opened #4043 "Add some Schedule constructors for cron-like functionality"
These should utilize java.time where possible:

 - [ ] `Schedule.minuteOfHour(...)`
 - [ ] `Schedule.hourOfDay(...)`
 - [ ] `Schedule.dayOfWeek(....)`
 - [ ] `Schedule.dayOfMonth(...)`

[2020-08-03 02:06] jdegoes opened #4044 "Turn all `trait` into `abstract class`"
I think this will universally improve ease of binary backward compatibility, particularly for 2.11.

[2020-08-03 02:09] adamgfraser commented on #4044
On it.

[2020-08-03 02:45] #3986 closed

[2020-08-03 04:48] #4044 closed

[2020-08-03 12:50] #3685 closed

[2020-08-03 14:52] Fristi commented on #4024
Together been digging with @ghostdogpr to find out what the issue. The issue seems to be introduced since the change of `race`.

 We are not sure what it is, but it seems the `LinkedMap[Id, A => Unit]` is growing in a specific case used in cats-effect `Deferred.get` as seen here https://github.com/typelevel/cats-effect/blob/2bb878fd3ca0255ec6d035280339f2238b8578b1/core/shared/src/main/scala/cats/e

[2020-08-03 15:12] #3139 closed

[2020-08-03 16:20] #4028 closed

[2020-08-04 08:28] ghostdogpr commented on #4024
Found a fix and opened a PR: https://github.com/zio/interop-cats/pull/212

[2020-08-04 08:50] manusgallagher opened #4050 "Version 1.0.0 requires Clock dependency for basic retry"
Since updating from `1.0.0-RC21-2` to `1.0.0` my code is failing to compile due to a dependency requirement on `Clock` for a simple `recurs` retry.

This is the retry code here: `.retry(Schedule.recurs(5))`

Seems similar to https://github.com/zio/zio/issues/1494

[2020-08-04 08:53] adamgfraser commented on #4050
@manusgallagher For simple use cases like this you can you `ZIO#retryN`, `ZIO#retryUntil`, and `ZIO#retryWhile`. Schedule is designed for more complex use cases involving scheduling effects to occur at specified durations or points in time.

[2020-08-04 09:05] #4024 closed

[2020-08-04 09:08] manusgallagher commented on #4050
@adamgfraser thanks. I can't find `ZIO#retryN`.

[2020-08-04 09:12] adamgfraser commented on #4050
@manusgallagher See [here](https://javadoc.io/doc/dev.zio/zio_2.12/latest/zio/ZIO.html#retryN(n:Int)(implicitev:zio.CanFail[E]):zio.ZIO[R,E,A]).

[2020-08-04 09:29] manusgallagher commented on #4050
@adamgfraser Thanks! Sorted now.

[2020-08-04 09:29] #4050 closed

[2020-08-04 09:53] tuleism opened #4052 "Schedule.windowed repeating too fast"
[code]

prints out

[code]

[2020-08-04 12:23] jdegoes opened #4055 "Make TestClock awaitSuspended more robust"

[2020-08-04 14:45] #4052 closed

[2020-08-04 20:36] adrianfilip commented on #4043
I am taking this one.

[2020-08-06 07:27] msvaljek commented on #3962
@mijicd sorry I won't manage to do this one, the issue is free for the taking again.

[2020-08-06 12:34] jdegoes commented on #4043
@adrianfilip 🙏

[2020-08-06 14:19] tusharmath opened #4058 "ZIO Mock Error"
**Description**

Composition with `atleast(n)`  doesn't work correctly

**Sample Code**

[code]

[2020-08-06 14:22] adamgfraser commented on #4058
@tusharmath Thank you for reporting!

@ioleo Could you take a look at this when you get the chance?

[2020-08-06 15:59] mghildiy commented on #3962
I am a Java programmer, and have basic understanding of Scala. Can I take it?

[2020-08-06 16:00] mghildiy commented on #3962
Also, is there a resource where I can read about ZIO. It may help me to work on beginner issues.

[2020-08-06 17:16] mijicd commented on #3962
@mghildiy yes, feel free to. Reach out to me if you need any help. Regarding introductory materials, there are plenty references on our github page, but I would say these two will bring you up to speed in this particular ticket:

- https://youtu.be/TWdC7DhvD8M
- https://youtu.be/OiuKbpMOKsc

[2020-08-07 04:44] runtologist opened #4061 "Flaky ZStreamSpec#haltAfter and #groupedWithin tests"
After an unrelated change I've seen the following test failures while running https://app.circleci.com/pipelines/github/zio/zio/8612/workflows/acf93a13-ae5a-4621-92eb-66591b417338/jobs/86956 .

[code]

[2020-08-07 06:15] fsarradin opened #4062 "[Streams] grouped on ZStream#fromIterator produces chunks with unexpected size"
Hi,

I have an unexpected change in the behavior of `#grouped` on `ZStream#fromIterator` in ZIO 1.0.0. The size of the chunks is not equal from one chunk to another.

Here is the code that reproduces the issue:

[code]

This produces lines below (first line is from `#fromIterable`, the others are from`#fromIterator` with different group sizes):

[code]

Possible workaround: using `#chunkN` with th

[2020-08-07 06:58] tuleism commented on #4062
Should be fixed by #4060

[2020-08-07 07:46] mindartur opened #4063 "ZIO.Schedule StackOverflowError after upgrading to 1.0.0"
After upgrading to ZIO 1.0.0 following error started to appear:

[code]

No more info is presented :( Inside our code we only use `Schedule.forever` and `Schedule.recurs()`

[2020-08-07 09:05] mindartur commented on #4063
Seems that increasing stack size helps :D

Will be watching and report if see this again

[2020-08-07 11:30] mindartur commented on #4063
Still happens with increase stack, but more rarely

[2020-08-07 12:41] mindartur commented on #4063
[code]
Some nasty test, with `-Xss1m` fails almost instantly, with `-Xss10m` fails in ~5 minutes with `StackOverflowError`.

My guess is that this function is not tail recursive: https://github.com/zio/zio/blob/41041307885a40d86a739575b8603e065cce4a14/core/shared/src/main/scala/zio/Schedule.scala#L1040

[2020-08-07 13:17] lemastero commented on #3964
I don't mind if sb will work on it in parallel. (CE internals are not easy to understand, I am experimenting with zio-zmx as it seems relevant in here).

[2020-08-07 16:06] tuleism opened #4065 "Chunk append/preprend Stack Overflow"
### Test: concat/append/prepend 1000000 elements

The concat test is copied from #3754. The rest are based on it.

[code]

### Scala Version 2.12 - passed for `concat` and `append`.

Error for `prepend`:

[code]

### Scala Version 2.13.1 - passed for `concat`.

For append:

[code]

For preprend:

[code]

[2020-08-07 16:09] tuleism commented on #4063
Attempt to fix at #4064

[2020-08-07 16:30] adrianfilip commented on #4043
PR open: https://github.com/zio/zio/pull/4066

[2020-08-07 16:40] mghildiy commented on #3962
Cloned the repo and found abstract class ZStream. So for this ticket I need to understand this class and modify it.
Jut confirming it here.

[2020-08-07 17:28] mijicd commented on #3962
@mghildiy that's correct. Check out the BufferedPull and reolsce duplicated code with appropriate method calls.

[2020-08-07 22:23] politrons opened #4068 "Queue not working form Scalaz to dev.ZIO"
Hi all, I recently migrate my project form Scalaz 0.19 to dev.ZIO 1.0 and all the migration has been smooth so far. The only issue that I found and my code stop working is the Queue system that I create with Scalaz Queue which now with ZIO queue I dont manage to make it work. Here the code base

I just create a simple example that I'm also unable to make it works

[code]

**UPDATE** I manage to ma

[2020-08-07 23:40] ghostdogpr commented on #4068
Ah, you already found the solution, I was gonna suggest `forkDaemon` 😄

When you use regular `fork`, the fiber will be terminated when the parent is terminated (which happens immediately in your example). Using `forkDaemon` you make the fiber independent from its parent so it'll continue even when the parent completes.

[2020-08-08 06:22] iravid commented on #4062
Works correctly after #4060. Thanks @tuleism!

[2020-08-08 06:22] #4062 closed

[2020-08-08 12:08] ElaadF commented on #3614
Hi ! I would like to try, i may need help to build the website locally :
I run `sbt docs/docusaurusCreateSite` but there is no CSS

[2020-08-08 16:14] softinio commented on #3614
@ElaadF Thanks for helping with this issue.

From the project root do:

1. `sbt docs/docusaurusCreateSite`
2. `cd website`
3. `yarn install`
4. `yarn start`

Once you do the last step it should open up the home page automatically in your web browser.

[2020-08-09 02:58] joprice commented on #3449
Should that fix be in the latest release? I just tried this on 1.0.0 and got the same error.

[2020-08-09 05:32] iravid commented on #3449
Sorry @joprice, this was not fixed yet.

[2020-08-09 17:58] softinio opened #4073 "Snapshot releases broken"
When we merge to master a new snapshot release should be published on Maven.

Issues details:

- Every release step in circleci succeeds, but is tagged as RC21
- Code is not latest in master as verified by @jczuchnowski , see https://discordapp.com/channels/629491597070827530/683812460515426305/742068267828510813

[code]

Wondering if related to: https://github.com/olafurpg/sbt-ci-release/issues/1

[2020-08-09 20:47] softinio commented on #4073
Seems fixed for now so closing. Will re-open if issue comes back.

[2020-08-09 20:47] #4073 closed

[2020-08-10 07:39] politrons opened #4076 "Side-effect in fromOption operator"
Hi all, congratulation for the 1.0 release, we have been waiting a lot for this oficial release.

We just start the migration from scalaz to dev.ZIO and one of the non retro compatible change that we detect, is in the operator ZIO.fromOption where in the scalaz version the IO type that was generated was

`IO[Unit, IndividualInfo]`

Whole program

[code]

And now is

`IO[Option[Unit], IndividualInf

[2020-08-10 10:37] adamgfraser commented on #4076
@politrons Thanks! `fromOption` actually returns a `IO[Option[Nothing], A]`. We made the change to make `fromOption` work better with use cases where the error channel is used with `Option[E]` to express an optional value and push the possibility of the value not existing into the error channel. The two types are isomorphic since they both have exactly one inhabitant. But the type inference is bet

[2020-08-10 11:12] politrons commented on #4076
@adamgfraser Thanks for the answer.

But the logic side effect of Option is Unit, like the Try is failure or the Either is Left.

Let's said I have Option[String] = None

If I transform that option into ZIO the side effect it must be None, which eventually is pretty much the same than Unit. Why do I need an Option[Unit].

The question is, how can you use the error channel with more than Unit/None

[2020-08-10 14:44] adamgfraser commented on #4076
Sure! So let's say I have a couple of effects that represent queries where the query can either return a value from the database, an indication that the value didn't exist in the database, or an error. We can model this using the type `ZIO[R, Option[E], A]`:

[code]

This allows use to use ZIO to work with the values while pushing both the possibilities of failure and and the value not existing in

[2020-08-10 15:23] politrons commented on #4076
Thanks for the great explanation, so then basically if I understand is because you want to use least upper bound of types in the error channel when you compose, and the only way to perform that is if we force that all types in IO error channel are Options?

Regards.

[2020-08-11 17:20] adamgfraser commented on #4076
Yes, if we want to compose an effect with other effects that have `Option[E]` for the error type we want the type we return to unify with that. There is a judgment call that that when people are using `fromOption` that they will be working with optional values that they represent with `Option[E]` in the error channel so this will be helpful. That seems to be true on net, but not always the case as

[2020-08-11 18:31] jsfwa opened #4081 "Ref.set does not respect `when` conditions"
_zioVersion = 1.0.0_

Hello guys, simple issue:

[code]

[2020-08-11 18:39] joprice commented on #4081
Looks like `set`'s parameter is call by value https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/ZRef.scala#L77

You could use the `when` on the companion object of ZIO https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/ZIO.scala#L3751, but doesn't have the nice syntax.

[2020-08-12 01:42] taeguk opened #4083 "`ZIO.foreach` can't be used for `Map[K, +V]`"
`ZIO.foreach` was changed in #4037 below:
[code]

But, it can't be used for `Map[K, +V]` because the number of type parameters is two.

[2020-08-12 04:18] joroKr21 commented on #4083
You can upcast `map: Iterable[(K, V)]`

[2020-08-12 07:07] fsarradin commented on #4062
Thanks for that fix :)

[2020-08-12 15:34] Nekdo opened #4085 "ZLayer.succeed() is not referentially transparent"
Replacing this code:
[code]
by this code:
[code]

Changes behaviour of a program.

It seems, that the deduplication of services constructed by `ZLayer`s is not done based on the `zio.Tag`s (as I would expect), but based on the instances of the ZLayer objects.

This was tested on `1.0.0`

[2020-08-12 15:35] Nekdo commented on #4085
Full test case here:
[code]

[2020-08-12 16:58] adamgfraser commented on #4085
Hi @Nekdo. This is actually an intentional design decision. See discussion [here](https://github.com/zio/zio/pull/2775#issuecomment-583364278).

We can't use the tags to determine whether two layers are the same because layers may produce values that don't have tags at all. In addition, you could have two different layers that return a type with the some tag (e.g. one layer produces a value of a t

[2020-08-12 16:59] adamgfraser commented on #4083
Yes, I spent some time playing with this. Unfortunately I don't think we can further overload `foreach` but we could potentially add another variant for this, maybe `foreachMap`? I will work on this.

[2020-08-12 17:08] adamgfraser commented on #4081
Yes. `Ref.set` expects an existing value, not an expression to compute a value that may be evaluated later and I don't think there is a way to change that which preserves binary compatibility.

[2020-08-12 17:10] adamgfraser commented on #4065
@tuleism Thanks for reporting! Will look into this.

[2020-08-12 17:18] joroKr21 commented on #4083
Would `foreachMap` expect you to return a tuple?

[2020-08-12 17:24] adamgfraser commented on #4083
Good question. I think conceptually we want a method that take a map and returns a map. I think there are potentially at least three ways to implement it:

1. Function from keys and values to new keys and new values. This is the most general. Some concern here that you could create new keys that collide. Also just requires you to return a tuple every time.
2. Function from keys and values to new v

[2020-08-12 17:38] joroKr21 commented on #4083
I think that's reasonable since you can always forward the original key.

[2020-08-12 19:25] jsfwa commented on #4081
Yeah, but it was just a tricky case for us to catch in more complex circumstance. Especially after `idea` suggested to use `when` in such way.
<img width="457" alt="image" src="https://user-images.githubusercontent.com/7480075/90057529-2e453680-dce9-11ea-8651-e72b9d5bcdb6.png">
Anyway, if we are not allowed to change it to call-by-name, I think we can close this issue. Thanks everyone.

[2020-08-12 20:02] ritschwumm commented on #4081
since list.last is unsafe, i'd avoid it alltogether and refactor the abovr to sth like `list.lastOption.traverse(r.set)` anyway...

[2020-08-12 21:39] #4076 closed

[2020-08-12 22:18] adamgfraser commented on #4081
@jsfwa No problem. Thanks for raising! Definitely something to think about.

[2020-08-12 22:18] #4081 closed

[2020-08-13 07:18] alexknvl commented on #4085
@Nekdo It looks like your example doesn't show that the code is referentially non-transparent. You are comparing by *reference*, so by the same logic adding two `BigInt`s or doing `x :: xs` twice in a row is referentially non-transparent.

[2020-08-13 10:04] Nekdo commented on #4085
@adamgfraser Thanks for the link to the discussion. After more thinking, I see why the deduplication is done like this.

After more experimenting with this, it seems, that the deduplication is done in terms of the `==` method on the layers.
However, it is complicated to to tell, when two layers are equal and when not.
E.g.:

    val managed = ZManaged.succeed(new BaseService)
    val managedServic

[2020-08-13 10:31] Nekdo opened #4090 "ZLayer.fresh can get de-duplicated"
zioVersion = 1.0.0

Calling `.fresh` on a ZLayer does not guarantee, that the layer will not be de-duplicated.
The "fresh" layer seems to be de-duplicated with other "fresh" layers (created from the same underlying layer).

This behavior seems very confusing to me.

Test case:
[code]

Removing one of the `.fresh` calls fixes the test.

[2020-08-13 10:37] joroKr21 commented on #4085
@alexknvl with `val x` this prints once, with `def x` twice 👇
[code]

[2020-08-13 11:04] #4083 closed

[2020-08-13 13:14] #4065 closed

[2020-08-13 13:21] alexknvl commented on #4085
👍 @joroKr21 that strikes me as very unsatisfactory.

[2020-08-13 15:01] PhillHenry opened #4092 "Failure of ZIO tests ignored in Maven if using maven-surefire-plugin"
I have a code base that mixes ZIO and plain Scala code. Because of this, my pom.xml had both _maven-surefire-plugin_ and _scalatest-maven-plugin_.

I noticed there was a failing ZIO test but although Maven reported it as failing it did not abort the build.

Workaround:
1. Use just _scalatest-maven-plugin_ and remove _maven-surefire-plugin_ from your POM.
2. be sure to annotate your ZIO tests with

[2020-08-13 18:35] adamgfraser commented on #4092
@PhillHenry Thanks for reporting!

@dkarlinsky Would you be interested in taking a look at this one?

[2020-08-13 18:36] dkarlinsky commented on #4092
@adamgfraser sure I'll take a look

[2020-08-13 19:09] adamgfraser commented on #4092
@dkarlinsky Awesome!

[2020-08-13 20:17] adamgfraser commented on #4090
@Nekdo Thanks for reporting! This is definitely a bug. Just pushed a fix for it.

[2020-08-13 20:18] adamgfraser commented on #4068
@politrons Did you get this working? Can we close this? Definitely feel free to reach out here or on Discord if you have any other issues migrating!

[2020-08-13 21:04] politrons commented on #4068
Sure sorry I forgot to close the issue.

Regards

[2020-08-13 21:04] #4068 closed

[2020-08-14 05:35] BananaPlantain opened #4096 "Unable to build project on Windows"
I was able to determine the commit that introduces this issue

50be11e5abf592bb79129cf98d15895ac917c0e3

this issue is masked by another issue on this commit but can be unmasked by cherry-picking this commit

bb2ded5ffefb0bc3e7ef441e90d69c10e8882d49

Log of build errors from master.

[scratch_1.txt](https://github.com/zio/zio/files/5072743/scratch_1.txt)

[2020-08-14 06:05] adamgfraser commented on #4096
@BananaPlantain Thanks for the detailed analysis! Would you be interested in trying your hand at a fix?

[2020-08-14 07:58] mindartur commented on #4063
seems to be fixed in latest snapshot! thanks!

[2020-08-14 07:58] #4063 closed

[2020-08-14 11:58] #4090 closed

[2020-08-14 22:49] BananaPlantain commented on #4096
I can look but build issues are not my strong suite.

[2020-08-15 11:58] dkarlinsky commented on #4092
I did some debugging of zio-test-junit under surefire and it seems the issue is in the way surefire communicates events between the forked JVM actually running tests back to the maven JVM surefire itself is running in.
The forked JVM where JUnit is running, prints JUnit events (such as "Test Failed") to stdout in surefire's special encoding. The problem is that this encoding doesn't deal well with

[2020-08-15 23:06] #2851 closed

[2020-08-15 23:06] #4007 closed

[2020-08-16 07:18] vsuharnikov opened #4099 "@accessible can't handle a type alias in a return type"
## How to reproduce

[code]

The result:
[code]

If I replace:
[code]
by:
[code]
I get:
[code]

[2020-08-16 08:36] svroonland opened #4100 "`scheduleA or-operator (||)"

[2020-08-16 08:43] svroonland opened #4101 "scheduleA || scheduleB completes unexpectedly when scheduleA is done"
Given
[code]

In RC21-2 this would create a schedule that continued at intervals of 1 seconds whenever the input was `false`. But in ZIO 1.0 the schedule stops as soon as an input of `false` is seen.

The definition of this behavior seems to be in `Schedule#combineWith` which translates the `Done` of either side to a `Done` of the combined Schedule.

See also https://scastie.scala-lang.org/pV3odrT

[2020-08-16 08:44] svroonland commented on #4100
Sorry, accident

[2020-08-16 08:44] #4100 closed

[2020-08-16 12:30] heaven-born opened #4102 "ZManaged inside ZStream release resources too early in parallel mode (mapMPar)"
There is a suspicions behaviour of ZStream combined with ZManaged.

    val runtime = zio.Runtime.default
    val foo = Managed.make(console.putStrLn("capturing foo") *> ZIO("foo"))(_ => console.putStrLn("released foo"))
    val bar = Managed.make(console.putStrLn("capturing bar") *> ZIO("bar"))(_ => console.putStrLn("released bar"))

    val k = ZStream(foo) ++ ZStream(bar)
    val r = k.flatMap(

[2020-08-16 12:55] markosski opened #4103 "When interrupted, managed resource closes before other dependent resources are closed."
Goal: Concurrently execute long running resourceful effects that depend on some main resourceful effect.
Problem: When program is terminated (e.g. Ctrl+C) main resource is closed before inner resources are closed.

[code]

Note dependent effects are executing in parallel `ZIO.foreachPar(List(inner("1"), inner("2")))(identity)` when using single effect or non Par version, program executes properly

[2020-08-16 18:57] iravid commented on #4102
If you'd like to maintain a resource for the lifetime of a stream, the stream that uses the resource has to be enclosed in the scope of a flatMap on the stream producing the resource.

In your example, the only way this could work is by writing:
[code]

So although surprising, this is not a bug. The behavior that occurs in your example is:
1. `foo` is pulled from `k`
2. `foo` is transformed to a s

[2020-08-17 03:07] heaven-born commented on #4102
Now I see. But wouldn't be more logical to delegate resource maintaining responsibility to the new enclosing stream on flatMap?

And one more strange behaviour in my example: mapMPar is not actually doing any parallelization. "foo" is always processed before "bar" even if  to slow down "foo" using ZIO.sleep .

[2020-08-17 13:01] reibitto commented on #4101
I also ran into what I believe is the same issue. I was relying on `||` to "return a new schedule that continues as long as either schedule continues" (prior to 1.0.0), but `||` doesn't seem to do that anymore if only one side decides to continue. I don't know if this was an intended change or not.

[2020-08-17 16:12] heaven-born commented on #4102
The more I think about it, the more I find that current implementation is more natural. The merging method that I mentioned may help in some cases I guess, but I can't find good practical application to it.

[2020-08-17 19:18] heaven-born commented on #4102
Closing this issue as "not a bug". If I find that the second problem mentioned in this ticket is a bug, I will open new ticket.

[2020-08-17 19:18] #4102 closed

[2020-08-18 16:44] jportway opened #4108 "Stream broadcast doesn't seem to cope with termination of some downstream streams"
I have a stream that i broadcast to two streams. One of these subsequent streams maps over the entire incoming stream, the other one just takes the first element of the incoming stream, and then should (presumably) terminate.
The problem is that the "broadcast" can't cope with one of the downstream streams terminating while the other is still listening  it seems to still be buffering elements wait

[2020-08-18 16:47] jportway commented on #4108
In the code about I used "runHead", but I've also tried using take (1) on the "headStream" with the same effect

[2020-08-19 07:53] eugengarkusha opened #4110 "ArithmeticException: / by zero when using Schedule.fixed with Duration.Zero"
Reproducible with the following snippet:

[code]

The bug is on the surface : Schedule.scala:922
[code]

Fix suggestion:  Return `Schedule.count` if interval duration is zero.

[2020-08-19 13:32] adamgfraser commented on #4110
@eugengarkusha Thanks for reporting! Just pushed a fix for this.

[2020-08-19 13:53] BardurArantsson opened #4112 "Chunk: Stack overflow on 'degenerate' chunks"
(Apologies if this is already known, I couldn't find any reports.)

The following example fails with a StackOverflow exception:

[code]

Just prints

[code]

Obviously, the code is kind of pathological, but presumably it should work?

[2020-08-19 13:58] adamgfraser commented on #4112
@BardurArantsson This was resolved by #4088. Can you try on the latest snapshot? Otherwise it will be available in the next release which should be coming out shortly.

[2020-08-19 13:59] BardurArantsson commented on #4112
Oh, apologies, I missed that report in my search.

Are snapshots published as maven artifacts somewhere?

[2020-08-19 14:01] adamgfraser commented on #4112
No worries at all!. Yes. There is a link to them in the badges at the top of the read me on the Github repository.

[2020-08-19 14:29] BardurArantsson commented on #4112
Yup, after fiddling a bit getting the snapshots to resolve, it works!

[2020-08-19 15:00] BardurArantsson commented on #4112
I'm afraid I may have spoken too soon -- when working further my I discovered what I think may another similar problem.

Here's a reproducer that still fails on the snapshot (1.0.0+29-7f6dc1a0-SNAPSHOT):

[code]

(forgot to mention, but the UByte type is from Spire, but I don't imagine it's essential in any way.)

[2020-08-19 16:23] adamgfraser commented on #4112
@BardurArantsson Thanks! Just submitted a fix for this.

[2020-08-19 17:43] #4101 closed

[2020-08-19 17:44] #4110 closed

[2020-08-19 18:28] #4112 closed

[2020-08-20 01:57] ghostdogpr opened #4116 "Auto-supervision doesn't wait for nested fibers"
Consider the following snippet:
[code]
Despite entering the uninterruptible region (which is ensured by using the latch), when we interrupt the fiber it stops immediately without waiting. If you remove one of the `.fork`, it waits 10 seconds as expected. It seems isn't waiting on the interruption of the child fiber for the interruption of the parent to return.

[2020-08-20 06:35] iravid commented on #4108
@jportway Thanks for opening! The problem here is that you are consuming `fullStream` in its entirety before moving on to consume `headStream`. For `broadcast`, you must either consume the elements from all streams or shutdown one of the streams (which would cause the underlying queue buffering the elements for that particular stream to shutdown).

So this should work for you:

[code]

[2020-08-20 13:37] tusharmath opened #4117 "`unsafeExecute` evaluates on the current thread pool"
Currently, there is an undocumented behavior around `unsafeExecute` where typically when you call it inside your program it would always evaluate the given ZIO instance on the current thread unless an async boundary is reached.

[code]
In the above example using `threadName` actually prints "my-thread" when in fact it should have printed something that's prefixed with "zio-async-thread...". The co

[2020-08-20 14:09] vigoo opened #4118 "ZStream.interruptWhen sometimes does not emit the failure from the promise"
In the following example:

[code]
sometimes the stream interrupts without failure (but finishing before going through all the elements), in other cases it fails with the failure from the promise as expected.

I was able to reproduce both behaviors by changing the chunk size.

[2020-08-20 14:14] vigoo opened #4119 "ZStream.interruptWhen could do an initial poll on the promise"
The first chunk of elements gets processed even if the promise passed to `interruptWhen` is already completed when constructing the stream. A possible improvement would be to do an initial poll on the promise to avoid this.

[2020-08-20 14:15] adamgfraser commented on #4117
@tusharmath Thanks for reporting! Just submitted a PR for this.

[2020-08-20 14:18] tusharmath commented on #4117
Woah! I might have taken longer just to document the issue :D

[2020-08-22 14:32] Nekdo opened #4126 "ZLayer constructed with `>+>` takes exponential time to build"
zio 1.0.1

When a layer is defined like `l1 >+> l2 >+> ...` the time to build the resulting layer seems to be exponential to the number of layers chained together.
Having 25 layers chained causes the build time to be in seconds (see the following test case).

It would be nice, if the time is linear to the number of layers.
Or at least have some warning in the scaladoc.

When I hit this issue, one

[2020-08-22 22:25] ciuncan opened #4127 "Typo in name zio.test.mock.internal.UnexpectedCallExpection"
The class name `UnexpectedCallExpection` has a typo in it, which should have been `UnexpectedCallException` (because it is subclass of `MockException`).

[2020-08-23 13:45] #4127 closed, assigned to nobody

[2020-08-24 17:17] adamgfraser commented on #4126
@Nekdo Thanks for reporting! Will spend some time thinking about this.

[2020-08-25 11:31] ciuncan opened #4130 "Report source of discrepancy when when an expectation (created with `@mockable`) is not met in ZIO tests"
`@mockable` macro annotation will generate capabilities for a given service so that we can write expected interactions of mocked services. When an unexpected interaction is met, the test runner reports the discrepancy.

But when the test fails for such reason, it would be nice to find:
- the source of that unexpected interaction (as expectation written in tests),
- the line in system-under-test (l

[2020-08-25 12:10] #4117 closed

[2020-08-27 08:58] ollyw opened #4135 "Memory leak when racing join"
When racing a join there is a memory leak. The source of the leak seems to be that the ZIO internal FiberState.observers list keeps on growing, which could be because the .join is never being completed/interrupted successfully.

![Heap when running](https://github.com/ollyw/zio-memleak-reproducer/raw/master/leak.png)

Simple code to reproduce can be found at https://github.com/ollyw/zio-memleak-re

[2020-08-27 15:58] Adriani-Furtado opened #4136 "zipPar fiber failures not handled correctly"
When using `zipPar`, if one of the `ZIO` contains a fiber failure, said failure will be seen as an "unchecked error" even if the error has been handled.

[code]

[Reproduced issue](https://scastie.scala-lang.org/GAQgcoemTYqn3Sl3nCvlHQ)

[2020-08-28 16:16] heaven-born opened #4139 "ZStream#fixed is broken"
Following code ignores 1 sec delay:

    ZStream.fromIterable(1 to 100)
           .fixed(1.seconds)
           .foreach(e => putStrLn(s"E'$e'"))

With `schedule` it works as expected:

    ZStream.fromIterable(1 to 100)
           .schedule(Schedule.fixed(1.second))
           .foreach(e => putStrLn(s"E'$e'"))

[2020-08-28 18:10] jportway commented on #4108
@iravid Thanks for the explanation. I think I understand now.

In case it helps with documentation or something - I think my confusion stemmed from not quite realising when I was declaring the stream structure, and when I was actually executing the stream. I think I was expecting the library to manage concurrency for me.
It seems to me that this must be a very common case with "broadcast" that the

[2020-08-29 06:19] heaven-born opened #4144 "ZStream#repeat doesn't repeat a stream evenly. ZStream#schedule is probably broken either."
This code is supposed to repeat the entire stream once per 10 sec, but in fact after 10 sec it repeats the stream unpredictable number of times/delays and only after that starts working as expected :

     ZStream.fromIterable(1 to 10)
            .repeat(Schedule.fixed(10.seconds))
            .foreachChunk(e => putStrLn(s"E $e"))

It seems that `ZStream#schedule(Schedule.fixed(10.seconds))` is w

[2020-08-29 06:31] #4139 closed

[2020-08-29 06:49] iravid opened #4146 "ZManaged#foreachParN test flakiness"
[code]

[2020-08-29 06:54] #3979 closed

[2020-08-29 07:17] iravid commented on #4144
The problem appears to be in `Schedule.fixed`. Until we have a fix, you can use `Schedule.spaced` instead @heaven-born. Let me know if that works for you.

[2020-08-29 07:27] heaven-born commented on #4144
@iravid `Schedule.spaced` works for me. Thank you.

[2020-08-29 10:48] reibitto opened #4148 "Graal native-image support"
After upgrading to GraalVM 20.2.0 I noticed issues with native-image which seem to be coming from ZIO. A simple hello world like this can reproduce it:

[code]

I'm using sbt-native-packager for building the image and the settings are:

[code]

This causes the following:

[code]

If you also add the following unsafe options (generally not recommended), you can generate an executable, but running i

[2020-08-29 13:41] reibitto commented on #4148
The timing of sbt-native-image being released was good. 🙂 Apparently the issue could be due to this:
https://github.com/scala/bug/issues/11634

I'm not sure why I'm not seeing it with GraalVM 20.1.0 though.

I'll give that workaround a try and report back.

[2020-08-29 14:05] caeus opened #4150 "LayerBuilder proposal"
I've been dealing with the new way of DI using Layer and it's somewhat verbose. Specially defining dependencies as a type (i.e `Has[Service1] with Has[Service2] with Has[Service3]...`)
Thinking about a way to reduce the boilerplate of that, I thought of this:

[code]

This construction allows me to describe dependencies of a service like this:

[code]
Just an idea. I'm using it on my projects, and

[2020-08-29 14:19] #4144 closed

[2020-08-29 14:35] adamgfraser commented on #4150
@caeus Isn't this just?

[code]

In fact, since the types of the dependencies of the service are known from the definition of `Service5`, here this can be written without the type annotations as:

[code]

[2020-08-29 14:38] adamgfraser commented on #4148
Thanks for raising and for looking into this! Supporting Graal is definitely something we want to do!

[2020-08-29 14:39] adamgfraser commented on #4136
@Adriani-Furtado Thanks for reporting this! I have an open PR that should take care of it.

[2020-08-29 15:33] jeffwji opened #4151 "Can't resume interrupted Fiber from join by either function."
Follow by the example from the document of https://zio.dev/docs/datatypes/datatypes_fiber, I tried to resume the interrupted Fiber from join operation by using either, It supposed to have a Left(Failure(...)) be returned with success.

    val result: ZIO[Any with Clock, Throwable, Either[Throwable, Analysis]] = {
        for {
            fiber1   <- IO(Analysis("Good!")).delay(2.seconds).fork

[2020-08-29 15:55] adamgfraser commented on #4151
@jeffwji `either` recovers from errors, represented by the `E` type parameter in ZIO, but not defects or interruptions. If you want to recover from interruptions you need to use one of the combinators that exposes the full `Cause` of the failure of a computation such as `foldCauseM`, `catchAllCause`, or `run`.

[2020-08-29 15:56] caeus commented on #4150
How did I miss that?

[2020-08-29 16:39] adamgfraser commented on #4135
@ollyw I see it. Working on it now.

[2020-08-29 17:39] adamgfraser commented on #4135
This is an interesting problem. A slightly simpler example can be illustrated here:

[code]

`fiber` will eventually have 1,000 observers. Each time we call `race`, we create a new fiber that calls `join`, adding a new observer to `fiber`. Ideally, we might want to remove the observer each time a fiber loses the race. But we can't do that because observers are just callback functions and fibers do

[2020-08-30 05:15] #4039 closed

[2020-08-30 05:18] #3490 closed

[2020-08-30 15:02] ogresto commented on #3841
'This job has been blocked because resource-class:large is not available on your plan. Please upgrade to continue building.'

 could you please upgrade ci plan ?

[2020-08-30 15:32] jeffwji commented on #4151
Thanks Adam, yes, the catchAllCause is able to catch the exception's stack track, but if I move the `either` to front of the `fork`, `IO(Analysis("Good!")).delay(2.seconds).either.fork`, it would return failure without stack information but an interruption id. Is it the designed?

[2020-08-30 15:41] adamgfraser commented on #4151
@jeffwji Whether a trace is available depends on how quickly the effect is interrupted. If it is interrupted immediately then no tracing information will be available. You can try delaying interrupting the fiber to see the difference.

[2020-08-30 18:33] ogresto commented on #3646
@mtjon is it in progress?

[2020-08-31 05:26] heaven-born commented on #3850
From what I could find, the issue is most likely inside `ZIO#repeatOrElseEither`. It produces the original effect without any delay, and only after that starts using `schedule.driver` for scheduling.

    self.foldM(   // <- problem is here
            e => ...
            a => loop(a) // <-- here scheduling begins
    )

I'm not vert good at the internals of ZIO, so I'm not sure now to fix it. It

[2020-08-31 09:18] heaven-born commented on #3850
I modified @kubukoz 's program a bit in order to see the difference between calls:

    val program = for {
       startTime <- clock.nanoTime
       prev <- Ref.make(-1L)
        _ <- (
            for {
              newTime <-clock.nanoTime.map(_ - startTime).map(_ / 1000000)
              diff <- prev.get.map(p =>  if (p == -1L) 0 else newTime - p)
             _ <- putStrLn(newTime.toString +

[2020-08-31 11:16] heaven-born commented on #3850
This is even more straightforward demonstration of the issue:

    val lightProgram = for {
      driver <- Schedule.spaced(100.millis).driver
      startTime <- clock.nanoTime
      _ <- driver.next(0).catchAll(_=>putStrLn("never happen"))
      midTime <- clock.nanoTime
      _ <- driver.next(0).catchAll(_=>putStrLn("never happen"))
      endTime <- clock.nanoTime
      diff1 = (midTime - startT

[2020-08-31 11:49] reibitto commented on #4148
I can confirm `"org.scalameta" %% "svm-subs" % graalVersion` fixes the issue I was seeing. Since this isn't an issue with ZIO itself, I think it's fine to close the issue. But it's something to be aware of if it comes up in the future.

[2020-08-31 12:28] jeffwji commented on #4151
I put a delay before catchAllCause, it does catch Traced with stack information, but obveriously it is not a good idea to have an explicit waiting time, is there any way to have anything be injected and raised automatically when it is ready?

[2020-08-31 12:30] jeffwji commented on #4151
Another question is why the interpretation exception has to be a Cause? because catchAll doesn’t work for it, any consideration behind it?

[2020-08-31 13:18] adamgfraser commented on #4151
@jeffwji Usually `Promise` is a good way to wait for something to be ready without blocking. In practice we generally don't want to wait for tracing information to be available, we want to interrupt the computation as soon as we can and get whatever tracing information is available at that point. But if you want to you can create a promise at the beginning of your program, complete it in the fiber

[2020-08-31 13:24] adamgfraser commented on #4151
Regarding your second question, yes that is part of the ZIO error model.

There are a couple of reasons for it.

First, in terms of types `catchAll` catches errors of type `E`. But `E` can be anything. It could be a `Throwable` but it could also be a `String` error message or `Nothing` indicating that the effect can't fail at all. But any of these effects could potentially be interrupted and have

[2020-08-31 20:26] jeffwji commented on #4151
Impressive! however, I tried `zip promise.succeed()` and `ensuring promise.succeed()` after `interrupt` or `join`, and then `await` at the end of `for-comprehension`, neither works, but I think both places are not make sense, coz I'm expecting for the stack information dumping finish, not the function call return, so where could be the right place for this waiting?

[2020-09-01 11:46] mtjon commented on #3646
@ogresto got caught up in a project and honestly kind of forgot about it. I'd like to take a look at it properly soon. But if you think you know how to solve it, feel free to take the issue from me.

[2020-09-01 19:21] #4136 closed

[2020-09-02 00:53] #4135 closed

[2020-09-02 01:04] adamgfraser commented on #4151
@jeffwji You have to use the `Promise` to make sure that the forked effect has at least begun execution before being interrupted.

For example, in the program below we complete the promise from within the forked effect and then wait on the promise before interrupting the fiber so we know the fiber has begun execution. This results in a failure with a trace when I test locally.

[code]

[2020-09-02 06:02] heaven-born commented on #4043
I'm wondering how to deal with invalid input parameters here. Just throw an IllegalStateException exception?
Or create and pass something like "DayOfWeek" parameter objects instead.

[2020-09-02 11:40] heaven-born commented on #4043
PR #4174 . Only `Schedule.minuteOfHour(...)`  in order to check that this approach is acceptable. There will be another PR for the rest of the methods.

[2020-09-02 14:29] Fristi commented on #3802
I see `ZLayer#project` has been implemented, closing this

[2020-09-02 14:29] #3802 closed

[2020-09-02 21:32] jeffwji commented on #4151
I tried this, it also works:

        for {
            p <- Promise.make[Throwable, Unit]
            fiber1   <- IO{Analysis("Good!")}.delay(2.seconds).either.fork
            fiber2   <- IO(false).fork
            _ <- p.succeed()
            _ <- p.await
            // Do other stuff
            valid    <- fiber2.join
            _        <- if (!valid) {
                             println(

[2020-09-02 21:49] adamgfraser commented on #4151
Yes, if you are completing a promise and then immediately awaiting it, it is essentially a noop. I think it is just taking enough time so that the forked fiber has begun execution and tracing information has been recorded by the time the forked effect is interrupted.

Stepping back, the basic principle here is that the ZIO runtime records tracing information as it executes a computation and report

[2020-09-02 22:17] jeffwji commented on #4151
Thank you Adam, my network prevents me to access social media, as well as Discord. I learned a lot from this discussion, by the end, I would like recommend to add a callback handler for all such action raised from the core of runtime in the future release, seriously, I don’t know is it a solo or other similar scenario happens, if so, it is worth to consider. Finally, thank you again and might talk

[2020-09-02 22:17] #4151 closed

[2020-09-03 06:29] adamgfraser commented on #4151
@jeffwji Definitely. If Discord doesn't work for you feel free to reopen this issue or another one with questions. I think the feature you are looking for already exists through the `Runtime.withReportFailure` combinator, which lets you specify how unhandled failures should be handled. The default is to just print them to the console but you can use that to add arbitrary logic for handling them.

[2020-09-03 18:56] #4116 closed

[2020-09-03 22:08] politrons commented on #908
@ashkan-leo maybe this example it might help you https://github.com/politrons/reactiveScala/blob/master/zio/src/main/scala/com/features/zio/ZIOLayer.scala#L216

[2020-09-04 06:59] googley42 commented on #4039
Thanks for fix guys - ZStreams is awesome! I can't imagine programming in the enterprise without it.

[2020-09-04 10:24] politrons commented on #3692
@simpadjo  Hi I'm playing with your test and maybe I dont get it, but what you expect is that your program finish, print the Done and finally clean up all the Threads form the pool. But instead is getting stuck as is happening to me with your code right?.

What I see here, is since you have an endless loop for each thread, because you wrote a `while(true)` and you `join` in the `flatMap` your prog

[2020-09-04 10:36] simpadjo commented on #3692
@politrons Hi, I expect this program to run forever w/o any exceptions.
The runtime has been reworked since I reported this issue, so if you can't reproduce it - just close it.

[2020-09-04 10:37] politrons commented on #3692
I cannot with version 1.0 it just hang forever, so yep I think you can close it 😉

[2020-09-04 10:43] #3692 closed

[2020-09-07 06:29] heaven-born commented on #4085
I spent some time investigating it, and I found that the reason for such behaviour is memoization logic inside `ZLayer#MemoMap`. In that part of the code `ZLayer` objects are used as a key in a `Map[ZLayer, ...]`. For this map both occurrences of `x` are just the same layer. One more way to make this map see them as different layers is to use `fresh`.

[code]

[2020-09-08 11:36] jdegoes opened #4181 "effectBlockingIO should not require Blocking"
Like all methods inside service interfaces, it should have no environmental dependencies.

See: `zio.blocking.Blocking.Service#effectBlockingIO`.

[2020-09-08 12:58] adamgfraser commented on #4181
I will fix this.

[2020-09-08 15:12] #4181 closed

[2020-09-08 15:56] PhillHenry commented on #4092
Cool. I updated to 3.0.0-M5 as you recommended and the issue went away.
Thanks, guys!

[2020-09-09 09:43] djx314 opened #4187 "Api discuss"
https://github.com/zio/zio/blob/f8f72fc73f4edb9a5711769b3299b8e536916a18/core/shared/src/main/scala/zio/ZIO.scala#L318

I am writing a zio api lib use nat programming. In ZIO's catchAll, I find that some api is not so friendly. In my code from djx314/XIO

[code]

[code]
means that
[code]
`catchAll` means that
[code]
I means that why not change `catchAll` to
[code]
that avoid the `xxx: ZIO[Logging

[2020-09-10 10:55] svroonland opened #4189 "ZStream.fromQueue & large chunks lead to larger stream latency"
`ZStream.fromQueue` and variants will create Chunks with everything there is currently in the queue. This can lead to large chunks being processed in the stream, which is probably good for throughput but not for latency.

We could add a `maxChunkSize` parameter to the method or maybe there is a good fixed maximum value.

[2020-09-10 12:44] svroonland opened #4190 "ZStream#throttleShape does not work when chunks are larger than 'units'"
See https://scastie.scala-lang.org/ZKXDglYpSvW97rSpgXfmsQ

[2020-09-10 13:33] svroonland opened #4191 "ZStream#groupByKey performance"
I experienced that when using `ZStream#groupByKey`, stream throughput suffers a lot. I suspect it's because `distributedWithDynamic` breaks the chunk structure.

It might be worth to have a dedicated implementation that tries to preserve chunks, like [so](https://github.com/svroonland/zio-kinesis/blob/128dd18ff10f8850a87b9d10d3e5ea269ba0883d/src/main/scala/nl/vroste/zio/kinesis/client/Util.scala#L

[2020-09-10 15:20] adamgfraser commented on #4187
@djx314 Hi! Would it be possible for you to minimize your example a bit, ideally to something that only uses ZIO directly? I tried this and it worked correctly:

[code]

In general the `R with `R1` pattern can be used instead of the `R1 <: R` pattern and we have used it in some cases, but we have found that the second pattern can lead to simpler inferred types, in particular avoiding `R with Loggi

[2020-09-10 15:26] djx314 commented on #4187
Thanks for the answer. I understand it now. I need more try for the information you provide. Thanks again.

[2020-09-10 15:26] #4187 closed

[2020-09-11 02:54] heaven-born commented on #4190
Hi @svroonland .  if you wait for 99 seconds there will be enough tokens in a bucket to emit the whole chunk containing 1000 elements. `fromIterable(1 to 20)` emits in 1 sec because the bucket is full of tokens at the beginning. The idea behind such behaviour is optimisation I guess.

[2020-09-11 07:05] heaven-born commented on #4043
PR #4195 for `dayOfWeek`.

`minuteOfHour`, `hourOfDay` and `dayOfWeek` were implemented in a scope of previous PR.

The last one `dayOfMonth` is tricky so it may take a while. If someone take take it before I do, I don't mind.

[2020-09-11 07:19] svroonland commented on #4190
@heaven-born That makes sense, I didn't think to wait that long.

Still I think the most intuitive behavior for this example is to emit 10 elements every second.

The way I understand, chunking is done for performance reasons and as such should be mostly an implementation detail. But there are places like this and in #4189 where it 'leaks' through to the user. I suppose the question is to what deg

[2020-09-11 18:26] evis opened #4197 "Implement ZIO.not"
In my code base, I found useful having such combinator:

[code]

e.g., if you have method `activated(foo)`, it's quite concise to write `not(activated(foo))`.

[2020-09-11 18:26] evis commented on #4197
It's quite easy to add it, so I can do it myself. Though, I'd like to have approval from contributors to do it, in order to avoid doing wasteful work.

[2020-09-12 02:09] aappddeevv opened #4198 "ZIO.foreachParN when using Array does not compile due to invariance"
Collections with invariant elements (like Array) need to have type ascription to use them:

[code]

This means you have to add type info back in later to call other methods e.g. length. The issue is that there should be consideration for an invariant version of the methods, like for Set.

This is per a discord conversation with adamfraser.

[2020-09-12 02:24] adamgfraser commented on #4198
This is the same issue we had with `Set`. Agree it makes sense to add something here. It may be worth seeing if we can abstract over invariant types, though not sure we will be able to do it in a binary compatible way or really how many types there are like that other than `Set` and `Array`. I will add.

[2020-09-12 02:27] adamgfraser commented on #4197
I think this makes sense. I might suggest making it a method on the trait itself since it involves a single value and calling it `negate` to match a couple of other combinators we have in various places in ZIO that do the same thing. So it would be:

[code]

Then it could be used like `activated(foo).negate`.

Could also have the `not` variant on the companion object if we wanted.

[2020-09-12 06:00] regiskuckaertz commented on #4197
consider doing #3635 too 😄

[2020-09-12 19:43] evis opened #4200 "Split gigantic ZIO.scala file into several ones"
It's so hard to work with 4k LOC file. It's easy to get lost here.

For ZIO project developer, it would be more convenient to deal with smaller files with several functions, e.g.:

[code]

I'm not sure, is there any significant performance penalty, though.

[2020-09-13 14:25] adamgfraser commented on #4200
I'm 👎 on this. It is a large file but splitting things into multiple files has its own disadvantages for discoverability as people have to look in these separate files and understand the logic for what goes in each file. We did something similar with `Gen` in ZIO Test where we put some generators in other files with traits that we extended and I tend to think it has hurt discoverability. I think i

[2020-09-14 14:32] googley42 opened #4203 "ZTransducer.foldWeight does not work with negative cost function weights"
A couple of versions ago the following test used to work

[code]

[2020-09-16 04:17] #4197 closed

[2020-09-16 09:07] dkarlinsky opened #4207 "Add basic combinators (map,flatMap...) to Promise"
I've recently needed a to `map` over a promise and discovered there was no `map` or `flatMap` defined.
Is there a reason for this?
I guess `map` on `zio.Promise` is not exactly the same as a map on `ZIO` (or Scala `Future`) because a promise also has the `complete()` side.
So if we have:
[code]
`promiseB` can be completed directly, independently of `promiseA`, while completing `promiseA` will alwa

[2020-09-16 14:37] jdegoes commented on #4043
@heaven-born Thank you for all your work on this ticket. It's a long-awaited addition to ZIO Schedule.

[2020-09-16 19:33] tusharmath opened #4208 "Memory Leak in clock.delay"
The below program leaks memory via `java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask`

[code]

**Screenshot**

<img width="1284" alt="Screenshot 2020-09-17 at 1 02 57 AM" src="https://user-images.githubusercontent.com/194482/93383627-88559080-f881-11ea-900f-67d8ebe2f1e2.png">

[2020-09-16 23:13] sideeffffect opened #4211 "Test: Implement LawfulF and LawsF for Divariant"
So far, there are `LawfulF` and `LawsF` for `Covariant`, `Contravariant` and `Invariant`.
The implementation for "Divariant" is missing. It would look like
[code]

[2020-09-17 09:01] lemastero commented on #4211
🏃‍♂️ On my way!

[2020-09-17 18:30] djx314 commented on #4187
Wow, I understand what you say a monent ago. I 100% agree what you said now @adamgfraser

[2020-09-17 23:53] lemastero commented on #4211
My work in progress is in https://github.com/zio/zio/compare/master...lemastero:fix-4211-WIP?expand=1
Still fighting with compilation errors :)

[2020-09-17 23:58] adamgfraser commented on #4211
@lemastero Awesome! Let me know if you want me to take a look at the compilation errors.

[2020-09-19 07:18] heaven-born opened #4218 "Replace ZIO#repeat(Schedule) with ZIO#schedule(Schedule)"
Current implementation of `ZIO#repeat(Schedule)` combines both scheduling and repeating concepts which leads to behaviour that is not easy to predict from method signature and also hard to customise.

Here is an example: let's say I have `Schedule` that recur on Mondays. Assume that today is `Monday` and I want my effect to repeat starting from today. Now I can do `putString("Hello Monday").repeat

[2020-09-19 13:42] lemastero commented on #4211
I have [WIP version](https://github.com/zio/zio/compare/master...lemastero:fix-4211-WIP?expand=1).
* I need to think about the shape of laws in `ZLawsF2`. Finishing https://github.com/zio/zio-prelude/pull/293 would be helpful - to understand what shape we need for functions testing laws.
* Tests for PR are in progress. One of the issues with that is mentioned: https://github.com/zio/zio-prelude/is

[2020-09-19 22:09] lightning95 commented on #3688
I'd like to implement this.

[2020-09-20 16:59] #3688 closed

[2020-09-21 08:55] #3809 closed

[2020-09-21 09:17] dpovey opened #4223 "@accessible macro does not correctly generate ZStream and ZSink accessors"
The test in AccessibleSpec in the git repo has the following example:

[code]

But the check seems to expect
[code]

It should be:
[code]

ZSink also seems to have the same issue

[2020-09-21 11:26] dpovey commented on #4223
It looks like ZSink will be harder to fix as there is no `ZSink.access`

[2020-09-21 14:32] dpovey commented on #4223
This will also break the macro part of the `zio-intellij` plugin.

[2020-09-22 08:08] #3877 closed

[2020-09-22 08:13] #4118 closed

[2020-09-22 08:13] #4119 closed

[2020-09-22 09:30] iravid commented on #4190
Yes, currently `ZStream#throttleShape` operates on whole chunks and does not make any effort to split them.

This can be solved by, e.g., using `Chunk#take` on the chunk to grab the largest portion that fits in the token bucket and emit that, while keeping the rest of the chunk in a Ref.

Another (simpler) solution is to just stick a `BufferedPull` and operate on single elements.

[2020-09-22 09:36] iravid commented on #4191
Yeah agreed. Would be a welcome improvement to preserve chunks in some way in `distributedWithDynamic`.

[2020-09-22 09:42] iravid commented on #4223
Hey @dpovey - here's an implementation of `ZSink.accessSink` that you can use:
[code]

[2020-09-22 12:08] fsvehla opened #4227 "Gen.usASCII returns "Chunk("…"
`Gen.usASCII` generates values like `"Chunk(\b…`
Looks to me that it calls `Chunk#toString`

[code]

It’s not clear to me what it’s purpose is since `Gen.anyASCIIString` exists, which is _“A generator US-ASCII strings. Shrinks towards the empty string.”_

[2020-09-22 14:52] dpovey commented on #4223
Thanks @iravid. Also needed `ZSink.provide` implemented too which I think I got right, but I'm a little wobbly on the details.  I have added these to my PR and updated the `@accessible` macro to also generate accessors that output just `ZSink`

[2020-09-22 19:15] fillson-shady opened #4229 "ZStream.zip() can consume extra elements"
Hello!

I've met some strange behaviour of `ZStream.zip()` - it can consume more then necessary elements from zipped stream.

[code]

This code produces following output:
[code]

So, for consuming single element from source `ZStream(1)` `zip()` consumes all 10 elements from the `queue`.
Is it a bug or an expected behaviour?

Thank you!

[2020-09-22 20:11] iravid commented on #4229
Yes, this is expected, but unrelated to `zip`; `ZStream.fromQueue` eagerly dequeues multiple elements to create chunks.

There's a pending PR that introduces a parameter that controls this behavior.

[2020-09-23 03:55] heaven-born commented on #4043
PR #4212 . Failed checks are not related to functionality introduced in scope of this ticket.

[2020-09-24 00:19] #4211 closed

[2020-09-24 01:53] adamgfraser commented on #4227
Yes. Looks like this was added to facilitate one test involving the transducer for this but I agree it is confusing. Will remove.

[2020-09-24 02:47] adamgfraser commented on #4208
@tusharmath Thanks for reporting! Just opened a pull request that will fix this.

[2020-09-24 04:28] #4227 closed

[2020-09-24 04:30] #4208 closed

[2020-09-24 12:56] tusharmath commented on #4208
thankyou!

[2020-09-28 08:13] natansil commented on #4207
@iravid WDYT does `map` makes sense for `Promise`?

[2020-09-28 08:26] #4229 closed

[2020-09-28 08:29] iravid commented on #4207
Sure why not. You can probably do `zipWith` too.

I admit that most of the time when I was thinking of these combinators for Promise, I found that it made more sense to hand out the `p.await` value to subscribers rather than the entire promise. Then you can use the entire range of `ZIO` combinators.

[2020-09-28 08:51] natansil commented on #4207
Interesting. So if `ZIO` is a generalized form of `Promise` when do you use `Promise` specifically?

[2020-09-28 09:24] iravid commented on #4207
Sorry that's not what I meant. Let me clarify.

A promise `Promise[E, A]` is usually subscribed to by one fiber and resolved by another. Those two fibers don't necessarily have to hold on to  the entire promise; the subscriber can, equivalently, just use the ZIO value of `p.await` (`UIO[Exit[E, A]]`).

So if the subscriber is holding on to just the `UIO[Exit[E, A]]`, it can use the entire range of

[2020-09-28 12:42] erikvanoosten opened #4255 "Mocks only work for single fiber programs"
Observed:
* When a fiber uses a mock defined in another fiber, while there is a missing expectations, the test hangs and no error message is printed.
* When several fibers are using a mock (e.g. using `foreachPar`) with multiple expectations (combined with `&&` because order can not be guaranteed from multiple fibers), the test never passes. Reducing parallelism to 1 (using `foreachParN`) the test

[2020-09-28 14:14] natansil commented on #4207
Oh I see. In our case we don't want to await on the first promise (we want to batch the effects first), but we do want to map the result. so seems like `p.await` is not an option

[2020-09-28 17:26] bjarkevad commented on #4126
After a refactor of how we construct layers, our app never finishes constructing layers. This is with 44 top-level layers.

[2020-09-28 17:29] adamgfraser commented on #4126
@bjarkevad That is a lot of layers! Okay, I will prioritize this one.

[2020-09-28 18:59] adamgfraser commented on #4255
Copying @ioleo.

[2020-09-29 14:19] bjarkevad commented on #4126
It's a lot of layers indeed, probably even too many. Irregardless, this issue came as a surprise :)
Thank you for prioritizing, let me know if you need me to test a PR.

[2020-09-29 15:30] neko-kai commented on #4126
@bjarkevad
Your app should assemble successfully if you replace `>+>` with distage's layer support([[1]](https://izumi.7mind.io/distage/basics#zio-has-bindings)). There's also a library `chopsticks` built on top of distage that provides a nicer syntax for layers[[2]](https://github.com/shopstic/chopsticks/blob/master/chopsticks-fp/src/main/scala/dev/chopsticks/fp/DiLayers.scala)[[3]](https://githu

[2020-09-29 16:59] jdegoes commented on #4218
I agree we need something like this.

[2020-09-29 17:01] jdegoes opened #4257 "Investigate new encoding for ZIO Test Aspects"
Ideally, ZIO Test Aspects would have the following properties:

 - [ ] They allow us to introduce and eliminate errors
 - [ ] They allow us to introduce and eliminate environments, so we can make `provideXYZ` aspects instead of hard-coded methods
 - [x] They infer fully as today
 - [x] They compose as today

[Here](https://scastie.scala-lang.org/m1gZIXsKSGO8Jfy5bdN65Q) is a sketch for a new possib

[2020-09-29 17:04] adamgfraser commented on #4126
@bjarkevad Just opened a PR to fix this. If you could try it out and let me know if it resolves your issue would be very appreciative!

[2020-09-29 17:05] jdegoes opened #4259 "Investigate adding zio.ZAspect for generalized effect aspects"
[Here](https://scastie.scala-lang.org/m1gZIXsKSGO8Jfy5bdN65Q) is a prototype for a generalized effect aspect called `ZAspect`, which can introduce and eliminate both error and environment.

Background talk [here](https://www.youtube.com/watch?v=gcqWdNwNEPg), and "in the wild" example [here](https://github.com/svroonland/rezilience/blob/master/rezilience/shared/src/main/scala/nl/vroste/rezilience/P

[2020-09-29 17:50] #4126 closed

[2020-09-30 09:09] bertlebee opened #4264 "Flaky streams test?"
got a CI failure on https://github.com/zio/zio/pull/4230 which is entirely unrelated to the STM work that I was doing - for a change, it actually named a test instead of a generic timeout error. cc @iravid

[info] - ZStream JVM
[info]   - Constructors
[info]     - fromOutputStreamWriter
[info]       - is not affected by closing the output stream
[info] Timeout of 1 m exceeded.
[info] Done
[error]

[2020-09-30 09:30] ragb commented on #3115
any updates on this or any suggested workaround?

[2020-09-30 10:41] bjarkevad commented on #4126
I just tried `1.0.1+86-1774c8e3-SNAPSHOT`, and the problem is indeed fixed! :partying_face: Thanks a bunch!

[2020-09-30 10:42] bjarkevad commented on #4126
Thanks for the tip, I'll check out distage and chopsticks!

[2020-10-01 03:36] #4043 closed

[2020-10-01 10:44] adamgfraser commented on #4150
@notxcain You can do:

[code]

The `fromServices` constructor automatically lifts the output value into a `Has`. If you don't want this you can use the `fromServiceMany` constructor as I have done here. Note that you need to specify the type parameters due to [this](https://github.com/scala/bug/issues/11898) compiler bug. As a workaround you can assign the result to an intermediate value.

[code]

[2020-10-01 20:33] natansil opened #4269 "losing items with queue.take.timeout"
In the following case:
[code]
some records are sometimes lost on high throughput

[2020-10-03 10:31] iravid opened #4272 "ZStream#takeWhile bug"
As reported by @mtsokol, the following snippet (after further minimization) fails:

[code]

[2020-10-03 19:11] #4272 closed

[2020-10-05 17:14] vpavkin commented on #4255
Can confirm, have the same issue with `foreachPar` not hitting all the expectations, while `foreach` works fine.

[2020-10-05 18:51] adamgfraser opened #4278 "Flaky ZStream Test"
[code]

https://app.circleci.com/pipelines/github/zio/zio/9149/workflows/2a360637-ff15-48ee-929e-f516f3808140/jobs/93193

[2020-10-05 22:53] mkotsbak commented on #639
Looks like native libs still are not published to Maven repos.

[2020-10-06 02:03] robmwalsh commented on #4278
duplicate of #4264

[2020-10-06 02:05] adamgfraser commented on #4278
@robmwalsh Thank you! 🙏

[2020-10-06 02:05] #4278 closed

[2020-10-06 02:08] bertlebee opened #4281 "Test result rendering incorrect"
[code]
I'm only running one test here - but the report is showing extra tests (which didn't run: "Ran 1 test in...").
[code]

[2020-10-06 02:14] robmwalsh commented on #4278
@adamgfraser no problems - you may wish to add the labels to the other issue (I don't have permission)

[2020-10-06 02:22] adamgfraser commented on #4278
@robmwalsh Done!

[2020-10-06 06:37] serrufSe commented on #4255
Have the same problem, when parallelism exceeds 1
[code]

[2020-10-06 08:33] sideeffffect commented on #639
But they are:
 * ZIO https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio_native0.4.0-M2_2.11/
 * ZIO Streams https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-streams_native0.4.0-M2_2.11/
 * ZIO Test https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-test_native0.4.0-M2_2.11/

Publishing them was introduced in these PRs: https://github.com/zio/zio

[2020-10-06 09:35] mkotsbak commented on #639
Hmm, maybe I just need to add Sonatype repo as extra then. Didn't find in Maven central repo.

[2020-10-06 10:02] sideeffffect commented on #639
Oh, sorry, I haven't explained it very well. The current setup _will_ publish the artifacts to Maven Central. But that will happen only after a new release will be made. So far, only artifacts built from `master` are published, and that means that they will end up in Sonatype _snapshots_, instead of Sonatype _releases_ (i.e. Maven Central).

[2020-10-06 10:04] sideeffffect commented on #639
Oh, sorry, I haven't explained it very well. The current setup _will_ publish the artifacts to Maven Central. But that will happen only after a new release will be made. So far, only artifacts built from `master` are published, and that means that they will end up in Sonatype _snapshots_, instead of Sonatype _releases_ (i.e. Maven Central).

[2020-10-06 12:34] tusharmath commented on #4208
Just verified, the issue has been fixed!

[2020-10-06 13:22] sideeffffect commented on #639
Oh, actually `1.0.2` is on Maven Central now, even for Native
 * https://repo1.maven.org/maven2/dev/zio/zio_native0.4.0-M2_2.11/
 * https://repo1.maven.org/maven2/dev/zio/zio-streams_native0.4.0-M2_2.11/
 * https://repo1.maven.org/maven2/dev/zio/zio-test_native0.4.0-M2_2.11/

Of course, the artifacts weren't tested and ZIO Test most likely doesn't work, but it's at least available for people to ex

[2020-10-06 15:33] vigoo opened #4285 "ScalaReflectionException coming from makeTag in ZIO 1.0.2"
New issue introduced by the 1.0.2 release:

Reproduce:

[code]

results in:

[code]

https://scastie.scala-lang.org/vigoo/5LZuukFQQZOPjMRlq3dbnA/3

[2020-10-06 16:31] #4285 closed

[2020-10-06 16:57] adamgfraser commented on #4208
Awesome!

[2020-10-06 20:13] FrancisToth opened #4288 "ClassCastException when calling ZStream.fromIterable provided with an Array[Any]"
I came upon an exception while calling `ZStream.fromIterable` and providing it with an `Array[Any]`:
[code]

[code]
I believe the problem comes from here (Chunk.scala::1170):
[code]
In the case of an Array containing different types of objects, we would get a ClassCastException.

[2020-10-07 00:59] mschuwalow commented on #4191
I'll take a look at this one

[2020-10-07 01:00] adamgfraser opened #4290 "Flaky ZStream Test"
[code]

https://app.circleci.com/pipelines/github/zio/zio/9173/workflows/0b36a4ab-92d7-445e-9083-38c261aa2584/jobs/93465

[2020-10-07 21:12] runtologist commented on #4288
The problem is not specific to `Array`, but happens for any `Iterable[Any]`, if the first element is a (possibly boxed) primitive type:

[code]

I see only two options for fixing this:
1. Do `Tags.fromValue` for each element of `it`, which would be super inefficient, or
2. Require an implicit `ClassTag`, which would break binary compatibility.

[2020-10-07 21:16] adamgfraser commented on #4288
I think we can modify the `ChunkBuilder` to try to construct the `Chunk` and if it fails with a `ClassCastException` fall back to building a `Chunk` backed by an `AnyRef` array. Will work on this.

[2020-10-07 23:57] adamgfraser commented on #4223
Closed by #4224.

[2020-10-07 23:57] #4223 closed

[2020-10-08 00:14] adamgfraser commented on #4198
This can definitely be implemented but wondering if this makes sense given that `Array` is a mutable data structure. Should we be pushing uses of this to `Chunk`?

[2020-10-08 00:16] adamgfraser commented on #4092
Resolved by #4286.

[2020-10-08 00:16] #4092 closed

[2020-10-08 00:17] adamgfraser commented on #4150
Going to close this as I believe it is addressed by existing `ZLayer` constructors.

[2020-10-08 00:17] #4150 closed

[2020-10-08 00:18] adamgfraser commented on #4200
Going to close this as it has been open for a while and there does not seem to be support for this change.

[2020-10-08 00:18] #4200 closed

[2020-10-08 00:19] adamgfraser commented on #4189
Closed by #4205.

[2020-10-08 00:19] #4189 closed

[2020-10-08 00:21] adamgfraser commented on #4055
Closed by #4248.

[2020-10-08 00:21] #4055 closed

[2020-10-08 00:23] adamgfraser commented on #3965
@szymonrodziewicz Closing as this appears to be fixed by #3919. If you are still having issues please feel free to reopen and we will investigate further.

[2020-10-08 00:23] #3965 closed

[2020-10-08 00:24] adamgfraser commented on #3943
Closed by #3976.

[2020-10-08 00:24] #3943 closed

[2020-10-08 00:25] #3926 closed

[2020-10-08 00:26] adamgfraser commented on #3908
Going to close this as I think it is a little stale at this point. Let's open issues for any specific flaky tests we observe going forward.

[2020-10-08 00:26] #3908 closed

[2020-10-08 00:27] #3893 closed

[2020-10-08 00:30] adamgfraser commented on #3650
Resolved by #4248.

[2020-10-08 00:30] #3650 closed

[2020-10-08 01:10] aappddeevv commented on #4198
The issue is to avoid the conversion of Array (in my case js.Array).

What is your thought around how mutability of the collection arg affects things?

[2020-10-08 01:18] adamgfraser commented on #4198
It just means we can't necessarily reason about things in the same way, for example what happens if one of the collection elements is mutated while we are in the process of working with it?

[2020-10-08 03:17] aappddeevv commented on #4198
I think it’s ok though. It seems like the real issue is that it’s a variance api thing. Arrays have that issue all over the jvm and js surface area.

[2020-10-08 03:22] adamgfraser commented on #4198
I tend to think that is right. I just submitted a pull request to add this.

[2020-10-08 10:44] #4198 closed

[2020-10-08 13:12] fsvehla opened #4298 "ZTransducer.gzip() corrupts output after 2^16 bytes"
`gzip()` produces corrupt data after >= `65 536` bytes input size.

`gzip` error message: "invalid compressed data--length error"
`ZTransdrucer.gunzip` error message: `Invalid ISIZE`

Scastie worksheet showing the issue: https://scastie.scala-lang.org/Msc0YIaXTvCdndep2AkTcQ

CC @LGLO

[2020-10-08 17:26] #4298 closed

[2020-10-08 17:29] adamgfraser opened #4300 "Flaky ZManaged Test"
[code]

https://app.circleci.com/pipelines/github/zio/zio/9195/workflows/d60f3d6a-a3de-4776-a574-c80e20e73a21/jobs/93744/steps

[2020-10-08 18:43] #4218 closed

[2020-10-08 20:19] mschuwalow commented on #4191
Hmm, this one is interesting.

For a stream of 10000 chunks of size 500 groupBy is about 6 times _slower_ after the change.
Do we have a canonical stream / chunksize we are optimizing for?

[2020-10-08 21:28] #4288 closed

[2020-10-09 20:03] mkotsbak commented on #639
Nice, even 1.0.3, but I get an error with Mill:

[code]

[2020-10-10 00:06] aappddeevv opened #4306 "add scala.js to scala3 build"
The scala.js compiler plugin is now part of dotty so the idea is to create a scala3 scala.js build going forward as part of the scala3 M and RC builds.

The scala.js dotty compiler plugin does not support all of the scala.js annotations in 0.27-RC1, e.g. `@JSExportLevel`, so I'm thinking that we need to wait until 3.0.0-M1, or the version that supports the scala.js features that zio uses.

[2020-10-10 10:09] sideeffffect commented on #639
@mkotsbak That is an unfortunate oversight, help is on the way https://github.com/zio/zio/pull/4307

[2020-10-10 17:49] reibitto opened #4308 "unapplySeq for Chunk/NonEmptyChunk"
Adding `unapplySeq` would allow pattern matches like `case NonEmptyChunk(head) =>` and so on.

[2020-10-10 17:50] adamgfraser commented on #4308
I will add this.

[2020-10-11 08:02] cherkaskyb commented on #3646
@iravid @ogresto looking for my first contribution, can I have a crack at this one?

[2020-10-12 15:16] heaven-born commented on #3850
The new `schedule` method almost eliminates this issue if  `.repeat(Schedule.spaced(100.millis))`is replaced with `.schedule(Schedule.once ++ Schedule.spaced(100.millis))`  or `.schedule(Schedule.spaced(100.millis))`

Though there is still about 15 milliseconds difference between the first two calls.

    putStrLn(System.nanoTime()/1000000  + " ms;"  )
      .schedule(Schedule.once ++ Schedule.onc

[2020-10-12 18:50] jdegoes commented on #3850
I think we can call this issue fixed, although we could open a separate one to optimize the performance of schedule initialization.

Thanks for your feedback!

[2020-10-12 18:50] #3850 closed

[2020-10-12 18:51] #4308 closed

[2020-10-12 19:37] mkotsbak commented on #639
Works with snapshots now, with version dev.zio::zio::1.0.3+3-64bea7fb-SNAPSHOT :)

[2020-10-13 21:39] lemastero opened #4312 "[zio-test] Implement LawfulF3 and LawsF3 for Zivariant"
To write law tests for [Zivariant](https://github.com/zio/zio-prelude/blob/master/src/main/scala/zio/prelude/Zivariant.scala) we need LawfulF3, LawsF3, etc. Similar work was done for Divariant: https://github.com/zio/zio/pull/4220

[2020-10-14 08:09] gurghet opened #4315 "Why vector?"
https://github.com/zio/zio/blob/a4ac0e9ad9d56da4f29d29599885f840a3a25dc8/test/shared/src/main/scala/zio/test/environment/package.scala#L645

https://github.com/zio/zio/blob/a4ac0e9ad9d56da4f29d29599885f840a3a25dc8/core/shared/src/main/scala/zio/ZIO.scala#L780

Is there any particular reason we are using `Vector` in the first link and `List` in the second link? Maybe we can keep `Vector` for zio-te

[2020-10-14 09:03] leszekgruchala opened #4316 "Inconsistent type signature of `repeat` between ZIO and ZStream"
There is a difference between ZIO and ZStream `repeat` signature.

The passed schedule in ZStream doesn't affect the output type of the stream
```final def repeat[R1 <: R, B](schedule: Schedule[R1, Any, B]): ZStream[R1 with Clock, E, O]```

while in ZIO it forces the effect to return the type that is returned by Schedule
```final def repeat[R1 <: R, B](schedule: Schedule[R1, A, B]): ZIO[R1 with Cl

[2020-10-14 09:32] leszekgruchala commented on #4316
From the discussion on Discord:

ZStream it's easy because ZStream#repeatEither just interleaves the schedule output with the stream output.
ZStream can emit multiple elements whereas ZIO can only emit one result.

So ZIO#repeat would require a `reduce` function, but there is a solution for this problem now:
intersect the recurs schedule with a collecting schedule: `(Schedule.recurs(5) && Schedule

[2020-10-15 13:14] Edvin-san opened #4319 "[zio-test-magnolia] Missing DeriveGen[Instant]"
Hello, I'm trying out zio-test-magnolia and got some compile errors for the following code:

[code]

I looked around and found out how to fix it:
[code]

Implicit instances of `DeriveGen` are already provided for `LocalDateTime` and `LocalDate`. Is there a reason that there is no instance provided for `Instant`? Should it be added?

[2020-10-15 14:45] loathwine opened #4320 "[zio-stream] How to extract multiple element errors?"
Hello, I have a question about `ZStream`. I would like my stream to output all the element-level errors detected.
Basically I have a `ZStream[Any, MyCustomError, Unit]` and I want to transform it to a `ZStream[Any, Nothing, MyCustomError]`.
I started looking at the following solution:
[code]
But the documentation for `ZStream#either` says: __*@note the stream will end as soon as the first error oc

[2020-10-16 04:04] counter2015 opened #4321 "[docs] Intellij will raise error when trying sample program of test."
I'm new to zio and trying to write zio test.

When I tried demo in website [here](https://zio.dev/docs/usecases/usecases_testing), the ide gived a error.

![image](https://user-images.githubusercontent.com/13608862/96211381-c50ec780-0fa6-11eb-8572-ed6a527af8f9.png)

However, `sbt test` worked.

Is it a problem of importing , zio, or ide iteself? How to fix the error(or if it's ide bug, can I suppr

[2020-10-16 08:54] counter2015 opened #4322 "[doc] demo test in doc failed."
Base on the [doc](https://zio.dev/docs/howto/howto_test_effects#constructing-tests)
[code]
 I tried write this test code.
[code]

It failed in `sbt test` with following output
[code]

Is there any step I missed?

edit: I found a typo in my test, the value is adjust to 0.

[2020-10-16 10:06] counter2015 commented on #4321
One workaround is explicitly declare types, but I don't know the magic behind.

[code]

[2020-10-18 05:30] tusharmath opened #4327 "Fiber Prioritization"
## Requirement
I want to be able to specify that certain blocks to be executed on a higher priority than others.

## Problem
I have a web-socket based server that does two things
1. Accept HTTP requests and upgrade them to a web-socket one.
2. Publish messages on the already established web-socket connections.

The issue is that broadcasting messages can take up a bit too much of CPU time and all

[2020-10-18 09:31] TobiasPfeifer opened #4328 "[zio-stream]"
ZStream and ZTransducer seem to not provide a straightforward way to flatMap/transduce over a ZStream when the mapping for streams elements `O => Iterable[P]` is provided by a 3rd party library that needs a callback to pull the next element from the stream

A simplified demo of the problem and the solution I came up with can be found here:
https://github.com/TobiasPfeifer/zio-streams-mapPullWithCa

[2020-10-19 09:31] counter2015 opened #4331 "[doc] Test hanging when try doc demo for `zipWithLatest`"
According to doc [here](https://zio.dev/docs/howto/howto_test_effects#testing-clock), I adjust a little as following:
[code]

and then run `sbt testOnly ClockSpec`
[code]

I tried add `TestClock.adjust` in for expressions, but it didn't work.

How could I run the test correctly?

[2020-10-19 12:48] aartigao commented on #4319
I think it's reasonable to add Instant given that other `Gen` like the ones that you mention are already provided. I can create a PR for that 👍🏽

[2020-10-20 08:17] TobiasPfeifer commented on #4320
I think you need to ``.either.flatMap{...}` the underlying process:
[code]

https://scastie.scala-lang.org/8rucL3HETYO5qJUAyJUorw

[2020-10-20 17:11] #4319 closed

[2020-10-20 22:27] quelgar commented on #3859
I have implemented some stuff in this vein in zio-nio, but most haven't been merged. However, the organisation of the APIs tends to follow NIO's organisation.

* [ZStream for any `ScatteringByteChannel`](https://github.com/zio/zio-nio/blob/93202fe4aa7e0771dae513b81a5ad464514ccc90/nio/src/main/scala/zio/nio/channels/ScatteringByteOps.scala#L83)
* [ZSink for any `GatheringByteChannel`](https://githu

[2020-10-20 23:10] gchudnov opened #4340 "Defect in zio.Has: N statically known to be contained within the environment are missing"
Hi

just bumped into an error:

[code]

I can see there was a [similar issue](https://github.com/zio/zio/issues/3558), but it looks it was fixed.

Got the error when was trying to build a test with sttp + zio.

_versions:_
[code]

_code:_

[code]

Setting a breakpoint inside of `Has.prune` ( [val missingServices = set -- self.map.keySet](https://github.com/zio/zio/blob/33f8b4c119cd3cd1ee6533b3bc07

[2020-10-21 18:50] adamgfraser commented on #4331
@counter2015 Thanks for pointing out. You don't have to do one by one changes to the `TestClock` like this anymore. You can just do the whole thing like this:

[code]

[2020-10-21 19:07] adamgfraser commented on #4322
Yeah that is a poor example because the time in the `TestClock` is zero until you adjust the time, so the test is working properly but asserting a property that isn't true. I will push an update for this and the other issue you identified in a moment.

[2020-10-21 19:21] adamgfraser commented on #4321
I would suggest raising this with the Intellij team.

Intellij uses their own version of the Scala compiler which can lead to differences between what Intellij says works and what actually works when you use SBT or actually go to run your program. We generally can't change our code for the Intellij compiler since we have to make sure it works for the actual Scala language and not some variant of i

[2020-10-21 19:52] adamgfraser commented on #4327
@tusharmath Why don't you create a separate `Executor` for the two types of tasks and then `lock` effects to the appropriate `Executor`?

[2020-10-22 02:53] counter2015 commented on #4321
Thanks your reply, I have just raised an issue in [Youtrack SCL](https://youtrack.jetbrains.com/issue/SCL-18349).

[2020-10-22 09:04] francisdb opened #4347 "Ignored tests not visible in report"
With other test frameworks ignored tests are still shown in the report and marked in yellow

eg:
<img width="714" alt="image" src="https://user-images.githubusercontent.com/161305/96849408-db5ccd80-1455-11eb-96b6-c8fbd14ed847.png">

For zio test you only see that tests were ignored in the summary line which is less likely to get attention

`Ran 2 tests in 926 ms: 1 succeeded, 1 ignored, 0 failed`

[2020-10-22 09:52] lyubortk opened #4348 "Preserve original error in ZStream.MapMPar"
The following code fails with a Fiber Failure:
[code]

Whereas the same code but with `mapMPar(1)` changed to `mapM` completes without errors.
I assume that the `mapMPar` version should not fail either.

[2020-10-23 00:46] #4322 closed

[2020-10-23 00:46] #4331 closed

[2020-10-23 21:28] gchudnov commented on #4340
looks like a binary incompatibility between the sttp 3.0.0-RC5 and zio 1.0.3,
will roll back to zio 1.0.0 for the time being.
closing the issue.

[2020-10-23 21:28] #4340 closed

[2020-10-23 22:28] jdegoes commented on #4327
@adamgfraser That's a good idea, in fact, it could be implemented in user code as something like:

[code]

Which would go and create a pool with that priority if it didn't already exist.

Good idea for a user library, although I'd suggest it's too niche a case to include in ZIO.

[2020-10-24 13:21] joroKr21 commented on #4321
It could be worked around. `eqlReflexive` is redundant and Intellij thinks it's ambiguous with the other two.

[2020-10-25 03:11] robmwalsh commented on #2358
@jdegoes, @kitlangton and I are going to take a look into ways we can possibly get rid of ZioFn (relates to #916 ), or, failing that, work on this one and for bonus points, maybe see if we can figure out a way to test if ZioFn isn't used where it should be. To facilitate this, I just want to make sure I understand how the stack and execution traces are supposed to work - effectively, if it's the u

[2020-10-25 12:42] jaliss commented on #2358
I completely forgot I said I was going to work on this ... I'm sorry! :-(

[2020-10-25 14:31] Edvin-san commented on #4320
@TobiasPfeifer Your suggestion seems promising! I experimented some with your approach and added some extension methods. [https://scastie.scala-lang.org/MEhtoGLoT1mMDSrM8HX1pQ](https://scastie.scala-lang.org/MEhtoGLoT1mMDSrM8HX1pQ)

I would love some more built in high-level combinators like `nonFailing` to work with element-level errors.

[2020-10-25 14:35] reibitto opened #4351 "Consider adding Schedule.deadline?"
This one seems to come up quite a bit. Right now I write this as:

[code]

which might short enough that a specific method isn't needed. I'm not sure. But a helper like `Schedule.deadline(10.seconds)` might be better for discoverability. (I'm not sure about the name `deadline` though)

Prior to 1.0.0, `Schedule.duration` seemed to do this:
https://javadoc.io/static/dev.zio/zio_2.12/1.0.0-RC20/zio/

[2020-10-25 14:46] reibitto commented on #4351
There's also one other point to consider. Rather than doing:

[code]

It could go on the class itself to make this possible:

[code]

[2020-10-25 23:10] #4321 closed

[2020-10-27 09:29] mattkamandesonos opened #4356 "[zio-stream] ZStream fromFile with drop/take data loss"
What
--
**Bug Report**

ZStream's fromFile occasionally loses data when using transducers with drop and take functions applied to the stream.
The `fromFile`s `chunksize` parameter also affects the number of items returned by the stream.

**Zio Version:**        "1.0.3"

Bug Reproduction
--
**Scenario**
Create a stream from a data file `x.log`, create lines, drop `N` lines and take `N` lines

* The

[2020-10-27 18:13] dhpiggott opened #4358 "scala.Match error at zio.test.Assertion.equals(Assertion.scala:63) when using Assertion.equalTo within AssertionM"
We have some integration tests that use `Assertion.equalTo` within `AssertionM` instances. When an `Assertion.equalTo` fails, the value it failed on doesn't get propagated up and logged correctly.

I've put together a minimal reproducible example to illustrate:

[code]

I would expect results like this:

[code]

But with ZIO Test 1.03 it produces the following results:

[code]

[2020-10-29 18:33] #4358 closed

[2020-10-29 18:45] #3971 closed

[2020-10-30 18:21] TobiasPfeifer commented on #4356
I'm working on this

[2020-10-30 19:05] tusharmath opened #4363 "The intuition for creating a managed fiber"
[code]

In the above program, the default intuition is that once the usage of the managed is completed, the program will be interrupted.

But actually, the program isn't interrupted because `program.fork` forms the "acquire" part of the `ZManaged` which is "uninterruptible".

[2020-10-30 19:45] TobiasPfeifer commented on #4356
@mattkamandesonos There is a bug in keeping track of the count of elements already dropped. I"ve opened a PR with the fix. As a workaround you can rechunk the `ZStream` to only emit single value `Chunk`s by `.chunkN(1)` before `.drop(n)`

[2020-10-30 21:58] TobiasPfeifer commented on #4269
I wasn't able to reproduce this bug with the following code:

[code]

No console output for a skipped stream element is printed in this example.
@natansil Can you provide more information on how to reproduce this issue?

[2020-11-02 22:53] ex0ns commented on #3115
Hello,
I would love to continue the work done on #3641. I re-implemented the changes on the latest version of master and I think it's more or less working but I'm no expert with zio-mocks and I would love to have some feedbacks and pointers about the implementations.

First of all I'm not sure what I should do in the `prettify` method of the Debug object.
I started by creating an object (like it w

[2020-11-02 23:05] adamgfraser commented on #3115
@ex0ns That would be fantastic!

[2020-11-04 08:06] shvimas opened #4374 "Providing layer before scheduling recreates layer for each iteration"
Consider this code:
[code]

If I run it as is I see that `Service` is being created (and released) 5 times which looks rather counterintuitive to me since I expect layers to be shared. Although if I switch `.provideCustomLayer(serviceLayer)` and `.repeat(Schedule.recurs(5))` I get the expected result: `Service` being created, then worked 5 times and finally released.
Or maybe I got something wrong

[2020-11-04 17:20] phderome opened #4376 "new operator toSet on STM#TSet"
I am finding myself artificially working with lists when I am starting off with a set For example I need a `retryUntil(_.nonEmpty)` starting off from a `TSet` and I must convert using `tset.toList.retryUntil(_.nonEmpty)`

[2020-11-04 17:31] adamgfraser commented on #4376
@phderome Doesn't this already exist? See [here](https://github.com/zio/zio/blob/ccc3f2fe375e0cffff79ce63205bf989e036e537/core/shared/src/main/scala/zio/stm/TSet.scala#L105).

[2020-11-04 17:47] adamgfraser commented on #4374
@shvimas That is the expected behavior. A layer is a "recipe" that describes how to create a set of services. Every time you call `provideLayer` or one of its variants a new set of services will be created, similar to how every time you `use` a `ZManaged` a new resource will be acquired.

Sharing layers applies to layers that are used multiple times within the same definition (e.g. `layer1 ++ (lay

[2020-11-04 17:49] shvimas commented on #4374
Got it, thanks!

[2020-11-04 17:55] adamgfraser commented on #4374
No problem!

[2020-11-04 17:55] #4374 closed

[2020-11-04 19:04] phderome commented on #4376
sorry, I must have used an older version and maybe it was not published to Maven repo. I'll check that. Non issue then.

[2020-11-04 19:04] #4376 closed

[2020-11-07 18:38] atooni opened #4384 "NullPointerException in ZTrace"
Running an application with ZMX diagnostics enabled and a panopticon instance connected, panopticon regularly executes the dump command on the ZMX server. Non-deterministically, the request fails with:

[code]

[2020-11-09 09:37] fanf opened #4387 "Add Stream.whenM for parity with ZIO.whenM"
I have the use case where I want to take a decision based on an effect.
For ex: I want to walk a directory tree structure, and do things based on file existence.

I find a way to do it like that:

[code]

But it feels combersome. I would love to have a combinator looking like:

[code]

[2020-11-09 12:57] jdegoes opened #4388 "Add ZStream.execute"
Something like this:

[code]

[2020-11-09 12:59] jdegoes commented on #4387
Perhaps what we need is `ZStream.whenM`.

[code]

[2020-11-09 13:08] fanf commented on #4387
I think `.whenM` would be a good addition. It's what I looked for first, for symmetry with `ZIO` case. And perhaps that the combinator is especially welcomed on that special case, and less so on the case where both true and false generate substream, because the quantity of boilerplate is almost negligible in that latter use case.

So to sum-up: yes, `whenM`: take care of the case with more boilerp

[2020-11-09 15:43] dkovalenko opened #4389 "UnsafeRunToFuture runs on calling thread, ignoring zio executor(ZIO + play threadpool issue)"
I've made some benchmarks with zio + play and saw this picture:
![image](https://user-images.githubusercontent.com/874918/98563062-65f55780-22b3-11eb-8aa6-34431927c58e.png)
while zio threads are parked 99% of the time
![image](https://user-images.githubusercontent.com/874918/98563148-82918f80-22b3-11eb-82c2-9b43559f9f96.png)

Problem is that ZIO ignores its own execution context(which is ThreadPoo

[2020-11-09 23:11] nktpro opened #4391 "1.0.3 regression: "Defect in zio.Has" exceptions due to izumi-reflect 1.0.0-M9 dependency"
This issue has been filed in the right place https://github.com/zio/izumi-reflect/issues/98 but I'd like to also link it here to:

- Help anyone else who also runs into this exception and comes here first to search for it
- Remind us to upgrade `izumi-reflect` dependency in the next release once the issue is resolved

It's a rather tough one to narrow down for non-contributors, and it has quite a

[2020-11-10 07:39] TimPigden opened #4392 "Inconsistent behaviour for under multiple invocations Streams.take"
If you call take(n) on a stream more than once you get different behaviour depending on how the stream was created, even though it has the same elements.
I presume it has something to do with chunking.
In the attached file (also scastie https://scastie.scala-lang.org/T9nFGGKwRlKsaAS84mvzZg) the stream is created from queues and from iterables and leads to quite different results

[StreamTakeTest.s

[2020-11-10 07:41] serrufSe opened #4393 "[zio-stream] Application with error exits successfully"
Hello. Application with error can successfully exit for grouped stream
[code]
If i do justFail for GroupBy.apply application exits as expected, but for broadcastAndFail application exits without error. Is it expected behaviour ?

[2020-11-10 13:04] jsfwa opened #4395 "High cpu utilization of Promise.await and app degradation over time"
Hello, this issue is a result of investigation of related problem in [https://github.com/zio/zio-kafka/issues/238](https://github.com/zio/zio-kafka/issues/238)

For some reason during continuous recreation of Promises inner state of each new Promise(after old one was already completed) slowly growing and start to consumes too much cpu time as a results significantly affects performance of entire a

[2020-11-11 11:35] hmemcpy commented on #3152
I'd like to work on this during the hackathon!

[2020-11-11 11:41] hmemcpy opened #4396 "ZIO Test: support streaming test output"
Currently the way ZIO test works is by running the suite and generating the report when finished. This causes any potential output during the test to be disconnected from context where it was run.

In the ZIO IntelliJ plugin I rely on events from the test runner (testStarted/testFinished). IntelliJ is smart enough to place any output (to console or otherwise) to be placed specifically in the conte

[2020-11-11 11:58] adamw opened #4397 "Release for Scala 3.0.0-M1"

[2020-11-12 15:08] simpadjo opened #4400 "Improve ZStream#ChunkN"
It know the result chunk size beforehand so could collect the data into an array-like structure.
Right now resulting chunk looks like that:

![dump](https://user-images.githubusercontent.com/5566453/98957315-54a18a80-2501-11eb-954b-69d5b886be7e.png)

[2020-11-13 14:52] aappddeevv commented on #4397
with scala.js

[2020-11-13 15:00] #4306 closed

[2020-11-13 18:36] iravid commented on #4395
Nice work investigating this @jsfwa. Looking into this now.

[2020-11-13 20:01] iravid commented on #4395
Having a hard time reproducing this locally with ZIO 1.0.3. Running the following entrypoint:
[code]

Results in pretty much constant CPU usage. Which JVM are you running this on?

[2020-11-13 21:10] iravid opened #4402 "Promise inefficiency when interrupting a joiner"
While investigating #4395, I realized that interrupting a joiner is `O(amount of joiners)`:
[code]

It would be interesting to see the impact of switching to a structure similar to `ZManaged.ReleaseMap`, where joiners are stored in a `LongMap`. Removal is then O(1) and the list reversal in `Promise#unsafeDone` can also be removed.

The downside is larger constant factors for all operations but tha

[2020-11-13 21:13] iravid commented on #4395
I did note #4402, though I don't yet understand how could that scenario (a very large amount of joiners on a promise) happen in this snippet.

[2020-11-14 13:45] jsfwa commented on #4395
Its even more frustrating, that you was not able to reproduce current problem, since we reproduce it in all our environments. But I have lot more details now.
In all cases we are using:
[code]

**First scenario**
1. When we using default zio setup(tracing enabled), we got growing of ~2k WeakHashMap items per hour, like:
[code]
 - Also cpu grows 4-6% per hour
 - Also amount of Pending promises grow

[2020-11-14 19:13] iravid commented on #4395
Hey @jsfwa - just to clarify, these graphs are from the zio-kafka program or the minimized snippet?

[2020-11-14 19:44] jsfwa commented on #4395
Visualvm from snippet, since I only can take a heap dump localy

All grafana cases from zio-kafka - simple consume/drain without business logic

[2020-11-14 20:17] iravid commented on #4395
@jsfwa Can you reach out on Discord? My username is `iravid`

[2020-11-17 09:11] fmeeuw commented on #2784
I would be very interested in an integration with diffx for ZIO test. Are there any plans for this?

[2020-11-17 14:58] frekw opened #4410 "Misleadning error when using mapError on an effect returning a tuple"
Both I and a colleague of mine have lost some hours to this the past week so I thought it might be worth bringing up.

[The following program](https://scastie.scala-lang.org/E4jIq1HpQ7Gi7dmRLqhwzA)

[code]
will fail to compile with `Pattern guards are only supported when the error type is a supertype of NoSuchElementException. However, your effect has Playground.Err for the error type.`

Not sure

[2020-11-18 02:10] aappddeevv commented on #4397
Thanks @Lvitaly. When I started drilling down I became concerned that there were specific dotty issues still outstanding for reflect but I'm hoping I was wrong and your issue covers the entire punchlist.

[2020-11-18 19:44] svroonland commented on #4300
I took a brief look into this and it looks to be a problem with the test, though I failed to reproduce it with the original test code.

The finalizer for a ZManaged is only supposed to be called when acquire was actually executed right? The way the test is written, that is not guaranteed. Also the test does not discriminate between the situation where reserve was not executed or the situation that

[2020-11-19 00:46] neko-kai commented on #3816
@tgroehl

There's a fairly involved piece of logic, `TagMacro`, in izumi-reflect that takes care of combining available `: Tag` evidences into types at runtime, by recursively doing implicit lookups for type parameters encountered in the type structure.

This `TagMacro` simply does not exist for the dotty version, so until it's added the tag evidences will not be combined in Dotty. (Also dotty ver

[2020-11-19 10:48] hmemcpy opened #4414 "NPE in zio-test while rendering a Cause"
I've been getting *occasional* failures in CI with the following error:

[code]

Rerunning the test makes it pass. I can't reproduce it consistently and I don't yet know what might be causing it - but this is a test that reads a text file from resources using `Source.fromResource`.

Upon initial glance the failing line in ZIO is:
https://github.com/zio/zio/blob/0be5bb0265ff91983e761203d720047b21bd

[2020-11-19 15:07] pettermachado commented on #3115
@ragb I worked around this by creating an optional "fake" expectation without parameters.

[code]

Setting up my testing environment can then be done like
[code]

Calling anything on the mocked service will result in an error.

[2020-11-19 18:09] sideeffffect commented on #2962
Btw here's the PR where I attempted to implement this https://github.com/zio/zio/pull/1564

[2020-11-20 23:53] lmserrano commented on #4347
I'll look into this.

[2020-11-21 01:14] lmserrano opened #4417 "ZIO project build failing - "qa.hedgehog\hedgehog-core" dependency not found"
About 2 days ago there was [a commit](https://github.com/zio/zio/commit/0be5bb0265ff91983e761203d720047b21bdb042) bumping `qa.hedgehog\hedgehog-core` dependency version from `0.5.1` to `0.6.0`. However, this version does not seem to be currently available on [mavenrepository](https://mvnrepository.com/artifact/qa.hedgehog/hedgehog-core).

Currently I am unable to build the project due to this depe

[2020-11-21 08:24] vigoo commented on #4402
I'll take this just need one more ☕

[2020-11-21 18:47] mijicd commented on #4417
This should be fixed in https://github.com/zio/zio/pull/4419. Please double-check.

[2020-11-21 18:52] lmserrano commented on #4417
I confirm @mijicd . Although that issue is not initially related with this, the person working on it added this fix as part of the resolution.

[2020-11-21 19:06] mijicd commented on #4417
That's also true :). Can we close this issue, or any further action is needed?

[2020-11-21 19:18] lmserrano commented on #4417
Closed, @mijicd

[2020-11-21 19:18] #4417 closed

[2020-11-21 20:19] lemastero opened #4426 "zio-test More flexible laws testing"
https://github.com/zio/zio-prelude/issues/361 require support for `F[_,_,_]`. Couple of times people complained that it is hard to base their own libraries on zio-prelude becausezio-test laws support is hard.

Once I was able to get a generic approach to laws testing using Hedgehog: https://github.com/lemastero/svarog/blob/master/src/main/scala/svarog/universal_algebra/EquationalLaws.scala Maybe s

[2020-11-21 20:29] adamgfraser commented on #4426
I think maybe part of the problem here is we are trying to do something more than other test frameworks in terms of supporting laws for higher kinded types in a generic way. The laws in the link all relate to concrete types, so we can describe like a law that integer addition is associative or that the monad laws hold for lists of integers. That can be supported today quite easily in ZIO Test.

Wh

[2020-11-22 00:39] hmemcpy commented on #4347
Yes! This will be a great addition, so I can render ignored tests in the IntelliJ test runner as well! 🙏

[2020-11-22 17:19] brightonk opened #4433 "Project loom and ZIO"
Project loom is on its way to provide unlimited non-blocking threads. How is project loom going to impact ZIO? Do we have a sand box to start testing ZIO with project loom?

[2020-11-22 17:40] domdorn commented on #780
I just made this and its working for me.. as I'm new to ZIO it might have some problems?
[code]

I can use it like this in my code:
[code]

[2020-11-22 18:47] timrourke opened #4435 "JVM ZIO tests exceeded 10 minute timeout for Scala 2.12 on JDK 11"
https://app.circleci.com/pipelines/github/zio/zio/9454/workflows/cabeca3b-2843-4126-a60d-d4e7cec562fd/jobs/96680

Ran into this timeout issue during an unrelated build for some documentation changes. I don't see any individual test suites taking longer than a minute to complete, so I wonder if the issue here is just building the container in CircleCI. Just speculation.

[2020-11-22 18:50] timrourke opened #4436 "Flaky test for ZQueue?"
[code]

https://app.circleci.com/pipelines/github/zio/zio/9454/workflows/cabeca3b-2843-4126-a60d-d4e7cec562fd/jobs/96677/steps

This test failed for the CircleCI build for JVM tests for Scala 2.12 on JDK8. Not sure what the issue is, haven't explored.

[2020-11-22 18:51] timrourke commented on #4436
Er, I should note that this test passed after someone reran the CircleCI build for me. I was working on a PR to update documentation that wasn't related to this test failure, so I suspect this might just be a flaky test. https://github.com/zio/zio/pull/4431

[2020-11-22 19:18] domdorn commented on #780
so I've thought a little bit more about this.
If we'd role our own subclass of BufferedReader and add a callback here (see screenshot line 189), we could make the whole thing non-blocking without calls to sleep or any other active polling.
<img width="674" alt="grafik" src="https://user-images.githubusercontent.com/100349/99914745-c1860300-2cff-11eb-82ce-1ce4c91b2e5f.png">

[2020-11-23 03:10] domartynov opened #4438 "Chunk.head throws NoSuchMethodException"
[code]
throws:
[code]

[2020-11-23 04:10] quelgar commented on #780
A `FileInputStream`s channel is only instantiated if requested. Actually requesting the channel of `System.in` requires shenanigans like what JRuby is doing, so I'd expect that under normal conditions `System.in` wouldn't have a channel allocated.

One possibility is to try the reflection hack to get the `System.in` channel, and if that fails due to JVM differences or whatever, fallback to making

[2020-11-23 09:06] atooni commented on #4438
FYI: I have seen the same error when I was working on ZMX. It seems that with ZIO 1.0.1 it works, while the error is thrown after bumping the ZIO version to 1.0.3. Might help to narrow it down

[2020-11-23 14:48] sideeffffect commented on #4397
This can be closed because of https://github.com/zio/zio/pull/4425

[2020-11-23 15:00] #4397 closed

[2020-11-23 15:05] sideeffffect commented on #4397
Can we expect 1.0.4 (i.e. supporting Scala 3.0.0-M1) anytime soon?

[2020-11-24 04:24] #4347 closed

[2020-11-24 10:26] jypma commented on #3405
Is there a more specific link on how to achieve this with ZIO Prelude?

[2020-11-24 20:18] #4438 closed

[2020-11-25 10:46] Marc-Ducret opened #4452 "ZIO App does not exit on OutOfMemoryError"
The following program:
[code]
with the following dependencies versions:
[code]
produces the following output:
[code]
(and keeps going)

I would expect all fibers to be interrupted when such a fatal error occurs.

[2020-11-25 18:25] adamgfraser commented on #4452
I'm not sure this behavior is incorrect. When a fatal error occurs the system is in an undefined state and normally the best we can do is fail fast versus trying to do more work attempting to shut down gracefully that will itself use memory, which we just said we don't have any of.

[2020-11-26 05:31] adamgfraser commented on #4414
@hmemcpy I think this may be related to #4384.

[2020-11-26 06:21] adamgfraser commented on #4363
@tusharmath I understand this can be somewhat counterintuitive but as you say it follows from the fact that the `acquire` action of a `ZManaged` is normally uninterruptible.

There are a couple of ways you can do this. First, there is a specialized `forkManaged` operator that already takes care of this for you. Second, you can do `ZManaged.makeInterruptible(program.fork)(_.interrupt)`, which will

[2020-11-26 06:53] #4436 closed

[2020-11-26 09:10] Marc-Ducret commented on #4452
Here there is no shutdown at all, the program and in particular the fiber that prints "pouf" keeps running forever.

[2020-11-26 09:55] tusharmath commented on #4363
IMHO we should keep everything "interruptible" by default (which is true in most cases, except here), and that's why it seems counterintuitive at first.

But I also agree, that there is a case to be made especially for ZManaged, where "acquire" action needs to be uninterruptible in most cases.

I guess this is more of a "Learning how to use the library" kind of thing.

Also building a better intui

[2020-11-26 09:55] #4363 closed

[2020-11-26 10:16] jsfwa opened #4457 "Promise.await not always interrupting properly"
During research of the previous problem https://github.com/zio/zio/issues/4395 find out that we have a probability to not properly cancel `await` in https://github.com/zio/zio/blob/master/streams/shared/src/main/scala/zio/stream/ZStream.scala#L1981
[code]
Here is simple reproducible scenario, the faster you create & interrupt fibers, the more chance that Canceler will not get fired
[code]

After d

[2020-11-26 12:47] hmemcpy commented on #3152
@davidpdrsn sorry for the delay, but your request,

Is addressed by @dkarlinsky's work on #4427, which is also the basis of my own PR for the file/line numbers.

Hopefully coming soon :)

[2020-11-26 13:33] davidpdrsn commented on #3152
I'm sorry but I can't answer that. I have moved jobs and don't work with Scala anymore. Feel free to ignore that I wrote earlier.

[2020-11-26 13:35] hmemcpy commented on #3152
Oh, well if you return to Scala there will be nice helpful error messages waiting for you :)

[2020-11-26 19:41] cornerman opened #4460 "Bundle-size in scala-js"
I want to build a frontend application with `zio`, but I have realized that it contributes quite a lot to the bundle-size. I have made a very simple hello-world script that only does `println("hello")` and nothing else.

Looking at the results of `fastOptJS` and `fullOptJS`, I get the following results.

Without dependencies:
[code]

With zio:
[code]

I thought the `scala-java-time` dependency mig

[2020-11-26 20:07] domdorn opened #4461 "Improve interop with Java from Java-Side"
Provide ways for calling a method returning a ZIO-Effect and transforming that to a Java CompletionStage / CompletableFuture FROM Java Code.

E.g. a helper like
[code]

This helps migration efforts in code bases that still have some Java Code (e.g. Spring controllers) but are ready to migrate their services to ZIO-Effects.

Unfortunately code like this is necessary, as `zio.Runtime.default.unsafeR

[2020-11-26 21:01] adamgfraser commented on #4461
@domdorn I believe we already have `toCompletableFuture` implemented [here](https://github.com/zio/zio/blob/4065359c496f77617ec071179b4ecb9861d12f44/core/jvm/src/main/scala/zio/ZIOPlatformSpecific.scala#L26).

[2020-11-26 21:02] adamgfraser commented on #4457
I am looking into this.

[2020-11-26 21:18] jsfwa commented on #4457
I added FiberDescription to Promise and for all joiners, that haven't cleaned up we have:
[code]

[2020-11-26 22:05] domdorn commented on #4461
The problem is, I cannot call this code in Java as I'm unable to construct the evidence parameter.
![grafik](https://user-images.githubusercontent.com/100349/100393967-c1597080-303b-11eb-9b64-9a5180f906da.png)

[2020-11-26 22:06] domdorn commented on #4461
and I'm also unable to call the default runtime (which I would need to "materialize" the effect into a CompletableFuture) as default is a reserved keyword in java:
![grafik](https://user-images.githubusercontent.com/100349/100394048-054c7580-303c-11eb-9270-16f3a60e56dd.png)

[2020-11-28 00:05] GratefulTony opened #4463 "Confused by ZStream.groupWithin"
Hello,
I am attempting to use ZStream.groupWithin to put event streams into windows of either some set time width, or maximum number of elements.

When attempting to use the groupwithin method of the zstream, I notice that the API appears to be using the `within` parameter as a timeout since most recent element rather than a timeout since the first element added to the window for signalling downst

[2020-11-28 04:07] domartynov opened #4465 "Add `unfold` to `zio.Chunk`"

[2020-11-28 04:59] nadenf opened #4466 "@accessible generates incorrect code when implicits present"
So I have a Logger module which looks like this:

[code]

Which gets translated to:
[code]
When I try to use this module it is rendered in IntelliJ as follows:

<img width="398" alt="Screen Shot 2020-11-28 at 3 27 21 pm" src="https://user-images.githubusercontent.com/657041/100494122-abaa8f00-3192-11eb-846f-a7469c06c926.png">

The issue seems to be that when an existing implicit group is present i

[2020-11-29 22:31] hollinwilkins commented on #4259
I am very interested in this. Here is some similar work for applying aspects to ZLayer for building services with different aspects applied to them (tracing, logging, etc):

https://gist.github.com/hollinwilkins/02c301a8743b437fe49ea57711d188d3

This aspect for ZLayer could be extended to modify the error type as well ^^^. I found it useful for ZLayers to be able to add constraints on the `A` outp

[2020-12-01 04:39] adamgfraser commented on #4465
@domartynov Just submitted a PR to add this.

[2020-12-01 04:42] adamgfraser commented on #4461
@domdorn Ah, got it. Yes would definitely be good to add something to support this.

[2020-12-01 09:03] jp-lopez commented on #4410
I have the same problem. Any solution without the Throwable hack?

[2020-12-01 09:13] senia-psm opened #4472 "ProxyFactory is not thread safe"
Proxy factory can miss successful calls to mocked methods if methods are called in parallel.

This test succeeds (so both methods are called successfully), note `atMost`:
[code]

This one (without `atMost`) fails on expectations check, so one successful call is missed:
[code]

[code]

See [zio-test-issue-4472](https://github.com/senia-psm/zio-test-issue-4472) for reproducible example.

I believe t

[2020-12-01 09:24] senia-psm commented on #4472
Obvious solution is to add a `Semaphore` into `MockState` and execute `get/set` pair with permit, though I'm not sure if it breaks anything else (or even creates a deadlocks).

[2020-12-01 12:06] jypma commented on #4472
Looking at [`findMatching`](https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/mock/internal/ProxyFactory.scala#L39), I can't seem to see why it returns `UIO[Matched[R, E, A]]` and not just `Matched[R, E, A]`. It might be just for error handling, in which case we could consider using `Either`.

If `findMatching` is indeed a non-IO function, we could just use `.modify` or `.

[2020-12-01 20:50] afsalthaj opened #4475 "Could we have DeriveGen instances for Refined types through a module zio-test-magnolia-refined?"
Refined library has been quite big in defining data types in applications.
[code]

Is there already a module integration giving the DeriveGen instances for these types? If not, can we have one such module as part of ZIO?  I can work on this if the issue makes sense.

The feature is going to be immediately useful for `zio-config-refined`.

The only issue that I can see here is we need to keep updat

[2020-12-01 21:09] jsfwa commented on #4457
Okay, I found the race condition
In FiberContext all stacks are mutable and not threadsafe, when we call `evaluateLater` there is a chance that two functions `evaluateNow` will work at the same time and all kind of magic will possibly happen there

Right now I just added synchronized on `evaluateNow` and it fixed my problem, but personally suggest to refactor `evaluateLater` to push effect on stac

[2020-12-02 11:42] domdorn opened #4477 "Feature-Request: add .map() to Has"
I have a code like
[code]

it would be way nicer, if I could write
[code]

[2020-12-02 11:48] jaliss commented on #4012
@adamgfraser @sideeffffect do we still need this? It seems there was an attempt at implementing it in #4179 but the PR was closed.

[2020-12-02 14:20] joprice commented on #4477
You can use project

[code]

[2020-12-02 17:09] Marc-Ducret commented on #4452
If you confirm that it is intended behavior for a ZIO program to **not** exit when a fiber encounters a OutOfMemoryError, then I guess this issue can be closed.

Intended or not, if anyone else want a different behavior, it can be achieved easily doing by overriding the platform field of your `zio.App`:
[code]

[2020-12-03 02:24] domartynov opened #4479 "Escape strings in the equalTo assertion"
No way to figure out the failure in this case:
[code]
In Python, the standard `unittest` reports:
[code]

[2020-12-03 02:42] domartynov opened #4480 "Better report equalTo assertion errors for lists"
[code]
produces
[code]
For example, `unittest` in Python reports a similar assertion error like:
[code]

Along with #4479, I'm still trying to understand how it works in `zio-test`, but it seems while FP-style composition of tests/suits and asserts is nice, assertion errors reporting is yet to be address.

[2020-12-03 09:08] Fristi commented on #4480
I think it's related to #2784, we were also wondering if there are currently any efforts to make this a better experience? If not, what direction we would like to take on this?

[2020-12-03 09:08] Fristi opened #4481 "TestRandom.deterministic"
Is there any reason that `TestRandom` is set to `deterministic` in https://github.com/zio/zio/blob/master/test/jvm/src/main/scala/zio/test/PlatformSpecific.scala#L46 ? This rersults that every suite you run which uses zio-test generators will be set up with the same seed for generators, resulting in the same value. Might be useful, but in our case it's better to have it set a random

[2020-12-03 23:20] #4465 closed

[2020-12-03 23:26] adamgfraser commented on #4481
@Fristi It makes tests reproducible so you get the same results for your test whether you run it again, add another test, or change the order of your tests. There is definitely a trade-off here between reproducibility and sampling a larger part of the total space of generated values by repeatedly running a test with a nondeterministic seed. We felt like this was the best default but if you want th

[2020-12-03 23:29] adamgfraser commented on #4477
Yes, that is right. We can't add a `map` method to `Has` because we don't have a way to describe removing a service from the `Has` map and preserve type information on that. What we can implement is the `project` operator on `ZLayer` which extracts a single value from the `Has` map, transformers it with a specified function, and wraps that up in a new `Has` value.

[2020-12-03 23:31] adamgfraser commented on #4475
@afsalthaj I think that would be great. We already have support for Magnolia so I think if we are going to have other libraries in the ZIO ecosystem provide support for that then it makes sense for ZIO Test to as well. If you want to work on that would be fantastic and happy to help in any way I can!

[2020-12-04 06:20] afsalthaj commented on #4475
Thank @adamgfraser

Yes. I can work on this.

I think the only concern here is ensuring all Refine (NonEmpty, GreaterThan etc) have instances of DeriveGen, and keep up with the changes that happen in Refined.

[2020-12-04 12:48] Fristi commented on #4481
That sounds very reasonable! Couldn't find it in the docs, if it's not there shall I document this?

[2020-12-04 13:56] adamgfraser commented on #4481
@Fristi That would be great!

[2020-12-05 00:40] sideeffffect commented on #4012
IIRC, it turned out to be impossible endeavor, because of the use of `Set[Cause[E]]` which uses the `.equals` method anyway.
Maybe it would be possible, if the whole thing was re-architected to not use `Set[Cause[E]]`, but I'm not sure if that would be desirable, let alone viable.

[2020-12-06 11:34] isaias-b opened #4488 "`grouped` and `collectAllN` don't produce maximum sized chunks"
Currently `grouped` doesn't produce maximum sized chunks even if enough elements are available on the stream.

Consider the following piece of code where its intent is to produce values in a steady flow of 2000 value chunks for every 250 milliseconds:
[code]

**Current output:**
[code]

**Expected output:**
[code]

After following the implementation of the `grouped` function it became apparent tha

[2020-12-07 16:43] jeubank12 opened #4489 "ZStream in ZLayer.fromManaged"
Following the zio.dev resource https://medium.com/@svroonland/processing-zio-effects-through-a-pipeline-c469e28dff62 this seems like the most basic implementation of a background stream.
https://gist.githubusercontent.com/svroonland/c66c1eb93d7724c80eeb7ca665032ed4/raw/eb22f3c9edd2508dba05a6eccb0675367afe4a4e/Pipeline.scala

Extending the example and putting it into a ZLayer (via ZLayer.fromManage

[2020-12-07 18:05] jeubank12 commented on #4489
As an attempt to determine whether the stream or the ZLayer is at fault, I modified the ZStream creation as follows:
[code]

The stream exits after completing the first item from the merged stream, leading me to suspect the Layer management causing the stream to close early

[2020-12-07 18:31] jeubank12 commented on #4489
For complete context, this is running on http4s BlazeServer

[2020-12-07 18:41] adamgfraser commented on #4489
@jeubank12 I will take a look at this later today.

[2020-12-07 20:04] jeubank12 commented on #4489
I was able to change `.forkManaged` to `.forkDaemon.toManaged_` and it keeps the stream open. I do not know what the cleanup looks like at this time because sbt just kills the jvm instead of shutting down in my current configuration

[2020-12-08 06:56] lukeknxt opened #4493 "Tests aren't discovered if spec is a class"
### Steps to reproduce
1. Create a class extending `DefaultRunnableSpec` and implement `spec`
2. Ensure test framework is setup in project settings
3. Try to run tests

### Result
- No tests are run
[code]

### Expected result
- Test suites are discovered

### Observation
- It seems that the spec has to be an `object` rather than a `class`. I was converting from ScalaTest so I got caught by this a

[2020-12-08 16:45] thesamet opened #4494 "Stream.fromQueue and binary compatiblity"
In #4205 the signature of fromQueue was extended to include a default argument. This [apparently causes](scalapb/zio-grpc#172) a binary compatibility between 1.0.x versions of ZIO. A possible solution would be to add a new overloaded method that takes one parameter and delegates to one that takes two parameters.

[2020-12-08 19:50] e-Evolution opened #4495 "ZIO Macro @accessor only generates the accessors methods to the methods declared in the service, if you extend from the a trait parent does not work, only work with the methods declared locally in the service"
ZIO Macro  @accessor only generates the accessors methods to the methods declared in the service, if you extend from the a trait parent does not work, only work with the methods declared locally in the service:

Example

[code]

the tag @accessible does not generate the accessors methods when the trait is extend from parent trait API.

Is it possible for @accessible to generate the methods even if

[2020-12-08 22:42] hmemcpy commented on #4493
The technical reason they have to be an `object` is that `DefaultRunnableSpec` is a `main` app - when you extend it, you get the ability to run it as if it were a regular command-line app, and with the [ZIO IntelliJ Plugin](https://plugins.jetbrains.com/plugin/13820-zio-for-intellij) you can run it straight from the IDE.

But I agree, this should probably be mentioned in the docs, although most (a

[2020-12-09 02:31] lukeknoot commented on #4493
That makes sense.

Yeah I guess for most people creating the tests from scratch it shouldn't be a problem. I already had a class so I suppose it wasn't what I was focusing on changing given everything else I had to do to go from ScalaTest -> ZIO testing.

A doc update would probably suffice if anything.

[2020-12-09 18:11] faradaym commented on #2271
I would like to try adding a few methods!

[2020-12-11 04:59] faradaym commented on #2271
Here is some updated information on this issue, quoted from adamgfraser in the discord:

For further consideration when working on this issue, see #3385 which discusses the possibility of changing `Chunk` to no longer extend `IndexedSeq` .

I will not be working on this issue, so it's free for someone else to try!

[2020-12-11 23:32] caeus opened #4500 "fork.toManaged(_.interrupt) never exits."
The following snippet of code never stops printing "Hello"
[code]
However, the following one, does stop
[code]

Why?

[2020-12-11 23:45] adamgfraser commented on #4500
@caeus `toManaged` treats the effect as the `acquire` action of a `ZManaged`, which is not uninterruptible. Therefore, the fiber is forked in an uninterruptible region and is also uninterruptible and so when the `release` action of the `ZManaged` attempts to interrupt it after performing the `use` action it suspends indefinitely. Your second example also suspends indefinitely when I run it on `mas

[2020-12-12 00:50] caeus commented on #4500
Is there a way to interrupt a fiber in the release, that doesn't suspend indefinitely?

[2020-12-12 14:50] adamgfraser commented on #4500
If you just don't want to wait for interruption to complete you can fork the interruption (e.g. `fiber.interrupt.fork`). The better solution is to not make the forking uninterruptible if you intend to interrupt it. For example `ZManaged.makeInterruptible(effect.fork)(_.interrupt)`.

[2020-12-14 03:26] #4457 closed

[2020-12-15 00:24] #4500 closed

[2020-12-15 00:29] caeus opened #4503 "If the first layer, of multiple layers combined with >+>, fails, prettyPrinting the cause, takes TOO long."
I have a piece of code like this
[code]
Lots of layers. Yep. If ConfigProvider.live layer fails, the app may take several minutes, or even fail with an `OutOfMemoryError`.

How to deal with that?

[2020-12-16 07:53] adamgfraser commented on #4503
Which ZIO version are you on?

[2020-12-18 13:28] narma commented on #4488
Hello @isaias-b
I can't reproduce the issue, always see *Expected output*
Have tested with zio 1.0.3 and 1.0.3+109-1eb105b9-SNAPSHOT, with JDK 11, 8, 15 and scala 2.12.12 and 2.13.4.

Can you provide more details about how to reproduce it?

[2020-12-19 03:25] reibitto opened #4512 "Higher arity versions for ZIO.mapN, ZIO.tupled, etc."
There are a few of these tuple functions that stop around an arity of 4 or 6. It's time consuming to write all the variations up to the 22-limit by hand, but maybe we could use a generator like [sbt-boilerplate](https://github.com/sbt/sbt-boilerplate)?

[2020-12-19 09:18] reibitto opened #4513 "Possble additional *OrFail variants?"
I often run into return types like `Task[Boolean]` and find myself wanting a combinator to make dealing with booleans easier and read clearer. Like for methods defined as such:

[code]

There's `filterOrFail` but that's a little awkward for this particular case I think.

I sometimes end up writing code like this:

[code]

As an idea, how about `trueOrFail` (like `someOrFail`) so that it could be w

[2020-12-20 14:06] axaluss commented on #3427
There is also the layer composition error messages which can be very long lists of things that are expected vs what was given.
Is there a way to create a delta list of things that are missing?

[2020-12-20 21:22] ex0ns commented on #3115
This is actually a pretty nice approach to this issue, and it does not require any changes in ZIO.
@adamgfraser what do you think of this solution ?

[2020-12-21 08:59] esthomw commented on #3115
@ex0ns @pettermachado It would be great to document it in ZIO `Mock services` section. I think this could also be provided in `Mock` instances.

[2020-12-21 16:21] mjaghouri opened #4514 "With two `mapMPar`s in a row, possible to lose an error"
Code to reproduce:
[code]

If you run above code, you see `OK` printed a couple of times but at some point you get an InterruptedException instead.
It seems like the parent thread catches the exception from the child (the assertion error in this case) and decides to stop other children. As a result some children throw InterruptedException and sometimes that is bubbled up instead of the root cause,

[2020-12-23 09:46] poslegm commented on #3115
Hello! Do you need some help here? I really need this feature too and I can make an effort to release it.

[2020-12-23 15:56] jdegoes opened #4518 "ZIO Test: Add new spec type"
To provide a more "flat" style and without any commas, it would be nice to define a mutable spec, supporting the following syntax:

[code]

This would be accomplished by defining `suite` and `test` and `testM` methods directly inside `MutableRunnableSpec`, which would mutably append to a data structure, which would be materialized when the `def spec` of the parent runnable spec is called.

In orde

[2020-12-23 15:58] jdegoes opened #4519 "ZIO Test: Share layers across specs"
Currently layers can only be shared within a spec. There is no ability to share layers across specs. To support this, a spec should be able to have a public ZLayer that indicates its dependencies. Then the SBT spec runner needs to be able to detect duplicate layers (i.e. layers with the same identity) and share them across executions of the specs.

[2020-12-23 16:04] jdegoes opened #4520 "ZIO Test: Solve the `test` conflict with `zio.test`"
Currently it's a source of frustration that if one has imported `zio._`, one automatically gets `test` as a top-level package. Then if one wishes to write a pure test using the `test` function, it becomes impossible without qualification because of the name clash between the `test` package and the `test` function.

There are several ways to solve this:

1. Rename `test` function so that it has ano

[2020-12-23 16:06] jdegoes commented on #4493
Yes, we should document the fact that all specs should be an object, not a class. ScalaTest, e.g., doesn't really care.

[2020-12-23 16:14] fokot commented on #4518
I will take this

[2020-12-23 16:57] jdegoes commented on #4489
@adamgfraser This is probably auto-supervision kicking in somewhere, maybe implying we're not using the transplant/grafting machinery everywhere.

[2020-12-23 16:58] adamgfraser commented on #4489
@jdegoes Will take a look at this.

[2020-12-27 21:44] domartynov opened #4524 "Add `Chunk.fromIterator` or `Chunk.fromIterableOnce`"
There is `ChunkLike.from`, but I think it has a discoverability issue.

[2020-12-29 18:09] adamgfraser commented on #4489
@jeubank12 I took a look at this and with the following example the behavior seems to be correct with the the stream created within the layer not being terminated until the layer is released. I also looked through the code in `ZLayer` and did not notice any forking of fibers that would potentially be problematic. Do you have a small example like this that reproduces what you are seeing so we can t

[2020-12-30 09:16] dkarlinsky opened #4528 "Support mirroring FiberRef contents to ThreadLocal"
It would be really useful for `FiberRef` contents to be mirrored to non-zio infra (outside of our control) backed by `ThreadLocal`s.
For example, when using NewRelic and it's [Tokens](https://docs.newrelic.com/docs/agents/java-agent/async-instrumentation/java-agent-api-asynchronous-applications#tokens) to connect async flows to what they call a transaction (think an incoming request).
In this case

[2021-01-02 01:39] domartynov opened #4530 "ZIO Test: allow run @@ ignore tests"
When `@@ ignore` is used to mark an integration test (see [sample](https://github.com/zio/zio-cli/pull/76/files#diff-058ad5c887028233aa7521c6a5d8f8bf5ea7fd94da62fed0c033effa4f2eb501R38-R39)), is there a way to run the test (without removing `@@ ignore`)?

If not, can we add somthing like `-ri` or/and `--runIgnored` to `zio.test.TestArgs`, so `zio.test.FilteredSpec` removes `TestAnnotation.ignored`

[2021-01-02 23:23] a14e commented on #1082
@neko-kai  can you reopen discussion about `always catch defects`? (i cant find it in interop-cats :-( )

I have full Tagless Final application and I can't recover from unexpected errors within it =(

[2021-01-03 17:31] dkarlinsky commented on #4520
Adding test method to AbstractRunnableSpec seems to do the trick.
class/object member `test` shadows `test` package (and `test.test`)

[2021-01-06 00:52] adamgfraser commented on #4530
I think a more extensible way to achieve this might be through the use of tags. We already support tags for tests, so for example you can do `@@ tag("integration")` and then do `testOnly FooSpec -- -tags "integration". I think the only thing we are missing right now is support for a "not" command line operator so you could run all tests except integration tests normally and then run all tests incl

[2021-01-06 03:11] jjkv commented on #3203
hi, is this still up for grabs? i've been motivated to get involved with contributing to zio and this seems like a good first issue for me

[2021-01-06 04:28] domartynov commented on #4530
I agree, how about to extend with a minus-tag, so in my case I can add `Test / testOptions += Tests.Argument("-tags", "it")` to `build.sbt` and use `@@ tag("it") to mark tests? (with last tag wins semantics, to be able to override build-level options with the command args)

But it does not solve the `@@ ignore` case. Today, i can mark tests with ignore, so they're skipped. If i have a GUI which li

[2021-01-06 11:57] arnoldlacko commented on #4387
I would like to take care of this one.

[2021-01-06 20:26] neko-kai commented on #3203
@jjkv By all means, go ahead 👍

[2021-01-07 00:02] caeus commented on #4503
1.0.3 scala 2.13

[2021-01-08 03:48] #4472 closed

[2021-01-08 04:16] jdegoes opened #4541 "ZIO Test: Simplify Assertion"
The original intention behind `Assertion` is that we could achieve a nice rendered output message for failed assertions in a compositional way, without macros. However, given that Scala 3 macros are solidified and we are now using macros extensively across a number of ZIO projects, I think it makes sense to go "all-in" on macros, and simplify `Assertion`.

We can do away with the predicate renderi

[2021-01-08 09:16] senia-psm commented on #4410
@jp-lopez `for { (a, b) <- ... }` compiles to `withFilter`. It's fixed in scala 3, but in scala 2.x you can use this workaround:
[code]

[2021-01-08 10:29] senia-psm commented on #4255
`foreachPar` should be fixed here: #4539

[2021-01-08 19:34] adamgfraser commented on #4255
@senia-psm Can we close this issue now or other there other aspects to this that aren't resolved by your PR?

[2021-01-08 20:24] senia-psm commented on #4255
@adamgfraser I don't know how to reproduce the first part ("test hangs and no error message is printed"). And I believe my PR can't fix such issue.

[2021-01-08 21:44] #4524 closed

[2021-01-08 21:57] neko-kai commented on #1082
@a14e
I have opened an issue for that https://github.com/zio/interop-cats/issues/277

However, another way to solve your issue would be to migrate form to bifunctor-aware Tagless Final. using bifunctor typeclasses aware of defects you'd be able to catch them. e.g. [BIO](https://izumi.7mind.io/bio/) typeclasses are compatible with cats-effect, so you can migrate pretty easily by adding `import izum

[2021-01-09 09:51] erikvanoosten commented on #4255
I can probably reproduce the problem. How can I get updated jars?

[2021-01-10 00:07] senia-psm commented on #4255
@erikvanoosten you can try something like this:
[code]

[2021-01-11 08:16] erikvanoosten commented on #4255
Progress! My tests no longer hang.

However, there is a new problem. The test where a lot of stuff happens in parallel reports `unsatisfied expectations in any order`. The list of unsatisfied expectations changes every run! Also, simple logging confirms that the mocks are in fact invoked with the correct parameters (which is what you'd expect because with `foreachParN(1)` instead of `foreachPar` e

[2021-01-11 08:21] senia-psm commented on #4255
@erikvanoosten could you please create a minimal reproducer? Something like this: https://github.com/senia-psm/zio-test-issue-4472 or this: https://github.com/senia-psm/zio/blob/90c5d1ed24c5b8bb0c1c93f07a41d55d4e032756/test-tests/shared/src/test/scala/zio/test/mock/ParallelMockSpec.scala

[2021-01-11 16:06] erikvanoosten commented on #4255
It took some time, but here is a failing (parallel) and succeeding test (sequential): https://github.com/erikvanoosten/zio-test-issue-4255

[2021-01-11 16:20] dkarlinsky commented on #4541
@jdegoes, Do you mean just have `assert[A](value: A)(assertion: A => Boolean)`, and capture `value` and `assertion` expressions' source using a macro?

[2021-01-11 18:35] senia-psm commented on #4255
@erikvanoosten it seems like version `1.0.3+118-51b5bbe0-SNAPSHOT` is too old. I published `zio` locally (with `sbt +publishLocal`) and tested you code with local version - both tests are green.

[2021-01-11 18:42] erikvanoosten commented on #4255
That is very good news! Let's close this issue then.

[2021-01-11 18:42] #4255 closed

[2021-01-12 19:55] runtologist opened #4550 "ZIO Clock should provide microsecond precision"
Since JDK9, JVM supports microsecond precision timestamps in `java.time`. `zio.clock` uses `System.currentTimeMillis` and hence is limited to millisecond precision. If ZIO `Clock` was implemented on top of `java.time.Instant`, it would automatically use the precision available on the current platform. As we require at least JDK8, `java.time` is always available on the JVM.

Motivation: The current

[2021-01-12 19:55] runtologist commented on #4550
I'll submit a PR.

[2021-01-13 06:35] tusharmath opened #4553 "Bug: ZIO.race not interrupting"
**Code**
[code]

**Expected**
The program should return an `Exit.Failure(1)`

**Actual:**
The program continues to run indefinitely.

**Version:** `1.0.3`

[2021-01-13 23:13] adamgfraser commented on #4553
I know there was some discussion on Discord about this but just to close the loop.

`race` not terminating here is expected behavior because race returns the first effect to succeed, waiting for the second effect if the first one fails. So in the example above after the left hand side fails it waits for a result from the right hand side, which never completes. I think this is relatively long stand

[2021-01-13 23:14] adamgfraser commented on #4520
Closed by #4532.

[2021-01-13 23:14] #4520 closed

[2021-01-14 02:03] #4553 closed

[2021-01-14 02:05] tusharmath commented on #4553
Thanks @adamgfraser! I will close this issue.

[2021-01-14 22:31] dwlizlo opened #4555 "filterOrFailMessage"
The **filterOrDieMessage** is easier to use, but it's more dangerous as it kills the fiber.

Perhaps we should have similar method for failing? It could use RuntimeException (similar to filterOrDieMessage), good alternative for people who don't really care about failure type.

WDYT?

[2021-01-16 15:23] hmemcpy commented on #4518
Thanks so much for this! I'll add support for it in the IntelliJ plugin and it will make my teammates happy 👍

One question: can top-level tests be added without suite?

[2021-01-16 15:33] jdegoes commented on #4518
Yes, no need for top-level suites. By default there is a top-level suite that has the same name as the spec object.

[2021-01-16 15:33] hmemcpy commented on #4518
Excellent! Thank you!

[2021-01-16 15:40] hmemcpy commented on #4518
Also I think this issue can be closed?

[2021-01-16 16:23] #4518 closed

[2021-01-18 20:38] vigoo opened #4564 "Issue with ZLayer/Has on Scala 3"
This issue came up while trying to compile zio-logging for Scala 3.0.0-M3.
Small test to reproduce:

[code]

fails with

[code]

Works without problem with 2.13

[2021-01-18 20:44] neko-kai commented on #4564
@vigoo
Try changing `testSecondLayer` signature to
[code]
See https://github.com/zio/izumi-reflect/issues/103, polymorphic usages of Tags are not implemented yet for Scala 3

[2021-01-18 20:58] vigoo commented on #4564
Thanks! I was not aware that it's not implemented yet.

[2021-01-19 12:39] #3152 closed

[2021-01-20 05:34] virusdave commented on #4391
Any word on this?  It's pretty debilitating.  :(

[2021-01-20 06:47] #4550 closed

[2021-01-20 09:45] neko-kai commented on #4391
@virusdave If you could make a standalone reproduction of the issue that does not resolve after setting `optimized.equals=false` system property, that would help a lot! I was not aware there was another case unrelated to equals

[2021-01-20 14:46] virusdave commented on #4391
Copied from: https://discord.com/channels/629491597070827530/629491597070827534/801357923611574292

----

https://github.com/virusdave/maxinebot/tree/scratch/zio-has-defect
(Note the branch name - it's not on `main`)

`./bazel run //experimental:slack` will demonstrate this (need to either have Bazel 3+ or Nix installed)

[code]

Hmm, looks like maybe i hit this: zio/zio#4391
Not sure how to work

[2021-01-20 19:43] neko-kai commented on #4391
@virusdave Yeah, I've seen your messages, I'll hopefully look at it some time soon, but if you can minimize the case even further, such that it does not require bazel/nix, that would speed things up a lot, and I'll be able to include your case as a regression test as well.

[2021-01-20 19:55] virusdave commented on #4391
One can set this here:
https://github.com/virusdave/maxinebot/blob/scratch/zio-has-defect/experimental/BUILD.bazel#L50-L51

by adding
[code]

[2021-01-20 19:56] virusdave commented on #4391
I'll see what I can do when I have time - _might_ be able to do this over the weekend.

[2021-01-21 22:28] faradaym commented on #3388
I would like to work on this if @michalwarecki is not!

[2021-01-21 22:39] adamgfraser commented on #3388
@faradaym Great!

[2021-01-22 03:37] faradaym commented on #3388
Tests in BitChunkSpec use a function that generates a `Chunk[Byte]` , but for my test I would specifically need either `Chunk[Boolean]` or `BitChunk` . I was going to make a function to do this, but `Gen` does not seem to have the ability to generate booleans.

I tried to write a bitwise method on `Chunk`, utilizing a `ChunkBuilder` and returning `Chunk[Boolean]`; this appears to work. However, I

[2021-01-22 11:46] rtimush opened #4581 "Binary incompatibility in 1.0.4: NoSuchMethodError currentTime"
The following code fails with `java.lang.NoSuchMethodError: zio.clock.package$.$anonfun$currentTime$3(Lscala/Function0;Lzio/Has;)Lzio/ZIO;` with zio 1.0.4 and works with zio 1.0.3:

[code]
Dependencies:
[code]
Scastie: https://scastie.scala-lang.org/FmuHgKbqSEaoGO96gkMBsA

It looks like a binary incompatibility.

[2021-01-22 12:48] rtimush commented on #4581
It seems that the root cause is in zio-cats-interop — it [allows inlining](https://github.com/zio/interop-cats/blob/master/project/BuildHelper.scala#L42) from `zio.*`

[2021-01-22 14:14] adamgfraser commented on #3388
@faradaym You can generate booleans using `Gen.anyBoolean`. So you could do something like:

[code]

[2021-01-22 21:36] adamgfraser commented on #1658
Going to close this as it is pretty old at this point. I think our files are generally organized this way. If anyone sees something out of place feel free to open a PR.

[2021-01-22 21:36] #1658 closed

[2021-01-22 21:37] adamgfraser commented on #2069
Closing as this functionality is already in place.

[2021-01-22 21:37] #2069 closed

[2021-01-22 21:37] adamgfraser commented on #2318
Closing as this functionality is already in place.

[2021-01-22 21:37] #2318 closed

[2021-01-22 21:39] adamgfraser commented on #3785
Closed by #4409.

[2021-01-22 21:39] #3785 closed

[2021-01-22 21:39] adamgfraser commented on #1711
Closed by #4409.

[2021-01-22 21:39] #1711 closed

[2021-01-22 21:47] adamgfraser commented on #4387
Closed by #4542.

[2021-01-22 21:47] #4387 closed

[2021-01-22 21:49] #4148 closed

[2021-01-22 21:50] adamgfraser commented on #3911
Closed by #4242.

[2021-01-22 21:50] #3911 closed

[2021-01-22 21:55] #3624 closed

[2021-01-22 21:57] adamgfraser commented on #3575
Closing as this operator uses `Chunk` now.

[2021-01-22 21:57] #3575 closed

[2021-01-22 22:01] #2371 closed

[2021-01-22 22:02] #913 closed

[2021-01-22 22:02] #804 closed

[2021-01-22 22:12] adamgfraser commented on #3646
Closing as this has already been implemented.

[2021-01-22 22:12] #3646 closed

[2021-01-22 22:14] adamgfraser commented on #2269
We have some benchmarks added now and have another issue to add more.

[2021-01-22 22:14] #2269 closed

[2021-01-23 08:51] meckesl commented on #4388
Hi, I'd like to take a first issue, is it available ?

[2021-01-23 14:36] adamgfraser commented on #4388
@meckesl Go for it!

[2021-01-24 04:19] #4096 closed

[2021-01-24 04:19] BananaPlantain commented on #4096
This issue appears to be resolved

[2021-01-24 04:31] adamgfraser commented on #4096
@BananaPlantain Thanks for the update!

[2021-01-24 08:31] #4146 closed

[2021-01-24 09:00] meckesl commented on #4388
I am struggling to run sbt build and tests with decent performance. Any recommendation for the dev environment - like Java version, memory settings, and the computer specs ? Regards,

[2021-01-24 09:02] adamgfraser commented on #4388
@meckesl Try navigating to a specific project, like within `sbt` to `project streamsJVM` or `project streamsTestsJVM`.

[2021-01-24 09:09] meckesl commented on #4388
@adamgfraser thanks, that helps !

[2021-01-24 09:53] arnoldlacko commented on #3735
I've been looking into this one and I'm struggling to understand the reasoning behind `shutdownWhenFinished`, as it seems that shutting down a queue will interrupt all fibers that try to take elements from the queue, which if I understand correctly would make it uncertain whether consumers taking from the queue would be able to consume all elements before they get interrupted due to the stream bei

[2021-01-24 20:37] adamgfraser commented on #3735
@arnoldlacko I think you can just implement it like this, following the convention from `ZStream` for just having a separate constructor for the `withShutdown` variant.:

[code]

The `withShutdown` variant makes sense because sometimes our whole program is the stream and we want to tell downstream consumers that there is nothing else for them to do when the stream is over.

For example:

[code]

T

[2021-01-25 01:51] adamgfraser opened #4592 "Publish ZIO for Scala.js on Scala 3"
We currently publish ZIO for Scala 3.0.0-M3 on the JVM and publish ZIO for Scala.js on Scala 2, but we don't publish for Scala.js on Scala 3. This ticket is to add support for Scala.js on Scala 3 by doing the following:

- [ ] Update the build file to publish snapshots and release for Scala.js on Scala 3
- [ ] Update the CI configuration to run the test suite on Scala.js on Scala 3
- [ ] Compile a

[2021-01-25 03:40] adamgfraser opened #4593 "Ensure All Examples From Documentation Are Compiled"
We should ensure that all code snippets in the documentation are checked with `mdoc` to ensure that they compile as written.

Can I also ask that for all examples we NOT use hidden or invisible code? I know sometimes people do this because they want to omit things they see as boilerplate like imports or type definitions. However, a lot of people are going to copy and paste and compile these exampl

[2021-01-25 16:56] arnoldlacko commented on #3735
@adamgfraser I'm amazed by how cool that implementation is, as (if I understand correctly) it will guarantee shutdown even if the stream fails. I see your point about the consumer interruption being fine in some cases. I will add the relevant tests and submit a PR with the suggested implementation. Thanks @adamgfraser!

[2021-01-25 17:14] adamgfraser commented on #3735
@arnoldlacko Awesome! Yeah, especially with the ongoing work on refactoring the underlying implementation of the stream the more we can do in terms of existing operators the better and they also handle some potentially complex logic for us.

[2021-01-25 17:32] SrTobi opened #4597 "ZStream#peel should return more specific ZStream"
`zio.stream.ZStream#peel` returns a stream with the same environment `R1` and error `E1` as the returned ZManaged. This is overly wide and could be more specific , namely the original `R` and `E`.

[2021-01-25 22:57] adamgfraser opened #4600 "ZIO Test: Upstream Generators From ZIO Test Refined Module"
We just merged support for generating values of types from the `refined` library through the `zio-test-refined` module thanks to work from @afsalthaj and @pierangeloc .

In [this](https://github.com/zio/zio/blob/2769933b193e47a21a205a9fcecd626876333f02/test-refined/shared/src/main/scala/zio/test/refined/CharInstances.scala#L12) file there are a couple of generators for alphabetical, numeric, and w

[2021-01-25 23:02] adamgfraser opened #4601 "ZIO Test: Separate Generation and Automatic Derivation of Refined Types"
We just merged support for generating values of types from the `refined` library through the `zio-test-refined` module thanks to work from @afsalthaj and @pierangeloc .

Currently, generation of values for these data types is linked with automatic derivation of generators powered by Magnolia. This provides a great user experience for the common case where the user just wants to automatically deriv

[2021-01-25 23:04] adamgfraser opened #4602 "ZIO Test: Add Gen Instances For Additional Refined Types"
We just merged support for generating values of types from the `refined` library through the `zio-test-refined` module thanks to work from @afsalthaj and @pierangeloc .

This ticket is to go through all refined types defined in the `refined` library and make sure that we have a corresponding generator for them. This ticket can potentially be worked on by multiple people, so a good first step would

[2021-01-25 23:20] #4597 closed

[2021-01-27 16:56] kusaeva opened #4612 "collectAllParN_ discards failed effects since 1.0.4"
I noticed that `collectAllParN_` started to discard failed effects since 1.0.4.
So this code will not fail:

[code]

But it will fail with `.collectAllParN` or `.collectAll_`
Is this intentional behaviour?

[2021-01-27 16:58] adamgfraser commented on #4612
@kusaeva Thanks for reporting! Will fix.

[2021-01-27 22:05] caeus commented on #4503
@adamgfraser I fixed the problem with the current snippet.
`implicit final class ZLayerNonParallel[-RIn, +E, +ROut](private val self: ZLayer[RIn, E, ROut]) extends AnyVal {
    def >++>[E1 >: E, RIn2 >: ROut, ROut1 >: ROut, ROut2](
      that: ZLayer[RIn2, E1, ROut2]
    )(
      implicit union: Has.Union[ROut1, ROut2]
    ): ZLayer[RIn, E1, ROut1 with ROut2] = {
      ZLayer(for {
        deps1 <

[2021-01-27 22:08] adamgfraser commented on #4503
@caeus Thanks for following up on this! Let me take a look. That definitely helps narrow down the problem. I would like to try to address this in a way that fixes the general case without needing special operators, but this definitely helps me focus on the right thing.

[2021-01-27 23:21] adamgfraser commented on #4503
@caeus Spent some more time looking at this. Although fibers do get forked they are immediately interrupted so I don't think that is the issue.

It looks to me like the issue is really that the cause that is created is very large and it takes a long time to pretty print. I would suggest it might make more sense to tackle it from that angle. For example, in my testing even if I have a very large la

[2021-01-27 23:58] #4612 closed

[2021-01-28 08:11] iravid commented on #4612
@adamgfraser Can we release 1.0.4.1 with this fix?

[2021-01-28 11:53] adamgfraser commented on #4612
@iravid Yes. Will do this morning.

[2021-01-28 15:16] phderome opened #4618 "TPriorityQueue could introduce a empty/isEmpty predicate"

[2021-01-28 15:17] adamgfraser commented on #4618
@phderome I will add!

[2021-01-28 19:01] caeus commented on #4503
@adamgfraser I've seen it taking too long, even if I don't pretty print it.

[2021-01-28 19:07] adamgfraser commented on #4503
@caeus Okay will spend some more time on this.

[2021-01-28 21:32] #4618 closed

[2021-01-28 22:02] caeus commented on #4503
@adamgfraser I saw the PR. Thanks for paying attention to this. I actually think that the `>+>` is the most awesome operator of ZLayer.

[2021-01-28 22:02] #4503 closed

[2021-01-28 22:06] adamgfraser commented on #4503
@caeus Definitely! Sorry it took a little while and thank you for your work helping to identity the issue.

Yeah it is funny. When we were originally developing `ZLayer` we thought that the `>>>` and `++` operators would be what people would use. But there are a lot of people who like using `>+>` for everything.

[2021-01-30 09:44] rtimush commented on #4581
Moved to https://github.com/zio/interop-cats/issues/282

[2021-01-30 09:44] #4581 closed

[2021-01-30 14:39] TimPigden commented on #3353
I'm having a look this pm

[2021-01-30 14:41] etandon-coatue commented on #4593
Picking up this issue

[2021-01-30 17:54] #3735 closed

[2021-01-30 18:22] alim16 commented on #4602
@adamgfraser I had a long look at this and concluded that I can't do it, but I had a go at creating the TODO list
I only did it partially, because I'm not sure I understood it correctly
I'll add what I have after this comment

let me know if it's incorrect and I'll delete the comment

[2021-01-30 18:22] alim16 commented on #4602
https://github.com/fthomas/refined/blob/master/modules/core/shared/src/main/scala/eu/timepit/refined/types/numeric.scala#L97
  NumericInstances: **for each one there are also Negative and NonNeg and NonPos except for NonNaNFloat
  and NonNanDouble

 CharInstances: (zio-test-refined has more like `whiteSpace` and `Digit`)
| Type            | Description                                         | Don

[2021-01-30 19:51] sideeffffect commented on #639
ZIO is now compilable with Scala Native 0.4.0, so now the actual work on supporting it can begin.
/cc @lolgab @LeeTibbert

[2021-01-31 06:48] adamgfraser opened #4636 "Questions About Queue Composition Semantics"
I'm looking at the implementation of some of the composition operators on `ZQueue` and some of the ways of composing them seem somewhat ill-defined.

For example in `bothWith` the capacity is the minimum of the capacity but the size is the maximum of the size, so you could potentially have one queue with 10 elements and 100 capacity and another with 1,000 elements and 10,000 capacity and get back

[2021-01-31 09:23] hmemcpy commented on #2771
+1 for this!

There was also an issue (though I can't seem to find it) about making the test results into a data structure, and then interpret that data structure into any format (plain text, html, etc).

In addition, it would help tremendously if ZIO Test itself could emit Intellij-specific output. Not only would it make it much easier to support it in IntelliJ (currently the test runner is tight

[2021-01-31 20:50] adamgfraser commented on #4636
Another example of this is in the implementation of the `takeAll` and `takeUpTo` operators, which call `zip` on the collections coming from the two queues when the collections could be of different sizes and thus risks silently dropping elements. It seems like at the least we would need something like `zipAll` here that let us handle the case of different sizes or the composite queue would have to

[2021-01-31 21:16] iravid commented on #4636
After a year or so with these combinators , I ended up only using contramap/M, map/M and filterInput.

I think we knew about these shortcomings (and I seem to recall that we documented them?) but in hindsight I think we should just delete queue zipping; just too many pitfalls to be useful.

[2021-01-31 21:18] adamgfraser commented on #4636
That is kind of my view as well.

[2021-02-01 17:06] sideeffffect opened #4643 "Trying to run tests with ZIO 1.0.4.-1 fails with NoClassDefFoundError"
When I try running tests on a project that uses ZIO 1.0.4.-1, it fails with
[code]

[2021-02-01 17:13] adamgfraser commented on #4643
How did this get past CI? Did we not add compiling and testing the `interop` project to CI when we moved it into ZIO Core?

[2021-02-01 20:38] #4643 closed

[2021-02-02 14:50] LeeTibbert commented on #639
@sideeffffect /cc @lolgab  Thank you for these changes, they will make the next steps of adding
Zio support easier.  I am actively working on providing some prerequisites for Zio and then will
co-ordinate with @lolgab about the main effort.    So there is progress here,  it just has
not come to fruition here.

The two major areas for advancement are

* porting the SN 0.4.0 Junit testing environmen

[2021-02-02 18:18] ravisharnagat opened #4648 "STM: NullPointerException and ArrayIndexOutOfBoundsException in TMap"
This might be an issue with TMap (haven't tried with other STM data structures yet)

[code]
https://scastie.scala-lang.org/DaD8pAXySjSitvvOCCcBfA

- NullPointerException happens intermittently in case of a race between delete  and foreach
- ArrayIndexOutOfBoundsException happens intermittently while running foreach (it is independent of deleting entry from map, try removing `_ <- map.delete(i).com

[2021-02-02 21:59] adamgfraser commented on #4648
@mijicd Could you take a look at this?

[2021-02-02 22:02] #4636 closed

[2021-02-02 22:03] mijicd commented on #4648
Will do, thanks for reporting!

[2021-02-03 06:41] ravisharnagat commented on #4648
@mijicd I have updated the code.
Replaced `_ <- map.delete(i).commit` with `_ <- map.delete(i).commit.fork` just to make sure both of them(`delete` and `foreach`) executes in separate fiber.
It will help in recreating NullPointerException easily.