[2019-05-04 11:21] iravid commented on #811
@jdegoes which is to say, a supervised fiber always forks supervised fibers?

[2019-05-04 15:27] tampler commented on #821
Hi @iravid . Thanks for your advice, but that didn't work for me. I did the following:
[code]
The code above results in a ZERO output on my waveform. Seem like tasks were never launched.
If I try with the runtime, it works sequentially, as with the linear code:
[code]
Anything else to try ?

Boris

[2019-05-04 15:59] iravid commented on #821
did you `runtime.unsafeRun(res)`?

[2019-05-04 16:19] justinhj commented on #794
I've made a first pass at this

[2019-05-04 16:58] tampler commented on #821
@iravid Yes, my bad. Forgot about running it :). Now, results are interesting and require more thought.
Here's my code:
[code]
![res0](https://user-images.githubusercontent.com/2816743/57182296-266fd300-6ea6-11e9-803d-e1f988513fac.png)
As we see, runpar0() yields in a mess, where control signal length is random.
runpar1() outputs the same result, as for sequential compute.

What I expect to see is

[2019-05-04 17:04] jadireddi commented on #817
Sure @iravid . Will try through combinator.

[2019-05-04 17:40] jdegoes opened #826 "Cats Interop for ZManaged"
`ZManaged` is a different take on Cats `Resource`, which provides additional capabilities, including:

 - A final encoding (no intermediate representation necessary)
 - Safely interruptible acquisition, which composes
 - Parallel composition

In order to enhance interop with the Cats Effect ecosystem, we need to add helper functions inside the cats interop module, which are capable of performing c

[2019-05-04 18:04] jdegoes commented on #811
More generally, a fiber with a regional effect will always propagate it on forking.

That means inheriting:

 - Current interruptibility status
 - Current executor (I think this is _already_ true)
 - Current supervision status
 - Soon, next-gen fiber locals

Any other stacks I missed?

[2019-05-04 18:53] runtologist commented on #817
It's doable as a stream combinator. @jadireddi let me know in case you need help.

[2019-05-04 19:53] mschuwalow commented on #826
I have begun adding instances here: https://github.com/scalaz/scalaz-zio/pull/827
About the conversion methods:

I think we would need natural transformations between F and ZIO to go between these two types.
I don't think we can do better here than https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/Resource.scala#L151-L163

[2019-05-04 20:08] fakirAyoub commented on #743
Definitely in! Thanks for the organization @jdegoes, and please ask for any help you would need!

[2019-05-04 20:46] LGLO commented on #804
My idea for some other tests is to replace `runSync`, which is disallowed in JS, with `unsafeRunToFuture`, so tests return `Future[MatchResult[T]]`. Then we can use specs2 `Around` that uses `java.util.Timer` and `scala.concurrent.Promise` to create `Future` with timeout.
WDYT guys?

[2019-05-05 00:05] 7robertodantas commented on #821
@tampler you seem to be misusing / misunderstanding the usage of runtime and IO effect. Ideally the `runtime.unsafeRun` should be called at the edges / end of your program. Its execution is done synchronously, that's possibly why it's not overlapping as you expect (though I do not understand how this circuit thing that you're showing works).

Try to refactor your code to compose these `par0` and `

[2019-05-05 01:31] heraklos commented on #803
@jdegoes
I have one more question.
When I just removed all `done synchronized`s from `atomically` in `STM.scala`, `STMSpec` still worked.
Does that mean we don't need `done synchronized` in the first place, or I should add some tests that fails when `atomically` is controlled exclusively?

[2019-05-05 03:38] ghostdogpr commented on #811
If I understand your proposal, when we fork, we pass to the new `FiberContext` the current state of supervision (`supervising` and `supervised.peek`) and interruptibility (`interruptStatus.peek`), the same way we currently do with the executor (`platform`) and the environment (`environment.peek`).

I tried to do that, it works well for supervision (my example above returns all the fibers and not j

[2019-05-05 05:37] ghostdogpr commented on #811
Example of problem with interruptibility inheritance:
[code]

`fiber` in uninterruptible, and `timeoutTo` uses `race` and `interrupt` internally, which is not working anymore because it inherited the uninterruptibility.

[2019-05-05 07:52] tampler commented on #821
@7robertodantas thank you for suggestion, still no cigar. I believe, joining threads is necessary to ensure a valid sync. See results below
[code]
![res1](https://user-images.githubusercontent.com/2816743/57190525-c455b300-6f23-11e9-9079-13e960992ca3.png)

Other thoughts ?

Boris

[2019-05-05 09:53] kaishh commented on #811
Inheriting interruptibility is not immediately intuitive to me, personally I always expect a fiber to start out interruptible...

[2019-05-05 09:59] jdegoes commented on #811
These issues do require thought.

The flip-side: `ZIO.uninterruptible(foo)` would ideally have the same behavior as `ZIO.uninterruptible(foo.fork.flatMap(_.join))`. You shouldn't be forced to know whether or not a "fork" is used deep down inside an effect to know the behavior of the effect.

[2019-05-05 10:46] mschuwalow opened #831 "Flaky reactive test"
[code]
Triggering a rebuild fixed this.
Original build: https://travis-ci.org/scalaz/scalaz-zio/jobs/528403877
Rebuild: https://travis-ci.org/scalaz/scalaz-zio/jobs/528408917

[2019-05-05 11:16] tampler commented on #821
After experimenting for a while with ZIO fibers, I came up with some conclusions. See the pic below to start with

![res2](https://user-images.githubusercontent.com/2816743/57192860-e78d5c00-6f3d-11e9-9d92-90b515aad07b.png)

I slightly refactored my code and let each function to actually return before executing the end-of-the-world.

I can't upload my code, since that's a commercial project and mo

[2019-05-05 11:37] kaishh commented on #821
You can control the behavior of forking by swapping the underlying `Executor` in the runtime. e.g. to pin every fiber to a separate thread you can create a `cachedThreadPool` with unlimited threads and set `yieldOpCount` in runtime to `Long.MaxValue`

[2019-05-05 11:56] kaishh commented on #811
ZIO's supervision is very closely related to nurseries / structured concurrency in JVM Project Loom, we may just copy their decisions. https://wiki.openjdk.java.net/display/loom/Structured+Concurrency

[2019-05-05 13:46] jadireddi commented on #817
Sure @runtologist.. thank you

[2019-05-05 18:37] #810 closed

[2019-05-06 15:40] tampler opened #832 "How to reduce a Vector with ZIO Ref"
Hello

I'm working on an example for a FP programming course. I need to show how to use ZIO Ref to implement a reduce function for Vector[Int]
[code]
My current impl is [here](https://github.com/tampler/fp_train/blob/2a33006bb20c3c08e9280634fed3b3ab2f1cf4ab/scala/home/src/main/scala/lec1/solutions/Advanced.scala#L139)

How do I reduce Vector[UIO[Int]] to a single Int with something like reduce (_

[2019-05-06 16:37] VladKopanev commented on #832
I think you could do this with smth like `def sum(v: Vector[UIO[Int]]): UIO[Int] =
      for {
        counter <- Ref.make(0)
        _       <- UIO.collectAll(v.map(_.flatMap(i => counter.update(_ + i))))
        res     <- counter.get
      } yield res`
or
`def sum(v: Vector[UIO[Int]]): UIO[Int] =
      for {
        counter <- Ref.make(0)
        ints       <- UIO.collectAll(v)
        _ <- UIO

[2019-05-06 16:56] VladKopanev commented on #832
The problem with your current implementation is that each time you do `out flatMap` you actually creating a new shared region for Ref, so new Ref would be created for each vector element. To use a single shared Ref you need to `flatMap` on UIO[Ref[Int]] only once and do all the work inside of that `flatMap` operation. That's because of referential transperency, so your `val out  = makeZero` is equ

[2019-05-06 17:32] jadireddi commented on #817
@iravid , Below change working as expected. Can you please validate it's correct approach or not.
[code]

[2019-05-06 20:19] LGLO commented on #804
We can't block for result in scala-js, scalacheck is 100% synchronous on the other hand.
`forAll` tests will be challenging. Doable but I think we'll have to write quite a chunk of code to cover `forAll`.

[2019-05-07 12:26] iravid commented on #832
Feel free to continue this conversation in the Gitter chatroom - closing this out for now.

[2019-05-07 12:26] #832 closed

[2019-05-07 12:26] iravid commented on #821
Feel free to continue this conversation in the Gitter chatroom - closing this out for now.

[2019-05-07 12:26] #821 closed

[2019-05-07 12:27] iravid commented on #831
@runtologist could you have a look?

[2019-05-07 16:56] iravid opened #835 "Add Stream#mapAsync and Stream#mapAsyncUnordered"
Signature:
[code]

The first should execute up to `n` transformations in parallel and emit elements in the same order. The second is identical but can emit elements in the order of completion of `f` invocations.

[2019-05-07 18:24] iravid commented on #835
Also, possible aliases: `mapMPar, mapMParUnordered`

[2019-05-07 18:27] iravid opened #836 "Add Stream#flatMapPar and Stream#flattenPar"
These are the non-deterministic, parallel (possibly bounded) versions of `flatMap` and `flatten`.

[2019-05-07 18:44] runtologist commented on #831
Looks like a timeout. The timeout already is quite generous. I'll try to make the tests less sensitive to that.

[2019-05-07 18:47] iravid commented on #831
thanks 🙏🏻

[2019-05-07 18:49] tampler commented on #821
Hey @iravid
I didn't grant you a permission to close my issues, since they are not yet solved.
I'm trying to innovate and solve a real world business problem with ZIO and need a community support. Your solution didn't work. So pls provide a better solution, if you can, or let other and smarter people to solve this issue and build new apps upon ZIO.

If you can't, reopen this issue and don't touch

[2019-05-07 19:57] runtologist commented on #835
I'll give it a try. :)

[2019-05-08 23:23] nebtrx commented on #739
Hey @jdegoes I pushed a PR addressing the first two bullet points of your previous comment.

Could you take a look at it?

Also, I was thinking about the intermediate type alias for `Task`,  what about `IOTask`?

**PS:**  _Just to be sure about it, the intermediate type alias strategy refers to doing everything in two steps:_

1.

[code]

2. ` <Intermediate Type Alias> => IO`

_Right? Do you have

[2019-05-09 08:36] #718 closed

[2019-05-09 18:56] #831 closed

[2019-05-10 10:39] iravid commented on #773
Resolved by #789

[2019-05-10 10:39] #773 closed

[2019-05-10 15:29] iravid commented on #817
@jadireddi that only appears to work because `IO.LowerR = Any`, so it only compiles for `ZStream[Any, E, A]`. But that isn't very useful because `ZStream[Any, E, A]` requires no environment at all, so nothing to provide.

Take a look at how the other combinators are implemented (e.g. `map`) and try to follow the structure, using `provide` and `provideSome` on the IO values that are used in produci

[2019-05-11 10:25] DamianReeves opened #845 "Blocking exhausts Native threads"
We have ran into an issue while load testing an implementation of our system that uses ZIO `1.0-RC4` where at the end of a long run we start failing because of `OutOfMemoryError`s, which seem to report happening when trying to create a thread in the `blocking` thread pool.

Analysis seems to point to the blocking pool not reusing threads and us getting into a situation where the observed behavior

[2019-05-11 10:35] jdegoes commented on #845
We would like to provide a pleasant, safe out of the box experience that voids these types of issues. It seems like tweaking defaults to the blocking thread pool is warranted... /cc @kaishh

[2019-05-11 15:18] mschuwalow opened #846 "ZManaged API discussion: *ParN"
As discussed here https://github.com/scalaz/scalaz-zio/pull/839 it would be cool to introduce
*ParN methods to ZManaged that acquire a list of resources simultaneously while having at most N fibers work in parallel. The problem is that it is not quite clear how the semantics should be here.
I see 3 different options:

1. Limit the reserve phase
2. Limit the acquire phase
3. Limit both the acquire

[2019-05-11 15:20] mschuwalow opened #847 "ZManaged API discussion: retry"
As discussed here https://github.com/scalaz/scalaz-zio/pull/839 it would be cool to introduce aretry method to ZManaged. The problem is that it is not quite clear how the semantics should be here. I see 4 different options:

1. Retry reservation
2. Retry acquisition
3. Retry both separately (this could be surprising as it might lead to twice the number of retries in some cases)
4. Retry both while

[2019-05-11 15:22] mschuwalow opened #848 "Promise.halt"
Is there a reason not to have a Promise.halt method?

[2019-05-12 10:24] mdedetrich opened #850 "Feature Request: Local Variable Propogation Mechanism"
I have been eying out ZIO to use at our work as a possible replacement of Monix Task however there is one feature that is missing that is currently putting a dampener on us and its the absence of a `ThreadLocal` like mechanism, i.e. the equivalent of Monix's `TaskLocal`, see the following for more information

* https://medium.com/pragmatic-scala/local-variable-propagation-with-monix-part-1-106b80

[2019-05-12 10:26] mdedetrich commented on #850
Closing, just saw https://scalaz.github.io/scalaz-zio/datatypes/fiberlocal.html

[2019-05-12 10:26] #850 closed

[2019-05-12 10:33] iravid commented on #850
There's also #618, which would further enhance `FiberLocal` and add inheritance of locals when fibers are forked. There's some WIP work at #665.

[2019-05-12 14:27] vilu commented on #804
I was looking into PlatformSpec, should this one be really be considered in this ticket seeing how the implementation differs between js/jvm? Maybe just removing this one from the list would make sense?

[2019-05-12 15:11] regiskuckaertz commented on #847
I think option 4 makes sense if I understand correctly
[code]
?

[2019-05-12 16:28] jdegoes commented on #848
No reason. It would take a `Cause[E]`, just like `ZIO.halt`.

[2019-05-12 16:40] jdegoes opened #853 "Add method to easily extract parallel errors from ZIO effect"
When effects are combined in parallel, if they fail, then the errors are combined in parallel using `Cause`. However, it's not as easy as it could be to access the parallel errors.

This ticket describes a method that can expose _all_ parallel errors in a single call. The method will be called `parallelErrors and will be added to the `ZIO` trait inside `core` / ... / `ZIO.scala`.

[code]

The meth

[2019-05-12 16:41] #794 closed

[2019-05-12 17:04] mschuwalow commented on #848
Cool. I'll contribute it as part of https://github.com/scalaz/scalaz-zio/pull/839 as it's helpful there

[2019-05-12 18:05] iravid commented on #634
I had some time to work on this. Here's a definition of `ZStream` that separates consumer errors (which are errors emitted by the continuation given to the fold), and producer errors (which are errors that the effectful fold may emit):
[code]

This looked pretty promising! Note how for combinators that actually run the stream, like `run`, we need to relate both `EP` and `EC` to the `E` parameter s

[2019-05-12 18:41] softinio commented on #853
@jdegoes Happy to take this one. May need some extra guidance from you as this will be my first issue on ZIO itself and so will be new to its code base

[2019-05-13 00:07] kaishh commented on #845
Note, default `Blocking.Live` does reuse threads – `corePoolSize` is the parameter that regulates thread reuse, not `maxPoolSize` – a finite max parameter with SynchronousQueue would just block the caller until a thread is available which is a bit different, there is a test for working caching too (although currently disabled, I just it ran it locally to confirm – https://github.com/scalaz/scalaz-

[2019-05-13 05:29] LGLO opened #855 "Build failures on OOM"
Recently, after adding another sub-module, there are frequent build failures, caused by OutOfMemoryErrors.

[2019-05-13 05:34] LGLO commented on #855
#856 is just a proposal. Maybe we can just increase `-Xmx`?

[2019-05-13 07:58] cecol opened #857 "Improve error message when ZIO async callback is called more than 1 time"
I am trying to use `ZIO Queue` to consume messages from `google pubsub`.
The following is my code
[code]

Above program can successfully receive the first message from pubsub, but fail at second message with following exception:
[code]

the `libraryDependencies` is
[code]

Any idea what's wrong?
Thanks for any help

[2019-05-13 09:00] cecol commented on #857
My code work with `unsafeRun` rather than `IO.effectAsync`
[code]
But still have no idea why `java.lang.ClassCastException`

[2019-05-13 22:12] kaishh commented on #845
So, the real cause of this error was generation of a new scheduled thread pool on `new Clock.Live` that was mistakenly used instead of a global `Clock.Live`:

[code]

What we could do to prevent the same mistake is to make the `Live` default mixins all use globals instead of being generative. Don't know how I feel about that, that may make sense, but may be a step back. I remember `Blocking.Live`

[2019-05-14 06:48] LGLO commented on #855
Closed by #851

[2019-05-14 06:48] #855 closed

[2019-05-14 12:07] durban opened #860 "StackBool is incorrect"
`scalaz.zio.internal.StackBool` is incorrect (NB: a JVM long has 64 bits):

[code]

[2019-05-14 20:30] LGLO commented on #860
I think your observation is right and very important!

IMO code looks like Long has 32 bytes, not 8 bytes (64 bits) and what is more, I see that `getOrElse` doesn't work when stack has more that one Entry.

Would you like to provide a fix?

[2019-05-14 23:34] mschuwalow commented on #847
Yeah exactly. I agree that this makes the most sense

[2019-05-15 11:08] vilu commented on #860
If not I would volunteer for this bug.

[2019-05-15 13:30] LGLO commented on #860
@vilu 🙏 ❤️
I'm not that much fun of Scalacheck, but this looks like a valid place to introduce them.
Could you first remake tests to use random lists of Booleans?
I suggest to generate lists of size up to 64 - all tests should be still passing. When you change generators to bigger sizes, preferably at lest 129 - to employ 3 entries in Stack, tests should fail.

[2019-05-15 13:31] NeQuissimus commented on #860
Or Scalaprops, I tend to prefer that...

[2019-05-15 14:37] smart-ass commented on #743
I'd like to join.

[2019-05-16 06:32] iravid opened #861 "Add Stream.repeatEffect/Stream.repeatEffectWith"
Stream.repeatEffect should continuously evaluate the effect; repeatEffectWith should use a schedule.

[2019-05-16 06:32] iravid commented on #861
cc @hmemcpy

[2019-05-16 06:55] vilu commented on #860
I'll try to get some time to work on this this weekend.

[2019-05-16 07:02] runtologist commented on #634
That's the point where I got stuck as well. :/

[2019-05-16 11:53] torkelrogstad opened #862 "How to execute benchmarks"
How do I execute the benchmarks?

[2019-05-17 09:36] VladKopanev opened #864 "Add ZIO.tapError"
`tapError` should do the same as `tap` or `tapBoth` but only for error channel.

[2019-05-17 20:21] oscarvarto opened #867 "`sbt.TrapExitSecurityException` when running ZIO's App from sbt"
When I use ZIO's App and run the main class with sbt, I always get
    `Exception: sbt.TrapExitSecurityException thrown from the UncaughtExceptionHandler in thread "run-main-x"`

Is there any way to configure my build.sbt (or sbt/jvm options) to avoid this?

[2019-05-17 20:32] dccorona opened #868 "STM orElse method results in partially-rolled-back commits"
I believe I have found an issue in STM pertaining to the use of `STM.orElse` that results in partially-rolled-back commits. From exploring in a debugger, I'm pretty sure the root cause of the issue is [here](https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/stm/STM.scala#L235), where, when an STM fails and triggers its `orElse` block, the *entire* current state

[2019-05-17 21:54] iravid opened #869 "Add ZStream.fromInputStream and ZSink.fromOutputStream"

[2019-05-18 21:27] #826 closed

[2019-05-19 00:06] kaishh commented on #845
Actually, the problem is more plainly stated as: `Clock.Live`, `Scheduler.Live` and `Blocking.Live` constructors are all **not pure** and this is the main cause of trip-up, had they been wrapped in IO, that would make it obvious that a new thread pool allocation happens. We can wrap all these constructors, although to allow cake pattern to work they'd probably need to be in CPS form...

[2019-05-19 08:03] jdegoes commented on #739
@nebtrx I will close this ticket and open a new one specifically to address the `IO` renames...

[2019-05-19 08:03] #739 closed

[2019-05-19 08:08] jdegoes opened #872 "IO renames"
Inspired by discussion on #739, it's possible we may want to choose a more uniform naming convention for the `IO` type aliases. In particular, something like:

[code]

Doing this all at once would break code, so the best strategy would be to introduce _new_ type aliases, and _new_ "companion objects":

[code]

Then mark the old incompatible ones as deprecated.

While in hindsight a more uniform na

[2019-05-19 10:00] ghostdogpr commented on #864
Closed by #865

[2019-05-19 10:00] #864 closed

[2019-05-19 10:01] ghostdogpr commented on #857
So the problem is that `effectAsync` shouldn't be used for callbacks that can be called multiple times.
But we should improve user experience:
- mention it in the documentation of `effectAsync`
- better error (no `ClassCastException`)

[2019-05-19 10:05] ghostdogpr commented on #687
Fixed by #765

[2019-05-19 10:05] #687 closed

[2019-05-19 12:25] jdegoes commented on #868
@dccorona You are right, this is a bug and will be fixed. `orElse` should have "local" semantics, not global semantics.

Thank you for reporting and minimizing! 🙏

[2019-05-19 13:26] jdegoes commented on #868
@dccorona Will be fixed in #873

[2019-05-19 13:27] jdegoes commented on #860
@vilu Would love a fix for this!

[2019-05-19 16:36] #868 closed

[2019-05-19 17:09] jdegoes opened #874 "Flaky Twitter interop test"
[code]

[2019-05-19 19:47] jdegoes commented on #845
Oops, I forgot `Blocking.Live`. Re-opening.

[2019-05-19 20:14] LGLO commented on #862
Sorry, I didn't notice your question wasn't addressed.
Please type in sbt terminal: `benchmarks/jmh:run .*YourClassWithBenchmarks`
I've opened #877 - could comment there if instruction is enough?

[2019-05-19 22:09] #848 closed

[2019-05-19 22:09] #847 closed

[2019-05-19 22:09] #846 closed

[2019-05-20 01:56] nickbui729 opened #878 "featuring ZIO in Docusaurus"
Hello, we would like to feature your project to the Docusaurus [users](https://docusaurus.io/en/users)

This has the benefits of giving projects recognition and also lets the community and new users reference the creative ways of using Docusaurus!

If you are okay with it, are you able to provide a logo we can use? Additional information can be found [here](https://github.com/facebook/Docusaurus/i

[2019-05-20 06:59] #862 closed

[2019-05-20 09:46] torkelrogstad commented on #862
Thanks!

[2019-05-20 19:47] jdegoes commented on #878
@nickbui729 That sounds great! You can find all logos [here](https://github.com/scalaz/scalaz-zio/tree/master/assets), in all sizes and formats. Thank you!

[2019-05-21 12:18] NeQuissimus commented on #878
This should probably say ZIO, not Scalaz? :)

[2019-05-22 01:14] softinio commented on #878
Be good if this is done after we move this repo to the new org

[2019-05-22 17:04] vilu commented on #860
Turned out I didn't have that much time this weekend. I have a working solution now but the code is a mess. I'll try to clean it up and create a wip PR for some feedback this weekend.

[2019-05-23 01:42] nickbui729 commented on #878
Sorry about the naming mistake I just fixed it! And thank you for the permission.

[2019-05-24 04:35] #618 closed

[2019-05-24 09:16] ubourdon commented on #861
What the diff with `zstream.repeat` ?

[2019-05-24 09:18] ubourdon opened #888 "schedule effet with ZStream"
So i try to produce values in ZStream using `ZStream.fromEffect(scheduleNotification()).repeat(Schedule.spaced(1 minute))` but the function scheduleNotification()is only run once
Have you an idea what's wrong ?
to consume the ZStream i do this : `zstream.run(ZSink.drain).provider(new DefaultRuntime {}.Environment)`
And on the IO produce i do `new DefaultRuntime {}.unsafeRunToFuture(io)`

cc @iravi

[2019-05-24 10:20] ubourdon commented on #888
I make a simpler example :

[code]

[2019-05-24 11:18] jdegoes commented on #867
To solve this problem, the `main` function in `scalaz.zio.App` should be changed from:

[code]

To this:

[code]

This should solve the problem once and for all.

Any interest in doing a pull request? 🙏 😄

[2019-05-24 11:27] jdegoes opened #891 "Introduce new `suspend` and rename"
Currently, `ZIO.suspend` assumes the effect is total, but that's not necessarily the case.

We should have:

 - `ZIO.effectSuspendWith(p: Platform => TaskR[...]): TaskR[...]`
 - `ZIO.effectSuspendTotalWith(p: Platform => ZIO[...]): ZIO[...]`
 - `ZIO.effectSuspend(taskr: => TaskR[...]): TaskR[...]`
 - `ZIO.effectSuspendTotal(zio: => ZIO[...]): ZIO[...]`

This matches the convention for `effect` / `

[2019-05-24 11:28] #657 closed

[2019-05-24 11:28] #845 closed

[2019-05-24 11:30] jdegoes commented on #657
As of #889, there are helpers on `Runtime` that can apply modifications to the default `Platform`, so no explicit use of `Platform` is required.

[2019-05-24 11:31] jdegoes commented on #845
Fixed for `Blocking.Live` as well. Now repeated construction of modules does not allocate new pools.

[2019-05-24 11:42] jdegoes opened #892 "Rename ZStream#repeatElems => ZStream#spaced"
Rename the `ZStream#repeatElems` method `ZStream#spaced`.

[2019-05-24 15:14] CatsDogsAndOther opened #895 "Type inference of the E type breaks down when using ZIO.retry in conjunction with ZIO.provide"
import java.util.concurrent.TimeUnit

import scalaz.zio.clock.Clock
import scalaz.zio.duration.Duration
import scalaz.zio.{IO, Schedule, ZIO}

import scala.concurrent.Future

class Example {

  // what I have to do
  def fetchRemoteData1(): IO[RemoteClientException, RemoteData] = {
    val keys: List[String] = List("key1", "key2")

    val io: ZIO[Clock, RemoteClientException, RemoteData] =

[2019-05-24 15:38] #888 closed

[2019-05-24 18:26] iravid opened #896 "Replace timeouts with latches in ZManagedSpec"
cc @kaishh @mschuwalow

[2019-05-24 19:13] kaishh commented on #896
Also in TwitterSpec

[2019-05-25 00:29] jdegoes commented on #811
@ghostdogpr So I have a PR open (#897), but I don't think it will actually "fix" this issue.

It make sit so "hidden forks" can't go wrong (in the sense of observing the parent region effects, by default), but it won't change the fact that "hidden forks" can still be observed in the supervised child list.

I cannot think of a ready fix for that at the moment, and it seems more general than just fo

[2019-05-25 00:59] ghostdogpr commented on #811
@jdegoes my initial problem was only that my fork was _not_ returned (only the internal forks were returned). I don't mind having the extra children caused by internal forks returned, I think it makes sense in a way, you might want to interrupt all of them.

I tried your branch and the example above now returns 5 children instead of 4: the 4 internal ones + the 1 that I created. So I consider the

[2019-05-25 10:27] vilu commented on #860
I've opened up a PR for some feedback: https://github.com/scalaz/scalaz-zio/pull/898

[2019-05-25 13:11] jdegoes opened #899 "Flaky ZManaged tests"
Lots of the new ZManaged tests use sleeps without latches, resulting in much slower running tests, and test flakiness that needs to be fixed.

/cc @mschuwalow

[code]

[2019-05-25 13:12] jdegoes opened #900 "Flaky Stream test"
There is a flaky Stream test that tests zipWith:

[code]

/cc @iravid

[2019-05-25 14:47] vilu commented on #860
I went with Scalacheck because it was already on the classpath and I don't really have any preference.

[2019-05-25 16:38] mschuwalow commented on #899
I'll try to get this fixed this weekend. Sorry 🙏

[2019-05-25 18:24] mschuwalow commented on #896
I'll take care of the ones in ZManagedSpec :+1:

[2019-05-25 19:50] jdegoes commented on #899
I think I got it. But would be nice to delete or eliminate all the other sleep tests...

[2019-05-25 22:57] kamilkloch commented on #891
I would like to pick up this issue.

[2019-05-26 14:20] jdegoes commented on #900
Ignore, it's a legit failure. 😄

[2019-05-26 14:21] jdegoes commented on #895
I've seen this before, and I think we should be able to fix this. Thank you for reporting!

[2019-05-26 14:24] iravid commented on #900
Oh yeah? I'm rewriting this operator and trying to track down a similar failure. What was the issue?

[2019-05-26 15:10] jdegoes commented on #900
Maybe I spoke too soon, but I know I'm getting 100% failures right now in my local branch (#897). So whatever problem it had is being greatly exacerbated.

[2019-05-26 15:10] jdegoes commented on #900
I haven't diagnosed it, btw.

[2019-05-26 15:29] iravid commented on #900
Just comment it out in your branch for now I suppose. I'll figure it out as part of the ZManaged rewrite.

[2019-05-26 15:37] jdegoes commented on #900
Ok, will spend 10 more minutes on it because I want to make sure I didn't break `raceWith` in any way, then I'll comment it out for now.

[2019-05-26 18:17] mschuwalow commented on #896
See #899 for the zmanaged ones

[2019-05-26 19:06] #892 closed

[2019-05-27 02:42] ashkan-leo opened #908 "Examples for Providing Partial Dependencies"
I am trying to partially provide dependencies to a `z: ZIO[R, E, A]` object. I can't figure out how to do this. I don't find any example on how to use `provideSome` and `provideSomeM` functions either.
It'd be great if someone could write some examples on how this can be done.

[2019-05-28 15:22] jdegoes opened #910 "Add `ignore` method"
For any data type that has a notion of failure and mapping, we should add an `ignore` method, e.g.:

[code]

The meaning of ignore is: _ignore any failures and give me back unit_. It's equivalent to "either" followed by "unit". It can be defined, for sure, on `ZIO` and `STM`, and possibly stream abstractions.

[2019-05-28 15:23] NeQuissimus commented on #910
Yes!

[2019-05-28 19:32] LGLO commented on #860
Closed by #898
Thank you @vilu

[2019-05-28 19:32] #860 closed

[2019-05-29 15:00] denisgarci commented on #732
My best attempt at this lives here: https://github.com/denisgarci/scalaz-zio/tree/add-213-rc2
Some changes from `scala.collection` are not backward compatible between 2.13 and 2.12 / 2.11.
There are two ways to fix this:
* use  https://github.com/scala/scala-collection-compat (still waiting for https://github.com/scala/scala-collection-compat/issues/208 and https://github.com/scala/scala-collectio

[2019-05-29 15:13] #899 closed

[2019-05-29 15:46] jdegoes commented on #732
@denisgarci Thank you for your work on this and for posting your learnings and the code!

[2019-05-29 15:59] jdegoes opened #913 "Introduce super polymorphic version of Ref called 'ZRef'"
We need a version of `Ref` that is highly polymorphic called `ZRef`. The existing `Ref` can be implemented atop this, as a type alias, and pseudo-companion object.

The new `ZRef` will have the following type parameters:

[code]

etc. I don't know if this type encoding will work for errors, it remains to be investigated.

The old `Ref` will be implemented as:

[code]

to avoid breaking any code an

[2019-05-29 20:54] iravid commented on #913
<3 "ZIO - Profunctors for Scala" <3

[2019-05-30 01:03] ghostdogpr commented on #811
Reopening, see https://github.com/scalaz/scalaz-zio/pull/914#issue-283475782 about why and what to do.

[2019-05-30 01:14] neko-kai opened #915 "Untangle tracing logic from FiberContext"
https://github.com/scalaz/scalaz-zio/pull/849#discussion_r287895695

Tracing logic is fairly invasive and permeats the entire RTS, care must be taken to extract it without losing performance...

[2019-05-30 01:22] neko-kai opened #916 "Tracing: think of a replacement for ZIOFn"
Some starting points in thread: https://github.com/scalaz/scalaz-zio/pull/849#discussion_r287895254

`ZIOFn` is both a maintainability and a performance concern, however a different approach that can support the same patterns for passing user lambdas down to the tracer is hard to come by... Some specific hard cases - `mapError`, `bracket`

Some starting work on @jdegoes's 2nd suggestion has been s

[2019-05-30 02:33] yaroot commented on #874
#882 took care of this

[2019-05-30 20:07] jdegoes opened #920 "Flaky Stream test?"
[code]

@iravid The test seems fine, any ideas?

[2019-05-30 20:23] #874 closed

[2019-05-30 20:23] jdegoes commented on #874
@yaroot 🙏

[2019-05-30 20:25] kaplanbora opened #921 "Consider adding Matrix bridge to Gitter"
Most Scala channels on Gitter have bridges enabled so people like me who use Matrix can join the community. ZIO Gitter should have a bridge too so we can reach more people.

[2019-05-30 22:41] kamilkloch commented on #891
@jdegoes, could you perhaps help to clarify? Following the `effect` / `effectTotal` convention I came up with the following signatures...
[code]
Thanks!

[2019-05-30 22:54] jdegoes commented on #891
The correct signatures will be as follows:

[code]

The `suspendTotal[With]` constructors (the functions passed to these functions) are _not_ allowed to throw exceptions; while the `suspend[With]` constructors (the functions passed to these functions) _are_ allowed to throw `Throwable`, and such `Throwable` will be reflected in the return type.

You can see the similar distinction between `effect`

[2019-05-30 23:11] kamilkloch commented on #891
It does, partially :) Agreed on `suspendTotal ` and `suspendTotalWith`.
I understand why `effect` produces `Task[A]`(no environment available), but as for `suspend` wouldn't a more general signature look like `suspend[R >: LowerR, A](taskr: => TaskR[R, A]): TaskR[R, A]`?

[2019-05-30 23:16] jdegoes commented on #891
You are right! Also we could do ZIO[R, Nothing, A] for the other one (total variants).

[2019-05-30 23:17] kamilkloch commented on #891
OK, thanks for a quick clarification :)

[2019-05-31 20:19] freskog opened #925 "No way of deterministically testing timeouts"
At the moment there doesn't seem to be any way of deterministically testing timeouts in ZIO.

My goto strategy for other similar problems has been to use the Test* implementations made available via scalaz-zio-testkit. Unfortunately, the way that the TestClock is implemented is at odds with testing timeouts.

If I understand it correctly a timeout in ZIO is just implemented as two racing fibers, o

[2019-05-31 22:04] kamilkloch commented on #891
`ZIO.suspend` is currently used in places with a generic error type `E`. Example: `FunctionIO.scala`:215-223:
[code]
The proposed new (restictive) signature of `ZIO.suspend`
[code]
does not cut it.

Conceptually, keeping the current implementation
[code]
makes more sense to me.

[2019-05-31 22:25] jdegoes opened #927 "New microsite does not deploy as part of release"
Microsite is built now using Docusaurus, the task appears to complete in Travis, but I did not investigate beyond that.

[2019-05-31 22:26] jdegoes commented on #927
<https://travis-ci.org/scalaz/scalaz-zio/jobs/539881502>

[2019-05-31 23:35] ghostdogpr commented on #927
The error is `Missing git user. Did you forget to export the 'GIT_USER' environment variable?`
According to the documentation here https://docusaurus.io/docs/en/publishing.html#using-travis-ci, we need to add `GIT_USER="..." ` in .travis.yml.
There's also `echo "machine github.com login ${GH_NAME} password ${GH_TOKEN}" > ~/.netrc` that we don't have but I'm not sure it's necessary. @NeQuissimus an

[2019-06-01 12:23] NeQuissimus commented on #927
Pretty sure that netrc line is the only thing missing. The yarn invokation probably looks for this file.

[2019-06-01 13:18] ghostdogpr commented on #927
@NeQuissimus so we need a token from a user with write permissions (https://docusaurus.io/docs/en/publishing.html#using-travis-ci). Do you want to do it, since the rest uses your account? Otherwise I can try it.

@jdegoes since the RC5 is already released, I could build locally and make a PR with the new website for manually merging into the gh-pages branch. Unless there is another way that doesn'

[2019-06-01 13:56] jdegoes opened #930 "Rename all packages"
Currently, all packages are prefixed with `scalaz`. The prefix should be dropped.

So instead of importing, for example, `import scalaz.zio._`, a user will now import `import zio._`.

[2019-06-01 13:57] jdegoes commented on #767
@softinio @NeQuissimus All right, we're ready to go on this. Help appreciated. 😄

[2019-06-01 14:04] jdegoes commented on #767
I am ready to add people to Netlify to help with the microsite. If you're interested, send me your email address and I'll add you.

[2019-06-01 14:09] ghostdogpr commented on #927
OK, ignore my previous message since we're going to use Netlify instead. Here are the instructions: https://docusaurus.io/docs/en/publishing#hosting-on-netlify

[2019-06-01 14:12] ghostdogpr commented on #767
I can have a look. Sent you my email by DM on gitter.

[2019-06-01 14:46] NeQuissimus commented on #927
I made a Circle CI context called "Website", which gives environment variables
- `GH_TOKEN`
- `GH_NAME`
- `GH_EMAIL`

Can you publish the RC5 website by hand for now?

I think I'll use my time at LambdaConf to tackle the migration of the build onto Circle CI.

[2019-06-01 14:48] NeQuissimus opened #931 "Migrate build to Circle CI"
Travis CI is slowly dying.
Also, other ZIO projects use Circle CI.

relates to #927  #767

[2019-06-01 14:48] ghostdogpr commented on #927
@NeQuissimus Yep, I'm trying to upload it manually + configuring netlify to point to the gh-pages branch, and I'll let you fix the build for future releases.

[2019-06-01 15:01] ghostdogpr commented on #927
Done: https://zio.dev/ (it's the RC5)

[2019-06-01 15:02] ghostdogpr commented on #767
Done for Netlify: https://zio.dev

[2019-06-01 15:06] jdegoes commented on #927
@ghostdogpr Superb. Thank you! 🙏

[2019-06-01 15:18] ghostdogpr opened #932 "Fix microsite to use new organization"
I did a couple changes manually in the published microsite but they need to be done in the source (`website` folder) for future releases:
- change gitter chatroom to ZIO/Core
- change github URL and stargazers URL to point to the new repo https://github.com/zio/zio
- change siteConfig.js:
[code]

[2019-06-01 15:18] #766 closed

[2019-06-01 15:45] softinio commented on #767
@jdegoes @NeQuissimus @ghostdogpr I have bandwidth this weekend to get the circle build added and move repo to new repo. Just so we don't duplicate effort can I confirm you all fine with me to proceed with that or do you want to split the tasks between each other? I ask as I saw new issues opened for each of these and fixing the microsite is kind of part of it too which I am happy to help with.

J

[2019-06-01 15:58] NeQuissimus commented on #767
I yeah go ahead. I made a separate issue for it. Just grab it. All the necessary variables should be in Circle contexts "Sonatype" and "Website", respectively

[2019-06-01 16:02] softinio commented on #767
@NeQuissimus On it. Thank you.

[2019-06-01 16:46] softinio commented on #931
Started working on this, Goal:

- move from `travis` to `circle`
- rename all references to `scalaz-zio` to `zio` including package/module names
- Fix and make sure microsite publish to netlify works

[2019-06-01 18:13] P3trur0 opened #934 "Fix CONTRIBUTING.md to refer to new organization"
In `CONTRIBUTING.md` there are still references to `scalaz` organization.

[2019-06-01 18:20] P3trur0 commented on #934
See PR #935.

[2019-06-01 18:51] softinio commented on #927
Working on this as part of #931.

@NeQuissimus have you set `GH_NAME` to GitHub username I assume? Ty

[2019-06-01 19:31] #869 closed

[2019-06-01 20:28] iravid commented on #836
Closed with #906

[2019-06-01 20:28] #836 closed

[2019-06-01 21:23] softinio opened #938 "Monix release in circleci"
[code]
Above was commented out in travis at the time we migrated to circleci.

Do we need to enable this? If so we need to add this as a step to the circleci build

[2019-06-01 23:08] softinio commented on #930
I'll take this as soon as Circle PR done.

[2019-06-02 00:43] NeQuissimus commented on #927
I have indeed

[2019-06-02 08:54] iravid opened #940 "Finalizer defects cause ZManaged#flatMap/foldM/zipWithPar to not execute all finalizers"
😱

[2019-06-02 15:10] ReiReiRei commented on #930
Sorry I fixed it

[2019-06-02 15:29] softinio commented on #930
Resolved by #943

[2019-06-02 15:29] #930 closed

[2019-06-02 16:45] softinio opened #944 "Remove FixScalafmtPlugin once a fix for scalafmt concurrency is available"
I added a SBT plugin `projects/FixScalafmtPlugin` to overcome this issue when running our builds in CIRCLECI:

https://github.com/scalameta/scalafmt/issues/1399

Remove this plugin once scalafmt is fixed most likely via:

https://github.com/scalameta/scalafmt/pull/1384

[2019-06-02 16:51] #927 closed

[2019-06-02 16:51] #931 closed

[2019-06-02 17:11] jdegoes opened #945 "Cats Effect interop needs updating in light of inherited interruption status"
In Cats Effect, interruption status is not inherited, and every "started" fiber starts off as interruptible. In the interop layer, we need to match Cats Effect semantics.

We should also look for other places where semantics have changed to warrant introduction of, e.g. `interruptibleMask`.

[2019-06-02 17:43] softinio commented on #932
Resolved by #933

[2019-06-02 17:43] #932 closed

[2019-06-02 17:44] softinio commented on #934
Resolved by #935

[2019-06-02 17:44] #934 closed

[2019-06-02 19:24] kaishh commented on #811
Observing it in this example:

[code]

`innerFork` is never interrupted, because it's an *indirect* child of `run`, so it doesn't get into `run`s supervised list, and `run`s child does not inherit the supervision action.

[2019-06-02 21:49] kaishh commented on #945
My opinion so far, although I'm very open to reconsider, is to consider simply dropping interruptibility inheritance altogether, because:

1. I find the examples not compelling enough, i.e. the example equations already hold with or without presence of inner forks in passed actions - as long as the fiber handles don't leak. Many combinators ensure that fiber handles can't leak, and fibers have no

[2019-06-02 21:58] kaishh commented on #185
Done in #849 :tada:

[2019-06-02 23:03] #185 closed

[2019-06-02 23:06] ghostdogpr commented on #945
To be honest, I have no strong opinion about it. The one that I think is really important is the supervision inheritance: i got bit by the way it works now and i had to comment some `.timeout` so that my code works properly. Didn’t get any case where I needed it on interruptibility.

[2019-06-02 23:19] kaishh commented on #945
Re: supervision inheritance, if we remove interruption inheritance, we can't make transitive child fibers visible to root parent's supervision, because then a they'll be able to interrupt 'hidden' fiber handles, e.g. in `foreachPar(...).uninterruptible.fork.interruptChildren` – foreachPar workers will be interrupted by the outermost supervisor, even though that directly contradicts its uninterrupt

[2019-06-03 00:36] jdegoes commented on #767
@softinio @NeQuissimus What else do we have to do here? Just fix the release process, right?

[2019-06-03 02:04] jdegoes commented on #945
As soon as I get a chance, I'll post my thoughts on this and the examples.... until then if someone wants to get out a quick PR to restore Cats Effect behavior by adding `interruptible` around the forks, that'd be awesome just so we can take more time to hammer out details.

[2019-06-03 06:37] softinio commented on #767
@jdegoes Assume by release process you mean publishing to sonatype. Thats all done and ready by my Circle PR that I merged today. We just need to test it (I have tested it with actors so should work with no issue with ZIO as same context/credentials and process to publish).

As a suggestion we should try to do a release and publish the current RC5 again but under the new org as a test and get it t

[2019-06-03 06:44] regiskuckaertz commented on #767
@softinio will the scaladoc be generated during release? I assume this is take. Care of by the sonatype release plugin?

[2019-06-03 08:45] regiskuckaertz commented on #913
I'll pick this one 💪

[2019-06-03 12:22] durban opened #950 "Interruption with/without finalizer"
Interruption seems to behave unintuitively depending on the presence/absence of a finalizer.

Without finalizer, this never terminates (only prints "started"):
[code]

If we add a finalizer to the forked task, it becomes cancellable (prints all 3 lines and terminates):
[code]

Is this intentional?

[2019-06-03 12:25] iravid commented on #950
Can you add a latch to the second test to ensure that the fiber is actually started?

[2019-06-03 12:26] iravid commented on #950
e.g.
[code]

[2019-06-03 12:33] durban commented on #950
Oh, you're right, sorry. With a latch, neither one terminates. I guess that's expected, right?

[2019-06-03 12:38] iravid commented on #950
It matches my expectations :-) Does it match yours?

[2019-06-03 12:39] iravid commented on #950
I don't know if we have a section about fiber interruption in the docs, but if we do, it'd be great to add a note about this behavior. It comes up all the time and is pretty subtle.

[2019-06-03 12:40] jdegoes commented on #950
@durban Yes, non-termination is correct. The `never` cannot be interrupted, so as long as the `never` begins execution (which the `latch` ensures), `interrupt` will suspend forever.

[2019-06-03 12:46] durban commented on #950
Ok, thanks, it makes sense.

One question: if I have a task which may or may not be interruptible, how can I make a "best effort" cancellation? (E.g., after a timeout I definitely want to continue with something else, and cancel the task *if possible*.) Simply fork the `.interrupt` call? (I.e., `_ <- fib.interrupt.fork`?)

Thanks for your help.

[2019-06-03 13:00] #835 closed

[2019-06-03 13:00] #920 closed

[2019-06-03 13:00] #940 closed

[2019-06-03 13:01] iravid commented on #900
I've not seen this in a while after the ZManaged rewrite. Shall we close?

[2019-06-03 13:04] iravid commented on #896
All taken care of!

[2019-06-03 13:04] #896 closed

[2019-06-03 13:30] tampler opened #951 "ZIO vs Cats Effect implicits collision"
Hello
Having a problem integrating ZIO 1.0-RC5 with http4s 0.21.0.
I'm trying to add a JSON test [here](https://github.com/Clover-Group/zio_front/blob/5045426d7b5d97f253419d5ab19b86c59f166d6f/src/test/scala/http/JsonSpec.scala#L34), but get errors:
[code]

Please help me to resolve this.
Thank you!

[2019-06-03 13:33] jdegoes commented on #767
@softinio I will try a release later today and report back.

Ditto on question for @regiskuckaertz: will it build and publish the homepage, with accompanying Scaladoc?

[2019-06-03 13:38] jdegoes opened #952 "Add more resources to Resources page"
<https://freskog.github.io/blog/2019/05/30/explore-zio-stm/>

<https://github.com/freskog/stm-partitioning>

[2019-06-03 13:39] jdegoes commented on #950
Yes, `.interrupt.fork` works great. Fibers don't actually consume any threads when inactive and will be garbage collected, so just fork the effects you don't care about. 👍

[2019-06-03 14:20] softinio opened #954 "add step to circleci to generate scaladoc and include in website"
Circleci changes:

- generate scaladoc
- make sure scaladoc published as part of website step

[2019-06-03 14:20] softinio commented on #954
I'm working on this one

[2019-06-03 14:26] softinio commented on #767
@jdegoes @regiskuckaertz good catch gentlemen. Created   #954 to make sure circle generates the scaladocs and publishes them with website.

Release should work though maybe wait to do release after I fix the scaladoc issue so we can see on release new website with scaladoc included in published also.

Hoping to get this done today after work before I sleep so PR within 24hours.

[2019-06-03 16:46] kaishh commented on #951
Could you use explicit type parameters, e.g. `request[Task]`, `Ok[Task](_)` and see if that helps?

[2019-06-04 03:35] softinio opened #955 "Final Cleanup after publishing to Sonatype using ZIO Org"
Once we have published using the `zio` org to sonatype/maven we need to finish off the migration to new org by:

- Updating footer in documentation to point to javadocs.io documentation for zio org as opposed to scalaz (https://github.com/zio/zio/blob/master/website/core/Footer.js#L57)
- setup codecov for repo under zio (or migrate over if possible)
- Make sure zio on scaladex
- Update readme to m

[2019-06-04 03:39] ghostdogpr commented on #955
We may have to fix Netlify as well, since I manually uploaded the website files for the current version. If the directory structure of the website uploaded by the build is different, we might have to add something like `cd zio` on Netlify side to point to the right subfolder.

Not sure but just wanted to give you heads up.

[2019-06-04 03:48] softinio commented on #767
@jdegoes @regiskuckaertz as promised PR is ready for your review: #956

Once this merges and we successfully test and publish  and release RC5 under the new org will need to tackle #955

Let me know if I can help with anything more and look forward to your review in case I missed something but all will be revealed when we test :-)

Got some ideas for improving on our build, release and documentati

[2019-06-04 07:18] Fristi commented on #945
🎉

[2019-06-04 07:29] ghostdogpr opened #957 "Allow overriding PlatformLive behavior easily"
If you want to have a custom implementation of `Platform#reportFailure` (or any other method of `Platform`), you have to write your own implementation of the whole `Platform`.

It would be easier if we could use `PlatformLive` and only override the methods we want.

[2019-06-04 07:35] ghostdogpr commented on #957
Erg, I just noticed it was possible with methods on Runtime: `withExecutor`, `withNonFatal`, `withReportFatal`, `withReportFailure`.

@kaishh there is a `withTracing` in `Platform` but it wasn't added in `Runtime` like the others.

[2019-06-04 07:35] #957 closed

[2019-06-04 10:12] tampler commented on #951
@kaishh Thanks for your advice. That seemed to work, when I did this:
[code]
but now I get another error, which seems to be related to http4s. I'll debug this, but won't currently close the issue:
[code]

[2019-06-04 10:41] iravid opened #960 "Add ZManaged.fromAutoCloseable"

[2019-06-04 11:09] kaishh commented on #951
@tampler `org.http4s.dsl.io._` is specialized to cats-effect IO. You need to instantiate a version for Task and remove that import.
[code]

[2019-06-04 11:11] regiskuckaertz commented on #913
I'm struggling to write `contramap` because of the `update*` and `modify*` methods. Variance aside, it seems impossible to provide an `A => A` when you have a `C => C` and a `C => A`:
[code]
It suggest to me the update mechanism needs to be abstract somehow. `ZSink` comes close with
[code]
I assume we can employ the same kind of trick, with the goal to keep being able to write simple expressions l

[2019-06-04 11:31] iravid commented on #913
Isn't it possible for `update` to be `g . f $ state`?

[2019-06-04 11:35] iravid commented on #913
ah yeah ok. you need a `type State = A`, is that what you're asking?

[2019-06-04 11:41] regiskuckaertz commented on #913
`g . f :: c -> a`, not `a -> a` 😞

Yes. If I understand correctly, this is why you came up with `Step[]` and `State`, right?

[2019-06-04 11:43] iravid commented on #913
Oh but that still won't solve the issue if you need to return `IO[E, C]`. Update has to return `IO[E, B]` no?

[2019-06-04 11:46] tampler commented on #951
@kaishh Great advice, worked like a charm. I actually had similar code in my service .  This was authored by another guy.
Albeit not ZIO related, could you pls advice on the next implicit resolution error with http4s json:
Service.scala
[code]
JsonSpec.scala
[code]
Results in the following implicit resolution error:
[code]
Thank you for  a great help!
Boris

[2019-06-04 11:46] iravid commented on #913
The current version of `update` returns the result of applying `f` to the internal state. So I don't see why this shouldn't return a `B` (as `get` does)

[2019-06-04 12:00] regiskuckaertz commented on #913
yeah that's right! so in essence, `ZRef` is a black box for a mutable variable:
[code]

In the case of `Ref`, `State = A`, it makes sense that `update :: (a -> a) -> b`

[code]

Does it mean that we can change `ZRef` to

[code]

[2019-06-04 12:06] iravid commented on #913
Hmm I don’t think those signatures are useful if you forget what State is. But I had to leave my computer, will  be back later today

[2019-06-04 12:09] regiskuckaertz commented on #913
What if there's an additional abstract method
[code]
same as in `ZSink`? Sure thing, thanks for your help so far, it's helpful to have someone to brainstorm with :-)

[2019-06-04 12:40] Vilkina commented on #668
I'm back. Will finish this issue soon :)

[2019-06-04 13:14] jdegoes opened #961 "Remove extraneous "ZIO" from home page and sub pages"
On the home page, and on all subpages, ZIO appears both as logo and as text.

The text should be removed.

<img width="187" alt="Screen Shot 2019-06-04 at 7 14 13 AM" src="https://user-images.githubusercontent.com/156745/58881908-676f2900-8698-11e9-8ea1-dc20e0880240.png">
<img width="203" alt="Screen Shot 2019-06-04 at 7 14 04 AM" src="https://user-images.githubusercontent.com/156745/58881913-69d1

[2019-06-04 13:15] Vilkina commented on #961
I'll take this.

[2019-06-04 13:17] jdegoes commented on #668
It was @ghostdogpr who pointed out we may not need these combinators after all, because they are so similar to the other ones. So I will close this for now.

I think we may be missing some combinators around Option/Try, mainly to submerge them into the main error type, but I haven't thought about what they should be.

Will close this one for now. Thank you @Vilkina for your work to date on it.

[2019-06-04 13:17] #668 closed

[2019-06-04 13:18] jdegoes commented on #961
@Vilkina Thank you!

[2019-06-04 13:21] jdegoes commented on #913
I think both `update` and `modify` have to be done on a syntax class inside companion of `ZRef`, which will assume that `A =:= B`.

I think this will be the simplest and leas confusing encoding.

[2019-06-04 13:38] Vilkina commented on #961
@jdegoes where I can find documentation? I forgot the name of this plugin for web.

[2019-06-04 13:45] kaishh commented on #951
@tampler You need to stop importing `org,http4s.circe._`, because you already define a catch-all instance that conflicts with an implicit there. Note that the error message contains all information required to resolve. If you don't already do that, I highly recommend adopting a Scala IDE, such as Intellij or Metals - it can easily show you root causes of implicit problems right in-editor.

[2019-06-04 13:45] jdegoes commented on #961
It changed, it is now using Docusaurus. I have not build the website myself, I think we need a guide to building the website.

Perhaps @LGLO can put a small guide together about the website?

[2019-06-04 13:47] Vilkina commented on #961
I found documentation https://scalameta.org/mdoc/docs/docusaurus.html
https://docusaurus.io/docs/en/site-creation https://scalameta.org/mdoc/docs/installation.html#sbt

[2019-06-04 13:49] Vilkina commented on #961
<img width="1086" alt="Screen Shot 2019-06-04 at 4 48 02 PM" src="https://user-images.githubusercontent.com/3358827/58884211-9f05c180-86e8-11e9-89d9-7f75b9385954.png">
I found "problem". I just need to learn how to run zio.dev locally so that I can test the changes

[2019-06-04 13:54] ghostdogpr commented on #961
@Vilkina there are instructions about how to build it locally here: https://github.com/zio/zio/pull/784

The problem is that this title `h2` comes from the Docusaurus template, not directly from our code. I think it takes `title` defined in siteConfig.js. Maybe we can make it empty and add `ZIO` to the `tagline`?

[2019-06-04 13:56] tampler commented on #951
Yeah, I'm using gvim

[2019-06-04 14:06] regiskuckaertz commented on #913
oh I see what you mean, so they're not in `ZRef` by default. works for me 👍

[2019-06-04 14:46] #954 closed

[2019-06-04 14:59] Vilkina commented on #961
tnx, much easier now. I thought about display: none somewhere in css if it is possible.

[2019-06-04 15:14] LGLO commented on #961
Sometimes I feel I'm too slow for pace of this project, you are turbo people!

I think the main problem here is that our logo is redundant with library name.
We can take a look how to use this text in other way like https://hemerajs.github.io/hemera/ or https://react-leaflet.js.org/ - they also have textual logo.
Also +1 for not displaying any text, just the image.

[2019-06-04 15:32] Vilkina commented on #961
I like the https://react-leaflet.js.org/ . I need to go now. I'm planning to fix this issue tomorrow morning. But if you want to fix and merge it today - please do :)

[2019-06-04 15:38] Vilkina commented on #961
But the easiest way to fix this is override css (or we have already overwritten css file? ):
fixedHeaderContainer header .headerTitleWithLogo {
    display: none;
    font-size: 1.25em;
    line-height: 18px;
    margin: 0;
    position: relative;
    z-index: 9999;
}

but only if we won't use this style  "header .headerTitleWithLogo" on other pages.

<img width="1228" alt="Screen Shot 2019-06-04

[2019-06-04 15:41] denisgarci opened #963 "Support Scala 2.11?"
Hi,
I noticed that after the change from TravisCI to CircleCI the support for Scala 2.11 has been dropped. I'm not sure if that's intentional. Should it be enable again?

[2019-06-04 18:48] iravid commented on #913
Ah that makes sense re modify and update.

[2019-06-04 18:51] iravid commented on #963
Ouch, that definitely sounds like an oversight. cc @softinio

[2019-06-04 19:00] softinio commented on #963
Thanks for reporting this will have a PR to correct this within 24 hours probably tonight.

[2019-06-04 19:33] denisgarci commented on #963
@softinio Thank you!

[2019-06-04 21:02] ghostdogpr commented on #961
Sounds good to me!

[2019-06-04 23:31] #960 closed

[2019-06-05 03:25] #963 closed

[2019-06-05 05:55] plokhotnyuk opened #965 "ZIO port for Rust wanted"

[2019-06-05 09:52] Vilkina commented on #961
<img width="767" alt="Screen Shot 2019-06-05 at 12 47 52 PM" src="https://user-images.githubusercontent.com/3358827/58947478-b00a0d80-8790-11e9-9512-d3c705dd974e.png">
I think I need to fix this before  build it locally :)

[2019-06-05 09:55] iravid commented on #961
try pulling master, I think that was fixed there

[2019-06-05 11:56] Vilkina commented on #961
not yet

[2019-06-05 15:15] freskog opened #966 "Add user provided canceler to effectBlocking"
Some blocking effects can not be canceled by performing a Thread.interrupt, but there are other ways of ensuring the effect is canceled.

One example is
[code]
This can not be interrupted using the normal interruption mechanism of ZIO. If we added a parameter to effectBlocking letting the user specify how to cancel a blocking effect we could have something like:

[code]

Right now the user is forc

[2019-06-05 17:32] iravid commented on #966
Interesting. Definitely a usecase we should address!

I think that the main property of `effectBlocking` is that it uses `Thread.interrupt`, and calls it repeatedly until the thread dies using short sleeps.

I don't think that sort of behavior is general enough to make `effectBlocking` use a user defined canceller. But maybe you could use `effectAsyncInterrupt` to run the effect inside `blocking`

[2019-06-05 18:37] iravid commented on #966
Something like this: https://github.com/zio/zio-kafka/blob/master/src/main/scala/zio/kafka/client/Consumer.scala#L38

[2019-06-05 19:41] freskog commented on #966
@iravid yeah, that's a really neat way to do it. Will have a stab at this.

[2019-06-06 06:14] iravid commented on #955
The artifact names have to be updated too - they're still `scalaz-<submodule>`

[2019-06-06 06:47] iravid commented on #961
@Vilkina oh yeah, sorry, didn't notice that was in the docs. will push a fix now

[2019-06-06 08:10] Vilkina commented on #961
@iravid I've fixed this error yesterday locally but I have another error:
<img width="1280" alt="Screen Shot 2019-06-06 at 11 06 10 AM" src="https://user-images.githubusercontent.com/3358827/59017170-9679cc00-884b-11e9-886c-d8b7a15367e9.png">

Error: You have 'doc' in your headerLinks, but no 'scalaz-zio-docs/target/mdoc' folder exists one level up from 'website' folder. Did you run `docusaurus-in

[2019-06-06 12:39] freskog commented on #966
@iravid

I tried using the approach suggested above,

[code]

However, my testing indicates that this doesn't work.

[code]

This just hangs forever, but if I try the approach of forking of the effect into it's own fiber and set the canceler on the parent fiber it works as expected:

[code]

Is there a reason to not use the second approach, or did I misunderstand your suggestion around using effec

[2019-06-06 13:14] freskog commented on #966
And naturally, as soon as I wrote that I realized that this is also an option

[code]

I'm not sure which option is best here.

[2019-06-06 16:43] #966 closed

[2019-06-06 20:31] jdegoes opened #975 "Add provideManaged, provideSomeManaged"
[code]
/cc @iravid

[2019-06-06 23:20] oscarvarto commented on #867
@jdegoes I'll submit a PR soon.

[2019-06-07 07:03] javimartinez commented on #975
Hi, I would like to give it a try.

[2019-06-07 09:01] iravid commented on #975
All yours @javimartinez!

[2019-06-07 09:07] durban commented on #950
I'm sorry, but thinking about this some more, something is still strange:

[code]

As expected, this code has a race condition (there is no latch), and sometimes doesn't terminate. However, sometimes it terminates, and prints this:
[code]
From this, I conclude the following:
- We have a task (`myTask`), which can never be interrupted (since it's `uninterruptible`).
- Since "cancelled" is printed,

[2019-06-07 10:46] barambani commented on #565
@kaishh (or @jdegoes but I know this is busy time), while playing around with some example I realised that I never use `Guaranteed2.guarantee` before deriving `Concurrent2`'s methods. `Errorful2`'s and `Temporal2`'s don't use it at all. If that's the correct, the latter could avoid depending on it right ? Or there are other reasons ?

[2019-06-07 11:05] freskog commented on #952
I've opened a PR (https://github.com/zio/zio/pull/978), which also fixes the documentation for effectBlockingCancelable (the original example was both incorrect and not very useful, I should have used this one from the start).

[2019-06-07 15:25] kaishh commented on #565
@barambani
API is simpler if most operations can be accessed from `Errorful`.
One rationalization I can give is that `Guaranteed` is more 'primitive', e.g. it's applicative, while `Errorful` is a monad. However, if we think of Errorful as just a copy of MonadError with bifunctor support, it indeed doesn't follow naturally that all Erroring effects should support finalizers.
TBQH I'd rather have an

[2019-06-07 18:46] kaishh commented on #950
@durban A fiber can be interrupted between .ensuring and the inner action starting. That seems consistent.

[2019-06-07 20:01] iravid opened #979 "Bring back the JDK11 builds"

[2019-06-07 20:02] iravid commented on #638
Covered by #732

[2019-06-07 20:02] #638 closed

[2019-06-07 20:13] iravid opened #980 "Flaky test in RTSSpec"
[code]

[2019-06-07 20:13] iravid commented on #980
cc @jdegoes

[2019-06-07 20:14] iravid commented on #900
Closing this out as it seems to be well-behaved now

[2019-06-07 20:14] #900 closed

[2019-06-07 20:15] iravid commented on #722
Haven't seen this in a while either.

[2019-06-07 20:15] #722 closed

[2019-06-07 21:09] kaishh commented on #945
Can we reopen since conversation about interruption inheritance hasn't been concluded yet?

[2019-06-07 22:12] kaishh commented on #951
I'm closing if you have no more questions

[2019-06-07 22:12] #951 closed

[2019-06-07 23:23] barambani commented on #565
I like the idea, unfortunately with the approach taken, to derive `bracket` from `guarantee` we need also forking, so I guess `bracket` has to remain in `Concurrent`. We can still go with
[code]
and we can have
[code]
moved to `Guaranteed2`.
Also, about your observation on pulling Concurrent, I notice that to implement `Sync`'s test defaults for `Zio` I need `Concurrent` just to be able to propaga

[2019-06-08 09:43] durban commented on #950
I realize why it might be implemented this way, and that it might be considered technically correct behavior. However, why would we want it to behave this way? Why would we ever want the finalizer to execute for a task which never started? Intuitively a finalizer is something which happens *after* the task. Sure, for the implementation it's necessary to do some work *before*; but if possible, that

[2019-06-08 10:05] iravid commented on #950
The sequence above surprises me as well. There are two things that might have gone wrong here:
- The finalizer has been executed, that means that `def myTask = ZIO.never.uninterruptible` has started executing. But it shouldn't have been possible to interrupt `myTask`.
- `myTask` never started executing, but the finalizer was executed anyway.

Both of these seem off to me.

[2019-06-08 10:58] kaishh commented on #950
@durban @iravid
I understand and agree, in fact. It is, however, documented (albeit may be worded better) that `ensuring` itself is unsuitable for finalization for exactly that reason. I wonder if this is reproducible with `bracket` – that IMHO would be far more worrying.

[2019-06-08 11:07] iravid commented on #950
@kaishh which one of the above do you think happened? the second bullet?

[2019-06-08 11:20] kaishh commented on #950
@iravid I believe it interrupted exactly after `ensuring` executed, when going into the next iteration, after setting `curIO = myTask`, but before executing it. The check for interruption happens at the start of the loop, at that moment `curIO` is replaced `IO.interrupt` and `myTask` is lost.

[2019-06-08 11:23] kaishh commented on #950
Setting temporary uninterruptibility between `ensuring` and next instruction there would require adding a new flag in the loop – likely worth it, actually, from usability point of view, but we'd probably want an opinion from @jdegoes on that.

[2019-06-08 12:05] iravid opened #987 "Disable inlining during non-release builds"
Should speed up the compilation according to @kaishh.

[2019-06-08 12:17] kaishh commented on #565
@barambani
We need fork to *implement* Concurrent `bracket` from guarantee.
We don't actually need it to *implement* `bracket` for a synchronous monad - we only need MonadError for that.
We also don't need forking to *state* the partial requirements of bracket, in the same capacity as we *state* them for `guarantee`.
We can just define a *default implementation* of bracket in `Concurrent`, but lea

[2019-06-08 14:16] Katrix opened #988 "Diverging implicit extension for UIO when importing cats instances"
Scala will fail to compile code like this.
[code]

Removing the import for the either allows it to compile. Also works with option's instances. Does not happen for some reason when importing all instances.

Here is the error gotten
[code]

[2019-06-08 18:12] ghostdogpr commented on #961
@Vilkina hmm I didn’t get that one before but I’m on a trip without a laptop so I can’t check right now. Maybe it’s related with the renaming from scalaz-zio to zio? It’s weird that it looks for scalaz-, I thought we removed all of them. Do you have the latest master?

[2019-06-09 15:58] barambani commented on #565
thanks @kaishh , I was (and still probably am) missing some background about the reasoning behind this hierarchy. I will try to put the above together in the open pr. It makes perfectly sense the way you present it.

[2019-06-09 21:14] NeQuissimus opened #996 "Flaky ZManagedSpec"
This happens sometimes:

[code]

[2019-06-09 22:20] #867 closed

[2019-06-10 05:47] ghostdogpr commented on #975
Done in #995

[2019-06-10 05:47] #975 closed

[2019-06-10 05:52] ghostdogpr commented on #938
Closing as it’s done

[2019-06-10 05:52] #938 closed

[2019-06-10 05:57] ghostdogpr commented on #791
Done in #796

[2019-06-10 05:57] #791 closed

[2019-06-10 07:08] Vilkina commented on #961
@ghostdogpr, working now. Someone fixed those files.
<img width="755" alt="Screen Shot 2019-06-10 at 10 06 43 AM" src="https://user-images.githubusercontent.com/3358827/59178375-8291db00-8b67-11e9-8698-32a0b14c1edc.png">
<img width="921" alt="Screen Shot 2019-06-10 at 10 05 44 AM" src="https://user-images.githubusercontent.com/3358827/59178456-b3721000-8b67-11e9-833b-a2af079164a9.png">

[2019-06-10 12:13] Fristi commented on #945
With RC8-4 my problem seems to be solved

[2019-06-10 13:01] jdegoes commented on #945
Yes, let's leave this opened for now, will get back on it after my next workshop concludes.

[2019-06-10 17:09] #944 closed

[2019-06-11 08:01] Fristi opened #1001 "cats-effect function causes trouble with upgrade to RC8"
I wrote this function while we were building the app in tagless final style a while ago with cats-effect type classes. This worked fine till RC4, after the upgrade to `RC8-4` this causes trouble:

[code]

Basically what it does:

- Sees if the `MVar` is filled
  - _not filled_: do a new login and fill the `MVar`
  - _filled_: refresh the token
- After that sleeps for 55 seconds and does this indef

[2019-06-11 08:37] Fristi commented on #1001
From `kc.exchangeCredentials(refineMV("master"), adminCli, cfg.adminUsername.value, cfg.adminPassword.value, "openid email profile")` it seems to throw errors. The `Keycloak[F]` is implemented with a http4s client which also uses cats-effect heavily. Seems it's causing problems in that regard. Strange thing is, that it throws errors but I get HTTP responses back.

[2019-06-11 09:07] Fristi commented on #1001
For reference I use this helper method to requests:

[code]

There is a status check built in and I use `run` to have a `Resource[F, Response[F]]` which I `use` to extract the relevant JSON

[2019-06-11 09:26] kaishh commented on #1001
In `cause.toString` you seem to get interrupts, while in `cause.prettyPrint` you're getting `die`s with no FiberId - you seem to be getting completely different errors there, could you check with the debugger if the cause you're printing is actually the same?
Also, is the problem that your code isn't working, or that it produces log messages? http4s uses interruptions often, you can just not print

[2019-06-11 12:17] fanf opened #1003 "Fiber trace should tell where unsafeRun was called"
Since `1.0-RC5`, we have really neat fiber traces which help debug IO (even in parallel/async set-ups). But when you port an old application, you may need to have a lot of `DefaultRuntime.unsafeRun` called everywhere.

It would be hugely usefull and save hours to have the place (source file, line) of the parent `unsafeRun` in the stack trace.

[2019-06-11 13:04] durban opened #1004 "Use proper package names"
Since the package names are changing anyway, maybe it's not too late to change them to the reverse domain name (i.e., `dev.zio._`).

[2019-06-11 13:09] kaishh commented on #1004
Eh, IMHO just `zio` is better. Definitely more concise!

[2019-06-11 13:39] durban commented on #950
@kaishh The behavior seems to be the same with `bracket_`:

[code]

As far as I can tell, the code above should be semantically the same as the one with `ensuring`. And it also prints this:

[code]

[2019-06-11 13:54] jdegoes commented on #950
The guarantees provided by `bracket` and `ensuring` are quite different:

1. Bracket provides the guarantee that release will run if acquire finishes.
2. Ensuring provides the guarantee that the finalizer will run if the effect is started.

Note that `IO.unit.bracket_(finalizer)(effect)` is the same as `effect ensuring finalizer`.

As per this guarantee, `effect.ensuring(finalizer)` may run `final

[2019-06-11 14:01] jdegoes commented on #950
Note there is a difference between:

[code]

and:

[code]

You would need some form of "fusion" in order to guarantee equivalence of these... which I did suggest (in one form) but folks weren't a fan of that.

Ultimately, in this case, though, I think `ensuring` is just too low-level. It should only ever be used for installing finalizers on effects when those finalizers do not depend on running an

[2019-06-11 14:27] kaishh commented on #950
@jdegoess Thanks for the detailed explanation!

[2019-06-11 14:34] iravid commented on #950
Thanks @jdegoes!

[2019-06-11 14:36] jdegoes commented on #950
No comments / debates / discussion? 😆

[2019-06-11 14:39] durban commented on #950
@jdegoes Does that "arbitrarily small" include zero? Or is it "arbitrarily small but nonzero"?

[2019-06-11 14:40] iravid commented on #950
Not from me. The part that was missing for my understanding was the “arbitrarily small” part.

Also, the dot notation here is misleading: the instructions are executed from bottom to top, so like Kai said it gets interrupted after installing the finalizer.

[2019-06-11 14:43] iravid commented on #1004
Have to agree with @kaishh

[2019-06-11 15:00] kaishh commented on #950
We can remove the suffix form of ensuring, if we truly believe that it's harmful 🤔

[2019-06-11 19:02] JD557 commented on #965
I think that Rust is not "mature enough" to support ZIO/ZIO doesn't really fit into Rust :

- It has no `do` notation and no well defined way to express monads (https://varkor.github.io/blog/2019/03/28/idiomatic-monads-in-rust.html presents a solution, but it seems quite cumbersome)
- It has no variance and no bottom type (that discussion has been going for quite a while: https://github.com/rust-l

[2019-06-12 05:56] regiskuckaertz opened #1006 "Cats: Stream & Sink"
`Alternative`, `Monad`, `Arrow`, etc.

Where should we put them @iravid ?

[2019-06-12 06:24] Fristi commented on #1001
<img width="1490" alt="Screenshot 2019-06-12 at 08 15 20" src="https://user-images.githubusercontent.com/141265/59327939-57d08f80-8ceb-11e9-9eb3-cf62d5b78a5c.png">

The debugger seems to print the identical interrupts. After digging abit in the http4s client I see the spawn timeouts using fibers. I guess that's where the interrupts come from. Guess it's safe to ignore the errors in `reportFailure`

[2019-06-12 06:31] ghostdogpr commented on #1001
@Fristi yep, it’s what is done in the default implementation of `reportFailure`: https://github.com/zio/zio/blob/d53cd0c55c91fc64988f9fa0dceacc951ee0c12f/core/jvm/src/main/scala/zio/internal/PlatformLive.scala#L54

[2019-06-12 07:08] Fristi commented on #1001
Ahh, no troubles then :-) I made my own Platform implementation since I want to log errors with slf4j.

Closing this then!

[2019-06-12 07:08] #1001 closed

[2019-06-12 09:17] durban commented on #1004
I don't buy it. It's just 4 additional characters (7 total), and in return we don't screw with people who may want to create, e.g., some zio interop packages in their projects (`foo.bar.interop.zio`).

[2019-06-13 06:53] iravid commented on #1006
Ugh. The choice is between creating `interop-cats-stream` and making the `interop-cats` depend on the `stream` artifact, right?

[2019-06-13 08:29] regiskuckaertz commented on #1006
yeah 🤕 is it safe to use `optional` or `provided` if going in the second direction in that case?

[2019-06-13 08:46] iravid commented on #1006
I think so. Let's ask @kaishh to make sure?

[2019-06-13 10:38] rnd4222 opened #1007 "Build for 2.13.0"
Scala 2.13.0 was [released](https://github.com/scala/scala/releases/tag/v2.13.0), so it would be great to have ZIO build for it.

[2019-06-13 13:11] iravid opened #1008 "ZStream#flatMapPar has unbounded memory usage"
Every fiber running an inner stream is tracked in a list, so for long running streams with lots of elements, this is pretty destructive.

A better approach would be to invert the relation and have the forked fibers interrupt themselves using a promise signalled by the outer stream.

[2019-06-13 13:12] iravid opened #1009 "ZStream#mapMPar does not propagate interruption to forked fibers"
Thanks @runtologist for noting this. Also see #1008 for an approach to solving this.

[2019-06-13 13:29] iravid commented on #634
Snippet from @jdegoes that might have the right variance incantation: https://scalafiddle.io/sf/Zenzi9P/1

[2019-06-13 14:19] iravid commented on #634
To avoid the generalized subtyping constraints in the snippet (which impose either `asInstanceOf` calls or `mapError(ev)` calls), this monstrous signature for `fold` can be used:

[code]

[2019-06-14 02:32] softinio opened #1011 "Microsite deployment failure investigation during release deploy"
see https://circleci.com/gh/zio/zio/1315

[2019-06-14 05:38] softinio commented on #979
@iravid this looks like its already done? If you agree shall we close this ticket?

[2019-06-14 05:53] iravid commented on #979
@softinio I don't see the JDK11 builds in the CircleCI config.yml..?

[2019-06-14 06:04] softinio commented on #979
you are right ! Will tackle it this weekend.

My mistake thought this ticket was re: scala 2.11 and saw it done :-)

[2019-06-14 09:30] scurvydoggo opened #1012 "Add `timezone` to DefaultRuntime.Environment"
We are finding `zio` is a great way to mocking the non-deterministic aspects of our app.

One gap that caught us out though was the absence of a `timezone` field for us to override in any of the default modules, which resulted in different timestamps being generated in our CI environment when the unit tests ran.

To work around this, we've introduced a new `TimeZone` module, which uses `ZoneId.sys

[2019-06-14 12:09] iravid opened #1014 "Make stacktraces for ZStream be actually useful"
Right now, they look something like this:
[code]

[2019-06-14 14:40] ghostdogpr commented on #1011
It fails because the SSH key requires a passphrase, but CircleCI doesn’t support it (https://circleci.com/docs/2.0/add-ssh-key/).
@Nequissimus can you make one without passphrase?

[2019-06-14 17:33] petomat opened #1017 "ZStream.fromInputStream last chunk is too big"
`zio.stream.ZStreamPlatformSpecific#fromInputStream` reads into a buffer array and feeds this into `zio.Chunk.fromArray` for each chuck. The last chunk does not address the whole array most of the time, that's why there is a `take` on the created `zio.Chunk`. The problem is that `take` currently always takes the whole array instead of bytes read from the input stream into the array.

[2019-06-14 17:34] petomat commented on #1017
I am working on this right now.

[2019-06-14 18:07] #1008 closed

[2019-06-14 19:04] #1017 closed

[2019-06-15 03:30] #1009 closed

[2019-06-15 21:04] NeQuissimus opened #1021 "Update Dotty"
These are the issues you'll encounter when updating to 0.16.0-RC3

[code]

[2019-06-15 21:09] NeQuissimus opened #1022 "Fix tests with Dotty"
Somehow we are not actually running the tests with Dotty.

When I do, these errors pop up:

[code]

[2019-06-15 21:42] NeQuissimus commented on #1007
Once #993 is in, this should be trivial

[2019-06-15 23:07] NeQuissimus opened #1023 "Flaky runtime test"
This test loves to time out

[code]

Last observed with Scala 2.12 and JDK 8

[2019-06-15 23:09] NeQuissimus opened #1024 "Flaky streams test"
[code]

Last observed with Scala 2.11 and both JDK 8 and 11

[2019-06-16 06:07] ghostdogpr commented on #980
Closing as #1023 is a duplicate (it has tags so I keep the other one)

[2019-06-16 06:07] #980 closed

[2019-06-16 06:37] iravid commented on #1024
Fixed by #1020

[2019-06-16 08:07] iravid opened #1025 "Add ZStream#batch/batchWeighted"
Inspired by the Akka Streams API (see here: https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/batchWeighted.html).

Could be interesting to use a Sink for the grouping.

The combinator should allow a faster upstream to progress independently of a slower downstream, aggregating elements up to a maximum cost for as long as the downstream is busy.

This should essentially split th

[2019-06-16 08:09] iravid opened #1026 "Add ZStream#groupedWithin/groupedWeighedWithin"
Inspired by the Akka Streams API (https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/groupedWeightedWithin.html).

Could be interested to use a Schedule for the delay and a Sink for the grouping.

The combinator should allow a faster upstream to progress independently of a slower downstream, aggregating elements up to a maximum cost for as long as the downstream is busy.

This s

[2019-06-16 08:17] iravid opened #1027 "Add throttling combinators to ZStream"
A token bucket implementation.

Variants:
- [x] `ZStream#throttleEnforce, ZStream#throttleEnforceM` - a version that drops elements that exceed the available bandwidth
- [x] `ZStream#throttleShape, ZStream#throttleShapeM` - a version that delays elements until sufficient bandwidth is available
- [ ] Accomodate bursts by allowing the token bucket to go into a (configurable) negative amount or by ac

[2019-06-16 09:47] #1024 closed

[2019-06-16 13:57] andreamarcolin opened #1028 "Add generic 'toManaged' conversion from Resource to Managed"
Due to 'toManaged' being defined only for `Resource[cats.effect.IO, A]`, it is currently not possible to convert a `Resource[Task, A]` to a `ZManaged`.

A notable example of this limitation include trying to get a Managed from a `Resource[Task, HikariTransactor[Task]]` when using doobie, and also when using Http4s, as reported by several users on gitter.

This problem was already referenced in [th

[2019-06-16 13:58] NeQuissimus commented on #1027
It would be cool if there was an implementation of this that has some sort of `f: Token => UIO[Unit]`, which can be used to persist the tokens (think storing the token in a Kafka `KTable`)

[2019-06-17 06:55] andreamarcolin opened #1029 "ZStream#mapAccumM should take a ZIO instead of just IO as parameter"
ZStream#mapAccumM should be generalized to take a ZIO as a parameter instead of IO, in order to be able to use ZIO's environment in the effect.

Actual signature:
[code]
Proposed signature:
[code]

Edit: fixed return type of proposed signature (ZStream env type parameter)

[2019-06-17 07:02] andreamarcolin commented on #1029
@iravid I can work on this as I told on gitter, but please confirm I am in the right path with the signature :)
The implementation is quite complex for my actual FP level, but from what I can understand, inner fold already accepts a R1 <: R, so I should be able to just move the type bound to the outer signature and modify it as described above

[2019-06-18 11:36] iravid commented on #1029
Hi Andrea, the `R1 <: R` is part of the definition of `ZStream`'s interface. You'll need to introduce an `R1` on `mapAccumM`, and use `R2 <: R1` on the constructed stream instance.

[2019-06-18 12:22] andreamarcolin commented on #1029
Oh, now I see, pretty similar to how it's done for E2. Should have look more carefully.
I will be back soon with the PR, thank you!

[2019-06-19 03:10] takat0-h0rikosh1 opened #1034 "How to management fibers."
I ran this code on my low spec PC.
https://zio.dev/docs/overview/overview_basic_concurrency#forking-effects

Then, the PC generated high fever and died as OOME.

I guess that is probably due to the fact that the number of concurrent fibers can not be managed and resources are exhausted.

Is there any documentation on how to manage concurrent fibers?
https://zio.dev/

[2019-06-19 03:54] He-Pin opened #1035 "Add performance cooperation with CompletionStage"
It would be great to add performance cooperation with Java's CompletionFuture, and then some user from the Java side may make use of ZIO by default with interop-java.

[2019-06-19 14:39] dag2ww commented on #743
I'm not a contributor (yet :) ) - going to be there :)

[2019-06-20 05:07] iravid commented on #1027
@NeQuissimus I think we could implement the token bucket as a `ZSink`, then its internal state can be persisted.

[2019-06-20 05:36] iravid opened #1040 "Add ZStream#effectAsync*"
Following up on @jdegoes's comment on gitter, this family of combinators should adapt callback-based side-effecting APIs to streams. Instead of this familiar pattern:
[code]

We should be able to do:
[code]

Would be interesting to see if we can translate all of the variants of `ZIO.effectAsync*`.

[2019-06-20 07:30] andreamarcolin commented on #1028
I can try to take a stab at this if no one volunteers :)
@jdegoes can you maybe give some advice on how to tackle this problem since you reviewed the above mentioned PR? It would be great help. Thank you

[2019-06-20 08:00] #1029 closed

[2019-06-20 14:01] jdegoes commented on #1034
The example should be changed.

`fib(100)` would generate `2^100` fibers, which would crash any machine.

[2019-06-20 15:43] jdegoes commented on #1023
[code]

[2019-06-20 15:45] jdegoes commented on #1023
This test, as convoluted as it is, looks correct to me.

Meaning the problem may be in `bracket_` or `interruptChildren` or something lower level.

[2019-06-20 16:36] iravid commented on #1023
Hmm FWIW ive seen “returns fiber refs” time out as well.

[2019-06-20 19:22] jdegoes opened #1048 "Enable Circle CI Dotty compilation but not tests"
Tests don't work for Dotty but we should still be compiling Dotty on every build.

/cc @NeQuissimus @softinio

[2019-06-20 21:24] softinio commented on #1048
Agreed ...... I'll take a look

[2019-06-20 21:27] jdegoes commented on #1048
@softinio Thank you!

[2019-06-21 00:32] NeQuissimus commented on #1048
Just run the lint step with Dotty, that will compile the code. (unless the linter does not work xD)

[2019-06-21 00:42] NeQuissimus commented on #1011
I did, fingerprint is `b3:9b:af:d5:de:74:32:e7:7a:21:77:77:66:fe:2f:42`

[2019-06-21 01:10] jdegoes commented on #743
Registration is [now open](https://www.eventbrite.com/e/zio-hackathon-2019-warsaw-edition-tickets-63933603128)!!!

![giphy](https://user-images.githubusercontent.com/156745/59890629-01b8b780-938f-11e9-8fdc-ba6f32db1eeb.gif)

[2019-06-21 08:22] dariusrobson commented on #1040
I would like to give this a go :-)

[2019-06-21 11:21] iravid commented on #1040
@dariusrobson please do! Let me know if you need any help

[2019-06-21 17:17] #987 closed

[2019-06-21 19:39] CucumisSativus commented on #1026
Ill take this one

[2019-06-21 21:29] #979 closed

[2019-06-21 21:29] #952 closed

[2019-06-21 23:10] ghostdogpr commented on #1023
There are several tests that are flaky in RTSSpec, the common point from what I’ve seen is that they all involve supervision.

With the multiplication of test configurations (jdk11, 2.11, js, etc) it became extremely difficult not to run into it :/

[2019-06-21 23:42] ghostdogpr commented on #1011
Reopening as the microsite deployment still fails.
Now the error is happens during `Install Yarn`: `ERROR: This command can only be used by root.`

[2019-06-22 05:18] wongelz commented on #1023
The "returns fiber refs" test sometimes fails with : `'WrappedArray(zio.internal.FiberContext@867d0ad)' doesn't have size 2 but size 1`

[2019-06-22 05:56] ghostdogpr commented on #1011
I fixed a number of issues happening during the microsite release but I’m now stuck with that one:
[code]

I did install the latest version of node and npm so I’m not sure why this happens.
Anyone has an idea? @softinio @iravid @NeQuissimus

[2019-06-22 11:18] lukasz-golebiewski commented on #1021
I'll take a look at this

[2019-06-22 11:38] lukasz-golebiewski commented on #1021
@NeQuissimus: I would appreciate some ideas on how to tackle (there are around 30 of these):
[code]

[2019-06-22 11:46] kaishh commented on #1021
@lukasz-golebiewski
Probably add that option in the error message here https://github.com/zio/zio/blob/master/project/ScalazBuild.scala#L80
We're not running the tests on dotty anyway

[2019-06-22 12:41] lukasz-golebiewski commented on #1021
How do you trigger compilation with dotty without it added to the list of cross compilers?

[2019-06-22 14:03] jdegoes commented on #1023
@ghostdogpr @wongelz See [here](https://github.com/zio/zio/pull/1063)

Still more work to do on the fundamental problem `supervise fibers in supervised`

[2019-06-22 14:10] jdegoes commented on #1028
@andreamarcolin

First, you'll have to change this:

[code]

Instead, accept any `F[_]` for which there is a `ConcurrentEffect`.

Then you can `mapK` over the `Resource`, translating the `F[_]` into `CIO` (Cats `IO`), and then do what the code is doing now.

This is not the most efficient way but it will get the job done.

/cc @mschuwalow

[2019-06-22 15:08] kaishh commented on #1022
https://github.com/zio/zio/issues/1021#issuecomment-504658152

`s2` is a macro, so that method really doesn't exist... We'll have to drop all s2's to support dotty.

[2019-06-22 15:09] kaishh commented on #1021
`;++0.16.0-RC3 ;coreJVM / test:compile`
If that doesn't work, I guess you should add it.

[2019-06-22 16:54] lukasz-golebiewski commented on #1021
`;++0.16.0-RC3! ;coreJVM / test:compile` worked, thanks

[2019-06-22 18:38] evis opened #1065 "Microsite zio.dev is down too often"
For example, it was down for a few minutes right now. Should be problems with web server app, as far as I can guess.

[code]

It's already working right now. But it's definitely not the first and even not the second time I encounter problems with accessing ZIO docs.

Bad microsite availability even became a subject for some jokes in Russian Scala User Group chat. :)

[2019-06-22 19:48] softinio commented on #1011
@ghostdogpr found what the issue was PR ready for you to review #1068

[2019-06-22 20:47] #1011 closed

[2019-06-23 00:10] ghostdogpr commented on #1065
Seems like Netlify (the provider we're using) is being blocked by some russian providers. See https://community.netlify.com/t/netlify-cdn-or-dns-blocked-in-russia/372/3

[2019-06-23 05:51] wongelz commented on #1023
@jdegoes  I'm still seeing the same test failure in "return fiber refs" unfortunately.

But looks like you're on the right track though - if I put `_ <- ZIO.effectTotal(System.gc())` anywhere in "supervise fibers in supervised" it times out every single time.

[2019-06-23 06:04] evis commented on #1065
I doubt this problem exists due to blocking by providers. I'm able to ping zio.dev when website is down. Also, even if I use VPN, I can't access website anyway.

It's down right now again.

[2019-06-23 06:31] ghostdogpr commented on #1065
Personally I've never had issues and I access it very often. I'm surprised you have issues even with a VPN. What the link I provided is saying is that some CDNs in Europe are being blocked from Russia, so depending on which CDN you end up with load balancing, results might be different.

If I `dig zio.dev`, I can see I'm pointing to a DigitalOcean CDN located in Singapore (probably the closest to

[2019-06-23 06:49] ghostdogpr commented on #1065
These sites seems to confirm it as well:
https://isitblockedinrussia.com/?host=https%3A%2F%2Fzio.dev
https://www.comparitech.com/privacy-security-tools/blockedinrussia/

I tried a bunch of VPNs from other countries and didn't see any problem. Which VPN have you tried?

[2019-06-23 06:57] evis commented on #1065
Oops, seems like my VPN tried to connect via Russia too. Sorry for the confusion.

Changed country, actually works ok, thank you.

So, workaround for Russians is simple: just use VPN.

[2019-06-23 06:57] #1065 closed

[2019-06-23 06:58] ghostdogpr commented on #1065
Good to hear, thanks!

[2019-06-23 13:56] iravid commented on #1023
I have some thoughts on the GC eating up the weak set unexpectedly:
- I'd be *really* caught off-guard by this if I wrote something that uses `ZIO.children` and my child fibers were not visible in the returned list (and if we formulated laws for the interaction between `fork` and `children` they'd definitely be violated)
- On the other hand, making this not be a weak set by default would wreak hav

[2019-06-23 16:51] jdegoes commented on #1023
@wongelz

Hmmm. The hard refs in `return fiber refs` _should_ prevent garbage collection of the fibers. Operative word being _should_.

It could be it's getting removed from the weak set _before_ it's actually garbage collected.

@iravid I have some thoughts about this, will write them up shortly.

[2019-06-23 17:18] #1028 closed

[2019-06-23 20:43] softinio opened #1073 "Improve `Cause` to disallow Sequential failures being exposed as parallel"
See https://github.com/zio/zio/pull/917#issuecomment-504782408

[2019-06-23 20:45] #853 closed

[2019-06-23 20:48] softinio commented on #1073
@jdegoes Can I take a bit of your time to understand how Cause currently works in detail to bridge my knowledge and ramp up on the code base so I can tackle this effectively?

[2019-06-23 22:28] jdegoes opened #1074 "Flaky stream test"
[code]

[2019-06-23 22:29] jdegoes commented on #1074
/cc @iravid

[2019-06-23 22:49] jdegoes opened #1075 "effectBlocking flaky test"
[code]

[2019-06-24 04:14] softinio opened #1077 "Unable to compile some subprojects due to dotty version of dependencies not being available on maven"
Unable to compile some subprojects due to dotty version of dependencies not being available on maven:

- streamsJVM
- testkitJVM
- All projects using scalajs

[code]

[2019-06-24 11:56] #1048 closed

[2019-06-24 19:20] jdegoes opened #1078 "Implement Schedule.forDuration"
Implement:

[code]

This schedule would repeat until the specified duration elapses (as measure from the time the schedule starts). After the duration elapses, the schedule will terminate.

[2019-06-24 19:26] jdegoes opened #1079 "Implement firstSuccessOf"
Using `orElse`, add the following method:

[code]

These methods will use `orElse` to reduce the non-empty iterable of effects into a single effect.

It may make sense to add `firstSuccessOfPar` as a synonym for `raceAll`, and deprecate `raceAll` as the preferred name.

[2019-06-24 19:54] kaishh commented on #1078
Don't we have a `ZSchedule.duration`?

[2019-06-24 20:00] evis opened #1080 "zip methods which ignore both effect results"
So, we have `zipLeft`, which ignores right effect result, and `zipRight`, which ignores left effect result. We could have another function (`zipNone`? `zipIgnore`?), that ignores both effect results, so returns `ZIO[R1, E1, Unit]`.

Also, the same function could be implemented for `zipPar`.

I'd like to implement it, but want to agree about naming firstly. I suggest such naming:
`*` (as `zipRight`

[2019-06-24 20:11] jdegoes opened #1081 "Completely overhaul supervision"
The drawbacks to the current supervision model are many:

 - It can consume lots of memory, potentially unlimited on Javascript
 - There are differences between JVM and Scala.js, because Scala.js does not support weak structures
 - Deterministic tests are difficult to write because of the non-determinism of garbage collection
 - It has to be explicitly turned on, and tracking child fibers has non-

[2019-06-24 20:14] NeQuissimus commented on #1081
![Yeah Baby Yeah](https://user-images.githubusercontent.com/628342/60048891-1fda2c80-969b-11e9-8f79-202b0419f589.png)

[2019-06-24 20:16] iravid commented on #1081
Yes, this makes sense. I think I often wanted the ability to kill an entire subtree of fibers and it always seemed too difficult when it should be the default.

This is my intuition after some initial thoughts, will sleep on it :-)

[2019-06-24 20:17] jdegoes commented on #1081
You will be able to kill the whole app, all the way down, assuming you're not using daemon anywhere.

[2019-06-24 20:24] iravid commented on #1080
Hmm so is this equivalent to `(a <*> b).unit`?

[2019-06-24 20:25] iravid commented on #1074
the flakiness gods strike again 🤦🏼‍♂️

[2019-06-24 20:28] evis commented on #1080
Yes, it is.

[2019-06-24 20:31] iravid commented on #1080
Ok. My personal opinion is that it's pretty concise to write, so there'd be no particular advantage to a dedicated combinator.

[2019-06-24 20:36] don41382 opened #1082 "Proper error handling with ZIO and http4s when a fiber dies"
I am using ZIO with http4s. Everything works like a charm. The only problem exists when inside ZIO Fiber an unexpected error (Exception) occurs and the Fiber dies. This results in an empty response for the user. This is unsatisfying because we should at least return a 503 :-)

Of course, I could fix this by changing every route to catch the error and prevent (sandbox) the Fiber from dying, but I w

[2019-06-24 20:36] evis commented on #1080
It's really concise to write, when we combine just `a` and `b`. But this one isn't so concise, for example:

[code]

Compare with:

[code]

Though, we may live without this and just write `unit`, of course.

[2019-06-24 20:43] jdegoes commented on #1078
@kaishh 🤦‍♂

[2019-06-24 20:43] #1078 closed

[2019-06-24 20:49] evis commented on #1080
I've just realized, that we can write just this:

[code]

This one is really simple.

[2019-06-25 02:03] bbarker opened #1084 "`when` sometimes fails to have type parameters inferred"
In the following code snippet, `when` requires type paramters.

[code]

`.when[CCRSEnv, String]` will also work, but not e.g. `.when[CCRSEnv, Int]` (this is taking place in a for loop yielding a value of type `ZIO[CCRSEnv, String, JobId] `.

A relevant signature here is: `def logTryMsg(cVal : A, msg: String): ZIO[CCRSEnv, Nothing, A]`

[2019-06-25 05:12] #1080 closed

[2019-06-25 09:56] smarter commented on #1077
Since silencer should not affect the compiler output, you should be able to just remove it from the dependencies when compiling with dotty.

kind-projector is not needed with Dotty. To write type lambdas that work in both Scala 2 and 3, either use the type projection syntax or use kind-projector on Scala 2 side and `-Ykind-projector` when compiling with Dotty to be able to use `*` as a placeholder

[2019-06-25 19:23] peterlopen commented on #1079
Should implementation in ZIO object look similar to this?
`rest.foldLeft[ZIO[R, E, A]](first)(_ orElse  _).refailWithTrace`

[2019-06-25 19:41] Adriani277 commented on #1079
Would like to pick this up if no has yet :)

[2019-06-26 03:51] ratoshniuk commented on #1082
@don41382 you mean something like `whenDie` ?

[2019-06-26 10:40] ghostdogpr commented on #910
Done in #1083

[2019-06-26 10:40] #910 closed

[2019-06-26 10:42] ghostdogpr commented on #695
Done in #735

[2019-06-26 10:42] #695 closed

[2019-06-26 10:43] ghostdogpr commented on #588
Done in #738

[2019-06-26 10:43] #588 closed

[2019-06-26 12:08] #878 closed

[2019-06-26 12:09] ghostdogpr commented on #815
Closing this since we moved interop to separate repos

[2019-06-26 12:09] #815 closed

[2019-06-26 15:22] softinio commented on #1073
Going to tackle this

[2019-06-26 20:27] jdegoes commented on #1073
There should only be one `Fail` in any `Then` (sequence) of failures, and it should always be the first.

It means changing `++` to accept `Cause[Nothing]`, and possibly some other changes.

The intuition here is that if your fiber fails, then as it's unwinding the stack and running finalizers, it may generate more failures, but these will always be defects, not typed failures, and they will alway

[2019-06-26 21:50] bbarker commented on #1084
I'm not sure what happened, but it is working now without specifying type parameters. In fact, it actually fails with the `Nothing` type parameter above now:

[code]

Previously I forgot to mention I was using zio "1.0-RC5", and still am.

I didn't change any relevant dependencies that I can think of; the only things I just did was to add a new dependency with some excludes:

[code]

and add an sb

[2019-06-26 22:20] smarter commented on #1021
[error]     |Required: zio.ZIO[R1, Nothing, Any]

I see you've worked around those in https://github.com/zio/zio/pull/1062 (so I guess this issue should be closed ?) but fwiw, the underlying issue is fixed in https://github.com/lampepfl/dotty/pull/6719, though avoiding wildcards when possible is a good idea anyway.

[2019-06-27 04:38] ghostdogpr opened #1089 "New combinator: catchAllCause"
Similar to `catchAll` but takes a `Cause[E]` instead of an `E` so that we can get execution traces easily.

[2019-06-27 04:58] softinio commented on #1089
I'll take this related to other PRs I am doing. Thanks!

[2019-06-27 05:27] ghostdogpr commented on #1089
@softinio as we agreed, I assigned this to one attendee at Scala Matsuri Hackathon. Thanks!

[2019-06-27 06:35] heraklos commented on #803
Does that mean we don't need done synchronized in the first place, or I should add some tests that fails when atomically is controlled not exclusively?

It seems that removing `done synchronized` escapes test failures when there are not enough fibers forked to cause data confliction.
I confirmed that changing the number of fibers from 10 to 100 caused test failure.
I may have to modify the number

[2019-06-27 06:36] #1021 closed

[2019-06-27 07:48] #861 closed

[2019-06-27 10:40] #1089 closed

[2019-06-27 13:13] kaishh commented on #1021
@smarter

Would you find the issue if we didn't use wildcards though? 🤔

[2019-06-27 16:44] jdegoes commented on #803
@heraklos

Thank you for taking this project on!

You are right, we only need `LockedRef`.

Does that mean we don't need done synchronized in the first place,

We do need it! The code will _not_ be correct without synchronization in the presence of multithreading. Of course, in Javascript, the code will always be correct since there is no multithreading. 😄

[2019-06-27 16:55] jdegoes opened #1097 "Suggestions for improvements to documentation"
From a user:

### Having use cases where to use what

- [ ] How to handle interop with java
- [ ] How to handle defects (errors in pure code)
- [ ] How to transform from one variant to another (ie. Task -> UIO, using catchAll, either, fold)

### Best practices when it comes to error

- [ ] what can one do with the polymorphic error channel in ZIO,

### Misc

- [ ] Had issues running a simple servi

[2019-06-27 21:00] wpoosanguansit commented on #1026
@iravid I just saw that @CucumisSativus already took the ticket.  But in the spirit of understanding the internal of ZStream, I did tested out a few things and got this to solution:

[code]
Do I understand correctly that the schedule is passing end along and that A1 is what is returned, in this case, it is List[A]?  Thanks.

[2019-06-27 23:02] #767 closed

[2019-06-28 03:10] softinio commented on #1097
A Tutorial that takes you step by step to building something useful with exercises and solutions at end to practice using ZIO?

[2019-06-28 05:11] iravid commented on #1026
@wpoosanguansit the implementation looks correct, with one small problem: an element is required to trigger the emission, even if the delay has passed.

[2019-06-28 05:47] wpoosanguansit commented on #1026
@iravid thank you.  I think there is a gap in my understanding of zstream internal.  my understanding is that fold would be called and that would trigger the schedule.initial to kick things off, is that the case?  from what I can see (s, a) => loop(s, sched, a, accum) is where a is being passed in from the stream, right?

[2019-06-28 05:54] iravid commented on #1026
Yes, I think you have that down correctly! But consider what happens if you use `groupedWithin(10, 1.minute)`. The stream gives you one `A`, and then stops for two minutes. What triggers the emission of your batched elements?

[2019-06-28 11:04] jdegoes opened #1098 "Deprecate FiberLocal"
Now that we have FiberRef, FiberLocal should be deprecated with @deprecated annotations.

[2019-06-28 12:59] don41382 commented on #1082
You are talking about `orDie` / `orDieWith`?

To be honest, I am not 100% sure what I am looking for. I just would like to prevent http4s from dying :-) It seems like, it has something to do with the Transactor in Doobie. Currently, I am building my own (step by step) to understand what exactly is happening.

[code]

This seems to work and the exception can be caught by `withServiceErrorHandler`.

[2019-06-28 15:36] wpoosanguansit commented on #1026
Is that why we need to tack delay like below?

loop(s, decision.state, a, as :+ a).delay(decision.delay)

Thanks.

[2019-06-28 16:26] CucumisSativus commented on #1026
@wpoosanguansit please feel free to open PR with it, you are light years ahead of me when it comes to this. I don't want to block those 2 nice methods in ZIO

[2019-06-28 19:01] #1077 closed

[2019-06-28 20:42] ywang412 commented on #1098
I am hoping to make my first contribution to an open source project. Can I work on this issue? Do I need to join the organization? Thank you very much!

[2019-06-28 20:59] kaishh commented on #1098
@ywang12 Yep, just open a PR. You don't have to join

[2019-06-28 23:05] DamianReeves opened #1102 "Add ZStream#partition"
Add the following method to `ZStream`:

[code]

[2019-06-29 00:42] wpoosanguansit commented on #1026
thanks @CucumisSativus.  Will do.

[2019-06-29 11:18] don41382 commented on #1082
Okay, I found the problem. If I use `ZIO.accessM` to access my environment effect and that crashes, no http4s returns no response to the user.

So, why does

[code]
behaves differently as crashing environmental effect
[code]
where something like this happens
[code]

Does somebody have an answer to this behavior and how I can streamline both of them?

[2019-06-29 12:12] kaishh commented on #1082
@don41382
Wrapping your routes with `IO.absorb` should streamline them. As to why there's a difference, this requires investigation... Could you create a runnable snippet with this? That would make it easier to investigate.

[2019-06-29 15:40] harmeetsingh0013 commented on #1098
Hey @jdegoes and @kaishh, `@deprecated` annotation accepts two parameters and generally, the second parameter `since` is related with version. Could you please suggest, what will be the value of version?

[2019-06-29 16:06] harmeetsingh0013 commented on #1098
Hey @jdegoes, there is no update on the issue, that's why I started in that. @ywang412 I don't want to steal the issue, but for first-time open source contribution, this looks easy and happy to learn.

@jdegoes while running `test` on my system, I got an exception:
[code]

As per documentation, all the steps perform, but as per exception, some folder is missing. could you please help, how can I re

[2019-06-29 16:22] softinio commented on #1098
@ywang412 only took this issue less than 24 hours ago

[2019-06-29 16:33] harmeetsingh0013 commented on #1098
@softinio thanks for the update. I am a newbie here, could you please suggest, when will we pick an issue?
@softinio actually this one really simple one and don't take more than an hour, so I  thought to pick this.

[2019-06-29 16:44] softinio opened #1105 "Fix Flaky zio.stm.STMSpec test for Scala 2.11"
In circleci when running tests for Scala `2.11` the STMSpec test fails frequently with error:

[code]
Be good to investigate and make this test reliable.

Sample Circle fail:

https://circleci.com/gh/zio/zio/3876

[2019-06-29 16:56] harmeetsingh0013 commented on #1040
@iravid if you don't mind, can I take a look?

[2019-06-29 17:00] spf3000 commented on #1012
^^ If someone wants to look at the above PR - it's my first attempt at contributing to zio, so you may have to work with me a little - thanks in advance.

[2019-06-29 17:02] softinio commented on #1098
I think it would be the right thing to give @ywang412 more time to work on this issue. He is reading the comments on this thread if he is happy for you to take it he will let you know. Open Source projects are worked on by volunteers in their personal time even though something may take one hour its fair to give them time to fit it around their busy lives in my opinion.

There are plenty of other

[2019-06-29 17:05] harmeetsingh0013 commented on #1098
Thanks @softinio :)

[2019-06-29 18:11] ywang412 commented on #1098
Hi harmeetsingh0013,

I will make a pull request momentarily. Thank you very much for stepping in. I volunteered for this issue because it is a low-hanging fruit and its priority is low. I wish to learn from this big open source community. In my work, I tend to let new joiners to pick some easy scrum stories so they feel welcomed and the team will grow. I came to this repository because a coworker

[2019-06-29 20:24] don41382 commented on #1082
Thanks for digging this out with me @kaishh

I created a sample project and figured out: it's not the environment effect. Both routes work and the response is processed. So, it must be the `Transactor` of doobie.

**The sample project**
[code]

[2019-06-29 22:52] kaishh commented on #1082
@don41382
It's because of `F.suspend` in `HttpRoutes.of`:
[code]
Your `throw` is catched by `suspend`, so it becomes and `IO.fail`, not `IO.die`

Note that behavior becomes consistent if you use `IO.die(new Exception("boom")` in the first route (**NOT** `IO.die(throw new Exception("boom"))` – this is different! It's equivalent to `throw new Exception("boom"); IO.die(???)` – `IO.die` is never calle

[2019-06-30 01:32] ywang412 opened #1108 "SystemSpec test case fails on Windows platform"
When running test cases, I found one test case in SystemSpec is not friendly to Windows native developer.
  def env1 = {
    val io = unsafeRun(system.env("PATH"))
    io must beSome
    io.get must contain("/bin")
  }

The "/bin" will fail windows platform and "\bin" will work. This test case is platform dependent. If this is recognized as an issue, I'd like to fix it.

Thanks!

[2019-06-30 01:32] ywang412 commented on #1098
I've created a pull request here and went through steps in "ZIO Contributor Guidelines".
https://github.com/zio/zio/pull/1106

Would zio maintainer kindly review it?

Upon running test cases, I found one test case in SystemSpec is not friendly to Windows native developer.
  def env1 = {
    val io = unsafeRun(system.env("PATH"))
    io must beSome
    io.get must contain("/bin")
  }

The "/bin" wi

[2019-06-30 01:36] kaishh commented on #1098
@ywang412 You may create an issue for that or you can create a PR with a fix right away if you have the cycles.

[2019-06-30 01:38] ghostdogpr commented on #732
Closing this one as it’s duplicated by #1007 and the PR refers to the other one.

[2019-06-30 01:38] #732 closed

[2019-06-30 01:41] ghostdogpr commented on #1108
Yep it’s legitimate, you can submit a fix 👍

[2019-06-30 03:03] ywang412 commented on #1108
#1109

[2019-06-30 03:28] ghostdogpr commented on #1105
@heraklos this is due to the fix in https://github.com/zio/zio/pull/1090
I guess we should increase the number of concurrent fibers to make sure the condition always applies?

[2019-06-30 04:49] heraklos commented on #1105
@ghostdogpr
Thanks for the suggestion.
You're right and we should increase the number of concurrent fibers.
But in my local environment, even 2 concurrent fibers make the test pass, although 10 concurrent fibers make the test fail in Circle CI.
So I can't be sure how many fibers are enough to make the test fail.

As I looked through the description of the test case, I notice it was intended to ass

[2019-06-30 04:52] ghostdogpr commented on #1105
Sounds good!

[2019-06-30 05:16] wpoosanguansit commented on #1026
@iravid I am kind of getting stuck with types not unifying.  can you give some guide?  now i do have this:

[code]

but when i try to do the test in StreamSpec:

[code]

i am getting:
[code]

how to make types unify for this case?  any suggestion what should be done?  thanks.

[2019-06-30 06:05] softinio commented on #1105
Note that when ever I have seen this test fail it has always been using scala 2.11 !

[2019-06-30 06:31] #1108 closed

[2019-06-30 07:01] #1098 closed

[2019-06-30 07:40] #1105 closed

[2019-06-30 12:15] don41382 commented on #1082
Thanks @kaishh. You are right, that was an editing error I made with the `IO.die(throw new Exception(..)` and yes, that would ignore `IO.die`.  I changed both to straight  `throw new Exception("boom")`.

[code]
vs
[code]

Both behave the same way. So, I am still not sure, why is the environment effect behaves differently. Shouldn't both exception result in the same outcome? Would be really nice to

[2019-06-30 12:18] kaishh commented on #1082
@don41382
It's because of `F.suspend` in `HttpRoutes.of`:
[code]
Your `throw` is catched by `suspend`, so it becomes and `IO.fail`, not `IO.die`

`suspend` is equivalent to `IO.effect(_).flatten` - `IO.effect` directs exceptions in suspended effect to the error channel

[2019-06-30 12:21] kaishh commented on #1082
Your two throws happen at 2 different levels of suspension, if you wrap the route throw, or just move it into a .map - `IO.unit.map(_ => throw)` it will no longer be caught by `F.suspend` and will return 503 the same as environment effect

[2019-06-30 12:37] don41382 commented on #1082
You are the man! That makes totally thanks! Thanks for clarifying.

I owe you a beer. Let me know when you are in Germany! :-)

So, the last question: Should the flatten not be a default? I mean, the response should not die, when a defect happens. Wdyt? Is this a ticket more for http4s?

[2019-06-30 13:20] kaishh commented on #1082
A good question, I proposed for cats-effect instances to always catch defects previously, we may reopen this discussion again in interop-cats. However, naked `throw` outside of `IO.effect` can be seen as a bug and outside of cats-effect laws so it's up to implementation. Right now both zio and http4s are working as intended here.

1. Don't use `throw` outside of imported side-effects
2. Use `.abso

[2019-06-30 14:42] jdegoes commented on #891
For consistency, we need to prefix these methods by `effect`, e.g. `effectSuspend`.

This means deprecating existing `suspend`.

[2019-06-30 14:45] jdegoes opened #1111 "Introduce real companion objects for Stream, Schedule, Sink, Managed, Queue"
Currently the type aliases only have "virtual companion objects". We should introduce real companion objects that delegate to the methods in the most polymorphic object, but use restricted type parameter lists. This will provide the best possible user experience.

 - [x] Stream
 - [x] Schedule
 - [x] Sink
 - [ ] Managed
 - [x] Queue

[2019-06-30 14:49] jdegoes opened #1112 "Final steps for ZIO 1.0 release"
Here is a list of important and potentially breaking changes I'd like to get in before 1.0:

 - [ ] `ZRef`, a more polymorphic version of `Ref` #913
 - [ ] Generalize errors on ZStream #634
 - [ ] Companion objects for effect aliases #744
 - [ ] Supervision overhaul #1081
 - [ ] Suspend overhaul #891
 - [ ] Companion objects for other type aliases #1111
 - [ ] Scala 2.13 #1007
 - [ ] Scala.js #803

[2019-06-30 14:50] jdegoes commented on #401
Closed in favor of #1112

[2019-06-30 14:50] #401 closed

[2019-06-30 15:08] ghostdogpr commented on #1111
+ `Queue` as well

[2019-06-30 15:39] kaishh commented on #1112
I have

on my list

[2019-06-30 16:02] iravid commented on #1026
Your signature should be as follows:
[code]

The intuition here is that calling `groupedWeightedWithin` reuses the same environment `R`, but also constrains it with the `Clock` requirement.

[2019-06-30 16:03] jdegoes commented on #1112
@kaishh That may change with my work on supervision...

Btw are you OK with deleting `FiberLocal` for 1.0 in favor of `FiberRef`?

[2019-06-30 16:19] jdegoes commented on #1111
This could use a better write-up of all the details involved, if anyone has time / interest.

[2019-06-30 16:28] kaishh commented on #1112
@jdegoes
Well, a supervision kill may list the direct parent. To explain the motivation, knowing killer's fiberId in Cause is actually pretty important for http4s - we get a lot of interrupts in log and it's not clear if those are benign timeouts or something else...

Yeah, I'm good with FiberRefs.

[2019-06-30 16:35] jdegoes commented on #1112
@kaishh All right, let me do this as part of #1081

[2019-06-30 16:38] jdegoes commented on #1081
With this approach, we cannot easily support fork in recursive position:

[code]

I think it's possible, though, assuming the ancestors don't live forever.

/cc @iravid @kaishh

[2019-06-30 16:41] kaishh commented on #1112
@jdegoes Thank you very much!!

[2019-06-30 16:50] jdegoes opened #1113 "Move Exit.Cause to top-level"
`Cause` appears as a nested class inside the `Exit` companion object, but its importance and visibility has grown, and it makes sense to divorce it from the `Exit` type, by moving it to the top-level `zio` package.

We could introduce temporary `type Cause[+E] = zio.Cause[E]` and `val Cause = zio.Cause` synonyms inside `Exit` to maintain backward compatibility, but mark them `@deprecated`.

[2019-06-30 17:20] wpoosanguansit commented on #1026
Thanks.  Now, the question is how do I reconcile  the loop with fold that requires the returned type to be R1?

[code]
type mismatch;
[error]  found   : zio.ZManaged[R with zio.clock.Clock,Nothing,Nothing]
[error]  required: zio.ZManaged[R1,E1,S]
[error]             self.fold[R with Clock, E1, A, S].flatMap { f =>

schedule is now ZSchedule[R with Clock, Any, Duration].

[2019-06-30 17:25] iravid commented on #1081
I don't think I've implemented that sort of pattern before (but I can see where it could be useful).

[2019-06-30 19:01] NeQuissimus commented on #1112
We'll create a ZIO based tets framework as a separate module post-1.0?!

[2019-06-30 20:24] hamednourhani commented on #1113
Hi @jdegoes can I start from here

[2019-06-30 20:32] dorsev commented on #1113
hey @hamednourhani, sorry about this.
This is my first PR in zio and did not think to write here that I started it.

[2019-06-30 20:55] jdegoes commented on #1112
Yes, and port all the tests over then!

[2019-06-30 21:46] spf3000 commented on #996
I played around a little with this - I couldn't reproduce the error - I tried upgrading to a property based test - see above commit. Still I couldn't reproduce it so it's still open.

[2019-06-30 21:57] wpoosanguansit commented on #1026
@iravid I somewhat got the code to compile with the type suggested.  However, it just does't work as I expected at all.  Let's start with groupedWithin as I think it is easier to follow:

[code]
When I run:

[code]

I am getting - List(List(), List(1), List(1, 1), List(), List(2), List(2, 2), List(), List(3), List(3, 3), List(), List(4), List(4, 4), List(), List(5), List(5, 5), List(), List(6), Li

[2019-07-01 06:05] iravid commented on #996
@spf3000 can you try using `nonFlaky` from `RTSSpec`? Usually helps to flush these out

[2019-07-01 07:21] andreamarcolin commented on #1111
Hi @jdegoes! I would love to help there, so I am interested in having some more details on how I should deal with this one. Thank you

[2019-07-01 08:59] vasilmkd commented on #1027
I would like to try my hand at this.

[2019-07-01 10:57] ghostdogpr commented on #1111
@andreamarcolin the idea is to create a dedicated companion object for each type so that it simplifies the signatures as much as possible. If I want a `ZManaged` I would use `ZManaged.make` but if I need only a `Managed`, I would use `Managed.make` which won’t require any R parameter. Currently you have to provide R = Any even when you just want a `Managed`.

You can check this comment from John t

[2019-07-01 11:52] jdegoes commented on #1081
@iravid Seems fixable, but there's another issue.

Making, `fiber.interrupt` wait for the _descendants_ to finish is brittle. Any lost or garbage collected fiber along the way makes the interrupt non-terminating (of course, it can be forked).

I wonder how terrible it would be if `interrupt` only wait for the fiber, and not its descendants?

[2019-07-01 12:09] iravid commented on #1081
Ouch. That's unfortunate. Making `interrupt` not wait for the descendants also sounds problematic, as we can't guarantee finalization ordering that way (e.g. if descendant fibers are using resources from parent fibers).

Of course if that's not solvable in a scalable way in the runtime we'll just need to implement it in userland when required.

[2019-07-01 13:40] spf3000 commented on #996
@iravid thanks for the suggestion - I tried above with nonflaky - even upped the retries to 1000. Still passed. Although I had to remove the unsafeRun to make it compile - perhaps by doing that I may have inadvertently fixed the issue. What would you suggest?

[2019-07-01 13:47] jdegoes commented on #1081
I think I can make `interrupt` wait for all descendants; I also think in the general case, this means that `interrupt` won't terminate.

The odds of a garbage collected fiber or `never` that's not interrruptible or promise that's never completed, etc., in the entire application hierarchy approach 1.0 quickly as you move up; so `interrupt` will terminate in the low levels, generally, and not termin

[2019-07-01 13:54] iravid commented on #1081
We can use a ReferenceQueue for that, right?

[2019-07-01 14:01] jdegoes commented on #1081
@iravid

Yes, in theory. Every time we suspend a fiber, we could add a weak reference to the fiber to a reference queue, storing the "cleanup action"; then a separate (blocking) thread could go through and cleanup stuff, ensuring all garbage collected fibers terminate life (ab)normally.

Then, in theory, the only reason an `interrrupt` could hang is if an async action has been made uninterruptible

[2019-07-01 14:04] iravid commented on #1081
Yup! Sounds like what I had in mind. The blocking thread shouldn't be doing any heavy lifting, right? Just remove the garbage-collected fibers from the interruption variable they participated in.

[2019-07-01 14:07] jdegoes commented on #1081
It's sole purpose would be cleanup of garbage collected fibers, e.g. running their "finalizers" if they are garbage collected.

As part of the finalization process, the fiber can terminate normally (via `FiberContext#done()` inside RTS), which can then notify the parent fiber that the child has terminated, providing a hook to resume interruption in the parent.

[2019-07-01 14:21] iravid commented on #1081
This sounds really exciting. And innovative - Akka, for example, keeps strong references for the actor hierarchy.

[2019-07-01 14:49] iravid commented on #996
This is beyond me 🤷🏽‍♂️We've been having issues related to fiber supervision and garbage collected, so I'm tempted to suggest trying with a smaller heap size. Though that runs the risk of just running out of memory.

[2019-07-01 15:37] kaishh commented on #1081
Note if you're trying to use JVM finalizers – JVM finalizers are not reliable! https://github.com/classgraph/classgraph/issues/257#issuecomment-428538903

[2019-07-01 16:19] iravid commented on #1113
Closed by #1117

[2019-07-01 16:19] #1113 closed

[2019-07-01 16:35] jdegoes commented on #1081
@kaishh Not necessary, can be done entirely through weak references +/- reference queues.

All right, so I think the following changes are necessary for maximum coherence:

 - **Async Interruption**. Async regions are _always interruptible_. This will likely break some Cats Effect laws but I'm not sure. We need a guarantee that any `never` or equivalent can always be terminated to completely avoid

[2019-07-01 16:47] iravid commented on #1081
Do we really want GC interruption to run finalizers? A fiber going out of scope isn't really the same as a fiber actually ending.

[2019-07-01 16:50] jdegoes commented on #1081
@iravid A fiber has to have a well-defined lifecycle for `interrupt` to never hang.

Anway, there's a subtle leak right now:

[code]

If `useFile` has some async action that never completes, then the file will never be closed.

As long as there is a reference to the fiber, in theory, it _could_ complete, but when there are no more references to the fiber, when it becomes garbage collected, then in

[2019-07-01 16:51] kaishh commented on #1081
@jdegoes
Hmm, on async interruption - yeah, this will break laws. It's also not compositional and might leak resources. I think CE Concurrent.start might probably have be `daemon` for the other laws too.

@iravid
I think we don't, except for one case where it's non-daemon and the parent fiber is ending/interrupting. But then we have to accumulate fiber finalizers and/or hold strong references to c

[2019-07-01 16:53] andreamarcolin commented on #1111
@ghostdogpr Great! Will start to work on it just now and will come back hopefully in a few days with a PR. Thanks for the explanation

[2019-07-01 16:54] iravid commented on #1081
Sorry, I don't follow :-) In this snippet:
[code]

If `useFile` never ends (by mistake or by design), then the finalizer should never run. Whether that is a leak or not is subjective

[2019-07-01 16:54] kaishh commented on #1081
@jdegoes
I think the intention here is to never close the resource though. e.g. we've used this pattern to create http4s server before we added cats Resource support to distage: `unsafeRun(server.resource.use(IO.never).fork)`

[2019-07-01 16:56] iravid commented on #1111
@andreamarcolin I strongly suggest to do separate PRs for each object or you'll be fighting endless merges

[2019-07-01 17:00] jdegoes commented on #1081
I think there's a difference between _may_ never end, and _could_ never end, though. If the reference is live, it could end at some point; or if there is active work, it could end. But if it's GC'd, it cannot end.

Hmmm, I wonder if the fiber is GC'd? Would be a good point for not winding down GC'd fibers.

On the flip-side, it would mean a need to introduce _yet another fiber failure state_, e.g.

[2019-07-01 17:06] kaishh commented on #1081
I think it must be GC'd in this pattern because there's no reference to it outside and `never` moves it out of the queue forever too. Hell, if that fiber isn't GC'd, there must be no way to define an 'abandoned' fiber at all :P

You may or may not want to add another Cause branch... A GC'd fiber is always isomorphic to `never` - and this isn't interesting, even discovering one isn't interesting! B

[2019-07-01 17:06] iravid commented on #1081
Ok, I agree about "can never end", but I think the semantic of "has been garbage collected" is something you don't really want to think about, unless you're writing low-level code that uses weak references. I mean, we're now introducing another set of semantics into the fiber lifecycle that is usually not taken into account.

[2019-07-01 17:15] andreamarcolin commented on #1111
@iravid Got it. Any suggestion on which to start from or isn't it that important?

[2019-07-01 17:32] jdegoes commented on #1081
I think you are right, the fiber is essentially done (after creating the resource), except for `never`, which will never complete, so it must be GC'd.

Well, not quite: the fiber is returned from `unsafeRun()` so it cannot be garbage collected. But if you change the `.fork` to `.fork.unit`, then it would be GC'd.

The question is how important is it to support this pattern? Maybe it is important m

[2019-07-01 17:38] jdegoes commented on #1081
Another random idea here:

We could do a hard-ref from parent to child. That is, the parent always keeps track of _all_ children. When the children end life, the reference is removed; when `daemon` is used, the parent's reference to the child is removed.

[2019-07-01 18:03] iravid commented on #1081
Heh, that question is kind of like asking, "does a tree falling in the forest make a sound?". It seems to me that fibers going out of scope and being garbage collected is something you shouldn't really care about. If you care about releasing the resources, release them explictly. However I'm going to let this go because I think I'm not going to run into this in practice.

With hard-refs and termin

[2019-07-01 18:35] jdegoes commented on #1081
The practical difference is that if you spin up an unending loop that forks off fibers forever, then a weak ref solution (like present) will allow you to bound the memory usage of that, assuming sufficient fibers are GC'd; whereas in a hard-ref scenario, you will consume unbounded memory.

[2019-07-01 18:37] iravid commented on #1081
But if they're still running, they won't be GC'd anyway. And you're bounded by the amount of `FiberContext` instances you can hold.

If they terminate, they get removed in the hard ref impl and get GC'd in the weak ref impl. What am I missing?

[2019-07-01 19:17] iravid opened #1120 "Enhance ZStream#spaced to emit the schedule's output into the stream as well"
Currently, `spaced` doesn't emit the schedule's output into the stream; it is ignored. To align the combinator more closely with `ZIO#repeat`, we should emit the schedule's output into the stream when the schedule finishes.

The signatures for the new combinators should be:

[code]

[2019-07-01 19:20] iravid opened #1121 "Add traverse and sequence aliases"
Try as I might, I keep reaching for these names instead of `foreach` and `collect`.

What do everyone think of re-adding these aliases?

A data point in favour of this is the equivalence with `Future.traverse`, `Future.sequence`.

These need to be added for:
- Exit
- ZIO
- ZManaged

[2019-07-01 21:39] kaishh commented on #1121
I'm all for, obviously. :>

[2019-07-01 23:08] ghostdogpr commented on #1121
I agree, the question keeps coming back on Gitter, might be the most frequently asked one.

[2019-07-02 00:42] jdegoes commented on #1081
@iravid

A code snippet is worth a thousand words:

[code]

The parent fiber will exhaust all memory on the heap, because it tracks hard references to fibers that will never complete, and never be garbage collected.

Of course, if the parent were to be terminated, it would terminate the children, but in this hypothetical scenario, the parent runs forever... or at least until all the memory is gone

[2019-07-02 04:00] iravid commented on #1081
Ah, thanks! That makes things clearer.

My intuition is that GC'd fibers should not be interrupted, as they have not been explicitly ended / interrupted. That would be least surprising, in my view.

[2019-07-02 05:19] iravid opened #1122 "Rename some of Chunk's methods"
- `Chunk#traverse` -> `Chunk#mapM`
- `Chunk#traverse_` -> `Chunk#mapM_`

[2019-07-02 06:06] dorsev commented on #1122
Should I add ```Chunk#traverse```, ```Chunk#traverse_``` aliases with deprecation annotation on them?

[2019-07-02 06:09] iravid commented on #1122
Good idea!

[2019-07-02 07:30] hepin1989 commented on #1121
@iravid So do I, I do not like the current foreach and foreachPar name. for each for me always return unit/void.

[2019-07-02 07:49] #1122 closed

[2019-07-02 08:57] dsebban commented on #1121
Hey would love to take this

[2019-07-02 09:01] dsebban commented on #1121
Do you think `foreach` and `collectAll` should be deprecated in favor of `traverse` and `sequence` (i.e renaming it all over) ?

[2019-07-02 09:42] kaishh commented on #1121
I guess ne

[2019-07-02 09:56] iravid commented on #1121
Let’s keep them for now and let @jdegoes decide on their fate :-)

[2019-07-02 10:59] vasilmkd commented on #1027
I would like to get some clarification on the requirements. Should there be a way to express how many tokens each stream element is worth (with the possibility of different elements requiring different number of tokens), or should I assume that they are all equal, e.g. one token? Thanks.

[2019-07-02 12:42] jdegoes commented on #1121
The only people who ask about these names are the people from the (existing) pure FP community, who are trained on sequence/traverse.

I don't mind aliases if others like them, but it's worth keeping in mind:

 - Many people from "pure FP Scala" will be using ZIO with Cats / Scalaz, which already provide (as syntax) these methods, with the names functional programmers are familiar with
 - Most new

[2019-07-02 12:46] ghostdogpr commented on #1121
I used to know `traverse` and `sequence` long before I did any FP, just because they're named like that on `Future`. So I think the amount of people reaching for it is larger than the FP community.

[2019-07-02 12:50] jdegoes commented on #1121
@ghostdogpr Good data point! At my workshops, I do polls on this type of stuff. In a given audience, about 30% of people use Future (sometimes 50%). Only 1 - 3 people in any class know how to deal with `Future[Option[A]]` (i.e. know a method that can sequence the result). Of the few people who run into this type, most seem to deal with the problem by hand or cheat.

I have no objection to adding t

[2019-07-02 14:36] jdegoes opened #1125 "Add SoftwareMill as sponsor to website and README.md"
Displayed attractively and prominently on both the README.md inside this repository, and on the ZIO website, we should add [SoftwareMill](https://softwaremill.com) as a ZIO sponsor, with both the tagline and a link to their home page.

 - [SoftwareMill Logo](https://softwaremill.com/images/header-main-logo.3449d6a3.svg)
 - Tagline: "Custom software by true engineers"
 - Link: <https://softwaremill

[2019-07-02 14:56] kaishh commented on #1125
What was their donation amount? 🤔

[2019-07-02 15:06] jdegoes commented on #1125
@kaishh CircleCI build coverage for 1 year starting from July. Probably going to be $2.4k assuming $200 / month.

[2019-07-02 15:07] vasilmkd commented on #1027
Also, would the ZSink's state extending Serializable make it persistable or am I looking for something else here?

[2019-07-02 16:45] vasilmkd commented on #1027
I guess that each element can have a certain token cost by passing it through a costFn: A => Long or something equivalent.

[2019-07-02 17:10] NeQuissimus commented on #1125
Thank you @softwaremill

[2019-07-02 17:25] iravid commented on #1027
Hi @vasilmkd, thanks for looking into this. Indeed a cost function is required to compute the weight of each element. `A => Long` is ok, but `A => ZIO[R, E, Long]` is better :-)

Don't worry about making ZSink's state serializable. We can deal with that concern later.

[2019-07-02 17:37] hepin1989 commented on #1121
![image](https://user-images.githubusercontent.com/501740/60533722-e22c7200-9d32-11e9-8ab7-811c709295cf.png)

[2019-07-02 19:30] #1121 closed

[2019-07-02 21:04] rwhaling commented on #639
I just wanted to add some notes here, since folks have asked about this a few times on twitter.  For context, I'm working on an ExecutionContext for scala-native at https://github.com/scala-native/scala-native-loop

I don't quite grok the ZIO internals yet, but it looks like Executor.fromExecutionContext is enough to get a bare minimum Runtime bootstrapped, and LibUV provides enough additional cap

[2019-07-02 21:49] don41382 commented on #1082
Your rules make sense. I still think the http4s response should only die if something fatal happens, e.g. (`StackOverflow` / `OutOfMemory`). As you have already been involved in the discussion cats-effect, you might bring it up there again.

I will close this issue because it's not ZIO related.

And @kaishh, the pizza will be yours! @wi101 also asked to join. So, let me know when you are in Hambur

[2019-07-02 21:49] #1082 closed

[2019-07-03 10:58] kaishh commented on #1125
@jdegoes
Can we get into the sponsors list too?

[2019-07-03 12:24] spf3000 commented on #1102
@DamianReeves wouldn't split accept a function of `p: A => Boolean` ? Similar to for example ZStream#filter:   `def filter(pred: A => Boolean): ZStream[R, E, A]`  - and then the signature you mentioned could be splitM similar to ZStream#filterM `  final def filterM[R1 <: R, E1 >: E](pred: A => ZIO[R1, E1, Boolean]): ZStream[R1, E1, A]`?

[2019-07-03 15:20] jdegoes opened #1129 "Create TestEnvironment"
Inside the `testkit` project, we should stitch together a complete `TestEnvironment` to make it easy to test apps that just use ZIO modules; and to make it easy to use a wired-up `TestEnvironment` in other larger environments.

To complete this ticket, familiarity with `Runtime` / `DefaultRuntime` / `App`, and ZIO environment is required.

[2019-07-03 15:41] LGLO commented on #1129
In some interop projects we load all ZIO tests to have this enabled. This means scalajs tests from ZIO are compiled just to have base tests classes available.
I think testkit should be replacement for that pattern.

[2019-07-03 21:57] #1125 closed

[2019-07-04 06:16] dag2ww commented on #1120
Hi,
if no one has started this one yet, I would like to take it as my first contribution.

[2019-07-04 06:41] iravid commented on #1120
Hi @dag2ww, go ahead! I updated the description as the previous spec was not aligned with how `ZSchedule` works.

[2019-07-04 07:27] dag2ww commented on #1120
OK, great!
Thank you.

[2019-07-04 12:34] #1079 closed

[2019-07-04 12:49] jdegoes commented on #811
Example from @ghostdogpr:

Before:

[code]

After:

[code]

[2019-07-04 17:05] jdegoes opened #1136 "Add Septimal Mind as sponsor to website and README.md"
Septimal Mind is generously donating several weeks of engineering time toward completing certain critical milestones for ZIO. As a way of saying thanks, we are granting them a 1 year sponsorship package, which includes promotion on official channels.

Displayed attractively and prominently on both the README.md inside this repository, and on the ZIO website, we should add Septimal Mind as a ZIO sp

[2019-07-04 18:00] #1136 closed

[2019-07-05 12:23] jdegoes commented on #639
@rwhaling Thank you for the head start! I think we will start on this in earnest after we get 1.0 out the door... for sure at the ZIO hackathon in September (if not sooner).

Really excited about and thankful for all the work you do with Scala Native (🙏), and looking forward to helping with the initiative by getting ZIO running on Native.

[2019-07-05 13:35] dorsev commented on #1111
hey @andreamarcolin, would love to help out and try taking 'Schedule' if you did not start it yet.

[2019-07-05 14:06] dorsev commented on #1111
hey @andreamarcolin, I would love to help out with the ```Schedule``` if you haven't started working on it.

[2019-07-05 14:19] andreamarcolin commented on #1111
@dorsev Sure! I have started working on Managed, and I was planning to work on it this weekend. My idea is to follow @iravid suggestion and do separate PRs, so if you want you can take Schedule and then we will see for the others. Are you ok with this plan? :)

[2019-07-05 15:30] dorsev commented on #1111
Thanks for the quick response @andreamarcolin! sounds like a plan. 👍

[2019-07-05 18:52] PiotrJander opened #1138 "Mention in "Getting Started" that Scala 2.13 is not supported yet"
This will save some pain for newcomers.

[2019-07-05 19:36] #1074 closed

[2019-07-05 21:05] ywang412 commented on #1097
Maybe some simple tutorial comparing java.util.concurrent with zio in terms of how parallelism and queuing are handled would be super helpful. Something to convince Java developers to try zio.

[2019-07-06 17:03] softinio commented on #1138
Personally when ever I want to use a new scala package I take a look at it on scaladex (and maven central if not there) and use that to confirm what versions of scala supported etc before using it:

https://index.scala-lang.org/zio/zio/zio

Maybe a link to the above scaladex page in the README and/or docs a good option to improve the docs instead of repeating the information  and having to maintai

[2019-07-06 18:30] wpoosanguansit commented on #1026
@iravid I have been playing around and I got this to work.  Can you provide any guide or suggestion?  Hope I can understand more on how things work internally.  Are we supposed to cast S(tate) like

val ls = s.asInstanceOf[List[List[A]]]?

[code]

From the tests, 0 Duration gives me Success(List())

Stream.fromIterable(1 to 8)
        .groupedWithin(3, Duration.apply(100, TimeUnit.MILLISECONDS))

[2019-07-07 03:11] #1012 closed

[2019-07-07 03:12] #1138 closed

[2019-07-07 03:14] #955 closed

[2019-07-07 08:38] didierd commented on #1102
What about the more general

`def split[B, C, R1 <: R, E1 >: E](p: A => ZIO[R1, E1, Either[B,C]]): ZManaged[R1, E1, (ZStream[R1, E1,B], ZStream[R1, E1, C])]` ?

[2019-07-07 09:50] geymed commented on #1111
@andreamarcolin, @dorsev I would be happy to take `Sink`.

[2019-07-07 10:04] dsebban commented on #1111
I would be happy to take `Queue`

[2019-07-07 14:01] #1003 closed

[2019-07-07 15:25] iravid commented on #1026
Hey @wpoosanguansit, nice work! in general you could try using `TestClock` to test: that provides the list of sleeps in a `Ref`.

There's one flaw with the approach you're taking: `groupWithin` is inherently a push-based operation. That is, the upstream progresses independently from downstream's pulls. In your snippet, the source of the stream (`self`) will not make progress until the loop on the

[2019-07-07 15:26] mschuwalow commented on #634
@runtologist are you still working on this?
If not I would like to take a stab at it.

[2019-07-07 17:59] iravid commented on #634
@mschuwalow I think it's ok for you to get started on this, thanks for picking this up!

[2019-07-07 18:19] bobrowadam commented on #1111
I can take `Stream`

[2019-07-07 22:30] ghostdogpr commented on #961
Closed by #1143

[2019-07-07 22:30] #961 closed

[2019-07-08 04:51] runtologist commented on #634
@mschuwalow go ahead, I'm quite busy atm.

[2019-07-08 05:56] wpoosanguansit commented on #1026
I think I kind of get what the code is doing in general.  But there is so much detail that it would be great, if possible, at some point that this can be explained in a document in helping more developers to understand the internals of ZStream.  I am seeing that the items are being shuffled between the upstream and and downstream using:

out       <- RefM.make[State](State.Init(initAwait)).toManag

[2019-07-08 12:49] neko-kai opened #1146 "Release interop projects simultaneously"
Trying to release multiple interop modules at the same time causes all of them to fail due to multiple staging repositories...

https://circleci.com/gh/zio/interop-future/84
[code]

I guess we should open a staging repository explicitly and use its ID in `sonatypeRelease`. Can anyone with sbt-foo help out? @softinio @NeQuissimus g-guys?

Also if someone could `sonatypeDrop` again, I could proceed

[2019-07-08 13:14] NeQuissimus commented on #1146
I dropped them all, may take a minute or two.
This problem has been bugging us for a while. I did not know you could pass an ID to `sonatypeRelease`.

[2019-07-08 15:07] kaishh commented on #1146
Thanks!

[2019-07-08 22:17] kaishh commented on #1146
Getting  a strange failure in `interop-twitter` release:
[code]
https://circleci.com/gh/zio/interop-twitter/95

[2019-07-08 22:49] NeQuissimus commented on #1146
The GPG key infrastructure is currently under attack. Should be intermittent.

[2019-07-09 00:51] ghostdogpr commented on #1006
@jdegoes shall we transfer issues like this one to the cats interop repository, or do you prefer having everything here?

[2019-07-09 14:44] kaishh commented on #1146
Another conflict. Could you please give me creds so that I could drop manually?

[2019-07-09 14:46] ghostdogpr commented on #1146
Actually you can do it, the credentials are on the team discussions in this org. You can login to nexus with it.

[2019-07-09 15:00] kaishh commented on #1146
👍 Done

[2019-07-09 21:07] dag2ww commented on #1120
Hi @iravid ,
Having the change implemented, I'm about to update test for `spaced` and would like to confirm the expected output/behaviour.
What would you expect for `Stream(1, 2, 3).spaced(Schedule.recurs(1))` with Schedule's output emitted each time it finishes?
Without Schedule's output emitted it was: 1, 1, 2, 2, 3, 3.

Looking forward your comment on this. Thanks!

[2019-07-10 05:26] iravid commented on #1120
@dag2ww Yes, every time it finishes.

[2019-07-10 15:20] #1007 closed

[2019-07-10 17:46] jdegoes opened #1159 "Ensure that two chunks can be compared for equality and hash code"
`Chunk#equals` and `Chunk#hashCode` should observe the following properties for chunks `c1: Chunk[A]`, `c2: Chunk[A]`, and `c3: Chunk[A]`:

1. **Transitivity**. If `c1 == c2` and `c2 == c3`, then `c1 == c3`.
2. **Symmetry**. If `c1 == c2`, then `c2 == c1`.
3. **Reflexivity**. `c1 == c1`.
3. **Negation**. `c1 != c2 == !(c1 == c2)`
4. **Substitutivity**. If `c1 == c2` then `f(c1) == f(c2)` for all f

[2019-07-10 18:14] jdegoes opened #1160 "Enhance support for Option and Either"
# Getter Helpers

Sometimes we have values like `UIO[Option[A]]`, and we wish the option to be non-empty; if the option is empty, we wish to fail the effect. Similarly for structures like `Task[Either[A, B]]`.

## Option Getter Helpers

Add these methods to `ZIO` trait:

[code]
### Usage

Add a variety of tests for `someOrFail` and `someOrFailWith`.

[code]

## Either Getter Helpers
Add these meth

[2019-07-10 18:23] Vilkina commented on #1159
I'll take it

[2019-07-10 19:13] Vilkina commented on #1159
Sorry, I don't know how to add 'Scala' code here. So, something like:
<img width="959" alt="Screen Shot 2019-07-10 at 9 56 43 PM" src="https://user-images.githubusercontent.com/3358827/60997597-da3a8680-a35f-11e9-83d3-0fb6f871b0d9.png">

[2019-07-10 19:48] dorsev commented on #1160
I Would love to take this.

[2019-07-10 20:17] jdegoes commented on #1160
@dorsev Please do!

[2019-07-10 22:04] jdegoes commented on #811
[code]

[2019-07-11 00:44] kaishh commented on #1160
These are called `fromOption` and `fromEither` in BIO - https://github.com/7mind/izumi/blob/develop/fundamentals/fundamentals-bio/src/main/scala/com/github/pshirshov/izumi/functional/bio/BIOSyntax.scala#L114
Specifying error on None, like in `timeoutFail`, has been extremely useful to me, I think it would be nice to have besides a hardcoded `NoSuchElementException`

[2019-07-11 13:07] jdegoes commented on #1160
@kaishh @dorsev

How about this revision:

[code]

This way you can do a custom error, or the "default" error (`NoSuchElementException`).

[2019-07-11 14:46] jdegoes opened #1164 "Add zipAllWith to Chunk"
Currently, `Chunk#zipAll` can be used to zip chunks together with a specified combiner function. However, the resulting chunk will always have a length equal to the minimum of the length of the two chunks, resulting in the "loss" of the elements in the longer chunk.

For more flexible behavior, we can add a new operator that allows zipping two chunks and dealing with any "extra" elements on the lo

[2019-07-11 15:12] Vilkina commented on #1164
I'll take it

[2019-07-11 15:43] freskog opened #1165 "foreachParN should not use more than 'n' fibers."
The current implementation of foreachParN uses a semaphore to restrict the number of active fibers working concurrently. This doesn't restrict the number of fibers actually being created, and results in some surprising behavior. For example

[code]

The expectation here would be that this works, but instead we run into an out of memory exception.
[code]
A possible fix is to change the implementati

[2019-07-11 18:35] iravid opened #1166 "Scaladoc issues on Schedule"
[code]

[2019-07-11 18:48] iravid opened #1167 "Microsite publishing doesn't work"
[code]

[2019-07-11 19:10] softinio commented on #1167
I have seen this twice before very intermittent and a rebuild fixes it.

Will take a look to see if there is a root cause I can fix to stop it happening.

[2019-07-11 19:13] iravid commented on #1167
Thanks! Rebuild seems to work

[2019-07-12 02:33] adamgfraser commented on #1166
I’m happy to take this as my first issue.

[2019-07-12 07:05] #1167 closed

[2019-07-12 07:06] iravid commented on #1166
Please do, thanks @adamgfraser

[2019-07-12 13:51] iravid commented on #1166
Oh sorry @adamgfraser , looks like Kai has already solved this because it was blocking the release.

[2019-07-12 13:51] iravid commented on #1166
Resolved in #1171

[2019-07-12 13:51] #1166 closed

[2019-07-12 13:58] iravid opened #1172 "Scaladoc isn't running on non-release builds"
We should add `./sbt coreJVM/doc coreJS/doc streamsJVM/doc streamsJS/doc` to the `mdoc` step so we'll catch scaladoc breakage early.

Also, the `documentation` step is missing `streamsJS/doc`.

[2019-07-12 14:41] adamgfraser commented on #1165
I will work on this.

[2019-07-12 14:53] softinio commented on #1172
Working on this

[2019-07-12 15:22] dag2ww opened #1173 "Describe type parameters in zio.stream.ZStream#Fold"
As of now, for new comers, it requires extra work to figure out the meaning of zio.stream.ZStream#Fold type parameters used.

Would be good to add few sentences with semantics of each type param in here:
`type Fold[R, E, +A, S] = ZManaged[R, Nothing, (S, S => Boolean, (S, A) => ZIO[R, E, S]) => ZManaged[R, E, S]]`

[2019-07-12 15:32] harjitdotsingh commented on #382
Is this fixed ?

[2019-07-12 15:56] NeQuissimus commented on #382
Yes

[2019-07-12 15:56] #382 closed

[2019-07-12 16:53] #1172 closed

[2019-07-12 18:09] iravid commented on #1173
Good idea. `Fold` is not intended to be the main way to consume the results of a stream (`run` and `foreach` are), but scaladoc would be greatly appreciated.

[2019-07-12 18:11] #1111 closed

[2019-07-12 18:17] #1120 closed

[2019-07-12 20:41] mschuwalow commented on #634
Alright, will do. Let's see how far I can get until the types get me. :)

[2019-07-12 20:54] mschuwalow commented on #634
I experimented a bit with the signature posted by @iravid.
Sadly, I was unable to implement mapConsumerError / mapProducerError faithfully. Also the type signatures seem far more complex than reasonable. It would be great if I could get some early feedback on whether what I'm doing seems reasonable. This is what I currently have:
https://scastie.scala-lang.org/iqA30zFvTiWVsHWZdAbKTQ

[2019-07-13 01:50] nktpro commented on #785
@jdegoes It's still reproducible as of `v1.0.0-RC10-1`, do you think #1081 will address this?

[2019-07-13 12:33] jdegoes commented on #785
@nktpro It's possible, as the implementation of `interrupt` is changing completely.

If not, however, I'll try to fix this right after supervision!

[2019-07-13 14:59] tampler opened #1176 "Chunk crashes on pattern matching"
I have a simple polymorphic producer and wanna do pattern matching on Chunk[A]. Here's how:
[code]
When I call `produceOne[BArr]`, all works fine. When I call `produceOne[String]`, I get the following crash:
[code]

The full code is [here](https://github.com/Clover-Group/zio-kafka/blob/be3cdbacfe434e641a0d8a30b503b9b63e75ce79/src/test/scala/zio/kafka/client/KafkaTestUtils.scala#L32)

Using Oracle

[2019-07-13 15:07] tampler commented on #1176
Crashes both on Oracle 8 and Oracle 11

[2019-07-13 15:09] iravid commented on #1176
That's not a bug - `T` is erased at runtime, so you cannot distinguish between element types of chunk. See here: http://squidarth.com/scala/types/2019/01/11/type-erasure-scala.html. Same thing would happen with `List[T]`.

If you'd like to do this sort of type-casing, you can use a (lawless) typeclass; e.g.:
[code]

[2019-07-13 15:29] tampler commented on #1176
@iravid  thanks for your advice. I tried your implementation, but getting the same error. Pls check [here](https://github.com/Clover-Group/zio-kafka/blob/d1faca699024d0d39fac5bbd9aca8d1634bbff54/src/test/scala/zio/kafka/client/KafkaTestUtils.scala#L17)

Am I missing something? How do I improve my code ?

[2019-07-13 15:56] iravid commented on #1176
Well you just moved the problem to `HowToProduce.apply`. You need a different instance of `HowToProduce` for every `A` you want to handle.

Closing this issue since this is not a bug.

[2019-07-13 15:56] #1176 closed

[2019-07-13 18:27] kaishh commented on #1176
@tampler
In the future you may avoid this type of errors by turning on all scalac warnings:
https://tpolecat.github.io/2017/04/25/scalac-flags.html
https://github.com/DavidGregory084/sbt-tpolecat

e.g. for me this fragment results in warning, clearly showing me that this kind of match won't work as i expect it to:

[code]

[code]

[2019-07-13 21:37] jdegoes opened #1177 "Implement `TArray`"
Implement `zio.stm.TArray`:

[code]

with methods similar to `Array` inside it, allowing access and updating by index, as well as folding and other types of functionality compatible with STM.

[2019-07-13 21:43] jdegoes opened #1178 "Implement `TMap`"
Implement `zio.stm.TMap`:

[code]

with methods similar to `Map` inside it, allowing access and updating by key, as well as folding and other types of functionality compatible with STM.

[2019-07-14 05:50] LGLO commented on #1177
I'll take it!

[2019-07-14 06:19] iravid commented on #634
Yes, those signatures do seem exotic 😂 I'll have time later this week hopefully to see what went wrong there.

[2019-07-14 08:04] dkarlinsky commented on #1129
Hi, I'm really new to ZIO, but I am very interested in how it could make testing effectful code nicer.
I'm a big fan of leaning by doing, so I think contributing would be a great way to get into this.
I would like to take this issue, but I would likely need a bit more guidance.
What would be the best channel for this?

[2019-07-14 09:30] LGLO commented on #1177
@jdegoes
I'm wondering about type of initial value for `fold`:
`def fold[E, E1 <: E , E2 <: E](acc: STM[E1, A], op: (A, A) => STM[E2, A]): STM[E, A]`
`def fold[E](acc: A)(op: (A, A) => STM[E, A]): STM[E, A]`

In case of former - should I add "syntax" class to enable two parameter lists syntax?

[2019-07-14 11:50] neko-kai opened #1180 "Restart publishing for dotty"
We've stopped publishing for dotty after switching orgs. I think we can resume doing that, though!

[2019-07-14 12:23] mschuwalow commented on #634
Cool. Thank you :sweat_smile:

[2019-07-14 13:45] jdegoes opened #1181 "Poor layout of sponsors on zio.dev footer"
<img width="1032" alt="Screen Shot 2019-07-14 at 9 45 22 AM" src="https://user-images.githubusercontent.com/156745/61184466-2c0f3500-a61c-11e9-8f95-2d5e9bbbf4a8.png">

[2019-07-14 14:35] jdegoes opened #1182 "Optimize parallel methods"
The parallel methods of ZIO require optimization:

 - [ ] `foreachPar` & variants
 - [ ] `collectAllPar` & variants
 - [x] `raceAll` & variants
 - [ ] `forkAll` & variants
 - [ ] `reduceAllPar` & variants
 - [ ] `mergeAllPar` & variants

Right now, these methods are implemented via _binary composition_.

This creates deeply nested and lop-sided trees:

[code]

All the intermediate propagation of r

[2019-07-14 14:47] softinio commented on #1180
interops will probably need to be done first

[2019-07-14 14:57] softinio commented on #1180
Also we still have macros in the code base especially the specs2 tests like `s2` which will not work with dotty

[2019-07-14 15:03] jdegoes commented on #634
@mschuwalow @iravid

After thinking about this more, I think the "most powerful" / primitive / base fold should require _explicit unification of error types_, e.g., something like [this](https://scalafiddle.io/sf/puJOwch/0).

Syntax classes can be used to do the rest, but the foundation should be explicit.

[2019-07-14 15:06] jdegoes commented on #1177
@LGLO

There would be at least 2 versions on `TArray`:

Non-effectful:

[code]

Effectful:

[code]

Both of these should infer fine without syntax classes.

[2019-07-14 15:08] iravid commented on #634
This approach does sound saner rather than juggling variance signatures everywhere

[2019-07-14 15:37] iravid commented on #634
Random thought: most concurrency combinators (which pipe elements through a queue) would probably require a unification of the error type as well

[2019-07-14 16:16] galosa commented on #1182
I would love to take it

[2019-07-14 16:27] galosa commented on #1182
I will start from forkAll :)

[2019-07-14 18:07] kaishh commented on #1180
@softinio Core doesn't depend on interops though and we don't have (and can't) build mdocs for dotty. We can also keep blissfully ignoring tests for dotty for now and just release after successful compile.

[2019-07-14 18:38] iravid commented on #1159
Resolved in #1163

[2019-07-14 18:38] #1159 closed

[2019-07-14 19:55] hepin1989 commented on #1182
if the size is 2, then use binary operation, otherwise, use array.

[2019-07-14 23:33] kamilkloch commented on #891
I am not sure if #926 is right (with regard to the error type). Current
[code]
is as generic as possible, but `effectSuspend`handles `throwables`, not generic `E`s.

On the other hand,
[code]
does not work for current `FunctionIO.Impure` implemenation (generic `E`):
[code]

[2019-07-15 14:33] ioleo opened #1183 "Add Random.shuffle method"
The `zio.random.Random` is missing `shuffle` method, probably due to implicit argument in `scala.util.Random` implementation (AFAIK ZIO is implicit-free by design).

Neverthless having a shuffle method for some basic types like: `Array` or `List` would be really nice.

[2019-07-15 14:42] tampler commented on #1176
@iravid @kaishh Thanks guys for directions and advice.
I was able to implement a polymorphic produce method, which works fine for me. Check [here](https://github.com/Clover-Group/zio-kafka/blob/f2e743bd1509809f767221ad8f29004af1f8b535/src/test/scala/zio/kafka/client/KafkaTestUtils.scala#L50)

[2019-07-15 15:05] TimPigden opened #1184 "schedule lacks a doWhileM"
schedule makes it easy to use doWhile(Boolean) but my termination condition itself requires an IO so I'd like a doWhileM(IO[Boolean]).
I don't know the code well enough to suggest what the best policy with E should be, but obviously if the predicate operation failed it needs to propagate outwards somehow.

[2019-07-15 15:59] ioleo commented on #1183
Closing - discussion to be continued in #1183 PR.

[2019-07-15 15:59] #1183 closed

[2019-07-15 19:00] #1160 closed

[2019-07-15 19:34] ioleo opened #1186 "Flaky test in StacktraceSpec"
In #1185 I had one test fail [see report](https://circleci.com/gh/zio/zio/7022).
Upon retriggering the tests (for the same codebase) it passed [see report](https://circleci.com/gh/zio/zio/7061).

**Full stack trace below** just in case CircleCI report is no longer available.
[code]

[2019-07-15 19:36] mschuwalow commented on #634
This indeed looks far saner. I'll get started with this later this week. Depending on how much work this ends up being it probably makes sense to split this up into multiple PRs. @iravid what do you think is the best way to split this up?

[2019-07-15 19:46] iravid commented on #634
I think a big PR that changes all the signatures is unavoidable. Feel free to write it out and we’ll hold the rest of the PRs until it’s done.

Excited about this!

[2019-07-15 23:13] sinoz commented on #1097
To add to this, I think it would be useful to have documentation that shows how to use fibers in a CSP-like fashion (think Goroutines & Channels, Akka actors, message passing in general)

[2019-07-16 12:18] kaishh commented on #1186
@ioleo
Seems like the test that this trace belongs to passed:
[code]

it just prints the traces into stdout, they're not actually thrown

[2019-07-16 12:38] ioleo commented on #1186
@kaishh I might have misread the stack trace (I have yet to learn where & what ZIO reports), but the build did fail, any idea why? :thinking:

[2019-07-16 12:49] kaishh commented on #1186
The only line with failure is the last `.Exited with code 1`, there are no `[error]` lines and no failed specs, so that's a mystery to me too...

[2019-07-16 14:20] ioleo commented on #1186
@kaishh Seems like you're right, failed tests should output
[code]

Since you've created a seperate issue for StacktracesSpec confusing output, I guess this one can be closed - it's probably on CircleCI end / nothing we can do about it.

[2019-07-16 14:20] #1186 closed

[2019-07-16 15:43] galosa commented on #1182
Hey @jdegoes,
This is my first OSS contribution, I tried this and I'm struggling with the implementation for `forkAll`.
I would love to pair up and do this together.

[2019-07-16 18:11] vasilmkd commented on #1027
Already on it.

[2019-07-16 18:41] dsebban commented on #913
Hey can I pick this one up? @regiskuckaertz I would totally understand if you want to give it another chance , would love to give a try though, thnks

[2019-07-16 18:47] regiskuckaertz commented on #913
@dsebban Hello 👋 Thanks a lot for asking, please go ahead as I won't have time to focus on zio for a while 😞

[2019-07-16 19:48] vasilmkd commented on #1027
Regarding the throttling combinator that accounts for burst.

In the currently merged `throttleEnforce` implementation, the bandwidth that can be achieved is at best the specified bandwidth in the arguments, meaning, the bucket at any time can contain at most `units` worth of tokens.

Could the burst combinator be implemented in such a way that would allow the bucket to accumulate `n` cycles worth

[2019-07-16 19:51] jdegoes commented on #913
@dsebban I would do a generic update / modify:

e.g.:

[code]

then add syntax for ordinary `update` in terms of this one, in the case that `A =:= B`:

[code]

Then for performance reasons, I'd take it a step deeper, and add private `unsafeUpdate` / `unsafeModify` functions, which assumes (_cast_) `A =:= B`, and are called in the syntax classes.

[2019-07-16 19:57] iravid commented on #1027
You know, I'm not sure- I'm not that knowledgeable about possible implementations. Both approaches sound good to me but if you have the time to do some research on the tradeoffs between the two, that'd be great.

[2019-07-16 19:57] iravid commented on #1027
I know that (for example) EBS volumes in AWS work the way you've described, by accumulating "burst tokens".

[2019-07-16 20:58] dsebban commented on #913
Thanks, I will try your suggestion next, I left some comments on my commit where I am stuck

[2019-07-17 00:04] ghostdogpr commented on #744
Closed by #805

[2019-07-17 00:04] #744 closed

[2019-07-17 03:13] contrun opened #1193 "better repl inspection"
I was trying to play zio with ammonite.
[code]

I understand that all I did was creating new effects. But this is in an `repl`, so I expected to see information more relevant than `res3: UIO[Int] = zio.ZIO$Succeed@6afced93` and `res6: Fiber[Nothing, Int] = zio.Fiber$$anon$5@6414eb98`. It should be just like `ghci`.

Is it possible that we differentiate the behavior of those ZIO in an `repl` from t

[2019-07-18 17:11] vasilmkd commented on #1027
Already working on a burst implementation.

[2019-07-18 19:49] vasilmkd commented on #1027
I would love a quick explanation on type parameters.

Since I have stumbled on the interesting case where I have to return the throttling sinks as managed resources, after some thinking I have come to the following conclusion.

Given an effectful cost function `A => ZIO[R, E, Long]` which is only ever invoked inside the Sink's internal methods and _never_ in the creation of the `ZManaged`, I would

[2019-07-19 08:33] iravid commented on #1027
@vasilmkd

Right, so your understanding of `transduceManaged`'s signature is correct, but with one important nuance: because both `ZManaged` and `ZSink` are *covariant* in the `E` parameter, we should read `transduceManaged`'s signature as if it said, "the Sink and Managed must both fail with an error type that can be *unified* to the same type".

Now since `Nothing` is the subtype of all types, i

[2019-07-19 08:36] vasilmkd commented on #1027
Clearly, I still have lots to learn about variance. I have never thought about it in this way.

Thanks, I appreciate this very much.

[2019-07-19 13:41] #1040 closed

[2019-07-19 13:43] iravid opened #1200 "ZStream#effectAsync should provide a way for the caller to signal stream end"
We can perhaps add an overload that uses `Option[A]` as the value for the ZIO, but that would unfortunately incur an allocation on each element.

@jdegoes any ideas? Maybe `Option[E]` on the error channel?

[2019-07-19 14:55] iravid opened #1201 "Add ZStream#ensuring, ZStream#ensuringFirst"
In the same manner as `ZManaged#ensuring/ensuringFirst`.

Signatures:
[code]

[2019-07-19 15:02] iravid opened #1202 "Add ZStream#onExit, ZStream#onError and variants"
Add the following combinators that allow attaching cleanup actions to a stream:
[code]

With the same semantics as `ZManaged#onExit/onExitFirst`. The last 4 combinators should be based on the first 2.

[2019-07-19 15:21] iravid opened #1203 "Add ZStream#flatMapParSwitch"
Comparing to Rx*, we've got `concatMap` (which is `ZStream#flatMap`) and `mergeMap` (which is `ZStream#flatMapPar`). We're only missing `switchMap`, with semantics as described here: https://www.learnrxjs.io/operators/transformation/switchmap.html.

We could generalize `switchMap` to a combinator called `flatMapParSwitch`:
[code]

This operator maps every `A` to a new stream, and merges the output

[2019-07-19 15:31] iravid opened #1204 "Add ZStream#zipWithLatest"
Like `ZStream#zipWith`, but holds onto the last item emitted on each side so there's always an element to combine with.

[2019-07-19 20:22] #1025 closed

[2019-07-19 20:22] #1026 closed

[2019-07-20 05:31] contrun commented on #1204
I'd like to contribute. Do you mean a function like combineLatest in RxJava https://github.com/ReactiveX/RxJava/blob/3.x/docs/Combining-Observables.md#combineLatest  ?

[2019-07-20 06:14] iravid commented on #1204
Yup!
On 20 Jul 2019, 8:32 +0300, B YI <notifications@github.com>, wrote:

[2019-07-20 07:57] vasilmkd commented on #1203
I'd like to take this. I'm interested to learn more about Rx.

[2019-07-20 15:54] jdegoes commented on #1200
Yes, `Option[E]` would pay the price only on failure.

[2019-07-20 16:24] iravid commented on #1200
We can probably get rid of `Take` in the same way!

[2019-07-20 17:15] jdegoes commented on #1182
@galosa Let's do it! What time zone are you in?

[2019-07-20 17:23] jdegoes commented on #1200
@iravid That would be awesome, since it's used so pervasively now.

[2019-07-20 17:34] wpoosanguansit commented on #1026
@iravid I saw in your note:

* Any sink can be used here, but see [[Sink.foldWeightedM]] and [[Sink.foldUntilM]] for
   * sinks that cover the common usecases.

Is that how I should instantiate a sink, using foldUntil function?

[2019-07-20 17:36] iravid commented on #1026
@wpoosanguansit yes - any constructor in the `ZSink` and `Sink` companion objects can be used, or even by constructing one manually by filling in the `initial`, `step` and `extract` methods.

[2019-07-20 17:36] #1181 closed

[2019-07-20 17:52] jdegoes opened #1206 "Flaky stream test"
[code]

[2019-07-20 18:02] iravid commented on #1206
Think I know what's wrong there. Fix coming up.

[2019-07-21 04:17] #1206 closed

[2019-07-21 05:15] wpoosanguansit commented on #1026
@iravid Thanks.  I hope you don't mind I ask you more on constructing Sink manually.  Far from understanding all the detail, I managed to follow your code and have this down:

[code]

But I am having a hard time constructing this:

val sink: ZSink[R, E, A, A, A] = ???

I do not have a for the initial and I couldn't seem to use Option[A] for State either.  Can you give some guidance?  Thanks.

[2019-07-21 18:27] softinio opened #1208 "ZIO Test (remove Specs2 from project)"
Currently we cannot:
- Run dotty tests due to use of s2 macros in specs2
- Can't run tests in scala native due to no specs2 scala native compatibility.

Should we explore an alternative?

It was nice to see:

https://twitter.com/RichardWhaling/status/1153004972012912640?s=20

[2019-07-21 18:33] jdegoes commented on #1208
We need to move away from Specs2. I think it's time for _ZIO Test_. 😄

[2019-07-21 18:46] iravid commented on #1203
@vasilmkd go for it! :-) Please have a look at the implementation for `flatMapPar` before you start. It should be fairly similar in structure. It's pretty well commented so you can follow the nuances.

[2019-07-21 18:49] softinio commented on #1208
ZIO Test is a great idea! I am in!

Fresh start or can we leverage: https://github.com/scalaz/testz

[2019-07-21 19:26] #1165 closed

[2019-07-21 19:26] #1027 closed

[2019-07-21 19:36] iravid commented on #1102
@didierd I missed this comment - that's a good generalization! We should do that.

[2019-07-21 19:58] rwhaling commented on #639
So, I spent a couple of hours today hacking on this - I was able to get Zio to compile on SN by removing the specs2 dependencies, but once I got an artifact built locally, I did start to see a linking error on the SN side - looks like a missing toArray method on java.util.Set; I've documented the issue on the SN repo here:
https://github.com/scala-native/scala-native/issues/1661
This doesn't appea

[2019-07-21 19:59] adamgfraser commented on #1201
I would be happy to take this one.

[2019-07-21 20:26] galosa commented on #1182
@jdegoes Thank you, my timezone is GMT+3.

[2019-07-21 20:32] mijicd commented on #1178
I'll take this one.

[2019-07-21 20:57] softinio commented on #639
Awesome!

Related to the specs2 issue: #1208

[2019-07-21 20:58] softinio commented on #1022
Related: #1208

[2019-07-21 20:59] softinio commented on #1180
related to this conversation : #1208

[2019-07-21 21:59] NeQuissimus commented on #1208
Don't forget about #723 😜

[2019-07-22 02:35] adamgfraser commented on #1202
I can take this one too.

[2019-07-22 10:30] jdegoes opened #1211 "STM test failure"
[code]

[2019-07-22 10:51] jdegoes commented on #1178
@mijicd Awesome!

If up for a challenge, see [Michael Schröder's thesis](http://hackage.haskell.org/package/ttrie).

[2019-07-22 10:53] iravid commented on #1178
About time we get finalisers and ZManaged for STM! ;-)
On 22 Jul 2019, 13:51 +0300, John A. De Goes <notifications@github.com>, wrote:

[2019-07-22 10:57] mijicd commented on #1178
@jdegoes nice, I'll check it out!

[2019-07-22 11:46] tabdulradi opened #1212 "Add Executor#toJava: java.util.concurrent.Executor"
I've been using the following simple converter recently:
[code]

Does this interest more people? shall I PR it as a method on `Executor`?

[2019-07-22 11:59] pshirshov commented on #1208
Hey guys,

Recently I've been rewriting our distage testkit  to support dependency sharing across tests. I hit all the possible limits of ScalaTest then tried to check if any other existing framework can satisfy our needs - and unfortunately they all cannot.

Right now I have a proof of concept framework on top of scalatest with a lot workarounds. So, we are seriously considering writing our own o

[2019-07-22 12:52] jdegoes commented on #1208
Here are my must-haves for such a framework:

 - Minimal dependencies
 - No magic, no implicits, no detectable mutability
 - JVM, Scala.js, Scala Native
 - No built-in DSL (DSLs can be layered on in external libraries, if desired)
 - Higher-order assert combinators
 - Every test returns an effect; "pure" tests are special cases of the effectful case
 - Tests can require an environment which is "gl

[2019-07-22 14:01] pshirshov commented on #1208
From my point of view even this should be layered on top of a basic framework. For example we have several different forms of effect-returning tests and I'm afraid that such a feature baked straight into the core may limit applicability of the framework. Why not to parameterize test registry with a `T` and avoid any mentions of that `T` nature anywhere in the base layer?

[2019-07-22 14:11] rwhaling commented on #639
I haven't been able to get Zio itself to build on SN 0.4 yet, but it does look like the underlying linker error is already fixed on SN master, so I've closed the SN issues.  Progress!

[2019-07-22 16:30] tabdulradi opened #1213 "Add prameterless ZIO#toManaged to lift an effect into ZManaged"
Currently, there is `ZIO.toManaged` that takes `release` parameter. How about adding a parameterless overload that just calls `ZManaged.fromEffect`?

[2019-07-22 17:20] iravid commented on #1213
That's `ZIO#toManaged_` :-)

[2019-07-22 17:23] #1201 closed

[2019-07-22 18:04] jamesanto opened #1214 "Finagle like Services & Filters"
I really like the concept of [**Services & Filters** from finagle](https://twitter.github.io/finagle/guide/ServicesAndFilters.html). My intention is to use the concept outside of finagle to model generic problems, such as AOP(using Filters). If we have something like this, it would help ensure that everyone thinks in terms of Services & Filters, which IMO, would result in better extensibility of c

[2019-07-22 19:06] LGLO commented on #1211
There are two test cases (e17, e18) that try to prove that implementation with `Ref` will always yield wrong results. It happened that it didn't.
I think we should not keep these two.

[2019-07-22 19:44] jdegoes commented on #1211
Let's delete them! 👍

[2019-07-22 19:46] LGLO commented on #1211
#1215 :)

[2019-07-22 20:47] jdegoes opened #1216 "Flaky queue test"
[code]

Might be unrelated to queue, actually.

[2019-07-22 21:38] tabdulradi commented on #1213
Oh it's still on master, amazing! Thanks a lot.

[2019-07-22 21:38] #1213 closed

[2019-07-23 00:16] jdegoes commented on #1214
Great idea!

The complexity of Finagle's `Filter` definition comes from the fact that `Future` is not pure.

Because ZIO effects are pure values, `Filter` can be simplified to:

[code]

with appropriate variance.

Finally, there is no need to use `FunctionIO` since ZIO can now handle the same functions:

[code]

There you go, requests and filters in ZIO! 😄

[2019-07-23 00:16] #1214 closed

[2019-07-23 01:11] jdegoes opened #1217 "Enhance combinators for working with sum types (Option, Either, etc.)"
A few operators can allow digging into terms of sum types, pushing error states onto the error channel; and a couple more can allow "popping" error states off the error channel.

[code]

/cc @jczuchnowski who was thinking about these issues.

[2019-07-23 01:15] jdegoes commented on #1211
Fixed by #1215

[2019-07-23 01:15] #1211 closed

[2019-07-23 01:21] jdegoes commented on #1208
ZIO makes many decisions to cater to the common case for improved ergonomics; I think this is a similar case. That said, how about this:

 - @pshirshov works on testing infrastructure atop existing "testkit" code and @NeQuissimus work on test runners, etc.; the infrastructure (`zio.test.internal`) will be used by the "user land" API but could be more generic in an internal package, allowing, for e

[2019-07-23 11:01] jdegoes opened #1218 "FiberFailure stack trace suggests wrong location"
Whenever a `FiberFailure` is constructed, it builds a stack trace, which is printed out by some third-party libraries (rather than, say, its `toString` method).

To avoid this, we should probably disable the stack trace, or delegate to the stack trace of the first / primary defect.

/cc @kaishh ???

[2019-07-23 11:13] jdegoes opened #1219 "Add convenience methods to Schedule"
We should add two methods to `ZSchedule`, which will recur while / until the input to the schedule equals the specified reference value.

[code]

This will simplify a lot of code that currently does things like `Schedule.doWhile(_ == true)`.

[2019-07-23 11:14] jdegoes commented on #1212
@tabdulradi Great idea! We should investigate Scala.js compatibility to know where to put it...

[2019-07-23 13:08] jamesanto commented on #1214
Thank you so much!

Version 0.0.1 : https://gist.github.com/jamesanto/58b44fd630b502e95c8cccaadc27854d

[2019-07-23 13:10] jdegoes commented on #1214
@jamesanto Nice work! 😄  The other thing I'd do is add variance annotations (`+` / `-`) to the type parameters in `Filter`, as it will make inference work more smoothly.

[2019-07-23 13:49] CloudZou commented on #1219
@jdegoes can is pick up it?

[2019-07-23 14:33] CloudZou commented on #1219
`final def doWhileEquals[A](a1: A): Schedule[A, A] =
    identity[A].check((a, _) => IO.succeed(a == a1))`

@jdegoes  is it like this?

[2019-07-23 17:57] adamgfraser commented on #1202
After spending some time on this and discussions with @iravid I don't think we can actually implement these combinators due to differences between the semantics of streams and effects.

Effect types like `IO[E, A]` will always produce an `A` or fail with an `E`. In contrast, a `Stream[E, A]` may when run produce zero, one, or many `A` values.  In particular, an empty stream will succeed without pr

[2019-07-23 18:01] NeQuissimus commented on #1208
I think somebody needs to just run with it and let us provide feedback.
The `test-interface` that will need to be implemented is kind of weird. But that's for the runners to deal with, so is hidden from users.
Some sort of `TestSuite` trait will be the piece that requires most designing, I think.
How does a user communicate the set of tests to the framework?
Also, can a test suite have an environm

[2019-07-23 18:05] iravid commented on #1202
Thank you @adamgfraser! Closing this.

[2019-07-23 18:05] #1202 closed

[2019-07-23 18:16] adamgfraser commented on #1217
I'm happy to take this if no one else is.

[2019-07-23 19:03] jdegoes commented on #1217
@adamgfraser 🙏

[2019-07-23 19:05] adamgfraser commented on #1217
I’m on it.

[2019-07-23 19:06] jdegoes commented on #1208
I prototyped the ZIO Test API here:

 - [Prototype of ZIO Test API](https://github.com/zio/zio/pull/1220)

If anyone wants to lend a hand, feel free to submit pull requests against the [original here](https://github.com/jdegoes/zio/tree/zio-test), or we can wait to get it merged and continue against `master`.

[2019-07-23 21:33] jczuchnowski commented on #1217
So just not to double the work, I'll post a PR with what I was working on.

[2019-07-23 22:14] jczuchnowski commented on #1217
So here it is.
@adamgfraser I suggest I finish the work on Option (I have `some` and `peelError`) and you could take Either. What do you think?
@jdegoes we talked about different names before. I believe I have a kind of `peelError` but with a different signature, right?

[2019-07-23 22:18] adamgfraser commented on #1217
@jczuchnowski That sounds great. I'll take `left`, `right`, and `head` and leave `some`, `none`, `fuseError`, and `peelError` to you. I just did implementations of `none` and `fuseError` so I will add them as a comment to your PR in case it is helpful to you.

[2019-07-23 22:20] jczuchnowski commented on #1217
@adamgfraser yes, it'll be helpful, thanks!

[2019-07-23 23:46] kaishh commented on #1218
Makes sense! I can do this if no one else wants to take it first 😉

[2019-07-24 01:06] jdegoes commented on #1217
@jczuchnowski Yes, I am not really sure on good names here.

[2019-07-24 10:11] vasilmkd commented on #1203
Initial implementation is ready for review. Will we also be implementing a synchronous switchMap (only one active stream at a time)?

I'm also interested to hear ideas about the generalized way to select the stream to be closed.

I'm very grateful for the comments and clear implementation of flatMapPar, and the comprehensive test suite. I really learned a lot and had a lot of fun implementing this

[2019-07-24 10:41] #717 closed

[2019-07-24 15:26] jdegoes opened #1225 "Pull out all core tests into separate `core-tests` project"
We will use _ZIO Test_ for all tests. In order to avoid circular dependencies, we should pull out all `core` tests into a new project: `core-tests`. This will depend both on `testkit` and on `core` and will contain all tests currently in `core`.

Some basic level of familiarity with `sbt` is required for this ticket.

[2019-07-24 15:27] jdegoes opened #1226 "Rename `testkit` to `test`"
`testkit` should be renamed to `test`, since it's evolving to become _ZIO Test_, and `testkit` will just be a test environment that is part of _ZIO Test_.

This involves updating the directory and miscellaneous stuff in the `sbt` build file.

[2019-07-24 15:29] jdegoes opened #1227 "Make `testkit` cross-platform (Scala.js)"
Right now, `testkit` is entirely JVM, but it can work on Scala.js as well, possibly without changes.

This ticket is to move source files inside `testkit` from the `jvm` directory to the `shared` directory and fix any issues that arise in the process.

[2019-07-24 16:10] vasilmkd commented on #1226
I'd like to take this.

[2019-07-24 16:57] mgibowski commented on #1225
I volunteer to take this.

[2019-07-24 17:13] jdegoes opened #1229 "Implement Reporter for Console JVM"
This ticket involves working from @NeQuissimus's [pull request](https://github.com/zio/zio/pull/723) (in particular, [here](https://github.com/zio/zio/pull/723/files)) to implement a `Reporter` for JVM console. The `Reporter` is essentially a function that takes an executed spec and reports it.

It would loop over an executed spec and print the classic list hierarchy, with color-coded text:

[code

[2019-07-24 17:14] jdegoes commented on #1226
@vasilmkd Thank you!

[2019-07-24 17:15] jdegoes commented on #1225
@mgibowski Thank you! 🙏

[2019-07-24 17:44] vasilmkd commented on #1226
No problem. Glad I could help on short notice.

[2019-07-24 21:40] vasilmkd commented on #1227
I can take this.

[2019-07-24 22:09] vasilmkd commented on #1226
I guess this issue can be closed? @jdegoes

[2019-07-24 22:18] vasilmkd commented on #1229
I'd like to take this if I may.

[2019-07-24 23:00] #1226 closed

[2019-07-25 09:04] vvlevykin opened #1231 "Add ZManaged.makeExit"
The signature might be:
[code]
or
[code]

One possible use case for this can be the saga pattern.

Created as discussed on gitter.

[2019-07-25 10:28] vasilmkd commented on #1200
What is the scope of this issue? Implement `Option[E]` as a signal for stream end and evaluate the solution as a replacement for `Take`, but defer the actual replacement of the code for later?

[2019-07-25 10:30] iravid commented on #1200
Yeah. For this ticket, let's focus on `effectAsync`.

I prototyped replacing `Take` with signalling through the error channel entirely, and it wasn't trivial due to the separation of consumer/producer errors in Stream. We might need to wait for the error overhaul on ZStream for this.

[2019-07-25 11:09] vasilmkd commented on #1200
I'll be working on this.

[2019-07-25 12:15] NeQuissimus opened #1233 "ZIO.collectSuccesses"
I'd love to have a method `ZIO.collectSuccesses[R, E, A](in: Iterable[ZIO[R, E, A]]): ZIO[R, Nothing, List[A]]` (and an equivalent `collectSuccessesPar`), which - unlike `ZIO.collectAll` - Cannot fail but rather just returns all the results that have succeeded.

I find myself writing something like `ZIO.collectAll(zios.map(_ <&> x))` and filtering `x` back out.

[2019-07-25 12:22] mtsokol commented on #1233
I would like to try to do it.

[2019-07-25 12:36] jamesanto commented on #1214
I don't know how I got here, but only the following combination works. I went through the internet to try and understand variances and most of the examples explain the basics, which I can follow, but I am not able to apply it for filters(which explains that I don't really understand it fully).

[code]

Since the compiler doesn't complain, I assume this is right, but I don't know if I will face iss

[2019-07-25 12:51] jdegoes commented on #1233
We can make this more orthogonal by adding a method to `Exit`:

[code]

Then `ZIO.foreach(list)(_.run).map(Exit.successes)` gives us what you want.

Similarly for `Exit.failures`, etc.

Another factoring would be: `ZIO.collectWith(list.map(_.run)) { case Success(a) => a }`.

Actually I quite like `collectWith`.

Once the foundation is done a combinator could be written on top, but for compositiona

[2019-07-25 13:14] NeQuissimus commented on #1233
`collectWith` would be great, I like that. It would allow to do something similar using `list.map(_.either)` if one prefers that.

[2019-07-25 13:46] adamgfraser commented on #1229
I’m happy to take this.

[2019-07-25 14:16] sinoz opened #1236 "Implement `Pool`"
We have the `Managed` data type that manages single `A`'s but what about a data type that manages multiple elements of `A`? I think this is useful for the Scalaz NIO project to elegantly and safely reuse resources such as buffers. The buffer pool could be passed on as an environment to effects that write to buffers and output a `Chunk`.

And what about a `Pool` that is fiber local?

[2019-07-25 14:27] NeQuissimus commented on #1229
I would not render the succeeded test labels green. Just leave them default and render the + in green, just like the screenshot.

[2019-07-25 14:29] adamgfraser commented on #1229
Sounds good.

[2019-07-25 14:33] NeQuissimus commented on #1229
Oh, and this needs to have an option to disable colours altogether. Otherwise the output is going to look like crap in some CI

[2019-07-25 18:17] jdegoes commented on #1129
@dkarlinsky Are you available to take this?

We need a version for JVM, something like this:

[code]

and one for `Scala.js`, without the `Blocking` (which does not exist for `Scala.js`).

The JVM one should be placed in the JVM source directory, and the JS one, in the JS directory.

[2019-07-25 18:45] jdegoes opened #1239 "Move zio.testkit to zio.test.mock"
A ticket to move all the classes in "zio.testkit" to "zio.test.mock".

[2019-07-25 18:53] jdegoes opened #1240 "Add "setter" / "update" methods to mock services"
The following mock services (located in the `test` project, in the `shared` source directory) are powered by a `Ref` that contains test data:

 - [ ] TestClock
 - [ ] TestConsole
 - [ ] TestSystem
 - [ ] TestRandom

These mock services provide test implementations of the corresponding ZIO interfaces (Clock, Console, System, Random).

We need to add setter / update functions to these, so users can

[2019-07-25 19:06] adamgfraser commented on #1239
I'll take this.

[2019-07-25 19:13] jdegoes commented on #1239
@adamgfraser You're on a roll! 🙏 😆

[2019-07-25 19:16] jdegoes opened #1242 "Add 'foldCause'"
We have a `foldCauseM`, but not a `foldCause`. This ticket is to add `foldCause` to ZIO:

[code]

[2019-07-25 19:22] vasilmkd commented on #1242
On it, if I may.

[2019-07-25 19:22] jdegoes commented on #1242
@vasilmkd Please do!

[2019-07-25 19:22] jdegoes commented on #1229
@adamgfraser Fantastic!

[2019-07-25 19:40] LGLO commented on #1023
[code]

[2019-07-25 19:45] vasilmkd commented on #1240
I'll take TestClock, since I have already used it in previous tests.

[2019-07-25 20:24] vasilmkd commented on #1227
This issue can be closed probably.

[2019-07-25 20:29] adamgfraser commented on #1240
I can do the other ones.

[2019-07-25 20:47] #1239 closed

[2019-07-25 22:38] #1227 closed

[2019-07-26 04:32] #1184 closed

[2019-07-26 04:36] #1242 closed

[2019-07-26 08:38] iravid commented on #1236
Sounds interesting! What API did you have in mind?

[2019-07-26 10:39] ghostdogpr commented on #1084
@bbarker closing this one then, please reopen if you see this again

[2019-07-26 10:39] #1084 closed

[2019-07-26 11:11] #1200 closed

[2019-07-26 11:12] #1203 closed

[2019-07-26 11:14] jdegoes commented on #1236
[code]

[2019-07-26 11:17] jdegoes commented on #1240
🙏

[2019-07-26 11:37] #1034 closed

[2019-07-26 11:48] mgibowski commented on #1227
Hi, while rebasing my branch I have disovered that some specs (`test.mock.*`) are not JS-compatible because of dependency on `TestRuntime`.

It was not visible, as in the current sbt configuration these tests were actaully nevery really compiled or run in JS.

If you want to see how current sbt could be changed to see them failing, I created a [branch](https://github.com/mgibowski/zio/tree/failing

[2019-07-26 11:49] jdegoes commented on #1227
@mgibowski

`TestRuntime` will go away soon, so I'd say let's not worry about this. Ultimately we want all these tests running on Scala.js, and that will happen shortly after ZIO Test is completed.

[2019-07-26 12:02] vasilmkd commented on #1227
Sorry for all the confusion this caused.

[2019-07-26 12:03] mgibowski commented on #1227
No worries! 😉

[2019-07-26 12:17] vasilmkd opened #1249 "Guarantee deterministic ordering for ZStream#flatMapPar and ZStream#flatMapParSwitch"
I've already started work on this.

[2019-07-26 12:29] iravid opened #1250 "Change Promise#done to take an Exit[E, A]"
Rationale: we have `Promise#fail(E)`, `Promise#halt(Cause[E])`, `Promise#die(Throwable)`. These match the `ZIO.fail/halt/die` constructors.

The existing `Promise#done` should be renamed to `Promise#completeWith`.

Thoughts? @ghostdogpr @jdegoes

Signatures:
[code]

[2019-07-26 12:39] jdegoes commented on #1250
💯

Consistency matters a lot for usability.

[2019-07-26 13:10] mgibowski commented on #1250
I would be glad to make this change.

[2019-07-26 13:21] mtsokol commented on #1250
I would like to try to do it.

[2019-07-26 19:12] adamgfraser commented on #1129
I will take this.

[2019-07-27 06:30] iravid opened #1254 "ZManaged.mergeAllParN and ZManaged.reduceAllParN are not tolerant to finalizer defects"
ZManaged.mergeAllParN and ZManaged.reduceAllParN should compose finalizers in a list and run them with`.run`.

This is the same issue as #940.

[2019-07-27 10:05] dkarlinsky commented on #1129
Thanks @jdegoes, saw your answer just now...
Yes I would like to take it.
@adamgfraser do you mind if I gave it a shot?

[2019-07-27 10:52] adamgfraser commented on #1129
@dkarlinsky I am almost done with this one. Would you mind taking another ticket?

[2019-07-27 11:03] dkarlinsky commented on #1129
Ok, sure, @adamgfraser

[2019-07-27 11:18] adamgfraser commented on #1254
I'll take this.

[2019-07-27 12:59] ghostdogpr commented on #1240
Closed by #1252

[2019-07-27 12:59] #1240 closed

[2019-07-27 13:18] jdegoes opened #1257 "Rename TestClock, TestScheduler, TestSystem, TestConsole, TestRandom, TestEnvironment"
Now that we have moved the mock services into `zio.test.mock`, it makes sense to rename the `Test` prefix to `Mock`, e.g. `MockConsole`, `MockEnvironment`, etc.

[2019-07-27 13:40] dkarlinsky commented on #1257
I'll take this

[2019-07-27 13:41] ghostdogpr commented on #1225
Closed by #1248

[2019-07-27 13:41] #1225 closed

[2019-07-27 13:55] jdegoes commented on #1225
@ghostdogpr Thank you for all the cleanup! I should remind people to use `Fixes #xyz` syntax in pull requests...

[2019-07-27 13:56] jdegoes commented on #1257
@dkarlinsky Thanks!

[2019-07-27 14:20] jdegoes opened #1259 "Create `test-sbt` project for SBT integration with ZIO Test"
In a new `test-sbt` project, which depends on `test` project, we will provide integration with SBT, by providing an implementation of `TestFramework`.

This can be built off @NeQuissimus's work in [this pull request](https://github.com/zio/zio/pull/723/files).

Using reflection, we should identify the set of all `RunnableSpec`, and then run them as per SBT integration requirements.

[2019-07-27 14:37] dkarlinsky commented on #1259
I would like to give it a shot.
@jdegoes What was missing from the original @NeQuissimus 's PR?

[2019-07-27 14:39] jdegoes commented on #1259
@dkarlinsky It was a good start but there are some details I wanted to modify in creating ZIO Test. ZIO Test is a different code base than the original PR but also models tests as effects that produce results.

It's basically doing what Tim did, but for the current ZIO Test code base, and using `RunnableSpec` as the basis.

[2019-07-27 14:49] dkarlinsky commented on #1259
Ok, I'll try to make it work with the new `RunnableSpec`.

[2019-07-27 15:25] jdegoes commented on #1259
Awesome, thank you!

The new `RunnableSpec` doesn't actually run yet but you can get the code in place...

[2019-07-27 15:29] dkarlinsky commented on #1259
Hmm... Is there a way for me to make it run somehow, to test what I'm doing?

[2019-07-27 15:31] jdegoes commented on #1259
Put a `println("Hello World")` in the main function of `RunnableSpec`?

[2019-07-27 15:33] ghostdogpr commented on #1257
Closed by #1260

[2019-07-27 15:33] #1257 closed

[2019-07-27 15:42] jdegoes opened #1261 "Implement ZIO.replicate"
A quite common idiom in ZIO is `List.fill(n)(effect)`, to replicate an effect `n` times.

However, this consumes unnecessary memory, since the effect is the same, there is no need to create `n` copies of it.

Instead, we can return an `Iterable` that _pretends_ to be that long, and whose iterator simply returns the same effect `n` times in a row.

It may be a challenge making this in a way that co

[2019-07-27 16:24] dkarlinsky commented on #1259
Sounds pure :)
I think I'm missing a lot of context on how `RunnableSpec` is supposed to work, though...
The main method is final, and calls `System.exit()`, so it seems that the only way to run it from a custom sbt `Framework` is to create a new JVM process and wait for its result code, to figure out if the test succeeded...

[2019-07-27 17:18] jdegoes commented on #1259
@dkarlinsky Probably we need a separate function, aside from `main`, to call. I will add that function, it will be called `run` and take some arguments.

[2019-07-27 17:19] jdegoes commented on #1259
@dkarlinsky Do you need success / failure information? What's the ideal information you would obtain from `RunnerSpec.run`?

[2019-07-27 17:23] dorsev commented on #1261
I'll take this

[2019-07-27 17:32] jdegoes opened #1263 "Add ZManaged#memoize"
Constructs an inner `ZManaged` that will lazily acquire the resource, but only a single time; releasing in the outer scope only.

[code]

/cc @iravid

[2019-07-27 17:33] jdegoes commented on #1263
This could also be called `duplicate`.

[2019-07-27 17:42] jdegoes commented on #1261
@dorsev 🙏

[2019-07-27 17:50] dkarlinsky commented on #1259
Well, I see that sbt's `Runner.execute()` method (which I will need to implement) gets an event handler and seems to be expected to report test results as events to the handler.
Here's the [Event interface](https://github.com/sbt/test-interface/blob/master/src/main/java/sbt/testing/Event.java).
Looks like I will need need:
-  a status (which I will need to map to [Status](https://github.com/sbt/te

[2019-07-27 18:14] jdegoes commented on #1263
It could also be called `shared`.

[2019-07-27 18:16] jdegoes commented on #1229
It would be nice to do a summary of failures:

<img width="540" alt="Screen Shot 2019-07-27 at 2 12 38 PM" src="https://user-images.githubusercontent.com/156745/61998120-1b79a880-b079-11e9-8519-67b45eab0d96.png">

In some test frameworks, you have to scroll back to find failures; there is no summary at the end.

[2019-07-27 18:44] jdegoes commented on #1259
@dkarlinsky

[This should be enough](https://github.com/zio/zio/pull/1264), will merge when it's green.

[2019-07-27 23:26] ghostdogpr commented on #1129
Closed by #1255

[2019-07-27 23:26] #1129 closed

[2019-07-28 02:20] sinoz opened #1267 "Implement Schedule.collectWhile, Schedule.collectUntil"
I have a low level use case where I have to read N bytes until the nth's byte is of a specific value (and thus exclusive in the transformation).  For example:

[code]

or:

[code]

And the signature of these operators would be:

[code]

I have tried to compose `Schedule.doUntil(p)` with `Schedule.collectAll` but to no prevail

[2019-07-28 05:48] heraklos commented on #803
@jdegoes
Sorry for the slow work😭I got into a problem.
Since I finally replaced synchronized and semaphore with LockedRef and I confirmed that my changes didn't break the existing test cases, I tried to make the code using STM work with scala.js.

But I got errors like the followings for each place HashMap.forEach is called in STM :
[code]

It seems HashMap.forEach is not implemented in scala.js a

[2019-07-28 06:15] #1254 closed

[2019-07-28 10:19] mtsokol commented on #1263
I would like to try to do it.

[2019-07-28 13:34] jdegoes commented on #1263
@mtsokol Awesome, thank you! 🙏

[2019-07-28 15:02] ghostdogpr commented on #1261
Closed by #1262

[2019-07-28 15:02] #1261 closed

[2019-07-28 15:03] ghostdogpr commented on #1250
Closed by #1251

[2019-07-28 15:03] #1250 closed

[2019-07-28 15:53] NeQuissimus commented on #1229
If you properly integrate with SBT and `test-framework`, it should give you a summary at the very end

[2019-07-28 16:02] jdegoes commented on #1229
@NeQuissimus Right, but it's terrible, it only tells you the class that failed and how many failures.

[2019-07-28 16:07] NeQuissimus commented on #1229
Be careful with a bounding box though, if people have long test names or tons of predicates, it's going to look awful ;)

[2019-07-28 16:18] jdegoes commented on #1229
True. Maybe better if it wraps. Or maybe just skip it for v1.

[2019-07-28 17:35] vasilmkd commented on #1102
Is anyone working on this actively?

[2019-07-28 17:49] vasilmkd commented on #1073
Is there any progress on this?

[2019-07-28 18:22] vasilmkd commented on #817
Any progress on this? I'd like to contribute this.

[2019-07-28 18:34] vasilmkd commented on #538
I got pretty familiar with Step when working on throttling. Should I give this a shot, if it's still something worth looking into?

[2019-07-28 18:51] softinio commented on #1073
@vasilmkd I have been slammed at work to work on this so was going to get back on it this coming week.

Did you want to work on it today?

[2019-07-28 18:55] vasilmkd commented on #1073
No worries. Please continue. Just checking if it's still active.

[2019-07-28 18:58] softinio commented on #1073
👍  Yup still active ty

[2019-07-29 00:21] mschuwalow commented on #634
Hi,
Just wanted to say that I'm still working on this. I ended up being busier than I expected, but I'll try to get some good progress on this next week.

As far as I can currently tell most interesting combinators will end up looking something like this
[code]
With versions in an implicit class that use either
[code]
or
[code]
to map the errors. Is this the right way to organize?

Also I'm curren

[2019-07-29 01:28] jdegoes commented on #634
@mschuwalow

Yes. The base version should require explicit mapping, and syntax can perform the mapping in common cases, where error types can be implicitly unified.

I like this. It's quite a bit simpler. Sinks already have "combinators on consumer errors", so maybe the lack of that on Stream wouldn't be that limiting.

@iravid ???

[2019-07-29 12:35] fanf opened #1275 "Blocking as default `effect` import?"
Following these discussion in twitter (https://twitter.com/fanf42/status/1155734715346935808 and https://twitter.com/fanf42/status/1155781700246523905°, and on the advice of @kaichaosun I'm opening that issue to discuss about what should/could be done to make importing bloking IO more well known and/or the default effect strategy.

The problem with `Blocking` by default is that it would lead to re

[2019-07-29 19:51] dkarlinsky commented on #1259
Thanks @jdegoes !
I started working on it.
I have a some questions:

1.  When I load a`RunnableSpec` object using reflection, I don't see another way but to cast it to `RunnableSpec[Any, String]`. Is this reasonable?
2. I'm having trouble figuring out how to get test results with their corresponding labels from `ExecutedSpec[String]`. I need to get the structure of suite labels with nested test la

[2019-07-29 19:56] jdegoes commented on #1259
1. Instead, `map` the `Spec`, changing each `L` into a `String` by calling `toString`. To deal with `R`, you can create a wrapper: `SomeRunnerSpec { type R; val spec: RunnableSpec[R, String] }`. Then you can safely / type safely ensure that the runner can deal with the `R`.
2. You can `fold` over the spec, or just pattern match against it recursively. You may want to create an intermediate data st

[2019-07-29 20:15] dkarlinsky commented on #1259
Ok, more questions :)

I'm missing something wrt the wrapper in (1)?
Say I create a wrapper:
[code]
How does this help me to deal with `R`?
I will have to implement it at some point, and will need to decide on the `R`...