[2019-07-29 20:17] jdegoes commented on #1259
@dkarlinsky You don't have to deal with `R`, because the spec has a runner in it, that can deal with the r. So what you want is an existential type that can represent the fact that it is some unknown type.

But actually, in your first version, I think you can just cast `R` as `Any` and ignore it. It won't be precise but I can help you fix it later.r

[2019-07-29 20:18] dkarlinsky commented on #1259
Ok, sure.
Thanks!

[2019-07-29 20:25] dkarlinsky commented on #1259
@jdegoes Another quick question:
I made a `RunnableSpec` based on the example in `ZSpec` scaladoc:
[code]
It is asserting that `nanoTime` is negative, so I expected it to fail.
When I run it I however I get exit code 0...
Is this expected behavior?

[2019-07-29 20:32] jdegoes commented on #1259
@dkarlinsky That is not expected behavior. There are no tests for the testing library yet. 😄

[2019-07-29 21:39] catostrophe opened #1280 "Add combinators that accumulate errors on `zip`"
`Cause[E]` allows collecting failures via `&&` operator, but it's barely used in ZIO's combinators.
Many of those using `zip` internally may alternatively be implemented with an eager, error-accumulating semantic similarly to cats' `Validated`. Such combinators may be useful for validation problems.

Below is the suggested list of combinators to be extended with their error-accumulating versions.

[2019-07-29 23:15] jdegoes commented on #1275
I think we can solve this problem once and for all, will just require a little time post 1.0.

[2019-07-29 23:19] jdegoes opened #1281 "ZIO Test: Cleanup type parameter orderings"
Sometimes `T` comes first; other times, `L`, and then `T`. The ordering should be consistent across all data types.

See:

 - `SuiteCase`
 - `TestCase`
 - `ZTest`
 - `ZSpec`
 - etc.

In directory: `/test/src/**`

Possibly the correct ordering is `L` followed by `T`, because every node has `L`, but only some have `T`.

[2019-07-29 23:21] jdegoes opened #1282 "ZIO Test: Create test suite for Predicate.scala"
Such a test suite would live in the `test` folder (perhaps we should move ZIO Test code to `main` folder?), and use ordinary Scala `assert` inside a `main` function, to avoid introducing another dependency in ZIO Test.

[2019-07-29 23:21] jdegoes opened #1283 "ZIO Test: Remove dependency on Specs 2"
ZIO Test currently depends on Specs 2. The test suite should be refactored to use ordinary Scala `assert` in a main function, to avoid having any external dependencies.

[2019-07-29 23:39] adamgfraser commented on #1281
I’ll take this.

[2019-07-29 23:46] jdegoes commented on #1281
@adamgfraser Thank you... yet again. 😄

[2019-07-29 23:53] ghostdogpr commented on #1229
Closed by #1273

[2019-07-29 23:53] #1229 closed

[2019-07-30 00:04] jdegoes opened #1284 "ZIO Test: Develop example suites"
Example test suites will show people how to use ZIO Test, and provide a "compile time test" ensuring that the syntax is supported.

We should have 3 short specs, and 3 medium specs, in varying complexity levels.

### Short Simple

10 line of code test, which only tests simple truths (no effects).

### Short Moderate

10 line of code test, which tests effectful operations.

### Short Complex

15 li

[2019-07-30 03:37] edvmorango commented on #1284
I would like to give it a shot.

[2019-07-30 05:09] jdegoes commented on #1284
@edvmorango Thank you!

[2019-07-30 07:52] mtsokol commented on #1283
I would like to give it a shot.

[2019-07-30 09:11] PawelGizka commented on #1282
I would like to give it a shot.

[2019-07-30 09:17] mtsokol commented on #1283
@jdegoes But how about all the quick-check-like tests? I've started rewriting `StackBoolSpec` and it's based on `scalacheck`. So maybe remove `spec2` but keep `scalacheck` dependency? Or write these contract/specification based tests from scratch?

[2019-07-30 13:33] iravid commented on #634
I'd love to take a look at a WIP branch. I get lost in the variance jungle without seeing everything fit together.

[2019-07-30 13:37] iravid commented on #538
It'd definitely save allocations at the cost of making some combinators harder to write. I'd try and write a parallel implementation of `Sink`, a few sink combinators and `Stream.{run,transduce}` to see how ergonomic it is.

[2019-07-30 13:45] ghostdogpr commented on #1173
Closed by #1272

[2019-07-30 13:45] #1173 closed

[2019-07-30 13:48] adamgfraser commented on #1283
I'll take this.

[2019-07-30 13:55] adamgfraser opened #1288 "Should ZIO#foreachParN and related combinators take an Int instead of a Long?"
Right now `ZIO.foreachParN` and related combinators take a `Long` parameter to limit the degree of parallelism. Should this be changed to an `Int`? I have a hard time seeing when using an `n` value greater than `Int.MaxValue` would make sense. And the existing signature can lead to warnings about implicit numeric widening if an `Int` is passed that create unnecessary friction for users.

Happy to

[2019-07-30 13:57] iravid commented on #1288
`Int` makes more sense to me. `ZStream` uses an `Int` for combinators with parallelism.

[2019-07-30 14:02] adamgfraser commented on #1288
Okay, I will submit a PR on this.

[2019-07-30 14:16] ghostdogpr commented on #435
Closing as it was done.

[2019-07-30 14:16] #435 closed

[2019-07-30 14:18] ghostdogpr commented on #222
Closing, it was removed.

[2019-07-30 14:18] #222 closed

[2019-07-30 14:22] vasilmkd commented on #1288
@adamgfraser @iravid Please also double check `ZStream` combinators. Some of them are definitely using `n: Long`.

[2019-07-30 14:24] adamgfraser commented on #1288
Okay. Should we change `Semaphore` too?

[2019-07-30 14:27] iravid commented on #1288
Right! Good catch @vasilmkd.

[2019-07-30 14:52] iravid opened #1289 "Add a version of `Semaphore#withPermit/withPermits` that returns a Managed"
This would be more composable compared to `withPermit(task)`, and safer compared to bare usage of `acquire/release`.

In the implementation, it's important to put the `prepare` step in the uncancelable reservation step, and `awaitAcquire` in the cancelable step.

[2019-07-30 14:53] iravid commented on #1289
cc @vasilmkd

[2019-07-30 14:56] vasilmkd commented on #1289
Can I take it?

[2019-07-30 14:57] iravid commented on #1289
By all means

[2019-07-30 14:59] vasilmkd commented on #1289
As naming is one of the hardest things to get right, do I make overloads that have `Managed` return type or name them `withPermitManaged`?

[2019-07-30 14:59] jdegoes commented on #1282
Thank you!

[2019-07-30 15:00] #1281 closed

[2019-07-30 15:01] iravid commented on #1289
I'm good with `withPermitManaged`

[2019-07-30 15:59] jdegoes commented on #1284
ScalaTest has some very nice examples on their website. They're not quite realistic (most of them), but they give a feel for the library.

Specs2 has a number, front and center on the home page.

[2019-07-30 16:19] jdegoes commented on #1283
@adamgfraser Thank you!

[2019-07-30 16:30] edvmorango commented on #1284
Hey, @jdegoes I'll start work in it today, but I have some doubts:

1 - Where should I put these new specs (I'm thinking about core-tests/shared)?

2 - By `aspect` did you mean PBT?

3 - Do you think to create two different specs, one with realistic tests and one more similar to ScalaTest/Specs2 a good idea?

[2019-07-30 17:14] jdegoes commented on #1284
1. I'd do a new top-level project `examples` that we can put ZIO examples, ZIO test examples, etc.
2. By Aspect, I mean `TestAspect`.
3. Yes, that sounds like a good idea to me.

[2019-07-30 17:45] #1289 closed

[2019-07-30 19:32] jdegoes opened #1294 "ZIO Test: Pull stream tests into new `stream-tests` top-level project"
As part of preparation to make ZIO Test depend on Streams tests need to be pulled out into their own top-level project, following `core` / `core-tests`.

[2019-07-30 20:04] adamgfraser commented on #1294
Mind if I take this? I will think we will need to do this to fully remove the Specs2 dependency from ZIO Test since right now the tests in streams depend on the test runtime in Test.

[2019-07-30 20:06] jdegoes commented on #1294
@adamgfraser That would be awesome!

[2019-07-31 00:03] vasilmkd commented on #1182
Any progress on this? Not necessarily looking to directly contribute, just interested.

[2019-07-31 01:19] #1288 closed

[2019-07-31 01:25] tylermk04 opened #1295 "Schedule.fixed not implemented"
I was hoping to use the `zio.Schedule#fixed` functionality after coming across it in [this presentation](https://www.slideshare.net/jdegoes/zio-schedule-conquering-flakiness-recurrence-with-pure-functional-programming-119932802). It appears that Schedule currently does not implement the `ZSchedule#fixed` trait (2.12-1.0.0-RC10-1).

[code]

I figured it may have been intentionally removed (the pres

[2019-07-31 01:32] jdegoes commented on #1294
@adamgfraser Any ETA on this?

Trying to introduce Stream into ZIO Test but due to circular dependencies, can't be done until this one is closed. Wondering whether to grab this or pray your evening isn't booked. 😂

[2019-07-31 03:41] adamgfraser commented on #1294
@jdegoes Sorry didn't see this early. Just submitted a PR.

[2019-07-31 04:10] #1283 closed

[2019-07-31 05:03] jdegoes opened #1298 "Update contributors guide"
The contributors guide is a bit out of date, especially with respect to testing (now that the tests have been moved into standalone projects); and should be updated.

[2019-07-31 05:04] ghostdogpr commented on #1295
@tylermk04 what changed since the presentation is the introduction of ZIO Environment R. `Schedule` is just a particular type of `ZSchedule` with no environment requirement (R = Any).

`fixed` requires a `Clock` (it returns a `ZSchedule[Clock, Any, Int]`), that is why it is only available on `ZSchedule` and not on `Schedule`. `Schedule` only has the functions that don't require any environment.

I

[2019-07-31 05:04] #1295 closed

[2019-07-31 05:16] jdegoes opened #1299 "Add ZIO#eventually"
[code]

/cc @LGLO

[2019-07-31 05:50] jdegoes opened #1301 "ZIO Test: Refactor MockRandom to use pseudo-random number generator (PRNG)"
MockRandom (in `test` project) currently has simple lists, defined by users, of "random" data. This is useful sometimes, but is not a very good default mock implementation.

We should power the methods of MockRandom with a pseudo-random number generator (which can be kept track of in the `MockRandom.Data` structure that is currently fed into `MockRandom`), and implement all methods in terms of thi

[2019-07-31 06:08] adamgfraser commented on #1301
I’ll take it.

[2019-07-31 06:54] jdegoes commented on #1301
Awesome! Btw you in Philly?

[2019-07-31 08:33] vasilmkd commented on #1299
Anything more to this? I'll take it.

[2019-07-31 08:40] #1249 closed

[2019-07-31 09:02] adamgfraser commented on #1301
@jdegoes Yes.

[2019-07-31 11:12] LGLO commented on #1299
I wasn't clear enough. I meant adding `eventually` to assertions :D but this one looks good!
`repeat(Forever)` is almost same (but requires `Clock`).

[2019-07-31 11:17] vasilmkd commented on #1299
@LGLO Can you please point me to the test you mentioned?

[2019-07-31 12:42] vasilmkd commented on #1299
All this time, I was searching for ZIOSpec or similar...

[2019-07-31 14:40] #1299 closed

[2019-07-31 20:04] iravid commented on #1112
I added #538 to the list.

[2019-07-31 20:05] mgibowski commented on #1218
I am not sure I understand well the issue.

@jdegoes Do you mean something like that?

[code]

[2019-07-31 20:28] iravid commented on #1294
Done in #1296

[2019-07-31 20:28] #1294 closed

[2019-07-31 22:04] jdegoes commented on #1218
@mgibowski Yes, and possibly even overriding `getStackTrace` and filling it with execution trace information. It's not a perfect mapping but I can see some frameworks just dump out the stack trace and it's not remotely helpful compared to the `Cause` with tracing.

[2019-08-01 02:22] jdegoes opened #1308 "ZIO Test: Add Gen combinators"
We need combinators for ZIO Test Gen. One can find examples in QuickCheck, SmallCheck, ScalaCheck, and Hedgehog (this one may be the closest fit).

Examples:

 - `Gen.oneOf`
 - `Gen.listOf`
 - `Gen.vectorOf`
 - `Gen.string`

Etc.

[2019-08-01 02:23] adamgfraser commented on #1308
I would love to take this.

[2019-08-01 03:48] iravid opened #1309 "Add a Sink for grouping elements into n-sized lists, sets, maps"
Signatures (happy to hear alternatives to naming):
[code]

`collectAllN` can be a special-cased version of `Sink.foldUntil`. The latter 4 compute the stopping condition as a function of the state, not the elements, so they can't use `foldUntil`.

[2019-08-01 03:49] iravid opened #1310 "Add a combinator for parallel composition of sinks"

[2019-08-01 03:49] iravid commented on #1310
cc @simpadjo_gitlab

[2019-08-01 06:30] simpadjo commented on #1310
Thank you, it would be very useful.

@jdegoes

I had the same question in my head initially. Now I think that returning the shortest one looks pretty much consistent with respect to `ZIIO#zipPar` behavior. If a Stream is a timeline and Sinks are processes then `ZSink#zipPar` considered done at the latest point. Dual to `ZSink#raceBoth`.

[2019-08-01 11:08] PawelGizka commented on #1309
I can take this.

[2019-08-01 12:15] vasilmkd opened #1312 "Wrong behavior of Sink combinators"
`collectAll`

[code]

[code]

The problem is with ZSink.identity, however; that one fails with Unit if an element never passed through the sink. Maybe test it with a different sink?

`untilOutput`

[code]

[code]

[2019-08-01 12:16] vasilmkd opened #1313 "Test remainder logic of Sink combinators"
`zip*`, `orElse` and `race*` combinators have non-trivial remainder logic that should be tested.

[2019-08-01 12:54] #1282 closed

[2019-08-01 13:11] #1231 closed

[2019-08-01 13:33] jdegoes opened #1314 "ZIO Test: Add Common Predicates"
Following the existing code in Predicate.scala, inside the `/test/...` directory (_ZIO Test_), this ticket is to add common predicates.

A predicate is basically a function from some value (like a string) to a test result, either success or failure (with a message). Mostly, existing similar predicates can be copy / pasted / modified, so there is no need to engineer complex code.

A good place to f

[2019-08-01 13:49] jdegoes commented on #1308
@adamgfraser It's all yours! Thank you. 🙏

[2019-08-01 14:01] jdegoes commented on #1310
I do think shortest is the best ("minimal leftover").

Albeit there will be some nice laws that it can't satisfy.

It'd be nice if you could take `sink1 -> sink2` and `sink3 -> sink4` and `zipPar` `sink1` and `sink3`, and then `zipPar` `sink2` and `sink4`, and then do `(sink1 zipPar sink3) -> (sink2 zipPar sink4)` and have that give you the same result. But Sink appears not to have the structure r

[2019-08-01 14:44] ghostdogpr commented on #429
Closed by #1277 + follow-up issues #1312 and #1313

[2019-08-01 14:44] #429 closed

[2019-08-01 14:56] ghostdogpr commented on #434
Closing as done.

[2019-08-01 14:56] #434 closed

[2019-08-01 15:45] denisgarci commented on #1236
Hi,
I would like to try this one.
Shouldn't `create` signature be `IO[E,A]` instead of `ZIO[R, E, A]`?
Thanks

[2019-08-01 15:52] jaliss commented on #1314
I'd like to take this.

[2019-08-01 17:41] jdegoes commented on #1298
### Sorting Contents of Traits / Classes / Objects

Convention for sorting methods / vals / types / operators inside a class / object:

 - abstract types (alphabetically in this category)
 - abstract operators (alphabetically in this category)
 - abstract named defs / vals  (alphabetically in this category)
 - concrete types (alphabetically in this category)
 - concrete operators (alphabetically i

[2019-08-01 17:42] jdegoes commented on #1314
@jaliss Awesome, thank you!

[2019-08-01 17:43] jdegoes commented on #1236
@denisgarci Why not be more polymorphic? It can include `R` without difficulty.

[2019-08-01 17:44] jdegoes commented on #1236
Here is revision 2:

[code]

This one has no `destroy` because it returns the `Pool` inside `ZManaged`.

[2019-08-01 18:30] denisgarci commented on #1236
Oh I see let me try with the new one. Thank you!

[2019-08-01 18:45] kaishh commented on #1218
@mgibowski
`Throwable` has a constructor parameter to disable stacktrace capture, you may use that instead of overriding methods.

@jdegoes
Have you encountered frameworks dumping just the trace and ommiting `.getMessage/.printStackTrace` - which should both print ZIO Trace? There's a mapping method `ZTrace.ZTraceElement.toStacktraceElement` that can convert a ZTrace to a Java stacktrace, but it m

[2019-08-01 18:54] simpadjo commented on #1310
I'd like to try to implement it

[2019-08-01 19:46] jdegoes commented on #1218
@kaishh No, just `.printStackTrace`. Maybe we should just disable the stack trace capture.

[2019-08-01 20:03] kaishh opened #1317 "Implement Cause#untraced"
Motivation: sometimes errors are propagated to callers in situations where a stacktrace might reveal sensitive information such as the structure of proprietary application's source code – or it might simply be too noisy, therefore sometimes we may want to filter a Cause before returning it. Also, some users expect that calling `ZIO.untraced` will completely remove debugging information – this is n

[2019-08-01 20:06] mgibowski commented on #1218
Ok, I opened the PR 👆

[2019-08-01 21:16] #1267 closed

[2019-08-01 21:58] #1301 closed

[2019-08-01 22:37] adamgfraser commented on #1314
It would be nice to have a predicate for numerical equality within some tolerance that we could use with types like `Double`.

[2019-08-02 01:36] jdegoes commented on #1314
`approximatelyEquals`, perhaps?

[2019-08-02 02:10] jdegoes commented on #1308
@adamgfraser Btw I will be in Philadelphia on Sunday on my way out of the country for a vacation. If you don't mind a crowd (my family), let's meetup!

[2019-08-02 02:13] adamgfraser commented on #1308
@jdegoes Would love to!

[2019-08-02 02:49] edvmorango commented on #1284
Hey, @jdegoes  I'm working at this issue, after creating the first suit:

[code]

I executed using the `DefaultRunnableSpec`. When I run the tests individually they work perfectly, but when I execute the suit none of them run. I modified the `run` function inside `TestRunner`  from parallel execution strategy to sequential:

[code]

Now the suite execution is working as I expected. Is this the exp

[2019-08-02 04:38] adamgfraser opened #1325 "Clock is not compatible with Scala.js"
`Clock` uses `java.time`, which is not part of the Scala.js Java library. We get around this in the tests by depending on `scalajs-java-time` but this does not implement `OffsetDateTime` or `ZoneId` (see [implementation of Instant](https://github.com/scala-js/scala-js-java-time/blob/master/src/main/scala/java/time/Instant.scala)). I think this didn't come up because you don't see the error until r

[2019-08-02 05:53] regiskuckaertz commented on #1325
I know ZIO is dependency free, but then, JavaScript. Browsers are getting stronger in their support of i18n-related APIs, but still far from java time. Meanwhile, there's https://github.com/zoepepper/scalajs-jsjoda

[2019-08-02 13:07] PawelGizka commented on #1309
@iravid so should I create functions in `Sink` which produce for example: `ZSink[Any, Nothing, A, A, List[List[S]]]` ? Or do you mean something else?

[2019-08-02 14:44] ghostdogpr commented on #1284
@edvmorango I just gave it a try and it seems to run well even with Parallel? Can you post your whole code and how you run it?

@jdegoes @adamgfraser
One thing I noticed was that because of `System.exit(0)` in `RunnableSpec`, the sbt session gets stopped when the test completes.

Another thing, if I change the test to fail, the reporting line is repeated, not sure why?
[code]

[2019-08-02 14:49] adamgfraser commented on #1284
@ghostdogpr @jdegoes Regarding the error reporting, we generally print one line with the entire predicate and the failing subpredicate highlighted, and then a second line with just the failing subpredicate. We should probably add a check for whether the predicate is equal to the subpredicate (i.e. it is a simple predicate with no subpredicates) and in that case only print a single line. I can take

[2019-08-02 14:59] ghostdogpr commented on #803
@jdegoes was the performance gain significant when switching from MutableMap to Hashmap? Is it worth extracting it to a class with different implementations for JVM/JS?

[2019-08-02 15:05] jdegoes commented on #1284
@edvmorango It should work the same in parallel or sequentially. If you can repro it, can you file a ticket? Will fix ASAP.

@ghostdogpr

That's not good! I thought it set a trap to prevent that.

I suppose we can block until the tests execute. That will throw an exception on Scala.js. Maybe we need separate versions for JVM and Scala.js?

[2019-08-02 15:07] jdegoes commented on #1284
@adamgfraser

Good idea. I also want to generalize `FailureDetails` to have a (non-empty) stack of predicate/values. Then each level can push its own one on the stack. Could also solve the problem.

[2019-08-02 15:12] jdegoes commented on #1325
Perhaps we should depend on `scalajs_jsjoda` in tests, and document this thoroughly?

OTOH 2 years since last commit is mildly concerning, although same can be said of many other Scala.js libraries.

The alternative is depending less on `java.time` and relying more on "simple" structures to represent the very few time-related concepts we use.

Agreed it needs to be handled and as part of 1.0 since

[2019-08-02 15:13] jdegoes commented on #1112
Added #1325

[2019-08-02 15:25] jdegoes commented on #803
@ghostdogpr We don't need to use `forEach` on that; we can stick with the Java version but just do it the old fashioned way with the `entrySet`. It's slightly slower but will be less overhead than the Scala version.

/cc @heraklos

[2019-08-02 15:26] kaishh commented on #1325
We use `scala-java-time` in LogStage.js, could be an option (last commit 21 days ago) https://github.com/cquiroz/scala-java-time

[2019-08-02 15:27] jdegoes commented on #1325
@kaishh That looks much better maintained!

[2019-08-02 15:53] galosa commented on #1182
Not yet, we didn't manage to sit on this yet. Since it taking so long feel free to take it.

[2019-08-02 15:57] adamgfraser commented on #1284
@jdegoes That makes sense.

[2019-08-02 16:06] edvmorango commented on #1284
@jdegoes @ghostdogpr I referenced the draft of my attempt. I will create a ticket.

[2019-08-02 16:08] edvmorango opened #1331 "Test suite ignored when using ExecutionStrategy.ParallelN"
The reference for snippet and the discussion can be found at #1284

[2019-08-02 18:21] jdegoes opened #1332 "ZIO Test: Refactor FailureDetails"
### 1. Rename `FailureDetails` => `TestFailure`

Every `FailureDetails` represents the failure of a single test, so `TestFailure` is more descriptive and more consistent with other constructs inside the library.

### 2. Allow stack of predicate values

When a `FailureDetails` represents the failure of a predicate, currently there are two bits of information stored:

[code]

The `fragment` `Predica

[2019-08-02 20:53] mgibowski commented on #1332
I would like to take this.
I took a look at code and for now it seems clear.

[2019-08-02 20:58] jdegoes commented on #1332
@mgibowski Awesome. Thank you! 🙏

[2019-08-02 21:16] #1218 closed

[2019-08-02 22:21] rtimush opened #1334 "Errors in parallel combinators are considered unhandled"
Currently most (probably, all) parallel combinators treat errors as "unhandled", even though from the user perspective they are handled. For example, the following code prints `Left(failure)` as expected, but with the default runtime it also prints a trace for the `"failure".fail`:
[code]
It would be nice if ZIO understood when some other fiber would handle errors and didn't print traces in this c

[2019-08-02 23:31] ghostdogpr commented on #1331
How do you run it? I've tried the code from your PR and they don't get ignored, whether I use Sequential or Parallel. I just do `test:run` in sbt. Using the run button in IntelliJ also works.

[2019-08-02 23:47] simpadjo opened #1337 "More flaky tests"
Got few flaky tests trying to build the project. These tests haven't been reported yet.

revision: 222999eaacb43630bf373d6e0225a3d444bd4ab0
java: openjdk version "11.0.4" 2019-07-16

1)

reproduced two times in a row during initial build

2)

reproduced once

3) this one looks scary

[2019-08-03 01:49] edvmorango commented on #1331
Initially, I followed the contributor's guide, `test:compile` followed by `test`, I didn't receive feedback from the Spec so I tried to execute using the IDE and got success for `tests` and no response for `suites`, after changing the execution strategy of executor to `Sequential` I started to receive the expected response for `suites`  when running using the IDE.  When I executed using `test:run`

[2019-08-03 02:52] ghostdogpr commented on #1331
That’s because we’re missing #1259. Sbt doesn’t know how to run those ZIO Test tests yet, so we have to use `run` instead of `test` for now. No need to change contributor guide since we will be able to use `test` (and that’s the way to run existing tests).

[2019-08-03 02:52] #1331 closed

[2019-08-03 02:58] ghostdogpr commented on #1284
@jdegoes tested again with your latest changes and now the sbt session is not stopped 👍

[2019-08-03 09:12] heraklos commented on #803
@ghostdogpr
@jdegoes
Thank you for clarifying the way it should be!

I just submitted PR, so please give me your review when you are available :)
https://github.com/zio/zio/pull/1338

[2019-08-03 11:12] adamgfraser opened #1339 "Add ZIO#doWhile"
In working with some code where I needed to use effects within an algorithm I found myself wanting the following method:

[code]

Is that something that would be worth adding as a method on the `ZIO` companion object?

One issue is whether we can implement it in terms of `Schedule`. We could do:

[code]

But then we are introducing an unnecessary `Clock` dependency since every decision in the `Sch

[2019-08-03 11:59] adamgfraser commented on #1325
It looks like using `scala-java-time` is working in ZIO Test. Do we want to do the same thing in the core tests and mark this as resolved or still consider more broadly the time structures we are using?

[2019-08-03 12:18] ritschwumm commented on #1325
does Zio actually need more than Instant and Duration? and if so, for what?

[2019-08-03 12:20] jdegoes commented on #1325
I think doing the same thing in core tests makes sense, and then thoroughly documenting the dependency no the shim in the Scala.js interop section on the website.

[2019-08-03 12:23] jdegoes commented on #1325
It uses time zone, for example.

[2019-08-03 12:24] adamgfraser commented on #1325
@jdegoes Okay, I will submit a PR on that.

[2019-08-03 12:24] jdegoes commented on #1325
@adamgfraser Thank you!

[2019-08-03 12:41] ritschwumm commented on #1325
@jdegoes i see that - but is it really necessary to do so, or can you get away without "calendar-based" dates completely?

in my experience, dealing with calendars is a huge and difficult topic, and seldomly got right. if you can stay away from calendars - do so, you're doing yourself and your users a favor.

[2019-08-03 12:46] adamgfraser commented on #1325
@ritschwumm It is a good question. Searching through the current code base `OffsetDateTime` doesn't appear anywhere except in `Clock` implementations. I think the question is whether we want to be able to support scheduling events at a certain point in time in the future (e.g. send this report every Monday morning at 9 AM). I know there is some ongoing work on that and if we want to be able to sup

[2019-08-03 12:55] ritschwumm commented on #1325
@adamgfraser i guess if i'd wanted to implement something like a cron-like scheduler, i'd put that in a a separate module and depend on something that can deal with calendars there, keeping the core clean and simple.

[2019-08-03 13:16] jdegoes commented on #1284
@ghostdogpr Awesome. We may have to support the exit behavior as a command-line option, so you could use ZIO Test from command-line without an SBT runner. But we can do that later.

[2019-08-03 13:17] #1325 closed

[2019-08-03 20:21] iravid opened #1343 "Add sinks for decoding UTF8 bytes and byte chunks"

[2019-08-04 06:37] iravid commented on #1309
@PawelGizka thank you! Added the signatures to the description. Let me know if they don't add up.

[2019-08-04 11:21] shankarshastri commented on #1317
@kaishh, I can take up this, if you can provide me a few pointers on where I can start on.

[2019-08-04 15:04] ghostdogpr commented on #1217
Closing this, both PRs are merged.

[2019-08-04 15:04] #1217 closed

[2019-08-04 15:07] jdegoes opened #1345 "Improve organization of core tests"
Currently, there is no convention to relate a test to the thing it is testing. This trips up new contributors to the code base, and makes maintenance harder for existing contributors.

In order to simplify the situation, we should adopt a simple convention that provides a definitive answer to the question, _"Where should a test for XYZ be placed?"_

I propose that if we are testing a method of a c

[2019-08-04 15:11] jdegoes commented on #1339
To do this, we have to push the sleeps into the `Schedule`. Right now, the driver (`repeat` / `retry`) is responsible for sleeping, but if we push the sleeping into `Schedule` (an early version did this), then `Clock` would only be needed for schedules that actually sleep.

I think this could be a good move and cleanup code as well as answer some unresolved questions about Schedule

I will try to

[2019-08-04 15:14] jdegoes commented on #1334
Agreed, we absolutely need this. Since most combinators just use `Fiber`, we're probably looking at a Fiber-level mechanism to basically say, "I don't care about unhandled errors in this fiber".

Note that we could already do this by adding `.ignore` to the effects before forking with them... not sure how viable that is, though. Worth a look.

[2019-08-04 15:20] jdegoes opened #1346 "Deprecate all succeedLazy"
Too many people are confused about `succeedLazy`. Given a pure FP market, it could survive, but given the target audience of ZIO, I don't think it's a good fit.

We should deprecate all `succeedLazy` methods and prepare to delete them for 1.0.

[2019-08-04 17:44] #1343 closed

[2019-08-04 18:04] mschuwalow commented on #634
Sure. A branch implementing the approach mentioned in my last comment is here https://github.com/mschuwalow/scalaz-zio/commit/4853f711b06cfbfbf42de09a475e9fbc5c2bf434.
If you want I can also do one with the more polymorphic version.

[2019-08-04 19:33] jdegoes opened #1348 "Remove explicit delay in ZSchedule"
ZSchedule has an explicit `Duration` at each step. The original motivation for this was quite simple: it makes testing schedules easier, because there is no need for the schedule itself to sleep; rather, the driver for the schedule can sleep.

However, at this point, with ZIO Environment, testing schedules is already easy, even if the schedules are sleeping. In fact, the `.jittered` combinator, wh

[2019-08-04 19:33] jdegoes commented on #1348
/cc @adamgfraser

[2019-08-04 19:36] jdegoes commented on #1325
@ritschwumm It was not in the original design... worth checking to see if we really need it.

[2019-08-04 23:16] ghostdogpr commented on #891
Closed by #926

[2019-08-04 23:16] #891 closed

[2019-08-05 10:28] kaishh commented on #1346
Big :+1: on this, I've never seen `succeedLazy` NOT being misused in our codebase 😆
I only ever used it once, but I don't think a strict `succeed` would change anything in that place.

[2019-08-05 10:31] kaishh commented on #1317
@shankarshastri
Sure! Take a look existing functions in `Cause`, especially those that use `Cause.fold` – once you get how to use `fold` you'd probably know how to use it to implement `untraced`!
DM me on gitter if you want to talk more!

[2019-08-05 10:41] shankarshastri commented on #1317
Sure @kaishh

[2019-08-05 15:52] rwhaling commented on #639
It sounds like y'all are going to be doing awesome stuff with zio-test, but we do have specs2 support for Scala Native now: https://twitter.com/specs2org/status/1158062621796401152

I did also check in with Denys about the SN linker issue - that is fixed on master now, so we should be good to go next time there is a SN release; if I have time in the next few days I will try to build some artifacts

[2019-08-05 17:14] rteabeault opened #1352 "Add ZStreamChunk#collect"
It would be nice to have a collect function on ZStreamChunk.

[2019-08-05 19:57] denisgarci commented on #1346
What should the message be? Use `succeed`?

[2019-08-05 20:33] kaishh commented on #1317
Closed in https://github.com/zio/zio/pull/1354

[2019-08-05 20:33] #1317 closed

[2019-08-06 09:04] ghostdogpr commented on #803
Closed by #1338

[2019-08-06 09:04] #803 closed

[2019-08-06 09:26] LukaszByczynski opened #1357 "After bump to 1.0.0-RC11-1 missing class `TaskR` in the cats intro"
Hi,

After bump to the latest version (1.0.0-RC11-1) I have found an issue with `zio-interop-cats`.

[code]

Probably, the simple fix will be to upgarde interop-cats project to the same version of the ZIO, and remove usage TaskR from the code.

I can push a fix for that, but I would like to ensure..

[2019-08-06 09:29] ghostdogpr commented on #1357
I released `cats-interop` yesterday as well: https://github.com/zio/interop-cats/releases/tag/v2.0.0.0-RC2

If you use that version, the error will disappear.

[2019-08-06 11:34] fagossa commented on #1345
@jdegoes I've would like to try to solve one

[2019-08-06 14:14] NeQuissimus opened #1359 "Limited memoize"
We have `final def memoize: ZIO[R, Nothing, IO[E, A]]`, which will effectively cache the result of an IO.

I would like to have a limited `memoize` that "times out".
Using the environment's `Clock`, it should be possible to basically build a mini-cache with an attached TTL.

Here is my use-case:
I have a REST API I need to auth with. I know that the JWT expires after 1 hour, so I would like to pre

[2019-08-06 14:26] adamgfraser commented on #1359
I can take this.

[2019-08-06 23:06] ghostdogpr commented on #1357
Closing, let me know if you still have issues with the version I mentioned.

[2019-08-06 23:06] #1357 closed

[2019-08-07 03:56] ttymck commented on #417
I would be glad to work on `Use Cases > Scheduling`. I think transcribing some examples from [this  presentation](https://www.slideshare.net/jdegoes/zio-schedule-conquering-flakiness-recurrence-with-pure-functional-programming-119932802) would be a good start, and I can try to add some of my own use cases.

[2019-08-07 04:01] ttymck commented on #413
Would we like to have the "superpolymorphic" types added to their respective `Data Types` pages? If so I can add notes on `ZSchedule` to `Schedule`.

[2019-08-07 11:36] iravid commented on #634
@mschuwalow I took a look and really liked how everything was formulated in terms of foldMapError, and especially how most uses of `ZStream#fold` remain unchanged.

I agree that this looks like the right approach.

Could you try implementing `catchAll` and `orElse`?

[2019-08-07 11:50] mschuwalow commented on #634
@iravid Sure I'll give it a try once I get home.

[2019-08-07 12:05] iravid commented on #634
I did not manage to wrangle `catchAll` into compiling, maybe you'll have more luck:
[code]

[2019-08-07 18:48] iravid commented on #1310
Closed in #1344

[2019-08-07 18:48] #1310 closed

[2019-08-07 18:49] #1309 closed

[2019-08-08 05:49] rtimush opened #1367 "ZStream.mapMPar(1) may process stream element out of order"
Code to reproduce:
[code]
With relatively high probability it prints something like:
[code]
It doesn't violate any of the guarantees scaladocs give, but may be surprising.

[2019-08-08 06:55] mschuwalow commented on #634
@iravid I added version of both to the branch. Sadly I was not able to write catchAll without using a
queue.
[code]
I also have a question about the semantics of orElse and catchAll.
If the primary stream fails should the second stream 'resume' from the last element / state (how
 my catchall currently works) or should the second stream be consumed from scratch instead as in orElse?

[2019-08-08 10:27] LukaszByczynski commented on #1357
Unfortunatelly I'm FS2 uses version 1.3.0. Can you push updated interop either for cats 1.3.1 ?

[2019-08-08 11:06] ghostdogpr commented on #1357
Cats and cats effect 2.0 maintain binary compatibility with 1.x so it should be ok for you to use it with FS2. You can see cats 2.0-RC1 release notes for details.

[2019-08-08 12:20] LukaszByczynski commented on #1357
After bump I still have problems:

[code]

[2019-08-08 12:35] ghostdogpr commented on #1357
cats-interop 2.0.0.0-RC2 is built with ZIO 1.0.0-RC11-1 and cats-effect 2.0.0-M5. I personally had that combination working well at work and upgraded to cats-effect 2.0.0-RC1 today without issue. Do you have the same ones?

AFAIK, there is no branch of cats-interop based on cats 1.x. I think a final version of cats-effect 2.0 is imminent.

[2019-08-08 15:45] vasilmkd commented on #1367
Did work like this for `flatMapPar`. Can we enumerate all the parallel methods so that I can check them? Do they all end in `Par`?

[2019-08-08 17:55] NeQuissimus opened #1368 "GitHub Actions"
This may be interesting for us:
https://github.com/features/actions

[2019-08-08 18:41] softinio commented on #1368
I was at the launch event and I was impressed with offering. First thing I thought was if we have an interest to do it all again :-)

It goes GA November 13th.

I should have my beta access in next 24 hours apparently so if that enables me to try with ZIO we can have a play with it in parallel to circle to see what its like at some point.

[2019-08-08 18:47] iravid commented on #1368
I'm pretty happy with CircleCI now so unless this offers massive benefits I'd prefer we leave the CI alone for a year ;-)

[2019-08-08 18:47] iravid commented on #1368
Also, SoftwareMill already paid for the CircleCI plan. Not sure if that's a monthly/annual payment.

[2019-08-08 20:23] mschuwalow commented on #1348
I would like to take this

[2019-08-08 20:28] iravid commented on #634
Yes, we need to preserve the state of the fold when failing over to the second stream. Otherwise things like `ZStream#take` go haywire. We'd need to check how the `orElse` implementation interacts with other combinators that rely on the state.

I admit that I am pretty frustrated that we can't implement `catchAll` directly without going through a queue, but I guess that this is how internal iterat

[2019-08-08 22:07] mschuwalow commented on #634
I think that the fact the first stream was partially consumed would only be visible through side effects
by ZStream#mapM or similar. At least I haven't seen anything unintuitive happen in the little testing I have done.

I agree. I believe that us having to go through a queue is a good sign that we haven't found a good encoding for this yet.
I played around with the definition of fold a little mor

[2019-08-09 11:52] iravid commented on #1367
Hi @vasilmkd - the solution is probably very similar. For stream they all end with `Par`, yes.

[2019-08-09 11:53] vasilmkd commented on #1367
Yes, we should have checked last time. Better late than never I guess.

[2019-08-09 12:11] rnd4222 opened #1370 "Provide convenient way to create companion objects for specialized ZIO aliases"
Imagine that I want to use specific environment and error types in my application, so I've created an alias for ZIO:
`type MyIO[A] = ZIO[MyEnv, MyError, A]`
Now, it would be quite useful to also have a companion object for `MyIO` as it's done for `Task`/`IO` types:
[code]
Unfortunately, it isn't possible because `ZIOFunctions` is package private.

[2019-08-09 14:51] azolotko opened #1371 "Better documentation for ZIO.Succeed and ZIO#succeed"
Apparently, `ZIO.Succeed` has a special treatment from ZIO, which needs additional coverage in documentation.

Consider the following code:

[code]

While not being pretty or idiomatic, it is an interesting learning curve step. The intent here was to discard any error that might have appeared during execution of the actions above. In reality though, only `zioAction1` is going to be executed, and `

[2019-08-09 16:04] simpadjo commented on #1182
@jdegoes Let me try to do it.
I have a question though.
The size of the result is not known beforehand so we can't just preallocate an array of the right size. We need a growable structure that supports `add(idx: Int, value: B)` operation. `java.util.ArrayList` is a perfect candidate but it's not js-friendly.
I really wouldn't like to reimplement it.

I'm going to collect results together with tas

[2019-08-09 17:07] dreverri commented on #1371
It doesn't seem like `zioAction1` is executed either:
https://scastie.scala-lang.org/WZM9BmHtSJS5yWt0bsv6Rw

I wonder what the use case is for `succeed` on the trait?

[2019-08-09 17:12] dreverri commented on #1371
Looks like the trait method discards the current ZIO value and just returns a new ZIO:
https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/ZIO.scala#L1045

[2019-08-09 18:45] runtologist opened #1372 "Runtime deadlocks on maxYieldOps less than 3"
When `maxYieldOps` is less than 3, `FiberContext` dead locks. The reason is that when `maxopcount` is reached, `curZio` is set to a `FlatMap(Yield, _)`. Processing this structure already takes two cycles and so never completes. Moreover, resuming from a `Yield` requires processing a `Success(Unit)` before the actual next ZIO. If `maxYieldOps` is less than 2, this triggers the next `Yield`.

Steps

[2019-08-09 20:48] iravid commented on #634
@mschuwalow Right. I played around with this and it looks like a better direction. It may be better to be slightly more polymorphic and keep the distinction between producer and consumer errors, allowing the combinators that need to distinguish to do so via Either as you suggest:
[code]

(I'm not sure Dotty unions would help here, as with unions you lose the distinction between the sides when both

[2019-08-09 22:09] mschuwalow commented on #634
@iravid
I think that property of unions would actually be great because of:
[code]
But you wouldn't be able to pattern match on them because of generics, so it's a stupid idea anyway.

I don't think going back to that signature of fold is a good idea, as it makes working with it quite painful. I also don't quite see the advantage of constraining the consumer error on the stream, unless you have so

[2019-08-10 05:50] iravid commented on #634
@mschuwalow Thanks for being so dilligent on this :-)

- *`Either` in `Fold`*: Keeping `Fold` polymorphic in the error result type is indeed equivalent to using `Either`. However, keeping `Either` out of the signature has one advantage: combinators that don't need to distinguish between producer/consumer errors can avoid paying the cost of Either. Since it is recoverable by using `Left(_), Right(_

[2019-08-10 05:58] azolotko commented on #1371
Yes, you are correct. I incorrectly stripped down a larger example that I had, misunderstanding its meaning. I think the issue is invalid then.

[2019-08-10 05:58] #1371 closed

[2019-08-10 07:22] jdegoes opened #1375 "Make `fromFuture` methods translate exceptions on Future creation"
Currently, `ZIO.fromFuture(_ => throw e).either` will kill the fiber. This should be changed so that `ZIO.fromFuture(_ => throw e).either` is `Left(e)`.

We should have a test in `RTSSpec` to demonstrate the behavior.

Possibly, we should also look at `Fiber.fromFuture` and other `fromFuture` methods to see if any can be improved in a similar way.

[2019-08-10 08:13] vilu commented on #1375
I'll give this one a go.

[2019-08-10 10:06] vilu commented on #1375
https://github.com/zio/zio/pull/1376

If no feedback is given and this PR is considered OK I'll look into Fiber.fromFuture and any other fromFuture I can find in a subsequent PR.

[2019-08-10 10:48] dreverri commented on #1371
Maybe succeed should be removed from the trait?

On Sat, Aug 10, 2019 at 1:58 AM Alex Zolotko <notifications@github.com>
wrote:

[2019-08-10 11:03] shankarshastri commented on #1352
@iravid, I can take this up. If I can get a few pointers on the same, let me know.

[2019-08-10 14:32] mschuwalow commented on #634
Sure. Sorry for taking so long with this.

I agree that this makes the most sense

This would be with an invariant EC, right? I briefly played around with it and would require
a few clarifications before going further with it.
* How would you recommend encoding StreamPure with this?
* As far as I can tell the combinators that actually change the consumer error would end up looking something like t

[2019-08-10 15:01] mschuwalow opened #1378 "Add ZStream#fanOut?"
I believe it makes sense to add a combinator that allows multiple consumers to process a stream at their own rate, with a configuration that determines how much the slowest consumer may lag behind. Proposed signature and implementation

[code]

[2019-08-10 15:10] ioleo commented on #1164
@Vilkina are you still working on this? I'd like to take a stab on this.

[2019-08-10 15:22] ghostdogpr commented on #1359
Closed by #1361

[2019-08-10 15:22] #1359 closed

[2019-08-10 17:21] ioleo commented on #872
@jdegoes with #1154 merged, this can be closed?

[2019-08-10 17:25] iravid commented on #634
Yes, this is with an invariant `EC`. I tried making it contravariant, but the types stop aligning at that point 🤦🏼‍♂️

Interestingly, we can write `catchConsumerError` like so:
[code]

This does allow us to "eliminate" errors from a stream by going to a stream that has `EC1 = Nothing`. I do wonder about the usefulness of this. You're right in saying that we can defer this to sinks.

Let's start wi

[2019-08-10 17:27] iravid commented on #1378
Yes, this would definitely be useful. A related discussion is at #1102.

[2019-08-10 20:28] mschuwalow opened #1380 "ZStream#fromQueue interruption"
Currently ZStream#fromQueue is implemented like this
[code]
It hides the effect that upstream has been interrupted / the queue has been shutdown.
As most of the ZStream code uses Take to precisely pass around when / why a stream has ended I wonder if this is still useful behavior

[2019-08-11 02:47] sideeffffect opened #1381 "Guava (ListenableFuture) interop library"
https://github.com/sideeffffect/interop-guava

this library adds interop for Guava's `ListenableFuture` (used e.g. in gRPC)

please add this repository to ZIO organization

[2019-08-11 05:44] #1372 closed

[2019-08-11 06:15] jdegoes commented on #925
I think this is closed by #1360. @freskog, can you confirm? /cc @adamgfraser

[2019-08-11 06:16] jdegoes commented on #1380
/cc @iravid

[2019-08-11 06:54] dkarlinsky commented on #1259
@jdegoes I'm finished with the PR, as far as the functionality, and review comments.
Let me know if you see anything else I need to improve.
Thanks.

[2019-08-11 08:51] #1352 closed

[2019-08-11 11:25] iravid opened #1383 "ZStream#run should not throw away leftovers"
Rather, it should return them along with the sink's result. So the signature should be:
[code]

[2019-08-11 12:02] iravid commented on #1383
Actually, not yet sure about this.

[2019-08-11 12:02] #1383 closed

[2019-08-11 12:45] sideeffffect commented on #1381
@jdegoes I believe `interop-guava` already uses CircleCI (it's copied from `interop-java`)
I'd be happy to maintain it
do you think you (or anybody else) could arrange the move under the ZIO organization umbrella?

[2019-08-11 13:24] sideeffffect commented on #1381
somebody should add interop-guava to CircleCI -- the config files are ready in the git repo, it just needs to be turned on the CircleCI side

https://circleci.com/gh/zio/interop-guava/tree/master

[2019-08-11 13:26] ghostdogpr commented on #1381
I’ll have a look!

[2019-08-11 13:34] ghostdogpr commented on #1381
Done! Here's the first build of master: https://circleci.com/workflow-run/07cf1401-d177-4b79-a078-c7dc36680b1a
I also enabled builds on PRs, for the existing PR it will probably get trigger next time you push something.

[2019-08-11 13:35] sideeffffect commented on #1381
cool! could you also make me and admin of the repo?

[2019-08-11 13:37] ghostdogpr commented on #1381
Done!

[2019-08-11 13:39] ghostdogpr commented on #1381
Closing this one then.
Once it's ready (and it looks like it's already ready), you could make a PR to add it here: https://github.com/zio/zio/blob/master/docs/ecosystem/ecosystem.md

[2019-08-11 13:39] #1381 closed

[2019-08-11 14:54] vasilmkd commented on #1367
Is it possible that in this particular code example, the queue is actually responsible for the nondeterminism (i.e. it wakes up fibers out of order). Not sure how unbounded queue is implemented, will take a look.

[2019-08-11 15:13] vasilmkd commented on #1367
Actually, I used @rtimush 's code as a test. Because we fixed the ordering in `flatMapPar` now `mapMParUnordered` actually passes the ordering test, and mapMPar does not, which I find extremely funny. :smile:
Opening a PR where we can discuss what to do.

[2019-08-11 15:36] AshishPrasad commented on #1275
@jdegoes, @fanf do we have a future where an end user doesn't have to care about which variant (blocking/non-blocking) of ZIO API to invoke?

[2019-08-11 17:47] freskog commented on #925
@jdegoes, yes that looks awesome!

[2019-08-11 20:44] #925 closed

[2019-08-11 20:52] vasilmkd commented on #1367
This is the main source of non-determinism: https://github.com/zio/zio/blob/master/streams/shared/src/main/scala/zio/stream/ZStream.scala#L1041, namely, `permits.withPermit(...)` which executes the effect produced by the mapping function with a permit.

Technically, if we `runCollect` on the stream and compare the produced `List`, we will get the "expected" ordering of 10 `Boolean` values (or if w

[2019-08-11 21:11] rtimush commented on #1367
@vasilmkd you're right, the resulting stream is always correctly ordered, it's just about the processing order. Nevertheless, I would still say this behavior can be surprising. One more thing that came into my mind is that for the same reason, `mapPar(1)(f).take(n)` can run `f` more than `n` times:

[code]

[2019-08-11 21:33] vasilmkd commented on #1367
I definitely agree that the behavior is surprising at times.

This is a very interesting demonstration. This probably shows a bug in the short circuiting of the combinator.

@iravid Should we pursue an implementation more in line with `ZStream#flatMapPar`?

[2019-08-12 06:51] Vilkina commented on #1164
@ioleo, I'm stuck so you can take this one.

[2019-08-12 11:16] jdegoes opened #1388 "Lower-level, more expressive foundation for ZStream"
Lower-level foundation of Streams, which is stack-safe, does not require `Queue` for most combinators, and is readily understood as a "scoped" Java-style `InputStream`, without the unnecessary open / close operations.

It is trivially possible to implement `fold` in terms of `inputStream`; implementing `inputStream` in terms of `fold` would require a `Queue` (which is expected).

[code]

Some inte

[2019-08-12 11:22] jdegoes commented on #1388
Oh, and obviously `uncons` is extremely simple; and fixed or varying headers can be pulled off and leave a stream remainder, which was previously insanely difficult (`peel`) and not performant.

[2019-08-12 11:27] iravid commented on #1388
I like this! It's just an effectful iterator (e.g. `InputStream` is `next`) that establishes a scope.

I wonder if an equivalent to `hasNext` is needed?

[2019-08-12 11:30] jdegoes commented on #1388
`hasNext` could be useful but in most cases it would involve an effect and caching the read value (e.g. `Socket`); but you can already do that with the current representation, that is, you can read a value, and if you didn't like it, or want to "push" it back, you can put it into a stream and concat it onto the remainder.

[2019-08-12 11:33] iravid commented on #1388
Makes sense. Well, this is all very cool. I bet it is going to be vastly more performant than the current representation.

@mschuwalow Since you're already pulling stream apart for the errors - would you like to tackle this? :-)

[2019-08-12 11:36] jdegoes commented on #1388
Certainly if one of the two subtypes of `ZStream` exposes an input stream that is just `() => A` (`next`), then it may even be possible to use `ZStream` in place of Scala collections (i.e. comparable performance for pure streams).

The performance of the concurrent combinators could go up 10x or more, probably, especially the insanely complex ones.

[2019-08-12 11:54] jdegoes commented on #1388
@iravid It also occurs to me that `ZSink` may be able to have a different representation, something like: `InputStream[E, A] => ZIO[R, E, (A0, B)]`.

This alone could have massive performance ramifications on sink and sink composition. It's also easy to trampoline, too, compared to the current encoding.

[2019-08-12 12:28] vasilmkd commented on #1388
Would love to help out with this. Does this mean that I should drop my work on removing the `Step` from the current implementation of `ZSink`?

[2019-08-12 12:29] mschuwalow commented on #1388
This looks very cool. I would like to work on this, but I think after my current PRs are through I'll be busy for a bit. Still very excited to see how the next generation of ZStream will look like!

[2019-08-12 12:40] iravid commented on #1388
Ok, thanks @mschuwalow, looks like @vasilmkd will pick this up :-)

@vasilmkd - I think we should do this in several phases:
1. Introduce the `process: ZManaged[InputStream]` method and implement `fold` in terms of it
2. Start simplifying the big combinators and rewrite them in terms of `process`
3. Deal with Sink.

[2019-08-12 12:41] iravid commented on #1388
So yes, we should put the stepless sink on hold.

[2019-08-12 12:42] mschuwalow commented on #1388
@jdegoes @iravid

How exactly would the second stream () => A work? Do you mean actually throwing in case of end of stream and error?

[2019-08-12 12:43] iravid commented on #1388
Yeah. A magic exception, and then you don't need to pay the cost of allocating an `Option` on each pull.

[2019-08-12 12:43] iravid commented on #1388
Actually alternatively that could also be a `null`.

[2019-08-12 12:43] mschuwalow commented on #1388
In that case maybe () => A | null may make more sense

[2019-08-12 12:44] iravid commented on #1388
jynx :-)

[2019-08-12 12:46] vasilmkd commented on #1388
Agree that there are several phases to this. That's why I said I'd like to help out. @mschuwalow can lead, I don't know the time sensitivity of this.

[2019-08-12 12:47] mschuwalow commented on #1388
:D
But should such streams be allowed to fail at all? Maybe start of as a PureStream
A => () | null while it executes no effects and switch to a ZStream IO[Option[E], A] once it begins doing effects

[2019-08-12 12:47] vasilmkd commented on #1312
Picking this up again, just FYI.

[2019-08-12 12:51] mschuwalow commented on #1388
Nah, I'm still very much a noob. Just get started on this and I'll maybe pick up a few tickets once I have time :D

[2019-08-12 13:23] mschuwalow commented on #1388
Never mind about our idea with null. This would break for primitives, or at least requires more thought

[2019-08-12 13:28] iravid commented on #1388
Good point. Although I think they'd box anyway when passing through a `scala.Function0`.

[2019-08-12 14:26] jdegoes commented on #1388
Can be `null` but that forces `AnyRef` which requires boxing on `A` (`Function0` is specialized, isn't it?).

Btw should we merge existing improvements or skip ahead to this??? /cc @mschuwalow @vasilmkd @iravid

[2019-08-12 14:29] jdegoes commented on #1388
Users will never see this so it doesn't really matter. Also you have to "fail" to signal the end of the stream, so it's not really optional (though you could limit failure).

[2019-08-12 14:37] iravid commented on #1388
When we worked on the specialization stuff for Chunk last year, I think we saw that although Function0 and Function1 are specialized, the compiler was not picking the specialized versions. At least in functions like `map` on Chunk.

We'll hold them for a few days in which @vasilmkd will get the first phase of this refactor in. I'll add an implementation plan to this issue's description tonight :-)

[2019-08-12 15:47] iravid commented on #1388
## Implementation plan

### First pass (should be done in a single PR)
- [ ] Add the following type alias to `ZStream` (does this need an `R`?):
[code]
- [ ] Add the following abstract method to `ZStream`:
[code]
- [ ] Add a default implementation, `processDefault`, that uses `fold` to implement `process` using a queue. This way we don't have to migrate all combinators at once.
- [ ] Add `process

[2019-08-12 16:40] #1375 closed

[2019-08-12 17:01] vasilmkd commented on #1388
Starting work on the first pass.

[2019-08-12 17:48] mschuwalow commented on #1388
That was more related to using null. I don't think it's relevant if we are throwing anyway.
The standard libary is also using exceptions for control flow so we are good to go :grin:
https://github.com/scala/scala/blob/2.13.x/src/library/scala/util/control/ControlThrowable.scala

[2019-08-12 20:21] iravid commented on #1367
I think it's possible to slightly modify the current implementation to achieve the right ordering:
- the permit should be acquired not in the forked fiber, but in the `foreachManaged` function
- a latch should be added that prevents `foreachManaged` from progressing before the fiber starts

That should do the trick no @vasilmkd ?

[2019-08-12 23:43] sideeffffect opened #1392 "Documentation: Interop vs Ecosystem"
There is an overlap between

https://zio.dev/docs/ecosystem/ecosystem#zio-compatible-libraries

and

https://zio.dev/docs/interop/interop_index

perhaps the ecosystem section should point the reader to the Interop part of the documentation

[2019-08-13 08:13] simpadjo commented on #1182
I've made a draft implementation: https://github.com/simpadjo/zio/blob/foreachpar/core/shared/src/main/scala/zio/internal/ParOps.scala

Unfortunately it doesn't work properly if one task doesn't terminate (e.g. `IO.never`) and another task fails or crashes. It must kill non-terminating tasks but it doesn't. I tried different variations of `onTermination`, `onError` and `interrupt` but failed to ma

[2019-08-13 11:05] vasilmkd commented on #1388
Working on the second pass.

[2019-08-13 14:05] #1346 closed

[2019-08-13 14:17] jdegoes opened #1395 "Package rename for zio.test.runner"
Rename `zio.test.runner` to `zio.test.sbt`, since everything in the package is exclusively focused on `sbt` (?).

[2019-08-13 14:56] ghostdogpr commented on #1259
Closed by #1335

[2019-08-13 14:56] #1259 closed

[2019-08-13 18:11] #1368 closed

[2019-08-14 05:58] shankarshastri commented on #1395
I can pick this up @jdegoes . Let me know.

[2019-08-14 06:18] jdegoes commented on #1395
@shankarshastri That would be great, thank you!

[2019-08-14 08:58] ghostdogpr opened #1399 "Safer effectAsync"
Currently if the callback from `effectAsync` is called twice, it can lead to very unexpected results: a `ClassCastException`, or worse, calling the callback of *another* `effectAsync` (super hard to debug, nonsensical things may happen).

Sometimes, the fault is not even on user code but in libraries, for example http4s (https://github.com/http4s/http4s/blob/master/async-http-client/src/main/scala

[2019-08-14 09:16] ghostdogpr commented on #1399
Actually there is a law in cats-effect called `repeatedCallbackIgnored`, so it might be the expected behavior from http4s.

[2019-08-14 12:09] joroKr21 commented on #1399
Somehow this law is passing in cats-interop though. We've had a similar issue with `Scalaz` task, it's handled by an atomic boolean in `shims`: https://github.com/djspiewak/shims/blob/master/effect/src/main/scala/shims/effect/instances/TaskInstances.scala#L44-L51

[2019-08-14 12:15] ghostdogpr commented on #1399
@joroKr21 I think the law passes because the test is too simple. The effect of the second call depends on what’s in the stack. Interesting to see how shims handles it!

[2019-08-14 12:52] regiskuckaertz commented on #1399
It sounds like what you need is a guarantee the callback is called exactly once, there's an [interesting technique](http://okmij.org/ftp/Haskell/number-parameterized-types.html#ls-resources) to enforce this kind of constraint with no runtime overhead. In particular, [the `VST` monad](http://okmij.org/ftp/Computation/resource-aware-prog/RealTime.hs) tracks the number of times a resource is accessed

[2019-08-14 14:42] #1392 closed

[2019-08-14 16:09] mschuwalow opened #1400 "Add StreamList / CachedStream?"
@jdegoes @iravid
Basically just have the option to construct a data structure from a stream that can be traversed multiple times.

I think this might be quite interesting as a different basis for some combinators on steam.
This implementation seemed to work ok and gets the idea across
[code]

[2019-08-15 02:49] #1395 closed

[2019-08-15 08:49] ghostdogpr commented on #1314
+ `sameElements`

[2019-08-15 11:14] ghostdogpr commented on #1308
Closed by #1356

[2019-08-15 11:14] #1308 closed

[2019-08-15 11:41] vasilmkd commented on #1388
Stream constructors (excluding ones going through `StreamPure`) have been converted. Work being done on migrating the combinators.

[2019-08-15 12:03] dkarlinsky opened #1403 "`test_sbt`: mute regular console output from DefaultTestRunner"
`RunnableSpec`s come wired with their own `TestRunner` which has a `TestReporter`.
This works great for running them via their object's `main` method, but under `sbt` it generates duplicated output like the following:
[code]
SBT test runner should probably run specs with a custom "muted" `TestReporter`, to prevent this.
cc: @ghostdogpr

[2019-08-15 12:03] dkarlinsky commented on #1403
PR to follow soon

[2019-08-16 00:36] ghostdogpr commented on #1403
Fixed by #1405

[2019-08-16 00:36] #1403 closed

[2019-08-16 04:42] iravid opened #1408 "Revive StreamPure after Stream#process migration"

[2019-08-16 07:42] iravid commented on #1388
@jdegoes Now that we've written some combinators and constructors with this encoding, it's clear that the `InputStream` has to keep some internal state. When done naively as we've done so far, it's easy to for interruption on a pull to become unsafe.

For example:
[code]

If the pull is interrupted between `index.set(i + 1)` and `emit`, we lose an element. We could switch them around (`emit <* set

[2019-08-16 12:35] mgibowski commented on #1332
Sorry for taking time. I was expecting to find free time for coding more easily. Finally I am working on this.

@jdegoes  I would like to clarify something.

In case when the stack has more than one failure - we should report all of them rather then only  the first inner one, right?

For example what we want is:
<img width="786" alt="expected" src="https://user-images.githubusercontent.com/617315/

[2019-08-16 13:24] adamgfraser commented on #1332
@mgibowski We want to report all the inner failures when there are multiple nested in failures. For example, if we had a predicate like

[code]

We would expect to get three levels of error reporting like so:

[code]

In your example with the `&&` clause we are fine with reporting just the failure. Otherwise we would need a tree instead of a nonempty list to capture the different failures at each

[2019-08-16 13:41] mgibowski commented on #1332
Thanks @adamgfraser! 🙏

[2019-08-16 13:43] jdegoes commented on #1332
What @adamgfraser said. 😄

[2019-08-16 14:03] jczuchnowski opened #1414 "Expose Executor as ExecutorService"
Needed for ZIO NIO https://github.com/zio/zio-nio/issues/29 .
Add method on Executor analogous to `asEC` but returning an ExecutionCotextExecutorService.

[2019-08-16 14:37] mgibowski commented on #1332
@adamgfraser @jdegoes
I started having doubts if such reporting is really more user-friendly.

For example here we have very exact information about what failed:
<img width="731" alt="Zrzut ekranu 2019-08-16 o 15 12 51" src="https://user-images.githubusercontent.com/617315/63174259-82b3c880-c039-11e9-9e6c-0b03cbc66dc0.png">
_(I still use the inverted `isGreaterThan`, please ignore that)_

If we tr

[2019-08-16 14:52] adamgfraser commented on #1332
@mgibowski I think there may be a distinction between the failure information we want to print to the user in the default test reporter and the failure representation we use internally.

I can see your argument about the intermediate predicates being unnecessary in this case but I wonder if that is just because this is an example with a couple of levels of nesting but not that many. You can think

[2019-08-16 15:07] PawelGizka commented on #1414
I take this

[2019-08-16 17:20] mgibowski commented on #1332
@adamgfraser thanks for your answer!

Replacing the `fragment` and `whole` with a stack for the reason above makes complete sense to me.

However, I am still not convinced that storing intermediary predicates on the stack without presenting them to the user is useful. No use case when that would be helpful comes to my mind. Adding more levels of nesting doesn't change the point imho.

I think the

[2019-08-16 17:36] adamgfraser commented on #1332
@mgibowski Totally makes sense. I'll defer to @jdegoes on his vision for this.

[2019-08-16 17:56] jdegoes commented on #1332
@mgibowski If you see something like `3 did not satisfy isGreaterThan(4)`, then in a _complex_ predicate, with multiple `isGreaterThan(x)`, you will not know _which_ one failed without context—the stack is one way to provide context. Indeed, one could use the stack when rendering to decide which of the `isGreaterThan(x)` actually failed (even though that's not currently done).

Moreover there's a

[2019-08-16 21:34] neko-kai opened #1420 "Create a SIP to add source line info to scala.Function0"
Discussed briefly on gitter: https://gitter.im/ZIO/Core?at=5d4c88275178a7247652b618

Adding a method that returns line info to the lambda bytecode generated by scalac/dotc for Function* lambdas will, if implementable, allow us to avoid going through costly Java serialization to retrieve line numbers for ZIO Tracing and massively speed up the interpeter when tracing is enabled.

/cc @joroKr21 @smar

[2019-08-16 22:11] smarter commented on #1420
Back when lambdas were implemented as anonymous classes in the bytecode that would have been easy, but now that we go through the invokedynamic machinery, things are more complicated. It might be doable by replacing our usage of the [LambdaMetafactory bootstrap methods](https://docs.oracle.com/javase/8/docs/api/java/lang/invoke/LambdaMetafactory.html) by some custom bootstrap methods, but this is

[2019-08-16 22:22] smarter commented on #1420
Really I think the proper place for something like this is in the JDK, so you need a JEP, not a SIP :).

[2019-08-16 22:31] smarter commented on #1420
To expand on that idea: [altMetafactory](https://docs.oracle.com/javase/8/docs/api/java/lang/invoke/LambdaMetafactory.html#altMetafactory-java.lang.invoke.MethodHandles.Lookup-java.lang.String-java.lang.invoke.MethodType-java.lang.Object...-) takes a `flags` parameter which can be used to customize what kind of class gets generated for the lambda, perhaps an additional flag could be defined to all

[2019-08-16 22:58] kaishh commented on #1420
@smarter
A JEP is at least theoretically possible, given that JDK moves a bit faster now!

ZIO users are unlikely to interact with too much legacy Java code, so if the feature in scalac is made optional due to compatibility concerns it can still be quite useful!

[2019-08-16 23:37] smarter commented on #1420
If you're ok with it being opt-in, then a compiler plugin might be a reasonable solution.

[2019-08-17 04:11] #857 closed

[2019-08-17 04:11] #1399 closed

[2019-08-17 04:49] iravid opened #1421 "Flaky ZStream#aggregateWithin test"
[code]

[2019-08-17 05:49] iravid commented on #1421
Couldn't replicate this locally with `nonFlaky` with 10,000 rounds, so chalking this up to the supervision/GC interaction.

[2019-08-17 05:49] #1421 closed

[2019-08-17 05:58] iravid opened #1423 "Simplify ZStream#combine to not use queues"
With the new encoding, the queues are not necessary. The pulling function can work directly on the `InputStream` values from both sides.

[2019-08-17 07:55] #1388 closed

[2019-08-17 10:31] adamgfraser commented on #1423
I'm happy to take this.

[2019-08-17 12:38] vasilmkd commented on #1408
Work already started.

[2019-08-17 12:38] kaishh commented on #1420
@smarter
Do you know the specific libraries that will break from that change or you just have a faint suspicion? Also, would the community build catch the breakage if any?

[2019-08-17 12:58] smarter commented on #1420
Just a suspicion. It's not libraries I would worry about but tools that manipulates bytecode.

No, nowhere does the community build use jacoco, bytebuddy or the even more "enterprise" tools that deal with bytecode.

[2019-08-17 13:00] smarter commented on #1420
Note that if you use `-Ydelambdafy` to get the compiler to always emit lambdas as anonymous classes, and combine that with a compiler plugin to add the information you want, then everything should work fine, you'll just end up with a lot of classfiles, like in pre-2.12 Scala.

[2019-08-17 13:22] iravid commented on #1423
Thanks @adamgfraser!

[2019-08-17 17:18] joroKr21 commented on #1420
I guess using something like https://github.com/lihaoyi/sourcecode is out of the question because it would complicate method signatures?

[2019-08-17 22:09] mschuwalow commented on #1348
Sorry I got hung up on a few issues for streams and am now going to be busy for a few days :cry: .
Feel free to pick this up in the meantime.

[2019-08-18 10:01] jdegoes opened #1433 "ZIO Test: Add composition operators to Assertion"
Currently in ZIO Test (`test` project / directory), it is quite inconvenient to make multiple assertions on different values. A pattern seen in `ZQueueSpec.scala` in `core-tests` is as follows:

[code]

This does not scale in general (although it works for `Predicate.equals`, specifically), and leads to overly verbose error messages in the event of failure.

While we can (and probably should) defi

[2019-08-18 10:04] adamgfraser commented on #1433
I can take this.

[2019-08-18 10:19] jdegoes commented on #1433
@adamgfraser Awesome, thank you!

[2019-08-18 11:24] adamgfraser commented on #1314
`isEmpty` and `nonEmpty`

[2019-08-18 17:52] jdegoes opened #1437 "ZIO Test: Add traversal methods for Assertion"
We need sequence / traverse on `Assertion` (in the `test` project / top-level directory):

[code]

with corresponding unit tests.

[2019-08-18 19:18] adamgfraser commented on #1437
I’m already working on adding methods and tests for Assertion so I can take this as well.

[2019-08-19 02:23] ghostdogpr commented on #1216
Migrating the tests to ZIO Test may have revealed the actual error: https://circleci.com/gh/zio/zio/17876

@jdegoes looks like something wrong with `interruptChildren`. Since it will go away with #1161, it might not be a big deal. I could change the tests to interrupt the fork fibers explicitly in the meantime.

[code]

[2019-08-19 06:54] jdegoes commented on #1408
Here's a sketch of the idea for embedding exceptions:

[code]

Inside `process` implementation, you `try` / `catch` the `() => A`: if it is `StreamEffectStop, you treat it as `InputStream.end`. If it is `StreamEffectFail`, you treat it as `InputStream.fail(e)` (a cast will be necessary; which makes this unsafe to expose to users).

Now the effectful streams can indicate failure or they can stop. M

[2019-08-19 07:01] #1216 closed

[2019-08-19 07:23] jdegoes commented on #1216
@ghostdogpr Wow, that's phenomenal. Know right where to look.

I like your "temp" approach now and I will write up the other issue.

[2019-08-19 07:24] jdegoes opened #1440 "Error in Fiber.interruptAll"
Reported by @ghostdogpr

[code]

[2019-08-19 07:50] jdegoes commented on #1370
The new `ZIO` uses a different approach that does not involve `ZIOFunctions`: now everything delegates manually to ZIO. This is more boilerplate for library authors but greatly improves error messages and type inference (fewer / more specific type parameters).

[2019-08-19 07:50] #1370 closed

[2019-08-19 07:55] jdegoes commented on #1408
Corresponding to the new ZSink being essentially `InputStream[R, E, A] => ZIO[R, E, (A0, B)` (albeit modified because this one will infer horribly), we could also introduce a `ZSinkEffect` (package private) that would be something like `(() => A) => (A0, B)` (_give me an iterator, I'll give you the remainder and a B_). This will allow highly-performant specializations for stream / sink effect vari

[2019-08-19 07:58] jdegoes commented on #1314
@jaliss You still working on this one? (No rush, just wondering.)

[2019-08-19 09:47] iravid commented on #1408
@jdegoes the `A => IO[Option[E], A]]` is a typo, right? Should be `IO[Option[E], A]`?

[2019-08-19 09:58] vasilmkd commented on #1408
Can we make a list of which combinators and constructors fall under `StreamEffect`?

[2019-08-19 10:40] Vilkina commented on #1164
@ioleo, I'm working on it :)

[2019-08-19 12:28] kaishh commented on #1164
@jdegoes

The last two tests show incorrect results, should both be `Chunk(4, 4, 0)` due to using left/right element.

[code]

Misled by monomorphism :D

[code]

[2019-08-19 13:03] sebver opened #1441 "Performance problem and abrupt killed threads in combination with FS2-kafka"
Hi everyone,

We're currently trying out ZIO in a new application that we're building here at DHL and have really been loving it.

However, we're currently experiencing a weird issue using ZIO in combination with FS2-kafka. In our case we're producing records to kafka and have noticed that sometimes the streaming just stops. When this happens, the ZIO async threadpool seems to disappear.

We've th

[2019-08-19 13:50] kaishh commented on #1441
This appears to be very similar to a deadlock I'm observing with ZIO+fs2+kafka: https://gitter.im/functional-streams-for-scala/fs2?at=5d5353d7d835f428ec4598ef

Thank you so much for a reproduction!

[2019-08-19 14:03] jaliss commented on #1314
yes @jdegoes.  I'll spend more time on it this week.

[2019-08-19 14:28] kaishh commented on #1441
Note that what's common between zio-kafka `produce`, `parEvalMap` (and underlying Stream.concurrently) is that their implementations spawn an absolutely massive amount of new fibers:
[code]

[2019-08-19 14:46] ghostdogpr commented on #1441
Could it be an issue that fs2-kafka is not calling `producer.send` in a blocking context even though it can block (when the buffer space is exhausted)?

cc @iravid

[2019-08-19 14:51] jantoebes commented on #1441
Interesting!

Please note that we have an example in the github with an `cats IO` implementation that doesn't have this problem while they still share the same fs2-kafka library.

And this problem also occurs when we run application for a long time with under very low load.

[2019-08-19 14:52] kaishh commented on #1441
@ghostdogpr
Nope, it allocates a pool and there are no blocked threads when it eventually stops (no running threads and all fibers get GC'd)
The last thing on dead fiber's trace is `interruptibleEval` and `raceBoth` (as I posted before in fs2 channel)

[2019-08-19 15:04] pshirshov opened #1442 "Release publishing may be significantly improved by using Sonatype Nexus-specific APIs"
Right now we publish all our projects using native SBT functionality and `sbt-sonatype` plugin. And releases take quite a lot of time. Also release repositories may get fragmented so in some cases it may be not possible to promote a release.

I've found that using Nexus Bundles may significantly speed the process up.

Right now my flow is:

1. I've set `publishTo` to a local directory (`publishTo

[2019-08-19 16:14] kaishh commented on #1441
Tried to replace kafka calls with a simple mock but unfortunately the issue doesn't reproduce for me without kafka...
<details>
 <summary>code</summary>

[code]
</details>

[2019-08-19 17:48] kaishh commented on #1441
Since the deadlocked fiber is at top-level, it's retained by GC, so the trace is available on heap, it's not super helpful, though it shows that the fiber is stuck on `raceWith` after `interruptibleEval`:

<details>
 <summary>Fiber 1 heap</summary>

[code]
</details>

It's likely that the deadlock is related to discovered non-passing laws in https://github.com/zio/interop-cats/pull/28

* bracket r

[2019-08-19 18:37] jantoebes commented on #1441
Hi @kaishh

thanks for all the awesome investigation!

I used a local build of the work that was done in https://github.com/joroKr21/interop-cats/tree/js-interop in combination with the test app. I don't know what the exact state is of the code in the pull request, but when I look at the comments it felt that it was almost done.

Unfortunately, I still see that the threads are suddenly killed.

[2019-08-19 19:23] #1423 closed

[2019-08-19 19:26] RoccoMathijn commented on #1441
Hi @kaishh,

Able to reproduce with a mocked kafka call using ZIO.fromFuture.

`
Stream(zioRecord).repeat
      .parEvalMap[Task, Unit](100){_ => ZIO.fromFuture(implicit ec => Future(()))}
      .chunkN(5000)
      .evalMap(
        _ =>
          Task {
            println(s"${Instant.now()} -> Processed batch of 5.000 items")
        }
      )
      .compile
      .drain
`

[2019-08-19 21:35] ioleo commented on #1164
@Vilkina good to hear :+1:

[2019-08-20 08:24] adamgfraser opened #1443 "ZIO Test: Improve Documentation of MockClock"
`MockClock` provides significantly enhanced functionality for testing code that involves the passage of time, but it requires users to adjust the time using the `adjust` and `setTime` methods instead of just waiting for "wall time" to pass. We need better documentation so users understand how to take advantage of this in writing tests. This recently came up in #1329.

I will take the ticket.

[2019-08-20 09:38] vasilmkd commented on #1408
@jdegoes can you explain why the cast is necessary for `StreamEffectFail(e: E)`?

[2019-08-20 13:22] NeQuissimus commented on #1442
hmm, is this a good idea? Private APIs are usually private for a reason...

[2019-08-20 13:25] pshirshov commented on #1442
I meant "nexus-specific".

[2019-08-20 14:08] NeQuissimus commented on #1442
Aahhhh!

[2019-08-20 19:05] NeQuissimus opened #1445 "Question: Why is syntax for IO"
Question that may turn into an easy ticket :)

Why are the implicit conversions in https://github.com/zio/zio/blob/v1.0.0-RC11/core/shared/src/main/scala/zio/syntax/syntax.scala only for `IO[E, A]` and not `ZIO[R, E, A]`?
Historical reasons (from before the introduction of `ZIO`)?

Can we fix those up?

[2019-08-20 19:09] #1102 closed

[2019-08-20 19:09] #1378 closed

[2019-08-21 00:44] ghostdogpr opened #1449 "Flaky test in ZStreamSpec"
[code]
I've seen that `Unsubcribe` test fail in several builds.
Examples:
https://circleci.com/gh/zio/zio/18107
https://circleci.com/gh/zio/zio/18094

cc @mschuwalow @iravid

[2019-08-21 02:11] #1443 closed

[2019-08-21 07:56] kemitix opened #1450 "Stream.effectAsync is not asynchronous"
The following code:
[code]
Produces the output:
[code]
Expected output:
[code]

[2019-08-21 10:18] iravid commented on #1450
The problem exhibited by the test case is that the evaluation of the registration function is done on the fiber constructing the stream. A possible fix is to fork the evaluation of that function, but it remains to be seen if that is possible to implement in `effectAsyncMaybe` without affecting the synchronous case.

[2019-08-21 19:05] mschuwalow commented on #1449
Hm. I'm having trouble reproducing it locally and I don't see any obvious candidates where this could be coming from. I'll mark this one as flaky and continue investigating, ok?

[2019-08-21 19:09] adamgfraser commented on #1449
Sometimes using `unflaky` in situations like that can be helpful in reproducing failures locally. Sorry if you already did that.

[2019-08-21 23:57] ghostdogpr commented on #1445
Yeah I think they were just never updated after ZIO environment was introduced. There's a PR for the tuple support: https://github.com/zio/zio/pull/1444

[2019-08-22 00:08] ghostdogpr commented on #1233
Closed by #1237

[2019-08-22 00:08] #1233 closed

[2019-08-22 01:15] ghostdogpr commented on #1367
The test is flaky btw, not sure it's related: https://circleci.com/gh/zio/zio/18307

[2019-08-22 01:26] alexandredantas commented on #1348
My two cents on this: pushing run logic to Schedule will unify behavior related to repeat and retry. Is it possible to model a thing like `ZSchedule.repeat` and `ZSchedule.retry`, return a new `ZSchedule` and simply call `ZSchedule.run`? This model can enable composing different schedule logics i think

[2019-08-22 05:51] #634 closed

[2019-08-22 05:51] #817 closed

[2019-08-22 06:00] ghostdogpr commented on #1112
With #634 done, we're getting close! 💪

[2019-08-22 08:37] jdegoes commented on #1112
I think we should plan to do 1.0 release on the ZIO Hackathon in Warsaw. It will require some work but we are quite close and the hackathon can provide some added human-power to close out any remaining issues...

[2019-08-22 09:07] saeltz commented on #413
Hello,

I saw this ticket being open for a long time and a good first issue. I wanted to start out contributing with something easy, so I added some Scaladoc for Ref.

Please take a look if this looks fine:
https://github.com/zio/zio/compare/master...saeltz:master

If so, I may create the PR or continue with more Scaladoc to get to know ZIO better before jumping into any actual coding.

[2019-08-22 09:40] jdegoes commented on #413
@saeltz Looks good! Thanks for the effort. Please do create the PR / continue with more.

[2019-08-22 10:00] jdegoes commented on #913
@dsebban

OK, so here's what we need to do:

 - Make `unsafe` functions return `Option` of their result types.
 - If a ref is created through `ZRef.make`, then return the unsafe functions wrapped in `Some`
 - In all other cases, do not use the unsafe functions, rather, delegate to type safe ways of accomplishing the same functionality.

This means that all methods will have "safe" implementations.

[2019-08-22 10:23] jdegoes commented on #1348
@alexandredantas Ideally `repeat` and `retry` would have symmetrical behaviors: one invoking the schedule on success, the other on failure. Indeed, it would be a big win to have something like `retry = flipWith(_.repeat)` (pseudo-code).

[2019-08-22 10:42] jdegoes commented on #1408
@vasilmkd If we do this right, then we can just use the default implementations in all the tricky cases (they will be required for dynamic, async, and concurrent cases—it's only "simple" operators that have an effect version).

[2019-08-22 10:57] jdegoes commented on #1388
@iravid I am still thinking about this. Essentially we have all the problems of "safe handoff".

Interrupting things can result in losses "at the edges" (queues, elements, transactions, etc.).

[2019-08-22 10:57] jdegoes commented on #1388
@iravid I am still thinking about this. Essentially we have all the problems of "safe handoff".

Interrupting things can result in losses "at the edges" (queues, elements, transactions, etc.).

[2019-08-22 11:14] iravid commented on #1388
Yes, that's a good summary of the issue. I mostly came to terms with it; not sure it's worth solving for now.

[2019-08-22 13:52] #433 closed

[2019-08-22 13:58] ghostdogpr commented on #1177
Closed by #1191

[2019-08-22 13:58] #1177 closed

[2019-08-22 14:01] ghostdogpr commented on #1004
Closing this one as there seems to be consensus for keeping the current package name.

[2019-08-22 14:01] #1004 closed

[2019-08-22 14:19] politrons opened #1456 "ZIO Queue in Http Services"
Hi all,

I´m doing a POC to add backpressure in my http server.  But I cannot find the way of how to use the Queue in a ZIO program that run forever.

For every new request in my service I want to add it into the Queue, and then the running program will get the new message and it will process in case the queue is not full.

I try to find some documentation explaining how to do it, but I cannot fin

[2019-08-22 14:26] mschuwalow commented on #1388
At least in my opinion we have pretty much build an effectful iterator, which might not be the optimal base for some algorithms.

I have played around in a branch with having a "cached" stream (basically same semantics as scala stream / lazylist)
https://github.com/mschuwalow/scalaz-zio/blob/streamlist-experiments-2/streams/shared/src/main/scala/zio/stream/StreamList.scala
which can easily be cons

[2019-08-22 15:32] saeltz commented on #413
@jdegoes I finished Ref, RefM, Queue, Fiber.

I guess that ExitResult was renamed to Exit and Async to EffectAsync.

Does it make sense to add ScalaDoc to deprecated FiberLocal?

[2019-08-22 15:55] adamgfraser commented on #413
@saeltz I think we are deleting everything deprecated prior to the release of 1.0 in September so I would skip `FiberLocal`.

[2019-08-22 18:43] adamgfraser opened #1457 "Improve Documentation for ZIO#Lock"
There was a question on Gitter about how `lock` works and in particular how it composes (e.g. what happens if you lock an effect to a given executor and that effect itself locks part of its execution to a different executor?). I know there are a lot of other resources out there about `lock` and thread management in ZIO but I think we could have a bit more in the Scaladoc to address this directly s

[2019-08-22 19:20] iravid opened #1458 "Port ZStream.fromChunk to StreamEffect"
Short follow-up for #1432.

[2019-08-22 19:21] iravid opened #1459 "Add an implementation of StreamEffect#transduce that fuses pure sinks"
Follow-up to #1432.

[2019-08-22 19:22] iravid opened #1460 "Port ZStream.fromInputStream (the one in platform.scala) to StreamEffect"
Follow-up to #1432.

[2019-08-22 19:23] iravid opened #1461 "Find another name for ZStream.InputStream"
Too easy to conflate with `java.io.InputStream`.

cc @jdegoes @vasilmkd @mschuwalow and all other naming experts :-)

[2019-08-22 19:23] iravid commented on #1461
My suggestion: `Pull`

[2019-08-22 19:26] iravid opened #1462 "Implement ZSink#andThen"
Signature:
[code]

Motivation: things like `Stream.fromInputStream(java.io.InputStream).transduce(ZSink.utf8DecodeChunk andThen ZSink.splitLines)` - voila, super-efficient fused UTF8 decoding and line splitting.

[2019-08-22 19:46] iravid opened #1463 "Add additional fold variants to ZStream"
Add additional `fold` variants to `ZStream`:
[code]

[2019-08-22 19:53] iravid opened #1464 "Consider supporting interruption in some StreamEffect combinators"
Follow-up to #1432.

Currently, something like this would block indefinitely and remain uninterruptible:
[code]

This hints that operators that pull on their own accord (like `filter`, `collect`, `transduce` etc.) should check a flag for interruption every now and then.

cc @vasilmkd @jdegoes

[2019-08-22 19:56] iravid commented on #1388
So that's in fact a reified `unfoldM`, right @mschuwalow? Is that really different than a `ZStream` that caches elements it pulls as it goes?

[2019-08-22 20:20] mschuwalow commented on #1388
no that's exactly what it is.
my point was just that it is probably useful to have and i don't think we have anything like that currently.

[2019-08-22 23:52] ghostdogpr commented on #1456
A few things I can see from your code:
- you want to return the queue after creating it, so that you can use it to `offer`
- the repeat forever should only be on `take`, not on the queue creation. You should use `fork` to run it in another fiber otherwise it will block the current one

[code]
then you can simply `unsafeRun(queue.offer(number))` for each new request

[2019-08-23 08:03] vasilmkd commented on #1461
I think it must go because we plan on making `java.io.InputStream` one of the main highlights for `StreamEffect`.

[2019-08-23 08:41] jdegoes commented on #1464
I think such operations should be run on the blocking thread pool, which means that checking `Thread.isInterrupted` should be sufficient.

For good practice, we should check this in our own combinators (e.g. `StreamEffect.unfold`), and in any case where we make a blocking / potentially blocking `StreamEffect`, we should put it on the blocking thread pool.

[2019-08-23 09:12] jdegoes commented on #1461
`Pull` is good.

[2019-08-23 09:35] politrons commented on #1456
Hi @ghostdogpr

Thanks for your fast answer as usual.
I follow the implementation that you provide and I refactor my POC, but now unfortunately the queue get stuck and it block my program, even adding the forever.fork it seems it does not work

Here the code after refactor

[code]

[2019-08-23 09:42] ghostdogpr commented on #1456
What’s the type of `void`? Looks like an IO but you do `ZIO.succeed(void)` so it won’t do anything.

[2019-08-23 09:47] politrons commented on #1456
Yep that just nothing, since we return the request in renderResponse does not really matter. But since we´re doing composition with flatMap we need to return a ZIO of something.

This part can be change it in the future.

The problem is that it seems the queue program is not able to run async with the rest of the program

[2019-08-23 09:51] iravid commented on #1464
Thread interruption would be the cheapest way to do this, yeah. There's an issue though that, for example, `filter` on `StreamEffect` would require `R = Blocking`; but `filter` on `Stream` does not.

[2019-08-23 09:52] politrons commented on #1456
Ok it's working now

I forgot to evaluate the internal program that I had in my `for comprehension`
[code]

Thanks a lot!!!

[2019-08-23 09:59] dkarlinsky commented on #1440
I wouldn't mind giving a this a shot.
I have almost no knowledge of core ZIO - but this could be a great opportunity to dive in :)
Is there code / test case that reproduces this?
(`FiberSpec` doesn't seem to test `interruptAll`)
Mostly as an exercise, I wrote a test for a simple case of `interruptAll`:
[code]
As expected it passes (assuming I got the test right).

[2019-08-23 10:00] ghostdogpr commented on #1456
You can remove that inner unsafeRun as well as `ZIO.succeed(())`, just return `program`.

[2019-08-23 10:02] politrons commented on #1456
yes it just what I did!! XD!

[2019-08-23 10:02] #1456 closed

[2019-08-23 10:21] ghostdogpr commented on #1440
@dkarlinsky it happened very rarely during one test in ZQueueTest. Here's a build showing the stack trace: https://circleci.com/gh/zio/zio/17876

The test has since been modified to avoid using `interruptChildren` (which uses `interruptAll`), but you can see the old version of the test here: https://github.com/zio/zio/pull/1439/files#diff-588bd7296f8ff886fd4986d54e3de18cL48 (on the left).

I've ne

[2019-08-23 10:27] ghostdogpr commented on #1440
You can have a look at `FiberContext`, where the magic happens (the low-level IO execution loop), in particular `getFibers` which returns the list of fibers that is then interrupted.

[2019-08-23 11:09] iravid opened #1466 "Port ZStream.unfold to StreamEffect"
Follow up to #1432.

[2019-08-23 12:43] mschuwalow opened #1467 "Taking fiber is not always interrupted during Queue#shutdown"
this will deadlock
[code]
I'll try investigating the issue, but I'm not yet familar with  the queue internals

[2019-08-23 12:43] mschuwalow commented on #1449
The underlying cause is actually #1467

[2019-08-23 12:44] jdegoes commented on #1440
I think this one is caused by `WeakMap` — in particular, by a `FiberContext` being present in the map but with a null value, due to a non-deterministic race condition.

This is just a hunch, but to solve such an issue, after you pull it out of the map, you'd make sure it was non-null, before adding it to the list of returned fibers.

[2019-08-23 14:05] ghostdogpr commented on #1467
@mschuwalow I found the problem, will submit a PR

[2019-08-23 17:13] dkarlinsky commented on #1440
@jdegoes your hunch seems to be on point.
The NPE is triggered in `fs.foldLeft()` [here](https://github.com/zio/zio/blob/062024e3e9abdf92e36fa138a1eafee9eba5433f/core/shared/src/main/scala/zio/Fiber.scala#L296) which is caused by `fs` containing a `null`.
I traced the null to [this line](https://github.com/zio/zio/blob/a737e76918b59bacb5c5cc072daa989e938e060b/core/shared/src/main/scala/zio/interna

[2019-08-23 17:47] iravid opened #1470 "A new encoding for ZSink"
Opening this issue for posterity because I don't think it's the right way forward...

I experimented with the following encoding for `ZSink` today:
[code]

First, you may ask yourself why can't we just use a `case class` with `run: InputStream => ZIO`? The problem is the variance. For the sink to be contravariant in `R` and covariant in `E`, we have to use a subtype and supertype in `run`. So the

[2019-08-23 19:45] vasilmkd commented on #1463
Let's first decide on the naming scheme.

[2019-08-23 19:46] vasilmkd commented on #1461
Working on this. Can I use this opportunity to also change `ZStream` to be a class?

[2019-08-23 19:53] #1408 closed

[2019-08-23 19:53] #1466 closed

[2019-08-23 19:55] iravid commented on #1461
Yes, good idea!
On 23 Aug 2019, 22:46 +0300, Vasil Vasilev <notifications@github.com>, wrote:

[2019-08-23 20:48] jdegoes commented on #1470
@iravid

I think the problem with `E` is just telling us that sinks should _not_ be able to handle errors from streams; it violates inversion of control, anyway.

It can be solved by encoding a sink as `Pull[R, Nothing, A] => ZIO[R, E, (Chunk[A0], B)]`. This means that any code which "runs" a stream with a sink, e.g. `ZStream#run`, will have to catch and handle its own errors; bypassing the sink w

[2019-08-24 01:19] adamgfraser opened #1472 "ZIO Test: Support Generators for Functions"
I would like to add generators for functions to our property based testing framework so we could have generators of type `Gen[R, A => B]`. I think that, while there are definitely more combinators we could add, this is the last major feature to bring ourselves to parity with existing libraries like ScalaCheck in this area. Right now I'm struggling to do this.

The general approach used by ScalaChe

[2019-08-24 05:37] iravid commented on #1470
Yes, leaving off error handling is a fair compromise; I don't think it's important for Sink.

However, I'm not convinced. Here's why:
* `aggregate` and `aggregateWithin` of combinators that want to step the sink manually. Moreover, they want to be able to run a partial extract. That will not be possible with the new encoding, because `Pull => ZIO` is an "all or nothing" thing. In fact, I'm not sur

[2019-08-24 07:19] jdegoes commented on #1470
I think I'm mostly convinced now.

Albeit for (2), the main point is that stream "baked in" the safety, so you can have resource combinators on stream directly; but perhaps we can find a way to do that too.

Awesome. 👍

I think the only remaining argument is that "pull some elements from a stream and return a value" is easier to teach than state machines, but few people will write them manually, s

[2019-08-24 07:22] HurmuzacheCiprian commented on #1219
sorry, is this still outstanding? also I can see that there are no tests for the ZSchedule class?

[2019-08-24 07:37] jdegoes commented on #1472
We can convert any total side-effecting method `f : A => B` into a pure function by doing the following:

1. Create a mutable map (a concurrent hash map, probably; at least on JVM, Scala.js has no such thing);
2. Create a memoizing wrapper around `f` that will invoke `f` at most once for a given `A`, storing the result inside the mutable map.

As long as edge conditions are properly handled (i.e.

[2019-08-24 07:38] ghostdogpr commented on #1219
@HurmuzacheCiprian yep. Tests are in RetrySpec and RepeatSpec but we’d like to move them to a ZScheduleSpec as per https://github.com/zio/zio/issues/1345

[2019-08-24 10:32] #1457 closed

[2019-08-24 10:48] jdegoes opened #1474 "Allow tests to access real (non-mock) environment"
Currently tests and test aspects (like `timeout`) will always access the environment provided to them, which will be a default mock environment in `DefaultRunnableSpec`.

This is a serious obstacle, as test combinators need to use real timeouts, real system clocks, real consoles, etc. To solve the problem, inside `zio.test.mock` package, we can introduce a new module and service:

[code]

Now all

[2019-08-24 11:49] jdegoes commented on #1464
Alternately, we could add, `Fiber.unsafeIsInterrrupted`, implemented via `ThreadLocal` that is set / unset during `FiberContext#evaluateNow`, analogous to `Thread.isInterrupted`.

[2019-08-24 11:51] iravid commented on #1470
@jdegoes 👍🏻

Ok, so closing this issue for now. If anyone has further comments or insights feel free to reopen.

[2019-08-24 11:51] #1470 closed

[2019-08-24 11:56] iravid commented on #1464
Yay, I like that one @jdegoes!

[2019-08-24 12:05] adamgfraser commented on #1474
@jdegoes Sounds like a great idea. I will take this.

[2019-08-24 12:57] jdegoes commented on #1440
Fixed by #1473

[2019-08-24 12:57] #1440 closed

[2019-08-24 13:21] jdegoes opened #1475 "ZIO Test: Minor renames to prepare for initial release"
- `zio.test.Predicate` => `zio.test.Assertion`. _Predicate_ is a technical term, that many developers may not be familiar with, but _assertion_ is more common, and we are already using _assert_. One _asserts_ an _assertion_, so it fits with existing jargon better. Example: `assert(42, Assertion.isEqualTo(42))`.
 - `zio.test.Assertion` => `zio.test.AssertResult`. `Result` is already very common (to

[2019-08-24 13:23] adamgfraser commented on #1475
Can I take this? I'm already all over this part of the code base with my work on #1438 so will be easy to fold in and avoid merge conflicts.

[2019-08-24 13:41] jdegoes commented on #1475
@adamgfraser Done! Thank you. 🙏

[2019-08-24 14:03] #1449 closed

[2019-08-24 14:03] #1467 closed

[2019-08-24 14:09] ghostdogpr commented on #1208
Closing this as ZIO Test now exists and we have separate tickets for the things to be done.

[2019-08-24 14:09] #1208 closed

[2019-08-24 14:11] HurmuzacheCiprian commented on #1219
oh ok, cheers. @CloudZou are you still working on this? sorry to jump in like this but maybe I can help if it's ok?

[2019-08-24 14:25] ghostdogpr commented on #1474
Btw shouldn’t tests have a timeout by default?

[2019-08-24 16:22] adamgfraser commented on #1474
@ghostdogpr I think so. I will take care of that as part of this.

[2019-08-24 17:35] #1458 closed

[2019-08-24 20:16] iravid opened #1479 "Add java.nio.Buffer-backed Chunk subtypes"
To support reading buffers without copying them into arrays.

Minimally, support ByteBuffer.
Ideally, support all java.nio.Buffer subtypes. (maybe using specialization?)

[2019-08-24 20:18] jdegoes commented on #1474
@ghostdogpr @adamgfraser

I do not think "timeout by default" makes sense. A user will have a long-running test and be surprised when it is killed, and spend a long time to find the source of the problem (the test framework did something "magical" to be helpful but it just ended up being surprising).

Worse, compositional timeouts always "narrow". They cannot "widen". This means if you have a defa

[2019-08-24 20:24] adamgfraser commented on #1474
@jdegoes That makes sense. I think the lack of compositionality is a very good point. A lot of times it is the lack of any output that is the real issue so If we can display a useful message that something is going on but a test is taking a long time that is great. It would be really nice if we could display as part of that which test or tests are taking a long time.

[2019-08-24 20:27] jdegoes commented on #1474
@adamgfraser Yes, the paths to the test are known by the `TestRunner`, basically a non empty `List[L]`, so we could display something more detailed, like:

[2019-08-24 20:32] adamgfraser commented on #1474
Okay, let’s get a couple of these other outstanding PRs in and then I can work on adding that.

[2019-08-24 23:07] ghostdogpr commented on #1474
The reason I suggested this is that when I was fixing a flaky test, the whole test suite got stuck with no output and I had to kill sbt to get out of it after a few minutes, without even knowing which test caused this. Not the best experience.

Adding some output would at least be helpful to identify the faulty test, even though it wouldn’t run other tests. But then what about CI? If a flaky test

[2019-08-25 09:18] vasilmkd commented on #1459
Starting work on this.

[2019-08-25 11:02] kemitix commented on #1450
Thanks. Adding `.fork.unit` to the registration function gives me the behavior I wanted.

[2019-08-25 11:02] #1450 closed

[2019-08-25 15:11] jdegoes commented on #1479
👍 👍 👍

[2019-08-25 17:34] #1461 closed

[2019-08-25 20:08] #1445 closed

[2019-08-25 23:58] ghostdogpr opened #1486 "Streams tests getting stuck"
Example builds:
https://circleci.com/gh/zio/zio/19133
https://circleci.com/gh/zio/zio/19128
https://circleci.com/gh/zio/zio/19205

It seems to happen after #1477 or #1478 ?

Not sure what's happening since there's no detail, just a timeout. I wasn't able to reproduce locally.

cc @vasilmkd

[2019-08-26 00:20] ghostdogpr commented on #1486
May be unrelated but after several local runs, I got this:
[code]

[2019-08-26 06:04] vasilmkd commented on #1486
cc @iravid

I'll try to take a look as soon as possible.

[2019-08-26 06:09] iravid commented on #1486
It reproduced locally. I ran a thread dump on the process and saw that all the arbitraries were hanging; two threads were waiting on `Stream$.<init>, Stream$.<clinit>` and `ZStream$.<init>, ZStream$.<clinit>`.

I changed all `val` definitions on the companion objects of `ZStream` and `Stream` to `def`, and now the timeouts are gone.

Pretty weird! @neko-kai @jdegoes do you have any insight on that

[2019-08-26 06:10] iravid commented on #1486
(I did not manage to reproduce the NPE, though, even with `nonFlaky`)

[2019-08-26 06:12] vasilmkd commented on #1486
For context, #1478 changed `ZStream` from a `trait` with `def process: ZManaged[...]` to `class ZStream(val process: ZManaged[...])`.

[2019-08-26 06:16] iravid commented on #1486
Oh! It's a circular dependency. in `object ZStream`:
[code]

This definition is waiting on the static initializer of `Stream`, while the static initializer of `Stream` is waiting on the static initializer of `ZStream`. 😂

Will submit a fix.

[2019-08-26 06:16] vasilmkd commented on #1486
Yes, sorry about this.

[2019-08-26 06:17] iravid commented on #1486
No worries! Pretty subtle.

[2019-08-26 06:43] #1486 closed

[2019-08-26 07:31] #1367 closed

[2019-08-26 07:43] ghostdogpr opened #1489 "Improve default handling of timeouts in ZIO Test"
Currently a flaky ZIO Test that doesn't have a timeout will cause the tests to hang forever with no output. The only option is to kill the tests and it won't tell you which test was hanging.

We could:
- add some message that tells you which test is causing the problem e.g. `In Suite "Integers", test "addition" has taken more than X minutes to execute. If this is not expected, consider using TestA

[2019-08-26 09:53] jdegoes commented on #1489
I think (1) would be awesome, and (2) would be OK at the level of test runners, i.e. some sort of global default (overridable) timeout. Both in combination may be maximally useful.

[2019-08-26 10:46] adamgfraser commented on #1489
I will work on this.

[2019-08-26 11:17] iravid opened #1491 "Add more shorthands for running streams"
[code]

[2019-08-26 11:54] vasilmkd commented on #1491
Does this originate from gitter?

[2019-08-26 11:57] NeQuissimus commented on #1491
Is `head` what is usually referred to as `peek`? Or is it different?
How would you get a `last` from a stream? I don't see how you can know what the last element is...

[2019-08-26 12:12] nicolasdasriaux opened #1492 "Add combinator to tick elements of a ZStream at regular interval"
The goal would be to emit the elements of a stream at regular intervals such as in this example.

[code]

`numbers` could be anything more complex than just emitting numbers for 1 to 10.

It could be having a `ZStream#ticking` combinator

[code]

And doing

[code]

Or having simpler, more orthogonal methods, such as:

[code]

And doing

[code]

Also, having `<&>`, `<&`, `&>` combinators (backed by

[2019-08-26 12:22] iravid opened #1493 "ClassCastException with Sink.pull1"
As reported on Gitter by @mlangc:
[code]

Results in:
[code]

[2019-08-26 12:48] NeQuissimus opened #1494 "Retry requires clock"
Right now, `retry` and friends all need a `Clock` because of https://github.com/zio/zio/blob/8322b5c08640bec4c09855a5f60871185e093f03/core/shared/src/main/scala/zio/ZIO.scala#L1016

If I want to just do `zio.retry(Schedule.recurs(10000))`, I should not need a clock; my `zio` should just retry immediately for up to 10000 times. No clock needed.

[2019-08-26 12:50] ghostdogpr commented on #1494
This is a duplicate of this no? https://github.com/zio/zio/issues/1348

[2019-08-26 12:51] NeQuissimus commented on #1494
Oh yes, you're right!

[2019-08-26 12:51] #1494 closed

[2019-08-26 13:21] vasilmkd commented on #1492
@nicolasdasriaux Do you need the first element to be delayed as well?

If not, there is currently a shorter implementation than your solution:
`numbers.throttleShape(1, 1.second)(_ => 1)`.

[2019-08-26 13:28] #1474 closed

[2019-08-26 13:30] nicolasdasriaux commented on #1492
Yes, initial delay behavior is desirable.
I'll update initial comment to account for this.

[2019-08-26 13:45] #1459 closed

[2019-08-26 13:49] iravid commented on #1492
@nicolasdasriaux The `<&>` variants make perfect sense as they correspond to the `zipWith` combinator. Could you open a seperate issue for those?

The difference, I think, between the `ticking` combinator you describe here and `throttleShape` is that `ticking` intersperses the elements of  the stream with constant delays, regardless of how fast elements arrive. In other words, `throttleShape` regu

[2019-08-26 14:13] nicolasdasriaux commented on #1492
Yes, and it's been upgraded a bit by taking an `initialDelay` and an `interval`. I feel a preference .

[2019-08-26 14:54] nicolasdasriaux opened #1496 "Add `zipLeft`, `zipRight` methods (as addition to `zip` method) to `ZStream` and equivalent operators"
On `ZStream`:

* Add `crossWith(f: (A, B) => C)`, equivalent to `ls.flatMap(l => rs.map(f)`
* Add `cross` / `<*>`, equivalent to `crossWith((_, _))`
* Add `<*`, equivalent to `(l <*> r).map(_._1)`
* Add `*>`, equivalent to `(l <*> r).map(_._2)`
* Add  `<&>`, an alias for `zip`
* Add `zipLeft` and `<&`, equivalent to `(l <&> r).map(_._1)`
* Add `zipRight` and `&>`, equivalent to `(l <&> r).map(_._2

[2019-08-26 15:14] nicolasdasriaux commented on #1492
Added #1496. Using `<*>`, `<*` and `*>` rather than `<&>`, `<&` and `&>`.

[2019-08-26 15:41] vasilmkd commented on #538
Continuing work on stepless sink.

[2019-08-26 16:49] #1493 closed

[2019-08-26 18:04] iravid commented on #1492
Let's use this ticket to discuss the variants of scheduling we would like to offer on streams (cc @vasilmkd @regiskuckaertz @jdegoes):
* `ZStream#schedule` - Intersperses the individual elements with with delays and repetitions. Produces a stream that looks like this:
`A1 |--delay determined by A1--| A2 |--delay determined by A2--| ...`
Optionally, every element may also be repeated. This combinat

[2019-08-26 18:06] iravid commented on #1492
@nicolasdasriaux For the initial delay, it's probably easiest to prepend a stream; e.g. `ZStream.fromEffect(clock.sleep(500.millis)) ++ yourStream`.

[2019-08-26 20:50] abomm opened #1499 "ZIO.foreachParN_ is causing JVM StackOverflow"
I am getting a java.lang.StackOverflowError when using ZIO.foreachParN_ or ZIO.foreachPar_.

Please run this test code, on ZIO 1.0.0-RC11-1
If you run the main with args of Array("10000", "1","1") which means build a map of 10K keys and random elements, it generates the error.

https://gist.github.com/abomm/6e3420e93958119fe312e8e5b7dbdee9

Error:
[code]

The offending ZIO code looks something lik

[2019-08-27 06:50] #1475 closed

[2019-08-27 09:41] co-category opened #1502 "Loss of Type Inference"
This toy example highlights a type inference issue.

[code]

Compiling this code leads to the following compiler error:

[code]
After talking to @ghostdogpr on the ZIO gitter channel, it was suggested to add type information to the retry method which I did as follows:

[code]

This now compiles. This type inference issue only began to exhibit itself when I introduced a type parameter on the Succes

[2019-08-27 10:38] cannedprimates opened #1503 "Task(f(x)) != Task(x).map(f)"
val task1 = zio.Task(List()) map (_.head)
val task2 = zio.Task(List().head)
val rt      = new zio.DefaultRuntime{}
rt.unsafeRun(task1.either)
rt.unsafeRun(task2.either)

Moving the function application inside the try/catch when interpreting map/flatMap would make for more consistent semantics? Would be nice to be able to tell from the type whether or not a piece of code can throw...

[2019-08-27 11:32] cannedprimates commented on #1503
I agree that it's currently expected behaviour, I'm mostly looking to read some opinions on whether it's the correct behaviour :)

In my mind the main arguments against the current behaviour are (in no particular order):
 - less information conveyed in the type (fewer guarantees)
 - subjectively less intuitive (the function handed to map is not pure, but I'm calling it inside a monad that should h

[2019-08-27 12:49] cannedprimates commented on #1503
Thanks for the input! I will nitpick that the typesystem can guarantee that code won't throw, by catching all errors and converting them to values, c.f. Try.

I'm also going to disagree, at least for the sake of the argument, that catching exceptions in task somehow makes the structure less algebraic. There's a space of Task values, including failed and successful Task values. Operations on Tasks

[2019-08-27 13:36] cannedprimates commented on #1503
The first example I totally forgot about :(
I wonder if one could write a wartremover or similar check to catch that. Try.succeed shouldn't exist of course (exactly because of that example) :)

Yes, but the operation on Task is map, not f. Your way of looking at it (f's type says no effects therefore throwing is a defect) is completely reasonable of course.
I just think my way of looking at it (a

[2019-08-27 16:54] jdegoes commented on #1503
"Auto-catching" in map/flatMap, as it is called, not only violates applicative laws, but is not compatible with a polymorphic error type. The reason is that ZIO has no way to know that `E` _may_ be `Throwable` (indeed, trying to discern that would violate _parametric reasoning_), so it has no way to allow `catchAll` (for example) to catch an `E` that happens to be `Throwable`.

ZIO's behavior is t

[2019-08-27 16:54] #1503 closed

[2019-08-27 16:56] jdegoes commented on #1502
This is a problem with `retry` / `repeat`. I know how to solve it if anyone has the bandwidth.

[2019-08-27 17:33] neko-kai commented on #1503
Also, sprinkling some `ZIO.absorb` when you're already using `Throwable` errors is easier than using `sandbox`

[2019-08-27 20:31] cannedprimates commented on #1503
Time to special case task! ;)

[2019-08-27 20:55] jdegoes commented on #1503
@cannedprimates It would be possible to create a thin wrapper that catches on map/flatMap (for E = Throwable); or even use Cats Effect instances with this behavior.

Most people seem not to mind the ZIO behavior after they fix a few errant throws.

[2019-08-27 21:26] cannedprimates commented on #1503
Actually, to provide some context, in the system I spend most of my time in, we have a wrapper around third party effect systems (to enforce safe usage and to add a treelog-style monitoring library). I wrote a shim for ZIO the other day and noticed that some test cases (testing specific failure modes) were failing. It's trivial for me to add try/catch or an extra layer of Task() in our map/flatMap

[2019-08-28 11:19] iravid opened #1509 "Does Sink really need a distinct leftover type parameter?"
*To be discussed on one of the hackathons. Or here, if anyone wants to chime in.*

Data points:
- All sinks I've used either had `A0 = A`, or `A0 = Nothing`
- We have just two constructors (`Sink.fold`, `Sink.foldM`) that create sinks with `A0 != A`

It looks like we could just do with always returning a `Chunk[A]` as the leftover?

[2019-08-28 11:59] iravid commented on #1496
For consistency, the `<*>` variants should be based on `flatMap`, while the `<&>` should be based on `zipWith`.

If we were ultra-consistent, `zipWith` itself would have another name. But that's already been decided by other streaming libraries.

Also, I don't think we neeed `&&&`.

I'll update the description.

[2019-08-28 14:19] amelnikov-mylivn opened #1511 "Add Semaphore#permits"
It would be useful to have a method in Semaphore to get the maximum number of permits available. We have Semaphore#available but it returns only free permits. Semaphore#permits or Semaphore#permitsTotal should return capacity of the Semaphore.

P.S. Use case is a read write lock on top of semaphore where you acquire all permits to have an exclusive access.

[2019-08-28 18:15] #1380 closed

[2019-08-28 22:34] adamgfraser commented on #1348
@jdegoes One other possibility for `||` is that we keep the `Fiber` of the loser and race it against the next state update for the winner, so `&&` and `||` would be analogous to `zipWith` and `mergeWith` on streams if we conceptualize schedules as describing a stream of events spaced over time. This would be significantly different than the current implementation because if we used `||` on two sch

[2019-08-29 07:56] jdegoes commented on #1496
@iravid Don't we need `zipWith` and `zipWithPar`, and their variants (left/right)?

[2019-08-29 09:37] saeltz commented on #413
Created the PR: https://github.com/zio/zio/pull/1513
Please review.

[2019-08-29 14:01] neko-kai commented on #1441
Nope, the deadlock was not at all related to test failures in https://github.com/zio/interop-cats/pull/28 those were issues with the laws themselves...

It could be a manifestation of https://github.com/zio/zio/issues/785
It could also possibly be caused by interruption inheritance https://github.com/zio/zio/issues/945
Or, as suggested by @pshirshov, it could be caused by non-threadsafe internals

[2019-08-29 14:45] nicolasdasriaux commented on #1496
On `ZStream`:

**Renaming**

* Rename current `zipWith` to `zipParWith`
* Rename current `zip` to `zipPar`

**`zipParWith` family**

* Add  `<&>`, an alias for `zipPar`
* Add `zipParLeft` and `<&`, equivalent to `(l <&> r).map(_._1)`
* Add `zipParRight` and `&>`, equivalent to `(l <&> r).map(_._2)`

**`zipWith` familly**

* Add `zipWith`, equivalent to `ls.flatMap(l => rs.map((l, _)))`
* Add  `zip

[2019-08-29 15:49] jdegoes commented on #1511
Should be done with `TSemaphore`, too, and same name for both.

[2019-08-29 16:32] adamgfraser opened #1515 "FiberRef Not Being Inherited by Parent After Race"
Normally if a `FiberRef` is updated by a child fiber that value is propagated back to the parent fiber on `join`, with a "last join wins" semantic if multiple child fibers have each updated their local copy of the `FiberRef`. For example, the following holds:

[code]

However, it appears that currently this is not happening after `race` and related combinators. For example, in the code below I wou

[2019-08-29 17:25] iravid commented on #1496
@jdegoes

We have `ZStream#zipWith` currently, which runs two streams in parallel. We don't have a named operator for `ls.flatMap(l => rs.map(r => (l, r)))`.

@jdegoes @nicolasdasriaux

As I mentioned above, renaming the current `zipWith` to imply parallel semantics would be the most consistent. But keep in mind that this is inconsistent with the Scala collections library. Beyond that, most people

[2019-08-29 18:31] #1312 closed

[2019-08-29 23:19] adamgfraser commented on #1511
I can take this.

[2019-08-30 02:35] adamgfraser opened #1524 "ZIO Stream: Compile Against Dotty"
Currently we only compile ZIO Core against Dotty. This ticket is to get ZIO Stream to compile against Dotty as well. This would involve identifying what issues cause ZIO Stream to fail to compile with Dotty today and resolving those issues. It may also be helpful to look at the settings in `build.sbt` and in particular `dottySettings` to see if those same settings can be applied to ZIO Stream or i

[2019-08-30 08:49] iravid commented on #1491
@NeQuissimus

Not sure what `peek` is :-) `head` should just result in the first element.

`last` can be formulated in terms of a `Pull` that "remembers" (using a `Ref`) the last element that it pulled from upstream, and when upstream fails with `ZIO.fail(None)`, it recovers to that element.

An open question here is whether `head` should run all of the stream's effects, or not. I.e. is it equival

[2019-08-30 09:02] vasilmkd commented on #1511
Looking at [Semaphore.java](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/Semaphore.html), even the Java semaphore does not have a `permitsTotal` equivalent. Not saying that this is not a valid use case, I just think it merits a discussion first.

[2019-08-30 10:16] iravid opened #1526 "Remove specialization from Chunk in favor of distinct subtypes of Chunk.Arr"
Today, `Chunk` is specialized on `A`. There are several reasons to reconsider this:
1. It is probably sufficient to specialize just the `Arr` constructor, as only arrays benefit from specialization.
2. The future of specialization is unclear in Dotty. I only found this presentation from Dmitry Petrashko: https://d-d.me/talks/flatmap2016, but nothing concrete in the Dotty site. Maybe @smarter can s

[2019-08-30 10:22] iravid commented on #1526
This is necessary for #1524.

[2019-08-30 10:30] iravid commented on #1511
@adamgfraser @amelnikov-mylivn The semantics of Semaphore today allow `release` to increase the available permits beyond the initial permits.

I'm not sure if it's correct to bake this into Semaphore itself.

[2019-08-30 10:50] adamgfraser commented on #1511
@iravid I thought I saw something weird about that when I was scrolling through the test suite last night! Would your conclusion be (a) the current behavior of `release` is correct and thus the concept of a "maximum" number of permits doesn't make sense or (b)  the current behavior of `release` is wrong and should be adjusted?

I'm definitely not an expert on this but I always thought the concept

[2019-08-30 10:58] iravid commented on #1511
The only semaphores I've used did not enforce releasing more than taken. They've all (incl. Java's Semaphore) relied on application convention to always release just what was taken. E.g. see this line in the Java Semaphore API:
[code]

By extension, this says that you're responsible for not releasing more than needed.

So, *by convention*, our Semaphore should not bake this in. There's nothing pre

[2019-08-30 11:04] adamgfraser commented on #1511
Yeah, I was just looking at the Java and Cats Effect implementations and they both allow `release` to increase the number of permits. Seems strange to me, but agree we need a good reason to deviate from the implementation of an existing structure. I could update my PR to track "maximum number of currently available permits" but not sure how useful that is if you don't have a guarantee someone won'

[2019-08-30 12:46] regiskuckaertz commented on #1511
😨 does that mean this would work:
[code]

[2019-08-30 12:57] amelnikov-mylivn commented on #1511
I use it like this right now, passing number of permits alongside with Semaphore. I thought it would be useful to have such method. But also I can encapsulate Semaphore and max number of permits inside my own class (like ReadWriteLock).

Feel free to close this ticket if you think that this method may break Semaphore contracts.

[2019-08-30 13:04] adamgfraser commented on #1511
@regiskuckaertz Yes. It is a little scary but it is consistent with Java and Cats Effect. Thinking about it more I think there are two potential directions we can go here depending on our aspirations.

**Option 1: Semaphore as ZIO Implementation of Java Semaphore**
This is what we are doing today. We’re providing similar functionality as exists on Java Semaphore in a ZIO non-clocking / reverential

[2019-08-30 13:12] regiskuckaertz commented on #1511
I don't know what the Java people were thinking but it does sound like Tony Hoare the day he thought about `null`: "Well of course they're going to check!" 😄

[2019-08-30 13:16] adamgfraser commented on #1511
It is worth noting here that Rust's Semaphore only has the equivalent of `withPermits`, so it isn't completely crazy.

https://docs.rs/semaphore/0.4.0/semaphore/struct.Semaphore.html

[2019-08-30 13:18] regiskuckaertz opened #1527 "Reduce boilerplate in Gen-based tests"
Currently:
[code]

we change it to:

[code]

This will allow test suites to be written in a property-based testing style, e.g.:

[code]

In the same fashion, add `M`-suffixed variants:

[code]

[2019-08-30 13:20] adamgfraser commented on #1527
I will take care of this.

[2019-08-30 13:21] regiskuckaertz commented on #1527
🔥 🕺

[2019-08-30 13:30] adamgfraser opened #1528 "ZIO Test: Add OverLoaded Check Methods for Multiple Generators"
As suggested by @iravid it would be nice if we could write `check` statements for property based testing with multiple generators. This can already be done today by using `<*>` to tuple the generators but this requires the user to do the tupling and then write a match expression for every property they want to test. We can write some overloaded methods to do this automatically and provide a more p

[2019-08-30 13:32] iravid commented on #1528
🙏🏻

[2019-08-30 14:25] iravid commented on #1511
I could think of some (fairly rare) cases where I'd want to acquire and release manually, but those cases can be answered by `withPermitsManaged`, which allows the acquire/release actions to be decomposed by a sufficiently willing user.

[2019-08-30 14:30] adamgfraser commented on #1511
So do we have a new direction on this? If the power user could still get what they want in some way I think this would be way safer for the average user. What do you think @jdegoes?

[2019-08-30 14:34] iravid opened #1529 "Explore an Arrow-like DSL for PubSub and push streams"
Hope to have time to flesh out some details tomorrow.

Inspired by:
- https://doc.akka.io/docs/akka/current/stream/stream-graphs.html
- https://airflow.apache.org/concepts.html#bitshift-composition

[2019-08-30 17:00] jdegoes commented on #1502
@adamgfraser Instead of returning `R with Clock`, require `R1 <: Clock`, basically. Same trick I showed in ZIO Test to improve type inference.

We need a "compile test" that demonstrates inference in this case (just some code in a test suite, I suppose).

[2019-08-30 17:00] adamgfraser commented on #1502
@jdegoes Got it!

[2019-08-30 17:01] jdegoes commented on #1528
I'd suggest we do this in a trait `CheckVariants` that requires only the base cases, then we can inherit that trait in the package object. Just to avoid massive boilerplate clutter in the package object.

[2019-08-30 17:02] adamgfraser commented on #1528
Good idea.

[2019-08-30 18:49] smarter commented on #1526
Plans for automatic specialization have been shelved. Right now there's zero specialization support in Dotty, adding method specialization should be easy and useful and will probably happen soon-ish, but class/trait specialization is a much bigger can of worms which we might decide to completely avoid (especially considering that anything we do might get obsoleted by Valhalla).

[2019-08-30 20:06] #1527 closed

[2019-08-30 20:06] #1528 closed

[2019-08-30 21:57] jdegoes commented on #1496
@iravid OK, it bothers me a bit but in cases where we only have one variant, we do omit the `Par` prefix. Of course we could flip it in this case, `zipWithSeq` for the other one, although `crossWith` would be better.

[2019-08-31 01:59] #1433 closed

[2019-08-31 01:59] #1437 closed

[2019-08-31 02:58] #1489 closed

[2019-08-31 06:41] #1204 closed

[2019-08-31 06:41] #1492 closed

[2019-08-31 06:46] iravid opened #1532 "Enhance ZStream#scheduleWith to not short-circuit the stream"
Currently, when the schedule supplied to ZStream#scheduleWith signals completion, the stream is ended.

In this ticket, change the behavior to restart the schedule instead; for a stream with elements `"A B C A B C"`, and a schedule `(Schedule.exponential(2.millis) && Schedule.recur(2) && Schedule.const("Done")).map(_._2)`, this should be the resulting stream:
[code]

[2019-08-31 06:57] iravid opened #1533 "Align ZStream#repeat with the other schedule combinators"
The signatures should be:
[code]

The semantics should be as follows: when the stream ends, run the schedule. If the schedule wants to continue, apply the delay and repeat the stream. If the schedule wants to stop, end the stream.

[2019-08-31 06:59] iravid opened #1534 "Modify ZStream#schedule and ZStream#scheduleElements to discard the schedule's output"

[2019-08-31 09:10] jdegoes commented on #1492
IMO `throttleShape` should use `Schedule` too. I'd just call it `throttle`.

Throttling can be viewed as `n` elements per `time period`. Schedule just lets you vary the time period or keep it fixed, as you like. `stream.throttle(100, Schedule.spaced(1.second))` for "classic" throttling.

[2019-08-31 10:13] vasilmkd commented on #1492
True, @iravid and I wanted to look into using Schedule for throttling but got busy with other things. I have a question though, what about schedules that aren't time based?

[2019-08-31 12:05] Vilkina opened #1537 "Fix compilation error DefaultTestRunner"
After 'git pull upstream':
<img width="1278" alt="Screen Shot 2019-08-31 at 3 01 27 PM" src="https://user-images.githubusercontent.com/3358827/64063720-bcbbc780-cc00-11e9-95ab-92edeed27b7b.png">

[2019-08-31 12:09] ghostdogpr commented on #1537
I got that too, `;clean;compile` on the root project fixed it for me.

[2019-08-31 12:09] adamgfraser commented on #1537
@Vilkina Thanks for the report! If you do `;clean;compile` in SBT it should fix that. I also renamed one of the instanced to lower case `defaultTestRunner` in one of the PRs we merged last night so if you update to the latest version of `master` that should resolve it too. Would you let me know if those suggestions resolve the problem for you?

[2019-08-31 12:31] #1502 closed

[2019-08-31 13:40] Vilkina commented on #1537
@adamgfraser resolved, tnx

[2019-08-31 13:40] #1537 closed

[2019-08-31 13:41] Fristi commented on #1441
Interesting, anyone interested to have a crack at this at Scala.world? Let me know how I could help

[2019-08-31 14:50] adamgfraser commented on #1537
@Vilkina Awesome! Thanks for reporting!

[2019-08-31 15:31] jdegoes commented on #1492
Same thing as `throttle(100, 0.millis)`

[2019-08-31 16:56] iravid opened #1538 "Explore using ZSchedule for ZSink#throttleShape and ZSink#throttleEnforce"
Instead of using a fixed time interval, we could use a Schedule to determine the time interval by feeding the elements into the schedule. We could also support feeding both the element and its weight into the schedule for some interesting results!

One thing to consider is whether this will still be possible after Schedule is responsible for sleeping (#1348), as with the current implementation, we

[2019-08-31 17:06] iravid commented on #1526
Well, that settles it. Thanks @smarter.

[2019-09-01 08:57] jdegoes commented on #1538
@iravid Are you sure about #1348? If you fork it, you can throttle on `m > n` until the schedule step completes.

[2019-09-01 09:03] iravid commented on #1538
Ah that's interesting. So we can use that know if the current period has completed. Yes, that sounds like a viable alternative!

[2019-09-01 09:04] iravid commented on #1538
cc @vasilmkd

[2019-09-01 09:52] jdegoes opened #1541 "Make platform-specific test aspects"
ZIO supports JVM and JS, and soon (hopefully) native. Some tests should only be run on some platforms, and some tests should have settings that depend on the platform.

We can provide test _aspects_ (which are _functions_ that _accept a spec_ and _return a spec_) to help people deal with these problems.

 - [ ] `TestAspect.jsOnly` — Used like `test("js-only test") { } @@ js`. Only runs the test on

[2019-09-01 09:53] adamgfraser commented on #1541
I'm working on it now.

[2019-09-01 09:58] jdegoes commented on #1541
@afamgfraser Awesome! ❤️🙏 Do you ever sleep? 😆

[2019-09-01 10:14] mschuwalow commented on #1541
Would it make sense to have the platform tests be baked in zio.system.System? We already have functions for reading properties there

[2019-09-01 10:15] adamgfraser commented on #1541
I think we might want to have it be part of `Platform` or `Runtime`. If we are needing to do platform specific configuration for ZIO Test our users will need to in some cases as well.

[2019-09-01 10:32] jdegoes opened #1542 "ZIO Test: Add structure to `Assertion` display"
Currently, `Assertion` has a `render` method that converts the assertion into a string. This is useful but a string has no structure at all, and with more structure comes greater potential (nicely formatted output, different renderings for different types, etc.).

This ticket is to change the `Assertion` type so that `Assertion#render` becomes a function that returns this more structured represent

[2019-09-01 10:34] jdegoes opened #1543 "ZIO Test: Replace `timeout` parameter to runnable spec with aspects"
To ensure one clear way of doing thing, encode `TimeoutStrategy` cases as test aspects.

(This ticket lacks details, just to track ongoing discussions.)

/cc @adamgfraser @ghostdogpr

[2019-09-01 11:02] iravid commented on #1496
`cross` is a great idea. I will update the description.

[2019-09-01 11:55] amelnikov-mylivn commented on #1511
Just FYI.
For my own use case (read write lock) - I created my own class which does not break any semaphore semantics. Maybe it will be useful to someone.

[code]

[2019-09-01 12:08] vasilmkd commented on #1511
@amelnikov-mylivn The discussion has shifted as to whether dropping the `acquire` and `release` API makes sense. Could you modify your code by making use of the `withPermit` and `withPermitManaged` API instead? Thanks.

[2019-09-01 12:47] amelnikov-mylivn commented on #1511
Sure

[code]

[2019-09-01 12:49] Vilkina commented on #1164
@ioleo I don't know. Tests are false. So you can take it.

[2019-09-02 02:02] ghostdogpr opened #1545 "Reduce build times and costs"
Our overall CI build times have become pretty large, and with the sustained activity on ZIO from many contributors (which is great! 🎉), the costs are getting important too.

Each individual build is not that long, but we have 12 combinations of Scala versions (2.11, 2.12, 2.13), JDK (8, 11) and platforms (JVM, JS). We expect to add Dotty (#1022) and Scala Native (#639) soon, which is going to incr

[2019-09-02 02:05] softinio commented on #1545
We could just run against jdk8 as a routine and build against jdk11 on a schedule and on master only though we risk a broken build?

Jdk11 daily or weekly ?

[2019-09-02 09:07] ioleo commented on #1545
@ghostdogpr How about switching the build system from SBT to [bazel](https://bazel.build/)? With low-granurality targets (eg. 1 per package) bazel would really shine here and recompile/retest only whats absolutely necessary.

[2019-09-02 09:13] ghostdogpr commented on #1545
@ioleo I would rather stick to something widespread so that most people can contribute easily. With sbt at least everyone knows how to get the project running. It might be better (I have no idea), but would require some learning and configuring from everyone. I prefer to spend this time building cool ZIO things! 😄

[2019-09-02 10:58] iravid opened #1546 "Explore an impure representation for asynchronous streaming effects"
e.g.

[code]

[2019-09-02 11:52] jdegoes commented on #1511
I have seen code that uses the behavior of `release` to increase permits, and it's the behavior of the other async effect implementations. I'm not sure if that makes it correct. It could hide bugs in code, compared with a separate method to increase total available permits.

I think `FiberSemaphore` could be useful, which would tie the permits to a particular semaphore, and require release on that

[2019-09-02 11:53] jdegoes commented on #1511
^^^ One could make the argument that `acquire(n) === release(-n)` and other nice algebraic properties should hold.

[2019-09-02 11:58] ajaychandran opened #1547 "Add method overload for ZStream.effectAsync with queue as input parameter"
Add method overload for `ZStream.effectAsync` (and company) with queue as input parameter.
This would enable sharing a queue between multiple sources.

For instance, I have a UI with 70+ buttons generating the same type of event with different values. This change would allow using a single queue for all the sources.

PS: I can work on the PR if the change is approved.

[2019-09-02 12:03] adamgfraser commented on #1542
I can take this.

[2019-09-02 12:55] NeQuissimus commented on #1545
I'd support having JDK11 with only a "sanity-build". How many parallel workers do we currently have?

[2019-09-02 13:18] ghostdogpr commented on #1545
We have up to 43x parallelism but the problem is more the total build-minutes we spend by executing all those.

[2019-09-02 13:30] ghostdogpr commented on #1541
Closed by #1539

[2019-09-02 13:30] #1541 closed

[2019-09-02 13:54] ghostdogpr opened #1548 "Flaky test for ZStream#zipWithLatest"
Build: https://circleci.com/gh/zio/zio/20915
[code]

cc @regiskuckaertz @iravid

[2019-09-02 14:09] iravid opened #1549 "Only the 2.11 builds are required for releasing"
The release workflow should require all builds to pass before releasing.

[2019-09-02 14:11] ghostdogpr commented on #1549
Right, just noticed this as well.

It's pretty easy, in `.circleci/config.yml`:
[code]
All the test steps should be added here.

[2019-09-02 14:36] ghostdogpr opened #1550 "Add microsite section about ZIO Test"
Explain how to use ZIO Test, how to run it with sbt, etc.

[2019-09-02 14:37] adamgfraser commented on #1550
I'm on it.

[2019-09-02 15:49] ajaychandran commented on #1547
I worked out an alternate solution for my usecase so closing the ticket.

[2019-09-02 15:49] #1547 closed

[2019-09-02 18:33] #1550 closed

[2019-09-02 21:18] vasilmkd commented on #1538
I remember I was forking in the Sink in the very first commit I submitted to ZIO!

[2019-09-02 22:01] vasilmkd commented on #538
https://github.com/vasilmkd/zio/tree/zsink-stepless

Whole migration done. Just worried it might be too much for a single PR.

[2019-09-02 22:04] vasilmkd commented on #1112
The code for #538 is done.

[2019-09-02 22:46] iravid commented on #538
We'll deal with it :-) Feel free to open a PR

[2019-09-03 00:18] #1549 closed

[2019-09-03 07:34] ghostdogpr opened #1561 "Stop publishing core-tests and streams-tests"
We want to stop publishing our tests, but we can't because they are currently used by the interop libraries.

## Step 1:
Stop depending on core-tests in interop libraries. If it was actually used, replace it with ZIO Test.
- [x] [Interop Twitter](https://github.com/zio/interop-twitter)
- [x] [Interop Scalaz](https://github.com/zio/interop-scalaz)
- [x] [Interop Monix](https://github.com/zio/intero

[2019-09-03 08:34] iravid commented on #1548
Ouch, yeah. We should rewrite that test without any sleeps at all. Or switch to MockClock.

[2019-09-03 12:55] #1545 closed

[2019-09-03 13:59] adamgfraser opened #1562 "ZIO Test: Type Inference Issue with Assertion#equalTo"
@regiskuckaertz raises the good point that code like the following does not compile:

[code]

Where:

[code]

It does work with an explicit type annotation on `assert`:

[code]

The problem is that the compiler is not zeroing in on the expected type being `List[Int]` early enough and so is not widening `List.empty` from `List[Nothing]` to `List[Int]`. We could potentially address this by adding a

[2019-09-03 14:23] regiskuckaertz commented on #1562
I'm happy with the signature and don't think we should curry, though I was a bit surprised by the behaviour. This would not compile:
[code]
even with the currying. But this would
[code]
I thought `assert` would behave similarly, i.e. the second parameter can be a subtype of the first. That said, adding the type signature is really not asking too much 😅

[2019-09-04 03:11] ghostdogpr commented on #895
I believe this is fixed in RC12.
@CatsDogsAndOther please reopen if you find it still happens.

[2019-09-04 03:11] #895 closed

[2019-09-04 06:25] DanGrigore commented on #1164
I will give it a try also.

[2019-09-04 10:42] vilu commented on #1561
I would like to tackle this one.

[2019-09-04 12:26] ghostdogpr commented on #1561
@vilu Thanks! Let us know if you need any help.

[2019-09-04 12:35] adamgfraser opened #1566 "ZIO Test: Explore Alternatives for Bringing Back Old MockRandom Functionality"
Originally `MockRandom` had a very simple implementation along the lines of `MockConsole` where you would “feed” data into `MockRandom` and then when you called methods that relied on `Random` you would just get back the data you fed in. As we built out ZIO Test we upgraded `MockRandom` to a full blown purely functional pseudo-random number generator which is much more powerful but actually doesn’

[2019-09-04 12:42] ghostdogpr commented on #1566
As discussed in Gitter I think the default `MockRandom` provided in `MockEnvironment` should provide easy ways for ZIO Test users to control the output, just like `MockClock` does for time. As I was implementing tests at work, I was surprised it didn’t allow that and I had to write my own. So I prefer your option 2.

I’d be curious to know what others are thinking, maybe there are other use cases.

[2019-09-04 12:49] szimano commented on #1542
Hey guys, I think my issue might be connected to this Issue.

I am trying to make an integration of github.com/softwaremill/diffx library into ZIO Test - the library purpose is to pretty print diffs between two given case classes

ie.

`
sealed trait Parent
  case class Bar(s: String, i: Int) extends Parent
  case class Foo(bar: Bar, b: List[Int], parent: Option[Parent]) extends Parent

  val righ

[2019-09-04 13:07] iravid opened #1567 "Rename ZIO.aggregateWithin to ZIO.aggregateWithinEither and add a simpler aggregateWithin"
The current version of `aggregateWithin` emits the schedule's output into the stream, resulting in a stream of `Either[ScheduleOutput, Batch]`. This variant should be named `aggrgateWithinEither`, and `ZStream#aggregateWithin` should be defined as:
[code]

[2019-09-04 15:03] saeltz commented on #1567
@iravid , I'll give this one a try.

[2019-09-04 15:07] iravid commented on #1567
Thanks @saeltz!

[2019-09-04 15:11] iravid opened #1568 "Add ZStreamChunk#take"

[2019-09-04 15:12] iravid opened #1569 "Add ZStreamChunk#drop"

[2019-09-04 16:08] iravid opened #1570 "Find an encoding for dependent pairs for use in ZSink"
Something that can encode: `(sink, sink.State)`

[2019-09-04 16:14] vasilmkd commented on #1570
It's not too bad at the moment. But it would be a nice type incantation.

[2019-09-04 16:19] vasilmkd commented on #1568
I'm taking this.

[2019-09-04 17:01] vasilmkd commented on #1569
I'll also implement this in a single PR with #1568.

[2019-09-04 20:07] #1568 closed

[2019-09-04 20:07] #1569 closed

[2019-09-04 22:53] #1543 closed

[2019-09-05 09:58] jdegoes opened #1579 "ZIO Test: Ensure Gen.filter also filters shrinks"
Currently `Gen.filter` only filters values produced by the `Gen`, but it ignores values in the shrink tree. It should filter those as well.

[2019-09-05 10:01] adamgfraser commented on #1579
I will take this.

[2019-09-05 10:18] jdegoes commented on #1499
We will fix this for 1.0!

[2019-09-05 19:10] LukaszByczynski commented on #378
I think this will be good task for upcoming hackaton.

[2019-09-05 19:11] LukaszByczynski commented on #743
I going to be with a few friends from my company.

[2019-09-05 20:57] pshirshov commented on #1442
Seems like this issue may be eventually resolved by `sbt-sonatype`: https://github.com/xerial/sbt-sonatype/issues/89

[2019-09-06 04:36] adamgfraser opened #1585 "ZIO Test: Improve Reporting of Property Based Testing Result"
This ticket is to improve reporting of property based testing results. A completed ticket will make two or possibly three improvements to existing test reporting:

- [ ] Report the shrunk random variables that caused the test to fail in addition to the failing test result. This will involve modifying the `checkStream` method in `CheckVariants.scala` so instead of just mapping the test over the ran

[2019-09-06 04:40] adamgfraser opened #1586 "ZIO Test: Add Support for Implications"
As raised by @regiskuckaertz, one feature Specs2 and several other testing frameworks have is support for implications, "if X is true, then the following property should hold" and this is used in the Streams tests so it would be nice to be able to support that as they are being migrated over. We should be able to do this pretty easily once #1582 is merged.

[2019-09-06 05:11] ghostdogpr commented on #1562
Instead of the type parameter on `assert`, you can add it to `List.empty` so it's a bit shorter:
[code]
That's usually how I deal with `fold` and friends.
I also don't think we should curry.

[2019-09-06 05:14] adamgfraser opened #1587 "STM that contains only `get` operations can see partial state"
https://circleci.com/gh/zio/zio/21901?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-09-06 05:37] #1579 closed

[2019-09-06 05:41] ghostdogpr commented on #1587
@LGLO any idea about this one?

[2019-09-06 08:57] pshirshov commented on #1442
I'll open a new ticket instead of this, sbt-sonatype can publish bundles now: https://twitter.com/taroleo/status/1169777599360331776?s=21

[2019-09-06 08:57] #1442 closed

[2019-09-06 11:09] ghostdogpr commented on #1561
@vilu which interop are you tackling first? I ask in case other contributors want to share the work.

[2019-09-06 12:00] pshirshov opened #1589 "Switch to bundle publishing"
Right now we publish all our projects with `sbt-sonatype` plugin.

After most recent update of the plugin it become possible to publish faster and with lot higher correctness. More details here: https://github.com/xerial/sbt-sonatype/issues/89

We should switch to the shiny new `sonatypeBundleUpload` command

Supersedes: #1442

The essense:

[code]

and then:

[code]

[2019-09-06 14:10] vilu commented on #1561
I work from the top to the bottom. I'll post a PR to the Twitter one this weekend to get a confirmation that I'm addressing it in the right way.

I can keep updating this PR when I pick a new one. So, just to re-iterate I'm currently working on the Twitter one. Any other one would be ok for anyone to pick up without us stepping on each others toes.

[2019-09-06 14:27] ghostdogpr commented on #1561
@vilu sounds good 👌

[2019-09-06 15:21] NeQuissimus opened #1593 "ZIO Test: testM question"
Why is `testM` requiring the error type to be `Nothing`?
I may be missing something but when I write a test like

[code]

it introduces a bit of overhead to get rid of that `Throwable`.

Can we have something like

[code]

Or is there an intended way of doing this without adding too much overhead to tests?

[2019-09-06 15:26] adamgfraser commented on #1593
Yes, I think we should be able to do something here. We have a `TestFailure.Runtime` subtype to cover that. I think our thinking had been that the default behavior would be people would write tests that didn't have expected failures and the `E` type parameter was more flexibility for alternative implementations in the future, but I think we can generalize relatively easily. Let me work something u

[2019-09-06 15:41] neko-kai commented on #1593
@adamgfraser

Well, we use wildcard `_` as error type in [izumi](https://github.com/7mind/izumi/blob/baea35e54dd482e54cd2d075e774cfd26806897a/distage/distage-testkit/src/main/scala/izumi/distage/testkit/services/DISyntaxBIOBase.scala#L15) so that code with arbitrary error types can be mixed within a test and just fail the test if necessary. But we predominantly write integration tests and assertio

[2019-09-06 19:19] mijicd commented on #1561
@vilu just link this issue in your PRs and feel free to reach out if you need any help.

[2019-09-07 01:00] #1593 closed

[2019-09-07 01:16] ghostdogpr commented on #996
I suspect this has been fixed somehow because I haven't seen it in months. Let's reopen if it comes again.

[2019-09-07 01:16] #996 closed

[2019-09-07 01:17] ghostdogpr commented on #548
Closing in favor of #804

[2019-09-07 01:17] #548 closed

[2019-09-07 01:39] adamgfraser commented on #1587
Just saw another issue here. This time a different method. Is there something we changed that could have impacted this?

https://circleci.com/gh/zio/zio/22084?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[info]         map:
[error]           x creates new array atomically
[error]  19 -> 3 != 19 -> 19; 19 -> 3 != 3 -> 3 (TArraySpec.scala:137)

[2019-09-07 02:12] ghostdogpr commented on #1585
Working on this

[2019-09-07 02:26] ghostdogpr opened #1599 "ZIO Test: Report timeouts in a prettier way"
In case of timeout from TestAspect, we're displaying this:
[code]

Instead, display something like this:
[code]

[2019-09-07 02:26] ghostdogpr commented on #1599
I'm working on it

[2019-09-07 02:37] adamgfraser opened #1600 "ZIO Test: Implement TestRuntime and TestApp"
This ticket is to implement `TestRuntime` and `TestApp` within package `test.mock` within ZIO Test.

Currently users who want to try the functionality that `MockEnvironment` offers for testing effects like `Console` have to either write a ZIO Test test suite or provide the mock environment themselves using methods like `ZIO.provide`. We can make it even easier for people to use this functionality

[2019-09-07 02:42] adamgfraser opened #1601 "ZIO Test: Improve Use of Size Parameter in Tests"
Split out from #1585 for clarity. Currently sized collection generators generate collections of size between 0 and the `size` parameter, currently 100. This results in too many large tests, slowing down testing, and not enough small tests, creating issues with coverage for cases like empty or small sets. As discussed on Gitter, we can address this by creating a combinator the uses the size paramet

[2019-09-07 02:42] adamgfraser commented on #1601
I am working on this.

[2019-09-07 10:20] dkarlinsky commented on #1587
@adamgfraser I think I managed to create a test that (pretty much) consistently reproduces the failure.
[Here the code](https://github.com/dkarlinsky/zio/blob/3e4edac589ae5d88bfd66bca28da3209797feff7/core-tests/jvm/src/test/scala/zio/stm/TArrayFlakySpec.scala)
It basically runs `TArraySpec.foldAtomic` up to 5000 times, with batches of 50 in parallel, until the assertion of `equalTo(0) or equalTo(N

[2019-09-07 11:58] LGLO commented on #1587
Thank you @dkarlinsky . I added this code and I feel guilty - I'll take a look this weekend! Hundredfold thanks for providing code!

[2019-09-07 12:21] vasilmkd opened #1605 "An updated encoding for ZSink"
Let this issue serve as a revisit of #1470.

As you already know, the current encoding of `ZSink` is as follows:
[code]

We are currently in the process of getting rid of the `Step`, which is an effort towards ZIO 1.0 (#1112). Open issue is here #538 and WIP PR is here #1560.

This effort changes the encoding of `ZSink` to the following:
[code]

However, the second encoding, without `Step` current

[2019-09-07 12:57] Vilkina commented on #1164
@DanGrigore I'll try one more time ...

[2019-09-07 13:35] dkarlinsky commented on #1587
Sure :) I was hoping to be able to figure out what was going on myself, but after digging through STM internals for a while and feeling out my depth,    I figured I'd provide the test for you or whoever takes this issue. Hope it helps :)
Very interested to see what the bug ends up being.

[2019-09-07 15:14] markosski opened #1606 "Rename `sync` to `effect` in ZIOSyntax.LazyCreationSyntax"
I'm new to the code base but it looks like some left-over from refactoring?

https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/syntax/ZIOSyntax.scala#L30

rename

`def sync[R]: ZIO[R, Throwable, A]   = ZIO.effect(a())`

to

`def effect[R]: ZIO[R, Throwable, A]   = ZIO.effect(a())`

[2019-09-07 17:29] vilu opened #1608 "Unexpected behaviour of throws assertion"
[code]

Maybe I'm missing something here but this seems wrong to me.

[2019-09-07 17:31] adamgfraser commented on #1608
@vilu Thanks for reporting! Let me take a look and will get back to you.

[2019-09-07 17:31] vilu commented on #1608
I've checked already, I'm opening up a PR now. Maybe you want to check that first and just merge if you agree?

[2019-09-07 17:32] adamgfraser commented on #1608
Oh awesome. You're one step ahead. Yes, will do.

[2019-09-07 17:33] vilu commented on #1608
Done

[2019-09-07 18:57] LGLO commented on #1587
I was able to reproduce this bug without TArray but only TRefs:
[code]
I'm using more 100 000 iterations.

[2019-09-07 18:58] iravid commented on #1605
That's very well written! I'm onboard with the change. I thought this problem could be solved by encoding more information in the internal sink state, but did not consider the problem of sinks that always return `more`.

[2019-09-07 19:25] softinio opened #1611 "Add zio code of conduct to microsite"

[2019-09-07 19:59] LGLO commented on #1611
whispers _docusaurus documentation website_ ;-)

[2019-09-07 20:06] softinio commented on #1611
@LGLO lolz - this will be an ongoing joke between us till we retire :-)

[2019-09-07 20:07] softinio commented on #1611
made above change to title to please @LGLO 🤣

[2019-09-07 21:11] LGLO commented on #1587
I was able "fix" the problem by changing `r1.get` to `r1.update(identity)`.
This pointed me that there can be something with `get`.
It seems that when `STM` is made only with `get` operations then journal analysis yields `JournalAnalysis.ReadOnly` (obvsly). However in `STM#tryCommit` we don't check if journal is valid in case of `ReadOnly`. I'll open PR with this check and modified version of test

[2019-09-07 22:33] ghostdogpr commented on #1606
That’s right! We should probably have both and deprecate `sync` for a smooth transition.

Would you like to make a PR for this?

[2019-09-07 23:06] ghostdogpr commented on #1608
Closed by #1609

[2019-09-07 23:06] #1608 closed

[2019-09-08 00:59] markosski commented on #1606
Yes, happy to contribute.

[2019-09-08 01:39] #1585 closed

[2019-09-08 03:03] ghostdogpr commented on #1606
Closed by #1618

[2019-09-08 03:03] #1606 closed

[2019-09-08 09:48] vilu commented on #1561
I actually ran into some issues: https://github.com/zio/interop-twitter/pull/29

[2019-09-08 11:50] #1542 closed

[2019-09-08 11:59] #1472 closed

[2019-09-08 12:21] plokhotnyuk opened #1621 "The site layout could be better for mobile devices"
Here is how it looks on the [Overview / Handling Resources](https://zio.dev/docs/overview/overview_handling_resources) page now:

![image](https://user-images.githubusercontent.com/890289/64488088-d59d2c00-d243-11e9-80e4-5d10f6063ffe.png)

[2019-09-08 12:59] LGLO opened #1622 "sbt output is missing in CircleCI"
In many cases there is no output from `sbt` command in CircleCI.
![Screenshot from 2019-09-08 14-58-23](https://user-images.githubusercontent.com/2694353/64488521-2cf1cb00-d249-11e9-8390-eceb3b3b74f6.png)

I suspect super shell in sbt 1.3.0

[2019-09-08 13:41] pshemass commented on #1479
@iravid do you want to have this in core or maybe we could implement this in zio-nio?

[2019-09-08 13:41] LGLO commented on #1622
This looks like CircleCI issue indeed.
For example I have opened https://circleci.com/gh/zio/zio/22666 in two tabs and one time I can see output and other time not.
![Screenshot from 2019-09-08 15-39-19](https://user-images.githubusercontent.com/2694353/64489071-2ebe8d00-d24f-11e9-9722-a7b0dbce09c4.png)
![Screenshot from 2019-09-08 15-39-36](https://user-images.githubusercontent.com/2694353/644890

[2019-09-08 14:10] iravid commented on #1479
@pshemass Chunk is sealed, so this would have to be in core.

[2019-09-08 21:12] pshemass commented on #1479
@iravid what about moving ```Chunk``` to ```zio-nio```?

[2019-09-08 21:20] mschuwalow commented on #1611
Do we have a contributing page on the site? Would seem like a natural place to put it

[2019-09-09 00:06] ghostdogpr commented on #1566
@jdegoes what do you think about this one?

[2019-09-09 00:08] ghostdogpr commented on #1622
Found a couple tweets indicating the issue in on CircleCI side:
https://twitter.com/y_ury_/status/1170711468922347521
https://twitter.com/cobot_1/status/1170670922778304512

[2019-09-09 00:10] ghostdogpr commented on #1611
Not on the website, only here: https://github.com/zio/zio/blob/master/CONTRIBUTING.md

To avoid repetition, maybe we just add 2 links pointing to https://github.com/zio/zio/blob/master/CODE_OF_CONDUCT.md and https://github.com/zio/zio/blob/master/CONTRIBUTING.md

[2019-09-09 00:33] jdegoes commented on #1566
@adamgfraser @ghostdogpr How about some hybrid:

You can "push" fake randoms, and when the buffer is empty, it goes onto use the pseudo-random-number-generator.

So by default you don't have to push anything, if you don't want. Would that be reasonable?

[2019-09-09 00:35] adamgfraser commented on #1566
@jdegoes Yes. I thought about that and was a little concerned about it from a separation of concerns perspective, but it may be better for us to get a little dirtier on our end to make things better for our users.

[2019-09-09 00:35] ghostdogpr commented on #1566
@jdegoes @adamgfraser 👍

[2019-09-09 00:37] jdegoes commented on #1566
@adamgfraser

This is an interesting idea. What do you think are the pros / cons?

I suppose we have to ask: what is the best default if the user doesn't feed `MockRandom` with any data or when it runs out (with too little)? Just a constant? Wrap around the test data? Or switch over into PRNG mode? All could be useful, I can imagine many tests that just _happen_ to use randomness and they don't ne

[2019-09-09 01:35] adamgfraser commented on #1566
Pros:
- We could implement methods on `Random` including `setSeed` and `perturb` that could be useful for some of our users. I had thought this might be important for us to be able to support randomly generated functions but it seems like that is not necessary.
- We could maintain a cleaner interface where `Random` does pseudorandom number generation and `MockRandom` is fed data versus having to m

[2019-09-09 01:49] #1599 closed

[2019-09-09 13:30] #1601 closed

[2019-09-09 14:55] fsvehla opened #1627 "Proposal: CancelableFuture"
Proposal: Adding a `CancelableFuture`, which extends `Future` with a `cancel` operation that triggers interruption of the underlying `IO`.

### Use case

(reported by @dpennell)

### API

1. Introduce a `CancelableFuture`

[code]

or (see https://github.com/zio/zio/issues/1627#issuecomment-529606773)

---

[code]

2. Return `CancelableFuture` in `ZIO` and the RTS

[code]

### Implementation

* AFA

[2019-09-09 14:57] fsvehla commented on #1627
I’d like to work on this.

[2019-09-09 15:00] iravid commented on #1627
I would suggest, alternatively, that *only* `unsafeRunToFuture` would return that trait. The trait could essentially be a wrapper over the `FiberContext` itself.

[2019-09-09 15:04] iravid commented on #1627
Oh, sorry, I can see why this would be useful in `toFuture`. Returning `CancelableFuture` there makes sense!

[2019-09-09 15:13] fsvehla commented on #1627
About naming - is it a `Cancelable`, `Cancellable`, `Interruptable` or `Interruptible` `Future`? :D

[2019-09-09 16:13] iravid commented on #1479
@pshemass that’d force a zio-nio dependency on the zio-streams module, and any library using Chunk (which is all libraries that would use zio-streams). So that’s probably a no-go.

[2019-09-09 18:26] fsvehla commented on #1627
I propose that `cancel`, instead of returning `Unit` should return `UIO[Exit[E, A]]` and that we including the `IO`’s error channel as a type parameter: `CancelableFuture[E, A] extends Future[A]`

The obvious downside is that the a `Runtime` must be around to cancel the action, but it will be around anyway in places were we need a Future… @dpennell would this make your use case harder?

[2019-09-09 19:14] Vilkina commented on #1621
I'll look later. But here is a hint in chrome:
<img width="1276" alt="Screen Shot 2019-09-09 at 10 13 21 PM" src="https://user-images.githubusercontent.com/3358827/64559521-2b122f80-d34f-11e9-9055-650e3e60223c.png">
#back-to-top need some rule

[2019-09-09 19:28] plokhotnyuk commented on #1621
I would hide it together with an `OPEN CHAT` button for such resolutions.

Also fixing of the `ZIO` logo on the main menu level would save couple lines for the section content.

[2019-09-09 20:03] adamgfraser opened #1629 "ZIO Stream: Remove Legacy Short Circuiting Tests"
Following up on discussion in #1628 there are a number of tests in `ZStreamSpec.scala` checking for "short circuiting" that can probably be removed. I would suggest going through all of the ones labeled "short circuiting" and see if they are doing anything more than checking that if we take one element we only have that element and that methods don't strictly traverse the entire stream. This is pr

[2019-09-09 20:17] adamgfraser opened #1630 "ZIO Test: Benchmark and Explore Optimization Opportunities for Random Generators"
As more people start using property based testing in ZIO Test we should benchmark how long it takes to generate common random data types with ZIO Test versus other property based testing frameworks and natively using `scala.util.Random`. Once we understand where we are, we can explore opportunities for optimization. For example, right now every random number we generate is wrapped in a `ZIO` which

[2019-09-10 01:57] adamgfraser opened #1632 "ZIO Test: Support Managed Resources Per Suite"
As discussed with @iravid we need a solution to be able to provide a managed resource to an entire suite. I spent some time on it tonight and struggled with it. The challenge as I see it is our core type is essentially (simplified a bit):

[code]

So right now each test is itself an effect, which gives us a very natural way of describing effectual transformations at the per test level, which we ha

[2019-09-10 02:01] softinio commented on #1622
Yeah I verified over weekend that this totally is a circleci glitch. As we have a paid account will raise a support ticket with them about. Glad we have it documented here.

[2019-09-10 02:55] ghostdogpr commented on #1622
Seems like they fixed it: https://status.circleci.com/incidents/qfhr81gjzkb0
Closing this ticket

[2019-09-10 02:55] #1622 closed

[2019-09-10 03:37] quelgar commented on #1479
It may make sense to move zio-nio's buffer wrappers into core. I had planned to bring up the chunk ↔︎ buffer relationship at some point, because as things stand today zio-nio usually must copy when using chunks.

[2019-09-10 07:50] regiskuckaertz commented on #1629
I'll take this as a follow-up to #1595

[2019-09-10 10:58] adamgfraser commented on #1562
@jdegoes Do you have any other ideas here? Otherwise I am going to close.

[2019-09-10 12:07] vasilmkd commented on #1479
I'm curious to work on this. Has anyone picked this up yet?

[2019-09-10 12:11] Vilkina commented on #1600
I can try

[2019-09-10 12:21] regiskuckaertz commented on #1562
I have several other example in the streams tests. For simple types like `List[Int]` it's ok, but for anything else like tuples of eithers of options etc, it gets quickly hard to read.

[2019-09-10 12:24] adamgfraser commented on #1562
Okay, that is good feedback. Then I will definitely not close and will think more about this.

[2019-09-10 12:53] saeltz commented on #1567
@iravid , does this look good?
https://github.com/zio/zio/compare/master...saeltz:master

[2019-09-10 13:38] dpennell commented on #1627
@fsvehla I'm using a shared, long-lived Runtime, so this should be fine.

[2019-09-10 13:39] dpennell commented on #1627
@fsvehla Thanks for taking this on!

[2019-09-10 13:47] ghostdogpr commented on #1164
Closed by #1612

[2019-09-10 13:47] #1164 closed

[2019-09-10 15:41] vasilmkd commented on #1627
It's `Cancelable` and `Interruptible`.

[2019-09-10 16:11] neko-kai commented on #1630
Also [nyaya](https://github.com/japgolly/nyaya/) which purports to be way faster than scalacheck :+1:

[2019-09-10 20:59] vasilmkd commented on #1511
Any way to revive this discussion?

[2019-09-11 08:02] alexvanolst commented on #413
Would it be possible for a maintainer to update the list in the issue so it's a bit easier for new contributors to jump in. Currently the package names are not up to date and the completed scaladocs are not marked as done.

Current status as far as I can tell is:
- [x] zio.Ref
- [x] zio.RefM
- [ ] zio.Queue - _there are a couple more methods remaining after the PR from @saeltz_
- [ ] zio.Exit - _t

[2019-09-11 12:18] fsvehla opened #1642 "zio.BuildInfo: different contents in zio/zio-streams (sbt-assembly failure)"
I ran into this error while using sbt-assembly to build a uberjar containing all dependencies, of which I’m using `zio` as well as `zio-streams`

[code]

`zio.BuildInfo` output:

#### zio

[code]

#### zio-streams

[code]

I think this is a bug.

[2019-09-11 12:23] ghostdogpr commented on #1642
The same problem was solved in interop-cats by renaming the file: https://github.com/zio/interop-cats/pull/47

[2019-09-11 16:34] LukeDefeo opened #1645 "enrich api with dieSome and failSome"
Hello we have the following code in our codebase:

[code]

Basically there are somethings that we convert from the success side to die. This seems to be the best way to do it in the current api. I wrote the following extension method to try to make the api a bit nicer:

[code]

now the code reads:

[code]

What do you think about adding these methods to the core ZIO api. I've tried to follow the c

[2019-09-11 16:57] adamgfraser commented on #1645
@LukeDefeo There is actually ongoing work in #1610 to add something similar:

[code]

Would those address your use case? The discussion in that issue got a bit bogged down with other things but if so I can try to accelerate getting this in.

[2019-09-11 17:35] LukeDefeo commented on #1645
yes it would thanks. I would vote for the partial function approach as it lets you destructure product types but thats a minor quibble

[2019-09-12 08:43] ioleo opened #1646 "Proposal Cause.Stackless or Cause.Meta"
Following the discussion on #1610 in some cases we would like to:
* ignore traces in cause (both execution and stack)

[code]

* we'd like to avoid adding "special cases" for each new idea/feature that arises
* thence the proposal to add ability to enrich the cause structure with arbitrary metadata

[code]

[2019-09-12 09:15] ghostdogpr opened #1647 "Migrate all tests to ZIO Test"
Here's the list of tests to migrate to ZIO Test. Look at `ZQueueSpec` or `ZManagedSpec` for examples.
If you want to contribute this ticket, please comment to say which spec you're tackling.

- [x] CauseSpec
- [x] FiberLocalSpec
- [x] FiberRefSpec
- [x] FiberSpec
- [x] FunctionIOSpec
- [x] PromiseSpec
- [x] RefMSpec
- [x] RefSpec
- [x] ZIOSpec
- [x] ZManagedSpec
- [x] ZQueueSpec
- [x] ZScheduleSpe

[2019-09-12 10:42] iravid opened #1648 "Add more tests for ZSink combinators that concatenate leftovers"
Some combinators on ZSink concatenate leftovers. We should add regression tests that verify that the leftovers are concatenated in correct order.

[2019-09-12 10:57] vasilmkd opened #1649 "Modify the `ZStream#aggregate` state machine"
Follow up to #1560, which changes the encoding of `ZSink`.

After #1560 is merged, the `aggregate` combinators end up extracting the sink twice, in order to obtain the leftovers. This might be too expensive for some sinks and should be addressed. The solution most likely needs to modify the `State` sealed trait which encodes the possible states that the combinator can be in.

One further improveme

[2019-09-12 11:56] ioleo opened #1650 "Test isRight assertion double reporting"
Given a test of shape

[code]

the failure is reported as:

[code]

For larger multiline strings this clutters the test output.

I suggest we change the output for `isRight` to something like:

[code]

[2019-09-12 12:51] regiskuckaertz opened #1652 "ZIO Test: add generator for partial functions"
Add support for `Gen[R, PartialFunction[A, B]]`. It shouldn't be too hard to support total and partial functions on the back of the work done by @adamgfraser for `Gen[R, A => B]`.

[2019-09-12 12:52] regiskuckaertz opened #1653 "ZIO Test: Add support for effect generators"
Support `Gen[R, ZIO[Env, E, A]]`, or at least `Gen[R, IO[E, A]]`.

[2019-09-12 18:18] #1652 closed, assigned to adamgfraser

[2019-09-12 19:54] jdegoes opened #1658 "Checklist: Ensure methods are sorted alphabetically"

[2019-09-12 19:54] iravid opened #1659 "Add ZStream#bufferUnbounded, ZStream#bufferDropping, ZStream#bufferSliding"
These combinators should be identical to `ZStream#buffer`, but should construct a different underlying queue.

The same combinators should also be added to `ZStreamChunk`.

[2019-09-12 19:55] jdegoes opened #1660 "Checklist: Ensure ZIO.* methods are replicated to Task.*, IO.*, RIO.*, etc."

[2019-09-12 20:34] #1650 closed, assigned to nobody

[2019-09-12 23:48] MI3Guy opened #1663 "Chunk.drop results in NegativeArraySizeException"
When calling Chunk.drop with a value greater than the length, a java.lang.NegativeArraySizeException is thrown.

For instance:

    Chunk(1, 2, 5).drop(10) // throws

This issue does not occur if I create an AnyRef Chunk instead of Int.

    Chunk[AnyRef](new AnyRef()).drop(10) // does not throw

I'm running 1.0.0-RC12-1.

[2019-09-13 08:21] vasilmkd commented on #1663
I ran into this bug when implementing #1572.

This has already been fixed, but hasn't made a release yet.
https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/Chunk.scala#L55

[2019-09-13 08:37] LukaszByczynski opened #1666 "Add method that allows lift a synchronous effect into `ZManaged`"
As we discussed with @iravid at Gitter channel, it would be nice if ZIO ZManaged and Managed will have construction method from a synchronous effect like this:

`Managed.makeEffect(Files.createTempFile("xxxx", "yyyy"))(f => f.delete())`

I think above construction will remove a lot of cases where we need to write unnecessary boilerplate code by boxing a synchronous effect to `Task` and then call `

[2019-09-13 09:20] MI3Guy commented on #1663
Great. Thanks.

[2019-09-13 09:20] #1663 closed

[2019-09-13 12:44] ghostdogpr commented on #1496
Closed by #1510

[2019-09-13 12:44] #1496 closed

[2019-09-13 13:10] Twizty commented on #1660
Hi, I'd like to take on this issue. Is it still available or is it already taken for the hackathon?

[2019-09-13 13:25] #538 closed

[2019-09-13 13:33] ghostdogpr commented on #1605
Closed by #1560

[2019-09-13 13:33] #1605 closed

[2019-09-13 13:33] ghostdogpr commented on #1313
Closed by #1560

[2019-09-13 13:33] #1313 closed

[2019-09-13 17:31] iravid commented on #1567
@saeltz thanks for picking this up! Could you open a PR?

[2019-09-14 01:50] adamgfraser commented on #1511
Yes, I think we should. I just pushed a commit to #1523 to show what it would look like if we took out `acquire` and `release`. Let's discuss how we push this forward there.

[2019-09-14 08:47] iravid opened #1671 "Sink.foldWeighted can get stuck on a single element larger than max"
The following snippet will hang:

[code]

The reason is that `foldWeighted` (and `foldWeightedM`) will refuse to process an element that brings the weight over `max`, so transduce is perpetually stuck with a leftover.

Should we allow `foldWeighted` to create a single element batch with weight > max? I think this makes sense.

### Sidenote:

This is actually bigger than `foldWeighted`, and will ha

[2019-09-14 08:48] iravid commented on #1671
@vasilmkd @jdegoes @regiskuckaertz @adamgfraser What do you think?

[2019-09-14 08:51] vasilmkd commented on #1671
Agreed, dropping should only ever be user choice.

[2019-09-14 08:56] regiskuckaertz commented on #1671
Same here, either dropping or returning should be decided at the call site imo.

[2019-09-14 09:28] iravid commented on #1671
@vasilmkd @regiskuckaertz

Ok, so that's agreed. What do you think about the behavior of `foldWeighted`? I'm going back and forth on this, because I have a use case that would break if a single element batch larger than `max` would be created.

Maybe we should allow a function to be passed in that replaces the element? The user can then decide how to handle this case. That function would default t

[2019-09-14 09:52] regiskuckaertz commented on #1671
I like the function, that’s a great idea. What if it allowed the user to break down into smaller ones? Because if the default is identity, then isn’t the only alternative to drop some information? In your example say it would be to take the min between the element and the max, instead of returning `4 :: 1 :: Nil` or some such.

[2019-09-14 10:31] iravid commented on #1671
Oh yeah, that's cool. So we can do `A => Chunk[A]` (or `A => ZIO[Chunk[A]]` for `foldWeightedM`). And the resulting chunk is treated as a leftover, so its elements would be processed normally (and can be further decomposed). Big 👍

[2019-09-14 10:33] #1649 closed

[2019-09-14 14:32] iravid opened #1673 "Refactor ZStream#transduce to not use Sink#stepChunk"
The sink might signal completion in the middle of the chunk, which causes the rest of the elements to be discarded.

Working on a fix for this...

[2019-09-14 15:26] iravid opened #1676 "Refactor ZSink#collectAllWhileWith to not use stepChunk"
And use stepChunkSlice instead, which doesn't discard elements.

[2019-09-14 15:27] iravid opened #1677 "Refactor ZSink#chunked to not use stepChunk"
Should use stepChunkSlice instead.

[2019-09-14 15:27] iravid opened #1678 "Refactor ZSink#flatMap to not use stepChunk"
Should use stepChunkSlice instead.

[2019-09-14 19:15] #1671 closed

[2019-09-14 19:15] #1673 closed

[2019-09-14 19:19] vasilmkd commented on #1676
@iravid Can we fix these tonight?

[2019-09-14 19:20] #1666 closed

[2019-09-14 19:27] iravid commented on #1676
@vasilmkd If you have the cycles, go for it - otherwise I'll probably get around to it sometime during the week.

[2019-09-14 22:07] adamgfraser commented on #1314
@jaliss We may want to have people at the Warsaw Hackathon next weekend work on adding more assertions as well. Can we try to get the ones you have done merged this week so others can build on them? We can always open up a follow-up PR if there are other assertions you want to add that you haven't had a chance to implement yet.

Just a heads up we added a `containsString` assertion as part of #166

[2019-09-15 12:06] vasilmkd opened #1682 "ZSink#takeWhile continuation function is wrong"
Should be
`def cont(state: State) = state._2.isEmpty && self.cont(state._1)`.

The sink is done whenever a stream element does not pass the predicate and is returned as remainder.

[2019-09-15 12:39] jaliss commented on #1314
@adamgfraser sounds good.   I'll put up a PR this monday/tuesday.  Ok, I'll remove `containsString` from my changes then :)

[2019-09-15 13:10] #1677 closed

[2019-09-15 13:10] #1678 closed

[2019-09-15 13:55] #1566 closed

[2019-09-15 14:42] ghostdogpr commented on #1587
Fixed by #1613

[2019-09-15 14:42] #1587 closed

[2019-09-15 14:45] jaliss commented on #1314
@adamgfraser I just created a PR with the changes I had so far.  If it looks good we can merge and create new issues to add more assertions.

[2019-09-15 14:48] jdegoes opened #1684 "Add Meta term to Cause enumeration"
A new `Meta` tag can be attached to `Cause` to allow attachment of metadata.

There are three obvious options here.

One is supporting only _boolean metadata_. For example:

 - Should this stack trace be printed?
 - Is this a primary failure?
 - Did this failure come from a finalizer?
 - Etc.

[code]

This is very easy to use but only supports boolean metadata.

The second option is to allow typed

[2019-09-15 15:38] adamgfraser commented on #1314
@jaliss Awesome! Will take a look today.

[2019-09-15 18:06] neko-kai commented on #1684
Related: https://github.com/zio/zio/issues/1646 - there I propose a private product type in ZIO

[2019-09-16 14:39] jdegoes opened #1687 "Checklist: Make everything private that can / should be private"
All implementation details should be hidden away so they can be changed without breaking binary compatibility.

[2019-09-16 14:40] jdegoes commented on #427
It was previously decided we will **NOT** use Mima for 2.11, only 2.12+

[2019-09-16 19:41] jdegoes opened #1691 "ZIO Test: Make `failure` TestAspect"
Inspired by @adamgfraser's recent PR to Cats interop, I think two `failure` aspects would be nice:

 - `failure(p: Assertion[Cause[E]])` — Expects a failure that matches the predicate
 - `failure` — Expects a failure (shorthand for `failure(Assertion.anything)`

[2019-09-17 02:34] #1314 closed

[2019-09-17 02:48] jaliss commented on #1691
@jdegoes I’d like to take this.

[2019-09-17 08:56] jdegoes opened #1693 "ZIO Test: Add effectful suites"
This ticket is to track introduction of effectful suites into ZIO Test.

The end goal should be:

 - The new ability to provide an entire suite its dependency, a single time (while still retaining the ability to do this per test, as now)
 - Possibly, the ability to construct a suite dynamically from runtime data (I think this is unavoidable given (1), and if so, we should just embrace it)

Anythin

[2019-09-17 08:57] jdegoes commented on #1691
@jaliss Awesome, thank you! 🙏

[2019-09-17 09:12] adamgfraser commented on #1693
@jdegoes Completely agree. The latest version of #1664 goes quite very in that direction so I think if we refine that we should be able to more forward on this quite quickly..

[2019-09-17 09:32] adamgfraser commented on #1660
We don't have any companion object for `URIO` right now. Do we want to add that?

[2019-09-17 09:34] jdegoes commented on #1693
One way to do this:

[code]

Add another case:

[code]

Note that to be maximally useful (including solving (1) above), the effect could not be `UIO`, it would have to be `ZIO`, which means propagating `R` and `E` into `SpecCase`.

[2019-09-17 09:34] jdegoes commented on #1693
@adamgfraser Ah, I had no idea you were still working on that. Will take a look!

[2019-09-17 09:40] jdegoes commented on #1693
@adamgfraser Btw, with the above structure, note how it's possible to "pull" the effect out of `T` and place it directly in `SpecCase`.  That could make `T` just a test result.

[2019-09-17 09:44] adamgfraser commented on #1693
@jdegoes Yes that is very nice. I think it might also be possible to describe "pure" specs if we make `SuiteCase` and `TestCase` a subset of `PureCase`. Then we could describe specs that didn't involve any effects, which in particular could be nice for `ExecutedSpec`.

[2019-09-17 14:39] iravid commented on #1509
After experimenting with removing `A0`, the conclusion is that the inference is better with it, as it allows to keep `A` contravariant.

[2019-09-17 14:39] #1509 closed

[2019-09-17 15:07] LGLO commented on #1647
I'll try with STMSpec and merge StmIssue1587Spec to it.

[2019-09-17 16:36] mschuwalow commented on #1533
I'll take this one

[2019-09-17 20:20] #1676 closed

[2019-09-17 20:20] #1682 closed

[2019-09-17 20:52] #1533 closed

[2019-09-17 21:24] iravid opened #1697 "Add ZManaged#withEarlyRelease"
This should modify a `ZManaged[R, E, A]` to `ZManaged[R, E, (UIO[_], A)]` and provide a canceler that can be used to eagerly execute the finalizer.

The canceller should obviously run uninterruptibly, and if completed, should set a `Ref` that will cause the regular installed finalizer to not run.

[2019-09-18 18:13] #1653 closed

[2019-09-18 18:15] #1567 closed

[2019-09-18 18:30] jaliss opened #1702 "Add containsTheSameElements assertion"

[2019-09-18 18:32] adamgfraser commented on #1702
Good idea. You're thinking this would test whether the collection has the sale elements, regardless of ordering?

[2019-09-18 18:34] jaliss commented on #1702
Yes. Actually this is someting @ghostdogpr suggested in #1314 but I did not include it in the corresponding PR.

[2019-09-18 19:40] iravid opened #1704 "Add ZStream#paginate"
At the workshop on ZStream in Scala World, I wanted to demonstrate how to use ZStream to scroll through an S3 bucket listing.

The way S3's API works is like so:
- You query the `ListBucket` method and get back (simplified) `(List[Key], Option[ContToken])`.
- If the continuation token is defined, you need to query `ListBucket` again, and this time pass in the continuation token.

You'd think that

[2019-09-18 19:44] iravid opened #1705 "Add ZStream#mapConcat overloads for iterables"
I'm tired of writing `.mapConcat(Chunk.fromIterable)`.

[2019-09-18 22:32] adamgfraser commented on #1684
Is anyone working on this? Otherwise I can take it.

[2019-09-19 04:56] adamgfraser opened #1707 "Flaky FiberRef Test"
It appears to be related to one of the tests we added in #1594. Copying @mlangc.

[code]

https://circleci.com/gh/zio/zio/24880?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-19 05:37] jdegoes opened #1708 "Improve speed of publishing"
<https://github.com/xerial/sbt-sonatype/issues/89>

[2019-09-19 06:00] ghostdogpr commented on #1708
@jdegoes we already had https://github.com/zio/zio/issues/1589 😄

[2019-09-19 06:00] jdegoes commented on #1708
Closed in favor of #1589

[2019-09-19 06:00] #1708 closed

[2019-09-19 06:01] jdegoes commented on #1589
<xerial/sbt-sonatype#89>

[2019-09-19 09:46] hamednourhani opened #1710 "Adding more doctests to data types and introps"
This issue has been opened for new contributers on ZIO to be involved in the project and get deeper in zio api. Also doctest are testable scaladocs that will help the project users understand api usages and functionallities.
@jdegoes would you please add more guid for new comers.

[2019-09-19 11:43] jdegoes opened #1711 "Add ZStream.retry"
Retries on a failed pull according to the retry strategy..

This didn't make sense in the old encoding, but does in the new one.

/cc @iravid

[2019-09-19 12:02] iravid commented on #1711
This requires that we go over all the combinators and constructors and make sure they can be safely retried. Some of them aren't.

[2019-09-19 12:43] jdegoes commented on #1711
@iravid Isn't this also true of ordinary effects? `ZIO` provides `retry` method but it's hopeless to retry some things (e.g. loading a class).

[2019-09-19 13:12] iravid commented on #1711
@jdegoes Yeah, but most of the `Pull`s keep some internal state in refs that could get corrupted if errors occur. We have been assuming so far (through the contract of `Pull`) that if `Pull` gets interrupted or fails, it will not be called again (without recreating it through the `ZManaged` scope).

[2019-09-19 20:04] zezutom commented on #1687
I'd like to take it

[2019-09-19 20:29] zezutom commented on #1647
I'd like to take Duration and Serializable specs.

[2019-09-19 21:55] adamgfraser commented on #1647
I'm doing CauseSpec as part of #1706.

[2019-09-19 23:19] adamgfraser opened #1715 "Some Builds Are Timing Out in CI"
I'm seeing more builds timing out like [this](https://circleci.com/gh/zio/zio/25059?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) in situations where there don't seem to be any issues in the PR that would be causing it. Does anyone have an idea of whether this is a Circle CI issue or there is something in our codebase that is causing non-termination?

[code]

[2019-09-20 04:05] regiskuckaertz commented on #1715
So I’m not the only one. My builds are consistently timing out in CI too.

On Fri, 20 Sep 2019 at 00:19, Adam Fraser <notifications@github.com> wrote:

--
–Regis

--

This e-mail and all attachments are confidential and may also be
privileged. If you are not the named recipient, please notify the sender
and delete the e-mail and all attachments immediately. Do not disclose the
contents to another

[2019-09-20 06:02] mlangc commented on #1707
I'll look into it

[2019-09-20 06:04] regiskuckaertz commented on #1715
cc @NeQuissimus @softinio sorry to pull you in like that 😅 you seem to have a far better knowledge of circleci than I do, any help is mucho appreciado

[2019-09-20 12:31] regiskuckaertz commented on #1704
I'm on it.

[2019-09-20 15:07] fanf commented on #1275
Update: in Rudder, we tried to make the default import of an effect runs on `Blocking` (ie: our `IOResult.effect` adds a `Blocking`).
The performances are catastrophic, up to x10 longer compared to the previous version without ZIO.

As our application is rather big and a port from existing, non pure FP, code we seems to be left with the following option:

- remove ZIO and ack the experiment as a f

[2019-09-20 16:07] #1702 closed

[2019-09-20 16:10] jdegoes commented on #1275
@fanf The problem stems from the context switching, most likely (popping off the blocking pool after every primitive op). Though I need to benchmark to be sure.

To solve it now: simply switch your runtime to use fork/join thread pool. I can write that up if you like. This'll instantly solve 100% of your problems.

Longer term, the user won't have to care. Probably 2 months out, though.

@ashishpr

[2019-09-20 16:47] #1704 closed

[2019-09-20 16:58] fanf commented on #1275
@jdegoes you mean the `Blocking` threadpool? IE something like:
[code]

[2019-09-20 17:47] lemastero commented on #1647
I am attacking `FiberSpec`

[2019-09-20 18:18] LGLO commented on #1499
I'd like to take this!
I'll try to come with an idea tomorrow in the morning and discuss it with someone bright.
If doesn't go well I'll release by 3pm tomorrow.

[2019-09-20 18:20] LGLO commented on #1499
OFC if someone else wants this but was shy to announce, ping me and issue is yours :D

[2019-09-20 22:33] adamgfraser commented on #1697
I am working on this.

[2019-09-21 04:16] #1707 closed

[2019-09-21 06:37] emanb29 commented on #1524
Not sure if this is of any use, but I tried to get streams building on `0.19.1-bin-20190904-beba63a-NIGHTLY` and it seems like there's some differences between the Scala 2 and 3 type inference.

Adding an explicit type annotation (`[R1, Nothing, Nothing, Take[E1, B], (Take[E1, C], Loser)]` on the line beginning `left.raceWith` in ZStream.scala) on the aforementioned method actually causes the dott

[2019-09-21 07:10] kapke commented on #1647
I'll try to migrate JS specific ones.

[2019-09-21 07:43] kamilkloch commented on #1705
@iravid Do you mean
[code]
?

[2019-09-21 07:48] dzajkowski commented on #1414
@jczuchnowski looks like a basic implementation is straight forward: https://gist.github.com/viktorklang/5245161

[2019-09-21 08:06] iravid commented on #1705
@kamilkloch Yup!

[2019-09-21 08:11] ghostdogpr commented on #1561
Working on interop-java

[2019-09-21 08:17] #1642 closed

[2019-09-21 08:26] hanny24 commented on #1182
Hi, can I do this as a part of Warsaw Hackathon ?

[2019-09-21 08:30] vasilmkd commented on #1659
For transparency, I'm still working actively on this. I ran into a roadblock regarding `bufferDropping`. Solved it, working on the tests now. I will finish the PR shortly.

[2019-09-21 08:32] regiskuckaertz commented on #1182
@hanny24 by all means 🙏

[2019-09-21 08:46] wojtek-tg commented on #1647
I'd like to take a stab at `DurationSpec`

[2019-09-21 09:22] XLPI commented on #1647
Ok, I'll try pick easy one. Which one can you advice? @ghostdogpr

[2019-09-21 09:31] XLPI commented on #1647
I picked ExecutorSpec

[2019-09-21 09:33] kapke commented on #1647
`MutableConcurrentQueueSpec`and `OneShotSpec` are migrated too.

[2019-09-21 09:36] kapke commented on #1647
I'm starting migration for `FunctionIOSpec` now

[2019-09-21 09:46] adamgfraser commented on #1647
You're on fire! 🔥

[2019-09-21 09:47] #1589 closed

[2019-09-21 09:52] iravid opened #1729 "Add ZStream.fromIterator"

[2019-09-21 09:55] iravid opened #1730 "Add a method for converting ZStream[Byte] to a ZManaged[java.io.InputStream]"

[2019-09-21 09:56] sideeffffect commented on #1730
I'll do it :)

[2019-09-21 09:58] sideeffffect commented on #1729
I'll do it :)

[2019-09-21 10:10] kamilkloch commented on #1729
Will this work? ;)
[code]

[2019-09-21 10:13] sideeffffect commented on #1729
has to be
[code]
or maybe even
[code]

the reason is that `Iterator` is impure, mutable by nature and thus the stream will not be re-runnable

[2019-09-21 10:26] dzajkowski commented on #1499
just a couple of notes:
- it's not trivial to replicate, I needed to change .jvmopts: `-Xss1M`
- looks like suspending the loop fixes the failing case:
[code]

[2019-09-21 10:28] vasilmkd commented on #1659
I won't fight the inclusion of the buffering combinators to `ZStreamChunk` but I must say that they don't make much sense to me, because we are talking about queueing (and dropping) whole chunks of elements.

[2019-09-21 10:56] iravid opened #1732 "Add ZStream#chunkN"
A method for chunking elements into Chunks :-)

[2019-09-21 10:57] iravid commented on #1732
@LukaszByczynski

[2019-09-21 11:35] kamilkloch commented on #1705
Straightforward overload does not cut it:
[code]

Any ideas?

[2019-09-21 12:13] iravid commented on #1705
Ahh yeah. Bummer. How about just different names? mapConcat should use Iterable and we can rename the current one to mapConcatChunk.

[2019-09-21 12:43] jakubjanecek commented on #1660
I'd like to take this task as part of the hackathon.

[2019-09-21 12:50] vasilmkd commented on #1659
`ZStream#bufferDropping` and `ZStream#bufferSliding` are proving much more difficult than expected when it comes to error handling and stream end signalling.

[2019-09-21 12:51] vasilmkd commented on #1729
How is this different from `fromIterable`, geniunely curious?

[2019-09-21 13:09] sideeffffect commented on #1729
@vasilmkd `Iterable.iterator` always creates a fresh iterator (pointing to the first element). `Iterator` itself is a non-functional structure, which mutates on `.next()`

[2019-09-21 13:28] mijicd commented on #1647
I'll start with `RTSSpec` now.

[2019-09-21 13:40] Cereopsis commented on #1730
@iravid Any requirements on the completeness  the InputStream implementation i.e should `markSupported()` return `true`?

[2019-09-21 13:42] smart-ass commented on #1647
I'm taking `StackBoolSpec`

[2019-09-21 13:55] Cereopsis commented on #1730
Lol, answering my own question, I think no is the answer as it would seem problematic and anyway the default implementation is `false`. I guess the user (developer!) should be aware of the IOException thrown by `reset()`

[2019-09-21 14:36] kamilkloch commented on #1463
How should it differ from the readily available `ZStream#foldManaged`?

[2019-09-21 14:39] wojtek-tg commented on #1711
I'd like to try this but I have no idea if I won't go down some odd rabbit holes, I don't mind if anyone else picks it up in parallel.

[2019-09-21 14:41] zezutom commented on #1687
Working on it

[2019-09-21 14:47] ghostdogpr commented on #1647
@mijicd brave! 💪

[2019-09-21 14:54] jdegoes opened #1739 "Checklist: Make sure tests exist for all data types to be serializable"

[2019-09-21 14:59] jczuchnowski commented on #1414
Damn, this actually looks very promising!

[2019-09-21 15:04] #1697 closed

[2019-09-21 15:14] iravid commented on #1463
The signatures are:
[code]

[2019-09-21 15:16] iravid commented on #1463
@kamilkloch see above :-)

[2019-09-21 15:21] dzajkowski commented on #1647
will tackle `SemaphoreSpec`

[2019-09-21 15:29] kamilkloch commented on #1463
Thanks the extra info.
How these two should differ in implementation? The signatures are the same.

[2019-09-21 15:33] iravid commented on #1463
Sorry, the second one should return managed.

[2019-09-21 15:45] #1729 closed

[2019-09-21 15:54] jsilva commented on #1460
I am taking this one

[2019-09-21 15:59] jakubjanecek commented on #1660
I did my best to synchronize all the companion objects, PR is ready to be reviewed: https://github.com/zio/zio/pull/1746

[2019-09-21 16:04] #1526 closed

[2019-09-21 16:08] iravid opened #1747 "ZManaged#withEarlyRelease test is flaky"
[code]

@adamgfraser could you take a look?

[2019-09-21 16:43] ghostdogpr commented on #1561
Monix and Java done

[2019-09-21 16:53] adamgfraser commented on #1747
@iravid Will do.

[2019-09-21 17:00] #1660 closed

[2019-09-21 17:02] smart-ass commented on #1647
Taking `ZScheduleSpec`

[2019-09-21 17:21] jakubjanecek commented on #1739
I am taking this.

[2019-09-21 17:48] fsvehla commented on #1263
Is this actually taken for the hackathon?

[2019-09-21 17:50] zezutom commented on #1647
I take FiberLocalSpec

[2019-09-21 18:04] sideeffffect commented on #1561
will do guava

[2019-09-21 18:04] mtsokol commented on #1263
@fsvehla I've started it here https://github.com/zio/zio/pull/1276 and came up with idea in PR last comment according to given tip and it still waits for feedback. I'm not sure about it so feel free to look at it and give you opinion on that snippet.

[2019-09-21 18:11] kamilkloch commented on #1463
@jdegoes @regiskuckaertz @vasilmkd what is your take on the naming scheme here?
Not entirely sure about `fold(Left)(Managed)(M)`.

Current status:
[code]

Proposition:
- drop `Left` suffix,
- rename `fold`s with termination condition to `foldWhile`,
- append `M` to effectful versions

Possible variants:

[code]

[2019-09-21 18:13] vasilmkd commented on #1463
@kamilkloch I like your proposal.

[2019-09-21 18:36] jakubjanecek commented on #1739
- [x] Cause
- [x] Exit
- [x] FiberFailure
- [x] InterruptStatus
- [x] Promise
- [x] RefM
- [ ] ZSchedule

Tomas Herman is helping me and did others. We'll continue tomorrow.

[2019-09-21 18:50] fsvehla commented on #1263
@mtsokol are you still around? When will you leave tomorrow?

[2019-09-21 18:57] mtsokol commented on #1263
Yeah I'm I our conference room available until 22:00. Tomorrow I'm leaving 15:00, also available whole day 🙂

[2019-09-21 19:07] kamilkloch commented on #1463
Please take a look. An awful lot of combinators.

[2019-09-21 19:14] wojtek-tg commented on #1711
I added some of my work above but ran into a problem that I can't really debug. If anyone wants to pick it up go ahead.

[2019-09-21 19:15] fsvehla commented on #1263
Aah too bad we miss ourselves then, we have left for a pub and I will need to leave at 09:00 tomorrow.

Sent from my iPhone

[2019-09-21 20:12] vasilmkd opened #1759 "Remove existential types from the ZIO codebase"
Existential types are going away in Scala 3.

E.g. `ZStream#tap`.

[2019-09-21 20:23] chlin501 commented on #1647
I would like to take `ZIOSpecJvm`

[2019-09-21 20:57] LGLO commented on #1647
@chlin501 :muscle: Good luck, it's big one!
There is ZIOSpec.scala already with few test.
I'll sync with you because I've already migrated `foreachPar_` and `foreachParN` when helping @hanny24 with reimplementing these.

[2019-09-21 21:00] #1534 closed

[2019-09-21 21:03] iravid opened #1761 "Align Chunk's folding methods with ZStream"

[2019-09-21 21:16] adamgfraser commented on #1691
I think we may want the signature to be `failure(p: Assertion[TestFailure[E]])`. The reason is that a `ZTest` fails with a `TestFailure[E]` which can be either a `TestFailure.Runtime(cause: Cause[E])` or a `TestFailure.Assertion(result: TestResult)`. So if our predicate can only take a `Cause[E]` as a parameter we can essentially only check for runtime failures, whereas this signature would allow

[2019-09-21 21:39] ajaychandran opened #1762 "zio.Canceler should be parameterized"
Canceler should be changed to
[code]

[2019-09-21 21:43] vasilmkd commented on #1761
Follow up to #1756.

More discussion here #1463.

[2019-09-21 21:45] LGLO commented on #1691
My 2 cents after migrating and add some tests recently.
I like matchers, however because E is treated different to A, I used to `.flip` a lot. Expecting defects requires other kind of exercising (sandbox).
Assertion failures can be negated easily.
I think that `failure` of `fails` aspect should take `Assertion[E]` as a parameter
Later we could add `dies` aspect (there is a question about mapping `

[2019-09-21 22:39] ghostdogpr commented on #1463
Closed by #1756

[2019-09-21 22:39] #1463 closed

[2019-09-22 00:08] sideeffffect commented on #1561
guava done https://github.com/zio/interop-guava/pull/3

[2019-09-22 05:10] LGLO commented on #1499
@hanny24 is taking care of it as a part of #1182

[2019-09-22 05:27] #1747 closed

[2019-09-22 05:44] LGLO opened #1764 "'timeout' aspect stalls test if timeout happens with uninterruptible effect"
When using `@@nonFlaky` `TestAspect` and test repetitions exceed timeout aspect, I can observe that test doesn't finish, however it stops repeating case execution.

[2019-09-22 06:05] adamgfraser commented on #1764
I observed the same thing. Will look into this.

[2019-09-22 06:47] iravid opened #1765 "Make ZStream's combinators resilient to failures"
For issues such as #573 and #1711, we need to first audit the existing combinators and constructors and make sure they can handle being pulled again after a pull resulted in a failure.

After this is done, we can "loosen" `ZStream#process`'s and `Pull`'s contract to allow pulling again after a failure.

To verify that a combinator is resilient to failures, this is a good testcase (of course, after

[2019-09-22 06:48] iravid commented on #1524
Hey @emanb29, this is helpful! Would be great if you could submit a draft PR. We can then work on  a minimization of the compile failures and submit that to the Dotty team, I'm sure they'd be able to squash that out!

[2019-09-22 07:02] iravid opened #1766 "Create an interop-fs2 project for ZIO Streams"
Opening this ticket here just for tracking; project should probably be created in a separate repository.

Provide conversions from `ZStream` to `fs2.Stream` and from `fs2.Stream` to `ZStream`.

cc @fsvehla

[2019-09-22 07:43] XLPI commented on #1647
I take PlatformSpec

[2019-09-22 07:46] dkarlinsky commented on #1647
I'll take `SerializableSpec`

[2019-09-22 07:54] neko-kai commented on #1766
Can be an `Optional` object in interop-cats, same as `cats-mtl`... (There's already a PR for ZStream cats instances by @regiskuckaertz)

[2019-09-22 07:59] regiskuckaertz commented on #647
@jdegoes I can submit `ifThenElse` but isn't `asEffect` just:
[code]
?

[2019-09-22 08:00] iravid commented on #1766
Ah awesome. That's preferable.

[2019-09-22 08:02] regiskuckaertz commented on #1766
I'll add that to my PR

[2019-09-22 08:08] jakubjanecek commented on #1739
`RefM` is not serializable because it calls `fork` in `make`. This might be "fixed" in some future version.

[2019-09-22 08:49] sideeffffect commented on #1730
still free to take? if yes, I will try to tackle this

[2019-09-22 09:16] #1532 closed

[2019-09-22 09:38] Cereopsis commented on #1730
@sideeffffect Please feel free, I’m a little light on ZStream knowledge so although I think the end solution won’t be that complex, there’ll be a good bit of back and forth to get there 🤪. Not to sway your own style but I had a brief chat with @iravid yesterday and he mentioned that ZStreamEffectChunk might be useful?

[2019-09-22 09:57] ghostdogpr commented on #1460
Closed by #1772

[2019-09-22 09:57] #1460 closed

[2019-09-22 09:57] Cereopsis commented on #1730
@sideeffffect ...you at the hackathon, by the way?

[2019-09-22 10:06] ghostdogpr opened #1776 "Microsite publishing issue: unknown links"
@softinio https://circleci.com/gh/zio/zio/26796 there was some problem with links in the About page

[2019-09-22 10:10] dzajkowski commented on #1647
@lemastero I didn't notice that you already took `FiberSpec`. sorry!

[2019-09-22 11:27] sideeffffect commented on #1730
not anymore :D (at the airport now, but proudly attended :muscle: )

[2019-09-22 11:54] Jentsch commented on #786
I looked into this issue. The problem is that the JVM enforces to know the type of arrays. In Scala arrays looking like normal generics, but there aren't. This shows in this example:

[code]

The little `[` ist the representation of the JVM, that this is an array. The JVM is complaining, that `Array[String]` is not an `Array[Product]`, something that the JVM would never do for any other generic ty

[2019-09-22 12:43] wi101 commented on #786
`Chunk` should work with any type (even case classes) right?
Because this problem appears with any kind of ` Chunk`  using `Chunk#toArray`
should we think about a new way to make ClassTags?  cc @iravid

[2019-09-22 12:44] lemastero commented on #1711
Maybe a silly question, but can we now achieve with `ZSchedule`:
1) add a small random delay between retries (jitter)
2) perform retry up to N times (I would probably like to be able to log every retry)
3) add an exponential increase in delays (exponential backoff)

From my experience, it is very useful in some situations, to be able
4) to distinguish between failures that should be retried and th

[2019-09-22 12:56] lemastero commented on #272
I think that `circuit breaker` is one of essential feature for good streaming library. Is there a way to achieve this currently in ZIO?

[2019-09-22 13:10] wi101 commented on #786
if the ` A` is specialized it shouldn't accept ` String` or data types ?  Sorry about my ignorance on this, trying to understand why we should make it possible to accept String ..

[2019-09-22 13:16] ghostdogpr commented on #1561
Step 1 completed

[2019-09-22 13:30] XLPI commented on #1647
jvm/2.12/StacktracesSpec  - picked

[2019-09-22 13:43] LGLO commented on #1759
@vasilmkd could you point me to some article about existential types removal?

[2019-09-22 13:48] vasilmkd commented on #1759
https://dotty.epfl.ch/docs/reference/dropped-features/existential-types.html

[2019-09-22 13:50] LGLO commented on #1759
`Existential types using forSome have been dropped.`
`Existential types that can be expressed using only wildcards (but not forSome) are still supported, but are treated as refined types.`
I think we are safe using `_` and don't have to change to `Any` - do you see any benefit of having `Any` instead of `_`?

[2019-09-22 13:51] LGLO commented on #1759
I mean, there is no `forSome` in ZIO codebase.

[2019-09-22 13:54] vasilmkd commented on #1759
#1743.

I opened this issue because of a remark by @jdegoes. I just like to see consistency in the codebase. I'm ok with both solutions I suppose. :-)

[2019-09-22 13:55] adamgfraser commented on #1759
Are there any situations where `[_]` and `[Any]` would be semantically different?

[2019-09-22 13:59] vasilmkd commented on #1759
I'm guessing it depends on the variance of the type parameter? So for a contravariant parameter, it probably needs to be `Nothing`.

[2019-09-22 14:02] LGLO commented on #1759
I cannot contribute to the discussion about difference of `[_]` and `[Any]` I'd just hold on making massive changes without justification. Maybe someone has strong arguments in this discussion.