[2022-08-18 15:11] khajavi commented on #7215
@adamgfraser
Yes, that works. But I expect that `ZIO#provide` and `ZIO#provideLayer` have the same functionality, except the fact that the first one does metaprogramming and the other requires manual layer construction. If it is an expected behavior it also shouldn't work for `ZIO#provideLayer`.

[2022-08-18 15:22] adamgfraser commented on #7215
@khajavi I don't think that is the correct expectation. If you look at the signature of `provideLayer` it provides a layer which may have some dependencies of its own and returns a new workflow that has the dependencies of the provided layer. In contrast `provide` provides a collection of layers and returns a new workflow that has no dependencies at all. So this is expected behavior.

[2022-08-18 15:30] adamgfraser commented on #7216
I don't think this is correct. Since `2.0.0` there have been very changes. There has been a lot of documentation added which is on a separate release schedule but there have been very few changes to the underlying code. I tend to think it makes more sense to do releases when there are changes since there is no need for releases when there are not significant changes and this also lets us release m

[2022-08-18 15:34] khajavi commented on #7215
Thank you for the clarification.

[2022-08-18 15:34] #7215 closed, assigned to nobody

[2022-08-18 15:36] khajavi commented on #7185
It works correctly on `series/2.x`.

[2022-08-18 15:36] #7185 closed, assigned to nobody

[2022-08-18 15:43] adamgfraser commented on #7216
Just did a release.

[2022-08-18 16:36] frekw opened #7217 "Implement `Gauge#increment` and `Gauge#decrement`"
Ran across this when [trying to implement an in-flight requests metric for zio-http](https://github.com/dream11/zio-http/pull/1394).

There's currently no way to increment or decrement a gauge based on its current value. This makes metrics like these much harder to implement since I both need to maintain the state myself via a `Ref` or a `Ref.Synchronized` and have to trade off between correctness

[2022-08-18 17:30] guizmaii commented on #7216
Thanks @adamgfraser!

Personally, I'd prefer smaller releases that are delivered more often. Especially when it's patch releases like this one that doesn't require any migration effort.
It's easier to follow what changed and what has been fixed. It's also better when we are blocked by a bug present in the current latest version.

[2022-08-18 17:32] adamgfraser commented on #7216
@guizmaii Totally! If there is a big fix or feature you need feel free to reach out any time and should be able to do a release in pretty short order.

[2022-08-19 07:36] Fristi opened #7219 "ZIO.orElseOpt"
Does this exist already? Couldn't find it

[code]

[2022-08-19 07:40] adamgfraser commented on #7219
`left.some.orElse(right.some).unsome`

[2022-08-19 07:58] Fristi commented on #7219
Would it make sense to add a shortcut for this ? It might be a common thing right?

[2022-08-19 08:33] adamgfraser commented on #7219
It is a balance.

Any time we add a specialized operator for a `ZIO` with a certain data type inside it there is some convenience of being able to do something with a single operator.

At the same time, there are a very large number of these potential operators, for example you might want to do `orElse` with a `ZIO` with an `Either` inside of it or you might want to do other operations defined on

[2022-08-19 09:40] Fristi commented on #7219
Yea good points, it's nice to have a minimal set of exposed API

Type classes could solve the issue of defining the same behavior for the same 'shapes' however the ergonomics are not super good and staying away from that approach is one of the strengths of ZIO :)

[2022-08-19 09:40] #7219 closed, assigned to nobody

[2022-08-20 21:21] domdorn opened #7224 "2.0 unintuitive api: `runtime.unsafe.runToFuture`"
given a

[code]
it feels very unintuitive to have to write the following code to run an effect to a future:

[code]

why do I have to provide a `unsafe` to `runToFuture`, when I'm already calling `r.unsafe` ? This does not make any sense, especially as `Unsafe` has no methods or anything to implement. I already know that I'm doing something unsafe by calling `r.unsafe`

I also noticed that a depre

[2022-08-21 07:12] adamgfraser commented on #7224
There is a trade-off here between making it easy to use these unsafe operators and controlling their usage.

The problem with just using the `unsafe` prefix is that you know that you are using an unsafe operator, but the Scala compiler doesn't know and so it can't help you. The idea of the `Unsafe` capability is that operators that are unsafe require this capability and if you call this in a metho

[2022-08-22 09:57] inbrain opened #7228 "Using deterministic generation together with non-deterministic one destroys randomness"
Verified in zio 1.x (didn't check for 2.x)

Example:
[code]
Running this with default test settings prints the same string over and over. If we provide less amount of deterministic generators or less values for a generator, variability of values generated by non-deterministic ones will increase.
This behaviour even if intended is extremely confusing and hard to track, because I mistakenly assumed

[2022-08-22 12:22] LeonardMeyer commented on #7123
For anyone having a similar issue following the migration to 2.0, check your imports. Apparently in ZIO 2 the `Tag` type for Izumi is now proxied through a new ZIO type with the same name. The ZIO methods' implicits require the ZIO type, hence the confusion.

@adamgfraser But that's only one case of error. When it just really can't summon a ZIO `Tag` I have the same failure as OP. I've managed to

[2022-08-22 13:49] adamgfraser commented on #7228
This is expected behavior. When you combine multiple generators you are basically using `flatMap` to put them together. So the example above is something like:

[code]

So the generator isn't "losing" randomness, it is exhaustively exploring the possible values generated by the finite generators, which is the expected behavior.

To get the behavior I think you want you can just use `Gen.elements`

[2022-08-23 06:24] inbrain commented on #7228
@adamgfraser thank you, got it now, but yes, a hint in documentation would be really nice!

[2022-08-23 09:01] erdeszt opened #7229 "Accessing dependent types in the environment causes Defect in zio.Has at runtime"
I expected this code with a dependent type (`job.Impl`) to work but it causes a runtime error:

[code]

Scastie: https://scastie.scala-lang.org/h8axSmfTQW2rQzIlRGwwjA

Types are inferred correctly because if I remove the `provideSomeLayer` part I get a compile time error:
[code]

ZIO version: `1.0.16`

Stack trace:

[code]

[2022-08-23 09:25] TobiasPfeifer opened #7230 "logger of a Runtime is not propagated when constructing layers"
There is a problem when replacing the default logger on the `Runtime` and using the `Runtime` as a dependency in a service to run an effect to a `Future`. The effect that is `runToFuture` does not use the provided logger although it should be run by the same `Runtime`.

Snippet to reproduce: https://scastie.scala-lang.org/uMbGsvuARg6WNutvIDNEgA
The `ZIO.fromFuture(...runToFuture(...))` in this exa

[2022-08-23 09:43] erdeszt commented on #7229
I found a manual workaround by passing the `Tag[job.Impl]` manually to `ZIO.service`. I've only tested with one DT in my env so I'm not sure if I'm going to hit limitation `#3` from here: https://github.com/zio/izumi-reflect#limitations down the line.

[2022-08-23 14:51] LeonardMeyer commented on #7123
Nevermind, adding the `Tag` manually does not seem to be a great idea either. In my tests :

`Exception in thread "zio-fiber-7,6,1,0" java.lang.Error: Defect in zio.ZEnvironment: Could not find {ZAkkaServer & Scope} inside ZEnvironment`

I do have ZAkkaServer in my environment, the live implementation name is listed inside in the error. ZIO just seems confused because of the union type ?

[2022-08-23 15:38] adamgfraser commented on #7123
@LeonardMeyer You just need to to add a type annotation:

[code]

[2022-08-23 15:48] adamgfraser commented on #7230
@TobiasPfeifer You need to build the logging layer before the printer layer so that its configuration is set when the printer layer is created using `logger >>> PrinterService.live`.

[2022-08-23 15:56] johnduffell opened #7232 "Add support to ignore tests by tag"
At the moment it's possible to tag tests and then run them based on the tag
e.g. this snippet
[code]
then
`Test/runMain ExampleSpec -tags "-IntegrationTest"`

This is similar to the way to run tests by label documented here: https://zio.dev/reference/test/running-tests

However, it doesn't appear to be possible to only run the tests not tagged with that (or only run the untagged tests)

Having che

[2022-08-23 15:58] #6764 closed

[2022-08-23 19:18] adwells-ds opened #7233 "ZIO 2.0.1, FiberRuntime memory leak vol.2"
Apperantly we haven't completely fixed the previous issues https://github.com/zio/zio/issues/7066 and https://github.com/zio/zio-kafka/issues/485

For some reason succeeded `FiberRuntime's` continiue to live in memory with related resources
In case of `zio-kafka` it makes all kafka records not available for gc:
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/87975016/1

[2022-08-23 19:24] adamgfraser commented on #7233
@adwells-ds Will take a look! Thanks for the minimized reproducer!

[2022-08-23 22:28] TobiasPfeifer commented on #7230
@adamgfraser, thanks for your response. However, I feel the behavior without explicitly composing the logger with the layer is inconsistent. When constructing a layer `A` that needs a `B`, then `x.provide(A, B)` will inject `B` into `A`. The same is not true when constructing a layer `C` that needs a 'Runtime'-Layer i.e `x.provide(C, Runtime)`.

I'm aware that the `Runtime` requirement differs fro

[2022-08-23 22:42] adamgfraser commented on #7232
@johnduffell I think this would be a great feature to add. These types of command line interfaces are always going to have limitations in terms of expressivity but being able to include or exclude specified tags seems like a good set of features to have.

[2022-08-23 22:54] adamgfraser commented on #7230
@TobiasPfeifer Yes there is a difference because there is no basis for saying that `B` "needs" `A` in this case.

Consider the following layers:

[code]

In this case we can objectively say that `layer2` "needs" `layer1`. `layer2` requires a dependency, `Y` that is provided by `layer1`. We can formalize this notion by viewing each layer as an edge in a directed acyclic graph and layer construction

[2022-08-24 00:56] #7233 closed, assigned to adamgfraser

[2022-08-24 07:13] adwells-ds opened #7235 "ZIO 2.0.1, FiberRuntime memory leak, vol. 3"
Apparently.. https://github.com/zio/zio/issues/7233 solves only the primitive case, but when `FiberRuntime` has cross-reference on each other(?) and already succeeded it will not be removed from the `_children` queue(?) and will keep all related resources (this is exact https://github.com/zio/zio-kafka/issues/485 case)

How to reproduce(I tried to simplified it, but it is the smallest example I wa

[2022-08-24 09:11] 987Nabil commented on #7235
It would be really nice if this could be fixed asap and also have a patch release for ZIO, when done.

[2022-08-24 09:36] TobiasPfeifer commented on #7230
I understand your point, and changing the semantics of the `provide` macro might not be a great solution (or bringing back `Logging` to the Env-Param like it was with `ZEnv`).

Maybe I'm missing a way to configure a global Runtime that is used when constructing layers? I think this is an actual use case, especially for logging. Configuring logging at the top level of the application should also af

[2022-08-24 10:02] simlei opened #7236 "Cannot call macro class <case class> defined in the same source file"
This is a compile-time error. MRP below. The error message is:
`Cannot call macro class <case class> defined in the same source file`

ZIO version: 2.0.1

MRP:

[code]

https://scastie.scala-lang.org/1roKxCSYRRyzLpOpcQ9JLg

[2022-08-24 11:04] MI3Guy opened #7237 "Unsafe.unsafe breaking change in 2.0.1 under Scala 3"
Previously this function accepted a context function when building for Scala 3. In some refactoring, this appears to have been changed from a context function to a normal function.

Where previously it was possible to use

[code]

Now you must either use the older `implicit unsafe =>` syntax or manually create a given from the parameter. (I haven't found a direct alternative to `implicit` in this

[2022-08-24 12:08] adamgfraser commented on #7230
No, you want to factor out the logger.

[code]

[2022-08-24 12:11] adamgfraser commented on #7237
@MI3Guy Hi! There is an implicit conversion from an ordinary Scala function to an implicit function.

[code]

[2022-08-24 13:31] adamgfraser opened #7239 "Add Example of Dynamically Constructing Tests to ZIO Test Documentation"
It would be good to have an example of dynamically loading a collection of tests based on information from a file.

[2022-08-24 14:06] TobiasPfeifer commented on #7230
@adamgfraser thanks for your help and clarification

[2022-08-24 14:06] #7230 closed, assigned to nobody

[2022-08-24 14:07] n3ziniuka5 opened #7240 "ZStream.repeat is uninterruptible"
The following ZIO app cannot be terminated by SIGINT/SIGTERM

[code]

@adamgfraser confirmed that interruptions are only checked for in ZIO workflows. It's easy to verify that by just adding simple processing or using `repeatZIO`, the apps bellow interrupt as expected:
[code]
[code]

Completely side-effect-free apps, such as `ZStream.range(...).map(...)` are also uninterruptible

[2022-08-24 16:01] ak0rz opened #7241 "[zio-test-sbt] Use IntelliJRenderer when running sbt test inside Teamcity"
To propagate test statuses to CI correctly, zio-test-sbt may use IntelliJRenderer when it's running incide teamcity build

see https://github.com/zio/zio/blob/49fddba0e709528083da2f995fdc6537015f3bb9/test-sbt/js-jvm/src/main/scala/zio/test/sbt/ZTestEvent.scala#L26-L28

[2022-08-24 16:12] #7224 closed, assigned to nobody

[2022-08-24 16:12] domdorn commented on #7224
thanks for clarifying!

[2022-08-24 16:20] adamgfraser opened #7242 "Delete ZIO Test Services From Environment"

[2022-08-25 00:54] adamgfraser commented on #7235
Got a chance to look at this. I don't think it is actually related to the ZIO runtime. If you replace the use of `groupedWithin` in your example with `grouped` I observe constant memory consumption. This indicates that the issue is with `aggregateAsync`, which `groupedWithin` is implemented in terms of. This perhaps shouldn't be surprising as `aggregateAsync` is probably the most complex operator

[2022-08-25 06:26] adwells-ds commented on #7235
Thanks for pointing in the right direction and yeap, you are correct about the runtime, I just checked the `aggregateAsync` and there is an issue with a recursion:
https://github.com/zio/zio/blob/series/2.x/streams/shared/src/main/scala/zio/stream/ZStream.scala#L279-L282

But as I understand we always have `scheduleAggregate` as a last call, so why tail recursion is not working here?

I simplified

[2022-08-25 09:00] TobiasPfeifer commented on #7230
We found that this issue can also be addressed by chaining multiple calls  to `provide`:
[code]

[2022-08-25 11:49] #7168 closed, assigned to khajavi

[2022-08-25 11:51] jdsalchow opened #7249 "Add bounded generators for time variants"
Some generators of java.time.* values offer bounded versions, for example `Gen.localDateTime(min, max)`. Those don't exist consistently, in particular they are missing for

* `localDate`
* `localTime`
* `year`
* `yearMonth`
* `zonedDateTime`

[2022-08-25 12:00] jdsalchow commented on #7249
A PR is at https://github.com/zio/zio/pull/7250

[2022-08-25 13:27] MI3Guy commented on #7237
I would think that passing the context function as a literal would be more common than declaring it separately. There are plenty of ways that this can be worked around, of course. But it is no longer possible to just use it directly as in the example in the original post.

[2022-08-25 14:08] reimai commented on #6613
Actually, oom in zio 2 is different. It does not need a huge timeout in aggregation function, and heap content is different, full of ChannelExecuttors. I've [updated](https://github.com/reimai/zio_aggregate_oom/blob/master/src/main/scala/Main.scala) my example a bit (chunk size = 1, smaller timeout and batches). Ooms on the [version](https://github.com/zio/zio/pull/7234) with the recent leak fix.

[2022-08-25 14:16] narma commented on #7235
Related issue https://github.com/zio/zio/issues/6613

[2022-08-25 15:03] Marc-Ducret opened #7251 "ZIO.never zipPar ZIO.never becomes uninterruptible after garbage collection"
[code]
This program can be stopped with an interruption signal between the printing of `Started` and `GC will run`.
However, after `GC ran` is printed, the program cannot be stopped using an interruption signal.

In practice this behavior can happen relatively easily when running multiple web servers in parallel (many libraries use `ZIO.never` in the effect running the web server).

[2022-08-25 15:13] adamgfraser commented on #7251
@Marc-Ducret I am not able to reproduce on `series/2.x`.

[2022-08-25 15:30] Marc-Ducret commented on #7251
I have tested with:
[code]
And somehow it works as described every time for me
![image](https://user-images.githubusercontent.com/2799996/186706570-6c924e58-a2a3-4bb7-9d44-84fa5e0cc6db.png)
![image](https://user-images.githubusercontent.com/2799996/186706705-5f5609ae-6f0c-42d5-8787-7149319b161e.png)

build.sbt
[code]

Edit:
It also does as described when running with `sbt run TestZIOPar` and using

[2022-08-25 15:39] adamgfraser commented on #7235
@ad-wells The use of the for comprehension in your example above is not effectually tail recursive since the de-sugaring adds a final `map` after the recursive call to `schedule`. Your first example will work in constant memory if you rewrite `scheduleIO` as follows:

[code]

[2022-08-25 16:30] adamgfraser commented on #7251
Minimized to just use ZIO:

[code]

[2022-08-25 17:03] ak0rz commented on #7235
@adamgfraser

It would not with pretty common `better-monadic-for` scalac plugin.

Just to mention it. :)

[2022-08-25 17:21] adamgfraser commented on #7235
@ya-goodfella I'm not a fan of third party compiler plugins versus fixing the language itself but you can do what you want. 😃

[2022-08-26 00:52] #7251 closed, assigned to adamgfraser

[2022-08-26 04:38] #7249 closed, assigned to nobody

[2022-08-26 04:38] #7239 closed, assigned to khajavi

[2022-08-26 06:28] #7235 closed, assigned to adamgfraser

[2022-08-26 06:39] jacobpovar opened #7257 "ZIO 2.0 Performance degradation when using provideLayer"
Hi! First of all, thank you for all the hard work your put into making ZIO 2.0 release!

After upgrading my app to ZIO 2.0.1 I noticed much higher CPU usage (about 50% increase).

I'm using ZIO with Quill library, and internally it uses the following pattern - it calls provideLayer to provide DataSource into ZIO[DataSource, E, A] to make it ZIO[Any, E, A], so the dataSource is hidden from other co

[2022-08-26 06:48] ak0rz commented on #7235
@adamgfraser could you please make a maintenance release with that fix? Memory leak in ZStream is a major issue for some of our applications which blocks their transition to zio2.

Thanks!

cc @darl

[2022-08-26 08:18] adamgfraser commented on #7235
@ya-goodfella Yes but let's make sure this actually fixes the issue for the affected users first.

[2022-08-26 08:31] adamgfraser commented on #7257
@jacobpovar Hi! It may be possible to further optimize `ZEnvironment` but this usage is actually an anti-pattern.

Instead of doing this:

[code]

You want to do this:

[code]

There is no need to use the accessor `InnerService.foo` to access an `InnerService` in the environment and then provide it because you just have an `InnerService` sitting there as a constructor parameter!

We recommend agai

[2022-08-26 09:13] adwells-ds commented on #7235
@adamgfraser Thanks for the fix, I just tested it with original app and `zio-kafka` consumer as well, no signs of any old/new memory leaks, looks pretty stable :+1:

[2022-08-26 11:34] jacobpovar commented on #7257
Thank you for the clarification

[2022-08-26 11:34] #7257 closed, assigned to nobody

[2022-08-26 12:02] reimai commented on #6613
Yeah, https://github.com/zio/zio/issues/7235 fixes it for zio2, thanks.
Still fails on series/1.x

[2022-08-26 12:02] bertlebee opened #7258 "Add ZSink#ensuring"

[2022-08-26 12:13] #7242 closed, assigned to adamgfraser

[2022-08-26 12:22] bertlebee commented on #7258
i'll take this

[2022-08-26 12:25] ak0rz commented on #7235
@adamgfraser our leak seems to be resolved in latest zio2 snapshot, thanks.

[2022-08-26 13:11] adamgfraser commented on #7258
Should be pretty straightforward to implement in terms of `ZChannel#ensuring`.

[2022-08-26 14:25] 987Nabil opened #7260 "Significant differences between rendering of `assertTrue(A && B)` and `assertTrue(A) && assertTrue(B)`"
Scala 3 + ZIO 2.0.1

[code]

Output

[code]

vs

[code]

Output

[code]
Neither is `two = false` nor can I see infos about `three == four`.
But both outputs are getting printed twice. Looks to me like there is a bug.

[2022-08-26 14:27] #7258 closed, assigned to bertlebee

[2022-08-26 14:50] adamgfraser commented on #7260
@kitlangton You want to take a look?

[2022-08-26 16:26] bertlebee opened #7263 "`RuntimeFlag.OpLog` is ignored"
Op logging does not exist!
I'll look into this

[2022-08-27 12:54] adamgfraser opened #7264 "Add Documentation Regarding Creating Custom Top Level Runtimes"
Sometimes users want the ability to customize a `Runtime` at the top of their application to create a `Runtime` with their configuration settings .

In ZIO 2 layers provide a consistent way to do all runtime customization, including setting `RuntimeConfigFlags`, setting `FiberRef` values, and performing other configuration that is potentially effectual and resourceful such as loading configuration

[2022-08-27 13:03] Wosin commented on #7260
@adamgfraser I can take a look at that

[2022-08-27 13:04] adamgfraser commented on #7260
@Wosin Awesome!

[2022-08-27 18:57] ouertani commented on #7216
@adamgfraser @ya-goodfella, I would also recommend that ZIOs community libraries such [ZIO AMQP](https://zio.dev/resources/ecosystem/community/zio-amqp)   or [ZIO Arrow](https://zio.dev/resources/ecosystem/community/zio-arrow) to be aligned with the same version numbering ( at least the major and minor).

[2022-08-27 19:07] adamgfraser commented on #7216
@ouertani I don't know if that is realistic considering that these projects have their own release cycles. For example ZIO Config is on version 3.0. In addition, community libraries are maintained by authors outside the ZIO organization so we don't have control over their versioning schemes.

I think a more sustainable way to address this is is probably by making it easier to find the latest versi

[2022-08-27 19:16] ouertani commented on #7216
@adamgfraser Indeed such governance is not easy at all, but will really help to create a more trusted and robust ecosystem, compatibility where all components **tested** to work by default together ala _Spring_.  At least, all official libraries to be aligned. The alignment includes compatibility tests, documentations (updates with new features), one release note, ...

[2022-08-28 00:29] adamgfraser commented on #7216
@ouertani Definitely agree with the sentiment! 😃

Don't think the particular proposal regarding versioning makes sense because it would make it impossible for one ZIO library to release a new major or minor version until other libraries released one, even though some libraries such as ZIO itself are much more stable and others are evolving much more quickly.

However, we are working on a variety o

[2022-08-28 00:29] #7216 closed, assigned to nobody

[2022-08-28 00:39] adamgfraser commented on #7173
Going to close this as I believe this has been fixed by recent improvements to tracing but feel free to open again with a small reproducer if you are still having issues.

[2022-08-28 00:39] #7173 closed, assigned to nobody

[2022-08-28 00:40] adamgfraser commented on #7123
Going to close as there does not appear to be an issue here other than needing to specify the right type parameter but feel free to open again with a small reproducer if you are still having issues.

[2022-08-28 00:40] #7123 closed, assigned to nobody

[2022-08-28 00:41] adamgfraser commented on #7130
@khajavi Do you want to add a note to the documentation about this?

[2022-08-28 17:13] sbosley commented on #7237
I encountered this same issue when I upgraded a project from 2.0.0 to 2.0.1. Under 2.0.0, `Unsafe.unsafe { runtime.unsafe.run(...) }` compiled and ran without issue. After updating to 2.0.1, it fails to compile with:

[code]

I was able to work around this by changing the code to `Unsafe.unsafe { unsafe ?=> runtime.unsafe.run(...) }`, which isn't too big a deal. Nevertheless, it does seem like it

[2022-08-28 17:52] adamgfraser commented on #7237
Yes. The change is binary compatible and we thought it was source compatible but it looks like due to implicit resolution issues it is not in some cases. Basically if your lambda just requires a given `Unsafe` it works as shown in the example above button if it requires additional given parameters as well. We are working on this and have opened a Scala compiler issue for it.

[2022-08-29 08:32] kpodsiad opened #7275 "Consider more type safe alternative of `unit`"
What do you think of adding `discard` method as an improved `unit`? It's more typesafe and can prevent bugs like changing flatMap -> map during refactor.
[code]

I'd say that it's even useful when relying solely on type inference as one gets information what evidence parameter was generated
<img width="694" alt="Screenshot 2022-08-29 at 10 29 35" src="https://user-images.githubusercontent.com/3712

[2022-08-29 12:06] bertlebee commented on #7240
I'll take this one

[2022-08-29 12:58] bertlebee opened #7277 "Spurious streams test failure"
happens not infrequently

to reproduce:
`streamsTestsJVM/testOnly *.ZChannelSpec -- -t "simple merge all"`

a couple of examples:
- ZChannelSpec / interpreter / ZChannel#mergeAll / simple merge all
        ✗ Set2(1, 6) was not equal to Set3(1, 4, 9)
        chunk.toSet did not satisfy equalTo(Set(1, 4, 9))
        chunk.toSet = Set2(1, 6)
        at /home/rob/code/zio/streams-tests/shared/src/test

[2022-08-29 16:02] adamgfraser commented on #7277
I can reproduce locally.

[2022-08-29 21:45] adamgfraser commented on #7275
That is definitely an interesting idea!

My main concern is that people hate adding type annotations except where they absolutely have to. In addition, there are many cases where a value is discarded without `unit` being called so this seems to cover only a fraction of cases where a value is accidentally discarded. There are also a variety of other tools such as the ZIO Intellij plugin to warn abo

[2022-08-30 01:12] adamgfraser commented on #7214
@Salamahin You're right that it doesn't. I don't think there is any particular but it doesn't seem like there has been a lot of demand for schedules with resolution below one millisecond. Unfortunately I think due to binary compatibility we would need to create a different operator if we wanted to support this.

[2022-08-30 01:16] adamgfraser commented on #7241
@swoogles Can you take a look at this?

[2022-08-30 01:25] adamgfraser commented on #7236
@kitlangton Do you think this can be improved?

[2022-08-30 01:30] adamgfraser commented on #7229
@erdeszt Hi! Can you please open an issue in `izumi-reflect` for this?

[2022-08-30 01:34] #7169 closed, assigned to nobody

[2022-08-30 01:36] adamgfraser commented on #7158
Would be great if we could minimize this further!

[2022-08-30 01:37] adamgfraser commented on #7172
@grouzen Thank you! 🙏

[2022-08-30 01:38] adamgfraser commented on #7182
@kitlangton Can you take a look?

[2022-08-30 01:43] adamgfraser commented on #7209
I think you can use the `noWarn` annotation to silence this.

@kitlangton Do you think it would make sense to add a layer to control this?

[2022-08-30 01:46] adamgfraser commented on #7184
Path dependent types are generally not supported.

If you can minimize to not involve and submit an issue to `izumi-reflect` that is going to be the best path to getting this resolved, if it is possible.

[2022-08-30 01:47] adamgfraser commented on #7198
We should either widen or fail the compilation because the types do not match but we definitely shouldn't crash.

[2022-08-30 02:41] #7228 closed, assigned to khajavi

[2022-08-30 03:48] swoogles commented on #7241
@ya-goodfella Deciding how to tackle this.

Looks like checking for the `TEAMCITY_VERSION` environment variable is the default way to recognize if you're running in that environment?

We're a bit wary of adding custom logic to recognize different CI environments. What do you think about letting users specify which Renderer to use through some configuration channel?

Also, are you maintaining any o

[2022-08-30 04:14] adamgfraser commented on #7217
This could potentially just be represented using two counters, for example for started requests and completed requests.

[2022-08-30 04:22] adamgfraser commented on #7210
That is a very weird error!

[2022-08-30 04:52] Salamahin commented on #7214
Well for me scheduling more than 1k messages per second sounds reasonable. For example in some load-testing suites or similar. I'd say that in many cases rate of 1k msg/sec is very low for modern chips.

On the other hand Im a bit confused with the binary compatibility. See, right now the attempt of scheduling below 1ms would cause an error (see code snippet bellow). Do you expect that there are s

[2022-08-30 05:01] adamgfraser commented on #7214
No the issue is that the signature is currently:

[code]

Notice that the type of the state of the internal schedule is exposed in the type signature here. This supports serializing and deserializing schedules in a type safe way but means that changing the state of the schedule, which I think would be necessary to support nanosecond precision, would require changing the type signature, which would

[2022-08-30 05:39] adamgfraser opened #7281 "zio-test: Better Support For Custom Equality"
It would be nice to have a better solution for situations like:

[code]

We have `Assertion.approximatelyEquals` but that works on individual values rather than nested ones. Users can use `Equal` for ZIO Prelude but that does not give nice error messages.

@kitlangton Maybe we can leverage `Diff` for this?

[2022-08-30 06:13] frekw commented on #7217
Just for context;

It's true that might be a workaround in some scenarios.

However, for me, I have a reliability team at `$WORK` that has a policy that will not allow me to deploy HTTP (or gRPC for that matter) applications without certain metrics, `http_inflight_requests_total` being one of them.

The code in `zio-http` has been extracted out of some internal support libs we use.  We started out

[2022-08-30 06:20] adamgfraser commented on #7217
Isn't `http_inflight_requests_total` just `http_requests_started` - `http_requests_completed`?

[2022-08-30 07:15] adamgfraser commented on #7217
I have an idea for this. Will post something tomorrow.

[2022-08-30 07:36] frekw commented on #7217
Amazing. 🙏

Just ping if there's anything I can do, I'd be super happy to help out with making this happen!

[2022-08-30 08:27] domdorn commented on #7281
I'd like to add the sample I brought up in Discord yesterday.

My need is to fuzzy compare the doubles in the leafs of this or similar - possibly more deeply nested - structures:

[code]

Ideally I only want to write a `Equals[Double]` or `Equals[Leaf]` do be able to accomplish this.
I'd also like to have the usual diffing for when the equals check fails.

Could we maybe easily accomplish this by

[2022-08-30 08:39] Salamahin commented on #7214
Yes, i've missed the signature, thanks.

In general case I don't think that sleeping or delaying is a workaround, because `fixed` tries to enforce rates, in opposite to `spaced`, that basically looks working as on your example

[2022-08-30 09:18] EvgenyAfanasev opened #7283 "Fiber hangs in ZStream#mapZIOParUnordered"
[code]

When I run this, 2 fibers starts fine, but the next fiber hangs. If I change `mapZIOParUnordered` to `mapZIOPar`, all

Version: 2.0.2

[2022-08-30 09:20] adamgfraser commented on #7283
Thanks for reporting! Will take a look!

[2022-08-30 09:34] YulawOne commented on #7275
What about add type check, that unit is not ZIO instance?
[code]

[2022-08-30 09:45] adamgfraser commented on #7275
This is not a binary compatible change but I don't think it is a bad idea for ZIO 3. It still does have the problem that many cases of value discarding occur when `unit` is not called at all which this does not help with. I'm also not sure how large a problem this is, though I'm sure it varies among teams.

[2022-08-30 10:00] frekw commented on #7217
Yes, but in order to avoid 2x performance and storage overhead when querying, you'd have to setup a [recording rule](https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/#recording-rules) to expose it as a single metric, which makes it harder to ship it as a "complete" solution.

[2022-08-30 11:19] adamgfraser commented on #7283
@EvgenyAfanasev What is `some_zio_effect`? I am not able to reproduce, at least with a simple ZIO workflow.

[2022-08-30 17:38] davidlar opened #7288 "Interruption error when providing layer"
Hi @adamgfraser!

I have a service with a lot of layers with fairly complicated acquire functions. The service worked fine with ZIO 2.0.0 but when I updated to ZIO 2.0.1 (or 2.0.2) it started to crash on startup in about 20-30 % of the cases. It seems to be some low level interruption from some of the layers that surfaces and interrupts the whole application when I do program.provide().
I tracked

[2022-08-30 17:56] adamgfraser commented on #7288
@davidlar Hi! Thanks for reporting and for tracking it down! Can you see if #7289 resolves your issue?

[2022-08-30 18:25] davidlar commented on #7288
@adamgfraser it works like a charm! :smiley:
I tested over 20 times without failure!
Thanks a lot for the quick fix!

[2022-08-30 18:33] adamgfraser commented on #7288
@davidlar Awesome!

[2022-08-30 22:36] berman7 opened #7290 "ZIO 2.0.2: MatchError from ZIO.attempt when provided an empty trace"
When providing `Trace.empty` to a `ZIO.attempt(..)` that fails - we get a match error from ZIO internal code originating in `Trace`.

Reproduce as follows:

`Unsafe.unsafe { implicit u =>
          zio.Runtime.default.unsafe.run(
                 zio.ZIO.attempt(throw new RuntimeException())(zio.Trace.empty).ignore)
                    .getOrThrowFiberFailure()
 }`

throws a MatchError:
`Exception

[2022-08-30 22:54] adamgfraser commented on #7290
@berman7 Thanks for reporting! This will be fixed in the next release.

[2022-08-30 22:55] berman7 commented on #7290
Awesome, thanks for the quick response.

[2022-08-30 23:02] #7240 closed, assigned to bertlebee

[2022-08-31 08:59] #7290 closed, assigned to adamgfraser

[2022-08-31 13:55] ak0rz commented on #7241
@swoogles

Yep, looks like [it's a preferred way of checking Teamcity environment](https://www.jetbrains.com/help/teamcity/predefined-build-parameters.html#Predefined+Server+Build+Parameters).

I'm ok with that, that's what I was thinking about too - a composable and configurable renderers; although I don't know which way of doing might be user-friendly. AFAIK, sbt doesn't provide a way to configu

[2022-08-31 15:51] adamgfraser commented on #7229
Closing this issue as the original usage where the path dependent type is still abstract is not supported. This can be done as shown above or there is another example in the linked issue.

[2022-08-31 15:51] #7229 closed, assigned to nobody

[2022-08-31 17:45] somdoron opened #7293 "[zio1] ZStream.mapMParUnordered prevents stream from failing with error"
With zio version 1.0.16 `mapMParUnordered` prevents the stream from failing, test below:

[code]

[2022-08-31 18:07] adamgfraser commented on #7293
@somdoron Thanks for reporting!

[2022-08-31 19:51] somdoron commented on #7293
@adamgfraser I think the issue is interdependencies between the different fibers, the problem is that flatMapPar is using [Fiber.interruptAll](https://github.com/zio/zio/blob/series/1.x/streams/shared/src/main/scala/zio/stream/ZStream.scala#L1504), but the order interrupting is important, especially when using the blocking variants, I can see one fiber waiting on another fiber, that is in the list

[2022-08-31 19:54] luis3m commented on #7293
Indeed that small change fixes the problem: https://scastie.scala-lang.org/PXSa5XjoTTW5Vq6SPjP8gQ

[2022-09-01 00:41] #7293 closed, assigned to nobody

[2022-09-01 09:58] #3868 closed

[2022-09-01 14:01] davidlar opened #7299 "Interrupted in finalizer"
Hi @adamgfraser!

Got interrupted in the finalizer of ensuring during layer release. Finally managed to create a reproducer https://github.com/davidlar/zio-issue-1.
The culprit seems to be a call to disconnect in ZPool. I'm not sure if the problem is disconnect itself or the usage of it.
There are 2 main classes in the reproducer.
One uses the standard ZPool and gets interrupted in the finalizer.

[2022-09-01 14:02] adamgfraser commented on #7299
@davidlar Thanks for reporting and for the reproducer! Will take a look!

[2022-09-01 19:49] #7237 closed, assigned to adamgfraser

[2022-09-01 19:50] #7288 closed, assigned to adamgfraser

[2022-09-01 19:55] #7214 closed, assigned to adamgfraser

[2022-09-02 04:15] adamgfraser commented on #7299
I see the issue. Working on a fix.

[2022-09-02 08:56] dacr opened #7301 "zio-streams ZStream collectZIO stucked forever"
With zio-streams (2.0.0), also using zio-nio (2.0.0) , the following code stucks forever  because of the `.map(ts => ts -> file)` instruction within the `collectZIO` operation on a ZStream
[code]
thanks to the logs I can see that it stucks on the first collected entry;  If I remove  `.map(ts => ts -> file)` it runs perfectly and returns the right amount of file for my first test case.

Also if I r

[2022-09-02 09:10] dacr commented on #7301
full source code is available here : https://gist.github.com/dacr/96450a3133218767e833cd490d180dcf

[2022-09-02 14:26] #7264 closed, assigned to khajavi

[2022-09-02 15:03] adamgfraser commented on #7301
@dacr Hi! I took a look at the implementation of `collectZIO` and did not observe any obvious issues. I also tested it with a variety of inputs and was not able to reproduce this issue. I also notice that one of the threads is waiting on a class initiation monitor.

Can you minimize further to something that can be run without additional dependencies or other files or environment variables?

[2022-09-02 19:10] tim-2022 opened #7302 "StackOverflow in EnvironmentTag with simple ZIO 2.0.0 app"
The following application causes a stack overflow:

[code]

The `EnvironmentTag` macro recursively calls the `environmentTag` method.

This problem still exists under 2.0.2.  It is not alleviated by making "run" actually require `Thing` (e.g. require it via `ZIO.service`, and then print it).  It also is not alleviated by making a `Thing` a top-level class, outside `ProblemDemo`.

[2022-09-02 20:17] adamgfraser commented on #7302
Your definition of `environmentTag` is infinitely recursive. In addition, I don't think you can define `Thing` within the same object. You can rewrite your example as:

[code]

[2022-09-02 21:18] lwilli opened #7304 "Documentation: Ref link is broken"
Under https://zio.dev/reference/#state-management, the `Ref` link points to https://zio.dev/reference/state/ref.md, which doesn't exist. I also noticed in the [Concurrency Primitives section](https://zio.dev/reference/#concurrency-primitives) there is another [`Ref` link](https://zio.dev/reference/concurrency/ref/), which does work.

As a ZIO newcomer, it's a little confusing if these are intended

[2022-09-02 21:19] tim-2022 commented on #7302
Thank you so much, Adam.  Sadly, I had tried that possibility; it also yielded the same result.

Weirdly, when I tried pasting your exact example, that ran!  Went back to mine, and edited it step-by-step until it looks like yours: stack overflow every time.  Renaming them (and `Thing`) various ways did not alter their behavior.  (IntelliJ)

Checking to see if there was something odd in my environm

[2022-09-02 21:28] adamgfraser commented on #7302
Your example still contains an infinitely recursive definition of `environmentTag`. See corrected version below:

[code]

[2022-09-02 21:34] tim-2022 commented on #7302
Ah! I see it now!  When the IDE constructed my example class, it put the "implicit" keyword on environmentTag, since the parent trait (`ZIOApp`) defines that `def` as implicit.  But that actually must be removed in order for it to work correctly.

THANK YOU!

[2022-09-02 21:36] tim-2022 commented on #7302
Resolved.  Thank you very much, Adam.

[2022-09-02 21:37] #7302 closed, assigned to adamgfraser

[2022-09-02 21:37] adamgfraser commented on #7304
@lwilli Thanks for reporting and welcome to ZIO! Just submitted a PR to fix this.

[2022-09-02 22:35] #7304 closed, assigned to adamgfraser

[2022-09-03 08:02] dacr commented on #7301
may be it is related to the way scala-cli work :( So first here the two simplified test case :
- KO using collectZIO : https://gist.github.com/dacr/1edeb107fb650d1558095c4984e490c2
- OK using mapZIO : https://gist.github.com/dacr/26132a03a758fcc56a3833895887c251

For the KO collectZIO case using scala-cli for its execution :
[code]

I'm going right now to check how it works in a standard execution

[2022-09-03 08:13] dacr commented on #7301
OK this is probably a border side effect linked to scala-cli :( because if I run exactly the same code in a traditional way, it works :
[code]

I'm going to add more input to a scala-cli issue (https://github.com/VirtusLab/scala-cli/issues/532) I've written some times ago, and the described workaround, to this issue, object encapsulation, is in fact not a good work around as shown by this behavior

[2022-09-03 09:50] NavidJalali commented on #7236
Just out of curiosity, was this on scala 3?

[2022-09-03 14:19] adamgfraser commented on #7301
@dacr No worries! Love all your examples!

[2022-09-03 14:19] #7301 closed, assigned to adamgfraser

[2022-09-03 22:46] kitlangton commented on #7236
This is a Scala 3 bug. I think they fixed in in a patch. But it may not be released yet. There's a merged PR in the dotty repo.

[2022-09-04 07:10] NavidJalali commented on #7236
https://github.com/lampepfl/dotty/issues/12498
Next release will have the fixes, looks like you might find a snapshot/nightly with the fix if its urgent but definitely it's not a problem with ZIO :D

[2022-09-04 07:13] NavidJalali commented on #7283
I think **_MAYBE_** I might have been able to reproduce this, but I cannot yet minimize it further, also it was very flakey. But will comment here if I can find a minimal reproducer

[2022-09-04 11:45] #7236 closed, assigned to kitlangton

[2022-09-04 11:56] Wosin commented on #7232
@adamgfraser  we can close that one :)

[2022-09-04 11:59] #7232 closed, assigned to nobody

[2022-09-06 14:05] zeal18 opened #7314 "ZIO 2.0 Test: TestClock does not adjust time deeper than one forked effect"
ZIO: 2.0.2
Scala: 2.13.8

[code]

The test case hangs forever, which could mean that the TestClock is inside, but adjustment works only for the first fork.
The real code is a bit more complicated but the idea is the same: inside of one async effect there is another async scheduled effect which periodically synchronises data. The goal is to be able to control data synchronisations adjusting the Tes

[2022-09-06 14:06] adamgfraser commented on #7314
@zeal18 Thanks for reporting! Will take a look.

[2022-09-06 14:16] adamgfraser commented on #7314
@zeal18 Your test failure is not related to the `TestClock` but to fiber supervision. You fork a child fiber which forks a grandchild fiber. The child fiber completes execution immediately after forking the grandchild fiber. Under ZIO's fiber supervision model when a fiber completes execution it interrupts all of its children. So its grandchild is interrupted before completing the `Promise` and th

[2022-09-06 14:19] #7314 closed, assigned to nobody

[2022-09-06 14:42] zeal18 commented on #7314
Oh, right, thanks for the so fast answer and sorry for the false positive

[2022-09-06 14:44] adamgfraser commented on #7314
No worries!

[2022-09-07 11:52] Matzz opened #7318 "Blocking service do not accept unlimited number of tasks"
This ticket refer to ZIO 1 but may also be valid for ZIO 2.

From Blocking documentation:
"The Blocking module provides access to a thread pool that can be used for performing blocking operations, such as thread sleeps, synchronous socket/file reads, and so forth. **The contract is that the thread pool will accept unlimited tasks (up to the available memory) and continuously create new threads as

[2022-09-07 14:59] adamgfraser commented on #7318
I actually think this is a feature rather than a bug. Accepting an unlimited number of tasks sounds great but the reality is that threads are not free and creating a very large number of threads kills application performance. I've seen a lot of cases in production where people use a completely unbounded thread pool and it solves the short term problem but creates performance issues that are much h

[2022-09-07 16:24] Matzz commented on #7318
@adamgfraser
I agree that enormous number of threads will lead to a lot of problems. From the other hand, `RejectedExecutionException` is not sth you expect while using ZIO. Especially, when at some point you decide to shift some effect from the default thread pool to blocking. Those kind of errors may manifest very late at software lifecycle (most probably on production or during load tests).  Th

[2022-09-07 16:27] adamgfraser commented on #7318
@Matzz Will take a look.

[2022-09-07 17:31] tim-2022 opened #7319 "ZIO 2.0.[012] bootstrap errors cause ZIOApp to exit without reporting problems"
This is a simplification of a bootstrap ZLayer which throws an error:

[code]

It silently exits with a 1 status code, never reporting the source of the problem.

Correctly reports exception under RC6 - https://scastie.scala-lang.org/tim-2022/uOUJVAgVTs215SBR3NX6ag/10

[2022-09-07 17:45] swoogles commented on #7319
Thanks, I will look into this.

[2022-09-07 17:57] swoogles commented on #7319
Well I _was_ going to take a look, but Adam beat me to it!

[2022-09-07 18:04] tim-2022 commented on #7319
LOL!  My experience was also that Adam can be amazingly fast!

[2022-09-07 18:35] #7319 closed, assigned to swoogles

[2022-09-08 11:55] berman7 opened #7323 "ZIO 2.0.x : stackoverflow fatal error"
Hello,
One of our (hundreds of) ZIO apps running 2.0.2 has started failing consistently with the following fatal error, after which the instance exists and restarts:
`java.lang.StackOverflowError
	at java.base/java.lang.String.getChars(String.java:854)
	at java.base/java.io.BufferedWriter.write(BufferedWriter.java:229)
	at java.base/java.io.Writer.write(Writer.java:249)
	at java.base/java.io.Print

[2022-09-08 12:30] berman7 commented on #7323
update:
checked version with ZIO 2.0.0 - **not reproducing**.

[2022-09-08 17:45] domdorn commented on #7206
I'm creating a small lib that allows bridging metrics collected by micrometer to ZIOs metrics and will talk with the customer about if/how this can be opensourced. Closing for now.

[2022-09-08 17:45] #7206 closed, assigned to nobody

[2022-09-08 18:03] adamgfraser commented on #7206
@domdorn Awesome! Look forward to seeing it!

[2022-09-08 19:20] Wosin commented on #7198
If @kitlangton  is busy I'm happy to take a look  ;))

[2022-09-08 20:39] adamgfraser commented on #7198
@Wosin That would be great!

[2022-09-09 10:04] 987Nabil commented on #7198
I encountered a similar problem. In case you have a Scala 3 enum

[code]
the macro fails if you have one side with the explicit subtype and one with the general enum type
[code]

I think widen should be the way to go.

[2022-09-09 12:49] pvgoran commented on #7237
I just upgraded from 2.0.0 to 2.0.2 and encountered it as well.

Not a big deal, but I hope we can have a new release that includes https://github.com/zio/zio/pull/7286 (or otherwise fixes this) soon. :)

[2022-09-09 14:26] zeal18 commented on #7323
I have the same problem as the author of the issue. Don't know if it's related problem or not, but in addition I've also got the following StackOverflow:
[code]

[2022-09-09 14:39] adamgfraser commented on #7323
I'm not sure these issues are related. The first appears to be in the runtime itself, whereas the second seems to be in streams.

In both cases, a minimized reproducer, ideally using just ZIO or ZIO and ZIO Stream would be extremely helpful in diagnosing. Alternatively, if this is a regression versus a prior ZIO 2.0 version then identifying which commit caused the regression would be very helpful.

[2022-09-09 14:52] adamgfraser commented on #7237
👍

[2022-09-09 15:55] kubukoz opened #7331 "Provide versionScheme?"
This would be very useful in the ZIO 2.x migration: https://www.scala-lang.org/blog/2021/02/16/preventing-version-conflicts-with-versionscheme.html

Example: https://github.com/typelevel/cats/pull/3782/files

[2022-09-09 19:56] anovstrup opened #7332 "Performance regression in 2.0.0+"
I recently bumped the ZIO version in my application from 1.0.15 to 2.0.0 and noticed a significant performance regression in part of the workload, which involves substantial use of `ZStream` to read data from (very large) archive files, decode it from UTF-8, perform some other transformations in memory, and then write the data to disk again.

Although I haven't isolated the issue yet, the ZIO over

[2022-09-10 13:29] He-Pin commented on #7332
How about provide a reproducer?

[2022-09-10 17:01] anovstrup commented on #7332
I hope to have some time next week to isolate and minimize the issue.

[2022-09-11 20:15] frekw opened #7336 "suggestion: Implement `ZFunction` abstraction"
A situation that I've run across quite frequently is the need to work with and compose functions that return ZIO workflows, i.e `A => ZIO[R, E, B]`.

Almost every time I do this I also end up reimplementing some subset of ZIO combinators on top of said function (e.g `zip`, `provide*` etc). I've also seen this in the wild in zio-http where the [main abstraction is essentially extending a function `

[2022-09-11 20:16] frekw commented on #7336
[Another example](https://github.com/ghostdogpr/caliban/blob/series/2.x/tools/src/main/scala/caliban/tools/stitching/RemoteResolver.scala#L13-L25) of this in the wild (albeit a much less complete one).

[2022-09-12 08:50] 987Nabil commented on #7336
If I look at the map/flatMap of zio http, it looks very specific and not like caliban. So, my question is: Can this be abstracted in a reasonable way? Or does every use case actually need different impl.?

[2022-09-12 11:06] frekw commented on #7336
@987Nabil I think in part that's because it's specialized for the error to be of type `Option[E]` (which could maybe be handled via keeping the `Http` companion object as well as specific syntax extensions) but also the fact that zio-http uses an interpreter and Caliban an executable encoding.

[2022-09-13 05:15] 987Nabil opened #7338 "Named layer injection for Scala 3"
Hey!
I thought about a way to provide named injection for Scala 3 and came up with the following

[code]

This code compiles with ZIO 2.0.0-RC5, but does not work, since ZIO/Scala thinks a and b are having the same type.
It does not compile with newer ZIO versions, which I guess is related to #6829
Idk if it is possible to make this work. Maybe with some custom `Tag` impl. ? Because tags are the k

[2022-09-14 00:54] adamgfraser commented on #7338
It may be easier to do this with `serviceAt`. But yes I think resolving the issue around opaque types in general would allow you to do this if you want.

[2022-09-14 00:56] adamgfraser commented on #7336
I am hesitant about adding another data type, especially since I think these data types can generally be implemented quite straightforwardly and often benefits from being domain specific as in Caliban and ZIO HTTP. But it is certainly well defined.

[2022-09-14 07:39] 987Nabil commented on #7338
I actually did not know about `serviceAt`. And I remember in a training or symposium the answer for how to inject two objects of the same type was a wrapper class. But I found the right [paragraph in the docs](https://zio.dev/reference/contextual/zenvironment/#providing-multiple-instance-of-the-same-interface) 🙂
Still I think this way looks more elegant and requires less code on the user side. But

[2022-09-14 14:43] palanga commented on #639
I have a minimal example of using ZIO 2 with scala native: [https://github.com/palanga/zio-2-scala-3-native](https://github.com/palanga/zio-2-scala-3-native)

[2022-09-14 20:56] adamgfraser commented on #7338
Yeah I think that should be possible in user land once the more general issue with opaque types is resolved.

[2022-09-15 04:05] #7217 closed, assigned to adamgfraser

[2022-09-15 19:38] domdorn opened #7344 "Unable to figure out how `Metric.timer` is supposed to work"
I'm unable to figure out how `Metric.timer` is supposed to work. Documentation as well as Tests are missing

Sample code:
[code]

[2022-09-15 19:47] swoogles opened #7345 "Links to source code in test failures should include line number"
When you click the link (at least in Intellij), the line number is not included, so you always just jump to the top of the file.

<img width="1470" alt="Screen Shot 2022-09-15 at 1 42 11 PM" src="https://user-images.githubusercontent.com/2054940/190495005-67d8e240-7157-4af6-9fb1-bd4d025d29df.png">

[2022-09-15 21:46] domdorn opened #7346 "metrics: `zio.metrics.Metric#trackAll` should be `zio.metrics.Metric#trackAllWith`"
I looked at Metrics.scala and I think `zio.metrics.Metric#trackAll` should actually be `zio.metrics.Metric#trackAllWith` ..

kind of like

[code]

@vigoo you're the expert here.. wdyt?

[2022-09-15 21:49] domdorn commented on #7344
Ok, after chatting with @adamgfraser , we found two ways to use this:

manual way
[code]

using aspects:
[code]

would be great if this could be added to the documentation

[2022-09-16 00:03] adamgfraser commented on #7346
@domdorn The aspect is supposed to update the metric on either success or failure so if it does not use a constant value it would need a way to covert both a success as well as a cause with a failure into the metric input type. That could potentially be implemented as `trackAllWith` but the current signature of `trackAll` seems correct.

[2022-09-16 00:06] adamgfraser commented on #7344
@khajavi Can you take a look at this when you get the chance?

[2022-09-16 00:07] adamgfraser commented on #7345
Is this an issue with ZIO or with how IntelliJ is rendering the link? It looks like the line number is right there.

[2022-09-16 01:28] anovstrup commented on #7332
It looks like the trouble is related to the following `join` method in my application.

[code]

I believe the program sketched below will reproduce the issue:
[code]

Digging into the implementation of `zipPar`, I see that it ends up using `raceWith`. Does that end up being a fairly heavyweight way to pass the same input to two sinks?

[2022-09-16 02:09] adamgfraser commented on #7332
Will take a look. `zipPar` does run the two sinks in parallel which has some overhead but that behavior was the same in ZIO 1.0 and ZIO 2.0 so conceptually that doesn't explain the difference though there may be something in the implementation that can be improved.

[2022-09-16 08:00] domdorn commented on #7346
Oh, I just figured out that this trackAll is coming from the `Metric` trait itself, while I was looking at it from the `Timer` point of view where it should be able to derive the right value in both cases (cause its the duration of the effect).

[2022-09-16 08:00] #7346 closed, assigned to nobody

[2022-09-16 20:55] anovstrup commented on #7332
@adamgfraser It seems that we were using a different `join` implementation with ZIO 1.0 and only switched to the one above with ZIO 2.0 because a) the one above is simpler and b) we couldn't figure out how to do the same thing with the new API:

[code]

[2022-09-16 21:00] adamgfraser commented on #7332
@anovstrup Okay, so you have a custom implementation that sends the elements to both sinks but runs the sinks sequentially instead of in parallel. I could definitely see the overhead of the parallelism having a negative impact on performance if you are not actually getting a benefit from running the two sinks in parallel. Will take a look at how to do this in ZIO 2. Thanks for the follow up!

[2022-09-16 23:50] anovstrup commented on #7332
@adamgfraser Here's an actual program that reproduces the issue.  It runs similar workflows with and without a `join` operation and records their durations.  The discrepancy seems too large to be explained by parallelism overhead alone. e.g., in one run I got dur: PT55.033879744S ... dur2: PT9.726899208S ... dur3: PT53.146737292S, where dur & dur3 are the durations with `join` and dur2 is the dura

[2022-09-16 23:53] adamgfraser commented on #7332
@anovstrup Got it. Thanks!

[2022-09-17 00:26] anovstrup commented on #7332
One more update: I translated the above test to run it in ZIO 1.0 and observed very similar performance between the workflows with/without `join`, so it looks like this is in fact a performance regression and not just a performance issue.

The durations were dur: PT16.207304439S ... dur2: PT11.565797765S ... dur3: PT13.092716904S

[code]

[2022-09-17 18:21] n3ziniuka5 opened #7349 "Continue running ZStream after an error"
It would be great if there was a way to keep the stream running after an error is encountered. Use-case: consume a message from Pulsar/Kafka, etc. and pass it through multiple processing stages, then finally either positively or negatively acknowledge the message. Various processing stages can fail for a variety of reasons. So if, for example, deserialization from json fails, I don't want to kill

[2022-09-17 20:16] vigoo commented on #7349
Aren’t you looking for `catchAll`?

[2022-09-17 23:16] adamgfraser commented on #7349
The contract of a stream is that it produces zero or more elements and terminates with either exactly one error or exactly one done value. If you want to have element level errors then you need to use either an `Either` or handle element level errors within a stage, for example by logging them and dropping them. So for example instead of:

[code]

Do this:

[code]

Or:

[code]

[2022-09-18 07:58] n3ziniuka5 commented on #7349
For `catchAll` you need to provide an alternative stream. And if that one can fail as well, it must also have an alternative stream. You cannot simply ignore/handle the errors and continue.

Thanks for the response @adamgfraser. Indeed, I am currently using `Either` for this problem, but will also try `Option` like you suggested because `.collectSome` can make it a bit easier to work with than wit

[2022-09-18 14:57] davidlar commented on #7158
Found my issue (mentioned above) now and it's not the same as this, so I will file a new issue...

Sorry for hijacking this case! :smiley:

[2022-09-18 15:20] davidlar opened #7350 "ZIO test should not interrupt forked fibers belonging to shared layer"
I have a couple of services that uses skunk against postgres. The databese connections are pooled with ZPool.
When I run integration tests against the database it often hangs when reading from db in one or two tests.
The problem is that ZTest.apply interrupts child fibers for finished test cases.
In my case a socket reader fiber for a pooled connection is interrupted when it's used by another runn

[2022-09-18 16:19] adamgfraser commented on #7350
@davidlar Thanks for reporting! Do you have a small reproducer?

[2022-09-18 19:18] davidlar commented on #7350
[code]

[2022-09-19 10:57] berman7 commented on #7323
after further investigation - it seems that the (legacy) app was started with a low -xss value, which caused the stack to be smaller than it is in normal production apps.
this caused even a stack trace of less than 256 calls to be too large, and since ZIO uses that much by default for the event loop before yielding, the StackOverflowException was thrown.

The behaviour is apparent in ZIO 2.0.0, al

[2022-09-19 14:27] adamgfraser commented on #7349
The issue is fairly fundamental. When a stream is done with an error that's it. There is nothing more to run after that.

You are right that you could have an alternative design where there were "element level" errors. However, it seems like you also need "stream level" errors (e.g. you're reading from a file and the file isn't found, or you're parsing a large data structure and get an unexpected

[2022-09-19 16:21] n3ziniuka5 commented on #7349
Yes, I agree. Previously I worked with Akka streams and got used to [supervision-strategies](https://doc.akka.io/docs/akka/current/stream/stream-error.html#supervision-strategies), they are quite nice for the use-case, except that adding cleanup effects in deciders is cumbersome.

It's probably possible to implement `catchAllZIO`:
[code]

For it to be consistent with how current `catchAll` works,

[2022-09-20 08:29] fsvehla opened #7352 "Interruption of ZIO app due to signal: Include interruption reason"
We’ve been debugging this error

[code]

It turned out that it was the shutdown hook. It would be great if the message of the `InterruptedException` would add this context, maybe like this

[code]

[2022-09-20 10:57] adamgfraser commented on #7352
Will take a look.

[2022-09-20 10:58] adamgfraser commented on #7352
Do you have a small reproducer?

[2022-09-20 14:37] domdorn commented on #7206
@adamgfraser this is how its looking so far.
I'm using the micrometer metrics for basic jvm, unix processes, http.server.request (zio's timer does not export all necessary timeseries) and hikaricp
I'm using the zio-metrics for the zio-runtime-metrics (fibers).. I'm not yet happy with the fibers dashboard.

OPS: Service Status is little distorted, cause I had to scale it in the browser.

![grafik](

[2022-09-20 14:40] adamgfraser commented on #7206
@domdorn Wow that looks amazing! Copying @vigoo and @atooni.

[2022-09-20 17:25] ruurtjan commented on #7236
I ran into this issue as well, and it went away after upgrading to Scala `3.2.1-RC2`.

I've also tested the code snippet by @simlei, which also compiles fine on that Scala version.

[2022-09-20 18:40] #7350 closed, assigned to adamgfraser

[2022-09-20 19:34] davidlar commented on #7350
Thanks a lot! :smile:

[2022-09-21 13:10] #7299 closed, assigned to adamgfraser

[2022-09-21 14:33] adamgfraser commented on #7283
Going to close this for now but feel free to re-open if you are able to reproduce!

[2022-09-21 14:33] #7283 closed, assigned to adamgfraser

[2022-09-21 17:54] scalajos commented on #6829
Ah, using ZIO.serviceAt is a workaround but it's only checked at runtime. Using opaque types had the advantage of being checked at compile time. Any idea if the issue comes from the zio side or from the scala 3 side (but it used to work in previous zio 2 RC 5) ? Tried again with zio 2.0.2,  izumi-reflect 2.2.0 and scala 3.2.0 but still no luck

[2022-09-22 10:32] Jeancricri opened #7358 "ZIO 2.x : ZIO.log() does logInfo() and never logs at the current log level"
Here below is the current code :

/**
   * Logs the specified message at the current log level.
   */
  def log(message: => String)(implicit trace: Trace): UIO[Unit] =
    ZIO.withFiberRuntime[Any, Nothing, Unit] { (fiberState, _) =>
      fiberState.log(() => message, Cause.empty, None, trace)(Unsafe.unsafe)

      ZIO.unit
    }

[2022-09-22 11:32] #7332 closed, assigned to adamgfraser

[2022-09-22 13:11] darl opened #7360 "ZEnvironment.get dominates in cpu profile"
In some of our applications `ZEnvironment.get` & `ZEnvironment.prune` consumes significant amount of cpu.

<img width="747" alt="Screenshot 2022-09-22 at 11 49 29" src="https://user-images.githubusercontent.com/423802/191753906-64f84260-d199-4a09-9c14-d701f33c934d.png">

I think this happens when:
1. ZEnvironment contains many different services
2. ZEnvironment frequently recreated by calling `.pr

[2022-09-22 15:13] adamgfraser commented on #7360
It sounds like you are calling `provideEnvironment` too much. What I typically see when people have this problem is they are doing something like this:

[code]

When you want to do this:

[code]

[2022-09-22 15:18] adamgfraser commented on #7358
This does not appear to be accurate:

[code]

[code]

Notice that the log level is `Error`.

[2022-09-22 16:07] darl commented on #7360
that example is too simple.
in reality it can be hidden in several abstractions levels.

also there are several classes that passed via environment:
  - zio.Scope !!
  - Connection from https://github.com/gaelrenoux/tranzactio
  - transactions

every time they provided ZEnvironment's cache got invalidated.

[2022-09-22 16:59] adamgfraser commented on #7360
Local capabilities such as `Scope` may require `provideSomeEnvironment` but this shouldn't be an issue as long as you are constructing services idiomatically.

[2022-09-22 17:05] anovstrup commented on #7332
Thanks, @adamgfraser! 🎉

[2022-09-22 18:59] darl commented on #7360
I created simple app with idiomatic service that creates new scope in a loop
https://github.com/darl/zio2-example/commit/c8ea34c76f713c93f19c8e613c8f4a50f1c49a8e

Time per cycle scales with count of services in environment.

`ZEnvironment.get` is biggest span in flame-graph.
![Screenshot 2022-09-22 at 21 56 20](https://user-images.githubusercontent.com/423802/191829043-6158df23-41ac-4521-9218-1a30

[2022-09-22 19:08] adamgfraser commented on #7360
Let me take a look.

[2022-09-23 05:22] Jeancricri commented on #7358
My bad.
Probably an issue in my code ; I'm still working on it.
I was using
private val logger =
    Runtime.removeDefaultLoggers >>> console(LogFormat.default, LogLevel.Error )

[2022-09-23 12:38] Jeancricri commented on #7358
Thanks Adam for checking this case.
I think we may need a better documentation (or better comment in the source code) for "how to use ZIO.log()" in combo with ZIO.logLevel()

[2022-09-23 13:23] adamgfraser commented on #7358
What was your expectation of how this would work?

[2022-09-23 13:31] Jeancricri commented on #7358
I thought ZIO.log() would work without ZIO.logLevel(), using the current log level of the app I defined in  "private val logger =
Runtime.removeDefaultLoggers >>> console(LogFormat.default, LogLevel.Error )"

[2022-09-23 13:41] adamgfraser commented on #7358
Ah. That's the minimum log level that a logger will log. But a logger doesn't have to have any minimum log level and there could be different loggers that log at different levels. Think of that as the level of logs that a particular logger wants to "read", not the level you want to "write" at.

[2022-09-23 13:43] #7358 closed, assigned to nobody

[2022-09-23 18:34] jeffmay opened #7362 "zio-test: Move `Gen` into a separate artifact that does not depend on zio-test"
We have validation scripts that check out build to make sure that test artifacts are not included in the compile scope output. The ability to generate pseudo-random data is not just a concern for testing. Sometimes we will use consistent intelligent mocks based on userId as the seed (until we are able to replace the generator implementation with a database backed one). Currently, I use ScalaCheck

[2022-09-24 07:03] Jeancricri commented on #7358
Thanks Adam.
Could you tell how to change properly the current log level in a fiber of ZIOAppDefault ?

[2022-09-24 15:23] adamgfraser commented on #7358
No problem. You use the `ZIO.logLevel` operator. So if you do `ZIO.logLevel(LogLevel.Error)(workflow)` then `workflow` will be run with the default log level set to `LogLevel.Error`.

[2022-09-24 18:54] #7360 closed, assigned to adamgfraser

[2022-09-26 13:03] BalduinLandolt opened #7371 "Docs: ZIO Cache docs reference an outdated version (which is broken)"
In the [ZIO Cache docs](https://github.com/zio/zio/blob/series/2.x/docs/ecosystem/officials/zio-cache.md) under "Installation", the referenced version number is `0.2.0-RC6`, whereas the current version is `0.2.0`. This is a bit unfortunate, because in RC 6, there was a bug, which let the `cache.get()` method crash. The bug has since been fixed in the `0.2.0` release, but when following the docs, e

[2022-09-26 16:01] #7371 closed, assigned to nobody

[2022-09-27 08:23] 987Nabil commented on #7275
Especially Adams last point `I'm sure it varies among teams`, makes me believe that this is a problem that should not be solved in zio, but in linting tools. Idk how extensible tools like scalafmt or scalafix are, but maybe one could write an extension lib with zio rules? That would be independent of your IDE choice and adjustable to the skillset of the team.

[2022-09-27 20:16] Wosin commented on #7198
I think I got that for `==` operator, but it's trickier for all inequality operators as they are summoning `Ordering` to the scope and I have no idea how to make that work with widening. Any ideas @adamgfraser  ??

[2022-09-27 21:14] grouzen commented on #7172
I still have no time to work on this one, so it would be better if someone else picked it up.

[2022-09-28 11:29] debasishg commented on #7336
I think a `Kleisli` like abstraction with all batteries included will be a useful addition.

[2022-09-29 18:13] jiahuili430 opened #7376 "Shall we add support for scala 2.13.9?"
`CVE-2022-36944` exists in scala 2.13.0 ~ 2.13.8, see https://nvd.nist.gov/vuln/detail/CVE-2022-36944
Are we going to add support for scala 2.13.9?

[2022-09-30 03:06] aboisvert opened #7379 "zio-test reports an incomplete stacktrace when test throws exception outside of assert()"
The following code describes and reproduces the issue:

[code]

[2022-09-30 03:11] aboisvert commented on #7379
Full repro project here: https://github.com/aboisvert/zio-test-issue-7379

[2022-09-30 03:27] adamgfraser commented on #7379
@aboisvert The execution trace in the second case on `series/2.x` is as follows, which seems to be correct.

[code]

[2022-09-30 04:09] aboisvert commented on #7379
Indeed, it's working on version 2.0.2+71-ba4565a2-SNAPSHOT.  I should have checked the latest.  Thanks for confirming this is already fixed.

[2022-09-30 04:09] #7379 closed, assigned to nobody

[2022-09-30 04:19] adamgfraser commented on #7379
No worries! Thanks for raising and for using ZIO!

[2022-09-30 14:54] Marc-Ducret opened #7381 "ZChannel.pipeToOrFail can mix up errors"
Using the latest snapshot `2.0.2+71-ba4565a2-SNAPSHOT`, nested calls to ZChannel.pipeToOrFail can mix up errors and even propagate errors that does not respect the compile time types.

In the following example that only uses the high level interface of ZStream and ZSink, the issue happens because `ZStream.run` and `ZSink.contramapZIO` both call `ZChannel.pipeToOrFail`.
[code]

Results in:
[code]

[2022-09-30 14:57] adamgfraser commented on #7381
@Marc-Ducret Thanks for reporting! Will take a look.

[2022-09-30 14:58] Marc-Ducret commented on #7381
@adamgfraser Thanks! I think this PR https://github.com/zio/zio/pull/7382 is the right direction to fix the issue.

[2022-09-30 15:53] adamgfraser commented on #7381
@Marc-Ducret Yes great diagnosis! I think we can take advantage of reference equality to make sure the `ChannelFailure` we are unpacking is the same one we created without having to deal with tokens but similar idea.

[2022-09-30 16:39] #7381 closed, assigned to nobody

[2022-10-01 18:32] #7318 closed, assigned to adamgfraser

[2022-10-03 22:17] caeus commented on #3567
Compositional zips?

[2022-10-03 22:25] adamgfraser commented on #3567
[code]

[2022-10-05 09:51] petoalbert opened #7393 "Support DataDog Distribution metrics"
## My use-case

As a DataDog user, I want to measure my app's response times across all hosts and see response time percentiles grouped by endpoint. In DataDog, the metric type capable of doing that is called [Distribution](https://docs.datadoghq.com/metrics/distributions/): "it is used to represent a global statistical distribution of a set of values calculated across a distributed infrastructure

[2022-10-06 10:49] deabreu commented on #3427
Hey is this a dead issue? I've been facing the same problems.

[2022-10-06 12:06] jdegoes commented on #3427
cc @kitlangton for insight on if / how this might be possible

[2022-10-06 13:17] kitlangton commented on #3427
The original case is handled by the layer macros (compiling it today gives the following output—provideCustom no longer exists of course, as the default services don't use the environment). But I'd be good to know what situation @deabreu's running into, maybe there are additional cases that are troublesome.

[code]

[2022-10-06 15:41] adamgfraser commented on #3427
Yes, I think this problem is solved by using automatic layer construction.

@deabreu Is that what you are doing? If so and you are still running into problems we can look into it but otherwise I think the solution is just to use automatic layer construction.

[2022-10-06 16:05] ollyw commented on #4840
We can close this off now, as the behaviour has been explained, although is not ideal. Perhaps it is different in ZIO 2 Test

[2022-10-06 16:05] #4840 closed

[2022-10-06 16:14] deabreu commented on #3427
Hello all (@jdegoes, @kitlangton and @adamgfraser). I'm afraid this is on a different compilation step.

The message @kitlangton showed I oftenly see when updating a Base Layer, like the one that should define an endpoint. The messages like `Cannot prove that zio.ZEnv with Foo <:< Foo with Bar with zio.ZEnv.` were shown to me on two different occasions:

1. I was creating an accessory trait/object

[2022-10-06 16:21] adamgfraser commented on #3427
@deabreu Can you create a minimized reproducer?

[2022-10-07 13:07] shawjef3 commented on #7323
ZIO could also create its threads with a required stack size. https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/lang/Thread.html#%3Cinit%3E(java.lang.ThreadGroup,java.lang.Runnable,java.lang.String,long)

[2022-10-07 13:34] shawjef3 commented on #7323
Something like this might work (totally untested). https://github.com/shawjef3/zio/commit/890b6a585be06ce4c58d8da129bbf78c11eba683

[2022-10-07 16:41] domdorn opened #7408 "`zio.Trace`: Store className and method name in different fields"
Situation:
----
`zio.Trace` stores the classname and method name concatinated as one string in the location field.

Problem:
---
Loggers like e.g. zio-logging-slf4j have to break this up again **for every logline written**, which is quite wasteful, e.g.
https://github.com/zio/zio-logging/blob/master/slf4j/src/main/scala/zio/logging/slf4j/SLF4J.scala#L55

Proposition:
---
It would be great if we co

[2022-10-07 17:04] adamgfraser commented on #7408
A `Trace` just is a `String` which is itself a performance optimization to avoid additional allocations for each trace. Extracting the method name when necessary is quite cheap and is a cost that is only paid in certain cases where it is small relative to the cost of generating the trace, whereas a change to the representation of `Trace` would impact all applications. So I don't think this change

[2022-10-08 23:27] gurghet opened #7413 "isEmpty/isFull clarification"
Regarding the file https://github.com/zio/zio/blob/series/2.x/core/shared/src/main/scala/zio/Enqueue.scala
isEmpty/isFull are implemented in terms of size.
[code]
However, the method names are contradicted by the immediately above scaladoc of `size`:
[code]
So the queue might be empty even if `isEmpty` returns `false` and it might be full even if `isFull` returns `false`. That should happens preci

[2022-10-08 23:53] adamgfraser commented on #7413
@gurghet Thanks for reporting! Will take a look!

[2022-10-09 07:47] #7413 closed, assigned to adamgfraser

[2022-10-12 07:17] carlos-verdes opened #7417 "Proper design for Encoders/Decoders"
I'm writing a client for a protocol that has different types of Encoders/Decoders so I need to abstract over them when writing my service trait, something like this:

[code]

Then I have an implementation with JsonCodecs with something like this:
[code]

Now the first problem is I can't define in my Client object the method callers (and even if I'm able to fix this compilation issue, the code is r

[2022-10-12 08:20] carlos-verdes commented on #7417
I think we can close, thanks @dashkose for pointing into right direction:
https://zio.dev/reference/service-pattern/defining-polymorphic-services-in-zio/

The main point is to add `TagK` for Encoder and Decoder (K is needed for kinder types)

[2022-10-12 08:20] #7417 closed, assigned to nobody

[2022-10-12 08:29] plokhotnyuk commented on #7417
@carlos-verdes Beware that instantiation of `izumi.reflect.Tag` instances is quite expensive, so they should be cached somewhere on the caller side.

[2022-10-12 08:30] carlos-verdes commented on #7417
How should I implement this in a more effective way then @plokhotnyuk

[2022-10-12 08:44] plokhotnyuk commented on #7417
Best approach is starting from profiling of running service using performance tests.

For caching you can define an object with implicit vals for `TagK` instances and then import it in your implementation of services.

[2022-10-12 08:53] carlos-verdes commented on #7417
I have this in the JsonClient:
[code]

[2022-10-13 06:32] carlos-verdes commented on #4519
I think this issue can be close right?

[2022-10-13 07:59] frekw opened #7424 "Composing more than two ZIOApp:s via ZIOApp.Proxy stops propagating interruptions as expected"
Finally managed to track this one down. :)

See this [scastie](https://scastie.scala-lang.org/WRyUg6hWRPOy7bSiaqKHCQ).

Is we compose two apps, interruption works as intended, but if we add a third one we end up in a state where the application doesn't exit on error.

[2022-10-13 08:43] frekw commented on #7424
This might actually be an even more minimal reproducer of what's going on:

[code]

never exits, but this does:

[code]

[2022-10-13 13:13] adamgfraser commented on #7424
Thanks for reporting! Will take a look!

[2022-10-13 13:22] #4519 closed

[2022-10-13 14:39] jiahuili430 opened #7426 "ZIO test `Gen`: case class with same parameters but not equal"
Error logs:
[code]

`Group2Msg(options: Map[Symbol, Any])` is a case class. The parameter is the same `Map(Symbol("0") -> false)`, but why are they not equal?
I tried in the Scala REPL, it will return true.
[code]

[2022-10-13 15:05] adamgfraser commented on #7426
@jiahuili430 Hi! Can you please create a minimized reproducer?

[2022-10-14 06:31] paul-lysak opened #7427 "ZStream.mapZIOPar interrupts fibers created with forkDaemon"
# Expected behavior:

Fibers started by `ZIO.forkDaemon` continue to work even when the effect that created them terminates.

# Actual behavior:

If a fiber is started with `ZIO.forkDaemon` inside the `ZStream.mapZIOPar` then it gets interrupted when stream processing completes.
When doing the same mapping with `mapZIO` or `mapZIOParUnordered` `forkDaemon` works as expected, there's no issue.

# Z

[2022-10-14 06:34] adamgfraser commented on #7427
Thanks for reporting! Will take a look.

[2022-10-14 18:37] #7427 closed, assigned to adamgfraser

[2022-10-17 13:55] jiahuili430 commented on #7426
I figured out why it's not equal. The returned data types are not the same, so they are not equal. Thanks for your quick reply!

[2022-10-17 13:55] #7426 closed, assigned to nobody

[2022-10-17 23:38] domdorn opened #7438 "stacktrace loop failure when starting application"
I'm in the process of migrating our last microservice from zio 1 to zio 2... unfortunatelly, its also the biggest one and has lots of moving parts/layers.

For some reason, very often the app crashes right at the start with kind of a endless interruption loop
![grafik](https://user-images.githubusercontent.com/100349/196302445-2afe11d0-0e7d-45f2-bced-18c521734f88.png)
![grafik](https://user-images

[2022-10-17 23:39] adamgfraser commented on #7438
@domdorn Can you try on the latest ZIO snapshot?

[2022-10-17 23:49] domdorn commented on #7438
@adamgfraser do you have a link at hand how to configure using zio snapshots in sbt? haven't found anything on google and zio.dev ( i had this once in a service, but can't find it anymore). will try then first thing in the morning (its 2am already here)

[2022-10-18 00:12] adamgfraser commented on #7438
@domdorn You just need to add the Sonatype snapshot resolver and use a ZIO snapshot version. Here is an example:

https://github.com/zio/zio-http/pull/1493/commits/3ea80917bf283668e19d7e313a0496df1a76a468

[2022-10-18 08:00] domdorn commented on #7438
Its not failing anymore with 2.0.2+97-fdf17fd9-SNAPSHOT ! ❤️ 🎉
would it be possible to get a release? I cant merge the migration with a snapshot dependency.

[2022-10-18 11:36] domdorn commented on #7438
it looks like something changed in the `ZIOSpecAbstract` class..  I'm now getting an error like this when trying to compile my tests
[code]

I checked out the repo of the test-lib ( https://github.com/senia-psm/zio-test-akka-http ) and updated the zio version to the above mentioned snapshot and I'm getting this compile error when trying to compile the lib:

[code]

[2022-10-18 12:13] cobr123 opened #7440 "tests always returns exitcode=0"
I have example project https://github.com/cobr123/matrix-rain
After `sbt nativeImageRunTest` or `./target/native-image/matrix-rain-0.7-with-tests-native` I check `echo $? ` and it shows 0 no matter there is some failed tests.

[2022-10-18 12:27] domdorn commented on #7438
I created a PR in the other project https://github.com/senia-psm/zio-test-akka-http/pull/173

[2022-10-18 13:26] domdorn commented on #7438
Ok, other project updated its lib :-) team agreed to run on the `2.0.2+97-fdf17fd9-SNAPSHOT` for a while, would still be awesome to get a zio 2.0.3 in the coming weeks (another one of our services shows similar behaviour on startup)!

[2022-10-18 14:37] adamgfraser commented on #7438
Working on it!

[2022-10-18 14:37] #7438 closed, assigned to nobody

[2022-10-18 17:01] adamgfraser commented on #7440
@swoogles You want to take a look at this?

[2022-10-18 17:13] swoogles commented on #7440
Yep, will do

[2022-10-20 07:32] regiskuckaertz opened #7443 "Remove scaladoc for dotty versions"
Hello

Navigating the [scaladocs](https://javadoc.io/doc/dev.zio/zio-test_2.13/latest/index.html) between projects is a bit painful:

<img width="544" alt="Screenshot 2022-10-20 at 08 29 49" src="https://user-images.githubusercontent.com/629976/196884467-6d1e8d83-461b-4ebe-af4c-202fb82501f0.png">

There is a fundamental problem with scaladoc's information architecture, as 99.9% of the time, there

[2022-10-21 11:57] claasic opened #7445 "ZStream#rechunk leaks memory when provided with n <= 0"
Ran into an issue where due to wrong user input `rechunk` was called with zero. Turns out it leaks memory since `ZStream.Rechunker#write` will never call `result` on the underlying `ChunkBuilder` as the `if (pos == n)` can never be fulfilled with `n <= 0`.

[code]

Can easily be replicated via `ZStream.iterate(1)(_ + 1).rechunk(0).runDrain`.

One easy fix would be to change `val target = Math.max(

[2022-10-21 14:44] dacr opened #7449 "ZIO Test: console rendering - timing printed on a different line than test name"
zio release 2.0.2

failed test times appears on a separate line after the fail message
[code]

[2022-10-21 14:46] swoogles commented on #7449
Thanks for reporting. Can you attach a minimal reproducer?

[2022-10-21 14:49] dacr commented on #7449
[code]

[2022-10-21 14:55] dacr commented on #7449
Minimal reproducer :
[code]

which gives :
[code]

[2022-10-21 14:57] swoogles commented on #7449
Thanks

[2022-10-21 15:55] dacr opened #7450 "ZIO Test: ZTestJUnitRunner : wrong total count and rendering issues"
ZIO 2.0.2

Invalid total test count reported by the **ZTestJUnitRunner** : Ignored tests are counted twice.

Minimal Reproducer :
[code]

![image](https://user-images.githubusercontent.com/381901/197238003-8a869904-58d1-44c6-a587-5dc06601f676.png)

B appears as ignored and as tested with success; the total count is 3 and the suite name is dumped after the tests it contains have been dumped.

[2022-10-21 15:56] dacr commented on #7450
Of course with the ZIO console renderer everything is fine :
[code]

[2022-10-21 16:01] dacr commented on #7440
I confirm the issue, wanted to write the same issue, but you did it before me :) It happens with ZIO 2.0.2

[2022-10-21 16:11] dacr commented on #7450
Same issue if we extends `MainSpec` with `JUnitRunnableSpec` instead of using the `RunWith` annotation.
![image](https://user-images.githubusercontent.com/381901/197241124-efccfedc-8ffc-442b-b20a-201f17bfedbc.png)

[2022-10-21 16:29] swoogles commented on #7450
@hmemcpy it seems like this is an Intellij Renderer issue. Do you have any bandwidth for it?

[2022-10-21 16:32] hmemcpy commented on #7450
I could take a look, however, IntelliJ handles the rendering of junit output on its own. It would be helpful to see the JUnit XML output produced by this spec.

[2022-10-21 18:32] dacr commented on #7450
OK I just tested using just `sbt test` and with the `"com.github.sbt" % "junit-interface"     % "0.13.2"     % Test`  lib and there is no issue :

[code]

So you're right it is probably an intellij Renderer issue.

[2022-10-21 18:33] hmemcpy commented on #7450
Cheers. I'm poking around ZIO test running anyway, so I'll take a look at this soon, see if I can fix this!

[2022-10-22 08:36] khajavi opened #7454 "Website: Add Breadcrumb Customization for Integrated Docs"
The current documentation for integrated documentation (e.g. zio-schema) doesn't have proper breadcrumb navigation, which misleads the user navigation experience.

For example, we need something like this as a breadcrumb for the [zio-schema](https://zio.dev/zio-schema/):

Ecosystem > Official > ZIO Schema

Here is a related discussion https://github.com/facebook/docusaurus/issues/6953

[2022-10-22 14:12] hmemcpy commented on #7450
Preliminary findings!

This is the output of the test runner that IntelliJ is parsing and turning into the tree representation. I think it's too chatty, there are some extra lines in the output (`suiteTreeNode` for example) which I don't recognize and I suspect cause the rendering issues.

The current point of origin is the `ZTestJUnitRunner#instrumentSpec` function, need to spend some time with i

[2022-10-22 14:13] ianlintner opened #7458 "ZIO2 Update Docs ZMX, Metrics & zio-metrics-connectors"
As a consumer of ZIO & ZMX upgrading to ZIO 2 the changes to ZMX Metrics and the inclusion of core left an unclear migration path.

Potential Acceptance
* Update/Replace ZMX docs in ZIO or Notes about the change.
  * ZMX documentation in ZIO2 docs is still version 1 examples: https://zio.dev/ecosystem/officials/zio-zmx
  * Replace with link to [https://github.com/zio/zio-metrics-connectors publish

[2022-10-22 16:31] #7445 closed, assigned to nobody

[2022-10-23 07:54] dnio99 commented on #7236
scala version: 3.2.0
[code]
compile-time error.
`Cannot call macro type AllEnv defined in the same source file`
needs to be replaced with

[code]
The following code can be compiled normally in scala version to 3.2.1-RC1
[code]

[2022-10-23 12:30] cobr123 commented on #7440
looks like adding
[code]
to [zio.test.ZIOSpecAbstract#runSpec](https://github.com/zio/zio/blob/40bc3f2fb42dc52dbf768225529dc2681cc3a1f2/test/shared/src/main/scala/zio/test/ZIOSpecAbstract.scala#L71) can fix it

[2022-10-23 15:28] valentin-panalyt opened #7460 "Bug: Stream stops/interupts early when using interruptWhen(Promise)"
After migrating from ZIO 1 to ZIO 2.0.2, I found a problem with a background process.

[code]

I have two streams that I merge and run forever in background until some condition is met. (I'm essentially creating a stream which's lifetime I control through `Scope` - I couldn't find a better way to control the streams lifetime).

This worked before, but after ZIO 2 the stream doesn't start at all. N

[2022-10-23 16:05] myazinn opened #7461 "Equality assertion for Long and Int fails to compile"
Example
[code]
Compilation of the snippet above fails with the following error
[code]
But they _can_.
If we change
[code]
to
[code]
then if also fails, but if we do this
[code]
then it passes.
I'm not sure what's the best way to fix this, I tried using `<:<` evidence, but it didn't work either. It is possible to just provide all the required pairs manually (e.g. `Eql[Int, Long]`, `Eql[Long, Int]`,

[2022-10-23 18:15] ivladpatryshev commented on #1121
I wonder if there is a solution for collecting errors (the way `traverse` _was supposed_ to work.

[2022-10-23 18:53] adamgfraser commented on #1121
@ivladpatryshev You can use `ZIO.validate` if you want to accumulate errors.

[2022-10-24 19:56] #5854 closed

[2022-10-24 20:29] jdegoes opened #7462 "Create comprehensive test suite for `ConfigProvider.env`"
`Config` and `ConfigProvider` are two new additions designed to bring a configuration front-end to ZIO 2.0.

In order to prepare release, we should develop a comprehensive test suite for `ConfigProvider.env`, which is a developer-mode configuration provider that attempts to load configuration information from environment variables.

The code can be found inside `ConfigProvider.scala`, and a test s

[2022-10-24 20:34] jdegoes opened #7463 "Create comprehensive test suite for ConfigProvider.props"
`Config` and `ConfigProvider` are two new additions designed to bring a configuration front-end to ZIO 2.0.

In order to prepare release, we should develop a comprehensive test suite for `ConfigProvider.env`, which is a developer-mode configuration provider that attempts to load configuration information from system properties.

The code can be found inside `ConfigProvider.scala`, and a test suite

[2022-10-24 21:02] jdegoes opened #7464 "Enhance test suite for ConfigProvider.fromMap"
`Config` and `ConfigProvider` are two new additions designed to bring a configuration front-end to ZIO 2.0.

In order to prepare release, we should develop a comprehensive test suite for `ConfigProvider.fromMap`, which is a developer-mode configuration provider that attempts to load configuration information from a map.

The code can be found inside `ConfigProvider.scala`, and the existing spec en

[2022-10-26 09:47] sbuljat commented on #4433
Since Loom is out now, are there any more formal plans when ZIO aims to support it?

[2022-10-26 09:57] #7376 closed, assigned to nobody

[2022-10-26 14:06] #7440 closed, assigned to swoogles

[2022-10-26 20:44] beneyal commented on #7464
I would like to tackle this issue for the Hackathon 🙂

[2022-10-26 21:32] swoogles commented on #7464
@beneyal go for it!

[2022-10-26 22:40] adamgfraser commented on #7461
This type of implicit numeric widening is normally considered a wart so I am not sure if it is something we want to support. You can easily compare the same numeric type and this can help prevent bugs where you are comparing things that don't make sense.

[2022-10-27 01:54] bertlebee opened #7467 "Support for scala 3 "derives" syntax & union types"
follow on from https://github.com/zio/zio-json/issues/752#issuecomment-1292853481

The zio ecosystem doesn't currenly leverage the new scala 3 typeclass derivation machinery. The current pattern of adding implicits to all companion objects and calling `Whatever.gen` is maybe a necessary evil for scala 2, but there's no reason that I can see for it in scala 3!

Here's an example with zio-json. http

[2022-10-27 02:07] #6851 closed

[2022-10-27 02:09] #2271 closed

[2022-10-27 02:10] jdegoes commented on #5543
This ticket is still relevant. I think @vigoo recently did some work in ZIO Flow that could be useful to port to ZIO 2.0.

[2022-10-27 02:13] #6852 closed

[2022-10-27 02:22] adamgfraser commented on #7464
@beneyal Great!

[2022-10-27 02:28] adamgfraser opened #7468 "Expose More Stream Operators As Pipelines"
Pipelines describe stream transformations as values. For example, `ZPipeline.map(f)` constructs a "pipeline" that can be applied to a stream to map each of its elements with the function `f`.

Currently there is some inconsistency because many stream transformations can be described as both a pipeline or an operator on a stream (e.g. `ZPipeline.map` and `ZStream#map`) but generally many more opera

[2022-10-27 02:34] adamgfraser commented on #7460
Yeah there is definitely something off here. Thanks for reporting!

[2022-10-27 02:35] adamgfraser commented on #7458
@ianlintner Thanks for raising the issue and for your PR! I asked @khajavi to review.

[2022-10-27 02:36] adamgfraser commented on #7450
@hmemcpy Awesome!

[2022-10-27 02:39] adamgfraser commented on #7443
Would definitely be nice clean up if someone knows how to do it.

[2022-10-27 02:39] adamgfraser commented on #7408
Going to close this as I do not think it is actionable for the reasons discussed above.

[2022-10-27 02:39] #7408 closed, assigned to nobody

[2022-10-27 02:41] adamgfraser commented on #7393
Yes we need to bring back the `MetricListener` interface to support this.

[2022-10-27 02:43] adamgfraser commented on #7362
I'm generally not a fan of these "micro libraries" but we could look at this.

[2022-10-27 07:36] 987Nabil commented on #4433
It is not out btw, it is still in preview. Also, I don't think this is a pressing issue. So I would wait for the final release in an LTS JDK, before investing a lot of time. It might end up being a waste. We waited for loom since JDK 9 I guess. We can wait a little longer 🙂

[2022-10-27 11:49] narma commented on #7461
I think current behaviour is much better than implicit numeric widening, type safety for the win.

Also scalatest with `must` matchers with triple equals (which I only use in case of using scalatest) doesn't allow such behaviour too.
<img width="317" alt="изображение" src="https://user-images.githubusercontent.com/91045/198276343-40814c0f-e786-4383-8833-6f6f5d532029.png">

[2022-10-27 15:51] tewecske commented on #7468
I'm interested in this, but I have limited time this week so I'd like to join someone doing this :)

[2022-10-27 15:58] adamgfraser commented on #7468
There are also a lot of pipeline operators and I think it probably makes sense to proceed incrementally so you can just take a couple of operators that you would like to work on and we can go from there.

[2022-10-27 16:09] vigoo commented on #5543
What I did in zio-flow is just dumping all collected metrics at once at the end of test runs:
https://github.com/zio/zio-flow/blob/main/zio-flow-runtime/src/test/scala/zio/flow/DumpMetrics.scala

something like this could be added to ZIO Core, probably with optional periodic dump not just final

[2022-10-27 16:42] arumus commented on #5543
I can pick this up if this is still available.

[2022-10-27 18:55] myazinn commented on #7461
All right then, keep your types

[2022-10-27 18:55] #7461 closed, assigned to nobody

[2022-10-27 19:27] tewecske commented on #7468
@adamgfraser I found these ones, does this seem right?
[code]

[2022-10-27 19:49] adamgfraser commented on #7468
Those look good with the exception of `pipe` which already just sends something through a pipeline. Also take a look at #7455 to make sure we aren't duplicating work there.

[2022-10-27 20:14] tewecske commented on #7468
Most of them are in that PR except:
[code]

Are those needed?

[2022-10-27 20:15] adamgfraser commented on #7468
I think those make sense as pipelines.

[2022-10-27 22:57] lgos44 opened #7470 "ZIO Test: TestRandom does not feed values with provideShared"
Reproducible with:

[code]

Result :
[code]

It works properly with `provide`. When using `provideShared` ints are not fed to the service.

[2022-10-28 02:34] adamgfraser commented on #7470
In ZIO 2 the default services should not be in the environment. Your example can be rewritten to:

[code]

[2022-10-28 06:07] Iltotore commented on #7467
About the `derives` part, zio-json [now uses it for Scala 3](https://github.com/zio/zio-json/commit/82a81365756a50b0e417a846a5224024ac43deab)

[2022-10-28 10:43] domdorn opened #7471 "zio-test: assertTrue macro doesn't handle string interpolation in lists when creating error message"
[code]

![grafik](https://user-images.githubusercontent.com/100349/198569089-32f73c04-ca9b-42b1-811c-b7563fa4aec0.png)

[2022-10-28 18:22] peixunzhang commented on #7462
I will take it

[2022-10-28 19:45] hindog opened #7475 "ZStream.mapZIO should preserve chunk size?"
When `mapZIO` is called on a `ZStream`, existing chunk size is not preserved.  Should the desired behavior be to preserve chunking when operating on individual elements in the stream?  In our case, we are using `ZStream.tap` (which utilizes `mapZIO`) to capture some metrics/logging, but we don't want to lose the upstream chunking when doing so.

Example:

[code]

[2022-10-28 19:55] adamgfraser commented on #7475
@hindog It is not safe to preserve chunking in `mapZIO`. For example, the function `f` might take significant time to execute and the downstream might only want to take a limited number of elements or might take some further action based on an intermediate item. For efficiency in this case you can use `mapChunksZIO`.

[2022-10-28 20:32] hindog commented on #7475
@adamgfraser yeah that does make sense.  Do you feel the same way about `tap`?  I suppose `tap` could take significant time as well, but the "further action based on an intermediate item" use-case wouldn't apply to `tap`, correct?

[2022-10-28 20:33] adamgfraser commented on #7475
@hindog It definitely does. The evaluation of the `tap` for an earlier item could interrupt the entire stream or signal that fewer items need to be processed.

[2022-10-28 20:42] hindog commented on #7475
Ahh right, I was interpreting that differently (interpreting the mapped stream vs some signal sent via `.interrupt`/`Ref`/`Promise`/etc).  So I guess what I'd be looking for is something like `tapChunks`.  Easy enough to add an extension method on my end, or do you feel like that might be handy to have as part of the core API? (if so I can try to create a PR for it)

[2022-10-28 21:29] adamgfraser commented on #7475
We've been trying to avoid creating more chunk variants. You can already use `chunksWith` to perform an operator with the funk structure of the stream exposed so I think that is probably the way to go.

[2022-10-28 21:45] #7475 closed, assigned to nobody

[2022-10-29 12:51] DamianReeves commented on #7463
Was looking to take this one up, but it looks perhaps like this was done already. Should this PR be linked: https://github.com/zio/zio/pull/7472 ?

[2022-10-29 21:56] frekw commented on #7424
@adamgfraser just FYI: I tried to do some digging. We do end up in the right case, but this [`interruptAs`](https://github.com/zio/zio/blob/series/2.x/core/shared/src/main/scala/zio/ZIO.scala#L2460) call doesn't seem to actually interrupt the fiber.

Removing this [`ZIO.uninterruptibleMask`](https://github.com/zio/zio/blob/series/2.x/core/shared/src/main/scala/zio/ZIO.scala#L2470) fixes that (but

[2022-10-29 23:17] adamgfraser commented on #7424
@frekw No worries. Will push something up soon.

[2022-10-31 02:22] #7470 closed, assigned to adamgfraser

[2022-10-31 03:54] paulpdaniels commented on #7468
I think the `aggregate*` and `buffer*` operators could also be candidates for this as well, I was planning to look at the former next.

[2022-10-31 08:10] beneyal commented on #7464
Taken care of in #7473 :slightly_smiling_face:

[2022-10-31 16:50] domdorn opened #7481 "Hub: Expose number of active subscriptions"
I'm currently creating metrics for queues in my app and haven't found a way to
access the number of active subscriptions on a hub.

IMHO the following information would be helpful/insightful:
 1.) number of subscribers of the hub
 2.) for each subscriber, how far they are behind in consuming messages from the hub (and thus possibly creating problems)

for 1.) I think an additional method on the Hu

[2022-10-31 16:51] #7464 closed, assigned to beneyal

[2022-10-31 16:55] adamgfraser commented on #7481
@domdorn Will add something for the first one. For the second you can check the `size` of each subscriber.

[2022-10-31 17:07] adamgfraser commented on #7481
Actually that is not a binary compatible change but you can update a `Ref` when a subscriber subscribes or unsubscribes if you want to track that information.

[code]

[2022-10-31 18:52] domdorn commented on #7481
hmm.. if we could change the anonymous instance to a real instance, e.g. `zio.HubImpl` or something, then we could add the method and I could do something like

[code]

![grafik](https://user-images.githubusercontent.com/100349/199085907-cf660efe-145a-4896-ad39-9721f3fa6a04.png)

Ideally, we would have methods on Queue's and Hub's etc. that would provide us with a metric.. I'm currently having a h

[2022-10-31 21:19] adamgfraser commented on #7481
We will provide a way to view metrics for queues and hubs in the future, though we may do it in a somewhat different way.

[2022-10-31 21:28] eyalfa opened #7484 "ZPipeline.branchAfter applies the new flow per chunk rather than on the remaining upstream"
the following test code demonstrates the issue:
[code]

this test fails with the following error:
[code]

we can see that `prepend` is actually applied per chunk rather than on the remaining upstream.

[2022-10-31 22:57] #7424 closed, assigned to adamgfraser

[2022-10-31 23:42] #7277 closed, assigned to nobody

[2022-10-31 23:43] #7484 closed, assigned to nobody

[2022-11-01 00:56] #7462 closed, assigned to nobody

[2022-11-01 13:00] #7460 closed, assigned to adamgfraser

[2022-11-01 20:40] narma opened #7489 "Defect: Could not find service in ZEnvironment with scala 3"
Following snippet using scala3 & zio 2.0.3 fails with error
[code]

Changing scala to 2.13.10 or zio to 2.0.2 helps.

[code]

[2022-11-02 09:53] darl opened #7493 "Test with TestClock hangs sometimes"
ZIO Version: 2.0.3
[code]

Sometimes hang with message:
[code]

I think runtime cannot interrupt forked fiber.
In cases when test succeed something continues to consume CPU until sbt console got killed

[2022-11-02 10:24] adamgfraser commented on #7493
@darl I have run this a couple dozen times and have never observed the test not terminate.

However, you are right that the fiber continues running in the background. This is expected behavior since you fork the fiber as a daemon fiber and never interrupt it and the fiber essentially does a busy loop.

The `TestClock` warning is a bit of a red herring here but is triggered because the implementati

[2022-11-02 10:32] #7489 closed, assigned to adamgfraser

[2022-11-02 10:59] gregor-rayman commented on #6908
A different but related topic: Would it be possible to suspend and persist a fiber (or something similar), stop the whole application (e.g. to deploy a new version) and then later to load the fiber's state and to continue? (This would be usable for loooong running business processes that are waiting on external events.). I know this is more domain of BPEL... but describing business processes as fo

[2022-11-02 11:23] adamgfraser commented on #6908
@gregor-rayman I think you want to take a look at ZIO Flow for that.

[2022-11-02 13:14] darl commented on #7493
afaik all fibers interrupted by zio-test runtime after test completes.
Checked that with `2.0.2` - all daemon fibers got interrupted.
On `2.0.3` none of them interrupted

[2022-11-02 13:19] darl commented on #7493
Are you running them in same sbt session?

Replaced `.forkDaemon` with simple `.fork` and test hangs after 8 repetitions with stack trace:
[code]

[2022-11-02 14:23] adamgfraser commented on #7493
Interrupting them if they are forked with `forkDaemon` is not expected behavior. They are forked as daemon fibers so it is not correct to interrupt them.

[2022-11-02 15:08] nartamonov opened #7494 "Console ZIO app built with `native-image` hangs when `Ctrl+C` is pressed"
### How to reproduce

1. Build the following app with Graal `native-image`:
[code]
2. Run it in console.
3. Press `Ctrl+C`

*Expected result*: program exits.

*Actual result*: program prints fiber dumps but does not exit. When `Ctrl+C` is pressed again, it prints fiber dumps again but doesn't exit.

### Possible causes

This issue could be affected by #5185.

### Test environment

* ZIO 2.0.3
* Wi

[2022-11-02 17:37] guidoschmidt17 opened #7496 "scala.js fullLinkJS crashes on "object Main extends ZIOAppDefault" with 2.0.3"
Even the simplest main cannot be linked with fullLinkJS for Scala.js with version 2.0.3. With 2.0.2 everything works fine.

This is my (simplified) main:

[code]
Running fullLinkJS (or fastLinkJS) in sbt produces this stack trace:
[code]

Environment:
[code]

Thanks in advance for your support.

[2022-11-02 18:20] guidoschmidt17 commented on #7496
I found a workaround/solution for this issue:

Changing the build.sbt from
[code]
to
[code]

solved the issue for me. The client main can be fully built with 2.0.3. (And yes, it is faster)

Maybe some maven repo issue.

[2022-11-02 19:46] adamgfraser commented on #7493
Going to close this as not interrupting daemon fibers is expected behavior and the issue with interrupting a fiber that repeatedly captures a stack trace has now been fixed. Neither of these issues appear to relate to the `TestClock`.

[2022-11-02 19:46] #7493 closed, assigned to nobody

[2022-11-03 07:03] Pask423 commented on #7496
We experience similar problem in sttp when try to update zio to 2.0.3 - more details in CI [reports ](https://github.com/softwaremill/sttp/actions/runs/3382132826/jobs/5616740864)
[code]

[2022-11-03 09:18] domdorn opened #7497 "`ZStream` can drain `Queue` into negative size"
Affected Versions: at least ZIO 2.0.2 and 2.0.3 , possibly earlier versions

[code]

gives this error:
[code]

[2022-11-03 10:57] adamgfraser commented on #7497
@domdorn This is expected behavior.

[code]

[2022-11-03 11:00] domdorn commented on #7497
🤦‍♂️ sorry, closing.

[2022-11-03 11:00] #7497 closed, assigned to nobody

[2022-11-03 18:29] hindog opened #7499 "OOM when using `andTo` to compose ZLayer's and failures occur during ZLayer creation (2.0.3)"
### Description

We recently modified our application to provide a single `ZLayer` that is composed of many different layers (28 in total) using `andTo` (aka `>+>`).  After this change, we started to see the following happen *intermittently* during application startup:

1) The application would hang completely
2) Heap usage was maxed out

After some more investigation, we were able to reproduce th

[2022-11-03 21:49] adamgfraser commented on #7499
@hindog Thanks for reporting! If you can create a reproducer will definitely take a look!

Can I ask why you are manually constructing these layers instead of using `ZIO#provide` or `ZLayer#make`? This is not our recommendation and your manual dependency graph will almost certainly be less efficient that the automatically constructed one with many instances of unnecessarily looking up previously c

[2022-11-03 23:28] adamgfraser commented on #7499
@hindog Can you try on the latest snapshot?

[2022-11-04 02:50] valentin-panalyt commented on #7460
I'm very pleased to see such a quick fix and release 👏

[2022-11-04 21:37] hindog commented on #7499
@adamgfraser just tried `2.0.3+6-5f32111e-SNAPSHOT` and still seeing the issue.

Regarding `ZLayer#make`: I can't remember if there was a specific reason, perhaps we were worried about increased compilation time or maybe just overlooked it.  Having said that, `ZLayer#make` does seem to do what we want without issues, so thanks for that suggestion! :)

Regarding `ZIO#provide`: yeah that was what we

[2022-11-04 22:50] adamgfraser commented on #7499
@hindog I think you may not be using the latest version. On `series/2.x` the first example completes almost immediately after the five second delay. There is an issue with the second and third examples which I will take a look at.

[2022-11-05 01:10] hindog commented on #7499
@adamgfraser, yep you're right, the latest snapshot version I was seeing at the time did not have recent changes you had made.  Looks like `2.0.3+7-4b59c39d-SNAPSHOT` was published since then and I can confirm that the `andTo` OOM issue does look fixed in that version!  Nice work!

[2022-11-05 07:59] ouertani commented on #7499
I confirm the same side effect, we faced a Heap exception after upgrade to `2.0.3 ` revert back to 2.0.2 resolved the issue.

_note we use  :  provide(layer1, layer2, layer3, ...) with some `++` and `>>>` operators_

[2022-11-06 12:54] andrzejressel opened #7503 "refineToOrDie removes part of exception stacktrace"
Code:

[code]

Output:
[code]

While here the only line missing is the last one in my project it removed half of stacktrace from java code.

[2022-11-06 14:44] adamgfraser commented on #7503
@andrzejressel Thanks for reporting! Fixed in #7504.

[2022-11-06 18:22] #7503 closed, assigned to adamgfraser

[2022-11-07 12:57] visox opened #7506 "Error: statically known to be contained within the environment are missing"
[code]

Gives me an error on startup

[code]

guess i try lower versions

edit: lowering the zio version did help

[2022-11-07 14:30] dacr commented on #7449
same issue with labels , it renders such as:
[code]

instead of :
[code]

[2022-11-08 08:20] dacr opened #7510 "zio-test tests filtering by testSearchTerm or tagSearchTerm is ignored when using zio.test.sbt.ZTestFramework"
ZIO 2.0.3 / SBT 1.7.2

All tests are executed although I asked to run only some of them using `-t debug` (testSearchTerm) or `-tags debug` (tagSearchTerm) through the ZTestFramework.

[code]

with a suite such as :
[code]

**I think this is something going wrong with `sbt` `ZTestFramework`**, because the following gist/snippet is working fine :

[code]

[2022-11-08 08:32] dacr commented on #7510
afterwhile not sure this is ZTestFramework, because if I make a kind of indirection to start the tests, I can see that the arguments are well sent to the specs runner :
[code]

And so by running :
[code]

Instead of
[code]

I can see the args well forwared by the test framework :
[code]
All those tests do not have the `debug` tag

[2022-11-08 08:49] dacr commented on #7510
OK I found the issue is coming from the arguments separator `--` which should not be used, this a documentation issue in fact in
https://zio.dev/reference/test/running-tests/

The right syntax is `sbt "Test/runMain ExampleSpect -t bar"`

[2022-11-08 08:58] dacr commented on #7510
OK in fact this is just a documentation issue in https://zio.dev/reference/test/running-tests/
If args separator `--` is used  then filtering doesn't work.
So instead of
[code]
use :
[code]

[2022-11-08 12:56] chessman commented on #7506
I've got the same problem after upgrading from 2.0.2 to 2.0.3.

[2022-11-08 13:01] narma commented on #7506
It happens with Scala 3? In that case I have similar issue https://github.com/zio/zio/issues/7489 (actually not fixed yet)

[2022-11-08 13:58] visox commented on #7506
not sure if relevant but yes i am working with scala 3

[2022-11-08 14:42] jasiskis opened #7511 "Error: java.lang.NoClassDefFoundError: zio/internal/macros from 2.0.2 -> 2.0.3:"
Hi,

I  have a Flink application built with scala 3.2.0 and ZIO. I'm using ZIO mainly on the edges and inside one Flink AsyncOperator. This AsyncOperator has to serialize the code to distribute to task managers.

Everything was working fine up until ZIO 2.0.2, when I bumped to 2.0.3 I started getting errors like the below:

[code]

I tried spotting what could have changed from 2.0.2 -> 2.0.3 that

[2022-11-08 15:14] adamgfraser commented on #7506
Can you try on the latest snapshot?

[2022-11-08 15:44] ianlintner commented on #7458
Docs are updated online.

[2022-11-08 15:44] #7458 closed, assigned to nobody

[2022-11-09 01:41] bertlebee opened #7513 "Possible `provide` error leading to duplicate definition?"
I've hit messages like this a few times now when using zio 2/scala 3
[code]
(when there is no other definition as claimed by the error)

I'm now suspicious that this is an issue with the `provide` method.

To fix the error I swapped out the value of `run` with `ZIO.log("hello world")` and then swapped it back and it now compiles fine. It's possible that this could be a scala 3 problem rather than

[2022-11-09 12:03] visox commented on #7506
is it publish anywhere or you need me to publish local ?

[2022-11-09 16:36] adamgfraser commented on #7506
There is a badge in the read me with a link to the latest snapshot.

[2022-11-09 16:38] #7345 closed, assigned to swoogles

[2022-11-09 16:45] visox commented on #7506
`lazy val zioV = "2.0.3+9-fd58759c-SNAPSHOT"`

sadly didnt help, the outcome is same as with `2.0.3`

[2022-11-09 17:07] #7449 closed, assigned to swoogles

[2022-11-10 23:57] piotrga opened #7514 "ignoreLogged does not log"
https://github.com/zio/zio/blob/2cca18725ad4881c19ee5d3b2c0c0c2e825d27fd/core/shared/src/main/scala/zio/ZIO.scala#L847

Proposed fix is to replace
`self.foldCause `
with
`self.foldCauseZIO`

[2022-11-11 18:43] ollyw opened #7517 "ZIO 2.0.3 with Http4s and Blaze performance regression"
ZIO 2.0 with Http4s and Blaze performance regression

# Background
This is a carry-over discussion from Discord. It is not necessarily highlighting a specific bug, merely a difference in out-of-the box performance between ZIO 1 (with tracing disabled) and ZIO 2.

After porting a ZIO application from ZIO 1.0.16 to ZIO 2.0.3, it became clear that the ported application doesn't perform as well as bef

[2022-11-12 15:24] regiskuckaertz opened #7518 "Deadlock when a dying stream is turned into a queue"
Hi 👋 This code never terminates:

[code]

[Scastie](https://scastie.scala-lang.org/FnkU0RBWQC69En3kvbCONw).

Shouldn't the queue produce an `Exit.Failure` with a `Cause.Die`?

[2022-11-12 15:55] jdegoes commented on #7517
I have seen work stealing reduce performance. Probably makes sense to turn it off by default until the runtime engine can use better heuristics as to when to enable it.

[2022-11-12 16:20] #7514 closed, assigned to nobody

[2022-11-12 17:48] #7518 closed, assigned to adamgfraser

[2022-11-14 10:19] #7517 closed, assigned to nobody

[2022-11-14 11:16] reimai opened #7521 "FiberRuntime.stealWork causing StackOverflow"
Hi,

in my zio app I'm reusing zio's executor as a grpc server executor. And the grpc service runs zio effects via zio.Unsafe.
After an upgrade 2.0.2 -> 2.0.3 this started causing constant StackOverflows with a stack like this:

[code]

which looks like an infinite recursion of work stealing. Not providing zio's executor to grpc server or turnning off work stealing via ```ZIO.withRuntimeFlagsScope

[2022-11-14 17:34] adamgfraser commented on #7521
@reimai Thanks for reporting! What would be really helpful is if you create a minimal application that reproduces this problem. That would help us fix it.

[2022-11-16 00:25] rod1n opened #7525 "`ZIO#resurrect` and `ZIO#absorb` do not conform with documentation"
[code]
Documentation says that this should work, but it doesn't because of restriction the `E IsSubtypeOfError Throwable`. Same for `absorb`.

[2022-11-16 00:36] adamgfraser commented on #7525
@rod1n The code above compiles as written.

[2022-11-16 00:42] rod1n commented on #7525
Sorry, it's IDE 🤦🏻‍♂️

[2022-11-16 00:44] #7525 closed, assigned to nobody

[2022-11-16 15:13] Marc-Ducret opened #7526 "ZChannel#unwrapScoped does not always release resources when interrupted"
After encountering the issue in production using ZSinks and ZStreams, I was able to narrow it down to the following.

Running the following test:
[code]
results in:
[code]

(the `ZIO.sleep(1000.milliseconds)` is there in case some releases were called after `fiber.interrupt` returned, but it does not seem to be the case here)

[2022-11-16 20:40] lukestephenson opened #7528 "ZStream poor performance if chunking is broken"
I [tweeted](https://twitter.com/lukestephenson8/status/1578148868470247425) a while back about the poor performance of ZIOStreams if used where the chunk size was small. That's a less helpful place for that feedback than here, so raising a similar issue here.

Currently ZStream has poor performance (I'm comparing to Monix Observable / Akka streams) if used without chunking.

However there are APIs

[2022-11-16 20:43] indra-rosadi-rally opened #7529 "Do not consume additional stack space when determining if an error is fatal"
Hi,
In one of my projects, I get this error when initializing ZIO/ZLayer that requires a lot of resources/memory. Anybody has any idea what this error means? It looks like it is trying to inspect if a throwable is fatal and it blew up, so I have no idea what the original throwable is. I am using ZIO 2.0.3. The JVM is Java 17 temurin.

[code]

Thanks.

[2022-11-16 20:52] adamgfraser commented on #7529
@indra-rosadi-rally Thanks for reporting! Can you create a small reproducer?

[2022-11-16 21:03] adamgfraser commented on #7528
@lukestephenson Thanks for raising! We are working on optimizations that will reduce the overhead of stream operators, though chunking will likely always be faster.

Stream operators try to maintain the chunk structure of the stream whenever possible, but sometimes this is not possible for reasons of correctness. For example, in `mapZIO` the effectual function might take a significant amount of ti

[2022-11-16 23:16] ncreep opened #7530 "Failing to compile when using the error channel with `suiteAll`"
Hi,

I seem to have stumbled on a typing bug when using `suiteAll`.
Consider the following the test:
[code]

Trying to compile this with ZIO `2.0.3` and Scala `2.13.4` I get the following error:
[code]

While the same test written with `suite` compiles just fine:
[code]

Adding an `orDie` to the first test will also make it compile, but seems a bit cumbersome.

A quick look at the `specAll` macro

[2022-11-17 10:45] adrianfilip opened #7531 "provideSomeShared misbehaving in 2.0.3 (worked in 2.0.2)"
After upgrading from zio 2.0.2 to 2.0.3 provideSomeShared started resources after the first test runs instead of after the entire spec is over.

An example can be found here:
https://github.com/adrianfilip/zio-connect/blob/977124638640aa627605105590dd27b0fe28723a/connectors/aws-lambda-connector/src/test/scala/zio/connect/awslambda/LiveAwsLambdaConnectorSpec.scala#L17

Can reproduce it by running t

[2022-11-17 12:53] #7526 closed, assigned to adamgfraser

[2022-11-17 15:00] adrianfilip commented on #7531
It is not a bug. I was using ZLayer.fromZIO when I should have been using ZLayer.scoped

[2022-11-17 15:00] #7531 closed, assigned to nobody

[2022-11-18 08:39] counter2015 opened #7535 "ZStream OOM problem."
version: zio-streams 2.0.3

## Error message
[code]

## Code
[code]

## RunTime flag
[code]

## Heap dump summary
<img width="1763" alt="image" src="https://user-images.githubusercontent.com/13608862/202658247-8edd4778-c4b9-4720-a3d6-606ba8d75c77.png">

[2022-11-18 11:10] svroonland commented on #7535
Also experiencing an OOM on a newly developed stream processing application based on 2.0.3, within a minute after startup. Found this issue by chance. The issue goes away when downgrading to 2.0.2.

[2022-11-18 11:26] petoalbert opened #7537 "Flaky 2m timeout on recently merged ZChannelSpec test case (JS)"
I have noticed quite a few CI jobs fail for the JS platform regarding a [newly added](https://github.com/zio/zio/pull/7527) test case

[code]

Reference CI job: https://github.com/zio/zio/actions/runs/3496203920/jobs/5853846722

[2022-11-18 13:36] counter2015 commented on #7535
@svroonland That might not be the same problem, this OOM problem also found in 2.0.2

[2022-11-18 14:06] adamgfraser commented on #7535
@counter2015 Can you try on the latest snapshot? This works for me on `series/2.x`.

[2022-11-18 14:32] counter2015 commented on #7535
Well, It seems cost time to try it. I package local snapshot, but it seem only supoort JDK 18+, I will change jdk to run it.

[2022-11-18 14:36] counter2015 commented on #7535
@adamgfraser It not works for me.
 My snapshot version is 2.0.2+39-0998060b-SNAPSHOT
last commit is ffa117661a1d8ae8aea92e0d11df072518a22a3d
<img width="1647" alt="image" src="https://user-images.githubusercontent.com/13608862/202729263-98e7a92b-08dd-467c-ad94-311f210c7304.png">

[2022-11-18 15:00] #7537 closed, assigned to nobody

[2022-11-18 19:54] guidoschmidt17 commented on #7496
With zio 2.0.4 the status of the issue has not changed. The workaround described above is still valid.

[2022-11-18 20:35] #7535 closed, assigned to adamgfraser

[2022-11-19 03:01] kyri-petrou commented on #7506
From what I've gathered so far, the issue seems to be specifically with ZLayers and Scala 3. If a library was built with zio versions `<= 2.0.2` any ZLayers methods / vals they provide won't work in 2.0.3 / 2.0.4. A workaround is to not use the provided ZLayer but reconstruct it.

An example with sttp 3.8.3 (built with zio 2.0.2):

[code]

[2022-11-19 03:06] ghostdogpr commented on #7506
Had that issue as well when upgrading zio-query built with 2.0.3 in Caliban that's still using zio 2.0.2. Upgrading zio to 2.0.3 solves it but I can't because of https://github.com/zio/zio/issues/7496 😅

[2022-11-19 23:15] domdorn opened #7540 "follow up to zio-config: secrets management"
This is a follow up to the general zio config concept - thanks for bringing config as a first class citizen to ZIO!

besides reading configs from environments/system properties, modern applications also come with requirements to secrets management (think hashicorp vault or k8s/openshift secrets in special files or spring config server).

it would be great if zio would provide ways to get a hold of

[2022-11-20 13:03] ak0rz opened #7542 "Make FiberRuntime settings configurable"
see https://github.com/zio/zio/blob/series/2.x/core/shared/src/main/scala/zio/internal/FiberRuntime.scala#L1474-L1478

[code]

If we make these configurable, it may allow end-users to make advanced fine-tuning of runtime to adapt it to their workloads.

In order to help this tuning, we may add metrics like number of limit-yields and limit-trampolines over the time.

[2022-11-20 14:38] adamgfraser commented on #7542
Not sure it makes sense to expose these as opposed to runtime flags like enabling work stealing as they are extremely low level and might change in future optimizations to the runtime but it is certainly possible.

[2022-11-20 16:34] ak0rz commented on #7542
Of course, it's should be marked as unstable API and most of the users wouldn't change them in any way.

But it's like java runtime and GC, you know. Better have some knobs that you'll never use than not to have them. :)

[2022-11-22 00:41] ghostdogpr commented on #7496
@adamgfraser this issue seems to be caused by https://github.com/zio/zio/pull/7361

[code]
That notation seems to not work on Scala.js?

[2022-11-22 01:05] adamgfraser commented on #7496
I'm not sure how the entire test suite passes on Scala.js if that is the case?

[2022-11-22 01:18] ghostdogpr commented on #7496
Are JS tests running on Scala 3? Looking at https://github.com/zio/zio/actions/runs/3116544069/jobs/5054473514 it doesn't seem so?

[2022-11-22 01:37] adamgfraser commented on #7496
Is there a different version of Scala.js that is being used in Scala 3? Why would this method exist in Scala.js on Scala 2 but not Scala 3?

[2022-11-22 02:21] ghostdogpr commented on #7496
I have no idea 😬 Maybe it's related to deconstructing the tuple? Maybe moving the code to a function may help? Sounds like we may fix it by a dummy change without understanding the cause 😄

[2022-11-22 02:28] adamgfraser commented on #7496
Yeah at some point we need methods to not just arbitrarily disappear on some Scala version.

[2022-11-22 03:56] #7496 closed, assigned to nobody

[2022-11-23 11:16] mschuwalow commented on #7535
could you could a release with the fix? We just got hit by this too

[2022-11-23 13:59] #7260 closed, assigned to Wosin

[2022-11-23 21:27] zynque commented on #2661
Hello, I'm seeing what appears to be the same or similar issue in ZIO 2.0.4

[code]

Attempting to terminate with Ctrl-C, the app logs some fiber errors and does not terminate. (I'm running via sbt)

This issue only seems to occur in Windows.

Example Windows output:
[code]

Example Ubuntu output:
[code]

[2022-11-24 00:16] bertlebee commented on #7506
I managed this in 2.0.4, found this issue, easy fix right? Nope, went back to 2.0.2 and got the same thing
```<FAIL> Die(java.lang.Error: Defect in zio.ZEnvironment: Set(RpcReceiver[=LspClientMethod]) statically known to be contained within the environment are missing```

[2022-11-24 00:47] zynque commented on #7494
I'm experiencing the same behavior (program fiber errors are logged, but program does not exit). In my case it is an ordinary Scala app running in sbt on Windows.

ZIO 2.0.4
Scala 2.12
Windows 10
Java ZULU JDK 11

I tested with the App posted by nartamonov, and I continue to see the same behavior described.

[2022-11-24 09:19] domdorn opened #7555 "IntelliJ: ZIO Testrunner not working as expected with ZIO 2 in IntelliJ"
Since migrating to zio 2, the zio test runner in IntelliJ Idea is not working like expected anymore.
Bugs:
 - when one tries to run only a specific test in the test suite, the whole testsuite is executed.
 - the tests are not put into IntelliJs test runner windows, where they would be selectable one by one but output is created like how it would look when directly run in sbt

my coworker shared sc

[2022-11-24 09:21] domdorn commented on #7555
wrong project

[2022-11-24 09:21] #7555 closed, assigned to nobody

[2022-11-24 11:46] jdegoes commented on #7540
This is great, I think the amount of work to do in ZIO is small (much of thi sis out of scope for `core`), mainly limited to using macros to generate a `Ref`-backed proxy around a service trait.

Most of the other work would go into ZIO Config. Can you open a ticket there?

[2022-11-24 11:47] jdegoes commented on #7529
What java agent are you using?

[2022-11-24 12:29] jdegoes opened #7556 "Write Scala 2 / Scala 3 macro for Ref-backed proxy class"
Imagine we have a service trait like so:

[code]

We want an implementation of `Clock` to be updatable at any time. In order to do this, we need to generate a proxy class, which delegates all the methods of `Clock` to an instance of `Clock` that can be changed at any time.

Of course, the idiomatic way to do this is to put the "current instance" into a `Ref`.

If we were to write the proxy class m

[2022-11-24 14:40] jdegoes opened #7558 "ZIO 2.0 Integrated Config improvements"
- [x] Introduce `ZIO#withConfigProvider`, that supplies a config provider for the scope of the specified effect.
 - [x] Ensure the `Chunk` parameters to the `Config.Error` constructors all have defaults of `Chunk.empty`, so users do not have to supply a path prefix themselves.
 - [x] Create a helper `Config#validate(error: => String)(pf: PartialFunction[A, B]): Config[B]` which creates a validatio

[2022-11-24 18:03] KeithGrant opened #7561 "Scala-js compile fails after moving from 2.0.2 to 2.0.3 or 2.0.4"
It appears the zio library versions 2.0.3/4 refer to a java class. Version 2.0.2 compiles successfully.

[error] Referring to non-existent method zio.VersionSpecific$$anon$1.apply(java.lang.Object)java.lang.Object
[error]   called from java.util.HashMap.computeIfAbsent(java.lang.Object,java.util.function.Function)java.lang.Object
[error]   called from zio.VersionSpecific.taggedIsSubtype(izumi.refl

[2022-11-24 18:55] adamgfraser commented on #7561
Duplicate of #7496.

[2022-11-24 18:55] #7561 closed, assigned to nobody

[2022-11-24 19:58] #7558 closed, assigned to adamgfraser

[2022-11-25 09:40] jdegoes commented on #7542
These settings can have a big impact on the runtime but like @adamgfraser says, we can't guarantee they exist from one release to the next, or even that they have the same meaning if they do continue to exist. It's possible we could support their configuration via system properties or environment variables.

[2022-11-25 09:40] jdegoes commented on #7540
Closed this ticket, as I opened one on hot-swap.

[2022-11-25 09:40] #7540 closed, assigned to nobody

[2022-11-25 09:47] jdegoes commented on #7496
@adamgfraser @ghostdogpr From what I saw, this is a bug in Scala 3 Scala.js which occurs when a SAM (Single Abstract Method) has the same signature as Scala's `apply`.

A solution is to create the class manually, rather than using SAM.

[2022-11-25 13:19] jdegoes commented on #7521
We disabled work stealing for now which should hopefully take care of this issue.

[2022-11-25 16:58] jdegoes commented on #7556
See #7540 for context.

[2022-11-28 13:42] indra-rosadi-rally commented on #7529
Hi,
Sorry for the late reply. I think we used datadog as part of the java agent. The JRE that we ran in Java 17 Temurin running on Debian buster image. I can't create a small reproducer since it may be combination of things that cause this. Particularly, we were running a pretty big tensor flow model. I think my primary problem is that it looks like ZIO errored out when determining if a throwable

[2022-11-28 16:00] jdegoes commented on #7529
Perhaps we can change this ticket to: `do not consume additional stack space when determining if an error is fatal`.

[2022-11-28 16:06] indra-rosadi-rally commented on #7529
Updated. Thanks.

[2022-11-30 10:29] vagroz opened #7574 "LogSpan: use `zio.Clock` instead of `System`"
Now `LogSpan` uses `java.lang.System` to get `startTime`. When I wrote a unit-test for my own LogSpan serializer I found that this is untestable. E.g. when I adjust 5 seconds to `TestClock`, my logger prints **-1669803994127** milliseconds instead of **5000**.

Would it be better to use `zio.Clock`?

[2022-11-30 10:56] adamgfraser commented on #7574
We potentially could but for some of these very low level operators I think there is value in showing what actually happened (e.g. this is when the fiber actually started life, this is how long the fiber actually executed, this is how long this actually took). We also want to keep these operators as lightweight as possible and accessing the environment does have some cost.

I don't think this impa

[2022-11-30 10:58] adamgfraser commented on #7529
But where are we consuming additional stack space? All we are doing in `isFatal` is checking if the `Throwable` is a `VirtualMachineError`. We could be using additional stack space if there were a large number of alternative classes we were checking whether the `Throwable` is a subtype of but I don't think that is happening here.

[2022-11-30 10:58] imRentable opened #7576 "Potential memory leak when using `zio.stream.ZStream#groupedWithin`"
Please consider the following ZIO 2.0.4 example that throws a `java.lang.OutOfMemoryError: Java heap space` for me after a rather short amount of time.

The JVM flags I used: `-Xmx1000M -Xms1000M -XX:+PrintCommandLineFlags -XX:+PrintFlagsFinal`

[code]

The heap graph shows a steep increase:

<img width="660" alt="image" src="https://user-images.githubusercontent.com/12008255/204777309-47e33de2-5c

[2022-11-30 11:02] adamgfraser commented on #7576
@imRentable Can you try on the latest snapshot? Your example runs in constant space for me.

[2022-11-30 11:22] vagroz commented on #7574
Ok, thank you!

Yes, fortunately `FiberRef.currentLogSpan` is not private, and I was able to add my LogSpan there :)

[2022-11-30 11:33] imRentable commented on #7576
@adamgfraser Thank you, it looks significantly better with `2.0.4+26-9bf983b0-SNAPSHOT`:

<img width="663" alt="image" src="https://user-images.githubusercontent.com/12008255/204785370-9eb469a8-7d93-47b6-a380-a77c6bea0fee.png">

Therefore, I am closing this and hope for a release soon.

[2022-11-30 11:33] #7576 closed, assigned to nobody

[2022-11-30 14:02] indra-rosadi-rally commented on #7529
For some reason, in this particular case, an error occurred when checking `isFatal` which obscure the actual error that happened. So what we see in the log is the error from `isFatal`, not the actual error.

[2022-11-30 14:08] adamgfraser commented on #7529
Right, but `isFatal` is just `Class#isAssignableFrom(throwable.getClass)`.

[2022-11-30 14:11] indra-rosadi-rally commented on #7529
I see, OK. Somehow, in the stack trace above, when `isFatal` is invoked, it went on and try to load some class which ends up with error.

[2022-11-30 14:14] adamgfraser commented on #7529
Right, I would think the class of the `Throwable` to determine whether it is a `VirtualMachineError`.

[2022-11-30 22:54] DaniRey commented on #6429
I'm uncertain how much ZIO 2.0 changed after this discussion. But my current understanding is, that @vigoo 's code could now work as follows, thanks to `.provideSome[ZIOAppArgs](clippConfig)`

[code]