[2022-04-05 14:47] jdegoes opened #6560 "ZIO 2.0: Develop macro for constructing layer based on constructor parameters"
[code]

/cc @adamgfraser @kitlangton

[2022-04-05 14:57] jdegoes commented on #6560
Links to #6518

[2022-04-05 15:19] kitlangton commented on #6560
I'll look into this. I'm not sure if it will be possible in Scala 2 without the use of whitebox macros, which would require IntelliJ plugin support. (@hmemcpy, do you think the plugin infrastructure could grab such type-information—inspecting the types of the constructor parameters for a class/case class?). Scala 3 should be better with transparent macros, and hopefully it's possible to grab the n

[2022-04-05 15:33] hmemcpy commented on #6560
a) this would be amazing.
b) I believe there's sufficient type information that IntelliJ provides (will have to double-check that, though), so I'd be happy to provide this support, if possible.

I will say, however, that ever since embracing Copilot, I'm happily letting it write my boilerplate and it's often times a) is actually correct and b) something I prefer over excessive "convenience" method

[2022-04-05 17:36] swoogles commented on #5093
@adamgfraser I believe we can close this one 🙂

[2022-04-05 17:38] #5093 closed

[2022-04-05 23:27] #6560 closed

[2022-04-06 00:57] kitlangton commented on #4802
This has been fixed :)

[2022-04-06 00:57] #4802 closed

[2022-04-07 09:25] dylandoamaral opened #6573 ""provideCustomLayerShared" seems to not work anymore since ZIO RC4"
All my tests depending on a layer provided as a shared layer using "provideCustomLayerShared" are not detected as tests anymore since ZIO RC4 (worked correctly with ZIO RC3).

They are not even considered as tests, the coverage doesn't works on them and when running "sbt test" it says that there is no test.

Here is a snippet that reproduce the bug:

[code]

And the output:

[code]

[2022-04-07 12:38] adamgfraser commented on #6573
@dylandoamaral This was fixed by #6528. Can you try running on the latest snapshot?

[2022-04-07 12:44] dylandoamaral commented on #6573
My bad, I didn't notice that there is an issue for that. I tried with the latest snapshot and it works !

Thank you for your hard work.

[2022-04-07 12:44] #6573 closed

[2022-04-07 12:45] adamgfraser commented on #6573
No problem! Sorry we messed that one up!

[2022-04-07 13:52] zhiwilliam opened #6574 "Migration document might need to be updated."
Hey,

I am trying to give ZIO 2.0 a test, I just copied code from migration readme file. But it cannot find toLayer method.

  trait Logging {
    def log(line: String): UIO[Unit]
  }

  case class LoggingLive() extends Logging {
    override def log(line: String): UIO[Unit] =
      ZIO.attempt(println(line)).orDie
  }

  object LoggingLive extends (() => Logging) {
    val layer: URLayer[Any, Log

[2022-04-08 05:34] #6546 closed

[2022-04-08 09:56] khajavi commented on #6574
Thank you for reporting.
The documentation is updated. We should update the microsite to reflect the latest changes.

[2022-04-08 11:06] khajavi commented on #6574
@adamgfraser
Could you please add a new tag (e.g. `docs.2022-04-08`) to the `series/2.x` branch to trigger the microsite workflow?

[2022-04-08 13:48] zhiwilliam commented on #6574
Ah, I found out what happened. In your ZIO-2.0 RC4 branch, zio package defined as:
package object zio
    extends BuildFromCompat
    with EitherCompat
    with IntersectionTypeCompat
    with VersionSpecific
    with DurationModule

But in master branch it defined zio extends .... with with FunctionToLayerOps. I don't know why they are so different. But RC4 loses FunctionToLayerOps leads toLayer

[2022-04-08 14:27] sebver commented on #6117
This is fixed in RC4 so closing this one.

[2022-04-08 14:27] #6117 closed

[2022-04-08 14:33] kitlangton commented on #6117
Yay!

[2022-04-08 17:42] swoogles commented on #6558
Good to close?

[2022-04-09 11:50] TimPigden opened #6588 "RC5 zio test provide now behaves same as provide shared - regression error?"
I've an unexpected regression problem in my tests for RC5 - I just want to understand the expected behaviour:
[code]
In the above code, the generatorZ layer is created just once. Since the nonFlaky is doing a repeat outside of the suiteInner, I would have expected (and I believe previously experienced) the layer being created for every internal run. This is important since my tests are checking sp

[2022-04-09 13:01] TimPigden opened #6589 "running test from sbt on zio-tests mis-reports the test (RC5)"
Sample output:
[code]
note that the failing test is TestLoadedSolvers yet the Error during tests:
is reporting an error in TestSysInfo - which in fact passed

[2022-04-09 13:02] adamgfraser commented on #6589
@TimPigden Thanks for reporting! Will take a look.

[2022-04-09 13:14] adamgfraser commented on #6588
@TimPigden In the first example I believe providing the layer only once is the corrected behavior and was the behavior on prior versions. In the second example the layer should be built twice and provided to each test.

[2022-04-09 13:30] hcoa opened #6590 "Memory leak with forkDaemon in recursion"
I've faced with an issue by using `.forkDaemon` in recursion. It appears that all pervious `FiberContext`s are not being garbage collected. In `FiberContext.fork` when child context is created, reportFailure lambda captures a strong reference to a current `FiberContext`, thus we have a kind of 'linked list' of of fiber contexts via reportFailure.

This is from debugger:

<img width="1463" alt="Scr

[2022-04-09 13:57] TimPigden commented on #6589
[wrong-test-error.zip](https://github.com/zio/zio/files/8457055/wrong-test-error.zip)
this illustrates problem with reporting wrong error.
Run test in sbt and see what errors get produced

[2022-04-09 14:10] TimPigden commented on #6589
[optimisation.zip](https://github.com/zio/zio/files/8457079/optimisation.zip)
when i run the test in sbt it reports the error in the wrong test

[2022-04-09 14:14] #6588 closed

[2022-04-10 17:34] somdoron opened #6596 "ZIO app throws exception when interrupted with SIGTERM"
ZIO Version: 1.0.13
Expect behavior: when interrupted the app should exit gracefully

In production, we are monitoring any crash of the app (Kubernetes pods), the problem is, every time we release a version the pod gets interrupted by Kubernetes, instead of exiting gracefully `zio.App` throws FiberFailure exception and the JVM prints:

[code]

Simple code to reproduce:

[code]

I've tracked down t

[2022-04-11 14:54] somdoron commented on #6596
@adamgfraser it doesn't return an exit code of 1, it throws the FiberFailure exception which is caught by JVM and may be translated into exit code of 1. I'm fine with exit code of 1.

The `.exitCode` doesn't work on interrupted errors.

[2022-04-11 14:56] adamgfraser commented on #6596
Adding a debug statement to your original example I see:

[code]

[code]

[2022-04-11 15:05] somdoron commented on #6596
Interesting, probably my code is not a good enough example, because it is not terminated by another fiber, the following for example doesn't print for me if I ctrl+c or send SIGTERM:

[code]

[2022-04-11 15:13] somdoron commented on #6596
and throws FiberFailture, which is the problem. Instead of just exiting quietly with exit code of 1.

[2022-04-11 15:19] somdoron commented on #6596
after "CTRL+C" the above code with graalvm it prints "Exception in thread "main". This is what we try to avoid, we would like to exit gracefully when SIGTERM is sent. When running in Kubernetes cluster, the fact that the app is going down with a crash makes it difficult to monitor real crashes.

Even if we try to write a log rule to catch all "Fiber failed" messages, again the fact that the ZIO ap

[2022-04-11 16:24] adamgfraser commented on #6596
Yes. We significantly reworked this in ZIO 2. Basically `ZIOApp` should always translate its result into an exit value rather than failing. Can you take a look at the linked PR and see if it resolves your issue?

[2022-04-11 16:33] somdoron commented on #6596
Would catchAllCause catch Cause.Interrupt as well? Anyway, you might want to print the cause as well, like `ZIO.exitCode` does.

Internally, for now, we copied `zio.App` and replaced `unsafeRun` with `unsafeRunSync` and matched the result in the end:

[code]

[2022-04-11 16:37] adamgfraser commented on #6596
Yes it does.

[2022-04-11 16:46] somdoron commented on #6596
Cool, looks good to me.

[2022-04-11 16:48] adamgfraser commented on #6596
Thanks for raising and for taking a look!

[2022-04-11 16:59] #6590 closed

[2022-04-12 15:26] #6596 closed

[2022-04-13 06:46] miroslavmachura commented on #4191
Hello everyone, just want to ask if there's some plan for fixing this?

We just hit this throughput issue in production and had to get rid of all `ZStream.groupBy` usages, as it made the grouping approximately 16 times slower than our previous implementation.

Anyway using ZStream.groupBy was more convenient, would be great if it was fixed and we could get back to using it.

[2022-04-13 13:46] domdorn opened #6608 "zio-test: refactoring breaks "source" of failure message"
In the following usecase, zio-test provides the source location of the failing test in the mixed in class. Its hard to find the corresponding place that actually is the root of the failure

output:
[code]
  common functionality
[code]

event:
[code]

test-class:
[code]

In the test above, the path "ScenarioAddedEventSerializationSpec" -> "comparing objects with no parent" -> "jackson" and "jsonite

[2022-04-13 14:09] kitlangton commented on #6608
Try adding an implicit `trace: ZTraceElement` to those helper methods.

[2022-04-13 16:08] kitlangton commented on #6608
That's interesting. It should just be available, right @adamgfraser? Dom shouldn't need to import `zio._` should he?

[2022-04-13 17:28] domdorn commented on #6608
hmm.. I tried it with the import, doesn't change a thing.. do I need to add the implicit in a different way maybe?
![grafik](https://user-images.githubusercontent.com/100349/163236768-21941c64-37b2-4f85-80a0-2378f6c640f7.png)

[2022-04-13 17:33] adamgfraser commented on #6608
Are we sure this is an actual compiler error and not IntelliJ? Literally every ZIO operator requires a `ZTraceElement` so I don't know how any of your tests would work if one wasn't being generated.

[2022-04-13 17:39] domdorn commented on #6608
I got it working.. I don't need a `ZTraceElement` in my helper but a `zio.test.SourceLocation`

this is the code that is working now!
[code]

[2022-04-13 17:55] kitlangton commented on #6608
Doh! I got the required implicit wrong. Sorry about that.

[2022-04-13 18:15] reimai opened #6613 "ZStream.aggregateAsyncWithin retains objects from aggregation function"
In my project I'm using ZStream to essentially fold big messages into a small one using aggregateAsyncWithin, and write these to storage. I've noticed that every time a schedule loses a race, all aggregated chunks are held in memory until that schedule step finishes.

In some scenarios this leads not only to a huge memory footprint, but to oom (if there is a lot of unread messages, fold always com

[2022-04-13 20:44] domdorn commented on #6608
is there a way we can enhance this a little? e.g. if the scope "jumps files" that we print it like
[code]
 ?

[2022-04-14 00:31] adamgfraser commented on #6613
This does not appear to be a problem on ZIO 2.0. Ran the following code on `series/2.x` and it appeared to be going strong as long as I had patience to view console output.

[code]

[2022-04-14 12:44] reimai commented on #6613
That's great. Although 2.0 is still a release candidate. Could we expect fixes in 1.0? I see the ZStream has been completely rewritten, so, sadly, no simple port is possible.

[2022-04-14 19:40] hindog opened #6620 "Add ZSink service accessor methods"
Add service accessor methods (eg: `service`, `serviceWith`, `serviceWithSink`, etc) to `ZSink` to allow usage consistent with `ZStream`.

[2022-04-14 22:01] adamgfraser commented on #6620
Will add!

[2022-04-14 22:32] tewecske opened #6624 "ZPipeline.iso_8859_1Decode does not fully process the stream"
If I run this

[code]
I get
[code]

but if I run with the ISO_8859_1Decode then I get this
[code]

There is no buffer in `textDecodeUsing` and it doesn't process the end of the stream. It needs to be similar to `utf8DecodeNoBom`.

[2022-04-14 22:47] tewecske commented on #6624
Sorry, no buffer is needed, just the processing of the end of the stream.
I don't know if this the correct solution but instead of this:

[code]

I did this:

[code]

I guess an isEmpty check should be there somewhere.

[2022-04-15 10:32] gchudnov opened #6626 "Double Logging in ZIO 2.0.0-RC5 and ZIO-Logging 2.0.0-RC8"
Hi Team,

It looks there is a problem with log duplication while using ZIO "2.0.0-RC5" with ZIO-Logging "2.0.0-RC8"
*The problem was NOT present in ZIO 2.0 RC2.*

Not sure if that is a problem with ZIO-library itself, ZIO-logging OR just the things has changed and I need to modify somehow my code (?).

wanted to log via logback and have the following code in my zio-app (that was working with ZIO 2

[2022-04-15 11:16] tewecske commented on #6624
I was able to reproduce it without using a file.

https://scastie.scala-lang.org/tewecske/4qkIibsXTN6d7ANUlMqy1A/9

`fromReader` is similar to `fromFile` so looks like it works the same way.
`fromIterable` is different and the issue is not reproducible with it.

So I'm not sure if the issue is with the decoder or with the stream construction using `fromReader` or `fromFile`.

[2022-04-15 11:31] vigoo commented on #6624
The problem is with chunking. Unfortunately the chunking tests for the encoder/decoder pipelines were disabled - enabling them shows the problem. Fix coming soon

[2022-04-15 12:52] adamgfraser commented on #6626
@gchudnov Thanks for reporting!

The encoding of this has changed somewhat between ZIO release candidates but the basic idea is that logging should be additive, so in my most recent PR regarding this the loggers are a set and as the name implies `addLogger` adds a logger to the set of loggers. This way if an inner scope adds a logger it doesn't "take away" from the information that the outer scope

[2022-04-15 13:48] gchudnov commented on #6626
yes, it works, thank you!
closing the issue.

[2022-04-15 13:48] #6626 closed

[2022-04-15 15:39] #6624 closed

[2022-04-15 17:36] adamgfraser commented on #4191
Will take a look at this.

[2022-04-16 06:11] #6620 closed

[2022-04-16 06:24] #1275 closed

[2022-04-16 06:27] adamgfraser commented on #5264
This can now be done using the `race` operator on ZIO with the introduction of scopes.

[2022-04-16 06:27] #5264 closed

[2022-04-16 06:30] adamgfraser commented on #3903
Going to close this as I think it is probably better addressed through streams or existing operators.

[2022-04-16 06:30] #3903 closed

[2022-04-16 06:55] adamgfraser commented on #2077
Closing in light of the introduction of scopes.

[2022-04-16 06:55] #2077 closed

[2022-04-16 06:58] adamgfraser commented on #2698
Closing in light of the introduction of scopes and other API changes.

[2022-04-16 06:58] #2698 closed

[2022-04-16 07:01] adamgfraser commented on #3567
Closing in light of compositional zips.

[2022-04-16 07:01] #3567 closed

[2022-04-16 07:03] adamgfraser commented on #3759
These have been added.

[2022-04-16 07:03] #3759 closed

[2022-04-16 07:06] adamgfraser commented on #4012
Going to close this as I think it is driven by a very specific ZIO Prelude use case that can be implemented at that level if necessary.

[2022-04-16 07:06] #4012 closed

[2022-04-16 07:08] adamgfraser commented on #4777
Going to close as I don't think this is actionable at this point.

[2022-04-16 07:08] #4777 closed

[2022-04-16 07:09] adamgfraser commented on #4512
This is addressed through compositional zips now.

[2022-04-16 07:09] #4512 closed

[2022-04-16 07:10] adamgfraser commented on #5170
We deleted this operator.

[2022-04-16 07:10] #5170 closed

[2022-04-16 07:13] #6363 closed

[2022-04-16 10:47] vladimirkl opened #6631 "Diff derivation is broken in ZIO 1.0.14"
ZIO smart assertions doesn't produce diff output  for case classes in ZIO 1.0.14. Attempt to check diff implicit directly results in error:
[code]

I also noticed that current tests in ZIO codebase doesn't catch Diff derivation failures actually and are always passing.
@kitlangton

[2022-04-16 11:30] domdorn opened #6632 "2.0 migration guide: ZRef got removed"
The migration guide https://zio.dev/next/howto/migrate/zio-2.x-migration-guide/#zref says ZRef is still there, but in 2.0.0-RC5 it is gone. I had to migrate instances of ZRef to Ref

[2022-04-16 11:52] domdorn opened #6633 "2.0 testing: reference to test is ambiguous"
I used to have
[code]
in my test classes. Now that `testM` got renamed to `test`, the compiler complains that `test` is ambiguous.

[code]

I can manually change the imports to use explicit imports instead of the wildcard, but the developer experience was better before... maybe we can fix this for RC6 ?

[2022-04-16 11:52] domdorn opened #6634 "2.0 migration guide: DefaultRunnableSpec gone"
Apparently (from looking at sources in this repo) the new base class is ZIOBaseSpec. This should be documented in the migration guide

[2022-04-16 11:57] adamgfraser commented on #6633
`ZIOSpec` defines its own `test`` and `suite` methods so if you define your tests within `ZIOSpecDefault` this shouldn't be an issue for you. This was the same solution as we used for `test` in ZIO 1.0 and `test` in `DefaultRunnableSpec` in earlier versions of ZIO 2.0.

[2022-04-16 11:57] domdorn commented on #6633
This is especially bad when having to deal with e.g. Durations as the implicits for writings something like `20.seconds` only gets imported from `import zio._` .. if I try to import methods from `zio.test._` explicitly its quite a lot of work and stuff like `scala.predef.assert` gets picked before the one defined in `zio.test.assert`

[2022-04-16 12:02] adamgfraser commented on #6633
This works fine.

[code]

[2022-04-16 12:08] adamgfraser commented on #6632
I just published a new version of the website so those references should be gone momentarily.

We should add a section about deletion of the more polymorphic versions of concurrent data types to the migration guide.

Copying @khajavi.

[2022-04-16 12:09] domdorn commented on #6633
hmm.. I have a huge amount of integration tests in this service. to create expensive resources only once and share them between all of them, I've split the various tests to own files and then imported them in one file.

e.g.
TestsA.scala
[code]

TestsB.scala
[code]

IntegrationSpec.scala
[code]

I've now managed to get rid of the compile errors in TestsA and TestsB by making them also implement `Z

[2022-04-16 12:13] adamgfraser commented on #6633
In ZIO 2 you can implement the `layer` method of `ZIOSpec` and that layer will be shared between all specs so you don't need to use that pattern anymore.

[2022-04-16 12:15] #4191 closed

[2022-04-16 12:15] domdorn commented on #6633
is there a sample of this somewhere?

[2022-04-16 12:19] domdorn opened #6635 "2.0 documentation: testing documentation contains no code of a test"
The documenation about testing in zio contains not a single example of a spec
https://zio.dev/next/overview/overview_testing_effects

The bare minimum it should contain is

[code]

with more examples on how to work with dependencies etc.

[2022-04-16 12:24] adamgfraser commented on #6635
@ domdorn I think you want to be looking [here](https://zio.dev/next/howto/test-effects).

There are several pages that reference testing that could use to be combined into one page and improved on.

Copying @khajavi.

[2022-04-16 12:29] adamgfraser commented on #6633
In the code below, `IntService` will only be constructed once.

[code]

[2022-04-16 12:30] adamgfraser commented on #6633
@khajavi Would be good to add an example of this to the documentation on testing and the migration guide.

[2022-04-16 13:36] khajavi commented on #6633
@adamgfraser Will do!

[2022-04-16 13:51] domdorn opened #6637 "2.0 tests: compiler/macro problem with provideSome / automatic layer construction"
when trying to migrate a zio 1.0.13 project to zio 2.0.0-RC5 I get compile errors in my tests. @adamgfraser said, it has to do with automatic layer construction.
the errors look like this
![grafik](https://user-images.githubusercontent.com/100349/163677465-e83aa2ac-d897-4747-a257-289744ce20a3.png)
they go away If I uncomment this code
![grafik](https://user-images.githubusercontent.com/100349/1636

[2022-04-16 14:20] domdorn commented on #6637
//cc @kitlangton

[2022-04-16 19:38] domdorn opened #6642 "2.0.0-RC5 tests: Clock in Runtime is zio.Clock.live instead of TestClock"
The clock in the environment in the runtime in ZIO test is the live clock instead of the TestClock (see line 5 vs line 1)
![grafik](https://user-images.githubusercontent.com/100349/163688915-0cabb58f-bd0a-462d-b8ff-0925b0b90234.png)

to get the right clock into my runtime, I had to mess with the layer like this:

[code]
and then provide that to my test

[2022-04-16 19:50] adamgfraser commented on #6642
The clock isn't in the runtime or the environment at all. The solution here is for the `Runtime` to contain a set of default `FiberRef` values and then when you access the `Runtime` with `ZIO.runtime` we grab the current values and make those the defaults. I will do this as part of my `RuntimeConfig` changes.

[2022-04-17 09:30] alphaho opened #6643 "ZIO 2.0 error: A Tag may not contain an intersection type, yet have provided"
When I try to migrate from ZIO 1.0.13 to **ZIO 2.0.0-RC5**, I've got the error message `A Tag may not contain an intersection type, yet have provided`.

This happens  when I update our ZLayer construction from something like:
[code]

to:
[code]

The reason we use this style instead of following the Service Pattern 2.0(which would mark `Bar` as case class) is because we want to separate the service

[2022-04-17 12:17] domdorn commented on #6642
I got it working, here are two test classes.. of course, would be awesome if this "integration" would not be necessary anymore in the future.

[code]

[code]

[2022-04-17 13:02] adamgfraser commented on #6643
Yeah, unfortunately this runs into a Scala compiler type inference issue. One other way you can work around this is by assigning the result to an intermediate value.

[code]

Unfortunately both the old `toLayer` syntax and `fromFunction` have warts in this regard. We have some ideas for an alternative but not sure what else we are going to be able to do here.

Copying @kitlangton.

[2022-04-17 13:20] alphaho commented on #6643
I see. Would it be possible to revisit the possibility of #6560? It would be great if we can have that implemented.

[2022-04-17 13:25] kitlangton commented on #6643
This is Scala 3, right?

[2022-04-17 13:36] adamgfraser commented on #6643
Yes that is the alternative. I think that may have tradeoffs of its own but we can certainly look at it.

[2022-04-17 13:36] alphaho commented on #6643
@kitlangton This is using Scala 2.13.6

[2022-04-17 13:46] kitlangton commented on #6643
That’s surprising! I’ll mess around later

[2022-04-17 13:47] adamgfraser commented on #6643
@alphaho Can you say more about why you are defining this as a class instead of a case class?

[2022-04-17 13:48] alphaho opened #6645 "ZIO 2 Schedule gets compilation warning: a type was inferred to be `Any`"
With ZIO **2.0.0-RC5** in Scala **2.13.6**, when I define a `Schedule` variable using the `Schedule.&&` (or `zipLeft` / `zipRight`), it would get a compilation warning `a type was inferred to be `Any`; this may indicate a programming error.`  if I haven't specified the type annotation. Besides, if I type it with `Schedule.WithState` instead of `Schedule`, it would get the same warning.

This seems

[2022-04-17 13:51] adamgfraser commented on #6645
The type is correctly being inferred as `Any`. I would recommend removing warnings regarding types being inferred as `Any` from your Scala compiler settings as types can frequently be correctly inferred as `Any`.

[2022-04-17 14:00] alphaho commented on #6643
@adamgfraser Sure. We tried the Service Pattern 2.0 before, by marking all the classes(both the data class and service class) as `case class` and using `(SomeClass(_, _, _)).toLayer` (we didn't know the `SomeClass.apply _` trick back then).
But team members who are new to Scala found it quite hard to understand.

Because they need to figure out 4 things at the same time:
1. the concept of ZLayer
2

[2022-04-17 14:08] alphaho commented on #6645
Is it because the Aux pattern would make it inferred as `Any`? I was quite surprised that it can't be inferred to `Schedule` or `Schedule.WithState`

[2022-04-17 14:32] kitlangton commented on #6643
Thanks @alphaho that makes sense! @adamgfraser just opened a PR that should fix things :)

[2022-04-17 14:39] khajavi commented on #6635
@adamgfraser @domdorn
After we published the recent changes on the website, currently we have [one section](https://zio.dev/next/datatypes/test/) which introduces ZIO Test.

[2022-04-17 15:04] khajavi commented on #6634
@adamgfraser This is already documented [here](https://zio.dev/next/howto/migrate/zio-2.x-migration-guide/#composable-test-apps). It encourages using `ZIOSpecDefault`. Let me know if we need to change that to `ZIOBaseSpec`.

[2022-04-17 15:07] adamgfraser commented on #6634
@khajavi Perfect!

[2022-04-17 15:07] #6634 closed

[2022-04-17 15:08] adamgfraser commented on #6635
@khajavi Great!

[2022-04-17 15:08] #6635 closed

[2022-04-17 17:50] #6643 closed

[2022-04-17 20:04] adamgfraser commented on #6645
The Scala compiler infers the type flawlessly:

[code]

As you can see, even when we try to tell it the wrong type Scala knows exactly what the type of the schedule is. However, the Scala compiler correctly infers `Any` for both the environment and input types, since this schedule does not require any services and can accept any input.

Unfortunately this seems to trigger a different logic path in

[2022-04-18 08:12] svroonland opened #6649 "No stream output with combination of buffer and mergeTerminateEither"
Using 2.0.0-RC5+23-3d67af5f-SNAPSHOT

The code below is an attempt at a minimal reproducer from some library code. With the buffer line commented out, I get an output line every 2 seconds, but when it's uncommented, only the first output appears. The `mergeTerminateEither` is necessary to get this behavior. In my actual code I'm seeing an interruption of an effect carried out by stream2, but I was

[2022-04-18 11:22] khajavi commented on #6574
@zhiwilliam
Please check again, we update the website recently.

[2022-04-18 11:38] adamgfraser commented on #6649
I see the issue. Will submit a PR shortly.

[2022-04-18 13:32] alphaho commented on #6645
Aha, so the warning on `Any` is about the environment and input types, instead of the Schedule itself.
But it's weird that it also complains about `someSchedule2` when I explicitly typed it as `Schedule.WithState`.

I think I can remove the `infer-any` compiler warning from the project to fix it.

[2022-04-18 13:38] adamgfraser commented on #6645
Yeah I don't know. Something about that causes the compiler to go down a different logic path that triggers the warning, even though all of the examples actually infer perfectly.

Anyway, yes removing `infer-any` will resolve the issue.

[2022-04-18 13:38] #6645 closed

[2022-04-18 13:40] adamgfraser commented on #6633
Going to close this as I don't think there is an action item here. The inclusion of `test` in `ZIOSpec` solves the problem within specs and especially with the ability to share layers between specs all tests should be able to be written within a `ZIOSpec` object. Beyond this I don't think there is. a lot we can do beyond changing the name of the project itself or changing the name of the operator

[2022-04-18 13:40] #6633 closed

[2022-04-18 13:47] #6649 closed

[2022-04-18 14:14] svroonland commented on #6649
Thanks @adamgfraser !

[2022-04-18 19:50] jamesward commented on #5026
It'd be great to get this fixed for ZIO 2.  They are still missing:
https://repo1.maven.org/maven2/dev/zio/zio_3/2.0.0-RC5/

[2022-04-18 21:10] landerlo opened #6658 "Improve FiberId startTime's granularity from seconds to a fraction of second"
The Fiber's start time could have a finer time granularity without increasing `startTimeSeconds: Int` footprint. A trivial solution is to make it a delta from the JVM startup time. Considering we already carry an Int for this information it would be nice to always have access to more accurate startup times, especially relevant for short timed fibers when monitoring.

The tradeoff would be a limite

[2022-04-18 22:19] adamgfraser commented on #6658
That makes sense to me. The main downside I see is that it makes serialization logic more complex.

[2022-04-18 22:22] adamgfraser commented on #5026
@mijicd Any idea what is going on here?

[2022-04-18 22:25] #6574 closed

[2022-04-19 08:58] landerlo commented on #6658
Yes, readObject and writeObject would need to be overriden to support Serialization and the serialized startTime needs to be an absolute value, so either serialized binary footprint is increased to serialize a `Long` with `currentMillis` or we serialize an `Int` with `currentSeconds` thus losing the subsecond precission when recreating the id.

[2022-04-19 10:10] domdorn opened #6660 "2.0.0-RC5 ZLayer.succeed does not infer correct type anymore with anonymous implementations"
Sample code:
[code]
this correctly worked in ZIO 1.0, but in ZIO 2.0.0-RC5

[code]
![grafik](https://user-images.githubusercontent.com/100349/163981299-0054f625-bf15-4684-be7c-f52a86bb6223.png)

To make it work, I have to explicitly cast it, e.g.

[code]

[2022-04-19 11:26] domdorn opened #6661 "2.0 create `provide` that takes object"
[code]

  it would be nice if there's a way to have a `provide` where I don't have to wrap the object in a Layer first

[2022-04-19 12:34] adamgfraser commented on #6661
This seems like a bit too much magic to me. `provide` is an operator that takes a collection of layers and provides them to the workflow. Having it take a collection of things of arbitrary types some of which are layers and some of which are not layers seems quite confusing.

[2022-04-19 12:52] adamgfraser commented on #6661
Note that there is also already `provideService` for providing a single service that is not a layer.

[2022-04-19 13:18] domdorn opened #6662 "2.0 `ZLayer.requires` gone"
`ZLayer.requires[A]` seems to be gone. I think its replacement is `ZLayer.service[A]`. Not sure whats the strategy, but I would have expected it to be deprecated with a note to use `ZLayer.service` instead.

![grafik](https://user-images.githubusercontent.com/100349/164012541-365a4667-2a9a-4839-a742-bd8b212818fb.png)

Please also make sure to update the documentation.

[2022-04-19 13:28] adamgfraser commented on #6662
Yes, `ZLayer.service` is the appropriate replacement.

@khajavi Can you make sure this is in the migration guide?

We will also make sure this is covered by the automated migration tool.

[2022-04-19 14:56] domdorn commented on #6661
hmm.. I was expecting `provde` to be smart enough for layers and other types.. maybe it would be better to get rid of `provide` and call it `provideLayer` or `provideLayers` instead.. then people will type `.provide<tab>` and see "ah ok, these methods are for layers, these are for services".. ?

[2022-04-19 15:19] adamgfraser commented on #6661
We're really trying to focus people on the simplest thing. Layers are the idiomatic way of constructing services.

[2022-04-20 07:40] domdorn commented on #6661
yeah, I get that.. at the moment its "ok, this effect needs x, I'll just `provide` that" and then people are wondering why they get a cryptic compile error. If they would be offered exactly two methods - one for layers, one for instances - it would be clear what to choose..

[2022-04-20 07:45] mijicd commented on #5026
I'll take a look at it.

[2022-04-20 08:16] TimPigden opened #6671 "RC5 zio-test - runtime failures are not supported"
I know this is a known thing but can't see the issue.
On running some of my tests with the upgrade I have runtime failures hitting this code in DefaultTestReporter lines 155 - 159
[code]
        Even capturing the runtime and adding it to the error string would have been more useful
        Consequently I can see nothing to show me what's wrong and have to implement my own tapError code within the

[2022-04-20 08:19] TimPigden commented on #6671
PS it's failing during the provision of layers to the actual test code - which is precisely the area where much the RC2 -> RC5 upgrade coding has taken place

[2022-04-20 11:57] adamgfraser commented on #6661
If anything I would just delete the variant that accepts something other than a layer. The thing you provide to your workflow is a layer. If you have something else you turn it into a layer. We used to have a lot more variants of provide that took ZIO workflows, managed values, and so on and we worked very hard to simplify that. The variant that accepts a single service was a convenience method fo

[2022-04-20 13:49] domdorn opened #6673 "2.0 logging: spans get logged into message instead of annotations"
[code]

[code]

My SLF4J/logback is configured to log to json:
logback.xml
[code]

When now issuing a request, the correlationId gets correctly transformed to a mdc-annotation, but other attributes (e.g. thread, timestamp, level, .. ) end up encoded as strings in the message:
[code]

Dependencies.scala
[code]

[2022-04-20 14:03] domdorn commented on #6661
hmm.. well, maybe then that's what we should do? having exactly one way to make the complicated things?

[2022-04-20 14:06] adamgfraser commented on #6661
Already done. 😃

[2022-04-20 14:06] #6661 closed

[2022-04-20 14:15] domdorn commented on #6673
ok, figured out that these fields get put into the message by the default logformat.. I'm now trying to create a logformat where everything except the message is handled like annotations but can't cause `zio.logging.LogFormat.make` is private.. will open a issue in zio-logging and link this one.

[2022-04-20 14:34] adamgfraser commented on #6673
Okay. I am going to close this one as I don't think there is any action item in ZIO Core.

[2022-04-20 14:42] #6673 closed

[2022-04-20 14:43] #6671 closed

[2022-04-20 14:44] adamgfraser commented on #5026
Thank you! 🙏

[2022-04-20 15:00] domdorn opened #6675 "2.0 logging: Add `someEffect.logSpan("identifier")` utility method"
It would be handy to have a utility method similar to timed that creates a span around an effect,
e.g. so I could do

[code]

  which would be the equivalent of
[code]

[2022-04-20 15:12] domdorn opened #6676 "2.0 logging: create combinators for `LogAnnotate`"
when having to store multiple LogAnnotations, its required to wrap them over and over again, like in this code:

[code]

 it would be great to be able to combine them, e.g. like

[code]

[2022-04-20 15:31] adamgfraser commented on #6676
I think we can just make `logAnnotate` take a list of variable arguments so you can do `ZIO.logAnnotate(someKey -> someValue, someOtherKey -> someOtherValue)`.

[2022-04-20 15:45] #6608 closed

[2022-04-20 18:03] #6637 closed

[2022-04-21 10:43] domdorn opened #6684 "2.0 zio-test: provide way to detect performance regressions"
It would be great if we'd have a way to detect performance regressions through zio-test.
Simplest way would be to simply annotate a test like `@@ TestAspect.expectDuration(200.millis, 25.millis)` (e.g. expectedDuration, StdDeviation).

a more advanced solution could be to tag the test with an Id, e.g. `@@ TestAspect.monitoredPerformance("JobsService-0001")`
and that would read the above values (ex

[2022-04-21 12:55] adamgfraser commented on #6684
Yes I would definitely like to do something like this for our own use as well as for others.

I think there are a couple of ways we could potentially approach this.

One question is whether you want to actually check times within CI and fail at that point or whether you want to track metrics of times and write them somewhere so you can monitor them over time.

Actually failing CI is obviously the

[2022-04-21 17:17] pawank opened #6688 "ZIO Upgrade throwing java.lang.AssertionError: assertion failed error"
Hi,

First of all, thank you for such a wonderful ecosystem around ZIO.

## ISSUE
SBT during compilation is throwing the below error with ZIO 2.0.0-RC5. I am not sure whether it's a dotty compiler error or ZIO.

## STACKTRACE

[info] exception occurred while compiling /home/dev0/experiments/minimal-zio2-scala3-quill/src/main/scala/rapidor/QuillContext.scala, /home/dev0/experiments/minimal-zio2-sca

[2022-04-21 17:19] adamgfraser commented on #6688
@pawank Hi! Thanks for reporting! Are you using automatic layer construction with operators like `provide`? If so can you try switching to manual layer construction with `provideLayer`?

[2022-04-22 04:17] pawank commented on #6688
Hi @adamgfraser The manual layer construction as well is throwing a similar error (provided below and also the branch, `zio2rc5-issue` is updated with the `provideLayer` operator).
I am not sure whether the dependent libraries used which are using `provide` operator are causing the issue or not.

[code]

Any help is appreciated. Thanks

[2022-04-22 04:41] adamgfraser commented on #6688
Do you have incompatible ZIO versions? I don't think Quill has been released for `RC5` yet.

[2022-04-22 05:09] pawank commented on #6688
Indeed, it was the quill causing the issue.
Thanks for your time on this issue and for bothering you because of my mistake.

[2022-04-22 05:09] #6688 closed

[2022-04-22 09:03] domdorn opened #6693 "2.0.0-RC5: foreachParN gone"
I can't find the replacement for `foreachParN`. the ability to limit the parallelism is important when accessing third party systems that are easily overwhelmed by too much parallelism

[2022-04-22 09:13] vigoo commented on #6693
You can use `ZIO.withParallelism(n) { ZIO.foreachPar(...) }`
or an aspect like `ZIO.foreachPar(...) @@ parallel(n)`

[2022-04-22 09:52] domdorn commented on #6693
thx

[2022-04-22 09:52] #6693 closed

[2022-04-22 10:46] TimPigden opened #6694 "when running tests from sbt, if we interrupt with ctrl-c can we know the running test?"
Sometimes I have tests that get stuck in a loop or waiting for something that never happens (usually occurs when I do major upgrade/refactoring - like with zio2). In this case it's pretty hard to deduce which test was running. With the new test mechanism in zio 2, would it be possible to list out the tests that have started and not completed?

[2022-04-22 10:48] adamgfraser commented on #6694
That would be a good feature! Copying @swoogles.

[2022-04-22 16:06] scalajos opened #6697 "ZIO 2 ZPool.get method is not timeout-able"
zpool.get().timeout(sometimeout) ignores the timeout when pool is exhausted for a long time.
Using a fiber is a way to overcome this limitation :
zpool.get.fork.flatMap(resFiber => resFiber.join.timeout(thetimeout))
Having a standard timeout-able get on zpool would be very useful

[2022-04-22 16:13] adamgfraser commented on #6697
@scalajos You can use `pool.get.disconnect.timeout` for this.

[2022-04-22 16:20] alphaho opened #6698 "ZIO 2.0.0-RC5 Some method names are still suffixed with "M""
Hi,

I was looking around in the code base, and found there are still some methods suffixed with `M`. Should we align those names to end with `ZIO` instead of `M`?
If so, I may try to make a PR for this.

Here's the list of names I've found:

[code]

[2022-04-22 16:22] adamgfraser commented on #6698
That would be great!

[2022-04-22 16:27] alphaho commented on #6698
Cool! Let me rename them tomorrow morning.

[2022-04-22 18:15] swoogles commented on #6694
@TimPigden Should be fixed/merged shortly!

[2022-04-22 18:32] TimPigden commented on #6694
My actual problem was the test clock. We used to get a have you used the
wrong clock message. Any chance of resurrecting that?

On Fri, 22 Apr 2022, 19:15 Bill Frasure, ***@***.***> wrote:

[2022-04-22 19:41] swoogles commented on #6694
@TimPigden
Are you referring to this message?

[code]

If so, I believe I can restore that shortly.

[2022-04-24 18:55] ya-goodfella opened #6711 "2.0.0-RC5 Defect in zio.ZEnvironment"
scala 2.13 ([scastie](https://scastie.scala-lang.org/Cl339mXrTY6TJ3o60wCrEg))

[code]

output

[code]

[2022-04-25 08:45] domdorn commented on #6711
so you say because the JVM is supposed to inline "a" above, that the "a" used in provideService has to be the same?
not sure its working that way, but `provideService` is gone after RC5 anyway..

[2022-04-25 09:37] ya-goodfella commented on #6711
That's not about inlining actually, it's about generated type tags. Seems like type tags generated by izumi violates the subtyping roles available from the Scala compiler itself - ZEnvironment checks if it has some element that is a subtype of requested type, but fails to do so when there is a literal type and/or value type involved, where compiler still able to generate it's `<:<` instances (noti

[2022-04-25 17:31] #6025 closed

[2022-04-25 17:36] #6697 closed

[2022-04-25 19:46] tewecske commented on #5595
It's not final yet. The TestPlatform isGraalVM has some comments which contains the system properties I found to check if GrallVM native is used. But not sure which one should I use.
`java.vendor.url` and `java.vm.version` is the same in case of non native GraalVM run.

I'm also not sure about the isGraalVM/graalVMOnly name because this is for GraalVM native only and the name may be confusing. Alt

[2022-04-25 19:47] tewecske commented on #5595
These are the system properties.

java.vendor.url -> https://www.graalvm.org/
java.vm.version -> GraalVM 20.2.0 Java 8
org.graalvm.nativeimage.imagecode -> runtime
org.graalvm.nativeimage.kind -> executable

[2022-04-25 19:55] tewecske commented on #5595
I wasn't able to try it out yet. I can't run zio tests natively. JUnit java tests work using gradle and GraalVM native but zio tests don't.

[2022-04-25 19:57] adamgfraser commented on #5595
Do they work on ZIO 1.0? Do we have another issue that we need to figure out first?

[2022-04-25 21:02] tewecske commented on #5595
I don't think there is an issue. I just don't know yet how to do it. In the sbt graalvm native plugin there isn"t even an option to run tests as native image
I created a simple gradle project with the graalvm plugin but could only run the java junit tests as native image.

BTW is this needed for 1.0 as well?

[2022-04-26 02:14] kitlangton commented on #5831
This is now possible 👍 #6709

[2022-04-26 02:14] #5831 closed

[2022-04-26 02:14] kitlangton commented on #5743
labels now work #6709

[2022-04-26 02:15] #5743 closed

[2022-04-26 02:17] kitlangton commented on #3226
Just curious if you think this is feasible now? :D

[2022-04-26 02:18] kitlangton commented on #6375
#6709 We have achieved convergence!

[2022-04-26 02:18] #6375 closed

[2022-04-26 02:24] kitlangton commented on #6364
@crakjie Do you happen to have some sample code? 👯

[2022-04-26 02:25] #6208 closed

[2022-04-26 09:30] domdorn commented on #5595
@ezzarghili @fniephaus sorry to pull you in. could you please advice how we can determine at runtime if we're running java through a graalvm-native image? is there something else out there than `org.graalvm.nativeimage.kind` ? a simple java code snippet would be much appreciated - thanks!

[2022-04-26 10:10] khajavi opened #6720 "Different Behavior Between ZIO.uninterruptible and ZIO#uninterruptible"
Let's say we have the following code:

[code]

I expect it behaves similarly to the following code:

[code]

With following interruption code:

[code]

But I get two different results.

The output for `ZIO.uninterruptible`:

[code]

The output for `ZIO#uninterruptible`:

[code]

[2022-04-26 12:31] adamgfraser commented on #5595
@tewecske I think we are close enough to release of ZIO 2.0 that we should be focusing new development there.

[2022-04-26 12:31] adamgfraser commented on #5595
@domdorn Thanks for jumping in on this!

[2022-04-26 15:34] dadhi opened #6722 "[Question][Proposal] Potentially more performant and memory efficient Map impl"
Hi, I am pretty new to Scala, though I am following what's happening in Zio for a couple of years now, from the trenches of the .NET stack.

There I have my own performant immutable Map implementation written in C# https://github.com/dadhi/ImTools#imtools.
This year (2022) as an execise to learn Scala, I am converting the `ImHashMap` datastructure to `SMap` here: https://github.com/dadhi/SMap

But

[2022-04-26 15:55] adamgfraser commented on #6720
@khajavi A workflow can be interrupted before entering an uninterruptible region. So the behavior in both of your examples above is non-deterministic because the fiber could be interrupted after beginning execution but before becoming uninterruptible. I think the fact that the companion object operator uses an additional `suspendSucceed` may lead to the different observed behavior you are seeing.

[2022-04-26 15:56] #6698 closed

[2022-04-26 17:04] dadhi commented on #6722
@adamgfraser Are there any Map involving benchmarks in Zio so I can test the alternative?

[2022-04-26 17:33] ezzarghili commented on #5595
You can look at the existing [API](https://github.com/oracle/graal/blob/master/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/ImageInfo.java) for this:
ImageInfo.inImageRuntimeCode() is what you are looking for I think.
The property org.graalvm.nativeimage.imagecode contains the value.

[2022-04-26 19:40] tewecske commented on #5595
@adamgfraser Should I try to load this class and call the `inImageRuntimeCode()` or just simply check for this property being `"runtime"`?

[2022-04-26 20:39] tewecske commented on #5595
@adamgfraser @domdorn
Ok I think this feature requires some other changes.

- SBT plugin doesn't run native image tests.
- zio-test-junit runs with junit 4 but the gradle native image plugin only support junit 5.
- zio-test doesn't have a junit 5 platform TestEngine (or I didn't find it). Here is the scalatest version: https://github.com/helmethair-co/scalatest-junit-runner/blob/main/src/main/java

[2022-04-26 20:43] adamgfraser commented on #5595
@tewecske Thanks for following up! I think it is a little bit up to you. We can open issues for these things and wait for them to be added or if you want to take ownership of this you can work on some of these enablers as part of a larger effort to enable. Probably figuring out why tests aren't running is the first step and seeing if anyone else is able to run tests.

[2022-04-26 20:48] tewecske commented on #5595
@adamgfraser
Tests are runnig fine if I'm using junit 4. There is no issue with that.
Only the native image test run is the problem and because of the issues I mentioned above.
Adding nativeTest to the sbt plugin and implementing the junit 5 TestEngine in zio-test-junit would solve all issues.

[2022-04-26 20:56] tewecske commented on #5595
Created an issue for the SBT plugin: https://github.com/scalameta/sbt-native-image/issues/50

[2022-04-26 20:59] domdorn commented on #5595
I propose to do this:

`TestAspects.isGraalNativeImage` does :
[code]

`TestAspects.isGraalNativeImageExecutable` does:
[code]

`TestAspects.isGraalNativeImageLibrary` does:
[code]

As for compiling tests to native and then running them, we'd probably have to get in touch with the sbt masters (the only one I know of is @eed3si9n).. maybe the guys from scala-native-packager also already have some e

[2022-04-26 21:08] tewecske opened #6724 "Add JUnit 5 TestEngine support"
Only JUnit 4 is supported in zio-test-junit.
Add JUnit 5 platform support.

Here is the scalatest implementation for reference: https://github.com/helmethair-co/scalatest-junit-runner/blob/main/src/main/java/co/helmethair/scalatest/ScalatestEngine.java

[2022-04-26 21:09] tewecske commented on #5595
Added zio issue: https://github.com/zio/zio/issues/6724

[2022-04-26 21:15] tewecske commented on #5595
@domdorn
`"executable"` and `"shared"` are values of `org.graalvm.nativeimage.kind` and I'm not sure if that check is useful.
I think the check we need is `org.graalvm.nativeimage.imagecode` should be `"runtime"` or maybe simply not `null` as you wrote, but I'm not sure what `"buildtime"` means in this case.

[2022-04-26 21:17] crakjie commented on #6364
Oh sorry, I rollbacked on zio 1.
I didn't saw adamgfraser message a the time, and know I totally forgot what was the state of the project at this epoc.
I'm really sorry.

[2022-04-26 21:19] kitlangton commented on #6364
Oh! No worries at all :)
ZIO 2.0 has had a lot of work since February so hopefully this issue was addressed elsewhere. But hopefully all's working well for you now 🥳

[2022-04-26 21:19] kitlangton commented on #6364
I may close this for now. But feel free to re-open if you run into it again.

[2022-04-26 21:24] tewecske commented on #6724
Oh, maybe the JUnit 5 vintage test engine can run zio tests. I'll check tomorrow.

[2022-04-26 21:55] adamgfraser commented on #6724
You want to work on this? 😃

[2022-04-26 22:02] adamgfraser commented on #6722
@dadhi I think you could look at something like `ZSink.collectAllToMap`. One challenge is that in a lot of cases if you need more performance you can move to a mutable map or you really want a concurrent map.

[2022-04-26 22:47] luis3m opened #6726 "ZChannel#runScoped missing elements"
Not sure where the issue lies exactly. It seems to be somewhere in ZChannel. I'll probably edit later with a proper title.

Anyway, I was trying to reimplement `toIterator` without `toPull` and locally I ended up with a similar solution as in the following scastie. However, I noticed the test was failing and since I've been trying to figure out what's wrong.

https://scastie.scala-lang.org/v1dRwyU

[2022-04-26 22:59] adamgfraser commented on #6726
@luis3m What are you trying to do with this line?

[code]

Your test passes if I comment that out.

[2022-04-26 23:02] adamgfraser commented on #6726
I think this test is making a very specific assertion about the order in which `effect` is run in `fromIterator` versus `mapConcatZIO` that is not being preserved in your new implementation versus `runScoped` missing elements.

[2022-04-26 23:06] adamgfraser commented on #6726
Basically I think the issue is that your implementation creates two asynchronous regions. The upstream in the implementation of `toIterator` eagerly begins execution and offers the first element to the `Queue` or `Handoff` without a request from the downstream, which violates the contract implied by this test that the upstream shouldn't begin evaluation until pulled from the downstream.

[2022-04-26 23:11] luis3m commented on #6726
Yeah, that makes sense. In which case, `toIterator` will remain untouched. I'll close this issue.

[2022-04-26 23:11] #6726 closed

[2022-04-26 23:12] #6676 closed

[2022-04-26 23:12] #6662 closed

[2022-04-26 23:12] #6632 closed

[2022-04-27 07:54] gergo- commented on #5595
(GraalVM team member here, though not an absolute native image specialist.)

Yes, `"runtime"` is the correct check.

Native image offers ways for the application to run code at "build time", i.e., while the native image is being built. This can be useful for things like pre-initializing some configuration information and baking constant config values into the actual image.

A simple way to get `"b

[2022-04-27 08:22] dadhi commented on #6722
Agree. Though imagine that you don't need this tradeoff and can have both immutable map properties (which is why I assume the map is selected for the task) and performance/less allocations.
Moreover you may even tune some properties because you are in control. Here specifically, I am talking about using this custom Map for internal implementation rather than exposed API.

[2022-04-27 08:54] domdorn commented on #5595
@gergo- thanks for chiming in!
We're trying to compile test suites to native-images and have  a way to enable/disable certain tests depending on which platform they run (e.g. if they run in ScalaJS or Win/Mac/Linux or in this case as a native-image). So we don't want to run something on compile time but we want to be able to e.g. disable the ScalaJS tests when the tests are executed in a native im

[2022-04-27 11:11] gergo- commented on #5595
Some context: GraalVM can build two kinds of native images: stand-alone executables and shared libraries. By default you get a stand-alone executable of a full application, i.e., if you compile a "Hello World" program you get an executable called `hello` and can run it from the shell as `./hello`. Here the `org.graalvm.nativeimage.kind` will always be `executable`.

In contrast, a [shared library]

[2022-04-28 05:21] domdorn opened #6734 "2.0-RC5 testing: compile error when it should work"
![grafik](https://user-images.githubusercontent.com/100349/165681767-59d95dd9-a837-41b4-b5d1-e0f51c1f22cf.png)

simplified testcase
[code]

required workaround:
[code]

[2022-04-28 05:49] adamgfraser commented on #6734
@domdorn This works on `series/2.x`.

[2022-04-28 06:40] domdorn opened #6735 "2.0-RC5 testing: suiteM missing"
the new testing framework is missing the equivalent of suiteM, e.g. one that allows to return a `ZIO.succeed(List(test1, test2, test3, test4)) `

e.g. this does not work anymore with the new suite class:
[code]

[2022-04-28 07:44] domdorn commented on #6734
ok, then it got fixed after RC5 (can't use snapshots yet in that place)

[2022-04-28 07:44] #6734 closed

[2022-04-28 08:15] domdorn commented on #5595
hmm.. we basically want to be able to do the same thing the quarkus people are doing described here
https://quarkus.io/guides/building-native-image#testing-the-native-executable

However, I've just read that they do not compile the tests to native images but just allow to call http-methods in native images. They also seem to have added some test helpers which seem to be marked deprecated:

https:/

[2022-04-28 11:52] adamgfraser commented on #6735
@domdorn This is supported. For example the following works:

[code]

It would be good to understand what is making this not work for you. If you can provide a minimized example I can take a look.

[2022-04-28 11:55] adamgfraser commented on #5595
Yeah it seems like this is probably out of scope for us. I thought the idea here was just to be able to say doing some particular operation doesn't make sense if we are running on Graal, so don't run this test if we are. Is that a real use case?

[2022-04-28 22:17] tewecske commented on #5595
@gergo-

I don't know if you can help but I can't resolve this issue:

[code]

I don't know if this is an issue in zio or something else.
I tried a bunch of things. I get this error message if I set this:
[code]

If I don't add `zio` to build time init then I get a bunch of errors like these:
[code]

I tried to add them 1-by-1 to build init but I gave up after like 25 classes :)

If I try to add t

[2022-04-29 00:26] swoogles commented on #6694
@TimPigden We're reporting the test Clock issue again.
Between that and the original interception issue, I think we can close this @adamgfraser

[2022-04-29 08:06] fniephaus commented on #5595
Trying to compile an app that uses a non-trivial library like zio that doesn't support Native Image is probably not the best way to get started with GraalVM Native Image to be honest. Nonetheless, we know that the development experience could be improved and we are working on this.

In this particular case, Native Image doesn't know what parts of zio can be initialized at build-time or at run-time

[2022-04-29 12:10] tewecske commented on #5595
@fniephaus
Thank you very much for this info!
And sorry, I'm NOT frustrated with the graalvm native image building experience, but this situation as you said it's non-trivial and I couldn't make any progress because of my lack of knowledge.

Is this agent the same as the one described [here](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#agent-support)? I have it turned on

[2022-04-29 12:14] tewecske commented on #6724
JUnit vintage engine can run zio-test tests so this is not an issue.
I mean this is nice to have but not necessary.

[2022-04-29 12:18] fniephaus commented on #5595
Yes, that's the one.

Let us know how it goes!

[2022-04-29 12:33] adamgfraser commented on #5595
@fniephaus Thanks for your help with this!

Yes, it may make sense to open an issue for improved support in general. We definitely have some users using GraalVM Native Image and have done some work to address it such as [here](https://github.com/zio/zio/pull/6230) but would be good to address more comprehensively.

[2022-04-29 12:52] adamgfraser commented on #6724
We like things to be nice! 😃

[2022-04-29 12:55] adamgfraser commented on #5185
Do you control this code so you can not call that? In ZIO 2.0 we added an `exit` operator on `ZIOApp` for this.

[2022-04-29 13:17] fniephaus commented on #5595
Let me know if you need any help with this from our side.

[2022-04-29 13:18] BillOTei commented on #5185
thanks, that is in house code yes, I basically removed the ` _ <- ZIO.effect(System.exit(exitCode))` and will stick to standard exit codes for now.

[2022-04-29 13:52] khajavi commented on #6720
Thank you for your elaboration.

[2022-04-30 02:50] adamgfraser commented on #6660
Going to close this as not able to replicate and I think any degradation in type inference is a result of using by name parameters which is necessary for correctness. Feel free to re-open if you have an example you would like us to take a look at!

[2022-04-30 02:50] #6660 closed

[2022-04-30 02:51] adamgfraser commented on #6735
Going to close for now as this feature definitely exists in general though if there is a specific case where it is not working we can definitely look at that.

[2022-04-30 02:51] #6735 closed

[2022-04-30 02:52] #6642 closed

[2022-04-30 02:53] #6557 closed

[2022-04-30 02:55] adamgfraser commented on #6631
@kitlangton Can your recent work on `series/2.x` be back ported to resolve this?

[2022-04-30 02:56] adamgfraser commented on #6589
Resolved by #6681.

[2022-04-30 02:56] #6589 closed

[2022-04-30 02:56] #6558 closed

[2022-04-30 03:11] #6481 closed

[2022-04-30 11:52] hmemcpy opened #6752 "Have all executing specs store timing information by default"
The `timed` annotation is useful for tracing the duration of a spec. Unfortunately, since it's not applied by default, this information is not available in the final report, which also affects sbt's ability to correctly produce the junit XML report, which might be consumed by CI runners to learn about the test execution.

Without the timing information present, the duration is always rendered as 0

[2022-04-30 13:04] adamgfraser commented on #6752
Thanks for raising!

This feels a bit anti-modular, though maybe I'm not understanding the full dimensions of the problem. It seems like it would be ideal if you could apply the `timed` test aspect on the IntelliJ side when you are running tests if you want this information.

Timing information is great but ideally you would be able to decide what information you want to capture and how and we wou

[2022-04-30 13:09] hmemcpy commented on #6752
That's what I'm actually proposing. That this information will always be captured, but rendered on demand (given presence of a `timed` annotation, so that the behavior doesn't change).

Also, this is not just for IntelliJ (though it would be nice). Current behavior doesn't report test duration to sbt, so when it produces the junit XML report, it has the `duration` attribute set to 0. On CI runners

[2022-04-30 13:14] adamgfraser commented on #6752
I think that is fine. It could probably be built into the event execution fairly easily.

[2022-04-30 16:02] adamgfraser opened #6753 "Update Migration Guide For Elimination Of Default Services From Environment"
The migration guide should be updated with additional content regarding the deletion of the default services in the environment. I particular:

- All usages of `ZEnv`, `Console`, `Clock`, `Random`, or `System` in the environment type of `ZIO`, `ZStream`, and `ZLayer` should generally be deleted
- There is no need to access these services or provide them anymore
- If you want to use the live versio

[2022-05-01 23:57] #6483 closed

[2022-05-02 06:54] khajavi commented on #6753
Will do!

[2022-05-02 14:50] adamgfraser opened #6756 "Update Migration Guide For Deletion of RuntimeConfig and RuntimeConfig Aspect"
Key points:

- `RuntimeConfig` and `RuntimeConfigAspect` have been deleted.
- To access information about the configuration of your ZIO program as you are running you can use more specific operators such as `ZIO.executor` or `ZIO.logger`.
- To customize the runtime, we use layers. This allows us to use ZIO workflows in customizing our runtime (e.g. loading some configuration information to set up

[2022-05-02 17:36] khajavi commented on #6756
Thank you for the notes! Will do!

[2022-05-03 09:41] khajavi opened #6761 "Console.readLine is not Interruptible"
I expect the following code should be interrupted after not entering any input for one second, but it doesn't:

[code]

[2022-05-03 14:43] adamgfraser commented on #6761
@khajavi Remember that interruption normally only occurs between `ZIO` operations, not during a single operation. Here the program blocks on the `readLine` which is a single effect so interruption should normally not be expected in use cases outside the use of specialized operators such as `attemptBlockingInterrupt`. We actually make special efforts to support interruption in this case so for exam

[2022-05-03 15:37] nightscape opened #6764 "String diff fails with NPE when one of the Strings is null"
When comparing a `String` with `null` the Differ fails with a `NullPointerException`.
Minimal repro:
[code]

The reason is that [`DiffInstances#stringDiff` tries to split the Strings at newlines](https://github.com/zio/zio/blob/4d0fd60c90eb90ec3eb496af1f519007e10d0721/test/shared/src/main/scala/zio/test/diff/Diff.scala#L27), which won't work for `null`.

I know using `null` is not a best practice,

[2022-05-03 18:56] calvinlfer commented on #6364
Hey guys, I was able to reproduce this in ZIO 2.0.0-RC6:
[code]

Here's part of the stack trace:
[code]

[2022-05-03 18:57] adamgfraser commented on #6364
@calvinlfer Thanks for reporting! I will take a look.

[2022-05-03 18:58] kitlangton commented on #6764
Ah! What version of ZIO are you on?

[2022-05-03 19:01] calvinlfer commented on #6764
This is the behavior in RC6

[code]

[code]

[2022-05-03 19:12] kitlangton commented on #6764
👍 I'll add a null check before triggering diffs! You're a bug reproducing machine @calvinlfer! Henceforth, you shall be known as **The Minimizer**.

[2022-05-04 11:50] khajavi commented on #6761
This brings me to another question. So maybe my expectation is not true:

As I know, the `ZIO.attemptBlockingInterrupt` combinator translates the fiber interruption into `Theread.interrupt` so:
1. If I create a ZIO effect from a blocking operation that doesn't swallow the interruption, when the fiber is interrupted the blocking operation will be interrupted too:

[code]

2. If I create a ZIO effec

[2022-05-04 13:39] adamgfraser commented on #6761
So when we use `attemptBlockingInterrupt` we send a signal to the thread using `Thread#interrupt` to attempt to interrupt the thread. What the thread does with that signal is up to it. Ideally like in your first example the thread receives the signal and completes execution. We can manually ignore the interruption signal like in your second example. The implementation may internally ignore the int

[2022-05-04 16:20] francisdb opened #6767 "2.0 logging: allow removing the default logger (bis)"
zio 2.0.0-RC6
zio-logging 2.0.0-RC9

I could not find a way to remove the default logger. So when using zio-logging you end up with duplicate logs.
This was raised previously in #6626 but the fix provided there no longer is available since RC6.

I found `ZIOAspect.disableLogging` but have not found a way to transform that into a (bootstrap) layer.
And there is `Runtime.addLogger(stringLogger)`
The

[2022-05-04 16:20] domdorn opened #6768 "2.0.0-RC6: AssertionM gone"
![grafik](https://user-images.githubusercontent.com/100349/166725266-42b70ba0-d26b-4a18-8df9-3afd834737b4.png)

`AssertionM` is gone and neither in the migration guide nor in the 2.0.0-RC6 release notes there's a mention on how to migrate. Please update the docs and/or release notes - thx!

[2022-05-04 16:24] adamgfraser commented on #6768
`AssertionM` has been deleted. Instead perform a `ZIO` workflow and make an assertion about its results.

@khajavi Can you update the migration guide accordingly?

[2022-05-04 16:33] adamgfraser commented on #6767
In general we are trying to move to a model where, when possible, customizations to the runtime are always added and never taken away. This allows the customizations to be commutative and thus deterministic in the presence of concurrency. For example, what happens when two programs are combined and each program's runtime configuration wants to set a different logger.

In particular in the domain o

[2022-05-04 16:39] domdorn commented on #6768
this is library code in `zio-test-akka-http` which I'm trying to migrate.. I'm not sure how I'm supposed to do

could u please show me on this sample code how its supposed to be?
https://github.com/senia-psm/zio-test-akka-http/blob/master/src/main/scala/zio/test/akkahttp/RouteTest.scala#L22-L26
[code]

[2022-05-04 17:37] adamgfraser commented on #6767
Yes, I actually just submitted a PR to delete it. 😃

[2022-05-04 17:54] adamgfraser commented on #6768
I think that library is going to have to be updated to reflect the deletion of `AssertionM` but in general you would run your route and then you would make a normal assertion about its result.

[2022-05-05 00:46] #6364 closed

[2022-05-05 06:15] boniface commented on #6768
2.0.0-RC6 is really an "ouch" release for my team. Even ```zio.IO.fromfuture ``` is gone and replaced with ```zio.ZIO.fromfuture```, and I can understand the reason behind that, ergonomically. However, I would expect this straight deletion of operators to be managed in a usual methodical way that is  well known to us all;  **deprecation and then deletion**, especially for a Release Candidate (RC).

[2022-05-05 07:33] francisdb commented on #6767
see https://github.com/zio/zio/pull/6771

[2022-05-05 10:55] khajavi commented on #6768
I'm on it.

[2022-05-05 11:29] ya-goodfella commented on #6768
Well, [scalafix](https://zio.dev/next/howto/migrate/zio-2.x-migration-guide) would fix that for you automatically. :)

[2022-05-05 11:35] ak0rz opened #6774 "[2.0.0-RC6] ZStream *Par methods may adopt .withParallelism syntax"
Currently methods *Par* in ZStream requires explicit parallelism as the first argument, which was [discouraged in ZIO](https://zio.dev/next/howto/migrate/zio-2.x-migration-guide#compositional-concurrency).

Maybe we should consider make the same change for ZStream.

[2022-05-05 13:59] adamgfraser commented on #6768
@boniface That is very fair feedback. Appreciate it. We try to do that but given how close we are to a final release there doesn't seem to be much value in deprecating things we will need to immediately delete.

At least my experience in upgrading libraries for the latest release candidate was that it was quite straightforward as almost all the changes were relatively mechanical and `IO.someMethod

[2022-05-05 14:35] pszczolisty opened #6777 "Runaway fiber with nested blocking"
I start a fiber by forking an effect created by `blocking.effectBlockingInterrupt(..)`.
It's wrapping around execution of another effect, `effect` (is this usage valid? `blocking.effectBlockingInterrupt(zio.Runtime.default.unsafeRun(effect))` looks a bit weird, but it's the only way I saw to create an interruptible effect if I'm already given an effect). The key point is that the internal effect i

[2022-05-05 15:22] #6767 closed

[2022-05-05 15:26] sergeda opened #6779 "Exceptions happened inside ZStream don't produce correct Stack trace"
In normal ZIO application if something happen it prints line number where error happened, but if error happens inside a ZStream it just prints line number where runDrain was called.

[2022-05-05 23:09] #6753 closed

[2022-05-05 23:09] adamgfraser commented on #6774
Yes. I think we need to improve some of the infrastructure in streams to really support this but will think about what we do for this for ZIO 2.0.

[2022-05-06 17:44] khajavi opened #6784 "The `Runtime.track` Layer Cannot be Provided to a ZIO workflow"
[code]

Compiler error:
[code]

Not sure but I think it is because of the wrong type signature of this layer.

[2022-05-06 17:50] adamgfraser commented on #6784
Yes it is because the automatic layer construction algorithm only permits unused layers when the return type is `Unit` rather than `Any`. Just submitted a PR to fix the signature.

@kitlangton Do you think it is possible to update the algorithm to handle `Any` as well?

[2022-05-06 19:20] kitlangton commented on #6784
I think that might confuse the algorithm, due to Any being a supertype of all the things. But I can look into it. If not, I can at least add suggestion to use `.unit` on the layers you'd like to be side-effecting.

[2022-05-06 19:29] #6784 closed

[2022-05-07 20:24] emilhotkowski commented on #6433
There are tons of uses of `TimeUnit`. Would it make sense to tackle modules one by one? I am offering my time to change `core`.

[2022-05-07 20:49] emilhotkowski commented on #6433
Could you specify what is the end-goal for this task? I would like to help but I'd rather now what usages we want to change.
For example ZIO uses `ScalaFiniteDuration` in `Duration` class, which is bound to use `TimeUnit`. On the other hand we could change every use outside of some low level calls to scala library. Start by changing the way we create Duration object and propagate upwards
`def appl

[2022-05-07 21:03] jdegoes commented on #6433
ZIO uses `java.time.Duration`, although with compatibility for Scala Duration.

I think it would make sense to, in any case where we have a method which accepts `TimeUnit`, have an override that accepts `ChronoUnit`. That could be done in a backward-compatible way, I think.

Thanks for your interest in this!

[2022-05-07 21:06] adamgfraser commented on #6433
Yeah I don't think it actually appears in many places. Basically the `currentTime` method on `Clock`. It appears a lot in the benchmarks as part of the integration with JMH but I don't think there is any need to change that.

[2022-05-07 21:11] emilhotkowski commented on #6433
Basically everything related to ZIO functionality should have option to accept `ChronoUnit`, but leave benchmark as it is? I pick this task if it is suitable for first contribution.

[2022-05-07 21:11] adamgfraser commented on #6433
So I think you could implement an additional constructor for `Duration`:

[code]

And then implement another variant of `currentTime`:

[code]

[2022-05-07 21:12] adamgfraser commented on #6433
@emilhotkowski Yeah that would be great!

[2022-05-07 22:30] emilhotkowski commented on #6433
I successfully added constructor and tests to `Duration` class but I have a problem with `Clock` trait. I am making changes on `series/2.x` branch of my fork and when I try to add new `currentTime` signature I get errors related to type eraser.

Do you have any input on how to solve this? Maybe there is some common/official way of fixing type eraser problems in ZIO. I wanted to ask before sinking

[2022-05-07 23:28] adamgfraser commented on #6433
@emilhotkowski You can use a dummy implicit. See the implementation of `ZIO.fromFile` for an example of this pattern.

[2022-05-10 07:39] kjh618 opened #6794 "Stack overflow when running a test with many `assertTrue`s combined"
The following code produces `java.lang.StackOverflowError` when you run the test.

[code]

[code]

Happens on both ZIO 1.0.14 and 2.0.0-RC6 (with `DefaultRunnableSpec` -> `ZIOSpecDefault`).

[2022-05-10 07:44] kjh618 commented on #6794
Same thing happens with the following code as well, so it doesn't seem to be related to `reduce`.

[code]

[2022-05-10 18:41] adamgfraser commented on #6794
@kjh618 Thanks for reporting!

@kitlangton Do you want to take a look at this?

[2022-05-11 04:14] khajavi opened #6800 "Better Logging When Blocking Pool Size Reached"
With the following code:

[code]

The user will encounter the following error message:

[code]

It might be better to log when the autoblocking starts working and also log the appropriate message why the application stopped.

[2022-05-11 09:51] emilhotkowski commented on #3841
@adamgfraser Looks fixed

[2022-05-11 15:14] NavidJalali opened #6802 "ZIO Test RC6 Fails to Initialize in Gradle"
I am using gradle with junit and zio test
My test is really basic

[code]

This causes an initialization failure:
[code]
It works fine in RC5. Just happens to me in RC6

[2022-05-12 06:51] mingyang91 commented on #6399
I have the same problem. In my case, Use `intersperse()` and it will cause OOM also.

[2022-05-12 13:52] mingyang91 commented on #6399
I've found the point of memory leak; and will post a new issue to discuss this later.

[2022-05-12 16:02] mingyang91 opened #6806 "Chunk cause OOM"
I found the point of memory leak in https://github.com/zio/zio/issues/6399

It cause by `Chunk.Slice` and `Chunk.Concat`, when I combine a `ZStream.chunkN` operator to a chunked `ZStream`, the leak happend.

`chunkN` will `Concat` the fresh chunks emitted by upstream, re-shape to `N` size, and emit it to downstream. the re-shape work is doing by `splitAt`, but in this senario, `splitAt` always cre

[2022-05-12 16:18] mingyang91 commented on #6806
![image](https://user-images.githubusercontent.com/6914730/168121994-1eca1c49-8b8d-4a6a-8f6d-f7e437e28c5c.png)
Heap memory viewed by MAT.

[2022-05-13 08:48] strokyl opened #6809 "Make it easy to do an `&&` on two ZIO[TestResult]"
My team have this helper on our project:
[code]
And we find it really useful. Therefore I think it would be a nice addition to ZIO test, but I have no idea where to put it, if you would be interested in this contribution.

By the way, I just find wish is really similar (except no implicit and wrapped that don't make it easy to use in test).
[code]

[2022-05-13 13:11] #6806 closed

[2022-05-13 20:20] emilhotkowski commented on #6433
@adamgfraser Is there any more work necessary here?

[2022-05-14 16:01] adamgfraser commented on #6433
@emilhotkowski Yes!

[2022-05-14 16:01] #6433 closed

[2022-05-14 20:52] ya-goodfella opened #6811 "[2.0.0-RC6] Fiber.unsafeCurrentFiber() returns None even if it called from a ZIO context"
scala 2.13 ([scastie](https://scastie.scala-lang.org/t2NcVXHtQEyHf02jqDd32Q))

[code]

output

[code]

expected

[code]

[2022-05-14 21:00] ya-goodfella commented on #6811
Ah, nevermind. It works ok with `Runtime.enableCurrentFiber` flag layer.

Anyway, should we add this caveat to a scaladoc for `Fiber.unsafeCurrentFiber()`?

[2022-05-15 10:46] gugliermocollina commented on #4085
Hello @adamgfraser,

Looking at the discussion seems the decision was taken considering that "it will have no effect on behavior, only performance", I have a counter example (minimized from some prod code) here which is affecting behavior. Maybe you can consider reopening the Issue?

[code]

test2 launches the missiles 2 times and test1 only once.

[2022-05-15 13:58] adamgfraser commented on #4085
@gugliermocollina The point of that discussion was not that there could never be occasions where there would be an observable difference but that this design decision made sense on balance. Memoization is a key feature for the efficient construction of layers. Not using reference equality would require users to manually define identifiers for each layer, which would both be unergonomic and require

[2022-05-15 18:14] emilhotkowski commented on #6794
Because of operators like `And` and `Or` this function runs DFS on graph created by `TestArrow` in pessimistic case. The only way to make recursive DFS stack safe is to manage stack by yourself AFAIK. If this was be for grabs I'd be happy to help :)

[2022-05-15 18:41] kitlangton commented on #6794
It's up for grabs! @emilhotkowski That would be amazing :) Let me know if you have any questions about the machinery involved—but it seems like you've diagnosed it.

[2022-05-15 19:27] gugliermocollina commented on #4085
I understand the need for ergonomics in this case. I believe however that not being referential transparent in this case deserve at least a big disclaimer in the documentation.

[2022-05-15 23:08] emilhotkowski commented on #6794
@kitlangton Actually I have a question before I go to deep into FP wormhole. I'm not an expert of FP but I would use `trampolining` to solve this problem. Does it make sense to use typical `loop` function with `UIO[TestTrace]` as return type and just run it in default runtime?

[2022-05-16 00:28] emilhotkowski commented on #6794
BTW I believe that also `TestTrace.prune` suffers from the same stack problem. Just as a simple test I did following
[code]
Theoretically this should work for provided example, but we get StackOverflow on  at `zio.test.TestTrace$.prune(TestTrace.scala:245)`

[2022-05-16 03:52] mingyang91 commented on #6399
@sebver This has been fixed in #6807, I think it can be closed.

[2022-05-16 14:47] #6399 closed

[2022-05-16 15:00] #3841 closed

[2022-05-17 11:05] #6811 closed

[2022-05-17 12:38] #6809 closed

[2022-05-17 19:04] TizocFranco commented on #6383
Hi, I think I'm having this problem as well. The code snippet from above is actually the most self-contained, reproducible example I can find so far.

[code]

The above code hangs every single time when I run the unit test, with the following output:
[code]

I believe I'm using ZIO 1.0.10, Scala 2.12, running my unit tests in IntelliJ. I would like to help to make this as easily reproducible as po

[2022-05-17 19:26] adamgfraser commented on #6383
Hmmm, this appears to work fine.

[code]

Possibly there is an issue with `JUnitRunnableSpec` or the way it is being applied in IntelliJ.

[2022-05-17 22:00] emilhotkowski commented on #6794
I shoot my shoot and I tried to test trampoline method myself. This is the [result](https://github.com/emilhotkowski/zio/commit/23b986987dead3fce3126435e823c860d1ec7ceb) of my experiment. We need to make two functions stack safe, one create `TestArrow` and `Prune` one. If we agree that method is correct (even if code is in hard WIP state) then I could put some time and do it right :)

[2022-05-18 05:38] khajavi commented on #6540
Hi Andreas @atooni
Did you try to look at it?

[2022-05-18 06:20] #6412 closed

[2022-05-18 12:50] miroslavmachura commented on #4191
I see the fix was merged into `zio:series/2.x` branch. Is the fix going to be also applied zio1?

[2022-05-18 14:48] kitlangton commented on #6412
🥳

[2022-05-18 20:32] iilyak commented on #6802
I am having exactly same issue.

[2022-05-18 22:10] adamgfraser commented on #6802
Resolved by #6814.

[2022-05-19 17:06] KeithGrant opened #6820 "package object zio type symbols not found in 2.0.0-RC6"
After library change from RC5 to RC6 several of the type symbols (Task, IO) were not found by the compiler. Moving back to RC5 fixed the issue.

[error] -- [E006] Not Found Error:
[error] 49 |    Task.scoped {
[error]    |    ^^^^
[error]    |    Not found: Task
[error] Explanation
[error] ===========
[error] The identifier for `Task` is not bound, that is,
[error] no declaration for this identifi

[2022-05-19 17:36] adamgfraser commented on #6820
The type alias companion objects were deleted in `RC6`. You can replace all usages of them with `ZIO`. For example instead of `Task.scoped` you would do `ZIO.scoped`. See #6615 for further discussion.

[2022-05-19 17:36] #6820 closed

[2022-05-20 01:23] TizocFranco commented on #6383
Ah, yes, you're right - it took me a second visit to realize you had changed it to extend `DefaultRunnableSpec`. That code works perfectly for me running it from IntelliJ with the change to `DefaultRunnableSpec`.

Referencing issue #3840, it seems that the TestClock relies on the TestAspect [fibers](https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/TestAspect.scala#L345) b

[2022-05-20 15:06] adamgfraser commented on #6383
Yes the aspects need to be applied in `JUnitRunnableSpec`.

[2022-05-21 17:53] scalajos opened #6829 "ZIO.service[T] does not work anymore (ZIO 2 RC 6) when T is a scala 3 opaque type"
[code]

compiles fine with ZIO 2 RC5 / scala 3
but fails with ZIO 2 RC6 / scala 3.

Error message is :

could not find implicit value for izumi.reflect.Tag[org.scalajos.di2.case6.B1Def.B1]. Did you forget to put on a Tag, TagK or TagKK context bound on one of the parameters in org.scalajos.di2.case6.B1Def.B1? e.g. def x[T: Tag, F[_]: TagK] = ....
I found:

    zio.Tag.materialize[org.scalajos.di2.

[2022-05-22 00:49] adamgfraser commented on #6829
@kitlangton Could you take a look at this?

[2022-05-22 01:49] #6426 closed

[2022-05-22 19:59] IdiosApps commented on #5648
- Current zio.dev footer has `Copyright © 2022 ZIO Maintainers - Built with [Docusaurus **v2**](https://v2.docusaurus.io/)`, so I guess this ticket can be actioned now.
- I was looking for how to get regular ZIO updates and came across this ticket

I didn't look into exactly how the docs are generated, but I found that [the DocusaurusPlugin is being used](https://github.com/zio/zio/blob/2ab578b477

[2022-05-23 08:33] oridag opened #6833 "ZIOAppDefault will not terminated when joining a zipped fiber and receiving a SIGINT"
Reproduced with 2.0.0-RC6, the following program will not terminate when sending SIGINT:
[code]
When running the same effect directly, the program exits as expected:
[code]

[2022-05-23 14:22] nicolasstucki opened #6835 "Bug in `SmartAssertMacros` macro implementation"
Based on this failure https://scala3.westeurope.cloudapp.azure.com/blue/organizations/jenkins/buildCommunityProject/detail/buildCommunityProject/5416/pipeline/  I noticed that quote context of the splices at https://github.com/zio/zio/blob/master/test/shared/src/main/scala-3/zio/test/Macros.scala#L166 are not used. In other words `def transform` does not take the contextual `Quotes` instance, inst

[2022-05-23 15:35] adamgfraser commented on #6835
@kitlangton Can you take a look at this?

[2022-05-23 15:45] kitlangton commented on #6835
Thanks for the info, @nicolasstucki! I had no idea. I'll update the code.

[2022-05-24 21:18] ajaychandran opened #6838 "Add "Automatic-Module-Name" for release artifacts"
Please consider adding "Automatic-Module-Name" to the manifest file of released JAR files. This would allow users on Java 9 (and Maven) to use the library.

This can be achieved by adding the following SBT setting:
[code]

A more detailed description of the issue is available [here](https://github.com/makingthematrix/scala-suffix).

[2022-05-24 22:22] bbarker opened #6839 "clearOutputErr missing (to match clearOutput and clearInput) in TestConsole"
See [test/shared/src/main/scala/zio/test/environment/package.scala](https://github.com/zio/zio/blob/006f6f3ffc0e735cb09ead595b86f60bdb78bfcc/test/shared/src/main/scala/zio/test/environment/package.scala).

I'm happy to try to add this in a PR if there are no objections.

[2022-05-25 07:36] adamgfraser commented on #6839
Thanks for reporting! Just submitted a PR to add.

[2022-05-25 07:46] ajaychandran commented on #6838
For reference, the `scala3-library` jar has this entry:
[code]

[2022-05-25 07:47] adamgfraser commented on #6838
Do you want to submit a PR for this?

[2022-05-25 07:50] ajaychandran commented on #6838
Will do.

[2022-05-25 10:12] #6839 closed

[2022-05-25 12:23] #6838 closed

[2022-05-25 14:35] zarucki opened #6845 "Union operation doesn't work properly for schedules created with minuteOfHour [ZIO2 RC6]"
Not sure if known issue. I don't think the union here works properly. Code below:

[code]

Example runtime output:
[code]

[2022-05-25 17:27] #6845 closed, assigned to nobody

[2022-05-25 19:50] zarucki commented on #6845
Ah sorry you're right. I thought I was checking it with RC6 but in fact I was running RC5. Sorry for bothering.

[2022-05-25 21:46] jdegoes opened #6848 "Add specialized bitwise operations to BitChunk"
**ISSUE**

BItChunks, being backed by arrays of bytes, can support efficient bitwise operations, such as bitwise and, bitwise or, bitwise xor, and bitwise negation. Yet, currently no such operations exist.

**SOLUTION**

These methods should be added to `Chunk.BitChunk`. For ease of use, they should also be accessible on the parent `Chunk` when there is proof the element type is a `Boolean`. This

[2022-05-25 21:46] jdegoes commented on #3388
@adamgfraser Was this completed?

[2022-05-25 21:46] #3388 closed

[2022-05-25 21:57] jdegoes opened #6849 "Add new constructors for Chunk[Boolean] from Int/Long, which accept Endianness"
**ISSUE**

ZIO's `Chunk[Boolean]` can be backed by `Chunk[Byte]`, which is useful when a byte stream should be interpreted as a chunk of bits (booleans) for purposes of decoding binary data. However, this special support is only provided for `Chunk[Byte]`. Many binary protocols use `Int` or `Long` to encode bits, and their may be different choices for "Endianness" (big endian / little endian).

**

[2022-05-25 22:02] jdegoes opened #6850 "Generalize BitChunk* constructors to accept minBit / maxBit"
**ISSUE**

Currently, taking or dropping on a `Chunk[Boolean]` that is backed by a `BitChunk*` will involve wrapping it in the `Range` chunk. The more times take or drop are called, the more levels of wrapping there will be. As taking / dropping happens a lot in binary decoding, it is important to make the operations very efficient.

**SOLUTION**

For performance reasons, it may be desirable to ge

[2022-05-25 22:08] jdegoes opened #6851 "Add ways to pack Chunk booleans into byte, int, or long"
**ISSUE**

There is a way to go from `Chunk[Byte]` (or after #6849, `Chunk[Int]`/`Chunk[Long]`) to `Chunk[Boolean]`, with efficient / specialized operations designed for packed bits. However, the reverse operators do not exist: after efficiently generating a `Chunk[Boolean]`, it may be necessary to go back to bytes, or ints or longs (with endianness).

**SOLUTION**

Conversion methods added to `Ch

[2022-05-25 22:14] jdegoes opened #6852 "Optimize performance of WeakConcurrentBag"
**ISSUE**

In ZIO 2, `WeakConcurrentBag` is used for storing root fibers. However, this structure has not been optimized, which means if there are large number of daemon fibers, it may not perform optimally.

**SOLUTION**

Benchmarks can be created that add increasing numbers of items to `WeakConcurrentBag`. A comparison benchmark can be created, which adds increasing numbers of items to a mutable

[2022-05-25 22:17] jdegoes opened #6853 "Optimize performance of FiberRefs#join"
**ISSUE**

In ZIO 2, fiber refs under fork and join have become much more principled, relying on patch theory. However, this means the cost of joining has increased.

**SOLUTION**

This improvement is to add a benchmark to measure performance of `FiberRefs#join`, and then use this benchmark to do low-hanging-fruit optimization against the benchmark.

**IMPACT**

Fork/join happens a lot. In particu

[2022-05-25 22:17] #5050 closed

[2022-05-25 22:19] #5856 closed

[2022-05-25 22:19] #5874 closed

[2022-05-25 22:19] #5875 closed

[2022-05-25 22:19] #5877 closed

[2022-05-25 22:19] #5878 closed

[2022-05-25 22:19] #5882 closed

[2022-05-25 23:22] zarucki opened #6854 "Bug in secondOfMinute method Series/2.x"
Small typo here. I believe this should be

```s"Invalid argument in `secondOfMinute($second0)`. Must be in range 0...59")```

https://github.com/zio/zio/blob/1939f3bf4a1f1b9401f666e1b0136ba98e42e64e/core/shared/src/main/scala/zio/Schedule.scala#L1421

If I understand correctly this now refers to method`def second`.

[2022-05-26 06:08] NavidJalali commented on #6848
I can do this

[2022-05-26 06:12] adamgfraser commented on #6845
No worries! It definitely didn't work before that. Thanks for using ZIO.

[2022-05-26 06:37] adamgfraser commented on #6854
@zarucki Thanks for reporting! Just submitted a PR to fix this.

[2022-05-26 07:02] atooni commented on #5648
Hi @IdiosApps  - you are correct - we have migrated. Will look into that.

Regarding the DocusaurusPlugin. This is actually not used to build the site anymore. From the sbt perspective it was used to drive Docusaurus itself AFTER the md files had been compiled.

The compilation of md files to Docusaurus consumable files is actually done by the Mdoc plugin, which is a small wrapper around the mdoc

[2022-05-26 07:24] 987Nabil commented on #5542
@adamgfraser can this be closed?

[2022-05-26 07:27] #5542 closed

[2022-05-26 07:39] NavidJalali commented on #6848
I would like to give this a try

[2022-05-26 08:38] 987Nabil commented on #6849
I'll work on this

[2022-05-26 09:50] mschuwalow commented on #6853
I'll take this one

[2022-05-26 09:54] adamgfraser commented on #6853
Great!

[2022-05-26 09:54] subotic commented on #3353
I would like to try my hand at this. I never done any benchmarking before, so first need to figure this bit out. Any additional pointers are highly appreciated.

[2022-05-26 09:56] adamgfraser commented on #3353
Great! We use `jmh` for benchmarks. Take a look at the existing `benchmarks` project for examples and in particular take a look at the existing Chunk benchmarks since some benchmarks have been added since this issue was opened. I think one of the key things will be adding benchmarks for `Chunk` and for other collection types because these benchmarks don't mean that much in a vacuum.

[2022-05-26 11:49] tewecske commented on #2271
Can I do this without https://github.com/zio/zio/issues/3353 ? Or shoud I join @subotic to do that one first?
For this issue I should add some Vector benchmarks and compare those to the Chunk ones?

[2022-05-26 13:30] subotic commented on #3353
@tewecske At what methods are you looking at to implement in #2271? It would then probably make sense for me to first concentrate on those in this issue.

[2022-05-26 13:45] tewecske commented on #3353
@subotic I actually haven't started that issue. I first picked up a zio-schema one.
But if my comment is correct on the issue then do some which are available on Vector so it can be compared later.

[2022-05-26 13:46] tewecske commented on #2271
I picked up another one for now. So feel free to start this if you want. I may be back to this one later but I can also pair with someone.

[2022-05-26 13:59] 987Nabil commented on #6851
@jdegoes or @adamgfraser When talking about little vs big endian, then what is one unit? I mean do I only look at the bits of each Long/Int in a different order or of the whole chunk?

[2022-05-26 20:23] adamgfraser commented on #6851
Just following up on our conversation on Discord this refers to each `Int` or `Long`.

[2022-05-26 20:24] adamgfraser commented on #2271
Okay. I do think good benchmarks needs to come first so we are specializing methods where we are actually getting a performance benefit that actually justifies the additional code.

[2022-05-26 20:53] 987Nabil commented on #6850
@rajcspsg this issue depends on #6849 which I am still on. Also I did already implement this specialized `drop` and `take` methods, since I followed the ideas that where already impl. in `BitChunk`

[2022-05-26 21:29] #6854 closed

[2022-05-27 06:15] #6853 closed

[2022-05-27 06:43] 987Nabil commented on #6851
@adamgfraser i commented on the wrong ticket :( my bad

[2022-05-27 07:50] adamgfraser commented on #6851
@987Nabil No worries!

[2022-05-27 07:52] 987Nabil commented on #6851
Any how, I'd like to continue with this issue, since I already worked on #6849

[2022-05-27 08:56] svroonland opened #6862 "Elements don't make it past aggregateAsync stage"
This is a follow up of #6831. I have create a minimal reproducer, but it depends on zio-aws and a local docker container to reproduce the issue. I have tried to remove all of this but removing any of the lines in this file would change the behavior. Removing `ZIO.scoped` usages seems to change the behavior of the test, perhaps that's a clue. Also, changing `aggregateAsync(batcher)` to `aggregateAs

[2022-05-27 08:56] svroonland commented on #6862
@vigoo @adamgfraser

[2022-05-27 10:30] adamgfraser commented on #6862
@svroonland Thanks! Will take a look but I think we are going to need to minimize to just ZIO to really tackle this.

[2022-05-27 10:47] #5850 closed

[2022-05-27 13:41] shawjef3 opened #6870 "NullPointerException when using ZChannel.mergeAllUnbounded in 2.0.0-RC6"
This is for ZIO 2.0.0-RC6 and Scala 2.13.8. I get this exception

[code]

from

[code]
.

Replacing `new ZSink[Any, E, In, Unit, Unit](merged)` with `new ZSink[Any, E, In, Unit, Unit](channel)`, so that it doesn't use `ZChannel.mergeAllUnbounded`, clears the exception. So I suspect a bug with `ZChannel.mergeAllUnbounded`.

[2022-05-27 13:48] vigoo commented on #6870
Thank you, checking

[2022-05-27 15:54] kitlangton commented on #6829
Hrm. Very strange. Very little has changed w/r/t Tag materialization between RC5 and RC6. (They're both using the same version of `Izumi-reflect`). Thanks for the report! I'll need to go over the diff a few times 😄.

[2022-05-27 23:53] gurghet opened #6873 "zio.test.Live required when ZIOSpecDefault test has the timeout aspect"
I have the [following code](https://scastie.scala-lang.org/z9ODaBJITGqM5DBdLCDQUg):
[code]
I get
[code]
I'm trying to understand why the `timeout` aspect basically cancels out the `TestEnvironment` provided by default.
If this is intended please close this issue.

[2022-05-28 08:42] #6870 closed

[2022-05-28 09:12] justf0rfun commented on #4433
FYI. The plans for JDK 19 have been updated.

JEP 425: Virtual Threads (Preview)
Targeted for JDK 19. JDK 19 is planned to go into GA on 2022/09/20.

https://openjdk.java.net/jeps/425

[2022-05-28 20:50] adamgfraser commented on #4433
Thanks! Going to close this as I don't think there is an action item here but will definitely going to be continuing to develop ZIO with an eye towards making it even better with Project Loom.

[2022-05-28 20:50] #4433 closed

[2022-05-28 20:54] adamgfraser commented on #6873
The `timeout` test aspect uses the `Live` service to access the "live" environment even when the test environment is provided, since we want the timeout to use the normal clock even when we do provide the live clock. So in your example above you can just use `provideCustom` or `provideSome`.

[2022-05-28 20:54] #6873 closed

[2022-05-29 20:42] emilhotkowski commented on #6852
@jdegoes Can OSS contributors chime in with ideas or follow discussion on Discord ?

[2022-05-29 20:47] adamgfraser commented on #6852
@emilhotkowski Definitely!

[2022-05-30 12:59] #4528 closed

[2022-05-30 19:56] #6849 closed

[2022-05-30 19:57] #6848 closed

[2022-05-31 16:05] minedeljkovic opened #6886 "Smart assertions eagerly evaluate rhs of logical expressions"
Smart assertions eagerly evaluate rhs of logical expressions, even if it's not logically necessary, so such example assertion fails if `option` is empty:
[code]
while logically it shouldn't fail.

[2022-05-31 16:07] adamgfraser commented on #6886
I'm not sure if the issue is eagerly evaluating it or just not properly handling it once it has been evaluated. Evaluating the right hand side only if the left hand side was false could potentially be more efficient, but even if we evaluate both sides and have one side that succeeds and one side that fails we should then succeed if the `||` operator is used.

[2022-05-31 16:13] minedeljkovic commented on #6886
Indeed, this is probably easier to implement too. And I'm not sure the aim here is extremely high efficiency, since it's test code.

[2022-06-01 06:02] swachter opened #6888 "zipWithPar prevents interruption"
Tested with ZIO 2.0.0-RC6

The following test code fails. If the assignment `z2 = z1 <& z1` is replaced by `z2 = z1 <* z1` then the test succeeds.

[code]

[2022-06-01 07:27] adamgfraser commented on #6888
Duplicate of #6833.

[2022-06-01 14:46] oridag opened #6893 "Race condition between fiber suspension/resumption and supervisor callbacks"
When a fiber is suspended and then immediately resumed, the `unsafeOnResume` callback may be called before the `unsafeOnSuspend`, which might cause in inconsistent state in the supervisor. The same is true for the other way around (resumed and immediately suspended)

[2022-06-01 15:18] DaniRey opened #6894 "Documentation not properly linked with series/2.x/zio/docs"
The documentation on the website still uses ZTraceElement, while it was updated to Trace in the series/2.x/zio/docs.

![image](https://user-images.githubusercontent.com/7700482/171433517-5b2cec25-8d1e-4177-81af-71be050038f4.png)

Also the "edit this page" button doesn't work for "series/2.x"

![image](https://user-images.githubusercontent.com/7700482/171433787-8b324272-c968-462b-9cfe-2a2608149ede.

[2022-06-02 03:50] AugustNagro opened #6895 "Simple 'hello world' app exits sbt session after `run` command"
Hello, I have a simple hello-world app:

[code]

With these build settings:

[code]

To develop it, I start sbt with the command `sbt`. Then, in the sbt session I type `run` to execute the program.

It does correctly print 'hello world', but it also shuts down the JVM sbt is using.

[code]

This issue doesn't depend on the Java version, I tried with Java 8 and 11.

Here is a reproducer:

https://g

[2022-06-02 04:26] adamgfraser commented on #6895
@AugustNagro You need to use `fork in Run := true`.

[2022-06-02 04:34] AugustNagro commented on #6895
Thanks, `fork in Run := true` doesn't compile but `fork := true` works.

Sbt changed recently to use `/` instead of `in` (https://www.scala-sbt.org/1.x/docs/Forking.html). I think we'd want to fork in all cases anyway.

[2022-06-02 15:28] AugustNagro commented on #6895
Going to re-open, since `fork := true` doesn't work when needing to read from stdin.

[code]
[code]

[2022-06-02 18:04] kascakm commented on #6206
Browsing the history, seems this was fixed by https://github.com/zio/zio/pull/6522 by removing all the deprecated methods.

[2022-06-02 18:40] #6206 closed

[2022-06-02 22:44] gurghet opened #6897 "Cannot get effectful shared layer to run with live environment in tests"
I have the following code
[code]
I would like the `BigBen` to be initialized with the real time in tests, but it invariably displays the epoch time, meaning it's fetching the test environment.
I tried to get the layer like this:
[code]
But it still doesn't work.

In short: how to provide a shared layer that is instantiated with effects run on live services?

[2022-06-03 04:46] adamgfraser commented on #6897
Remember the default services are not in the environment anymore in ZIO 2.0 so providing them in the environment is not going to do anything. On `series/2.x` you can use the `ZIO.withClock` and `ZIO.withClockScoped` operators to control the implementation of the clock that is used, so you could do something like `ZLayer.scoped(ZIO.withClockScoped(Clock.ClockLive)) >>> myLayer`. That operator was a

[2022-06-03 12:55] #6897 closed

[2022-06-03 16:31] adamgfraser commented on #6895
This really needs to be addressed at the SBT level since this was a regression introduced there but possibly we can figure out something to work around it.

[2022-06-03 18:55] 987Nabil commented on #4600
@adamgfraser can this be closed?

[2022-06-03 19:04] adamgfraser commented on #4600
@987Nabil Yes!

[2022-06-03 19:04] #4600 closed

[2022-06-03 21:05] oridag commented on #6893
Actually, since each suspend/resume pair is happening on the same thread, it's only an issue when a fiber is resumed immediately after suspending, not the other way around.

So this is what I think is happening: a fiber is resumed on thread `a`, after a while it is suspended and then immediately resumed on thread `b`. The expected sequence of supervisor calls would be `resume (thread a) -> suspend

[2022-06-03 21:06] adamgfraser commented on #6893
This will be fixed with the changes to the runtime that are forthcoming.

[2022-06-07 12:20] TimPigden commented on #6393
any likelihood of this being sorted? It still fails with RC6

[2022-06-07 12:55] TimPigden commented on #6393
trivial work-around assertTrue(myNode1.toString == myNode2.toString)

[2022-06-07 13:13] senia-psm opened #6901 "Unstable finalizer on interrupted fibers"
On `2.0.0-RC6` I'm getting unstable results with `ZIO::ensuring`.

App:
[code]

Results:
[code]

I'm using `sbt-native-packager`. Same results on `sbt run` and in `scastie`.

[2022-06-07 14:00] senia-psm commented on #6901
Not a bug. Just a broken code. I'm interrupting  `fork`.

[2022-06-07 16:54] #6901 closed

[2022-06-08 14:34] onsoup42 commented on #6829
Any progress on this?

[2022-06-09 19:59] shawjef3 commented on #6833
I found this has the same behavior.

[code]

[2022-06-09 20:00] adamgfraser commented on #6833
Yes the underlying issue is with `zipPar`. It has nothing to do with `ZIOApp`. We are working on it.

[2022-06-09 20:52] kubukoz opened #6907 "ZIO Test: `TestAspect.nondeterministic` isn't that deterministic"
`TestAspect.nondeterministic` seems to only set the seed once before each test, so if two tests happen to start around the same time, they might get the same seed - and in turn, generate the exact same sequence numbers.

I can reproduce this semi-reliably by running the following suite (3-6 out of 10 runs)

[code]

A workaround that seems to work fine is to `.provideCustomLayer(Random.live)` on th

[2022-06-09 21:00] adamgfraser commented on #6907
Yes, the implementation uses the current time in nanoseconds to set the seed so if multiple tests start at exactly the same time they could have the same seed.

I guess the question is whether this is a problem. I don't think this operator purports to give you seeds that are distinct from each other and in most cases I think the value of this operator is that you get different values between diffe

[2022-06-09 21:02] kubukoz commented on #6907
That makes sense. Are there any aspects I can use to just use the live Random instead? (and for some tests, even the whole Live ZEnv)?

[2022-06-09 21:04] domdorn opened #6908 "Allow a fiber to be "freezed" / paused + resumed"
The title says it all. I want to be able to "pause" + "resume" a fiber/effect. This should already be possible at every point we currently would be doing interruption by just telling the scheduler to not run any more effects from this fiber.

Why would I want to do that?

example 1:
I have a long running calculation that now and then has to access third party systems. There are many calls that acc

[2022-06-09 21:05] adamgfraser commented on #6907
In ZIO 1.0 you need to do it with a layer like `Random.live` or `ZEnv.live`. In ZIO 2.0 there are a set of aspects `withLiveRandom` or `withLiveEnvironment` you can use.

[2022-06-09 21:06] kubukoz opened #6909 "ZIO Test: test clock being used depending on types"
I assume this might be an unavoidable issue because of how layers are typed in general, but anyway:

This test hangs (with a warning, which is good):

[code]

If you type `customs` as `Layer[Nothing, Random with Clock]`, it passes - like you'd expect it would.

Is there any way to statically detect & prevent cases like this? If not, it seems like a pitfall worth at least documenting. Thanks!

[2022-06-10 11:08] domdorn commented on #6908
After digging a little more into this, I think the following changes would need to be made to make an effect "stop/pause" (not yet sure how to continue it later on)

`FiberState` -> `Executing` in `FiberContext` needs an additional parameter, e.g. `shouldPause`
![grafik](https://user-images.githubusercontent.com/100349/173052096-4b989f57-4371-4cf1-85cc-b6c83a8f0c76.png)

In `FiberContext`, we'd ne

[2022-06-10 12:19] domdorn commented on #6908
once this is implemented, libraries like `zio-process` could even forward this information (like interruption at the moment) to forked processes (e.g. for linux/unix https://ostechnix.com/suspend-process-resume-later-linux/ )

[2022-06-10 12:51] adamgfraser commented on #6908
This is something we have talked about, primarily around debugging and being able to "step through" the workflows of a fiber similar to how you would with imperative code.

I agree that it is definitely something we could implement.

I do think there are some issues to think through regarding the semantics of this.

One example is with regard to resource safety. When we interrupt a fiber that is t

[2022-06-13 18:41] neko-kai opened #6911 ".onInterrupt is falsely triggered when a child fiber terminates in race/foreachPar/zipWithPar"

[2022-06-13 19:11] adamgfraser commented on #6911
I'm not sure this is erroneous.

We ran two workflows in parallel, one of which failed with a `Die` failure. Per the semantics of parallelism operators we then interrupted the other parallel workflows. I think the expected semantics at that point is that we should preserve all of the errors that occurred, which in this case is an interruption and a die. They are combined into a `Cause.Both` that i

[2022-06-13 19:56] neko-kai commented on #6911
@adamgfraser
Assuming the semantic of `.onInterrupt` from its scaladoc,

[code]

In the example, `this effect` was not interrupted. The child fibers were interrupted, as part of the normal semantic of `foreachPar` in case of failure, but the current fiber was not sent an interrupt signal, and is not currently in the state of unwinding after interruption.

That is, if we use `.onInterrupt` to clean

[2022-06-13 22:01] adamgfraser commented on #6911
I think the workflow is interrupted. It fails, and one of the causes of its failure is interruption.

There is some ambiguity regarding whether `isInterrupted` means "interruption is one of the causes of the failure of this workflow" or "interruption is the exclusive cause of failure of this workflow". There could potentially be another operator `onInterruptionExclusively` that could be implemente

[2022-06-13 22:29] neko-kai commented on #6911
@adamgfraser
Interruption being the exclusive cause of failure is not the same thing – you could have additional `Die` nodes from finalizers even if a fiber is really interrupting due to being interrupted.

[2022-06-14 06:33] joroKr21 commented on #6911
But it's not really both causes at the same time - it's the death of one branch causing the interruption of the other. Shouldn't then the result be `Cause.Then` instead of `Cause.Both`? I guess one thing `interruptAs` doesn't tell you is if the fiber finished on its own or we actually interrupted it.

[2022-06-14 09:39] BalduinLandolt opened #6912 "ZIO test: Test Results print incorrectly, if a Suite only contains one Test"
Given the following test:

[code]

the expected test output would be:

[code]

however I actually get

[code]

It seems, if a test suite only contains one test element, the suite name does not print in the test results.

If I add a second test to the suite, it works as expected.

ZIO/ZioTest version: 2.0.0-RC6

[2022-06-14 17:34] adamgfraser commented on #6911
@neko-kai I would tend to agree which is why I think the current semantics of `onInterrupt` are correct but if you wanted to you could introspect on the cause and only do something if you failed exclusively due to interruption.

[2022-06-14 17:42] neko-kai commented on #6911
What I'm trying to say overall is:

1. `Cause` does not contain enough information to know if 'this fiber' was the fiber that was interrupted.
2. Without that information CE3 typeclasses cannot be implemented lawfully.
3. CE3 semantics in which `.onCancel`/`.onInterrupt` is guaranteed not to overlap with `.catchAll` / etc. are desirable and useful – they allow the semantic of 'run cleanup if this

[2022-06-14 18:59] swoogles commented on #6912
Thanks for reporting @BalduinLandolt !
This should already be resolved via: https://github.com/zio/zio/pull/6793
That was merged in the week following the RC6 release 🙂

Testing your example on the latest version of ZIO gives the expected output:

<img width="1435" alt="Screen Shot 2022-06-14 at 12 59 23 PM" src="https://user-images.githubusercontent.com/2054940/173668010-7270e32e-0670-414e-970e-9

[2022-06-14 21:11] BalduinLandolt commented on #6912
Wonderful! All the more reason to await the 2.0 release eagerly 🙂
I guess this can be closed, then.

[2022-06-14 21:12] #6912 closed

[2022-06-15 09:47] frevib opened #6915 "ZIO Fiber - interrupt all fibers if one fiber fails"
We run a ZIO app that runs multiple fibers. We would like to crash the whole app when one of the fibers fails. I cannot find a method to do that. I tried e.g. `zip` or `<*>`, but this method will wait for all fibers to return.

Example:

[code]

[2022-06-16 00:22] neko-kai commented on #6911
`ZIO.descriptorWith(_.interrupters)` seems to provide enough data to produce a correct CE3 `Outcome` – https://github.com/zio/interop-cats/pull/544 – unless I'm missing some case when interrupters list could be reset after an external interruption has been received.

[2022-06-16 10:42] joroKr21 commented on #6911
I still think it would be good to try and fix `zipWithPar` to reflect the true causal relationship (whether parallel or one cause causing the interruption as another).

[2022-06-16 22:36] adamgfraser commented on #6915
I believe this was answered on Discord. As discussed there `raceFirst` is a good operator for this.

[2022-06-16 22:36] #6915 closed

[2022-06-19 23:16] narma opened #6927 "Unexpected interruption of program"
Given next snippet

[code]

`jobForever` unexpectedly interrupted after some amount of tries.

This reproducible at 2.0.0-RC6 and current series-2.x branch, but works normally with 2.0.0-RC5.

[2022-06-20 14:02] domdorn opened #6928 "[2.0] remove `IO`, `UIO`, `RIO`, `Task`, etc. type aliases"
ZIO offeres a few type aliases that lead to a lot of confusion for people new to ZIO and to bad design choices regarding error handling ( `Task` & `RIO` with `Throwable` as error type ).
[code]

I'd like to propose the removal of these type aliases before the release of ZIO 2.0 as they are easy to migrate with scalafix or simple find and replace and people wanting such type aliases could easily ad

[2022-06-20 14:19] guizmaii commented on #6928
Your idea would be that we'd only have `ZIO[R, E, A]`?
[code]
instead of
[code]
?

If so, I disagree with this idea.
These aliases are defining a nice common language between the developers.
When we're talking about an `UIO`, for example, everyone knows what it means. Without these aliases, we lose this ability to talk in terms of `Task`, `UIO`, etc.

[2022-06-20 14:45] domdorn commented on #6928
@guizmaii yes, if that's not possible, at least lets get rid of `Task` and `RIO` .

ZIO 2 is/was all about streamlining things, offering ONE way to do things..
I personally don't see a lot of benefit in these types except a few characters less typed.
For people coming to ZIO however they are a mental burden - at least they where for me 2 years ago, making a thing that was already complicated even

[2022-06-20 14:59] guizmaii commented on #6928
I'd be ok to rename `RIO` to `RTask` or something like this, but not remove them.
I can agree on the fact that if `ZIO[Any, Throwable, A]` is named `Task` and `ZIO[Any, E, A]` is named `IO` then `RIO` is a poor name for `ZIO[R, Throwable, A]`. It's too close to `IO` and too far from `Task`.

I think the common language they bring to the developers is something to put in the balance before consider

[2022-06-20 16:53] adamgfraser commented on #6928
Yes this is one we have definitely discussed in the past. I think there are basically two sets of arguments.

On the one hand the type aliases are "one more thing to learn". If you know that `Any` for the `R` type means "does not need any services" and `Nothing` for the `E` type means "can't fail" you can express everything you want to with just `ZIO` and this can be more accessible because you do

[2022-06-20 17:48] adamgfraser commented on #6927
Thanks for reporting! Will take a look at this.

[2022-06-20 18:54] neko-kai commented on #6911
Seems like `ZIO.descriptorWith(_.interrupters)` contains enough information to implement that part of CE3 lawfully (https://github.com/zio/interop-cats/pull/544)
However, using that for ZIO's `.onInterrupt` means ignoring all internal interruption. I think this is a correct thing to do for CE3, but would lead to confusion in ZIO – seems like supporting internal interruption while ignoring interrup

[2022-06-20 22:23] domdorn commented on #6928
ok, would such a proposal be an acceptable compromise?:
- remove the usage of the type aliases in the zio-codebase ( so the type aliases still exist, but they are not used in any of the ZIO.* effects and thus don't get visibility to users)
- move the documentation of them from the normal documentation to something like "advanced topics"

?

[2022-06-20 23:06] robmwalsh commented on #6928
I think throwing them out altogether is overkill, but I think some more consistency could be achieved. Task and RIO stick out as being remarkably inconsistent. At this point, I think there's little to be gained by wholesale change, and I don't want to see them all removed. As @guizmaii says, they're much easier to say when talking to someone. I find UIO particularly nice as I'm clearly stating, "t

[2022-06-21 02:00] adamgfraser commented on #6928
@domdorn I think we need to say whether these type aliases are in "good standing" or not. If we really don't think they are then they need to be deleted entirely, but while I think that is your point of view I think there are a substantial number of people with a different point of view. If they are in good standing then they should be in the documentation and I don't think we can prevent them fro

[2022-06-21 03:29] robmwalsh commented on #6928
@adamgfraser not a huge fan of those names either, even if they are more consistent (in some regards).

It's been at RC for quite a while. I tend to agree it may be time to just release as is...  If someone would really prefer RTask it's a 1 liner to create another alias. I don't think they're causing too much pain really. I get around my dislike of Task and RIO by not using them. When I have to u

[2022-06-21 08:06] domdorn commented on #6928
The bigger "issue" I have with `Task` and `RIO` is that they have `Throwable` as the Error type, which is the supertype of `java.lang.Error`s like `OutOfMemoryError`, `StackOverflowError` etc.

As we've learned in the spartan session about error handling, we should only have errors we can actually handle in the error type. I highly doubt many programs out there do this the right way with a `OutOfM

[2022-06-21 08:07] 987Nabil commented on #6851
@adamgfraser this issue can be closed or?

[2022-06-21 11:47] domdorn commented on #6928
hm. what if we'd have
[code]
?

[2022-06-21 13:00] guizmaii commented on #6928
The use of `Throwable` was an early mistake in Scala design that we have to deal with today, sadly.
That being said, as Adam mentioned, these `java.lang.Error` (fatal errors) are not caught by `Task`, `Future`, etc. so they don't allow the user to make such mistake.

I don't see why then they'd be a nightmare

[2022-06-21 15:06] adamgfraser commented on #6928
I actually view this the opposite way. It is important that users be able to take incremental steps towards improving their code rather than having to do the "perfect" thing from the beginning. `Task` is a great example of this.

You're right that in most cases I would ultimately like to have domain specific error types in my code unless it is very closely tied to legacy APIs that can throw arbitr

[2022-06-21 15:18] luis3m commented on #6928
How would you 'catch' the 'E' when evaluating the thunk? You can't.

[2022-06-21 15:20] #6928 closed

[2022-06-21 15:21] domdorn commented on #6928
Thought it was a good thing.. apparently everyone is against it so closing it now.

[2022-06-21 21:31] luis3m commented on #6928
@domdorn that'd only work if you make `E` a subtype of Throwable which in hindsight seems to be what you were advocating for above. I actually like the idea.

[2022-06-22 01:33] swoogles commented on #5968
@adamgfraser this can be closed

[2022-06-22 01:34] #5968 closed

[2022-06-22 04:39] adamgfraser commented on #6927
This is fixed on the latest version of `series/2.x`.

[2022-06-22 04:39] #6927 closed

[2022-06-22 04:40] adamgfraser commented on #6862
This is fixed on the latest version of `series/2.x`.

[2022-06-22 04:40] #6862 closed

[2022-06-22 04:40] adamgfraser commented on #6833
This is fixed on the latest version of `series/2.x`.

[2022-06-22 04:40] #6833 closed

[2022-06-22 04:42] adamgfraser commented on #6893
This is fixed on the latest version of `series/2.x`.

[2022-06-22 04:42] #6893 closed

[2022-06-22 13:35] shawjef3 commented on #6833
Great! Thanks @adamgfraser .

[2022-06-22 14:01] domdorn opened #6931 "remove usages of `Task`, `IO`, `RIO`, `UIO`, `URIO` from ZIO codebase and documentation"
![grafik](https://user-images.githubusercontent.com/100349/175048243-fd7f8a3d-13c6-47e9-aa60-ee78a5c3fb5f.png)

The type aliases will stay in the codebase (for legacy reasons) but should not be used in other parts of the codebase or in official zio documentation.

[2022-06-22 15:35] adamgfraser commented on #6931
I tend to agree. I have moved away from using the type aliases myself but there is a risk of being "preachy" here.

I also worry that we have people who like them, people who don't, and we're kind of using the codebase and documentation as a battleground between that resulting in compromises such as "we should have this feature but it shouldn't be documented" or "we should have this coding guideli

[2022-06-22 15:37] jdegoes commented on #6931
I don't dislike them so much as to feel strongly about this issue.

But I have observed that some users new to ZIO struggle with memorizing the multitude of (inconsistent) type aliases (or with reading ZIO documentation and encountering type aliases they haven't memorized); I have also observed that, in general (not specific to ZIO), type aliases (rather than newtypes) add one layer of indirection

[2022-06-22 16:54] guizmaii commented on #6931
Agreed with @ghostdogpr.

On another note, sorry if it's a bit out of the scope of this issue but, IMO, there are more important things to remove from ZIO documentation to help beginners.
IMO, the first thing to remove from it are the references and examples of the "ZIO service pattern v1" and to replace these examples with the "ZIO service pattern v2".

I'm recruiting a lot these days. During the

[2022-06-22 18:38] domdorn commented on #6931
the big question (imho) is:
**"What is the long-term goal of ZIO?"**

I thought from reading between the lines in Malaga and elsewhere that we want to **be able to put a java dev / scala newbie in front of a project and they'd be able to figure out how this "zio thing" works** from having a basic scala knowledge, reading a little documentation and code... not using the aliases in zio-core code and

[2022-06-22 19:19] luis3m commented on #6931
I agree with @ghostdogpr as well.

Personally, I find the implied cost of learning / memorising these type aliases inflated.

[2022-06-22 19:26] adamgfraser commented on #6931
@domdorn I think the thing is you can take this in two different directions.

The first is you can not use `Task`, in which case you're right you don't need to learn the name of a type alias.

But the other is `Task` should be the first thing you use. You're learning a lot of other concepts like the idea that all of these workflows are just descriptions. Three type parameters is a lot! What are al

[2022-06-22 20:34] domdorn commented on #6931
hmm...
- I had two coworkers new to fp/zio.. both of them sticked a cheat-sheet/post-it with the mapping of these types to the frame of their screen... for me this is/was enough to see that these types are not "beginner friendly" ..
- in talks/presentations about zio for beginners we have a slide about these types that has to be shown & explained _in every presentation_.. we show them for ~45-60 s

[2022-06-22 23:06] fsvehla opened #6937 "Smart assertions / Scala 3: This method can only be called inside of `assertTrue`"
**Version**: 2.0.0-RC6

Using `assertTrue` + `Either` + `is(_.right)` fails under Scala 3 (but works under Scala 2) with the runtime error ‘This method can only be called inside of `assertTrue`’

#### Minimal example

[code]

#### Stacktrace

[code]

[2022-06-22 23:06] fsvehla commented on #6937
cc @kitlangton

[2022-06-22 23:21] kitlangton commented on #6937
Danke! I'll take a gander :)

[2022-06-23 07:13] khajavi commented on #6931
Currently, in ZIO 2.x documentation we only teach one pattern to write services. If you found any problems according to this, let me know to fix that.

[2022-06-24 12:28] #6850 closed

[2022-06-24 20:04] vigoo opened #6970 "CancelableFutureSpec test times out"
In https://github.com/zio/zio/runs/7047563162?check_suite_focus=true

[code]

[2022-06-24 20:44] vigoo opened #6971 "Add a table of Runtime's unsafe functions from ZIO 1 to the migration guide"

[2022-06-25 11:00] domdorn opened #6974 "2.0 Release notes: add info about `ZManaged` lib, link migration guide and mention scalafix migrations"
1.) I suggest to add a sentence like this to the release notes:

[quote]
While we encourage you to write new code using `Scope`s, you don't have to change your whole codebase to upgrade to ZIO 2. Using the `zio-managed` library

[code]
allows you to keep your `ZManaged` code until you're ready to migrate.

[/quote]

2.) <del> the `zio-managed` lib needs to be released for 2.0 (currently its 2.0.0-

[2022-06-25 11:09] vigoo commented on #6974
I think it is released: https://search.maven.org/artifact/dev.zio/zio-managed_2.13/2.0.0/jar

[2022-06-25 11:09] domdorn commented on #6974
ok, then https://mvnrepository.com/artifact/dev.zio/zio-managed needs to catch up..

[2022-06-25 12:12] shawjef3 opened #6976 "StackOverflowError when using ZChannel.mergeAll"
This is with ZIO 2.0.0, Scala 2.13.8, and Java 8 or 17.

[code]

gives

[code]

[2022-06-25 16:02] adamgfraser commented on #6974
![image](https://user-images.githubusercontent.com/20825463/175781493-e7c3400b-fbf8-48ed-9150-1d70e7e62940.jpeg)

This is already done.

[2022-06-25 18:01] adamgfraser opened #6978 "Flaky Stream Test"
https://github.com/zio/zio/runs/7053861853?check_suite_focus=true

[code]

[2022-06-25 19:15] onsoup42 commented on #6829
This regression is still present in 2.0.0

[2022-06-26 06:23] beneyal opened #6979 "The search bar on the ZIO documentation website is no longer there"
Hi!

Congratulations on the new release and docs! Will it be possible to bring back the search bar that was present in the previous version of the docs website? It was tremendously helpful!

Thanks 🙂

[2022-06-26 15:32] adamgfraser commented on #6979
Yes we're working on some issues with the search bar and will enable it again when those issues are resolved.

[2022-06-26 16:33] domdorn commented on #6974
I did not find a mention of the `ZManaged` lib and the link to the migration guide leads to a 404..
![grafik](https://user-images.githubusercontent.com/100349/175824384-7b0ede4b-5bd5-41c2-bc48-3a8214f496a9.png)
![grafik](https://user-images.githubusercontent.com/100349/175824399-986e0fd2-79f0-4afc-8838-0808386fd29f.png)

[2022-06-26 16:33] #6974 closed, assigned to nobody

[2022-06-26 16:39] adamgfraser commented on #6974
The location of the migration guide change was changed when we published the updated documentation yesterday. Just updated the link to reflect that.

[2022-06-26 19:53] domdorn commented on #6724
could we use this to make cross-test shared layers, e.g. one db connection pool or testcontainers, over multiple test-classes (.scala files) work? JUnit has this with JUnitExtension + @ExtendWith .. or is this now working in 2.0 ?

[2022-06-26 22:09] adamgfraser commented on #6724
Shared test layers are already supported in ZIO 2. Just override the `bootstrap` layer in `ZIOSpec`.

[2022-06-27 09:32] domdorn opened #6987 "Exception when running with ammonite"
When migrating from zio-2.0.0-RC6 to final, this problem popped up using ammonite:

![grafik](https://user-images.githubusercontent.com/100349/175908206-068229b2-98c0-43a4-bc21-ac748fb30473.png)

I've created this gist to reproduce the problem:
https://gist.github.com/domdorn/d1a909f2d99575a2153c789344ce5aa3

I guess it has something todo with macros, not sure. The Line "fakeBrowser -> List(ZIO.sc

[2022-06-27 10:24] heksesang commented on #6247
What's the status on this?

[2022-06-27 16:19] adamgfraser opened #6992 "Add Documentation Regarding Shared Test Layers"
It looks like we have documentation regarding sharing services within a spec but not between multiple specs.

https://zio.dev/datatypes/test/spec#sharing-layers-within-a-suite

[2022-06-28 00:14] adamgfraser commented on #6895
Closed by #6995.

[2022-06-28 00:14] #6895 closed

[2022-06-28 09:51] ThijsBroersen opened #6998 "Proposal: rename zio.Duration to zio.ZDuration"
With ZIO-2 having both `java.time._` and `zio._` imported gives conflicts on `Duration`-type. As it seems to be just a helper to java.time.Duration I think it makes sense to rename `zio.Duration` to `zio.ZDuration` to prevent import issues, and it saves the hassle of import renamings.

I am happy to submit a PR when this proposal is accepted.

[2022-06-28 10:20] nartamonov opened #7000 "Support for structured logging in ZIO 2.x"
ZIO 2.x provides generic `ZLogger[Message, Output]` trait which allows to implement more "structured" logging where input `Message` is a product type and `Output` is JSON, for example:

[code]

I use a similar approach in my projects, using the library [Izumi Logstage](https://izumi.7mind.io/logstage/index.html). That approach has the following advantages:

1. More disciplined way to define log me

[2022-06-28 11:29] khajavi commented on #6971
resolved in #6990

[2022-06-28 11:32] khajavi commented on #6894
This issue has been resolved, so we can close it.

[2022-06-28 12:56] myazinn opened #7003 "ZIO 2 looses stack trace when integrating with non-zio classes"
New tracing system doesn't work well when non-zio classes are involved. Here's a code example with ZIO 2
https://scastie.scala-lang.org/N0FidrcFReqaDqWewGulLg
Based on the stack trace provided, it's impossible to tell where the exception was generated nor how we got there. Absence of stack traces in such cases can be a real headache when integrating with legacy / poorly written code.
Apparently, t

[2022-06-28 16:26] olekslitus opened #7006 "Interop with Cats Effect still mentions ZManaged"
https://zio.dev/guides/interop/with-cats-effect

[2022-06-28 16:29] olekslitus opened #7007 "Docs have a lot of small errors"
I was currently reading through new docs for ZIO 2 and saw a lot of little errors, example text will mention `provide`, but example will have `provideEnvironment`. I do not have a full list, as I do not have enough time to compose one (sorry).

[2022-06-28 20:35] adamgfraser commented on #7006
A lot of the materials regarding other ZIO ecosystem libraries still need to be updated as many of them were not published for ZIO 2.0 when these materials were prepared.

[2022-06-28 20:40] adamgfraser commented on #7007
Thanks for your feedback! If you see any please point them out and we will fix!

[2022-06-29 03:24] swoogles opened #7011 "Handle Test/fork SBT setting"
Currently, if this flag is turned on, eg `Test/fork := true`, the test events are not properly reported back to the original JVM.

The result is that we don't see specific test failures in the summary:
<img width="587" alt="Screen Shot 2022-06-28 at 9 08 27 PM" src="https://user-images.githubusercontent.com/2054940/176344462-3bf58425-609e-41f4-a7f5-0feb254a45e8.png">

For comparison, this is what

[2022-06-29 11:32] khajavi opened #7012 "Different Behavior Between `sbt testOnly MySpec` and `sbt Test/runMain MySpec`"
Assume having the following test:

[code]

The `sbt testOnly ExampleSpec` command prints the following lines:

[code]

The `sbt Test/runMain ExampleSpec` command has a different behavior:

[code]

[2022-06-29 12:41] adamgfraser opened #7013 "Don't Use Built In Services In Examples"
Various examples in the documentation use services that are built into ZIO in ZIO 2.0 (e.g. `Console`, `Clock`, `System`, `Random`, `Logging`).

While in principle there is no reason that these can't be in the environment, this can be potentially confusing.

We should replace these examples with other services that are not automatically provided by ZIO.

[2022-06-29 12:45] adamgfraser commented on #7012
@swoogles Can you take a look at this?

[2022-06-29 12:50] adamgfraser commented on #6998
I think with ZIO 2.0 being released the ship has sailed on this.

[2022-06-29 13:02] swoogles commented on #7012
Yes

[2022-06-29 13:05] adamgfraser commented on #7003
Hmmm this looks like the correct trace to me:

[code]

[code]

Line 25 is the third `ZIO.attempt` call, where the failure occurs. Line 20 is the body of `run`, which is where `effect` was called from. So this seems like the correct and minimal execution trace that points you to `ZIO.attempt(service.something(101))`, which is indeed the source of the problem.

[2022-06-29 14:13] adamgfraser commented on #7003
We may be able to do more to preserve part of the Java stack trace here.

[2022-06-29 14:14] adamgfraser opened #7015 "Explore Terminating Daemon Fibers When ZIOApp Is Shut Down"

[2022-06-29 16:15] adamgfraser opened #7019 "Add Documentation Regarding Implementing Channel Operators"
It would be good to have an example of using low level channel operators such as `readWith` in a recursive function maintaining some state to implement custom transformations.

[2022-06-29 20:44] #6894 closed

[2022-06-29 20:45] #6971 closed, assigned to nobody

[2022-06-30 00:48] #7012 closed, assigned to swoogles

[2022-06-30 08:14] 987Nabil commented on #7000
The `ZIO.log*` methods are imho not easy to change, since it would most likely break existing code nor do I think it is a good idea to have a default logging access with anything else then strings. It makes the default case to complicated.
We also output json logs, but configure this via `logback.xml`.
I don't say it is a bad idea, but I am not sure about the way.

[2022-06-30 09:34] ThijsBroersen commented on #6998
Perhaps I should rephrase my question because to me it looks to be a design-flaw. Was it by design to prevent zio-users to have a full import scope on java.time next to zio? I do not see the benefits...

If I am a heavy java.time and zio user I should rename either one all the time?

[2022-06-30 13:50] adamgfraser commented on #6998
We wanted to use `Duration` because it is the logical name for this concept and wanted it to be available in the `zio` name space without having to do an additional import.

`zio.Duration` is a type alias for for `java.time.Duration` and has a variety of useful constructors so this makes it easy for ZIO users to work with duration and interoperate with Java libraries with just `import zio._` and w

[2022-06-30 14:50] nartamonov commented on #7000
@987Nabil agree to have only simplified `ZIO.log*` methods that works with strings only. We can make customized methods ourselves. But it should be some way to install custom loggers system-wide and to access it later.

`Logback` can format your log messages (plain strings) as JSON, but it doesn't allow you to enrich your messages by new context-specific key-value pairs. You still use string-orien

[2022-06-30 15:14] 987Nabil commented on #7000
Of course you can add context specific information, if you do somewhat like [this](https://www.baeldung.com/mdc-in-log4j-2-logback#mdc-in-slf4jlogback).
But I understand that it is more beautiful to not mess with MDC and xml, if you don't have to.

[2022-06-30 15:23] adamgfraser commented on #7000
Yes I think we can provide some functionality that lets you log something with a custom logger, maybe in `zio-logging`.

[2022-06-30 15:58] davidlar commented on #7000
FYI
We merged in json appender support to zio-logging today, that might solve your problem in another way. You can add annotations etc to the log format and it will be present in the resulting json.

[code]

[2022-06-30 16:16] ThijsBroersen commented on #6998
pity.. but thanks for your answer @adamgfraser
I am still happy ZIO embraced java.time
Will close the issue then.

[2022-06-30 16:16] #6998 closed, assigned to nobody

[2022-06-30 17:02] virusdave commented on #639
Any updates / progress on this, or plans to do so, given that zio 2.0 has now been released?

[2022-06-30 17:06] sideeffffect commented on #639
WIP. We can now [_build_ tests on ZIO 1](https://github.com/zio/zio/pull/6283). We will be [building them on ZIO 2 in short order](https://github.com/zio/zio/pull/7021).
The remaining challenge is then _running_ them. This has proven a bit more problematic than I've originally envisioned, hence the separation into two steps -- building and only after that running.

[2022-07-02 06:19] khajavi opened #7032 "Unused Layers Warning Doesn't Work Anymore?"
The following code doesn't warn anymore:

[code]

I remember that the underlying macro warned about extra layers.

@kitlangton

[2022-07-02 12:16] khajavi commented on #7019
I'm on it.

[2022-07-02 13:33] kitlangton commented on #7032
I get the warning when testing 2.0.0 😮
It is just a warning and not a compile error, so maybe that's why? What happens if you clean/compile or turn on fatal warnings?

[2022-07-04 03:43] swoogles opened #7037 "zio.dev - Add backend server"
Goal: get a `zio-http` server running behind `zio.dev`

Reason: I want the information over at `zio-ecosystem.herokuapp.com` to live within `zio.dev`, rather than being an island of functionality apart from our main hub.

What I'm thinking:
<img width="1013" alt="Screen Shot 2022-07-03 at 9 34 08 PM" src="https://user-images.githubusercontent.com/2054940/177077387-5c962375-4712-4cf9-bd61-fce224192

[2022-07-04 06:59] #6992 closed, assigned to khajavi

[2022-07-04 15:25] MaksGS09 commented on #6613
Hi!
@adamgfraser I'm faced with similar OOM with `aggregateAsyncWithin ` on ZIO 2.0.0. Also I'm catching OOM with above example.
The OOM occurs on -Xmx512m after ~ 6 min of run.
Could you look at this again please?

[2022-07-04 19:31] khajavi commented on #7037
The new design is backed by Gatsby. We can also gather that information from the `zio-ecosystem.herokuapp.com` at the build time. /CC @atooni

[2022-07-04 19:41] swoogles commented on #7037
So it would only have access to the snapshot of the ecosystem at build,
rather than a live view, right?

One option to consider is enabling CORS from another domain, and our http
server can live separately serving up some endpoints to ZIO.dev

On Mon, Jul 4, 2022, 1:31 PM Milad Khajavi ***@***.***> wrote:

[2022-07-04 19:48] atooni commented on #7037
We can look into other options like spinning up a server or something. The beauty about the managed deployments is that it scales easily without us having to do it

[2022-07-06 10:55] fsvehla commented on #6937
@kitlangton Am I missing something obviouis here (like a scalacOption / wrong scala 3 version)?

This seems to be a basic use-case that I’m sure is covered in zio-test’s tests.

[2022-07-06 16:30] kluen opened #7044 "Wrong logger used for uncaught failures in ZIOAppDefault"
I have created a ticket for this issue before in zio-logging: https://github.com/zio/zio-logging/issues/444
This PR was supposed to fix the problem: https://github.com/zio/zio/pull/6714

However, with the 2.0.0 releases it still seems to be an issue.

Here's some scala-cli code to reproduce:
[code]

The successful message is logged via SLF4J whereas the failure uses the default log format.
[code]

[2022-07-07 00:23] adamgfraser commented on #7044
@kluen I just submitted a PR to fix an issue here. However, note that if you want the logging of unhandled errors in `ZIOAppDefault` to use your logger you need to install it as part of the `bootstrap` layer in `ZIOAppDefault`.

[2022-07-07 04:28] #7003 closed, assigned to adamgfraser

[2022-07-07 16:01] kluen commented on #7044
Thanks, @adamgfraser!

Ok, so when #7046 is merged would this be the correct way to use it? I was unable to find documentation on the `bootstrap` mechanism in `ZIOAppDefault`. Currently this solution has the exact same behaviour as the code above.

[code]

[2022-07-07 17:17] adamgfraser commented on #7044
@kluen That's right!

[2022-07-10 00:27] andrzejressel commented on #6937
Hi, sorry for resurrecting old thread, but I have the same issue and I'm doing some debugging.

Pasting code above to test-tests and running test fails as in report.
But by changing package to `zio.test` and removing `import zio.test._` - it starts to work:

[code]

Edit: I've changed the macro, so going through "Unseal(tree)" (which is basically the default) will return tree. Tree is indeed retur

[2022-07-10 18:13] robknapen opened #7058 "Strange ZIO internal stack overflow on VSCode with Metals, but not on IntelliJ IDEA"
Hi,

The small program below is running fine from IDEA, but causes a stack overflow exception (see the attached screenshot) when run from VSCode. This is on macOS 12.4, Apple M1 cpu, Temurin JDK 17.0.2, Scala 3.1.3, and ZIO 2.0.0. VSCode is using Metals 0.11.7. IDEA the Scala plugin version 2022.1.629.

The stack overflow also happens in VSCode with much smaller values for n (e.g. 3000), but there

[2022-07-11 22:39] #6937 closed

[2022-07-11 23:13] #7044 closed, assigned to nobody

[2022-07-13 00:59] sideeffffect commented on #639
Quick update on the state of things ZIO Native.

Currently we build and publish most of the important ZIO packages for Native for both ZIO 1 and 2. We also compile tests on both 1 and 2.
@lolgab has already had some fun using ZIO 1 Native with snunit (an HTTP server library):
 * https://github.com/lolgab/snunit-zio-seed.g8
 * https://github.com/lolgab/snunit/tree/0.0.11/snunit-zio/src/snunit/snuni

[2022-07-13 04:20] #7019 closed, assigned to nobody

[2022-07-13 04:21] #7013 closed, assigned to khajavi

[2022-07-13 04:32] salvalcantara commented on #7007
In [the-three-laws-of-zio-environment](https://github.com/zio/zio/blob/series/2.x/docs/datatypes/contextual/index.md#the-three-laws-of-zio-environment), it says:

I think the above definition is **right** (not **wrong**, as the text says) since the Console and Clock dependencies are not reflected in the Logging interface trait. I would propose something along these lines:

[2022-07-13 04:46] adamgfraser commented on #7007
@salvalcantara The example just needs to be updated to use services that aren't the default services that are built into the ZIO Environment, which was just done so if you look at `series/2.x`.

[2022-07-13 11:02] beneyal opened #7064 "Scaladoc Duplication in `ZIO.suspendSucceed`"
Good day! 🙂

The JavaDoc of `ZIO.suspendSucceed` mentions `ZIO.suspend` twice. I'm not sure what should replace one of the duplicates, so I'm posting it here and not just fixing it 😅
https://github.com/zio/zio/blob/d05a813fc7469b250a7abd514f046843ded0acde/core/shared/src/main/scala/zio/ZIO.scala#L4321-L4329

Thanks a bunch for a lovely project ❤️

[2022-07-13 12:12] DamianReeves commented on #639
I'd be happy to pile onto this. Are there examples of running apps that use ZIO 2? I had some issues with linking when I tried to get a simple ZIO 2 SN app running.

[2022-07-13 14:14] adwells-ds opened #7066 "Promise + repeatZIOChunkOption memory leak"
We were investigating the memory leak(https://github.com/zio/zio-kafka/issues/485) in `zio-kafka` after upgrade to ZIO 2.0 and apparently Fibers/Promises are causing OOM again(we had the similar issue about 2 years ago with ZIO 1.0, ref https://github.com/zio/zio/issues/4457)
Simplified example from `zio-kafka`:
[code]
After couple seconds the number of observers will be up to 100k and continue to

[2022-07-13 14:22] vigoo commented on #7066
Nice reproducer!

[2022-07-13 15:18] #5181 closed

[2022-07-13 16:39] vigoo commented on #7066
Problem is caused by `.interruptWhen(p)`

[2022-07-13 16:44] vigoo commented on #7066
Smaller reproducer:

[code]

[2022-07-13 17:20] adwells-ds commented on #7066
A bit more details, I was not able to find any calls of `removeObserver` or `removeChild`. Parent fiber is full of 'dead' children
<img width="955" alt="image" src="https://user-images.githubusercontent.com/87975016/178792302-e3068959-fb35-4956-a55b-0497856ae2f4.png">
Here is the place where we add both observer and child
https://github.com/zio/zio/blob/series/2.x/core/shared/src/main/scala/zio/ZI

[2022-07-13 19:17] jdegoes commented on #7066
In ZIO 2.0, currently if you cancel `await`, it will not remove the observer. That needs to be fixed, and it should then resolve this issue.

[2022-07-13 19:18] jdegoes commented on #7066
See `FiberRuntime#await` implementation.

[2022-07-13 19:19] jdegoes commented on #7066
Looks like @adwells-ds identified a separate issue [here](https://github.com/adwells-ds/zio/commit/cc6496800841e248347da8744f80d5756596b421).

[2022-07-13 19:55] adwells-ds commented on #7066
If I'm not mistaken, we have a case when we execute the effect but did not set the `exitValue`, hence we have 'dead' Fiber with `running = false`, empty queue and we not able to remove it from observers.
<img width="507" alt="image" src="https://user-images.githubusercontent.com/87975016/178821770-18e15f7b-63dd-4e09-9dc4-ee3b32131c4a.png">

[2022-07-13 22:06] johnduffell opened #7072 "Intermittent compile error when using provide macro"
## Summary

Hello, we have been using ZIO and having trouble with compile errors on our project.  I have narrowed it down to the smallest project I can which requires 2 files and 2 layers.  There is no cyclical dependency present.

See https://github.com/johnduffell/zio2-scala3-bug

## How to reproduce + information

1. `git clone git@github.com:johnduffell/zio2-scala3-bug.git`
2. `sbt clean;compi

[2022-07-14 07:00] sideeffffect commented on #639
Why don't you share the details about the errors you faced with us?
Perhaps in a new issue? Please mention me 🙏
I don't have any ZIO 2 working examples unfortunately.

[2022-07-14 07:41] #7064 closed, assigned to nobody

[2022-07-14 07:45] #7066 closed, assigned to nobody

[2022-07-14 09:34] reimai commented on #6613
Can confirm, I've [updated my example to zio 2.0.0](https://github.com/reimai/zio_aggregate_oom/blob/master/src/main/scala/Main.scala) and it still fails with an oom. Also tried it locally with the [recent leak fix](https://github.com/zio/zio/pull/7069), result is the same.

[2022-07-14 10:23] johnduffell commented on #7072
appears to be an issue specifically with izumi-reflect, so closing this in favour of https://github.com/zio/izumi-reflect/issues/307

[2022-07-14 10:23] #7072 closed, assigned to nobody

[2022-07-14 16:46] adamgfraser commented on #7058
@robknapen I don't. Since this code compiles and runs correctly I think it has to be solved Metals level.

[2022-07-14 21:13] dccorona opened #7074 "Non-blocking Code Being Shifted To Autoblocking Pool, Degrading CPU Performance By Running Too Many Tasks In Parallel"
I'm working on migrating a large production workload from ZIO 1.x to 2.x, and am encountering issues with the autoblocking detection. The detection seems to be picking up on things that are not blocking and shifting them to the blocking threadpool, which in turn is resulting in the app paralleling at a higher factor than it used to, overloading the CPU, and slowing the entire application.

My read

[2022-07-14 22:48] adamgfraser commented on #7074
Code like this is "effectively blocking" in the sense that it does not yield control back to the runtime for a significant period of time, which could compromise the runtime's ability to process other requests.

This problem can be easily solved by using `withParallelism(8)` after `foreachParDiscard`. Alternatively, if you want to solve it at the level of the `Executor` you can use `withExecutor`

[2022-07-15 09:52] robknapen commented on #7058
Thanks, I reported it as a possible Metals issue.

[2022-07-15 14:51] narma commented on #7074
At least 4 point deserves attention, app shouldn't goes into crash in such circumstances

[2022-07-15 15:18] dccorona commented on #7074
I agree that code like this, in general, is a problem needing to be solved. I'm not sure that I'd agree that the solution is to move to a blocking pool, I'd instead say that really this code should be rewritten to use ZIO more comprehensively (i.e. so that it yields at every recursion). I certainly don't think that one should be *required* to agree with the "shift it to a blocking pool" approach t

[2022-07-15 16:51] adamgfraser commented on #7074
I agree with you that the underlying issue here is that this code is doing a large block of synchronous work without yielding control back to the ZIO runtime. In a typical ZIO application a large number of small workflows would be composed together using operators like `flatMap`, frequently yielding control back to the runtime. When you have large blocks of third party code that doesn't happen.

I

[2022-07-16 17:08] nartamonov opened #7082 "ZStream processing leads to many strange messages from ZIO internals: "An async callback was invoked more than once, which could be a sign of a defect""
Our app uses somewhat non-trivial ZStream processing to respond on incoming network messages. It seems that processing goes normally (not sure completely), but meantime many strange debug-level log-messages from ZIO internals occur: `An async callback was invoked more than once, which could be a sign of a defect`. The number of those log-messages tends to increase over time. I tried to minimize ou

[2022-07-16 17:18] adamgfraser commented on #7082
Thanks for reporting! Will take a look.

[2022-07-16 17:25] nartamonov commented on #7032
I get nice warnings with ZIO 2.0.0, it works fine :-)

[code]

Fatal-warnings turned on:

[code]

[2022-07-16 18:21] #7032 closed, assigned to nobody

[2022-07-16 22:48] #7082 closed, assigned to adamgfraser

[2022-07-18 16:40] adamgfraser commented on #6613
Yes will do.

[2022-07-19 13:31] dccorona commented on #7058
I can reproduce the issue with this exact code in IntelliJ, by just running with debug instead of run (i.e. attaching a debugger). Incidentally, I'm currently observing exactly the same issue (again, only when a debugger is attached) with this snippet (when count is large):

[code]

EDIT: when attaching a debugger in plain SBT there is no issue. Over in the metals issue they claim it is fixed with

[2022-07-19 14:37] adamgfraser commented on #7058
Okay, if it can only be reproduced when a debugger is attached (and especially if it works with at least some debuggers) then it seems like there is an issue with the Intellij debugger that has to be addressed as well.

[2022-07-19 16:14] dccorona commented on #7058
Sorry, I take that back - I was running the SBT debugger incorrectly. If I add this to the project settings:

[code]

And then run via SBT, I get the stackoverflow as well. So it's just the act of configuring a plain old Java debugger (no need to attach to it) that triggers the issue (which makes sense - there is no "IntelliJ debugger", it's just the debugger).

You can also reproduce by using sbt

[2022-07-19 16:56] dccorona commented on #7074
I think this conversation is over-indexing a bit on the toy example provided. Again, that was just thrown together to quickly demonstrate that you can pretty easily write code that makes the 2.0 runtime crash due to resource exhaustion. Yes, the toy example also doesn't run quickly on the old runtime, but it does at least complete.

In either case, what we do in production looks nothing like this.

[2022-07-19 18:07] adamgfraser commented on #7074
Yeah, I think you totally have the right idea in stepping back.

Autoblocking uses a heuristic which works for most ZIO programs but is based on the assumption that workflows are going to be composed of many small operations that are executed quickly, which is not the case in your program. It is a heuristic so there may be false positives which is also generally not a problem except when you do th

[2022-07-20 04:23] khajavi opened #7101 "Ambiguous layers! I cannot decide which to use"
[code]

Output:

[code]

In the above program, if we instruct the compiler what is the type of a and b, it can compile:

[code]

[2022-07-20 04:48] khajavi opened #7102 "mdoc Cannot Print The Proper Error Message Produced By ZLayer Macro"
When I have the following snippet of code inside the documentation:

[code]

If I compile the above doc using `sbt mdoc` I will get the following errors:

[code]

It prevents me to find the problem in the documentation easily, sometimes I need to compile the snippets outside the `mdoc` facility to find out what the problem is.

I'm not sure if it is related to our macro for ZLayers or something re

[2022-07-20 04:49] khajavi commented on #7102
@kitlangton Could you please take a look?

[2022-07-20 07:24] gciuloaica opened #7103 "ZIO-test not able to assert for equality for CharSequence type"
`java.lang.CharSequence` is an interface that does not refine the general contracts for the `equal` and `hashCode` methods, hence we can't assert on equality with zio-test. One solution will be to specialize the current implementation of `zio.test.AssertionVariants.equalTo` for `CharSequence`.

[2022-07-20 10:45] mhodovaniuk opened #7105 "Implementation of ZIO ConcurrentMap.compute method is not consistent with Java ConcurrentMap.compute"
ZIO ConcurrentMap.compute has different behavior then Java ConcurrentMap.compute. Consider the following example:
[code]
But similar code with ZIO ConcurrentMap will print `None`.

As a result, there is no way to insert a new value when the map has no value associated with the given key.

Probably, this was done because of null safety. But null safe method, with same bahavior as Java, should have

[2022-07-20 15:23] dccorona commented on #7074
I think we still have some of the original proof-of-issue example mixed in with the actual production use case here. Ignore everything about long-running tasks (> 100ms). We don't have any in our actual production system. I made things that run for over 100ms in my example because I couldn't craft a code snippet that would guarantee a false-positive due to unpredictable events like JVM warmup or G

[2022-07-20 16:54] #7103 closed, assigned to nobody

[2022-07-20 17:17] adamgfraser commented on #7074
We can definitely look at either making a version of the scheduler available that doesn't do autoblocking or making the autoblocking heuristic more robust to these kinds of intermittent delays but I think you have a couple of really straightforward paths to upgrade right away.

First is just to use a fixed thread pool. That is going to get you back to exactly the behavior you have today.

Second I

[2022-07-20 19:41] emilhotkowski commented on #6794
@kitlangton is this still relavent? I didn't get any answer last time. I think we could use trampolining, either with ZIO object or TailRec from standard Scala.

[2022-07-20 21:07] narma opened #7108 "ChunkPackedBoolean hashCode is broken"
[code]
fails with
[code]

[2022-07-20 21:14] adamgfraser commented on #7108
Thanks for reporting! Will take a look!

[2022-07-21 07:38] khajavi commented on #7007
Thank you for reporting. All issues related to the default services have been addressed and published to zio.dev.  So I'm going to close this issue.

If you find any other errors in the documentation, please report them separately, and we will fix them as soon as possible.

[2022-07-21 07:38] #7007 closed, assigned to nobody

[2022-07-21 08:06] #7108 closed, assigned to adamgfraser

[2022-07-21 12:56] artur-jablonski opened #7111 "[2.0] no useful trace when ZIO dies"
I would expect this:

[code]

to print an error message that would allow me to trace the problem back to the code, but this is what I get:

[code]

which is only partially useful, I still don't know where exactly I tried to access head of empty list. What am I missing?

[2022-07-21 15:57] adamgfraser commented on #7111
Thanks for reporting! Will take a look!

[2022-07-22 09:03] domdorn opened #7117 "provide `flatten` on `ZIO[R,E, List[List[A]]]` that returns `ZIO[R,E, List[A]]`"
given a helper method
[code]

I want to be able to use `.flatten` after using `ZIO.foreach` to flatten the list.
e.g. I want to be able to write this:
[code]

instead of having to write this
[code]

In this service, I'm currently stuck on ZIO 1.x .. maybe this is already fixed in ZIO 2.x

[2022-07-22 09:52] frabbit opened #7118 "Unused type paramter R1 in checkAllPar and some check and checkAll overloads cause compilation failures and makes them unusable"
I'm currently trying to figure out how checkAllPar can be used. I can't get my example compiled and i wonder if this is related to the unused type parameter R1, see: https://github.com/zio/zio/blob/10fc3699b9c0e36748bc4b20f736c36422c6a3da/test/shared/src/main/scala/zio/test/package.scala#L527

There are also variants of check and checkAll which might suffer from the same problem, see: https://gith

[2022-07-22 13:09] adamgfraser commented on #7117
You can just do:

[code]

[2022-07-22 13:26] adamgfraser commented on #7118
@frabbit I think that type parameter could be deleted and frankly I don't love the current type signature but we are also limited in our ability to change that by binary compatibility. However, I just checked and it looks like it works fine. You can use it like this:

[code]

[2022-07-22 15:00] aartigao commented on #7074
@dccorona Thank you very much for your detailed description. I think we're hitting the same issue.

Today we merged the ZIO 2 code for one of our services and boy... the performance drop was dramatic: x3 slower than versions that didn't have the autoblocking heuristics.

We've a very simple app setup: Tapir (using ZIO HTTP) + Doobie via cats-interop. Can't share more details now, because we're in

[2022-07-22 15:12] adamgfraser commented on #7074
I will take a look at this.

[2022-07-22 15:35] #7111 closed, assigned to adamgfraser

[2022-07-22 15:38] #7105 closed, assigned to nobody

[2022-07-23 11:06] khajavi opened #7121 "Documentation Improvements in Targeting New Users"
Our goal is to teach programmers from other ecosystems (e.g. Java, Python, Go, Rust, ...) with minimum effort to get started with writing the ZIO applications.

The goal of this issue is to gather any number of issues and acceptance criteria for the [documentation project](https://zio.dev/).  A brainstorming session can be held in order to collect more issues that are important to new users. **So

[2022-07-23 20:03] Nickersoft opened #7123 "[ZIO 2] Receiving "could not find implicit value for evidence parameter of type zio.Tag" when attempting to use new service pattern"
Hey folks, I've been attempting to port my ZIO 1 codebase to ZIO 2 and am trying to adopt the new [service pattern] as described in the docs. However, I'm receiving errors on my calls to `ZIO.serviceWithZIO` and my ZLayer initializations that state "could not find implicit value for evidence parameter of type zio.Tag".

Any idea what could cause this? I'm using Bazel instead of SBT, so I need to d

[2022-07-23 20:07] adamgfraser commented on #7123
Hi! Is your service parameterized on a type? If so you may need to require implicit evidence that a tag exists for that type.

[2022-07-23 20:23] Nickersoft commented on #7123
Hey @adamgfraser! Thanks for such a quick response. Unfortunately, I'm still getting the hang of ZIO, so I'm not sure exactly what you mean 😅

My service is currently defined like this:

[code]

I'm also a bit curious as why Tags are required in ZIO. I [did a bit of reading](https://docs.scala-lang.org/overviews/reflection/typetags-manifests.html) on what they are, but am unsure how ZIO utilizes t

[2022-07-23 20:34] adamgfraser commented on #7123
Tags are used to look up a service in the ZIO environment, so when you do `serviceWithZIO[DownloadService]` a tag for `DownloadService`, basically a type tag that represents that type as a value, should be generated and then used to look up the appropriate service in the environment. A parameterized service would be like `DownloadService[A]` so it doesn't look like you have that here.

Your exampl

[2022-07-23 20:42] Nickersoft commented on #7123
Yep! My BUILD file includes both `@maven//:dev_zio_izumi_reflect_2_12` and `@maven//:dev_zio_izumi_reflect_thirdparty_boopickle_shaded_2_12`. Is there anything I should need to import?

I noticed that adding lines such as `

[code]

make the errors go away, but like I said, I didn't think it would be necessary.

[2022-07-23 20:44] adamgfraser commented on #7123
Yeah that shouldn't be necessary. Maybe it would be worth trying to reproduce a simple version with Scastie to verify?

[2022-07-23 20:51] Nickersoft commented on #7123
Hmm, yeah I just [tested on Scastie](https://scastie.scala-lang.org/EtSeZQyXQfSF7uflzgFIjw). Seems to work. None of the ZIO dependencies like Izumi generate Tags at compile-time, do they? Maybe the Scala toolchain needs to be updated to include these dependencies.

[2022-07-23 21:01] adamgfraser commented on #7123
Well the tags are like type tags or class tags so they are generated at compile time for whatever your types are but the fact that you could summon them seems to indicate that works okay.

[2022-07-24 17:46] oliveiosello commented on #7121
I think these are all great ideas for improving the documentation, especially the third bullet point regarding restructuring the way concepts are presented. Starting from a higher level and explaining what elements of `ZIO` come into play, rather than presenting from the most specific details and working outward.

Additionally, a FAQ section will definitely be useful, but it might be worth ensurin

[2022-07-25 14:33] khajavi commented on #7121
I agree with what you have said about the FAQ page. The root cause of this problem is the hard-to-learn experience on the tagless final. People often need to learn highly complex topics, type theory, higher kind types, type classes, implicit, and so on to get started with a hello world! So as a marketing phrase, we can say that you can start with ZIO without any deep knowledge of these topics.

[2022-07-25 14:35] adamgfraser commented on #7121
I think another great use of the FAQ would be getting more content from the Discord into it so that once we answer a question once we have that captured there for others.

[2022-07-25 14:44] ghostdogpr commented on #7121
I think the FAQ would be good for the questions that get asked on Discord very often and have simple answers such as "forkDaemon" or "ZIO.foreach". Even if people keep asking, we can simply send them a link to the FAQ entry rather than repeating ourselves.

As an example you can check the caliban FAQ https://ghostdogpr.github.io/caliban/faq/ . I tried to make it very visible on the website and fee

[2022-07-26 12:15] frabbit commented on #7118
Thx @adamgfraser, It seems that my issue is related to the type of Generators that require Any as dependencies in combination with assertZIO.

For example, the following example fails to compile for me:
[code]
The error is quite confusing:
[code]

On the other hand, the following examples work fine:
[code]

[code]

[code]

[2022-07-26 13:38] adamgfraser commented on #7118
@frabbit What Scala version are you on? I just ran these tests with all of your examples and they all worked fine with the exception of a warning that the result of the generator was not actually being used.

[code]

[2022-07-26 13:57] frabbit commented on #7118
I ran them with scala 3.1.0 and 3.1.3. Both fail with the same error. I had to add `zio.test._` to the imports to get your spec compiling:

The full error is this
[code]
i compiled with bloop 1.5.2, but i get the same error with sbt 1.6.2.

[2022-07-26 14:00] frabbit commented on #7118
Removing the first test from your spec makes it compile again.

[2022-07-26 14:10] Marc-Ducret opened #7128 "[ZIO 2] ZStream.mapZIOPar can get stuck in case of failures"
The following test fails by reaching the 1 minute timeout.
[code]

I tested it with the following ZIO versions:
[code]
and
[code]
Both lead to the same result (most of the time; they can also rarely succeed):
[code]

However with `mapZIOPar(1)` instead of `mapZIOPar(16)`, the test seems to always succeed:
[code]

[2022-07-26 14:14] Marc-Ducret commented on #7128
By looking into existing issues, I found https://github.com/zio/zio/issues/6978 and I think there is a chance that this is the same root cause.

[2022-07-26 14:17] adamgfraser commented on #7118
@frabbit Thanks! I can replicate now and just submitted a PR for this. By the way, not sure if this is just a simplified example but with the random generators you have here I would use `check` versus `checkAll`. I would only use `checkAll` if I had a deterministic finite generator like one constructed using `Gen.fromIterable`.

[2022-07-26 14:18] adamgfraser commented on #7128
@Marc-Ducret Thanks for reporting! Will take a look!

[2022-07-26 14:40] frabbit commented on #7118
Thx @adamgfraser . I guess it's indeed better in that case to use check. But at least i could help fixing this bug ;).

[2022-07-26 15:55] jdegoes opened #7130 "ZIO 2 upgrade / migration issue"
Happens only after upgrade:

[code]

Running on Azure JDK.

[2022-07-26 15:55] jdegoes commented on #7130
[code]

[2022-07-27 01:19] alphaho commented on #7130
Confirmed that the related jdk base image is last pushed at 06/23/2022. So the image is the same before & after the zio 2 upgrade.
Ref: https://mcr.microsoft.com/en-us/product/openjdk/jdk/tags

Digest:sha256:231b632851799363fefb36ada0b7fe0bc9d9f7969edb4ba0da8c610dfb2feb65

![image](https://user-images.githubusercontent.com/666504/181139488-258aeddd-e20a-4a61-99ea-8ec4d4727453.png)

[2022-07-27 01:55] alphaho commented on #7130
By checking out the `whatDependsOn dev.zio zio_2.13` command, here's the consolidated list of libraries of by the project that depends on ZIO 2:

[code]

And here's the raw output of the sbt command, with the project internal modules filtered out:

[code]

[2022-07-27 05:51] #6978 closed, assigned to nobody

[2022-07-27 05:51] #7128 closed, assigned to adamgfraser

[2022-07-27 10:41] alphaho commented on #7130
Here's the correspondent class's source, as found from [the official document](https://docs.microsoft.com/en-us/java/openjdk/download#debug-symbols-and-source-code)(which is the same as the Adoptium OpenJDK source code, as I checked).

I'm thinking whether it has run into any exception when it tries to initialize `HASHED_MODULES ` property.

[code]

----------------

From [the documentation's intr

[2022-07-27 12:00] aleksandr-vin opened #7134 "Test suite not found if class extends ZIOSpecDefault"
Writing test suite as class that extends `ZIOSpecDefault` will successfully make the suite non-visible for test runner.

I'd expect it to act same as object, or have an error on compile time.

[2022-07-27 13:17] alphaho commented on #7130
Managed to get more logs, but not sure what triggered the StackOverflowError yet.

[code]

[2022-07-27 13:51] adamgfraser commented on #7134
Hi @aleksandr-vin! That's right, tests are runnable applications so just like `App` in Scala `ZIOSpecDefault` needs to be extended in an object to be runnable.

I don't think it would make sense to run classes that extended it (since we wouldn't know that they contained an implementation of `spec`) or to have an error (since many users extend `ZIOSpecDefault` to provide their own custom logic that

[2022-07-27 15:43] alphaho commented on #7130
Also tried with image `jdk:11-mariner`, which has the OpenJDK with version 11.0.15+10-LTS. It has got the same error.
While the `jdk:17-mariner` is with OpenJDK 17.0.3+7-LTS
And also verified with `jdk:17-ubuntu`, as well as a base image from Docker Hub: `openjdk:17.0.1-jdk-slim-bullseye`, all run into the same issue and similar error messages.

I think it's not related to the hosting JVM.

[2022-07-28 07:34] gciuloaica opened #7138 "Runtime - access application provided logger instances"
When you build a new Runtime, from an existing runtime, there is no way to access the `ZLogger` instances of the initial Runtime instance. `FiberRefs` could be accessed but there is no way to be able retrieve logger instances as the `FiberRefs.currentLoggers` are private.

[2022-07-28 17:32] adamgfraser commented on #7138
@gciuloaica You can use `ZIO.loggers` to do this.

[2022-07-28 19:45] darl opened #7141 "Test initialization failure do not reported to sbt"
If test failed to initialise it did not reported to `sbt.testing.EventHandler` and overall test run treated as success.

I made sample project:
https://github.com/darl/zio2-example/blob/main/src/test/scala/dev/zio/quickstart/MainSpec.scala

[code]

[2022-07-28 20:01] adamgfraser commented on #7141
@darl Thanks for reporting!

@swoogles Can you take a look?

[2022-07-28 20:02] #7134 closed, assigned to nobody

[2022-07-28 22:20] swoogles commented on #7141
Thanks @darl , just submitted a PR that resolves this

[2022-07-29 02:42] alphaho commented on #7130
It feels like the issue is actually about `StackOverflowError`, while the `NoClassDefFoundError` is a result of that. Because I can initialize the reported class at the start of the program, while still running into the error.

The problem is, I can't get any stacktrace of the `StackOverflowError` even with the jvm option `-XX:-OmitStackTraceInFastThrow` provided.

Another weird symptom I've got f

[2022-07-29 05:32] #7141 closed, assigned to nobody

[2022-07-29 05:37] adamgfraser commented on #7130
@alphaho The ZIO runtime executes operations synchronously up to a certain number of stack frames (currently 500) before unwinding the stack. If the maximum number of stack frames is lower or if you are adding instrumentation that consumes additional stack frames without adjusting accordingly that could explain your issue. You could test by increasing the maximum stack size, say doubling it.

[2022-07-29 06:08] codingismy11to7 opened #7143 "[ZIO 2] self-referential zio with catchSome and catchSomeCause blows up logging, leaks memory"
I might be doing something crazy in my code, could definitely be a better way to do things, but this behavior didn't happen with earlier ZIO2 RCs. I've got an effect that is returning an item to operate on. Inside of a `lazy val` effect, i'm calling that effect, processing, and assuming nothing went bad, i'm starting over from the beginning (`*>` to the `lazy val`). I `catchSome` for certain error

[2022-07-29 06:12] codingismy11to7 commented on #7143
forgot to mention that if you remove the `catchSomeCause` this doesn't happen. just did a little more experimenting, and commenting out either one will make this not happen, but (for instance) just having two `catchSome`s will cause it to happen (ofc catchSome is a PF and you should never have two, but it will surely happen in the wild)

[2022-07-29 09:40] andreazube opened #7144 "[ZIO 2] Converting from Java stream to ZStream can easily cause Out Of Memory Exceptions"
# Summary

Converting a Java stream to a ZStream can lead to a incredibly high memory usage, and even cause an OOM exception on most systems.
Below, you can read more context, a toy example and a possible culprit.

### Context

I have a ZIO1 application that uses streams to process some data. The original stream comes from a third party java API, which I converted to ZStream and then processed fur

[2022-07-29 11:21] vigoo commented on #7144
I think we should have a `chunkSize` parameter for all these `fromXyz` methods

[2022-07-29 12:14] adamgfraser commented on #7143
Thanks for reporting! Will take a look!

[2022-07-29 13:32] alphaho commented on #7130
Thanks, @adamgfraser! That explains it a lot. It then matches up with what I've found from the JVM Flight Recorder(it says there are 106 recursive calls on `FiberRuntime.runLoop`). And also explains why the issue seems to have gone away after increasing the maximum stack size to 4MB.

Because the issue wasn't there with ZIO 1, would it be better if we could make this behavior more explicit? So tha

[2022-07-29 14:26] #7144 closed, assigned to nobody

[2022-07-29 18:29] codingismy11to7 commented on #7143
just fyi i just got this crash and noticed i've seen another in this same spot:

[code]

[2022-07-29 22:08] blast-hardcheese commented on #965
Probably just start the project and try to get people onboard, as well as chat with the ZIO folks about ergonomics and edge cases where Scala and Rust differ.

It looks like at least one person has started this work thus far, but it seems abandoned at this point: [jonathanrlouie/env-io](https://github.com/jonathanrlouie/env-io).

This is a great issue as far as SEO goes, even in its (correctly, im

[2022-07-29 22:09] blast-hardcheese commented on #965
Probably just start the project and try to get people onboard, as well as chat with the ZIO folks about ergonomics and edge cases where Scala and Rust differ.

It looks like at least one person has started this work thus far, but it seems abandoned at this point: [jonathanrlouie/env-io](https://github.com/jonathanrlouie/env-io).

This is a great issue as far as SEO goes, even in its (correctly, im

[2022-07-30 14:07] domdorn opened #7150 "[2.0] zio app error - broken link"
see screenshot:
![grafik](https://user-images.githubusercontent.com/100349/181917996-f3ab374c-1a45-483b-9cf4-c95890627e85.png)

https://zio.dev/next/datatypes/contextual/ is a 404. it should either contain the advertised content or redirect to the right place

[2022-07-30 14:12] domdorn commented on #7117
I know I can do this, it would just be a little more convenient, like the helpers we have for `.some` or `.right` , etc.
If convenience methods like these are not a priority, feel free to close the issue

[2022-07-30 14:16] #7138 closed, assigned to nobody

[2022-07-30 22:24] domdorn opened #7153 "[2.0] logSpan is not added to log in same way as annotations"
annotations are key (string) value (string) pairs.
When using the `SLF4J` logger that is provided by `zio-logging`, `zio.LogAnnotation`s are correctly passed as fields, so they can be used e.g. with the `Logstash-Json-Encoder` to properly translate to ElasticSearch/Kibana/Logback.

For some reason, this behaviour does not work out of the box for `logSpan`s. In the case of SLF4J, I have to explicit

[2022-07-31 16:12] #7150 closed, assigned to nobody

[2022-07-31 19:15] domdorn commented on #7150
@khajavi could u maybe add a redirect? everyone running 2.0.0 will not have the new link till they update.

[2022-08-01 09:13] artur-jablonski opened #7156 "[2.0] Not enough context in debug message coming form ZIO internals"
With logging set to `DEBUG` level I suddenly see lines like this one logged:

[code]

This would be more useful if there was more context to know what error is not handled and where did it originate from.

I see this log originates from `FiberRuntime.scala`:

[code]

and it looks like this captures `Cause`, but then it's not logged...

[2022-08-01 09:20] artur-jablonski commented on #7156
I checked in debug session that `Cause` in this particular case is of type

`final case class Then[+E](left: Cause[E], right: Cause[E]) extends Cause[E]`

if that matters

[2022-08-01 13:49] swoogles commented on #7011
@adamgfraser this can be closed now

[2022-08-01 13:50] #7011 closed, assigned to nobody

[2022-08-01 14:45] #7074 closed, assigned to nobody

[2022-08-01 15:11] domdorn opened #7157 "[2.0] scalafix: remove usages of zio.ZEnv"
remove import completly
[code]

replace `ZIO.runtime[ZEnv]` with `ZIO.runtime[Any]`
e.g.
[code]
with
[code]

replace `ZEnv with` with the empty String

[2022-08-01 15:13] adamgfraser commented on #7157
There are some limits to how many changes we can make with the automated migration tool.

@swoogles Do you think this is feasible?

[2022-08-01 15:16] domdorn commented on #7157
its no big deal if that is not possible, I'm just reporting the things that are not migrated when migrating service by service now.

[2022-08-01 15:18] adamgfraser commented on #7157
Totally. Just to be clear the expectation is not that the automated tool will handle 100% of your migration but that it will handle ~90% of it and make it easy to do the rest. Clearly on the margin we would like to do more but there are some technical limitations that prevent us from doing everything.

[2022-08-01 15:54] dhpiggott opened #7158 "Deadlock/livelock with http4s Blaze after updating to ZIO 2"
I migrated a couple of services to ZIO 2 over the last few of weeks and ran into a strange issue along the way. We have one service left to migrate to ZIO 2, but it receives high traffic volumes and performance is essential for it, so we want to understand the issues we saw with the initial pilot conversions.

Both of the services we've migrated so far (both receive relatively low traffic volumes)

[2022-08-01 17:23] swoogles opened #7159 "Generate richer test results"
### Why

Enable features beyond what SBT provides:

- Performance Regressions
- Recognize flaky tests
- More debugging data when a test fails
- Serve as input data for a future ZioTest webapp

### What

- Serialize new `ZTestResult` instances
- Likely JSON
- Persist results between runs

First draft of new result type:
[code]

### Questions:

- What is our persistence solution?
- Is there a good w

[2022-08-01 17:32] adamgfraser commented on #7117
Yeah, there is a trade-off here of have a single method would be slightly more convenient in this case but also there is an aggregate effect of more methods on ZIO make it harder to find the method you want and there are already a large number of operators on ZIO.

In this case in particular there are a ton of different collection operators that can currently be done as `zio.map(_.someCollectionOp

[2022-08-01 17:32] #7117 closed, assigned to nobody

[2022-08-01 18:59] khajavi commented on #7150
@domdorn I was thinking of that, before. There is a redirect plugin for docusaurus that can help us to perform these redirections. If you are willing to contribute, I appreciate it. Otherwise, I'll get to it as soon as I have a chance.

[2022-08-01 20:29] adamgfraser commented on #7156
@artur-jablonski Hi! Could you create a small reproducer? I tried to do so with the below:

[code]

And I get a log output of:

[code]

This includes the `Cause` and the trace, which I think is the expected output.

Are you using a different logger that does not do anything with the `Cause`? As you can see from the code in `reportExitValue` above the implementation passes `cause` into `log` so the

[2022-08-01 20:36] adamgfraser commented on #7153
I think this has to be addressed at the `zio-logging` level. In ZIO we can capture the log spans which it seems like we are doing but it is up to the logger implementation what to do with them.

[2022-08-01 20:39] adamgfraser commented on #7130
I think 500 is a relatively low number and there is a performance cost to reducing it further as when we run out of stack frames we have to unwind the entire stack. One thing we could definitely do is add more documentation about increasing the stack size if running into problems like this.

[2022-08-01 21:30] artur-jablonski commented on #7156
I am using the console logger from `zio-logging` `v2.0.1` (latest release). With this configuration and your snippet I can see the bahviour I described:

[code]

perhaps I missed something in `zio-logging` documentation or perhaps it's a bug/lack of feature on their side :thinking:

[2022-08-01 21:32] adamgfraser commented on #7156
@artur-jablonski Will take a look at that implementation.

[2022-08-01 22:04] adamgfraser commented on #7156
Yes, the underlying issue is that `LogFormat.default` and `LogFormat.colored` do not include the `Cause`. I opened zio/zio-logging#487 for this.

[2022-08-01 22:04] #7156 closed, assigned to nobody

[2022-08-01 22:05] #7153 closed, assigned to nobody

[2022-08-02 07:34] 987Nabil commented on #7117
@domdorn or anyone who finds this later on. I think especially with Scala 3, we should use extension methods to have some convince like this. So we can tailor some common convince methods for our own code base, without polluting our favorite library.
In Scala 2 this has some drawbacks and ppl tend to avoid this. But Scala 3 removes this pain, I'd say.

[2022-08-02 09:27] domdorn commented on #7117
@987Nabil hmm..

I know this way to do it in scala2..
[code]

how would scala3 make this better/remove the pain?

[2022-08-02 09:36] 987Nabil commented on #7117
[code]
@domdorn this does not create a new object when called. It is more syntactic sugar. Also the explicit `extension` makes intention more clear and easier for new defs.

[2022-08-02 11:27] artur-jablonski opened #7163 "[2.0] "An async callback was invoked more than once, which could be a sign of a defect" logged by ZIO runtime."
After running this ZStream for a while (few seconds):

[code]

ZIO runtime logs out "An async callback was invoked more than once, which could be a sign of a defect"

Here's example of output from running the program:

[code]

`MainExploring.sacala:25` points to `.flatMapPar(1) { i =>` in the source code.

Not sure if this is an issue, everything seems to be working fine.

[2022-08-02 12:36] adamgfraser commented on #7163
@artur-jablonski Hi! This was previously resolved by #7083 so going to close this.

[2022-08-02 12:36] #7163 closed, assigned to nobody

[2022-08-02 13:21] artur-jablonski commented on #7163
Fair play @adamgfraser! Thanks!

[2022-08-03 01:03] adamgfraser commented on #7143
@codingismy11to7 Hi! I took a look at this and I think the issue is actually with this implementation rather than with ZIO.

For recursive workflows to be able to operate with constant memory they must be "effectually tail recursive", which means that the recursive call must be the "last" thing you do in each step.

In your example above, each time we recurse by calling `loop` in the happy path th

[2022-08-03 04:40] codingismy11to7 commented on #7143
Thanks for looking at this, I wasn't trying to get you to fix my dumb application, just reporting what I thought was a regression. but what I'm taking away is that this existed in ZIO1 / earlier ZIO2 snapshots, I just didn't see it because my JVM wasn't periodically crashing, and because those versions didn't have the better tracing?

I'm somebody who doesn't write a recursive function unless I ca

[2022-08-03 05:04] adamgfraser commented on #7143
Yeah, it is a good question. The concept of being "effectually tail recursive" is definitely one we teach but it is one of the more "advanced" topics.

My overall advice would be if possible to use built in operators instead of using manual recursion, which is probably the same advice a lot of people would give about normal tail recursion (e.g. use `foldLeft` instead of writing your own tail recur

[2022-08-03 14:54] #7118 closed, assigned to adamgfraser

[2022-08-03 20:41] domdorn opened #7168 "[2.0] document scoping changes of fibers when constructing layers"
apparently there is a difference in scoping when construcing layers in zio 2.0

the following code was keeping the forked fiber alive even after the layer construction finished in zio 1

[code]

while in zio 2, we have to do a `forkDaemon` to keep the reloading fiber alive after the layer is constructed

[code]

this screenshot shows our zio 1 branch (master) on the left and the required code for

[2022-08-03 21:07] adamgfraser commented on #7168
@domdorn Thanks for reporting!

Yes on both ZIO 1 and ZIO 2 you should either use `forkManaged` / `forkScoped` to tie the life of a background fiber created in a layer to the life of a layer or `forkDaemon` to fork it as a daemon fiber. For example the below code in ZIO 1 also terminates the background fiber early.

There may be something else that is changing the lifetime of the particular fiber

[2022-08-04 09:01] evis opened #7169 "Remove getOrFailWith"
Example of using `getOrFailWith`:

[code]

We have to read this code from the end to the beginning. That's confusing.

That's strictly better alternative in the terms of readability:

[code]

This way, we can grasp the code easier: first the logic, then the error handling for this logic. Not vice versa =)

[2022-08-04 12:02] ghostdogpr opened #7170 "Finalizer gets interrupted when using timeout"
Consider the following code (ZIO 2.0.0):
[code]
When you send a KILL signal to this process, this gets printed:
[code]
The finalizer fails with an interruption.

If you remove `.timeout(10 seconds)`, it prints this as expected:
[code]

[2022-08-04 13:56] adamgfraser commented on #7169
@evis Hi!

We can't delete operators because we have a binary compatibility guarantee. The most we could do is deprecate it.

This seems somewhat subjective and context dependent. The first snippet uses a single constructor, which some people prefer, whereas the second requires two different operators. The first can also be particularly readable if variables are extracted:

[code]

Here the code r

[2022-08-04 16:22] adamgfraser commented on #7170
@ghostdogpr Thanks for reporting! Just submitted a PR to fix this.

[2022-08-04 17:08] #7170 closed, assigned to adamgfraser

[2022-08-04 17:37] darl opened #7172 "StackOverflow in compiler with @accessible macro"
Scala 2.13.8
ZIO 2.0

When using `@accessible` macro & referencing class from companion object.

Example: https://github.com/darl/zio2-example/commit/48c4020444bbfadc76a0735204a92797ad6c3bc1

[code]

[2022-08-05 01:12] #7143 closed, assigned to nobody

[2022-08-05 10:22] domdorn opened #7173 "Fiber zio-fiber-12 did not handle an error"
I'm seeing the following error logged in a service we recently migrated to zio 2:
[code]

I'm missing a trace-info here.. basically some info into which code I have to look to fix the problem.. fiber-12 could be anything.

Is there a way to enable this?

[2022-08-05 12:16] adamgfraser commented on #7173
@domdorn Can you try on the latest ZIO snapshot?

[2022-08-05 15:00] sergeykolbasov opened #7175 "Flattened ZStream.acquireReleaseExitWith doesn't release an item in time"
An example:

https://scastie.scala-lang.org/pw3gkWayTWqFFdDt1L4VHw

[code]

I'd expect the output to be:
[code]

However, the actual result is:
[code]

So you can see that the finalizer for the element doesn't run before encountering the next item in the "parent" stream.

We listen for the SQS queue, and in the nested release we delete the message from the queue unless it's a failure. SQS messages

[2022-08-05 15:39] BennyMcBenBen commented on #6393
Note that this also fails with a stack overflow error:

[code]

This is my workaround:

[code]

[2022-08-05 16:49] iilyak commented on #3726
Is it implemented already?

Not necessarily. I have a use case at hand which require printing debug info from the test itself. I am writing a property test which uses `zio.test.Gen` to generate data structures. In order to quickly check that generated structures are in the right  shape I want to be able to enable printing (should be disabled by default) of the generated items.

[2022-08-05 16:50] adamgfraser commented on #3726
@iilyak You can already use `Console.printLine` or `ZIO.debug` to print debug information in your tests.

[2022-08-05 17:00] iilyak commented on #3726
My understanding is that Console.printLine would be printed unconditionally (ZIO.debug might be as well).

Is it possible to influence the test environment so `println` and `Console.printLine` would always be printed, but `ZIO.debug` (or something like `Console.debug`) only when environment variable is set.

Currently I have the following and want to replace `println` with `debug` which would be o

[2022-08-05 17:02] adamgfraser commented on #3726
@iilyak `ZIO.debug` will always be printed. If you don't want `Console.printLine` to be printed you can use `TestAspect.silent`.

[2022-08-05 17:03] adamgfraser commented on #3726
You can also use `ZIO.logDebug` which will be logged to the console and you can disable with `Runtime.removeDefaultLoggers`.

[2022-08-07 22:06] grouzen commented on #7172
I do confirm that it fails even with `-J-Xss16M` which is a really huge value.

[2022-08-08 14:16] andrzejressel opened #7182 "zio-test: Comparing using orderingToOrdered in assertTrue causes compilation error"
Tested on ZIO 2.0.0 and latest ZIO 2 snapshot

Examples:

Scala 2: https://scastie.scala-lang.org/X86aECF8Rn2zR3SsmWBW1g
Scala 3: https://scastie.scala-lang.org/6UW3lTI7RI6ErOuEACPqNA

Code:
[code]

Scala 2 error:
[code]

Scala 3 error:
[code]

After commenting out `assertTrue`, `println` prints correct value - `false`

[2022-08-08 19:34] grouzen commented on #7172
It also fails using the latest version of `series/2.x` branch

[2022-08-08 20:01] grouzen commented on #7172
I've tried to reproduce it by implementing a test in `AccessibleSpec`, but it works. Here are my tests:
[code]

[2022-08-09 11:29] notxcain opened #7184 "ZIO 1.x: ZLayer with type members fail during runtime."
[code]

This code explodes with
[code]

[2022-08-09 11:48] notxcain commented on #7184
The workaround is to provide an instance of `Tag[In]` manually. I'm not sure why it works though. My guess is that it has to do something with later macro expansion — at the time when compiler is already aware that the expansion happens inside `MyFoo`.
[code]

[2022-08-09 12:00] notxcain commented on #7184
So this also works
[code]

[2022-08-09 12:04] khajavi opened #7185 "Different behavior on child fiber interruption between `ZIOAppDefault` and `unsafe.run`"
The following program work as expected and the child fiber will be interrupted:

[code]

But in the following example, the `onInterrupt` will not be called:

[code]

[2022-08-09 13:36] adamgfraser commented on #7185
@khajavi I am not able to replicate on `series/2.x`.

[code]

Here is the output:

[code]

I wondered if this was being I was using a forked JVM but I got the same result when I disabled that.

[code]

[2022-08-09 17:05] sergeykolbasov commented on #7175
In comparison, in fs2 this case is handled correctly:

https://scastie.scala-lang.org/d39dX6ylQ7q4x6mGLSWaxQ

[code]

Produces:
[code]

[2022-08-10 01:04] adamgfraser commented on #7175
Yes right now the guarantee is that a sub-stream will be closed before the next sub-stream is opened not not necessarily that it will be closed before pulling again from the upstream. This is a feature we could explore for a future release.

[2022-08-10 17:05] grouzen commented on #7172
I reproduced it by moving trait and companion objects `Module` definitions to the top level. I'm going to play with it for a while.

[2022-08-11 16:51] davidlar commented on #7158
I have a similar problem and I suspect it's the same bug.
In my case I use skunk via cats-interop and the tests usually hangs in the end of each test run.
If I run the tests sequentially it works, though.
On ZIO 1 there was no problem at all.

I haven't managed to create a small reproducer yet, so I'm hoping that the bug could be fixed by using your reproducer!  ;-)

[2022-08-12 15:18] bgolding355 opened #7197 "Add Ability to Accumulate arbitrary value in `ZSink.fromFile`"
# The Problem
There is no easy way to accumulate a value while streaming information to a file in `ZStreams`.

Here is the use case. Lets say I have an API that successfully returns a `String` 80% of the time, but fails the other 20% of the time. My goal is to use this API to fetch a large number of strings, print them to a file, then afterwords know how many of the calls succeeded vs failed. Sinc

[2022-08-12 15:24] adamgfraser commented on #7197
This feels pretty special purpose. I think a more composable solution would just be combining two sinks that deal with the concerns of writing to the files and counting various types of results. This could be accomplished with:

[code]

You could also use `tapSink` to write the contents of the stream to a file and then use normal stream operators like `scan` or `fold` to count successes and failur

[2022-08-12 16:41] bgolding355 commented on #7197
@adamgfraser thanks, that is a much better solution then what I found. I did not know that it was possible to compose `ZSink`s or `tap` them.

One thing I would note is that neither the `tapSink` nor the `&>` operator are documented in https://zio.dev/version-1.x/datatypes/stream/zsink/. It would be useful to document these features

[2022-08-12 16:41] #7197 closed, assigned to khajavi

[2022-08-12 16:43] adamgfraser commented on #7197
@khajavi See above suggestion regarding documentation.

[2022-08-12 19:01] BardurArantsson opened #7198 "SmartAssertion assertTrue macro failure"
Hi, it appears that the assertTrue macro doesn't quite handle comparing a literal Int to a Long on Scala 3.1.3. This might be an upstream bug, but I thought I'd raise it here.

This is a test which triggers the compilation failure:

[code]

The compiler spits out

[code]

(etc.)

Not a big deal, obviously, but it would probably be nice for ergonomics if the Int literal were automatically promoted

[2022-08-15 11:02] pvgoran opened #7202 "ZChannel is missing contramap operations for input errors"
`ZChannel` has `contramapIn`/`contramapInZIO` for mapping input elements and `contramap`/`contramapZIO` for mapping input end result, but no way to transform input errors. Because of this, I can't satisfy type restrictions on `InErr`, see https://github.com/zio/zio/discussions/7201 .

[2022-08-15 11:32] pvgoran commented on #7202
Possible implementations (in the form of implicit classes):

[code]

Did I miss anything?

[2022-08-15 11:40] pvgoran commented on #7202
One particular concern regarding the implementation above (and the similar implementations of other contramap operations): The documentation for `ZStream.run` says "The channel must not read any input or write any output". The channels produced by contramap operations (including my implementations above) are build using `ZChannel.readWith`, which suggests that they read their input. Do these chann

[2022-08-15 12:40] vigoo commented on #7202
These are only missing by accident, I think. Your implementation looks good to me, would you like to add it in a PR?

The comment regarding `ZStream.run` is true, channels with input (for example those created by these functions) cannot be executed without first "plugging in" something in their inputs.

[2022-08-15 21:22] domdorn opened #7206 "2.0 metrics: align metric names with Micrometer.io names"
to increase interoperability, we should align our metrics names with the ones that are in use by https://micrometer.io/docs/ref/jvm
That way, we can leverage existing dashboards already in use in the industry and also make lives easier for Ops running already non-zio apps in a mixed environment.
This way, we can add an additional bullet point to the reasons why people should use zio, e.g.
 - Plugs

[2022-08-15 21:34] domdorn commented on #7206
I've noticed that the `.` gets converted to underscore. So in the table above, we would just need to adjust the `jvm_classes_unloaded_total` to `jvm_classes_unloaded`. Other metrics differ more (e.g. switching order of words)

[2022-08-16 04:32] atooni commented on #7206
@domdorn I am open to the suggestion.  This having said, the names are coming from the Prometheus jvm instrumentation and we have chosen them to maintain compatibility for users who have been using that.

Changing the names would mean that current users would also have to change their dashboards.

Secondly, the jvm metrics are a function of ZIO core, so if we would change the names it would have t

[2022-08-16 08:14] #7202 closed, assigned to nobody

[2022-08-16 08:21] pvgoran commented on #7202
Thank you!
(Even though I determined that these operations are irrelevant for my purposes. :) )

[2022-08-16 10:40] pvgoran opened #7207 "ZChannel.never seems to be misplaced"
The `ZChannel` **trait** contains the following function:

[code]

It seems to me that this function should be defined in the `ZChannel` companion object instead. For all intends and purposes it's a `ZChannel` **constructor**, not a transformation.

[2022-08-16 12:20] domdorn commented on #7206
hmm.. ok, I didn't knew that Prometheus itself also has a java metrics lib. I see that `jvm_classes_unloaded_total` is spelled that way in there (although I think its a mistranslation from the JMX Bean) https://github.com/prometheus/client_java/blob/e68daf23336eb5de7856df406eb1d497f51ad3be/simpleclient_hotspot/src/main/java/io/prometheus/client/hotspot/ClassLoadingExports.java#L35

If we would pro

[2022-08-16 12:27] vigoo commented on #7206
Hi, yes I explicitly used the Prometheus names because wanted keep compatibility when migrating to zmx/zio2 from the prometheus java library. I understand micrometer uses different names but I guess there are even more conventions than these two, so I think if we should rather think about how to provide different "naming styles" than select an arbitrary other one to follow.

(I am definitely a lit

[2022-08-16 12:47] 987Nabil commented on #7206
If I am not mistaken, micrometer is the default for Spring. I know in our company both, prometheus and micrometer, are flying around.

Anyway, I had the same thoughts like @vigoo and think this is the right way to go. And maybe having micrometer and prometheus predefined makes sense.

[2022-08-16 13:19] domdorn opened #7209 "2.0 zio test: "warning/error you have provided more than is required" with "shared specs""
As discussed in one of the recent zymposium sessions with Dan, I have created my own IntegrationSpec that has a shared bootstrap/layer for expensive resources.
e.g.

[code]

I have then extend multiple scala spec files from this `IntSpecBase` trait, e.g. the `CreateCalculationSpec` below. Unfortunatelly, I now get warnings like this when compiling:
[code]

we have the following-setting project-wid

[2022-08-16 13:47] domdorn commented on #7206
@vigoo I just tried the dashboard you linked (its very old, last updated in 2017 with only one revision): its very limited.
Then I tried this one: https://grafana.com/grafana/dashboards/8878-jvm-dashboard-for-prometheus-operator/?tab=revisions .. its more advanced, but is based on kubernetes concepts (namespace/service/pod)
![grafik](https://user-images.githubusercontent.com/100349/184893900-0f060

[2022-08-16 13:59] emilhotkowski commented on #5543
Is this still relevant? I could pick this up

[2022-08-16 14:32] domdorn commented on #7206
I'll try to migrate one from the micrometer dashboards now.. will post it once I have something.

[2022-08-16 15:39] #7207 closed, assigned to nobody

[2022-08-16 15:43] pvgoran commented on #7207
Thank you!

[2022-08-16 16:46] leonfed opened #7210 "StackOverflowError when running a test with getting getResource and using assertTrue"
The following code produces StackOverflowError

[code]

[code]

Also I realized two interesting facts
1) StackOverflowError is happens only if test fails. If file "smth.xml" contains `<a>123</a>` the test will complete successfully.
2) If I use `assert(elem.toString)(equalTo("<a>1234</a>"))` instead of assertTrue, StackOverflowError doesn't happen (even if file doesn't contains `<a>123</a>`)

[2022-08-16 21:00] domdorn commented on #7206
ok, I have a first version based on rev 9 of https://grafana.com/grafana/dashboards/4701-jvm-micrometer/?tab=revisions

screenshots here:
![grafik](https://user-images.githubusercontent.com/100349/184982414-7a7947e2-4122-427f-ba33-238514ee3df3.png)
![grafik](https://user-images.githubusercontent.com/100349/184982481-57593e8d-4c5e-498b-8d52-95f74fe0f80d.png)
![grafik](https://user-images.githubuser

[2022-08-17 02:19] quelgar opened #7211 "`foldCauseZIO` provides interruptions to the failure case"
Should this test pass?

[code]

[code]

`tapDefect` is built on `foldCauseZIO`, the Scaladoc of which I interpret as meaning interruptions will *not* be passed to the failure case, but it appears they are passed to it.

[2022-08-17 05:16] adamgfraser commented on #7211
This is expected behavior. This is codified in the following test in the "interruption semantics" suite:

[code]

[2022-08-17 16:12] #7157 closed, assigned to nobody

[2022-08-17 23:20] quelgar commented on #7211
Yes, I'd expect `catchAllCause` to catch all causes. But `tapDefect` filters out failures and I'd expected it to filter out interruptions too.

I think the Scaladoc of `foldCauseZIO` is misleading then? "Except interruptions" should be removed.

[code]

[code]

[2022-08-18 04:11] adamgfraser commented on #7211
A more precise statement would be that `foldCauseZIO` allows recovering from any kind of failure except *external* interruptions. To see this consider the following test:

[code]

In this example the fiber is externally interrupted and `foldCauseZIO` is able to observe that interruption and act on it assuming it is in an uninterruptible region. This is in fact how `ensuring` is implemented. Howeve

[2022-08-18 06:29] quelgar commented on #7211
Oh I see, thank you for explaining!

[2022-08-18 06:29] #7211 closed, assigned to nobody

[2022-08-18 08:04] Salamahin opened #7214 "Schedule.fixed is not working with rates less than 1000 events per sec"
Looks Schedule.fixed assumes minimum duration of 1ms and milliseconds are used as atomic duration during next run scheduling.
Technically it looks it's possible to use nanosecond as atomic duration, so I'm curious is there any idea of making such strict limit?

[2022-08-18 11:07] khajavi opened #7215 "The `ZIOAppArgs` service doesn't work with `ZIO#provide`"
The following code doesn't work with `ZIO#provide` but works with `ZIO#provideLayer`:

[code]

Compiler output:

[code]

[2022-08-18 13:44] adamgfraser commented on #7215
@khajavi You need to do `provideSome[ZIOAppArgs]`.

[2022-08-18 14:19] ak0rz opened #7216 "Predictable release cycle"
Hi,

Thanks for all the fish. :)

It's been a long time from version 2.0.0 has landed, and many changes has been introduced since then into series/2.x branch.

Is there any release cycle policy prefered by ZIO?
If not, maybe it would be helpful to create one? Like, for example, making a small maintenance patch every week or two.

Cheers!

[2022-08-18 14:22] adamgfraser commented on #7216
@ya-goodfella Hi! We do releases when there have been a sufficient number of changes for a release to make sense. I don't know if it has been a "long time" since June but will probably do another release shortly. 😃

[2022-08-18 14:34] ak0rz commented on #7216
Well, literally "long time" here refers to the number of changes between https://github.com/zio/zio/compare/v2.0.0...series/2.x :)

It's 173 commits since then and a huge set of differences with 379 files, +16304 -7468 LOC.

But I'm just curious - it there any discussions on providing some release strategy other than "when it's done"? I think for major releases rolling-release strategy is fine. If