[2019-11-30 08:33] iravid commented on #768
@jdegoes you wanted to follow up on the algebraic laws here?

[2019-11-30 09:36] #1888 closed

[2019-11-30 09:36] #2182 closed

[2019-11-30 09:46] pk044 commented on #2341
I can add `skip` too by the way :+1:

[2019-11-30 09:54] iravid commented on #2341
That’d be great!
On 30 Nov 2019, 11:46 +0200, Paweł Kiersznowski <notifications@github.com>, wrote:

[2019-11-30 12:38] #2356 closed

[2019-11-30 12:38] #2357 closed

[2019-11-30 13:51] jdegoes commented on #2297
@adamgfraser The basic idea behind this solution is that the "final" type of environment is in fact `EnvironmentalEffect#Environment`.

This gives you the ability to modify an environment of unknown type, by using the lens.

So we can write a method that modifies the environment to add a prefix to every log line, for example:

[code]

[2019-11-30 14:19] jdegoes commented on #2349
@adamgfraser Hmm, this is an important use case, generated by `Fiber#orElse`.

The other ones seem solvable but this one seems trickier since the combinator only has the output of another fiber to go on. Hmm...

[2019-11-30 14:24] jdegoes commented on #768
@iravid Yes, I'd like to implement the good ones and test the already implemented ones... worth keeping it open.

[2019-11-30 14:28] jdegoes commented on #2316
`provideSome` describes what it does, in fact, the name came from someone asking me, "is there a way to provide some of an environment?"

[2019-11-30 14:31] jdegoes opened #2368 "STM: Enhance TArray"
`zio.stm.TArray` is missing many useful methods:

 - `find` to find an element
 - `indexOf` to get the index of a matching element
 - etc.

Probably 10 or so helpful utility methods could be added to `TArray` to make summarizing and retrieving information from the array more useful.

I would look on methods of `Array` / `Vector` in Scala and see which ones would be a good fit for `TArray`.

[2019-11-30 16:39] ioleo opened #2369 "ZIO Test: typeCheck fails for interpolated string"
Can we possibly allow for interpolated strings in `typeCheck`?

**This works**
[code]

**This does not**
[code]

The result is failed fiber with:
[code]

**Why would it be useful?**
I'm my case I have a fairly large test suite and in each test I need to repeat imports:

[code]

It would be nice if I could define my own helper method to remove that boilerplate.
/cc @adamgfraser

[2019-11-30 16:39] domsj commented on #1275
I'm curious: what solution is this hinting at?

---

Fwiw https://github.com/reactor/BlockHound seems like a useful tool (you do need to mark relevant threads with `NonBlocking` interface from Reactor's lib, which surely isn't the case for zio right now) to help users in situations like this.

[2019-11-30 17:52] gchudnov opened #2370 "ZIO Stream: Consider adding `.via` operator"
Other streaming libraries has the concept of a `Flow`, that allows you to map one stream to the other in a single chain, like:
[code]

It would be nice to have `.via` operator in ZIO Streams that allows mapping `ZStream[A] => ZStream[B]`.

Without that, the flow of operations looks not so nice:
[code]
but it could be something like:
[code]

[2019-11-30 18:22] #1479 closed

[2019-11-30 18:26] vasilmkd commented on #2234
Have you had the chance to think about this? @iravid

[2019-11-30 19:37] neko-kai commented on #2295
@adamgfraser

I like it! Maybe with a name like `fromEitherValue` or `fromEitherTotal`?

[2019-11-30 19:41] neko-kai opened #2371 "Optimize parSequence"
As per @Avasil's [benchmarks](https://gist.github.com/pk044/181b32f9af380c9230d8512d14233c2a) (https://github.com/zio/zio/pull/2290#event-2821787971) `ZIO.parSequence` has a long way to go to get good performance. Any contributions to optimize it or related methods are welcome!

[2019-11-30 19:46] neko-kai commented on #2297
Considering that type parameter projection is positively [gone](https://dotty.epfl.ch/docs/reference/dropped-features/type-projection.html) in dotty, I'm not sure how viable it is to pursue long-term...
There is no way to manufacture a value of EnvironmentalEffect here to get a "sound" type prefix `envValue.Environment`, because the R value is supposed to appear way later from inside ZIO

[2019-11-30 19:59] adamgfraser commented on #2241
Closed by #2361.

[2019-11-30 19:59] #2241 closed

[2019-11-30 20:36] adamgfraser commented on #2349
@jdegoes Yes, I think we are seeing that not only do we need the ability to mark a fiber as as not reporting errors at creation but also have the ability to add that status later. I think that might point towards your proposal of fibers containing handlers because then you could provide a method on `Fiber` that changes the handler in `FiberContext`, whereas I'm not sure how we handle that in the "

[2019-11-30 21:03] adamgfraser commented on #2297
In Scala 2 the code above is not compiling:

[code]

If I am understanding it right, the issue is that the lens is parameterized on the `Environment` type of `R` but there is no guarantee that the specific instance of `R` we have accessed has the same `Environment` type (e.g. `Environment` could be abstract in `R` and be implemented in the specific instance of `R` as an arbitrary type). I'm not su

[2019-11-30 21:26] #2234 closed

[2019-11-30 21:36] jdegoes commented on #2297
Not saying it's a good idea, but we can avoid type projection (in Scala 3) and type inference issues possibly by just making everything polymorphic:

[code]

Then we have `Logging[R]` which becomes polymorphic in the environment type.

If we're going to say lenses can't work, we should be very sure of that. 😄

[2019-11-30 22:13] fanf opened #2373 "Deadlock in 1.0.0-RC17 - maybe due to infinite fiber shutdown"
After upgrading Rudder (https://github.com/Normation/rudder) from ZIO `1.0.0-RC16` to `1.0.0-RC17`, I encounter deadlock which manifests when only one CPU is provided to the application.
In that case, thread dump show that every ZIO related thread are waiting in `OneShot`, and in particular the the maximum number of `zio-default-async` (2) is reached (both waiting).

The application is a migration

[2019-12-01 02:15] ChristopherAndre opened #2375 "Doc: Fix typo in the doc page about the tests"
Doing a copy paste from [the "Testing" page](https://zio.dev/docs/usecases/usecases_testing) made me realize there seems to be a typo in the part about the SBT imports.

Indeed, we have:
[code]
But it looks like sbt is expecting something like either
[code]
Or, if we prefer to keep the `Seq`:
[code]

[2019-12-01 02:20] adamgfraser commented on #2375
@ChristopherAndre You are completely right. We actually have an open PR regarding this at #2284. Let me check with the author and see if we can get that over the finish line. Thanks for raising!

[2019-12-01 02:22] ChristopherAndre commented on #2375
Thanks for the reply, @adamgfraser : I was about to submit a PR for this!

[2019-12-01 02:39] adamgfraser commented on #2369
We can definitely consider that. A couple of things to think about:

1. Names in the enclosing scope are already visible in the macro that implements `typeCheck`. So you actually don't need to do the imports in each of your tests as long as you have already imported in an enclosing scope, such as at the top of your file. That doesn't change the value of being able to do interpolation in other use

[2019-12-01 02:46] ioleo commented on #2369
@adamgfraser Interesting, did the macro implementation change since `assertCompiles` version? I remember trying to add imports on top of my file with an earlier version, but it didn't work, thence I did not try it now. I'll try it out.

[2019-12-01 02:51] adamgfraser commented on #2369
@ioleo I'm not sure. I recall it being that way the last time I looked at it but it may have changed in an earlier version. I am testing it with an example like:

[code]

[2019-12-01 07:21] Twizty commented on #2349
@jdegoes @adamgfraser I don't think it is possible to catch an error of a fiber that immediately fails, and I don't know if it is a good idea to mark fibers as "evaluated later". How to determine when that "later" will be?

[2019-12-01 08:19] jdegoes commented on #2349
@Twizty @adamgfraser

What we are really looking for is the following:

 - Do not log the unhandled error if someone else is going to see it

And indeed, this is the problem: one can see the error only after calling `join` / `await` / `poll`, by which point, the fiber may have already finished.

So fibers don't have enough information when they end life to determine if someone saw the error.

Even

[2019-12-01 09:33] ghostdogpr commented on #2349
My preference goes to **By default, only log defects**. Those are the only ones that shouldn’t happen and deserve to be logged by default. Also it keeps things simple.

[2019-12-01 10:50] vasilmkd commented on #2373
Same symptoms as #2226.

[2019-12-01 14:23] reibitto commented on #2336
@iravid I can take this one if nobody else is already working on it.

The implementation is a simple one-liner which you've already outlined. It looks like it's a matter of writing tests really.

[2019-12-01 14:42] iravid commented on #2336
@reibitto All yours, thank you!

[2019-12-01 19:20] softinio opened #2381 "Add Algebra for sending metrics to prometheus"
# Overview

Create Algebra needed to represent:

- the request to prometheus
- the response received from prometheus
- will need a method to transform from redis protocol message received to the new request algebra that will be used by the client

# Notes
- <https://prometheus.io/>
- <https://prometheus.io/docs/instrumenting/writing_clientlibs/>
- Note that I have implemented a custom version of t

[2019-12-01 19:22] softinio commented on #2263
@jdegoes is this ticket a duplicate of what I have been working on?

@pk044 you may want to wait to not duplicate effort. It may not be. Adding this to the ZMX project board.

[2019-12-01 19:25] softinio opened #2382 "Implement client for sending metrics to prometheus"
# Overview

Implement client for sending metrics to prometheus

## Notes

- if its via http use <https://github.com/softwaremill/sttp> for client
- https://prometheus.io/
- <https://prometheus.io/docs/instrumenting/writing_clientlibs/>

[2019-12-01 19:25] pk044 commented on #2263
@softinio no problem :+1:

[2019-12-01 19:27] softinio opened #2383 "ZMX Client Server Initial Implementation"
# ZMX

## Completed
- Implemented ZMX server which listens for messages
- Server configurable to specify host or port  but defaults to localhost:1111 when not specified
- Protocol for communication between Server and Client created based on a simplified version of the `RESP` protocol (<https://redis.io/topics/protocol>). We can implement more of the protocol features if needed

## Notes

- Message

[2019-12-01 19:29] softinio opened #2384 "Add a JS server for ZMX"
# Overview
Currently ZMX Server and client is implemented to run for the JVM using NIO. We need to add the same server capability for used with scalajs

# What ScalaJS supports

- Scala js does support `nio` ByteBuffer so we can continue to use that for this implementation:
https://github.com/scala-js/scala-js/blob/master/javalib/src/main/scala/java/nio/ByteBuffer.scala

- One option to implement

[2019-12-01 20:26] dkarlinsky commented on #2381
I will take this

[2019-12-01 20:26] dkarlinsky commented on #2382
I will take this

[2019-12-01 21:11] softinio opened #2386 "Implement CLI tool for ZMX"
Simple CLI tool to call ZMX to get fiber dumps and metrics using the existing `ZMXClient` developed.

[2019-12-01 23:16] horned-sphere commented on #2368
I'd like to have a go at this one. I've made a start but need to add in some tests yet.

[2019-12-02 01:18] kubukoz opened #2388 "`ZIO#succeed` (the one on the class) is redundant and confusing"
`putStrLn("foo").succeed(0)` is equivalent to `ZIO.succeed(0)`.

The signature is almost identical to `as`, except for strictness of the argument.

As per the discord discussion on zio-dev, it should be removed. I'll submit a PR within a couple days.

[2019-12-02 05:08] jdegoes commented on #2373
`eff.fork.daemon` will do what you want, but please wait until RC18 before trying again, as I think we need to discuss reasonable defaults.

[2019-12-02 07:46] fanf opened #2390 "Allow to call Fiber.dump from an external signal"
Fiber dump is a fabulous feature which by itself gives zio a huge value proposition. But a big part of that value is voided by the fact that currently, you can't use it when you really need, ie in an unforseen lock in production, especially if the lock happens in a condition set hard to diagnose and reproduce.

So, it would be a major win to be able to call fiber dump from an external signal/tools

[2019-12-02 07:55] ghostdogpr commented on #2390
@fanf I think #2263 covers this, doesn't it?

[2019-12-02 08:02] fanf commented on #1275
@domjs: AFAIK (derived from a two minutes chat with @jdegoes so I can be mostly wrong), the idea is to create all fibers in a default pool and have the underlying zio virtual machine observe if they make progress from one tick to the other. After some threshold of non progression, a fiber would be migrated automatically to a blocking thread pool.
The idea is *very* neat and again shows how importa

[2019-12-02 08:06] fanf commented on #2390
Totally, and I searched before posting (b/c I was almost sure to have discussed this before) and could not find it back :)

So, sorry for the noise! I'm closing this one and will comment on #2263 if needed.

[2019-12-02 08:06] #2390 closed

[2019-12-02 08:11] fanf commented on #2263
I missed that ticket when opening #2390, thanks @ghostdogpr for noticing!

So my use case is (obviously) to allow debugging unforseen lock in production, especially if the lock happens in a condition set hard to diagnose and reproduce.

Moreover, the listener for that signal might need to live in its own thread/fiber pool so that we can analyse even situation where zio-default-async is exhausted l

[2019-12-02 09:59] vasilmkd commented on #2370
Working on it.

[2019-12-02 12:17] #2370 closed

[2019-12-02 13:12] darl commented on #2382
afaik prometheus pulls metrics from application, not the application pushes them.
there are push-gateway for pushing, but its not common pattern to use prometheus

[2019-12-02 15:12] vasilmkd commented on #2371
Possibly a duplicate of #1182, but it needs more visibility. Either way, linking to the previous issue.

[2019-12-02 15:24] toxicafunk commented on #2382
FYI, I have just added [documentation for zio-metrics](https://zio.github.io/zio-metrics/docs/essentials/essentials_files#exporters) which supports most common Prometheus exporters including an Http Server for scraping as well as a PushGateway (https://github.com/zio/zio-metrics/blob/master/prometheus/src/main/scala/zio/metrics/prometheus/PrometheusExporters.scala).

[2019-12-02 15:24] vasilmkd commented on #2353
@adamgfraser Name based extractors might be something that we could benefit from, in terms of saving allocations (not completely sure about the performance requirements of this issue). Just sharing this for visibility and education purposes.
https://hseeberger.wordpress.com/2013/10/04/name-based-extractors-in-scala-2-11/

[2019-12-02 16:34] softinio opened #2392 "Upgrade scala.js to 1.0.0-RC1"

[2019-12-02 17:18] vasilmkd commented on #2386
Are there any plans to explore a scala native solution or GraalVM native image? Just curious.

[2019-12-02 19:49] dccorona opened #2394 "Type Inference Regression on ZIO.bracket between RC9 and RC17"
Just recently got around to updating code that was originally written against zio-core RC9 to the latest (RC17). It appears that the type inference on `ZIO.bracket` has regressed. It's not hugely impactful for me, but I figured I'd open up an issue in case this was unintentional.

Consider the usecase of a Scalatest unit test that runs some blocking process that needs to be alive for the lifetime

[2019-12-03 02:06] sderosiaux opened #2396 "Schedule combination fails the Fiber"
Hi,

I'm running with ZIO 1.0.0-RC17.

In the following program, when both `Schedule`s are combined, the fiber fails. When there is only one `Schedule` used, it works. Is this expected?

[code]

Error:
[code]
The related code in `Schedule.check`:
[code]

[2019-12-03 02:10] ghostdogpr commented on #2362
Fixed by #2389

[2019-12-03 02:10] #2362 closed

[2019-12-03 02:11] adamgfraser commented on #2396
This is not expected behavior. It is a variant of #2309.  We have a work in process PR #2339 to address this.

[2019-12-03 02:13] sderosiaux commented on #2396
Ah yes sorry, I didn't see it. Closing this one. Thanks!

[2019-12-03 02:13] #2396 closed

[2019-12-03 04:25] adamgfraser commented on #2394
@dccorona Thanks for reporting! Having excellent type inference is very important. I just pushed a fix for this.

[2019-12-03 04:52] adamgfraser opened #2400 "Should We Remove Remaining Implicit Syntax?"
At this point the only implicit syntax remaining in `ZIOSyntax.scala` is:

- `fail`
- `require`
- `succeed`
- `effect`
- `effectTotal`

Are these worth having implicit syntax for? These all have corresponding methods on the `ZIO` companion object that seem as concise and straightforward.

[2019-12-03 04:56] ghostdogpr commented on #2400
I've never used any of these so I'm in favor of removing it. Maybe we can do a quick poll in the Discord to see if there are some users and why they prefer it.

[2019-12-03 05:00] #2388 closed

[2019-12-03 08:25] ghostdogpr commented on #2375
Closed by #2284

[2019-12-03 08:25] #2375 closed

[2019-12-03 14:28] nicolasdasriaux opened #2404 "Rename `paginate` method to `paginateM` and add new `paginate` method on `ZStream` and `Stream`"
There are 3 methods that allow to unfold on `ZStream`:
* `ZStream.unfold`,
* `ZStream.unfoldM` (with a parameter taking a function returning a `ZIO`)
* `ZStream.paginate` which could be named more consistently as `paginateM` as its function parameter returns a `ZIO`.

`paginate` would then be missing to match `unfold` (as opposed to `unfoldM`).

Changes would be:
* Rename current `paginate` method

[2019-12-03 14:34] vasilmkd commented on #2404
Will you work on this or can I take it? @nicolasdasriaux

[2019-12-03 14:50] #2400 closed

[2019-12-03 14:54] nicolasdasriaux opened #2405 "Add `unfoldWhile` , `unfoldWhileM`, `unfoldUntil` , `unfoldUntilM` on `ZStream`and `Stream`"
`ZStream` (and `Stream`) feature 2 variants of unfold operation:
* `ZStream.unfold` that **does not** generate a value on stopping condition,
* `ZStream.paginate` that **does** generate a value on stopping condition.

Naming is rather confusing and might be more consistent with other methods of ZIO API.
A proposed naming would be:
* `unfoldWhile` (instead of `unfold`) with `while` suffix generally

[2019-12-03 15:21] jdegoes opened #2406 "ZIO Test: `not` combinator does not show in failed assertion"
[code]

[2019-12-03 15:22] jdegoes opened #2407 "ZManaged: Fix ZManaged.make"
`ZManaged.make` does not infer well when the environment type of the "acquire" is different than the environment type of "release".

[2019-12-03 15:30] adamgfraser commented on #2406
I am working on this.

[2019-12-03 16:35] adamgfraser commented on #2407
I am working on this.

[2019-12-03 16:55] #2406 closed

[2019-12-03 16:55] #2394 closed

[2019-12-03 17:01] adamgfraser commented on #2349
Closed by #2339.

[2019-12-03 17:01] #2349 closed

[2019-12-03 17:01] adamgfraser commented on #2309
Closed by #2339.

[2019-12-03 17:01] #2309 closed

[2019-12-03 18:20] nicolasdasriaux commented on #2404
You can take it.

[2019-12-03 18:39] vasilmkd commented on #2404
On it.

[2019-12-03 18:56] iravid commented on #2405
The `unfoldWhile/M` variants seem redundant to me as `unfold` is a pretty established name. Open to be convinced though.

[2019-12-04 02:09] adamgfraser opened #2412 "Compilation Issue with Latest Nightly Version of Dotty"
Was reported this morning on Discord and I was able to replicate locally tonight. Compilation fails for `stacktracer` with the below error message. I'm not sure if this is directly related to `stacktracer` or just because it is at the base of our dependency graph. Would be good to get this resolved before the next Dotty release candidate if possible so we can can support it when it becomes availab

[2019-12-04 03:00] adamgfraser opened #2413 "Type Safety Issue with ZIO#withFilter"
I noticed that one of our tests for type safety of `ZIO#withFilter` is disabled on Dotty and confirmed that there is an issue here. Minimized example on Dotty is below.

I've tried the usual tricks such as an implicit syntax class and haven't been able to resolve this. I think this may indicate a more fundamental soundness issue here. The problem is that we are trying to constrain this to only be

[2019-12-04 04:44] neko-kai commented on #2412
We don't use any dotty apis, including Quote/QuoteContext. Looks like a dotty breakage unrelated to zio based on that trace...

[2019-12-04 05:16] #2407 closed

[2019-12-04 09:02] Fristi commented on #2299
@sebver Ran the app locally with `nonDaemon` and without. We dumped the heap in a hprof file and opened it with JProfiler on my machine.

- On the left daemon mode
- On the right non-daemon mode

Both seem to allocate a lot of heap space by instantiating `zio.Fiber`

<img width="1917" alt="Screenshot 2019-12-04 at 10 00 46" src="https://user-images.githubusercontent.com/141265/70128480-2ecaff00-16

[2019-12-04 09:08] loicdescotte opened #2415 "Group consecutive elements in a stream dependending on a common value"
Hi,

I've found the need to group consecutive elements of a stream, that share a common value

TLDR : It is possible to do it with mapAccum and we could provide an "out of the box" method.

Example :

[code]

I expect to have 4 sub-streams as (groupId = 1, groupId = 2, groupId = 3, groupId = 1).

The last one is using groupId= 1 again to show that it's not a groupBy and I need to be able to start

[2019-12-04 09:10] loicdescotte commented on #2415
Github pull/push is blocked on the network of the company where I'm working currenlty but I could make a PR with the mapAccum solutions in a few days if it's ok for everybody.

[2019-12-04 09:37] nicolasdasriaux commented on #2405
Sure, `unfold` is an established name. It would be a good idea to keep it unchanged.

On the other hand, `paginate` is not that established and it conveys the idea that somehow pages are involved, while there's no such pages, it's just a variant of `unfold` that generates an element at stopping condition along with an absent next state. `unfoldUntil` was an attempt of better naming... There could

[2019-12-04 11:58] smarter commented on #2412
Even if you can't easily minimize it, could you open an issue in the dotty repo with reproduction steps?

[2019-12-04 11:58] adamgfraser commented on #2412
Sure. Will do!

[2019-12-04 14:17] hmemcpy opened #2418 "NPE from stacktracer when running a fat jar (produced with sbt assembly)"
Repro for an NPE when running a fat jar produced by `sbt assembly`.
See repro here: https://github.com/hmemcpy/zio-fatjar-npe

### To reproduce:

1. Clone the repo and run the following:
[code]
2. The following NPE will be printed:
[code]

This does not happen when ran normally from sbt (`sbt run`) or when executed with `java -jar target/scala-2.13/zio-fatjar-npe-assembly-0.1.jar`

To repro from t

[2019-12-04 15:05] sebver commented on #2299
I finally managed to make a reproduction, sorry for the long wait @neko-kai. The leak is actually only happening in combination with the http4s blaze client. All other libraries + zio we use work fine.

https://github.com/sebver/zio-memory-issue/

After a few mins it should be throwing an OOM. I also added a cats version and checked what happened with zio RC16, both don't seem to have the issue. A

[2019-12-04 17:32] jdegoes commented on #2413
It should be any type that is a subtype of `NoSuchElementException`...

[2019-12-04 17:34] adamgfraser commented on #2413
We can definitely do that. I think the downside is that it will make the use case quite narrow. You wouldn't be able to use `withFilter` with `Task[A]` for example.

[2019-12-04 17:35] jdegoes commented on #2413
Hmm, actually, we need proof that we can embed `NoSuchElementException` into `E`, i.e. that `E` is a supertype of `NoSuchElementException`.

But I think the issue is that we can't require that proof using a type bound, we have to use evidence, which is invariant, which forces a new type parameter.

Maybe it'd be simpler to add this method as syntax in companion object?

[2019-12-04 17:36] adamgfraser commented on #2413
I tried that and wasn't able to get it to work in a way where unsound examples didn't compile. I will post an example in a minute.

[2019-12-04 17:37] jdegoes opened #2419 "Add ZIO.fromFutureInterrupt"
Add a method `ZIO.fromFutureInterrupt((ec: ExecutionContext) => ... : Future[A])`, which passes it a specially crafted `ExecutionContext`, which will disable `submit` when the parent ZIO effect has been interrupted. This will allow interruption of running `Future`, albeit without any guarantee of resource cleanup, and without any interruption between async boundaries.

[2019-12-04 17:38] iravid commented on #2419
Very clever @jdegoes!!
On 4 Dec 2019, 19:37 +0200, John A. De Goes <notifications@github.com>, wrote:

[2019-12-04 17:48] adamgfraser commented on #2413
[code]

[2019-12-04 17:51] adamgfraser commented on #2413
The second attempt seems a little more promising. Part of the issue is that `NoSuchElementException` is a subtype of `Nothing` so we can widen a `UIO[A]` to an `IO[NoSuchElementException, A]` by calling `withFilter`. Though now that I think about it maybe that is okay. We have a test right now to check that can't happen but maybe that test is overly restrictive.

[2019-12-04 17:54] regiskuckaertz commented on #2413
If you add a `CanFail` evidence, it should work.

[2019-12-04 17:58] jdegoes commented on #2413
We can widen `UIO[A]` to any error type. It's ok. You can treat an effect that cannot fail as if it were an effect that can fail. You just can't do the reverse.

[2019-12-04 17:58] adamgfraser commented on #2413
Good point. I will push a fix for this in a minute.

[2019-12-04 18:00] regiskuckaertz commented on #2419
wow 🙌

[2019-12-04 18:08] jdegoes commented on #2413
I am not sure there is a type soundness issue here.

What's happening is that error type is widening to `Any` when the errors are unrelated to `NoSuchElementException`. I think that's expected. We could probably engineer it to "stop" widening up to, say, `Throwable`. Although in a lot of places errors will auto-widen to `Any` if they are unrelated (e.g. `flatMap`).

[2019-12-04 18:13] adamgfraser commented on #2413
@jdegoes That's fair. It doesn't result in code that is unsound in that something isn't of the right type, it can just lead to lack of any type information about the error type if they are unrelated. I've got a fix ready right now that requires `E >:> NoSuchElementException`. Do we want to go with that or are we over-engineering this and we should just allow arbitrary types?

[2019-12-04 18:35] adamgfraser commented on #2419
I will work on this.

[2019-12-04 22:05] #2413 closed

[2019-12-05 14:12] dariusrobson commented on #2351
I would like to give this a go.

[2019-12-05 15:32] jdegoes commented on #2351
Awesome.

I think it would be helpful to define: `ZIO.interruptibleFork` for this one. This method would give you back something that is interruptible, but actually doesn't necessarily interrupt the effect it is called on (rather it disconnects its interruption from the parent).

[2019-12-06 04:22] kusamakura opened #2427 "Add ZIO.tapBoth variant that accepts one parameter via an Either[E, A]"
I usually find that I write a lot of `ZIO.tapBoth(e => log(e), a => log(a))` when testing or debugging. To remedy the duplication, I wrote an extension method:
[code]

If anybody thinks this is useful enough, I would be happy to open a PR with this addition.
With regards to naming, an alternative could be `tapBothEither`, which I think is much clearer.

[2019-12-06 11:10] vasilmkd opened #2429 "Verify the correctness of Stream.halt and Stream.catchAll"
Running the following code:
[code]

results in this output:
[code]

Notice that I'm using `catchAll` and not `catchAllCause`.

This seems off to me. @iravid Wdyt?

Edit:
This also happens with this code, so it might be desired, it just feels a bit counter intuitive to me, but I may be wrong.

[code]

Feel free to close this issue if this is the intended behavior.

[2019-12-06 11:20] iravid commented on #2429
ZIO.halt(Cause.fail(a)) is equivalent to ZIO.fail(a) (check the definitions)

[2019-12-06 11:20] #2429 closed

[2019-12-06 13:18] saraiva132 commented on #2110
@iravid Could you referesh my memory to how this combinator differs from #1795 so I could work on it ?

[2019-12-06 14:37] #2404 closed

[2019-12-06 16:01] iravid commented on #2110
@saraiva132 Hi! This should be similar to the `sliding` combinator on `List`. Sorry on phone so can’t expand, but try doing List(1,2,3).sliding(2) in the REPL

[2019-12-06 16:09] saraiva132 commented on #2110
On another note. I have noticed are missing from ZStreamChunk but presented in ZStream so I was thinking of creating an issue for combinator parity. Referencing the already open tickets. I can't name all of them but CollectM and CollectWhileM for instance have not been tackled yet.  WDYT?

[2019-12-06 16:22] vasilmkd opened #2431 "ZStream#aggregate, element level errors and safety guarantees of ZSink"
It's time for another essay of mine. Hopefully, I'll keep it somewhat short.

All of the ZStream#aggregate combinators accept a `ZSink` instance that is used to, you guessed it, aggregate the elements of the stream, and produce a new stream of the aggregated elements.

Up until now, any errors that arise (either from the production of the values of the stream, or from any of the aggregation steps

[2019-12-06 16:30] saraiva132 opened #2432 "Add ZIO combinators to accumulate errors and successes"
There is a need for combinators that, given a list of effects, accumulate the errors and the successes and return them either possibly in two forms:

` final def collectAllWithErrors[R, E, A](in: Iterable[ZIO[R, E, A]]): ZIO[R, List[E], List[A]]`

` final def collectAllWithErrorsTupled[R, E, A](in: Iterable[ZIO[R, E, A]]): UIO[(List[E], List[A])]`

I need suggestions for the naming though. It is n

[2019-12-06 17:11] adamgfraser commented on #2431
So I'm coming at this completely from the outside but a couple of ideas:

- Maybe we need to decouple the concept of the stream ending with the stream emitting an error. Right now my understanding of the way most combinators are implemented is that if the stream emits an error we stop pulling from the stream. That is very consistent with the idea of errors as "stream level" errors but not with the

[2019-12-06 20:35] #2419 closed

[2019-12-06 23:34] mtsokol opened #2436 "Fibers' `onTermination` effects are only run on sbt `exit`"
@adamgfraser So here's the code snippet with sbt output, thanks once again for looking at this together 🙂

For such program:
[code]
The output is:
[code]
So after completing the run the second `onTermination` is not executed?

And the rest is completed after sbt `exit` (here accumulated after few runs):
[code]
[EDIT] Also after trying few times the output sometimes is with hanging sbt:
[code]

[2019-12-07 00:06] alexknvl commented on #2432
Perhaps:
[code]

`validate` is a reference to the standard `Validation` applicative, that has the right `Traverse` instance for this particular use-case
`partition` is a reference to the standard combinator in Scala collections library

[2019-12-07 00:18] vasilmkd commented on #2431
Sorry for taking this long to respond, I was unavailable.

I think I'm getting what you are aiming at with your first point, and to be honest I think the idea has not been sufficiently explored yet and I'll definitely take it into consideration.

Regarding the second point, `ZSink` and its 5 type parameters are already pushing what can reasonably be expected from a user of the API, so I would be v

[2019-12-07 00:21] vasilmkd commented on #2431
To further expand on the first point, we are slowly moving towards something similar to your description, just through one error channel. Each error signalled is now starting to be (or will eventually be) treated as an element level error, after which the stream should resume normal operation and be pulled again.

However, when the stream does signal end even once, it should signal end on each sub

[2019-12-07 00:24] vasilmkd commented on #2431
The problem described here, and previously with the scope errors (which we have successfully resolved, and I'm very happy with how it looks, #2234) is which errors should be handled before a stream is opened, and which errors should be served as part of the stream's possible outputs, allowing for proper recovery on the part of the user.

[2019-12-07 07:27] jdegoes commented on #2432
- `partition` => `partitionM`
 - `validate` => `validateM`
 - `validateFirst` => `validateFirstM`
 - ~~`validateWithIndices`~~  (I'd delete this because you can do `zipWithIndex` before calling one of these)
 - `NonEmptyList` => `::`

[2019-12-07 07:38] regiskuckaertz commented on #2432
I have a hard time understanding the meaning of `validate*`. If they either all succeed or all fail, I guess it makes sense, but if you get something in between where only a few succeed then what happens? A ZIO cannot be both successful and failed at the same time, so we are losing information.

[2019-12-07 07:42] #2353 closed

[2019-12-07 10:16] saraiva132 commented on #2432
Thanks for input. After thinking about which ones make sense and which do not. Also based on feedback from john, what about:

 Accumulate failures until it succeeds and returns either accumulated errors or produced value.
`def validateFirst[R, A, E, B](list: List[A])(f: A => Either[E,B]): ZIO[R, List[E], B]`
`def validateFirstM[R, A, E, B](list: List[A])(f: A => ZIO[R, E, B]): ZIO[R, List[E], B]`

[2019-12-07 14:40] saraiva132 opened #2439 "Add STM#collectM combinator"
Signature:

`final def collectM[E1 >: E, B](pf: PartialFunction[A, STM[E1, B]]): STM[E1, B] `

[2019-12-07 15:22] dariusrobson commented on #2351
Cool! I think I will create a WIP PR to make sure I am understanding you correctly.

[2019-12-07 16:26] #2439 closed

[2019-12-08 03:43] softinio commented on #2386
For sure.

[2019-12-08 08:04] #2266 closed

[2019-12-08 08:04] guizmaii opened #2444 "[zio-test] java.lang.IllegalArgumentException: n must be positive"
Hi everyone,

I encountered a strange behavior in my tests. I have the following error that make my tests execution crash:

[code]

When I put a breakpoint where it's throwing, here's the result: https://www.dropbox.com/s/9f27lkrmld2uuxa/Screenshot%202019-12-08%2018.39.25.png?dl=0

Here's how I declare my test environment:

[code]

And here's an example of my tests:

[code]

[2019-12-08 08:09] jdegoes commented on #2436
You aren't interrupting the 2nd one, which means it is only being run when the JVM is shutdown, via the shutdown hook installed by `zio.App`. SBT controls when that JVM is terminated.

Maybe we could add a method `zio.App.forceShutdown` to do the same thing that's happening right now when the JVM is shutdown. That'd probably be a good ticket!

[2019-12-08 12:33] adamgfraser commented on #2444
@guizmaii Thanks for reporting! Would you mind sharing the code for the generator you are using as well?

[2019-12-08 15:54] saraiva132 commented on #2432
I am starting to work on this

[2019-12-08 18:09] jdegoes commented on #2358
@jaliss

So here is a possible implementation for `zipRight` (AKA `*>`):

[code]

The problem with this implementation is that ZIO gets stack trace information from closures. And there is a closure in this function (`_ => that`). So ZIO will find that closure and put the trace inside the execution trace of the fiber running the effect. That leads to a lot of lines in an execution trace being taken

[2019-12-08 18:42] horned-sphere commented on #2368
I've made a [PR for this](https://github.com/zio/zio/pull/2446). Hopefully I haven't gone too far with adding methods.

[2019-12-08 20:03] #2316 closed

[2019-12-08 21:43] jdegoes opened #2448 "ZIO Core: Add fallback (non-effectful orElse)"
[code]

In hindsight this should be called `orElse` and the other one `orElseM`, but oh well! 😆

[2019-12-08 22:22] adamgfraser commented on #2448
I will add this now.

[2019-12-09 08:40] alexknvl commented on #2432
@regiskuckaertz @saraiva132 `validateM` is a common pattern, let's say you have a list of items and you go through them and check whether they are all "valid". If any one of them is not "valid", you collect all errors for maximally useful error report. So instead of "item N is bad for this reason", you get "items 1, 3, 17 were bad for these reasons".

I don't know whether this makes as much sense

[2019-12-09 08:52] t3hnar opened #2451 "Use immutable collections in api descriptions"
`scala.collection.Iterable` & `scala.collection.Seq` are used in many places in ZIO api Which are interfaces for both mutable and immutable collections. This allows developers to pass mutable collection, there after mutation of passed collection may lead to undesired and hard-to-trace behaviours.

[2019-12-09 08:53] t3hnar commented on #2451
this addresses this issue https://github.com/zio/zio/pull/2441

[2019-12-09 10:31] saraiva132 commented on #2432
@alexknvl In the end I think partition. validate and validateFirst cover all required functionality with, of course, their parallel counterparts. Partition seems to offer what you want in return of List[Either[E, A]] by returning tuple with accumulated errors and successes.

[2019-12-09 10:41] regiskuckaertz commented on #2432
Yeah, this is definitely useful. I have the exact same case with scanamo where dynamodb may apply some updates and fail at others. The thing is, given how ZIO is defined, I can't see a way around surfacing both errors and successes in the value channel, as otherwise you will lose information.

[2019-12-09 10:48] fanf commented on #2432
Cool!
Can we get at least a type alias for `::`, I have a feeling no new comers know that `::` is also a class and that is means `NonEmptyList` (or `Cons`, but that's hardly clearer). Even `NEL` is cleared than `::` (because you won't know what it means either, but at least for the following time, you can try to thing that you want a non empty list)

[2019-12-09 13:05] kusamakura commented on #2110
Is anybody working on this? I think I have a solution for `sliding(size: Int, step: Int): ZStreamChunk[R, E, A]`. I can make a PR shortly.

[2019-12-09 13:56] saraiva132 commented on #2110
@kusamakura by all means feel free to propose something. I am currently busy with other work so haven't had time to properly tackle this one.

[2019-12-09 14:22] kusamakura commented on #2110
@saraiva132 Thanks, I'll get on it.

[2019-12-09 15:40] saraiva132 commented on #2432
@fanf Do you know if we have a convention for this kind of type aliases? I do not think ZIO would be a good place to have it in.

[2019-12-10 07:14] iravid opened #2454 "ZSink.collectAllToMap/N should merge values"
Instead of:
[code]

Should be:
[code]

[2019-12-10 07:21] iravid opened #2455 "Weird results with composed sinks"
[code]

[2019-12-10 09:25] #2448 closed

[2019-12-10 09:27] povilas opened #2456 "Unexpected `blocking` behaviour"
With this code snipped:
[code]
Output is
[code]
But, I would expect `console.putStrLn` to be executed on blocking thread too.

[2019-12-10 09:36] toxicafunk commented on #2456
Just a comment that trying to `lock` to the `blockingExecutor` doesn't seem to work either:

[code]

[2019-12-10 11:11] povilas commented on #2456
`Thread.currentThread()` is side effect and it gets evaluated before second `blocking` call.

Closing the issue.

[2019-12-10 11:11] #2456 closed

[2019-12-10 11:21] hmemcpy commented on #2418
@neko-kai, do you have any ideas about what could be done here, other than a 'simple' fix of wrapping it it in an option?

[2019-12-10 12:30] vasilmkd commented on #2455
I managed to reproduce this, it happens regardless of `run` or `transduce`, so it looks to be a bug with `zip`. `zipPar` seems to work as expected.

[2019-12-10 12:38] iravid commented on #2455
`zipPar` is not working as expected either; note that we should have gotten 5 results for `res13`

[2019-12-10 12:40] iravid commented on #2455
I think the problem for `res7` is that `zip` is implemented with `flatMap`, which is a cartesian product rather than a pointwise product.

[2019-12-10 15:15] saraiva132 commented on #2454
Taking this one

[2019-12-10 22:54] jdegoes opened #2462 "ZIO Core: Make all effect constructors lazy in all parameters"
All effect constructors (`succeed`, etc.), including those in modules like `Console`, should utilize by-name parameters. The rationale is that people accidentally put side-effects into parameters, and it's better to attempt to make these side-effects lazy than result in confusing behavior.

For pure code, it makes no difference anyway.

[code]

An effect constructor is any method appearing in any

[2019-12-10 23:20] saraiva132 commented on #2462
I can do this

[2019-12-10 23:21] adamgfraser commented on #2462
Awesome!

[2019-12-10 23:46] saraiva132 commented on #2462
Should a parameter of type `Iterable[ZIO[R1, E, A]]` also be by-name ?

[2019-12-11 12:00] mijicd commented on #2368
Closed by #2446.

[2019-12-11 12:00] #2368 closed

[2019-12-11 23:35] vasilmkd commented on #2455
Documenting thoughts, haven't dug deeper yet. `grouping` is a `foldLeft` sink which is a sink that always continues, therefore, it never finishes so that it can switch to the `bytes` sink (because of the flatMap implementation of `zip`).

Regarding the `zipPar` case, if I remember correctly, it continues if either of the sinks is willing to continue (which again, `grouping` is more than happy to d

[2019-12-12 10:36] vasilmkd commented on #2455
The only thing that I can think of right now that would lead to a more intuitive user experience when `always continuing` sinks are concerned if we somehow encode this information (either in the sink type or in the `cont` method (enumeration?)). If we have that information, `zip` will be able to extract the combined sink as soon as the one that shouldn't continue anymore is done (this is only in t

[2019-12-13 10:03] smarter commented on #2412
This should be fixed as of the latest dotty nightly.

[2019-12-13 18:49] iravid opened #2466 "StreamDrainFork test is flaky"

[2019-12-13 21:53] #2466 closed

[2019-12-14 05:41] adamgfraser commented on #2412
I can confirm the issue has been resolved.

@smarter Thank you for your help with this!

[2019-12-14 09:05] #2412 closed

[2019-12-14 10:19] ajaychandran opened #2471 "Incomplete Scaladoc on effectAsync methods"
The description for parameter `blockingOn` is not documented for `ZIO.effectAsync`, `ZIO.effectAsyncInterrupt` and `ZIO.effectAsyncMaybe`.

[2019-12-14 12:59] #2455 closed

[2019-12-15 16:45] saraiva132 commented on #2351
@dariusrobson did you pick this up? This looks interesting, have you made progress?

[2019-12-16 09:29] lvitaly commented on #2392
@softinio I've prepared a pull request for this issue (https://github.com/zio/zio/pull/2479). `testJS` works fine locally but fails in CI tests on `testTestsJS/run`. It looks like replaced `java.lang.System.exit` method affects it (https://github.com/scala-js/scala-js/issues/3504). Latest Scala.js doesn't support this method (https://github.com/scala-js/scala-js/blob/7acc1ca8e5a43df6813a3dfa065554

[2019-12-16 11:54] saraiva132 opened #2481 "Adding ZStream combinator that keeps pulling elements while ignoring state"
A while back I saw someone interested in having a combinator in ZStream that would not require you to handle state but keep pulling elements of the stream, so using `unfold` or `paginate` would be awkward.

@adamgfraser suggested a potential combinator with the name `fromPullRepeat` like:

`def fromPullRepeat[R, E, A](pull: ZIO[R, Option[E], A]): ZStream[R, E, A]`

I guess this would be a nice add

[2019-12-16 14:51] iravid commented on #2481
This is exactly `ZStream.fromPull` :-) Perhaps we should rename it to `ZStream.repeatPull`?

[2019-12-16 15:25] adamgfraser commented on #2481
Ah, sorry about that. I thought `fromPull` just lifted a single effect into a `ZStream`. Yes, I think we could use something to clarify here because even looking at the implementation it can be a little confusing with the overloading of `ZStream.apply`, or at least it was for me. `repeatPull` would be shorter and more consistent with existing combinators like `repeatEffect`.

[2019-12-16 15:27] saraiva132 commented on #2481
And I am on it :D `fromPull` also mislead me to believe the same so I guess `repeatPull` will make it more clear that you will keep pulling from the stream using provided `ZIO[R,Option[E],A]`

[2019-12-16 15:38] saraiva132 commented on #2481
Actually, there is a distinction between `ZStream.fromEffect` and `ZStream.repeatEffect`. We could perhaps change current `ZStream.fromPull` to `ZStream.repeatPull` and add a `ZStream.fromPull` that creates a single element stream from a pull. Might not make sense though since there is `ZStream.fromEffect` already.

[2019-12-16 15:42] adamgfraser commented on #2481
Yes, I think we rename the existing `ZStream.fromPull` to `ZStream.repeatPull` and then I suppose for consistency we could add a `ZStream.fromPull` that optionally emits a single element.

[2019-12-16 15:43] #2432 closed

[2019-12-16 16:03] adamgfraser commented on #2444
@guizmaii Just wanted to follow up on this. Would you happen to have the code for the generator you were using. I tried locally with a version of the testEnvironment and wasn’t able to replicate. I think the issue may be a bug in a generator but would help me track it down if I could see the generator that you were using. Thanks in advance!

[2019-12-16 16:33] iravid commented on #2481
Cool, just make sure to migrate all existing usages of fromPull

[2019-12-16 20:57] #2481 closed

[2019-12-16 23:11] adamgfraser opened #2485 "Fix Broken Links in Documentation and Enable CI"
I noticed that we have a decent amount of our Scaladoc that is not linking correctly. See [here](https://circleci.com/gh/zio/zio/46387?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) for an example. This ticket is to fix all of these so that no more warning are generated and change CI settings so that a warning fails the build to prevent future regressions.

[2019-12-16 23:21] unclebob418 commented on #1898
Looks like next up for me is `SummaryBuilderSpec`

[2019-12-16 23:23] adamgfraser commented on #1898
Great! For that one I think there is significant duplicated functionality between that and `DefaultTestReporterSpec` so I would suggest seeing if you can factor some of that out.

[2019-12-17 03:51] unclebob418 commented on #1898
Should I just merge the specs into `DefaultTestReporterSpec`?

[2019-12-17 03:56] adamgfraser commented on #1898
I think ideally we would keep them separate but just factor out the common code, maybe into the existing `ReportingTestUtils.scala` file.

[2019-12-17 04:10] guizmaii commented on #2444
Hey @adamgfraser,

Sorry for the delay.

Here's the gens generating the problem:

[code]

[2019-12-17 04:16] adamgfraser commented on #2444
@guizmaii No worries and thanks for sharing! Should the `filter` call in `genABC` be `(_ != 0.0)` instead of `(_ == 0.0)`?

[2019-12-17 04:57] guizmaii commented on #2444
@adamgfraser Yep you're right, the filter should be `(_ != 0.0)` but if I correct that an relaunch my tests, I still have the problem. 😕

[2019-12-17 18:28] #2454 closed

[2019-12-17 18:49] #1146 closed

[2019-12-17 20:44] #2444 closed

[2019-12-17 20:51] adamgfraser commented on #2444
@guizmaii Thanks again for reporting! The issue turned out to be with the `Gen#int` when the range was larger than `Int.MaxValue` . It is fixed on master and will be available in the next release but to get your tests working now you can use the version below.

[code]

[2019-12-17 21:53] fanf commented on #1275
Rust seems to have the same problem as us, and chose a solution which seems near to what @jdegoes proposed (AFAIU):

https://async.rs/blog/stop-worrying-about-blocking-the-new-async-std-runtime/

Of course, that does not mean that you can write blocking code everywhere: https://www.reddit.com/r/rust/comments/ebpzqx/do_not_stop_worrying_about_blocking_in_async/

Really looking forward for that, bec

[2019-12-18 00:09] guizmaii commented on #2444
Thanks @adamgfraser. Awesome work!

[2019-12-18 18:02] plokhotnyuk opened #2491 "Site: More user-friendly layout wanted for mobile devices"
Here is how it looks now:
![image](https://user-images.githubusercontent.com/890289/71110973-a98d3180-21c8-11ea-850b-ea5a130a6e14.png)

[2019-12-18 22:57] ghostdogpr commented on #2491
You're right! There's already an issue for it though: #1621 so I'll close this one as a duplicate.
Always hard to get this done as most of us are better with Scala and backend stuff than CSS and frontend.

[2019-12-18 22:57] #2491 closed

[2019-12-18 23:25] horned-sphere commented on #2371
I've made attempt at this in [this PR](https://github.com/zio/zio/pull/2492). The implementation is fairly ugly but it does work and is faster (I've attached the benchmark comparison). Any feedback on it would be greatly appreciated.

If you think it has any merit, the change in implementation has broken an assumption of a test case in the stack tracer which I'd like to get some advice on before t

[2019-12-19 02:24] #1899 closed

[2019-12-19 14:11] #2351 closed

[2019-12-19 16:41] saraiva132 opened #2495 "Backport partitionMap from scala 2.13"
Currently we are implementing partitionMap ourselves in at least 3 places. [Here](https://github.com/zio/zio/blob/d2cbceda3cb97943fc11853acb3a043579ed824e/test-tests/shared/src/main/scala/zio/test/GenUtils.scala#L82), in ZIO#partitionMPar and ZIO#partitionMParN (#2487).

We can refactor this in terms of List#partitionMap and backport it to previous scala versions.

[2019-12-19 21:39] jdegoes opened #2498 "ZIO Test: Create test annotation for "ignored" tests"
Users would like to know which tests were ignored in a given run. So we could keep track of those ignores and render them something like `ignored: 1` (or `ignored: 24` for a suite-level rendering).

To add a test annotation and renderer, the following process must be followed:

1. Add a new TestAnnotation, one which counts ignored tests
2. Access the test annotation from within the `ignore` `TestA

[2019-12-19 21:40] jdegoes opened #2499 "ZIO Test: Create new test annotation for retried tests"
Users would like to know how many times a test had to be retried before it succeeded (with, e.g. `flaky` combinator). So we could keep track of those retries and render them something like `retried: 1` (or `retried: 24` for a suite-level rendering).

To add a test annotation and renderer, the following process must be followed:

1. Add a new TestAnnotation, one which counts retried tests
2. Access

[2019-12-19 21:41] jdegoes opened #2500 "ZIO Test: Create new test annotation for repeated tests"
Users would like to know how many times a test was repeated (with, e.g. `nonFlaky` combinator). So we could keep track of those repetitions and render them something like `repeated: 1` (or `repeated: 24` for a suite-level rendering).

To add a test annotation and renderer, the following process must be followed:

1. Add a new TestAnnotation, one which counts repeated tests
2. Access the test annot

[2019-12-19 21:42] jdegoes opened #2501 "ZIO Test: Add test annotation for property-based tests"
Users would like to know how things about their property-based tests, such as how many values were generated, and what is their distribution. Using test annotations, we can now do this quite cleanly.

To add a test annotation and renderer, the following process must be followed:

1. Add a new TestAnnotation, one which keeps track of property-based testing metadata
2. Access the test annotation fro

[2019-12-19 21:48] adamgfraser commented on #2498
@jdegoes I'm on it!

[2019-12-19 21:58] saraiva132 commented on #2495
Working on this.

[2019-12-19 22:30] adamgfraser commented on #2499
I am working on this.

[2019-12-19 23:54] saraiva132 opened #2505 "Review variance on all GADTS"
Review variance on all GADTS: `Cause`, `Exit`, `Chunk`, etc

Triggered by:

`[error]  found   : zio.Exit.Failure[?E2] where type ?E2 <: E (this is a GADT skolem)
[error]  required: zio.Exit.Failure[E]
[error] Note: ?E2 <: E, but class Failure is invariant in type E.
[error] You may wish to define E as +E instead. (SLS 4.5)
[error]       case e @ Failure(_) => Left(e)
[error]

[2019-12-20 11:21] politrons opened #2506 "ZIO When evaluate always the condition."
Hi all, we detect that having a `ZIO.when` condition in our for comprehension, even when the condition is false is evaluating the ZIO.fail. Any idea what's happening here?   I  notice that ZIO.success is not lazy, and I guess with fail happen the same, but the weird part is that condition is always evaluated.

`           _ <- ZIO.when(!isValidAccessToken(accessToken))(ZIO.fail(unauthorizedErrorRo

[2019-12-20 13:55] adamgfraser commented on #2500
I am working on this.

[2019-12-20 14:28] saraiva132 commented on #2505
My 5 cents is that all GADTS require type variance. cc @adamgfraser @jdegoes

[2019-12-20 14:29] adamgfraser commented on #2506
@politrons I'm not sure I understand the issue. The snippet below seems to be working correctly for me. Are you saying you are using side effecting code within `fail`?

[code]

[2019-12-20 14:44] duobei opened #2507 "Two Bad Things about the repo"
1. So large size.
After cloned the repo,  it's weird that assets path takes 118M , total size is 185M.

2. Messy code paths.
Under the repo root, there are 5 paths related test:
core-tests
streams-tests
test
test-sbt
test-tests

Zio is great, but it could be better.

[2019-12-20 15:14] adamgfraser commented on #2507
@duobei Thanks for the feedback!

On the size, I think that is being driven by some of the media assets. Not sure if we could host those somewhere else and link to them.

On the organization, we have an entire testing library in ZIO Test and an SBT integration module for that, so two of the "test related" paths are user facing projects. The other three are test modules for the three main projects

[2019-12-20 15:39] adamgfraser commented on #2501
I will take this.

[2019-12-20 16:08] #2505 closed

[2019-12-20 16:09] jdegoes commented on #2507
I think we could have `zio-media` and move all the media assets there. That's the bulk of the size right there. To do it properly we would purge the binaries from the history...

[2019-12-20 17:19] politrons commented on #2506
if I run this basic code

[code]

This is printed

[code]

I dont know why the         `println("Why this happens?")` but not the throwable.

If I change the false by true, then the throwable is propagated with the ZIO.fail and the output of the program is

[code]

[2019-12-20 17:22] saraiva132 commented on #2506
@politrons `succeed`, `fail`, etc are methods that should lift pure values and thus are eagerly evaluated. We are working towards making this more clear potentially providing and eager and lazy approach. **You should not have side-effectful code when calling these methods.**

[2019-12-20 17:39] politrons commented on #2506
ok with that, but even if they are not lazy, why if the condition is false, the code is still evaluated?

[2019-12-20 17:40] adamgfraser commented on #2506
@politrons To follow up on what @saraiva132 said, the issue here is that `fail` is meant for creating a failure from a value that doesn't have any side effects. To get the behavior you want you can do something like:

[code]

[2019-12-20 18:05] #2495 closed

[2019-12-20 19:16] politrons commented on #2506
Thanks for the solution

[2019-12-20 19:16] #2506 closed

[2019-12-20 21:07] #2498 closed

[2019-12-20 21:09] adamgfraser commented on #2499
Closed by #2502.

[2019-12-20 21:09] #2499 closed

[2019-12-20 21:09] adamgfraser commented on #2500
Closed by #2502.

[2019-12-20 21:09] #2500 closed

[2019-12-20 22:11] adamgfraser commented on #2253
Reviewing this I don't think there is any issue here, at least on `master`. Currently this snippet fails with `zio.FiberFailure: Fiber failed. An interrupt was produced by #3`. The effect is interrupted before being joined. Expected behavior is that joining an interrupted fiber should produce a fiber failure that can be recovered using combinators such as `foldCauseM` that expose the full cause bu

[2019-12-20 22:11] #2253 closed

[2019-12-21 04:07] adamgfraser opened #2510 "ZIO Test: Improve Usability with Ammonite"
Following up on discussion on Discord, the experience running ZIO Test specs from Ammonite is not great because although the specs can be run using their main methods, on completion the spec will exit the interactive session. This doesn't occur in in SBT because SBT traps that exit and throws a `SecurityException` which we then catch [here](https://github.com/zio/zio/blob/2aca6773ad471af04b986f73b

[2019-12-21 20:13] psilospore commented on #2510
Would this help
[code]

[2019-12-22 01:23] adamgfraser commented on #2510
Yes, it looks like that could give us what we need!

[2019-12-22 16:18] NeQuissimus opened #2512 "Consistent imports"
Across the ZIO codebase, lots of imports are used.

<details><summary>Full list in master</summary>
<p>

[code]

</p>
</details>

Unfortunately, there has been little enforcement of sorting/organizing them.

Currently, we have files such as `Fiber.scala` that look like this:
https://github.com/zio/zio/blob/f94bbb1d776770671284ad0b4dd26824ba43cbee/core/shared/src/main/scala/zio/Fiber.scala#L17-L25

[2019-12-22 16:51] laurynasl-wix commented on #2485
I've opened a pr for this: #2513

[2019-12-22 21:30] adamgfraser commented on #2485
Great! Will take a look.

[2019-12-23 13:13] #2341 closed

[2019-12-23 13:21] #2510 closed

[2019-12-23 13:27] adamgfraser opened #2518 "Better Organization for ZIO Test Documentation"
As ZIO Test grows we need to continue to upgrade the quality of our documentation. One issue we have right now is that existing documentation is split between two locations on the website ("Use Cases - Testing" and "How To - Test Effects") and neither of these are necessarily particularly obvious. What do people think about creating new categories on the main navigation bar at the top of the page

[2019-12-23 13:30] pk044 commented on #2271
@Vilkina are you perhaps still working on this?

i'm up for helping with this issue in case you don't find the time for it :slightly_smiling_face:

[2019-12-23 14:20] Vilkina commented on #2271
@pk044, you can help if you want. Definitely I don't have time. Thanks

[2019-12-23 15:15] adamgfraser opened #2520 "ZIO Test: Migrate Assertions to New Curried Syntax"
In #2464 we changed `assert` and `assertM` to use curried syntax and deprecated the non-curried versions. We should change all usages in our own internal tests to use the new curried version. Because of the number of occurrences we may want to see if we can use a tool such as a Regex or Scalafix to automate this. This would have the advantage that users could also use the tool to update their own

[2019-12-23 15:50] ghostdogpr commented on #2518
I agree, I think they even deserve their own microsite but a dedicated category is good too. One thing to check is whether it looks okay if there so many categories and they don’t fit in one line.

[2019-12-23 23:27] laurynasl-wix commented on #2318
I did some investigations into enabling the tests, and it seems that there are no issues with the tests or code itself, but there are two issues in dotty `0.21.0-RC1` that are blocking from enabling them now: https://github.com/lampepfl/dotty/issues/7843 (zio.stream.StreamEffect#foldWhileManaged doesn't terminate) and https://github.com/lampepfl/dotty/issues/7840 (problems with type inference)

[2019-12-23 23:29] laurynasl-wix commented on #2318
One thing I haven't figured out yet is why these tests hang when run without forking.

[2019-12-24 12:26] laurynasl-wix commented on #2485
@adamgfraser The pr was merged, is there something more to do here?

[2019-12-24 14:33] laurynasl-wix commented on #2318
Turns out forking was a red herring: the actual issue is with running tests in parallel from sbt. It looks like there's a deadlock with static initializers somewhere (see [thread dump](https://gist.github.com/laurynasl-wix/19267b3d43cc99c173581bb2a1b4c343)), but I couldn't pin it down or create a small reproduction to report to dotty. I see two workarounds for this: replace `val`s in `object`s wit

[2019-12-24 14:34] adamgfraser commented on #2485
@laurynasl-wix No, sorry. Closing now.

[2019-12-24 14:34] adamgfraser commented on #2485
Closed by #2513.

[2019-12-24 14:34] #2485 closed

[2019-12-26 09:11] vasilmkd opened #2525 "Make ZStream#drop and ZStream#take more intuitive when handling errors"
With element level errors, the users will be able to retry a failed pull on a stream. How should `drop` and `take` handle these situations? Should failures be counted as dropped and taken elements, and it would be up to the user to determine how they want to replace the failed pulls with values, or should only the successful pulls be counted as dropped and taken elements?

Currently, drop and take

[2019-12-26 11:41] jdegoes commented on #2525
A useful exercise when faced with such design questions: Which semantic preserves user choice, i.e. allows deriving the other semantic given other appropriate operators? Further, if both semantics preserve user choice, which one is least surprising in edge cases? Finally, which semantic can help the operations participate in new and useful algebraic laws?

Let's imagine that `take` will count erro

[2019-12-26 11:50] vasilmkd commented on #2525
Amazing explanation @jdegoes. Thank you for your time.

It seems failures will count towards the quota, and `drop` is the one that needs rewriting. Thinking about it, when I tackled this yesterday, `drop`'s not counting towards the quota was initially more surprising to me, but for some reason I went with the flow which led me to a mistake.

Thanks again, I will amend the PR.

[2019-12-26 12:01] regiskuckaertz commented on #2525
🤔 I think John was pointing at the opposite, i.e. `(Stream.fail("Boom") ++ Stream(1,2,3)).drop(3) == Stream.empty`?

[2019-12-26 12:01] regiskuckaertz commented on #2525
woops, sorry ☝️

[2019-12-26 12:20] vasilmkd commented on #2525
I'm even more confused now.

[2019-12-26 12:31] vasilmkd commented on #2525
Can someone please take a look at the test code in #2524 and decide if it makes sense?

[2019-12-26 13:56] regiskuckaertz commented on #2525
With that version, you can get the other by just doing (Stream.fail("Boom") ++ Stream(1,2,3)).either.drop(3).absolve == Stream(3)` (`absolve` is currently missing)

😨 not. at. all. If I read that correctly, you only want to increase the counter if `as` succeeds, but that cannot be expressed with `ref.modify`. I think this is correct, the only missing ingredient would be forgetting any error, right

[2019-12-26 14:01] vasilmkd commented on #2525
I already did it in my original implementation of #2524 but I couldn't explain my reasoning to @iravid, that's why I feel bad now. Please check it out @regiskuckaertz. Thank you.

[2019-12-26 15:33] pk044 commented on #2271
@adamgfraser
what do you think about having these methods in `Chunk`?
[code]

[2019-12-26 15:54] adamgfraser commented on #2271
@pk044 I think those look great. We may want to rename `head` and `last` to `headOption` and `lastOption` to more closely mirror usage in the existing Scala collections API. I realize we use `head` and `last` for `ZStream` but that is an effect with a separate error channel versus this is supposed to be more of a drop in replacement for other data structures so may be more value in sticking closer

[2019-12-26 18:08] jdegoes opened #2526 "Chunk: Implement specialized "apply" functions for primitives"
In order to avoid unnecessary boxing of primitive values into their corresponding wrapper classes, access to primitives should go through specialized functions.

An example of how this can be done:

[code]

[2019-12-26 18:14] jdegoes commented on #2525
@vasilmkd

Essentially, what I am proposing is to have `take` only take the first `n` successes, and to have `drop` only drop the first `n` successes. Then you can achieve the other semantic with `either` in a straightforward fashion as @regiskuckaertz proposed, and, moreover, with this semantic, we can ensure that spurious effectful failures are not counted toward "stream size", which can help av

[2019-12-26 18:15] vasilmkd commented on #2525
That's what I implemented in #2524, but I get the feeling that @regiskuckaertz and @iravid actually consider this to be _less_ intuitive for some reason.

[2019-12-26 18:18] vasilmkd commented on #2526
Will this lead to a lot of generalized code in `Chunk.scala` being rewritten for each specialized type?

[2019-12-26 18:24] iravid commented on #2525
I’m undecided and can see arguments going both ways. After thinking about this today I think I’m happy to go ahead with what you implemented @vasilmkd. Worst case we can always change later in a binary compatible fashion.

[2019-12-26 18:26] vasilmkd commented on #2525
For some reason this feels like one of the most stressful issues I've tackled in ZIO. 😅

[2019-12-26 19:01] jdegoes commented on #2526
@vasilmkd Yes. We probably need something to deal with the boilerplate.

Maybe:

[code]

Then we can write "generic" specialized code using handlers. Even have generic things like `sum`, `max`, `min`, etc., lifted binary numeric operators for pairwise alignment of two chunks, etc.

[2019-12-27 01:55] ahoy-jon opened #2527 "ZIO Test : isGreaterThan using Numeric instead of Ordering"
When using ZIO Test,
[code]
`isGreaterThan` is needing a `Numeric[A]` instead of a `Ordering[A]`.

[2019-12-27 02:04] adamgfraser commented on #2527
Great point. I will handle this.

[2019-12-27 14:05] eugengarkusha opened #2529 "ZIO Test: 'after' aspect does not run effect if test fails or dies"
One of the possible consequences: DB cleanup routines are not executed and subsequent tests fail.

[2019-12-27 16:08] adamgfraser commented on #2529
Closed by #2530.

[2019-12-27 16:08] #2529 closed

[2019-12-27 16:27] adamgfraser opened #2532 "ZIO Test: Improve Distinction Between Test and Suite Level Resources"
This came up this morning on Discord. The snippet below will acquire the resource four times, instead of three times. The issue is that with suites being effectual, a suite of tests that each require an environment of type `R` also requires an environment of type `R`, so we need to provide the environment once to the suite and then to each of the tests.

I am thinking to really address this we may

[2019-12-27 16:44] adamgfraser commented on #2532
We might be able to get away with an encoding where suites are effectual but don’t themselves have an environmental requirement, they just contain tests that may require an environment. That would give us the ability to execute effects at the suite level to use a managed resource and provide it to tests but keep one type parameter.

[2019-12-28 22:58] #1073 closed

[2019-12-29 18:19] 7robertodantas opened #2537 "Interrupt Fiber as ZManaged release"
Hi,

I have a scenario where I'd like to keep a fiber in background sending ttl check to a consul registration every second. Since I'm using `ManagedApp` instance I was trying to wrap this fiber into a ZManaged, thus calling the Fiber's interrupt method as the release method.

Turns out that the fiber is not being interrupted / cancelled. Is this a bug or am I missing something?

The following is

[2019-12-29 18:55] iravid commented on #2537
This is an (unfortunately) common pitfall. Fibers inherit the interruptibility status of the region from which they are forked. In your example, you're forking the fiber from an uninterruptible region (in ZManaged's acquire). Thus, the fiber is running in an uninterruptible state and cannot be interrupted.

There's a much shorter pattern you can use:
[code]

This will fork the `repeatable` IO in a

[2019-12-29 18:55] #2537 closed

[2019-12-30 00:20] jchoffmann commented on #2328
I created something here: https://github.com/jchoffmann/zio-seed.g8  as a potential starting point for contributing something.

I kept it simple by depending just on `zio` and `zio-test` plus some plugins I find useful. In my opinion a simple bootstrap or seed giter8 shouldn't depend on more specific libraries like `zio-actors`. Additional templates can handle these.

What do you think?

[2019-12-30 00:31] softinio commented on #2328
There are no plans to depend on another library like `zio-actors`.

`base it on zio-actors` is essential as we want a certain minimum set of requirements to be included in all repos similar to what `zio-actors` have such a configured `circleci` configuration that is included as part of the giter8 template same as for example `zio-actors` but with this name replaced with the new repo names.

[2019-12-30 00:40] softinio commented on #2328
oh @jchoffmann I think there is a misunderstanding on the scope of this issue! I think you are referring to a giter8 template for starting an external app using zio. The giter8 template I had in mind for this ticket is one we use within the `ZIO` org for new projects. Will update to make that clear.

For the seed sample you have created feel free to add it to our docs here for people to use: https

[2019-12-30 00:52] jchoffmann commented on #2328
My bad, I completely misunderstood this. I will create a PR for `resources.md` which might at least help people new to ZIO.

As for the original scope, I could help here too but would need to become familiar with the way you ZIOnistas set up your projects (using `zio-actors` as starting point). It will take little while so maybe someone else is a better candidate for this.

[2019-12-30 11:49] saraiva132 opened #2540 "ZIO Test: Mock package variance annotation"
**Goals**

I believe the mock package is lacking in terms of type variance. I was playing around with it for a while with the following results:

**Where?**

Files in question from package mock are: `ArgumentExpectation`, `Method` and `Expectation`. Increased correctness by adding contravariant and covariant notation where it made sense.

**Issue found?**

 The compiler can no longer infer types w

[2019-12-30 16:45] adamgfraser commented on #2540
I think the issue is that when we make `I` contravariant we have to change the signature of `ArgumentExpectation.returns` from:

[code]

to:

[code]

This creates an issue when we call methods like `valueF`:

[code]

Before, `I` was known to be `Int`. Now, `I` is only known to be a subtype of Int, which should be sufficient but the compiler wants the type of the input to the anonymous function to

[2019-12-30 20:48] saraiva132 commented on #2540
This was my suspicion but you worded it very nicely. Thank you @adamgfraser

[2019-12-30 21:14] adamgfraser commented on #2540
@saraiva132 You want to add variance annotations to the other type parameters and then we can close this?

[2019-12-30 21:15] saraiva132 commented on #2540
PR is incoming in a few minutes :)

[2019-12-30 21:50] #2540 closed

[2019-12-30 22:01] #2527 closed

[2019-12-31 09:17] dkarlinsky opened #2546 "`unsafeRun` failure handling when E <: Throwable"
The implementation of `Runtime.unsafeRun()` wraps any cause in `FiberFailure`.
I think this not a very intuitive behavior in case of `E <: Throwable`, especially for beginners that will naturally reach for this method, as it seems the most straight forward.
That's what we did everywhere in our projects, and it took us some time to figure our why we were always getting `FiberFailure` on every error

[2019-12-31 11:20] gchudnov opened #2547 "Unexpected behavior of `mapMParUnordered` with failures"
I have the [following code](https://gist.github.com/gchudnov/638a7d49ee5161f9054fff2183a1c37c) (please note `mapMParUnordered`):

[code]

when runned, sometimes it completes normally and sometimes with an error.

My expectation was to complete it *always* with an error.
Is this the expected behavior?

With `mapMPar` it completes *always* with an error.

tried with RC-17 and current master.

[2019-12-31 12:28] saraiva132 opened #2549 "Update contributing guidelines with coding rules and recommendations."
Triggered by #2509 and #2463

Closes  #190, #335, #2462, #2512

## Possible formats

- https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines
- https://docs.scala-lang.org/style/
- https://github.com/databricks/scala-style-guide

## Scalafix project inspiration

- https://github.com/scalaz/scalazzi
- https://github.com/alejandrohdezma/sensitive-strings
- https://github.com/scalatest/autofi

[2019-12-31 12:37] iravid commented on #2549
Appreciate the work that went into compiling this list! Any ideas on how are we going to enforce these over time? As a reviewer I have no ability to keep all these in mind.

[2019-12-31 12:41] saraiva132 commented on #2549
For now. I am enforcing all of this in the existing codebase in incremental PRS. I took my time to learn the entire codebase, how things look in one part and on the other. What are the differences. We want users to have expectations about how things look like. Things to be predictable.

Regarding how to enforce this? I am afraid there are only two possibilities:

1.  Refer people to the coding gui

[2019-12-31 12:59] #2520 closed

[2019-12-31 13:22] adamgfraser commented on #2549
Thanks for working on this! I think it is great to be focusing on code quality as we grow and something like this can reflect our collective wisdom.

A couple of suggestions.

First, I think it could be good to distinguish objective technical rules we want to enforce from more subjective recommendations or suggestions. Going down your list it seems like there is a rough continuum from top to botto

[2019-12-31 13:47] saraiva132 commented on #2549
The idea to use scalafix to automate as much as possible is gold. For now, this exploration was important because it allowed me to learn, understand, and identify what should stay and what should go.

[2019-12-31 17:01] softinio commented on #2549
Another thought I had was to fork and enhance this plugin to include in our projects:

https://github.com/scalaz/scalaz-plugin

[2019-12-31 17:04] saraiva132 commented on #2549
Sounds like a project I would love to do! This recommendations are amazing.

[2020-01-01 10:52] vasilmkd commented on #2547
I'm unable to reproduce the issue with this code snippet. Both `mapMParUnordered` and `mapMPar` always compete with the error code 1, and the error is logged.

[2020-01-01 11:27] gchudnov commented on #2547
got it..
for me it is definitely not the case.. the result is quite stable and I get code 0 quite frequently..
on both my home and work machines.

[2020-01-01 11:39] vasilmkd commented on #2547
Can you check out the ZIO codebase and try this in a console on master?

[2020-01-01 14:19] gchudnov commented on #2547
yes, sure, will do it soon.

[2020-01-01 17:06] vasilmkd opened #2551 "Upgrading the design of ZSink"
### Background
`ZSink`'s state machine is defined in terms of its four abstract methods: `initial`, `step`, `extract` and `cont`. In particular, there is an implicit contract in place (the way all `ZSink` constructors and combinators are implemented) that:

Starting from the `initial` state, a `ZSink` is to be `step`ped over and over until the `cont` method returns `false`, at which point an `extr

[2020-01-01 19:34] iravid commented on #2551
Great analysis. We have been putting off far too many questions about the contract of ZSink. What you've listed is the current established usage but we've not documented or verified any of the contract elements. I constantly asked myself when writing combinators:
- should I check `cont` after `initial`?
- is it legal to step again without checking `cont`?
- is it legal to extract when `cont = fals

[2020-01-01 19:45] vasilmkd commented on #2551
I would be ok with a "soft" `cont == true` meaning it's safe to both continue or extract, and a "hard" `cont == false` meaning stepping is dangerous and an extract should be performed.

[2020-01-01 20:36] reibitto commented on #2547
I'm also seeing what @gchudnov is seeing (or at least something similar to it).

With `mapMPar` I'm always getting the failure, which is what I would expect.

With `mapMParUnordered` I'm getting 3 different results:
- Succeeds
- Fails with "Application failed" alongside a "A checked error was not handled." warning.
- Fails with "Application failed" without a fiber warning.

Try changing the stream

[2020-01-01 21:04] afsalthaj opened #2554 "Add support for non-empty list with ZIO.foreach (or ZIO.collectAll and similar operations)"
As of now, passing a nonEmptyList (which can be `scala.collection.immutable.::[A]`) to `ZIO.foreach` (or `ZIO.collectAll` and similar operations if any) returns a `List` which would mean it could be empty. However, in practice, passing a non-empty list to such operations can never yield an empty list.

Hence, it is a good idea if ZIO could support a `collectAll` or `foreach` operation that can ope

[2020-01-01 21:06] afsalthaj commented on #2554
If we are happy with this issue, I can take it up myself.

[2020-01-01 21:20] iravid commented on #2547
I’m very interested in fixing this, so if you could submit a PR with a reproducing test that’d be a great start.

[2020-01-01 22:49] adamgfraser commented on #2554
To a certain extent this is raising the issue again of us not having a `Traverse` type class or another way to abstract over various collection methods. We already have another PR to add variants of these for `Option`, we want to add variants for `Chunk`, and potentially over time we will want the same thing for other methods that operate on collections like `partitionM`.

In the short term I agre

[2020-01-01 23:32] saraiva132 commented on #2554
@afsalthaj @adamgfraser Indeed. I think there needs to be some careful thinking on our APIs that have iterables as input can be improved. For instance #2451

I am unsure what is the direction to go but, just the fact we are accepting mutable data structures as input is enough to raise a red flag.

[2020-01-02 00:13] saraiva132 opened #2557 "Flaky test: bracketFork release called on interrupt in separate fiber"
Marked flaky in #2556

[2020-01-02 01:55] saraiva132 commented on #1337
Either tag tests as flaky on a PR or close this please.

[2020-01-02 01:59] saraiva132 commented on #1280
@catostrophe I have implemented combinators that I believe might close this issue.

Partition, validate and validateFirst and their parallel counterparts.

What do you think might be missing? They are all done in terms of foreach which is the same as traverse, as it stands. I might take a closer look at this in some time and re-think what can be improved.

[2020-01-02 07:12] adamgfraser opened #2559 "Change Service Definitions to Use `def` Instead of `val`"
Currently in the definition of services the typical pattern is:

[code]

This can create an issue in certain circumstances with Dotty because Dotty does not allow a class or trait extending `Console` to implement `console` as a `def` or a `lazy val`. We may want to do that, for instance, if we want to say that one service should be implemented in terms of another but defer the implementation of th

[2020-01-02 07:21] saraiva132 commented on #2512
@NeQuissimus I am adding scalafix to ZIO in context of #2549. Perhaps we can discuss which configuration to use here ?

[2020-01-02 07:24] saraiva132 commented on #2512
What do you think about:

[code]

[2020-01-02 09:45] gchudnov commented on #2547
yes, the behavior exactly as reibitto mentioned.
just reproduced on the latest master (hash: ca386ba8).

I'm using scala 2.13.1, machine with 8 cores, on the `DefaultRuntime` from zio.

Will try to get more details

[2020-01-02 12:07] #1337 closed

[2020-01-02 14:47] gchudnov commented on #2547
@iravid
it looks it is a bit difficult to get the complete trace of the calls, since it affects the execution, but I noticed the following thing:

it looks there might be a race between `out.offer(Pull.end)` and `out.offer(Pull.halt(cause))` in [flatMapPar](https://github.com/zio/zio/blob/a64daa6406ec7cde1e32b1ed934cc44ec0d4f0ba/streams/shared/src/main/scala/zio/stream/ZStream.scala#L1311)

When t

[2020-01-02 14:57] vasilmkd commented on #2547
What is the timeline for this fix? Is it urgent? Because we're slowly moving towards errors are just normal events in the lifecycle of the stream, so a stream is not going to be torn down after it signals an error, and these combinators will require a rewrite either way.

I am going to work on that, I could maybe prioritize it higher. :)

[2020-01-02 16:03] NeQuissimus commented on #2512
I think that would do.
However, I prefer the order "java, scala, libraries, unknown, local" in my projects.
So here we would end up with

[code]

But I think that is more personal preference than anything :)

[2020-01-02 16:45] NeQuissimus opened #2563 "ZIO Test: Influence merging of test aspects"
Let's assume I have code such as this inside a custom runnable spec:

[code]

I want these aspects to happen for all of my tests.

Now let's say I have a single test that I want to have a longer timeout.
Intuitively, I would do something like this:

[code]

However, since the aspects are just merged together using `all`, the earliest `timeout` aspect will "win".

If something solving this situatio

[2020-01-02 16:58] #2559 closed

[2020-01-02 17:56] gchudnov commented on #2547
IMHO problems like these might delay the adoption of zio streams in production code.
as for me it is not urgent, but it would be great if it were fixed before the release of 1.0.

[2020-01-02 18:04] adamgfraser commented on #2563
We don't have a great way to do that today. The issue is that test aspects are applied immediately versus being descriptions, so just like if you call `timeout` on a ZIO effect you are then committed to that timeout absent doing something really fancy with reimplementing the clock.

I see two potential solutions. One would be to modify `Spec` to include a list of all test aspects that should be ap

[2020-01-02 22:55] reibitto opened #2565 "Add debounce support"
I brought this up on Discord, but there are more design decisions to be made than I initially expected so having an issue to sort everything out for organization's sake is probably a good idea.

So basically what I was initially was looking for is debounce on ZIO itself. Something like:

[code]

But then it seems like you'd also want versions on the ZIO companion object too:

[code]

and `debounce

[2020-01-03 09:31] gchudnov commented on #2565
It looks like a  variant of `throttleEnforce` in zio. Am I correct?

[2020-01-03 16:30] isaias-b opened #2567 "Let `asScala` on `zio.duration` return specific sub type"
The interop method `asScala` on `zio.duration.Duration` currently returns the requested instances as their common super type of `scala.concurrent.Duration` on conversion from zio to scala. Although the syntax on the `scala.concurrent.Duration` already captures finiteness and correctly reflects this on creation through the given syntax. However, when primarily using zio's duration this information

[2020-01-03 16:37] isaias-b commented on #2567
I have provided a small fix on this through a PR. Would be nice to have this merged soon as this would ease interoperation. Any suggestions and feedback of any sorts are highly appreciated.

[2020-01-03 18:59] adamgfraser opened #2570 "Should We Have ZIO Test Magnolia Project for Deriving Generators?"
I have gotten a couple of requests for support for automatically deriving generators for algebraic data types and I believe @ghostdogpr has implemented a version of this in one of his projects, so I think we should discuss whether it makes sense to have a subproject to provide this functionality to users who want it.

We are already using Magnolia to do derivation for ZIO Config and it would be a

[2020-01-03 21:56] afsalthaj commented on #2554
@adamgfraser
One of the thoughts that I have at this point is why would we even want to call certain zio functions (`zio.foreach`, `zio.collectAll`) with a empty collection at all, while we know its difficult to impose non-emptiness with the collection hierarchy. Correct me if I am wrong, that, let's make some functions support only non-emptiness?

From a user's perspective, it is difficult to for

[2020-01-03 23:25] ghostdogpr commented on #2570
How about ZIO Test being moved to its own repo? That way adding modules like this one wouldn’t affect the size of the zio project.

[2020-01-04 00:27] neko-kai commented on #2570
@ghostdogpr I think we couldn't do this because of circular dependency between zio tests & zio-test?

[2020-01-04 01:15] #2512 closed

[2020-01-04 01:27] adamgfraser commented on #2570
@neko-kai I think it would be okay because `test` depends on `core` and `streams` and then `coreTests` and `streamTests` depends on `test` so I don't think there is any circularity unless I am missing something.

@ghostdogpr I think that is definitely an idea worth thinking about but there is also some value in being able to make changes across the projects without waiting for a release. For examp

[2020-01-04 01:33] adamgfraser commented on #2554
@afsalthaj I think the issue with that is that a lot of times we don't know if the list is empty or not. We just have a `List[A]` that could be empty or not, just like we have an `IO[E, A]` that could fail or not. Unless we know at compile time that the list is empty, which I think is pretty rare, I think we want to support operations on it. Otherwise we are forcing the caller to deal immediately

[2020-01-04 02:01] ajaychandran opened #2571 "Optimize effectAsync methods on ZStream?"
In the `ZStream.effectAsync*` methods, the current implementation requires an extra `.unit` operation when the callback is invoked. This can be avoided either by returning `Unit` after `runtime.unsafeRun` or by changing the return type of the callback function to `Any`.

@iravid @adamgfraser What do you think?

[2020-01-04 13:52] neko-kai commented on #2570
@adamgfraser

Well, but that IS a circularity. if zio & zio test are separate, then for each release of ZIO it must use a previous version of ZIO Test for tests - so previous zio-test must be binary compatible with next zio-core & vice-versa. That would make binary-breaking changes pretty hard to perform, unless tests are moved too

[2020-01-04 13:53] adamgfraser commented on #2570
@neko-kai Ah, that is a great point.

[2020-01-04 13:56] adamgfraser opened #2573 "ZIO Test: Implement Gen#sequence"
Proposed signature:

[code]

We should consider if we want to have `sequence` and `sequencePar` variations implemented in terms of `crossWith` versus `zipWith` as well as `collectAll` variants and possibly `foreach` and `traverse` variants.

I will take the ticket.

[2020-01-04 15:37] saraiva132 commented on #2462
Effects that get by-name parameters:

- [ ] IO
- [ ] ZIO
- [ ] UIO
- [ ] RIO
- [ ] URIO
- [ ] TASK
- [ ] ZManaged
- [ ] Managed
- [ ] ZStream
- [ ] ZStreamChunk
- [ ] ZSink
- [ ] Pull (ZIO alias)

Methods (Not all effects have all of these methods):

- succeed
- fail
- die/ dieMessage
- effect/effectTotal
- left/right/some
- fromTry/fromEither/fromOption/ fromFiber.
- halt
- done
- interruptAs
- s

[2020-01-04 16:16] zach-albia commented on #2077
Can I try `tapBoth`/`tapError`?

[2020-01-04 16:22] adamgfraser commented on #2077
@zach-albia Please do!

[2020-01-04 16:46] adamgfraser commented on #2462
I think this generally seems like a solid plan. A couple of thoughts:

1. We probably don't need `now` variants of all of these methods but only ones that are used in internal combinators with some regularity.
2. I think there are some other combinators that we need to make lazy. `when` in particular has generated several questions.

I would suggest we open a PR with initially a relatively narrow

[2020-01-04 17:08] saraiva132 commented on #2462
@adamgfraser I was starting to work on a PR just for ZIO. But was interrupted by a lot of things. Which methods would you say do not require an eager variant ? We can also do it step by step and add as things make sense.

[2020-01-04 19:50] adamgfraser commented on #2462
My initial hypothesis would be that methods that directly construct a subtype of `ZIO` or construct a `ZIO` from one of our internal types (e.g. `succeed`, `fail`, `halt`) should have eager variants and the other ones don't need it. We might approach it by initially changing everything to be lazy and then seeing which non-lazy methods we need so we're not unnecessarily calling lazy versions all th

[2020-01-04 21:32] #2567 closed

[2020-01-05 01:57] saraiva132 commented on #2462
@adamgfraser @jdegoes

[This](https://github.com/databricks/scala-style-guide#call_by_name) is worrying me a bit.

I believe we do not suffer from this since our data types that hold computations express the laziness with () => Input instead of just typical by-name. And I am sure this was taken into consideration. But wanted to make sure.

[2020-01-05 05:31] adamgfraser opened #2576 "ZIO Test: Implement Gen#UUID"
It is a relatively common type so we should have a generator for it. Also, without one users may lift `UUID.randomUUID` into a `Gen` which means that the generator will use Java's random number generator instead of our purely functional random number generator and thus tests will not be fully deterministic.

I will take the ticket.

[2020-01-05 08:04] jchoffmann commented on #2328
Hi @softinio , I've created something that is hopefully closer to what you need: https://github.com/jchoffmann/zio-project-seed.g8

It is based on setting a `title` (including capitalization and whitespaces) from which `name`, `package` and a few more properties can be derived.

Example:
[code]

You can see the example output here: https://github.com/jchoffmann/zio-template-test
(this compiles)

[2020-01-05 11:16] octavz opened #2578 "ZIO Test: Generator for bounded strings"
Lots of time is necessary to generate bounded texts, there are already few solutions:

[code]
Quite long and unfriendly for beginners

Or using `Sized` which is even more unfriendly since needs fiddling with `provideSome` afte `flatMapping` on `Sized.makeService`

Or by `Gen.anyString.map(_.take(M))` which is not great either

I think it would be useful to have something like `Gen.boundedString(N,

[2020-01-05 11:27] octavz opened #2579 "ZIO Test: Fail fast in `checkM`"
Writing code like this:

[code]

Will execute the `println` multiple times after which it will fail.
I am not sure this is by design or is a bug, however, as an user I was expected that the `println` will run only once and fail fast after `ZIO.fail`

If because repetition it is difficult to handle errors then `checkM` perhaps should require an effect with `Nothing` on error channel, forcing the us

[2020-01-05 12:31] adamgfraser commented on #2579
@octavz Multiple values are being printed in your example because the failing test is being shrunk. Here is an example run. You can see that progressively smaller values are being generated as the test framework searches for an optimal shrink. If you use a generator that does not have shrinking, such as `Gen.fromIterable(List(1))` you will see a single value printed.

You can configure how many va

[2020-01-05 12:56] adamgfraser commented on #2578
There is a little bit of a balance here between providing something that makes this specific case easier but also something that is composable. For example, what if you want to do the same thing with a `List` or a `Vector`, which also indicates that the user needs to be able to specify the generator?

One option would be to just have something like `listBounded`, `vectorBounded`, `stringBounded` a

[2020-01-05 13:09] #2573 closed

[2020-01-05 16:14] octavz commented on #2579
Thank you

[2020-01-05 16:14] #2579 closed

[2020-01-05 21:17] unclebob418 commented on #1898
I'll take `TimeVariantsSpec`

[2020-01-05 21:47] adamgfraser commented on #1898
@unclebob418 I think that one should be pretty straightforward. Can you take a look at `GenUtils.scala` as part of that and see what needs to be moved to the `test` directory and what can be deleted? We're almost there!

[2020-01-05 22:05] unclebob418 commented on #1898
@adamgfraser yeah this one is easy - actually almost done already :). I've deleted GenUtils - it's no longer used anywhere, but I'll break the helper functions from GenSpec out into a new GenUtils file I think. In `TimeVariantsSpec` I'm only using `checkShrink` & `checkSample` which I've imported from `GenSpec` at this stage.

[2020-01-05 22:06] unclebob418 commented on #1898
@adamgfraser I'm actually wondering if this whole thing shouldn't move into `GenSpec` (either that or break other broad groupings out of `GenSpec` (e.g. numeric/text) to make it a bit more manageable?

[2020-01-05 22:08] adamgfraser commented on #1898
@unclebob418 I think moving it into `GenSpec` makes sense.

[2020-01-06 00:42] unclebob418 commented on #1898
@TapanVaishnav did you make any progress with `SampleSpec` or are you happy for me to give it a go?

[2020-01-06 02:25] hepin1989 opened #2584 "alias operators with Reactor/RxJava/Akka-Stream"
refs:https://github.com/zio/zio/issues/2405
As we are going to release 1.0; Hope the operators will not missing than other toolkits.

[2020-01-06 04:42] kusamakura opened #2585 "ZIO Test: Interop with Scalacheck?"
Is there any demand for `org.scalacheck.Gen` => `zio.test.Gen` interop?
I've been using this successfully for the time being, but maybe I can publish it if needed.
I'm not sure how to go about the shrinker, though. I'd appreciate it if somebody can guide me into the right direction.

[code]

[2020-01-06 04:55] adamgfraser commented on #2585
I think that could be good. My main focus has been on adding more built in generators to ZIO Test and in most cases it should be a straightforward process to switch from ScalaCheck combinators to their ZIO Test equivalents. But the reality is if you have a large legacy code base and have written complex custom generators it would be nice to be able to use those at least for a transition period.

L

[2020-01-06 05:03] kusamakura commented on #2585
@adamgfraser Right, that's what I was thinking too. The main motivation for me to write this was when I was converting some `circe` JSON scalacheck specs to `zio-test`, since the provided JSON Gen instances weren't trivial.

[2020-01-06 06:34] afsalthaj commented on #2554
@adamgfraser Agree. Makes sense.
Seems like a hard requirement for many users and and more code handling simple usecases.
That said, personally I prefer using `NonEmptyList` whenever I can. The `NonEmptyList` in core functional libraries have been a great help in getting rid of bugs (by early handling of them) .

`::` is kind of tricky, as it doesn't have useful functions such as
[code]

[2020-01-06 09:06] regiskuckaertz commented on #2554
All the combinators receiving `NonEmpty*` would sit well in the interop-cats project, imho.

[2020-01-06 09:47] vasilmkd opened #2587 "How to handle ZSink#initial's error?"
Another ZSink contract issue.

I'm in the process of porting the ZStream aggregation methods to element level errors. These methods rely heavily on the lifecycle of the ZSink that they are working with. This means that they are in charge of extracting and resetting the sink state when appropriate.

Unfortunately, the method definition of `ZSink#initial` is as follows:
`def initial: ZIO[R, E, State

[2020-01-06 09:51] ghostdogpr commented on #2570
Here's a gist with my initial implementation: https://gist.github.com/ghostdogpr/2c268f576db1c0274ee6a3d4791b081a

You can see it's quite minimal.

[2020-01-06 09:53] regiskuckaertz commented on #2587
Couldn't the error be temporary, like a network failure or something? If yes, then is there something wrong in reporting it as an element-level error while buffering the incoming element?

[2020-01-06 09:56] iravid commented on #2587
^ What Regis said. There is no difference between `ZSink.initial` failing, `ZSink.step` failing and pulling the upstream failing; all of them need to be reported downstream, and the operator should continue if downstream decides to continue.

In this case, the operator should suspend until downstream decides to pull again; in which case, it will re-run `ZSink.initial`.

[2020-01-06 09:57] vasilmkd commented on #2587
What I wanted to do as well, I just felt the need to run this by you, thanks.

[2020-01-06 09:59] regiskuckaertz commented on #2587
It also nicely validates the decision not to count errors in `take` and such.

[2020-01-06 11:00] vasilmkd commented on #2587
Does this mean that we should not drop, but retry elements that have failed a `step`?

[2020-01-06 11:15] iravid commented on #2587
No, I don't think so. What's your reasoning for that?

[2020-01-06 11:54] vasilmkd commented on #2587
No specific reason. Just asking.

[2020-01-06 15:51] adamgfraser commented on #2570
@ghostdogpr Awesome! Thank you! Will work on this.

[2020-01-06 16:01] hepin1989 commented on #2584
Like `switchIfEmpty`; Akka has `orElse` but the `orElse` of ZIO Stream has different behavior.

[2020-01-06 16:06] iravid commented on #2584
Hello, please clarify the purpose of the ticket to concrete action items so others can express opinions about the necessity.

[2020-01-06 16:08] hepin1989 commented on #2584
Collect what ZIO stream is missing and then we could audit it and add it in zio.

[2020-01-06 16:29] iravid commented on #2584
Ok, that's pretty broad. Do you intend to compile the list yourself? Otherwise I suggest closing the ticket and opening more specific tickets for missing combinators.

[2020-01-06 16:56] dkarlinsky commented on #2546
@jdegoes WDYT?

[2020-01-06 17:23] jdegoes commented on #2546
I think this would make sense in cats-interop.

What could make sense in ZIO is `unsafeRunTask` and variants that require the `E` to be `Throwable`, and then `throw` it.

[2020-01-06 17:31] jdegoes commented on #2546
Ah, I see you were proposing something similar. The error need only be `Throwable`, you don't need `R <: Throwable` due to covariance.

[2020-01-06 17:32] #2576 closed

[2020-01-06 19:40] adamgfraser commented on #2554
@afsalthaj One thing we could think about is having some helper methods for that. For example:

[code]

This wouldn't require a type class or anything like that and would just be normal functions. I'm not sure it is worth it just for ZIO Core / Stream / Test but could be make sense if other ZIO libraries are using nonempty lists significantly more.

[2020-01-07 01:58] hepin1989 commented on #2584
@iravid I think I could make use of this one as a magnet one:)

[2020-01-07 02:17] adamgfraser commented on #2584
@hepin1989 Isn't `switchIfEmpty` just `++`?

[2020-01-07 05:04] hepin1989 commented on #2584
@adamgfraser No, it only switch to the other Stream if the current one complete with empty,not contacting.

[2020-01-07 12:49] dkarlinsky commented on #2546
Thanks @jdegoes, `unsafeRunTask` makes sense.
What about attaching fiber dump info to thrown exceptions as a cause?

[2020-01-07 13:08] jdegoes commented on #2546
@dkarlinsky Yes, I'd attach the `FiberFailure` as a cause.

[2020-01-07 16:44] #2578 closed

[2020-01-08 10:39] mijicd commented on #2328
@jchoffmann the template seems to be working really nice. We might polish it a bit, fo example, I'd remove everything but name.

@softinio wdyt?

[2020-01-08 10:51] jchoffmann commented on #2328
Thanks for your comment, happy to change and polish it as you like. Would you like to see something like this then?
[code]
and derive all other keys from the name? (e.g. doc, circleci)

How about the discord link, just leave it as hardcoded UNKNOWN in the template?

[2020-01-08 10:52] mijicd commented on #2328
I'm not sure how frequently will the invite expire. However, we can probably use the current one as the default.

[2020-01-08 11:02] mijicd commented on #2328
One more thing, we should remove `zio-nio` from dependencies, as it might not be needed by everything. ZIO and ZIO Test should be there for sure.

[2020-01-08 17:23] evis commented on #1499
ZManaged is affected by the same bug.

I will take this one.

[2020-01-08 20:51] jchoffmann commented on #2328
@mijicd I've changed the template according to your comments: https://github.com/jchoffmann/zio-project-seed.g8

[x] simplify template by deriving everything from the single property `name`
[x] scala-steward config
[x] use current discord links
[x] remove `zio-nio` and `scala-reflect` dependencies

The workflow looks like this now:
[code]

You can see the example output [here](https://github.com/j

[2020-01-08 20:54] mijicd commented on #2328
@jchoffmann this looks quite good! Let's see if @softinio has some additional suggestions, but as far as I'm concerned, this can be the new library seed.

[2020-01-08 23:08] neko-kai commented on #2546
Would forcing the `cause` reflectively like that work on Scala.js & Native? Also, you'd have to put the original `cause` of the error somewhere, since replacing it would modify both the outer throwable, and the same throwable inside the Cause tree

[2020-01-09 02:11] TapanVaishnav commented on #1898
Please go ahead, I am caught up in my company's work. (and won't be able to touch it for a while)

[2020-01-09 08:23] dkarlinsky commented on #2546
@neko-kai Good point about Scala.js and Native. I think worst case, we just skip this part for these platforms.
As to the `cause`, I'm adding a new throwable at the end of the cause chain, not replacing the immediate cause of the throwable. It does modify the throwable and thus the original `Cause[E]`, since there is no way (I know of) to make a modified copy of an unknown throwable...
This is why

[2020-01-09 11:40] francisdb opened #2591 "Unexpected CanFail for for comprehension with pattern match"
ZIO 1.0.0-RC17

[code]

fails to compile with `This operation only makes sense for effects that can fail.`

translating the for comprehension into a flatMap or map works

discord log:

Oh hmm, that one is a tricky case I think. The pattern match on the left side seems to be the issue. I forgot, internally that uses **withFilter** I believe?

related to #2049

[2020-01-09 11:45] adamgfraser commented on #2591
@francisdb This was resolved in #2420 and will be available in the next release candidate.

[2020-01-09 12:25] francisdb commented on #2591
Aha, that explains that strange NoSuchElementException in the signature in Intellij.

[2020-01-09 15:03] jdegoes commented on #1112
Update on ZIO 1.0:

There are two blockers currently. I'm working on both of them, about 20 hours a week. They are as follows:

1. **Jitter problem**. The "jitter problem" pertains to Schedule#jittered but is much larger in scope, and stems from the fact that it's not possible to write generic code that makes modifications to the environment. The ZIO#provideSome requires the shape be known statica

[2020-01-09 15:03] jdegoes commented on #1112
^^^ Cross-posted from Discord

[2020-01-09 17:56] adamgfraser commented on #2591
You want to close this?

[2020-01-10 06:32] #2591 closed

[2020-01-10 08:17] Tamriel commented on #1097
* [ ] The website / documentation should have a search field
* [ ] The streams section could have an example on how to extract the header of a stream with `peel`, and maybe more examples from the talk [Scale By The Bay 2018 - Scalaz Stream: Rebirth](https://youtu.be/mLJYODobz44?t=867)

[2020-01-10 08:38] adamgfraser commented on #1097
@Tamriel Great suggestions! Thank you!

[2020-01-10 10:21] vasilmkd commented on #2551
Since we started discussing the contract of `ZSink` here, I'm raising another issue. In order to work properly with element level errors, sinks need to be fed element by element in order to signal any errors, as well as control the continuation after the error has been dealt with (preserve state). `stepChunk` is a method that repeatedly steps a given sink and gives up in case of an error, with no

[2020-01-10 10:25] vasilmkd commented on #2551
Another huge issue IMO is `ZSink#flatMap` which is currently completely unfit for element level errors on streams. Any failure occurring when the leftovers of the `self` sink are fed through the `that` sink will completely wreck the state of the sink and cannot be safely continued at the moment. It will require _very_ careful examination and _very_ clear contract to pull off.

[2020-01-10 10:33] vasilmkd commented on #2551
Another issue that I have identified is the following:

When there are leftovers from an extraction of a sink, in cases like `ZStream#aggregate` or even `ZSink#flatMap`, the leftover elements are fed through the sink again. What should happen to the rest of the leftover elements when only some of the elements have been successfully stepped, the sink has signaled completion (`cont = false`) and the

[2020-01-10 10:51] vasilmkd commented on #2551
The reason why I think my previous comment is a serious issue is:

Any leftovers that occur when the sink is extracted in the "middle" of the stream (the upstream has not signaled end yet) are treated as stream elements and fed again through the sink, while any leftovers that occur after the upstream has ended are dropped. This distinction seems a bit arbitrary to me and I am convinced that we can

[2020-01-10 11:59] jdegoes opened #2596 "Consider updated encoding for ZSink"
Goal: Sink encoding that is:

 - Fully inferable
 - Straightforward, obvious contract
 - Can safely acquire and release resources (e.g. database connection, kafka stream, etc.)
 - Allows sinks and streams to error

Sketch:

[code]

For `Channel` that adds a "push" operation in addition to the usual "pull" operation, allowing leftovers to be returned to the channel in case the sink read too much.

[2020-01-10 17:55] adamgfraser commented on #2462
@saraiva132 Just wanted to check in on this since it is one of the gating items for the 1.0 release. Let me know if you want to work together on anything here.

[2020-01-10 18:29] saraiva132 commented on #2462
@adamgfraser This week was quite busy at work so I had no space to work on this. I will work on this this weekend. I will have the time. I suppose we will be able to cooperate in the next two days. Tonight I am afraid I will use it to rest as well.

[2020-01-10 18:29] adamgfraser commented on #2462
@saraiva132 No worries at all. Sounds great!

[2020-01-11 04:35] sken77 opened #2601 "add a TQueue.empty constructor"
I found myself needing this. I notice that `TMap` has an empty constructor but `TQueue` doesn't. is there a reason for this? If not, i would gladly add it

[2020-01-11 05:44] adamgfraser commented on #2601
I believe the issue is that queues are parameterized on a size. Were you looking for a queue with no maximum size? I think that could definitely be a good addition.

[2020-01-11 05:55] sken77 commented on #2601
whats the reason for requiring a capacity? the underlying queue doesnt seem to need one

[code]

[2020-01-11 06:01] adamgfraser commented on #2601
I think we want to support queues that are both bounded and unbounded. Queues are control flow structures where offering to a queue that doesn’t have capacity suspends so users may want queues with specific sizes, whereas for something like a Map that consideration doesn’t really apply.

[2020-01-11 06:02] sken77 commented on #2601
Also, would be great to add `front/peek`, `back` and `swap`

[2020-01-11 06:05] sken77 commented on #2601
I see. what do you think about the above methods? You think we still want an unbounded Queue? these are 2 separate issues now. but wanted to mention it now that i have your attention

[2020-01-11 07:54] adamgfraser commented on #2601
Yes, I think we want to support both bounded and unbounded queues. We should be able to do that with one class similar to the standard queue, either by having a unbounded queue just have a size of `Int.MaxValue` or slightly expanding the internal state that is maintains. Also think we want to add more combinators like the one you mentioned.

@mijicd Does that make sense?

[2020-01-11 08:01] adamgfraser commented on #1898
Closed thanks to fantastic work from @unclebob418 with help from @TapanVaishnav!

[2020-01-11 08:01] #1898 closed

[2020-01-11 08:03] unclebob418 commented on #1898
And @darl :)

[2020-01-11 08:06] adamgfraser commented on #1898
Yes! Fixed above.

[2020-01-11 08:26] mijicd commented on #2601
@adamgfraser absolutely. @sken77 feel free to tackle both of the issues (constructors and missing methods), and let me know if you need any help.

[2020-01-11 08:32] evis commented on #1499
Resolved in #2590. I guess, we may close this issue.

[2020-01-11 08:33] adamgfraser commented on #1499
Thanks for the reminder!

[2020-01-11 08:33] #1499 closed

[2020-01-11 09:59] softinio commented on #2328
@jchoffmann overall looks good to me thank you so much for doing this.

Did you want to contribute your project and move it to the ZIO org or do you prefer to keep it where it is?

[2020-01-11 10:11] jchoffmann commented on #2328
@softinio happy to move it to the ZIO org, that makes most sense. You can just copy it from my repo, change the template license, remove my name from it etc, according to how you want to keep your projects. It's not a complicated thing, hope it helps saving a bit of time :-)

[2020-01-11 10:12] softinio commented on #2328
@jchoffmann thanks so much you are awesome! Will do it later today. Bedtime for me now :-)

[2020-01-11 21:04] KadekM opened #2606 "STM: Add when & whenM"
I think it would be useful for api parity with ZIO

[2020-01-12 01:38] softinio commented on #2328
Thank you @jchoffmann we now have https://github.com/zio/zio-project-seed.g8

[2020-01-12 01:38] #2328 closed

[2020-01-12 04:50] sken77 commented on #2601
excellent ill get to it

[2020-01-12 23:20] leigh-perry opened #2613 "zio-test Gen should exercise 'boundary' values"
The following sample test should fail for `Int.MinValue`.
[code]

However, because of `Gen`'s reliance on `Random`, in practice, this value does not get tested. Ideally, `Gen` would test all significant boundary cases to find issues like this.

At the moment, I explicitly add the boundary values via `TestRandom.feedXxx`, eg:
[code]

but it would be nice to bake these into anyInt et al.

I am happy

[2020-01-12 23:30] adamgfraser commented on #2613
I tend to think this makes sense. It probably shouldn't be limited to just "boundary" values but some concept of "special" values (e.g. 0 would I think be one of these, arguably +1 and -1, etc...). Unfortunately there is no objective definition of what these "special" values are or how frequently they should be generated but I think it probably does make sense to try fo figure out some sensible ap

[2020-01-12 23:40] leigh-perry commented on #2613
I normally use `TestRandom.feedInts(0, 1, -1, Int.MaxValue, Int.MaxValue - 1, Int.MinValue, Int.MinValue + 1) *>` as a good starting point.

[2020-01-12 23:53] adamgfraser commented on #2613
That makes sense to me. We should also think about doing the same thing for "default" generators for other types for consistency, not that we necessarily need to do everything in one PR.

If anyone else has thoughts about this please chime in.

[2020-01-12 23:59] leigh-perry commented on #2613
Yes, agreed... all the `anyXxxx` generators would benefit.

[2020-01-13 01:23] softinio commented on #1097
I am working on the search field - coming soon :-)

[2020-01-13 11:16] KadekM opened #2615 "ZIO Stream: fromTQueue"
Analogous to `ZStream.fromQueue` I think we should have `ZStream.fromTQueue`

[2020-01-13 12:10] vasilmkd commented on #2551
Alternative to #2596.

[code]

Main takeaways:
1. `initial` keeps its existing semantics &ndash; effectfully providing the initial state of the aggregation.
2. `extract` keeps its existing semantics &ndash; effectfully transforming the inner state of the sink into it's output value
3. `step` changes it's semantics &ndash; _from_ "accept an input element `A` and aggregate it into the inner state, p

[2020-01-13 12:16] iravid commented on #2551
This formulation looks pretty cool @vasilmkd. Would be interesting to POC it and see if it works on a bunch of combinators.

[2020-01-13 12:16] vasilmkd commented on #2551
I'd be willing to give it a go, yes.

[2020-01-13 12:31] iravid commented on #2551
Oh, I think I know where the problem is; you can't write (at least I don't see how) sinks that process chunks in this form. It doesn't allow for partial consumption.

[2020-01-13 12:34] vasilmkd commented on #2551
How did the old formulation handle errors when stepping individual elements of the chunk and report the current state?

[2020-01-13 12:37] iravid commented on #2551
I don't think partial consumption is/was well-defined when a step error occured.

[2020-01-13 12:41] vasilmkd commented on #2551
I would also be willing to explore a `ZSinkChunk`, which would be to `ZStreamChunk` what `ZSink` is to `ZStream`.

[2020-01-13 13:44] NeQuissimus opened #2616 "ZIO Test: Odd behaviour of equalTo(anything)"
I am not sure whether we will want to change this or not but I just encountered something I found to be weird.

So, I understand why this is but I find the following behaviour counter-intuitive:

[code]

The implementation of `equalTo` will compare my `foo` to `anything`.
Instead, we need to do the following:

[code]

[2020-01-13 14:07] adamgfraser commented on #2616
I think this is another case where our move to type checked `equalTo` is helping us out. On master:

[code]

Note that `assertCompletes` can also be helpful for these situations where you don't want to assert a specific thing but just that you have gotten to a certain point in the program execution.

[2020-01-13 15:37] adamgfraser commented on #2615
Makes sense to me.

[2020-01-13 16:06] adamgfraser commented on #2616
Yeah, I did a Scalafix rule to automatically rewrite all the assertions in the ZIO codebase and am going to be publishing it so that others can use as well.

[2020-01-13 16:29] vasilmkd commented on #2551
A more fleshed out version:

[code]

The important thing to note &ndash; the implementation of `ZSinkChunk` is fixed and not overridable by the end users. It is also not composable _on purpose_. Any composition should be done on the underlying `ZSink` before it is converted to a `ZSinkChunk`.

@iravid

[2020-01-13 17:51] #2606 closed

[2020-01-13 18:22] NeQuissimus commented on #2616
The inheritance-based `DefaultRunnableSpec` is going to mess up way more than that for me. We have  a custom subclass of it currently, which means I'll have to rebuild that. But oh well :D

[2020-01-13 18:31] adamgfraser commented on #2616
I think it should be fairly straightforward to subclass the new `DefaultRunnableSpec`, but that is without me knowing much about what you are doing. If there is anything I can do to help let me know.

[2020-01-14 06:04] sken77 opened #2619 "STM.when/whenM with retry"
I just saw that `STM.when` and `whenM` were merged. i was wondering if we could also need `STM.whenRetry` so instead of returning `STM.unit` on the else it returns `STM.retry` that seems to be also a very common use case

[2020-01-14 13:30] adamgfraser commented on #2616
Shall we close this?

[2020-01-14 13:44] adamgfraser commented on #2619
Sure. I think this could be implemented pretty straightforwardly in terms of the existing `check` combinator. How about `filterOrRetry` and `filterOrRetryM`?

[2020-01-14 13:50] #2616 closed

[2020-01-14 14:04] evis opened #2621 "Enrich Iterable with ZIO combinators"
e.g., put this into ZIO companion object:

[code]

Same for all other combinators which work on Iterables.

It would allow for more convenient and readable syntax:

[code]

compared to

[code]

[2020-01-14 14:37] adamgfraser commented on #2621
Personally I'm not a big fan of this. Generally we have tried to avoid implicit syntax where possible because it makes methods less discoverable, can require imports, and can not always be available. We just recently removed implicit syntax similar to this in #2361.

In this case in particular many combinators we would like to use are already defined for collections. Your example works for `foreac

[2020-01-14 16:24] softinio commented on #1097
Search added to microsite via: https://github.com/zio/zio/pull/2624

[2020-01-14 16:37] regis-leray opened #2625 "ZStream - Close inputStream/outputStream"
@jdegoes @iravid  It would be nice to have default behavior to close inputstream/outputstream when calling Stream.fromInputStream / ZSink.fromOutputStream, or even to pass a ZManaged.

`Stream.fromInputStream()`
`ZSink.fromOutputStream()`

It was not obvious the function was not closing it by default.

[2020-01-14 16:38] regis-leray commented on #2625
i would be pleased to add this feature into zio :)

[2020-01-14 18:23] evis commented on #2621
Users of `ZIO` companion object methods don't lose anything. They just continue to use them and don't care about discoverability issues and imports.

As cats/cats-effect user, I (and my team) just used to infix methods like `sequence`, `traverse`, etc. So, users who prefer infix methods will get better experience with such enriching. And for those, who don't care about infix syntax, just nothing c

[2020-01-15 12:25] adamgfraser opened #2629 "ZStream#groupedWithin Test is Flaky"
@mschuwalow Can you take a look?

[code]

https://circleci.com/gh/zio/zio/50278?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2020-01-15 13:23] mschuwalow commented on #2629
I'll take a look, sorry

[2020-01-15 13:25] adamgfraser commented on #2629
No problem. It is a tricky one. Can you approve my PR marking the test as flaky so we can resolve the build failure on master?

[2020-01-15 13:29] mschuwalow commented on #2629
done, I'll push a fixed version in a bit

[2020-01-15 13:34] adamgfraser commented on #2629
Thanks!

[2020-01-15 18:36] vasilmkd commented on #2551
I would be remiss not to at least mention this idea that I have. Suppose we treat `ZSink` as a dual to `ZStream` in all senses, including its actual code representation. However, this is not at all fleshed out and missing a key detail: how to exit the scope of the `Managed` with the final value of type `B`. Nonetheless, I consider it to be a very fun encoding and an engineering challenge. What I w

[2020-01-15 18:56] adamgfraser opened #2633 "Follow Up On New Environment Encoding"
Issue to track follow up items from #2594:

- [x] **Dotty** - ~~CI for Dotty has been temporarily disabled until lampepfl/dotty#7965 is resolved. It appears that there is a PR that will fix this lampepfl/dotty#7992. As soon as this is merged we should move to the latest nightly version of Dotty and try to resolve any outstanding issues so that we can reenable CI for Dotty.~~ Dotty support has been

[2020-01-15 19:21] jdegoes commented on #2551
@vasilmkd That's basically the idea behind my ticket. It should be dual and should have the power of managed. What you have is not the exact dual. I will write more later

[2020-01-15 19:42] adamgfraser commented on #2296
Superseded by #2594.

[2020-01-15 19:42] #2296 closed

[2020-01-15 19:43] adamgfraser commented on #2297
Superseded by #2594.

[2020-01-15 19:43] #2297 closed

[2020-01-15 19:45] adamgfraser commented on #2265
Resolved by #2594.

[2020-01-15 19:45] #2265 closed

[2020-01-15 19:45] adamgfraser commented on #1348
This has been done.

[2020-01-15 19:45] #1348 closed

[2020-01-15 19:46] vasilmkd commented on #2551
I saw it, the only thing I'm concerned about is the new `Channel` type. `zio-streams` is a library proud of its minimal surface area and just two concepts.

[2020-01-15 19:47] adamgfraser commented on #872
Can we close? It feels like the ship has sailed on this one.

[2020-01-15 20:12] #872 closed

[2020-01-16 00:09] mtsokol opened #2634 "Consider making Promise covariant on E"
Hi,

Right now I'm working on actors persistence in zio-actors. I'm trying to abstract message processing from current implementation and ended up with `trait Stateful[..., +E, ...]` with some `Promise[E, ...]` inside.

Would it be acceptable to make Promise covariant on E so `Promise[+E, A]`? Like in the others types e.g. `IO[+E,+A]`.
Or is my approach not the right one?

[2020-01-16 00:31] adamgfraser commented on #2634
I don't think we can do that because conceptually a promise is something we can put an E or an A into in addition to getting an E or an A out of so it has to be invariant.

To make it covariant we would first have to deal with the fact that the `AtomicReference` inside the promise is invariant for the same reason. We could deal with that by making the `state` `private[this]`.

But then we still ha

[2020-01-16 11:46] mtsokol commented on #2634
@adamgfraser Thank you for comprehensive explanation!
Yep, now I see that I had it wrong as it needlessly interfered with traits variance.

Thanks for help!

[2020-01-16 11:46] #2634 closed

[2020-01-16 19:29] evis opened #2637 "Fiber methods aren't stack-safe: awaitAll, collectAll, joinAll"
Given such a big sequence:

[code]

All of these programs fail with StackOverflowError:

[code]

Stack trace:

[code]

[2020-01-16 20:24] #2570 closed

[2020-01-16 21:15] jdegoes commented on #2551
@vasilmkd I'm not sold on `Channel`. Basically it would add to `Pull` the ability to "return" some unneeded input.

Anywhere, here is Stream, roughly:

[code]

where:

[code]

which is isomorphic to:

[code]

which can be generalized to:

[code]

which given constant `R`, `E`, and `B`, forms an arrow `X ==> Y`:

[code]

whose dual gives us the following definition for `Pull`:

[code]

which is iso

[2020-01-16 22:02] vasilmkd commented on #2551
First of all this is genius and I'm in love completely.

Second, state is completely unnecessary because it was already just an implementation detail, even in the current ZSink, so that has never been an issue for me.

Third, you can bet that we'll find a way to code SinkEffect (I named it first 😆), similar to StreamEffect with stackless exceptions.

Fourth, I'm not exactly sure I understand how `

[2020-01-16 22:27] vasilmkd commented on #2551
To expand on my remainder comment. Let's imagine that we have a `foldWeighted` sink, with a cost function `f: A => Long` and a `max: Long` weight. The sink batches elements into a list until the target weight has been achieved. For as long as the remaining free weight in the batch is not a negative number, the effect will succeed with a `None`. As soon as the user tries to insert an element that w

[2020-01-17 07:25] softinio opened #2639 "Add details of twitter account to microsite & README"
Our twitter handle is `zioscala`

Be good to have a twitter logo with above handle that redirects to our handle on twitter for users to follow us.

As a suggestion add this to footer near the discord logo.

Some resources:

- https://fontawesome.com/v4.7.0/icon/twitter
- https://fontawesome.com/v4.7.0/icon/twitter

As a bonus be nice to add the same to all other ZIO repos 😄

[2020-01-17 11:56] adamgfraser opened #2642 "Flaky foreachPar_ Test"
@horned-sphere Can you take a look?

[code]

https://circleci.com/gh/zio/zio/50708?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2020-01-17 12:02] horned-sphere commented on #2642
@adamgfraser No problem. I'll take a look after work today.

[2020-01-17 12:11] adamgfraser commented on #2642
@horned-sphere Thanks!

[2020-01-17 12:22] ajaychandran commented on #2625
IMO, since these methods do not create the `InputStream`, they should not be responsible for closing it.

Resource cleanup should be tied to acquisition. For the usecase in `SecureFtp`, it makes sense to acquire and close the stream since the stream is not available to the caller.

PS: In fact, the `InputStream` should be obtained as a `ZManaged` resource. I have used this pattern a lot and it alw

[2020-01-17 12:30] jdegoes commented on #2625
How about this:

[code]

These variants could close the stream, because what it being passed is not an input / output stream, but rather, an effect that _creates_ the input / output stream.

Then Scaladoc can be rewritten to push people toward the safer variants.

Possibly we could have:

[code]

[2020-01-17 12:58] ajaychandran commented on #2625
Always closing the stream would make the methods unusable for cases where the streams should not be closed. For instance, when streaming from/to standard input/output.

This would not be an issue with the safer variants since resource acquisition and release is performed at call site.
The safer variants can in fact replace the existing methods, thereby removing ambiguity and forcing users to acqui

[2020-01-17 13:20] adamgfraser commented on #2637
@evis Are you working on this?

[2020-01-17 13:35] evis commented on #2637
Not yet, feel free to take it.

[2020-01-17 13:40] fanf commented on #2269
there is that pretty exhausitve benchmark on scala vector tested with a potential replacement: https://github.com/scala/scala/pull/8534
The comments are pretty amazing about all the pitfall of benchmarking scala collection performance, from JVM to CPU optimization you want to control.

[2020-01-17 14:24] adamgfraser commented on #2637
Okay, I will take it.

[2020-01-17 21:50] pk044 opened #2645 "Unable to run the REPL inside the project"
[code]

[2020-01-17 21:59] adamgfraser commented on #2645
I see it too. Not surprising since we have made a lot of changes and I don't think we are testing anywhere that these commands compile. Will work on fixing and adding regression tests.

[2020-01-17 22:21] horned-sphere commented on #2642
@adamgfraser Unfortunately, this was fairly unpleasant. foreachPar_ currently starts stopping after it hits the first error and so doesn't wait for any other tasks that have failed to register their results. That means that the selection of errors that get accumulated, even for uninterruptible tasks that have already started, is essentially random.

I've manged to fix it by splitting apart the wai

[2020-01-18 00:28] #2637 closed

[2020-01-18 12:48] adamgfraser opened #2649 "Should We Remove Traverse and Sequence Method Aliases?"
The `sequence` and `traverse` method aliases feel like a holdover from a time when we had more traditional, less accessible method names (e.g. `redeem` and `absolve`). In other cases we have just gotten rid of the old names but we have kept these around, which creates a bit of an odd inconsistency. It is also not ideal to have two ways to do the exact same thing. And for readers of a codebase usin

[2020-01-18 13:01] iravid commented on #2649
Voting to keep them, not because of `Traverse`, but because of `Future.traverse/sequence`. These parallels helped me teach the library to newcomers in the past.

Not strongly attached to the names and see the benefit of having just one version to maintain, though.

[2020-01-18 13:55] ghostdogpr commented on #2649
Or maybe we keep them as deprecated to “force” the migration while still being discoverable. But unlike other stuff we deprecated, we keep them a while longer (e.g. until 2.0)?

[2020-01-18 16:55] pk044 commented on #2271
@adamgfraser do you think there's anything else I can add?

[2020-01-18 17:22] evis commented on #1182
@jdegoes I think, we are ready to close this issue. There are no more methods which create large inefficient trees with zipPar.

[2020-01-18 22:07] adamgfraser commented on #2271
@pk044 I think there are a lot more methods we could add. I would take a look at the list of methods available for `scala.collection.immutable.IndexedSeq` [here](https://www.scala-lang.org/api/current/scala/collection/immutable/IndexedSeq.html). That is basically our competition. There are a ton of methods there and obviously some are more or less useful but at some level we need to compete with `

[2020-01-18 22:07] #2645 closed

[2020-01-19 05:33] iravid commented on #2271
Chunk#foreach is Chunk#mapM :-) might make sense to rename or alias.

[2020-01-19 05:35] adamgfraser commented on #2271
Ah, excellent point. I think it was the `mapMPar` method I was missing at one point.

[2020-01-19 23:12] mschuwalow commented on #2629
@adamgfraser can we close this?

[2020-01-19 23:13] adamgfraser commented on #2629
Yes.

[2020-01-19 23:13] #2629 closed

[2020-01-20 06:31] sken77 commented on #2649
I recently used sequence just because i remember thats how it was called before. so i recommend to keep it

[2020-01-20 06:39] sken77 commented on #2601
this is done

[2020-01-20 06:39] #2601 closed

[2020-01-20 09:37] megri opened #2661 "Handle shutdown (SIGTERM / SIGINT) of `zio.App` gracefully."
Currently, when the following application is terminated from the outside (either with `kill` or as part of a container shutdown) a FiberFailed trace will be logged, indicating that the process ended with an error.

[code]

It would be nice if termination was expected and didn't result in a trace.

[2020-01-20 12:23] adamgfraser commented on #2661
I believe this was resolved by #2354. If I run your program on `master` and terminate it with control C I get the following output:

[code]

[2020-01-20 12:24] iravid commented on #2661
Just to verify, I'd try to run it standalone; SBT doesn't always forward the SIGINT to the running application.

[2020-01-20 13:56] iravid opened #2663 "Should ZStream.fromIterator handle exceptions during `Iterator#next`?"
Many iterators are used as impure representations of pull-based streams. These iterators could throw during calls to `Iterator#next`, and those thrown exceptions would be translated to defects.

Should we handle those exceptions in `ZStream.fromIterator`, and convert those iterators to `Stream[Throwable, A]`?

[2020-01-20 13:57] iravid commented on #2663
Ah this is a dup of #2334.

[2020-01-20 13:57] #2663 closed

[2020-01-20 14:09] jdegoes commented on #2551
That can't be possible in general, only in specific cases. In general, a sink reading from a chunk of unknown size will only be able to consume a part of the chunk, leaving a remainder.

For example: let's say you are parsing JSON in a stream of bytes. Every chunk contains 1kb. If the sink parsing an array finishes after parsing 2 bytes from a 1kb chunk, then there is a surplus of 998 bytes. The r

[2020-01-20 14:19] vasilmkd commented on #2551
Can't wait to start working on this. Any ideas for migration strategy?

[2020-01-20 14:24] iravid opened #2664 "Compilation errors with Hydra on master"
Getting these errors:
[code]

From a chat with @dragos:

I'll take care of this if no-one gets to it before me.

[2020-01-20 14:33] vasilmkd commented on #2664
I think this is also the main hindrance when trying to import the zio codebase into IntelliJ. We might need to fix this in other packages as well, i.e. `streams`.

[2020-01-20 14:36] vasilmkd commented on #2551
@jdegoes @iravid Is the new outline in John's post at odds with the `Structure` code that allows for infinite horizontal append of streams?

[2020-01-20 14:41] iravid commented on #2551
I don't think so as you can always do `structure.process`.

Long term I intend to get rid of that in favor of moving `ZManaged` to an initial encoding and solving the scope leakage there, so it shouldn't affect the design here.

[2020-01-20 15:38] mschuwalow commented on #2551
@vasilmkd I would love to help out with this. Mind if we split this up?

[2020-01-20 15:41] jdegoes commented on #2649
It's confusing to see code in ZIO itself where both `traverse` and `foreach` are used in the same expression (I saw an example the other day). I expect other people will have that reaction, too—in their own code bases (if we can't enforce consistency internally, it's not gonna happen in corporate code bases).

The argument for "learning via Future" is compelling to me. But overall I feel of the 25

[2020-01-20 15:51] vasilmkd commented on #2551
There's more than plenty of work to be done. That's why I asked that we define a migration strategy.

[2020-01-20 16:02] jdegoes commented on #2551
The impending ZIO 1.0 will mark Streams as experimental so we will not necessarily have to preserve source or binary compatibility. I think the user-land API level changes should be pretty minimal. I can also see an incremental way to refactor stream (as proposed above). Sink will be a large change because the change is much more significant and so many of the sinks have hand-written state-machine

[2020-01-20 16:13] megri commented on #2661
Ah, I've only tried with RC17. I'll try it with a locally compiled release.

[2020-01-20 16:37] vasilmkd commented on #2551
The ZSink tests are currently tied to the state machine nature of ZSink, so they will require migration as well.

[2020-01-20 17:32] lvitaly commented on #2639
@softinio hi, I've created the pull request for this issue. Please review 😃

[2020-01-20 17:49] jdegoes commented on #2596
Closed in favor of #2551

[2020-01-20 17:49] #2596 closed

[2020-01-20 23:07] adamgfraser commented on #2664
Looks like I caused this so I will take care of it now.

[2020-01-20 23:43] neko-kai commented on #2649
We've had this discussion before. We've already had them deprecated before. We've already had them removed before for quite a few versions. They were already added back after being deprecated and removed due to their popularity, so tbh I think the ship has sailed on this. If anything, we might as well remove `foreach` methods, because no other library has them and the name is misleading because in

[2020-01-21 00:40] jdegoes commented on #2649
@neko-kai Fair criticism, but we've had a chance to live with the decision for a long time and see the effects even in ZIO's own code base (which is mixing both versions in the same expression!).

I'd rather not remove `foreach` and from everything I can see, a supermajority of people new to ZIO and FP use `foreach`, which I think speaks to its success among the target market.

Additionally, teach

[2020-01-21 00:43] jdegoes commented on #2649
Basically the world is divided into those who like the FP type classes and can already interact with ZIO through them (Scalaz or Cats), and those who couldn't care less about the FP type classes. Among the latter, it's further divided into those who have used Future traverse/sequence, and those who haven't, the latter being much larger.

It's natural vocal people will complain about the loss of fa

[2020-01-21 03:21] #2639 closed

[2020-01-21 03:22] softinio commented on #2639
@lvitaly Thank you!

[2020-01-21 04:51] mitsutaka-takeda opened #2668 "ZIO Test: Assertion.forall causes MatchError"
When I use Assertion.forall with non-List Iterable, it causes scala.MatchError because forall match the argument against List. Should we make more typesafe by making the signature of forall to Assertion[List[A]] or changing the implementation of forall to accept non-List Iterable?

[code]

[2020-01-21 05:57] thesamet opened #2669 "Add a version of ZIO#ensure that can tell if the effect succeeded, failed or interrupted"
Currently, there is no easy way to add a finalizer that can behave differently based on whether the effect completed successfully, interrupted or failed. I am currently achieving this with:

[code]

While the above seems to work, it would be nice to have a simplified API.

[2020-01-21 06:05] adamgfraser commented on #2668
@mitsutaka-takeda This was fixed in #2282 and will be included in the next release candidate.

[2020-01-21 06:13] adamgfraser commented on #2669
I will take this.

[2020-01-21 06:21] mitsutaka-takeda commented on #2668
Thanks! I missed the commit.

[2020-01-21 06:21] #2668 closed

[2020-01-21 07:30] regiskuckaertz commented on #2649
It may be a good idea to clearly state on the site that ZIO is a pure FP library whose primary audience is imperative programmer. Indeed the only one. Just to set expectations.

[2020-01-21 07:45] regiskuckaertz commented on #2669
`onInterrupt`, `onError`, etc?

[2020-01-21 07:47] adamgfraser commented on #2669
I was thinking just `ensuringExit` but could also have more specialized combinators.

[2020-01-21 07:49] regiskuckaertz commented on #2669
They exist already. Perhaps should be called `ensuringOnInterrupt` instead

[2020-01-21 07:54] regiskuckaertz commented on #2551
While we’re negotiating the contract can we pick a name for it? There is consensus in the streaming literature for what a sink is, which is at odds with this abstraction. What do you think?

[2020-01-21 07:56] adamgfraser commented on #2669
Good point. Personally I think the existing names are pretty clear so we could just add `ensuringExit` if people want to specify all finalization logic in one place.

[2020-01-21 08:02] regiskuckaertz commented on #2669
I agree they make sense and ensuringExit is great; I think they will be more discoverable if we prefix them all similarly, then the intent will be crystal clear. What do you think?

[2020-01-21 08:10] adamgfraser commented on #2669
I'm neutral. Definitely has some nice symmetry but also longer and maybe an unnecessary change for marginal benefit at this point?

[2020-01-21 08:18] thesamet commented on #2669
There's another nuance for the original request for a simplified API that I'd like to clarify. It looks like there's a lot going on inside the `Cause[E]` - it is extended by cases named `Meta`, `Then`, `Both`, `Traced`, `Empty` which are unclear what they imply if they came back under the `Failure` branch of the `Exit`. From a user perspective, my natural tendency was to try to pattern-match on th

[2020-01-21 08:24] adamgfraser commented on #2669
Good point. I think `interrupted`, `died`, and `failed` are the preferred approach for this case. Agreed about the need for improved documentation.

[2020-01-21 09:05] arjun-1 opened #2670 "ZIO Test: omitting a mock from Expectation results in an exception"
Recently I started using zio-test successfully with mocks. An example of such a mock I used:
[code]
Whenever we omit a mock from the Expectation, e.g.:
[code]
In that case, my test will fail with a not so helpful error message:
[code]
it does not tell what went wrong, nor whether I should look for my mistake in production or test code :). As was mentioned in the Discord channel, this appears to be

[2020-01-21 09:08] regiskuckaertz commented on #2669
I'm not sure. I'm used to `on*` because that's the convention in the javascript world, but you don't find it very often in Scala. I can only think of `future.onComplete`. The fact that @thesamet didn't see `onInterrupt` or `onTermination` is quite telling. Besides, `ensuringExit` will subsume them all.

[2020-01-21 11:25] jdegoes commented on #2551
@regiskuckaertz I think "source" and "sink" are natural duals: a source produces A's and a sink consumes A's. For historical reasons, though, we call the "source" a "stream" instead.

Why doesn't this seem to be a sink?

It consumes some number of A's (possibly infinite) before being done. The only real differences between this sink and some sinks is that this one doesn't have to consume all eleme

[2020-01-21 12:21] iravid commented on #2664
@adamgfraser #2667 did not fix the issue, so reopening this.

[2020-01-21 12:35] adamgfraser commented on #2664
Okay. At this point there is no difference between the implementation in ZIO Test and the ones in Core that I can tell. Possibly there is some implementation detail of class loading? We should probably change them all to remove the circularity to avoid this. Will work on later today.

[2020-01-21 12:36] iravid commented on #2664
Is it possible to move `PlatformSpecific` up to `zio.test` like Iulian suggested?

[2020-01-21 12:36] jdegoes commented on #2621
@evis Thanks for the great suggestion!

I think we should have a separate project for this, `ZIO Stdlib` / `ZIO Syntax` or something, which can have quite a few enrichments in it for classes in the standard library.

Because the problem with enrichments in core is determining when to stop: in ZIO core we could only include a couple (which ones???). But in a separate project we could really have a

[2020-01-21 12:36] #2621 closed

[2020-01-21 12:37] adamgfraser commented on #2664
I think so.

[2020-01-21 12:38] iravid commented on #2664
Ok. Let me know if I can help.

[2020-01-21 12:52] regiskuckaertz commented on #2551
I agree, the nuance I see is that `ZSink` not only consumes but also transforms elements. A sink usually means the end of the stream (the end of the world, so to speak), whereas in ZIO stream it is more often used as a transformation step before the end of the stream. Unbounded streams would almost always terminate with a `foreach` or a `mapM`, imo.

[2020-01-21 13:01] jdegoes commented on #2551
@regiskuckaertz Any sink that emits a value could be considered "transforming" elements, but it's not a true transform: it's more like parsing. Consuming some number of input characters, and producing a value. In order to "transform" using a sink, you need an operator like `transduce` that can repeatedly use the same parser (sink) to produce multiple sink values.

I think that's a logical conseque

[2020-01-21 13:15] regiskuckaertz commented on #2551
Yes, I see where you're coming from. I cannot help but feel this doesn't sound right, still, because:

You also need `run` to consume all the elements with a sink, don't you? In our formulation, we have put all the streaming combinators in `ZStream`, but we could have as well put them in `ZSink` because parsers (in the sense described [here](https://lexi-lambda.github.io/blog/2019/11/05/parse-don-

[2020-01-21 13:23] adamgfraser commented on #2551
Could you call it a `Channel`? I think the `Sink` justification makes sense and has the advantage of using an existing name, but I could also see the conceptualization of passing values through an effectual channel.

[2020-01-21 13:31] jdegoes commented on #2551
Running a stream with a sink consumes only as many elements necessary to produce the single value produced by the sink (indeed, sinks can only ever produce one value), which could be `(): Unit`, and then discards the rest of the stream.

That's not precise though: remember, a sink peels off a certain number of elements to produce a single value. That's not sufficient to implement any stream operat

[2020-01-21 13:36] regiskuckaertz commented on #2551
Ah yeah, I understand. There is an end state to a sink and you need an external "hand" like `transduce` to reset it to its start state. That makes sense 👍

@adamgfraser I've gone through the whole plumbing thesaurus in my head, I like Channel 😅

[2020-01-21 13:41] jdegoes commented on #2551
There are three primary abstractions in streaming:

 - sources: These produce elements
 - transducers: These transform sources to other sources
 - sinks: These consume elements

In ZIO stream, these are Streams, Stream => Stream functions, and sinks, respectively. In Akka stream, these are sources, flows, and sinks, respectively. In iteratees, these are enumerators, enumeratees, and iteratees, res

[2020-01-21 13:47] jdegoes commented on #2551
The problem is that it's not a property of sinks that allows you to "transform" values: the sink itself does not have this structure. Sinks just eat some number of A's to produce a single B, before being permanently and irretrievably done.

Like a `Parser[Int]` which eats off characters until it spits out an `Int`. Rather, the "transformation" aspect must be done outside the sink, using a driver (

[2020-01-21 13:50] arjun-1 opened #2671 "ZIO Test: no equivalence between `*>` and `flatMap` from Expectation"
While using ZIO Test, I found some peculiarity which I cannot wrap my head around :sweat_smile:. Using the `*>` operator on Expecation, I created the following working mock:
[code]
Looking at the definition of `*>` :
[code]
This should be equivalent to:
[code]
In my case however, it is not. A test that previously succeeds, now fails with the error:
[code]

[2020-01-21 13:51] adamgfraser commented on #2551
Makes sense. Thanks!

[2020-01-21 13:55] jdegoes commented on #2551
I also think that even though through transduction, you can do a lot with sinks, ultimately, their most common application is being databases, files, Kafka streams, etc. We just can't do that now because we lack a way to describe a sink that opens and closes a resource. So all our sinks are parser-oriented, which skews them away from a more Akka-like intuition for what a sink is meant for.

[2020-01-21 13:59] jdegoes commented on #2671
These should be the same. Actually I'm surprised you can do `flatMap` on Expectation.

Thanks for reporting!

[2020-01-21 14:04] Vilkina commented on #2269
I need some help with benchmark ...

[2020-01-21 14:18] Vilkina commented on #2271
Are there any Methods still exists for implementing? (:

[2020-01-21 14:22] pk044 commented on #2271
@Vilkina I added only 4 functions so you can go ahead and browse https://www.scala-lang.org/api/current/scala/collection/immutable/IndexedSeq.html and implement what's useful and missing from `Chunk` :+1:

[2020-01-21 14:26] regiskuckaertz commented on #2551
I didn't want to say it out loud, but since you've been using the A-word, I was indeed comparing with the Akka vocabulary 😊 My initial thought was that `ZSink` was more like `Flow`, but I now see where I was wrong.

[2020-01-21 15:14] jdegoes commented on #2619
How would this be different than `check`?

[2020-01-21 15:23] adamgfraser commented on #2619
I think it would just be an infix version of `check`, maybe it should just be called that:

[code]

We could also have an effectual variant.

[2020-01-21 15:38] jdegoes commented on #2619
The bad thing about this is the ordering in `a.check(b)` is actually `b` and then `a`, whereas, with `STM.check(b) *> a`, it is `b` and then `a`.

Overall I am not sure if the savings in typing is worth the added overhead of a new operator?

[2020-01-21 15:40] adamgfraser commented on #2619
That's fair. I agree it is very marginal.

[2020-01-21 17:01] jdegoes commented on #2551
I'm just returning to this requirement. Let's say we want sinks to be able to emit information in progress (state), and allow compositions on this value.

That's a natural generalization of what's proposed above: namely, instead of using `Unit` in the proposed type signatures, use a new type parameter `I`:

[code]

The definitions are still symmetric, with each type having the exact same structure

[2020-01-21 17:16] ioleo commented on #2670
@jdegoes Yes, I'll do it tomorrow.

[2020-01-21 17:17] adamgfraser commented on #2670
@ioleo Thank you! 🙏

[2020-01-21 19:24] iravid commented on #2551
I'm 👍 on this design - looks very rich with lots of composition opportunities. We'll need to make sure we can still do pure/pure sink fusion, but that appears possible.

Two notes re stream:
- We disallowed scope failures, setting `E = Nothing` for the `ZManaged`, as otherwise it would have been impossible to write the element-level error recovery combinators. It might be fine on ZSink, as we can

[2020-01-21 19:25] iravid commented on #2551
Regarding migration strategy, I don't think an incremental upgrade is necessary. We can just do a big migration, as appropriate in ZIO ;-)

[2020-01-21 19:31] iravid commented on #2551
Here's a possible plan:
- We setup a new branch, `feature/zsink-upgrade` on this repo;
- We start formulating the new ZSink in package `zio.stream.experimental`- contributors can send PRs against `feature/zsink-upgrade` and everyone can port combinators independently.
- ZStream combinator ports can be added as implicit class syntax in the `zio.stream.experimental` branch.
- Once we're ready, we re

[2020-01-21 19:33] vasilmkd commented on #2551
I'd also like to stress that we need to improve our test coverage (including writing better already existing tests), and this is the perfect opportunity for that.

[2020-01-21 20:50] iravid commented on #2664
Fixed in #2673.

[2020-01-21 20:50] #2664 closed

[2020-01-21 20:51] iravid commented on #2571
Sure, that'd be a good change.

[2020-01-21 22:23] ajaychandran commented on #2571
Thanks.
To minimize impact, I am gonna go with the first option.

[2020-01-22 05:48] #2669 closed

[2020-01-22 06:27] #2571 closed

[2020-01-22 08:20] danieljsun opened #2679 "Why new instance of TQueue created many times in this example test?"
[code]

It may looks strange that `flatMap` the `itemsIO` twice, but the above test is a simplified version of scenario where I have a Service (following the Module pattern) with a few APIs. Those APIs all use a private field of `UIO[TQueue]` which I hope to achieve atomicity of the Queue access (e.g. offer/take/etc).
Please do let me know if I have approached it wrong and a proper ZIO way to do m

[2020-01-22 08:53] vasilmkd commented on #2669
We have a slight inconsistency now. I believe in `ZManaged` this is called `onExit`. Also, `ZStream` would benefit from this combinator as well.

[2020-01-22 11:45] adamgfraser commented on #2669
That is a great point. I will do a follow up to rename it to `onExit` and to add to `ZStream`.

[2020-01-22 11:48] vasilmkd commented on #2669
We should decide if we want to stick with ensuring or onExit. I'm not sure what I prefer.

[2020-01-22 11:50] adamgfraser commented on #2669
I kind of like `onExit` but you are right. We should also consider that we already have `onExit` and `onExitFirst` in the wild, so if we are neutral between then using that would be the alternative that does not cause breakage for users.

[2020-01-22 12:30] adamgfraser commented on #2669
Just pushed a PR for the renaming. I left adding `onExit` to stream out of that one because it seems to have some complexities in terms of the scope of the managed versus the pull that needed more thought.

[2020-01-22 14:00] vasilmkd commented on #2551
We already do that for the current managed sinks, it seems to work fine. Also, I expect the stream to continue to be the driver of the interaction.

[2020-01-22 14:23] adamgfraser commented on #2679
`itemsIO` is an effect that creates a `TQueue`, so you are creating two separate queues and offering an element to one queue and then taking all elements from a different queue. You can just create the queue once and the offers and takes will still be transactional.

[2020-01-22 14:24] adamgfraser commented on #2661
@megri Did you get a chance to try this?

[2020-01-22 17:15] vasilmkd opened #2684 "zio.stream.Take could use a scaladoc"
Title.

[2020-01-22 17:37] #2670 closed

[2020-01-22 17:38] adamgfraser commented on #2462
Discussed this with @saraiva132 and I will pick this up.

[2020-01-22 18:48] ioleo commented on #2671
@jdegoes We use `flatMap` to combine expectations in orderly manner. This one slipped under the radar becouse I always used the shorthand syntax. The fix adds appropriate regression suite.

[2020-01-22 20:25] adamgfraser commented on #2671
@ioleo Do we use the power of `flatMap` anywhere? That is do we ever use the result of one expectation to dynamically create the next expectation? In every case I have seen we have sequential ordering of expectations but we aren't creating them dynamically (e.g. all combinations of expectations could be written using `*>`). If so we could remove `flatMap` and implement everything in terms of `zipW

[2020-01-22 20:26] #2671 closed

[2020-01-22 20:41] ioleo commented on #2671
@adamgfraser @jdegoes yes, we do need `flatMap` to support `for-comprehension`

for small suites `*>` is perfectly fine, but for larger suites this may be preferable:

[code]

[2020-01-22 20:44] ioleo commented on #2671
Arguably, the same can be achieved with

[code]

[2020-01-22 20:45] adamgfraser commented on #2671
Okay, we may want to consider whether the syntax is worth providing the "unnecessary"  power of a monad versus an applicative and the resulting lack of ability to do static analysis.

What happens if a user does try to capture the result of one expectation and feed it to another?

[2020-01-22 22:46] jdegoes commented on #2671
👍 on deleting

[2020-01-23 04:05] adamgfraser commented on #780
I am working on this.

[2020-01-23 04:44] danieljsun commented on #2679
Thanks @adamgfraser

[2020-01-23 04:44] #2679 closed

[2020-01-23 09:09] Vilkina commented on #2269
https://github.com/zio/zio/pull/2672#partial-pull-merging

[2020-01-23 11:47] ioleo opened #2692 "ZIO Mock: mocking composed environments"
Given a program that depends on more modules, eg:

[code]

We can construct individual mocks for `Console` and `Random` expecting each to be called twice, then convert them to mock implementations and provide to the program.

[code]

However the relative order in which the metods were called will only be checked within each service's scope.

So the mocks will check that `nextLong` was called after

[2020-01-23 11:55] jdegoes commented on #2692
Definitely worth thinking about this post-`Has` to see if we can enrich composition properties of the mockable data types.

[2020-01-23 12:01] ioleo commented on #2692
Also this can be extended to `Spyable` @adamgfraser

[2020-01-23 12:21] adamgfraser commented on #2692
Very interesting. We should definitely come back to this.

[2020-01-23 13:18] adamgfraser opened #2693 "Can We Do More To Preserve Combined Errors?"
Right now if we have a `Cause` composed of multiple `Fail` cases, we risk losing information when we use most error handling combinators. For example:

[code]

`foldM`, which almost all error handling combinators are derived from, uses `Cause.failureOrCause` internally which returns the first checked exception, if one exists.

I'm not sure what to do here as in a way it is an inherent limitation o

[2020-01-23 14:10] #2418 closed

[2020-01-23 15:39] jdegoes opened #2694 "Add "any" layers for all services in ZEnv"
Right now, every service has a `*.live` layer, e.g. `Clock.live`, which is a `ZLayer[In, Error, Out]`.

This is useful to wire together production implementations of services. However, sometimes, in wiring or providing part of an environment, a service needs something, and it doesn't matter if it's live or test or whatever.

To make this just a bit simpler, we can define the following layers insid

[2020-01-23 15:41] adamgfraser commented on #2694
I will add this now.

[2020-01-23 15:52] mschuwalow commented on #2694
This will be super useful. That pattern came up a lot while migrating the codebase

[2020-01-23 17:23] #2694 closed

[2020-01-23 20:23] evis opened #2696 "ZIO Test: Warn if non-object extends DefaultRunnableSpec"
If we make a mistake and use a class instead of an object to create a test, there is no message about this from `sbt test`.

e.g.:

[code]

[code]

It would be nice to provide a message like this:

[code]

I spent 15 minutes today trying to figure out, why my test which should fail doesn't invoke at all. :(

If we replace `class` with `object`, then the test fails as expected.

[2020-01-23 20:26] evis commented on #2696
Maybe, another option is to simply run such tests as is.

[2020-01-23 20:30] adamgfraser commented on #2696
Yes, that would be a nice feature. I don't think we can prevent classes from inheriting from `DefaultRunnableSpec` so I think we would need to do something in the SBT test runner to detect those situations and display a warning. Not sure off the top of my head what ev

[2020-01-24 05:09] #2615 closed

[2020-01-24 09:31] iravid opened #2698 "Subtle inconsistency between ZManaged#onExit and ZManaged.makeExit"
Signatures:
[code]

`makeExit` provides the `release` function with the `Exit` value resulting from `ZManaged#use`. `onExit` provides the `cleanup` function with the `Exit` value resulting from the `acquire` function.

Do we need a version of `onExit` that provides access to the `Exit` value from `ZManaged#use` as well?

@vasilmkd @mschuwalow @adamgfraser

[2020-01-24 09:33] vasilmkd commented on #2698
I just commented something similar to this in #2682. To me, it comes down to whether we get more expressive power with that combinator. Can't the `Exit` value from `ZManaged#use` be handled on the `ZIO` value of `use` itself?

[2020-01-24 09:38] iravid commented on #2625
I'm 👍 on `ZStream.fromInputStreamM` and `ZStream.fromInputStreamManaged`. Arguably the latter is less justified because it'd be defined as `ZStream.managed(managedIS).flatMap(ZStream.fromInputStream)`, but I wouldn't mind the shortcut.

Ditto for the ZSink OutputStream variants.

[2020-01-24 09:39] vasilmkd commented on #2698
We have to be careful not to create an even bigger inconsistency with `onExit` on streams, if we decide that we are going to offer the stream error `E`, which is a _third_ type of error in that case (one being the `Nothing` on the `acquire` of the scope, and the arbitrary `E1` from `ZManaged#use`.

[2020-01-24 09:42] iravid commented on #2625
I would suggest for this issue:
- Add a note to `fromInputStream/fromOutputStream` that these constructors do not close the IS/OS
- Add `ZStream.fromInputStreamM`, `fromInputStreamManaged`

[2020-01-24 09:43] iravid commented on #2584
Closing this - if there's an operator missing, please open a specific issue.

[2020-01-24 09:43] #2584 closed

[2020-01-24 09:45] iravid commented on #2525
Fixed in #2524 - thanks @vasilmkd!

[2020-01-24 09:45] #2525 closed

[2020-01-24 09:47] iravid commented on #2546
Fixed in #2600 - thanks @dkarlinsky!

[2020-01-24 09:47] #2546 closed

[2020-01-24 09:52] vasilmkd opened #2699 "Queue.sliding `offer` clarification"
I have been slightly bitten by the `def offer(a: A): UIO[Boolean]` method on the _sliding_ `Queue[A]`. My expectation is that there should _always_ be a place for a new element in the queue, at the expense of the oldest one (first one at the front) being dropped (a reasonable choice IMO), and therefore the return value of the method should _always_ be a `true`. But it seems that is not always the

[2020-01-24 09:57] iravid commented on #2693
I'm in agreement with the general sentiment of the issue. However, I don't think we should automatically aggregate failures for users in general combinators like `catchAll`. My intuition says that this sort of feature is more suitable for enhancing the execution trace, whereas error aggregation is something the user should choose to do explicitly (and we should provide convenient combinators for d

[2020-01-24 10:02] ghostdogpr commented on #2699
The reason it’s not hardcoded to `true` is that `offer` is implemented using `offerAll`, and if you `offerAll` a number of items higher than the queue size, some items will be discarded. So in practice I don’t think you will ever receive false if you use `offer`.

[2020-01-24 10:06] vasilmkd commented on #2699
Except that I do, in this PR, unless I am mistaken, but I don't see some of the elements being dequeued. The issue is, when there is an error from a stream pull, I block on the last enqueued promise, until it is taken out of the queue (and it shouldn't ever be dropped, because I don't enqueue anything after it), yet the program hangs. #2666. @ghostdogpr

[2020-01-24 10:10] iravid commented on #2698
The usecase here is appending a finalizer to an existing `ZManaged` (in the same way `ZManaged#ensuring` does).

[2020-01-24 10:16] vasilmkd commented on #2698
If we can be more explicit by doing `managed.use().catch` for handling the `use` error, we should do it that way. If we are appending a finalizer to the `managed` we should be handling the `acquire` error. The finalizer on the `managed` should be unaware of the errors of `use`. We have types, we should use them. Thoughts?

[2020-01-24 10:23] iravid commented on #2698
Disagree :-)

[2020-01-24 10:25] vasilmkd commented on #2698
Then I guess we have our answer. 😆

[2020-01-24 10:27] iravid commented on #2698
Hehe, no, I don't know if the additional version of the combinator is required. I was disagreeing with the notion that `managed.use().catchAll` can replace the usecase here.

The entire premise of `ZManaged` is constructing acquire/release pairs in a manner that is decoupled from the use site. If you accept this premise, then being able to append a finalizer that differentiates between failure/suc

[2020-01-24 10:37] vasilmkd commented on #2698
You are right, that cannot be expressed with `use.catch`. So we should have it as a combinator with `Exit[Any, Any]`.

[2020-01-24 10:50] vasilmkd commented on #2698
Can we even have a combinator that accepts the `ZManaged` `E` error? I thought no finalizers are executed if the `ZManaged` doesn't enter the scope. I remember explicitly writing tests for this in streams.

[2020-01-24 10:54] iravid commented on #2698
If creating the reservation fails, no finalizer are executed. If acquire fails, the finalizer is still executed.

[2020-01-24 13:03] regis-leray commented on #2625
OKi thanks, i will take care today.

[2020-01-24 13:35] adamgfraser commented on #2619
Shall we close this?

[2020-01-24 13:57] vasilmkd commented on #2698
Here are some ideas that were thrown around in a discussion with @iravid, for posterity:

`onExit` is tied to the `ZManaged` itself and should deal with `Exit[E, A]` (but I need someone to convince me that it is _safe_ to use the `A` in this finalizer, and how it ties to the `release: A => ZIO[R, Nothing, Any]`, especially when we factor in `onExitFirst`.

`onUseExit` is tied to `ZManaged#use` and

[2020-01-24 15:13] vasilmkd commented on #2699
I'd really love an explanation of the following. It seems that the decision comes from this line:
https://github.com/zio/zio/blob/9294751fb10beb959499bb8b8ec4769f5b501a0f/core/shared/src/main/scala/zio/ZQueue.scala#L394.
Why is this line executed at the creation of the effect, not for example at the effect execution time? It seems counter-intuitive to me. Thanks.

[2020-01-24 15:36] ghostdogpr commented on #2699
Indeed this line seems problematic. If a concurrent operation adds or removes items while we’re sliding the queue, that Boolean will be wrong.
It seems the only way to get it right would be to collect the items we pull from the queue (instead of just dropping them like now) and check if one of them belong to the input list. If yes, return false (we dropped an item we offered), otherwise true. WDYT

[2020-01-24 15:43] vasilmkd commented on #2699
Something needs to be done here definitely. Your proposal seems very reasonable.

Let me see if I'm understanding this correctly. Let's say we have a queue with capacity 2, already filled with 2 elements, and we are trying to offer 5 elements to the queue. Given no other concurrent offers or takers, we should end up with the last 2 of the 5 elements into the queue, the first 3 elements of the list

[2020-01-24 17:09] scofirat opened #2701 "Unexpected behavior: zio.map assumes the function succeeds"
zio.map assumes the function succeeds, making codes such as the following throw exceptions:

zio.map(unsafeFunctionThatThrowsException).orElse(default())

[2020-01-24 17:15] adamgfraser commented on #2701
`map` applies a pure function, meaning one that doesn't throw exceptions, to the result of a computation. If your function can throw exceptions you can use `task.(a => ZIO.effect(f(a))).orElse(default)` to safely capture the throwable in a `ZIO` value an recover from it.

[2020-01-24 18:04] jdegoes opened #2702 "Make Fiber a sum type"
Currently, many methods on Fiber return an `Option`, which is a growing design smell, caused by the fact that there are, conceptually, two distinct types of fibers:

 - A real fiber. These fibers are executing effects until completion.
 - A non-real fiber. These fibers are created from pure values, or from combining existing fibers.

Having an imprecise single trait that is returning option for va

[2020-01-24 19:09] saraiva132 commented on #2702
I was taking a look at `Fiber` and what would the necessary changes to make a `Fiber` a sum type and I could not help but wonder at this statement:

[code]

[2020-01-24 20:02] adamgfraser commented on #2702
I will work on this.

[2020-01-24 20:05] jdegoes commented on #2702
@saraiva132 Not poll, that's an exception, predates the other ones...

[2020-01-24 20:05] jdegoes commented on #2702
*almost all

[2020-01-24 20:35] simpadjo opened #2714 "ZIO#timeout terminates too late"
Version: master branch on Jan 21

Try to set a timeout to a task. I expect that the task will complete as soon as timeout expires but it doesn't happen:

[code]

It prints

[2020-01-24 20:38] adamgfraser commented on #2714
`Thread.sleep` is a blocking call. To handle blocking call you use to use `blocking(Task(???))` or `effectBlocking(???)`, or one of its variants to properly allocate it to the blocking threadpool and allow the ZIO runtime to properly timeout the effect.

[2020-01-24 20:44] simpadjo commented on #2714
I tried

[code]
and

[code]

Same result :(

[2020-01-24 20:47] adamgfraser commented on #2714
Can you try `effectBlockingInterrupt` please?

[2020-01-24 20:56] simpadjo commented on #2714
This one worked, thank you!
Shouldn't it be a default behavior for `ZIO#timeout`?

[2020-01-24 21:00] adamgfraser commented on #2714
It's funny, we recently changed the behavior regarding this. The issue is that `timeout` interrupts the effect if it does not complete within the specified time, but the interruption effect doesn't return until the effect has been successfully interrupted because we don't want to have resource leaks.

Previously, `effectBlocking` attempted to interrupt the effect by interrupting the underlying run

[2020-01-24 21:26] simpadjo commented on #2714
Makes sense. But OTOH current semantic is
1) astonishing (at least for me)
2) doesn't allow local reasoning about it
Maybe this method deserves an additional parameter `InterruptionMode = WAIT | INTERRUPT | YOLO`

[2020-01-24 23:13] jdegoes commented on #2551
I'd prefer to go for the fully polymorphic versions and just use `Unit` for now (with `I` and `B`) until we have time to add useful combinators. Adding combinators can be done backward-compatibly. Possibly we could do a Scalafix to rewrite `ZStream[R, E, A]` into its equivalent, etc.

@iravid

I'm not sure I understand why this is required. Also in general, acquisition of a "pull" or acquisition o

[2020-01-24 23:46] ghostdogpr commented on #2699
@vasilmkd yeah that’s correct. You want to try fixing it? Otherwise I can work on a fix tomorrow (today is new year celebration where I live 😅).

[2020-01-24 23:54] vasilmkd commented on #2699
Happy new year then! Honestly, I have worked around the limitation for the moment, so there's no rush. It seems that it is safe to assume that each 1 element offer implicitly returns `true`. So if you don't mind, since it's your idea and you seem to know the code quite well, I am going to leave this one to you. 😄

[2020-01-24 23:57] ghostdogpr commented on #2699
Sure, makes sense!

[2020-01-25 00:00] vasilmkd commented on #2551
@jdegoes If you could that would be great. I'd be really interested to take a look.

[2020-01-25 02:49] ghostdogpr commented on #2699
This is more complicated than I thought. To have the exact information whether any input items has been dropped, we would need to compare the dropped items with the input items, but we can't do that because they might be values and not references (e.g. if `A` = `Int`).

Instead, we could return `false` if _any_ item was dropped (not just from the input list). What do you think? Any better idea?

[2020-01-25 06:29] iravid commented on #2551
@jdegoes The issue is that given `stream: ZManaged[R, E, Pull[R, E, A]]`, a potential element-level error handling combinator eliminates the error on `Pull`. However, you're still stuck with the errors on the `ZManaged`. Eliminating those has different semantics than error handling pulls.

Moreover, I think we just figured that errors on acquisition aren't as useful. For example, `ZStream.managed`

[2020-01-25 07:04] iravid commented on #2551
I setup a branch on this repo called `feature/zstream-zsink-encodings` with the new definitions in the `experimental` package. Feel free to start porting combinators and constructors. I will setup an issue with a list soon.

[2020-01-25 12:26] jdegoes commented on #2551
@iravid Right, I would imagine that element-level error combinators would not change the error type of the stream: that is, handling element-level errors would not eliminate errors altogether. We could fix that through ever more type parameters (type to acquire, type to pull).

The problem with deferring acquisition is that it very easily leads to resource leaks: in the `use` section of the manage

[2020-01-25 12:59] vasilmkd commented on #2551
I guess that new encoding for `ZManaged` might help with the semantics and naming issues that are being discussed in #2698

I know @iravid has had objections against multiple error types before.

Regarding the `ZStream.managed` interruption safety, I think it has been coded carefully enough and there should be enough tests for it to continue working well for the time being.

[2020-01-25 13:02] jdegoes commented on #2551
@vasilmkd Yeah, I think adding multiple error types may not be the correct solution. But if we go with "lazy acquisition" we should go all-in and refactor managed to have direct support for that paradigm.

[2020-01-25 13:05] vasilmkd commented on #2551
Of course, I only meant until the changes to `ZManaged` become available. 😄

[2020-01-25 13:09] iravid commented on #2551
@jdegoes the resources are acquired following the ZManaged protocol (uninterruptible reservation, interruptible acquisition) even though acquisition is deferred to the first pull, so there’s no unsafety currently

[2020-01-25 13:11] iravid commented on #2551
@jdegoes btw, @mschuwalow has a ResourceT-like constructor implemented using  ZManaged. So they’re probably equivalently expressive (also see ZManaged#withEarlyRelease)

[2020-01-25 13:13] jdegoes commented on #2714
@simpadjo You can use `timeoutFork` to get the behavior you want.

I'm not sure which one is more common. In general code that cannot be interrupted in an anti-pattern; and using `Thread.sleep` in ZIO is also an anti-pattern.

`timeout` gives you the guarantee it will not return until the loser is killed, which allows avoiding resource explosion; OTOH when used with "uninterruptible" effects, it m

[2020-01-25 13:14] #2702 closed

[2020-01-25 13:32] jdegoes commented on #2551
All right, sounds like we're all on board:

1. Make "lazy acquisition" the default in the new ZManaged by switching the implementation to a ResourceT-like construct (as well as optimizing it, or maybe even internalizing it in ZIO proper);
2. Only allow "error recovery" inside the `use`, thereby unifying acquisition and pull / push errors.

A maybe unanticipated effect of (2) is that a retry combin

[2020-01-25 13:36] vasilmkd commented on #2551
There might be a case with Sinks that cannot be properly expressed with this encoding. I don't currently see a way to open a resource in a sink, execute 0 Pushes and exit the scope with a `B`.

@jdegoes Thoughts on this?

Also, we might want to swap `E` and `B` because `Left` seems more closely associated to an error situation.

[2020-01-25 13:42] iravid commented on #2551
@vasilmkd Good point. But maybe it'd make sense for sinks that do not have a default result to use `Option`.

[2020-01-25 13:46] vasilmkd commented on #2551
Sorry, can you elaborate a bit more? Is this regarding the first point of my comment or the error type? I can't seem to figure it out.

[2020-01-25 13:48] iravid commented on #2551
This is in response to your first point. Since we're polymorphic in `B`, when constructing a sink, you can account for the fact that no pushes have occured by using `B = Option[C]` for some type `C`.

[2020-01-25 13:50] vasilmkd commented on #2551
The thing is, all pushes require an input, and that would have to be returned as a remainder, further complicating the situation.

[2020-01-25 13:52] vasilmkd commented on #2551
Simplest example, how can a Sink.collectAll return a Nil if it's forced to consume an input before it is even initialized (just imagine there can be an error during init).

[2020-01-25 13:55] iravid opened #2719 "Port ZSink constructors and combinators to the new encoding"
See current design in https://github.com/zio/zio/issues/2551#issuecomment-578415241.

Submit PRs to `feature/zconduit`. Reply below to claim an item.

Constructors:
- [ ] ~await~ ported as `ZSink.head`
- [x] collectAll
- [x] collectAllN - port as transducer
- [x] collectAllToMap
- [x] collectAllToSet
- [x] collectAllToMapN - port as transducer
- [x] collectAllToSetN - port as transducer
- [x] coll

[2020-01-25 13:58] iravid commented on #2551
Not to me. I suggest that we continue this discussion on a concrete PR. wdyt?

[2020-01-25 14:09] iravid opened #2720 "Port ZStream combinators and constructors to the new encoding"
Submit PRs to `feature/zconduit`. Reply below to claim an item.

Constructors:
- [x] absolve
- [x] access
- [x] accessM
- [x] accessStream
- [x] apply(A*)
- [x] bracket
- [x] bracketExit
- [x] crossN
- [x] die
- [x] dieMessage
- [x] effectAsync
- [x] effectAsyncInterrupt
- [x] effectAsyncM
- [x] effectAsyncMaybe
- [x] environment
- [x] fail
- [x] finalizer
- [x] flatten
- [x] flattenPar
- [x] flat

[2020-01-25 14:11] iravid commented on #2551
@jdegoes @vasilmkd Ok to close this ticket in favor of more concrete ones (#2719, #2720 and further tickets if needed)?

[2020-01-25 14:25] iravid commented on #2701
Closing as ZIO does not catch when evaluating functions that are assumed to be pure.

[2020-01-25 14:25] #2701 closed

[2020-01-25 15:09] vasilmkd commented on #2551
I have a slight concern with the new encoding of `ZSink` when combined with empty streams. Currently:

[code]

How will this work with the new encoding. We cannot obtain a `B` from the sink without feeding it an element?

@jdegoes

[2020-01-25 15:25] jdegoes commented on #2551
@vasilmkd

Agreed.

It would be a mistake to use `B` for this—`B` is the type of value returned when the sink / stream is finished, and will be `Nothing` for many types of sinks intended for draining.

`I` is for "query", which is state information the sink can emit at any time; and for "command", which is instruction that can be sent to the stream at any time (e.g. change buffer amount, seek to a

[2020-01-25 15:43] iravid commented on #2551
The second formulation is also much less disruptive to the current encoding of ZStream. Like it 👍🏻

@vasilmkd want to send a PR to modify the encoding?

[2020-01-25 15:51] vasilmkd commented on #2551
@jdegoes Can you comment on the `Any` type of the push instruction?

[2020-01-25 16:15] simpadjo commented on #2714
Thank you, exactly what I wanted. Missed this method.

[2020-01-25 16:15] #2714 closed

[2020-01-25 16:52] jdegoes commented on #2551
If you don't make that Any, then the sink has to `.unit` which is more expensive

[2020-01-25 17:17] vasilmkd commented on #2551
But why not `Unit` instead of `Any`? Curious.

[2020-01-25 18:02] softinio opened #2721 "Upgrade mdoc Resolve mdoc upgrade issues"
- upgrade mdoc to latest version
- update code snippets in code to resolve these issues:
https://app.circleci.com/jobs/github/zio/zio/52156

[2020-01-25 18:54] jdegoes commented on #2551
Again, the output of push doesn't matter. Unit works but you don't need it to be Unit. If you force it to be Unit, then you force the sink to flatMap to a constant, which adds overhead.

See also: ensuring and release effects in ZIO

[2020-01-25 19:33] softinio opened #2722 "Should we move our docs from Docusaurus to Paradox"
# Paradox

https://github.com/lightbend/paradox
https://developer.lightbend.com/docs/paradox/current/

# Summary

I really like Docusaurus but I feel its adding a level of complexity to our project and build.

### Some benefits of Paradox

- Zero dependency on anything other than scala and sbt. This means no dependency on JS, yarn etc. All of this can be removed from our build process, local dev r

[2020-01-25 19:40] vasilmkd commented on #2551
Got it, so it's mostly an optimization, ok.

[2020-01-25 22:19] evis commented on #1182
@iravid @adamgfraser

[2020-01-25 22:25] jdegoes commented on #1182
@evis Thank you!!!

[2020-01-25 22:25] #1182 closed

[2020-01-25 22:38] vasilmkd commented on #2551
Sorry, I wasn't near a computer in the afternoon. Tomorrow.

[2020-01-26 01:34] softinio opened #2724 "Improvements to build process to include snapshot releases"
# Goals

- Would like to have regular snapshot releases so new features can be used and tested before release

# Plan

- [x] Add circlci Support to <https://github.com/olafurpg/sbt-ci-release> - done via <https://github.com/olafurpg/sbt-ci-release/pull/93> and this change is included in the latest release

- [x] Generate new PGP for release to Sonatype
- [x] Update circleci context with new PGP ke

[2020-01-26 12:34] scalavision opened #2725 "After `Make Fiber a Sum type` commit I get NoClassDefFoundError: zio/Fiber$Runtime"
I get this stacktrace:

<--snip-->
[code]
EDIT: Added more of the stacktrace
<--snip-->

From this code, when executing the `run` method, it uses Lihaoyis `os-lib` library, but I think this already is available in ammonite:

[code]

I have published the different commits locally and used them in my project. I am not that familiar with zio at the moment, so this might be only some local problem.

W

[2020-01-26 12:40] adamgfraser commented on #2725
@scalavision We made two different subtypes of fibers in that PR and had methods return the specific type of fiber. It looks like it is an issue where the compiler is not finding the new version of the file that has that class definition. I think if you clean and rebuild your project that may help.

[2020-01-26 13:04] scalavision commented on #2725
looks like you are correct @adamgfraser , sorry about the inconvenience!!!

I was using `mill`, seems it was not able to clean the project properly. Using sbt, everything works!

[2020-01-26 13:04] #2725 closed

[2020-01-26 13:16] adamgfraser commented on #2725
No problem at all! Thanks for using ZIO!

[2020-01-26 13:29] mijicd commented on #2724
Assuming everything goes as expected, we should create a follow-up to sync all of the other repositories, as well as the giter8 template.

[2020-01-26 22:04] #2642 closed

[2020-01-26 22:39] softinio commented on #2724
@mijicd @jdegoes @adamgfraser Above ZIO PR outlines the changes that needs to be make to our other repos to enable snapshots if needed.

For the seed best to base it on the `zio-actors` changes.

Success 🍷:

<https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio_2.12/>
<https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-actors_2.12/>

😀

[2020-01-26 22:40] softinio commented on #2724
cc @iravid  ^^

[2020-01-26 23:08] #2724 closed

[2020-01-27 04:39] thesamet opened #2734 "ZIO Mock: support methods that accept streams and/or produce streams"
Currently ZIO Mock supports methods that gets parameters and return an effect that produces a single value. The ask is to provide support for methods that produce/consume streams.

[2020-01-27 10:02] iravid opened #2735 "Add ZStream.fromIterableEffect"
Signature:
[code]

[2020-01-27 12:22] iravid opened #2736 "Add ZSink.count, ZStream#runCount"
Signatures:
[code]

[2020-01-27 12:23] iravid opened #2737 "Add ZSink.sum"
Signature:
[code]

Or possibly use `scala.math.Numeric` for defining the input type.

[2020-01-27 12:56] fanf commented on #1275
Some more information on the performance problem.

We did quite a lot of tests with our set-up, and there is a substantial performance change if you use 1/ only one thread pool and 2/ (this part is very important, else perf are almost unchanged) you remove all the explicit pool thread pinning, 3/ you don't use `effectBlocking` which also add logic about interruptability of underlying thread.

AFAI

[2020-01-27 12:58] jdegoes commented on #1275
@fanf Super useful writeup! Thanks for all your work on this.

[2020-01-27 13:01] iravid commented on #1275
Thank you for documenting your findings @fanf.

[2020-01-27 13:01] adamgfraser commented on #1275
@fanf Yes thank you and I think encouraging! We added logic to check if we are already on a thread pool and if so not shift there, so that should address your second point, and we changed the default `effectBlocking` to not add in interruptibility logic to your third point. So I think the "out of the box" behavior should be much better now. We just started doing nightly releases. I don't know if i

[2020-01-27 13:05] #2649 closed

[2020-01-27 13:13] fanf commented on #1275
@jdegoes @iravid @adamgfraser sorry I forgot one hyper-important thing: we were locked to `RC16` until now, because of #2373 and so, most of what I say may be less relevant now.
I will try the niglties ASAP to see (likely tomorrow, I need to split cleanly the different part).

Also: in hotspot, `tracing` is a performance killer, and it seems that marking an effect `untraced` does not propagate to

[2020-01-27 13:21] adamgfraser commented on #1275
@fanf Regarding tracing, can you say a little more about what you are seeing? It should be compositional, so making an effect untraced  doesn't impact other effects composed after that one but does impact any sub-effects composed into it. For example:

[code]

So you should be able to just call `untraced` at the top of your application or use `Runtime.withTracing(Tracing.disabled)` to disable it e

[2020-01-27 13:35] fanf commented on #1275
@adamgfraser ok, what you describe is what I expected to happen, but it's not what I saw. Does that hold if there is `fork`, or pool switch (ie `effect/effectBlocking`)?
And my observation can be just an artefact of the load system, I didn't investigated much.

[2020-01-27 13:42] ghostdogpr commented on #647
Closing after FunctionIO was removed.

[2020-01-27 13:42] #647 closed

[2020-01-27 14:10] neko-kai commented on #1275
@fanf Yes, tracing status should also be inherited by a fork (I think we have a test for that). The surest way to disable tracing completely is at `Platform` level - `platform.withTracing(Tracing.disabled)`

[2020-01-27 14:23] kolemannix commented on #2737
I would like to tackle this.

In addition, what about a `count` sink as well that simply counts the elements it receives and emits a `Long`?

[2020-01-27 14:25] fanf commented on #1275
@neko-kai : I would prefer to not do that. I want tracing everywhere, safe in some hotspot (where is an error happen, I have other way to know). Tracing by default is the correct default.
I will investigate that, most likely everything works as expecting and I moved several things at once somehow.

[2020-01-27 14:36] iravid commented on #2737
All yours @kolemannix!

[2020-01-27 16:07] kolemannix commented on #2736
I'll give this one a shot as well

[2020-01-27 17:20] jdegoes commented on #2722
Lightbend has little incentive to maintain their own doc builder... looks relatively inactive. Also we'd have to migrate all ZIO projects to the new one.

That doesn't mean we shouldn't do it, just consider carefully. While Docusaurus is "messy" in terms of dependencies, it isn't causing any real pains so far. Also with Docusaurus having a 2.0, we can benefit from many nice new features like searc

[2020-01-27 17:52] adamgfraser opened #2739 "Nonterminating ZIO#foreachPar Test"
May be related to recent optimizations of parallel combinators. Copying @horned-sphere.

[code]

https://circleci.com/gh/zio/zio/52762?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-01-27 18:20] #2619 closed

[2020-01-27 18:25] tylerprete commented on #2661
For what it's worth -- I just tried this on RC17 and on the latest snapshot. Was able to reproduce on RC17:

[code]

And then with the snapshot ```1.0.0-RC17+281-0351fa8d-SNAPSHOT"``` there was no error:
[code]

[2020-01-27 18:43] peterlopen commented on #2735
I would like to take this one.

[2020-01-27 19:29] adrianfilip commented on #2735
@peterlopen sorry, saw your comment after I started looking into it.

[2020-01-27 23:23] horned-sphere commented on #2739
@adamgfraser I'm really sorry about this. This problem was introduced by the fix for the last issue to make the accumulation of errors deterministic. Without the short circuit on non-nominal exit it needs to wait for every single task to hit the countdown latch. Unfortunately this is very hard to guarantee once it starts interrupting the tasks.

After some experimentation, I think Ive managed to p

[2020-01-28 02:03] kolemannix commented on #2737
Trying with this signature
[code]

There are some inconveniences to the caller
[code]
yields the unfriendly
[code]
In my experience this happens whenever one tries to be generic over Numeric. Is this satisfactory? It is resolved by specifying `ZSink.sum[Int]`. I don't believe overloading is the answer here, but hardcoding to `Long -> Long` seems a bit narrow.

Being generic also means using a `def

[2020-01-28 07:09] peterlopen commented on #2735
ok, np. just for reference, I was thinking about this solution:
`  def fromIterableEffect[R, E, A](fa: ZIO[R, E, Iterable[A]]): ZStream[R, E, A] =
    fromEffect(fa).flatMap(Stream.fromIterable)
`

[2020-01-28 07:55] adrianfilip commented on #2735
@peterlopen That looks better. You should make a pr.

[2020-01-28 08:57] peterlopen commented on #2735
thanks. will do.

[2020-01-28 08:59] adrianfilip commented on #2735
great. I closed my pr.

[2020-01-28 09:55] peterlopen commented on #2735
@iravid should name be just `fromIterable` ? based on other methods, i.e.: `def fromIterator[R, E, A](iterator: ZIO[R, E, Iterator[A]]): ZStream[R, E, A] = ...`

[2020-01-28 11:03] peterlopen commented on #2735
@iravid nvm, Effect in name makes sense as Stream.fromIterable already exists.

[2020-01-28 14:18] adamgfraser commented on #2739
@horned-sphere No worries at all! These combinators are tricky and this is an important one that is used in a lot of places which is why we're seeing these problems pop up. Thanks for being so on top of it. I will review your PR now.

[2020-01-28 14:29] fanf commented on #1275
I tested RC18 nightlies (`1.0.0-RC17+281-0351fa8d-SNAPSHOT`). After a bit of frustration with all the changes for a RC (no more `.succeed/.fail`, no more `.traverse`/`.sequence`, big change in services which disproportionnaly impact users like me with a lot of `unsafeRun`, my own `Runtime` implementation, my own `Blocking` services... - but I can hear that I'm in an extrem minority, and that it's

[2020-01-28 14:37] jdegoes opened #2746 "Increase keepAlive time of default thread pools"
The default thread pools in ZIO should utilize keep alive times of 60 seconds, rather than their current default of 1 second.

See `zio.internal`, including platform-specific files on JVM.

[2020-01-28 14:46] adamgfraser commented on #2746
I will take this.

[2020-01-28 14:53] #2462 closed

[2020-01-28 14:57] adamgfraser commented on #1275
@fanf That's great! I just pushed a PR suggested by @jdegoes to increase the default `keepAlive` time which should help with part of that. I'm also working on bringing back a version of the `defaultRuntime` which I should have later today. Let us know what you find regarding the remaining slowdowns and we can iterate on those as well.

[2020-01-28 15:15] fanf commented on #2649
I totally missed that question and for records, I'm adding a note - even if it was already dealt with in the yesterday PR.

From my point of view, FP has a huge, immense, fabulous advantage above all other paradigm we tried before it: it's building a common vocabulary with concept that are almost immediatly transposable from one language to an other. The corresponding vocabulary may be technical,

[2020-01-28 15:21] #2746 closed

[2020-01-28 15:33] jdegoes commented on #2649
I'm 👍 on `ZIO Syntax` to include a host of things like extensions on iterables, alternative names, etc.  But increasingly I do think ZIO core should provide one opinionated way to do things to make scaling in larger teams easier. Example: `ZLayer` is the way you do environments. It's a highly opinionated change that will make it much easier to adopt ZIO at scale (IMO: we will see, of course).

Som

[2020-01-28 15:42] vasilmkd commented on #2737
I wouldn't worry about the `def`. It's also ok for the type to be needed to be specified.

[2020-01-28 15:42] fanf commented on #2649
Yes, of course, and `Scala` core lib is not exactly the best example for naming... Actually because of exactly the same reason that you are advocating here. If only @odersky knew that ;)

(and for the record: I respect and I totally agree about enforcing consistancy and opiniated way of doings thing - that is not *at all* contradictory to using a common vocabulary and building up on decades of gia

[2020-01-28 15:50] iravid commented on #2737
We can add a shortcut on ZStream that will ease this issue:
[code]

[2020-01-28 18:18] adamgfraser opened #2750 "Unable to Interrupt Future in ZIO#fromFutureInterrupt Test"
Need to investigate this further. It is not obviously related to any recent changes we have made, but it has also been in our codebase for a decent length of time without any issues in testing so if it is a bug in the implementation or the test that has been there all along it is quite a infrequent one.

[info] ZIO Test
[info] - ZIOSpec
[info]   - fromFutureInterrupt
[info]     - running Future ca

[2020-01-28 18:45] #2735 closed

[2020-01-29 02:02] adamgfraser opened #2754 "Should Ref#update Return Unit?"
Right now the signature of `Ref.update` is:

[code]

In some cases it can be useful to get the updated value back but in many cases it can be suboptimal because we instead need to return a `UIO[Unit]`, requiring calling `unit` after each update operation. For example, from `TestRandom`:

[code]

From our own code bases, it appears that most usages discard the value, but there are some cases where

[2020-01-29 05:16] iravid commented on #2754
I always can’t remember if update returns the value before the update or the value after. So I’m in favor of more explicit naming and returning Unit for that one.

I like updateAndGet. Mirrors AtomicReference nicely.

[2020-01-29 06:26] regiskuckaertz commented on #2754
I think this type is necessary to obtain an atomic set-and-get.

[2020-01-29 06:27] adamgfraser commented on #2754
Well it could be done with `modify` but I agree it is nice not to have to return the tuple so would be good to keep a variant with the current type signature.

[2020-01-29 06:52] regiskuckaertz commented on #2754
Didn’t read the whole thing, totally in favour of a more explicit name 👍

[2020-01-29 07:19] softinio commented on #2722
@jdegoes I agree with your points so will close this.

Also FYI I did add search to the zio site you will see it next release :-)

[2020-01-29 07:19] #2722 closed

[2020-01-29 07:44] vasilmkd commented on #2551
@jdegoes It's still not exactly clear to me how `ZSinks` are supposed to be implemented and combined with `ZStream`.

You also mentioned that it would be a mistake to use the `B` for that purpose. Does that mean that `I` (or `M`) as we've started to call it will be the result type when a stream is `run` on a sink?

I'm also worried that we will start introducing remainders in places where there we

[2020-01-29 07:55] vasilmkd commented on #2551
How are the driver combinators to know that they have to switch from feeding the sink to querying it's state. What should they do if they encounter the `B`?

If you could take a look at `ZSink.collectAllN` in it's current form, how do you think it should be translated (just the type signature) to the new encoding? Thanks.

[2020-01-29 11:43] cheatmenot opened #2755 "fromJavaFuture interop"
currently, I need to convert the javaFuture to scalaFuture first before I can use Task.fromFuture (which is an overhead of converting one future to another and there is no "proper" way). Most of the libraries I used is Java based, so if possible can we add support for javaFuture interoperability, like Task.fromJavaFuture(). Thanks!

[2020-01-29 12:16] adamgfraser commented on #2755
Have you looked at [zio/interop-java](https://github.com/zio/interop-java)?

[2020-01-29 13:22] jdegoes commented on #2551
When you `run` a stream with a `sink`, you get back (at minimum) the `B` from the sink, just like now. What is "thrown away" are the `M` which are used for commands / queries. Eventually we may decide to change the run operation to link the command to the query, but for now we can throw it away.

No, not in general. I think for many of our existing "online" sinks, the state type (`M`) will be the

[2020-01-29 13:44] vasilmkd commented on #2551
I would love to be convinced, more than anyone. I wouldn't look twice before spending as much time as I've already spent developing the current streams, just to see this work. But at the moment it feels like we're pushing our luck with the new encoding. To me it already feels unwieldy, and that's without this new `Either` type. I'm getting the impression that the new `ZSink` would be so expressive

[2020-01-29 14:00] jdegoes commented on #2551
I think the fact that you couldn't implement `fromEffect` with the current design (without remainder) is actually evidence of the opposite: that the semantics are very clear and (in general) permit only one way to do things. Whereas the current encoding, `cont` allows you to "short circuit" and pull out the "state" right away, but whether or not that's a sensible / well-defined thing to do is not

[2020-01-29 14:06] jdegoes commented on #2722
@softinio Search is coming? Awesome! Thank you! 🙏

[2020-01-29 14:25] vasilmkd commented on #2551
We should definitely work through some combinators, but I'm thinking too much before diving in.

Anyways, could it be that we can maybe add a `CanRun[A]` implicit evidence where `A =!= Nothing` and that way disallow `Stream.empty.run(anySink)`.

That way we could potentially get rid of degenerate sinks that don't accept inputs. If we are interested in "augmenting" the output type of a sink, there

[2020-01-29 15:03] vasilmkd commented on #2633
I manually reverted the PR that moved implementations of services in the package objects, reproducing the compilation issues on Scala 2.11, but this did not solve the test timeout issues.

[2020-01-29 15:14] jdegoes commented on #2551
After thinking more, I think we _should_ try to add generate streams / sinks and see where it leads. It's basically:

[code]

Notice how in the degenerate case, you only need `R` and `B`, which means the other variant parameters can be set to whatever (`Any`/`Nothing`/`Unit` as appropriate), which in turn means fully inferable degenerates, something the current design struggles with (some degenera

[2020-01-29 15:46] vasilmkd commented on #2551
So, `Sink.collectAll[A]` might look like `ZSink[Any, Nothing, List[A], A, Nothing]`, meaning it is a sink that can forever accept elements, and to produce a partial result, one should `query` the sink. This works for all list sizes including `Nil`.

On the other hand, `Sink.collectAllN[A](length: Int)` is a `ZSink[Any, Nothing, List[A], A, List[A]]`, meaning it is a sink that can accept up to `len

[2020-01-29 16:12] jdegoes commented on #2551
Yes. It's a sink that never terminates (hence `Nothing`) but can always be queried for a `List`. Now internally it's "lazy" so it implies that online sinks can utilize an efficient means of aggregation, and then when queried, inefficiently convert that to whatever external type they expose. It also means sinks can hide messy internal state and expose just a nice clean representation of their state

[2020-01-29 16:17] vasilmkd commented on #2551
Honestly `Sink` has been on my mind a lot this past month. I sure will bring more examples.

Regarding the contract `length >= 1`, we already have something similar for the throttling sinks, which need a non-negative units value. Do you think it's ok to `ZIO.die` in those situations, or push this error into the `E` type (personally, I don't like polluting the `E` with "default" errors by the libra

[2020-01-29 16:19] jdegoes commented on #2551
It's OK to die as long as it's adequately documented. It's like the `apply` method on `TArray`.

[2020-01-29 16:29] vasilmkd commented on #2551
Of course. I don't think I have ever cut on documentation or tests. 😅

[2020-01-29 17:51] adamgfraser commented on #2693
I tend to agree with that. My concern is more about the risk of surprise when we do create combined errors and the implication for our ability to actually return combined errors from our own combinators. For example in #2689 I made `tapError` return a `Cause.then(e1, e2)` when both the original effect and the tap effect fail. That seemed like a logical, value preserving thing to do. But then if a

[2020-01-29 19:11] adamgfraser commented on #2739
Looks like we still don't have all the kinks ironed out of this one:

[code]

https://circleci.com/gh/zio/zio/53198?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-01-30 05:08] cheatmenot commented on #2755
sorry, I will check on that, I have only view on the docs - https://zio.dev/docs/interop/interop_java which says coming soon. Maybe we need also to update that one, if I have time I will do some docs stuff. Thanks!

[2020-01-30 06:56] Vilkina commented on #2269
The following results are obtained by running benchmarks on the original Fold implementation:
[code]

[2020-01-30 09:58] regiskuckaertz commented on #2693
I don’t think effects in combinators like `tapError` should be allowed to fail. Perhaps the use of `fold` should be discouraged 🤔 There are many PRs where it ended up yielding bugs in corner cases and has to be replaced with `foldCause`

[2020-01-30 12:47] alvNa opened #2761 "retrieve a tuple directly in a for comprehension with ZIO?"
Hi ZIO team,

I'm using ZIO library in several projects and I've checked that when you use ZIO in a for comprehension is not possible to retrieve a tuple directly by defining all it's fields, or at least I don't know how to do it.

Example:

Without ZIO:
for {
      (a,b) <- Some(1,2)
} yield (a,b)

With ZIO:
    for {
      (a,b) <- ZIO.fromOption(Some(1,2))
    } yield (a,b)

If I do this the co

[2020-01-30 13:26] #2754 closed

[2020-01-30 14:24] peterlopen commented on #2684
I will take this one.

[2020-01-30 14:24] peterlopen commented on #2721
I will have a look.

[2020-01-30 15:02] ajaychandran opened #2762 "Add ZIO.any"
Proposal to add `ZIO.any`.
[code]
This can help with type inference / eliminating `.unit` operations.
[code]
@jdegoes @adamgfraser Thoughts?

[2020-01-30 15:09] ajaychandran commented on #2761
You can with [better-monadic-for](https://github.com/oleg-py/better-monadic-for).

[2020-01-30 15:30] alvNa commented on #2761
Thank you for the information @ajaychandran.
But my intention is to achieve this with ZIO library without using Cats.

[2020-01-30 15:44] vasilmkd commented on #2684
@peterlopen Please do. :)

[2020-01-30 15:53] adamgfraser commented on #2761
Unfortunately this doesn't work today. To do a destructuring assignment in a for comprehension like this we need to implement `withFilter`:

[code]

The challenge is how to do this in a polymorphic way. We can `flatMap` to look at the `A` value and if the predicate is true we can just succeed with the `A` value. But what do we do if the predicate isn't true? We don't have an `E` value and `E` is c