[2021-10-26 13:15] #5825 closed, assigned to adamgfraser

[2021-10-26 13:44] jdegoes opened #5831 "ZIO Test 2.0: Make annotating test failures with custom labels easy"
[code]

[2021-10-26 20:56] jdegoes opened #5835 "ZIO 2.0: Generalize aspects to allow arbitrary changes to environment, error, and success"
Following the pattern of ZPipeline prototyped by @adamgfraser.

TODO: Spec out further.

[2021-10-26 20:56] #5829 closed, assigned to adamgfraser

[2021-10-27 00:06] scottweaver opened #5837 "Inconsistent Fiber Termination Behavior When Using "Infinite" Fibers"
## Environment
ZIO Version: 1.0.11
Scala Version: 2.12.15
JRE Version: 14

## Expected Behavior

When joining two fibers where one fiber,  `f1`, runs infinitely and the other fiber, `f2`, fails immediately the expectation is that `f2`'s failure should terminate the runtime regardless of which order the two fibers are joined.

There is a good possibility that I am misunderstanding how supervision i

[2021-10-27 01:47] #5837 closed, assigned to nobody

[2021-10-27 22:30] #5790 closed, assigned to nobody

[2021-10-29 03:57] jdegoes opened #5848 "ZIO 2.0: Refactor Cause"
- [ ] **Delete Meta**. `Cause` currently contains a `Meta` which stores both a `Cause` and a `Data`, which stores a boolean called `stackless`. This can be replaced by a new `final case class Stackless[E](cause: Cause[E], stackless: Boolean)`, which is equivalent to the original, but has less indirection. The meaning and operators do not need to change.
 - [ ] **Delete Traced**. The `Traced` case

[2021-10-29 04:01] jdegoes opened #5849 "ZIO 2.0: Create test suite for Cause.prettyPrint"
A simple test suite can verify that useful traces are captured in multi-method scenarios.

An example:

[code]

We want to see the `run`, `otherFailure`(inside `deepFailure`), and `ZIO.fail` (inside `otherFailure`) in the stack trace, together with the finalizer failure (inside `ensuring`) as a `Suppressed` cause.

A few simple examples like this which test tracing and pretty printing together can

[2021-10-29 04:03] jdegoes opened #5850 "ZIO 2.0: Filter ZIO internals from actual Throwable stack traces"
**ISSUE**

ZIO 2 currently uses `Throwable` stack traces when it generates async stack traces, by unifing these stack traces with its own stack traces. In most cases, this shows unwanted internals of the ZIO runtime system. See #5849 for an example of this "junk" in the async stack trace that is not useful for diagnosing issues.

**SOLUTION**

The proposal is to only use the "first" `StackTraceEle

[2021-10-29 04:05] jdegoes opened #5851 "ZIO 2.0: dieMessage should not generate a stack trace"
The `Cause` generated by the `ZIO.dieMessage` Throwable should be `.stackless`, because it will never be useful.

The fix will be something like `def dieMessage(message: String) = ZIO.failCause(Cause.die(...).stackless))`.

[2021-10-29 04:08] jdegoes opened #5852 "ZIO 2.0: Make Cause#prettyPrint stack safe"
Looking at Cause#prettyPrint, one can identify a number of recursive functions that are not tail-recursive. These functions should be refactored to be tail-recursive so that the Cause rendering is stack safe, even for very deep renderings.

[2021-10-29 04:09] jdegoes opened #5853 "ZIO 2.0: Delete ZTrace#prettyPrint"
Instead, pretty printing should directly utilize methods similar to `Cause#prettyPrint` (in fact, maybe `Cause#prettyPrint` can always be used).

As far as I know, the only place that uses this is fiber dumps.

[2021-10-29 04:10] jdegoes opened #5854 "ZIO 2.0: Revamp fiber dump rendering"
Fibers can be "dumped", which results in a rendering of them. Currently, this rendering is based on the rendering for JVM thread dumps, but is not exactly the same.

We should explore improving the way fibers dumps are rendered to more closely match JVM rendering to be more accessible to Scala and Java developers (who are already familiar with rendering for thread dumps).

[2021-10-29 04:12] jdegoes opened #5855 "ZIO 2.0: Generalize ZLogger to accept messages of type `-Message`"
ZLogger should get a new type parameter:

[code]

This will allow generalizing the `message: () => String` parameter of `ZLogger#apply` from `String` to `Message`.

Existing functionality can be captured by requiring `ZLogger[String, A]` wherever the old `ZLogger[A]` was required.

This will pave the way for later tickets that generalize the primitive ZIO logging operator to accept messages of `An

[2021-10-29 04:19] jdegoes opened #5856 "ZIO 2.0: Generalize Logged to accept messages of any type"
After #5855, the `Logged` constructor for `ZIO` can be generalized to accept messages of any type. Possibly we can require a `Tag` for the type so we can later utilize that information for dispatching to different logger types.

Then we need to change the logging hook stored inside `RuntimeConfig`. We have two obvious options:

1. Change the hook from from `ZLogger[String, Unit]` to `ZLogger[Any,

[2021-10-29 13:35] vigoo opened #5857 "ZIO Streams 2.0: Readd some old methods as deprecated to help migration"
Some of the operators in the new ZStream encoding were renamed. We should also have *deprecated* methods with their old names in the new classes to help migration.

Specifically the following methods on `zio.stream.experimental.ZStream`:

- `timeoutError` is now called `timeoutFail`
- `timeoutErrorCause` is now called `timeoutFailCause`
- `into*` methods are now prefixed with `run`
- `fold*` metho

[2021-10-29 13:44] vigoo opened #5859 "ZIO Streams 2.0: implement retry"
The ZIO Streams 1.0 API defines `retry` as following:

[code]

This should be also implemented on the new `ZStream` in `zio.stream.experimental`

[2021-10-29 13:52] vigoo opened #5860 "ZIO Streams 2.0: implement when/whenZIO"
The ZIO Streams 1.0 API defines `when`, `whenM` (deprecated) and `whenZIO`. These are not yet defined on the new `zio.streams.experimental.ZStream`.

The goal is to have all the methods of the old `ZStream` trait and companion object starting with `when` (`when`, `whenCase`, `whenM`, `whenCaseM`, `whenZIO`, `whenCaseZIO` defined in the new `ZStream` too (including the deprecated ones!), to avoid b

[2021-10-29 13:55] vigoo opened #5861 "ZIO Streams 2.0: implement serviceWith and serviceWithStream"
We added the `serviceWith` and `serviceWithStream` methods to the ZIO Stream 1.0 API but they are not yet defined on the new implementation `zio.stream.experimental.ZStream`.

[2021-10-29 14:00] vigoo opened #5862 "ZIO Streams 2.0: Implement the fromInputStream constructors"
There are several constructors for ZIO Stream2 1.0 working with `InputStream`:

- fromInputStream
- fromInputStreamEffect
- fromInputStreamZIO
- fromInputStreamManaged

Some of them for are currently missing from the ZIO Streams 2.0 implementation.
Make sure to have them implemented for all supported platforms (JVM, JS, Native)!

Additionally, for JVM, please make an alias for `fromReaderEffect` c

[2021-10-29 14:03] vigoo opened #5863 "ZIO Streams 2.0: fromJavaStream constructors"
Some of the changes to the JVM-specific `fromJavaStream` constructors of `ZStream` were not yet migrated to the ZIO Streams 2.0 implementation.

Check that all the variants are defined in `zio.stream.experimental.ZStreamPlatformSpecific`. This involves defining some new aliases and deprecate the old methods.

[2021-10-29 14:07] vigoo opened #5864 "ZIO Streams 2.0: Implement ZSink#raceBoth"
In ZIO Streams 2.0 `ZSink`'s `raceBoth` is not implemented yet. It's signature is the following:

[code]

The `ZSink#race` also uses this so right now it does not work either.

Please add tests for it as well, as we currently don't have any.

[2021-10-29 14:11] vigoo opened #5865 "ZIO Streams 2.0: Implement ZSink#zipWithPar"
`ZSink`'s `zipWithPar` (which is also used by `zipPar`, `zipParLeft` and `zipParRight`) is not yet defined in ZIO Streams 2.0.

It's definitions looks like the following:

[code]

Please also add tests for it as we don't have any currently.

[2021-10-29 14:15] vigoo opened #5866 "ZIO Streams 2.0: Implement ZSink#fromQueue and fromHub"
ZIO Streams 2.0's sink does not have `fromQueue`, `fromHub`, `fromQueueWithShutdown` and `fromHubWithShutdown` yet.
Define these and write some tests for them.

[2021-10-29 14:17] vigoo opened #5867 "ZIO Streams 2.0: JVM-specific ZSink#fromOutputStream and fromOutputStreamManaged"
The new ZIO Streams 2.0 sink does not have `fromOutputStream` and `fromOutputStreamManaged` yet.
These are JVM-specific constructors and should be defined in `zio.stream.experimental.ZSinkPlatformSpecificConstructors`.

Some tests should also be added for them in the JVM-specific test suite.

[2021-10-29 14:19] vigoo opened #5868 "ZIO Streams 2.0: JVM-specific ZSink#fromFile"
The JVM-specific `ZSink` constructor, `fromFile` is not yet defined for the new ZIO Streams 2.0 `ZSink`, in `zio.stream.experimental.ZSinkPlatformSpecificConstructors`.

Define it in the same way as it was for ZIO Stream 1.0 and provide some tests.

[2021-10-29 14:34] vigoo opened #5869 "ZIO Streams 2.0: Implement character decoding as pipelines"
Currently in ZIO Streams 2.0 we have a family of character decoding _sinks_, such as `ZSink#utfDecode`. We also have a new kind of streaming primitive called `ZPipeline` which is essentially a stream transformer.

We would like to have character decoding defined as a `ZPipeline` so it can be applied to any byte stream and convert it to a stream of characters.

Note that this is partially possible

[2021-10-29 15:39] ajaychandran opened #5870 "ZIO 2.0: ZIO.forever exhausts heap memory"
[Scastie](https://scastie.scala-lang.org/XWkgDH2GS8mZmAP2IHwicg)
[code]
[code]

Redefining the combinator as shown below works.
[code]

Also, combinators like `repeatWhile` can exhibit this problem.

[2021-10-29 16:57] jdegoes opened #5871 "ZIO 2.0: Redesign FiberId to be more efficient and more accurate"
Currently, FiberID is a `case class` that contains a timestamp and a sequence number. There is no way to represent composite fiber ids, or the absence of a fiber id, and various hacks are used to work around both issues.

We should instead refactor it to the following:

[code]

where `Runtime#id` is a monotonically increasing sequence number, and `startTime` is a measure of the starting time of th

[2021-10-29 18:17] baldram commented on #5849
Hi #zio-hackathon! I would like to work on this issue 😸

[2021-10-29 18:17] adamgfraser commented on #5849
Awesome! It is all yours!

[2021-10-29 18:41] adamgfraser commented on #5871
I will do this.

[2021-10-29 18:42] adamgfraser commented on #5870
@ajaychandran Thanks for reporting! Will take a look.

[2021-10-29 19:00] TobiasPfeifer commented on #5807
I'd like to work on this

[2021-10-29 19:19] jdegoes opened #5874 "ZIO 2.0: Improve efficiency of FiberId storage inside FiberContext"
After #5871, we can change `FiberContext` to store only a `Long` for the `FiberId`, by packing both sequence number and start time into a single `Long`. Then the `def fiberId: FiberId.Runtime` can construct a new `FiberId.Runtime` dynamically from the `Long`.

[2021-10-29 19:20] dkarlinsky commented on #5854
Would be interested in working on this.

[2021-10-29 19:21] jdegoes commented on #5854
@dkarlinsky 🙏

[2021-10-29 19:24] jdegoes opened #5875 "ZIO 2.0: Implement useful `toString()` method on `FiberContext`"
The `toString()` method on `FiberContext` is not very useful. We should override this method to dump the fiber, by using the fiber dump rendering. The goal is that if someone `println(myFiber)`, they should see lots of useful information that will help them debug the problem they are trying to solve.

[2021-10-29 19:49] stsatlantis commented on #5863
I'd be happy to work on this over the weekend.

[2021-10-29 20:03] NavidJalali commented on #5860
I'd like to do this!

[2021-10-29 20:04] kmatasfp commented on #5866
@vigoo I can try this one, I imagine the signature should match the one we have in ZIO Streams 1.0?

[2021-10-29 20:07] vigoo commented on #5866
Yes they should have the same signature. It is possible the implementation will be also very similar, you will have to check how it was implemented and whether the same primitives exist and can be used to reimplement it in the new sink.

[2021-10-29 20:13] kmatasfp commented on #5866
sounds good 👍

[2021-10-29 20:32] helanto commented on #5050
I would like to work on the first one.

[2021-10-29 21:29] jdegoes opened #5877 "ZIO 1.0: Backport some improvements to supervisor"
We can add these two new methods to ZIO 1.x `Supervisor` data type, with default, "do-nothing" implementations.

[code]

These methods must be called on fiber suspend / resume.

/cc @dkarlinsky

[2021-10-29 21:34] jdegoes commented on #4528
I am spec'ing this in a different way, but one that satisfies @dkarlinsky's requirements.

Essentially, in ZIO 2.0, we will add a `RuntimeConfigAspect`, along the lines of the following:

[code]

The implementation of this `RuntimeConfigAspect` will be based on #5794, in particular, the two new methods it add to `Supervisor` which allow tracking suspension / resumption.

[2021-10-29 21:36] jdegoes opened #5878 "ZIO 1.x: Backport RuntimeConfigAspect.trackFiberRef"
See [here](https://github.com/zio/zio/issues/4528#issuecomment-955061100) for context.

To backport to ZIO 1.x, we will need to add this as a `Supervisor` inside the companion object of `Supervisor`:

[code]

The usage of this will be slightly different than the usage of an ordinary supervisor. But still, it will allow users to do the same things.

/cc @dkarlinsky

[2021-10-29 22:47] jdegoes commented on #5871
@adamgfraser Awesome! Maybe a good idea to call 'Both' something else like Composite.

[2021-10-30 00:15] jdegoes opened #5880 "ZIO 2.0: Deal with boolean blindness in RuntimeConfig"
`RuntimeConfig` has a number of boolean fields. These can be tricky to get right and are not very stable in the presence of refactorings. Rather than continue this pattern of introducing more boolean flags, we can refactor to an alternate pattern: sets of case objects.

For example, instead of:

[code]

We can have:

[code]

Then the API becomes:

[code]

In this case, we can have:

[code]

[2021-10-30 00:19] adamgfraser commented on #5880
Will do.

[2021-10-30 00:24] jdegoes opened #5882 "ZIO 2.0: Minimize memory footprint of FiberContext"
With ZIO 2.0 stabilizing, it's a good time to minimize memory footprint of FiberContext.

[2021-10-30 00:26] jdegoes opened #5883 "ZIO 2.0: Export internal runtime system metrics to new metrics subsystem"

[2021-10-30 03:14] planetstrike commented on #5857
I'd like to give this a shot as a first time contributor.

[2021-10-30 03:38] ithinkicancode commented on #5868
This issue is blocked by #5865 because the `fromFile` implementation relies on `&>` combinator, which in turn depends on `zipWithPar`.

[2021-10-30 03:40] planetstrike commented on #5861
I'd like to give this issue a shot.

[2021-10-30 03:42] adamgfraser commented on #5861
Fantastic!

[2021-10-30 06:55] eriktim commented on #5864
I would like to work on this issue

[2021-10-30 09:01] vigoo opened #5887 "ZIO Streams 2.0: ZSink foreach/foreachChunk should emit Nothing"
Currently `foreach` and `foreachChunk` and all the constructors built on top of these are mirroring the input type as their leftover type instead of having `Nothing` as leftovers.

[2021-10-30 09:20] getArtemUsername commented on #5859
I'd like to try this one

[2021-10-30 09:40] aartigao commented on #5852
Sorry folks, unexpected plans happened for the weekend 🥲

I won't be able to work on this during the Hackaton. If someone else want to fix this, feel free to take it 🚀

[2021-10-30 09:42] adamgfraser commented on #5852
@aartigao No worries. Hope everything is good on your end! I will take this.

[2021-10-30 09:50] grouzen commented on #5867
Hi! I would like to try this one.

[2021-10-30 10:19] regiskuckaertz commented on #5807
@TobiasPfeifer ROCK'N'ROLL 🕺 🎸

[2021-10-30 10:26] adamgfraser opened #5888 "ZIO 2.0: Extract Profiling Into Separate Project"
We just merged support for profiling ZIO applications in #5794.

It was necessary to do this as part of ZIO Core initially because there was functionality in the ZIO runtime that needed to be modified to support this functionality.

However, not that the functionality exists, it would be good to extract profiling into its own project. This will allow the profiling functionality to be built out ove

[2021-10-30 10:30] regiskuckaertz opened #5889 "Add scala collection-like methods to ConcurrentMap"
After #5808 is done, we can start adding operators that will bring the data structure closer to what a collection type looks like in Scala-land. Things like:

- ++, +
- collect, collectFirst, filter
- map, flatMap, fold, groupBy, grouped
- exists, forall
- etc

[2021-10-30 10:31] regiskuckaertz opened #5890 "Add scala set-like methods to ConcurrentSet"
After #5823 is done, we can start adding operators that will bring the data structure closer to what a collection type looks like in Scala-land. Things like:

- |, &, &~
- collect, collectFirst, filter
- map, flatMap, fold, groupBy, grouped
- exists, forall
- etc

[2021-10-30 10:52] zhrebicek commented on #5853
I'll take this (hope kids would let me finish it)

[2021-10-30 10:57] 987Nabil commented on #5888
I'll do this.

[2021-10-30 11:09] adamgfraser commented on #5888
@987Nabil Thank you! 🙏

[2021-10-30 11:13] regiskuckaertz opened #5892 "Add Condition for creating waiting queues around locks"
Once #5807 is done, add
[code]

This could be backed by a queue of promises, nice and easy.

[2021-10-30 11:36] regiskuckaertz commented on #5801
I'll take this one.

[2021-10-30 11:59] jdegoes commented on #2271
Chunk is now a Scala collection so it has all the Scala methods.

I think the scope of this ticket is now purely around specializing inherited methods (i.e. override and implement a custom collection method).

A method should be specialized only if we can do so in a way that increases performance. To know that, we need a benchmark. So really, this ticket should be about:

1. Add a benchmark for so

[2021-10-30 13:07] vigoo commented on #5869
Related work: https://github.com/zio/zio/pull/5262

[2021-10-30 13:21] #5860 closed

[2021-10-30 13:21] #5863 closed

[2021-10-30 13:54] stsatlantis commented on #5887
I'll take this one :)

[2021-10-30 14:52] baldram commented on #5849
Here is a draft implementation: https://github.com/zio/zio/pull/5900
Would you please have a look whether I'm on the good track?

I might try moving a code to the `StackTracesSpec.scala`, however this test seems to be a bit different from others, as it's kind of alone in the `scala-2.12` tree, and doesn't run locally from my IDE (no issues with others).

PS: The PR got stuck, as I'm the "first tim

[2021-10-30 15:03] ASRagab commented on #5875
Working on this.

[2021-10-30 15:13] TobiasPfeifer commented on #5892
I give it a try

@regiskuckaertz should this behave the same as the Java implementation of a `Condition`? There are 2 details that need to be considered:
https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/locks/ReentrantLock.html#newCondition--
- If this lock is not held when any of the Condition waiting or signalling methods are called, then an IllegalMonitorStateException is thrown.

[2021-10-30 15:22] jdegoes opened #5903 "ZIO Test 2.0: Use ZTraceElement instead of SourceLocation"
ZIO Test independently evolved the ability to capture source locations. Now that we have ZTraceElement which directly captures source locations, we can replace usages of SourceLocation inside ZIO Test with ZTraceElement.

[2021-10-30 15:23] oliveiosello commented on #5889
I'll give this a shot!

[2021-10-30 15:26] kitlangton commented on #5890
This issue will topple before my gaze.

[2021-10-30 15:32] hmemcpy commented on #5903
I'd like to work on this!

[2021-10-30 15:45] regiskuckaertz commented on #5892
@TobiasPfeifer Yes, I think if we reuse the name, we should model the same semantics.

I have the same reading yes.

[2021-10-30 15:46] regiskuckaertz commented on #5892
We should model breaking the invariant other than with an exception though.

[2021-10-30 15:56] TobiasPfeifer commented on #5892
To keep those guarantees, I'd need to add state to `ReentrantLock` that is already captured in `TReentrantLock.data`. I don't like the idea of tracking this state in `ReentrantLock` redundantly. I would rather keep following the pattern of delegating to `TReentrantLock` and implementing `newCondition` in STM. What do you think?

[2021-10-30 16:05] kitlangton commented on #5890
Not sure if `|`, `&`, `&~` make sense to combine two `ConcurrentSet`s. Would it return a mutated version of the first ConcurrentSet? Would it create a new ConcurrentSet? Could we assure that we have a consistent view of both sets at the same time. This might make more sense in an STM context.

Let me know what you think 😄 Skipping those for now.

[2021-10-30 16:08] regiskuckaertz commented on #5892
Hmm, I don't think we want that. I would defer to @mijicd for any changes to STM: what are your thoughts?

[2021-10-30 16:10] 987Nabil commented on #5888
@adamgfraser Should I open a pr too that is removing the code from this repo?

[2021-10-30 16:29] regiskuckaertz commented on #5890
Hm, good point. Do you think these equations are valid:

[code]

?

[2021-10-30 16:35] mijicd commented on #5892
Yeah, we agreed to go without STM in `zio.concurrent` (semaphore is the only planned exception atm).

[2021-10-30 16:35] asakaev commented on #5862
I'd be happy to work on this.

[2021-10-30 16:44] zhrebicek commented on #5853
@jdegoes There was really only one place it was used.

Is it ok like in the PR?
[code]

[2021-10-30 17:02] mijicd commented on #5889
@oliveiosello Base implementation is in #5898. Hopefully the CI gods will allow me to merge it soon, but anyhow, you should be able to use it :).

[2021-10-30 17:27] regiskuckaertz commented on #5800
@fwbrasil is working on this

[2021-10-30 17:30] helanto commented on #5050
I can work on number 7

[2021-10-30 17:30] xsistens commented on #5855
Hi John, love the work you and your team are doing with ZIO. I would love to give this a try but it will be my first OSS contribution, so maybe I need some help here and there.

[2021-10-30 17:31] regiskuckaertz commented on #5802
Work has already been done in the 2.x branch, closing this one.

[2021-10-30 17:31] #5802 closed

[2021-10-30 17:39] grouzen commented on #5869
I'm gonna try this!

[2021-10-30 17:45] #5808 closed

[2021-10-30 18:25] pshemass commented on #5903
does this cover the fact that trace doesn't match regex in `ZTraceElement.SourceLocation`?

[2021-10-30 18:26] hmemcpy commented on #5903
I don't know yet, I just learned about it from the chat. Is there an issue describing the problem?

In any case, I'm running CI for now just to see if something got broken, will address specific issues right after!

[2021-10-30 18:30] pshemass opened #5914 "ZTraceElement.SourceLocation does not work"
to reproduce

[code]

it seems that format of the trace in my case `zio.logging.slf4j.Slf4jLoggerTest.spec(/Users/rzbikson/projects/zio-logging/slf4j/src/test/scala/zio/logging/slf4j/Slf4jLoggerTest.scala:31:28)` doesn't match regex in `zio.internal.stacktracer.Tracer#regex`

[2021-10-30 18:33] pshemass commented on #5903
#5914 I created issue for this

[2021-10-30 18:35] hmemcpy commented on #5903
Thanks, I'll take a look at it, if @baldram doesn't beat me to it :)

[2021-10-30 18:43] 987Nabil commented on #5874
I'll do this.

[2021-10-30 19:18] kitlangton commented on #5890
Pretty much! I just think that those other method names, accepting Iterables, would be better—to help distinguish them from their immutable variants.

Also, `.map` `.collect` may not be valid. Something like `def transform(f: A => A)` would work (like what's on `TMap`.

[2021-10-30 19:33] jdegoes opened #5917 "ZIO 2.0: Create more robust regular expression for deconstructing ZTraceElement"
Inside `Tracer.scala` (there are **two** of these, for Scala 2.x and Scala 3.x), there is a regular expression that tries to extract out the location, file name, row, and column of a trace element.

However, it does not do a good job on Windows because Windows uses the colon operator (:) for drives.

We need to improve this regular expression so it does not match against `:` inside the path name.

[2021-10-30 19:37] jdegoes commented on #5914
Possibly related to #5917

[2021-10-30 19:39] jdegoes commented on #5917
@baldram Do you want to take this one??

[2021-10-30 19:41] baldram commented on #5917
Yes, I can do so. It blocks my ticket 😄

[2021-10-30 20:06] #5801 closed

[2021-10-30 20:16] vigoo opened #5918 "ZIO Streams 2.0: splitLines, splitOn, splitOnChunk"
Implement the `splitLines`, `splitOn` and `splitOnChunk` transducers from the ZIO Streams 1.0 as ZIO Streams 2.0 `ZPipeline`s

[2021-10-30 20:17] baldram commented on #5903
I think my tests will be higher-level (sort of integration tests) which will survive future refactorings, and so on. If anything changes in a shape of what we render, adjustment will be easy. It's good we will cover a current shape now. 👍

[2021-10-30 20:18] regiskuckaertz commented on #5890
I agree 💯

Also you cannot write `xs | ys | zs`, which is pretty much the raison d'être of these operators.

[2021-10-30 20:19] #5887 closed

[2021-10-30 20:22] #5823 closed

[2021-10-30 20:23] regiskuckaertz opened #5919 "Review ConcurrentSet.addAll and containsAll"
Currently not atomic

[2021-10-30 20:27] #5859 closed

[2021-10-30 20:34] hmemcpy commented on #5903
Ok, I did find a bug with the source location reporting! It reports the wrong location from assert/assertM, and I know why. Working on it!

[2021-10-30 20:35] mijicd commented on #5919
The odd thing is, even the [javadoc](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentHashMap.KeySetView.html#addAll-java.util.Collection-) states that `addAll` is implemented this way :thinking:

[2021-10-30 20:49] jdegoes commented on #5855
Happy to help! Hit me up here or on Discord.

[2021-10-30 20:52] #5866 closed

[2021-10-30 21:27] pshemass opened #5925 "When ZLogger implementation throws exception program hangs"
snippet to reproduce

[code]

[2021-10-30 21:30] robmwalsh commented on #5917
My bad -_- I'm terrible at regex
https://xkcd.com/1171/

[2021-10-30 21:30] kmatasfp opened #5926 "Streams 2.0 ZSink.fromQueue, ZSink.fromHub, ZSink.fromQueueWithShutdown, ZSink.fromHubWithShutdown should return Nothing as leftover type"

[2021-10-30 21:43] kmatasfp commented on #5926
will take it

[2021-10-30 21:44] adamgfraser commented on #5925
Thanks for reporting!

[2021-10-30 22:28] baldram commented on #5917
I'm about to make a MR. This will be a separate regex for Windows, or I need to make sure how about the other platform whether this "more robust" is ok for all use cases.

[2021-10-30 22:32] pshemass opened #5930 "ZIO.log* should have overload with cause"
it would be nice to have overload for `ZIO.log`, `ZIO.logInfo`, `ZIO.logDebug` and `ZIO.logError` that takes `Cause[Any]`

Cause should be propagated all the way to `ZLogger` as `Option[Cause[Any]]`. This will allow to create better DSL for format in zio-logging

[code]

[2021-10-30 23:32] oliveiosello commented on #5889
For similar reasons listed in the comments left on #5890, I've omitted collect, map, and flatMap. Additionally, I've broken the logic of filter into two methods, retainIf and removeIf, to disambiguate from the immutable methods and to be more consistent with `TMap` and `TSet`. Lastly, instead of ++, I'll add putAll shortly.

[2021-10-31 02:20] kmatasfp commented on #5926
can be closed after https://github.com/zio/zio/pull/5927 is merged

[2021-10-31 02:36] ithinkicancode commented on #5869
I'll pick this up post-Hackathon if no one else is going to tackle this. From the last PR I did regarding the decoders, I'm fairly familiar with them.

[2021-10-31 08:07] regiskuckaertz commented on #5889
@oliveiosello Thanks a lot for picking this up 😍 I think your arguments are valid, let me check your code.

[2021-10-31 08:10] #5800 closed

[2021-10-31 08:26] baldram commented on #5914
Ok, I might have a look at this one as well, and handle it as a part of https://github.com/zio/zio/issues/5917.
This seems to be connected.

[2021-10-31 08:37] christian-schlichtherle opened #5938 "ZStream.GroupBy.apply(...) does not support consuming the parameter stream more than once"
From looking at the method signature...

    def apply[R1 <: R, E1 >: E, A](f: (K, ZStream[Any, E, V]) => ZStream[R1, E1, A]): ZStream[R1, E1, A]

... I'ld expect that the parameter ZStream really is a regular ZStream, i.e. it should be possible to consume it multiple times. However, it appears that you can only consume it once. On subsequent consumption, the stream is empty.

Here's a simple test

[2021-10-31 08:44] #5926 closed

[2021-10-31 09:05] stsatlantis commented on #5857
@planetstrike Based on your message on discord, I'll take this over.

[2021-10-31 09:17] dkarlinsky commented on #5877
Will start on this while waiting on input on https://github.com/zio/zio/pull/5907

[2021-10-31 09:31] regiskuckaertz commented on #4886
Hello 👋 I'd love to help here. Is the list in the OP accurate? I feel like other tickets are tackling some of them, e.g. the charset ones and maybe more.

[2021-10-31 09:33] baldram commented on #5914
All right, this PR https://github.com/zio/zio/pull/5931 should fix this issue as well.

Here is a test via Ammonite. I haven't delivered implementation details test for the `Tracer` itself as currently (ZIO Hackathon) there is a discussion whether we are able to get rid of the regex at all. However there is a high-level test of course which verifies the `Cause`.

Here is how I tested it via Ammoni

[2021-10-31 09:37] baldram commented on #5917
Ok, a PR https://github.com/zio/zio/pull/5931 closes the other connected issue as well.
Ready for review.

[2021-10-31 09:59] TobiasPfeifer commented on #5807
@regiskuckaertz I'm busy with zio-schema now but want to finish this later. What kind of underlying representation is suitable? `TReentrantLock` uses a `LockState` structure. I think we can use the same construct in zio.concurrent but captured in an `AtomicReference` or a `Ref` (instead of `TRef`). What are your thoughts?

[2021-10-31 10:01] regiskuckaertz opened #5939 "ZIO Streams 2.0: port ZTransducer#groupAdjacentBy"

[2021-10-31 10:23] Edvin-san commented on #5050
I'll give number 5 a try

[2021-10-31 10:35] koukoustath commented on #5050
I will pick number 6

[2021-10-31 11:19] NavidJalali commented on #5918
I'd like to pick this up if no one is doing it

[2021-10-31 11:41] #5857 closed

[2021-10-31 13:28] milanvdm opened #5946 "ZIO Streams 2.0: Add ChunkContext to trace elements through a ZStream"
For tracing purposes, it would be great to track a specific element through a `ZStream` across all of its operations. This would also open up the path for trace-propagation or APM with bytecode instrumentation.

My initial thoughts:

* Add a `ChunkContext` to `Chunk`. This `ChunkContext` will link the elements of a `Chunk` to each of their unique contexts. Would basically be a `ConcurrentMap[Int,

[2021-10-31 14:44] regiskuckaertz opened #5947 "ZIO Streams 2.0: Port ZTransducer#branchAfter to ZPipeline"

[2021-10-31 14:47] dkarlinsky commented on #5854
I have run into an apparent bug in `FiberContext.captureTrace`
When I try to dump trace for a fiber that is running in a loop (using `repeatUntil`) I get `ArrayIndexOutOfBoundsException`.

[code]
This fails with:
[code]
Full example [here](https://github.com/dkarlinsky/zio/blob/3994832b37db20ca9d93946a00b564580edfcbfe/core-tests/shared/src/test/scala/zio/internal/FiberRendererSpec.scala)

[2021-10-31 14:57] dkarlinsky opened #5948 "ZIO 2.0: `ArrayIndexOutOfBoundsException` in `FiberContext.captureTrace`"
I have run into an apparent bug in `FiberContext.captureTrace`
When I try to dump trace for a fiber that is running in a loop (using `repeatUntil`) I get `ArrayIndexOutOfBoundsException`.

[code]
This fails with:
[code]
Full example [here](https://github.com/dkarlinsky/zio/blob/3994832b37db20ca9d93946a00b564580edfcbfe/core-tests/shared/src/test/scala/zio/internal/FiberRendererSpec.scala)

[2021-10-31 14:58] dkarlinsky commented on #5854
Created an issue: #5948

[2021-10-31 15:32] baldram commented on #5849
I created a new clean PR for this. It is blocked by a #5931 bug fix.
Once a bugfix is merged, time to rebase the MR of this ticket, and the all done.

[2021-10-31 16:25] #5939 closed

[2021-10-31 16:27] vigoo commented on #4886
I think this list was not updated since a while :) Everything that's missing from the old functionality was created as a hackathon card I think

[2021-10-31 16:28] #5862 closed

[2021-10-31 17:16] #5890 closed

[2021-10-31 17:41] mijicd commented on #4886
Let's close it then :).

[2021-10-31 19:33] regiskuckaertz commented on #5919
Yeah, I was going through it and there are many of them that could be improved. Perhaps ZIO should have its own implementation 😁

[2021-10-31 19:34] regiskuckaertz commented on #5919
I will close, it doesn't look possible.

[2021-10-31 19:34] #5919 closed

[2021-10-31 19:36] regiskuckaertz commented on #5807
@TobiasPfeifer Yes, I think it would be a fairly trivial translation as I believe none of the features of STM are really exploited (famous last words 😆 )

[2021-10-31 19:58] #5861 closed

[2021-10-31 19:58] #5947 closed

[2021-10-31 21:12] baldram opened #5955 "ZIO 2.0: Bring back the stack trace and fiber ID for Cause.prettyPrint"
**A problem**:

It looks like we got a regression. We are not seeing a nice stack trace.
The `Cause.prettyPrint` used to show a source locations and fiber ID.

**How to reproduce?**

Once the PR https://github.com/zio/zio/pull/5949 is merged, there are few tests. Enable `debug` (L117), run one of tests, and see the console.

The test suite might be now easy extended to check the Fiber ID (at least

[2021-10-31 22:41] adamgfraser commented on #5955
I will take a look at this.

[2021-11-01 03:17] #5955 closed

[2021-11-01 03:21] adamgfraser commented on #5948
I will take a look at this.

[2021-11-01 04:07] ithinkicancode commented on #5869
My initial experiment with ZPipeline went well so I'm picking up this ticket. Should have a PR up by tomorrow.

[2021-11-01 05:49] adamgfraser commented on #5946
While I understand the desire for this kind of tracking of elements, I think there are several issues here.

First, `Chunk` is a general purpose data structure and while streams are one important user of chunks they are used in a variety of other use cases and need to be as performant as possible. So I don't think it makes sense to do anything that would slow down chunks or add additional size to

[2021-11-01 07:12] milanvdm commented on #5946
I wonder then how Cinnamon achieves this for akka-streams while keeping performance? As it is closed source, I cannot tell for sure.
Also, maybe this type of performance impact might be opt-in for users who value tracing over perfomance? I guess this is similar to how the `Fiber` tracing works for `ZIO` itself?

The problem I see with doing it in user land is that it won't work out of the box with

[2021-11-01 11:12] KCala opened #5959 "Using ZStream#mapMPar makes it impossible to retry the stream"
This ZIO program works as expected. Processes commands for 10 seconds, logs an exception, starts processing from start after 5 seconds, repeats forever.
[code]

Output:
[code]
---------------
This program, however, fails after reaching the failure in the stream. Retry doesn't work, the `tapError` doesn't work. The whole system process just finishes with an error code.
[code]

Output:
[code]

-----

[2021-11-01 11:54] adamgfraser commented on #5959
@KCala Thanks for reporting? What ZIO version are you on?

[2021-11-01 11:58] KCala commented on #5959
@adamgfraser We're using the newest stable version - `1.0.12`. I'm not sure how to interpret the question mark in your response though. Have I done something wrong?

[2021-11-01 12:00] adamgfraser commented on #5959
@KCala As me making a typo. That was supposed to be an exclamation mark. 😃

[2021-11-01 12:01] KCala commented on #5959
@adamgfraser Oh, all good then! I was scared that I've done some faux pas 😅

[2021-11-01 12:12] adamgfraser commented on #5959
@KCala No reporting issues like this is fantastic and really appreciate the reproducer. 🙏

[2021-11-01 13:24] #5871 closed

[2021-11-01 14:07] adamgfraser commented on #5948
The issue here is that the continuation stack is concurrently accessed when `Fiber#trace` is called and `Stack` is not safe for concurrent access.

@jdegoes Will take this as part of his ongoing work on tracing.

[2021-11-01 15:25] luis3m commented on #5959
@adamgfraser @KCala this seems to work: https://scastie.scala-lang.org/ExM4PsjYQx28v4gkJ8lFvA
[code]
I'll check later today if this does not break any other test.

[2021-11-01 15:34] regiskuckaertz opened #5960 "What do you think of TMap#asTRef"
Hello gang 👋

I have a service that pools database connections. These connections are created on-the-fly and then reused by multiple components over their lifetime. For security reasons, db credentials expire after a few hours, so we must take care of renewing these connections. So in my module implementation I have a cache:

[code]

When connections are issued, we look into the map and if nothing

[2021-11-01 15:37] luis3m commented on #5959
Also ZIO 2.x needs a fix as well apparently: https://scastie.scala-lang.org/io93DYCZQzefiVt5SNSjkw

[2021-11-01 17:08] vigoo commented on #5959
Note that it's still the old `ZStream` in your example. If you use `zio.stream.experimental._` it works.

[2021-11-01 17:38] adamgfraser commented on #5959
Unfortunately it looks like this breaks several other tests.

[2021-11-01 17:53] adamgfraser commented on #5959
I think we need a more fundamental solution here. I am working on something.

[2021-11-01 21:18] mijicd opened #5965 "Document new zio.concurrent datatypes"
Document the newly introduced data types from `zio.concurrent`:

- ConcurrentMap
- ConcurrentSet
- CountdownLatch
- CyclicBarrier

[2021-11-02 00:52] adamgfraser opened #5968 "ZIO 2.0: Migrate All Tests to New Spec Type"
Now that #5932 has been merged we should migrate all tests to the new spec type. That means all tests should extend `ZIOSpecDefault` instead of `DefaultRunnableSpec`. We should deprecate `DefaultRunnableSpec` and its related data types `RunnableSpec` and `AbstractRunnableSpec`. This will keep us on the latest spec implementation and allow us to identity any issues with it.

Copying @swoogles.

[2021-11-02 00:59] swoogles commented on #5968
I'll work on this!

[2021-11-02 02:04] adamgfraser commented on #5960
I think conceptually this makes sense. It is basically an optic that "zooms in" to the value at a particular key. I think there are some implementation issues because a `TRef` is currently always at least backed by a single `TRef.Atomic` and this is the backbone of transactional operations within STM, so exposing a `TRef` that did not satisfy that property would require significant thought.

Have

[2021-11-02 02:09] #5948 closed

[2021-11-02 02:30] adamgfraser commented on #5938
I'm not sure that this is the correct expectation. Streams are inherently effectual, which means that while streams may be evaluated multiple times that evaluation may produce different results because running the stream may change some external state that the stream depends on.

For example, a stream may take elements from a queue. That stream can be evaluated multiple times but doing so will pro

[2021-11-02 02:31] #5917 closed

[2021-11-02 02:42] adamgfraser commented on #5914
Verified that this works correctly on the latest version of the `series/2.x` branch.

[2021-11-02 02:42] #5914 closed

[2021-11-02 02:42] #5883 closed

[2021-11-02 02:44] adamgfraser commented on #5930
Should we have special treatment for `Cause` or handle this as part of a more general solution to structured logging as contemplated by #5855 and #5856?

[2021-11-02 02:46] adamgfraser commented on #5888
@987Nabil Opened a couple of tickets in the new repository if you are interested in working more on this.

[2021-11-02 02:55] #5852 closed

[2021-11-02 02:56] #5848 closed

[2021-11-02 02:56] #5851 closed

[2021-11-02 07:32] christian-schlichtherle commented on #5938
I understand your point, but I think the API of this method is then misleading because a `ZStream` should be repeatable (including side effects, of course). Maybe what's missing here is a supertype of `ZStream`, which would be named `ZStreamOnce`, just like `Iterable` and `IterableOnce`. Of course, this would break binary compatibility, so maybe this is something you could address in V 2.x.

[2021-11-02 07:34] zhrebicek commented on #5853
@jdegoes
I did it, it complies locally just fine but it does not see `Cause#traced` in the CI, what am I missing here?

[code]

[2021-11-02 07:38] adamgfraser commented on #5938
I don't understand your statement that a stream should be repeatable. As the example involving a queue shows, there is no guarantee that evaluating a stream twice will produce the same results as evaluating it a single time.

[2021-11-02 07:44] vigoo commented on #5938
I think @christian-schlichtherle 's assumption is that on a pure stream not depending on anything effectual, it's grouped substreams would also be pure and repeatable. This is not the case because the implementation sorts the elements into queues which shut down after being consumed.
I feel like this is a good default behavior and in case the elements are needed multiple times the provided functio

[2021-11-02 07:47] christian-schlichtherle commented on #5938
At the bare minimum, the current Scaladoc lacks an explanation that the provided function can effectively only consume the stream once. Subsequent calls would yield no items.

[2021-11-02 08:04] #5960 closed

[2021-11-02 10:49] fanf commented on #1275
Hello people, I'm digging up old threads. I saw I lot of work in ZIO 2.0 regarding thread pool management and ergonomics.
I'm linking them here because it's likely relevant to people interested in that ticket, even if the core issue is still not adressed (if I understood correctly, but now most of the preliminary work to do it is in place):

- blocking thead pool switch deforestation & merge, see

[2021-11-02 14:48] #5804 closed

[2021-11-02 15:33] swoogles commented on #5968
@adamgfraser  Before I go too far down this path, I want to confirm the general steps needed here.
Starting with this Spec:
[code]
One possible migration is:
[code]
Which is broken down into these steps:
1. Convert `DefaultRunnableSpec` to `ZIOSpecDefault`
   I don't think there's much discussion needed on this point.

2. Convert `Failure` to `Any`
  Please confirm if this is a safe thing to do fo

[2021-11-02 16:15] adamgfraser commented on #5968
@swoogles I would just remove the type parameters. I don't think you should have to define a layer of we are using the default one because it already has one and I don't think there are any cases where we need to share a custom layer.

[2021-11-02 16:47] swoogles commented on #5968
Removing the types is an easy fix, thanks.

On the other point about layers- currently `ZIOSpecDefault` is implemented as:
[code]
Which doesn't cover `layer` needed by `ZIOApp`. So if we don't define one in either the final leaf `Spec` implementation, or in `ZIOSpecDefault`, we get this error:
[code]
Happy to zoom if we should have a more general old Spec VS new Spec discussion that would clarify

[2021-11-02 23:20] #5880 closed

[2021-11-03 00:41] #5889 closed

[2021-11-03 04:26] kmatasfp commented on #4514
Tried to reproduce it in a following environment:
[code]
Ran following tests:
1_000_000 iterations on 8 cores - pass
100_000 iterations on 4 cores (4 locked) - pass
100_000 iterations on 2 cores (6 locked) - pass
10_000 iterations on 1 core (7 locked) - pass
[code]

[2021-11-03 14:23] zheh12 opened #5993 "ZIO 2.0 Stream schedule will produce a unlimited stack in the fiber"
[code]

With the code, It will produce a very long stack.Then at the end it will cost all the cpu usage for too long stack.

I use zio 2.0.0-M4 and java 11.

![image](https://user-images.githubusercontent.com/2442257/140077917-2ee3b4c8-a3d9-4912-bfbc-197c8825624a.png)

[2021-11-03 15:30] KadekM opened #5994 "TestClock hangs when used with zio-kafka layer"
Minified example - using https://github.com/zio/zio-kafka, test hangs on `TestClock`:
[code]

without `theLayer` (which isn't used in test) it passes.

[code]

[2021-11-03 15:54] adamgfraser commented on #5994
@KadekM Does `Consumer` create a background fiber? `TestClock` waits for all fibers in the test to suspend before advancing the clock, so if there is a background fiber that runs forever the clock will never advance.

[2021-11-03 15:55] adamgfraser commented on #5993
@zheh12 Thanks for reporting! We need to audit all these recursive operators with the new stack traces.

[2021-11-03 16:02] KadekM commented on #5994
I believe it does. Is there anything we can do about this?

[2021-11-03 21:53] 987Nabil commented on #3019
@adamgfraser I think this can be closed or? Docusaurus is already at a higher version

[2021-11-03 22:08] adamgfraser commented on #3019
@987Nabil Yes! Thank you! 🙏

[2021-11-03 22:08] #3019 closed

[2021-11-04 09:52] KadekM commented on #5994
I am closing this because I've decided to just provide live Clock instances to the Kafka layer, but the initial hangout did take me by surprise :-)

[2021-11-04 09:52] #5994 closed

[2021-11-05 12:37] adamgfraser commented on #5993
@zheh12 Are you able to reproduce on latest version of `series/2.x`?

[2021-11-05 23:48] NavidJalali commented on #5918
This can be resolved now! 🥳

[2021-11-05 23:51] adamgfraser commented on #5918
@NavidJalali Great work on this!

[2021-11-05 23:51] #5918 closed

[2021-11-06 05:44] aartigao commented on #3995
@adamgfraser Whatever it was the bug it's gone now.

I've tried it with Scala 3.0.0 / 3.1.0 and ZIO 1.0.12 and works 🥳

I think it's safe to close the issue 🙂

[2021-11-06 08:37] zheh12 commented on #5993
Ok, I will try.

[2021-11-06 09:04] zheh12 commented on #5993
@adamgfraser. I pull the newest code from series/2.x branch. And build local 2.0.0-M4+88-83abb441-SNAPSHOT. And It works. The stack size now is always 34 now. Thanks for the fix.

[2021-11-07 02:38] #5993 closed

[2021-11-07 04:25] adamgfraser opened #6009 "Flaky Encoding Test"
[code]

[2021-11-07 04:28] adamgfraser opened #6010 "Flaky ZPool Spec"
[code]

[2021-11-07 04:33] ithinkicancode commented on #6009
Found another one:
[code]

[2021-11-07 04:34] ithinkicancode commented on #6009
If it becomes a constant failure, we can ignore/disable these offending tests for now.

[2021-11-07 04:35] ithinkicancode commented on #6009
Looks like `utf32Encode` and `utf16Encode` can run into some edge cases.

[2021-11-07 09:32] aartigao commented on #780
@alexknvl What's the status of your POC? I don't see a PR for that, but you did invest some time to fix this and #3417 🤔

Was it discarded for some reason not specified here? Thanks.

[2021-11-07 22:11] r-cyr opened #6014 "ZIO Streams 2.0: schedule doesn't emit until it has processed a complete chunk"
The behaviour of ZStream `schedule` between current and experimental is different. In classic, it emits one element per "tick" while in experimental, it emits all the elements of a chunk in a single "tick". Uncommenting the extra `.buffer(1)` in the following code fixes the problem.

[code]
Current: `Chunk((1,859ms),(2,859ms),(3,859ms),(4,859ms),(5,859ms),(6,860ms),(7,860ms),(8,860ms))`
Expected:

[2021-11-08 08:49] maxwell912 opened #6016 "ZIO 1.0: DI layers closes before dependent fibers"
Java 11
Scala 2.13

[code]
When app closes, managed worker releases before fiber (which depend on worker) interrupt

**Output**

main interrupt
release
worker interrupt

**Expected behaviour**
Fiber interrupts before dependency release

worker interrupt
release

[2021-11-09 00:26] #6009 closed

[2021-11-09 01:19] adamgfraser commented on #6016
I don't think this guarantee exists. Interruption of the inner fiber here takes place as part of automatic supervision, which occurs when the parent fiber's scope is closed immediately before returning its exit value. This happens after a fiber has completed any finalization logic associated with that fiber, which in this case includes execution of the release action of the layer.

In other words,

[2021-11-09 06:17] maxwell912 commented on #6016
Thanks for your reply
Your comment helped me to understand the right way of handling this situation, and i made sure this is expected behaviour

[2021-11-09 06:17] #6016 closed

[2021-11-09 11:58] valentin-panalyt opened #6021 "Reviving MVar"
I am using a bounded `Queue` with size 1 to emulate the MVar from Monix.
This works, but MVar offered a nicer API for this specific usecase, and so I wonder if it makes sense to a light wrapper for this specific case, since we cannot extend the current Queue, because it is not parametrized by the size.

An example of a nice convenience-function would be a `read` operation (naive implementation):
[

[2021-11-09 15:12] zhrebicek commented on #5853
Did not give it enough time to see I just did not pulled latest changes that remove `Cause#traced` it should be ok now.

[2021-11-09 17:00] #5853 closed

[2021-11-09 17:05] adamgfraser commented on #6021
This could potentially live in `zio.concurrent`.

[2021-11-10 00:50] adamgfraser opened #6024 "Flaky Stream Test"
On `series/2.x` branch after merging channel encoding.

[code]

[2021-11-10 02:39] kmatasfp commented on #6024
Was not able to reproduce on 10 core Apple Silicon :(
[code]
Ran
[code]
Got
[code]

[2021-11-10 02:44] kmatasfp commented on #4514
Was not able to reproduce this on 10 core Apple Silicon either, 2.0 branch commit 60b8390d42ba9d53501bdf7fe7f57ee55e9bf181 (after Channel merge) :(
[code]

Ran
[code]
Got
[code]

[2021-11-10 02:45] adamgfraser commented on #6024
I am also unable to replicate but definitely saw it in CI. Will include a link next time.

[2021-11-10 03:43] #6014 closed

[2021-11-10 09:19] stsatlantis commented on #6024
@vigoo was already looking into it during the zio-hackathon. Maybe he has more information

[2021-11-10 09:56] vigoo commented on #6024
No I was also unable to reproduce it

[2021-11-10 10:18] paulpdaniels opened #6025 "`ZStream#aggregateAsync` doesn't wait for downstream"
When running aggregateAsync with a much faster upstream producer, it doesn't seem to properly accumulate events:

[code]

In the case above I would expect that the result should be 5 results of approximately 100 (upstream is 100x faster than the downstream) however instead it prints "Value of 2" at 1 second intervals.

Switching to `aggregateAsyncWithin(ZTransducer.foldLeft(0)(_ + _), Schedule.fro

[2021-11-10 21:57] adamgfraser commented on #6024
https://github.com/zio/zio/runs/4171198178?check_suite_focus=true

[2021-11-10 22:53] kmatasfp commented on #6024
Will try install the same version of Java and run the same command CI did and see what happens

[2021-11-10 23:07] adamgfraser opened #6029 "ZIO 2.0: Generalize Platform Specific Pipelines"
`delate`, `inflate`, `gzip`, and `gunzip` currently require specifying the environment and / or error types. We should be able to describe these as pipelines that take any environment type and error type, returning the same type back. This will likely require implementing them without going through `fromChannel`.

[2021-11-11 10:25] baldram commented on #5849
In general tests are implemented. I might implement one more scenario to verify embedded stack traces (2nd and 3rd level); however, a possible bug requires fixing first. More details here: https://discord.com/channels/724305612166660202/776907921761370112/908299720160600124

[2021-11-11 23:16] #5849 closed

[2021-11-12 00:37] kmatasfp commented on #6024
Tried the same JVM and scala version as the failing CI build, tried:
[code]

Both cases ran test 10 times 100_000 iterations and with `nonFlaky` flag,

[2021-11-12 12:32] nigredo-tori opened #6032 "andThen is broken for optional expectations"
Given this setup:
[code]
, this test fails:
[code]
The output is as follows:
[code]

I've tried this with ZIO 1.0.12 and 2.0.0-M4. Here's a self-contained example project: [example.zip](https://github.com/zio/zio/files/7527450/example.zip).

I'm yet to find a good workaround. One thing that kind of works is `ExampleMock.Foo().optional && ExampleMock.Bar()` - but that has  different behavior. I've

[2021-11-12 13:35] adamgfraser opened #6033 "Implement ZValidation#partition"

[2021-11-12 20:52] #6033 closed

[2021-11-13 09:25] #5869 closed

[2021-11-13 09:25] #5868 closed

[2021-11-13 09:26] #5867 closed

[2021-11-13 09:26] #5865 closed

[2021-11-13 09:26] #5864 closed

[2021-11-13 09:26] #5630 closed

[2021-11-13 15:27] #5805 closed

[2021-11-13 15:28] adamgfraser commented on #5870
Closed by #5985.

[2021-11-13 15:28] #5870 closed

[2021-11-13 15:28] #5925 closed

[2021-11-13 15:29] #5903 closed

[2021-11-13 15:29] #5888 closed

[2021-11-13 15:31] adamgfraser commented on #5835
Closed by #6012.

[2021-11-13 15:31] #5835 closed

[2021-11-13 15:33] #5786 closed

[2021-11-13 21:47] gchudnov opened #6036 "ZIO 2.0.0-M5 - ZPipeline -- take(n: Long) ?"
Wondering, is it worth to add `take(n: Long)` to `ZPipeline`?

in ZIO 2.0.0-M4 I was using the following construction that allowed conditionally make a Stream take N elements:

[code]

where `withOptionalLimit` was defined as:

[code]

now, `.via` takes a `ZPipeline` that has `takeUntil`, `takeWhile`, but there is no `take(n)`.

Probably I can define `take(n)` myself, but it would be great to have

[2021-11-13 21:58] adamgfraser commented on #6036
@gchudnov Yes! Will add!

[2021-11-13 22:00] gchudnov commented on #6036
Thank you!

[2021-11-14 18:34] adamgfraser opened #6039 "ZIO 2.0: Extract ZIO Mock from ZIO Test"
This will allow ZIO Mock to evolve independently of ZIO Test.

[2021-11-15 04:19] swoogles opened #6040 "Add scalafix project validation to CI process"
Currently, nothing compiles/executes our `scalafix` code.
We should probably make it a submodule in our root `build.sbt`, and execute `scalafmt/test` as one of our CI stages.

[2021-11-15 05:51] adamgfraser commented on #6040
The disadvantage of this is that it requires any contributor making a change to the ZIO 2.0 API to make the corresponding changes to the Scalafix rule, which may be a somewhat different knowledge base and potentially create a barrier to new contributions.

[2021-11-15 06:05] swoogles commented on #6040
If we can set things up such that the only command that's executed is `scalafix/test`, then we shouldn't have that problem. It only confirms that transformations we've defined are correctly applied to source code; it's unaffected by broken code in the output directory.

I know this because we've got all sorts of Stream breakages in there now, but the command still succeeds 😄

If the structure of t

[2021-11-15 06:17] swoogles commented on #6040
More simply-
If your API change PR doesn't change anything in the `scalafix` directory, it won't break the ScalaFix part of our build.

[2021-11-15 06:34] udzin opened #6042 "Random.Service.nextIntBounded fail on zero value"
Zio random.nextIntBounded do not allow exceptions because of effectTotal

`        def nextIntBounded(n: Int): UIO[Int] =
          ZIO.effectTotal(SRandom.nextInt(n))`

 but java Random throws an exception on zero values

`    public int nextInt(int bound) {
        if (bound <= 0)
            throw new IllegalArgumentException(BadBound);`

It should be not UIO, but Task.

https://github.com/zio/

[2021-11-15 11:13] adamgfraser commented on #6040
Sounds great!

[2021-11-15 11:25] adamgfraser commented on #6042
I don't think this is a sufficient condition for treating it as a typed error. One common use of the die channel is for the equivalent of an `IllegalArgumentException`, where fault is with the caller for providing an invalid input as opposed to the implementation.

For example, in `foreachParN` requesting a degree of parallelism less than one will result in a defect. In cases like this adding the

[2021-11-15 11:31] udzin commented on #6042
How about UIO[Option[Int]] if it is not total?

[2021-11-15 15:44] regiskuckaertz opened #6044 "Fix mock type in documentation"
There is a small but insidious error in the [documentation for mocks](https://zio.dev/version-1.x/howto/mock-services/):
[code]
The first parameter is not the environment, which is what the `Any` seems to suggest, but the input for the mock. This is more correct:
[code]

[2021-11-15 21:49] luis3m commented on #6042
I think same argument applies. There's little value in changing the signature to `UIO[Option[Int]]` when this scenario can be easily avoided.

In my experience I've never been bitten by one of those scenarios where an illegal argument is passed. On the other hand, I've used many times functions like `nextInt` or `foreachParN` and it would be slightly annoying to handle the `None` case knowing I'm

[2021-11-16 09:09] regiskuckaertz opened #6048 "Prefix aspect operator"
So I'm writing these test suites and I want to _change their behaviour_ with a few aspects.

The "problem" I face is one of usability, as the spec grows in size, aspects are buried further down the file. As they disappear, I forget they're even there. Out of sight, out of mind.

I get why this looks great in a line like `program @@ changeThis @@ changeThat`, however I feel like sometimes the chang

[2021-11-16 09:11] narma commented on #6025
About `aggregateAsyncWithin`:  Schedule.fromDuration recurs only once. `Schedule.spaced` make the trick https://scastie.scala-lang.org/narma/OZ6gNMt8RweJLpyjroCTQA

[2021-11-16 13:20] adamgfraser commented on #6048
You can always do this with the `apply` method on aspects so this could be written in the more prominent style as:

[code]

I tend to think that is more regular than the right associative prefix operator but there is definitely some subjectivity here.

[2021-11-16 13:54] regiskuckaertz commented on #6048
Of course 🤦‍♂️ I agree, totally fine by me

[2021-11-16 13:54] #6048 closed

[2021-11-16 14:02] pshirshov commented on #4809
@kitlangton is working on a fix for this here: https://github.com/zio/izumi-reflect/pull/239

Though that's not a bug. This is a missing feature :D

[2021-11-16 16:55] eaborm opened #6049 "Misleading Code Sample: Basic Concurrency -> Composing Fibers -> Fiber#orElse"
The web site's sample code refers to the result of a call to Fiber#orElse by the name "tuple".  However, the type is not a tuple, it is a string.  This name is misleading and creates confusion with the call to Fiber#join illustrated just prior to it.

I have a PR ready for this.

[2021-11-16 22:14] nightscape commented on #4356
Sounds like this one can be closed, right @TobiasPfeifer @mattkamandesonos ?

[2021-11-17 00:45] a-morales commented on #6032
I tested this and this is fixed by https://github.com/zio/zio/pull/5834 which is already available in `ZIO 2.0.0-M5` and should be available in the next `ZIO 1.0.X` release.

[2021-11-17 12:36] #6049 closed

[2021-11-17 13:48] ya-goodfella opened #6053 "ZIO.service is unsound"
Given latest snapshot version (2.0.0-M5+7-9d3014fc-SNAPSHOT) running in Ammonite REPL:

[code]

[2021-11-17 16:49] kitlangton commented on #6053
Just for bystanders, this will be rectified momentarily—hence no new release yet :)

Details here: https://twitter.com/Fellrond/status/1460967143135227909

[2021-11-18 09:39] chikei opened #6058 "Schedule#>>> results max delay instead of add"
While piping section of schedule document describe delay behaviour as `d1 + d2`, printed times from this snippet are about 2 seconds apart instead of 3 seconds:
[code]

this might be a doc bug or code bug (with a potential cause using maxOffsetDateTime [here](https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/Schedule.scala#L175))

[2021-11-18 18:41] adamgfraser commented on #6058
Hmmm, I'm not sure this is a bug.

Here is the relevant implementation:

[code]

As you point out right now we combine the intervals by taking the maximum of them. However, I do not think it is well defined in general to just add them. For one thing the intervals represent specific points in time rather than durations so we can't just add them. Potentially we could calculate the difference between

[2021-11-19 01:54] #6053 closed

[2021-11-19 10:30] mattkamandesonos commented on #4356
Yes, closing.

[2021-11-19 10:30] #4356 closed

[2021-11-19 16:44] daron666 commented on #6025
Hi! I'm working on a fix.

[2021-11-19 17:43] #6040 closed

[2021-11-20 14:30] gchudnov opened #6069 "ZIO 2.0.0-M6-1 - ZIO.attempt"
Hi!

tried to compile a project with `ZIO 2.0.0-M6-1` instead of `ZIO 2.0.0-M5` and got an error (one of) that `ZIO.attempt` is missing.
I remember that it was recommended to use instead of `.effect` in 2.0 and can see it in ZIO `series/2.x` branch.

After inspecting JAR manually, found out that the method is really missing in `zio_3-2.0.0-M6-1-sources.jar`.

Either I'm doing something wrong or th

[2021-11-20 14:42] gchudnov commented on #6069
ah, can see `M6-2` was released, will check.

Thank you!

[2021-11-20 16:14] gchudnov commented on #6069
all good now, thank you!

[2021-11-20 16:14] #6069 closed

[2021-11-20 16:36] gchudnov commented on #6036
Will close it, the method was added.

Thank you!

[2021-11-20 16:36] #6036 closed

[2021-11-20 16:38] paulpdaniels commented on #6025
@narma yeah figured that one out a bit later, still I think the either the docs are incorrect for these operators or the implementation. I'm curious, @daron666 what is your proposed fix?

[2021-11-20 17:57] gchudnov opened #6070 "ZIO 2.x Migration Guide - serviceWith"
Hi,

after `2.0.0-M6-2`, wondering, if in the following example in the documentation:

[code]

should be:

[code]

instead?

Thank you,
Grigorii

[2021-11-20 18:45] daron666 commented on #6025
@paulpdaniels Oh yeah sorry, according to my investigation you should use `Schedule.spaced` for that purpose, cause `Schedule.fromDuration` is meant to proc only once.

[2021-11-20 19:12] earldouglas opened #6071 "Macro expansion exception when upgrading from 2.0.0-M4 to 2.0.0-M6-2"
When upgrading from 2.0.0-M4 to 2.0.0-M6-2, I [started getting a compile-time exception][1] when using `ZLayer.succeed` without an explicit type argument:

[code]

Here's a minimal project to reproduce the issue:

*build.sbt:*

[code]

*project/build.properties:*

[code]

*src/main/scala/Foo.scala:*

[code]

[1]: https://github.com/earldouglas/sectery/pull/292/files#diff-5fc55b0d1a0f4b318d959097aa

[2021-11-20 19:24] chikei commented on #6058
or perhaps we could think about new combinator focused on additive delay in the sense `>>>` is more about piping input output and `andThen` is about follow first schedule until it done then follow second schedule ? (so description about duration of both on the website are wrong now)

[2021-11-20 20:33] khajavi commented on #6070
Hi Grigorii,
Thank you for reporting. You are right!
I'll update it.

[2021-11-20 20:58] gchudnov commented on #6070
Thank you!

[2021-11-21 09:29] jdegoes opened #6077 "ZIO 2.0: Improvements to ZTraceElement"
ZTraceElement has a few issues we should fix before 2.0 release:

 - [x] **Security**. `ZTraceElement` macro tracks the full source code location to the file on the machine that did the packaging. Under ordinary circumstances, a path will not leak any private information, but we don't have any guarantee what user names (in a home directory) or hashes or other pieces of information might be embedde

[2021-11-21 12:20] narma commented on #6025
Well,  one thing I can't understand - why `aggregateAsync`  which is `aggregateAsyncWithin(sink, Schedule.forever)` recurs only once?

[2021-11-21 12:42] kitlangton commented on #6071
I’ll get on that :)

[2021-11-21 12:44] kitlangton commented on #6071
Hrmmm. CachedRefinedType. I remember seeing a special note about this in Izumi-reflect, @neko-kai @pshirshov. Do you happen to know anything about that weird type?

[2021-11-21 13:13] #6070 closed

[2021-11-21 13:14] adamgfraser commented on #6077
Will do this.

[2021-11-21 14:10] neko-kai commented on #6071
@kitlangton No, haven't seen that one, the note was probably about LazyTypeRef. But CachedRefinedType sounds like a similar generic wrapper - there may be a method on it to access the underlying type that you could access reflectively. It may also help you to look for it in dotty source code. I'm not near a PC atm so can't help investigate right now.

[2021-11-21 14:14] kitlangton commented on #6071
Same :) will look tomorrow. Enjoy the weekend! And thanks for the tip.

[2021-11-21 15:44] adamgfraser commented on #6058
We should definitely update the website assuming we agree about this.

I'm not sure the concept of additive delay of the outputs of two schedules makes sense in general. A schedule outputs a point in time that it wants to recur at, say Tuesday April 1st at 10 AM. So we can certainly add a delay to an existing point in time. We can create a schedule at recurs at a point in time that is delayed a ce

[2021-11-21 19:28] kitlangton commented on #6071
Have a PR that should address the issue. Seems like a Dotty bug as well.

[2021-11-21 21:17] #6071 closed

[2021-11-22 10:42] chikei commented on #6058
Ah, that's fair point :)

[2021-11-22 10:42] #6058 closed

[2021-11-23 14:28] domdorn opened #6083 "TMap: removeIf should return keys of removed elements"
currently I have to use code like this to figure out which elements have been removed:
[code]

would be good if `removeIf` would return me a `List`/`Seq`/`Chunk` of the *keys* or elements that got removed

[2021-11-23 14:29] domdorn commented on #6083
maybe its wise to add an additional operation `removeIfReturning` to not unnecessarily allocate resources when not needed

[2021-11-23 14:35] domdorn opened #6084 "TMap: allow to provide default value if key does not exist"
`TMap` should allow to provide a default value for the `value` parameter if a `key` does not exist.
Also an (additional?) `get` operator should exist that allows to provide a default value.

e.g. currently I have to do:
[code]
all the time, as `get` returns an `Option`.
Additionally, it might be niceto add a `apply` method to `TMap` so I could do

[code]

[2021-11-24 07:06] alphaho opened #6090 "type checking succeeded incorrectly for `hasSameElements` in zio test"
Have found an issue that `hasSameElements` would incorrectly pass the type checking when it's expected to fail the compilation.

In the below snippet, example 1 is the way I would usually use for `hasSameElements`, but it doesn't catch the type error. If we provide some type hints, as we did in example 2 & 3, only example 3 will be caught by the compiler.

I think what happened in example 1 is tha

[2021-11-24 07:09] alphaho commented on #6090
We may have similar problems with other assertions like `hasOneOf`, `hasNoneOf`, etc.

[2021-11-24 09:25] alycklama commented on #6084
This should already work? Could you maybe share more of your code to understand what you are trying to do?

[code]

[2021-11-24 13:04] alycklama commented on #6090
I can make Intellij highlight the problem if I add the code below, but it'll still compile unfortunately:

[code]

<img width="856" alt="image" src="https://user-images.githubusercontent.com/6285202/143243491-b07b32be-9d13-4189-b2d8-aaf5051e2b3a.png">

vs

<img width="649" alt="image" src="https://user-images.githubusercontent.com/6285202/143243546-485774c5-41d0-470c-bf30-2a49d94c4ef2.png">

I'll

[2021-11-24 13:50] adamgfraser commented on #6084
The problem is he wants to avoid having to do the `getOrElse` every time there. He wants something like:

[code]

However, this still isn't what he really wants because he doesn't want the `Option` there at all, which is why he is asking for an `apply` method that would not return the value optionally. The problem is that we have no static type information to know that it is safe to do this.

Poss

[2021-11-24 13:51] mijicd commented on #6084
As mentioned by @alycklama, `TMap` exposes `getOrElse` which should be sufficient. If you're referring to something else, I guess we could add some `withDefault` constructor, and deal with the callsite. `apply` is omitted intentionally, as it's an unsafe method present on existing collection.

[2021-11-24 14:42] domdorn commented on #6084
hmmm.. looks like IntelliJ used a older version while I already upgraded in sbt.. migrated to `getOrElse`, thx!

[2021-11-24 14:49] #6084 closed

[2021-11-24 14:54] jeroenr commented on #4388
I think this one can be closed now since it's added by https://github.com/zio/zio/pull/6091

[2021-11-24 15:16] #4388 closed

[2021-11-24 19:33] virusdave commented on #4809
Can we get a bumped zio 1.x release with izumi dependencies update to include the update from https://github.com/zio/izumi-reflect/pull/239 ?  It looks from izumi release notes as if libraries and user code both need to be updated to work successfully.

[2021-11-24 19:41] adamgfraser commented on #4809
Yes will do shortly.

[2021-11-24 19:43] danilbykov opened #6095 "Unable to filter tests by tag"
I wrote simple test with `TestAnnotation`
[code]

Now I run tests and want to filter out this test by tag
[code]

But even I specify another tag `MySpec` is executed. It looks like problem is in class
https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/FilteredSpec.scala#L38
Instead of `.getOrElse(spec)` it should return `Spec.empty`.

Is it bug? Can I fix it?

[2021-11-24 20:05] adamgfraser commented on #6095
@danilbykov It was actually International behavior at the time that if you try to filter for a tag that doesn't exist we run all the tests so you don't accidentally filter out all the tests and get a test suite that passes if you haven't run anything. But I am fine with changing it.

[2021-11-24 20:18] #6077 closed

[2021-11-24 20:40] danilbykov commented on #6095
There is another example more confusing case. Let's assume that we two specs: one with tag UnitTest and another with tag ContainerTest. Now I run tests with tag UnitTest. First spec is executed because it matches with my filter tag. Second spec is also executed because doesn't contain filter tag.

So I will probably open PR tomorrow.

[2021-11-24 20:42] adamgfraser commented on #6095
Sounds good. We should make the same change for filtering by labels.

[2021-11-24 20:51] adamgfraser commented on #4809
Actually I think we can't update to `izumi-reflect` 2.0 because it is not binary compatible with 1.0 so it would cause ZIO itself to break binary compatibility. So we would have to look to back port improvements to `izumi-refect` 2.0 to 1.0.

@neko-kai or @pshirshov Can you confirm that is correct?

[2021-11-25 00:02] neko-kai commented on #4809
@adamgfraser
It is _binary_ compatible, the breakage is in:

* Fixed a bug when types parameterized by a wildcard would lose their prefix (zio/izumi-reflect#203)

It concerns only types with wildcard parameters, e.g. `Set[_]` (old Tag[Set[_]] will not be equal to new Tag[Set[_]] because the prefix `scala.collection.immutable` is now correctly included in the presence of a wildcard parameter)

That

[2021-11-25 09:50] #5855 closed

[2021-11-25 14:55] emilhotkowski commented on #4593
I've checked and all snippets work correctly.

I could pick up this task and remove all invisible / hidden code so it is easier to copy/paste working snippets. Should I do this? @adamgfraser

[2021-11-25 16:27] neko-kai commented on #4809
@virusdave You can update izumi-reflect in just your project by including it in dependencies, libraries don't have to be recompiled unless the composition of polymorphic tags (or specifically a lack of it in old Scala 3 versions) happens inside the library. (Also we might be talking about different fixes if you're not using Scala 3, only Scala 3 errors were addressed by that PR)

[2021-11-26 06:36] alphaho opened #6101 "ZIO Test is not capturing the standard out and standard error into JUnit test report"
I have found that the generated JUnit test report would not capture the standard out/standard error outputs from my ZIO tests. The system-out/system-error content of the JUnit report would be always like below. This has made it hard to integrate with the existing CI platforms, from which we usually read the test logs, instead of checking out the console outputs.

[code]

I'm not sure whether I sho

[2021-11-26 06:39] adamgfraser commented on #6101
Copying @dkarlinsky.

[2021-11-26 08:19] jeroenr commented on #6083
This is added in `series/2.x` by https://github.com/zio/zio/pull/6092

[2021-11-26 09:10] alphaho commented on #6101
BTW, @adamgfraser , is it better to have the JUnit test report to have the duration time included by default? I'm quite surprised that it requires the `timed` aspect to work. Which is very different from other test frameworks.

[2021-11-26 09:51] alphaho opened #6102 "TestClock.setDateTime would not work with MutableRunnableSpec's layer"
Have found an issue that if I provide `SomeService` through `MutableRunnableSpec`'s constructor, and `SomeService` would use the Clock interface, `SomeService` fails to get the time set in `TestClock.setDateTime`(As shown in `TestA`).
But if I provide `SomeService` through ZIO's provideSomeLayer in a `DefaultMutableRunnableSpec`(TestB) or in `DefaultRunnableSpec`(TestC), things work as expected.

[2021-11-26 17:46] virusdave commented on #4809
Yup, thanks.  This is actually what i did immediately after responding, and it does work (in that there's not a binary breakage), however it did not solve the underlying problem of `Has` throwing a runtime exception, so I ended up redesigning the system in question to avoid the issue :(  I'll file a separate followup ticket for a feature enhancement to support it.

[2021-11-26 21:31] adamgfraser commented on #6101
@alphaho I think that should already be happening? See #4972 for further discussion. Would certainly welcome a PR to automatically include this in the test reports.

[2021-11-26 21:31] dkarlinsky commented on #6101
Hi @alphaho, we have a [test](https://github.com/zio/zio/blob/master/test-junit-tests/jvm/src/test/scala/zio/test/junit/MavenJunitSpec.scala) that runs `mvn clean test` on a simple [maven project](https://github.com/zio/zio/blob/master/test-junit-tests/maven/pom.xml) which has a single failing [ZIO test](https://github.com/zio/zio/blob/master/test-junit-tests/maven/src/test/scala/zio/test/junit/ma

[2021-11-26 21:45] #6083 closed

[2021-11-27 13:04] alphaho commented on #6101
@adamgfraser @dkarlinsky If we run `sbt test` in https://github.com/zio/zio-logging/ with its latest commit, I can reproduce the issue in Windows.

As attached, both the time is set to `0.0` and the `system-out` is empty(after I have put a line `putStrLn` in the test).
[code]

Here's what I have updated in `slf4j-bridge/src/test/scala/zio/logging/slf4j/bridge/Slf4jBridgeSpec.scala`, that I expect

[2021-11-27 13:34] alphaho commented on #6101
Is it because I have the test reports generated by `sbt` instead of `maven`?

[2021-11-27 13:37] dkarlinsky commented on #6101
Ah, ok... I think I misunderstood.
Because you mentioned JUnit, I thought you were using the JUnit ZIO test runner under something like maven/gradle (or any other non-sbt build tool).
I guess sbt test system generates the JUnit test reports as well, even when not running JUnit, and with ZIO Test sbt integration, the system output is not captured.

[2021-11-27 13:52] dkarlinsky commented on #6101
Ok, looks like JUnit test report generation is done in SBT by `JUnitXmlReportPlugin` which is enabled by default.
And it looks like it doesn't support `<system-out>` or `<system-err>`: https://github.com/sbt/sbt/blob/develop/testing/src/main/scala/sbt/JUnitXmlTestsListener.scala#L166

[2021-11-27 13:53] dkarlinsky commented on #6101
Found this issue: https://github.com/sbt/sbt/issues/6537

[2021-11-27 14:45] alphaho commented on #6101
Thanks @dkarlinsky .

@adamgfraser Then we only have the `timed` issue left. After I explicitly added the `timed` aspect, the duration time do shows up in the xml test reports. But that seems to be different from [ZIO's MavenJunitSpec](https://github.com/zio/zio/blob/master/test-junit-tests/jvm/src/test/scala/zio/test/junit/MavenJunitSpec.scala), which doesn't require the `timed` aspect to be pres

[2021-11-27 16:04] adamgfraser commented on #6101
@alphaho Okay, yeah PR on that would be very welcome.

[2021-11-28 02:34] alphaho commented on #6101
Sure. Let me try to fix the duration time

[2021-11-29 08:31] jypma commented on #3226
Would it perhaps be easier (in the meantime) to have a simple environment variable control which spec(s) to run, e.g. just by name? Even if the skipped ones get their environment/dependencies constructed, it'd still save time and log output on that test run.

[2021-11-29 14:32] adamgfraser commented on #3226
@jypma You can already filter for a certain test with `testOnly zio.ZIOSpec -- -t "fiber interruption"`.

[2021-11-29 14:37] adamgfraser commented on #3226
Nice!

[2021-11-29 21:16] adamgfraser commented on #6101
@alphaho Awesome!

[2021-11-30 02:54] danilbykov commented on #6095
https://github.com/zio/zio/pull/6113

[2021-12-01 12:20] sebver opened #6117 "Compiler error when using injectSome"
I was playing around with 2.0.0-M6-2 on scala 2.13.7 and received a compiler error for the following snippet:

[code]

Pretty long error but here's the gist:
[code]

Not having any issues when using `provideSome`.

(By the way: loving the lack of Has 🙏 )

[2021-12-01 12:45] visox commented on #1803
would really wish this has been done @vasilmkd @iravid but i guess its on cold since 2019 ? :D

[2021-12-02 10:09] domdorn opened #6121 "zio 2.0: allow to log blocking effects"
Adam showed in the functional scala 2021 keynote that ZIO 2.0 will be able to figure out by itself if certain effects are blocking and shift them to the correct thread pool.
As far as I understood, we as developers are still able to help the runtime decide these things by marking an effect blocking. If this is still true:
Please provide a way to log out the effects that the ZIO Runtime found to be

[2021-12-02 11:14] adamgfraser commented on #6121
Logging of blocking effects will be included.

[2021-12-02 14:15] freskog opened #6122 "ZPipeline has a really impenetrable type-signature and doesn't infer well."
I recently started exploring the ZIO Streams encoding for ZIO 2. I like the idea of ZPipeline, but I find that working with this encoding to be more cumbersome that just using the ZStreams directly.

1) The types don't infer as well as with streams

The following sliding method composes two ZPipelines. I needed to specify the types everywhere to do this

[code]

I couldn't get either VS Code nor I

[2021-12-02 14:41] adamgfraser commented on #6122
The issue is with the current `ZPipeline` encoding we are trying to express stream transformations that don't necessarily depend on the specific type of stream elements. So in the case of `sliding` we don't want to really say that for some specific `R`, `E`, and `A` that we can pass a sliding window but rather that for any stream type we can transform it into the same stream type with a chunk of e

[2021-12-02 14:52] freskog commented on #6122
I found that even just composing existing pipelines (without having them attached to a stream) requires me to put type-ascriptions. I think that's a deal breaker for my main use-case which is really just to separate the transformations from the source.

I also find that VS Code will show ALL inferred types, making the feature useless in combination with ZPipeline compositions for example look at t

[2021-12-02 15:33] adamgfraser commented on #6122
You actually don't want to implement `sliding` in terms of `scan` because `scan` is specialized to a particular input and output type whereas `sliding` can be general to any input and output. You can implement `sliding` like this:

[code]

Note that `scan` and `dropWhile` are both already defined on `ZStream` so you can define sliding as an operator on `ZStream` or as a function from stream to str

[2021-12-03 09:16] freskog commented on #6122
Ah I think I get the idea behind ZPipeline with that example. That's really flexible!

I think don't think we'll use that for our application code, it would be to much overhead to explain. I'm happy to go back to using just ZStream (I think that getting folks new to ZIO to grok streams will be much easier as well if we restrict the usage to ZStream & ZSink, which covers pretty much all of our use-

[2021-12-03 13:25] ajaychandran opened #6125 "ZIO 2.0: Cause not propagated on channel interruption"
Version: 2.0.0-M6-2

Example:
[code]

Output:
[code]

Shouldn't the cause be propagated in the second case?

[2021-12-03 13:42] vigoo commented on #6125
I believe it should, will look into it. Thanks for reporting!

[2021-12-05 16:25] kitlangton commented on #6117
Weird! I will look into this. Thanks for the report ❤️

[2021-12-06 20:21] fanf commented on #1275
It looks like there will be some changes in ZIO 2.0: https://twitter.com/jdegoes/status/1466346352955342850

[2021-12-07 05:03] thesamet commented on #6125
I am seeing this problem in `ZStream` when migrating ScalaPB-zio-grpc to 2.0.0-M6-2. The minimal reprodubicle example I have is very similar:

[code]

The above prints `Failure(Empty)` while the equivalent ZIO 1.x prints `Failure(Interrupt(Id(1638853060792,1)))`

[2021-12-07 09:59] domdorn opened #6132 "zio-test: Test-Reports in junit.xml format"
For reporting test numbers/reports in Jenkins, a junit.xml compatible file needs to be generated.
The specification of this file can be found here:
https://llg.cubic.org/docs/junit/

Possible workaround?:
Change the object of the test to be a class with the `ZTestJunitRunner` as described in
https://github.com/zio/zio/blob/master/docs/usecases/testing.md

[2021-12-07 18:32] #6125 closed

[2021-12-09 07:32] nigredo-tori commented on #4480
At the moment (with 1.0.12) this kind of works:
[code]
produces something like this:
![image](https://user-images.githubusercontent.com/5962285/145352177-9fa5859c-c8fb-46f3-9423-e11752d261d6.png)

Left hand sides of `=` are array indices.

There's definitely room for improvement here:
1. `Diff` machinery only works for macro assertions, not `equalTo`, so you have to use `assertTrue`.
2. There's so

[2021-12-09 20:23] adamgfraser commented on #4480
@nigredo-tori I opened #6141 to improve the diffing functionality with `assertTrue`. We are moving to that as that idiomatic way to do assertions so I would not expect the same level of functionality with `equalTo`.

[2021-12-09 20:49] NavidKJalali commented on #5631
Can I do this?

[2021-12-09 20:50] NavidKJalali commented on #5631
@jdegoes @adamgfraser Can I do this?

[2021-12-09 20:51] adamgfraser commented on #6132
How is this different from the XML reports that SBT already generates?

Would certainly like to support reporting and I think we have new tools to do this with metrics built in but would not want to make the default spec extend the JUnit one.

[2021-12-09 20:54] adamgfraser commented on #5631
@NavidKJalali Sure!

[2021-12-09 22:56] narma commented on #6122
I just want to support what @freskog saying here.
First of all, I love ZIO for its excellent ergonomic of using in implementing real-world stuff, but ZPipeline looks like a step back in this purpose. Just take a look at IDEA type suggesting, it looks terrible
![image](https://user-images.githubusercontent.com/91045/145488593-6d9ab0c8-6c77-415e-9b91-fddd37c9f529.png)

[2021-12-09 23:29] domdorn commented on #6132
hmm.. I'll have to check again.. when migrating the last gradle project in our system to sbt, I had to pass specific parameters to the scalatest test runner (thats when I created this ticket).. have to look again tomorrow at work... will report back.

[2021-12-10 00:03] adamgfraser commented on #6122
@narma Thanks for your feedback! The actual type will infer flawlessly there but agree that IDE message is terrible. Thinking about this.

[2021-12-10 14:52] domdorn commented on #6132
I checked again and they are generated correctly by default. I'll close this ticket.

[2021-12-10 14:52] #6132 closed

[2021-12-10 17:39] #6122 closed

[2021-12-10 21:05] domdorn opened #6146 "zio 2.0: provide equivalent of `_.locally(SomeLogAnnotation, value)` in new logging mechanism"
`zio-logging` provides a way to store a key-value pair (e.g. "correlationId" -> "abcd", "userId" -> "domdorn") in the logger which is then passed down to MDC and thus will be transfered to third party systems like kibana.
The new logging functionality in zio 2.0-M6-2 provides `LogSpan`s, however they are there for measuring how long a span was used.
A functionality like `_.locally(..)` is missing

[2021-12-10 21:18] domdorn opened #6147 "zio 2.0: provide equivalent of zio-logging `zio.logging.log.trace`"
zio-logging has `zio.logging.log.trace` .. an equivalent for this is missing in zio 2.0-m6-2

[2021-12-10 21:41] adamgfraser commented on #6146
The logging functionality in ZIO is intended to provide the basic interface for logging that other libraries can rely on, not to replace higher level logging libraries like ZIO logging. I would wait for `zio-logging` to be released for ZIO 2.0 before upgrading applications that use functionality from that library.

[2021-12-10 21:42] adamgfraser commented on #6147
Higher level logging functionality will continue to be provided by `zio-logging` and will be available when `zio-logging` publishes a release candidate for ZIO 2.0 after we publish a release candidate of ZIO 2.0.

[2021-12-10 22:20] bbarker commented on #2784
Hi @fmeeuw - a little late maybe but [here is one such](https://github.com/zio/zio/pull/5042) - use it as a library or drop the code into your project.

[2021-12-10 22:24] bbarker commented on #2784
@fmeeuw sorry, posted the wrong URL earlier - fixed now

[2021-12-10 23:02] adamgfraser commented on #2784
Nice!

[2021-12-11 01:49] adamgfraser commented on #6147
Looked into this a little more. We just don't have a concept of a "trace" log level right now. There are obviously different logging frameworks but I think the one we are currently using is relatively common, even though it is not the same as the one `zio-logging` used. A `logTrace` operator would also be a little confusing because it is not clear from the name whether it is referring to the trace

[2021-12-11 11:45] domdorn commented on #6146
please wait with merging your PR, I'll want to show you my approach with a PR

[2021-12-11 12:40] adamgfraser commented on #6146
I think you are right that you can represent spans as "just another annotation", basically the stack is just the value of an annotation, but given the importance of spans as a concept I think it is nice to be able to access them directly in the logger versus having to go through an annotation.

[2021-12-11 13:01] #6042 closed

[2021-12-11 13:01] #6095 closed

[2021-12-11 13:02] adamgfraser commented on #6029
Resolved by #6144.

[2021-12-11 13:02] #6029 closed

[2021-12-11 14:18] #5631 closed

[2021-12-11 14:48] domdorn commented on #6146
ok, after failing to setup my current dev environment (intellij is confused and unable to resolve various zio classes) and reviewing your PR again, I conclude that its indeed a good idea to keep spans and annotations apart. Maybe we can even provide a way to access the annotations? e.g. use `ZIO.logAnnotate(key, value)` to store something and `ZIO.logAnnotations` to retrieve the `LogAnnotations` o

[2021-12-11 14:55] adamgfraser commented on #6146
Added in my latest commit. Yes they are propagated to child fibers.

[2021-12-11 16:11] domdorn commented on #6146
perfect. now we need to make appropriate helpers on `ZStream` e..g

[code]

[2021-12-11 17:24] domdorn commented on #6147
in other logging libraries (log4j, logback, slf4j) the level that is more fine grained then DEBUG is called TRACE. However, I see that this may cause confusion because we already use the term "trace", so how about we call it `logFine`?

https://www.tutorialspoint.com/log4j/log4j_logging_levels.htm
http://logback.qos.ch/manual/architecture.html
https://www.baeldung.com/slf4j-with-log4j2-logback#Fur

[2021-12-11 17:37] adamgfraser commented on #6147
We already have a runtime log level so I exposed that.

[2021-12-11 18:24] domdorn commented on #6147
hmm... I honestly haven't heard of a "runtime loglevel" before.. searching for it also only yields results for "change a loglevel at runtime".. could we use a more fitting name?

[2021-12-11 18:44] adamgfraser commented on #6147
Yeah that's fine.

[2021-12-11 19:38] domdorn commented on #6146
The PR looks already excellent!
What would be the way to disable logging for a certain effect / stream / managed ?

e.g. something along the lines
[code]

[2021-12-11 19:49] adamgfraser commented on #6146
Thanks! And thanks for all your feedback!

It is up to loggers to decide what to do with log messages, potentially just doing nothing if they are not of a high enough severity. You can use the `filterLogLevel` operator on loggers to specify that you only want to log messages at a certain log level.

[2021-12-11 19:52] domdorn commented on #6146
hmmm.. with `zio-logging` I once achieved that by doing (kind of)
[code]

could I do something similar here? e.g. switch out the logger for a certain effect ?

[2021-12-11 19:53] adamgfraser commented on #6146
Yes the logger is part of the `RuntimeConfig` so you can use the `withRuntimeConfig` operator to run a particular effect with a different runtime configuration.

[2021-12-11 19:55] domdorn commented on #6146
perfect! it would be great if you could do a `2.0.0-M6-3` or `2.0.0-M7` release once this is merged.. then I can take another stab at migrating my service.. :-)

[2021-12-11 19:56] adamgfraser commented on #6146
I don't think we will be doing another release before `RC1`. 😃

[2021-12-11 20:00] domdorn commented on #6146
oh.. I'm fine with a `RC1` soon as well :-D

If I would be to provide a `ZLogger` implemention that e.g. would bridge to SLF4J or render JSON, where should I put that? extra project? additional module in this project?

[2021-12-11 20:01] adamgfraser commented on #6146
That is exactly what `zio-logging` is for! 😃

[2021-12-11 20:16] domdorn commented on #6146
I think it now ticks all the boxes I need for migration. once you publish a new M7 or RC1, I'll be able to try out and see what's needed to replace the `zio-logging` 0.5.something version in my services (and possibly provide logger implementations)

[2021-12-11 23:01] alek-w opened #6154 "ZLayer could ignore actual values and use cached "image" of dependency"
illustrating test is there:
https://github.com/zio/zio/pull/6153

[2021-12-14 02:16] carbonshow opened #6161 "ZIO 2.0: why `java.lang.InterruptedException` is thrown while terminating akka.http?"
Hello, I write the simple version to run akka http service with zio:

[code]

everything works fine, when the process is interrupted, I got the expected message:
[code]

But, if I add the akka http server binding to coordinated shutdown , the exception is thrown:
[code]

When the process is interrupted, I got this:
[code]

Could anyone give me some tips: how to gracefully shutdown akka http servic

[2021-12-14 02:46] adamgfraser commented on #6161
@carbonshow Hi and thanks for the question! I would probably model the actor system as a `ZManaged` or a `ZLayer` where the `release` action was shutting down the actor system.

[2021-12-14 03:45] carbonshow commented on #6161
@adamgfraser thanks for your suggestion. I use ```ZManaged``` to control actor system and http service, there is no exception thrown any more when the process is interrupted.
[code]

the only question is: the effect that prints to Console called at the resource release phase seems not work. the output is:
[code]

[2021-12-14 09:29] jdegoes opened #6162 "Possible TestClock issue"
[code]

Observed this test to timeout after 2 minutes.

[2021-12-14 09:55] jdegoes opened #6163 "ZPipeline JVM timeout"
[code]

[2021-12-14 11:01] pooriatgh commented on #5965
I want to work on this as my first contribution.

[2021-12-14 11:13] mijicd commented on #5965
@pooriatgh All yours, thank you!

[2021-12-14 13:01] adamgfraser commented on #6162
I have not been able to replicate locally with `nonFlaky(100000)`.

[2021-12-14 13:02] adamgfraser commented on #6163
Yes I saw this as well.

[2021-12-14 14:28] domdorn opened #6166 "zio-test: allow ZManaged to be returned"
for tests where I have to deal with ressources, it would be helpful if `testM` would also accept a `ZManaged[R,E,A]` and not just a `ZIO[R,E,A]`,
e.g. see this code (which currently does not compile)
[code]

to make it work, I have to wrap the for-comprehension and then call `useNow`:
[code]

[2021-12-14 14:38] adamgfraser commented on #6166
This is already supported on ZIO 2.0.

[2021-12-14 17:25] #6154 closed

[2021-12-14 22:30] ksarath opened #6167 "zio-test: feature request to add never and times / exactly utility methods to Expectation type"
Would like to request to add the below utility methods to `Expectation`

- `times(n)` or `exactly(n)` to test whether the expectation was called exactly `n` times
- `never` to test a never called expectation

[2021-12-14 22:43] durban opened #6168 "STM: observing uncommitted value"
This is a continuation of #4870, which was seemingly fixed (I can't seem to reopen it). The JCStress test below (which is only slightly different from the one in #4870) fails occasionally. The main difference is that instead of 2 transactions, here we have 10+10 transactions. Also, here we use `ZSTM.fail` instead of `ZSTM.die` (but changing it to `ZSTM.die` doesn't make this test pass).

The basic

[2021-12-15 07:42] adamgfraser commented on #6168
@durban Thanks for reporting! Will take a look.

[2021-12-15 08:18] vigoo commented on #6163
Me too, could not reproduce locally yet

[2021-12-15 13:13] V-Lamp opened #6172 "One confused Scala dev suggesting better way to evangelise ZIO's `E` to the community"
Hi, I started playing around localy with IO and clearer a big confusion/unknown I had by reading/watching videos about it.
Bit of background: I am a staff engineer at my job, very confortable with FP, effects, typeclasses and so on, but still got confused, so more may be in the same plane.

ZIO, departs more from the "lazy cancellable future" mental model of Cats/Monix by having an explicit error

[2021-12-15 13:26] adamgfraser commented on #6166
Going to close this as it has already been implemented but thanks for raising. It also works with `ZSTM`.

[2021-12-15 13:26] #6166 closed

[2021-12-15 13:39] #6172 closed

[2021-12-15 14:10] adamgfraser commented on #6172
@V-Lamp Thank you for the feedback! That is really helpful.

Yes as you say there are definitely two error channels, the "typed" error channel and the "untyped" one. I think the intention of some of the descriptions around this is to emphasize the typed error channel because that is what is different from some other functional effect systems, but you are right that is in addition to an untyped err

[2021-12-15 16:23] ajaychandran opened #6173 "ZIO 2.0: ZChannel.repeated throws StackOverflowError"
Version: 2.0.0-RC1

Example:
[code]

Output:
[code]

[2021-12-16 08:42] ajrnz commented on #4806
I'm pretty sure the is related to https://github.com/com-lihaoyi/Ammonite/issues/534 which is closed by shouldn't be. I've run into it a lot. eg this fails

        val f = Future {
          println("a")
        }

        Await.result(f, 1 second)

but if you wrap it in an object or `main` function it is ok.

So:

      @main
      def main() = {
        ...
      }

[2021-12-16 10:45] vigoo commented on #6173
Thanks for reporting!

[2021-12-16 11:45] ajaychandran commented on #6173
I think this is similar to #5870. Perhaps the returned channel should be cached?

[2021-12-16 12:33] ajaychandran commented on #6173
What I meant was that the following optimization could be included as well.
[code]
Similar to how `ZIO.forever` was redefined in  #5985.

[2021-12-16 12:44] vigoo commented on #6173
I see, we can do that too. Anyway, the issue helped me realize the more fundamental `flatMap` stack safety issue in the executor that is fixed by the PR.
I added your proposal to it too.

[2021-12-16 13:29] #6173 closed

[2021-12-16 15:47] domdorn commented on #4806
After thinking about it, running an effect outside the @main basically is the same as in this screenshot ![image](https://user-images.githubusercontent.com/100349/146403148-8cdbf8cb-5db1-47b6-82a1-578dcb744726.png)

Maybe we can find a way to make a suitable error message or something

[2021-12-16 15:49] domdorn commented on #6146
:( this didnt make it into the RC1... Can I help somehow?

[2021-12-16 15:51] adamgfraser commented on #6146
There is ongoing work in `zio-logging` around log annotations and we are still figuring out what belongs there versus in ZIO Core. Stay tuned.

[2021-12-16 21:22] adamgfraser commented on #6168
I am not able to replicate on either `master` or `series/2.x`.

[2021-12-17 00:24] pshirshov commented on #3629
This may be somehow relevant: https://github.com/zio/izumi-reflect/issues/31

[2021-12-17 00:25] pshirshov commented on #4809
This may be somehow relevant: https://github.com/zio/izumi-reflect/issues/31

[2021-12-17 06:27] BardurArantsson opened #6180 "ZIO 2.0-RC1: Chunk throws mysterious ArrayOutOfBoundsException"
Hi!

I'm getting a rather mysterious ArrayOutOfBoundsException from Chunk.

Here's the smallest reproducer that I have so far:

[code]

Running this shows

[code]

  and I'm a bit mystified where the 256 in "Index 256 out of bounds" is coming from. Obviously, the "length 256" bit comes from the length I've specified.

As you can see from the output we're querying indexes 58 and 3.

The code works

[2021-12-17 06:31] BardurArantsson commented on #6180
Varying the parmaeters to the fill method shows that (w,h) = (65, 4) seems to be some sort of boundary where it starts to go wrong. (w,h) = (64, 4) works as does (65,3).

[2021-12-17 06:40] adamgfraser commented on #6180
Thanks for reporting! Will take a look!

[2021-12-17 06:43] BardurArantsson commented on #6180
Ok, reproducer shortened further to this:

[code]

Interestingly, removing the outer wrapping Chunk seems to get rid of the problem in this reproducer.

[2021-12-17 07:13] adamgfraser commented on #6180
I think I see the issue. Will submit a PR shortly.

[2021-12-17 15:15] durban commented on #6168
I've now tried with ZIO versions 1.0.13 and 2.0.0-RC1, and I've got the same behavior (it fails). These  versions are pretty recent, so I guess there shouldn't be a big difference with the current branches. (But let me know if there is.)

Since there are a lot of concurrently running fibers in this test, I guess the actual hardware could be relevant. The machine I've tried this on has 4 physical t

[2021-12-17 16:52] #6180 closed

[2021-12-17 16:54] adamgfraser commented on #6168
I can try more. How frequently does this occur for you? I ran each stress test about ten times.

[2021-12-17 17:04] durban commented on #6168
Hm, strange... for me it occurs for every `Jcstress/run` (which takes around 10 minutes on my machine). However, in the JCStress report I can see that most of the results are correct, and only a few are incorrect. E.g., there are a million runs in the JCStress report, and only a few of those are failures.

An observation which might be useful: the JCStress report seems to show more failures when I

[2021-12-18 09:51] BardurArantsson commented on #6180
Cool! Very fast turn-around :).

Are snapshots published, or should I just wait for RC2? No rush, obviously, I realize RCs are RCs for a reason :D

[2021-12-18 11:11] ajrnz opened #6186 "Memory leak when using ZStream.tick()"
In 2.0.0-RC1 running the following causes a progressive memory leak, CPU usage also increases to max with no GC pressure.

[code]

It doesn't seem to matter which zip version you use or the order of the zip. Using `jstack` sometimes I see large stack traces in the scheduler (~1000 items -  in the scala iterator internals). I've no idea if this is normal.

The same code runs without issue on 1.0.13

[2021-12-18 18:31] adamgfraser commented on #6168
I am able to reproduce with `N = 1000`. Investigating.

[2021-12-20 11:57] carbonshow commented on #6161
Hello, I have find out why the application inherited from ```ZIOAppDefault``` can't release when interrupted by SIGINT.

There's no relation with the resource management mechanism by ```ZManaged``` or fiber implementation. The method ```ZIOAPp#invoke``` in 2.0.0-RC1:

[code]

When the SIGINT signal is received by JVM, the effect created by ```ZIO#invoke```, but it does not pass the interruption in

[2021-12-20 11:57] #6161 closed

[2021-12-20 20:11] vigoo commented on #6186
Could you share some details on how fast this happens for you? How much CPU and memory increase per 1000 elements for example? I would like to make sure I'm reproducing it properly

[2021-12-21 00:52] domdorn opened #6190 "zio-test: Provide easy way to get Runtime[TestEnvironment]"
For some tests that are still based on scalatest, I have to get a `Runtime[TestEnvironment]`. I tried various ways of getting a hold of it and in the end ended up with this piece of code:

[code]

clearly this is by far not straightforward (it took me 1 hour to finally come up with it)..
We should provide easy ways for people that can't or don't want to migrate to a zio-test `DefaultRunnableSpec`

[2021-12-21 02:18] adamgfraser commented on #6190
You can do this with `Runtime.unsafeFromLayer(testEnvironment)`.

Note that this can cause interference with tests if multiple tests are interacting with the same service so I would normally recommend `Runtime.default.unsafeRun(zio.provideLayer(testEnvironment))`.

[2021-12-21 09:55] ajrnz commented on #6186
I put 50 milliseconds in the example so that it was a rate any clock could keep up with. However if you make the rate faster, say 10ms then you start to see a noticeable slowdown at about 1000 elements (zio1 has no problems with this rate).

At about 1000 elements I see (using VisualVM) about 16MB allocated as Int array

![image](https://user-images.githubusercontent.com/1515832/146909264-7e58ccef

[2021-12-21 10:21] vigoo commented on #6186
Thanks for the details! I'm working on getting rid of the unnecessary chunk operations, then we will see if further optimizations are necessary.

[2021-12-22 05:49] reibitto opened #6197 "zio-test: including parallelization info in test output"
I think it would be nice if both wall clock time and CPU time (is this the right term for it?) were outputted when the tests complete. My reasoning is:
- It would show you how much time you're saving by having parallelized the tests.
- It can show you how parallelizable your code currently is in relation to the number of cores available. If the number is low it would be a hint that there is an opp

[2021-12-22 15:45] #6186 closed

[2021-12-22 17:16] durban commented on #6168
I see that #6192 made the inconsistent read unobservable from the outside. But of course, it still exists, and inside the running transaction it is observable. And it can cause problems outside too, see my other point about _opacity_ above. Should I open a separate issue for this remaining concern?

[2021-12-22 17:18] adamgfraser commented on #6168
I think the guarantee is that a transaction based on an inconsistent state can never be committed, not that it will never occur.

[2021-12-22 18:59] durban commented on #6168
Sure. And I'm saying, that that's still unfortunate (see above). So this part is not a "bug report", it is a "feature suggestion". (Btw I can't find in the documentation that uncommitted reads are possible.)

[2021-12-22 22:34] adamgfraser commented on #6168
All other things being equal this would be a desirable property. However, additional guarantees from the framework must be evaluated based on the importance of those guarantees to building higher level solutions and the cost of providing them.

One of the main goals of ZIO STM has been to deliver a high performance solution to allow software transactional memory to be used on an "everyday" basis.

[2021-12-23 05:08] alexvanolst commented on #6167
As far as I can tell these both exist on ZIO 1.x and 2.x

[2021-12-23 13:08] #6197 closed

[2021-12-23 13:31] durban commented on #6168
I disagree, but fair enough. (Fwiw, Haskell STM can "get away" with not having opacity by having extra support in the runtime system; so Haskell STM is not a pure library STM implementation.)

[2021-12-23 13:42] adamgfraser commented on #6167
@ksarath Going to close this for now as both of these operators already exist but please feel free to re-open if there is something else you would like to see!

[2021-12-23 13:42] #6167 closed

[2021-12-23 13:53] adamgfraser opened #6204 "Flaky ZIOApp Spec"
On Scala 3.

[code]

https://github.com/zio/zio/runs/4618533493?check_suite_focus=true

[2021-12-23 14:06] adamgfraser commented on #6204
Not able to reproduce locally.

[2021-12-24 02:24] jamesward opened #6206 "ZLayer Deprecations Point to Missing `toLayer`"
ZIO 2.0.0-RC1

A number of methods on ZLayer have a deprecation:
[code]

But `toLayer` doesn't seem to exist.

[2021-12-24 02:29] adamgfraser commented on #6206
@jamesward Hi! It is actually an operator on `ZIO` and `ZManaged`. So you can replace the different ZLayer constructors with this pattern:

[code]

This pattern scales up with you because you can switch to `ZManaged.service` when you need finalization and do any other effects in setting up your service in the for comprehension. Note that now you can also do the following which I think is even nice

[2021-12-24 02:35] adamgfraser commented on #5103
Going to close this as I think this operator did not actually exist and it makes less sense with `ZEnvironment` being baked in to the environment.

[2021-12-24 02:35] #5103 closed

[2021-12-24 02:37] #4481 closed

[2021-12-24 02:38] adamgfraser commented on #4475
This has been implemented now.

[2021-12-24 02:38] #4475 closed

[2021-12-24 02:39] adamgfraser commented on #4259
This has been implemented in ZIO 2.

[2021-12-24 02:39] #4259 closed

[2021-12-24 02:43] #4085 closed

[2021-12-24 02:44] adamgfraser commented on #1236
This has been implemented in ZIO 2 with `ZPool`.

[2021-12-24 02:44] #1236 closed

[2021-12-24 02:46] adamgfraser commented on #2358
I think this has been superseded by the new approach to execution tracing in ZIO 2.

[2021-12-24 02:46] #2358 closed

[2021-12-24 02:47] adamgfraser commented on #916
I think this has been superseded by the new approach to execution tracing in ZIO 2.

[2021-12-24 02:47] #916 closed

[2021-12-24 02:48] adamgfraser commented on #1014
I think this has been addressed by the new approach to execution tracing in ZIO 2 where traces for all these internal operators would not be shown.

[2021-12-24 02:48] #1014 closed

[2021-12-24 02:52] adamgfraser commented on #2071
This is done now based on the work of @atooni.

[2021-12-24 02:52] #2071 closed

[2021-12-24 02:56] adamgfraser commented on #2526
This has been implemented now.

[2021-12-24 02:56] #2526 closed

[2021-12-24 02:56] #2549 closed

[2021-12-24 02:57] #2633 closed

[2021-12-24 02:58] adamgfraser commented on #2797
We have moved over to Github Actions now.

[2021-12-24 02:58] #2797 closed

[2021-12-24 02:58] #2844 closed

[2021-12-24 02:59] adamgfraser commented on #2949
I think we can close this as our understanding is that this will not be addressed at the Scala compiler level and we have addressed by deprecating these constructors in ZIO 2.

[2021-12-24 02:59] #2949 closed

[2021-12-24 03:00] adamgfraser commented on #3039
This is addressed by `ZEnvironment` being covariant in ZIO 2.

[2021-12-24 03:00] #3039 closed

[2021-12-24 03:02] adamgfraser commented on #3113
Given the age of this issue and that I have not seen similar reports more recently going to close this.

[2021-12-24 03:02] #3113 closed

[2021-12-24 13:21] khajavi opened #6208 "Wrong ZLayer Warning"
While I was working with ZIO Environment I encountered the following issues

1. The following program is assumed to compile without warning:

[code]

But it prints the following warning message:

[code]

It compiles with `ZIO#provideCustomLayer` version, so I think it relates to the `ZLayer` macro.

2. Rather than stopping the compilation phase, I think it would be better to allow the compiler to

[2021-12-27 10:54] khajavi opened #6217 "ZIO 2.0: ZLayer.apply for ordinary values"
I think it would be better to have a consistent API for using `DataType.apply` instead of `DataType.succeed` for ordinary values. So as a user when I can write `ZIO(3)` instead of `ZIO.succeed(3)`, I would like to do the same for `ZLayer`.
So, could this be considered reasonable?

[2021-12-27 14:12] adamgfraser commented on #6217
I think the problem is that we really want `ZLayer.apply` for converting `ZIO` and `ZManaged` values to `ZLayer`:

[code]

We could get around this by using path dependent types and a `ZLayer` constructor pattern to support all three uses of `apply`, but personally given the complexity that already exists in this area I would prefer to avoid making these very commonly used method signatures harder

[2021-12-27 17:23] eaborm opened #6219 "sbt script fails with JDK 17 (JVMCI)"
The Java-level JVM compiler interface (JVMCI) has been removed from JDK 17, but the sbt script tries to enable it with JVM options "-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICompiler".  The result is that the sbt script fails to start with error "Cannot use JVMCI compiler: No JVMCI compiler found".

As a temporary workaround, I have removed those options from line 260 of my local copy of the s

[2021-12-27 17:38] adamgfraser commented on #6219
@eaborm Thanks for reporting! I just submitted a PR to update the SBT script to resolve.

[2021-12-27 18:46] BardurArantsson opened #6222 "ZIO-2.0: Chunk.updated forgets updates"
It seems that Chunk.updated sometimes 'forgets' updates. Here's my minimized reproducer:

[code]

This test passes with h = 8, but fails with h = 9 (as in the example I've pasted).

[2021-12-27 18:48] BardurArantsson commented on #6222
This might be related to #6180 , but do note that I'm running 2.0.0-RC1+33-cc89903f-SNAPSHOT . (And verified that the bug reported in #6180 was fixed.)

[2021-12-27 18:50] adamgfraser commented on #6222
@BardurArantsson Thanks for reporting! Will take a look!

[2021-12-27 18:52] BardurArantsson commented on #6222
Oh, it looks like  `w = 29` and `h = 9` still reproduces. This is suspiciously close to 256, but that might be a red herring.

[2021-12-27 22:09] #6219 closed

[2021-12-27 22:44] #6222 closed

[2021-12-28 04:59] alphaho opened #6225 "ZIO 2.0: suggestion to have fallback ZLayer error messages with ASCII characters for Windows users"
By default, Windows is not using UTF-8 encoding in the console.
And when we have the ZLayer errors, the nice error message will be rendered in unreadable codes, like below:

![image](https://user-images.githubusercontent.com/666504/147526977-92f1415a-ef71-4f40-aadd-7a2c74e730aa.png)

So far, I have noticed unreadable codes from two places. One is the "ZLayer ERROR" as shown above, another is the Z

[2021-12-28 05:37] adamgfraser commented on #6225
Yes. I wonder if it is better to do everything with ASCII characters even though it may not be as artistic but one way or another these messages should definitely be readable for users regardless of platform.

[2021-12-28 06:34] alphaho commented on #6225
Personally, I really like the nice looking UTF-8 characters. I think it's more expressive than the traditional ASCII ones(examples attached below).
But I'm not sure whether we can tell in the runtime that the platform supports UTF-8 or not.

Here's the same tree rendered in ASCII:

[code]

While it originally would be:

[code]

[2021-12-28 21:38] BardurArantsson commented on #6222
Using a snapshot, I can confirm that this fixes the issue in my larger application as well. Thanks for the quick turnaround! :smile:

[2021-12-29 15:28] khajavi commented on #6217
That makes sense to me. Thank you!

[2021-12-30 12:02] 4e6 opened #6228 "Early initialization of the Random service"
The change https://github.com/zio/zio/pull/5731 prevents the [GraalVM native image](https://www.graalvm.org/reference-manual/native-image/) builds because it causes the initialization of `scala.util.Random` at the image build time. It is not possible to delay the initialization as the value [`zio.random.Random.Service.live`](https://github.com/zio/zio/blob/c36312f37bcd9fd682671656f67f842f84eac9e4/

[2021-12-30 12:38] strokyl opened #6229 "hasSubset is broken when right argument contains duplicate."
Currently the following test break:
[code]
The fix is really easy, we just need to replace:
[code]
by:
[code]

I can contribute if you don't think the solution would be to change the signature of `hasSubset` to `Set` instead of `Iterable`

[2021-12-30 15:48] adamgfraser commented on #6228
@4e6 Thanks for reporting! I just submitted a PR to resolve.

[2021-12-30 15:56] adamgfraser commented on #6229
I think the current behavior is correct. `1, 2, 2, 3, 3` is not a subset of `1, 2, 3, 4`. `2` and `3` appear two times in the left hand side but only one time in the right hand side.

More formally, if we think of these as multi sets we can represent it as the left being `Map(1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1)` and the right as being `Map(1 -> 1, 2 -> 2, 3 -> 2)` and define `right` as a subset of `le

[2021-12-30 17:07] jamesward commented on #6206
Thanks Adam.  That is super nice.  I wonder if that deprecated message could provide more details on that.

[2021-12-30 18:34] svroonland opened #6231 "Flaky timeout behavior in spec"
Using ZIO RC-1, the following test gets stuck, without failing due to the timeout of 30 seconds.

Test is pretty much minified, the atomic integer is just to see visually that the test gets always stuck after the 1000 iterations, not somewhere halfway. Reducing the flaky number to say a 100 makes the test complete sometimes.

Might be related to #6162, but I didn't want to add it to that issue bec

[2021-12-30 18:34] svroonland commented on #6231
See also https://scastie.scala-lang.org/cJj6RsPES5GhGJhCnCvtLg

[2021-12-30 20:33] adamgfraser commented on #6231
Thanks for reporting! Will take a look!

[2021-12-31 00:58] adamgfraser commented on #6231
@svroonland This was caused by a regression that was fixed in #6192 and I confirmed locally that this test completes correctly on `series/2.x` so I think we can close this.

[2021-12-31 09:32] svroonland commented on #6231
Yes, I can verify that my original test code works with the latest snapshot. Thanks!

[2021-12-31 09:32] #6231 closed

[2021-12-31 14:46] #6228 closed

[2021-12-31 14:46] #6217 closed

[2021-12-31 14:47] #780 closed

[2022-01-02 10:33] khajavi opened #6237 "ZIO 2.x: Renaming the `ZIO#toManagedWith` operator to `ZIO#toManagedWithZIO`"
Our current implementation of ZIO#toManaged doesn't line up with `ZIO.serviceWith` or `ZIO.serviceWithZIO` operators.  As a user, I expect the `ZIO#toManagedWith` to not require an effectful operation, like what the `ZIO.serviceWith` does.

Instead, we may need to add another operator for non-effectful operations:

[code]

Please correct me if I’m wrong!

[2022-01-03 07:08] #6229 closed

[2022-01-03 18:11] adamgfraser commented on #6237
I'm not sure we need another variant here. In operators like `serviceWith` we can potentially do something with a service that is not effectual. For example, consider:

[code]

Here `port` just gives us a constant value of the port, and so something like `ZIO.serviceWith[Server](_.port)` makes a lot of sense.

In contrast, a finalizer is inherently effectual. The type of a finalizer is `URIO[R, An

[2022-01-03 21:55] khajavi commented on #6237
Ah! You are right! The `close` is inherently effectual. I didn't use the proper term "effectful" to introduce my point.

I was wondering if we can have a consistent naming within operators like`*with[A](something)` and `*withZIO[A](somethingElse)` where the `something` should be a non-zio value whether it is a constant value like the `port` you mentioned or the `close` operation which performs a s

[2022-01-03 22:49] durban opened #6239 "STM: transaction never commits or fails"
A simple lookup in a binary search tree implemented with ZSTM seems to get stuck in an infinite loop, if there is a concurrent transaction which performs a tree rotation.

For a reproduction, see this repo: https://github.com/durban/stm-example
- it depends on a locally published version of ZIO (2.0.0-RC1+53-9395d005-SNAPSHOT, which is newer than the released 2.0.0-RC1)
- to see the infinite loop,

[2022-01-04 01:21] adamgfraser commented on #6237
Definitely! All your questions as you have been working through the documentation are super valuable!

[2022-01-04 01:21] #6237 closed

[2022-01-04 11:59] YulawOne commented on #6225
I personally in favour of UTF-8 only and add a hint to documentation with an instruction on how to enable UTF-8 support in Windows. New Windows versions will be coming with a new Terminal environment that works UTF-8 by default and most of professional developers on Windows probably already use modern environment. Therefore, fallback to ASCII won't be suitable for everyone (as I'm not sure if it p

[2022-01-04 12:16] fsvehla commented on #6225
@alphaho Can you post the content of your `TERM` environment variable?
Checking it should be sufficient to check the most suitable rendering.

[2022-01-05 12:15] #6239 closed

[2022-01-05 17:06] virusdave opened #6241 "Non-bytecode based `Tracer` implementation for `native-image` AOT-compiled binaries"
FR: Would be nice to have a non-bytecode-based `Tracer` implementation.  When compiling via graal `native-image`, there's no longer bytecode to inspect at runtime, so [`Tracer` output on uncaught defect](https://gitter.im/ZIO/Core?at=5d99d4defcf7602cc53f3f6b) looks like this:

[code]

[2022-01-05 17:49] adamgfraser commented on #6241
@virusdave Is this on ZIO 1.0 or ZIO 2.0? I think the result here is likely to be significantly different on ZIO 2.0. If this already works on ZIO 2.0 or we can get it working I think that is the way forward.

[2022-01-05 20:03] virusdave commented on #6241
Ah - this is zio 1.x.  I'm happy to try again with 2.0 as well once it's released.

[2022-01-07 11:46] hmemcpy commented on #6208
I have an additional example from my attempt to make one of the mdoc snippets to compile:

[code]

Compiling this emits a warning:
![image](https://user-images.githubusercontent.com/601206/148539181-208f3649-78de-4ca9-9134-2f563fd6ad9a.png)

Incidentally, this also currently breaks mdoc with the following error:
[code]

Despite this snippet (very similar to it) compiling with `mdoc:compile-only`,

[2022-01-09 22:21] ksarath commented on #6167
@alexvanolst & @adamgfraser,

I do see `atMost`, `atLeast`, `repeats` and `optional` etc options on `Expectation`.

Let's say I have the following

[code]

Now how do I set my expectation such as `Service1Mock.doSomethingMethod(equalTo(1), value(1))` was never called or called exactly 1 time.

Right now I use `repeats` to achieve this like
[code]

[2022-01-10 20:31] searler opened #6243 "zio 2.0 exception thrown in ZStream between Hubs does not generate stack trace"
` result <- ZStream("string") .mapZIO(s => ZIO.succeed({throw new Exception("bang");s})).run(ZSink.collectAll)`
Results in stack trace to stdout, as expected.

[code]

**No stack trace is generated**.
Fiber is killed

In both cases, a defect is appropriate for the design.
But I do expect the stack trace, indicating an unexpected error in the program.

2.0.0-RC1
Azul Systems, Inc. Java 11.0.13
Ubun

[2022-01-14 17:33] st33v3 opened #6247 "Publish ZIO for Scala 3 and scala-native"
Scala native project added support for Scala 3 sources since version 0.4.3 (currently in release candidate stage). ZIO currently supports scala native or scala 3, but not both. Is it possible to release artifacts for this combination? Or at least is it on project roadmap?
Perhaps I could build native ZIO for scala 3 myself, in such case a would appreciate some hints what and where I should change

[2022-01-16 19:34] codingismy11to7 opened #6255 "TestClock not adjusting with unsafeRun"
I have some ZIO2 test code that is mocking a blocking interface during unit tests. Everything works fine, but while trying to backport the same code to ZIO 1.0.13 I find that every run hangs and gets the message

Am I doing something I'm not supposed to? Is there some other way of doing this that is supported on ZIO1?

Here's the ZIO2 test, ZIO1 just involves changing `attemptBlocking` to `effectB

[2022-01-16 20:32] adamgfraser commented on #6255
@codingismy11to7 The `TestClock` is not going to work if you are unsafely running effects like that.

The issue is that for correctness the `TestClock` needs to wait until all fibers have entered into a suspended state to ensure that it is safe to advance the clock.

However, when we unsafely run an effect there is now something going on that is no longer in the ZIO runtime and can't be tracked in

[2022-01-16 20:51] codingismy11to7 commented on #6255
that's wacky, admittedly I' running a zio2 build from a couple of weeks ago, but this test works fine for me every time (and the original test it's based on that's doing real things).

is there any way to test this scenario? does unsafeRunAsync have the same effect? if not I could hack something together with that...

(also suppose I can just try it)

[2022-01-16 20:58] codingismy11to7 commented on #6255
yeah unsafeRunAsync can't be used either.

[2022-01-18 07:55] guizmaii commented on #1236
Is it possible to use `ZPool` as a "keyed pool", a bit like https://github.com/typelevel/keypool? 🤔

It seems not possible because the `ZPool::get` method does not take any argument 🤔

I need something like `ZManaged.memoize` but with a pool management system on top of it:
  - Finalize the resource if not used for `n` seconds
  - Potentially more than one instance allowed per key

I wonder if I ca

[2022-01-18 10:00] khajavi commented on #6208
Here is another one related to this issue:

[code]

Current error message:

[code]
I think it would be better to have an error message like this:

[code]

[2022-01-18 14:01] arixmkii opened #6260 "forkWithErrorHandler should not use UIO for the handler"
Now `forkWithErrorHandler` defines handler as `e => UIO`, which is inconsistent with the signature of the underlying `onError`, where it is defined as `URIO`. In my opinion it is better to update the signature to match the one of `onError`.

Real life example, where it causes trouble - it is not trivial to use `zio-logging` with `forkWithErrorHandler`, but it just works with `onError` and `fork` c

[2022-01-19 07:54] khajavi opened #6266 "Inconsistent behavior of the ZLayer cache mechanism"
Assume we have the following program:

[code]

Sometimes its output is:

[code]

and sometimes it is:

[code]

Is it expected behavior?

[2022-01-19 09:05] codingismy11to7 commented on #6255
should I just close this? is there any way to mock out legacy libraries while staying inside of zio-test boundaries? (this came up while trying to write a test for a `dev.zio` library that is having an old apache commons library do its heavy lifting; I want to override some of its functionality to make sure the zio library's logic around it is sound)

also curious why this code i posted works with

[2022-01-19 09:21] arixmkii commented on #6260
Fix merged to `series/2.0`

[2022-01-19 09:21] #6260 closed

[2022-01-19 16:00] adamgfraser commented on #6266
Yes because memoization of layers says `Config` will only be constructed once even if it is used in multiple parts of the dependency graph and layers are built in parallel so either `Config` may be built first and memoized.

You can use the `fresh` operator` if you don't want a layer to be memoized.

[2022-01-20 14:45] khajavi commented on #6266
Thank you, Adam!

[2022-01-20 14:45] #6266 closed

[2022-01-21 18:46] emilhotkowski commented on #3962
Is it up for grab? I could help :)

[2022-01-21 20:32] codingismy11to7 commented on #6255
adam can't think of a way to accomplish this. still confused why it worked on my version of zio2, but oh well

[2022-01-21 20:32] #6255 closed

[2022-01-22 14:07] adamgfraser commented on #3962
@vigoo Is this still relevant?

[2022-01-22 18:18] adamgfraser commented on #6243
@searler The following program fails for me and prints a log on the last version of `series/2.x`:

[code]

[code]

Note that we need to offer at least one element to the `incoming` hub to trigger this error. The `map` function is only invoked when there is a stream element, so if an element is never offered to the hub there is never a stream element to the map and the program is terminating rather

[2022-01-22 21:04] searler commented on #6243
Apologies for not providing full replication code.

Revisiting the test code, I had failed to ensure Hub subscription exists before injecting data.

After resolving that defect, I do see exceptions.

I agree with the _termination when there is no element offered._

Thanks for addressing this so promptly

[2022-01-22 21:04] #6243 closed

[2022-01-22 23:02] searler opened #6278 "zio2.0 - ZIOAppDefault is not reporting unhandled errors"
Discovered in the course of clarifying #6243

The [documentation](https://zio.dev/next/overview/overview_running_effects#error-reporting) indicates

#4736 might be relevant

**ZIO 2.0**

[code]
Nothing is output .

**ZIO 1.0**

[code]

Fiber failed.
An unchecked error was produced.
java.lang.Exception: bang
	at zio.nio.Example$.$anonfun$program$1(Example.scala:10)
	at zio.internal.FiberContext.eva

[2022-01-22 23:23] adamgfraser commented on #6278
This is expected behavior. The program above does not actually fail because the forked fiber is never joined. Failures of fibers that are never joined are logged at the `Debug` log level and by default only logs at the `Info` level or above are rendered to the console.

[2022-01-23 16:02] searler commented on #6278
I was unable to determine how to change the default log level.

Next attempted to add a ZLogger that would printout all debug levels.
(Used println for simplicity of implementation. Managing effects to not a concern for this limited purpose)

The thrown Exception is only recorded by the builtin logger.
The ZIO.log calls are only recorded by the added custom logger.

[code]

[code]

[2022-01-23 16:16] searler commented on #6278
The added logger was only defined for String and ignored the Die instances.

[2022-01-23 16:20] searler commented on #6278
Functional logging setup

[code]

[2022-01-23 16:20] #6278 closed

[2022-01-25 09:30] domdorn opened #6280 "ZStream.when working in unexpected way"
I had code like this and was wondering why it **always** returned no results:
[code]

So basically, the code should check if the given parameters are ok, if they are not it should fail. Else it should continue and fetch the data. However, the Stream ALWAYS stopped, because I figured out that
[code]

 and an `empty` Stream simply stops the stream.
[code]

I would have expected that `when` behaves i

[2022-01-25 09:45] domdorn opened #6281 "Provide ZStream.debug helper method"
I'm finding myself writing code like this over and over again:

[code]

A `ZStream.debug` helper method would be very handy

[2022-01-25 17:26] adamgfraser commented on #6280
I actually think the current implementation is more consistent with ZIO. The problem with the implementation proposed above is that it would require the return type of the stream to be `Unit` instead of `O` which means that if the condition is satisfied we have to throw away all the stream elements instead of being able to return them. We actually changed the implementation of `when` on `ZIO` in Z

[2022-01-25 23:15] Wosin commented on #5965
@pooriatgh Are You still working on that task ? Do You need any help ?

[2022-01-26 10:36] pooriatgh commented on #5965
Yes, I couldn't do it. Sorry, I have to spend more time with Zio before picking any issues.

[2022-01-26 12:49] domdorn commented on #6280
hmm.. I don't really care about the return type.. I just don't want the whole stream to stop (which is happening currently with `empty`) .. in generall, what I would expect from the keyword `empty` in `ZStream` is the equivalent of `ZStream.fromiterable(Seq.empty)` and an explicit method like `ZStream.stop` that is doing what `empty` is doing at the moment.

[2022-01-26 18:34] adamgfraser commented on #6280
I understand you don't care but I think other people will. 😃

Currently you can do something like this:

[code]

This very naturally expresses the idea that if the condition is satisfied we want to run the original stream and then further process its elements and if not we don't don't want to do anything.

If `when` returned `ZStream[Any, Nothing, Unit]` this wouldn't even compile because `further

[2022-01-26 21:40] domdorn commented on #6280
What I mean is this:
what is stoping `when` from returning `ZStream[Any, Nothing, A]`? I can create a Stream of any `A` by doing
[code]
this doesn't "cancel" the stream by pushing `Pull.end` like the current implementation does .. my point is that `empty` is not what people are expecting.. they expect an empty stream or empty list that they can add stuff to..
e.g. if I do a
[code]
the current impl

[2022-01-26 21:52] adamgfraser commented on #6280
@domdorn `realEmpty` is identical to the current implementation. It doesn't do anything to "cancel" the stream it is just that `flatMap` generates a new stream for each element of the original stream, and if there are no elements in the original stream there is nothing for the continuation to do.

If you do `++` with `ZStream.empty` you would just get the right hand stream because an empty stream

[2022-01-26 23:23] domdorn commented on #6280
oh, didn't know of `realEmpty` .. could we make `cond` return that one instead of `empty` ?

[2022-01-26 23:24] adamgfraser commented on #6280
They are the same thing.

[2022-01-26 23:26] domdorn commented on #6280
So you're saying that `ZStream.empty` changed between `1.0.13` and the current version? Cause in `1.0.13` its still
[code]

[2022-01-26 23:28] adamgfraser commented on #6280
No I'm saying that `ZStream.fromIterable(List.empty)` and `ZStream(ZManaged.succeedNow(Pull.end))` are equivalent. They both represent the empty stream.

[2022-01-26 23:55] domdorn commented on #6280
I don't think that's true.. `Pull.end` will immediately tell upstream that the stream is finished (and thus cancel consumption), while a empty stream that is concatenated with something else still has something to offer that can be pulled.

e.g. look at the example I've given in post nr 1, where additional content is available, but because ZStream.emtpy returns `Pull.end` is never consumed by the

[2022-01-26 23:58] domdorn commented on #6280
in normal ZIO, my team as well as I used the pattern
[code]
extensively. The same mental model does not work in `ZStream` because it stops the stream in the success as well as in the error cases.

[2022-01-27 00:02] adamgfraser commented on #6280
They are identical:

[code]

[2022-01-27 00:14] adamgfraser commented on #6280
It doesn't stop the stream, it is just that there are no more elements. `ZStream` differs from `ZIO` in that a stream can have zero or more values, whereas an effect always has a single value if it is successful. `flatMap`, by its signature, creates some stream for every element emitted from the original stream. If there are no elements emitted by the original stream, there are no elements to `fla

[2022-01-27 08:40] domdorn commented on #6280
Hmm... maybe this has to do with reactive-streams interop.. the stream in question uses zio-reactive-streams-interop to bridge to a akka-stream.. when that one receives a `Pull.end` (through `ZStream.empty`) it will stop consuming wheras it would not if the Stream would just be really empty. I'll try to come up with sample code showing the issue.

[2022-01-27 14:29] mbaechler opened #6288 "checkM should not run more tests than the values it can generate from generators"
[code]

This test is run a large number of times. It could limit the number of run to 2 as there's only 2 valid instances of Parent.

[2022-01-27 16:20] domdorn opened #6291 "[2.0] withRuntimeConfig should provide old runtimeConfig"
currently we have to do something like this:

[code]

`withRuntimeConfig` should provide the current runtimeConfig, so I can reduce this to this:

[code]

[2022-01-27 16:37] adamgfraser commented on #6288
The semantics of `check` are "generate the specified number of samples". If you want to generate all the samples of a generator you can use `checkAll` instead.

[2022-01-27 17:12] ChipChopChippy commented on #5959
Are there any updates on this (on ZIO. 1.x)? Happy to act as a testing guinea-pig or in any other way that I can

[2022-01-27 23:02] adamgfraser commented on #5959
@ChipChopChippy Thanks for the reminder! Just submitted a PR for this.

[2022-01-28 08:19] #5959 closed

[2022-01-28 09:40] mbaechler commented on #6288
Thank you for the answer @adamgfraser

[2022-01-28 09:40] #6288 closed

[2022-01-28 11:48] domdorn opened #6297 "zio-test: provide suite( ) constructor that takes a iterable"
when migrating scalatest code to zio-test I find myself that I have to use suiteM instead of suite because suite only takes a varargs argument. I have tests that use common data, so using varargs is not possible and I have to resort to code that looks like this

[code]

I'd like to have a way to get rid of the unnecessary `suiteM` and `ZIO.succeed` wrapping

[2022-01-28 17:14] domdorn opened #6298 "create Time-Tracking Measuring Aspect"
basically something like this:
[code]

[2022-01-28 17:36] adamgfraser commented on #6298
Isn't this just `observeDurations`?

[2022-01-28 17:44] #6291 closed

[2022-01-28 17:44] #6281 closed

[2022-01-29 00:55] #6297 closed

[2022-01-29 01:00] #6146 closed

[2022-01-29 01:00] #6147 closed

[2022-01-29 01:00] #6039 closed

[2022-01-29 18:55] kitlangton commented on #6117
This appears to work on the newest series/2.x branch.

[2022-01-31 15:12] danslapman opened #6302 "Scala-async support"
Hello! Are there any plans on supporting [scala-async](https://github.com/scala/scala-async) which passed beyond 1.x nowadays? Such an integration would be really nice

[2022-01-31 23:37] sideeffffect opened #6308 "Scala.js: Use MacrotaskExecutor instead of ExecutionContext.global"
After upgrade to Scala.js 1.8.0, the use `ExecutionContext.global` gives a warning that we should use `MacrotaskExecutor` from https://github.com/scala-js/scala-js-macrotask-executor

Unfortunately using `MacrotaskExecutor` causes this test to fail:
[code]

In https://github.com/zio/zio/pull/6284 we upgraded to Scala.js 1.8.0 without using `MacrotaskExecutor`, but we should start using it eventual

[2022-02-01 16:59] svroonland opened #6314 "Handle 'isCanceled' in ZIO.fromCompletionStage by making the effect interrupted"
This is currently not implemented. See also https://github.com/zio/zio-kafka/pull/425#pullrequestreview-869455284

[2022-02-01 17:06] strokyl commented on #5217
Got a similar problem with:
StupidService.scala:
[code]

StupidServiceMock.scala:
[code]

and the test:
[code]

I got the following failure:
[code]

[2022-02-01 17:19] strokyl opened #6315 "Would be great to have a mock returning an other mock"
[code]

It would be great to be able to `nest` mock.

[2022-02-01 18:05] adamgfraser commented on #6314
I will do this.

[2022-02-02 10:21] RD-100 opened #6317 "Revert Back to ZIO 1.0 Naming Convention"
This is just an opinion but the new naming of some of the methods in ZIO 2.0, particularly the ones suffixed with `ZIO`, is ugly to say the least.

E.g.

ZIO.whenCaseM | ZIO.whenCaseZIO
ZIO.whenM | ZIO.whenZIO
ZIO.unlessM | ZIO.unlessZIO
ZIO#unlessM | ZIO#unlessZIO
ZIO#whenM | ZIO#whenZIO
ZIO#repeatUntilM | ZIO#repeatUntilZIO
ZIO#repeatWhileM | ZIO#repeatWhileZIO
ZIO#retryUntilM | ZIO#retryUntilZI

[2022-02-02 14:20] adamgfraser commented on #6317
Thanks for your feedback! Naming is always hard and not everyone is going to like any name.

ZIO isn't trying to hide functional programming but it is trying to address the needs of a wider set of users than the traditional group of functional programmers. You shouldn't need to know what a monad is to be an extremely productive and happy ZIO user.

The methods with `M` suffixes are a perfect examp

[2022-02-02 14:37] #6314 closed

[2022-02-02 15:00] RD-100 commented on #6317
OK, no worries. Death by a thousand ZIO's in my code it is! :joy:

[2022-02-02 15:11] octavz commented on #6317
My 2c:

 With this rule we should rename `fold` because a person should not know about catamorphisms/recursion schemes to use ZIO :).
Microsoft renamed `map` -> `Select`, `filter` -> `Where` and `flatMap` -> `SelectMany`  or LINQ instead of `do notation` in C# and that kept back a generation of programmers away from FP.

I think you should not underestimate the drive for knowledge of a FP user, if

[2022-02-02 15:48] adamgfraser commented on #6317
We have talked about that! 😃

One thing that I find has been helpful to think about is what is used in the Scala standard library. We could debate whether `flatMap` is the best name for that thing but it is used in the Scala standard library and I actually find it is pretty straightforward with talking about monads at all ("it maps and then flattens the thing"). Likewise `fold` and for comprehensi

[2022-02-02 20:24] calvinlfer commented on #4410
Alternatively if you do like this syntax, take a look at better-monadic-for: https://github.com/oleg-py/better-monadic-for

[2022-02-03 12:01] fmeeuw commented on #2784
Thanks Brandon for the code!  Sorry for the late reaction, I will try it out on our project, it looks promising 👍

[2022-02-03 18:39] BardurArantsson commented on #6317
I'm not seriously suggesting it's worth doing, but I was surprised that the suffix wasn't simply Z:

* forZ
* foldZ
* ...

To me it reads a lot better than the full forZIO, foldZIO, etc. and it's enough of a signpost.

[2022-02-03 19:12] adamgfraser commented on #6317
I think one motivation here that isn't as obvious from looking at a single name change is the way this interacts with having various different effect types in the ZIO ecosystem. We have `ZIO` but we also have `ZManaged`, `ZStream`, `ZChannel`, `ZSink`, `ZQuery` in ZIO Query, `Http` in ZIO HTTP, and so on. So `mapZ` doesn't really tell you which one of these effect types you are mapping with and do

[2022-02-04 05:48] octavz commented on #6317
There is also the option to have both, the current and the ZIO ones and let people choose.
Is the same with operators vs methods.

The magic with `xxxM` is that it makes sense for *all* monadic types ZIO, ZManaged, STM... and also is Google-able.

[2022-02-04 18:06] durban opened #6324 "Infinite STM transaction"
Version `2.0.0-RC2`, Scala `3.1.1`.

The stream `intStream` in the following random generator program can "freeze" due to an STM transaction `nextInt` running infinitely. This is in turn due to STM reading inconsistent values when there is a concurrent transaction (`setMinMax`).

[code]

The test to reproduce the infinite loop:
[code]

The infinitely running JVM thread has the following stacktrace

[2022-02-04 20:42] adamgfraser commented on #6324
So the issue here is that `computeNextInt` loops forever if `origin` is greater than `bound` without ever yielding control back to the runtime.

As we have previously discussed, the guarantee of STM is not that an inconsistent value can never be observed, but that a transaction based on an inconsistent value can never be committed. We also previously implemented functionality in #6240 to check if

[2022-02-04 22:42] adamgfraser commented on #6317
I think having two different ways to do the same thing is the opposite of what we are going for. The "makes sense for all monadic types" is actually the problem because it doesn't give us a consistent naming convention to use for operators like `ZStream.serviceWithZIO`, `ZStream.serviceWithManaged`, and `ZStream.serviceWithStream`. They're all monads, so saying we're doing it in a context of a mon

[2022-02-05 00:25] durban commented on #6324
Okay, so, if I write `ZIO.succeed { while(true) { () } }`, that's clearly my fault. (It's also probably easier to find the bug.)

In this case, it's not that clear that it's my fault. But sure, it can be said, that it is.

Which means, that every invariant have to be re-checked manually (since the built-in consistency check in the runtime may never happen). Basically, I can't trust my own invarian

[2022-02-05 00:57] adamgfraser commented on #6324
Yeah, I think most of the time when you are continuing an STM transaction you are doing some other STM effect, for example getting another item from a transactional queue, incrementing another transactional variable, or whatever. In that case you don't have to do anything because the runtime will automatically terminate any transaction based on an inconsistent state for you.

If you are going to c

[2022-02-05 08:03] regiskuckaertz commented on #6317
Respectfully, the notion of "ugly" is not very objective and will not rally around enough people, I suggest you build a valid use case by proving this has underminded learnability for a large group of people.

I don't think the argument has legs to stand to begin with. Even in Haskell this naming convention is not enforced, e.g. [`Array`'s `Foldable` instance](https://hackage.haskell.org/package/b

[2022-02-07 10:03] domdorn opened #6334 "ZStream.fromJavaStream resource leak"
I've seen this tweet
https://twitter.com/dzikoysk/status/1490053959213625346
and quickly checked ZIOs implementation.

At the moment, `ZStream.fromJavaStream` is simply converting to an iterator, while we should make a managed and properly call `close` when done with the stream.

[2022-02-07 14:52] adamgfraser commented on #6334
Thanks for reporting! Will take a look!

[2022-02-07 16:00] #6334 closed

[2022-02-07 19:41] simlei opened #6338 "ZHub / ZStream interop not as advertised // `intoHub` and the like"
Hi all, I am getting an uncomfortable compiler message when trying out Hub/ZHub (2.0.0-RC2)
[code]
The fault lies in the line following the  `history: [...]` line. `intoHub` expects another argument. The compiler has to say:
[code]

A more-boiled-down example would be:
[code]
Error here is:
[code]

There is more...
`intoQueue` suffers similar problems, actually, I had to forgo all my attempts with

[2022-02-07 21:37] digy opened #6339 "foldWhile in zio-streams doesn't take into account the termination condition"
Running this with zio and zio-streams version 1.0.13

[code]
Produces an effect that prints 5, while I would expect this to produce an effect that prints 3.

[2022-02-07 23:10] adamgfraser commented on #6339
Thanks for reporting! Will take a look.

[2022-02-08 01:26] adamgfraser commented on #6338
As discussed on Discord, you need to use `Hub.make[Take[Nothing, Int]]` in your example. `Take` is an algebraic data type that represents the different potential results of pulling from a stream, including getting a chunk of values, an error, or an end of stream signal. I will take a look at the documentation to see if there is more we can do here.

[2022-02-08 08:42] #6339 closed

[2022-02-08 12:23] #6338 closed

[2022-02-09 09:41] mijicd commented on #5965
Tackled in #6332

[2022-02-09 09:41] #5965 closed

[2022-02-09 19:09] DroidPsychoPT opened #6345 "Add missing common type `LocalTime` to `DeriveGen`"
Following zio/issues/3951, where the `LocalDateTime`, `LocalDate` and `BigDecimal` `DeriveGen`s were added, this issue relates to the absence of the `DeriveGen` for `LocalTime`

I plan on submitting a PR soon taking into account the changes implemented through the issue's PR (zio/pull/3952), if no additional things must be considered

[2022-02-10 16:56] #6345 closed

[2022-02-10 23:46] adamgfraser commented on #6338
As discussed previously, my understanding is you were using the `unsafeRunSync` which returns an `Exit` value containing either the successful result of the computation or the full cause of the failure, which you can then handle as desired (e.g. logging it, throwing it, etc...). The `unsafeRun` variant wraps the failure in a `FiberFailure` and throws it. So I don't think there is any unexpected be

[2022-02-11 06:34] YulawOne commented on #6302
I believe scala-async only support Futures and doesn't support arbitrary async monadic types and they don't have plans supporting afik.
If you are on Dotty you can try https://github.com/rssh/dotty-cps-async which already support ZIO

[2022-02-11 07:29] danslapman commented on #6302
@YulawOne thank You for highlighting dotty-cps-async, looks very interesting, but it's Scala 3 only.
The trick with scala-async is now it definitely support arbitrary monads - cats-effect already has such integration [cats-effect-cps](https://github.com/typelevel/cats-effect-cps)

[2022-02-11 11:01] jdegoes commented on #6317
It's definitely more typing, but with that more typing comes greater consistency and greater predictability, as well as fewer Haskellisms.

To me, the most compelling point about the new name changes is that we no longer have to pick, e.g. `mapM` to be the ZIO-variant or the STM variant. Rather, we can have multiple methods: `mapZIO`, `mapManaged`, etc., and you know what you're getting with each

[2022-02-11 11:01] #6317 closed

[2022-02-11 11:14] jdegoes commented on #6324
I think we could add `STM.invariant(min <= max)` that would not allow progressing beyond that point if the invariant is not satisfied. If that is of interest, please open up a ticket to describe this feature! 🙏

I am not sure it's correct to insert `STM.retry` in an implementation for `STM.invariant`, since the guarantee of retry is that the transaction will retry when the variables involved are c

[2022-02-11 21:30] jdegoes opened #6350 "Improve performance of core ZIO operations"
Currently, there is a pattern in `ZIO.scala`, which defines "lazy" parameters for one or more fields of a class.

For example:

[code]

You can see here that `zio` and `forkScope` are wrapped into thunks. This improves the usability of the library, because it allows users to capture side-effecting code in parameters, but does decrease performance of the parts of ZIO which are written in ZIO itself

[2022-02-11 21:49] adamgfraser commented on #6350
I will do this.

[2022-02-12 11:29] jdegoes opened #6352 "ZIO 2.0: Customize key methods for Scala 3"
We have `ZIOVersionSpecific` trait, mixed into `ZIO`, which allows us to have different methods on different versions of Scala.

We can use this trait to provide customized binary composition operators for Scala 3, which directly utilize intersection and union types. Binary composition operators include zip, zipPar, flatMap, etc.

An example of this transformation:

Scala 2 way:

[code]

Scala 3 w

[2022-02-13 18:53] linteck opened #6360 "ZPipeline.splitLines lost data in stream."
If a string is ended with '\r\r\r\n', the ZPipeline.splitLines will lose the line.
val tout = ZStream("AAAAABBBB#\r\r\r\n", "test")
s2 <- tout.via(ZPipeline.splitLines >>> ZPipeline.map(s => s.trim())).run(ZSink.collectAll)
The s2 will be "Chunk(,test)".
 The string 'AAAAABBBB" is lost.

[2022-02-13 19:05] vigoo commented on #6360
Thanks for reporting, I'm checking it

[2022-02-14 07:55] #6360 closed

[2022-02-14 12:01] khajavi opened #6363 "Enforcing Users to Handle All Expected Errors"
The current `ZIOApp` has the following run method:

[code]

It does not require the user to handle expected errors. I think it's better to prevent compiling applications which can fail. Explicitly instructing users to distinguish between expected and unexpected errors would be a good practice. So, when a user cannot handle a typed error, the user should turn it into an unexpected error by using th

[2022-02-14 14:25] crakjie opened #6364 "Stackoverflow with ZIO 2.0"
I'm encountering a stack overflow with zio 2.0. I currently don't really enderstand the cause but I'm wondering if it's not link the ZStream (because I'm using it)

[code]

I'm not sure how to capture context in such case.

[2022-02-14 15:02] adamgfraser commented on #6364
@crakjie Thanks for reporting! Do you have a reproducer so we can investigate further?

[2022-02-14 15:09] adamgfraser commented on #6363
There is a trade off here between promoting doing the "right" thing and getting users going quickly. What you are proposed is basically a variant of the signature of run `run` method in ZIO 1.0 which returned a `ZIO[ZEnv, Nothing, ExitCode]`.

As you say, the advantage of a signature like this is that it requires the users to handle all expected errors.

However, the disadvantage is that is makes

[2022-02-15 01:09] ylaurent opened #6366 "scalac FatalError on ZIO 2.0-RC2 / scala 2.13 for provideSome"
This code cause a scalac FatalError on ZIO 2.0 RC2 when at least using scala 2.13.8.
The code compile fine without the provideSome. Also, I think it is working fine with scala3.
[code]
https://scastie.scala-lang.org/31ICYj5jRdeBemqRqBFt2g

[2022-02-16 11:24] SHSongs opened #6368 "ZIO ZPipeline.utf8Encode is not work"
[code]

This code works differently than intended.
Only the first chunk is encoded.
I think 'ZPipeline.utf8Encode' is the problem.

**result**
[code]

cc: @guersam , @Lukas-Youngseo

[2022-02-17 08:11] #6368 closed

[2022-02-18 16:11] TimPigden opened #6374 "zio-test asserts too enthusiastic when printing error messages"
I've got this as an assert
[code]
if it fails I get oldModel and newModel printed out.
They comprise thousands of objects and it's impossible to figuer out what's what.
I just want the 2 costs printed out
Failing that, can't we cap the length of the message to something more like a few lines (or a couple of thousand characters or something)
Obviously I can create separate variables for the 2 value

[2022-02-18 16:19] TimPigden opened #6375 "zio-test - in zio2 Assert and TestResult are not interchangeable whereas in zio1 they were"
this makes combining them difficult.
We have a big battery of functions that do assert or assertTrue and return the result to other functions that combine them with other results (we're comparing complex data models with many levels of objects)
It all worked fine in zio1 but in zio2 it just would not compile. I ended up having to convert several hundred asserts into assertTrue but that prevents me

[2022-02-19 06:59] alphaho commented on #6225
@fsvehla As it's on widows, `TERM` environment variable is not defined.

![](https://user-images.githubusercontent.com/666504/154790498-00d302a3-e7e4-4792-bbe2-a26c0ceeb195.png)

[2022-02-20 16:42] khajavi opened #6377 "Issue on Reporting Fatal Error Using RuntimeConfigAspect"
When I add a `addReportFatal` using `RuntimeConfigAspect`, ZIO‌ runtime cannot reach the specified report function:

[code]
I think the cause is here, where the first `System.exit` prevents running the chain of aspects:
https://github.com/zio/zio/blob/ab11bde7df7c52b27c10c507da2fc819456c115a/core/jvm/src/main/scala/zio/RuntimeConfigPlatformSpecific.scala#L67-L73

[2022-02-20 16:53] khajavi commented on #6363
Adam, thank you for your clarification!

[2022-02-21 16:19] kitlangton commented on #6375
Currently exploring unifying these two variants.

[2022-02-22 05:04] bhcblc683 opened #6380 "Stream cannot be halted when tapping it?"
[code]

[2022-02-22 06:13] adamgfraser commented on #6377
Thanks for reporting! Will take a look!

[2022-02-22 21:33] dccorona opened #6383 "TestClock.advance not interacting as expected with retry(Schedule) Starting with zio-test 1.0.2"
I'm trying to update some code that tests a retry schedule to the latest zio 1.0 release, but encountering issues with all versions of zio-test >= 1.0.2

Scastie that demonstrates the issue: https://scastie.scala-lang.org/UTva8b5hQlulD8tHBlH82g
If you set zio-test to 1.0.1 or 1.0.0, that code works just fine, but anything >= 1.0.2 results in the test hanging forever.

Am I doing something wrong he

[2022-02-22 21:47] adamgfraser commented on #6383
@dccorona The `TestClock` works with `TestAspect.fibers` which is automatically installed by the test framework to make sure that all fibers have entered a suspended state before advancing the clock. So you can test your schedule like this:

[code]

[2022-02-22 22:46] adamgfraser commented on #6380
@bhcblc683 Thanks for reporting! Can you create a reproducer that just uses `ZIO` and `ZIO Stream`? That will make it a lot easier for us to determine if there is an issue here and resolve it if necessary.

[2022-02-22 23:39] dccorona commented on #6383
I see - so if I understand correctly, TestClock may not work as expected from outside of ZIO test specs? The code I'm working on upgrading currently leverages ScalaTest - we could port this test suite to ZIO Test and move both our ScalaTest and ZIO Test suites to actually run via JUnit, but I want to confirm that my understanding is actually correct before undertaking that (for various reasons, we

[2022-02-23 00:26] adamgfraser commented on #6383
That's right.

[2022-02-23 05:45] bhcblc683 commented on #6380
Ok, I will try to do it.

[2022-02-23 15:46] domdorn opened #6384 "filterOrDie should provide value that did not match condition"
I'd like to do something like this:
[code]
however, I can't because the second function that `filterOrDie` takes is not providing the actual value.

[2022-02-24 04:48] ylaurent commented on #6380
I think I got bitten by that issue as well when migrated to 2.0, but I was using "haltAfter()".
I temporally fixed my test from:
[code]
to
[code]

[2022-02-24 13:07] davidlar commented on #6366
A workaround:
```z1.provideLayer(ZLayer.makeSome[BB, AA & BB](aaLayer))```

[2022-02-24 17:22] #4803 closed

[2022-02-26 13:04] domdorn opened #6392 "provide `withParallelism` that takes `Option` or allows to turn on/off factor as a parameter"
currently we have `withParallelism(n)` and `withParallelismUnbounded`, that both set the `Parallelism` fiber ref. it would be great if there'd be a method/way to easily set the parallelism to unbounded from outside.. e.g. I have a method

[code]

 my current workaround is like
[code]

if `withParallelism(0)` would set the effect to unbounded, that would be a usable workaround for me.

[2022-02-27 18:14] TimPigden opened #6393 "zio-test assertTrue fails horribly on scala xml"
I get stack overflow (zio 2.0.0-RC2, scala 2.13.8) with following code
[code]
Yes - scala xml nodeseq is weird, but still it might show something about assumptions within the macro

[2022-02-28 07:48] googley42 opened #6395 "ZIO 2.0.0-RC2 ZStream.aggregateAsync(ZSink.collectAllN...) does not terminate straight away"
So I noticed a  breaking change of behaviour for `ZStream.aggregateAsync(ZSink.collectAllN...)` between version ZIO  1.x and 2.0.0-RC2. Maybe by understanding of new API is off? Below is a reproducer:
1.X - works as expected ie stream terminates after lat incomplete chunk
[code]
2.0.0-RC2 - broken I think- number of `Chunk()` printed is random. You hay have to run this a couple of times to reprodu

[2022-03-01 01:51] #6395 closed

[2022-03-01 20:38] dccorona commented on #6383
Just to update here: I've demonstrated that using ZIO test works in Scastie, but locally in my actual project I'm still observing issues. What I'm observing is really strange (for example, some but not all of my tests will complete - until I add printing to the effect, then suddenly _all_ of them hang). There are so many moving parts that I'm not sure when I'll be able to figure out how to create

[2022-03-02 15:46] adamgfraser commented on #6383
Okay. Please feel free to reopen if you are able to reproduce.

[2022-03-02 15:46] #6383 closed

[2022-03-02 16:30] sebver opened #6399 "Combination of several stream operations leads to OOM"
Running the following code snippet with scala-cli will almost immediately lead to an OOM. If you remove the stream concatenation (and just keep the `repeatEffect`), there are no issues. If you use `.grouped(...)` instead of the `chunkN` + `mapChunks` combination, it also works fine.

[code]

This is coming from a real world situation: [zio-s3 does this in its `multipartUpload` streaming code](http

[2022-03-02 16:46] vigoo commented on #6399
Note: the new streams implementation also fails with OOM but much later

[2022-03-02 16:50] sebver commented on #6117
Hey @kitlangton, sorry, somehow missed this.

I've tried again with RC2, `injectSome` doesn't exist anymore, so I tried with both `provideSome` and `provideSomeLayer`. `provideSomeLayer` works, but I still get a compiler error for `provideSome`. Not sure what the difference is between the two.

[2022-03-02 16:54] adamgfraser commented on #6117
@sebver `provideSomeLayer` doesn't use automatic layer construction, so it indicates the issue is there.

[2022-03-03 03:49] AlexanderNull opened #6400 "Migrate built in services to Module Pattern 2.0 (Clock, Console, etc.)"
2.0 documentation appears to be pushing users towards the new flat Module Pattern 2.0 but many core service objects are still implemented in Module Pattern 1.0. Examples of this are Clock, Console, Random, System, TRandom, and possibly others. It would be nice to be able to follow the same pattern for using one of these services while providing layers to our programs as we should be following for

[2022-03-03 04:03] AlexanderNull commented on #6400
Specifically suggesting the above get moved to the flat 2.0 pattern of `trait Service`, `case class ServiceLive`, `object ServiceLive { val layer... }`. This is assuming we are ok breaking backwards compatibility for 1.0 uses of this code, which I think has been done in a few other locations of 2.0 so far.

Alternatively if we absolutely must maintain backwards compatibility even for import paths

[2022-03-03 05:39] adamgfraser commented on #6400
These changes have already been made in ZIO 2.0. We need to maintain binary compatibility in ZIO 1.0 and ZIO 2.0 is almost here so I do not see the value in creating a "Frankenstein" API in ZIO 1.0 that is basically the old pattern with minor changes.

[2022-03-03 08:09] AlexanderNull commented on #6400
Do you mean 2.0 ZIO has already changed these objects? Looking at v2.0.0-RC2 and they appear to still be using the old pattern: https://github.com/zio/zio/blob/v2.0.0-RC2/core/shared/src/main/scala/zio/Clock.scala#L190

[2022-03-03 08:46] vigoo commented on #6400
I think having the layer definitions in the service trait's companion object provides better discoverability

[2022-03-03 17:47] luis3m commented on #6399
[code]
This slightly shorter version seems to fail as well.

[2022-03-03 18:03] AlexanderNull commented on #6400
For me it's more of a consistency issue which was (momentarily) confusing for me as a new person just now learning ZIO at this start of 2.0 phase. The documentation isn't consistent as far as what the pattern should be if some service layers should be found on `Service.live` while some of them should be found on `ServiceLive.layer`. Which ones should be layer, which ones should be live, and why?

[2022-03-04 05:33] adamgfraser commented on #6400
There are a variety of aspects to the recommended idiomatic way of defining layers in ZIO 2.0 versus ZIO 1.0, including the elimination of the use of the separate package object and the `Has` type alias, the definition of service implementations as case classes, and the use of the `ZLayer` constructor with a for comprehension to define layers that build those implementations.

At this point it see

[2022-03-04 07:46] BardurArantsson commented on #6400
You'll probably want to look at the 'series/2.x' branch, i.e. https://github.com/zio/zio/blob/series/2.x/core/shared/src/main/scala/zio/Clock.scala

[2022-03-04 17:13] AlexanderNull commented on #6400
I think some of this was due to my confusions surrounding the exact form of the patterns and trying to work through the WIP documentation for 2.0. Closing this cause there doesn't seem to be much changes that could be made here. Thank you for the detailed feedback though!

[2022-03-04 17:13] #6400 closed

[2022-03-06 21:41] mayonesa opened #6404 "mocking and @mockable module pattern 2.0 support"
There is no evidence of module pattern 2.0 support in the [corresponding ZIO 2.0 mocking documentation](https://zio.dev/next/howto/mock-services). If support does exist, documentation should reflect. If support does *not* exist, it should be considered... given its ease of use and conciseness.

[2022-03-07 10:16] #6404 closed

[2022-03-08 09:46] guersam commented on #4190
This behavior is a bit surprising to me as well.

For example, my usecase is to throttle the elements from a paginated list to pipe them to a rate-limited external API like this:

[code]

I guess this kind usage is quite common. As @svroonland pointed out chunking seems to be an implementation detail and it's error prone to let users keep the chunk sizes in their mind.

[2022-03-08 10:04] guersam commented on #4190
One remaining question is about the relationship between the chunk-aware cost function and the remaining elements.

Would there any use case that can be affected by the implicit chunk splitting suggested by @iravid?

[2022-03-09 08:14] khajavi opened #6407 "Incomplete fiber name in the stack trace"
When we have parallel errors like the following example:

[code]

In the first line of the stack trace, the fiber name seems incomplete: "zio-fiber-"

[code]

[2022-03-09 09:12] adamgfraser commented on #6407
@khajavi Thanks for reporting! Resolved in #6408.

[2022-03-09 16:40] davidlar opened #6410 "Changed behavior of makeSome / provideSome in zio-2"
Hi!

Not sure if this is intended or not but in the latest (yet unreleased) zio-2 code, the behavior of makeSome / provideSome has changed compared to RC-2.
If I set the R0 type param to more than what's needed to build the layer, I now get an error like `You have provided more arguments to provideSome than is required`

If this is intended for whatever reason, here's one downside:

We have a micr

[2022-03-09 17:31] nbenns opened #6411 "Thoughts about solving usability issues with R parameter"
So something I just want to bring up here which I think causes people to struggle with ZLayers.  It's actually related to the OOP talk that John gave, which was a very good talk btw and I agree a lot with John here.  TBH, I actually find ZIO somewhat works against the OOP model though and its because of the R parameter.
If you do something like:
[code]
This is invalid because `doSomething` impleme

[2022-03-09 19:41] nbenns commented on #6411
After talking with @adamgfraser he explained that `.provideService` and `provideEnvironment` already handle this as there is little to no overhead in those implementations vs. `.provideLayer`.

[2022-03-09 19:41] #6411 closed

[2022-03-09 20:41] davidlar opened #6412 "Macro error for provideSome in zio-2 (latest unreleased)"
I have problem compiling my code for latest unreleased zio-2 on scala 2.13.8 when using ZLayer provideSome / makeSome

The smallest reproducer I could come up with is this:
[code]
Error message:
[code]

I hope this helps to find the bug!

[2022-03-10 01:30] guersam commented on #4190
Naive chunk splitting won't work because the arbitrary cost function can be effectul and not even growing as the chunk size is growing.

[2022-03-10 07:14] #5807 closed

[2022-03-10 07:16] adamgfraser commented on #6412
Copying @kitlangton.

[2022-03-10 14:44] kitlangton commented on #6412
This is fixed on series/2.x. Should work in RC-3 👍 (once released)

[2022-03-10 15:16] davidlar commented on #6412
No, sorry!

I tested it on the last commit of series/2 yesterday. Sorry if that was unclear!
I filed this issue so that you at least have a chance to fix it before RC3 / 2.0

[2022-03-11 18:56] francisdb opened #6417 "Ignored parallelism param"
I found this while migrating an app to zio2

the `n` is ignored, missing `.withParallelism(n)`

https://github.com/zio/zio/blob/863c96f3b7e56b694f02abefe2e9f815add21dad/core/shared/src/main/scala/zio/ZIO.scala#L4038-L4041

[2022-03-11 23:23] pjfanning opened #6419 "add a Security.md"
Would it be possible to add a Security.md that details how to securely disclose security vulnerabilities? Github has this [doc](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository).

Apologies if you have another mechanism to detail the requirements. My understanding that one of the requirements sought by [ossf/scorecard](https://github.com/ossf/sco

[2022-03-12 15:24] khajavi opened #6421 "ZIO 2.0: Composable ZIO#validate"
The current implementation of `ZIO#validate` is nested and the unit values contribute to the output:

[code]

I'm thinking it would be better to have a consistent API like the [zips](https://github.com/zio/zio/issues/5267).

[2022-03-12 15:57] adamgfraser commented on #6421
Thanks for reporting! Will take a look.

[2022-03-12 15:58] adamgfraser commented on #6419
That's a good idea. Let me work on getting an e-mail set up.

[2022-03-12 16:31] khajavi opened #6422 "ZIO 2.0: Rename ZIO#validate to ZIO#foreachValidate"
I was thinking about how to teach `ZIO.validate` and I think we can say that it is a variation of the `ZIO.foreach` that collects all errors in the error channel.

[code]

Instead of having a new group of operators `ZIO.validate*` we can group them together with `ZIO.foreach*` operators and call them `ZIO.foreachValidate*`. It is easy to say that they are the same but with a slightly different str

[2022-03-12 17:38] adamgfraser commented on #6422
I think I am negative on this. One of the core similarities between all of the `foreach` variants right now is that they stop on the first failure and, if necessary, interrupt any other running effects. Having variants that don't have this behavior seems to make teaching more difficult rather than easier.

We also have a variety of other "collection" operators that don't have the `foreach` suffix,

[2022-03-13 07:09] #6417 closed

[2022-03-13 07:09] #6407 closed

[2022-03-13 08:16] khajavi commented on #6422
I agree with you. Your first note makes the most sense to me.
Thank you for your clarification.

[2022-03-13 08:16] #6422 closed

[2022-03-13 15:52] scalavision opened #6424 "Unable to use `fastOptJS` on ZIO 2.0 (ScalaJS)"
I created a simple project here based upon the docs for 2.0:

* https://github.com/scalavision/ziojs

When running `fastOptJS` on the build, I get a huge stacktrace like the following:

[code]

Are the interface implementations for ZEnv not working in ScalaJS? It seems unable to find neither java.time.Clock or java.time.Duration.

It seems one maybe should wrap these libraries to make it work?

*

[2022-03-13 17:05] adamgfraser commented on #6424
You need to bring your own Java Time dependency. Do you have that?

[2022-03-13 20:12] oridag opened #6425 "Tuple extraction in for comprehensions does not compile for effects that are not zio.Task"
Version: 2.0 RC2

When extracting a tuple in a for comprehension, if the effect error is other than `Throwable`, the expression does not compile with  the error:
`Pattern guards are only supported when the error type is a supertype of NoSuchElementException. However, your effect has String for the error type.`
even though no guards are used:

[code]

[2022-03-14 04:20] guizmaii opened #6426 "[Bug] zio-test `checkAll` doesn't traverse all the posible values when using a "non-deterministic" generator"
(not tested with ZIO2)

Minimal reproducer:

[code]

Current output:
[code]

Possible expected output:
[code]

Might be related to https://github.com/zio/zio/issues/5616

[2022-03-14 06:59] adamgfraser commented on #6426
I think this is expected behavior. The `checkAll` operator essentially just runs the stream underlying the generator to completion. A non-deterministic generator is a stream with a single element consisting of a random effect that potentially produces a different value each time it is evaluated. The `check` operator runs this stream forever and takes a specified number of values from it, but `chec

[2022-03-14 07:01] adamgfraser commented on #6425
This is actually not a ZIO issue but a Scala issue. Due to a wart in the Scala compiler destructuring in for comprehensions like this is translated into a `withFilter` call which implies the possibility of failure even though in cases like this we know from the type system that the pattern match cannot fail. This behavior will actually not be supported for any type of `ZIO` in ZIO 2.0 but you can

[2022-03-14 07:25] guizmaii commented on #6426
To me, this behaviour is surprising.
When I'm using a `checkAll` operator with a generator, I don't expect to have to know the nature of the generator to know that `checkAll` will indeed apply my tests with all the possible values that a generator can generate.

It seems that the current behaviour means that I have no way to check that for any value of a sum type, I can test a property of my code,

[2022-03-14 08:18] #6425 closed

[2022-03-14 08:24] adamgfraser commented on #6426
Why aren't you just using `check` here? `checkAll` is a specialized `check` variant for when you know that your generator is finite and deterministic, which is not the case here.

[2022-03-14 09:42] BardurArantsson commented on #6424
@scalavision Here's the dependencies you need to add

     "io.github.cquiroz" %%% "scala-java-time" % "x.y.z",
     "io.github.cquiroz" %%% "scala-java-time-tzdb" % "x.y.z",

(IIRC you can get away without tzdb if you only use the UTC "time zone".)

Obviously you need to pick some "x.y.z" which is compatible with your platform, this might be of help: https://index.scala-lang.org/artifacts/cquiroz

[2022-03-14 09:44] scalavision commented on #6424
Oki, thanks 😊

[2022-03-14 13:10] scalavision commented on #6424
using `scala-java-time[-tzdb]` works. Thanks everyone, closing.

[2022-03-14 13:10] #6424 closed

[2022-03-15 10:06] dylandoamaral opened #6429 "ZIO.provideCustomLayer should return a ZIO[ZENV with ZIOAppArgs, E, A] and not ZIO[ZENV, E, A]"
Since ZIO2.0, we use `ZEnv with ZIOAppArgs` instead of `ZEnv` for our default application R.

However when we provide the layers for our applications, `provideCustomLayer` is returning `ZIO[ZENV, E, A]` maybe we should replace:

[code]

by:

[code]

[2022-03-16 12:07] jdegoes opened #6433 "ZIO 2.0: Replace TimeUnit with ChronoUnit"

[2022-03-16 12:19] jdegoes opened #6434 "ZIO 2.0: Optimize JMX + JVM metrics"
Currently, they are implemented in terms of aspects, but they should utilize direct methods on the individual metrics (indeed, the unsafe versions) for optimum performance.

/cc @vigoo

[2022-03-16 12:29] adamgfraser commented on #6429
I tend to think that `ZIOAppArgs` is particular to a `ZIOApp`, a specific type of program that takes command line arguments, and is not general to any ZIO workflow. So I would tend to think that it should not be part of the environment provided by `provideCustomLayer`.

Also, I don't know if you want any arbitrary part of your program being able to access the command line arguments. That seems lik

[2022-03-16 12:39] vigoo commented on #6434
I will do it

[2022-03-16 13:16] dylandoamaral commented on #6429
Thanks for your answers, I agree with Vigoo !

Therefore, according to my comprehension, when we override `run` for a `ZIOAppDefault` we have to return a `ZIO[ZEnv with ZIOAppArgs, Any, Any]`meaning that we should provide ourself any layer that doesn't correspond to R. So according to me, in this case, it doesn't make sense that ZIOAppArgs is seen has a custom layer.

[2022-03-17 19:24] jdegoes opened #6443 "ZIO 2.0: ZIO Test cannot isolate uninterruptible"
It should be possible for ZIO Test to interrupt wayward scope closure:

[code]

[2022-03-18 23:15] domdorn opened #6449 "[2.0 Scope] provide equivalent to ZManaged.acquireReleaseWith(..)(..).toLayer"
Before `2.0.0-RC3` I could do this to create a layer of a ressource:
[code]

The new `ZIO.aquireReleaseWith()` does not provide a `.toLayer` method and also the available documentation does not explain how to migrate the code (at least I couldn't find it..).

Please provide a `.toLayer` method or explain how to migrate the code.

[2022-03-18 23:26] domdorn opened #6450 "[2.0 scope] unclear migration path towards scope"
I'm having the following ammonite script with RC2 that is fetching a openshift token using the playwright browser automation and then logging into openshift and docker. From a first look at RC3 its unclear how I'd migrate this script to the new scoped way of coding...
I hope that providing the full script will help guide the migration path towards RC3

[code]

[2022-03-19 13:16] sturmin opened #6452 "Schedule.resetWhen/resetAfter have different behaviour in ZIO 1.0 and ZIO 2.0"
The ZIO 1.0 version resets a schedule only once.

https://gist.github.com/sturmin/da042fbb781e40dcf61d3bc76da23c4c
[code]

[code]

And the ZIO 2.0 version for comparison:
[code]

[code]
What behaviour is expected one?

[2022-03-19 13:38] domdorn commented on #6450
for anyone coming to this ticket, I was able to convert the code. Layer construction now looks like this:
[code]

I'm running the effect like this:
[code]

[2022-03-19 13:38] #6450 closed

[2022-03-19 13:40] domdorn commented on #6449
Ok, so it looks like we now have a `ZLayer.fromAcquireRelease` for this.
It would be great if the migration guide could be linked from the release page and a section about scopes be added.
https://github.com/zio/zio/blob/series/2.x/docs/howto/migrate/migration-guide.md

[2022-03-19 13:40] #6449 closed

[2022-03-19 14:16] adamgfraser commented on #6449
@domdorn You can also use `ZLayer.scoped` to convert a scoped workflow into a layer.

[2022-03-19 17:02] cheleb opened #6453 "ZIO#withFinalizerAutoCloseable"
`ZIO.fromAutoCloseable(
      ZIO.attemptBlocking(StreamManager.create(clientConfig))
    )`
Could be rewritten:
`ZIO.attemptBlocking(StreamManager.create(clientConfig)).withFinalizerAutoCloseable`

[2022-03-20 20:03] adamgfraser commented on #6453
Closed by #6454.

[2022-03-21 01:24] domdorn opened #6460 "feature: provide ZIO.foreachSpaced(sequence)(schedule)"
It would be great to have a way of iterating over a collection and have the processing spaced/jittered/delayed by some kind of `Schedule`.

e.g.

[code]
which would send the first message right away, the second after 12 seconds +- jittered correction

Alternatively a syntax like this might be possible, not sure if its doable?

[code]

[2022-03-21 04:22] adamgfraser commented on #6460
I think this use case is probably best handled with streams. For example the solution to the problem above can be described by `ZStream.fromIterable(messages).schedule(schedule).runDrain`.

[2022-03-21 04:22] #6453 closed

[2022-03-21 14:20] khajavi opened #6461 "`ZIO#someOrDie` and `ZIO#someOrDieMessage` Operators"
While working with ZIO error combinators, I found that we haven't these two operators.

[2022-03-21 17:48] domdorn opened #6462 "Add TestResult.fail("...") helper"
I'm trying to migrate some scalatest tests that look e.g. like this:
[code]

 Migration for the happy path is straightforward. However, the failure path (as seen above) is hard to do

[code]

[2022-03-21 21:03] adamgfraser commented on #6462
This is `assertNever`.

[2022-03-22 11:47] domdorn commented on #6462
hmm.. this is not part of zio-test 1.0.12.. was this added later?
![grafik](https://user-images.githubusercontent.com/100349/159474962-1ada8389-2542-4689-892a-60159bee5f1b.png)

[2022-03-23 11:10] domdorn opened #6463 "ZIO-Test: Compile errror with ADTs and assertTrue"
zio-version: `1.0.13`

error
[code]

[code]

[2022-03-23 14:19] regiskuckaertz opened #6464 "ChunkLike should implement scala.collection.IterableFactory"
This way `Chunk` can be turned into a `Factory[a, cc[a]]` and the following snippet will compile:
[code]

[2022-03-23 14:39] adamgfraser commented on #6464
Thanks for reporting! Will take a look!

[2022-03-23 14:40] adamgfraser commented on #6462
It is on the `series/2.x` branch.

[2022-03-23 14:45] adamgfraser commented on #6461
We actually have a good number of `XYZorFail` operators that don't have `XYZorDie` variants. `Die` causes should be less common than `Fail` causes so I think it makes sense that there wouldn't be a variant for everything. Is there some reason you think we particularly need these two?

[2022-03-23 15:21] khajavi commented on #6461
I wasn't aware that this is intentional, so I have no urge.
Yeah, your reasoning makes sense.

[2022-03-23 15:21] #6461 closed

[2022-03-23 15:46] ajaychandran opened #6465 "ZIO 2.0: Potential memory leak when nesting scopes"
The following program illustrates the use of nested `Scope`s that terminate early but the application memory footprint continues to increase.

[code]
I believe this occurs because the `outer` scope continues to hold on to references to all inner scopes.

Assuming the analysis is correct, could this be remedied with a method like `Scope.nest(inner: Scope.Closeable)`?

### Visual VM Memory Profile

[2022-03-23 16:04] ajaychandran commented on #6465
@adamgfraser Thanks for the quick response!

I was using `ZManaged.ReleaseMap` before and had the ability to remove a key. The same functionality is not available in `Scope`.
The inner scopes in the example were minimized to highlight the core problem. In my actual use-case, I am processing an infinite stream of values that require a new scope that may terminate early.

[2022-03-23 17:40] ajaychandran commented on #6465
Intuitively, can memory usage be constrained when only additions are permitted?

[2022-03-23 19:44] adamgfraser commented on #6465
Well I think the idea is at some point you close the scope but that may not always be the case.

The underlying implementation of `Scope` supports removing a finalizer but we did not expose that because it keeps the model simpler and did not seem necessary but that may have been wrong. Will spend some time on this.

[2022-03-23 21:36] ajaychandran commented on #6465
As an end user, I would prefer not to use the low level machinery.

How about adding the following method on `Scope`?
[code]
The implementation could, as part of the registration process, add a finalizer in `child` to remove the `ReleaseMap` entry.

[2022-03-23 21:48] ajaychandran commented on #6465
An additional benefit of this approach is that, if the `child` scope is nested in multiple scopes, the `ReleaseMap` entries from all outer scopes will be removed.

[2022-03-23 22:26] domdorn opened #6467 "Allow to attach a error/value to interrupt"
`Interrupt` currently only stores a `fiberId` and extends `Cause[Nothing]`

[code]

It would be handy to have a way to interrupt a fiber/effect with a certain error/cause, so I can provide additional information,
e.g. its different if I interrupt a fiber
 - cause my server is shutting down vs.
 - the client closed the connection vs.
 - a value/computation is not needed anymore (e.g. when `race`ing

[2022-03-23 22:46] pjfanning opened #6468 "ZIO 2.0.0-RC3 compilation issue - withFilter is not a member of zio.ZIO[...] (tuple success type)"
https://github.com/pjfanning/zio-metrics-micrometer/blob/zio2/src/test/scala/com/github/pjfanning/zio/micrometer/unsafe/MicrometerUnsafeTest.scala#L70

(note that this is zio2 branch as opposed to main branch)

This compiles ok with ZIO 1 and ZIO 2.0.0-RC2 but fails with this in ZIO 2.0.0-RC3

[code]

Would someone be able to have a look? The other ZIO tasks are ok, just this one that has a tuple

[2022-03-24 03:47] adamgfraser commented on #6468
This is intended behavior. Unfortunately due to a quirk in the Scala compiler destructuring like this within a for comprehension is translated into `withFilter` calls which require us to handle the possibility that the filter function could fail even though in cases like this we know at the type level that the restructuring will always succeed.

There is no way to represent this error possibility

[2022-03-24 04:04] pjfanning commented on #6468
thanks @adamgfraser - now that I understand the issue I can workaround this with

[code]

[2022-03-24 04:04] #6468 closed

[2022-03-24 04:05] adamgfraser commented on #6468
@pjfanning Exactly!

[2022-03-24 04:46] jeffmay opened #6471 "zio-test Spec.provideCustomLayer does not allow Scope requirement in custom layer"
Even though `Spec.spec` allows requiring a `Scope` when providing a `ZLayer`, you cannot propagate this requirement to any shared `ZLayer` when using `.provideCustomLayerShared` because it requires that the `Scope` already be provided by the custom layer.

### Solution

I think the definition just needs to be updated to allow depending on the surrounding `Scope`.

The code in 2.0.0-RC3 is:
[code]

[2022-03-24 05:50] adamgfraser commented on #6471
I tend to think that conflating the `TestEnvironment` with `Scope` like this creates confusion because it mixes the concepts of default implementations of the standard ZIO services with whether something is resourceful.

You can do this either with `provideSomeLayer[TestEnvironment with Scope](Custom.layer)` or `provideCustomLayer(Custom.layer ++ Scope.default)`.

Also, in most cases I wouldn't re

[2022-03-24 06:43] jeffmay commented on #6471
My use case is that I want to create a shared embedded `RedisServer` for testing (for some reason, every instance create a pop-up in Mac OSX, which cascades and fills up the screen when dozens of them are started), and each test has an isolated namespace, so it is safe to share. I just want the server and client pool to shutdown when the last test finishes so that the app doesn't hang (although it

[2022-03-24 10:32] ajaychandran commented on #6465
Resolved in #6470.

[2022-03-24 19:59] adamgfraser commented on #6464
Closed by #6469.

[2022-03-24 19:59] #6464 closed

[2022-03-24 19:59] adamgfraser commented on #6421
Closed by #6423.

[2022-03-24 19:59] #6421 closed

[2022-03-24 23:45] adamgfraser commented on #6471
If you want to have a shared scope for everything then I would use `ZLayer.environment[Scope]` which would pass through the scope versus `Scope.default` which would make a new scope for each test (assuming you use `provideLayer` versus `provideLayerShared`.

The other thing I would be thinking about is why you need a scope here at all. Layers can already be resourceful, using either `ZLayer.fromAc

[2022-03-25 13:13] domdorn opened #6474 "zio-test: TestClock provide easy way to set "start time""
Currently, a `TestClock` is initialised at Timestamp 0 (1970-01-01 ..)

When having code that tests something that has to be at a specific time ( in my case I have to verify JWT-Tokens that have a "not valid before" and "valid until" field and so have to set the time in between those two timestamps), using the default `TestClock` and `TestClock.setDateTime` creates a problem, as it would execute e

[2022-03-25 14:07] domdorn opened #6475 "Clock should also provide a `java.time.Clock`"
It would be very useful to be able to derive a `java.time.Clock` from a ZIO Clock, e.g. when integrating with Java Libraries that allow to manipulate time through a `java.time.Clock`. This allows us to use the `TestClock` even when Java Libraries are integrated in our project.

Currently, I've managed to do this like this:

[code]

However, for this to work I know need to have a `Runtime` in my en

[2022-03-25 14:29] adamgfraser commented on #6474
Can you just adjust the time before your test?

[code]

That seems like the simplest way to do this.

Otherwise I agree with you that this should be a constructor because I think having different operators on `TestClock` that do versus do not run scheduled effects results in. confusing API.

You can do this with `provideCustomLayer(TestClock.live(TestClock.Data.copy(duration = ???)))`.

[2022-03-25 18:09] jeffmay commented on #6471
I think I understand now. Using a ZLayer to manage the shared resource does not require the surrounding `Scope`. I was able to test this and it worked properly. I'm gonna close this issue as I think I misunderstood the purpose of `Scope`.

[2022-03-25 18:09] #6471 closed

[2022-03-26 16:34] swoogles opened #6480 "Fix flaky `tapSink."sink that is done after stream"` test in `ZStreamSpec`"
streams-tests/shared/src/test/scala/zio/stream/ZStreamSpec.scala

[2022-03-26 16:38] swoogles opened #6481 "Implement SBT Test EventHandling with Composed specs"
We need to correctly attribute Spec-level events, so that SBT can generate the XML test reports.
Will add some more detail here as I remove TODOs from the code.

[2022-03-26 16:43] swoogles opened #6482 "Calculate & Report Durations in Composed Specs"
Our duration is always 0 in the `run` method defined in
`test/shared/src/main/scala/zio/test/TestRunner.scala`

[2022-03-26 17:01] swoogles opened #6483 "Restore various tests that were disabled during ComposedSpec work"
Affected files:

`test-tests/shared/src/test/scala/zio/test/SpecSpec.scala`

[2022-03-26 17:04] swoogles opened #6484 "Delete/refactor DefaultTestReporter after streaming test output changes"
Much of the behavior is incompatible with the new streaming approach
```test/shared/src/main/scala/zio/test/DefaultTestReporter.scala```

[2022-03-28 16:22] #6475 closed

[2022-03-29 02:32] domartynov opened #6489 "Extend ZEnv with "static" Scope as alternative to Scope.global for application scope layers"
I'm looking for a way to express a `ZLayer` with application level scope (cannot use `Scope.global` as it does not close). We can add "static" scope to `ZEnv` and e.g. `.memoizeGlobal` to turn `ZLayer[R, E, A]` to `ZLayer[ZEnv, E, A]`. At `ZIOApp` level we can provide this scope to `ZEnv`.

[2022-03-29 03:19] adamgfraser commented on #6489
You can just use `Scope.default` for this. Note also that `ZIOApp` automatically provides an application level scope.

[2022-03-29 11:27] oridag opened #6491 "Fiber hangs when running a flatMapped+zipped stream"
Title is maybe extra specific but I couldn't find a more general use pattern that reproduces that.
When executing:

```Runtime.default.unsafeRunSync(ZStream(1).flatMap(_ => ZStream.succeed(throw Exception("outch"))).zip(ZStream(1)).runCollect)```

The program hangs forever.
Removing the `.flatMap` or the `.zip` makes this terminate with an error.

[2022-03-29 11:29] oridag commented on #6491
Seeing this in zio 2.0 RC1. Didn't try older or newer versions

[2022-03-29 11:38] vigoo commented on #6491
It hangs with the latest version too

[2022-03-29 12:34] adamgfraser commented on #6491
I see the issue. Will submit a PR shortly.

[2022-03-29 13:20] domartynov commented on #6489
Thanks @adamgfraser, i've missed it.

[2022-03-29 23:12] #6384 closed

[2022-03-29 23:12] #6377 closed

[2022-03-29 23:14] #5930 closed

[2022-03-29 23:15] #5797 closed

[2022-03-30 19:17] davidlar commented on #6412
Still the same problem in RC3...

[2022-03-30 19:17] justf0rfun commented on #4433
1. I tried to find out in which state project Loom is and if it is planned to be included in a specific JDK release. Here are my results:

I don't know when or if project Loom's fiber actually land in the JDK, but JDK 18 is now released for general availability (GA).
https://openjdk.java.net/projects/jdk/18/

And it comes with two JEPs wich are related to project Loom. So at least there is some pr

[2022-03-31 11:43] oridag opened #6505 "ZStream#zip will not terminate if left side is not progressing"
If left side of a zipped stream is not progressing (but also not terminated), then right stream will not be pulled, even though there are unmatched elements pending on the left side. For example, the following effect will never terminate (while it should terminate because the right side stream should be fully consumed):

[code]
  (zio 2.0 RC1)

[2022-03-31 12:05] adamgfraser commented on #6505
@oridag It looks like this works correctly on `series/2.x`.

Note however that I think you have a slightly misunderstanding regarding the way `ZStream.fromQueue` works. In the example above the right hand stream is not done because more values could always be offered to the queue and it has not been shut down. If you want the right hand stream to be shut down you need to shut down the queue with `

[2022-03-31 12:11] oridag commented on #6505
@adamgfraser sorry, I mixed up the sides. I meant to write that the **left** hand side should be fully consumed, but it is not because the **right** hand side is not progressing.

[2022-03-31 12:13] oridag commented on #6505
Here is the edited description of what I see:
If **right** side of a zipped stream is not progressing (but also not terminated), then the **left** stream will not be pulled, even though there are unmatched elements pending on the **right** side. For example, the following effect will never terminate (while it should terminate because the left side stream should be fully consumed):

[2022-03-31 12:19] oridag commented on #6505
Yep, just verified it works correctly on RC3 so I'll close this. Thanks!

[2022-03-31 12:19] #6505 closed

[2022-03-31 12:19] adamgfraser commented on #6505
Okay great. Thanks for raising!

[2022-03-31 17:42] adamgfraser commented on #4433
I would encourage folks who are interested in this to check out the talk by @jdegoes regarding it:

https://www.youtube.com/watch?v=SJeAb-XEIe8&t=9s

The short version is that Loom is great and will allow ZIO to internally implement things more efficiently, but that using ZIO will actually reduce the number of changes you need to make in your code in the future. With Loom basically everything bad

[2022-04-01 02:58] domartynov opened #6511 "Cause.Unified and Cause.prettyPrint do not capture Throwable.cause"
Not sure if it's the right solution, but can we add `cause: Unified` to `Unified` and adjust `Cause.prettyPrint` and maybe `Unified.toThrowable` accordingly?

Btw `Unified.toThrowable` does not expose `className`, not sure how critical this is in practice for exception like:
[code]
It seems most of information captured but such exception is lost.

[2022-04-01 04:57] adamgfraser commented on #6511
I don't think this is right. With the following code:

[code]

The stack trace printed is:

[code]

So both the cause and the class name are rendered.

[2022-04-01 12:44] domartynov commented on #6511
Yeah, sorry that I didn't include a sample first. It seems in the code below we loose the cause stack trace:
[code]
`Example` outputs:
[code]
add missing `at example.Example$.m3(CauseSpec.scala:29)` compared to `ExampleJava` ouput:
[code]
And I hit another case where the cause exception is attached via `initCause` (see the commented block, not sure why there is a difference) but the ZIO output is

[2022-04-01 12:46] adamgfraser commented on #6511
Thanks for the example! Will take a look!

[2022-04-01 13:17] domdorn opened #6512 "add Chunk.fromJavaIterator"
it would be handy to have a `fromJavaIterator` or `fromIteratorJava`that takes a `java.lang.Iterator` ..
I know I can convert this myself using `scala.jdk.CollectionConverters`.
If you decide to do this, please also make one for `java.lang.Iterable`, that way we have almost all java collections.

[2022-04-01 18:18] #6511 closed

[2022-04-01 18:46] justcoon opened #6520 "Fix flaky ReentrantLockSpec - Cleans up interrupted waiters"
flaky ReentrantLockSpec

[code]

https://github.com/zio/zio/runs/5662383425?check_suite_focus=true

[2022-04-01 18:47] adamgfraser commented on #6520
Thanks for reporting! I have also observed this.

[2022-04-02 03:35] tusharmath commented on #5713
I guess this is now fixed in rc 4

[2022-04-02 03:49] adamgfraser commented on #5713
@tusharmath Yes! Thank you for pushing for this! Please let us know your feedback once you get a chance t use it!

[2022-04-02 03:49] #5713 closed

[2022-04-02 03:52] adamgfraser commented on #6520
Copying @regiskuckaertz.

[2022-04-02 07:24] regiskuckaertz commented on #6520
Ooh, ok I will take a look, thanks for reporting!

[2022-04-02 12:34] regiskuckaertz commented on #6520
Closed by #6523

[2022-04-02 12:34] #6520 closed

[2022-04-02 15:17] #6512 closed

[2022-04-03 08:00] senia-psm opened #6531 "provideShared silently ignores tests"
With tests like this I'm getting no errors:

[code]
[code]

Without `provideShared` it works as expected.

See this project with executable example: https://github.com/senia-psm/zio-bug-provideShared-ignores-tests

[2022-04-03 13:17] adamgfraser commented on #6531
I believe this was fixed #6528. Your example works as expected on `series/2.x`.

[2022-04-03 13:46] senia-psm commented on #6531
@adamgfraser sorry, I thought RC4 was fresh enough - didn't test on `series/2.x` (I can't find snapshots for RC4).
Should I close it?

[2022-04-03 13:47] adamgfraser commented on #6531
@senia-psm No worries. Sorry we missed this one! Yes I think we can close this.

[2022-04-03 13:48] #6531 closed

[2022-04-04 09:16] domdorn opened #6535 "`ZLayer.service[A]` returns `Has[A]` instead of `A`"
I just stumbled on this when refactoring some layer construction in my 1.0.13 codebase.

`ZLayer.service[A]` returns a `Has[A]` instead of a `A` (e.g. like `ZIO.service[A]` or `ZManaged.service[A]` does).

So I have to write code like

[code]

 instead of

[code]

It would be great if `ZLayer.service` would behave similar to `ZIO.service` (e.g. the `service` call always returns an `A` wheras if yo

[2022-04-04 11:59] adamgfraser commented on #6535
We can't change the signature of this operator on ZIO 1.0 and in ZIO 2.0 `ZEnvironment` is built in to `ZLayer` so I don't think there is anything we can do about this. In your example you can extract `config` into its own variable like `val config = environment.get`. Normally you want to avoid composing layers like this entirely though understand that sometimes it may be necessary.

[2022-04-04 13:19] pjfanning opened #6538 "zio tests that pass with zio 2.0.0-RC3 hang with RC4"
The project is https://github.com/pjfanning/zio-metrics-micrometer and `sbt test` works fine in the `zio2` branch. If I change the ZIO version to 2.0.0-RC4, one or maybe 2 tests will pass before the whole process hangs. I have created an `rc4` branch - just in case I do more changes on the `zio2` branch.

If I use Ctrl-X, the tests then seem to complete.

I'm using TestFramework("zio.test.sbt.ZTes

[2022-04-04 13:28] pjfanning commented on #6538
thanks @adamgfraser - I'll try the snapshot

[2022-04-04 13:39] DaniRey opened #6540 "Navigation on website (zio.dev) always navigates to pages for 1.x"
Currently the main navigation on the website (zio.dev), always navigates to pages for version 1.x, even when version 2.x is selected.

This only concernes the main navigation (Overview, Data Types, Use Cases,How to, Resources, About).

[2022-04-04 13:46] pjfanning commented on #6538
@adamgfraser I tried 2.0.0-RC4+8-1b5bac57-SNAPSHOT but still get the same hang result

[2022-04-04 13:50] pjfanning commented on #6538
Just pushed to 'rc4' branch of https://github.com/pjfanning/zio-metrics-micrometer

This is not urgent if you have other priorities.

[2022-04-04 14:07] pjfanning commented on #6538
@adamgfraser thanks for the fix to my code. Is it worth keeping this open due to the hang or is it ok to close it?

[2022-04-04 14:16] pjfanning commented on #6538
Thanks for your expertise - I'm very much the ZIO novice

[2022-04-04 14:17] adamgfraser commented on #6538
You're writing your own library! That's awesome!

[2022-04-04 15:07] #6535 closed

[2022-04-04 15:10] #6462 closed, assigned to nobody

[2022-04-04 16:18] adamgfraser commented on #6540
Thanks for reporting! Copying @atooni.

[2022-04-04 17:45] durban opened #6544 "Deadlock on Scala 3"
Version 2.0.0-RC4, Scala 3.1.2-RC3.

[code]

I've entered `zio.Runtime.default` into the scala REPL, then hit return. It just did nothing. After a while, I've hit Ctrl+C, which caused sbt to print `Canceling execution...` and the stacktrace.

In contrast, on scala 2.13.8, it works as expected:

[code]

[2022-04-04 19:41] adamgfraser opened #6546 "Fix Issues With Tags On Scala 3"
As reported on Discord [here](https://discord.com/channels/629491597070827530/630498701860929559/960457731465166898), this snippet fails on Scala 3 with an error stating that `Defect in zio.ZEnvironment: HashSet({Annotations & Live & Sized & TestConfig}, ZIOApp::Environment|<Nothing..Any>) statically known to be contained within the environment are missing`.

It appears that this is being driven b

[2022-04-04 19:42] adamgfraser opened #6547 "Exit After Tests When Spec Is Run As An App"
We need to make sure to gracefully exit when a `ZIOSpec` is run an an App instead of using the SBT test runner. It appears that we can do this simply by delegating the exit logic to `ZIOApp`.

[2022-04-04 21:47] khajavi opened #6552 "The compiler cannot infer the scoped environment after `flatMap` on `ZIO.acquireRelease`"
When I `flatMap` on the result of `ZIO.acquireRelease` my editor cannot infer the proper type.

For example, the compiler infers the `ZIO[Any, IOException, Int]` for the type of the following code instead of `ZIO[Scope, IOException, Int]`:

[code]

[2022-04-04 21:54] adamgfraser commented on #6552
Hmmm, are you using IntelliJ? VS Code and I think the Scala compiler infers the correct type. The only thing slightly unusual we're doing here is have separate `R` and `R1` parameters for the `acquire` and `release` workflows but that is the same technique we used with `ZManaged.make` for the life of ZIO 1.0.

[2022-04-04 22:08] khajavi commented on #6552
Ah, yes this is the IntelliJ.
Another note is that It can infer the proper type for the `map` operation
but not for `flatMap`.

On Tue, Apr 5, 2022 at 2:24 AM Adam Fraser ***@***.***> wrote:

[2022-04-04 23:01] #6547 closed

[2022-04-05 05:27] atooni commented on #6540
Will take a look - perhaps we need to bump docusaurus or something

[2022-04-05 12:56] #6552 closed

[2022-04-05 13:17] adamgfraser commented on #6538
Going to close this and open a separate issue for the warnings.

[2022-04-05 13:17] #6538 closed

[2022-04-05 13:36] adamgfraser opened #6557 "Support Using Live Logger and Test Logger"
Currently we have a `ZTestLogger` that can be used to test that desired information is logged. However, as the `ZTestLogger` is just a value in the `RuntimeConfig` when we use the test logger we completely overwrite the live logger, which means that any logging information we do internal to ZIO or ZIO Test (e.g. logging fiber failures, logging warnings that the test clock is not being advanced) ar

[2022-04-05 13:38] adamgfraser opened #6558 "Test Output Is A Little Noisy"
With the recent changes to streaming test outputs a short stack trace is shown each time a test fails. I think we can get rid of this for cases where the only failure is that an assertion was not satisfied.

[2022-04-05 13:44] adamgfraser opened #6559 "Develop Approach To Test Annotations In Streaming World"
Test annotations compose where the value of each suite is the composition of the value for the tests in the suite. For example if each test is timed the time for the suite will be the composition of the times for the individual tests.

This is great in general and when we reported all test results at once we could simply display the annotations for the suite next to the suite name.

However, in th