[2021-02-03 06:47] adamgfraser commented on #4648
I can replicate locally as well.

[2021-02-06 14:12] heaven-born opened #4658 "Add "on(ExecutionContext)" to ZManaged"
Currently, it is not obvious how to lock `ZManaged` on specific executor.

It is possible to do something like this, but it takes time to understand how to do the trick:

     val newManaged = Managed(oldManaged.zio.on(executor))

I propose to add "on" directly to `ZManaged`.

[2021-02-06 16:04] #4658 closed

[2021-02-06 20:55] heaven-born opened #4661 "Create ZManaged.lock(...) for locking on custom Executor."
It would be nice to have `lock` method on `ZManaged` that can do the lock on `Executor` for effects enclosed in `ZManaged`.

[2021-02-06 21:06] adamgfraser commented on #4661
I am working on this.

[2021-02-07 08:24] georgy-n opened #4665 "ZStreams `catchAllCause` skip produced stream"
Hello, I think `catchAllCause` doesn't work correctly. Tested with release `1.0.4-2`.

#### First example

[code]

Output
[code]
This is correct output, as expected. But next sample works strange.

#### Second example

[code]

#### Output
If first element is failed.
[code]
If some of the first elements are succeed and the following is failed.
[code]
I expect to see
[code]
after `failed`.

**Can yo

[2021-02-07 19:20] iravid commented on #4665
Thank you for reporting. Something is definitely off there. I'm looking into it.

[2021-02-09 16:05] dkarlinsky commented on #3558
@neko-kai was your fix ever merged into ZIO?
I'm getting a similar error (in ZIO 1.0.4):
[code]
When doing something like:
[code]

[2021-02-09 17:04] neko-kai commented on #3558
@dkarlinsky
Can't reproduce (https://scastie.scala-lang.org/ct3TJwbuSgGa2rQJcllWuw), do you have an example?
btw I think it's better to open a brand new issue in https://github.com/zio/izumi-reflect for this, it's unlikely that this new error is connected to the error in this issue.

[2021-02-09 17:17] dkarlinsky commented on #3558
Yeah, I think my code was too simple to reproduce.
I will try to come up with minimal reproducing code, and will open an issue if I do.
Thanks.

[2021-02-10 18:57] #3115 closed

[2021-02-11 09:25] gurghet opened #4679 "Adding `whenSome` function"
Do we want/need this utility function?
[code]
morally equivalent to
[code]

[2021-02-11 09:27] ghostdogpr commented on #4679
There's `whenCase` which does that with just a few more characters `case Some(v) => `.

[2021-02-11 09:45] gurghet commented on #4679
Fair, I’ll close this.

[2021-02-11 09:45] #4679 closed

[2021-02-11 12:54] iravid commented on #4665
The problem was actually in `ZStream#repeat`. #4681 will fix that.

[2021-02-11 15:37] dkarlinsky commented on #4528
Gentle Ping :)
@adamgfraser @jdegoes

[2021-02-11 16:02] #4665 closed

[2021-02-11 16:05] #4661 closed

[2021-02-11 16:45] jdegoes commented on #4528
I think some generic RTS work could be done that would satisfy this use case, although it would not be specifically connected to thread local. Some sort of callback that can be invoked when a fiber starts running on a thread. In fact, the existing code that sets the active fiber (in a thread local) could leverage that mechanism

[2021-02-11 17:11] dkarlinsky commented on #4528
Yes that is exactly my idea - provide a callback when creating `FiberRef` that will be invoked after every async boundary.
I mentioned `ThreadLocal` since, in most cases the callback will be setting some state backed by a `ThreadLocal`.
My [Draft PR](https://github.com/zio/zio/pull/4421) already implements this, but I did want some guidance on where the correct spot was in `FiberRef`, to insert th

[2021-02-11 21:05] jdegoes commented on #4528
I wouldn't do it when creating fiber ref, but do it separately. There's nothing necessarily connected to fiber ref in such a feature. It may be more connected with `Supervisor`. Let me think about this for a week, but I do absolutely think we can get this into ZIO (thanks for the suggestion).

[2021-02-12 11:46] dkarlinsky commented on #4528
Thanks @jdegoes !

[2021-02-14 06:26] heaven-born opened #4690 "Overcome limitation: one Service type per environment."
This is a simplified example of the issue:

    class Http4s {
       trait Service {
         def serverName = "testServer"
       }

       val live: ULayer[Http4s] = ZLayer.succeed(new Service{})
       type Http4s = Has[Service]

       def serverName: URIO[Http4s, String] =
         ZIO.access[Http4s](_.get.serverName)
    }

    def run(args: List[String]): URIO[ZEnv, ExitCode] = {
       va

[2021-02-14 08:22] adamgfraser commented on #4690
@heaven-born You should use subtyping instead of path dependent types for these situations.

[code]

This allows you to define additional methods for each of the specific services if desired as well as have a type to refer to which of these services you are using throughout your application.

[2021-02-14 09:53] heaven-born commented on #4690
@adamgfraser my initial idea was to keep `class Http4s ...` in external library, and just pass different configurations to this layer for different servers.

Like this:

    val ser1 = new Http4s
    val ser2 = new Http4s

    val env = config1 >>> ser1.live ++ config2 >> ser2.live

Solution with subtyping requires manipulation with the class directly for each http service, so it is not very reusa

[2021-02-14 10:29] adamgfraser commented on #4690
@heaven-born I think you can achieve the same thing with subtyping.

[code]

If you really don't want to do this you can use tags as you suggest, but I would agree that is a more advanced use case.

[2021-02-14 11:03] heaven-born commented on #4690
@adamgfraser yeah, I see what you mean. I should work, but it breaks the unified approach across my application. Now everything includings configs live inside Env., so the entire application is just a composition of many layers except a few lines  that actually starts the process. Solution with Tags looks more organic in my app.

I opened this ticket because solution based on dependent types looks

[2021-02-14 16:40] adamgfraser commented on #4690
@heaven-born The issue is you need to avoid "forgetting" type information with path dependent types. For example this works fine:

[code]

Partly for this reason I would consider path dependent types an advanced language feature and would not recommend this pattern for working with the environment.

[2021-02-14 17:18] heaven-born commented on #4690
@adamgfraser thank you. I will use this approach. Defining types explicitly is pretty much a straightforward solution.

[2021-02-14 17:19] adamgfraser commented on #4690
@heaven-born Great!

[2021-02-14 17:28] #4690 closed

[2021-02-14 18:50] heaven-born commented on #4690
Just in case someone finds this ticket later. The modified approach works even without providing types explicitly:

    class Http4s {
      trait Service {
        def serverName = "testServer"
      }

      def live: ULayer[Http4s] = ZLayer.succeed(new Service {})
      type Http4s = Has[this.Service]

      def serverName: URIO[Http4s, String] =
        ZIO.access[Http4s](_.get.serverName)

[2021-02-14 20:18] felher commented on #4690
I think this should crash, right? `def live` is inside the class and still summons `Http4s::Service` while `provideCustomLayer` still gets two layers it sees as `ser1::Service` and `ser2.Service`.

Am I missing something here?

[2021-02-14 21:30] heaven-born commented on #4690
@felher I posted without proper checking. It compiled only because I did incorrect copy-paste. It does crashes, unfortunately.

[2021-02-14 21:32] adamgfraser commented on #4690
The version I posted runs correctly.

[2021-02-15 11:00] TRReeve opened #4693 "Unexpected partition buffering behaviour"
Hi All

I'm having a play around with the Zio Streams. In particular the use case is I want is to run a stream split into two streams using a predicate and then evaluate each stream in parallel.

In the example provided I Iterate a collection of 2000. The expected behaviour is i'd get 1000 "Left" record prints and 1000 "Right" record prints. But what I actually get is the stream only prints to 16

[2021-02-17 01:15] adamgfraser commented on #4693
@TRReeve Remember that `splitStream` is an effect that describes the act of creating and partitioning a stream. In your example `streamOne` and `streamTwo` are actually creating two separate sets of partitioned streams and each is only pulling on one of the two sides of the resulting stream, resulting in suspending when the buffer reaches capacity.  For your example to work you need to create a si

[2021-02-17 10:32] felher commented on #4690
FWIW, here is a "compromise":

[code]

There are still setup costs involved, but then new "instances" can be added by adding a single line (the objects extending `Http4s`).

There should not be any tag collisions as long as the user uses different strings as the other types are now top level. But code reuse is high because there is no need to define several `live` oder `serverName`. I think end us

[2021-02-18 08:12] heaven-born commented on #4690
@felher Thanks. That may work for me too.

Both type and tag magic is pretty dark for zio newcomers. It would be nice to have some simple solution built-in zio directly, because this way of reusing code looks like something that many developers would want.

I'm wondering, maybe be PDT can be fixed in izumi-reflect for scala 3. And then, for example, it would be possible to just put implicit tag di

[2021-02-18 11:16] neko-kai commented on #4690
@heaven-born It wouldn't be possible to implement that, consider that a Tag is generated at compile-time - it requires a macro invocation.  When you have
[code]
The macro is invoked when the line `implicit val t = Tag[Service]`, inside the template of `Http4s`, it is  still a class, not an object, it's not possible to know to what object it will be instantiated in the future at that moment. So the

[2021-02-18 19:09] felher commented on #4690
I think I might be missing something here: Shouldn't both, `live` and `serverName` get the implicit tag?

[2021-02-18 19:43] neko-kai commented on #4690
Ah, right

[2021-02-18 22:12] ollyw opened #4715 "ZIO Mock: Mockable macro doesn't retain mock object body"
When manually creating mocks it can be useful to put helper methods in the mock object which combine multiple expectations. When using the @mockable macro, the body is not retained. For example when compiling the following snippet, the body is lost, so someFooHelper can never be used:
[code]
It may be some explicit decision made to not include the body when using mockable, in which case fine. Howe

[2021-02-18 22:32] ollyw opened #4717 "ZIO Mock: Services taking type parameters can't use the type in methods"
When the service being mocked takes a type parameter and uses it in a method, the macro fails
[code]
This would be pretty useful behaviour. I have some code that works for this and will try and prepare an MR if this behaviour is desired by others in ZIO

[2021-02-21 05:55] ausmarton commented on #4602
@adamgfraser I've tried to compile a list of the types defined in `eu.timepit.refined.types`. Please let me know if this is useful, cheers!
- [ ] all
    - [ ] AllTypes
        - [ ] CharTypes
            - [ ] LowerCaseChar
            - [ ] UpperCaseChar
        - [ ] DigestTypes
            - [ ] MD5
            - [ ] SHA1
            - [ ] SHA224
            - [ ] SHA256
            - [ ] SHA3

[2021-02-21 12:27] maxim092001 commented on #4600
I think I can handle this one. But this is my very first experience with open source contribution, is there any guideline for newbies?

[2021-02-22 12:29] d12frosted commented on #4528
Unfortunately, I would love to have this in ZIO arsenal :smile_cat:

@jdegoes did you have some time to think about including this feature? Thanks in advance.

[2021-02-22 17:25] luis3m commented on #4488
Hello @isaias-b

I'm also unable to recreate this issue with Scala 2, Scala 3 and ScalaJS.

[2021-02-23 01:35] kubukoz opened #4725 "`ZStream#timeoutError` has by-name error parameter, but evaluates it in any case"
[code]

Probably the most reasonable solution would be to make `timeoutErrorCause`'s `cause` a by-name too, but that breaks binary compatibility. Possibly a workaround can be done by making the existing method `private` and shadowing it with a public one with the right signature.

[2021-02-23 16:13] pshirshov opened #4729 "Null layer passed to ZLayer leads to late cryptic errors"
I have a small piece of zlayer code. The layers are defined as `val`s, like so:

[code]

This app fails to run on Java 15 with a cryptic error message:

[code]

It helps to replace `val`s with `lazy val`s.

Apparently something about field initialization in Scala is broken by J15, though **I find the diagnostics unacceptable**. I believe that methods like `ZIO#provideCustomLayer` and composition o

[2021-02-24 11:49] lvitaly opened #4732 "Publish ZIO for Scala 3.0.0-RC1"
https://github.com/lampepfl/dotty/releases/tag/3.0.0-RC1

[2021-02-24 12:23] KadekM commented on #3639
@iravid is this truly a flaky test? I'm seeing behavior where groupWithin is not being triggered by time passed, only based on chunk size, so it seems like a proper bug

[2021-02-24 12:30] iravid commented on #3639
The test is flaky, but what you're describing could very well be a separate bug.

[2021-02-24 14:16] adamgfraser commented on #4732
Will do as soon as a new version of `Izumi-reflect` is published.

[2021-02-24 14:52] pshirshov commented on #4732
Don't hesitate to ping me/Kai when you need a new release :)
This work is mostly mechanical.

[2021-02-24 14:53] adamgfraser commented on #4732
@pshirshov Thanks! Will do!

[2021-02-24 14:58] pshirshov commented on #4732
@adamgfraser : could you drop into https://github.com/zio/zio/issues/4729 and share your thoughts please?

[2021-02-24 14:59] adamgfraser commented on #4732
@pshirshov Will do!

[2021-02-24 15:10] adamgfraser commented on #4729
@pshirshov I think that makes sense. I can work on this.

[2021-02-24 15:24] mbore opened #4735 "zio-macros: @accessible fails for an empty argument list"
For the given service declaration

[code]

The compiler fails with the following error
[code]

But for
[code]
It works fine. Is it an expected behaviour?

[2021-02-25 01:57] neko-kai commented on #4732
On it (https://github.com/zio/izumi-reflect/pull/141). Seems like there were some changes in tasty-reflect which make this update less trivial than the previous updates by incrementing the version :ˆ)

[2021-02-25 18:46] adamgfraser opened #4739 "Potential Scala 3 Compatibility Issue With Tags"
This program runs correctly on Scala 2 but fails on Scala 3:

[code]

The error message on Scala 3 is:

[code]

Given that it works correctly on Scala 2 I am thinking that this is an issue with the `Tag` machinery and the way it interacts with Scala 3.

@neko-kai Could you take a look when you have the chance?

[2021-02-26 06:15] jxnu-liguobin commented on #4601
Hi @adamgfraser , Can I try this problem ?

Can you give an example of using `all.scala`(p.s I'm a novice and I don't know used scenario.)
Give it an self type? like here
[code]

[2021-02-26 06:23] adamgfraser commented on #4601
@jxnu-liguobin Please!

I think the approach can be a little simpler. Basically, right now we have something like:

[code]

We would like to turn it from something that returns a `DeriveGen` to something that returns a `Gen`:

[code]

This way users can use generators for refined types if they want to compose their generators explicitly versus deriving them with Magnolia. Then we can recover the e

[2021-02-26 07:11] jxnu-liguobin commented on #4601
@adamgfraser Oh. It only need to provide an implicit method?(I'm worried about conflict.)
[code]

[2021-02-26 07:13] adamgfraser commented on #4601
We don't want to provide new implicit methods. We want to provide new non-implicit methods and replace the implementations of the existing implicit methods. So in my example above `implicit val uuidStringDeriveGen` already exists and we are just implementing it in terms of a new non-implicit `val uuidStringGen` that we are creating.

[2021-02-26 07:20] jxnu-liguobin commented on #4601
👌

[2021-02-27 12:43] heaven-born opened #4745 "Create ZLayer.ifM or make ZLayer a monad"
After [this](https://discord.com/channels/629491597070827530/630498701860929559/815129598592286730) question I thought, maybe it would be nice to have something like `ZLayer.IfM(...)` for covering cases where conditional creation of layers needed.

Or even make `ZLayer` a monad (or just introduce flatMap), so the following would be possible:

    val live:URLayer[Configuration,Foo] = for {

[2021-02-27 16:24] natansil opened #4747 "Having a Supervisor that tracks every effect that is run with unsafeRun"
`Supervisor` is accessible from `Platform`, but this instance of `Supervisor` doesn't provide `Fibers` information.
Only when `Supervisor.track` is called, access to `Fibers` is given, but that can only be done inside `Runtime.unsafeRun `because it's effectful. so seems like catch-22.

@adamgfraser suggested on discord:

[link](https://discord.com/channels/629491597070827530/629491597070827534/814

[2021-02-27 16:29] adamgfraser commented on #4747
@natansil Have work underway in #4736 to address this.

[2021-02-27 16:40] natansil commented on #4747
Very cool.
Thank you @adamgfraser!

[2021-02-27 23:24] adamgfraser commented on #4745
@heaven-born We don't want to make it a monad so that we can statically know the structure of the dependency graph. I think the ideal way to do that would be to make the dependency part of the input type of the layer so it is `ZLayer[Configuration, Foo]` or `ZLayer[Has[Boolean], Foo]` or just have `never` and `ignore` be effects instead of layers in this case. We can support conditionality through

[2021-02-28 07:30] heaven-born commented on #4745
@adamgfraser  I'm wondering, If layers have such limitations, wouldn't it be more clear in most cases to use ZIO effect for creating "layers", and then convert them to `ZLayer` right before they have to be used this way - on the layer composition stage? Or even do it implicitly.

I remember [your answer](https://discord.com/channels/629491597070827530/630498701860929559/811485812784365568) about t

[2021-02-28 08:13] heaven-born commented on #4745
closing as a "matter of taste" issue.

[2021-02-28 08:13] #4745 closed

[2021-02-28 15:25] adamgfraser commented on #4745
@heaven-born I hear you about having multiple ways of doing things.

I would think about `ZLayer` as a specialized solution for the problem of "gluing together" an application's dependencies and not use it for anything else.

There are a ton of things you can do with `ZIO` such as forking fibers that you can't do directly with `ZLayer` so `ZLayer` is never going to be a replacement for `ZIO`.

I w

[2021-02-28 17:09] heaven-born commented on #4690
It seems that I've found a relatively elegant solution for this.

    class Http4s{
      trait Service {
        def serverName = "testServer"
      }

      val live: UIO[Service] = UIO.succeed(new Service{})
    }

    def run(args: List[String]): URIO[ZEnv, ExitCode] = {
      val ser1 = (new Http4s).live
      val ser2 = (new Http4s).live

      val r = for{
        _ <- ser1.map(_.serverName

[2021-03-01 17:07] lvitaly commented on #4732
@neko-kai, could it be caused by https://github.com/lampepfl/dotty/issues/11557 ?

[2021-03-01 17:18] neko-kai commented on #4732
@lvitaly Possibly, but unlikely since we do not use Expr.summon.

[2021-03-04 07:50] alextoth opened #4762 "forkAll / join generate StackOverflowError"
This might be an issue, forkAll / join being stack bound.
The structure is taken from the Philosophers in  the intro video.

[code]

[2021-03-04 08:12] adamgfraser commented on #4762
@alextoth Thanks for reporting! I will work on this.

[2021-03-04 22:43] #4762 closed

[2021-03-08 03:58] #4735 closed

[2021-03-09 01:10] #4648 closed

[2021-03-09 03:16] hossameldeen opened #4777 "Potential Issue With Interaction Between ZLayer And Skunk"
## Description

Using a `ZManaged` gotten from a `ZLayer.fromManaged` causes `java.util.concurrent.RejectedExecutionException: Unable to run zio.internal.FiberContext`.

**Note:** The old issue description talked about a release-before-acquisition problem which I'd thought to be the root issue for the exception. However, after discussing below in the comments, there might not be such problem. Upda

[2021-03-09 03:24] hossameldeen commented on #4777
**Update:** Seems like the issue may not be just about `ZLayer`. I tried this code and it works successfully:

[code]

[2021-03-09 03:26] adamgfraser commented on #4777
@hossameldeen Thanks for reporting! Will take a look. If you are able to reproduce without a third party dependency that would help greatly.

[2021-03-09 03:38] hossameldeen commented on #4777
@adamgfraser Thanks for the quick reply!

Actually, I was just going to post that it seems to work with `interop-cats` without the [skunk](https://github.com/tpolecat/skunk) stuff. Should I move this issue to skunk's repo instead?

The code that works with `interop-cats` without skunk:

[code]

(P.S: Might have to go now. If you think this should be moved to skunk's repo, feel free to move it or c

[2021-03-09 04:10] adamgfraser commented on #4777
I'm in no rush to close this until we get to the bottom of it but it does look less like it is a `ZLayer` finalizer issue.

One thing I noticed is this snippet from your original example:

[code]

This doesn't guarantee that `inner managed acquired` will execute before `inner managed released` because the `ensuring` is attached to the entire managed effect, so if the effect fails after it begins e

[2021-03-09 12:24] #4732 closed

[2021-03-09 12:55] hossameldeen commented on #4777
I see.. Understood and agree.

My original problem is actually the `RejectedExecutionException` exception thrown; the point of release-before-acquire was just a debugging point. I'd thought release-before-acquire was the root indicator of the problem, but seems there may be no release-before-acquire issue in the first place -- just the thrown-exception problem.

My motivation for nested managed is

[2021-03-09 13:33] adamgfraser commented on #4777
Okay, that makes sense regarding the two layers of managed values but I would use an operator like `Managed.make` for the inner `Managed`.

I'm happy to leave this open while you track down the source of the problem but at this point I'm not actively working on this from my end.

[2021-03-09 13:40] adamgfraser commented on #4732
@sideeffffect A release is currently in process.

[2021-03-09 14:15] hossameldeen commented on #4777
Updated the title with the updated knowledge that there's possibly no acquisition-before-release issue, and added a note on that in the description. If you this makes the issue confusing, I could reset the title, close this one, and open another one describing the issue as the exception.

[2021-03-09 14:23] adamgfraser commented on #4777
I guess my question is are we able to replicate this without Skunk? If not I'm not really sure that there is an issue with ZIO or what we can do about it. If you're actively looking into this and we may have some follow up about some particular behavior in that library which exercises logic in ZIO that isn't otherwise exercised and leads to an unexpected result that is great. But if not I'm a litt

[2021-03-09 14:43] hossameldeen commented on #4777
Makes sense.

No, I'm unable to replicate this without Skunk. However, does the fact that a version without a `ZLayer.fromManaged` works (the `worksCorrectlyWithoutZLayer` in the code above) while an equivalent version with `ZLayer.fromManaged` doesn't work (the `failsWithZLayer`) makes this a ZIO issue?

And I'm going to post this to Skunk's gitter in case anyone could help. If you think the poin

[2021-03-09 16:42] hossameldeen commented on #4777
Update: I don't think I have the permissions to label. I'd have labelled it: `bug`, `cats effect`, `zmanaged`, and a new label `interaction-with-3rd-party-lib`.

[2021-03-09 16:45] adamgfraser commented on #4777
Yes. It works with one ZIO value and not another. It also works with every other resource except Skunk as far as we know. So I don't really think "not my problem" is an appropriate reaction. But nevertheless we will investigate it even if others are not.

[2021-03-09 19:39] maxim092001 commented on #4602
@ausmarton am I right that this list is relevant and I can try to implement something?

[2021-03-09 19:42] adamgfraser commented on #4602
@maxim092001 Yes!

[2021-03-10 22:46] alextoth opened #4786 "Testing STM for atomicity fails"
I designed a test to verify that the atomicity of transactions is preserved inside the STM. This is a followup on #4648.
If atomicity is not preserved, It can not be compensated later on and lead to a false negative. Said differently succeeding failures can not cancel each other. Such situations would lead to think the test passed when it did not.

The reason why this test fails has to do with `zi

[2021-03-10 23:43] virusdave opened #4787 "weird dependency between projects"
`zio-macros` has compile (not test) dependencies on `zio-test-sbt` which itself has compile (not test) dependencies on `zio-test`.

This inhibits clean use in build systems like `bazel`, which would prohibit testonly dependencies (like `zio-test`) from being transitive compile dependencies of non-test code.  This basically makes zio-macros unusable (at least, without some possibly truly ugly hacks

[2021-03-10 23:44] adamgfraser commented on #4787
Yes I don't think there is any reason this should be there. Will fix after ZIO World unless someone else gets to it first.

[2021-03-11 13:11] DomWos commented on #4388
@meckesl are You working on that ?

[2021-03-11 20:45] ausmarton commented on #4602
@adamgfraser Thanks for confirming that.

[2021-03-12 06:14] mijicd commented on #4786
I'll take a look today!

[2021-03-12 08:25] #4787 closed

[2021-03-12 14:22] virusdave commented on #4787
Thanks for the rapid response!  I will eagerly be watching for the next release so I can use `zio-macros` in my own code (as well as dependees like `zio-magic` and friends!  Huzzah 🥳

[2021-03-12 15:22] virusdave opened #4796 "FR: Add a means to `zio.clock` to retrieve a `ScheduledExecutorService` for interop with legacy Java code"
`zio.clock.PlatformSpecific` has one internally, and sometimes java libraries want one.

It would be nice to be able to connect those two together, or alternatively have one created that's backed by this module.

[2021-03-12 15:24] adamgfraser commented on #4796
I will look at adding this.

[2021-03-12 16:05] virusdave commented on #4796
Thanks.  I notice that the existing on in the module is using a thread pool of size 1, so it's perhaps better to create a new object that is backed by ZIO fibers and `Clock` rather than reuse the existing one.  But you're the expert :)  Meanwhile, I'm doing this latter idea right now to unblock.  Not sure it'll be all that optimal, but could contribute the impl if interested.

[2021-03-12 16:10] adamgfraser commented on #4796
Yes. The principle with the `ScheduledExecutorService` is that it is not supposed to be used for anything other than scheduling tasks and the actual execution of the task is to be immediately shifted to another executor so that the `ScheduledExecutorService` is free to keep triggering other effects scheduled for the future. So agree the tricky part is giving the user an implementation that is safe

[2021-03-14 00:51] #4466 closed

[2021-03-14 00:51] nadenf commented on #4466
Closed with #4467

[2021-03-15 01:05] kitlangton opened #4802 "Strange Tag/Has Issue with Scala 3.0.0-RC1"
Minimal repro on `3.0.0-RC1`:

[code]

This fails with `java.lang.Error: Defect in zio.Has: Could not find ZRef[+Nothing,+Nothing,-Int,+Int] inside Map(package$::Ref[+Int] -> Ref(1))`

And of course it works if I extract the layer out into a variable first 😜
[code]

[2021-03-15 05:28] xkrillex opened #4803 "ZIO Test: Include duration and failure message in junit test report"
Right now duration and failure message in the junit test reports is as following;

`<testcase classname="MyTest" name="Should assert something" time="0.0">
  <failure message="No Exception or message provided"/>
</testcase>`

Would be nice to get these implemented. For us this would make it a great addition so that we can get this data into our CI tool.

[2021-03-15 16:35] octavz opened #4804 "ZIO Macros: the error channel could be better controlled when we have to deal with non zio vals/defs"
Please see:

https://scastie.scala-lang.org/AAHvt5uRQqC4kdygcEPNQQ

@ioleo  as discussed on Discord:

**ioleo**: _regular def and vals (as opposed to ZIO effects) can potentially hold side-effects, so current behaviour is assuming no discipline from the programmer (but then forces orDie to ignore the error channel when using accessor)_
**ioleo**: _now perhaps that is too defensive, perhaps we shou

[2021-03-15 21:21] domdorn opened #4806 "simple ammonite script does not work with zio"
script.sc
[code]

execute
[code]

# expected behavior
program runs the effect

# actual behavior
program runs till the unsafeRun, then just hangs without executing the effect

# aditional info
[code]

[2021-03-15 21:26] adamgfraser commented on #4806
Any Ammonite users who can comment on this? I have a hard time believing ZIO just doesn't work on Ammonite, in fact I know it does because we have special support for it in ZIO Test, but doesn't use it personally.

[2021-03-15 22:32] domdorn commented on #4806
I just got feedback in the ammonite-gitter. When putting the unsafeRun call into a main method, it starts to work
[code]

maybe we can put this into the docs somewhere?

[2021-03-15 22:40] jdegoes commented on #4806
It would be good to coordinate with Li to see if there is some way we can work around behavior. Technically this isn't a bug in ZIO, but Ammonite is a very important tool to work smoothly with.

[2021-03-16 05:54] alextoth commented on #4786
Thanks a lot @mijicd and @adamgfraser for the details and your time.
I'm sorry this is a clear mistake on my part.

c.f. to #4788 why this was wrong (nested `forkAll/fork` instead of `forkAll` or `forkall/forkDaemon` )

[2021-03-16 05:54] #4786 closed

[2021-03-16 17:13] domdorn commented on #4806
so, I have a new insight: it looks like everything that is trying to spawn a thread outside the scope of a `@main def xxx()` method is blocking the whole thing, e.g. even using the parallel collections of scala. I guess it might have something todo with that the code outside a `@main` annotated method would be basically the static initializer of a class?  not sure, but this is what I observed

[2021-03-16 18:53] adamgfraser commented on #4806
Yes it seems like this really needs to be handled on the Ammonite end.

[2021-03-16 23:59] dpennell opened #4809 "Defect in zio.Has: Set(SttpBackend[=λ %2:0 → ZIO[-Any,+Throwable,+2:0],+{ZioStreams & package::WebSockets}]) statically known to be contained within the environment are missing"
This is similar to https://github.com/zio/zio/issues/4340.

sttp zio - v3.1.7
zio -        v1.0.4-2 and 1.0.5

I haven't been able to minimize this yet and won't be able to for a couple of days, but thought I'd see if anybody has any ideas.

TIA,
-david

[2021-03-17 04:16] lyubortk opened #4810 "zio.App does not exit if fatal error occurs"
The following program never stops:

[code]

I suppose that JVM just waits for that shutdown hook to finish its work (but it never happens):
https://github.com/zio/zio/blob/2200981909e54296275db55f9944e9018a918cc7/core/jvm/src/main/scala/zio/App.scala#L57-L61

Could it be that the fiber in which a fatal error was thrown just cannot be interrupted? If so then it explains why the shutdown hook blocks

[2021-03-17 04:26] jdegoes commented on #4810
The desired behavior of this program is that `System.exit` is invoked with a dump of the out of memory error.

[2021-03-17 04:33] adamgfraser commented on #4810
It looks like we suspend indefinitely on attempting to interrupt the fiber in the shut down hook. One possibility is to fork the interruption so we don't wait for it. That results in printing the out of memory error and exiting. Looking into why we can't interrupt there.

[2021-03-17 15:41] ALPSMAC opened #4814 "Unexpected "An unchecked error was produced" on Task.map"
I'm coming to ZIO from Monix, so fair warning - this may be simply a gap in my knowledge or understanding...

I seem to have stumbled upon a case where the error handling in ZIO isn't behaving as I would expect it to.  Consider the following simplified case (real production code is gnarlier):

[code]

In Monix the rough equivalent code produces a `Left(Exception)` in both cases:

[code]

Is there

[2021-03-17 16:39] adamgfraser commented on #4814
Hi Andy! Welcome!

That behavior is correct, though I can understand it is slightly different from Monix.

ZIO is polymorphic in its error type so its has a distinction between failures (errors that occurred that are reflected in the type signature) and defects (errors that occurred that are not reflected in the type signature). In your example above throwing an exception in `map` causes a defect

[2021-03-17 16:50] jeubank12 commented on #4489
I had a hard time making a sample and in doing so I found the issue. BlazeServerBuilder was configured with `Task` instead of `RIO` which meant that it was not managing the layer.

Closing this since it was an issue particular to the code I was working in.

For anyone coming to this issue because you have also experienced it, if you are using http4s/sttp then you should follow the recommended exam

[2021-03-17 16:50] #4489 closed

[2021-03-17 17:19] ALPSMAC commented on #4814
Hey @adamgfraser - really appreciate the detailed response.  Looked at your Gitter before posting this here, but always find that to be sort-of hit-or-miss as far as getting answers goes and genuinely wasn't sure if I'd stumbled upon a bug.  Didn't know about the Discord - good to know - thank you.

I was actually just about to write back and mention that strange enough `mapEffect` seemed to have

[2021-03-17 17:23] #4814 closed

[2021-03-17 17:44] dpennell commented on #4809
@neko-kai tagging you due to similarity with #3558

[2021-03-17 18:46] adamgfraser commented on #4814
Yeah really appreciate the question and no need to apologize. Learning is natural and we're always working to improve

As you say, I think throwing exceptions in code like `map` is not best practice and we do our best to manage it by catching those exceptions and capturing them as defects as well as providing operators like `mapEffect`. If you are doing things that can throw you can always wrap th

[2021-03-17 22:24] #4810 closed

[2021-03-18 14:18] adamgfraser commented on #4452
Closed by #4812.

[2021-03-18 14:18] #4452 closed

[2021-03-18 22:47] virusdave commented on #4809
I had something similar, and crafted a local ZLayer that looked like:
[code]

and this got me past the immediate failure.  I also haven't had time to minimize yet.

[2021-03-19 16:16] dpennell commented on #4809
Thanks for the workaround.  I wasn't able to make that work in the time I had available.  I'll work on minimization this weekend.

[2021-03-21 10:46] isaias-b commented on #4488
Sorry for the late response. I have been able to restore the circumstances that caused the behaviour. It seems to be a combination of two libs of specific versions although i don't fully understand why this happened.

[code]

Upgrading any of the two solves the issue. i.e. `zio-nio` in `1.0.0-RC10` or `zio` to `1.0.5` but not with `1.0.4`. Also what i don't understand is where the necessity for `z

[2021-03-24 20:22] neko-kai commented on #4809
@dpennell Can't reproduce locally and with scastie (https://scastie.scala-lang.org/rqC3PUk9QSeg45Zxae6GHA). For these issues reproduction more or less equals solution (since they're deterministic) but I can't guess at the problem without a reproduction either...

[2021-03-24 21:01] domdorn opened #4839 "create ZStream.fromIterator(java.util.Iterator)"
I've noticed that we only have a ZStream.fromIterator method for scala-iterators. Wondering if we should also provide one for the java iterators or we should just let the users convert them manually using `scala.jdk.CollectionConverters` ?

[2021-03-24 23:38] ollyw opened #4840 "ZIO Test: Setting the seed doesn't work with shared layers"
In some test with a base class that extends `DefaultRunnableSpec` and adds either `nondeterministic` or `setSeed` or calls `TestRandom.setSeed` in an aspect, the seed is reverted to the default if the Suite uses `provideSomeLayerShared` or `provideLayerShared` and the environment has `Random` either directly, or as part of `TestEnvironment.any`, `ZEnv.any`, etc.

After finding the cause, the behav

[2021-03-25 04:14] adamgfraser commented on #4839
@domdorn I think we already have this [here](https://github.com/zio/zio/blob/30a30a4ae925a9de37434874aeb354703cc35868/streams/shared/src/main/scala/zio/stream/ZStream.scala#L3679).

[2021-03-25 09:31] domdorn commented on #4839
oh, right.. would have expected that the method is just overloaded. closing

[2021-03-25 09:31] #4839 closed

[2021-03-25 11:22] tyrcho opened #4841 "type alias for Checks, converting from Some to error"
I have identified a recurring pattern in our project using ZIO.

We want to fail when some function returns Some(x) and succeed when it returns None.

I'm thinking of defining a method like this one:

[code]

And maybe a new type Alias
[code]

Is there a more standard way to do this with ZIO?
Otherwise, is this an extension you'd be interested to add ?

[2021-03-25 13:25] adamgfraser commented on #4839
We tend to avoid overloading.

[2021-03-26 00:23] kjanosz commented on #3495
I would like to pick ZTransducer#both, since I see no work done there yet.

[2021-03-26 06:59] iravid commented on #3495
@kjanosz ZTransducer will be removed in the upcoming version of ZIO Streams, so I would suggest not spending time on that 🙏🏻 Thank you for pitching in!

[2021-03-26 09:53] regiskuckaertz opened #4844 "with is too long"
I suggest defining a type alias `&`, as in `Console & Database`. Works great:

[code]

[2021-03-26 12:11] hamsterready commented on #4809
Try code from https://sttp.softwaremill.com/en/latest/examples.html#get-and-parse-json-using-the-zio-async-http-client-backend-and-circe

[code]

scala 2.12.10 + zio 1.0.5 + sttp 3.2.0

[code]

[2021-03-26 12:33] hamsterready commented on #4809
Scala `2.12.10` - fails, `2.12.13` and `2.13.5` - works fine.

[2021-03-26 14:22] adamgfraser commented on #4844
Very interesting. The watch out and opportunity here is that `&` is already used in Scala 3 for essentially the same thing. But I'm thinking maybe we could put this in a Scala 2.x version specific file so that if users were writing cross-version code they would get our version on Scala 2.x and the Scala 3 version there. That would also get us and libraries using this closer to Scala 3 which would

[2021-03-26 15:26] adamgfraser commented on #4841
I think variants of `getOrFail` that expect the `None` case would be fine. `Check` type alias seems a little specialized to me.

[2021-03-26 15:31] dpennell commented on #4809
Thanks! I'm on Scala `2.12.8` - I'll try bumping to `2.12.13` - won't be until this weekend.

[2021-03-26 17:28] tyrcho commented on #4841
thanks for the reply. I agree for the type alias.

about noneOrFail, would you like me to submit a PR ? only the ZIO trait needs a change, right ?

[2021-03-27 11:12] #4844 closed

[2021-03-27 16:12] adamgfraser commented on #4841
I think it would be a constructor so it would go on the `ZIO` companion object, right? When we add methods to the companion object we also add aliases for them to the companion objects for the various `ZIO` type aliases like `Task` with the appropriate constraints.

[2021-03-28 23:16] softinio opened #4848 "`MavenJunitSpec` test fails with scala `2.13.5`"
Following test failng with scala `2.13.5`:

https://github.com/zio/zio/blob/e94be1899eddf43923c979eec2dae78bdd936281/test-junit-tests/jvm/src/test/scala/zio/test/junit/MavenJunitSpec.scala#L17

# Error

[code]

# Steps to reproduce

1. clone repo
2. `sbt ++2.13.5! testJVM`

[2021-03-29 08:39] neko-kai commented on #4809
@hamsterready Reproduced on 2.12.10, investigating...

[2021-03-29 16:46] tyrcho commented on #4841
Here is the PR : #4851

I struggled with the unit tests.

[2021-03-29 17:05] tyrcho commented on #4841
cleaned the format + signed the CLA

[2021-03-30 04:11] adamgfraser commented on #4848
Copying @dkarlinsky.

[2021-04-02 11:44] durban opened #4870 "STM: read uncommitted value"
I may be missing something, but it seems that it is possible to read an uncommitted value with STM. The JCStress test below occasionally fails (approximately once in about 10-20 tries on my machine). zio version is 1.0.5. Scala 2.13.5.

[code]

When it fails, JCStress reports something like this (usually a few thousand times out of a million):
[code]
Instead of the expected:
[code]

I think it sho

[2021-04-05 19:29] alextoth commented on #4870
I can reproduce
I see the following test cases(TC) failing from time to time:

[code]

The following cases are ok which is expected:
[code]

[2021-04-06 12:19] #4848 closed

[2021-04-06 12:40] adamgfraser commented on #4802
We also ran into this when upgrading ZIO to `3.0.0-RC2`. It appears that the issue is that `toLayer` introduces a new type `A1 >: A` to deal with variance and this creates an issue in the `Tag` machinery. In that case we were able to use `ZLayer.fromEffect` instead, though it looks from the above like assigning it to an intermediate variable may work.

@neko-kai Could you take a look at this when

[2021-04-06 19:38] iravid opened #4886 "Channels: follow-up work"
After #4885 is merged, we have the following open issues that need to be resolved before it can replace the implementation in `zio.stream`:
* Channels
	* Decide what to do with the Bridge node
	* Add a suspend operator so we can implement combinators without `Ref`
	* Implement n-ary merge
* Sinks
	* Improve inference problems with InErr, In
	* Combinators
		* collectAllWhileWith
		* foldM - preser

[2021-04-06 21:04] mijicd commented on #4886
Let's start shy then, I'm taking paginate* and unfold* :smile:

[2021-04-07 07:29] vigoo opened #4896 "Test clock + ZStream issue"
This code

[code]

does not work with `TestClock`.

Results with test and live clock, and with replacing `haltAfter` with `interruptAfter`:

[code]

**UPDATE**

Seems like this only happens when running with the ZIO IntelliJ plugin's runner

[2021-04-07 11:05] paulpdaniels commented on #4886
I'll take these:

- mapAccumM (use loopOnPartial)
- mapError (through channel)
- mapErrorCause (through channel)

[2021-04-07 11:24] jdegoes commented on #2696
Error on `class` creation.

[2021-04-07 15:19] paulpdaniels commented on #4886
I also did `scheduleWith` and `scanReduceM` since they were pretty straight forward

[2021-04-07 16:20] mijicd commented on #4886
I'm taking `grouped` and `groupedWithin`.

[2021-04-07 17:31] adamgfraser commented on #4870
It would be good to try running this against the `series/2.x` branch.

[2021-04-07 17:43] lemastero opened #4905 "[dotty][zio-test][1.0.4+] Scala 2 macro cannot be used in Dotty"
From zio-test 1.0.4 simple test ([source](https://github.com/ScalaConsultants/zio-dotty-quickstart.g8/blob/master/src/main/g8/src/test/scala/%24package%24/MainSpec.scala)):
[code]
fails with:
[code]

Adding
[code]
generates even more verbose error.

Same problem on: 1.0.4-1, 1.0.4-2, 1.0.5

[2021-04-07 17:48] adamgfraser commented on #4905
Hmmm, I thought we had a version specific implementation of that [here](https://github.com/zio/zio/blob/master/test/shared/src/main/scala-dotty/zio/test/Macros.scala). Is this if we are running in compatibility mode instead of using the Scala 3 version directly?

[2021-04-07 20:19] iravid commented on #4886
Taking utf8Decode

[2021-04-07 22:25] steinybot opened #4909 "Change platform in BootstrapRuntime to be a def"
Overriding `platform` from `BootstrapRuntime` still causes the default Platform to be created.

For example:

[code]

This will still initialize `zio.internal.PlatformSpecific#default`.

`zio.internal.PlatformSpecific#default` is already a `lazy val` so I think `zio.BootstrapRuntime#platform` should be a `def` or at least a `lazy val` so that we can override it and prevent its initialization.

---

[2021-04-08 01:31] paulpdaniels commented on #4886
@iravid I just started with a `branchAfter` implementation is that needed for the `ut*` variants?

[2021-04-08 06:01] iravid commented on #4886
@paulpdaniels Hey it turns out that `branchAfter` is easily implemented as `ZSink.take(n).flatMap { data =>`. So probably not.

[2021-04-08 08:57] tyrcho commented on #4841
actually, I'll let this open until the feature is available in the next release

[2021-04-09 01:41] adamgfraser commented on #4841
I think if we have implemented the feature we should close the issue even if it is not in the latest release yet.

[2021-04-09 01:41] #4841 closed

[2021-04-09 06:26] #4804 closed

[2021-04-09 07:26] mijicd commented on #4886
I'm taking `ZSink.collectAllN` port as it's needed in grouped*.

[2021-04-09 08:04] paulpdaniels commented on #4886
Just to update here as well:

- ZStream#throttleShapedM
- ZStream#throttleEnforcedM
- ZSink#timed (+ZSink#summarized)
- use sinks in all the run* methods and do not implement functionality on ZStream
- runLast
- runCount
- runSum

[2021-04-09 09:42] #4909 closed

[2021-04-09 11:08] paulpdaniels commented on #4886
Took `repeatElementsWith` as well

[2021-04-09 13:22] paulpdaniels commented on #4886
Starting on `debounce`

[2021-04-09 15:15] mijicd commented on #4886
I'll take `ZSink.collectAllToMapN` and `ZSink.collectAllToSetN`.

[2021-04-09 17:13] TobiasPfeifer opened #4927 "zio-test: `typeCheck` macro expansion should use fully qualified names to avoid conflicts"
When implementing a test for zio-sql using `typeCheck(String)` I encountered an unexpected compile error. After some digging into the issue I found the cause and a workaround.

The `typeCheck` macro expansion in this example should compile. However it's not for `postgresql/FunctionDefSpec.scala` in zio-sql since there is already a `Left` and `Right` in scope.
[code]

The macro expansion `zio.UIO.s

[2021-04-09 19:47] luis3m commented on #4886
I'll take bufferSliding and bufferDropping

[2021-04-09 20:10] #4927 closed

[2021-04-09 22:05] neko-kai commented on #4802
Needs more `.dealias` 🥷

[2021-04-09 22:32] mijicd commented on #4886
Taking:
- `ZSink.splitLines`
- `ZSink.splitOn`
- `ZSink.splitOnChunk`

`ZStream.grouped` and `ZStream.groupedWithin` are ready, I'll open the PR as soon as #4923 is merged.

[2021-04-11 05:12] paulpdaniels commented on #4886
Taking `drop` and `dropWhile`

[2021-04-11 07:06] paulpdaniels commented on #4886
Taking `peel` and `repeatWith`

[2021-04-11 07:54] adamgfraser commented on #4886
I will take `combine`, `combineChunks`, and `interleaveWith`.

[2021-04-11 18:29] alextoth commented on #4870
I ran against `series/2.x`.
Same fate, maybe worse since this time I also found `TC 1` errors along with `TC 3` `TC 5` and `TC 6`.

Occurrence of errors is around 40% ( I ran 10 runs, 4 came back faulty )

You need this in your `project/plugins.sbt`

[code]

then `sbt jcstress:run`

[2021-04-12 15:54] virusdave opened #4952 "remove prelude -> zio-test dependency, or split non-test stuff from zio-test into a non-test library"
Similar to https://github.com/zio/zio/issues/4787, there's a dependency edge between `zio-prelude` and `zio-test`, which seems incorrect.  Should it be a test dependency?  Or not exist at all perhaps?

[2021-04-12 15:56] virusdave commented on #4952
This matters because zio-magic depends on zio-prelude :'(

[2021-04-12 16:29] virusdave commented on #4952
Based on [discussion here](https://discord.com/channels/629491597070827530/630498701860929559/831201842523406336), a possible better approach would be to split functionality that lives in zio-test that is legitimately useful in non-test contexts into a non-test library.

[2021-04-12 16:37] adamgfraser commented on #4952
I think this is best addressed at the ZIO Prelude level.

[2021-04-12 16:44] #4952 closed

[2021-04-12 20:41] jdegoes commented on #4870
It is possible to read an uncommitted value in a transaction that will not succeed.

However, the conflict will be detected and the transaction will be rolled back.

Possibly what is happening is that `die` is treated as a catastrophic error, so the transaction is not being rolled back, allowing you to leak state that you would otherwise not see.

This is probably an argument to modify `die`, but

[2021-04-12 21:35] jupposessho opened #4954 "Multiple no method call expectation fails with atMost"
Having this two tests using the mockable macro:

[code]

Current behaviour:
The first test fails with: unsatisfied expectations - in any order
The second test passes.

Expected behaviour:
The first test passes too.

The dummy implementations:
[code]

[2021-04-12 21:42] adamgfraser commented on #4954
@jupposessho Thank you for reporting!

[2021-04-13 16:24] heksesang commented on #4739
So, I played a bit with the example in Scastie.

This one, the same as in the example, does not compile:
https://scastie.scala-lang.org/gmOTh5a1SiWkoxkE17Badw

This one, however, does compile:
https://scastie.scala-lang.org/qP7rYVmgSbCfmUKNmM81rg

The difference is that I have reduced the number of services in the environment from five to four. Doesn't matter which of the services I remove, it see

[2021-04-14 11:17] AntonShtyrkin commented on #4809
@neko-kai looks like i've got a similar problem with that.

Reproduced with this example:
[code]

scala 2.13.5 + zio 1.0.6 + shapeless 2.3.3

[code]

[2021-04-14 11:55] AntonShtyrkin commented on #4809
@neko-kai Looks like i've got a similar problem with this.

Reproduced on this example https://scastie.scala-lang.org/DGRkP6ioQQqIc5uxgv6xPg:

[code]

scala 2.13.5 + shapeless 2.3.3 + zio 1.0.6

[code]

[2021-04-14 12:01] AntonShtyrkin commented on #4809
zio 1.0.1 - works fine

[2021-04-14 13:12] adamgfraser opened #4959 "Add Information on Upgrading From Monix Observable to Migration Guide"
The migration guide [here](https://github.com/zio/zio/blob/master/docs/howto/migrate/from-monix.md) should be expanded with additional content regarding upgrading from `Observable` to `ZStream`.

[2021-04-14 17:07] paulpdaniels commented on #4886
Taking `repeat`

[2021-04-15 06:46] alextoth commented on #4870
@jdegoes thank you for the explanation.

Changing the test to use `ZSTM.fail(new Exception("impossible: " + s))` instead of `ZSTM.die`
and adapting to `STM[Exception, String]` and `IO[Exception, Something]`
clears the problem.

@durban I guess this can be closed.

[2021-04-15 08:26] regiskuckaertz opened #4960 "Release in bracket does not get eval'd with careless use action"
I was preparing a ZIO workshop at Pirum (YAY 🎉) when this broke my expectations:
[code]
... did not print `End`. I think it should, the runtime loop has logic to handle that case.

[2021-04-15 12:03] adamgfraser commented on #4870
@alextoth Is this true on both ZIO versions?

[2021-04-15 13:05] durban commented on #4870
@alextoth Wait, but why? It's very good if `fail` behaves correctly in this case, but, as far as I can tell, `die` still does not.

Also, please note, that this transaction will not succeed _because_ it reads an uncommitted value.

[2021-04-15 14:03] adamgfraser commented on #4870
Why don't we just delete `die` from the API? The guarantee is supposed to be that you can potentially observe inconsistent state during an STM transaction but that you can never successfully commit such a transaction. Throwing errors within an STM transaction is clearly a kind of side effect just like printing the values observed within an STM transaction to the console. By exposing this operator

[2021-04-15 14:07] adamgfraser commented on #4870
Or alternatively at least for errors using the `die` constructor they need to be captured as their own data type and interpreted like other errors.

[2021-04-15 15:10] adamgfraser commented on #4870
Submitted #4962 to fix this on the `series/2.x` branch. I think we can back port the fix to `master` with the same approach.

[2021-04-15 16:30] ollyw commented on #4715
This can be closed because #4716 is merged

[2021-04-15 16:30] #4715 closed

[2021-04-15 16:31] adamgfraser commented on #4715
@ollyw Thank you! 🙏

[2021-04-16 05:42] #4870 closed

[2021-04-17 09:52] heksesang commented on #4739
Any ETA on when this will be fixed?

[2021-04-17 10:29] scalavision commented on #4592
@adamgfraser , I think izumi-reflect also needs to be published for scalajs before this can be done for zio? I tried a couple a months ago but got stuck on izumi dependency. Unfortunately I am not able to work on this at the moment, but it would be really great to have zio out on scalajs for scala 3.

[2021-04-17 10:59] luis3m commented on #4886
Taking `zipWithNext`

[2021-04-17 11:06] luis3m commented on #4886
By the way, for whomever takes (I will probably after `zipWithNext`) `mapMPar` here's a known issue: #4514 (#4731 fix for ZIO 1.x)

[2021-04-17 11:35] adamgfraser commented on #4739
@neko-kai Any update on this one?

[2021-04-17 21:32] sviezypan commented on #4886
I will take
[code]

[2021-04-17 23:34] neko-kai commented on #4739
@adamgfraser Haven't had the time to look into this yet!
@heksesang No ETA but could possibly find the time within next week. If you're interested in a faster fix, you could investigate further, e.g. if Map1-4 theory is correct then the issue may be in unlawfulness of hashCode wrt equals (exclusive to Scala 3 impl), this would mean that wrapping an existing LightTypeTag in a proxy wrapper that ove

[2021-04-18 00:02] adamgfraser commented on #4739
@neko-kai Thanks for the update!

[2021-04-18 14:35] Lando-L commented on #4809
The bug also appears every time a type parameter is introduced (`zio 1.0.6` with `scala 3.0.0-RC2`).

[code]

[2021-04-18 15:32] phderome opened #4970 "Make BootstrapRuntime's platform lazy"
Some usage in the field seems to show that loading both `BootstrapRuntime` and `default` one in memory leads to NPE on `ZIO.scala` accessing `platform`.

From Discord's conversation on zio-users (Apr 18 2021): https://discord.com/channels/629491597070827530/630498701860929559/833355246822359040

In a multi-module project, I have two modules `A`  and  `B` that both depend on ZIO. `A` has a dependen

[2021-04-18 15:43] adamgfraser commented on #4970
I will take care of this.

[2021-04-18 16:03] heksesang commented on #4739
In my project, I worked around it by splitting my environment in sets of max 4 services, and supplying each set with `provideSomeLayer`. For the ZIO-based `SttpClient` I had to provide that as its own layer, as soon as I tried to combine anything else with that layer it failed with the same error as described in this issue regardless of number of services (which seems to support the theory that th

[2021-04-18 17:37] phderome commented on #4970
[code]
v1.0.3:
[code]

[2021-04-18 17:42] phderome commented on #4970
you fixed it already: https://github.com/zio/zio/pull/4917
My jar is 1.0.3.

[2021-04-18 18:06] adamgfraser commented on #4970
😂

[2021-04-18 18:07] adamgfraser commented on #4970
So can we close this?

[2021-04-18 18:51] phderome commented on #4970
yes.

[2021-04-18 18:51] #4970 closed

[2021-04-18 19:41] iravid commented on #4886
I'll be back reviewing tomorrow, sorry for the delay!

[2021-04-18 22:50] luis3m commented on #4886
Taking `zipWithLatest`

[2021-04-19 05:52] #2613 closed

[2021-04-19 12:17] jupposessho commented on #4886
Taking filterInput/filterInputM

[2021-04-19 13:08] agarella commented on #4886
Taking `toIterator`

[2021-04-19 13:28] zagyi commented on #4886
Taking `toInputStream`

[2021-04-19 14:44] luis3m commented on #4886
Taking `mergeWith`

[2021-04-19 18:55] luis3m commented on #4886
Taking `mapMPar`

[2021-04-20 03:51] alphaho opened #4987 "the elapsed time reported by zio-test may be wrong"
Have found the elapsed time reported by zio-test may be wrong.

The failed test's elapsed time is not counted as shown both from sbt runner's console output and the screenshot through ZIO IntelliJ Test runner.

#### Here's the code to reproduce the issue
[code]

#### what is looks like from sbt
it should be run 3 tests in about 60s instead of 30s

[code]

#### what is looks like from IntelliJ thro

[2021-04-20 13:53] #4987 closed

[2021-04-20 16:29] juliano opened #4992 "ZIO 1.0.6 fails to compile implicit"
I have the following code running on ZIO 1.0.5:

[code]

After migrating to ZIO 1.0.6, it fails to compile:

[code]

I've noticed it only happens when `Bar.decoder` is explicitly there, it compiles otherwise.

[2021-04-20 17:52] #4954 closed

[2021-04-20 18:34] adamgfraser commented on #4992
@nadenf You want to take a look at this?

[2021-04-20 21:36] nadenf commented on #4992
@adamgfraser .. Looking into it now.

[2021-04-20 21:54] adamgfraser commented on #4992
@nadenf Thank you! 🙏

[2021-04-21 08:28] nadenf commented on #4992
I am actually confused how this compiles in 1.0.5 because @accessible expands:
[code]

to:
[code]

And according to the Scala spec multiple implicit blocks are not allowed. @ioleo any ideas ?

Otherwise it's best just to revert #4466 and instead workaround it in the IntelliJ Plugin.

[2021-04-21 10:02] hmemcpy opened #4997 "MutableSpec: the TestEnvironment layer is shared between tests"
I ran into an issue where I believe the `TestEnvironment` is provided as a shared layer to the `MutableRunnableSpec`, causing the services (`TestClock` in particular) to be shared between the tests.

My simplest repro for this (printing the hashcode of the `TestClock` service) is:
[code]

prints:
[code]

While doing this with the `DefaultRunnableSpec` prints two different values every time.

I bel

[2021-04-21 10:06] ioleo commented on #4992
It should've been combined into a single implicit parameter list, I'm suprised to see there are multiple.

[2021-04-21 10:50] fokot commented on #4997
@hmemcpy It looks like a bug `DefaultMutableRunnableSpec` should behave as `DefaultRunnableSpec`. I will take a look on it this week

[2021-04-21 10:51] hmemcpy commented on #4997
Cheers, appreciate it!

[2021-04-21 14:00] adamgfraser commented on #4992
Yes I think that is right it should just be one implicit parameter list. Does someone have time to work on this?

[2021-04-21 14:00] adamgfraser commented on #4997
@fokot Thanks for working on this!

[2021-04-21 23:29] nadenf commented on #4992
In #4466 it combines multiple implicit into a single list which is what is causing this bug.

I am fine to work on it. Just trying to get more information from the Scala compiler team.

[2021-04-22 03:48] nadenf commented on #4992
I will look to fix #4466 on the IntelliJ plugin side.

It looks Izumi macro runs first and tries remove its implicit block which leaves the others in place.

[2021-04-22 14:33] reibitto opened #5004 "Better support for Graal native-image `--initialize-at-build-time`"
When using Graal native-image's `--initialize-at-build-time`, you need to be careful to not accidentally initialize things at build-time, like random seeds, environments variables, etc. This [tweet](https://twitter.com/reibitto/status/1384795560436113415) has a little more context if you need it.

Prior to GraalVM 21.1, using ZIO's `Random` would mean the random number generator's seed will be fix

[2021-04-22 15:03] reibitto commented on #5004
Alright, I checked `zio.system.System` and it looks safe to me. There should be no problems with getting environment variables from it. The only issue I can find is with `Random`

[2021-04-22 15:11] adamgfraser commented on #5004
@reibitto Great to fix this! The only issue I can think of is that we do expose the live services directly for interoperation with mixed code bases that does not want to have to run a layer to get access to the default services. Not sure exactly how we handle this but should be able to figure something out.

[2021-04-22 15:21] reibitto commented on #5004
Worst case, you could add a `lazy random = new Random()` in `Random.Service` directly and replace `SRandom` with it, right?

https://github.com/zio/zio/blob/b8880ff5601119d3d452e40497ca579effded4a5/core/shared/src/main/scala/zio/random/package.scala#L50

[2021-04-22 15:33] adamgfraser commented on #5004
Sure.

[2021-04-22 20:47] fokot commented on #4997
The problem lies here
https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/DefaultMutableRunnableSpec.scala#L38
and here
https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/MutableRunnableSpec.scala#L148

I can change `provideLayerShared` to `provideLayer` and it would work the same as in `DefaultRunnableSpec`.

But problem is what if user wants to use

[2021-04-22 20:59] hmemcpy commented on #4997
FWIW, I definitely would like a way to share my custom layer, and have the base `TestEnvironment` layer provided unshared. From my perspective, I wouldn't mind the extra type parameter, but I would definitely like to avoid providing the environment to each test/spec.

[2021-04-22 21:02] hmemcpy commented on #4997
But I don't really understand the nature of this bug. The test layer is defined as `ZLayer[TestEnvironment, Throwable, R]`, so it will provide (shared) just the user-defined R. The `TestRunner.default` itself calls `provideLayer` with the testEnvironment, so supposedly the testEnvironment should not be shared. I wonder where it gets "confused".

[2021-04-23 17:50] AndyMoreland opened #5013 "groupedWithin ignoring duration parameter"
Hi! I asked about this in discord and Adam Fraser asked me to open an issue here. I've written this simple code sample:

[code]

I'd expect to see a log line every 300ms because it will take 100 seconds to fill up the 1000 element buffer. However, I see a log line every 100 seconds. This seems counter to the documentation:

[2021-04-23 19:54] virusdave opened #5014 "FR: @accessible should elide accessors for `protected` and `private` members"
See title.

Use case: My Service has a `protected def` which is used by default implementations of the "real" methods in the `Service`.  I want to be able to override or access it in particular Service implementations, but not expose it outside the module.

Alternatively, allow me to explicitly annotate with `@hidden` or something (although this is probably less natural).

[2021-04-23 20:46] fokot commented on #4997
@hmemcpy The problem was that in `DefaultMutableRunnableSpec` was basically this code (when you combine the two links from my last comment)
[code]
It gets the provided test layer shares it.

Now I split it to `R` and `TestEnvironment` and I do not share `TestEnvironment` only `R`. In this code there I use `MutableRunnableSpec` with `R`, `intLayer` is shared and created only once. Test layer is not

[2021-04-23 20:56] hmemcpy commented on #4997
Amazing, thank you so much!

[2021-04-25 16:43] #5013 closed

[2021-04-26 01:00] jportway commented on #4108
looking back - this was me be very embarassingly dumb.
Apologies.
And thanks for your patience.

[2021-04-26 01:00] #4108 closed

[2021-04-27 04:36] #4960 closed

[2021-04-27 04:39] adamgfraser commented on #5014
Makes sense to me. Any of our macro wizards want to take a crack at this?

[2021-04-28 03:10] jamesward opened #5026 "javadoc jars for 3.0.0-x are missing contents"
For some reason the javadoc jars on Maven Central are empty for the 3.0.0-x releases. Examples:
https://repo1.maven.org/maven2/dev/zio/zio_3.0.0-RC3/1.0.7/
https://repo1.maven.org/maven2/dev/zio/zio_3.0.0-RC2/1.0.6/

[2021-04-28 06:02] adamgfraser opened #5027 "Flaky ZStream Tests"
If you run `ZStreamPlatformSpecificSpec` for a while with `nonFlaky` you can get it to suspend indefinitely. Replacing `ZIOBaseSpec` with `DefaultRunnableSpec` and adding debug statements to the `fromSocketServer` tests helps to replicate. Replacing `retry(Schedule.forever)` with `retryN(Int.MaxValue)` may also help replicate by automatically introducing a yield between each repetition, which `ret

[2021-04-30 07:45] pjoneswork opened #5031 "Add validate of NonEmptyLists"
I'd like to validate a non-empty iterable, and it would be useful to keep the non-Empty information in the return type. I.e.

[code]

I can't use `NonEmptyChunk` currently because it isn't a subtype of Iterable. I can't use `::` because it's invariant in its type parameter. (I'm using Scala 2.12)

Without this functionality it seems that I need to write code like:

[code]

Can we add the functiona

[2021-04-30 22:42] jamesward opened #5032 "`Console.putStr` & `Console.putStrLn` should have an `IOException` error"
Because the underlying `OutputStream` methods throw `IOException`: https://docs.oracle.com/javase/8/docs/api/java/io/OutputStream.html#write-byte:A-

[2021-05-02 00:39] #5032 closed

[2021-05-02 03:10] paulpdaniels commented on #4886
Taking `ZSink#dropWhile/M`

[2021-05-02 11:57] jamesward commented on #5032
Nice! Dang you all are fast. Thank you!

[2021-05-04 12:26] ghostdogpr commented on #4592
Blocked by https://github.com/zio/izumi-reflect/issues/159

[2021-05-05 23:45] PawelJ-PL opened #5045 "sealed ZHub - problem with test instance"
Hi,

I've found a pretty fresh PR https://github.com/zio/zio/pull/4925 (already merged). This approach makes unit tests more complicated. Normally I would create my custom implementation of `ZHub` for the test which would use `Ref` to collect published messages (to verify them later in the test). But since this change it's impossible.
Now I have to implement not nice solution like:

[code]

I thin

[2021-05-05 23:58] adamgfraser commented on #5045
@PawelJ-PL `ZHub` was a `sealed trait` prior to that PR being merged so you wouldn't have been able to extend it even then. You can use `tapInput` to perform an effect like writing to a `Ref` for each value that is published to the hub. I am 👎 on removing the seal as I don't think the hub is meant to be extended by third party code and it creates binary compatibility issues.

[2021-05-06 18:54] PawelJ-PL commented on #5045
Solution with `contramapN` will work as fine in tests as a custom implementation based on `Ref`.

[2021-05-06 20:21] adamgfraser commented on #5045
@PawelJ-PL Awesome! Are we good to close this then? Thanks for trying out ZHub` and for raising this.

[2021-05-06 21:30] PawelJ-PL commented on #5045
Yes, I'll close issue. Thank you for suggestion.

[2021-05-06 21:30] #5045 closed

[2021-05-07 07:43] artkostm commented on #4809
Using the +!+ operator instead of ++ can help (zio 1.0.7, sttp 3.3.0)

[2021-05-07 10:19] Lando-L opened #5047 "Enrich ZHub's documentation"
I wanted to familiarise myself with the ZHub data type. While there are nice explanations of what the ZHub is and how it works, I couldn't find any usage examples. The only resources I found were the tests in ZHubSpec, which alone do not provide much information.

In specifically I was thinking I could do something like this:

[code]

But this program does not terminate.

[2021-05-07 12:11] adamgfraser commented on #5047
@Lando-L Thanks for checking out `ZHub` and for the feedback!

In your example, you need to be careful to wait to publish values to the hub until you are subscribed to the hub, because subscribers will only receive messaged published to the hub after they are subscribed. Also, remember that `runCollect` will collect values from a stream until the stream is terminated, which never happens here beca

[2021-05-07 13:10] adamgfraser commented on #4809
@artkostm I wonder if we should use that more broadly.

[2021-05-07 16:10] adamgfraser commented on #5047
@Lando-L Definitely! I submitted #5048 to try to make this a little nicer. I will also add some additional examples to the documentation and then we can close this. Thanks again for the feedback. That's how we get better.

[2021-05-08 06:04] #4997 closed

[2021-05-08 09:39] jdegoes opened #5050 "ZIO 2.0: Improve Chunk[Boolean] for bit-oriented operations"
Recently a project tried to use `Chunk[Boolean]` for bit-oriented operations (low-level codecs), and encountered some difficulties. This ticket documents everything currently missing that is required to make `Chunk[Boolean]` suited for these use cases:

1. New constructors for `Chunk[Boolean]` that can convert from `Chunk[Int]` and `Chunk[Long]` into `Chunk[Byte]` (currently, only `Chunk[Byte]` ca

[2021-05-09 08:37] paulpdaniels commented on #4886
Taking `effectAsync*`

[2021-05-09 19:55] #4008 closed

[2021-05-09 20:26] remiguittaut opened #5057 "ZStream - Add the collectType operator to collect elements of a given subtype"
Add the collectType operator to collect elements of a given subtype in ZStreams.

[2021-05-13 10:22] jdegoes opened #5076 "Remove Blocking from ZEnv / environment / standard services"
There is almost never a need to use a separate blocking pool. We should just bake one global blocking pool into the application, move all the blocking operators to `ZIO.*` (and companion objects), and delete the `Blocking` service and package.

[2021-05-13 15:17] adamgfraser commented on #5076
I will do this.

[2021-05-13 18:24] heaven-born commented on #5076
Multiple blocking pools can be useful in some cases. Let's say you have multiple DB connections and you want to have separate metrics for each of them. Having multiple blocking pools makes it possible to just instrument underlying execution services and have separate metric sets for each connection.

[2021-05-13 19:34] jkobejs commented on #4886
I took
- deflate
- gzip

[2021-05-13 22:43] igrebenik commented on #5050
I would like to take on 5 ,6 and 7 items first

[2021-05-14 12:26] jdegoes opened #5092 "ZIO Test: Add binary composition operator to Spec"
Currently, specs cannot compose directly, although if you have a sweet, you can combine all the children into a spec via the suite itself.

As a consequence of this design choice, it is not possible to have a binary composition operator on `Spec`, which composes two specs into one.

Yet, if two specs could compose, then it would be simpler to break up mega-suites into smaller subsuites (e.g. `val

[2021-05-14 12:32] jdegoes opened #5093 "ZIO Test: Make specs more compositional"
Depends on #5092 .

The goal of this ticket is to support:

[code]

In order to support this, we would probably have to change `Spec` from a case class to a `trait` with a `fold` method that encodes the subtypes of `SpecCase`.

Then `DefaultRunnableSpec` and friends could implement the abstract methods of the `Spec` trait and get operators like `+` for free.

[2021-05-14 13:07] adamgfraser commented on #5092
I will do this.

[2021-05-14 14:12] regiskuckaertz opened #5095 "Relax requirement on provide"
I use ZIO as an arrow in a compiler, and I have a term of my language `const: A => Lang[Any, A]` which I translate to `ZIO[Any, E, A]`. Haha, you guess where it's heading: I cannot `provide` anything, because the compiler will raise an error. However here, I really want to provide _anything_. Not sure many people use ZIO that way, and I may have to wrap it in a function instead, but I thought I'd

[2021-05-14 16:12] adamgfraser commented on #5095
@regiskuckaertz The only thing that prevents this is the `NeedsEnv` warning, which is designed to prevent users from accidentally providing an environment to an effect that doesn't require one. For advanced use cases you can import `zio.NeedsEnv.needsEnv` to silence this warning.

[code]

[2021-05-14 17:57] neko-kai commented on #4592
Unblocked in https://github.com/zio/izumi-reflect/releases/tag/v1.1.2

[2021-05-14 18:31] regiskuckaertz commented on #5095
Oh, I did not know you could do that, thanks heaps!

[2021-05-14 18:31] #5095 closed

[2021-05-14 23:41] hmemcpy commented on #5093
This would also be great for creating a mega spec with shared dependencies, allowing creating "global" before/after (useful for test containers, where I'd like to start a container before any of the specs are run, and tear it down after all had finished).

[2021-05-15 00:26] ghostdogpr commented on #4592
Next (and last?) blocker is scala-java-time but should be resolved soon: https://github.com/cquiroz/scala-java-time/pull/286

[2021-05-15 00:28] jdegoes commented on #5092
@adamgfraser Thank you! 🙏

[2021-05-16 00:58] ghostdogpr commented on #4592
Getting a compiler crash, if anyone has an idea: https://github.com/zio/zio/pull/5101/checks?check_run_id=2592670075

[2021-05-16 04:53] ghostdogpr commented on #4592
Firgured it out, it's ready now.

[2021-05-16 05:22] #4592 closed

[2021-05-16 13:50] regiskuckaertz opened #5103 "dimap has disappeared"
Somewhere along the way, `ZIO.dimap` has disappeared, even though it is still part of other data types API.

[2021-05-17 03:39] adamgfraser commented on #5103
I'm not sure it disappeared so much as was never there. It looks like it exists on concrete data types that take some "input" and "output" (e..g  `ZQueue`, `ZHub`, `ZRef`, `Schedule`, `ZSink`) but hasn't been defined for any effect type with respect to its environment. There is no implementation for `ZIO`, `ZManaged`, `ZSTM`, or `ZStream` for example.

It is certainly well defined, though I wonder

[2021-05-17 03:40] adamgfraser commented on #5076
Closed by #5080.

[2021-05-17 03:40] #5076 closed

[2021-05-17 14:26] notxcain opened #5108 "Improve documentation for Runtime#unsafeRunAsyncCancelable"
It worth mentioning that calling a resulting cancellation function is a blocking operation and should not happen on bounded thread pools. We've encountered a deadlock in our Twitter Future interop because of that.

Also maybe we should expose asynchronous canceller API, like in `Runtime#unsafeRun`?

[2021-05-17 16:19] scottweaver commented on #4840
I just discovered the same issue effects the `samples` aspect when positioned after `provideSomeLayer`/`provideCustomLayer` as well.  This leads me to believe most , if not all aspects get "overwritten" in these cases, at least for ones that manipulate the environment state.

[code]
prints `>>> EXECUTING TEST <<<` once as expected.

However:
[code]
ends up printing `>>> EXECUTING TEST <<<` a numbe

[2021-05-17 17:02] ollyw commented on #4840
Yes, indeed, when test aspected used in tests are dependent on the order  mixed in. This can create subtle bugs when the aspects seem unrelated to the test environment.

For example, in the codebase I am working on, where it seems that property based testing is doing its thing and providing many cases, but actually the seed were the same for a given test every time because the seed was always the

[2021-05-18 09:00] domdorn opened #5111 "Compile errors with 1.0.8"
Scala Version: 2.13.6

When switching from zio-1.0.7 to zio-1.0.8, I'm now getting the following compile errors:

[code]

The code of the class looks like this:

[code]

where ZioF is
[code]

[2021-05-18 09:14] ghostdogpr commented on #5111
This is caused by https://github.com/zio/zio/pull/5034
Now `Console.putStrLn` can fail with an `IOException` and you expect `FailureException` only.

[2021-05-18 14:46] adamgfraser commented on #4840
Test aspects like `samples` or `setSeed` modify the environment. If the environment has already been provided there is nothing left to modify. So in examples like:

[code]

If you are already providing the test environment then there is nothing else for `samples` to modify. I think best practice here is to not provide the `TestEnvironment` manually and allow the test framework to do that for you.

[2021-05-18 17:58] Eduardo-M-Cavalcanti opened #5115 "Error compiling a Hello World app with ZIO 1.0.8, Scala 3 and SBT 1.5.2"
All fine except for this line:

2021.05.18 14:21:58 ERROR jar:file:///C:/Users/<username>/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/dev/zio/izumi-reflect_3/1.1.2/izumi-reflect_3-1.1.2-sources.jar!/izumi/reflect/dottyreflection/Inspect.scala:36: error: unclosed character literal
    '{ LightTypeTag.parse(${Expr(ref.hashCode())}, ${Expr(strRef)}, ${Expr(strDbs)}, ${Expr(LightTypeT

[2021-05-18 18:02] Eduardo-M-Cavalcanti commented on #5115
Weird, closed VS Code, opened it again and the error vanished.

[2021-05-18 18:02] #5115 closed

[2021-05-19 11:08] DmytroOrlov-flixbus commented on #3217
With **DIstage** accessors for "flat" services are much preferable for me (less visual noise/boilerplate):
[code]
instead of current:
[code]
So redundant `make[ForwardEndpoints.Service]...` become just `make[ForwardEndpoints]...`.
And
[code]
become
[code]
https://github.com/zio/zio/pull/5122
https://github.com/zio/zio-intellij/pull/267

[2021-05-19 12:44] immanol opened #5123 "catchAll doesn't catch all!"
It seems if we use an impure function which by mistake throws an exception inside a map part of a for comprehensions, the zio can't catch the exception. In the below code the `y = Integer.parseInt(yString)` throws an exception which is not catched in the `myApp.catchAll(e => putStrLn(s"Error: $e"))`.
I don't see this behaviour for example in Cats-effects and at least I can log my exception when I'

[2021-05-19 13:35] luis3m commented on #5123
@immanol as you said parseInt may fail so it must be wrap with ZIO. If you don't then it's a "defect" in your application and to catch those you'd need `catchAllCause` instead.

Hope that helps.

[2021-05-19 14:06] immanol commented on #5123
Thanks for your reply

[2021-05-19 14:06] #5123 closed

[2021-05-19 21:35] adamgfraser commented on #3217
Closed by #5122.

[2021-05-19 21:35] #3217 closed

[2021-05-20 16:04] jdegoes opened #5132 "Move logic of retrying and repetition to Clock service"
Without changing the current API, we should move the retrying, repetition, and scheduling logic (embodied by such methods as repeat, repeatOrElse, etc.) into the `Clock` service.

This will solve a common anti-pattern, whereby middleware in application that uses `Clock` via this retrying, repetition, or scheduling logic (but must, itself, provide `R = Any` in its service definition) must `provideL

[2021-05-20 16:09] adamgfraser commented on #5132
I will do this.

[2021-05-20 16:21] jdegoes commented on #5132
Thank you!

[2021-05-21 00:13] adamgfraser opened #5137 "Flaky Stream Test On ZIO 2.0 Branch"
The `mapMPar - awaits children fibers properly` test is showing significant flakiness on the `series/2.x` branch. At first I thought it could be related to the reimplementation of `Semaphore` in terms of `TSemaphore` since `Semaphore` is used internally in `mapMPar`. However, I just tried reverting that change in #5136 and continued to observe the flakiness. Unfortunately I have not been able to r

[2021-05-21 07:48] luis3m commented on #5137
In my implementation of `mapMPar` for series/2.x I have the exact test failing for some specific JVM version + Scala version. When I run that test specifically or all for ZStreamSpec I usually don't replicate the flakiness. However, I do almost every time when I run all tests.

[2021-05-21 13:02] adamgfraser commented on #5137
Any idea what could be causing it? It seems like it is only occurring on the `series/2.x` branch and is not related to the semaphore change.

[2021-05-21 13:40] luis3m commented on #5137
Unfortunately not, I spent some time a few weeks ago trying to figure out what's causing this issue but haven't found anything yet. I'll continue exploring this issue over the weekend.

[2021-05-21 17:43] domdorn opened #5141 "provide ZIO.condM / ZIO.cond"
I just came across the following code and thought a `ZIO.condM` would be nice:

[code]

could e.g. be written as

[code]

I also experimented with ifM, but it also requires a effect in the check
[code]

[2021-05-21 18:03] adamgfraser commented on #5141
@domdorn`if (condition) zio1 else zio2`.

[2021-05-21 22:30] #5141 closed

[2021-05-21 22:30] #5111 closed

[2021-05-23 09:32] lxwbr commented on #4809
Using `1.0.8` with `scala 3.0.0` and having the same error when using type parameters as described here: https://github.com/zio/zio/issues/4809#issuecomment-822001203

[2021-05-23 11:09] neko-kai commented on #4809
@lxwbr @Lando-L
This is a different error - type parameter tags are not supported at all on 3 yet https://github.com/zio/izumi-reflect/issues/103

Workaround: write
[code]

Instead of `T: Tag`

[2021-05-23 11:48] lxwbr commented on #4809
@neko-kai thanks, but I can't get this to compile, it yields following error:
[code]

[2021-05-23 11:50] neko-kai commented on #4809
@lxwbr `using Tag[Service[T]]` my bad

[2021-05-23 13:15] lxwbr commented on #4809
Thanks a lot @neko-kai, that solved it for me

[2021-05-26 08:51] mschuwalow commented on #4191
Let's wait for the new streams if that's fine with you

[2021-05-28 11:41] MI3Guy opened #5152 "Missing sjsir files in Scala 3 jars for Scala.js"
From what I can see the sjsir files are missing. For example, the file zio_sjs1_3-1.0.8.jar contains class files and tasty files, but not sjsir. The result of this is that, while you can compile code using ZIO on Scala 3/Scala.js, it will not link. This is also the case for zio-test (and interop-cats which is a separate repository).

[2021-05-28 12:19] adamgfraser commented on #5152
Thanks for reporting! We are investigating and working on resolving but if anyone has a solution for this PRs welcome.

[2021-05-29 16:23] kazchimo commented on #4602
@adamgfraser Shulod this be closed?

[2021-05-29 16:48] adamgfraser commented on #4602
@kazchimo Yes.

[2021-05-29 16:48] #4602 closed

[2021-05-30 19:59] searler opened #5160 "ZStream.fromSocketServer - separate client socket lifetimes from that of server socket"
The current design:

1. Mandates the created client sockets live until the server socket dies
2. Hides the Managed nature of the client socket.
The documentation indicates _The caller of this function is NOT responsible for closing the AsynchronousSocketChannel._
The emphasis is in the original

This [comment ](https://github.com/zio/zio/pull/3677#pullrequestreview-417389265) provides rationale fo

[2021-05-31 22:55] searler opened #5163 "ZStream.Connection#close assumes no exceptions are thrown from close"
`def close(): UIO[Unit] = ZIO.effectTotal(socket.close())`

Exceptions are admittedly rarely thrown and would not be seen by the tests.
I managed to generate a exception by closing in the middle of a read operation.

This appears to be only instance of this problem in the code base

[2021-06-02 01:11] #5047 closed

[2021-06-02 01:36] #5031 closed

[2021-06-02 01:37] #2585 closed

[2021-06-02 12:01] luis3m commented on #5137
@adamgfraser I updated 8 branches today and I have now all PRs passing. It looks like this test isn't failing anymore. Any idea what changed?

[2021-06-02 13:22] adamgfraser commented on #5137
@luis3m I'm not sure. We definitely merged changes into the `series/2.x` branch but I can't think of any of them that would have changed this. I have also been pulling changes from `master` into `series/2.x`, but not over the last few days. So maybe we were working off a version of `master` that had this issue and it was subsequently resolved there? Let's keep watching this and make sure it doesn'

[2021-06-03 13:52] nickelsen opened #5170 "toLayer not found on parameterless case class"
Code from the [micro-site on module pattern 2.0](https://zio.dev/docs/datatypes/contextual/#module-pattern-20):

[code]

When compiling the above code on ZIO 1.0.9, the compiler says that:
[code]

It compiles if the layer is defined as follows:
[code]

[2021-06-04 15:26] adamw opened #5173 "Test with TestClock and a schedule hangs, when the repeated effect uses Thread.sleep"
This is an effect (pun intended) of debugging https://github.com/softwaremill/sttp/issues/1003. in the original test case the problematic effect that caused the schedule to hang was sending an http request using AsyncHttpClient. This interacts with the network, but who knows, maybe it even does `Thread.sleep` - I haven't debugged AHC code to find out.

In the simpler example, we're first describin

[2021-06-05 19:38] searler commented on #5027
This test is creating and destroying ~ 40_000 sockets (given the default values for the Gen and nonFlaky )!
That is a significant stress on the OS, which might explain some of the issues.

I do not see the above failures on receive; using Fedora 29 and Zulu 11 .
Only timeout failures are seen.

Your failures could occur if the OS mixes the different TCP connections; which is theoretically possible

[2021-06-05 22:52] searler commented on #5160
Using VisualVM; confirmed that server is holding references to client sockets that have been closed on the remote end

[2021-06-06 08:59] ajrnz commented on #5170
I came across the same problem but would add that it works on scala 2.13 but fails on scala 3. The above fix works though.

[2021-06-06 21:04] searler commented on #5160
The current design leaves all the connections half-open.
That is legal per the TCP/IP spec.
Apparently modern OS and network components apparently consider these a symptom of DDOS attack and preemptively terminate the connection.

[2021-06-07 14:26] markusa380 opened #5178 "TestClock hangs with background thread"
The example below is a simplification, in our real code the background worker does more important things than this of course, things that have a direct effect on the test succeeding.

[code]

We are now restructuring our tests to not require background workers anymore, but that's not the point.

The real problem is that `TestClock`, without explanation or good reason, waits that all threads in the

[2021-06-07 14:38] adamgfraser commented on #5178
@markusa380 The `TestClock` needs to wait for fibers to complete or enter a suspended state to avoid race conditions where the clock is advanced "too early" while effects that are relying on the prior state are still being executed. While theoretically it would be safe to advance the test clock if a fiber was still executing that had no effect on the test, I don't think it is possible to determine

[2021-06-07 14:44] markusa380 commented on #5178
@adamgfraser Yes that's what we concluded in our research as well.

I'd say it's equally important to make it easy to find out _which_ threads are blocking the test clock, not just the fact that they exist.
Current solution we came up with (warning: ugly):

[code]

[2021-06-07 19:47] adamgfraser commented on #5178
@markusa380 You can use `TestAspect.diagnose` for that.

[2021-06-08 03:22] reibitto opened #5181 "ZIO Test: failFast operator"
This was something I brought up on the Discord earlier but I thought I'd create an issue because it actually looks like more work than it seemed at first and I don't want it to get lost.

So the basic idea is that I'd like to fail a test early if an assertion failed. This is especially useful for costly integration tests where if step 1 failed, it doesn't make sense to run steps 2-10 and collect a

[2021-06-08 07:19] kmatasflp commented on #4601
@jxnu-liguobin are you still working on it or I can try and take a crack at it?

[2021-06-08 07:35] aartigao commented on #4395
I suspect that we are suffering the same issue here:

![image](https://user-images.githubusercontent.com/6449814/121142320-276d4e80-c83c-11eb-8415-25313f81895d.png)

Curious that we use the same JVM for our instances: OpenJDK 11. @iravid did you had a chance to talk with @jsfwa about it?

I am snapshotting heap dumps for one of our instances that will eventually degrade until being killed by the s

[2021-06-08 07:38] iravid commented on #4395
@aartigao The root cause is https://github.com/zio/zio/issues/4395

[2021-06-08 07:41] aartigao commented on #4395
Did you mean to link to another issue? 😄 Or recursive-trolling me? 😝

[2021-06-08 07:43] iravid commented on #4395
Oh sorry I thought we were in zio-kafka :-) @jsfwa proposed a fix for this, but it's a bit of a workaround and does not solve the actual underlying problem. @jdegoes was looking into this.

[2021-06-08 09:05] jxnu-liguobin commented on #4601
I have done. The problem was forgotten to close. @adamgfraser

[2021-06-08 12:59] #4601 closed

[2021-06-08 14:32] #5178 closed

[2021-06-09 03:16] searler commented on #5027
[code]

**This code assumes each chunk is written in its entirety.**

That is not necessarily true and would result in random bytes being dropped and the received data being incomplete.
That behavior matches the assertion failures noted above.

[2021-06-09 13:47] schernichkin opened #5185 "ZIO App hangs if System.exit called"
[code]

**Actual behavior**
Program hangs (can be terminated by Ctrl+C)

More specifically: shutdown hook will wait for fiber indefinitely at https://github.com/zio/zio/blob/aa598906cf1a36df3a41a03ea261546f7a4ec564/core/jvm/src/main/scala/zio/App.scala#L70

**Expected behavior**

_Either_:
- Normal termination with specified exit code.
- Abnormal termination with ZIO runtime error.
- Clear note in

[2021-06-09 15:07] markusa380 commented on #5178
@adamgfraser Is there some surefire way to have background threads that are not taken into account in `TestClock`?
We tested `.forkDaemon` but it still takes the threads into account.

[2021-06-09 15:50] adamgfraser commented on #5178
@markusa380 No. The concept of a `Supervisor` is distinct from the concept of a `Scope` that a fiber is forked in. You can imagine that if the test clock didn't want for fibers forked with `forkDaemon` we would have another issue where someone's test wasn't working because of that. We are exploring for ZIO 2.0 a concept that would allow creating regions that are "shielded" from supervision but for

[2021-06-09 19:24] markusa380 commented on #5178
@adamgfraser Thanks, that's important input for my team discussing how to adjust the tests.

[2021-06-10 12:33] vigoo opened #5187 "Mocks hide layer construction failures"
In the following example:

[code]

the failure produced by `failingLayer` is not getting reported only the failed expectations:

[code]

This can be very misleading.

[2021-06-11 08:15] #5057 closed

[2021-06-11 20:16] vigoo commented on #5187
- the non-mock layer fails with a regular ZIO failure (Fail)
- the mock finalizer fails with a defect (Die)
- then the cause in the `DefaultTestReporter` will be a `Both` of these
- and then this ignores the fail via `dieOption`:

https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/DefaultTestReporter.scala#L397-L402

[2021-06-12 08:14] paulpdaniels commented on #4886
Can we get this updated? What is remaining?

[2021-06-12 08:28] mijicd commented on #4886
I owe splitOn and splitOnChunk, @jkobejs took splitLines. I could try to update the list for others, but it's better if Itamar tackles that.

[2021-06-12 13:12] iravid commented on #4886
@paulpdaniels @mijicd I updated the list on Friday. The only thing I missed is the open PR for the remaining ZStream constructors so I'll check those off as well.

I think we basically have only the ZSink stuff left.

[2021-06-12 13:21] dkarlinsky commented on #4528
Gently pinging again @jdegoes @adamgfraser :)

[2021-06-12 14:24] adamgfraser commented on #5137
This test is flaky in the `experimental` package as well now. I think previously the test was not enabled.

[2021-06-12 14:59] #5187 closed

[2021-06-14 12:59] joroKr21 commented on #3840
We had a similar problem and it looks like there is a race condition between calling `ZIO.sleep` which registers a suspension in the `TestClock` and calling `TestClock.adjust` which runs it. If `TestClock.adjust` is called before the suspension is registered, then it runs nothing and we sleep forever.

Which begs the question about usability of `TestClock` - that's really a chicken and egg problem

[2021-06-14 13:07] adamgfraser commented on #3840
@joroKr21 I don't think that is correct. The `TestClock` contains specific logic to sure that all fibers in the test have entered a suspended state before advancing the clock. So for example this test passes consistently:

[code]

[2021-06-14 13:10] joroKr21 commented on #3840
But how do we know if there is isn't some suspension introduced by other means?

We have this test code:
[code]

Without the latch it fails, otherwise it works.

[2021-06-14 13:15] adamgfraser commented on #3840
The `TestClock` monitors all fibers forked within the test and waits for them to complete or enter a suspended state before advancing the test clock. So I'm not sure what is going on in `service.processorMetrics.metered` but if those are normal ZIO effects running on fibers then that should just work.

Notice also that you're latch doesn't actually ensure that `sleep` is called before `adjust` bec

[2021-06-14 13:32] joroKr21 commented on #3840
Yeah exactly, that's what I meant as well when I said it's not really deterministic either but it helps 🤷

I'm not sure what it means to be normal ZIO effects. To me `Suspended` sounds like it could have many causes, not just waiting for the clock. Anyway `metered` is surrounding the effect with some metrics and logs but I've minimized it to:
[code]

[2021-06-14 13:39] adamgfraser commented on #3840
So is it really about this `metered` operator?

What happens if you do this?

[code]

`Suspended` is a specific state that a fiber can have in the runtime. It indicates that the fiber is not doing anything and is waiting for some condition. You're right that it can be many things such as waiting for a `Promise` to be completed or waiting for the clock to be advanced. When all fibers are in a suspe

[2021-06-14 14:07] joroKr21 commented on #3840
It doesn't deadlock 🤷 - I couldn't create a standalone reproduction though, sorry

[2021-06-14 14:11] adamgfraser commented on #3840
Right. That is the expected behavior. The `TestClock` waits for the fibers in the test to enter a suspended state before advancing the clock. I'm not surprised since there are a ton of tests for this. So I think the question is what is going on in this `log.info` call that is throwing things off.

[2021-06-14 14:17] joroKr21 commented on #3840
I tried to create an isolated test that uses only `zio-logging` but I haven't managed yet, for now I have to move on.

[2021-06-14 14:19] adamgfraser commented on #3840
Okay. Thanks for reporting. Is `zio-logging` what you are using? Happy to take a look with you when you have more time.

[2021-06-14 15:11] joroKr21 commented on #3840
Yes, using `zio-logging`

@adamgfraser are you sure it's possible to get a consistent snapshot of the state of all fibers? That sounds like a really expensive piece of global state to keep in sync.

[2021-06-14 15:20] adamgfraser commented on #3840
@joroKr21 We don't need to look at all the fibers, only the fiber that is executing that test and any fibers that it forks. So in your test for example there are only two fibers. Definitely not something we would want to do in performance sensitive production code but not a problem in tests. This feature has been around for more than a year now and is used pretty extensively so relatively high lev

[2021-06-14 15:49] joroKr21 commented on #3840
Ah cool, so it's only synchronised per test 👍

But, from looking at the code - it seems that the logic to collect fiber state is only applied in `DefaultRunnableSpec` and `MutableRunnableSpec` but not in `RunnableSpec` (which we extend to provide an extended environment). And `TestAspect.fibers` is `private[zio]` so we need to hack around the access restriction by having a `package zio` in our own

[2021-06-14 15:53] reibitto commented on #3840
It's been a long time since I've looked at this issue. So my particular issue has to do with `effectBlockingInterrupt` and suspension (or lack of)?

I'm not sure why I made my "minimal" example more complicated than necessary. I think this would have been enough to show it:

[code]

while this works as you would expect it to:

[code]

[2021-06-14 16:13] joroKr21 commented on #3840
@reibitto it looks like your problem is different because you are using `DefaultRunnableSpec` right?

[2021-06-14 16:52] reibitto commented on #3840
Yeah, I do use `DefaultRunnableSpec`, but I'm not sure that matters?

[2021-06-14 16:53] reibitto commented on #3840
Oh, I missed your other comment. I see. These are 2 separate issues maybe.

[2021-06-15 13:22] adamgfraser commented on #3840
Yes. If the aspect is not being applied at all that would definitely explain the problem you are seeing in your test.

As far as the example where you do `Thread.sleep` I am inclined to say that is just outside the scope of what the test clock is designed to do.

[2021-06-15 19:39] tjarvstrand opened #5205 "@mockable macro picks the wrong class when there is a package-local one"
Hi!

I seem to have hit an issue with the code generation for @mockable.

In my tests I mock a database call which returns a `model.Activity` but because there is also a `Activity`-class in the `graphql`-package, where the tests and the mock are located, the code generation seems to pick this up instead. This means the API represented by the mock is incorrectly defined to return a `graphql.Activit

[2021-06-15 21:33] tjarvstrand opened #5206 "Unused parameter in generated code from @mockable"
Hi, when using `@mockable` for one of my services I get the following warning:

[code]

I have fatal-warnings enabled and I'm not really sure how to work around this. Tried adding `"-Wconf:src=.*/<macro>:silent"` (with and without escaping `<` and `>`) but no luck.

EDIT: I have `"-Wmacros:after"` enabled because otherwise I get errors for unused implicit arguments on `izumi.reflect.Tag`

[2021-06-16 06:52] hmemcpy opened #5207 "Rename `.bimap` to `.mapBoth`"
My IntelliJ plugin detects a chain of `.map/.mapError` (and similar) and offers to refactor to `.bimap` instead. However, with fresh eyes, it seems less elegant to me than the explicit mapping.

What if we renamed `.bimap` to `.mapBoth` to make it more consistent with ZIO's naming (as well as being similar to `.tapBoth`)? Might be a better name for the intended functionality.

[2021-06-16 12:35] #5207 closed

[2021-06-18 06:52] kmatasflp commented on #4886
To familiarize myself with the code base can I take `gunzip` or @iravid there is a better one you recommend me to get started with?

[2021-06-18 11:01] tjarvstrand opened #5217 "@mockable doesn't handle default arguments"
[code]

[2021-06-18 15:03] marcsaegesser commented on #4809
Any update on this? I ran into the `statically known to be contained within the environment are missing` problem when I added a new module to my application. I originally thought my new module was bad, but I found that adding _any_ module to my environment , even just Console.live`, caused the error. And then removing _any_ module from the environment caused the problem to go away.

I was able to

[2021-06-18 22:38] jdegoes opened #5221 "ZIO 2.0 Name Changes"
We should rename the old methods to the new names, but also, create the old methods that forward to the new methods, and use the `@deprecated` annotation, marking 2.0.0 as the deprecation version.

 - `ZIO.effect` => `ZIO.attempt`
 - `ZIO.effectTotal` => `ZIO.succeed`
 - `ZIO.effectSuspend` => `ZIO.suspend`
 - `ZIO.effectSuspendTotal` => `ZIO.suspendSucceed`
 - `ZIO.effectSuspendWith` => `ZIO.susp

[2021-06-18 22:40] adamgfraser commented on #5221
I will do this.

[2021-06-19 02:02] jdegoes commented on #5221
Awesome, thank you! There will be variations of some of these methods (e.g. ZIO#run).

[2021-06-19 02:02] jdegoes commented on #5221
For posterity, @kitlangton also suggested `ZManaged` => `ZResource` (with pros & cons).

[2021-06-19 02:19] kitlangton commented on #5221
Also, possibly:

`environment`
`access` -> `environmentWith`
`accessM` -> `environmentWithM`

to be in line with

`service`
`serviceWith` (Though there is no `serviceWithM` variant, to encourage the recommended module pattern. `serviceWith` expects a ZIO to be returned)

[2021-06-19 21:02] jdegoes opened #5224 "ZIO 2.0 Forwarders"
It would be nice to have forwarders for common functionality, like we do for `ZIO.sleep`.

 - `ZIO.succeedBlocking`
 - `ZIO.attemptBlocking`

[2021-06-19 21:18] adamgfraser commented on #5224
Will add.

[2021-06-19 21:26] jdegoes opened #5225 "ZIO 2.0 - Improve compositionality of blocking interrupt"
Currently, we have variations of effect blocking, one which will not attempt to translate ZIO interruption into thread interruption, and one which will translate ZIO interruption into thread interruption.

Rather than having two separate versions, we can instead improve the compositionality of a single version, by making it aware of the regional interruption status.

The goal is to make this code

[2021-06-19 21:39] jdegoes commented on #5185
Hmm. To fix this, we need some way to detect that the user has called `System.exit` from the main fiber.

If a security manager can be installed, that can be used to detect a `System.exit` call, I believe:

<https://docs.oracle.com/javase/7/docs/api/java/lang/System.html#setSecurityManager(java.lang.SecurityManager)>

Maybe there are other ways.

[2021-06-20 05:40] iravid commented on #5185
The security manager is slated for removal: https://openjdk.java.net/jeps/411

Maybe we could instead add a method to our zio.system.System service for abruptly shutting down a ZIO-based app that would bypass the shutdown hook?

[2021-06-20 06:41] adamgfraser opened #5227 "Flaky Mockable Spec"
@vigoo Can you take a look at this?

[code]

[2021-06-20 07:01] adamgfraser commented on #5225
Are we going to have an issue with punching a whole in uninterruptible regions if we use `interruptible` like this?

[2021-06-20 19:06] vigoo commented on #5227
Yes I will fix it soon

[2021-06-21 04:27] jdegoes commented on #5225
@adamgfraser You're right. Will close. Guess we're stuck with multiple variations for now.

[2021-06-21 04:27] #5225 closed

[2021-06-21 04:45] adamgfraser commented on #5227
Thank you! 🙏

[2021-06-21 14:31] #5227 closed

[2021-06-24 13:58] #5221 closed

[2021-06-24 13:58] adamgfraser commented on #5221
Closed by #5229.

[2021-06-24 13:59] adamgfraser commented on #5224
Closed by #5229.

[2021-06-24 13:59] #5224 closed

[2021-06-24 21:13] jdegoes opened #5240 "ZIO 2.0: Move blocking thread pool to Platform"
In keeping with the theme that ZIO hides no details, we should ensure the blocking thread pool is part of `Platform` so that, if need be, the user can override it with a blocking thread pool of their choice.

[2021-06-24 21:43] jdegoes opened #5241 "ZIO 2.0: Smart constructors"
Every data type in ZIO (ZIO, ZManaged, ZStream, etc.) has a variety of constructor functions that are designed to "up convert" some weaker type into the target type. Typically, these converter functions are named `fromXYZ`, e.g. `ZIO.fromEither`, `ZStream.fromZIO`, etc.

While these are precise, it could be useful to specially designate the `XYZ.apply` method of the companion object as a "smart co

[2021-06-24 22:43] adamgfraser commented on #5240
I will do this.

[2021-06-24 22:44] adamgfraser commented on #5241
I will work on this.

[2021-06-24 22:48] jdegoes commented on #5241
@adamgfraser Awesome. Could be a big win especially for new users, as well as improve readability of dense "interop" code.

I couldn't make `Function` work, maybe something stupid (or possibly related to bugs around the contravariance of the `A` in Function).

[2021-06-24 22:49] jdegoes commented on #5241
/cc @kitlangton (we talked about doing this for the first time with `ZLayer`)

[2021-06-24 22:56] adamgfraser commented on #5241
Yes the other way we could do this is to provide `toZYZ` operators on everything. That might infer better in some cases.

[2021-06-24 23:01] jdegoes commented on #5241
Unfortunately, you need implicits and therefore implicit imports (also the syntax is not as nice).

[2021-06-24 23:02] adamgfraser commented on #5241
Agreed.

[2021-06-24 23:40] adamgfraser commented on #5241
Yes I think the issue with `Function` is caused by the contravariance on `Input`. If I make that `Invariant` the example works. That creates a little bit of an issue because it should naturally be contravariant and not having the variance requires us to define separate instances for types like `Left` and `Right` but I think that is potentially solvable without visibility to the user.

[2021-06-25 00:28] roald-di opened #5244 "assertTrue for scala 3 doesn't support package qualified identifiers"
An assertion like

[code]

is translated into invalid code that looks basically like this:

[code]

the scalajs version fails to compile with
`java.lang.AssertionError: assertion failed: Cannot use package as value: Select(This(Ident(<root>)),zio)`

while the jvm version fails at runtime with
`java.lang.NoClassDefFoundError: zio`

the test that contains the assertion is currently green on the jvm

[2021-06-25 00:44] jdegoes commented on #5241
Yes, since the number of data types is small and finite, it's probably OK for us to "emulate" what the contravariance buys us.

[2021-06-25 01:09] adamgfraser commented on #5241
Did you look at overloading plus extension methods for the lower priority constructors? Seems like that would be the other way to do this.

[2021-06-25 02:43] jdegoes commented on #5241
I don't think overloading and implicits will work together (I've tried that
before).

On Thu, Jun 24, 2021 at 9:09 PM Adam Fraser ***@***.***>
wrote:

[2021-06-25 05:18] joroKr21 commented on #5241
I like it. You can make `ZIOConstructor` invariant if you use it like this:
[code]

But you still have to provide the function parameter type explicitly.
And I think @adamgfraser meant using overloading without implicits:

[code]

It should work fairly well from Scala 2.13 onwards because overloading was improved to support the new collections design and even infer function parameter types.

[2021-06-25 10:51] SirStoke commented on #4777
I don't know if this is useful to anyone, but I hit the same error and googling brought me here

Taking a look at the [repro](https://github.com/hossameldeen/zlayer-managed-early-released-reproduction/blob/master/src/main/scala/Main.scala) I think the reason `failsWithZLayer` fails is that `provideLayer` (correctly) disposes of the `Managed` after the execution:

[code]

This works:

[code]

[2021-06-25 21:22] #5244 closed

[2021-06-28 13:03] #5132 closed

[2021-06-28 16:43] #5152 closed

[2021-06-28 17:56] vigoo opened #5254 "Clock schedule fails with MatchError for very large durations"
For example with
`PT450902870H7M1.258409S`

The `Duration.Finite.unapply` extractor called from `schedule` fails because `toNanos` does not fit into `Long`

[2021-06-28 19:07] #5254 closed

[2021-06-29 06:47] #3635 closed

[2021-06-29 11:28] jupposessho commented on #4886
Taking collectAllWhileWith

[2021-06-29 11:56] runtologist commented on #4886
Taking `*decode`

[2021-06-29 14:33] jdegoes opened #5261 "ZIO 2.0: By-name parameter check"
This ticket is to review all parameters for all methods that return a ZIO effect, and ensure they are by-name; and to, if a by-name parameter is referenced more than once, to put it into a local `lazy val` to ensure it is not evaluated more than once.

This will improve the ability of ZIO to deal with "accidentally embedded side-effects", which are quite common in practice.

[2021-06-29 14:37] adamgfraser commented on #5261
I will do this.

[2021-06-29 16:01] jdegoes commented on #5261
Thank you! 🙏

[2021-06-29 16:40] heaven-born opened #5264 "ZManaged.race combinator is missing"
`ZManaged.race` combinator is missing. It would be also nice to have something like `raceLeft` and `raceRight` on both ZIO an ZManaged. It is useful when I have two effects that depend on each other by means of shared `Ref`, and I want to get result only from one of them, because the other one only produces value to shared `Ref`, but doesn't return anything useful.

[2021-06-29 17:00] adamgfraser commented on #5264
I'm not sure `race` is particularly meaningful to `ZManaged` because `race` implies that we will return the winner immediately and safely interrupt the loser, but in most cases the acquisition of a resource is uninterruptible so this just means we will wait for both resources to be acquired even if one resource is acquired first and then return one resource and finalize the other. Of course this c

[2021-06-29 17:11] heaven-born commented on #5264
I think `race` on `ZManaged` might be useful on "fake" `ZManaged` (.toManaged_). One `ZManaged` in for comprehension might force to convert there rest of the `ZIO` to `ZManaged`.

[2021-06-30 02:03] jdegoes opened #5267 "ZIO 2.0: Composable zips"
The goal of this ticket is to ensure that when zipping together different effects:

1. Tuples are not nested.
2. Units do not contribute to output.

For example:

[code]

[2021-06-30 02:04] adamgfraser commented on #5267
Will do.

[2021-06-30 04:17] heaven-born commented on #5267
probably item 2  can be done for `race` as well. Instead  of `raceLeft/Right` as I proposed in #5264

[2021-06-30 05:45] #5240 closed

[2021-06-30 12:25] jupposessho commented on #4886
Taking collectAllWhileWith

[2021-06-30 15:12] kmatasflp commented on #4886
Taking `filterInput/M`

[2021-06-30 15:27] jupposessho commented on #4886
Taking untilOutputZIO

[2021-06-30 15:33] kmatasflp commented on #4886
@jupposessho is `untilOutputZIO` you are taking similar to https://github.com/zio/zio/pull/5063 ?

[2021-06-30 15:35] jupposessho commented on #4886
yes, it's the new name of the deprecated method made me confused :)

[2021-06-30 22:26] evazamtz commented on #4809
Thanks for the workaround tip. Got the same problem on ZIO 1.0.9 and scala 3.0.0 after adding the 5th layer.

[2021-07-01 06:51] darl opened #5270 "Smart Assertions doesn't work with isInstanceOf"
[code]

https://scastie.scala-lang.org/QXWZvjH2RnCPQzBA1vw0gg

[2021-07-01 12:33] #4725 closed

[2021-07-06 05:43] #5267 closed

[2021-07-06 09:29] atamurius commented on #2415
Wouldn't `mapAccum + unNone` loose last group as there would be no element for last `case` branch?

[2021-07-07 13:36] poslegm opened #5285 "[zio-test] Inconsistent behaviour of checkM and after/before aspects"
`after`/`before` aspects doesn't evaluate on `checkM` iterations.

Example:

[code]

Output:
[code]

Is there a possibility to run `after`/`before` aspect action on **every** `checkM` iteration?

[2021-07-07 13:56] poslegm commented on #5285
Related: https://github.com/zio/zio/issues/4007

[2021-07-09 02:02] kitlangton commented on #5270
I'll take this :)

[2021-07-09 13:31] remiguittaut opened #5288 "Adding serviceWithManaged to ZManaged contructors"
`ZIO` and `ZManaged` companion objects have very convenient constructors `serviceWith` which more or less replace the previous `accessM` to account for the new module recommendation, i.e. dropping the type aliases `type ServiceName = Has[ServiceName.Service]` and using a more flattened convention.

`serviceWith` allows to access the service from the environment to execute an effectual service memb

[2021-07-09 13:41] adamgfraser commented on #5288
Agree this makes sense.

[2021-07-10 02:35] #5270 closed

[2021-07-10 02:46] #5288 closed

[2021-07-14 01:02] andrewhamon opened #5305 "Should ZIO.runtime be deprecated in favor of ZManaged.runtime?"
So I recently learned that `ZIO.runtime` has some sharp edges. Take the following contrived example:

[code]

The console output is as follows:

[code]

Which is bad.

The solution, of course, is `ZManaged.runtime`:

[code]

Which acquires/releases things in the expected order:

[code]

So, I'm starting to wonder, why not always use `ZManaged.runtime` instead of `ZIO.runtime`? Would it make sense

[2021-07-14 01:37] adamgfraser commented on #5305
@andrewhamon Thanks for raising!

I think the use case for `ZIO.runtime` is actually pretty common.  In many mixed applications you need to create a `Runtime` to unsafely run effects and often the `Runtime` does not have any environmental requirements or only requires the `ZEnv` so there is no `acquire` or `release` action involved and so limiting access to the `Runtime` to being within the contex

[2021-07-14 07:12] andrewhamon commented on #5305
Yeah, to be fair, I didn't actually bump into this issue naturally, I just discovered it as I was digging deeper/trying to increase my own understanding of how ZIO works in mixed applications.

Specifically, I was trying to determine if `ZIO.runtime` behaves at all like `Runtime.unsafeFromLayer`. It does not. The latter acquires any resources and keeps that acquisition until the JVM shuts down.

S

[2021-07-14 07:24] adamgfraser commented on #5305
Awesome that you have been digging into things!

Where you provide a layer can indeed be quite important but I don't think that is really related to the `runtime` operator. Any time you have an application the user can call `provideLayer` on any effect that is composed into the application. And that will very often have quite different semantics. Consider `ZIO.foreach(as)(f).provideLayer(layer)` v

[2021-07-14 23:44] andrewhamon commented on #5305
The examples you gave don't lead to accessing a resource that has been released, though. Sure, it might be bad to acquire/release a resource in a loop, but that's a whole different class of error than accessing a resource that has been released.

I think `ZIO.service[A].provideLayer(a)` would lead to this exact same class of error as well. But that seems even more contrived than providing a layer

[2021-07-15 01:25] adamgfraser commented on #5305
I think you are right to focus on the concept of using a resource outside of its scope. Calling `provideLayer` on a `ZLayer`, like calling `use` on a `ZManaged`, defines a scope and it is not valid to use, directly or indirectly, a resource outside its scope. But we don't have the ability to enforce at the type level that a resource is not used outside its scope so the user can potentially leak a

[2021-07-17 21:02] andrewhamon commented on #5305
It can't be solved with the type system, but which of these do you think is easier to catch in code review?

[code]

vs

[code]

The latter seems much easier to slip through unnoticed, IMO, whereas the former is more obviously wrong. So obvious that I doubt it would even get written and make it to code review, perhaps.

Anyways, I'm splitting hairs here. Thanks for the discussion though! Now I kno

[2021-07-17 21:02] #5305 closed

[2021-07-19 13:55] adamgfraser commented on #5285
@poslegm Supporting this behavior with test aspects would be a significant change. Property based tests create a single "test" that can be modified by test aspects. Iterations of a property based test are not themselves tests. For example, what would it mean to apply a label with `tag` to an iteration of a property based test?)

For the specific case of using resources within an iteration of a pro

[2021-07-19 23:07] jdegoes commented on #5285
@adamgfraser What if we expanded a `check` into a dynamic suite with `N` tests inside them?

The reason why I am thinking about this:

1. A property test is like a lot of little unit tests all strung together. It's a useful mental model, anyway.
2. If the individual tests are separate initially, you could imagine a `ZSpec#consolidate` operator that would consolidate all tests into a single test. H

[2021-07-19 23:13] adamgfraser commented on #5285
@jdegoes Yes, I was thinking about that as well. It definitely fits in with the ongoing work we are doing on binary composition of tests. I think what that suggests is a model where individual "test" failures aren't reported separately but instead are rolled up to the first level of "labeling". So then you could think of a property based tests as a (dynamically generated) collection of tests with

[2021-07-20 13:05] adamgfraser commented on #5285
The other issue here is that this would be a significant breaking change. Currently if you do `provideLayer` or  `around` it will provide the layer to or perform the effect around the whole property based test, which makes sense with the conceptualization of a property based test as a "single test".  With this change those operators would do the same thing for each iteration of the property based

[2021-07-21 03:15] #5092 closed

[2021-07-25 18:36] searler commented on #5160
See [zio-tcp](https://github.com/searler/zio-tcp) which resolves this issue

[2021-07-25 18:36] #5160 closed

[2021-07-25 18:36] searler commented on #5163
See [zio-tcp](https://github.com/searler/zio-tcp) which resolves this issue

[2021-07-25 18:36] #5163 closed

[2021-07-26 18:42] jbenoit2011 commented on #2547
Don't know if that's related but I also noticed a weird behavior of `mapMParUnordered`, during test writing I noticed that the output of stream using `mapMParUnordered` is different according to its position in test suite.

For example, in [this suite](https://scastie.scala-lang.org/Mz55E2v6QpC8jgByzKy7QQ) the 2nd test will fail (only on initial build in Scastie but on my computer it fails every t

[2021-07-26 21:45] adamgfraser commented on #2547
I see the problem. Working on a fix.

[2021-07-27 03:05] adamgfraser commented on #5285
Going to close this as while the idea of expanding property based tests into a suite of tests is interesting there are significant differences that justify modeling them as separate data types. For example individual iterations of a property based test are not rendered and a timeout would normally be expected to apply to an entire property based test and not each iteration. Thanks for raising thou

[2021-07-27 03:05] #5285 closed

[2021-07-27 04:22] ajaychandran opened #5326 "Incorrect return type of release action in ZManaged constructor"
The return type of the `release` action should be `Any`.

[code]

[2021-07-27 04:35] adamgfraser commented on #5326
@ajaychandran You are correct! Just submitted a PR to fix.

[2021-07-27 06:18] adamgfraser commented on #2547
Submitted #5325 to resolve this.

[2021-07-27 08:58] #5326 closed

[2021-07-27 13:39] #2547 closed

[2021-07-27 18:59] adamgfraser commented on #5241
Closed by #5246.

[2021-07-27 18:59] #5241 closed

[2021-07-28 11:43] jbenoit2011 commented on #2547
Thanks @adamgfraser, it solved the issue on my side.

[2021-07-28 11:43] adamgfraser commented on #2547
@jbenoit2011 Awesome!

[2021-07-28 12:21] jdegoes opened #5337 "ZIO 2.0: Make Schedule serializable"
The current encoding of Schedule makes state implicit, which cleans up the implementation for operators and constructors, but means there is not a clear path to making schedule state serializable.

By reverting to a more "unfold" like definition, e.g.:

[code]

We make it possible to think about serialization. Now, updating the logic for all the schedule operators and constructors is not trivial,

[2021-07-28 12:24] adamgfraser commented on #5337
I will do this.

[2021-07-28 12:35] iravid commented on #5337
😂 we've come a full circle

[2021-07-28 12:57] #4555 closed

[2021-07-28 13:16] jdegoes commented on #5337
@iravid Sort of. The other one was the worst of both worlds (explicit state but no way to save / restore it, also a significantly complicated / irregular encoding with effectful first state).

[2021-07-28 23:13] jdegoes opened #5339 "ZIO 2.0: Add ZLayer#flatMap"
Mainly so people can choose what layer to make based on data read from configuration.

[2021-07-29 00:48] adamgfraser commented on #5339
Will add.

[2021-07-29 00:50] adamgfraser commented on #5339
You don't think this can be addressed by having layers accept configuration data as an input type?

[2021-07-29 00:51] jdegoes commented on #5339
They want to branch on the configuration data, even if it's ready from a layer.

We can already do flat map without changing ZLayer constructors (of course, the inner part becomes opaque from a graph analysis POV).

[2021-07-29 00:53] adamgfraser commented on #5339
Yes agree it is not a problem from an implementation standpoint. Could potentially address through more of a arrow choice concept but that is not as dynamic and admittedly we have not done a whole lot with the ability to statically analyze the graph.

[2021-07-29 01:09] jdegoes commented on #5339
A less powerful version would be `Map[A, ZLayer[B]]`, which is a "switch" statement that tests for equality. It allows analysis but only finite enumerated choices. It would probably be sufficient but at the same time `for` comprehensions would be easier to use and we aren't yet doing any static analysis (plus you can already do flatMap yourself if you want).

[2021-07-29 01:09] adamgfraser commented on #5339
Yeah I think we just do it.

[2021-07-29 11:17] notxcain opened #5342 "ZIO 2.0: ClockLive (and others) should not be private[zio]"
Sometimes (in legacy apps) it's handy to be able to access instances without dealing with `ZLayer`.

[2021-07-29 12:08] adamgfraser commented on #5342
@notxcain Hi! Thanks for raising! These actually already available as `Clock.Service.live`. There is also `ZEnv.Services.live` for accessing all of the services in the default environment outside the context of a layer.

[2021-07-29 12:14] adamgfraser commented on #5342
Ah I see you changed the title to be about the `series/2.x` branch. Yes I think those variants got removed in the refactoring to remove the additional package objects for each of the services. Will add those back. For now you can use `ZEnv.Services.live`.

[2021-07-30 06:11] notxcain commented on #5342
@adamgfraser thank you!

[2021-07-30 10:58] domdorn opened #5345 "ZIO 2.0: add .toManaged_ as deprecated method"
I'm just trying to migrating a small project from 1.0.9 to 2.0.0-M1. While most methods that need changing are deprecated and have a corresponding message on what to do, the `.toManaged_` got removed without a proper message leading to compile errors. I think it might be a better user experience if we'd keep that one with a proper message at least for a few minor versions so people's code still co

[2021-07-30 11:50] domdorn commented on #5103
in 1.0.10 its deprecated on `ZIO` with a note that it should be replaced with `.mapBoth`

[2021-07-30 12:22] adamgfraser commented on #5345
Yeah I think the issue there is we can't do one for `toManaged` because we are both deprecating the old one and adding a new one but can do for `toManaged_`.

[2021-07-30 13:06] adamgfraser commented on #5103
@domdorn I believe @regiskuckaertz was asking about `dimap` not `bimap`.

[2021-07-30 13:38] pshirshov commented on #1236
I'm wondering if there was any update on that. It's a very useful thing :)

[2021-07-30 13:41] jdegoes commented on #1236
I will do this.

[2021-07-30 13:48] adamgfraser commented on #1236
One thing that I've run into a couple of times is the need for a resource manager where you can look up a resource and create it if it doesn't exist. I think maybe that is a different concept than this because it implies a concept of shared resources versus this implies exclusive access to multiple resources. Could be a generalization of the `MemoMap`.

[2021-07-30 13:50] jdegoes commented on #1236
A `Pool` can be generalized for mutually exclusive and shared resources, although "lookup" seems to imply key which seems to imply more cache than pool? I suppose one could generalize a pool further by keying the resource, maybe with a default for the case the key is `Any`.

[2021-07-30 13:52] adamgfraser commented on #1236
Yes, basically a cache where the lookup effect is resourceful and its finalizer needs to be safely added to the outer scope of the cache so maybe it is something different.

[2021-07-30 13:54] domdorn commented on #5103
doh, sorry my fault!

[2021-07-30 14:04] adamgfraser commented on #1236
Maybe we could just have an operator on `ZManaged` that does this:

[code]

[2021-07-30 15:03] jdegoes commented on #1236
I like that.

[2021-07-30 15:08] adamgfraser commented on #1236
Will add.

[2021-08-04 13:34] erdeszt opened #5353 "Illegall reflective access in jvm/PlatformSpecific"
I get a warning from a zio app about illegal reflective access:
[code]
It's happening here: https://github.com/zio/zio/blob/d79dcfcec4e0af21a3f21aad32be0995e5972a06/core/jvm/src/main/scala/zio/internal/PlatformSpecific.scala#L155

[Oracle recommends](https://docs.oracle.com/javase/9/migrate/toc.htm#JSMIG-GUID-7BB28E4D-99B3-4078-BDC4-FC24180CE82B) that I contact the library authors when I run into

[2021-08-05 12:38] adamgfraser commented on #5353
@erdeszt Thank you! Will take a look!

[2021-08-05 19:11] #4739 closed

[2021-08-07 04:32] ashwinbhaskar opened #5359 "Error: statically known to be contained within the environment are missing"
Scala version: 3.0.0
ZIO Version: 1.0.10
Sttp Version: 3.3.12

To reproduce the error:

1. Clone https://github.com/ashwinbhaskar/zio-slack-3.0-test (it's a very small project)
2. Run `sbt run`

A part of the stack trace of the error
[code]

Note: The repository has unmanaged dependencies. They come from this PR https://github.com/Dapperware/zio-slack/pull/174

[2021-08-09 12:39] #5353 closed

[2021-08-12 02:14] vigneshwaranr opened #5382 "We need a zio.Zunit - a strong alternative to Unit"
Something like [akka.Done](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/Done.scala)

We have been bitten by Scala's _Unit_ several times. Because it matches everything, we lose the type-safety and make several mistakes..

Like accidentally creating a _Future_ inside existing _Future_.. If the type was _Future[Boolean]_ it would throw compilation error cos we got _Future[

[2021-08-12 03:16] adamgfraser commented on #5382
Very interesting.

There are two sides to this.

As you say, one issue with `Unit` is that you don't get a compilation error if you accidentally throw away a value.

On the other hand a second issue is that sometimes you need to do unnecessary work just to fit the type signature. For example, consider this operator:

[code]

Notice here that depending on my compiler settings I may have to do an ad

[2021-08-16 07:35] jypma commented on #2415
I'd be very interested in a more general equivalent to akka's `SubFlow` type (what `splitWhen`) returns.

Not sure if an actual `SubZStream` would be necessary on ZIO. Perhaps a signature like
[code]
could just work, by having something keep track of which sub-stream is currently pulling, closing and opening sub-stream elements as the predicate is hit...

One could then build the above accumulatin

[2021-08-17 06:33] #5342 closed

[2021-08-17 06:33] #5339 closed

[2021-08-17 06:33] #5337 closed

[2021-08-17 06:33] #5345 closed

[2021-08-18 18:21] nbenns opened #5421 "Has ++ fails in Scala 3 in a method when inside a container and there is no implicit param of Tag[Has[B]]"
In Scala `2.13.6` this code will run fine:

[code]

If you switch the version of Scala to either `3.0.0` or `3.0.1` then it will compile fine, however it will fail with:
[code]

Changing the combine method:
[code]

Outputs: `Tag[Has[=_$B|<Nothing..Any>]]`
Showing that an Invalid Tag is being picked up.

Altering the method to:
[code]
Shows the tag is now correct and the method works fine:
[code]

[2021-08-18 18:44] adamgfraser commented on #5421
Copying @neko-kai and @pshirshov.

[2021-08-18 18:55] nbenns commented on #5421
Note I realized you don't need to wrap in the ZIO effect, it still fails as:
[code]

[2021-08-18 20:09] neko-kai commented on #5421
@nbenns

This specific part is not implemented for Scala 3 yet. See https://github.com/zio/izumi-reflect/issues/103

Arguably we should error at compile time, rather than generate a broken tag, however we currently specifically allow this through to allow signatures in `zio-mock` to compile (they otherwise require to implement tag combining for Scala 3 to work properly) [[1]](https://github.com/zi

[2021-08-20 10:04] ashwinbhaskar commented on #5359
Tried this with the latest snapshot of ZIO `1.0.10+57-0441752a-SNAPSHOT`. The issue still persists.

[2021-08-21 09:54] paulpdaniels commented on #4886
Taking `zipWithPar`

[2021-08-21 13:37] christian-schlichtherle opened #5439 "Error handling regression in ZIO 1.0.11"
Hello,

first of all, thanks for this fantastic library. We have shortly migrated our code base from Cats Effect, FS2 Streams and Monix to ZIO and ZIO Streams and it's been an excellent experience so far - please keep up the good work!

The appended code and test work fine with ZIO 1.0.10 on Scala 2.13.6, but unfortunately the test code fails with ZIO 1.0.11. Now we get the error message:

[code]

[2021-08-21 13:47] adamgfraser commented on #5439
@christian-schlichtherle Thanks for reporting! Will take a look!

[2021-08-21 14:17] adamgfraser commented on #5439
@christian-schlichtherle This is related to #5364. Prior to `1.0.11` when we squashed a `Cause` down to a `Throwable` we added the `Cause` as the cause of the underlying root throwable.

So in your example above you have errors being thrown from three places (you are throwing `NullPointerException` and `IllegalStateException` and `AssertionError`), `AssertionError` was the "root error", you manual

[2021-08-21 14:37] christian-schlichtherle commented on #5439
Thank you so much for the quick help! I can confirm everything works if I change my expectation to:

    Array(_: NullPointerException, _: IllegalStateException, _: Throwable)

Unfortunately, `zio.Cause.FiberTrace` is private so I can only match a `Throwable`, but that's OK.

Thanks again, I'm closing this issue.

BTW: If you would be interested to add something like `Command` to ZIO, let me know.

[2021-08-21 14:37] #5439 closed

[2021-08-21 14:41] adamgfraser commented on #5439
No problem! It looks like the saga pattern if I am understanding it correctly. Have you looked at [zio-saga](https://github.com/VladKopanev/zio-saga)?

[2021-08-21 14:44] christian-schlichtherle commented on #5439
Oh, cool, somebody had the same idea. ;-) Thank again!

[2021-08-21 14:47] adamgfraser commented on #5439
Definitely! Maybe you can join forces. 😃

[2021-08-21 16:37] regiskuckaertz opened #5440 "Use javascript weak references"
There's very good all around support for:

- [`WeakRef`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakRef), javascript's weak references and
- [`FinalizationRegistry`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/FinalizationRegistry), javascript's GC hook

... with which we can write JS-specific `WeakHashMap` and `WeakSet

[2021-08-21 17:13] jdegoes opened #5441 "ZIO 2.0: Use consistent naming convention in Gen.*"
Currently we have a mix of naming conventions for Gen constructors in the Gen companion object, e.g. `option` versus `anyInt`. I feel we should standardize on the shorter naming convention (because if you standardize on the longer one, every method name ends up prefixed with `any`.

[2021-08-21 17:15] adamgfraser commented on #5441
The issue here is that we do have `int` to return random integers within a specified range. Maybe we can rename those variants to something like `intBounded`?

[2021-08-21 17:17] jdegoes commented on #5441
How about `val int` versus `def int(...)`?

[2021-08-21 17:18] adamgfraser commented on #5441
Just overload it?

[2021-08-21 17:18] jdegoes commented on #5441
Yes, just overload it (I don't think Scala has problems with this). If this isn't an option, then I would agree `intBounded` or `intRanged` (suffix-style) is better / more IDE friendly, and more consistent with ZIO.

[2021-08-21 17:26] adamgfraser commented on #5441
Yeah I think that works. If we did want to give it a separate name `intBetween` might be more consistent with our existing naming of the operators on `Random`.

[2021-08-21 17:28] jdegoes commented on #5441
Either way is good by me. 👍

[2021-08-21 17:45] regiskuckaertz commented on #5440
Actually there is a [`FinalizationRegistry`](https://github.com/scala-js/scala-js/blob/master/library/src/main/scala/scala/scalajs/js/FinalizationRegistry.scala) too

[2021-08-22 20:59] #122 closed

[2021-08-22 21:00] adamgfraser commented on #190
Going to close this for now as I think given the difference in semantics between strict and lazy evaluation this would be difficult to do in a value preserving way and the cost benefit ratio to implement is likely not there.

[2021-08-22 21:00] #190 closed

[2021-08-22 21:00] #291 closed

[2021-08-22 21:01] #305 closed

[2021-08-22 21:02] adamgfraser commented on #350
I think we said these could live in `zio-concurrent` now.

[2021-08-22 21:02] #350 closed

[2021-08-22 21:03] #412 closed

[2021-08-22 21:05] kitlangton commented on #417
I think this is being addressed by @khajavi's work

[2021-08-22 21:05] #417 closed

[2021-08-22 21:05] adamgfraser commented on #413
I think the Scaladoc can always be improved but it has been built out quite substantially and at this point this issue does not feel very actionable so am going to close for now. Anyone should feel free to open more specific issues with particular areas where they would like to see more documentation.

[2021-08-22 21:05] #413 closed

[2021-08-22 21:05] adamgfraser commented on #418
Closing as this was in preparation for 1.0 release.

[2021-08-22 21:05] #418 closed

[2021-08-22 21:05] kitlangton commented on #427
I think this has been addressed

[2021-08-22 21:05] #427 closed

[2021-08-22 21:05] #431 closed

[2021-08-22 21:06] #559 closed

[2021-08-22 21:06] #573 closed

[2021-08-22 21:07] adamgfraser commented on #639
Closing as we support this now.

[2021-08-22 21:08] adamgfraser commented on #730
I think at this point we are keeping versioning consistent for ZIO Core, ZIO Stream, and ZIO Test and the rest of the ecosystem can evolve independently so I don't think there is an actionable to do here.

[2021-08-22 21:08] #730 closed

[2021-08-22 21:08] kitlangton commented on #768
Pretty sure this has been addressed

[2021-08-22 21:08] #768 closed

[2021-08-22 21:08] adamgfraser commented on #811
I believe this is solved by the fiber supervision model.

[2021-08-22 21:08] #811 closed

[2021-08-22 21:09] kitlangton commented on #908
Addressed by new docs

[2021-08-22 21:09] #908 closed

[2021-08-22 21:09] adamgfraser commented on #819
@politrons Going to close for now given the age of this issue but if something is still not working please feel free to reopen and we will look into it.

[2021-08-22 21:09] #819 closed

[2021-08-22 21:11] adamgfraser commented on #945
Going to close as I believe we have the interop working as well as it can given the differences between the effect systems at this point.

[2021-08-22 21:11] #945 closed

[2021-08-22 21:12] adamgfraser commented on #950
Going to close this as I believe the original behavior is a logical consequence of the interruption model and users can obtain desired behavior through a variety of operators.

[2021-08-22 21:12] #950 closed

[2021-08-22 21:13] kitlangton commented on #965
Great idea! However, I don't believe this is necessarily an issue with ZIO itself 😄

[2021-08-22 21:13] #965 closed

[2021-08-22 21:14] adamgfraser commented on #1022
This was fixed by migration to ZIO Test and at this point we are running all tests on Scala 3.

[2021-08-22 21:14] #1022 closed

[2021-08-22 21:16] adamgfraser commented on #1097
I think most of this has been addressed by the work of @khajavi. We can open specific issues for more targeted improvements we want to make.

[2021-08-22 21:16] #1097 closed

[2021-08-22 21:18] kitlangton commented on #1193
While this doesn't fully match `ghci`'s behavior, `.unsafeRun` is added implicitly to all effects within a ZIO repo session:
[code]

[2021-08-22 21:18] #1193 closed

[2021-08-22 21:18] #1219 closed

[2021-08-22 21:21] adamgfraser commented on #1284
We added an examples project so going to close this.

[2021-08-22 21:21] #1284 closed

[2021-08-22 21:22] adamgfraser commented on #1298
I think this has been addressed by some of the improvements made to the contributors guide by @saraiva132 and others.

[2021-08-22 21:22] #1298 closed

[2021-08-22 21:24] adamgfraser commented on #1600
Going to close this as I think it is addressed by the existing tools we have built out for controlling use the live versus test environment.

[2021-08-22 21:24] #1600 closed

[2021-08-22 21:26] adamgfraser commented on #1827
I think the ship has sailed on this one.

[2021-08-22 21:26] #1827 closed

[2021-08-22 21:26] kitlangton commented on #1648
Looks like these got added :)

[2021-08-22 21:26] #1648 closed

[2021-08-22 21:27] adamgfraser commented on #1807
This is quite old and I have not observed any flakiness in this test so going to close.

[2021-08-22 21:27] #1807 closed

[2021-08-22 21:28] #1710 closed

[2021-08-22 21:29] adamgfraser commented on #2119
I think this is covered by the work of @khajavi.

[2021-08-22 21:29] #2119 closed

[2021-08-22 21:31] adamgfraser commented on #2392
Closing as this is done.

[2021-08-22 21:31] #2392 closed

[2021-08-22 21:32] adamgfraser commented on #2264
This has been added now.

[2021-08-22 21:32] #2264 closed

[2021-08-22 21:32] kitlangton commented on #1972
I think we did this 🥳

[2021-08-22 21:32] #1972 closed

[2021-08-22 21:32] adamgfraser commented on #2267
This is done now.

[2021-08-22 21:32] #2267 closed

[2021-08-22 21:33] adamgfraser commented on #2336
This has been implemented.

[2021-08-22 21:33] #2336 closed

[2021-08-22 21:35] adamgfraser commented on #2373
Closed as this was resolved with the implementation of the fiber supervision model.

[2021-08-22 21:35] #2373 closed

[2021-08-22 21:35] adamgfraser commented on #2427
This has been implemented now.

[2021-08-22 21:35] #2427 closed

[2021-08-22 21:37] adamgfraser commented on #2554
This has been implemented now.

[2021-08-22 21:37] #2554 closed

[2021-08-22 21:37] adamgfraser commented on #2565
This has been implemented now.

[2021-08-22 21:37] #2565 closed

[2021-08-22 21:38] adamgfraser commented on #4992
This has been resolved.

[2021-08-22 21:38] #4992 closed

[2021-08-22 22:18] sideeffffect commented on #639
Yes and no. If I recall correctly, we have only preliminary support for Scala Native. Only zio-core and zio-streams work, but zio-test and anything that depends on it (like testing everything, including zio-core itself) doesn't work. We're missing some java.time classes, we're basically blocked on https://github.com/cquiroz/scala-java-time/issues/45

I think it would be better to have this ticket

[2021-08-22 22:23] adamgfraser commented on #639
That's fine. Happy to reopen.

[2021-08-24 08:46] fanf commented on #291
For reference, there is a default implementation provided since I-don't-remember-what-1.0-RC:

[code]

[2021-08-24 13:19] adamgfraser commented on #291
@fanf Thank you! 🙏

[2021-08-26 15:51] caeus opened #5457 "ZIO 2.0: Module pattern 1 or 2?"
According to [this documentation](https://zio.dev/docs/datatypes/contextual/#module-pattern-20), the module pattern v2 is what's gonna be used from now on, yet I see that clock and console and random are still using the module pattern v1 (in the ZIO 2.0.0 branches)

is that gonna be changed?

[2021-08-26 17:54] #5457 closed, assigned to nobody

[2021-08-27 11:23] felher opened #5459 "`race` and `timeout` dont interrupt the effect they're supposed to when in a noninterruptible region"
Given the following code with ZIO 1.0.11 and scala 2.13.6, it seems that `race` and `timeout` don't interrupt an effect when the whole thing is inside an uninterruptible region.

[code]

The output I get is:
[code]
which means the `sayForever` effect is not interrupted after 2 seconds. The same goes for using `race(sleep(2.seconds))` instead of `timeout`.

I expected it to only output 1 to 4, then

[2021-08-27 12:55] reibitto opened #5462 "Unexpected `Schedule.fromDurations` output"
It's tough to say whether this is a bug or intentional, but `Schedule.fromDurations(1.seconds, 2.seconds, 3.seconds).run(OffsetDateTime.now, 1 to 4)` currently returns `Chunk(PT0S,PT0S,PT0S,PT3S)` while I would have expected it to return `Chunk(PT0S,PT1S,PT2S,PT3S)`. The docs states "Returns the length of the current duration between recurrences." so I assume the latter? I mean, returning 0 for ev

[2021-08-27 12:59] reibitto opened #5463 "Schedule: Method for outputting delays"
We often simulate complex Schedules to calculate what the delay would be at repetition `n`. The thing is `Schedule` has a delay _and_ and output. And the output is often something unrelated to the delay (for example `Schedule.fixed` returns the number of repetitions of the Schedule so far).

I think it would be helpful to have a method to output the delay. My coworker wrote the following as a temp

[2021-08-27 14:57] onsoup42 opened #5464 "Polymorphic mocks fail with scala 3"
The below test cases works in scala 2.13 but fails if run with scala 3. This is preventing me from adopting scala 3.

[code]

[2021-08-27 15:30] vladimirkl opened #5466 "zio-test: Introduce Equality typeclass for Smart Assertions"
It looks to be necessary to introduce `Equality` typeclass similar to `Diff` for `zio.test.internal.SmartAssertions#equalTo`.  Currently equality check is hardcoded:
[code]

This doesn't work well for floating point numbers where we need customizable fuzzy equality. Currently I have to use something like this in tests:

[code]

This is rendered bad in smart assertions output and cannot be used wit

[2021-08-27 17:03] #5459 closed, assigned to adamgfraser

[2021-08-27 23:18] adamgfraser opened #5470 "ZIO 2.0"
Issue to track remaining work to prepare for final release of ZIO 2.0.

## Performance

- [ ] Optimize performance (@jdegoes and @adamgfraser)

## Ergonomics and Safety

- [x] Make all constructors lazy (@adamgfraser - #5266)
- [x] Remove remaining usages of `M` suffix

## Operations

- [x] Implement direct logging support (@jdegoes - #5308)
- [x] Replace warnings with logs (@adamgfraser - #5509)

[2021-08-27 23:56] kitlangton commented on #5466
It's certainly a pain at the moment. I have an idea that could support fully custom smart assertions; and I think that could solve this case. It would allow for user-defined error messages. I've got to toy around a bit with it. I'll do that this weekend. 😄 Hopefully, I can update you soon.

[2021-08-28 12:17] jdegoes opened #5475 "ZIO 2.0: Integrate support for `HasMany` (WIP)"
Currently, ZIO's type-indexed map has the form, `Has[X] with Has[Y] with Has[Z]`.

This is convenient in cases where a type uniquely identifies a service. However, there are many cases where a type alone is not sufficient, and some additional key is necessary to locate a value stored in the environment. Currently the number one solution is to introduce a `Map` into the environment, e.g. `Has[Map[K

[2021-08-28 12:23] jdegoes opened #5476 "ZIO 2.0: Compositional `Platform`"
It is not possible to run part of an effect on a different platform, but this is a natural generalization of existing machinery.

[code]

This can be accomplished by making `platform` a `var` in `FiberContext`, adding a new operation to set the platform, and finally using `ensuring` in the implementation of `onPlatform` to ensure the old platform is restored.

[2021-08-28 13:12] adamgfraser commented on #5476
I will do this.

[2021-08-28 13:13] adamgfraser commented on #5475
I will work on this.

[2021-08-29 14:06] jdegoes opened #5483 "ZIO 2.0: Ensure consistent use of *Cause variants"
Currently we have some variation in the *Cause variants, including, on the one hand, a convention of adding the `Cause` postfix immediately following the `Error` postfix, e.g.:

 - `ZIO.failCause`
 - `ZIO.mapErrorCause`

And on the other hand, dropping `Error` entirely and just using the `Cause` suffix directly:

 - `ZIO.tapCause` (`ZIO.tapError`)

We should standardize on which form we want to ad

[2021-08-29 19:34] adamgfraser commented on #5483
I will do this.

[2021-08-30 11:00] jdegoes commented on #5483
🙏

[2021-08-30 14:04] ollyw opened #5485 "Accessible macro generates misleading error message"
When making a mistake when coding and including `import zio.macros.accessible` into a file twice, the error can be very misleading. Yes, this is a stupid mistake, but can be common with refactoring/newbies/etc.  The issue was that the compilation error was `enable macro paradise to expand macro annotations`. After triple checking, I can confirm that macro paradise was already enabled and active. I

[2021-08-31 04:57] kitlangton commented on #5466
I'd love your thoughts on #5492 @vladimirkl 😄

[2021-08-31 13:18] #5462 closed

[2021-08-31 13:18] #5463 closed

[2021-08-31 13:23] adamgfraser commented on #5475
Closed by #5481.

[2021-08-31 13:23] #5475 closed

[2021-08-31 13:24] adamgfraser commented on #5476
Closed by #5477.

[2021-08-31 13:24] #5476 closed

[2021-08-31 13:24] #5483 closed

[2021-08-31 20:22] rgoldenberg opened #5497 "Intersected Schedules created with `hourOfDay`/`minuteOfHour`/`secondOfMinute` don't work as expected."
When intersecting `Schedules` constructed with `hourOfDay`/`minuteOfHour`/`secondOfMinute` etc. one would expect to get cron-like behavior. However, this seems to not be the case at the moment.
Here's a spec that demonstrates the problem:

[code]

[2021-08-31 21:12] adamgfraser commented on #5497
@rgoldenberg Thanks for reporting! I will take a look.

[2021-09-01 13:31] jdegoes opened #5501 "ZIO 2.0: Platform improvements"
`zio.internal.Platform` could stand a number of improvements in ZIO 2.0:

1. Rename `Platform` => `RuntimeConfig`.
2. Rename `PlatformAspect` => `RuntimeConfigAspect`.
3. Move `RuntimeConfig` **and** `RuntimeConfigAspect` to `zio`, rather than `zio.internal`.
4. Move `Platform.OS` / `Platform.os` into `System` companion object, because it is logically more related to `System` than `RuntimeConfig`.

[2021-09-01 13:38] adamgfraser commented on #5501
I will do this.

[2021-09-01 14:52] jdegoes commented on #5501
@adamgfraser Thank you! 🙏

[2021-09-01 16:47] jdegoes opened #5503 "ZIO 2.0: Leverage logging for reportFailure"
Currently, default `reportFailure` in Platform (/RuntimeConfig) logs to console. This is not desirable. Instead, anytime we have a failure, we should use the logger inside Platform (/RuntimeConfig), using the same parameters as a user would trigger, if the user called `ZIO.logCause`.

This will allow us to delete `reportFailure` and give the user a uniform way of handling errors.

Ideally, at the

[2021-09-01 19:24] adamgfraser commented on #5503
Will do this.

[2021-09-01 20:12] jdegoes commented on #5503
🙏

[2021-09-02 12:11] jdegoes opened #5511 "ZIO 2.0: Rename / move zio.Fiber.Id => zio.FiberId"
Rather than hiding the `Id` data type inside the companion object of `Fiber`, which is non-standard, we should pull it out into the top-level package (renaming to `FiberId`), leaving behind `type` / `val` aliases in the companion object that are deprecated for 2.0.

[2021-09-02 12:41] adamgfraser commented on #5511
Will do.

[2021-09-02 13:29] jdegoes commented on #5511
Thank you! 🙏

[2021-09-02 15:23] #5511 closed

[2021-09-02 18:30] adamgfraser opened #5513 "Flaky Streams Test"
[code]

[2021-09-02 18:32] adamgfraser commented on #5513
Also observed in `zio-stream.ZStreamSpec`.

[2021-09-02 19:29] adamgfraser commented on #5513
[code]

[2021-09-03 11:15] jdegoes opened #5516 "ZIO 2.0: Investigate issue with forking"
This program works fine on ZIO 1.x but exhibits undefined behaviour with respect to forking on ZIO 2.0 M2.

[code]

[2021-09-03 16:44] adamgfraser commented on #5513
[code]

[2021-09-03 19:10] #5501 closed

[2021-09-04 21:28] adamgfraser opened #5525 "Support Efficient Updates Of Chunks"

[2021-09-05 18:26] nryanov opened #5527 "Timeout aspect: different behaviour starting from zio 1.0.10"
[code]

Test:
[code]

The result of this test isn't equal on the different zio versions:
`<= 1.0.9`
[code]

`>= 1.0.10`

<details>
  <summary>result</summary>

[code]
</details>

Is it expected behaviour?

[2021-09-05 18:52] adamgfraser commented on #5527
@nryanov Thanks for reporting! Will take a look.

[2021-09-05 21:12] nryanov opened #5528 "java.lang.NoClassDefFoundError: scala/reflect/internal/Names$Name starting from zio 1.0.5"
Not sure about reasons but in some cases i got an error:

<details>
  <summary>stacktrace</summary>

- test
  - test
    Fiber failed.
    An unchecked error was produced.
    java.lang.NoClassDefFoundError: scala/reflect/internal/Names$Name
    	at experiments.ZioTest2$anon$genericOptionPrinter$macro$14$1.inst$macro$7$lzycompute(ZioTest2.scala:13)
    	at experiments.ZioTest2$anon$genericOptionPr

[2021-09-06 16:40] bilal-fazlani opened #5530 "`Defect in zio.Has: Could not find package`"
`"dev.zio" %% "zio" % "1.0.11"`

`scalaVersion := "3.0.1"`

[code]

[code]

[2021-09-06 22:59] adamgfraser commented on #5528
@nryanov Can you try to add an explicit dependency on `scala.reflect`? I have a feeling this is being driven by inconsistent versions between the two libraries.

[2021-09-07 00:47] #5497 closed

[2021-09-07 09:07] domdorn opened #5534 "Create .whenOption operator"
It would be great if we'd have a `.whenOption` operator, that returns a `Option[A]` when applied to a  `ZIO[_,_,A]` that is `Some(A)` when the effect was executed and `None` when it wasn't executed.

Code that I have that could use it:
[code]

I think the code could like this:
[code]

 WDYT?

[2021-09-07 12:02] #5527 closed

[2021-09-07 12:03] jdegoes commented on #5534
Let's just modify the existing `when` to return the `Option`. We will have to target for 2.x.

[2021-09-07 12:04] #5525 closed

[2021-09-07 13:26] adamgfraser commented on #5534
I will take a look at this.

[2021-09-07 14:56] jdegoes opened #5536 "ZIO 2.0: Simplify runnable spec (ZIO Test)"
Requires discussion:

In an ideal world, there would be only 1 spec type, which would itself extend `zio.ZIOApp`:

[code]

[2021-09-07 15:08] adamgfraser commented on #5536
Yes. There is a little bit of plumbing in just using the new `ZIOApp` functionality. The trickier issue is what we want to do with the dreaded comma since that was the motivation for the second spec type in the first place.

[2021-09-07 15:37] bilal-fazlani commented on #5530
am I doing something wrong?

[2021-09-07 16:27] adamgfraser opened #5539 "Add Tests for Metrics"
We should add tests for all metrics including under concurrent access.

[2021-09-07 16:29] adamgfraser opened #5540 "Migrate JVM Specific Metrics from ZIO ZMX"
Previously a bunch of nice JVM specific metrics were added to ZIO ZMX by @vigoo in zio/zio-zmx#282. These need to be migrated to `zio` using the new `ZIOMetric` data type.

[2021-09-07 16:31] adamgfraser opened #5541 "Migrate Summary Bug Fixes to ZIO"
Bug fixes to the summary metric type identified in zio/zio-zmx#284 and zio/zio-zmx#285, partially addressed in zio/zio-zmx#286, need to be incorporated in `zio`.

[2021-09-07 16:37] adamgfraser opened #5542 "Documentation For Metrics"
Now that metrics are part of `zio` additional documentation needs to be added describing how users can work with metrics. Some of the existing documentation from `zio-zmx` can be leveraged here though further improvement is needed. Some aspects involving using these metrics can be relatively domain specific (e.g. how histogram works, definition of quantiles for summary) so we need to make sure we

[2021-09-07 16:41] adamgfraser opened #5543 "Implement Developer Mode Metrics Reporting"
It would be nice to have some "developer mode" metrics reporting when users are working with ZIO directly without using any metrics backend. This would likely be extremely minimal since we do not want to have any dependencies in ZIO (the existing developer mode server would not be in `zio`).

Possibly this could just consist of taking a snapshot of all the metrics recorded in the application at th

[2021-09-07 17:11] adamgfraser opened #5544 "ZIO 2.0: Operators That Don't Return A Meaningful Result Should Return Any"
This will avoid the need to call `unit` when using ZIO operators that return a result that is not needed.

[2021-09-07 17:25] nryanov commented on #5528
@adamgfraser thank you, it helped. I'll close an issue because it seems that it's not directly related with zio

[2021-09-07 17:25] #5528 closed

[2021-09-07 17:43] jdegoes commented on #5536
I am quite liking this:

[code]

I feel with a warning for non-composed tests, it might be enough.

[2021-09-07 17:52] adamgfraser commented on #5543
Copying @kitlangton.

[2021-09-07 17:58] jdegoes opened #5546 "ZIO 2.0: Improvements to ZLogger"
The data type `ZLogger` is almost pure and could be pulled out into the main package `zio`.

To accomplish this change:

 - Change `def logged(f: A => Unit): ZLogger[Unit]` to `def map[B](f: A => B): ZLogged[B]` (a natural generalization)
 - Move `zio.internal.ZLogger` to `zio.ZLogger`

[2021-09-07 17:59] adamgfraser commented on #5546
Will do.

[2021-09-07 17:59] jdegoes commented on #5544
Shouldn't this be, _Operators that accept effects without meaningful results should accept Any rather than require Unit_?

[2021-09-07 18:04] adamgfraser commented on #5544
Well I think there are two variants of this that we could discuss.

The first one, which you suggest, would I think be a relatively minor change and would I think mostly consist of just auditing that we are already doing that.

The second one, which my original formulation suggested, would be more pervasive. For example consider this signature:

[code]

Question would be whether that should be `UI

[2021-09-07 18:21] jdegoes commented on #5544
Ah, I see. I think that's correct and can be codified as:

 - Wherever the user provides an effect value, if the result of that effect value is not needed, then the effect success type should be `Any` rather than `Unit`

For a concrete ZIO method, we would want to return `Unit`. But in an interface that users might be expected to implement (or we, ourselves, as users of this interface), we would t

[2021-09-07 18:40] #5534 closed

[2021-09-07 19:11] #5503 closed

[2021-09-07 19:44] khajavi commented on #5542
After the migration guide, I can work on this.

[2021-09-07 19:44] adamgfraser commented on #5544
Hmmm, I worry a bit that creates an inconsistent user experience. It seems like the implication would be that an operator like `ZIO.debug` returns `Unit`, whereas like `Console.printLine` would return `Any` (since it is an interface) and `Hub#shutdown` would return `Any` (since it is an interface even though it is sealed???). There is obviously an internal logic to this but just having two ways of

[2021-09-07 19:45] adamgfraser commented on #5542
@khajavi Fantastic!

[2021-09-07 19:47] adamgfraser commented on #5530
@bilal-fazlani Are you using the Scala 3 version of ZIO and not the Scala 2 version in compatibility mode? That is the most frequent cause of issues I have seen here.

[2021-09-08 05:03] bilal-fazlani commented on #5530
Ok, I see a few zio library versions in vscode

![image](https://user-images.githubusercontent.com/3396271/132449416-03d73f56-7241-4434-9d74-cbda2d6180eb.png)

May be this is the reason. I will check this further and update

[2021-09-08 05:04] adamgfraser commented on #5530
@bilal-fazlani Thank you! 🙏

[2021-09-08 07:57] jdegoes commented on #5543
We could possibly tap into a [process signal](http://www.docjar.com/html/api/sun/misc/Signal.java.html) to do the metrics dump.

[2021-09-08 08:30] tuleism opened #5555 "ZIO.serviceWith is too restrictive"
Currently it's implemented as:

[code]

which requires that `f` return a `ZIO[Has[Service], ...]`. Why do we need that?

Let's say `Service.doSomething` is a function with type `ZIO[Has[AnotherService], ...]`, then this works:

[code]

while this doesn't:

[code]

[2021-09-08 08:40] jdegoes commented on #5544
I think I could go either way.

There is a general principle in OOP (and FP as well, but different), _Require the least powerful interface, provide the most powerful_. It's the consumer / producer dual. e.g. a method can accept `Iterable` but return `Chunk`; or accept a callback that returns `Any`, but itself return `Unit`.

It's only useful because of libraries outside ZIO, which sometimes do req

[2021-09-08 08:46] ghostdogpr commented on #5544
We recently refactored our code to use `() <-` rather than `_ <-` in for-comprehensions to prevent some bugs were you have a nested ZIO that is not executed. Returning Any would be quite annoying.

[2021-09-08 09:01] jdegoes commented on #5536
Trying to think of 1 shape to support all. Perhaps something like:

[code]

1. The user's layer may depend on the test environment
2. The spec may depend on both the test environment, and the user environment, produced from the user layer
3. The aspects may require both the test environment, and the user environment
4. Neither environment nor failure are relevant outside the definition of `ZIOSpec

[2021-09-08 09:01] jdegoes commented on #5536
/cc @adamgfraser

[2021-09-08 09:31] #5546 closed

[2021-09-08 09:51] jdegoes commented on #5544
@ghostdogpr I wonder if that could instead be an error on `flatMap` / `map`.

It's easy to get Scalac to error in these cases with a helpful message, although we'd need an escape hatch to make it possible.

[2021-09-08 10:02] jdegoes commented on #5555
I don't mind generalizing this type signature if no one objects. 👍

[2021-09-08 11:06] jdegoes opened #5557 "ZIO 2.0: Expose Cause constructors"
`Cause` has remained stable for a long time. It's probably time to expose constructors to simplify the class and provide exhaustivity checking when pattern matching.

[2021-09-08 12:03] adamgfraser commented on #5557
Will do.

[2021-09-08 12:10] adamgfraser commented on #5555
I will take a look at this.

[2021-09-08 12:17] jdegoes commented on #5557
Thank you! 🙏

[2021-09-08 14:51] atooni commented on #5539
I think I will take a stab on these tests - have been on my agenda anyway

[2021-09-08 14:53] adamgfraser commented on #5539
@atooni Fantastic!

[2021-09-08 16:36] cornerman commented on #4460
@joprice I am not sure anymore, but I think, I used this to get all zones out, because I did not need them:

[code]

[2021-09-08 18:34] bilal-fazlani commented on #5530
So I cleared all cache. Extracted all dependencies in a file and searched for zio

[code]

[code]

I seem to have only one version of zio

[2021-09-08 19:06] bilal-fazlani commented on #5530
The entire programs works as expected if I don't try to consume `Cache` layer.

[code]

[code]

This doesn't seem like a dependency issue

[2021-09-08 19:18] bilal-fazlani commented on #5530
I made it work by using

[code]

instead of

[code]

I was not aware of `.fromServicesM` but if you have any idea, could you please help me understand, why first approach would not work?

[2021-09-08 19:55] adamgfraser commented on #5544
I guess based on the discussion so far my inclination would be to basically leave things as is. It seems like there is a lot of value to consistency and also some value to having the `Unit` type versus `Any` for most cases (though that can potentially be solved by tooling seems like the tooling is not fully there at this point).

I think the challenge with having interfaces return `Any` is while i

[2021-09-08 20:02] adamgfraser commented on #5536
We could potentially just have the default layer be `ZLayer.environment[TestEnvironment]`.

I think it might be useful to think about what we are trying to solve for at this point. With the changes currently in the `series/2.x` branch we already have one spec type that extends `ZIOApp`, supports composition with `+`, and has a list of test aspects that the user can override.

So are we really just

[2021-09-08 21:01] jdegoes commented on #5536
Globally Shared across all specs that use the layer.

[2021-09-08 21:05] adamgfraser commented on #5536
Okay. I think that makes sense.

[2021-09-08 21:54] jdegoes commented on #5536
Hmmm. If provideLayer variants used a free encoding (layer embedded in spec), that would be enough to do globally shared layers?

[2021-09-08 22:03] adamgfraser commented on #5536
I'm not sure we even need that. I think there are a couple of things we need to do:

1. I think ideally if we go down this road spec composition should work if implemented in terms of the `<>` operator on `ZIOApp`. That won't work right now because `ZIOApp` expects each application to have its environment provided so we will end up providing the shared layer twice. I think we could resolve by eith

[2021-09-08 22:34] adamgfraser commented on #5536
Something like this:

[code]

[2021-09-09 04:22] adamgfraser commented on #5530
@bilal-fazlani Both should work.

@neko-kai Could you take a look at this when you get the chance?

[2021-09-09 08:51] TobiasPfeifer opened #5564 "Add THub to zio.stm"
There is no direct way to publish elements to a `ZHUB` inside a STM transaction.

I find it rather cumbersome to integrate the publish side of a Hub in zio.stm (using a fiber to shift elements offered to a TQueue to a Hub):
[code]

A THub would be a perfect fit for usecases that require publish/subscribe in zio.stm transactions (i.e `def publish(a: A): ZSTM[RA, EA, Unit]`).

However I'm uncertain

[2021-09-09 11:12] adamgfraser commented on #5564
@TobiasPfeifer I have been working on this. Will submit a PR shortly.

[2021-09-09 13:03] neko-kai commented on #5530
@adamgfraser I would definitely take a look, but so far I can't provide an ETA. Other contributors are welcome to take on this meanwhile.

[2021-09-09 13:05] adamgfraser commented on #5530
@neko-kai Thanks!

[2021-09-13 11:08] quelgar commented on #5530
I have another datapoint on this. My error is:

[code]

Scala 3.0.2, zio_3 1.0.11, zio-kafka_3 0.16.0. This problem occurs when the zio-kafka producer code tries to access `Blocking` from the environment. I was able to confirm in the debugger that the tag for blocking that the Kafka code generated had a different hash code to the identically named tag in the "type map".

On a hunch I checked which

[2021-09-13 11:10] domdorn opened #5592 "(WIP) SLAs: Support TTLs additionally to interruption"
This is a WIP as I'm on mobile and the ios app just lost the whole ticket text I wrote, so I will create this ticket and update it till everything is written, then remove the (WIP).

This is a follow up on the following twitter discussion: https://twitter.com/viktorklang/status/1437344391052541952?s=21

The current way to implement Service Level Agreements (SLAs) in ZIO is by wrapping an effect wi

[2021-09-13 13:19] adamgfraser commented on #3405
Use `zio.prelude.Assertions.equalTo`, which uses an `Equal` instance defined for your type to determine whether two types are equal, then define an `Equal` instance` reflecting your notion of equality.

[2021-09-13 13:29] adamgfraser commented on #5530
Ah, I think the issue is here: https://github.com/zio/izumi-reflect/releases/tag/v2.0.0.

[2021-09-13 17:28] domdorn opened #5593 "repeatN not intuitive (zio 2.0)"
this came up during `advanced-zio` course.
[code]

for stuff that adds on top, we could maybe have a `thenRepeatN(5)` operator?
[code]

WDYT ?

[2021-09-13 17:33] balajirrao commented on #5593
Thank you @domdorn. I don't think `repeatN(0)` doing a repeat `0` times is possible - because `returnN` *has* to return an effect that produces a value of the original success type.

[2021-09-13 17:36] adamgfraser commented on #5593
I think having two versions of this that are off by one is quite confusing and we should only have one of them.

The current implementation has some logic to it in that you are running the effect once and then repeating it five times. It also has a symmetry with `retryN` where you run the effect once and then retry it five times. And this fits in with a variety of `Schedule` operators. For example

[2021-09-13 17:48] balajirrao commented on #5593
Could the documentation be changed to read "returns the effect that executes the passed effect `max(1, n + 1)` times"?

[2021-09-13 17:50] adamgfraser commented on #5593
Yes I will work on the documentation.

[2021-09-13 18:42] domdorn commented on #5593
or maybe "executes the effect *and then* repeats it n times, returning the last result produced"

[2021-09-13 18:54] domdorn opened #5595 "add testaspect for graalvm native-image"
allow to limit/annotate tests in a similar way we have for js, native, etc. when run using graalvm native-image

[2021-09-13 19:12] adamgfraser commented on #5595
Do you know how we can tell whether we are running on it? Is there a system property that reflects that?

[2021-09-13 19:16] domdorn opened #5597 "add @@ to TestAspect as alias of >>>"
allow refactoring this code by extracting a variable:
[code]
like this
[code]

[2021-09-13 20:09] jdegoes opened #5598 "ZIO 2.0: Remove Assertion in ZIO Test API"
We have places like `ifEnv` (test aspects) that use `Assertion` and which should probably be changed to use Scala boolean functions.

[2021-09-13 20:24] adamgfraser commented on #5598
Will change.

[2021-09-13 20:44] jdegoes commented on #5597
I really like this for refactorability reasons.

A question is how function composition (`a >>> b`) relates to aspect application (`a @@ b`).

You can view a function as having a `FunctionAspect`, which would transform the function (`Function => Function`), and indeed, in such a world, aspect composition (`a >>> b`) is precisely equivalent to transforming the function `a` into a new function, by a

[2021-09-13 20:45] adamgfraser commented on #5597
On it.

[2021-09-13 20:45] jdegoes opened #5599 "ZIO 2.0: Change ZIO#repeatXYZ combinators to be lossless"
Currently a lot of things like `zio.repeatN(2)` just return the last result. It is more useful to return a chunk of results, which allow you to pull out the last yourself with a `map` operation (`zio.repeatN(2).map(_.last)`).

[2021-09-13 20:49] adamgfraser commented on #5599
At that point those operators become really similar to the `replicate` operators with the exception of whether they insert a yield.

[2021-09-13 21:01] jdegoes opened #5600 "ZIO 2.0: Preliminary thoughts on executable encoding for ZIO tests (WIP)"
<https://gist.github.com/jdegoes/88238f0eac6e7c7be5fbe324889dcdf0>

Additional thoughts:

 - Test aspects becoming ordinary ZIO aspects
 - `@@ sequential` (etc.) working on ordinary ZIO code (compositional concurrency)
 - `test @@ before(x)` working at the level of a test, but `suite @@ before(x)` working at the level of a suite
 - `suite @@ each(aspect(x))` working at the level of every test insi

[2021-09-13 21:15] domdorn commented on #5595
hmm.. will have to search for that.. there was a sbt plugin that was also running natively compiled code + tests, need to see how that was done (and even which plugin it was...) .. for now I would rate this as low priority

[2021-09-13 22:14] domdorn commented on #5593
When thinking about this.. should we maybe have a `.times(n)` effect that basically does the behavior described above , meaning when called with n = 0 the effect is never run and with n = 5 it is run exactly 5 times?

[2021-09-13 22:15] adamgfraser commented on #5593
@domdorn That is `replicateZIO`.

[2021-09-14 02:39] adamgfraser commented on #5592
While this is definitely an interesting design principle, I tend to think that it is best addressed at higher levels using the existing tools provided by ZIO.

If we can interrupt a service that is obviously the best case scenario. If we can't interrupt the service ourselves, for example because it is occurring on a remote server, then we can transmit to it a time we are willing to wait. At that p

[2021-09-14 03:07] quelgar commented on #5530
Actually, looks like zio 1.0.11 just bumped izumi-reflect from 1.1.2 to 1.1.3, but that does include [a fix to tag hash codes for Scala 3](https://github.com/zio/izumi-reflect/pull/198).

So seems the only way forward is for all libraries supporting Scala 3 to release new versions using zio 1.0.11 or later.

[2021-09-14 08:12] domdorn commented on #5592
after sleeping over it, I think we don't even need a `withTimeToWait` or `withSLA` "concept".

The only thing we would need is
- to actually track time (maybe always or only if there is a `timeout` attached to an effect) and
- a way to extract the passed/remaining time, either to
  - pass that information to external systems
  - decide to interrupt/stop processing early

[2021-09-14 08:19] adamgfraser commented on #5592
Yeah it just gives you this `timeRemaining` effect that you can pass around as a value and call as many times as you want to see how much time you still have remaining. Depending on how many layers of your application you wanted to pass it through you could potentially put it in some data structure or something like a `FiberRef` in the environment.

[2021-09-14 15:22] domdorn opened #5610 "(2.0) provide assertion that can be used in a for-comprehension"
It would be great if we'd have a assert method that can be used in a for-comprehension, e.g. like this:
[code]

mostly I would use these to make sure preconditions for what I'm testing are met, and would yield the assertion that tests the one thing I'm trying to test.

[2021-09-14 16:06] luis3m commented on #5599
Wouldn't it be better just to keep as-is and add a note in the doc on `repeat` variants about `replicate`?

[2021-09-14 16:16] adamgfraser commented on #5599
@luis3m I have a PR that does that is #5594 but I think documentation description is a lot less ideal that just something doing what you would naturally expect it to, though I don't think we have what that would look like fully fleshed out yet.

[2021-09-15 16:15] #5597 closed

[2021-09-15 16:42] adamgfraser opened #5616 "Deterministic Generators Do Not Compose Well With Gen.oneOf"
[code]

This never generates a `None` value.

[2021-09-15 21:15] domdorn commented on #5593
hmm.. then I challenge the wording of `replicate`.. today during the lecture with John, it took me quite some time to actually remember `replicate` when all I wanted was to "execute the effect 100 times" (vs. `effect.repeatN(99)`)
Maybe that's just an issue for a non-native english speakers, but I guess there are quite a few thousand zio developers out there that have the same issue.. `times` is k

[2021-09-16 14:22] #5598 closed

[2021-09-16 14:23] #5536 closed

[2021-09-16 17:34] jdegoes opened #5623 "ZIO 2.0: Add ZStream.execute again"
[code]

[2021-09-16 22:29] adamgfraser commented on #5623
On it.

[2021-09-16 23:17] jdegoes opened #5624 "ZIO Streams 2.0: Chunking operators"
I know there is `flattenChunks` already but the consistency would be nice:

[code]

Alternate names: `chunks` / `unchunks`, `chunk` / `unchunk`.

[2021-09-16 23:18] jdegoes commented on #5624
Possibly this pair of operators could replace the need for so many chunking variants, although performance implications would have to be investigated.

[2021-09-16 23:20] jdegoes commented on #5624
Maybe also:

[code]

[2021-09-16 23:27] adamgfraser commented on #5624
I could have sworn we had an operator to expose the chunk structure of the stream at some point.

[2021-09-16 23:31] jdegoes commented on #5624
Yes, I know we did.

[2021-09-16 23:51] adamgfraser commented on #5624
I think the problem with most of the chunk variants are in the constructors. Perhaps in the ZIO 2.0 stream encoding the `ChannelExecutor` could have various parameters, such as the default chunk size to use, that could be composed regionally.

[2021-09-17 00:00] adamgfraser commented on #5624
We do!

[code]

[2021-09-17 00:02] adamgfraser commented on #5624
It is only available in the experimental streams encoding though. Will fix. I have somewhat mixed feelings on `unchunks`. I can't deny the symmetry but it is a little bit of a strange name and `flattenChunks` is also deeply intuitive with the analogy of a stream as like a collection.

[2021-09-17 00:43] adamgfraser commented on #5624
I'm not sure `rechunkWith` is powerful enough to describe all the changes we potentially want to make to the chunk structure since we could potentially want to emit multiple chunks for each original chunk.

[2021-09-17 01:12] jdegoes commented on #5624
It's definitely not powerful enough, but if you keep going up in power you would probably end up with foldWeighted or something similar, which already exists. Now maybe we should just stop at `rechunk(n)`?

[2021-09-17 02:06] adamgfraser commented on #5624
I tend to think that's right. We currently have that operator called `chunkN`. Shall we rename it to `rechunk`? That seems like a better name.

[2021-09-17 02:17] #5623 closed

[2021-09-17 02:57] jdegoes commented on #5624
I personally went looking for it under the name 'rechunk' (not that it means much!).

[2021-09-17 02:58] jdegoes opened #5630 "ZIO Streams 2.0: Encoders to match decoders"
We have utf8Decode but not utf8Encode, etc.

[2021-09-17 02:59] jdegoes opened #5631 "ZIO Streams 2.0: Utilities for non-Path-based files"
`Path` may be the best way to denote paths in modern Java, but File is still around, and String is more convenient than both. I think we should overload constructors that take `Path` to also take `File` and `String`, purely for ease-of-use. This pattern is common in Java and also Scala (e.g. `scala.io.Source`).

[2021-09-17 03:00] jdegoes opened #5632 "ZIO Streams 2.0: Standardize constructors"
Currently ZIO Streams has random constructors from ZIO: e.g. ZStream.fail exists, but not ZStream.fromOption. We should do a review to identify operators that make sense for ZStream and which exist for ZIO, but have not been implemented.

[2021-09-17 03:14] adamgfraser commented on #5631
I don't think we can overload if we are using default arguments which we do in the `ZStream` constructors for `chunkSize`. Perhaps we could have a naming convention like `fromPath`, `fromFile`, `fromFileString`? Or perhaps this is another push to developer a more compositional solution to the chunking problem.

[2021-09-17 03:17] adamgfraser commented on #5632
I will take a look at this.

[2021-09-17 06:54] vigoo commented on #5624
I think `rechunk` is a good name. The `unchunked ` feels a bit misleading to me as although the `Chunk` goes away from the element type the stream itself is still chunked under the hood. So for me `flattenChunks` seems to be better.

[2021-09-17 12:37] #5624 closed

[2021-09-17 13:52] jdegoes opened #5634 "ZIO Streams 2.0: Compositional chunking"
Using an unsafely created `FiberRef` left into `object ZStream` (or package object `stream`), we should be able to grab the chunk size from the fiber ref, allowing all chunk sizes to be specified via combinator:

[code]

[2021-09-17 13:54] adamgfraser commented on #5634
Will add.

[2021-09-18 02:06] jdegoes opened #5637 "ZIO 2.0 Streams: Add unwrap* functions to sink, stream, transducer (?)"
These functions are missing or are encoded weirdly (e.g. ZSink.managed).

[2021-09-18 02:09] jdegoes opened #5638 "ZIO Streams 2.0: Name cleanup ticket"
There are minor inconsistencies or improvements that could be made. This is a ticket to collect them.

 - [ ] `ZSink.collectAll` => `ZSink.takeAll`
 - [ ] `ZTransducer.collectAll*` => `ZTransducer.take*` / `ZTransducer.takeAll`

[2021-09-18 02:26] adamgfraser commented on #5637
I will do this.

[2021-09-18 03:07] adamgfraser commented on #5638
One thing that would be good to think about here is how these fit in with some of the other operators with similar names. For example on `ZSink` we also have `collectAllToMap`, `collectAllToSet`, and `collectAllWhileWith`. I guess the logical implication of this would be those should be renamed as well but at least personally I find the notion of collecting into another collection more intuitive t

[2021-09-18 03:26] adamgfraser commented on #5632
I went through the `ZIO` constructors and compared them to the `ZStream` constructors. Here would be my proposal.

| Operator | Exists On ZStream | Should Exist On ZStream |
| - | :-: | :-: |
| attempt | | ✅ |
attemptblocking | | |
attemptblockingio | | |
attemptblockinginterrupt | | |
die | ✅ | ✅ |
dieMessage | ✅ | ✅ |
done | ✅ | ✅ |
fail |✅  |✅ |
failCause | ✅ | ✅ |
fromEither |  | ✅ |
fromEithe

[2021-09-18 03:46] #5541 closed

[2021-09-18 03:47] #5261 closed

[2021-09-18 12:06] jdegoes commented on #5638
Agreed, let's think through everything.

[2021-09-18 14:49] #5557 closed

[2021-09-18 14:50] #5564 closed

[2021-09-18 15:58] adamgfraser commented on #5593
Spent some time on this and I think the documentation improvement is the best step for now. I think part of the issue may be that we just need to make `replicate` more prominent in our teaching.

`repeat` needs to be consistent with `Schedule` and `Schedule` is a function that needs to do repeats after the initial value, so we need another name here. I'm open to alternatives but personally I am no

[2021-09-18 15:58] #5593 closed

[2021-09-20 15:33] atooni opened #5648 "Bring back the newsletter subscribe button on the ZIO web page"
TODO after migrating to docusaurus 2.0

[2021-09-20 15:34] atooni opened #5649 "Revisit auto updating the Algolia index for the new web site"
TODO after migrating to Docusaurus 2.0

[2021-09-20 15:41] atooni opened #5650 "Preview image for the new website is missing when posted to discord"
Perhaps some metadata is missing from the templates ?
TODO after migrating to Docusaurus 2.0

[2021-09-20 19:14] #5637 closed

[2021-09-20 19:15] #5555 closed

[2021-09-20 19:17] adamgfraser commented on #5599
Closing for the reasons discussed in #5593 as well as the issues in implementing #5604.

[2021-09-20 19:17] #5599 closed

[2021-09-22 12:47] mvillafuertem commented on #5173
Hi @adamgfraser, any hint with this? Thanks

[2021-09-22 13:50] adamgfraser commented on #5173
@mvillafuertem The issue is that `TestClock` checks whether all the fibers are in a suspended state before advancing the clock. This prevents the clock from being adjusted "too early" before effects that are still running have completed execution, which can result in corruption of the internal state of the schedule in cases like this.

However, in the example above the `Thread.sleep` is being run

[2021-09-23 07:28] miroslavmachura opened #5665 "ZStream.timeoutError wrapping error channel"
Hi, I've noticed different behavior for timeouting `ZIO` and `ZStream` type:

[code]

I would expect both `ZIO.timeoutFail` and `ZStream.timeoutError` to behave in a same way (not to wrap original error), however ZStream always wraps original error with timeout error, thus hiding the original error. This seem unexpected because IMHO original error usually has bigger value in terms of why did the s

[2021-09-23 14:03] BaekGeunYoung opened #5666 "does "unsafeRunSync" block thread?"
I have a long running task which returns ZIO, and I want to make my code wait for this task complete without blocking thread.
Following is my code:

[code]

I want to "run" the ZIO synchronously, and don't want to block thread. Am I doing right? If not, then what is the correct answer?

[2021-09-23 14:40] scottweaver commented on #5616
I have currently come upon a similar issue where what should be a random value gets "stuck" and produces the same value over and over again.  In fact, I have cases where the specific value gets stuck even between multiple runs of the test case.

Not sure if this is related to this, but it feels similar.

[2021-09-23 14:41] adamgfraser commented on #5616
@scottweaver Are you using deterministic generators? Do you have a small reproducer?

[2021-09-23 14:51] scottweaver commented on #5616
Yeah, I am using `oneOf`, `fromIterable`.  As for a small repoducer, I don't have one immediately.

I noticed this behavior in a framework I built that creates Gens that emit JSON based on an OpenAPI schema.  I would need to see if I can break it into something I can post.

What is really odd is that I can have to fields being generated and one randomizes fine and the other gets stuck.

[2021-09-23 14:52] adamgfraser commented on #5616
Okay. I am working on something for this.

[2021-09-23 14:56] adamgfraser commented on #5666
@BaekGeunYoung `unsafeRunSync` does block the thread and there really isn't a way to avoid that other than not calling `unsafeRunSync`. By its nature, `unsafeRunSync` has to not return until the ZIO effect has completed execution. And we have to return an actual value, not a `ZIO` effect, so we can't for example register a non-blocking callback to be completed when the effect completes execution.

[2021-09-23 14:56] adamgfraser commented on #5665
Yes this seems like a bug. I will take a look.

[2021-09-24 12:16] #5665 closed

[2021-09-26 23:09] gchudnov opened #5678 "ZIO 2.0 exit code on error"
It appears that in "2.0.0-M3" the runtime returns always error code = 0, even if there are exceptions.

for example, the following minimal code:

[code]

completes with:

[code]

Not sure if that is expected?

I expected code `1` to be returned.

[2021-09-26 23:10] adamgfraser commented on #5678
Will take a look.

[2021-09-26 23:10] gchudnov commented on #5678
thank you!

[2021-09-26 23:12] adamgfraser opened #5679 "Investigate Issue With ZStream#zipWithLatest"
It appears that in the example below values can be emitted out of order.

[code]

[2021-09-27 02:29] #5678 closed

[2021-09-27 06:56] gchudnov commented on #5678
thank you very much!

[2021-09-27 06:57] adamgfraser commented on #5678
Thanks for raising!

[2021-09-27 16:50] ithinkicancode opened #5685 "Search result page of the new zio.dev docs site is broken"
On the new `zio.dev` docs site, the search result page directs you to a URL that has `docs` sub-directory. But the URL doesn't seem to be valid. For example, when searching `Hub`, the result page takes you to this url: https://zio.dev/docs/datatypes/concurrency/hub#docsNav. When you navigate to this url, you'd get a "Page Not Found".

If you remove the `docs` sub-directory from the url, then it wi

[2021-09-27 17:06] ithinkicancode commented on #5685
Possible duplicate of ##5649

[2021-09-28 18:19] bilal-fazlani commented on #5530
I am running into this same issue now..

@quelgar were you able to find a work around for this? `Blocking` layer is now a "Blocker" for me :(

[code]

[2021-09-28 18:28] bilal-fazlani commented on #5530
This helped me too 👍🏽

[2021-09-29 15:49] #5666 closed

[2021-09-29 16:41] m00nb0w commented on #5630
hi @jdegoes, can I work on utf8Encode?

[2021-09-29 17:05] jdegoes commented on #5630
Yes, please do!

[2021-09-30 12:43] #5679 closed

[2021-09-30 14:04] codingismy11to7 opened #5696 "ZIO 2.0: ZIOApp broken on Scala.js"
I have a simple reproduction here: https://github.com/codingismy11to7/zio2_zioapp_sjs

The long and short of it is, while `zio.App` in ZIO1 works fine on Scala.js, the simplest program using `zio.ZIOApp` in ZIO2 always fails with `Cannot block for result to be set in JavaScript`

[2021-09-30 14:32] adamgfraser commented on #5696
Thanks for reporting! Will take a look.

[2021-09-30 16:32] jamesward commented on #3482
What ever happened with zio-analytics?

[2021-09-30 22:43] #5696 closed

[2021-09-30 23:17] adamgfraser commented on #3482
Still coming but focused on ZIO 2.0 for now!

[2021-10-01 10:03] atooni commented on #5649
We have updated the alogolia search config and the search should work now.
https://github.com/algolia/docsearch-configs/pull/4685

[2021-10-01 10:03] #5649 closed

[2021-10-02 08:25] khajavi opened #5703 "Documentation of ZState"
ZState does not have its own page in the documentation. It needs to be documented.

[2021-10-02 13:57] khajavi opened #5706 "Metrics: Helper methods for creating histogram buckets"
Since enumerating all buckets can be tedious, it would be better to have helper methods to create histogram buckets such as linear and exponential buckets like what we already have at the `zio-zmx` project.

[2021-10-02 14:01] khajavi commented on #5685
We can close this issue since it has been resolved.

[2021-10-02 14:03] adamgfraser commented on #5685
🎉

[2021-10-02 14:03] #5685 closed

[2021-10-02 15:19] adamgfraser commented on #5706
Good idea!

[2021-10-04 11:20] tusharmath opened #5713 "Streaming test results in ZIO Test"
It seems like at the moment the test results are accumulated and then printed altogether. In a fairly large project with hundreds of tests, it results in a bad user experience because you are looking at a blank screen for minutes sometimes.

It would great to keep outputting test results as and when they are complete. The user experience this way will become far better.

[2021-10-04 12:16] domdorn opened #5714 "allow `effectBlockingCancelable` to take a environment/clock for the cancel function"
I have the following code, where I have to repeat the cancel operation because for some reason the underlying code (which is invoked via JNI) doesn't properly kill the process, when I just do it once.

[code]

at the moment, I have refactored this to manually provide the clock to the cancel effect. However, this seems kind of wrong and unintuitive.

[code]

should the cancel operation be really a

[2021-10-04 15:18] adamgfraser commented on #5713
Yes it would be good to add this. We have to be careful when we do so that we maintain the ordering of test results and do not interleave them since multiple specs are likely being executed concurrently.

[2021-10-04 15:20] adamgfraser commented on #5714
No I don't think this is necessary. Will take a look.

[2021-10-05 02:40] #4327 closed

[2021-10-05 11:26] atooni commented on #5650
Fixed

[2021-10-05 19:38] jdegoes opened #5721 "ZIO 2.0: Add ZIOAspect.disableLogging"
Will be implemented via `zio.withRuntimeConfig(...)`.

[2021-10-05 19:41] jdegoes opened #5722 "ZIO 2.0: Consistently use 'unsafe' prefix on all necessarily side-effecting methods"
Plus document such convention in the contributor guide.

[2021-10-05 20:23] adamgfraser commented on #5721
Will do.

[2021-10-05 20:24] adamgfraser commented on #5722
Will do.

[2021-10-05 23:43] #5714 closed

[2021-10-06 07:05] khajavi opened #5728 "The ZIO Logger does not print the correct class file where logging occurred"
Assume the following snippet code written in `ZIOLoggingExample.scala` file (I'm on the `series/2.x` branch):

[code]
The output is:

[code]

The first log line prints the `ZManaged.scala`, but the second line works properly.

[2021-10-06 15:22] jdegoes opened #5732 "ZIO 2.0: ZIOApp improvements"
- [x] Rename `ZIOApp#args` to `ZIOApp#getArgs`
 - [x] Rename `ZIOAppArgs#args` to `ZIOAppArgs#getArgs`
 - [x] Add `getArgs` helper / accessor to `ZIOAppArgs` companion object, e.g.:
[code]

[2021-10-06 15:23] adamgfraser commented on #5732
On it.

[2021-10-06 15:31] adamgfraser commented on #5728
@khajavi Thanks for reporting! I think the best path to fix this is just to get in the ZIO 2.0 execution trace improvements.

[2021-10-06 16:02] #5721 closed

[2021-10-06 16:45] scottweaver opened #5736 "ZLayer Fails at Runtime with a 'java.lang.NoClassDefFoundError: scala/<repeated>' for Vararg Value Classes"
### Environment

**ZIO Version:**    1.0.11
**Scala Version:** 2.12.10 and 2.12.15
**JRE Version:**    14

### Expected Behavior

Exposing a value class whose argument is a vargarg e.g.  `case class VargArgsAnyVal(values: String*) extends AnyVal`,  via `ZLayer` should behave as any other type/class exposed by a ZLayer.

### Actual Behavior

Fiber crashes at runtime with a defect:
[code]
### Reprod

[2021-10-08 17:00] hmemcpy opened #5743 "`assertTrue` ignores the label, if assigned to AssertionResult"
It's possible to label the assertion result by `assert(...).map(_.label("my label"))`

It seems that doing this with `assertTrue` does not render the label.

![image](https://user-images.githubusercontent.com/601206/136595250-85802e2e-f2b5-4ac4-b84a-0c5f87bfd198.png)

[2021-10-12 04:52] jdegoes opened #5753 "ZIO 2.0: flip incorrectly requires CanFail"
`flip` can make sense to call even if `E =:= Nothing`.

[2021-10-12 04:52] jdegoes commented on #5753
Perhaps we should audit similar operators to ensure no overly aggressive use of `CanFail`.

[2021-10-12 04:53] adamgfraser commented on #5753
Will fix.

[2021-10-12 21:10] jdegoes opened #5762 "ZIO 2.0: Support ZPool max pool size"
Currently only min size is supported. In the event that all items in the pool are being used, then we could allocate more items, assuming the maximum has not yet been reached.

Eventually, if left alone for a sufficient amount of time, then a pool whose excess items are not being used should shrink down, but under no circumstances may it shrink to less than the minimum size.

[2021-10-12 22:04] jdegoes opened #5763 "ZIO 2.0: Improve shutdown robustness in ZPool"
For performance reasons, ZPool uses Queue, which means the size parameter may be inconsistent with the state of the pool. This might lead in rare situations to `shutdown` waiting for a state that will never be reached. The logic should be inspected and modified appropriately to ensure this can't happen.

[2021-10-13 00:41] adamgfraser commented on #5540
Closed by #5582.

[2021-10-13 00:41] #5540 closed

[2021-10-13 15:47] jdegoes opened #5768 "ZIO 2.0: Investigate flaky test"
[code]

[2021-10-14 12:19] adamgfraser commented on #5728
@khajavi Will take a look.

[2021-10-14 12:25] #5732 closed, assigned to adamgfraser

[2021-10-14 21:24] #4796 closed

[2021-10-15 13:16] adamgfraser opened #5779 "ZIO 2.0: Document Scalafix Migration"
We should document the Scalafix migration functionality For ZIO 2.0. This should be prominent in our materials as this is going to be relevant for anyone migrating to ZIO 2.0 and is going to dramatically reduce the time required to upgrade.

Copying @khajavi.

[2021-10-15 14:15] khajavi commented on #5779
I will document that.

[2021-10-15 15:29] jdegoes opened #5780 "ZIO 2.0: Create ChunkIterator"
[code]

where the contract is that you call the iterator as normal but you must pass it increasing indexes starting from 0; and if you don't, that's a violation of the contract and the results of iteration are undefined.

This way an array-backed chunk does not need to create or store the index on the heap, which is quite slow compared to the access of a local integer. Yet the lazy chunks can oper

[2021-10-16 11:11] dkarlinsky opened #5785 "Include the JVM stack up to `Runtime.unsafeRun*` in the fiber trace"
**The problem:**
Currently the fiber traces collected and attached to errors only cover the execution inside ZIO universe.
Which is fine if your whole app (or most of it) is ZIO.
But when interoperating with non-ZIO code we often have flows where non-ZIO code is invoking ZIO effects via `Runtime.unsafeRun*` and if the effect fails, or an error is logged by it, the trace doesn't contain any info on

[2021-10-16 13:45] adamgfraser commented on #5785
I think this makes sense. We're doing some work on improving the way traces are rendered but depending on the timing we can just build on top of that. I would definitely submit against the `series/2.x` branch.

[2021-10-17 00:11] WillemHoman opened #5786 "Zio version in Getting Started does not exist"
[code]
https://zio.dev/getting_started/
![zio3](https://user-images.githubusercontent.com/2238749/137605019-bc6e9466-e6a8-4da2-b909-f6d5a2a82226.png)

![zio2](https://user-images.githubusercontent.com/2238749/137604999-b8ae10d2-53eb-4147-8335-db9edc703a63.png)

[2021-10-17 01:26] adamgfraser commented on #5786
@khajavi @atooni We should tie this to the latest release.

[2021-10-17 06:54] khajavi commented on #5786
Yes, I noticed that before. I will check it later today.

[2021-10-17 18:16] #5780 closed

[2021-10-17 18:16] #5762 closed, assigned to adamgfraser

[2021-10-17 18:16] #5763 closed, assigned to adamgfraser

[2021-10-17 18:41] mvillafuertem commented on #5173
Hi @adamgfraser, I have been trying to pass the test and I have succeeded, but I do not know if the way is correct. What is the best way to acquire a list of fibers?

[code]

[2021-10-17 18:41] jdegoes opened #5789 "ZIO 2.0: Add missing assert variants"
- [ ] `assertFails`
 - [ ] `assertFalse`

???

[2021-10-18 08:29] reibitto opened #5790 "zio.test.PrettyPrint `NullPointerException` when trying to render output"
Sorry @kitlangton, I mentioned this on the Discord but took me a while to get back to it to create a small reproducer. The `NullPointerException` started happening with 1.0.12. It looks like it happens when trying to introspect fields in case classes that are null. For example:

[code]

will produce:

[code]

This only happens with the smart asserts.

[2021-10-19 03:51] adamgfraser commented on #5173
@mvillafuertem Sorry, what list of fibers are you trying to get?

Yes, by creating the `effectBlocking` fiber you are creating another fiber that will not be suspended which will prevent the clock from being advanced while the `Future` is running, though it could be subject to some indeterminacy based on exactly when the two `sleep` calls return.

[2021-10-19 14:10] kitlangton commented on #5790
Thanks @reibitto! Shouldn't be too hard of a fix :)

[2021-10-19 15:52] adamgfraser opened #5796 "Document the Latest ZIO 2.0 Features"
- [ ] Tracing - from a user perspective "keep calm and carry on", traces will be automatically generated for you, will be faster and have less cruft.
- [ ] Compositional concurrency - new semantics of `foreachPar` and friends, operators to control level of parallelism for parallel operators on a regional basis
- [ ] Pool - new concurrent data structure for resource pool

[2021-10-19 15:56] adamgfraser opened #5797 "Add ZIO 2.0 Migration Guide Section for Library Authors"
This should cover ZIO 2.0 features that are relevant to contributors to ZIO ecosystem libraries as opposed to users. Suggested topics:

- [ ] Adding implicit trace parameters so the "guts" of your library don't show up in user execution traces
- [ ] Making all parameters to operators returning an effect by name
- [ ] Updating names to match ZIO 2.0 naming conventions
- [ ] Changing parallelism ope

[2021-10-19 16:00] swoogles opened #5798 "Complete 2.0 Migration Guide"
Tagging @khajavi as the resident Migration Guide expert :)

Some of the more recent changes need to be added to the guide.

## ScalaFix
We want to strongly encourage maintainers to start by applying this rule.

1. Add sematicDb entries to `inThisBuild` section of build.sbt:
[code]

2. Add this entry to `projects/plugins.sbt`
[code]
Note- You must apply the rule to your project _before_ bumping ZIO

[2021-10-19 17:16] khajavi commented on #5798
Thank you for your notes.
There is an ongoing PR (#5792) on scalafix migration, which is related to your notes.
I will add sections about compositional concurrency and by-name parameters.

[2021-10-20 05:03] khajavi commented on #5706
This issue is addressed in #5778.

[2021-10-20 07:07] regiskuckaertz opened #5800 "Add CountdownLatch"
[code]

[2021-10-20 07:13] regiskuckaertz opened #5801 "Add CyclicBarrier"
[code]

[2021-10-20 07:16] regiskuckaertz opened #5802 "Move Semaphore under zio.concurrent"
The existing `zio.Semaphore` is moved under `zio.concurrent`. In its place, proxy constructors are introduced and marked as deprecated, to be removed at the next release cycle.

[2021-10-20 11:19] frekw opened #5804 "`@mockable` fails to mock service that returns a stream"
[code]

results in

[code]

Scastie: https://scastie.scala-lang.org/TI31eGKgREujOvkSwUO8Ag

[2021-10-20 15:55] alphaho opened #5805 "[Suggestion] rename ZLayer to ZDependency"
When I introduce ZIO to my colleagues, who are new to both Scala and ZIO, they find it hard to understand the `ZLayer` concept and the `R` parameter in ZIO, even after they understand `IO[E, A]`.

One feedback I get from them is that it may be better to rename `ZLayer` to `ZDependency`, as "dependency" is a more familiar concept. They can recall their earlier experience using Spring and other depe

[2021-10-20 19:30] regiskuckaertz opened #5807 "Add ReentrantLock"
This is a wrapper over `zio.stm.TReentrantLock` which forwards calls to it and commits immediately.

[code]

[2021-10-20 19:57] regiskuckaertz opened #5808 "Add ConcurrentMap"
A wapper over `java.util.concurrent.ConcurrentHashMap`:

[code]

### What about `TConcurrentMap`?

There is a question of whether a wrapper over the STM flavour would compete with the above in terms of performance... unlikely, but perhaps there are some optimisations that could be made to the code. One thing though, is that Java `Function`s and `Consumer`s are not functionals; they can and often h

[2021-10-21 04:26] khajavi commented on #5797
Will do that.

[2021-10-21 06:12] adamgfraser commented on #5808
I think this one could be implemented by wrapping a mutable concurrent map and suspending operations in effect constructors.

[2021-10-21 06:29] khajavi opened #5809 "ZIO 2.x: Ecosystem Migration Status"
In the migration guide, we have a section in which we ask users to make sure that their direct and transitive dependencies were migrated to the ZIO 2.x, before starting the migration process.

It would be better to have a place to follow up and present project statuses.

## Offical Libraries

| Project                                                     | Status |
|--------------------------------

[2021-10-21 08:49] adamgfraser commented on #5808
I think we could definitely do either way and wrapping the `ZSTM` data types does have an advantage that you could potentially expose the additional operators.

However, I think at least in this case the performance difference might be significant since there is a lot of optimization that went into the concurrent map implementation. And this is one you might call many times in your application if

[2021-10-21 08:53] adamgfraser commented on #5809
@khajavi Completely agree. Where do you think would be the best place for this to live? Was thinking we could have a Google Doc with this but could also just track it in an issue or somewhere else.

Copying @swoogles who has been doing some work on helping with ZIO 2.0 migration.

[2021-10-21 10:18] KineticCookie commented on #5804
I encountered the same issue.
In addition to that, I think there is no easy way of writing stream mocks in `zio-test` — there *is* a `Stream` Capability in Mock class, but `Proxy` class used in `compose` only works with `ZIO`.
As for now the only workaround I found is to manually implement service mocks using `withRuntime` and `unsafeRun` for methods that return ZStream. (and that feels kinda weir

[2021-10-21 12:11] swoogles commented on #5809
Here's the current doc-

https://docs.google.com/spreadsheets/d/1QIKgavognTRgh84xAqPTJriJ1VDGbaw8S1fmzMGgf98/edit?usp=drivesdk

If there's a better place for that information to live and be edited by the relevant people, I'd be happy to move it!

[2021-10-22 17:58] #5809 closed, assigned to nobody

[2021-10-23 04:34] adamgfraser opened #5821 "Flaky TestClock#asScheduledExecutorService Test"
[code]

[2021-10-23 05:44] regiskuckaertz opened #5823 "Add ConcurrentSet"
A wrapper over `java.util.concurrent.ConcurrentHashMap.KeySetView[K,​ Boolean]`.

[code]

[2021-10-25 17:12] balhoff opened #5825 "program using streams never exits (ZIO 2.0.0-M4)"
My program based on ZIO stream doesn't exit in some cases. I whittled it down to this:

[code]

Changing various things allows it to to complete (start with a smaller range, remove the `take`, remove `mapZIOParUnordered `, etc.). I'm using ZIO 2.0.0-M4, Scala 2.13.6, Java 11.0.4, MacOS 11.5.2.

[2021-10-26 06:50] khajavi opened #5829 "Creating a pool of managed resources dependent on an environment"
While I was documenting the `ZPool` I found that I can't `make` a pool of managed resources that depend on an environment (e.g. `ZManaged[Has[ServiceName], E, A]`).

I think we need a constructor like this:

[code]

Correct me if I’m wrong.