[2020-04-05 18:54] LeeTibbert commented on #3278
To keep this issue current...

The recent documentation PR by @adamgfraser (thank you) did what I think can be done for the near-to-mid range.  It describes Platform differences, including the concern herein.  IMHO, giving
users a fair shot of not falling into a black hole (or at least confirming that it is a well known black hole) is the best that can be done for 1.0.0.

I will keep this issue ac

[2020-04-05 19:08] adamgfraser commented on #3296
Closed by #3294.

[2020-04-05 19:08] #3296 closed

[2020-04-05 19:47] ioleo opened #3298 "ZIO Mock document impure vals caveat"
As explained in #3292:

This caveat should be added to documentation and also added a check in `@mockable` with appropriate error mesage.

[2020-04-05 23:44] ahoy-jon opened #3301 "Improving performance on Chunk"
Chunk could be improved in different ways.

- `Concat` could be specialized and improved with:
[code]
This change could help a lot with #3233 .
The tail of those structures would be used to hold the element just added to the end of the structure.

For example:
[code]

- `Slice` could be removed and pushed to `Arr` and `VectorChunk`
[code]

- `materialize` could be optimized, keep Concat and group

[2020-04-06 07:37] vilu commented on #3234
I'm still up for working on it but all of a sudden I had less spare time than I thought. If someone wants to give it a go instead of me please go ahead.

[2020-04-06 09:42] Vilkina commented on #3301
I'll take that ticket

[2020-04-06 17:31] ahoy-jon commented on #3301
Interesting resources :
* https://github.com/scala/scala/pull/8534
* https://github.com/clojure/clojure/blob/master/src/jvm/clojure/lang/PersistentVector.java

[2020-04-06 20:48] jdegoes commented on #3234
@adamgfraser Awesome, happy to pair on this too, especially for the performance bits!

[2020-04-06 20:58] jdegoes commented on #3289
This will be super cool. It's important to minimize interference with benchmark specs, which means:

 — Only one of them running globally at any one time (no cross-spec parallelism)
 — Do a garbage collection prior to each run, to minimize GC inference
 — Minimizing per test overhead (`provide`, etc.); ideally we just repeat that test
 — Repeating the benchmark in a tight `flatMap` loop

A lot of

[2020-04-06 22:43] alexknvl opened #3308 "Interrupt w/ bracket doesn't work."
[code]

Never terminates.

[2020-04-06 22:46] alexknvl commented on #3308
`mw.interruptible.fork` works.

[2020-04-06 22:46] #3308 closed

[2020-04-07 03:39] adamgfraser opened #3310 "Potential Flakiness in Stream Tests"
I've occasionally been seeing situations where CI runs on the JVM will time out for what appear to be innocuous changes. It looks from the test output like this is occurring somewhere in the ZIO Stream test suite. Example output is below.

https://app.circleci.com/pipelines/github/zio/zio/6635/workflows/5471de89-8a19-4d8e-8c1f-3f3decb07cb0/jobs/68189

[2020-04-07 03:52] ahoy-jon commented on #3238
I take it ( #3311 )

[2020-04-07 03:53] adamgfraser commented on #3238
Awesome!

[2020-04-07 10:35] hmemcpy opened #3312 "Provide envOr*, propertyOr* overloads for zio.system"
These are useful overloads that exist in the standard library's `scala.util.Properties` to provide a fallback value (or a failure). It would be useful to have them in zio.system.

[2020-04-07 11:13] adamgfraser commented on #3312
I will add these.

[2020-04-07 11:22] adamgfraser commented on #3312
@hmemcpy It seems like the `OrElse` and `orSome` variants make sense but `orNone` doesn't because the value returned by the ZIO version of these combinators is already an optional value. Does that make sense to you?

These can be implemented very straightforwardly in terms of existing combinators as `env.map(_.orElse(option))` or `env.map(_.getOrElse(fallback))` but I can see the value in having t

[2020-04-07 11:46] hmemcpy commented on #3312
Thanks Adam! Yeah, I agree orNone isn't very helpful. I was just poring over some code to ZIO and wasn't sure how to best provide a fallback value.

[2020-04-07 11:49] adamgfraser commented on #3312
Yeah, using `map` and the normal `Option` combinators or some of the option combinators on ZIO is the best way to do it right now. Like you could do `env(variable).get.orElseSucceed(fallback)`. And this is in some ways more composition if you want to chain multiple fallbacks. But agree it is nice to have at least the same functionality as the standard library on the interface.

[2020-04-07 15:31] adamgfraser commented on #3234
@jdegoes That would be great. Let me put together an initial version and then would love to do that!

[2020-04-07 16:27] ioleo commented on #3268
Also document support for `by-name` parameters #3314

[2020-04-07 20:42] #3312 closed

[2020-04-07 20:43] hmemcpy commented on #3312
😘

[2020-04-08 09:22] ioleo opened #3315 "Best practices user guide"
When learning ZIO, comeing from non-FP background, our users may fall into some caveats. For example, being used to `ScalaTest` they might do:

[code]

Instead of `assert(...) && assert(...) && assert(...)`.

This error would not be caught by the compiler, unless you enable `-Ywarn-value-discard` and `-X-fatal-warnings`. We should have some sort of "Best practices" user guide documenting such cave

[2020-04-08 09:29] psisoyev commented on #3315
Bear in mind that adding compiler flags
[code]
do not solve the issue. [Scastie reproducing the issue](https://scastie.scala-lang.org/3mk8vs4vRbK1Pl7YMulfkA)

[2020-04-08 09:31] ioleo commented on #3315
Perhaps we should promote https://github.com/zio/zio-shield

[2020-04-08 09:48] adamgfraser commented on #3315
I think creating a FAQ could be a good way to address this and similar issues.

This is definitely a good watch out but I can think of lots of others (e.g. accidentally creating a `Ref` or other mutable state each time instead of creating it once and using it, trying to interrupt a fiber forked in the `acquire` action of `bracket`, etc...).

If we took the answers to questions that arose from issu

[2020-04-08 10:07] psisoyev opened #3316 "Lowercase methods names in ZIO Mock"
The current implementation of ZIO Mock recommends having UpperCase object names for method definitions. Example:
[code]

In official [Scala style guide](https://docs.scala-lang.org/style/naming-conventions.html#objects) it is mentioned that it is ok to use lowerCase object names when mimicking functions:

On the caller side it would look like a normal method call if lowerCase names are used:
[code

[2020-04-08 10:12] ioleo commented on #3316
Thanks for opening. In the earlier ZIO Mock versions we also used lowercase names, then after some feedback I switched to uppercase. I'd like to avoid swinging back and forth, so this issue is to collect the feedback and settle once and for all which should be the default style (supported by `@mockable` macro). I will also add an optional parameter allowing to switch to the other style.

CC @jdego

[2020-04-08 10:16] adamgfraser commented on #3316
I think the lower case syntax is more natural and allows the user to hopefully not have to think about the fact that these are objects instead of methods. After all, the goal is to mimic calling the real methods on the service implementation.

[2020-04-08 11:25] jdegoes opened #3317 "Improve error messages with Has"
Due to use of implicit syntax, some operators will not appear on a `ZLayer` unless `ROut <: Has[_]`. This can decrease discoverability. It would be nicer if the user could always try the operator, and just get a custom error message if `ROut` has the wrong shape.

Similarly, some binary operators cannot be used unless the right hand side also has an `ROut2 <: Has[_]`. If it fails to have this boun

[2020-04-08 11:26] adamgfraser commented on #3317
Good idea. I will add this.

[2020-04-08 13:24] pierangeloc commented on #3268
I'm having a look and will come with some suggestions

[2020-04-09 08:54] threeseed opened #3323 "ZIO Core: Improve handling of Maps"
It would be nice to have a few extra functions dedicated to handling Maps e.g.

[code]

[2020-04-09 11:26] adamgfraser commented on #3323
These can all be implemented pretty easily in terms of `foreach`:

[code]

There is definitely some value in users not having to do this, but I am also a little worried about the number variants of these methods we already have (sequential / parallel / parallelN, and then iterable, option, chunk, and nonempty chunk). I'm also not sure how common it is to have effects as values in maps.

[2020-04-09 12:00] iravid commented on #3323
It is definitely fairly common to traverse maps but I share the concern about the variant explosion. Maybe we can explore a variant that uses CanBuildFrom (2.12-) or Builder (2.13+)?

[2020-04-09 12:59] adamgfraser commented on #3323
Yes. Let me look into that.

[2020-04-09 12:59] neko-kai commented on #3323
`foreachValues` is redundant because maps already implement `Iterable[(A, B)]`

[2020-04-09 13:09] adamgfraser opened #3324 "Unify ChunkSpec"
Currently tests for Chunk are split up between two different `ChukSpec.scala` files in the `coreTests` and `streamTests` projects. We should unify all chunk tests in the file in `coreTests` and also move the chunk generators in `ChunkUtils.scala`, which explicitly generate all the different subtypes of chunks, to that file.

Then we should update the chunk generators used in all the stream tests t

[2020-04-09 13:16] nadenf commented on #3323
Sure. But mapValues is a pretty commonly used part of Scala collections:
https://github.com/search?q=mapValues+language%3Ascala&type=Code

And I am finding that pretty much all my code is in an effect type e.g. UIO to help with composability. So having an effects as a value in a Map is not that different to a List or Option.

[2020-04-09 16:49] #3317 closed

[2020-04-09 21:20] jozi-k commented on #1219
I believe this issue can be closed now.

[2020-04-10 06:30] afsalthaj commented on #2554
@adamgfraser  I missed out the conversation, though I learned this is taken up through discord channels. Thanks a lot again !

[2020-04-10 06:31] afsalthaj commented on #3240
@adamgfraser  Thanks for taking up and waiting for the next release :)

[2020-04-10 10:30] ioleo opened #3329 "ZIO Mock support mocking objects outside of environment"
A use case emerged on discord:

[code]

Currently ZIO Mock can check expectations on calls to capabilities exposed by the environment. In this case `createBatch` can be mocked, however not `createItem` or `commit`. The purpose of this issue is to explore if and how we could add support for this use case.

[2020-04-10 12:38] vasilmkd commented on #3324
I'll take this now.

[2020-04-10 12:55] reibitto opened #3331 "ZIO Test: More precise test selection?"
Right now the `-t` flag is a contains match. This is convenient and works in the common case, but I wonder if we need an additional option. For example, consider this case:

[code]

If you run `testOnly *.ParserSpec -- -t "parse correctly"` 3 tests are going to run.

There are cases where you want precise matching (for example, when using this with a tool like @hmemcpy is with IntelliJ).

I'm not

[2020-04-10 12:58] adamgfraser commented on #3331
I think you would have to specify a path. Like "JSON" "parseCorrectly" and then we would first find the matching suite and then look for a match for the next term within its children and so on.

[2020-04-10 12:58] hmemcpy commented on #3331
In these cases, I always delegate to the "established" norms, aka WWSD ([what would sbt do](https://www.scala-sbt.org/1.x/docs/Testing.html)). I think the default should be an exact match, with possible wildcard support.

[2020-04-10 13:04] reibitto commented on #3331
I originally based this feature on scalatest's `-z` flag which is also a contains match. I think it sort of makes sense as a default because labels can get quite long (depending on how you name your tests). It's easier to just type a phrase that is contained in it.

A new option for path matching sounds alright to me though. That could be stricter.

[2020-04-10 13:06] reibitto commented on #3331
But I see your point that adding asterisks on both sides is not much extra typing.

[2020-04-10 14:42] vasilmkd commented on #3331
Can anyone confirm if there's an issue with `coreTestsJS/testOnly zio.ZIOSpec -- -t "blah"` failing with the following trace:
[code]

[2020-04-10 19:09] felher opened #3334 "Defect in zio.Has when combining layers of the same type"
Hey folks,

I stumbled upon a runtime exception in `zio.Has` today when doing some experimenting. When you combine a layer with a combination of two layers of the same type, the two layers get erased:

[code]

results in a
[code]

The problems seems to be that the inferred type of `ZLayer.succeed("a") ++ ZLayer.succeed("b")` is `ZLayer[Any, Nothing, Has[String] with Has[String]]`. But a `Tagged[X

[2020-04-11 14:12] TimPigden opened #3338 "add combinator to easily chain ZIO[R, Option[E], T]"
One way of giving an idiomatic partial function in zio is potentially to have a function return
[code]
If the operation matches, then return succeed(t), if it fails fail(Some(e)) and if there's no match then fail(None)
This can then be chained to another function which does the same thing.
A zio combinator would inspect the result of the first function and call the second only for E(None) - you'd

[2020-04-11 14:16] adamgfraser commented on #3338
@TimPigden Thanks for raising. Looking at this now.

[2020-04-11 14:33] adamgfraser commented on #3338
How about?

[code]

[2020-04-11 15:58] #3324 closed

[2020-04-11 21:59] mijicd commented on #3289
I'm not 100% sure this should be a regular spec. Perhaps it's better to have a separate "hierarchy" for benchmarks that could allow aspects (or combinators?) as the one mentioned above.

[2020-04-11 22:03] adamgfraser commented on #3289
Potentially. We had a different Spec for using suite level managed resources instead early draft. I tend to think we should try to do it as part of the same spec because we will get a lot of things “for free” and then if we run into issues we can consider falling back to that.

[2020-04-11 22:16] mijicd commented on #3289
True, but we need to make sure these tests are properly isolated. Benchmarks tend to be tedious and occasionally long running, so it might not be the best idea to allow composing them with regular ones.

[2020-04-11 22:23] adamgfraser commented on #3289
Yes. If we annotate the tests statically we could also have the test framework either fail or display a warning if benchmark tests are mixed with non-benchmark tests, or run all the benchmarks before or after running any other tests.

[2020-04-12 03:38] luis3m commented on #2153
I suggest having a more descriptive type:
[code]
I'm also in favor of naming the new function `exitCode` which would be consistent with `.either`. Entry function would look like this:
[code]

An integer may be intuitive enough for a Java or C programmer but probably not for someone who's starting to code and perhaps many programmers who have never used exit codes before.

[2020-04-12 18:35] iravid commented on #3290
Both of these tests now work on `feature/zconduit` 🎉 Closing this one out. Thank you for testing these cases @simpadjo.

[2020-04-12 18:35] #3290 closed

[2020-04-12 19:16] iravid commented on #2684
Resolved by #2773

[2020-04-12 19:16] #2684 closed

[2020-04-12 19:53] iravid opened #3347 "The new ZStream/ZConduit design"
Writing this up to document the current design for anyone looking to contribute.

### ZStream

The main change for `ZStream` is implicit chunking. This means that `ZStream` is now defined as:
[code]

Contract notes:
- Pulling a stream emits a chunk, an error (`ZIO.fail(Some(E))`) or an end-of-stream signal (`ZIO.fail(None)`).
- Pulling a stream after it has signaled end should keep failing with `N

[2020-04-12 19:58] iravid commented on #2551
As the conversation here has died down, I am closing this in favor of #3347 🙏🏻

[2020-04-12 19:58] #2551 closed

[2020-04-12 21:03] #3234 closed

[2020-04-13 11:41] simpadjo commented on #2719
@iravid thanks for updating the status.
Picking `race` and `zipPar` families.

[2020-04-13 15:17] adamgfraser opened #3350 "Support Reference That Writes Values to a Stream"
I think we can implement this by giving `RefM` the `ZRef` treatment, which would allow use to add combinators like `mapM`, contramapM`, `tapInput`, and `tapOutput` to `RefM`. Then we could add a constructor for `RefM` that returns a ` RefM` and a `ZQueue` with the reference set to automatically publish changes to the queue. Then in ZIO Stream we could expose a version of this combinator that just

[2020-04-13 17:19] adamgfraser opened #3353 "Add More Chunk Benchmarks"
Now that `Chunk` extends `IndexedSeq` we have a lot more inherited methods that we should benchmark. I would suggest we adapt the benchmarks from the Scala collection library [here](https://github.com/scala/scala/tree/2.13.x/test/benchmarks/src/main/scala/scala/collection/immutable). This will both give a very clear point of comparison and also highlight areas where we can make combinators more ef

[2020-04-13 17:57] jdegoes commented on #3301
1. Materialize should not be changed, it's purpose is to force the chunk to be strict (no laziness), so making it lazy which just defeat the point of its existence.
2. How would `Concat` specialization improve anything?
3. Removing `Slice` could be useful. "Inlining" it into `Concat` (concat would have to force it down into the left and right children, discarding, if necessary, left or right when

[2020-04-13 18:13] ahoy-jon commented on #3301
1. it could be changed so it doesn't rewrite already optimized parts of the structures.
2. The specialization could help with the different layers of the Tree, Level0 (ConcatArr) for structures up to 1024 elements, LevelN (Concat). The tail helps with append on the right.
3. was done then removed in a previous PR (NonEmptyChunk), will reintroduce it when possible.

[2020-04-13 19:08] jdegoes commented on #3301
1. The goal of materialize is to allocate an array, and copy all the data inside there, then wrap the array into a chunk. I think it can be optimized somewhat, but mainly by using System.arraycopy to copy the array parts into the target array.
2. Ok, I see. Yes, I think `Concat` could benefit from richer structure. See [here](https://github.com/scala/scala/pull/8534) for what Scala's vector is cur

[2020-04-13 20:35] adamgfraser commented on #3338
Resolved by #3339.

[2020-04-13 20:35] #3338 closed

[2020-04-13 21:07] erdavila opened #3355 "Leak in Scala.js + ZIO 1.0.0-RC18-2"
After upgrading my Scala.js app from 1.0.0-RC17 to 1.0.0-RC18-2, an ever increasing memory consumption was noticed.
During upgrade, the only code changes were:
* replacing `zio.internal.PlatformLive.Default` with `zio.internal.Platform.default` in a custom `Runtime` object
* replace calls for `(new zio.clock.Clock.Live {})._someMethod_(...)` with `zio.clock._someMethod_(...).provideLayer(zio.clock

[2020-04-13 21:36] jdegoes commented on #3355
It is possible but not certain that this is related to automatic supervision (parent fibers now track child fibers). We should make sure that when fibers end life, they are cleaned up. However, this will not take care of situations where fibers run forever, or at least, never terminate (e.g. `IO.never.fork`)

[2020-04-13 21:57] adamgfraser opened #3357 "Improve Support for NonEmptyChunk"
While overall `Chunk` took a step forward with extending `IndexedSeq`, our support for the `NonEmptyChunk` concept took a step back with that since method names we would like to use are now already defined by `IndexedSeq` so right now we have the somewhat awkward `mapNonEmpty`, `flatMapNonEmpty`, and `concatNonEmpty` to preserve the information that a `Chunk` is nonempty.

I wonder if we should co

[2020-04-14 01:17] ahoy-jon commented on #3301
1. Scala Vector and Clojure Vector are using a tree structure with leaf at 32 elements. It seems that the page size makes is great bellow 256 elements. Materializing on large chunks could have a cost (to be proven with benchmarks).
2. I took the time to read it before proposing the issue. A version with 1 level and a tail (like the PersistentVector from Clojure) could be faster to implement.
3. Sl

[2020-04-14 01:55] ahoy-jon opened #3360 "ClassTag on Chunk is having issue in ScalaJS"
while working on #3358, found a bug on the master.

To reproduce :
[code]
The error:
[code]

using
[code]

[2020-04-14 01:58] adamgfraser commented on #3360
Yes, I noticed the same thing. I think the issue is that there is no underlying representation of these types on ScalaJS, so `1` is a valid `Int`,`Byte`, and so on. We end up casting to the first value that the number "fits into"`, which can be the wrong one. I think the way we need to address it just remove the `Tag.fromValue` machinery on ScalaJS altogether and just treat everything as `Any` int

[2020-04-14 02:12] ahoy-jon opened #3361 "concatNonEmpty not working on 2 nonEmptyChunk"
If you do
[code]

It doesn't compile

[2020-04-14 02:14] adamgfraser commented on #3361
Yes. Maybe now that we are using a different name we can go back to using the implicit syntax trick we used on `Chunk` before?

[2020-04-14 02:35] erdavila commented on #3355
I tracked the problem down to one of the changes made during the upgrade :flushed:. The line
[code]
was replaced with
[code]
. This line is in a service that was not migrated to the `ZLayer` approach. During execution of the task that runs every 5 minutes, this code is executed around 500 times, which adds to the leak.

If it is instead replaced with
[code]
the leak is not observed.

---
Using the

[2020-04-14 02:43] adamgfraser commented on #3355
@erdavila Thanks for the detailed information. That is super helpful in tracking down the problem.

[2020-04-14 11:05] neko-kai opened #3365 "ZIO Tracing & ZMX docs"
There's currentlytno microsite section for tracing & fiber dumps. It would be great to rectify that and have a section describing:

1. .traced/untraced
2. Fiber.dump & ZMX
3. Runtime.withTracing & TracingConfig options
4. How to read traces, what do they mean and how are they obtained
5. How to read fiber dumps

/cc @softinio

[2020-04-14 13:21] adamgfraser opened #3369 "Explore Unifying ZIO Collection Combinators"
Right now we have a lot of collection combinators like `foreach` and `collectAll` that have `Iterable`, `Chunk`, and in some case `Option` variants. We also have a variety of other combinators that could probably use `Chunk` variants (see #2781 for a relatively comprehensive list).

It would be nice if we could unify these different variants. I think there are a couple of options that we could pur

[2020-04-14 13:41] #3361 closed

[2020-04-14 14:21] softinio commented on #3365
@neko-kai for sure we need to do this

[2020-04-14 14:26] jdegoes opened #3371 "Implement fast single-element append for Chunk"
A prototype of the proposed approach:

[code]

There may be bugs in the approach (needs testing) but currently benchmarking at 3x the performance of Vector's add.

/cc @ahoy-jon

[2020-04-14 14:51] jdegoes commented on #3369
I really like the first approach. I think we can ignore Maps and anything else that doesn't have kind `* => *`.

[2020-04-14 14:52] jdegoes commented on #3360
To fix this, on Scala.js specifically, we can ignore class tags entirely and just use `Array[Any]`.

[2020-04-14 14:56] jdegoes commented on #3357
I think I like it. 👍

[2020-04-14 16:43] sergei-shabanau opened #3372 "Discrepancy between comments and implementations of `zio.internal.Stack.pop()`"
Comment for `.pop()` says

however implementation is optimistic and throws `ArrayIndexOutOfBoundsException`

The same happens for `.peek()`

[2020-04-14 16:45] ahoy-jon commented on #3238
Current implementation on master is not working for a large chunk:
[code]
Is raising a stackoverflow.

[2020-04-14 17:00] ahoy-jon commented on #3371
Sorry, I won't have time on this one.

[2020-04-14 17:06] adamgfraser commented on #3371
I’ll take it.

[2020-04-14 18:35] ahoy-jon commented on #3357
`NonEmptyChunk` could be removed totally from `Chunk` to that point and be moved elsewhere, even to /dev/null.
I just tried to use it and couldn't without casting.

[2020-04-14 18:36] adamgfraser commented on #3357
Can you say more about the issues you ran into?

[2020-04-14 18:48] ahoy-jon commented on #3357
Sorry, I was doing some `++` and `apply` on a `foldLeft`. (doing benchmarks)

[2020-04-14 18:50] adamgfraser commented on #3357
Well `++` is definitely not going to preserve the nonempty status at this point. If you use `concatNonEmpty` it should work unless there is something else going wrong that I'm not understanding.

[2020-04-14 20:06] iravid commented on #3357
Agreed on making `NonEmptyChunk` a separate type with appropriate forwarders.

[2020-04-14 20:07] adamgfraser commented on #3357
On it.

[2020-04-15 00:24] alexknvl opened #3373 "FiberRefs do not propagate into RefM.modify"
`RefM.make` spawns a fiber during construction, so `FiberRef`s do not correctly propagate inside of `RefM.modify(...)`:

[code]

I expected it to print `1`, but it actually prints `0`. I don't know what the correct behavior should be, but I think this is a bit counter-intuitive.

[2020-04-15 01:02] alexknvl commented on #3373
The following implementation does not suffer from the same problem, has the same semantics w.r.t. `modify` operations being serialized, and is presumably much faster.
[code]

`RefM.set` seems to be bogus as well, since it can run at the same time as `modify`, leading to race conditions...

[2020-04-15 11:44] adamgfraser commented on #3369
Sounds great!

[2020-04-15 15:29] chikei commented on #3329
A possible implementation (a bit ugly on usage though):
[code]

[code]

[2020-04-15 16:07] calvinlfer commented on #3365
@neko-kai and @softinio, @FrancisToth and I would be happy to take this on with some initial help and guidance from you

[2020-04-15 18:52] #3357 closed

[2020-04-15 19:23] softinio commented on #3365
@calvinlfer @FrancisToth that would be awesome thank you

items 1, 3 & 4 - @neko-kai can provide input and I would start with these

Iets separate Fiber Dump and ZMX

*Fiber Dump*
 I have this PR on its way and have started a page on it in this PR so perhaps post this PR expand on what I have in that PR especially on how to use fiber dumps in code. Happy to help and also @adamgfraser can provide h

[2020-04-16 10:22] marktoujiline commented on #3353
I'd like to take a crack at this.

[2020-04-16 10:42] adamgfraser commented on #3353
@marktoujiline Great!

[2020-04-16 11:12] octavz opened #3380 "ZIO Test: Multi JVM testing"
It would be nice to have the option to test  clustered systems in a multi-jvm environment.
It would be useful in scala world for `akka-cluster, spark, hazelcast, zio-keeper` setups.
Previous work was done in multi-jvm sbt plugin and there are integrations with scalatest and akka-cluster

One of the possible syntax would be to use it  as simple as test/suite aspect.

[code]

[2020-04-16 11:32] davidpdrsn opened #3381 "`currentDateTime` in tests doesn't change unless you call `sleep`"
I'm having trouble understanding how to set/change the time in tests. It seems to me that calling `TestClock.adjust` doesn't have any impact on `currentDateTime` _unless_ you call `sleep` first.

In this code the first test passes while the second fails. The only difference is the fact that the first one calls `sleep` whereas the second one doesn't.

[code]

Is this intentional or a bug of some ki

[2020-04-16 11:38] adamgfraser commented on #3381
@davidpdrsn This is intentional. The issue is that `currentDateTime` needs to reflect the amount of time that sleeps have occurred on that fiber for more complex effects that access the time to work correctly. For example, in a `Schedule`, the schedule may access the current time as part of determining the next interval for the schedule. If we have something like `Schedule.fixed(1.second)` and the

[2020-04-16 11:46] davidpdrsn commented on #3381
Alright thanks. I'll give that a shot.

[2020-04-16 11:46] #3381 closed

[2020-04-16 14:58] jdegoes opened #3383 "Special case Chunk constructors for bit chunks"
Currently, a user can create a `Chunk[Boolean]`, which is backed up by an `Array[Boolean]`. However, booleans are not a very efficient way to represent bit data.

In order to improve efficiency, we should special case the construction of `Chunk[Boolean]`, and make sure that we always back it by `Chunk.BitChunk`, which is a special chunk subtype that encodes booleans using the bits inside a byte ar

[2020-04-16 15:00] jdegoes commented on #3373
I think we can replace it with a `Semaphore`. It'd be nice to see a benchmark, because in essence we're trading a fast queue for the "queue" inside Semaphore. But I don't think `RefM` should be used for performance sensitive work so it's probably just fine.

The other way to solve it would be to call `Fiber#inheritFiberRefs` to grab the fiber refs from the child fiber.

[2020-04-16 15:01] jdegoes commented on #3372
Since `A <: AnyRef`, it would be ok to return null here instead of throwing, and faster anyway.

[2020-04-16 15:22] adamgfraser commented on #3373
I can work on this.

[2020-04-16 15:48] jdegoes opened #3385 "Expand Chunk to support `Long` sized chunks"
Currently `Chunk` uses `Int` instead of `Long` in some places, which limits the size of bit chunks to around 230 MB. Conceivably, a bit chunk could be bigger than that. Other sizes are also limited but not to such extreme measures.

To allow for larger sizes, we should expand Chunk to use Long for things like indexing and size.

Look particularly at:

 - `Chunk#apply`
 - `Chunk#length`

[2020-04-16 15:54] jdegoes opened #3386 "Add specialized accessor operations to `Chunk`"
As the first step toward having specialized chunks for different primitive types, we can add accessors that are also specialized, which can avoid the overhead of boxing for single element access:

[code]

These default implementations will be slow, but that's not the point: they can be overridden in specialized children to perform no boxing.

This ticket merely involves adding the above accessors

[2020-04-16 15:58] jdegoes opened #3387 "Add specialized chunks for every primitive type"
In order to facilitate box-less operations, we can add chunks for different primitive types. Technically, we should support not just `Array` but also NIO buffers (byte buffer, etc).

For organizational purposes, these should probably be placed inside an object inside the companion object of Chunk, e.g.:

[code]

Specialized chunk subtypes will have efficient and box-free implementations of primiti

[2020-04-16 16:02] jdegoes opened #3388 "Add bitwise operations to Chunk.BitChunk"
BItChunks, being backed by arrays of bytes, can support efficient bitwise operations, such as bitwise and, bitwise or, bitwise xor, and bitwise negation.

These methods should be added to `Chunk.BitChunk`. For ease of use, they should also be accessible on the parent `Chunk` when there is proof the element type is a `Boolean`. This means they need a generic implementation that works even when the

[2020-04-16 16:54] #3372 closed

[2020-04-16 20:19] #2122 closed

[2020-04-16 20:28] erdavila opened #3390 "Runtime error of inferred type with alias in its path"
The code below compiles successfully, but fails with a runtime error:
[code]

The value `B` is an alias for `A`. So the type `B.Service` is the same as `A.Service`. However the code below fails with
[code]

It seems the `Tagged` instance for the inferred type parameter of `ZLayer.succeed` keeps the _path_ of the type (`B.Service` vs `A.Service`) instead of a canonical/normalized identifier for the

[2020-04-16 20:30] iravid commented on #3373
RefM also does not propagate interruption to the execution of the bundles.

I agree that Ref+Semaphore is equivalent; I switched to that from RefM after getting deadlocked by the above in some ZStream combinators 😅

[2020-04-16 20:31] adamgfraser commented on #3373
Coming soon!

[2020-04-16 20:50] jdegoes commented on #3390
This one looks like a bug in Izumi Reflect. /cc @neko-kai

[2020-04-16 20:56] alexknvl commented on #3373
I think there might be some very subtle differences semantics-wise. I believe I got a deadlock in one of our job dispatching component after I switched from `RefM` to `RefS`, but the fact it propagates `FiberRef`s was important enough for me that I just simplified the job dispatching algorithm to make it work 😅

[2020-04-16 21:02] pshirshov commented on #3390
Technically that's an expected behaviour. izumi-reflect support for PDTs is limited and probably there is no viable solution for this problem.

[2020-04-16 21:03] jdegoes commented on #3390
@pshirshov This is considered a path dependent type?

Is it possible to detect a PDT and error on such a thing, because type tags are not well-defined for PDTs?

[2020-04-16 21:06] neko-kai commented on #3390
@erdavila
This is a known limitation, paths in `izumi-reflect` are just variable names, as written. There is generally not enough information to equalize different paths, although in this case there is - you can try to add logic to choose the prefix of the singleton type of the prefix variable if it exists, somewhere around here: https://github.com/7mind/izumi/blob/develop/fundamentals/fundamental

[2020-04-16 21:07] pshirshov commented on #3390
@jdegoes

Indeed it is, it has a prefix. Yup, we may detect&fail though not sure if it's a very good idea. Even limited support is better than no support at all. In this particular case error message is descriptive enough I think.

[2020-04-16 21:09] pshirshov commented on #3390
@neko-kai : I think there should be one more case in `unpackPrefix` falling back to the type for every variable.

[2020-04-16 21:26] mleclercq commented on #3381
I faced the same problem following the documentation at https://zio.dev/docs/howto/howto_test_effects#testing-clock

The first example in the documentation doesn't work. I didn't try the others

[2020-04-16 21:28] adamgfraser commented on #3381
@mleclercq It has been updated here: https://github.com/zio/zio/blob/master/docs/howto/test_effects.md but unfortunately changes don't get published until we do a release.

[2020-04-16 22:59] erdavila commented on #3390
@pshirshov: I have not found a formal definition of PDTs, but when reading about path-dependent types I always see a type declared inside a **class** or a **trait** so that such type depends on an **instance** of the surrounding class or trait and the notation `ClassOrTrait#Type` is used.

The case here is the type `Service` declared inside the **object** `A`. There is no instance of `A` and, as i

[2020-04-17 10:16] iravid commented on #2719
Doing `collectAllTo{Map,Set}` and `collectAllTo{Map,Set}N`

[2020-04-17 11:13] whysoserious commented on #3383
I can take this one.
I am coming back to Scala after a few years break and already have a lot of fun learning ZIO.

[2020-04-17 12:03] jdegoes commented on #3383
@whysoserious Welcome back, and thanks for your work!

After thinking about this, I believe the correct path forward is to modify the existing `ChunkBuilder` so it can built bit chunks. This will be a superior path to introducing a new bit chunk builder.

[2020-04-17 12:04] whysoserious commented on #3383
I'll take a look and prepare a proposal. Stay tuned.

[2020-04-17 12:10] jdegoes opened #3393 "Migrate all lazy array creation code in Chunk to use ChunkBuilder instead"
Currently, many `Chunk` operations like `map` allocate arrays, lazily creating them until they know what their correct element type should be.

This creates a lot of obfuscation in the code base and makes it difficult to create type-specific behavior around chunk creation.

Since we have `ChunkBuilder` now, it could be a good idea to migrate this manual lazy creation of arrays to use `ChunkBuilder

[2020-04-17 12:17] jdegoes opened #3394 "Enhance ChunkBuilder with type-specific variants"
`ChunkBuilder` is generic in the type of chunk it builds (`A`). However, this leads to boxing all elements passed to `ChunkBuilder#add`.

In order to avoid boxing, it will be necessary to create sub traits (such as `ChunkBuilder.Int`) that are designed to work with a specific primitive type. These sub traits would expose a new method, e.g. `add(i: Int)`, which would not involve boxing the element

[2020-04-17 12:19] adamgfraser commented on #3394
The `ArrayBuilder` that backs `ChunkBuilder` already has specialized variants for primitive types so it should be straightforward to add these.

[2020-04-17 12:20] jdegoes commented on #3394
@adamgfraser Awesome. 👍

[2020-04-17 12:47] jdegoes commented on #3383
See also: #3394

[2020-04-17 12:50] runtologist opened #3395 "ZIO Test, TestClock: Time should advance while suspended"
`TestClock` semantics has changed in RC18 in order to fix an issue with `Schedule`s in forked fibers https://github.com/zio/zio/pull/2677 . I think the new semantics has a different issue. It violates causality and makes it impossible to test certain scenarios, which were testable before RC18. An ideal future version of `TestClock` would additionally pass the following test:

[code]

From the flow

[2020-04-17 14:05] adamgfraser commented on #3394
I'll add this.

[2020-04-17 16:31] guymers opened #3398 "ZIO Test: layer releasing before test runs with nested suites"
When providing a resource in a layer to a `suite` that has another `suite` inside, the resource is getting released before the test runs.

[code]

Produces the following:
[code]

Commenting out `suite("Inner")` produces:
[code]

[2020-04-17 16:34] adamgfraser commented on #3398
@guymers This issue was resolved in #3255. Can you try the latest snapshot and see if that resolves your problem?

[2020-04-17 17:25] guymers commented on #3398
It does, sorry about that

[2020-04-17 17:25] #3398 closed

[2020-04-17 18:36] adamgfraser commented on #3398
Awesome! No worries at all.

[2020-04-17 18:38] alexknvl opened #3399 "ZStream.fromInputStream blocking behavior and incorrect handling of 0 read bytes"
It seems like the current implementation of `fromInputStream` is blocking and incorrectly handles the case where `bytesRead` is 0:
[code]

[2020-04-17 21:25] #3394 closed

[2020-04-17 21:28] jdegoes commented on #3383
@whysoserious Now we have #3400, which introduces a builder for `Boolean` but it is only backed up by `Array[Boolean]`. So if you could do your work in `ChunkBuilder.Boolean`, that would be perfect!

[2020-04-18 11:08] #3350 closed

[2020-04-18 11:08] #3373 closed

[2020-04-18 11:44] reibitto opened #3402 "Safer map alternative"
Using methods that can throw exceptions inside of `map` such as `foo.map(_.unsafeOpThatThrows)` will result in a defect. This often bites new users.

Currently there is `foo.flatMap(x => Task(x.unsafeOpThatThrows))` or `foo.map(_.unsafeOpThatThrows).absorb` (the latter isn't _quite_ equivalent because it casts too wide of a net). The idea is to have an alternate like `mapSafe` (or `mapAbsorb` or w

[2020-04-18 11:45] adamgfraser commented on #3402
I will add.

[2020-04-18 11:56] jdegoes commented on #3402
@reibitto @adamgfraser I'd suggest `mapEffect` based on our naming conventions.

[2020-04-18 11:57] adamgfraser commented on #3402
@jdegoes Sounds good.

[2020-04-18 12:04] reibitto commented on #3402
I wonder, could `E <:< Throwable` work here?

[2020-04-18 12:05] adamgfraser commented on #3402
Yes that is what I am doing. But we need to return a value of type `Throwable`, since the effect could fail due to some type of other `Throwable`.

[2020-04-18 14:36] #3402 closed

[2020-04-18 16:03] ioleo opened #3405 "ZIO Test: support custom equality"
We should have the equivalent of ScalaTest's `Equality` to allow overriding how equality is defined for `equalTo` assertion.

[2020-04-18 16:12] adamgfraser commented on #3405
ZIO Prelude is going to have this and include tight integration with ZIO Test for it.

[2020-04-18 17:14] whysoserious commented on #3383
On it! I'll probably need a couple of days for that.

[2020-04-19 11:47] ioleo opened #3410 "Publishing broken since #3342"
Publishing fails with `NullPointerException` on current master. Git Bisect revealed that the error first appeared at `e72fa8a64998c68fdd5bb53d837401ab8beb313e` #3342.

<details>
  <summary>Click to expand full error log</summary>

[code]
</details>

[2020-04-19 23:12] vasilmkd commented on #3387
With `Chunk` now being an `IndexedSeq` what do we stand to gain from this change (which was turned down ~6 months ago due to too much code duplication and a burden on maintainability)?

[2020-04-19 23:16] vasilmkd commented on #3385
Doesn't this clash with `Chunk` being an `IndexedSeq` with a `size/length: Int`?

[2020-04-19 23:20] vasilmkd commented on #3360
Treating everything as `Any` inside the chunk will lead to boxing.

[2020-04-20 00:12] jdegoes commented on #3360
Possibly we could differentiate between "number" and "not number".

[2020-04-20 00:12] jdegoes commented on #3385
@vasilmkd You're right.

[2020-04-20 00:14] jdegoes commented on #3387
Any specialized methods we add (which are not inside `IndexedSeq`) do not need to box.

[2020-04-20 00:18] vasilmkd commented on #3360
I was interested to look into this but I was missing a nice reproduction. I'll check it out, see what I can come up with.

[2020-04-20 00:28] vasilmkd commented on #3385
Would we be willing to reassess the benefits of `Chunk` being an `IndexedSeq`? In the beginning, we were underscoring the features that set `Chunk` apart from Scala's `collection` library, and it felt like it was a collection "liberated" from the generality of the `scala.collection` hierarchy.

If the reason to implement `IndexedSeq` was to merge `ZIO` operations on `Chunks`, `Iterables` and `Opti

[2020-04-20 07:48] slivkamiro opened #3417 "Reading stdin redirected from file ends unexpectedly"
Hi,
I've written a console application in ZIO and when I try to redirect input from file it only reads the first line and then ends with `EOFException("There is no more input left to read")`, even though there is more input to process.

I was able to replicate it with following example:
[code]
After packaging it into a fat jar, and redirecting stdin from file, it only process first line.

[2020-04-20 11:01] pshirshov commented on #3390
We fixed this particular problem in https://github.com/zio/izumi-reflect/commit/5c139acc533760e2459fbcdd57419855014834f4

[2020-04-20 11:34] jdegoes commented on #3390
@pshirshov Thank you, that's awesome! 🙏 ❤️

[2020-04-20 13:15] mschuwalow commented on #3393
I'll take this one

[2020-04-20 13:33] adamgfraser commented on #3388
I'll do this.

[2020-04-20 19:24] vasilmkd commented on #3371
How about an alternative approach? https://en.wikipedia.org/wiki/Conc-tree_list

[2020-04-20 19:26] jdegoes commented on #3371
@vasilmkd Why? Nothing is faster than a mutable array for appending or random access, and arrays can be unboxed as well.

[2020-04-20 19:26] jdegoes commented on #3371
Of course if you implement it and benchmark shows it's faster...then 👍

[2020-04-20 19:32] vasilmkd commented on #3371
It's definitely not faster in all scenarios. I just don't see a balanced tree made out of arrays with arbitrary materialization after a certain depth being a performant and maintainable codebase (replicated 7-8 times for each primitive type).

I guess this comment is a more general comment on #3238 and the other accompanying experiment issues that have been closed in the meantime.

[2020-04-21 07:26] leigh-perry commented on #2613
@adamgfraser Is there any progress on this? I have run into another boundary case where the `Gen.anyInt` didn't find a bug that Scalacheck did because.

I may have some spare time in a week or so to help out, if you like.

[2020-04-21 08:58] ahoy-jon commented on #3371
👋I worked on it and ran benchmarks.
I think there are different subjects, optimizing ++ and optimizing + and fixing ++.

* Optimizing +, the issue here, the current proposition from @jdegoes seems to be very promising, and the right thing to do, buffer up to `100`* adds at the tail of the top structure, then write it at the bottom. It could beat what Vector is doing. Something like would work and

[2020-04-21 09:14] fanf commented on #3395
Perhaps it's a similar problem discussed on discord here:
![image](https://user-images.githubusercontent.com/44649/79847979-c0cf6c00-83c0-11ea-8ec8-91a658bc4b2b.png)

The corresponding test used to pass on `RC16` and not anymore on `RC18-2`: https://scastie.scala-lang.org/7tkii9q5QLKWS1GZSe8EFw

Summary: I have a scheduler that wait at least 10 minutes before starting an action so that triggers co

[2020-04-21 10:06] adamgfraser commented on #3395
@fanf Thank you! Your issue has given me some good inspiration. Should have something soon!

[2020-04-21 11:32] vasilmkd commented on #3371
I'm not against the implementation of single element append described here. I just think that if this goes through, there is no real reason to continue with specialization for primitives.

[2020-04-21 12:40] whysoserious commented on #3383
PR: https://github.com/zio/zio/pull/3419

Looks good. Although I am not sure if I have used proper data structures in the builder.

[2020-04-21 13:34] jdegoes commented on #3371
@vasilmkd

Why not? We can specialize this approach too. It's just more code.

A balanced tree of arrays will be performant. That's basically what Vector does, albeit without any specialization. I don't view maintainability of Chunk as important because it's something you write one time and then it never changes. If it has to change, yes, the amount of work required would be significant. But that'

[2020-04-21 17:25] alexknvl commented on #3385
Perhaps an implicit conversion would do the trick instead of inheritance? Or use overrides... 😜

[2020-04-21 17:27] vasilmkd commented on #3385
There is no return type overriding that can go from `Int` to `Long`, unfortunately.

[2020-04-21 17:31] jdegoes commented on #3385
Ah, we could utilize the following trick, although I'm not sure if it's worth it:

1. Support all `IndexedSeq` methods, with nearly the same signatures (except `Int => Long`).
2. Do not extend `IndexedSeq[A]`
3. Provide an implicit conversion from `Chunk[A]` to `IndexedSeq[A]` in the companion object of `Chunk`, which delegates to all methods and truncates the longs.

[2020-04-21 17:31] jdegoes commented on #3385
I'll open this because it's still technically possible, just have to decide whether or not to do it.

[2020-04-21 17:32] jdegoes commented on #3385
It's possible not extending `IndexedSeq` to lead to other performance improvements (e.g. specializing some methods to accept chunks).

[2020-04-21 17:39] vasilmkd commented on #3385
I've already stated my preference, I'd rather we didn't extend `IndexedSeq`.

[2020-04-21 18:09] ahoy-jon commented on #3385
Same here, I do think not extending `IndexedSeq` would be better.

[2020-04-21 18:42] alexknvl commented on #3417
I reproduced the bug and checked that the POC implementation of `Console` service in my repo https://github.com/alexknvl/interruptible-getstrln works correctly in this particular case.

[2020-04-21 18:50] ahoy-jon commented on #3371
It could be fixed using a `Array[A]`?
[code]

[2020-04-21 21:55] tabdulradi opened #3427 "Better ZLayer bounds error messages"
Hello 👋 I've been using ZLayer at work for a while now. One of my biggest problems is the bound related error messages. For example, sometimes I mix up `provideCustomLayer` and `provideSomeLayer` like:
[code]
 which shows cryptic error message like:

My proposal is to customise the error message by using type aliases and implicitNotFound. I've pushed a proof of concept here https://github.com/zio/

[2020-04-22 10:15] chikei opened #3429 "Bug in nested parallel operations ?"
[code]

Sometimes it will produce 6 different random values but two lists from zip are identical.

[2020-04-22 10:27] Fristi opened #3430 "ZIO Test: aspect for printing the last error"
With flaky tests it would be useful to know after retrying the tests over and over, what the last error is

[code]

Does only output timeout error

[2020-04-22 11:39] Fristi commented on #3430
I also removed the `TestAspect.timeout`, with being `flaky(10)` and debug it meets my needs for testing

[2020-04-22 11:39] #3430 closed

[2020-04-22 11:46] whysoserious commented on #3386
I'll take it.

[2020-04-22 11:47] adamgfraser commented on #3386
Great!

[2020-04-22 13:44] adamgfraser commented on #3429
Yes, looking into it now.

I don't know if that is necessarily the best example because it could be related to `Random` but I can replicate it even using a `Ref` which should definitely work:

[code]

At least for me this always produces two identical lists. It appears that the issue can be traced to the race implementation in `FiberContext` [here](https://github.com/zio/zio/blob/428ceb453a543bd31

[2020-04-22 17:59] whysoserious commented on #3386
It looked easy but I stumbled upon a new bug. New tests added in PR https://github.com/zio/zio/pull/3431 time out.
Example test which times out:
[code]
Function `chunkWithIndex` does not generate required number of `Chunk`s (200), unit test freezes waiting for more input and times out after 1 minute.
However `chunkWithIndex(Gen.unit)` works as expected.

[2020-04-22 19:37] whysoserious commented on #3386
Uff, got it.

[2020-04-22 19:37] adamgfraser commented on #3386
Nice! Was there a circularity?

[2020-04-22 19:48] whysoserious commented on #3386
Yes, `ChunkSpec.chunkWithIndex` was hanging while trying to generate a random index in an empty Chunk. PR is coming soon.

[2020-04-22 20:18] whysoserious commented on #3386
@adamgfraser #3431

[2020-04-22 22:36] vasilmkd commented on #3371
Generalizing over arrays still boxes on `def apply(n: Int): A`.

[2020-04-23 00:13] neko-kai commented on #3390
Fixed in izumi-reflect-0.13.0-M1

[2020-04-23 00:13] #3390 closed

[2020-04-23 11:24] adamgfraser commented on #3386
Resolved by #3431.

[2020-04-23 11:24] #3386 closed

[2020-04-23 11:24] adamgfraser commented on #3383
Closed by #3419.

[2020-04-23 11:24] #3383 closed

[2020-04-23 11:28] adamgfraser commented on #3405
Going to close this just because I don't think there is an action item in this repository at this point.

[2020-04-23 11:28] #3405 closed

[2020-04-23 16:30] mvillafuertem opened #3440 "ZStream: add intersperse"
Hi, maybe this option is interesting for users

This is present in Akka Streams

https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/intersperse.html

[code]

It's great when you have a streaming api, and always you would send a valid json

[code]

Thanks!

[2020-04-23 18:35] adamgfraser opened #3441 "Flaky FiberSpec Test"
[code]

https://app.circleci.com/pipelines/github/zio/zio/7033/workflows/b0b4d01d-ba5c-4055-a3b0-2328c3316bed/jobs/71954

Copying @runtologist.

[2020-04-24 16:22] adamgfraser opened #3442 "Reconsider Use of PartialFunction[A, ZIO[R, E, B]] Signature"
Currently we use the signature `PartialFunction[A, ZIO[R, E, B]]` for the effectual version of functions that take a partial function. However, I think that may not be quite the right signature. As I understand it, the contract there would be that given a value of type `A`, the partial function can immediately and purely tell us whether it is defined at a given input, but if we want to compute the

[2020-04-24 20:12] jdegoes commented on #3427
@tabdulradi Love it!

[2020-04-24 20:17] jdegoes commented on #3371
@vasilmkd Array's `apply` should be specialized, shouldn't it? Will have to check bytecode.

[2020-04-24 20:18] runtologist commented on #3441
I'll take a look.

[2020-04-24 20:20] vasilmkd commented on #3371
The method itself returns a generic type, which must be `AnyRef`, and that's where the boxing happens, regardless of the underlying array.

[2020-04-24 20:41] jdegoes commented on #3371
Ah because it's through `IndexedSeq`. I thought Scalac might specialize that for `Array`.

In that case, `AddByte`, etc., can solve the problem.

[2020-04-24 20:41] jdegoes commented on #3442
I'd suggest:

[code]

We could add some syntax to those (`orElse`).

[2020-04-24 20:42] adamgfraser commented on #3442
Good idea.

[2020-04-24 20:43] jdegoes commented on #3371
@vasilmkd

<https://github.com/scala/bug/issues/10646>

Seems to imply Array.apply is compiler-specialized. Need to check either Scalac or bytecode to be sure.

[2020-04-24 20:55] vasilmkd commented on #3371
I'll get some bytecode.

[2020-04-24 21:06] vasilmkd commented on #3371
[code]

compiles to:

[code]

@jdegoes @adamgfraser

[2020-04-24 23:13] neko-kai commented on #3334
@felher Could you open a PR adding a test for that in ZIO? This should be fixed once https://github.com/zio/zio/pull/3445 lands

[2020-04-24 23:21] neko-kai commented on #2917
Will be fixed by https://github.com/zio/zio/pull/3445

[2020-04-24 23:53] jdegoes commented on #3371
@vasilmkd Yep, boxes. I read the ticket wrong: `Array.apply` does not box, but `Array#apply` does.

This complicates things and means that, on the JVM, we need a Java class to access the `n`th element of an array for every primitive type. With this Java class and specialized arrays, we can then offer box-free `AddXYZ` versions.

[2020-04-24 23:55] jdegoes opened #3447 "Make Chunk implicitly convert to, but not extend, IndexedSeq"
Given that IndexedSeq creates mandatory boxing on `apply`, can't support reasonably sized bit chunks, and forces weird signatures for some methods, I think it makes sense re-investigating the decision to make Chunk extend IndexedSeq.

Instead, we can offer an IndexedSeq "view" of a Chunk through an implicit in the companion object, which allows smooth interop but without the other drawbacks; and p

[2020-04-24 23:58] adamgfraser commented on #3447
#3426 addresses this. I will clean it up and get it ready to merge.

[2020-04-25 00:00] jdegoes opened #3448 "Add Java class that can access nth element of each primitive type of array"
It appears Scala's `Array#apply` method is merely `IndexedSeq#apply`, which will always box. To avoid the necessity of having this boxing overhead, we need a Java helper class inside package `zio.internal`, something like:

[code]

The helper class will contain accessors for each primitive type. An accessor for `Object[]` is not needed since that is available natively in Scala.

Once implemented,

[2020-04-25 00:05] #3429 closed

[2020-04-25 00:06] #3410 closed

[2020-04-25 07:30] iravid opened #3449 "Chunk.fromIterable doesn't work with iterables of size > max array size"
[code]

Some possible solutions:
- Split to two arrays
- Convert iterables that aren't Vector/Array to a `scala.collection.mutable.Buffer`

[2020-04-25 13:46] hmemcpy commented on #3152
For what it's worth, I've been experimenting with Li Haoyi's [sourcecode](https://github.com/lihaoyi/sourcecode) library, and it seems to work!
![image](https://user-images.githubusercontent.com/601206/80281471-0ae38500-8714-11ea-8a41-33d3e50ccd6b.png)

This was done by adding two implicits to `test`/`testM` and storing them as annotations:
[code]
No further changes to user code were required.

[2020-04-26 13:53] adamgfraser opened #3461 "Consider Aligning Order of Type Parameters in ZQueue and ZRefM"
Right now the signatures are:

[code]

For consistency it would be nice if the parameters were in the same order. I think the `ZRefM` ordering is slightly more idiomatic (all environment parameters first, then all error parameters), though the `ZQueue` signature has been around longer.

[2020-04-26 14:20] iravid commented on #3461
👍🏻 to using the ZRefM order.

[2020-04-26 16:31] juliano opened #3465 "ZStream: combinator similar to akka-streams takeWithin"
Hello all,

[After asking in the channel](https://discordapp.com/channels/629491597070827530/629497941719121960/703911274484072488) about something similar to [`akka-streams takeWithin`](https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/takeWithin.html), as suggested by @iravid, it would be nice to have a combinator for that.

Thanks!

[2020-04-26 17:53] #3461 closed

[2020-04-26 18:41] reibitto opened #3468 "Simulate a Schedule"
I think it would be helpful to be able to take any arbitrary Schedule and "simulate" it to get its output. For example, say I have:

[code]

I'm imagining a function that you could use to answer questions like, "What would the output of this schedule be given this input?" Another important thing this function would do is give you the answer without actually sleeping (I think you might need a Clock

[2020-04-26 18:45] adamgfraser commented on #3468
Yes this is a little bit of the tradeoff with schedules actually doing sleeps at each step versus being descriptions. We thought this would support more uses of chronic job like scheduling but it does make use cases like this more difficult. Do you need any interaction with real time for this? If not I think the easiest thing to do would be to remap the `Clock` implementation to one that just imme

[2020-04-26 18:58] reibitto commented on #3468
A `Clock` that immediately runs everything sounds perfect.

But hmm, yeah, the arbitrary effect part is tricky. I'm not doing arbitrary effects, and can't imagine ever needing that... but I see your point. If someone needs that and they don't want to actually run them while simulating, I suppose they would have to put that in `R` and simulate those parts themselves too by providing a custom layer

[2020-04-26 20:14] adamgfraser commented on #3468
I think the bigger issue is that you could do effect that aren’t embodied in the environment at all, like you place a tap on the output of a schedule that prints all the outputs to the console. If you do effects in your schedule that aren’t modeled in your environment type there is no way for us not to run those when executing the schedule. But I agree that would not be very common.

[2020-04-26 20:46] simpadjo commented on #3468
Here is another case where unification of `sleep` with other capabilities appears to be problematic: https://github.com/zio/zio/issues/2957

[2020-04-27 08:30] felher commented on #3334
Sure thing, will do.

[2020-04-27 10:16] #3393 closed

[2020-04-27 13:43] mvillafuertem opened #3470 "I get unordered elements with Stream#mapMPar"
Hi all, sometimes i get error with Stream#mapMPar . Any suggestion why this is happening? If I use a value higher than 16. For example 4096, the error is more frequently.

[code]

[code]

Thanks

[2020-04-28 12:02] aleksandarskrbic commented on #3448
@jdegoes I would like to take this one.

[2020-04-28 13:16] taeguk opened #3476 "How about adding `ZIO.filterNot`?"
[code]
can be simplified like:
[code]

[2020-04-28 13:27] adamgfraser commented on #3476
Sure!

[2020-04-28 13:30] taeguk commented on #3476
@adamgfraser Okay, I will submit PR soon :)

[2020-04-28 14:37] narma commented on #3470
Well, `mapMPar` keeps the order of the results of the effects, but does not guarantee in which order the effects are executed.
Correct similar behaviour is
[code]

[2020-04-28 15:32] adamgfraser commented on #3448
@aleksandarskrbic Great!

[2020-04-28 15:38] iravid commented on #3470
Ah that’s right. Thank you @narma for the diagnosis! Closing as this is not a bug.

[2020-04-28 15:38] #3470 closed

[2020-04-28 16:23] neko-kai commented on #3448
@jdegoes @aleksandarskrbic

This does not reproduce for me, decompiling the following code with Intellij reveals direct access to array, no boxing and not IndexedSeq#apply.

[code]
->
[code]

[2020-04-28 16:25] neko-kai commented on #2917
Everything excepct bincompat enforcement is done, that one is moved to https://github.com/zio/izumi-reflect/issues/6

[2020-04-28 16:25] #2917 closed

[2020-04-28 16:35] aleksandarskrbic commented on #3448
@neko-kai you are right, just tried it.

[2020-04-28 17:57] jdegoes commented on #3448
@neko-kai @aleksandarskrbic Well, that's a huge relief! Maybe in @vasilmkd's reproduction, it was somehow accessed through IndexedSeq?

[2020-04-28 18:02] vasilmkd commented on #3448
Java indeed is the assembly of the JVM.

[2020-04-28 18:05] vasilmkd commented on #3448
Here Scala knows statically that you are dealing with an `Int` array. Try to work over an `Array[A]` where you receive this array as a function argument, for example, is where this falls apart.

[2020-04-28 19:23] neko-kai commented on #3448
@vasilmkd
Yes, I see, polymorphic array access resorts to calling methods of `ScalaRunTime` and will return a boxed object, however, constraining the variable to `_ <: AnyRef` is enough to return direct access:

[code]
->
[code]

[2020-04-29 12:10] fagossa commented on #3440
I would like to take this one

[2020-04-29 13:45] #3476 closed

[2020-04-29 14:53] michalwarecki opened #3482 "window and watermark function in ZIO Streams"
Hi guys,

Recently I've been dealing with ZIO Streams and in my use case I found two missing functionalities in ZIO Streams:
- watermark - removing incoming events older than provided duration,
- window - grouping events by sliding time window.

I have some time to implement such contribution but I need your input/review.
The first thing is answer to question: are such functions even needed in ZIO

[2020-04-29 18:30] simpadjo commented on #3482
Hey,
I think having something like this would be great.
Couple of comments:
1) A major pull request with a complete redesign zio-streams is about to be merged. Makes sense to wait a bit with coding.
2) Would be useful be able to use current time as an event timestamp as well

[2020-04-29 18:50] #2719 closed

[2020-04-29 18:50] #2720 closed

[2020-04-29 18:50] #3347 closed

[2020-04-29 18:50] #3399 closed

[2020-04-29 19:59] simpadjo opened #3485 "Push `ZStream#mapError` and `ZTransducer#mapError` to `ZConduit`"
I stumbled upon the issue https://github.com/zio/zio/issues/2431
It raises some concerns about of zio-streams that are mostly resolved.
But the one problem is still there:

If a stream fails can fail with `E1` and a sink can fail with `E2` then we could plug them together by lifting errors into `Either[E1, E2]`.
There is `ZStream#mapError` function. We need to add `ZSink#mapError` as well.
But loo

[2020-04-30 04:31] iravid commented on #3485
Let’s avoid unifying the errors to an Either in the aggregate combinators. I’d like to explore alternative solutions first.

Adding mapError to ZSink would be a great addition! We should do ZTrandducer too.

[2020-04-30 05:11] iravid opened #3488 "ZStream's use of ZManaged is not heap-safe in recursive binds and concatenations"
In #3079, we dropped the `Structure` data type so we're now heap-unsafe again in recursive binds and concats.

No built-in operator uses recursive structures, so the risk is reduced (the previous report came in due to the use of `repeat` in zio-kafka).

This issue will be solved with the upcoming redesign of ZManaged.

[2020-04-30 05:16] iravid opened #3489 "ZStream.fromQueue creates a singleton chunk stream"
Follow-up to #3079.

`ZStream.fromQueue` creates a stream of singleton chunks because we have no way of taking multiple elements from a queue and blocking until at least some of the takes are satisfied. Using `takeAll.repeatWhile(_.size == 0)` would create a busy-waiting loop.

We would need to implement `takeBetween(min: Int, max: Int)` methods on Queue which block until at least `min` elements a

[2020-04-30 05:19] iravid opened #3490 "ZStream.effectAsync* methods are unsupported on Scala.js"
These methods need to block with `runtime.unsafeRun`, so they're unsupported on Scala.js.

It would be interesting to explore a Scala.js implementation that does not block through the use of native promises.

[2020-04-30 05:21] iravid opened #3491 "ZStream#toInputStream creates a suboptimal InputStream"
The created InputStream only supports reading a single byte, whereas we could directly support reading entire arrays (the `read(Array[Byte])` variant) and checking whether a read can be completed without blocking (the `available` method).

[2020-04-30 05:23] iravid opened #3492 "ZStream#toIterator does not use chunks directly"
`toIterator` currently uses `BufferedPull` to pull elements. This creates iterators that unnecessarily invoke `runtime.unsafeRun` to pull individual elements.

Instead, the iterator should store chunks in its mutable state and return elements from the current chunk without invoking `runtime.unsafeRun`.

[2020-04-30 05:35] iravid opened #3493 "Implement additional variants for ZStream#timeout"
The only variant implemented currently fails the stream with an interruption. This is arguably unexpected because we could have just ended the stream.

We should implement variants of timeout that mirror the ones on ZIO:
- `timeout(Duration)` should end the stream when a pull times out
- `timeoutErr(e: E)` should fail the stream with `E` when a pull times out
- `timeoutTo(ZStream)` should switch o

[2020-04-30 05:36] iravid opened #3494 "Chunk#dropWhileM should use ChunkBuilder"

[2020-04-30 05:47] iravid opened #3495 "Add ZTransducer arrow operations"
ZTransducer is an effectful chunk processing function, and thus forms an arrow. We should add the following combinators on it:
- [x] zipping: `(ZTransducer[A, B], ZTransducer[A, C]) => ZTransducer[A, (B, C)]`
- [ ] ~racing: `(ZTransducer[A, B], ZTransducer[A, C]) => ZTransducer[A, Either[B, C]]`~ looks problematic to implement currently
- [ ] both: `(ZTransducer[A, C], ZTransducer[B, D]) => ZTrans

[2020-04-30 05:53] iravid opened #3496 "Re-design ZManaged around `ReleaseMap => ZIO[R, E, A]`"

[2020-04-30 06:36] simpadjo commented on #3485
I'm not going to change any signatures. I mean that if both Stream an Sink have `mapError` method, a user have enough tools to unify errors by themself (if really wants).

[2020-04-30 06:55] mijicd commented on #3489
I'm working on something similar, as discussed over chat. Tomorrow's the day off, so I'll be back on this.

[2020-04-30 07:23] iravid commented on #3489
Thanks for putting in the time to do this @mijicd! Just to clarify, this isn’t urgent as it is a performance optimization.

[2020-04-30 07:53] michalwarecki commented on #3482
Thanks for the comment @simpadjo !

1. I see the changes are already merged so I'll start prototyping today.
2. Do you mean that by default it should be current time?

[2020-04-30 12:23] simpadjo commented on #3482
Hard to say how final API would look like. I'm talking about usecases:
1) extract time from a stream element
2) use a "natural" timestamp

There could be few ways to achieve this including:
a) changing timestamp timestamp type to  `A => ZIO[R, E, Instant]`
b) asking a caller to zip the stream with the current time themself

[2020-04-30 12:24] jdegoes opened #3498 "Generate dependency map from ZLayer"
Would be nice to generate something like [this](https://github.com/pme123/zio-scala-camunda-bot) automatically from any `ZLayer`:

![Screen Shot 2020-04-30 at 8 22 50 AM](https://user-images.githubusercontent.com/156745/80709798-ed1f7280-8abb-11ea-8c42-2fb263e10516.png)

[2020-04-30 13:09] adamgfraser commented on #3498
I think we should be able to do something like this with #3483.

[2020-04-30 13:16] jdegoes opened #3499 "Minimize ZIO Test type aliases"
For fewer levels of indirection.

[2020-04-30 16:19] simpadjo commented on #3495
In `race`, do we remove the loser from the competition?

Consider:
`t1` output:
 ---B1-----------B2----------
`t2` output:
------------C1---------C2-----

should `t1.race(t2)` emit
----B1----C1---B2--C2-----

or
----B1-----------B2----------
?

[2020-04-30 16:49] octavz opened #3502 "Add error combinators for ZLayer"
I think would be useful to have more error combinators like `tapError` on ZLayer.
Having everything that we have on `ZIO` would definitely maximize the usability of the channel error.

[2020-04-30 16:58] octavz opened #3503 "Add retry for ZLayer"
Would be nice to be able to retry the creation of a `ZLayer`, think about initialization code that is failing until other conditions are met.
Most of the times we can just retry on a `ZIO` and use that to build a layer but it might not be always easy to do that and having `retry` on `ZLayer` seems more handy

[2020-04-30 19:17] kschuetz opened #3504 "`once` does not behave as I would expect"
I am still evaluating ZIO, so it is possible I am misusing it, but I've found that `once` is not behaving how I would expect.  Example:

[code]

[2020-04-30 19:32] #3485 closed

[2020-04-30 20:19] simpadjo commented on #3166
@iravid @vasilmkd this one works now. Let's close it

[2020-04-30 20:20] #3166 closed

[2020-05-01 03:37] adamgfraser commented on #3504
@kschuetz You need to use the effect returned by `once` instead of flattening it:

[code]

[2020-05-01 04:07] adamgfraser commented on #3499
Good idea. Here is a list of type aliases in ZIO Test (excluding basic definitions of services and type aliases defined in mocking and laws packages) along with some comments.

[code]

Don't think we can eliminate this without significant refactoring since we use `BoolAlgebra` parameterized on two different types significantly within the test framework.

[code]

These seem like pretty easy elimina

[2020-05-01 09:15] felher commented on #3334
PR opened here: #3506

[2020-05-01 12:51] mvillafuertem commented on #3470
Thank you @narma. I thought that when you use flatmap all this is synchronous and if you need parallel you have to use fork in your for comprehension, then this is not correct?

[2020-05-01 14:11] #3502 closed

[2020-05-01 14:34] neko-kai commented on #3334
Fixed in #3445
Verified in https://github.com/zio/zio/pull/3506

[2020-05-01 14:34] #3334 closed

[2020-05-01 21:45] vasilmkd commented on #3496
![It's happening](https://media.giphy.com/media/rl0FOxdz7CcxO/giphy.gif)

[2020-05-02 09:47] eugengarkusha commented on #3235
What is wrong with regular if?

[2020-05-02 10:27] adamgfraser commented on #3235
[code]

[2020-05-02 10:44] simpadjo commented on #3495
No one is hungry of good first issues so let me take it. I'll start with `zip`

[2020-05-02 12:52] simpadjo opened #3513 "ZStream#zip loses data"
Testcase:
[code]

Implementation doesn't handle properly the case when 2 streams terminate at different moments.

[2020-05-02 12:53] simpadjo commented on #3513
@iravid I'm on it
(doing https://github.com/zio/zio/issues/3495 anyway)

[2020-05-02 13:05] iravid commented on #3513
Ah, good catch! Would be good to enhance to the test suite to use better property checks that would have caught this.

[2020-05-02 15:03] simpadjo commented on #3513
One more failing testcase:

[code]

[2020-05-02 16:34] fagossa commented on #3440
@iravid I got a WIP PR in here https://github.com/zio/zio/pull/3514 . I still got some issues because I'm quite new to the base code.

[2020-05-02 18:22] aleksandarskrbic commented on #3448
@vasilmkd  So should I implement java class or approach proposed by @neko-kai can be used instead?

[2020-05-02 20:37] #3513 closed

[2020-05-02 20:39] iravid commented on #3495
@simpadjo Yes, we should remove the loser from the competition. But! We must not interrupt the loser. That's currently against the ZStream protocol. We should just wait for it to finish, continuing to feed data to the winner in the meantime and making sure to discard its result when/if it does finish.

[2020-05-02 23:59] luis3m commented on #3465
[code]

I guess it's as simple as this, @iravid isn't it?

[2020-05-03 05:29] iravid commented on #3465
@luis3m Unfortunately not, because if you're pulling from, say, a socket - then `chunks` could semantically block for a longer period than `duration`. It might actually be just `stream.interruptWhen(ZIO.sleep(duration))` 🧐

I'd call it `ZStream#interruptAfter` in this case.

We can also do a variant `ZStream#haltAfter` that doesn't interrupt long-running pulls.

[2020-05-03 08:55] politrons opened #3518 "Missing class in Intellij Unit test run."
Hi all,

I create a library that internally use ZLayer. Everything works just fine, but when I use the library from another project importing the Library by Maven, and using the DSL in one of my ScalaTest, I receive this error when I run the test from Intellij.

`A needed class was not found. This could be due to an error in your runpath. Missing class: zio/Runtime$
`

I guess it must be some bug

[2020-05-03 12:56] luis3m commented on #3465
@iravid right, it's like adding a `timeout` as long as `durarion`  to avoid unnecessary block. Anyway, seems like `interruptWhen` will do it as you suggested which makes it even easier. I can submit a PR for both `interruptAfter` and `halfAlfter`.

[2020-05-03 13:11] iravid commented on #3465
@luis3m That'd be great!

[2020-05-03 18:08] #3494 closed

[2020-05-03 20:18] #3518 closed

[2020-05-03 20:53] simpadjo opened #3522 "ZTransducer#chunkN might emit empty chunks"
...and explicitly says it :)
[code]

[2020-05-03 21:44] simpadjo commented on #3522
Hm, this line belongs to the case when the stream is finished.
But something is def. wrong with this combinator. I will take a look.

[2020-05-03 22:01] simpadjo commented on #3522
Seems that transducers are incapable to perform rechunking: it can't emit few chunks on a single push.

@iravid should we move `chunkN` to `ZStream`?

[2020-05-03 23:23] reibitto opened #3525 "FiberSpec flaky test"
`FiberSpec > track blockingOn > in await` seems to be flaky. I first saw the test failure in CircleCI.

I tried running it a bunch of times locally and it passed for those runs. But adding a simple `@@ TestAspect.nonFlaky(2)` is enough to break it. That's not expected, right? When I do that I consistently get:

[code]

[2020-05-04 02:08] kschuetz commented on #3504
Thanks.  I was a bit surprised that flattening it didn't have the same result, but again, I could be misusing it.

[2020-05-04 02:08] #3504 closed

[2020-05-04 11:38] vitaliis opened #3531 "Auto-composition of ZIO Layers"
Not sure if that is possible, but I want to propose an idea.
It would be really nice if one could provide a bunch of required layers and zio would automatically figure out how to wire them coherently together.

Right now you have to provide all the required layers to other layers using `>>>`. You do this for layers that depend on other layers that depend on other layers, until at most there is ZEn

[2020-05-04 16:52] jdegoes commented on #3499
@adamgfraser I suppose we should also decide between:

1. Keeping the test alias (a good example is: `ZEnv`, yes it adds indirection but saves a lot of repetition and pain; I think it's worth it)
2. Inlining the type alias (maybe useful in cases where it's not pulling its weight and infrequently used)
3. Introducing a new type (useful when it represents a different domain with different common ope

[2020-05-04 17:04] neko-kai commented on #3531
@vitaliis You may want to look at distage's `fromHas` which does exactly what you describe https://izumi.7mind.io/latest/release/doc/distage/basics.html#zio-has-bindings

[2020-05-04 21:50] simpadjo commented on #3522
@iravid I reimplemented `chunkN` as a method of `Stream`. Ready to make a PR once you have time to review my previous ones.

[2020-05-05 09:35] vitaliis commented on #3531
Thank you for this option. That is already a step forward. The disadvantage of this approach is that it relies on an external framework therefore requiring an additional dependency. And you still have to define "bindings" (from Service to Layer) manually. Don't get me wrong, it is a fully valid approach, which is already available and useful, but not exactly what I meant above.

What I imagined is

[2020-05-05 10:16] neko-kai commented on #3531
@vitaliis

That's already what `distage` does. I believe writing `make[T].from(layer)` is better long-term than writing `wire(layer)` without specifying the type, because then you can search for occurences of `make[T]` and figure out how that type was created.

However, if you just want to not specify the return type, it's very easy to let Scala infer it:

[code]

Or indeed derive the bindings fro

[2020-05-05 10:45] adamgfraser commented on #3235
Closing per discussion in #3239.

[2020-05-05 10:45] #3235 closed

[2020-05-05 11:41] adamgfraser commented on #3499
@jdegoes Yes. So here would be my proposal:

**Keep**

[code]

**Inline**

[code]

**Introduce New Type**

[code]

Most of these are pretty straightforward and we can just agree and make the change.

The one I think we should consider more is splitting out `Spec` into `ZSpec` and `ExecutedSpec`. In the original version the current approach worked very well because by using the fixed point encoding

[2020-05-05 11:53] jdegoes commented on #3499
How about `case class Annotated[+A](value: A, annotationMap: TestAnnotationMap)`?

Agreed on the other ones and on `ExecutedSpec`, which I might rename to `SpecResults` in the refactoring.

For the test aspect ones: we already decided users won't often create these, I'm ok leaving them in for our convenience if you are ok with that.

[2020-05-05 11:58] adamgfraser commented on #3499
Sounds good!

[2020-05-05 12:33] #3271 closed

[2020-05-05 12:34] jdegoes commented on #2289
I'm not sure this is relevant anymore. Closing for now.

[2020-05-05 12:34] #2289 closed

[2020-05-05 12:36] jdegoes opened #3538 "Add <+> operator for `orElseEither`"
Every data type that has `orElseEither` should get `<+>` as a symbolic alias for the named method.

This is the dual of `<*>` (`zip`).

[2020-05-05 12:37] jdegoes opened #3539 "Add <|> operator for `raceEither`"
Every data type that has `raceEither` should get `<|>` as a symbolic alias for the named method.

This is the dual of `<&>` (`zipPar`).

[2020-05-05 12:46] adamgfraser commented on #3538
Working on this.

[2020-05-05 12:49] adamgfraser commented on #3539
Will also do this.

[2020-05-05 15:27] #3538 closed

[2020-05-05 15:27] #3539 closed

[2020-05-05 16:25] jdegoes commented on #1280
@saraiva132 Thank you for your work on this ticket!

[2020-05-05 16:25] #1280 closed

[2020-05-07 07:18] lancelet opened #3545 "ZStream.toInputStream doesn't handle signed bytes correctly"
Currently, `ZStream.toInputStream` will fail if it receives an input byte value of `-1`. An unsigned byte conversion is missing for the `java.io.InputStream.read()` method.

See:
[code]

[2020-05-07 07:52] iravid opened #3547 "Delete ZConduit"
Important before release: delete ZConduit (for now, at least) and verify the methods defined on it are available on ZStream/ZTransducer/ZSink.

[2020-05-07 11:34] reibitto opened #3549 "Better support for mixing ZIO Clock and java.time.Clock"
Right now ZIO's `Clock` uses `System.currentTimeMillis` and `ZoneId.systemDefault` in its implementation. Rather than fix the implementation to this, I think it would be beneficial to leverage `java.time.Clock` and call `clock.millis` and `clock.getZone` instead.

This would open up the possibility of adding a `Clock.fromJavaClock(clock)` constructor. Which means you could use a custom clock (such

[2020-05-07 11:36] reibitto commented on #3545
Looks like this can be closed since it the PR was merged.

[2020-05-07 12:23] simpadjo opened #3550 "Tests: add generators and/or laws for testing stream chunking invariance"
Implementation code of streams/transducers/sinks deals with chunks a lot.
However, results of `ZStream#run` in 99% of cases must not depend on how the steam is chunked.
So it would be useful to be able to verify this property.

A testcase for inspiration:

[code]

Api could look like that:
`dontCareAboutChunking(content: Iterable[A])(prop: Stream[A] => AssertionM): AssertionM`

This ticket include

[2020-05-07 12:35] Tamriel commented on #2285
I just got this nice error message, but the linked page does not exist yet. It's [https://zio.dev/docs/canfail](https://zio.dev/docs/canfail)

[2020-05-07 12:36] hmemcpy commented on #2285
Yeah, should be https://zio.dev/docs/can_fail

[2020-05-07 12:38] adamgfraser commented on #2285
Will fix.

[2020-05-07 12:41] hmemcpy commented on #2285
I think it's already fixed, maybe @Tamriel is on an older version?

[2020-05-07 12:44] adamgfraser commented on #2285
@hmemcpy Yes you're right.

[2020-05-07 13:37] #3522 closed

[2020-05-07 13:52] PyAntony opened #3552 "Add size for TArray and TMap"
TArray and TMap don't have `size` method.

[2020-05-07 14:12] fagossa commented on #3495
I would like to take `ZTransducer#both`

[2020-05-07 14:21] simpadjo commented on #3495
`zip` is done, picking `race` now

[2020-05-07 18:33] simpadjo commented on #3495
@iravid If implemented naively, result of `race` depends on chunking strategy.
If both sides emitted a value when being fed a huge chunk, there is no way to determine who was the fastest. `choose` will suffer from the same issue.

We can either relax guarantees or feed upstream chunks with elements one-by-one.
What do you think?

[2020-05-07 20:34] #3468 closed

[2020-05-08 01:58] lancelet commented on #3545
Closing. Hopefully people will find the issue if they encounter this problem prior to the next release.

[2020-05-08 01:58] #3545 closed

[2020-05-08 05:13] #3547 closed

[2020-05-08 08:31] simpadjo commented on #3495
Also taking `choose` since it can be easily implemented in terms of `race`

[2020-05-08 10:58] fillson-shady opened #3558 "Defect in zio.Has"
Hello!

It seems, that I meet a bug in DI (Layers) system. I assume, that all dependencies have to be checked at compile time. But here is example of code which compiles successfully, but throws Error at runtime.

[code]

This code doesn't work on both `1.0.0-RC18-2` and `1.0.0-RC18-2+247-a7dd2990-SNAPSHOT` (to run on SNAPSHOT you have to replace `import izumi.reflect.Tags.Tag` with `import izumi.

[2020-05-08 13:04] simpadjo opened #3559 "ZTransducer#collectAllN pulls too much data"
Testcase:

[code]

Why it happens:
`collectAllN` relies on `foldWeightedDecompose`.
When weight reaches 3, it doesn't emit an element immediately but rather waits until weight becomes strictly bigger.
I tried to change `foldWeightedDecompose` to terminate earlier but it breaks `collectAllSetN`.

Why it is important:
I'm working on `Transducer#race` family of combinators.
Racing transducers in the

[2020-05-08 13:18] simpadjo commented on #3495
@fagossa Hey! Seems that `both` could be implemented using `zip` (like `choose` using `race`).
Here is the PR with `zip` : https://github.com/zio/zio/pull/3551

[2020-05-08 14:48] adamgfraser commented on #3558
@fillson-shady Thanks for reporting! Will take a look.

[2020-05-08 14:56] neko-kai commented on #3558
@fillson-shady
If you add `implicit tag: Tag[ServiceA.HasServiceA with zio.console.Console with R]` the problem disappears. The corruption happens in `provideCustomService`, the issue may be in `LightTypeTag.refinedType` function.

/cc @pshirshov

[2020-05-08 14:59] pshirshov commented on #3558
Seems like something is wrong with `Tag` macro, not the type info extraction logic, the macro  shouldn't allow an invalid tag to be constructed.

[2020-05-08 16:31] fillson-shady commented on #3558
@neko-kai
Thank you so much for workaround!
Indeed, changing the signature of `class Base` solves the issue:
[code]

[2020-05-08 17:33] #3558 closed

[2020-05-08 17:34] neko-kai commented on #3558
@fillson-shady Fixed upstream, do you need a release asap or is workaround good enough for now?

[2020-05-08 17:46] fillson-shady commented on #3558
@neko-kai
The workaround is definitely good enough for me! Thanks again for the very quick fix!

[2020-05-08 20:59] iravid commented on #3559
Ah I hit that weight == max issue at some point during the development and thought I fixed it. This must be another edge case.

In order of preference:
- Ignore this altogether because we don't guarantee to pull the absolute minimum required by an operator, and there are countless other scenarios in which it might not be possible to pull exactly what is needed;
- Try to fix foldWeightedDecompose (

[2020-05-08 21:04] iravid commented on #3482
Hello @michalwarecki, sorry I did not chime in yet. I admit I find it hard to see a family of combinators around watermarks directly in `ZStream` as that is a fairly domain-specific usecase, whereas most ZStream combinators are very generic.

For example, #3542 is a monomorphic version of `filterM`.

But I am open to being convinced. Pinging other contributors for some more opinions: @vasilmkd @re

[2020-05-08 21:08] vasilmkd commented on #3482
I'm with @iravid on this one, I think these features are better suited for a library.

[2020-05-08 21:30] simpadjo commented on #3559
I used to think the same. But today I spent almost an hour trying to understand what's wrong with my testcase which looked like `stream.transduce(Transducer.collectAllN(2).choose(Transducer.collectAllN()3))`.
See https://github.com/zio/zio/pull/3557/files .
Seems that good-enough guarantees don't compose well in this case.

Regarding `foldWeightedDecompose`, both ways of handling `weight = max` ar

[2020-05-09 06:38] michalwarecki commented on #3482
Hi, I believe it's a generic functionality for time-based streaming and it's different, much more powerful version of already existing `groupedWithin`.

Please, take a look at examples and documantation from different popular streaming systems:

https://ci.apache.org/projects/flink/flink-docs-stable/dev/stream/operators/windows.html

https://databricks.com/blog/2017/05/08/event-time-aggregation-wa

[2020-05-09 07:04] regiskuckaertz commented on #3482
Both combinators are clearly domain-specific, even down to their names 😆 I would be very surprised if they weren't in zio-analytics.

[2020-05-09 07:26] iravid commented on #3482
Perhaps we should have stated the purpose of ZIO Streams more clearly in its documentation. As I see it, ZIO Streams is a library for declarative concurrency and control flow; watermarking and windowing are operators for streaming analytics.

The other problem with including this functionality in ZIO Streams is that watermarking is the tip of the iceberg. For proper windowing support, we would nee

[2020-05-09 07:59] michalwarecki commented on #3482
Thanks for the clear comment on that! I agree now. I'll put it on hold and pick up when `zio-analytics` will be started.

[2020-05-09 08:00] iravid commented on #3482
Thank you @michalwarecki for investing your time and thoughts into this! Contributions on zio-analytics would be very welcome :-)

Closing for now.

[2020-05-09 08:00] #3482 closed

[2020-05-09 13:48] fagossa commented on #3495
@simpadjo Great, I'll take a look

[2020-05-09 14:38] nartamonov opened #3563 "Mocking framework doesn't provide the means to test the absence of method calls"
I want to test that `ServiceB` does not call some method of `ServiceA` in specific circumstances. In order to do that I made a mock implementation for `ServiceA` and wrote following test:

[code]

zio-test failed to execute test:

[code]

It seems that combinator `atMost` doesn't support zero value as argument. As well as `atLeast` and `repeats` combinators.

I think mocking framework should provi

[2020-05-09 15:55] reibitto opened #3564 "ZIO.tupled"
Mentioned this in the Discord, but I think it might be nice to have `ZIO.tupled` (or whatever it should be called) for cases where you're doing more than 1 zip but you want a flat tuple.

This is basically an extension off of ZIO.mapN. Right now you have to do:

[code]

Note that the pattern match is needed here (`map(identity)` won't work... though it might be possible in Dotty?)

The proposed ad

[2020-05-09 19:20] hepin1989 commented on #3503
make it exponential

[2020-05-09 19:23] adamgfraser commented on #3503
I will add this.

[2020-05-10 12:04] #3441 closed

[2020-05-10 15:02] adamgfraser commented on #3564
Closed by #3565.

[2020-05-10 15:02] #3564 closed

[2020-05-10 15:04] adamgfraser opened #3567 "Consider Renaming MapN Variants"
Currently we have `ZIO.mapN` for combing multiple effects with a function and `ZIO.tupled` for combining more than two effects into a tuple. Conceptually these are both just higher arity variants of `zip`. We may want to rename to `zipWithN`, `zipN`, `zipWithParN`, and `zipParN`. Whatever we do we should align across various ZIO effect types.

[2020-05-10 15:27] ioleo commented on #3563
What you're looking for is a way to express expectation for no calls #3115.
`atMost` was not intented to be called with 0 or negative numbers, although the API does not prevent you from doing that. So there are two problems here:
* the #3115 problem
* dealing with invalid arguments in `atMost`/`atLeast`

[2020-05-10 17:24] #3503 closed

[2020-05-10 17:30] jdegoes commented on #2153
In #3561, I proposed something like:

[code]

[2020-05-10 18:27] luis3m commented on #2153
@jdegoes that's definitely better than the status quo IMO. I'm wondering if in your experience teaching ZIO the `Int` part has been intuitive enough. Probably seeing `asExitCode` in the documentation and samples will be enough. I lean towards having an `ExitCode` datatype.

[2020-05-10 18:39] jdegoes commented on #2153
@luis3m It would be better to have `ExitCode` as a separate wrapper type around an `Int`, although given it would break backward compatibility, the benefit is perhaps not quite worth it (I think it's open for debate though).

[2020-05-10 22:32] adamgfraser commented on #2153
We could write a Scalafix migration rule for this.

[2020-05-11 09:27] michalwarecki commented on #3387
I can take it

[2020-05-11 13:55] nartamonov commented on #3563
@ioleo yes, #3115 is exactly what I'm looking for! Thanks for pointing to that issue. I'm ok to close this issue as duplicate. Should I open another one for "dealing with invalid arguments in `atMost` / `atLeast`"? It could be solved by documenting the limitation in API docs or by doing `require` checks internally and throwing more user-friendly error. It's a usability issue in a sence. Anyway, it

[2020-05-11 16:41] jdegoes opened #3573 "Global sharing for resources in ZIO Test"
To achieve global sharing, if we modify runnable spec's so they can supply a layer, then in theory the layer could be shared across all spec's. Would require a bit of work in the SBT runner, since that would have to actually create and destroy the resources utilized across the run.

Also probably requires more types parameter threading so we can get that "global layer" all the way from the runnabl

[2020-05-11 16:46] jdegoes commented on #2153
@adamgfraser I'm on board with that. 👍

[2020-05-11 19:24] #3489 closed

[2020-05-11 19:55] borissmidt opened #3575 "Why does collectAll use List?"
I was looking into the code and i i found it a bit weird to find out that a collectAll on a stream collects everything into a List and then reverts it (which looks really inefficient for large streams). I understand that you want to be 100% immutable but a list buffer wouldn't have leaked its state and might have been more efficient?

[code]
Also don't you return a Seq and then you are still able

[2020-05-11 20:25] borissmidt commented on #3575
Maybe an offtopic question,
Why is there no `collect` that allows me to just do a filter and map like Monix/scalaZ stream? its just unexpected that it throws when a match doesn't match. I use a collect often to 'flatmap' a stream with options to remove the None values.

[2020-05-11 22:08] reibitto commented on #2565
@iravid Can you re-open this since that PR got reverted?

An update from me:

I solved my particular problem defining a non-streams debounce like so:

[code]

This is working for me. If there is interest, I'd be willing to make a PR for it. But I'm not sure there is much demand for a non-streams version like this. It's not as ergonomic as a streams version would be.

It's possible to re-use this t

[2020-05-11 22:13] reibitto commented on #2565
There's a related PR by @luis3m  #3574

[2020-05-12 01:39] reibitto commented on #2565
There is also a race condition to consider. Here's what I did to address that:

[code]

[2020-05-12 14:32] jdegoes commented on #3575
We want to switch to using `Chunk` as the default data type.

Any interest in doing a PR? 😉

[2020-05-12 14:35] borissmidt commented on #3575
Yea why not i'll have a try.

On Tue, May 12, 2020, 16:32 John A. De Goes <notifications@github.com>
wrote:

[2020-05-12 15:20] ioleo commented on #3563
@nartamonov Let's leave it open until the invalid arguments are dealt with. I'm not yet sure which direction should the final solution take.

[2020-05-12 15:57] iravid commented on #3575
Replacing the list with Chunk and ChunkBuilder there would be great 👍🏻

[2020-05-12 21:49] borissmidt commented on #3575
I also see a simular collect all in the scheduler class, i assume that it is best to replace any place where there is a `foldleft` with a list in it?

[2020-05-12 23:14] sir-wabbit opened #3577 "raceFirst combinator"
[code]

[2020-05-12 23:43] luis3m commented on #3577
@alexknvl I will take this one

[2020-05-13 00:46] alexknvl commented on #3577
[code]

This seems to work but I didn't put much thought into it, just type-golfed until it worked. Based it off of `ZIO.raceAll`.

[2020-05-13 01:01] alexknvl commented on #3577
[code]

[2020-05-13 09:12] michalwarecki commented on #3388
@adamgfraser are you working on that? If not, I can take it

[2020-05-13 12:24] serrufSe opened #3578 "Queue lost boundary"
Hello. Look like bounded queue may lost its boundary in this example
[code]
All elements successfully offered without any suspending.
Also, newQueue size anytime is 0, but its possible to take element from newQueue (output contain "Queue size 0 but taken Value(message 1)" )

ZIO version 1.0.0-RC18-2
Thanks

[2020-05-13 12:49] ghostdogpr commented on #3578
Take is suspended when the queue is empty, so it’s totally possible the queue size is zero the moment you call `take`, and then take returns an item after an offer is done.

[2020-05-13 13:07] serrufSe commented on #3578
You are right. If change take to takeAll output is "Queue size 0 but taken List()"
But i'am more worried about offer without suspending

[2020-05-13 13:13] serrufSe commented on #3578
And things is gonna more strange if take size by schedule like this
[code]

[2020-05-13 14:44] adamgfraser commented on #3388
@michalwarecki Go for it!

[2020-05-13 15:04] jdegoes opened #3579 "Augment FiberRef constructor with "fork" operator"
Currently, to construct a fiber ref, one must supply:

[code]

To be fully general, we should support an additional operation, "fork", which will be called when the value of the fiber ref is "forked" into a child:

[code]

The default, of course, is just the identity function.

[2020-05-13 15:17] adamgfraser commented on #3579
I will do this.

[2020-05-13 17:54] luis3m commented on #2565
Just submitted https://github.com/zio/zio/pull/3580

[2020-05-13 21:57] DanielBlanco commented on #2518
This happened to me today because the documentation is not 100% clear and easy to follow.

I was creating my test suite like this:
[code]
getting:
[code]
instead of:
[code]
that gets what I wanted:
[code]
And there is still things that I need to learn by reading the zio-test code.

Having said that, I want to help on improving the site but I'm not sure where to start.

[2020-05-14 00:25] adamgfraser commented on #2518
That would be great! I think first step is getting everything in one place and more organized. I have a branch I have been working on for that. Let me clean it up and push something and then would be great to get your help!

[2020-05-14 09:21] iravid opened #3582 "Add methods to Chunk that convert it to an explicit primitive subtype"
To avoid megamorphic dispatch in performance sensitive code, it is useful to be able to safely downcast a chunk to a specific primitive subtype (`ByteChunkArr`, `IntChunkArr`, etc) and be able to access the underlying array.

For this, we can add methods that downcast if the chunk is actually the primitive subtype or copy to an array if it isn't:
[code]

[2020-05-14 09:30] iravid commented on #3582
cc @michalwarecki if you want to pick this up as well.

[2020-05-14 09:41] iravid commented on #3496
Implemented in #3510

[2020-05-14 09:41] #3496 closed

[2020-05-14 09:42] iravid commented on #3492
Fixed in #3569.

[2020-05-14 09:42] #3492 closed

[2020-05-14 09:57] michalwarecki commented on #3582
Sure, I'll take it

[2020-05-14 16:06] #3579 closed

[2020-05-14 19:52] simpadjo commented on #3559
Since we put `Transducer#race` on hold, let's close it.

[2020-05-14 19:52] #3559 closed

[2020-05-15 11:30] mijicd commented on #3575
@borissmidt bonus points if you propagate this change throughout the lib :). Do we want to replace the list-based methods or expose additional chunk-based methods? We can swap their implementation to use the chunk-based ones, and perhaps mark them as deprecated.

[2020-05-15 14:48] borissmidt commented on #3575
Yes i will do it but on a part by part basis otherwise the PR becomes really big. I had a different branch where i started with most list parts. But then the scope became too big.
I was even hitting the engine itself.

[2020-05-15 17:41] borissmidt commented on #3575
In my opinion the default methods should give you the highest performance.
i.e. if chunk is faster than List than vanilla collectAll should return that.
Then you could add the collectAllList. So it is a more verbose to use.

Or better yet add a collectAllSeq then it is compatible with most existing scala code unless chunk already is a Seq?

It's also the last time you can break binary compatibilit

[2020-05-15 18:32] simpadjo commented on #3495
Just sending a healthcheck that I didn't abandon `choose`

[2020-05-15 18:44] iravid commented on #3495
Thank you @simpadjo

[2020-05-16 06:04] iravid opened #3597 "Scala.js: something is wrong with sleeps under load"
4a20378d2 disables a few tests that keep failing on Scala.js because they use sleeps. @adamgfraser has also noted in #3586 that he's witnessed hangs when sleeping on Scala.js.

[2020-05-16 16:01] simpadjo opened #3598 "ZStream#repeatEffectWith: allow schedule to rely on the effect value"
[Good first issue]

Current signature of the method is

`def repeatEffectWith[R, E, A](fa: ZIO[R, E, A], schedule: Schedule[R, Any, _]): ZStream[R, E, A]`.

It could be
`def repeatEffectWith[R, E, A](fa: ZIO[R, E, A], schedule: Schedule[R, A, _]): ZStream[R, E, A]`
instead.

For example, this would allow to ask an external source for data, check whether returned data is empty and if it is - add a

[2020-05-16 16:50] luis3m commented on #3465
@juliano it's merged now and part of `RC19`

[2020-05-16 17:37] iravid commented on #3598
This would be really nice. There are a bunch of other operators on ZStream that take schedules with an `Any` input. We should re-examine those too.

[2020-05-16 18:16] simpadjo commented on #3493
@iravid close?

[2020-05-16 18:17] simpadjo commented on #3491
Will do it

[2020-05-16 18:17] #3493 closed

[2020-05-16 18:17] iravid commented on #3493
Closed in #3562

[2020-05-16 18:44] iravid commented on #3465
Resolved in #3534

[2020-05-16 18:44] #3465 closed

[2020-05-17 06:29] reibitto opened #3602 "ZStream.debounce emit at end of stream"
I expect the following to result in `List(3)`, but right now it's an empty list:

[code]

I think the end-of-stream case isn't being handled. @luis3m Do you know if that's the case?

[2020-05-17 06:40] iravid commented on #3387
Resolved in #3576.

[2020-05-17 06:40] #3387 closed

[2020-05-17 06:41] iravid commented on #3448
@jdegoes We've seen in #3576 that this isn't necessary to avoid boxing in the chunk subtypes. Ok to close?

[2020-05-17 08:25] alexknvl opened #3604 "Chunk prepend and append operators"
`+:` and `:+` are missing on `Chunk[A]`.

[2020-05-17 09:21] #3491 closed

[2020-05-17 11:20] luis3m commented on #3602
@reibitto I will check this out in a few hours

[2020-05-17 11:26] iravid commented on #3602
Thank you @luis3m!

[2020-05-17 14:14] #3448 closed

[2020-05-17 14:14] jdegoes commented on #3448
👍 Would be nice to document our learning somewhere.

[2020-05-17 15:32] thesamet opened #3609 "Add `ZStream.bracketExit` that wraps another stream"
Example use case:

A function `def readStream(host: String): Stream[Error, Data]` that returns a Stream of data read from the network host. The network connection needs to be acquired, released, and for monitoring purposes, we need to know whether the read was successful or not.

Today, we can almost do this by using `bracketExit`:

[code]

The problem with this implementation is that the subseque

[2020-05-17 16:25] luis3m commented on #3602
@iravid @reibitto by just adding `if (chunk.isEmpty) Pull.empty else previous.interrupt *> store(chunk)` when the current fiber beats the previous one it works. I'm not sure why it's getting empty chunks though

[2020-05-17 17:10] iravid commented on #3609
Thanks for writing this up @thesamet. I dug around further and the 1.0.0-RC19 behavior is actually a bug. I'll come up with a workaround shortly.

[2020-05-17 17:34] iravid opened #3612 "Flaky ZManaged test"
[code]

[2020-05-17 21:24] softinio opened #3614 "add a testimonial section to zio website"
ZIO is getting a lot of positive testimonials online without even asking for one. Be good to have them somewhere on our website in particular this one:

Link to actual tweet:

<https://twitter.com/odersky/status/1261966053514653702?s=20>

Screenshot in case:

<https://shared.softinio.com/Screen-Shot-2020-05-17-14-23-49.04.png>

[2020-05-18 09:27] egast opened #3623 "Add tapChunk and tapChunkM to ZStream"

[2020-05-18 11:16] iravid opened #3624 "Add ZTransducer for decoding ISO-8859-1 bytes to String"

[2020-05-18 14:12] regis-leray opened #3629 "zio rc19 - Defect in zio.Has: Set(Any)"
The current code is compiling but cannot be executed im getting an error at runtime

[code]

[code]

[2020-05-18 14:33] mvv opened #3630 "ZSink.flatMap broken in RC19"
A simple program
[code]
Fails with
[code]

[2020-05-18 14:43] mvv commented on #3630
BTW, the example code was run from Ammonite, using
[code]

[2020-05-18 14:59] simpadjo commented on #3488
@iravid close?

[2020-05-18 16:30] iravid commented on #3488
Not yet. I think this ended up staying unsolved.

[2020-05-18 18:52] neko-kai commented on #3629
@regis-leray Hmm, the code you posted does not compile as-is. I've ran it modified like this:
[code]

[2020-05-18 18:53] neko-kai commented on #3629
@regis-leray
Could you please check if adding the following dependency to your project:
[code]
Fixes the issue?

[2020-05-18 19:33] iravid opened #3632 "ZStream.managed does not register finalizers in deterministic order"
Failing test:
[code]

Results in `List(2, 1)`, meaning that the finalizers aren't registered in the right order.

[2020-05-18 19:47] iravid opened #3634 "Revert ZStream#runHead to pre-RC19 behavior?"
`ZStream#runHead` used to evaluate as little as possible of the stream to emit one element. We accidentally (or maybe not accidentally, can't remember 😅) changed it to evaluate everything but emit just one element.

What's the right behavior here? Would love to get inputs. @regiskuckaertz @simpadjo @adamgfraser

[2020-05-18 20:14] simpadjo commented on #3634
I'm afraid that this is `won't fix`.
Short-circuiting operations could mitigate the problem by sprinkling `.either`s (and optionally `chunkN(1)`). But
1) it will not work for `Sink`s (they are unable to wrap the stream in `.either`)
2) it will not work for streams being transformed (via `flatMap`, `transduce`, etc.)
3) anyway, such sinks violate "Always consume entire chunks" rule.
I never underst

[2020-05-18 20:18] iravid commented on #3634
Yes, 3 is very true; such a sink would be lossy and not friendly to sink composition.

[2020-05-18 21:11] simpadjo commented on #3634
This thing actually could work, if counduits operated on `(Chunk[O], Option[E])`objects.
But the zio-streams need a break.

[2020-05-19 02:32] paulpdaniels commented on #3634
This is sort of counter-intuitive behavior for a stream, if you do `runHead` you'd expect it to do the least processing and just get the first value. Could we rename it to `runHeadFully` or something then make `runHead` an alias for `take(1).runHeadFully`?

[2020-05-19 05:50] #3632 closed

[2020-05-19 07:17] regiskuckaertz commented on #3634
Isn't the eager version `stream.head` and `stream.tail`? I think the `run` prefix is a good indicator that the whole stream will be consumed.

[2020-05-19 07:28] regiskuckaertz opened #3635 "Add boolean algebra"
Boolean operators can be lifted into a ZIO in two ways:

- avoid evaluating the second effect when the first yields the answer (i.e. false for `&&`, true for `||`, true for `==>`)
- race two boolean effects when both may take a long time and apply the same rule as above

Now for naming these combinators 😆

wdyt?

[2020-05-19 08:28] simpadjo commented on #3634
Hm, true. `runHead` does what it supposed to do.
But even 'lazy' `stream.run(ZSink.head)` will evaluate at least one entire chunk.

[2020-05-19 08:45] iravid commented on #3609
@thesamet This has been released in RC19-1. Could you please check if it solves your problem?

[2020-05-19 09:41] simpadjo opened #3638 "Optimize Fiber.rootFibers and Fiber#children"
Discussion: https://discord.com/channels/629491597070827530/629491597070827534/710941307698151464

@jdegoes says that this piece of code is going to be redesigned completely. But it doesn't happen overnight, so creating a ticket for the record.

In my scenario I do lots of `ZIO.fromFuture()` call.
It results in spending ~15% of time here:

[code]

1) `rootFibers` is  java's `SynchronizedSet` under

[2020-05-19 09:43] iravid opened #3639 "Flaky ZStream#groupWithin test"
[code]

[2020-05-19 10:09] simpadjo commented on #3635
`ZBool` :smile:

[code]

But what is the usecase?

[2020-05-19 11:57] regiskuckaertz commented on #3635
I was more thinking along the lines of:
[code]
Just an optimisation for long chains of boolean operations that may cost a lot in space/time.

[2020-05-19 12:25] #3630 closed

[2020-05-19 14:39] regis-leray commented on #3629
Here some code using zio-rc19, compile and im still getting the error
im able to reproduce on scatie
https://scastie.scala-lang.org/typhsG0iRpKTPwo0C4QwXg

[2020-05-19 14:40] thesamet commented on #3609
Thanks for looking into this, however the original use-case remains unresolved:

The problem now would be that user code can make `bracketExit` report an error even if the network read was successful:

[code]

User code:
[code]

The request in the ticket is to provide a way to be able to tell whether a stream exited successfully regardless of subsequent transformations, similar to the way `bracket

[2020-05-19 15:01] iravid commented on #3609
Thanks for the feedback @thesamet. Will look into this again today.

[2020-05-19 17:26] samthebest opened #3642 "Could ZIO with zio-akka-cluster be an alternative to Apache Spark?"
I've never used ZIO, so total noob, and I have a very general question (or a long list of specific questions).  Not sure this is the best place for it, apologies in advance if it isn't!

So the general version of the question is: Could ZIO with zio-akka-cluster be an alternative to Apache Spark?

https://github.com/zio/zio-akka-cluster

The specific questions:

1. Can one easily read/write data to

[2020-05-19 17:37] neko-kai commented on #3629
@regis-leray Thanks for the reproduction! Looking into it

[2020-05-19 17:48] neko-kai commented on #3629
This happens because `putObject(data)` ends up parameterized as ` putObject[Has[_]](data)` with the environment it runs again being `zio.ZEnv`

@adamgfraser This is frankly both correct and incorrect, `ZEnv` conforms to `Has[_]` AND there's no single service that is exactly equal to `_`, pruning assumes invariant parameters are unique, but that's not the case for wildcards. Not sure what should be

[2020-05-19 18:10] KadekM opened #3643 "Chunk.splitWhere condition is negated"
from scala docs
[code]
[code]
[code]

[2020-05-19 18:25] simpadjo commented on #3642
I'd say no (without actually writing the second Spark).
Spark consist basically from
1) user-faced api for manipulating RDDs
2) resource allocation via YARN
3) communication between nodes
4) ecosystem of connectors and libraries

Zio could make (1) nicer
Akka-cluster could provide building blocks for (3) but communication protocols would have to be rewritten

Spark (if you restrict yourself to usi

[2020-05-19 18:28] simpadjo commented on #3642
Sane subset of Spark features is basically foldMap-as-a-service.

[2020-05-19 18:45] iravid opened #3645 "Flaky ZStream#interruptAfter test"
[code]

[2020-05-19 19:12] #3643 closed

[2020-05-19 19:28] iravid commented on #3609
@thesamet

The current behavior has to stay because that is specified by flatMap laws.

Here's a simplified version of your snippet:
[code]

The infix form makes it a bit harder to see, but here's the same thing with the flatMap re-associated:
[code]

In this form it's easier to see that the failure has to propagate up to the `bracketExit` finalizer. The ZIO equivalent would be:
[code]

Here, too,

[2020-05-19 19:53] thesamet commented on #3609
Thanks Itamar for the explanation. Current behavior of bracketExit makes sense - no implied ask to change it.

I'm not sure how the proposed `run` would work it, perhaps an example would help. If I may propose a syntax, I'd like to have the exit handled without affecting the signature of the stream the library returns to the user's code:

[code]

Reason I put it as a static method so that it's cle

[2020-05-19 19:57] jdegoes commented on #3575
@borissmidt Yes, Chunk is faster than List, and can be converted to List easily with `toList`. So it makes sense to use Chunk as the default data type, I think.

[2020-05-19 20:24] iravid commented on #3609
Here's the equivalent of `ZIO#run` for streams you can use until we release it:
[code]

This allows you to run user-controlled streams without them affecting your code. For example, the stream `(ZStream(1, 2, 3) ++ ZStream.dieMessage("boom")).exit.runCollect` would emit `List(Exit.Succeed(Chunk(1, 2, 3)), Exit.Fail(Die(RuntimeException("boom")))`. It's very similar to `ZStream#either`, but it lets

[2020-05-19 20:52] iravid opened #3646 "Add ZStream.fromFile"
Signature TBD. Open to suggestions.

This should use Java NIO and support:
- reading complete file
- reading range
- tailing the file

Specifying the desired chunk size for every read operation should also be supported.

The returned stream should be a stream of bytes that opens the file, emits the bytes and closes the file when the stream ends.

[2020-05-19 20:53] iravid opened #3647 "Add ZSink.fromFile"
A ZSink that reads chunks of bytes and writes them to a file.

Should support starting to write at a certain offset in the file.

[2020-05-19 20:57] iravid opened #3648 "Add ZTransducer.forwardTo(ZSink), ZStream.forwardTo(ZSink)"
A transducer and stream operator that emits chunks to the specified sink and then forwards them.

We could have two variants; one that discards the sink's result, and one that emits it to the output, making the output `Either[Z, O]`.

[2020-05-19 21:00] iravid opened #3649 "Add ZStream.fromTcpSocketServer"
A stream that binds a listening TCP socket and emits a stream of connections wrapped in ZManaged. Something like:
[code]

This ticket also involves defining the `Connection` representation. At a minimum, it should sport the following methods:
[code]

[2020-05-19 21:03] samthebest commented on #3642
🤣  Love this.  So like 10%, so like basically RDD.

[2020-05-19 21:05] iravid opened #3650 "Flaky ClockSpec test"
[code]

[2020-05-19 21:13] iravid opened #3651 "Add ZSink.managed"
[code]

[2020-05-19 22:00] #3371 closed

[2020-05-19 23:19] simpadjo commented on #3648
What about adding something like `contraTransduce: ZSink[B] -> Transducer[A, B] -> ZSink[A]` instead?
Then this would be a combination of `contraTransdice` and `ZSink.zipPar`.

[2020-05-20 00:22] luis3m commented on #3646
@iravid I would like to give this one a try but can't promise a solution as I'm not familiar with NIO. Anyway, I'm wondering how the tailing part would work, tail the file for as long the stream is open? Would that be a separate function?

I would also need clarification about reading range if possible :)

[2020-05-20 05:13] thesamet commented on #3609
The issue I see with the first proposal `def exit: ZStream[R, Nothing, Exit[E, Chunk[O]]]` is the return type. I'd like `readStream` to the return to the user a `Stream[E,A]` and hide the cleanup/error tracking from them.

The second proposal does keep the return type, though the implementation doesn't seem to work when the user fails the stream. The following program doesn't print anything:
[code

[2020-05-20 05:21] iravid commented on #3648
@simpadjo that’s `ZTransducer#>>>` with reverses arguments :-)

[2020-05-20 05:49] iravid opened #3653 "Make ZStream.Take easier to use"
`Take` is a type alias for `Exit[Option[E], Chunk[A]]`. This represents a step in a stream:
* `Exit.succeed(Chunk)` is an emission of a chunk;
* `Exit.fail(Some(E))` is a stream failure;
* `Exit.fail(None)` is an end-of-stream;
* `Exit.halt(Die/Interrupt)` are defects as usual.

In this ticket, we will convert it to the following form:
[code]

And provide the following facilities:
- An object with

[2020-05-20 05:51] iravid opened #3654 "Add ZStream#flattenTake"
Signature:
[code]

It's possibly as short as `collectWhileSuccess.flattenChunks` but requires testing.

[2020-05-20 06:08] iravid opened #3655 "Flaky StmReentrantLock test"
[code]

[2020-05-20 08:18] simpadjo commented on #3651
and make use of it in `ZSink.fromOutputStream` (which is in fact `ZSink.toOutputStream`)

[2020-05-20 09:48] narma opened #3657 "ZSink#collectAllWhileWith always returns zero value"
RC18-2:
[code]

RC19-2:
[code]

[2020-05-20 10:35] davidpdrsn commented on #3152
This would be really useful when running tests on the command line as well. Currently getting a failure like `true did not satisfy equalTo(false)` isn't very helpful when you have several assertions chained with `&&`. A line number would be very nice.

[2020-05-20 12:07] iravid commented on #3646
@luis3m Could be nice to unify the signatures with a `ReadMode = Complete | Range(Long, Long) | Tail` config

[2020-05-20 13:35] regis-leray commented on #3649
@iravid can you please explain what is the logic to emit socket connections

[2020-05-20 13:55] TobiasPfeifer opened #3659 "ZTransducer.splitLines fails with OutOfMemoryError"
I encounter an `OutOfMemoryError` when using `ZTransducer.splitLines`. However I can read the full file content into a String using Apache Commons `FileUtils.readFileToString`.

I would expect a streaming library to not consume more heap space when processing a file line by line than the file length.
The file has a size of ~107 MB (110,499.590 Bytes) with 1568 lines. The largest line is a String o

[2020-05-20 14:03] iravid commented on #3649
Every time a connection is made to the listening port, it is accepted and represented using `ZManaged[Connection]`, and emitted to the stream.

[2020-05-20 14:11] simpadjo commented on #3657
I'm on it

[2020-05-20 14:20] regis-leray commented on #3649
oki thanks i will try to implement

[2020-05-20 15:00] thesamet opened #3660 "ZStream#tap causes data loss"
In RC19-2, failures in the effect executed by `tap` cause the stream to drop elements that were produced prior to the failure, but possibly weren't consumed yet:

[code]

in RC19-2:
[code]

in RC18-2:
[code]

[2020-05-20 15:17] regis-leray commented on #3649
Something like this ? I was wondering if i put this function into `trait ZStreamPlatformSpecificConstructors` to use ZStream.fromInputStreamEffect how can i access to `ZSink.fromOutputStream` ?

[code]

[2020-05-20 15:59] iravid commented on #3657
Thank you @simpadjo

[2020-05-20 16:06] dkarlinsky opened #3662 "Please release zio-test-junit"
Junit support was merged in #2533, but `zio-test-junit` module apparently was never released to maven central.
@adamgfraser

[2020-05-20 16:39] luis3m commented on #3653
@iravid what is fold supposed to do in case of `Cause.die` for instance?

[2020-05-20 16:45] vasilmkd commented on #3653
@luis3m Forward to, i.e. keep the semantics of, `Exit#fold`.

[2020-05-20 16:47] luis3m commented on #3653
@vasilmkd so make it to be:
[code]
Or this one to avoid using `sequenceCauseOption` everywhere:
[code]

[2020-05-20 16:50] luis3m commented on #3653
Actually, just
[code]
As it should use `end` in case of `None`

[2020-05-20 16:56] vasilmkd commented on #3653
Yes, however that is the type signature for `foldCause`.

[2020-05-20 17:56] iravid commented on #3660
@thesamet Thanks for reporting. Fix incoming.

[2020-05-20 18:37] iravid opened #3667 "Rename Chunk#mapM_ to Chunk#tap"

[2020-05-20 18:45] iravid commented on #3659
Hmm interesting. This should definitely not happen. Thank you for reporting.

I somehow doubt replacing the String with a StringBuilder would fix the problem. Here's the implementation of the transducer using a builder; could you try it out and let me know if it changes the memory consumption?
[code]

[2020-05-20 18:49] #3657 closed

[2020-05-20 18:52] #3654 closed

[2020-05-20 19:02] iravid opened #3668 "Maintain the chunk structure on effectful ZStream combinators"
In #3666, we gave up on the stream's chunk structure to maintain laziness on chunk elements.

A more optimal solution would maintain the chunk structure by executing the effects, accumulating the successful elements in a new chunk, and emit that chunk along with a failure if one occured.

This would probably mean emitting something like `Chunk[Take[E, A]]` and using `flattenTake` to unwrap the `Ta

[2020-05-20 19:05] iravid commented on #3653
Ah this is true. `fold` should indeed be defined
[code]

Will fix the description.

[2020-05-20 19:09] vasilmkd commented on #3653
Now I see that there are no `Cause` variants on `Exit`. I was misled by `foldCauseM` in the description. @iravid Is there a possibility to discriminate between these cases (`fold` and `foldCause`, and `M` variants)?

[2020-05-20 19:11] vasilmkd commented on #3651
Has this naming been discussed anywhere? Merits of `from` vs `to`?

[2020-05-20 19:12] iravid commented on #3653
I think the fold has to account for the `Cause[E]` case, so it's either `Cause[E] => Z` or `E => Z, Cause[Nothing] => Z`.

Interestingly `=> Z, Cause[E] => Z, Chunk[A] => Z` is basically the previous encoding for `Take`.

[2020-05-20 19:13] iravid commented on #3651
Hmm no. I don't think we should switch to `to`.

[2020-05-20 19:13] #3660 closed

[2020-05-20 19:14] vasilmkd commented on #3642
If I'm not mistaken, this falls under the scope of [zio-analytics](https://github.com/zio/zio-analytics)?

/cc @iravid

[2020-05-20 19:18] vasilmkd commented on #3653
No, I don't consider splitting the `Cause` into `E` and `Cause[Nothing]` to be a good API. I meant more as `fold` being a weaker `foldCause` which cannot recover from defects.

[2020-05-20 19:22] iravid commented on #3653
Right but there's no aspect of recovery in the pure variants. You have to return a `Z`.

[2020-05-20 19:35] luis3m commented on #3653
@iravid is the idea here to introduce `Take` and then gradually change the combinators to use it instead of `Exit[Option[E], Chunk[O]]`?

[2020-05-20 19:39] iravid commented on #3653
I think I'd prefer one big PR but open to that too.

[2020-05-20 19:39] simpadjo commented on #3651
If we prefer to think in terms of how sinks are constructed rather than how the data flows, we should rename `ZSink.drain` to `ZSink.fromNowhere` :)

[2020-05-20 19:41] luis3m commented on #3653
I guess I can open a draft PR then

[2020-05-20 19:42] iravid commented on #3651
🤣

That's a fair point but I'm thinking of the constructors as:
- actions (foldLeft, drain, collectAll, ...)
- wrapping some sort of other abstraction into a sink (fromFile, fromOutputStream)

[2020-05-20 19:43] iravid commented on #3649
@regis-leray Yes, that's a good start, but we have to use NIO :-)

[2020-05-20 19:45] iravid commented on #3647
@lvitaly So right now we have a naming convention for constructors in ZIO:
* actions (ZSink.drain, ZSink.foldLeft, ZIO.collectAll)
* wrap another data type into this data type (ZStream.fromEffect, ZSink.fromOutputStream, ZStream.fromInputStream)

In this sense, I'd say that creating a sink that writes to a file falls into the second category, so it should probably be `ZSink.fromFile`.

[2020-05-20 19:46] iravid commented on #3647
And of course please go for it!

[2020-05-20 20:16] iravid commented on #3609
Regarding onExit - you're right, it is broken! I should have tested it before suggesting. It doesn't work because the downstream user code stops "pulling" on the `readFromNetwork` stream as soon as it encounters its own error, so the network stream never reaches the `f(Exit.unit)` or `catchAllCause` in `onExit`.

The sanest solution is probably sandboxing the user's code. You can get rid of the `E

[2020-05-20 20:18] iravid commented on #3609
Oh, but that re-introduces the problem that you'll see the `Exit` value that is affected by the user. Tricky problem! Let me sleep on it and come back to this tomorrow :-)

[2020-05-20 20:19] simpadjo commented on #3653
I'm a bit suspicious about overloading `.succeed` for chunks and single values.

[2020-05-20 20:21] iravid commented on #3653
Right. Good point. Let's go with `Take.single`, `Take.chunk`?

[2020-05-20 20:44] simpadjo commented on #3488
@iravid I'd like to take a look but could you please provide a specific testcase which doesn't work but should?

[2020-05-21 08:20] simpadjo opened #3672 "Use NonEmptyChunk for the inputs of ZTransducers and ZSinks"
NonEmptyChunk is a wrapper around Chunk with extra allocation and indirection.
It could be a newtype instead (using tags or at least AnyVal).
Should be pretty much straightforward. Are there any known downsides?

If it is done, we can switch Conduits to operate on NonEmptyChunks and get squashing of empty chunks for free.

@iravid @jdegoes

[2020-05-21 08:23] iravid commented on #3672
Not sure using NonEmptyChunk throughout is possible. `ZStream#drain` relies on being able to empty the chunks and is a fairly important operator for control flow.

[2020-05-21 08:33] simpadjo commented on #3672
I see no problems with it so far. `ZStream.drain` is morally equivalent to `stream.flatMap(_ => ZStream.empty)` and the later will just work.

`mapChunks` wiil accept `NonEmptyChunk` and return `Chunk` at a cost of slightly more complicated implementation.

[2020-05-21 08:36] iravid commented on #3672
Yes that's possible, yet unfortunately much less efficient :-) Let's see how much we actually gain by doing this. I am not convinced yet.

[2020-05-21 08:45] simpadjo commented on #3672
No, I don't mean changing `drain` to `flatMap`.
`drain` implementation will still be using `mapChunks`.
No performance overhead.

[2020-05-21 08:48] iravid commented on #3672
Ok, let's see where that gets us!

[2020-05-21 11:42] TobiasPfeifer commented on #3659
Same Exception. I'll try to reproduce the bug with a file I can share to you

[2020-05-21 13:57] TobiasPfeifer commented on #3659
added repository to reproduce the bug: https://github.com/TobiasPfeifer/ZStream-splitlines-bug
note: file "input.cap" in resources must be unzipped first

[2020-05-21 16:02] simpadjo commented on #3672
@iravid here is the prototype: https://github.com/zio/zio/pull/3676
I changed input types of Transducer and Sink to `NonEmptyChunk`. Output type of transducer stays the same.

I wanted to change Stream's output type to be `NonEmptyChunk` but Barbara Liskov said that it should stay. Anyway, if all inputs are `NonEmptyChunk`, we have a type-level proof of not sending empty packets over the conduit.

[2020-05-21 16:56] iravid commented on #3659
Thanks @TobiasPfeifer. Will dig into that soon.

[2020-05-21 17:06] iravid commented on #3672
@simpadjo Looks promising! Can you get the branch to a state where it's without the *New/*Old stuff?

[2020-05-21 17:09] fillson-shady opened #3679 "Memory leak in ZStream#merge and ZStream#forever"
Hello!

I faced huge memory leak in [scalapb/zio-grpc](https://github.com/scalapb/zio-grpc/) library (it uses ZIO RC-18-2) - millions of FiberContext's are spawned (and not garbage collected) because of using Stream.merge method. Here is the [code](https://github.com/scalapb/zio-grpc/blob/master/core/jvm/src/main/scala/scalapb/zio_grpc/client/ClientCalls.scala#L139).
I've extracted problematic cod

[2020-05-21 17:12] simpadjo commented on #3672
@iravid There are few combinators that I was too lazy to rewrite right now. So I use `*New` and `*Old` functions to convert between old and new representations and piggy-back existing code.

I'd like to do the actually port them when we agree on the plan and have zero-cost NonEmptyChunk.
But there are couple of things I can cleanup, sure.

[2020-05-21 17:23] iravid commented on #3672
Ah that's fair. I think I'm 👍 on this with the transducer/sink inputs being non-empty. I can't see any immediate problem with that. However with changes like these, it's usually when you get to port everything that you spot the actual problems.

So 👍 from me on pushing forwards with this and let's see where we end up.

It'll definitely be easier writing transducers and sinks with this change!

[2020-05-21 18:06] iravid commented on #3679
Yes, this is #3488. Thank you for reporting @fillson-shady. Keeping this open as this is a good reproducer.

[2020-05-21 19:59] iravid opened #3682 "Replace the implementation of ZStream#merge with one that doesn't race effects"
We're currently avoiding interruption of pulls in ZStream because most operators aren't interruption safe. While this is obviously bad and we should fix it at some point, our alternative strategy of using `raceWith` and keeping around the losing fiber can cause memory leaks over time (see e.g. #3679 and scalapb/zio-grpc#63 which I suspect are about this).

For this ticket, we need to replace the i

[2020-05-21 19:59] iravid commented on #3682
cc @luis3m if you're interested!

[2020-05-21 20:02] #3598 closed

[2020-05-21 22:58] luis3m commented on #3682
@iravid cool, I will take this one

[2020-05-22 11:19] jdegoes opened #3685 "Go all in on java.time?"
In particular, [Duration](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html) could be used instead of our own type. Unlike Scala's Duration, its operators are total, with the exception of overflow (which could be regarded as a defect).

[2020-05-22 12:14] simpadjo commented on #3685
Similar thread on scala-contributors:
https://contributors.scala-lang.org/t/make-duration-and-finiteduration-general/4270

tldr: `java.time` is not supported by ScalaJs

[2020-05-22 12:21] neko-kai commented on #3685
@simpadjo ZIO already pulls `scala-java-time` for Scala.js, so I think that's covered.

[2020-05-22 12:56] regis-leray commented on #3651
@iravid can you give some hints about, should i look into ZStream ?

[code]

[2020-05-22 13:27] iravid commented on #3685
I would sorely miss the 10.seconds syntax but that can stay in zio.duration._.

👍🏻 otherwise

[2020-05-22 16:36] octavz opened #3688 "zio-test: Parallel checkM"
Would be useful to have some kind of parallel  `checkM`, given some generators would execute in parallel instead of sequential.

[2020-05-22 18:45] #3602 closed

[2020-05-22 19:42] iravid commented on #3659
@TobiasPfeifer Thank you for providing the sample, super helpful. Fix coming shortly!

[2020-05-22 22:20] adamgfraser commented on #3688
Yes. We are limited by the parallelism of the stream underlying the generator as far as producing elements, but we could definitely check multiple samples in parallel. I think we just need to implement a variant of `checkStream` like so:

[code]

I think the biggest challenge here is just method names for all these variants. We probably want to allow the user to control the degree of parallelism h

[2020-05-22 22:24] adamgfraser commented on #3685
Would make interoperating with other libraries easier and we have gotten bitten by corner cases involving duration concepts a couple times.

[2020-05-22 22:26] adamgfraser commented on #3662
@dkarlinsky Thanks for raising!

@softinio @mijicd Any idea why this isn't being published? It looks like it is included in the root project.

[2020-05-22 22:51] mijicd commented on #3662
It seems that it is there : https://search.maven.org/artifact/dev.zio/zio-test-junit_2.13/1.0.0-RC19-2/jar

Am I missing something?

[2020-05-22 22:56] adamgfraser commented on #3662
@mijicd You're totally right. It is here as well: https://mvnrepository.com/artifact/dev.zio/zio-test-junit_0.23.

I didn't find it when I looked before but I think it is just pretty far down in the search results when you search for ZIO Test and when you throw JUnit in there you get a ton of things that are unrelated.

@dkarlinsky At least you have an artifact that you can use!

[2020-05-22 22:56] #3662 closed

[2020-05-22 23:13] dkarlinsky commented on #3662
Great, Thanks!
Sorry for the confusion.

[2020-05-23 07:42] RayanRal commented on #2271
@Vilkina Hi, are you currently working on that?
I would be glad to take `min`/`minBy`/`max`/`maxBy` to start, and maybe a couple of methods after that, if all goes well.

[2020-05-23 08:45] #3659 closed

[2020-05-23 10:45] simpadjo opened #3692 "Bugs with forking fibers"
Version 1.0.0-RC19-2
I'm currently tracking down a bug in production.

At some point my application fails with an error that zio executor rejected the task:

This is not good itself, but even worse, application doesn't properly crash but rather hangs (Perhaps this is my fault).

As of now, I haven't found the bug but found something else instead:
1)

[code]

- overflows:

2) if I replace `val res

[2020-05-23 14:39] felher opened #3693 "Spurious interrupt when using `ZStream#interruptWhen` together with `ZSream#mapMPar`"
Version RC18-2 and RC19-2

When having some code like:

[code]

the last few instances of sleepRandom  (sleeps a random number ob milliseconds) together with the whole `.runDrain` sometimes get interrupted. Both the `interruptWhen` and `mapMPar` are necessary for the interruption to manifest. Leaving out `interruptWhen` or changing `mapMPar` to `mapM` removes the interruption.

Here is a small rep

[2020-05-23 18:08] #3653 closed

[2020-05-23 21:57] mijicd commented on #3685
Adjusting the syntax and nuking it would be ideal, as Itamar said :).

[2020-05-23 21:58] mijicd commented on #3655
I'll take a look at this one.

[2020-05-24 19:10] #3682 closed

[2020-05-24 19:11] iravid commented on #3679
These leaks should now be fixed by #3681 and #3691.

[2020-05-24 19:11] #3679 closed

[2020-05-25 09:40] #3440 closed

[2020-05-25 09:43] iravid commented on #3440
Closed in #3514

[2020-05-25 13:02] iravid opened #3698 "ZStream#toInputStream does not preserve errors"
As reported by @joroKr21

[code]

[2020-05-25 13:03] iravid commented on #3698
cc @simpadjo

[2020-05-25 14:38] #3698 closed

[2020-05-25 15:28] luis3m commented on #3550
@simpadjo I just realized there's a `ZStreamGen`. Aren't `streamOfInts`, `pureStreamOfInts` and `streamGen` enough?

[2020-05-25 15:39] simpadjo commented on #3550
@luis3m I expect that you'll need something to generate different chunkings from a given content.
Seems that splitting an `Iterable` by repeatedly applying `streamOfInt` would result in suboptimal test coverage.
Anyway, you can just go through stream tests, try to improve them and write what you need.

[2020-05-25 16:19] fsarradin opened #3702 "ZIO#fromFutureJava executes Java Future twice"
`ZIO#fromFutureJava` (that calls `zio.interop.javaz#fromFutureJava` [(code)](https://github.com/zio/zio/blob/master/core/jvm/src/main/scala/zio/interop/javaz.scala#L84-L91)) executes the Java Future in parameters two times exactly.

Here is the code to reproduce the bug:

[code]

As output, I always get:

[code]

scala version : 2.13.2
zio verison : 1.0.0-RC19

[2020-05-25 16:21] fsarradin commented on #3702
From an analysis with @ahoy-jon , this due to the call-by-name semantic of the parameter of `zio.interop.javaz#fromFutureJava`. To solve this, it is necessary to store the parameter in a `lazy val` first.

[2020-05-25 16:57] Haypierre commented on #3624
Hi @iravid, Can I try to tackle this one?

[2020-05-25 18:27] luis3m commented on #3693
It's worth mentioning this bug isn't exclusive to `interruptWhen` + `mapMPar`. You can also recreate this bug with:

- `timeout` + `mapMPar`
- `debounce` + `mapMPar`

It seems to be `mapMPar` specific as I couldn't recreate this issue with `flatMapPar` which has some similarities in the implementation.

[2020-05-25 19:02] fsarradin commented on #3702
Thanks @iravid for merging the PR :)

[2020-05-25 19:02] #3702 closed

[2020-05-25 19:20] iravid commented on #3693
Interesting. Thanks for noting that @luis3m. I haven't gotten to the bottom of this yet. Will continue digging later this week.

[2020-05-25 19:22] luis3m commented on #3693
@iravid I just submitted a PR, I understand why that change works but I'm not so sure why `ZIO.awaitAllChildren` does not.

[2020-05-25 20:01] hmemcpy commented on #2153
Great, I can see this was fixed by @luis3m! Closing. Thank you all!

[2020-05-25 20:01] #2153 closed

[2020-05-25 23:38] vasilmkd commented on #3667
Picking this up.

[2020-05-25 23:42] adamgfraser commented on #3667
Is the `tap` name somewhat strange because it discards the chunk instead of returning it unchanged? Normally I think of tap as doing some side effect with a value without changing the underlying value.

[2020-05-25 23:55] vasilmkd commented on #3667
I'm with @iravid on this one. I think `mapM_` is a misnomer. The type signature `def mapM_[R, E](f: A => ZIO[R, E, Any]): ZIO[R, E, Unit]` is adequate for renaming to `tap`.

Checking the current implementation reveals that the effects don't change the chunk in any way, so `map` is definitely misleading. Opening a PR.

[2020-05-26 00:08] adamgfraser commented on #3667
I'm not defending the current naming, I just wonder if we should return the original chunk if we are going to call it `tap` or come up with a name that is more clear about the fact that it is discarding the chunk.

[2020-05-26 00:10] vasilmkd commented on #3667
Sorry, it's getting late. I get what you are saying. We are basically dealing with `foreach` with this type signature, right?

[2020-05-26 00:12] adamgfraser commented on #3667
Yeah, I was actually thinking it is very similar to the `foreach` signature on `ZStream` but unfortunately since `ZIO.foreach` collects the results of the effects I think it would be super confusing to use that.

[2020-05-26 00:14] vasilmkd commented on #3667
Alright, deferring this until tomorrow.

[2020-05-26 10:09] runtologist opened #3708 "Deadlock via fromFuture / unsafeRunToFuture"
When nesting `unsafeRunToFuture` and `fromFuture`, something in ZIO deadlocks. Without modifiying the default runtime settings, I never see this on my local machine or in production, but it happens most of the time in our less beefy CI.

This minimal test case makes the issue reproducible by using a single threaded `Executor` and a very low `yieldOpCount`:

[code]

[2020-05-26 10:52] #3693 closed

[2020-05-27 10:08] simpadjo opened #3711 "Nevertheless return leftovers to ZSink"
This topic has been discussed few times already but there is no centralized place where one could read all pros and cons. Even if we don't get to agreement, let this place at least be a wiki.

Before the Great Stream Redesign sinks we allowed to emit a leftover together with a value. Moreover, the type of the lefover was not fixed to the type of the stream.
Now sinks are not allowed to emit leftov

[2020-05-27 10:27] simpadjo commented on #3711
One problem I can see:
Sink is no longer contravariant on `I`.
There should be a method to convert it explicitly.

[2020-05-27 11:20] iravid commented on #3711
The number of complaints on the Discord channel has swayed me as well. However, `Option[Chunk[I]] => ZIO[R, Either[E, (Z, Chunk[I])], Unit]` is not the signature I want for this. I am convinced there is a way to encode this as `Option[Chunk[I]] => ZIO[(R, Ref[Chunk[I]]), Either[E, Z], Unit]`, similar to how `StateT[ZIO[R, E, ?], S, A]` can be encoded as `ZIO[(R, Ref[S]), E, A]`.

I will try to com

[2020-05-27 11:32] simpadjo commented on #3711
What are the advantages?

[2020-05-27 11:51] aappddeevv commented on #3685
Going all in on java.time would make java.time required on the js platform. Front-end works is sensitive to dependencies. I've not checked, but if scala.time (as it is currently pulled in on JS for zio) increases bundle size significantly, that's a concern. I'll try to poke around a bit and see what the size impact is especially if the front-end also has to pull in other time libs that are already

[2020-05-27 13:47] fsvehla commented on #3685
@aappddeevv Zio already depends on `scala-java-time`

[2020-05-27 14:11] simpadjo commented on #3711
Ah, at least it solves the issue with contravariance.

[2020-05-27 14:18] iravid commented on #3711
@simpadjo Feel free to experiment with that and put something together if you have the time!

[2020-05-27 16:30] simpadjo commented on #3711
After 10 minutes already have to remove `contramap` operations. Bad start!

[2020-05-27 17:01] iravid commented on #3711
Yes it's entirely plausible they have to go. This was the reason we had `A0` on the previous encoding.

[2020-05-27 20:06] aappddeevv opened #3714 "js.Promise should probably be js.Thenable"
In the platform specific code:

[code]
The input should probably be a `js.Thenable` which is a supertype of `js.Promise`. After you run a `then` in scala world, you only get `Thenable`s out so anything processed scala side would not be able to be used to create an effect. I think this definition is repeated twice in the code base. The other thing is that the error is being wrapped in a js.JavaScri

[2020-05-27 20:17] aappddeevv opened #3715 "toPromiseJS should probably not assume E is Throwable"
A js.Promise can hold any value as an error channel. I'm not sure that the assumption below is correct. `toPromiseJS` could just absorb the full `Cause` object. It's a little different than Future in that it can type a differently typed error object even though it's not explicit.  Perhaps it should take a `Cause => T`. Someone could always squash it if they want chaining off the js promise.

[code

[2020-05-28 05:23] runtologist commented on #3708
`unsafeRunToFuture` delegates to `Fiber.toFuture` and `unsafeRun`s the resulting ZIO. `unsafeRun` eventually blocks a thread (The only one we have). If we are not on the fast path of `effectAsync` by then, we run into a deadlock.

`Runtime` should not delegate to `Fiber`, but instead implement similar logic using `unsafeRunAsync`.

[2020-05-28 17:32] simpadjo commented on #3711
@iravid
The biggest problem so far: can't implement `Transducer >>> Sink`.
`Transducer[A, B] >>> Sink[B, C]` should result in `Sink[A, C]`. But the type of the leftover is `B` and I can't untransduce it back to `A`.

[2020-05-28 19:42] runtologist opened #3719 "Stacktracer loses stack frames"
Steps to reproduce:
* set `yieldOpCount` to 1, e.g. by modifying `TestRunner.scala` as follows:
[code]
* run `coreTestsJVM/testOnly *StackTracesSpec`

The expected outcome is that tests run slower, but have the same result (and that is the case for all other tests :+1: ). However, for this spec several tests fail:

[code]

All affected traces lose the first frame of the stack trace. For example in

[2020-05-28 19:58] adamgfraser opened #3721 "Consider Deleting Type Alias Companion Objects"
We currently have companion objects for `UIO`, `Task`, `IO`, `URIO`, `RIO`, and `STM` that alias the methods on `ZIO` and `ZSTM` with more specific type signatures. There is a non-trivial amount of work here in duplicating method signatures and risk of incorrect type signatures.

We should consider moving to an encoding similar to what we currently do with Managed:

[code]

This will let us delete

[2020-05-29 07:03] iravid commented on #3721
Yes please 👍🏻

[2020-05-29 09:37] neko-kai opened #3723 "Update dotty to 0.24.0-RC1"
Following https://github.com/zio/izumi-reflect/issues/33, it's time to update to dotty 0.24.0-RC1 & izumi-reflect 1.0.0-M3

[2020-05-29 11:17] adamgfraser commented on #3723
I'll do this.

[2020-05-29 11:34] adamgfraser commented on #3723
@neko-kai Hmmm, getting some errors on Dotty regarding tags being available for tuples of concrete types for the mocking package in ZIO Test. Everything works correctly on Scala 2.

[code]

[2020-05-29 11:51] jdegoes opened #3724 "Some helper functions in zio.blocking._ do not exist on service trait"
In particular, `effectBlockingIO` is not defined in the service, but exists as a helper. The trait should have all methods because it will be used directly in layers.

[2020-05-29 11:54] #3708 closed

[2020-05-29 12:27] adamgfraser commented on #3724
I'll fix this.

[2020-05-29 12:33] adamgfraser commented on #3721
I will do this.

[2020-05-29 13:13] adamgfraser commented on #3721
So the one area where this doesn't work is with the `apply` methods where `apply` on types that can fail is `effect` whereas on effects that can't fail is `effectTotal`. We could potentially address by moving all the ZIO static methods to a trait that we extended in each companion object and then implementing that methods separately.

[2020-05-29 13:35] neko-kai commented on #3723
@adamgfraser
I reproduced that:
[code]
Something happened to Tuple's `ClassDef#tree`. It's either a regression in dotty - could you check if current nightly wokrs? or a more fundamental change to how we should inspect types (e.g. switch from trees to other apis, there were some relevant functions exposed recently), i've added ticket for this at https://github.com/zio/izumi-reflect/issues/38

[2020-05-29 13:45] neko-kai commented on #3721
@adamgfraser That's very similar to how it was before companion objects were duplicated out (to allow for less type parameters & avoid the type members that restricted the range of valid R and E parameters for each ZIO type creeping up in type signatures)

[2020-05-29 13:52] adamgfraser opened #3726 "ZIO Test: Better Functionality for Debug Information in Tests"
Right now users can add debug information to tests using `console.putStrLn` but the experience is not ideal because sometimes you want console output rendered whereas sometimes you don't and the output appears before the test results so it can be difficult to associate with the test without the user including additional identifying information.

I am thinking we could include a new `debug` test an

[2020-05-29 13:56] adamgfraser commented on #3721
@neko-kai Yes. Right now I am thinking we would do it without the additional type parameters to restrict the valid range of outputs. What do you think? This seems like an improvement but I know we did something similar in the past so wary about going in circles without taking advantage of the learnings from the past.

[2020-05-29 14:11] neko-kai commented on #3721
@adamgfraser I'm fairly ambivalent, I think @jdegoes would have an opinion on this since I think he initiated both previous strategies.
One thing I might add is that it may be possible to avoid traits for exclusion of methods, and overload `def` & `val` in package object -
[code]
That's legal

[2020-05-29 16:34] #3724 closed

[2020-05-30 16:18] iravid commented on #3642
Closing as this is out of scope for this issue tracker. Feel free to continue the conversation on Discord!

[2020-05-30 16:18] #3642 closed

[2020-05-30 16:20] svranesevic opened #3729 "ZStream#intersperse breaks with usage of Stream.repeatEffect"
`ZStream#intersperse` breaks with usage of `Stream.repeatEffect`.

Test case:
[code]
Failure: `Chunk(42,42,42,42) did not satisfy equalTo(Chunk(42,@,42,@))`

Note: Moving `ZStream#take` beforehand `ZStream#intersperse` yields the same failure.

_Edit:_ Correct failure message

[2020-05-30 16:55] svranesevic commented on #3729
Two more test cases that might be interesting, with `ZStream.repeatEffectChunk` though.

1. **Passing** test case:
[code]

2. **Failing** test case:
[code]
Failure:`Chunk(42,42,42,42) did not satisfy equalTo(Chunk(42,@,42,@))`

[2020-05-30 17:09] iravid commented on #3729
Thanks for reporting @svranesevic. Looks like just a bug in the intersperse implementation. Will have a fix soon.

[2020-05-30 19:55] jdegoes commented on #3726
How about:

[code]

which you can call from inside your code (or inside the tests), and whose results appear in-line with the tests?

[2020-05-30 19:58] jdegoes commented on #3721
The real problem is that it forces you to specify types that do not always infer (e.g. `Any` for `R`, etc.). Right now, the companion objects only require the used types, so they have much better inference for the specialized use cases.

A second issue is that you might call `UIO.bracket` or something, expecting to get back something of type `UIO`, and are surprised when you cannot assign the resu

[2020-05-30 19:58] #3729 closed

[2020-05-30 19:59] iravid commented on #3729
@svranesevic You can copy the fixed implementation to your project until we have a new release out. Thanks again for reporting!

[2020-05-30 20:08] svranesevic commented on #3729
@iravid Thank you for the quick turnaround!

[2020-05-30 20:45] adamgfraser commented on #3726
@jdegoes That sounds like a fantastic API. How do we get the information from the method to test framework? It seems like if we want to render the results in line with the tests then we have to capture the string as data and pass it to the test framework, which seems to require the method being defined in ZIO Test and only being available inside the tests as opposed to the source code.

[2020-05-30 22:17] saraiva132 opened #3732 "Consider combinator that fails fast after first error is found"
After a discussion on discord regarding the current combinators for validation / accumulation of failures I realized we do not have one that accumulates successes until an error is found. I guess the opposite of `validateFirst`.

Possible signature could be (names are suggestions):

[code]

or

[code]

In the end, the first can be seen as a specialized version of partition. The second is just some

[2020-05-30 22:19] luis3m commented on #3732
Maybe `validateAccum` or `validateFirstError` to keep it under the `validate` family

[2020-05-30 22:24] jdegoes commented on #3726
A FiberRef that contains an Option of Ref. 😈

[2020-05-30 22:25] saraiva132 commented on #3732
`validateAccum` would be nice if we do not care about the error thrown. Validate is already lossy to begin with, but we currently discard the successes and this quite different so it might create confusion. My first instinct would for it to be close to the partition variants but it is also a bit different from them.

[2020-05-30 22:30] luis3m commented on #3732
Agree, we need a fitting name then. IMO `failFast` doesn't say anything about the intent of the function.

[2020-05-31 21:32] simpadjo opened #3735 "Add ZSink.toQueue"
There is `ZStream#into` operator that allows for writing elements of a stream into a queue.
Would be better to have this functionality as a `ZSink` instead because sinks can be composed.

This sink could also take a boolean parameter like `shutdownWhenFinished` to decide if the queue should be terminated after the stream is done.

I also feel that it's possible to remove `Take` from the queue type

[2020-06-01 00:43] ghostdogpr commented on #3721
Feels pity to remove it, especially after the efforts it took to create it. Didn't we already do the hardest part? It doesn't seem too hard to add it for new methods now. I remember when it landed, I was able to remove a lot of `Any, Nothing` or `Any, Throwable` from my code.

I was actually wishing it would be there on `ZLayer` since I have some calls to `ZLayer.fromServicesM` that are very long

[2020-06-01 01:16] adamgfraser commented on #3721
Yes, I will put together a list of the pros and cons but I am leaning in that direction as well.

You are right about the partially applied types. Unfortunately in those cases I think there generally isn't a way to have the types correctly infer without it, but it can create an issue in both discoverability and error messages.

[2020-06-01 09:09] svroonland opened #3740 "Fiber failure with ZStream.aggregateAsyncWithin and ZStream.interruptWhen"
In this infinite stream, `interruptWhen(ZIO.never)` is used, yet the stream fails with an interruption error. This appears to be present in RC19-2 and RC20 (https://scastie.scala-lang.org/ywITkPfqR3e627YCKEC9uA and https://scastie.scala-lang.org/0fDYgZ5jSBO3gT84LQiwYA)

[2020-06-01 10:20] svroonland commented on #3740
I tried to change `interruptWhen` to use `raceAll` instead of `raceFirst`. That gives even stranger behavior, with the stream appearing to be stuck. See example here, no more "aggregate async done" messages are being printed after a short while.

https://scastie.scala-lang.org/5WAVeooJTfeT5kxfMrNNdA

[2020-06-01 14:56] adamgfraser commented on #3721
So I think the advantages and disadvantages are:

**Alias Methods**

Contributors:
(-) Have to add additional aliases when implementing any new method on ZIO companion object (though most of the work already done that this point)
(-) Additional review to make sure type parameters correctly specified in aliases
End Users:
(+) Better type inference
(+) Some static guarantee that type conforms to exp

[2020-06-01 17:07] luis3m commented on #3740
@svroonland it's the same issue. The thing is, `raceAll` interrupts the other fibers as soon as it gets its first success. `as` is being interrupted therefore it waits for the promise to succeed and that's why it hangs.

[code]
Add this to `myInterruptWhen` and you'll get an interruption error.

[2020-06-01 17:29] ahoy-jon opened #3745 "testJVMDotty not working (local dev)"
while running on master ( f6bad8c33  )
[code]

I have this issue
[code]

[2020-06-01 18:48] saraiva132 commented on #3732
@adamgfraser do you have an opinion on this?

[2020-06-02 14:48] nartamonov commented on #3226
Release notes for RC19 mention `TestAspect.only` was implemented but actually it have been deleted from library in #3696. It' sad... Should we re-open the issue? It's very helpful combinator, at least for me.

[2020-06-02 15:21] neko-kai commented on #3745
@ahoy-jon The same command worked for me on `master` right now. Could you check if maybe you have stale files in the build and try again?

[code]

[2020-06-02 15:31] adamgfraser commented on #3226
Yes, reopening to track it. Unfortunately this combinator is not resource safe with the current encoding of specs because we need to evaluate all the specs to determine whether there are any that are annotated with `only` so we can't close resources for a suite before evaluating the next suite. I'm working on an alternative encoding of the resources in specs that should allow us to bring this back

[2020-06-02 20:06] iravid commented on #3740
Hey @luis3m. Do you have any insight as to what's going on here?

[2020-06-02 22:41] luis3m commented on #3740
@iravid sort of, I'm still trying to understand why it's happening, I will give an update tomorrow. It's very likely I will need help understanding the issue but can tell that disowning `producerWaiting` solves the issue.

[2020-06-02 23:14] luis3m commented on #3740
Thinking a bit deeper I realized that this should also happen with other combinators such as debounce as it also stores a fiber to await later and I was right, `debounce` does not work with `interruptWhen` (or any other combinator racing fibers I guess):

https://scastie.scala-lang.org/hjcUbjl5QfSTHKkC5MTIzw

[2020-06-02 23:44] luis3m commented on #3740
I feel I'm missing something basic here but my understanding is that it's not working because parent fibers terminate children which is why these fibers saved for later are being interrupted but I fail to understand why `interruptWhen` is needed to recreate the issue.

[2020-06-03 00:17] adamgfraser commented on #3721
Closing given that it does seem like on balance the existing approach provides a better use experience.

[2020-06-03 00:17] #3721 closed

[2020-06-03 00:19] regis-leray commented on #3651
@iravid i think the signature should be more like this

`push: (A, Chunk[I]) => ZIO[R, E, Unit]`

[code]

am i correct ?

[2020-06-03 00:24] adamgfraser commented on #3732
How about `collectWhileSuccess`?

[2020-06-03 00:25] adamgfraser commented on #3604
Closing as these operators are available now that `Chunk` extends `IndexedSeq` and in fact have optimized implementations now.

[2020-06-03 00:25] #3604 closed

[2020-06-03 00:34] luis3m commented on #3732
@adamgfraser nice, sounds good to me and there's a similar combinator in ZStream so would be consistent

[2020-06-03 01:46] ahoy-jon commented on #3745
Retried on f6bad8c3 and on master, still doesn't work.

[2020-06-03 01:47] adamgfraser commented on #3745
There is something interesting going on here because it seems to be working on CI as far as I can tell.

[2020-06-03 01:53] ahoy-jon commented on #3745
I was trying to reproduce bugs from the CI, got something completely unrelated!

It doesn't block me at the moment.

[2020-06-03 06:27] simpadjo commented on #3651
@regis-leray yes, the signature will be more like this.

I'm not 100% sure but seems that you can get away with `ZSink(m.flatmap(a => ...))`.

[2020-06-03 09:41] svroonland commented on #3740
I played around with this and I think I also understand now, thanks to @luis3m.

The forked fiber for `waitForProducer` created by `updateSchedule.raceWith(waitForProducer)` is a child fiber of the `runIO.join.raceFirst(as)` in `interruptWhen`, which also forks `as`. So there's:
main fiber -> interruptWhen's `as` fiber -> waitForProducer fiber.

`interruptWhen` will, as part of `raceFirst`, call `

[2020-06-03 10:27] saraiva132 commented on #3732
I will take this one then, sounds fun

[2020-06-03 11:59] regis-leray commented on #3651
@simpadjo good this is exactly what i wanted to try 😎. I was puzzle by the `push` definition.

[2020-06-03 12:28] luis3m commented on #3740
@svroonland very well put, yes.

[2020-06-03 14:12] svroonland commented on #3740
I made a PR with the fix you suggested @luis3m. Also made an attempt to clean up the disowned fiber on stream shutdown. I have the feeling that I haven't considered all edge cases. I'm wondering if there's an alternative way to implement aggregateAsyncWithinEither that has more inherent resource cleanup guarantees somehow?

I also plan to think of some test case(s) for this.

[2020-06-03 14:19] luis3m commented on #3740
@svroonland I had the following test case locally:
[code]
I peeked at your draft and I don't think you need to join the fiber. I think you just need to interrupt it in case the stream gets interrupted or fails. (cc @iravid)

[2020-06-03 20:57] KadekM opened #3753 "Chunk.toArray StackOverflow, ZIO-RC19"
[code]
and so on

[2020-06-03 21:05] adamgfraser commented on #3753
@KadekM Thanks for reporting! Will take a look.

[2020-06-04 10:57] KadekM commented on #3753
@adamgfraser would it be possible to do release after this is merged? It's rather problem for us

[2020-06-04 13:44] adamgfraser commented on #3753
@KadekM A snapshot is released on every commit and then we are also planning on doing another release candidate tomorrow so will have this in soon.

[2020-06-04 15:21] svroonland commented on #3740
@luis3m You're right, interruption makes more sense. In fact joining will not work because the producer may not produce anything anymore.

I added your test case and marked the PR ready for review.

[2020-06-04 17:11] simpadjo commented on #3634
I vote for removing it after megring leftovers PR.
This would be just `.run(ZSink.head *> ZSink.drain)`

[2020-06-04 17:11] ahoy-jon commented on #3745
Tried again, it still doesn't work. Closing the issue (the CI works, not doing anything with dotty on my machine)
[code]

[2020-06-04 17:11] #3745 closed

[2020-06-04 19:40] #3647 closed

[2020-06-04 23:05] simpadjo opened #3758 "Add ZStream#runManaged"
`ZStream#run[B]` produces a value and immediately closes allocated resources.
Sometimes a user wants to do something with `B` before finalizing the resources.
So `ZStream` has a bunch of `*managed` methods e.g. `foreachChunkWhileManaged` to lift limitations of `run`.
What we need:
1) add `ZStream#runManaged(sink: ZSink[B])` which returns `ZManaged[R, E, B]`
2) `ZStream.run` will just delegate to `

[2020-06-05 06:46] simpadjo commented on #3758
will do it

[2020-06-05 07:53] LGLO opened #3759 "Add transducers for gzip and deflate"
`gzip` and `deflate` transducers would be very useful for handling HTTP content encodings. gzip is even more general than HTTP.
First try would be to use similar approach to `fs2.compression`

[2020-06-05 08:01] saraiva132 commented on #2077
@adamgfraser can you take a look at the list above and see what combinators still might make sense to add? Not a lot left but a lot of time has passed. Thanks!

[2020-06-05 14:52] adamgfraser opened #3760 "Flaky ZManaged Test"
[code]

[2020-06-05 16:22] bosyi opened #3762 "ZStream.repeatEffect runs effect more times than should"
On RC18-2 i have following code(count, println added):
https://scastie.scala-lang.org/bosyi/9SaEnmIjRqyY25xKSBUmJw/6
[code]
which produces
0
ok. 1
that is absolutely right as for test i am using zip archive with one file inside with name version
but after updating to RC20 i have NPE
[code]
so i try to rewrite code to repeatEffectOption
https://scastie.scala-lang.org/bosyi/9SaEnmIjRqyY25xKSBUmJw/7

[2020-06-05 17:01] luis3m commented on #3762
@bosyi I cannot recreate this issue with `repeatEffectOption`: https://scastie.scala-lang.org/05uAIDQ6RzqrdVw5zw7UrA

[2020-06-05 18:28] #3740 closed

[2020-06-05 18:59] bosyi commented on #3762
@luis3m my bad, i had RC18-2 before.
Example with RC18-2 https://scastie.scala-lang.org/bosyi/9SaEnmIjRqyY25xKSBUmJw/6
Example with RC20 https://scastie.scala-lang.org/bosyi/9SaEnmIjRqyY25xKSBUmJw/7

[2020-06-05 19:40] luis3m commented on #3762
@bosyi the behavior of `repeatEffectOption` is actually the same. The confusion here is `runHead` (see #3634)

Try `runCollect` (or `run(ZSink.head)`) instead and you should get the same result on both of those examples. As for `repeatEffect`, what do you think @iravid? `Tags.fromValue` is causing this. I guess this is something that we want to fix even though it's null right?

[2020-06-05 19:43] iravid commented on #3762
I don't think we can safely support nulls. This will probably result in a class cast exception: `(Chunk(1, 2) ++ Chunk(null)).toArray`.

As for the `runHead` trouble, I think we have enough evidence that the pre-RC19 behavior was correct.

Thank you for reporting @bosyi. Feel free to ask any follow up questions or close if you're good.

[2020-06-05 20:22] #3762 closed

[2020-06-05 21:02] svroonland opened #3766 "ZStream.buffer buffers chunks instead of single values"
For example, `someZStream.buffer(100)` will buffer up to 100 chunks instead of 100 elements.

[2020-06-05 21:02] luis3m commented on #3766
I'll take this one

[2020-06-06 08:09] tusharmath opened #3767 "ZIO-Test: Support for architecture test"
Archunit works really well with Java and Kotlin but lacks solid support for Scala. It would be great if `zio-test` could start with some basic support to write unit tests for architecture.

I am not sure if this is within the scope of ZIO Test but I think it would be a great feature to add.

[2020-06-06 14:28] iravid commented on #3766
@luis3m If possible - could you rename the chunk versions as `bufferChunks`? After the performance issues in zio-kafka due to destroying the chunking structure, I think these variants could prove useful.

[2020-06-06 14:29] iravid commented on #3634
The confused user reports convinced me the previous behavior was right. Thank you for your inputs everyone

[2020-06-06 14:29] #3634 closed

[2020-06-06 14:32] luis3m commented on #3766
@iravid sure

[2020-06-06 14:47] renancaju opened #3769 "ZIO Test Mocks - `or` with `andThen` apparently not working as expected"
Shouldn't the following test pass? However, when combining two expectations with `andThen` and applying the `or` method to the different combinations it doesn't.

[code]

The output error is

[code]

Changing the expectations composition to `(second andThen first) or (first andThen second)` makes the test pass.

Is this expected behavior?

[2020-06-06 16:52] renancaju opened #3771 "ZIO Test - no matching expectation with `forkDaemon`"
When using mocks with `forkDaemon`, a `no matching expectation error` occurs.

[code]
Output:

[code]

[2020-06-06 19:03] iravid commented on #3711
Resolved by #3722

[2020-06-06 19:03] #3711 closed

[2020-06-06 20:07] #3649 closed

[2020-06-06 22:46] simpadjo opened #3775 "Leftovers of Zsink leftovers"
This  PR https://github.com/zio/zio/pull/3722 need few follow-ups:

1) `ZSink#toTransducer`
In case of error, sink doesn't push leftovers to the next incarnation
@iravid suggests that it should
I'm not sure about it:

 iravid yesterday Member

simpadjo

~~2) `ZSink#collectAllWhileWith` must be reimplemented~~ DONE
3) `SinkUtils`: `sinkRaceLaw` and `zipParLaw` must check leftovers as well
~~4) `ZSt

[2020-06-08 05:07] KadekM commented on #3753
@adamgfraser is there something I can do to help with this?

[2020-06-08 06:04] #3238 closed

[2020-06-08 06:04] #3753 closed

[2020-06-08 06:08] adamgfraser commented on #3753
@KadekM Sorry for the delay. Was going to get this in along with the fiber supervision changes and do the next release candidate but we’re still working through a couple of issues with fiber supervision so just merged this. Snapshot should be available shortly.

[2020-06-08 07:44] KadekM commented on #3753
@adamgfraser thanks :+1:

[2020-06-08 08:27] mindartur opened #3780 "ZStream FlatMap fails when used with groupedWithin"
[code]

fails with

[code]

If I remove `groupedWithin` or `for {...} yield result` or `Thread.sleep(1000)` it works.

[2020-06-08 10:16] mindartur commented on #3780
Following versions are used:
[code]

[2020-06-08 14:53] #1212 closed

[2020-06-08 17:44] adamgfraser commented on #3769
Copying @ioleo.

[2020-06-08 17:50] adamgfraser commented on #3767
@tusharmath I think that would be great. I think given that at least as I understand it this would add an additional dependency I think this would make sense as a separate project (e.g. `zio-test-archunit`) that would live in its own repository. I don't have the knowledge of it or capacity to do myself but if you or anyone else is interested I think it would be fantastic and will help in any way I

[2020-06-08 17:53] adamgfraser commented on #3771
Copying @ioleo.

Is this really a bug? If you are forking `fa` then `fb` is being executed concurrently with `fa`, which means `fb` could be executed before `fa`, violating the expectation.

[2020-06-08 18:50] #3758 closed

[2020-06-08 19:57] iravid commented on #3780
Thanks for reporting @mindartur. Could you check this against the latest ZIO snapshot? There was a similar bug fixed in `aggregateAsyncWithin` (which underlies `groupedWithin`) recently.

[2020-06-09 09:12] mindartur commented on #3780
@iravid it passes with latest `1.0.0-RC20+51-197673dc-SNAPSHOT`, thanks!

Does it make sense to add this test to the repo?

[2020-06-09 13:49] svroonland opened #3785 "Add ZStream#retry to retry the stream"
There is `ZIO#retry`, we should have an equivalent for `ZStream`.

TBD: semantics, retry the entire stream or just the last pull?

[2020-06-09 13:50] svroonland commented on #3785
cc @adamgfraser about the semantics: pull or whole stream

[2020-06-09 18:15] iravid commented on #3780
@mindartur Sure why not. Feel free to send a PR.

[2020-06-09 18:15] iravid commented on #3780
Oh well actually it may be hard to turn this into a testcase because of the use of thread blocking. If you can reproduce it without, that'd be great.

[2020-06-09 19:12] tampler commented on #3449
This was fixed as per "1.0.0-RC20+50-e27a7ee7-SNAPSHOT"

[2020-06-10 01:47] phderome opened #3789 "TMap should have a size method returning number of keys"
So to provide API `size` directly. Instead we must do this: `tmap.toList.map(_.length).commit`

[2020-06-10 02:15] adamgfraser commented on #3789
I will add this.

[2020-06-10 03:35] phderome opened #3791 "TMap should support putIfAbsent"
stdlib TrieMap does offer this and it makes sense like a compare and swap type of primitive.

[2020-06-10 06:48] #3789 closed

[2020-06-10 17:11] er1c opened #3794 "Add a scaladoc link to README.md"
I would be interested in having a [scaladocs](https://javadoc.io/doc/dev.zio/zio_2.12/latest/zio/index.html) icon as part of the header

![image](https://user-images.githubusercontent.com/64685/84297394-4c809180-ab02-11ea-90e2-c6b64514ec39.png)

[2020-06-11 05:08] #3794 closed

[2020-06-12 12:46] er1c opened #3799 "scaladoc for streams produces broken links"
(e.g. https://javadoc.io/doc/dev.zio/zio-streams_2.12/latest/zio/stream/ZStream$.html)

![image](https://user-images.githubusercontent.com/64685/84503914-e9147200-ac6f-11ea-9168-03187b6c13d3.png)

Clicking on `TQueue` results in a broken link.

I'm not sure what the solution is, I realize they are different packages.  But it would be nice to have a scaladoc that includes a "full" version of packag

[2020-06-12 18:13] adamgfraser commented on #3771
@renancaju Did you get a chance to take a look at this? It seems like this is the expected behavior.

[2020-06-12 18:15] adamgfraser commented on #3767
Going to close this as while I think this would be a great addition I don't think there are concrete action items for us to take within this repository. If you are interested in exploring this and there is anything I can do to help please let me know.

[2020-06-12 18:15] #3767 closed

[2020-06-12 18:40] renancaju commented on #3771
Hm, I actually didn't take a look at that yet, I was waiting for @ioleo to chip in.

So if this is the expected behavior (i.e. the order is not guaranteed), is there a way to test the methods are called? It appears I'd have to use the `or` method with `andThen`, which brings us to https://github.com/zio/zio/issues/3769...

Are there any other ways?

[2020-06-12 19:14] adamgfraser commented on #3771
So I think there are two things going on here, what is the expected behavior of the underlying method being tested and how should that behavior be verified.

In `a.fork *> b`, the order in which `a` and `b` are executed is indeterminate since once `a` is forked, execution of `a` and `b` is occurring concurrently on separate fibers so any order of execution is possible and the particular order of e

[2020-06-12 19:56] Fristi opened #3802 "ZLayer.mapValue and ZLayer.unit"
[code]

`mapValue` is 'valuable' when you want to select a value from a configuration dependency:

[code]

`unit` is valuable when you have top level dependencies which model a long running process which returns something else then `Unit`

[code]

[2020-06-12 20:42] renancaju commented on #3771
I think it does make sense, but I'm not sure it would work every time. Here's another test case that you might be interested in. It has some of a random behavior.

[code]

So, there are two modules now and I using both of them to create my layer. I use the `checkM` purely to create more tests runs. With the `println` you will see it fails after a few successful ones, so I'm guessing it has somethi

[2020-06-12 20:53] adamgfraser commented on #3771
So why are you using forkDaemon there? By doing that you are creating a race condition because your effect will return immediately, possibly before fb has completed or even begun execution, in which case the expectation will not be satisfied. Why not just fa *> fa?

[2020-06-12 21:23] renancaju commented on #3771
I'm working with some legacy code where I have to complete the request as fast as I can. The last step, which is not essential for the request to complete, but highly desirable to happen, is slow and needs to be `forkDaemon`ed in order for the request to complete in due time.

What happens in my production code is that the `forkDaemon`ed fiber outlives the main fiber. But that does not happen in t

[2020-06-12 21:26] adamgfraser commented on #3771
I don't think the issue is that the fiber doesn't outlive the main fiber but rather that the test framework evaluates whether the expectations were fulfilled when your effect completes and since you are forking this off to another fiber it may not have completed when the test framework evaluates whether the expectations were fulfilled. Can you use `zipPar` to do them both in parallel and wait for

[2020-06-12 21:31] renancaju commented on #3771
Got it. Unfortunately I can't use `zipPar` (the operation is REALLY slow, I can't afford to wait for it to complete in production). I believe the best approach here is to work on removing this dependency and live with a no-op implementation of the service that performs the slow operation in the specs. I guess mocks and forkDaemon are not meant to be used together, that's ok. Thanks for the explana

[2020-06-12 21:33] adamgfraser commented on #3771
Can you complete a promise from the slow service and wait on that in your test? I don't think it is an issue with `forkDaemon` as opposed to `fork` and I don't think it even has to do with the mocking framework. If you wanted to do any test for some condition being true you are going to need a way to wait for the effect that sets that condition to be true to complete.

[2020-06-13 01:44] adamgfraser commented on #3771
Going to close this as I don't think there is an actionable item at this point. Feel free to reach out here or on Discord if there is anything else I can do to help with this.

[2020-06-13 01:44] #3771 closed

[2020-06-13 13:38] adamgfraser commented on #3802
What are the types of `consumer` and `producer` in your example? Why do you need to call `unit` there if you are already calling `unit` on the `Managed` you are building from the layer?

[2020-06-13 18:41] kentfrazier opened #3806 "accessible macro does not properly handle ZManaged"
When a module has a member with a return type of `ZManaged[R, E, A]`, I think the expected accessor generated by `@accessible` would be `ZManaged[R with Has[Service], E, A]`, but the current implementation seems to fall back to treating it as a method and generates an accessor with return type `ZIO[Has[Service], Throwable, ZManaged[R, E, A]]` which is more difficult to work with and doesn't match

[2020-06-13 19:48] kentfrazier commented on #3806
Pull request is open at https://github.com/zio/zio/pull/3807

[2020-06-14 08:17] #3082 closed

[2020-06-14 12:35] phderome opened #3808 "Add to zio.dev Data Types doc for TPriorityQueue"
May need to be tied to next RC release.

[2020-06-15 08:34] ajaychandran opened #3809 "A case for ZIO.effectAsyncInterruptM?"
The callback argument for `effectAsyncInterrupt` returns a canceler or an effect that yields a value.
[code]

Often times though, computing the returned value itself requires running an effect. I have encountered this in two separate use cases (one where the registration must be executed on a specific thread and another where a canceler is returned only when some registration effect succeeds) and

[2020-06-15 15:26] #3780 closed

[2020-06-15 15:33] mindartur opened #3811 "Add ZIO.fromIterableEffect + fix inconsistent method naming"
Since ZStream is basically a stream of effects, why not add the following method?
Correct me if it is already implemented somewhere:

[code]

Also naming is a bit inconsistent in a following existing methods:
[code]
and
[code]

[2020-06-15 15:34] mindartur commented on #3811
I'll be happy to fix those, if it makes sense :)

[2020-06-15 17:37] adamgfraser commented on #3531
Going to close this as I think this use case is already covered by `distage` and out of scope for ZIO itself.

[2020-06-15 17:37] #3531 closed

[2020-06-15 17:40] adamgfraser commented on #3236
Going to close this as I think with the `when` and `unless` variants we now have all the use cases covered.

[2020-06-15 17:40] #3236 closed

[2020-06-15 18:13] tgroehl opened #3816 "Defect in Has error and different compile behaviour with dotty"
I'm currently playing around with Dotty (0.23.0-RC1) and ZIO (1.0.0-RC20) and I'm getting a runtime error when running a small piece of code, which works fine under Scala 2.13.2.

Another thing I noticed is a different compile behavior between dotty and 2.13.2. The first time when I tried to compile the code with 2.13.2 the compiler (rightfully) complained about the missing implicit `Tag`s for `A`

[2020-06-15 18:27] #3552 closed

[2020-06-16 06:48] reibitto opened #3818 "ZStream.grouped can return empty Lists"
This behavior changed after the ZTransducer changes:

[code]

I found this a bit surprising. Prior to RC19, that block would not run since the stream is empty and there is nothing to map.

[2020-06-16 09:18] simpadjo commented on #3818
Yes, looks like a bug, I'll fix it

[2020-06-16 12:55] jdegoes opened #3820 "Incorporate support for Gitpod?"
<https://www.gitpod.io>

[2020-06-16 12:55] jdegoes commented on #3816
This is most likely in Izumi reflect, but good to track here too! 🙏

[2020-06-16 12:56] jdegoes commented on #3811
/cc @iravid

[2020-06-16 15:51] tabdulradi opened #3821 "Recursive ADTs's derived Gen instances tends to OOM"
Hello,

Using DeriveGen with a recursive data structure like a Tree produces a Gen that takes reaaaaly long time to run before I kill it or I get OOM. Here is an example:
[code]

Running this, I usually see one or two instances being created, then silence for long time and eventually it OOMs.

Even if I tried to limit branches, by using a binary tree instead, the behaviour becomes slightly better:

[2020-06-16 16:10] adamgfraser commented on #3821
@tabdulradi Yes that is definitely an issue. As you say it is an issue for recursive data types with a branching factor greater than one in general that we normally address with some concept of sized generators. The challenge is how to do this fully generically, because if we just have a `sealed trait` we don't know what the "base case" is that we we should be falling back to if we don't want to r

[2020-06-16 16:55] palanga opened #3822 "Chunk.fromIterable may lose the first element"
Since an `Iterable` can be mutable and:
[code]

in the last case, `iterable.head` will mutate the original iterable, resulting in a `Chunk` without that head element.

I got bit by this when working with Datastax java driver for Cassandra where the `curentPage()` method in `AsyncResultSet` returns a mutable java iterable.

Example:

[code]

[2020-06-16 16:56] palanga commented on #3822
I can try to fix this if it's something we should address.

[2020-06-16 17:20] adamgfraser commented on #3822
Hmmm. To some extent I think this is a contract violation as my understanding of the guarantee for `Iterable` as opposed to `IterableOnce` is that it can safely be traversed multiple times, which is basically the issue here. But I think we can work around this fairly easily with our existing `ChunkBuilder` machinery. In the `Iterable` case we can just create a new `ChunkBuilder`, add all the eleme

[2020-06-16 18:26] #3808 closed

[2020-06-16 18:36] #3818 closed

[2020-06-16 19:45] palanga commented on #3822
Maybe not too much, giving  that we already copy all the elements to an array. I'll try to do it.

Another think I can think of is to keep this as is, assuming the `Iterable` is immutable, and add another method like `fromIterableMutable` where we assume the it is mutable. But your suggestion seems clearer.

[2020-06-16 19:47] palanga commented on #3822
Or a `fromIterator` method. I don't know.

[2020-06-17 15:26] #3651 closed

[2020-06-18 06:42] iravid commented on #3811
@mindartur I tend to think that `Iterable[ZIO]` is a rare enough case to not justify a dedicated constructor, because you can fairly easily do `ZStream.fromIterable(as).mapM(identity)`. What do you think?

`fromIterableM` for is indeed a shoddy name. How about `fromEffectIterable` for that one?

[2020-06-18 16:14] mindartur commented on #3811
Agree, if it is not used often, then no need to implement it. I actually solved my problem the same way: `ZStream.fromIterable(as).mapM(identity)`.

tricky here, `fromEffectIterable` looks better, but `fromIterableM` reminds of `mapM` and`map` methods pair :)

[2020-06-19 06:08] iravid opened #3832 "Make ChunkBuilder public"

[2020-06-19 06:20] iravid commented on #3811
Pinging @regiskuckaertz @simpadjo @adamgfraser for thoughts on renaming `ZStream.fromIterableM` to `fromEffectIterable`.

I admit I was looking for something like `fromIterableM` the other day but couldn't find it because I was looking under `fromEffect`.

[2020-06-19 13:18] simpadjo commented on #3811
I don't have an opinion on that

[2020-06-19 13:39] DamianReeves commented on #3133
I'm assuming this would address  the issue where JUNIT reports have ANSI character codes in the console output when using the JUnit runer.

[2020-06-19 19:58] adamgfraser commented on #3073
Resolves by #3829.

[2020-06-19 19:58] #3073 closed

[2020-06-19 19:58] adamgfraser commented on #3098
Resolved by #3829.

[2020-06-19 19:58] #3098 closed

[2020-06-19 22:09] #3832 closed

[2020-06-20 15:54] reibitto opened #3840 "ZIO Test: TestClock.adjust can hang in certain situations"
Here's a minimal example that I came up with. There's a semaphore with 0 permits, so it will block when calling `acquire` on it. After a timeout of 3 seconds it should get released though due to the cancel block.

[code]

This code hangs on TestClock.adjust and the cancel block is never called.

To get a more real-life example of what I'm trying to model here, you can take a look at this test in z

[2020-06-20 19:30] simpadjo opened #3841 "`ZStream#fromIterator(Managed)` should have an optional `chunkSize` parameter"
[Good first issue]
`ZStream#fromIterator` creates a task for pulling each individual element. This makes it infeasible for low-level tasks.

It can be worked around by calling `ZStream.fromIterator(it.grouped(1000))`.
Explicitly adding `chunkSize` parameter would save users from accidentally hitting this problem.

[2020-06-21 11:17] mtjon commented on #3646
@iravid Are you still working on this since merging the initial 'complete file' version in #3697 ?

I would be interested in picking this up if noone is working on it.

Question:
I see you use `nio.FileChannel` in your complete file implementation. What's the intent for the partial reader? Should the range refer to a startpoint and length in the stream or a line range in the file?
Should the other

[2020-06-21 16:29] felher opened #3847 "ZStream.fromJavaStream*: Consider always calling close on underlying stream"
Hey folks,

I thought it might be useful to always call close when creating a `ZStream` from a java `Stream`. Consider the following code:

[code]

As one would expect, after some time it fails with:
[code]

I think it might be useful to always call `close` on the underlying stream when the `zstream` is done. Some arguments in favor would be:

1. The stream is created by calling  `iterator()` on i

[2020-06-21 18:18] mvv opened #3849 "`Seq.+:` is broken for Chunk on Scala 2.12"
Casting `Chunk` to `Seq` breaks `+:` on Scala 2.12 (but not on 2.13):
[code]

[2020-06-21 18:26] kubukoz opened #3850 "Schedule lags between occurs 1 and 2"
I'm sorry if the description is too specific, but I haven't dived into why this happens yet.

Given such a program, which prints the amounts of milliseconds since it started, on a schedule:

[code]

On my machine it results in output like:

[code]

While most numbers are greater than the previous ones by roughly 100, the difference between 191 and 481 is 290, so about 190ms of extra delay. I've be

[2020-06-21 18:50] iravid commented on #3847
Yes this is necessary, was going to open an issue about this myself. A PR would be very welcome!

As for closing the stream or not - let's do the same as `fromInputStream`:
- `fromJavaStream(Stream)` does not close
- `fromJavaStream(ZIO[Stream])` closes
- `fromJavaStream(ZManaged[Stream])` does not close

I think we'll do a little re-arrangement on this scheme before declaring binary compatibility

[2020-06-21 20:20] iravid commented on #3646
Hey @mtjon, I'm not working on the other variants currently. If @luis3m doesn't mind it's a great ticket to work on.

For the range option, it's an offset and length. All the variants should re-use the same filechannel for efficiency rather than use `Files` which would open/close the file on every pull.

[2020-06-21 20:48] luis3m commented on #3646
@mtjon feel free to take this one :)

[2020-06-21 21:18] simpadjo commented on #3847
IMHO `Stream`s should be closed much more aggressively than `InputStream`s.
Once allocated, an  `InputStream` has to be closed. This is a common knowledge in Java.
OTOH `Stream`s are usually autoclosed by terminal operators.
`fromJavaStream` looks more like a terminal operator for a `Stream`.
I'd either just always close the stream or add an optional `close: Boolean = true` parameter to all releva

[2020-06-21 21:31] simpadjo commented on #3841
How to undo an accidental thumbsup on my own issue?  :rofl:

[2020-06-22 00:11] ghostdogpr opened #3851 "Threads getting blocked with RC21"
While upgrading ZIO Query to RC21, we observed some tests started getting timeouts. Using snapshots we confirmed this started to appear from the Scopes PR.

Here's a view of the threads during one of the failing tests, before Scopes:
![Screen_Shot_2020-06-21_at_3 09 36_PM](https://user-images.githubusercontent.com/7413894/85238270-dff18500-b467-11ea-9a54-2f5137bf8ae0.png)
After Scopes:
![Screen_Sh

[2020-06-22 00:32] ghostdogpr commented on #3851
Running the folllowing:
[code]
I can observe `finalizers` getting increasingly large, but not the thread blocking. Maybe they are separate issues, I'm not sure.

[2020-06-22 00:46] ghostdogpr commented on #3851
Found a reproducer:
[code]
You can increase the number 10 to make it worse but 10 seems enough.

[2020-06-22 07:40] felher commented on #3847
I, too, would prefer a more aggressive stance on closing when talking about java streams. I feel the same way about it as @simpadjo does: `fromJavaStream` - and its alternatives - look like terminal operations. Not only do they look like it, they are (and have to be).

Here is a somewhat lengthy example:
[code]

I think it reasonable to expect both `a1` and `a2` to work, which they do. And it seem

[2020-06-22 07:52] wongelz opened #3852 "Chunk.toArray throws ClassCastException"
[code]

[2020-06-22 14:32] adamgfraser commented on #3852
@wongelz Thanks for reporting! Just pushed a fix.

[2020-06-22 14:51] adamgfraser commented on #3849
@mvv Thanks for reporting! Will take a look.

[2020-06-22 15:44] lvitaly commented on #3841
@simpadjo @iravid hey, can I take it?

[2020-06-22 16:06] LukeDefeo opened #3854 "Cond like constructor"
Hello I was looking for a method like cond on Either. It would work like so:

[code]

is there another way of doing this? if not would you consider a pr with a method like this?

[2020-06-22 17:45] adamgfraser commented on #3854
@LukeDefeo I don't think we have something with that signature today but sounds like a great addition!

[2020-06-22 18:08] simpadjo commented on #3841
Sure!

[2020-06-22 20:33] Fristi commented on #3802
Good point, I think that would be an easy way to fix it.

What do you think of adding `mapValue` (or maybe call it something else) or does there already exist such a thing? :)

[2020-06-23 06:53] octavz opened #3856 "zio-test imports"
Hi,

It would be nice to have a `import zio.test.all._` that would include:
`zio.test._`, `zio.test.Assertion._`, `zio.test.TestAspect._`, `zio.test.environment._`

First one is required, the next one is required since is not possible to use assertion w/o it.
The 3rd one and last one are not that used, though I find myself very often using aspects, as for the environment, it contains the type of `

[2020-06-23 15:29] jdegoes opened #3859 "ZIO Stream / Sink JVM Enhanced Integration"
- [ ] `ZStream.fromURL(url: => URL, chunkSize: Int): ZStream[Blocking, Throwable, Byte]`
- [ ] `ZStream.fromPath(path: => Path): ZStream[Blocking, Throwable, Path]`
- [ ] `ZStream.fromPathRecursive(path: => Path): ZStream[Blocking, Throwable, Path]`
- [ ] `ZStream.watchPath(path: => Path): ZStream[Blocking, Throwable, Path]`
- [ ] `ZStream.watchPathRecursive(path: => Path): ZStream[Blocking, Throw

[2020-06-23 15:29] jdegoes commented on #3859
/cc @sampooni

[2020-06-23 16:02] jdegoes commented on #3859
@samPooni <https://github.com/zio/zio/blob/master/CONTRIBUTING.md>

[2020-06-23 17:13] fillson-shady opened #3860 "ZStream.groupedWithin doesn't groups batch when got exact items count"
Hello!

I've met strange behaviour of the `ZStream.groupedWithin` which can significantly affect performance of an application when it's passing batches of messages of fixed size. Here is the reproducer (works both on RC-20, RC-21 and SNAPSHOT):

[code]

It produces the following output:
[code]

One can see that we are able to compose a full batch after a millis from start, but actually we got bat

[2020-06-23 22:25] mgenereu commented on #3820
I'm using Zio while developing in Gitpod.  Works fine.  What would you expect?

[2020-06-24 12:01] loicdescotte opened #3863 "ZStream.tick does not run the action first before waiting the interval"
`ZStream.tick(duration)` relies on `ZStream.spaced(duration)`, which is defined like this in the scaladoc :
`|action|-----interval-----|action|-----interval-----|action|`

But it seems that it is rather behaving like this  : `-----interval-----|action|-----interval-----|action|`

Example :

[code]

If you run this, you will not see "tack" directly but only after 10 seconds :

[code]

[2020-06-24 15:44] politrons opened #3864 "Set Execution Context in ZIO.fromFuture"
Hi all, I´m reading the documentation of ZIO future https://zio.dev/docs/interop/interop_future
But I cannot find a way to specify the ExecutionContext that I want to use for that Future. I guess by default it's using the Scala global one, but that one give us a very poor performance and I would like to specify a one from us.

[2020-06-24 15:48] adamgfraser commented on #3864
@politrons The future will be run on ZIO's thread pool by default. You can control the execution context using the `ZIO#lock` or `ZIO#on` combinators. If you want to come over to Discord happy to provide whatever other help you need.

[2020-06-24 15:55] jdegoes opened #3865 "ZTransducer: Add more useful transducers"
- [ ] `def splitLine(delimiter: String, escapeStart: String = "\"", escapeEscape: String = "\"\"", escapeEnd: String = "\""): ZTransducer[Any, Nothing, String, Chunk[String]]`
- [x] `val iso8859_1: ZTransducer[Any, Nothing, Byte, String]`
- [x] `val usASCII: ZTransducer[Any, Nothing, Byte, String]`
- [x] `val utf16: ZTransducer[Any, Nothing, Byte, String]`
- [x] `val utf16BE: ZTransducer[Any, Noth

[2020-06-24 15:56] jdegoes commented on #3865
/cc @vinhhv

[2020-06-24 16:03] politrons commented on #3864
Hi, do you have any documentation that I can read regarding ZIO#lock and ZIO#on ? otherwise where can I find a link to Discord 😅

[2020-06-24 16:09] adamgfraser commented on #3864
I don't think we have a section on it in the documentation (contributions always appreciated! 😃). Here is a [link](https://javadoc.io/static/dev.zio/zio_2.12/1.0.0-RC21/zio/ZIO.html#on(ec:scala.concurrent.ExecutionContext):zio.ZIO[R,E,A]) to the Scaladoc. The link to Discord is [here](https://discord.gg/2ccFBr4). Basically you give the effect an `ExecutionContext` and then it will be run on that.

[2020-06-24 16:15] politrons commented on #3864
I´m trying doing this

`ZIO.lock(ec)(ZIO.fromFuture(_ => service(request).asScalaFuture()))`

But the only way to obtain that ExecutionContext is implementing a trait which if I honest with you I dont feel comfirtable without know what I have to implement

[code]

There's no Factory like Java does where I only have to specify the number of threads of my pool?

[2020-06-24 16:20] adamgfraser commented on #3864
Okay, so there are a couple of things here. First, the signature of `ZIO#fromFuture` is:

[code]

So ZIO is giving you an exception context to run your future on. So I think the way you want to write this is just:

[code]

That will import a `Future` into a `ZIO` and make sure that the execution context the future runs on is controlled by ZIO (assuming that `service(request).asScalaFuture` takes a

[2020-06-24 16:24] politrons commented on #3864
It helps a lot, as I explain bellow I found how to create the executionContext

[code]

my only remain question is what is `yieldOpCount0` that I passing to `fromExecutionContext`

Also regarding the default ExecutionContext of ZIO, how many threads is using?. The Scala global default is normally the number of cores of your machine, and in our benchmakrs we detect that configuration for our use ca

[2020-06-24 16:30] mschuwalow commented on #3865
I'll take these unless somebody wants to split up the work

[2020-06-24 16:31] adamgfraser commented on #3864
Great! ZIO also uses the number of available cores by default so if you want more than that then you should definitely customize your `Executor`. The `yieldOpCount` is the maximum number of operations the ZIO runtime will execute on a fiber before yielding to other fibers. So it is a tradeoff between efficiency and fairness (lower numbers mean yielding more often which improves fairness but at som

[2020-06-24 16:39] politrons commented on #3864
Well that last sentence just blow my mind 😂  what can be consider a block work?. I guess the transition from Future to Fiber is something so rudimental like on complete of the future make succeed or fail a promise that we use to create a Fiber before, but not blocking is happening there right?.

In any case if I set my own ZIO ExecutionContext with lock it means the resolution of the future it wil

[2020-06-24 16:46] adamgfraser commented on #3864
So blocking work would be anything where the underlying thread is blocking waiting for something to happen. Like if you have a database call and the thread just sits there until the database has the result that would be blocking versus if you give the database a callback to invoke when it has a result that would be nonblocking. ZIO operates with a small number of underlying threads for efficiency

[2020-06-24 16:50] politrons commented on #3864
Sure thing!, I will continue my benchmarks and I will let you guys know in Discord. Thanks a lot again for the master class 😉

[2020-06-24 16:50] #3864 closed

[2020-06-24 17:08] mtjon commented on #3646
Hadn't replied yet, but I'm on it (in my off hours).  ✌️

[2020-06-24 18:30] jdegoes commented on #3865
I believe that @vinhhv would like to reserve one or two. 😄

[2020-06-24 22:15] simpadjo commented on #3863
I expect `ZStream.tick` not to emit a tick immediately (the most useful behavior IMHO), so `tick` looks correct to me.
Clarification could be added, though.

`ZSchedule.spaced` description seems a bit misleading: actual behavior of it is
`-----interval-----|action|-----interval-----|action|` .
But when you call `action.repeat(Schedule.spaced(t))`, the timeline is like in docs:
` |action|-----inter

[2020-06-25 00:15] vinhhv commented on #3865
@mschuwalow I can give `splitLine` and `usASCII` a go. Feel free to grab the others!

[2020-06-25 09:32] simpadjo commented on #3863
Idk, I'd personally just call `ZStream(()) ++ ZStream.tick` but let @iravid decide.

[2020-06-25 12:22] simpadjo opened #3868 "Rename 'master' branch"
Masters considered harmful.

Let's rename it to e.g. "main"

[2020-06-25 15:23] neko-kai commented on #3868
I propose `develop` since all 7mind projects already used `develop`, so were unaffected by the `master` controversy 😛
Renaming to `develop` across the board will reduce my personal command-line typos when updating `izumi-reflect`

[2020-06-25 20:37] ioleo commented on #3769
@renancaju Thanks for reporting. @adamgfraser I can confirm this is a bug and I managed to narrow down on where the issue is. I'll try to find some time this weekend to issue a fix.

[2020-06-25 23:25] toxicafunk opened #3871 "Layer composition seems to hang on some cases"
There are at least 2 cases when composing layers block, one using `>>>` and another using `>+>`. For `>>>`:

[code]

The above code *fails* when run as `App` or as a main
[code]

but for some reason succeeds when run from zio-test `zio.test.test("unsafeFromLayer") { ... }`

The other case (`>+>`) was found by @ghostdogpr :
[code]

It fails regardless of being run as `App` `main` or from a `test`.

[2020-06-26 00:21] ghostdogpr commented on #3871
Interesting: if I change `zipWithPar` to `zipWith` in `ZLayer#scope`:
[code]
The problem disappears.

[2020-06-26 02:11] ghostdogpr commented on #3871
OK, after a thorough debugging session I found out we are running into a Scala bug: https://github.com/scala/bug/issues/7646
See also https://stackoverflow.com/questions/20157977/why-does-scala-hang-evaluating-a-by-name-parameter-in-a-future

Moving the by-name parameter (here, the layer) to another object solves the problem.

The only thing ZIO could do to prevent this issue would be to _not_ use

[2020-06-26 02:51] adamgfraser commented on #3871
@ghostdogpr Good find! And glad to know it is not related to the other issues we are seeing. It is somewhat useful to have that be lazy because the layer you call `fold` on is either going to be a success or a failure so we only even need to evaluate one and it lets us create layers like in `retry` that call themselves until success without recurring infinitely. There may be a way to do that witho

[2020-06-26 09:03] iravid commented on #3860
Definitely a bug. I just ran into that too.

[2020-06-26 09:14] iravid opened #3872 "Add ZStream.fromReader"
Interop with java.io.Reader

[2020-06-26 09:15] iravid opened #3873 "Add ZStream.toReader"
Interop with java.io.Reader

[2020-06-26 09:17] iravid opened #3874 "Add ZStream.paginateChunk/M"

[2020-06-26 09:18] iravid opened #3875 "Add ZStream.flattenIterable"

[2020-06-26 09:21] iravid opened #3876 "ZStream#flattenChunks should not delegate to Chunk#flatten"
Using Chunk#flatten causes the chunks to be copied into one array, which is risky on large chunks. Instead, the stream should lazily emit each of the chunks (e.g. using BufferedPull).

[2020-06-26 11:18] iravid commented on #3868
Slightly larger context: once 1.0 hits, it'd be nice to have topic branches so we can start work on an eventual binary incompatible 2.0 and still backport fixes and improvements to 1.0. Would we still need a main branch with that setup?

[2020-06-26 11:34] iravid opened #3877 "Optimize ZStream.range to emit chunks"
Instead of singleton chunks.

[2020-06-26 11:36] iravid opened #3878 "Add ZSink#timed"
Should time the lifetime of the sink. Should return a tuple of the original result and a `Duration`.

Bonus points: ZSink.timed, defined as `ZSink.drain.timed.map(_._2)`

[2020-06-26 14:59] iravid opened #3879 "Add ZTransducer.inflate, ZTransducer.gunzip"

[2020-06-26 15:05] #3873 closed

[2020-06-26 16:56] jdegoes opened #3880 "ZManaged integration improvements"
These could be added in the JVM (platform-specific) trait that is mixed into the `ZManaged` companion object:

- [x] `ZManaged.readFile(path: Path): ZManaged[Blocking, IOException, FileInputStream]`
- [x] `ZManaged.readFile(path: String): ZManaged[Blocking, IOException, FileInputStream]`
- [x] `ZManaged.writeFile(path: Path): ZManaged[Blocking, IOException, FileOutputStream]`
- [x] `ZManaged.write

[2020-06-26 16:57] adrianfilip commented on #3880
Thanks! I'll implement this!

[2020-06-26 17:36] jsfwa opened #3882 "OOM using bufferSliding"
**ZIO version**: 1.0.0-RC21

Hi guys, simple reproducible OOM via `bufferSliding`:
[code]
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/7480075/85884081-b4192b00-b7ea-11ea-9f1e-fe7958d2a939.png">
<img width="1242" alt="image" src="https://user-images.githubusercontent.com/7480075/85884219-f2164f00-b7ea-11ea-963d-a7d0499abc55.png">

[2020-06-26 19:29] iravid commented on #3882
Thank you for reporting (and minimizing!) @jsfwa. We'll look into this.

[2020-06-26 20:00] iravid commented on #3860
@fillson-shady The problem is that the transducer used in `groupedWithin`, `ZTransducer.collectAllN`, waits for the `N+1`th element before emitting. So as a workaround, you could try modifying the batch size. But most likely in real-world situations, the number of elements on the stream is variable and you might not be hitting this as often as thought.

Either way - will fix the problem with colle

[2020-06-27 00:48] jdegoes commented on #3850
Thanks for reporting, will look into this soon!

Did you try `Schedule.fixed`?

[2020-06-27 01:23] #3852 closed

[2020-06-27 03:15] ghostdogpr commented on #3851
The root problem identified in zio-query was solved by this PR: https://github.com/zio/zio/pull/3884 and a RC21-1 is on the way with that fix.

[2020-06-27 03:15] #3851 closed

[2020-06-27 08:53] #3860 closed

[2020-06-27 11:06] jsfwa commented on #3882
Just checked, the problem is in this recursive call https://github.com/zio/zio/blob/master/streams/shared/src/main/scala/zio/stream/ZStream.scala#L434
changed it to
[code]
And looks like it solved the problem, but not sure about the correctness of this approach

[2020-06-27 11:55] iravid commented on #3882
@jsfwa Interesting. Would you like to open a PR with the fix and we can verify it there?

[2020-06-27 12:01] iravid commented on #3863
All of the stream scheduling combinators are using the "perform once and then use the schedule", so we should definitely align `ZStream.repeatEffectWith` (which underlies `tick` and all the rest) with this scheme.

[2020-06-27 13:10] narma commented on #3882
Hey! I'm @jsfwa colleague, and he asked me to create PR because he away from the computer for a weekend.

[2020-06-27 13:24] shvimas opened #3893 "Provide a more safe alternative to the Random service"
At the moment `Random` service returns `UIO` for any operation even if some inputs may not result in a return value (e.g. `random.nextIntBetween`). Due to [this Discord conversation](https://discordapp.com/channels/629491597070827530/630498701860929559/726330286534688899) I see that when working with some static values it is more convenient to have such "untruthful" methods but in the case of work

[2020-06-27 13:28] shvimas commented on #3893
I can implement this if maintainers agree on the overall idea.

[2020-06-27 14:14] thesamet commented on #3609
Hey friends, it would be nice if this would be resolved prior to ZIO 1.0. I haven't received any user complaints, but this represents a caveat on correctness for zio-grpc.

[2020-06-27 15:06] adamgfraser commented on #3893
👍 on adding a note to the ScalaDoc.

Personally, I am 👎 on adding another service here. I think it adds significant complexity and cases like this where invalid input is provided by the user and can be known statically (essentially an `IllegalArgumentException`) are appropriately handled by the unchecked error channel (e.g. constructing a Semaphore with a negative number of permits).