[2019-09-22 14:06] vasilmkd commented on #1759
I don't have strong feelings on this subject. I opened the issue for documentation purposes mainly.

[2019-09-22 14:07] LGLO commented on #1759
:+1: Good, I hope I'll learn something here!

[2019-09-22 14:08] neko-kai commented on #1759
wrt difference between Any and _ - this has been discussed before in

https://github.com/zio/zio/issues/381
https://github.com/zio/zio/pull/414

[2019-09-22 14:14] #1561 closed

[2019-09-22 14:30] dkarlinsky commented on #1739
I've investigated the issue, where `ZTrace` deserialization fails with `java.lang.ClassNotFoundException: zio.internal.stacktracer.ZTraceElement$NoLocation`.

The root cause is a class loader issue, which will probably not occur in normal application.
When deserializing, `ObjectInputStream` walks the stack to find the first "user class" (non java standard library class) and uses its class loader t

[2019-09-22 14:33] ajaychandran opened #1789 "Add effectAsyncCancelable to ZIO and ZStream"
This would essentially be a formulation of `effectAsyncM` with a `Canceler`.

Proposed signatures:
[code]

Alternatively, we could modify `effectAsyncInterrupt` to
[code]

Please review.

[2019-09-22 16:13] Jentsch commented on #786
I think the target is to support any type for `A`, but I could be wrong. And `String` is just an example, this issue surfaces for every type for an empty `Chunk`.

(Case class shouldn't be a special for this issue, because for the JVM they are just normal classes. But what happens with things that extend `AnyVal` should be investigated)

[2019-09-22 16:25] #1691 closed

[2019-09-22 16:41] vasilmkd commented on #1765
I'd like to take a look at this, but please treat this as a tentative request. Anyone else interested can still take over.

[2019-09-22 16:52] dkarlinsky opened #1790 "A new TestAspect "only" to run single test in a Suite"
@adamgfraser It would be nice to have an aspect, called something like `only`, which when added to a single test in a suite, would case all other tests to be ignored. (Similar to `it.only' in mocha).
This could be very convenient during development, especially when debugging.

I think two aspects will be needed to pull this off. One on the outer suite that will do the filtering (ideally added to d

[2019-09-22 18:16] adamgfraser commented on #1790
I think this would be a great feature to add. The challenge is how to implement it. Let me think about it, you can do the same, and we can use this issue to discuss ideas or feel free to open a PR if you have something you would like to use as a starting point. Would be great to work with you on this!

[2019-09-22 18:41] tomasherman commented on #1739
wow, good one

[2019-09-22 19:14] ghostdogpr commented on #1739
We found a workaround (see the PR) 👏

[2019-09-22 19:28] softinio opened #1794 "Opened support ticket with circleci"
Opened a support ticket with Circleci thought I track it here for everyones visibility. Will add to this issue as I exchange communication with them.

# Details:

[code]

# Ticket detail

[code]

[2019-09-22 19:31] chlin501 commented on #1647
@LGLO A few question, are there any similar migrated ZIO Test cases that also extends  `GenIO` or similar that can be referred to? And which ZIO test cases use `foreachPar_` and `foreachParN` that can be checked that I can use it as a start point?

Thanks for your help!

[2019-09-22 19:36] jakubjanecek commented on #1739
My jaw dropped 👏

[2019-09-22 19:48] LGLO commented on #1647
@chlin501
These test are not in master yet, however I'll open PR just for that 5 cases - tomorrow.
Can you see it here: https://github.com/LGLO/scalaz-zio/blob/issue-1499-tests/core-tests/shared/src/test/scala/zio/ZIOParCombinatorsSpec.scala ? Note: ZIOSpec is place for ZIO combinators.

Regarding `GenIO`, I didn't migrate any of them, but can you please take a look at `ZManagedSpec`? There is use

[2019-09-22 19:57] wi101 commented on #786
@Jentsch I found a way to take the define the implicit ClassTag in `toArray`

[2019-09-22 19:57] wi101 commented on #786
Thanks to @jdegoes 's guidance!

[2019-09-22 20:03] LGLO commented on #1762
@ajaychandran - for me this is good, although I think we'll go through discussion about wildcard vs Any in #1759 , please be patient :)

[2019-09-22 20:08] LGLO commented on #1739
Can we close it?

[2019-09-22 20:11] ghostdogpr commented on #1739
Closed by #1771

[2019-09-22 20:11] #1739 closed

[2019-09-22 20:29] ghostdogpr commented on #1647
Only 4 left! Amazing work everyone.

[2019-09-22 20:53] ajaychandran commented on #1789
In my use case, the registration effect needs to run on a particular thread. I realize now that I could simply use the `effectAsyncInterrupt` method and lock it on the corresponding executor.

Closing the ticket.

[2019-09-22 20:53] #1789 closed

[2019-09-23 14:32] adamgfraser commented on #1764
@LGLO I am having trouble reproducing this locally. Here is the code I am using. It is a test that prints a line to the console, sleeps for one second and then succeeds. I am doing `nonFlaky(10)` on it with a timeout of 5 seconds, so if there was an issue I would expect it to print the line ten times over 10 seconds, but it is actually timing out after 5 seconds which is the right behavior. Do you

[2019-09-23 18:12] LGLO commented on #1764
Yeah, it can be found in ZManagedSpec. It has something to do with uninterruble threads.
I've modified base spec to 10 seconds timeout:
[code]
I'll try to shrink this example.

[2019-09-23 18:40] adamgfraser commented on #1764
@LGLO Thanks! That is super helpful. I have a feeling it has to do with `timeout` trying to interrupt the test and waiting for the interruption to complete but that never happening because the test is performing an effect that is uninterruptible and doesn't terminate. Will look into it more. If that is right we could not wait for the interruption to complete but to a certain extent if you have acc

[2019-09-23 19:47] zezutom opened #1801 "FiberRefSpec cleanup"
When I was working on #1647 (PR: #1785), @hanny24  pointed out that there is no need to use scheduling in order to verify race conditions.

While my PR #1785 got merged, I'd like to clean up the code and remove the scheduler. Just to keep to code clean and easy to understand.

[2019-09-23 19:58] LGLO commented on #1764
Shrinked example
[code]

[2019-09-23 20:02] adamgfraser commented on #1764
Exactly. I think maybe we have a timeout on the interruption completing and if the interruption doesn't complete within that time we fail and log a warning that we were unable to interrupt the test within that time and a resource leak may have occurred.

[2019-09-23 20:09] msosnicki commented on #1648
Hi @iravid , can I take this one?
Leftovers in this context mean something like in `collectAllN` (so using leftovers within one element for downstream) or a Sink that would carry on state between the subsequent downstream elements (something like `movingAverage`, I haven't found anything like that so far in the existing API).
Thanks! :)

[2019-09-23 20:11] adamgfraser commented on #1764
I will take this one.

[2019-09-23 20:15] LukaszByczynski commented on #1658
I will take it

[2019-09-23 20:16] LGLO commented on #1764
Hmm, I have something already:
[code]

[2019-09-23 20:17] LGLO commented on #1764
OFC if it's fun for you to provide your implementation, go for it!

[2019-09-23 20:50] #786 closed

[2019-09-23 20:55] adamgfraser commented on #1764
Sorry, if you want it the ticket is all yours!

My main concern with your snippet is that we are silently dropping the fact that we weren't able to successfully interrupt the test. We have returned a failure which is great so we don't hang, but the fiber running that test is still going which may be causing a resource leak, something I have definitely experienced myself!

I think in this case we w

[2019-09-23 22:26] jaliss commented on #1630
I'd like to take this.

[2019-09-23 22:28] adamgfraser commented on #1630
Awesome!

[2019-09-24 05:26] #1762 closed

[2019-09-24 06:31] jdegoes opened #1802 "ZIO Test: Too many new lines printed during test runs"

[2019-09-24 06:37] #1414 closed

[2019-09-24 06:39] iravid opened #1803 "Add a variant of ZStream#throttleShape that allows dynamically changing the throttling rate"
Not sure about the interface yet. cc @vasilmkd

[2019-09-24 06:42] iravid commented on #1648
Hey @msosnicki, feel free to pick this up!

The point of leftovers is to represent the fact that a sink might not have consumed all the elements fed into it, and that they should be re-processed.

For example, consider a sink that processes a stream of chunks into chunks of no more than `n` elements. If you feed it a chunk of elements larger than `n`, it'd need to slice that chunk up and return th

[2019-09-24 07:47] iravid opened #1804 "Build error in ChunkSpec"
Oops, looks like `chunkGen` went away?

[code]

@regiskuckaertz could you have a look?

[2019-09-24 07:49] adamgfraser commented on #1802
Is there a description or example of undesired behavior for this?

[2019-09-24 08:10] regiskuckaertz commented on #1804
Ha yes, I've provided length-aware generators: `tinyChunk`, `smallChunk`, `mediumChunk` and `largeChunk`, due to how stream size exploded in some tests. I probably shouldn't have set `chunkGen` as private though 🤦‍♂

[2019-09-24 08:11] iravid commented on #1804
No worries 😂

[2019-09-24 08:13] regiskuckaertz commented on #1804
Is anyone on the stream/sink tests already? Otherwise they're next on my list.

[2019-09-24 08:14] iravid commented on #1804
I believe they're all yours!

[2019-09-24 08:15] adamgfraser commented on #1804
@regiskuckaertz You are doing heroic work!

[2019-09-24 08:16] regiskuckaertz commented on #1804
😅 so much happened in the last months while I was off OSS work that tests are the perfect occasion for me to get up to speed with what you've all been doing.

[2019-09-24 08:18] adamgfraser commented on #1804
Let me know if there is anything else from the ZIO Test end that would be helpful as you’re working through it.

[2019-09-24 08:34] iravid opened #1806 "Add Cause#flatMap"
Can we do this? Did anyone ever look into this?

This can lead to `Cause#flatten`, which can be useful when sandboxing and unsandboxing. Currently unsandbox is formulated in terms of `catchAll`, but it's probably more accurate to formulate it in terms of `catchAllCause`, which would require that we flatten a `Cause[Cause[E]]` to `Cause[E]`.

[2019-09-24 08:47] adamgfraser commented on #1806
I think it should be possible. The only case of `Cause` that actually has an `E` value in it is a `Fail` "leaf" in the `Cause` "tree", so I think we should just be able to replace every `Fail` leaf in the original tree with the new tree produced by the `f` in `flatMap`. I'm already in these files so let me see if I can add this.

[2019-09-24 08:51] iravid commented on #1806
@adamgfraser You're everywhere!! 👑

[2019-09-24 10:14] adamgfraser opened #1807 "Timeout on ChunkGen Test"
It looks like the third monad law test for `ChunkGen` is occasionally timing out, causing flakiness. @regiskuckaertz Could you take a look?

https://circleci.com/gh/zio/zio/27859?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-24 10:23] jdegoes opened #1808 "Fix ZIO#unsandbox"
`ZIO#unsandbox` should use `catchAllCause` and flatten it with `ZIO.halt` to avoid losing information on error. We should add a test to demonstrate that no information is lost during error composition.

[2019-09-24 10:33] regiskuckaertz commented on #1807
Ok, will do as soon as I get the opportunity either later today, or tomorrow as today this guy arrives in the family 😍

![IMG_1590](https://user-images.githubusercontent.com/629976/65504503-70923900-dec7-11e9-849c-9353a61220e1.jpeg)

[2019-09-24 10:34] jdegoes opened #1809 "Be less lossy about error composition in `orElse` and variants"
Currently `orElse` and variants are implemented in terms of `tryOrElse`, which will discard failure information on the left hand side, even if the right hand side fails. If the right hand side fails, it would be nice to have access to information on the failure of the left hand side, as well.

While discarding some information is inevitable — mainly because the left and right may have entirely dif

[2019-09-24 10:35] ghostdogpr commented on #1807
@regiskuckaertz I was gonna ask you a picture 😄 Enjoy!

[2019-09-24 10:43] iravid commented on #1807
😍

[2019-09-24 10:47] iravid commented on #1808
#1706 has a principled `Cause#flatMap` (and `Cause#flatten`), so this ticket should be based on that branch (or after it is merged).

[2019-09-24 12:13] cloudmark opened #1811 "Add `effectRetry` to ZIO"
Effect retry will attempt to import a synchronous effect and before retries, we compose an onFailure effect.

An example of this would be

[code]

[2019-09-24 12:14] cloudmark commented on #1811
I'm picking this up!

[2019-09-24 12:53] Twizty commented on #1809
Hi, I'd like to implement that.

[2019-09-24 13:09] adamgfraser commented on #1808
This should be easy to implement in terms of `Cause.flatten` so I can just take care of it there.

[2019-09-24 13:28] sideeffffect commented on #1804
how could this pass CI??? :thinking:

[2019-09-24 13:48] adamgfraser commented on #1804
I think it may have been a situation where someone hadn't rebased. @regiskuckaertz is working and makes `chunkGen` private where on his branch no other files are referencing it, so it passes CI. Meanwhile @iravid is working on his branch where `chunkGen` is still public and adds a dependency on it, which is fine since it is still public, so again no CI issues. Then @regiskuckaertz merges his chang

[2019-09-24 16:01] vasilmkd commented on #1803
More functions to the type signature.

[2019-09-24 16:04] vasilmkd commented on #1765
Just a heads up, I'm experimenting with this issue, as discussed with @iravid.

[2019-09-24 16:13] fanf commented on #1275
That make performance better only marginally (10% better than previous case, so still an order of magnitude worse than without ZIO).

Should I try to:
- also change the threadpool for non blocking effects to ForkJoin ? Change only some parameter of the existing (like number of thread = nb core/2 in place of x2 ?)
- change number of thread for ForkJoin (4 here is nb core /2) ?
- change yieldOpCount

[2019-09-24 17:38] adamgfraser commented on #1807
Whoa! Awesome!

[2019-09-24 18:01] #1730 closed

[2019-09-24 18:28] vasilmkd commented on #1809
The `ZSink#orElse` combinator closely follows these semantics as well. It would be nice if it continued to do so.

@jdegoes We used `Cause.Both` in other `ZSink` combinators. Would that make sense here?

[2019-09-24 18:47] vasilmkd commented on #1803
@iravid #1538.

[2019-09-24 18:56] iravid commented on #1803
Right so it's not exactly the same. I've got a project that dynamically changes throttling rate for an Akka Streams stream based on some metrics measured externally. This is done by modifying the capacity of the token bucket directly.

I guess it could be expressed by modifying the interval, but it's not as straightforward.

[2019-09-24 18:57] vasilmkd commented on #1803
So for your usecase, it's enough if you just modify the units per interval?

[2019-09-24 18:58] iravid commented on #1803
Yeah.

[2019-09-24 18:59] vasilmkd commented on #1803
Externally means, the stream elements have no effect on it, i.e. it doesn't depend on the stream elements?

[2019-09-24 19:04] iravid commented on #1803
Not sure what's the best interface! Right now I'm using a `Long => Task[Unit]` interface to externally change the throttling rate, and that's ok.

[2019-09-24 20:13] vasilmkd opened #1819 "Verify the correctness of the environment types of ZStream#partition and ZStream#partitionEither"
@mschuwalow, @iravid

[2019-09-24 20:19] iravid commented on #1819
Can you describe what you think is the issue?

[2019-09-24 20:24] vasilmkd commented on #1819
The environments of the streams returned in `partition` do not match the environments of the streams returned in `partitionEither`. I think there is a rogue `R` in `partition`.

[2019-09-24 20:48] LGLO commented on #1764
Thanks for letting me complete this!

That is proposed output for 3 cases, only last one is new:
[code]
Implementation I isn't currently terminating in all cases, but I'll get there.
I'll also add tests to TestAspectSpec.

[2019-09-24 20:49] adamgfraser commented on #1764
That looks fantastic! Thank you!

[2019-09-24 20:56] adamgfraser commented on #1759
Can we close this? Or maybe we should wrap it into #1298 regarding updating the contributor's guide with clear guidance for this and other areas. I definitely don't feel as qualified as some others to do #1298 but I'm happy to take a stab at it and people can tell me where I am wrong.

[2019-09-24 23:03] #1801 closed

[2019-09-25 06:38] jdegoes commented on #1275
Create it from Scala's global execution context, or wire up your own fork/join pool 👍

[2019-09-25 06:42] Twizty commented on #1809
@jdegoes Hi, I'd like to clarify, does this issue require to fix `orElse`, or to fix `tryOrElse` in general? To fix just `orElse` I came up with something like this:
[code]

Is it something you were looking for?

[2019-09-25 07:32] iravid opened #1826 "Add an inverse for ZIO#optional"
Should do: `IO[E, Option[A]] => IO[Option[E], A]`

[2019-09-25 07:35] ghostdogpr commented on #1826
It's `ZIO#some` no?

[2019-09-25 07:36] iravid commented on #1826
Oh yeah! Thanks :-)

[2019-09-25 07:36] #1826 closed

[2019-09-25 07:48] iravid commented on #1705
Done in #1735

[2019-09-25 07:48] #1705 closed

[2019-09-25 09:10] cloudmark opened #1827 "`Promise.await` should be renamed `Promise.join`"
Fibres have a `join` and `await` which have different semantics.  Await simply peeks at a result while commits the life of the fibre with the result of the joined fibre.

It would make sense to have the same semantics for Promise so rename await to join.

[2019-09-25 09:10] cloudmark commented on #1827
I can have a look at this if there is common consensus.

[2019-09-25 09:12] cloudmark commented on #1827
Should we allow both in the short term and mark `await` as deprecated?

[2019-09-25 10:52] ghostdogpr commented on #1776
@softinio I think there's still an issue: the page `Contributing` is not visible on the website: https://zio.dev/docs/about/about_index
If you click "Next", you get a 404.

[2019-09-25 10:54] adamgfraser commented on #1827
I'm 👎 on this. I understand that both of these involve semantically blocking but I don't think that blocking on every data type needs to have the same name (for example `take` on a `Queue` semantically blocks until there is an element in the `Queue`). A `Promise` isn't a thing like a `Fiber` that one would normally think you could `join`. Also `await` is very idiomatic among other functional and n

[2019-09-25 12:06] iravid commented on #1827
Yeah, this is a pretty established name by now, so 👎 on this as well.

[2019-09-25 14:34] softinio commented on #1776
@ghostdogpr My changes aren't like yet are they? we haven't done a release since I fixed? Once we do a new release that issue will go away. Issue from before I fixed.

[2019-09-25 14:37] ghostdogpr commented on #1776
Ah so because there was some link errors, the whole page is missing? I thought you only fixed the links, which was not the same as the whole page being missing. Never mind then 😅

[2019-09-25 14:37] #1776 closed

[2019-09-25 14:52] YuvalItzchakov commented on #1538
I'm going to work on this

[2019-09-25 14:57] iravid commented on #1538
Yay!
On 25 Sep 2019, 17:52 +0300, Yuval Itzchakov <notifications@github.com>, wrote:

[2019-09-25 14:59] #1548 closed

[2019-09-25 17:44] msosnicki opened #1831 "utf8Decode not working correctly when chunk overlaps character"
I've noticed that `utf8Decode` is not working correctly when the buffer size specified is overlapping the character. So as an example, if I have a string of 10 unicode characters, 2 bytes each, and I set a buffer of size 19, it will fail to decode original string. The problem here is, that the `utf8Decode` sink is discarding leftovers.
I had a look how Sinks are in general implemented, and it look

[2019-09-25 17:46] iravid commented on #1831
Oh right, `utf8Decode` is obviously wrong. That's a good catch, not sure how that slipped by. Would be great to get a patch for this!

Does `utf8DecodeChunk` work correctly for you?

[2019-09-25 17:48] iravid commented on #1831
I'm actually wondering if it's possible to implement this correctly on a stream of bytes, because in general, we've found out that arrow composition of sinks (e.g. `(Byte => Chunk[Byte], Chunk[Byte] => String) => (Byte => String)`) is impossible.

[2019-09-25 18:03] msosnicki commented on #1831
I haven't noticed any troubles yet with `utf8DecodeChunk`.
I was wondering if it would be possible to solve using `foldWeighted`, you could then only count bytes that have been fully decoded. So in the broken example above, it would consume more elements on the overlap (to decode the full char) and copy it over to the leftovers. That would of course mean, that this buffer would be aproximate, beca

[2019-09-25 18:09] iravid commented on #1831
Ok. I -think- the right way to go about this is to just delete `utf8Decode`. Any stream of bytes can be chunked up and fed into `utf8DecodeChunk`.

Alternatively we could re-implement the sink for a stream of bytes, but I don't fancy maintaining the implementation twice.

[2019-09-25 18:38] softinio commented on #1776
@ghostdogpr yeah those link issues caused docusaurus to skip publishing that all together.

[2019-09-25 20:06] zezutom commented on #1647
I take ZIOSpecJvm

[2019-09-25 20:11] LGLO commented on #1647
@zezutom as far as I know @chlin501 declared for it, can't see it here, maybe it was on gitter.
Could you please get in touch and agree who's doing that?

[2019-09-25 20:16] zezutom commented on #1647
will do, thanks

[2019-09-25 20:22] msosnicki commented on #1831
Is there any discussion, perhaps on gitter, which touches upon the arrow composition for sinks? It would be a great read :)
Anyway, I will play with it for a while to see how to implement this sink without duplication, and just remove the method if I fail.

[2019-09-25 20:26] LGLO opened #1832 "Duration render for sub 1ms durations"
`999999.nanoseconds.render` is `"0 ms"`.
What do you think about rendering it as `"999999 ns"` when to `toMillis < 1`?
@ghostdogpr

[2019-09-25 22:32] adamgfraser commented on #1832
Yes.

[2019-09-25 23:04] ghostdogpr commented on #1832
Sure, why not. Did you want to do it or shall I?

[2019-09-25 23:57] ghostdogpr opened #1833 "Flaky test in FiberRefSpec"
See https://circleci.com/gh/zio/zio/28535

[code]

cc @zezutom

[2019-09-26 00:43] schernichkin opened #1834 "Add a function to implement simple loops"
Cats has `tailRecM` which supposed to be used to write TCO loops, however it useful when I need to perform some action untill condition met. With ZIO I use explicit recursion. Something like:
[code]
Implementing loops with recursive function requres type annotations I think it will be useful to have special function for such cases.

[2019-09-26 00:58] adamgfraser commented on #1834
Have you looked at the `Schedule` combinators? I think you could do what you are talking about with something like `queue.take.repeat(Schedule.doWhile(_.isEmpty))`.

[2019-09-26 01:04] adamgfraser commented on #1833
Copying @mlangc.

This looks like the same issue we thought we had fixed in #1716. Unfortunately at least to date we have not found a way to write that test in a way that is completely deterministic so we rely on "waiting" long enough to make sure we get the expected result, which still leaves some possibility for flakiness that I think we are seeing here. I also wonder if this is exacerbated by t

[2019-09-26 01:08] schernichkin commented on #1834
Oh, thanks, did not know about it. Looks good, is it possible to get rid of Clock?

[2019-09-26 01:13] adamgfraser commented on #1834
Yes! We have two open PRs to remove the `Clock` dependency so should be coming very soon. Once we have that in we will probably also add some convenience methods on `ZIO` to make this even easier (e.g. `zio.doWhile(p)`). In the meantime you can use `ZIO.provide(Clock.Live)` to get rid of it.

[2019-09-26 01:21] schernichkin commented on #1834
Thanks. I will use it as you suggest and will update my library as soon as `zio.doWhile` will become available. Closing the issue.

[2019-09-26 01:21] #1834 closed

[2019-09-26 01:24] ghostdogpr commented on #1833
@adamgfraser wasn't it removed here? https://github.com/zio/zio/pull/1818/files

[2019-09-26 01:35] adamgfraser commented on #1833
@ghostdogpr Yes that's the problem. It was removed in #1818 but it was actually added in #1716 to prevent flakiness and apparently worked it was removed. So I think we need to revert #1818.

[2019-09-26 01:45] adamgfraser commented on #1833
It is a tricky test because we are trying make sure one fiber wins the race by having it complete a latch that the other fiber waits on. But there is a step between the "winner"  completing the latch and being joined back, so if we are particularly unlucky the runtime can suspend the winner immediately after completing the latch, in which case the "loser" can begin executing and actually be joined

[2019-09-26 05:15] iravid commented on #1831
@dkarlinsky and I sketched it out on a paper but unfortunately did not document :-) I will try and document this in the issue about `ZSink#andThen`.

The gist is that say you've got these two sinks - `A => B`, `B => C`. If the first one has leftovers, that's ok - you can push them back to the stream. But if the second sink has leftovers, there's nothing you could do (with the current combinators -

[2019-09-26 22:45] adamgfraser commented on #1832
Closed by #1839.

[2019-09-26 22:45] #1832 closed

[2019-09-27 12:19] fanf commented on #1275
With the following code, we are at ~x5 worst performance in our big generation process (mixing I/O (files, postgres, LDAP), cpu intensive, sequential and parallel tasks). Still very bad, but better than the x10 (or even failure) from before.

[code]

[2019-09-27 13:05] KadekM opened #1841 "Hanging thread"
Ignoring discussion about why you shouldn't have code like this, following code rather surprisingly hangs forever.

[code]
This is reduced use case to minimum. Real use case was manual (unsafe) acquiring of Reservation in _object_ in the impure side of the world.

[2019-09-27 13:19] #785 closed

[2019-09-27 13:19] #1441 closed

[2019-09-27 13:29] neko-kai opened #1842 "`effectAsyncMaybe` can resume the Fiber incoherently even after returning the value synchronously"
Reproduction:

[code]

Expected:

Outputs `SUCCESS` and never terminates

Actual:

Outputs
[code]
and terminates

[2019-09-27 13:32] neko-kai opened #1843 "Previously interrupted `effectAsync` can incoherently resume the fiber after it has been interrupted"
Reproduction:

[code]

Expected output:

[code]

Actual output:

[code]

[2019-09-27 13:36] neko-kai opened #1844 "ZIO.race performance problem"
According to `IOEmptyRaceBenchmark` in `benchmarks`, `ZIO.race` is currently noticeably slower than Monix and Cats Effect IO Race's. On my machine:
[code]

Sampled via `sbt 'benchmarks / jmh:run zio.IOEmptyRaceBenchmark'`

This makes a difference in workloads with a huge amount of `race`'s, such as `fs2.Stream.parJoin` – https://github.com/zio/zio/issues/1441

[2019-09-27 13:37] neko-kai commented on #1441
The deadlock in `race` in `interruptibleEval` has been addressed by - https://github.com/zio/zio/pull/1792, performance difference hasn't been addressed yet, it's moved to this issue – https://github.com/zio/zio/issues/1844

[2019-09-27 14:30] wi101 commented on #1658
@LukaszByczynski Nice I will assign you

[2019-09-27 14:34] YuvalItzchakov commented on #1844
This sounds interesting, I'd like to work on it.

[2019-09-27 15:45] LukaszByczynski commented on #1658
I'm going to push one PR per file. I have hope this should minimize the conflicts between PR's.

[2019-09-27 20:13] iravid opened #1845 "Improve ZStream/ZStreamChunk composition"
Currently, mixing ZStream and ZStreamChunk can be a bit clunky.

For example, this doesn't work:
[code]

It's possible that adding a few overloads of the sequencing operators will solve this. Happy to hear other thoughts!

[2019-09-28 01:04] #743 closed

[2019-09-28 01:07] ghostdogpr commented on #533
We have this in ZIO Test

[2019-09-28 01:07] #533 closed

[2019-09-28 04:40] ghostdogpr commented on #432
Not needed after #1738

[2019-09-28 04:40] #432 closed

[2019-09-28 09:53] darl opened #1846 "Backpressure not working with ZStream.effectAsync"
This simple snippet cause OOM:
[code]

In real world this can happen with streams created from callback-based api and slow consumer.

I think it can be fixed by replacing `runtime.unsafeRunAsync_` with `runtime.unsafeRun` [here](https://github.com/zio/zio/blob/master/streams/shared/src/main/scala/zio/stream/ZStream.scala#L2448) and similar places

[2019-09-28 10:43] iravid commented on #1846
Hmm right. I remember having seen that and thought that we shouldn't block the calling thread, but OOM is clearly an inferior tradeoff.

Would you like to submit a PR to fix those?

[2019-09-28 11:24] vasilmkd commented on #1845
Just off the top of my head, would an implicit syntax class that exposes the inner stream of chunks work?

[2019-09-28 12:02] darl commented on #1846
Yes

[2019-09-28 16:14] ajaychandran commented on #1846
@iravid
Wouldn't this potentially deadlock in some situations where the effect argument to the callback is itself an async effect?

If so, could this be mitigated by adding a method on `Runtime`, say `runAsync`, that submits tasks on to a bounded queue? This queue would be processed in the background on application start.

[2019-09-28 16:19] iravid commented on #1846
Could you explain why would it deadlock? (assuming there are enough threads in ZIO's default executor)

[2019-09-28 16:23] iravid commented on #1846
Actually, it doesn't even depend on ZIO's executor because the callback is running on an unspecified threadpool (e.g. an external one).

[2019-09-28 17:02] ajaychandran commented on #1846
What if the external thread pool is backed by a single thread and the secondary effect has to run on this executor?

An example would be a Java FX application where the callbacks are registered and invoked on the rendering thread.

[2019-09-28 17:18] iravid commented on #1846
Right, that could definitely happen. Let's document this behavior for now. I'm not sure if there's a good way to solve this without something blocking somewhere.

[2019-09-28 18:26] mschuwalow opened #1847 "Allow custom behavior on inheritFiberRefs?"
It might be interesting to allow custom behavior for FiberRefs when joining a fiber.
For example one could instrument sleeps very nicely with a fiberref that tracks how long a fiber has slept and on join the maximum of both values is used.

The default case should be to just use the value of the joined fibers, as is currently done.

Looking at FiberContext I believe I understand how this could be

[2019-09-28 22:41] adamgfraser commented on #1847
This sounds very interesting. Would the behavior be determined when creating the `FiberRef` or when joining it?

[2019-09-29 06:05] KadekM commented on #1841
Similiar
[code]

[2019-09-29 08:33] chlin501 commented on #1647
Feel free to take it. I am fine with that.

[2019-09-29 13:30] mschuwalow commented on #1847
I believe that having to specify the behavior during creation of the fiberref would lead to fewer surprises and have an easier usage, but I have no strong opinions either way

[2019-09-29 16:52] softinio commented on #1715
@adamgfraser @regiskuckaertz  just saw this now. Is this still an issue?

[2019-09-29 16:59] softinio commented on #1794
Heard back from Circleci regarding this. The reason we don't have option to use `medium+` is due to using machine executor and not docker. `medium+` only available if we used docker.

[2019-09-29 16:59] #1794 closed

[2019-09-29 19:49] LGLO commented on #1715
I checked successful build with hanged one. Hanged one lacks output for BlockingSpec.

[2019-09-29 22:54] adamgfraser commented on #1847
I think being able to specify the behavior when the `FiberRef` is created could be much more interesting, because then if you created the `FiberRef` with some behavior you could guarantee that it would be executed in combinators like `race` where you might not be able to specify your own behavior at the time of joining.

[2019-09-29 23:00] adamgfraser commented on #1715
I haven't seen this issue for a while so I think we could close from my end. @regiskuckaertz Are you still seeing this? @LGLO Have you seen issues with `BlockingSpec` with more recent builds? If so perhaps we need to continue our investigation there.

[2019-09-30 01:28] #1627 closed

[2019-09-30 01:50] ghostdogpr commented on #1811
Closing (see https://github.com/zio/zio/pull/1813#issuecomment-536368145 )

[2019-09-30 01:50] #1811 closed

[2019-09-30 04:53] LGLO commented on #1715
Yes, I've seen them after Kai's PR was merged although I haven't investigated failing PRs builds contained fix or not.

[2019-09-30 07:29] Twizty commented on #1845
Hi, I'd like to implement it.

[2019-09-30 08:21] regiskuckaertz commented on #1715
Sorry for the late reply. Nope, it's all good my end, however I think sometimes the "monad law 3" test in `StreamChunkSpec` is timing out. I plan on fixing that tonight or tomorrow night.

[2019-09-30 10:58] vasilmkd commented on #1845
Go for it!

[2019-09-30 12:18] #1833 closed

[2019-09-30 15:45] neko-kai commented on #1827
Well, I like the idea for one 👍

[2019-09-30 17:56] zezutom commented on #1647
@chlin501 Thank you, I'll try to do it at the end of this week. It's fine if you change your mind and take it by then.

[2019-09-30 18:25] #1846 closed

[2019-09-30 19:35] jdegoes commented on #1847
So I've thought about this for a while now... great ideas.

Basically, any monoid over the ref value has well-defined properties under fork/join.

So we should modify `FiberRef.make` to something like:

[code]

Then always use the `combine` operator on them.

Now we can support all monoids easily, and the current behavior is merely the "last" monoid as a convenient default.

Any takers? Pretty str

[2019-09-30 19:37] jdegoes commented on #1844
`raceWith` has gotten progressively more complex and is using quite a lot of machinery now. It has strong guarantees but it desperately needs a performance-sensitive rewrite.

[2019-09-30 19:38] adamgfraser commented on #1847
@mschuwalow If you want to take this it is all yours. Otherwise I will.

[2019-09-30 19:41] jdegoes commented on #1827
I like the idea too but am happy to go with consensus. I irrationally expect await = Exit.

[2019-09-30 23:21] adamgfraser commented on #1298
I will take this.

[2019-10-01 02:26] ghostdogpr commented on #1715
Haven't seen it either. Let's reopen if we witness it, with a link to the failed build.

[2019-10-01 02:26] #1715 closed

[2019-10-01 09:39] darl opened #1868 "ZIO.option shadows unchecked exceptions"
[code]

In my opinion recovering from unchecked exceptions should be explicit and can be achieved by user with method `.sandbox`:
[code]

[2019-10-01 13:29] #1868 closed

[2019-10-01 13:39] ghostdogpr commented on #1776
@softinio there's still one warning in mdoc step:
[code]

[2019-10-01 14:07] vasilmkd opened #1873 "Add ZQueue#drain (or equivalent)"
When implementing #1685, we ran into the following issue.

When buffering `ZStream` elements into a queue that drops elements (either `dropping` or `sliding`), we need a way to signal an error in the original stream, or its end. However, when signalling error or end, we cannot just terminate the execution. Instead we want to empty all enqueued elements first, and then, when the queue is empty, ser

[2019-10-01 14:14] ghostdogpr commented on #1873
@vasilmkd I think this can be done pretty easily without touching the internals, by adding a new combinator on the `ZQueue` trait (just like `map` or `mapM`) that builds a new `ZQueue` by calling all the methods on `self` except for `offer` and `offerAll` that would just return false. Does it make sense?

[2019-10-01 14:21] vasilmkd commented on #1873
I want this to be available on all queue types.

After I put the queue in draining mode, it doesn't accept any new offers and can serve dequeues until it is empty, at which point it shuts down. Does that make sense?

[2019-10-01 17:38] mschuwalow commented on #1847
I would like to take a shot it, if you don't mind

[2019-10-01 17:38] adamgfraser commented on #1847
Go for it!

[2019-10-01 18:51] vasilmkd commented on #1873
Just a heads up, I'm working on this.

[2019-10-01 19:05] LGLO opened #1875 "Promise web documentation"
Documentation is a bit old, there is invalid example `p.succeed("I'm done!")` .
Task is to change everything that is wrong and add at least short example for each method.

[2019-10-01 20:03] LGLO commented on #417
I'm taking Promise

[2019-10-01 20:03] LGLO commented on #1875
#417 is about this. Closing.

[2019-10-01 20:03] #1875 closed

[2019-10-01 23:05] ghostdogpr commented on #1873
That makes sense 👍

[2019-10-01 23:52] #1684 closed

[2019-10-01 23:53] ghostdogpr commented on #1808
Closed by #1706

[2019-10-01 23:53] #1808 closed

[2019-10-01 23:53] ghostdogpr commented on #1806
Closed by #1706

[2019-10-01 23:53] #1806 closed

[2019-10-01 23:54] #1764 closed

[2019-10-02 11:58] jdegoes commented on #1841
I wonder if this could be some `synchronized` stuff that Scala inserts. May be necessary to decompile to understand what's going on.

[2019-10-02 14:10] fsvehla commented on #1841
Defining the lines containing the `unsafeRun` as a `lazy val` solves the issue, so I’m thinking it’s _sometimes_ an issue to refer to some members of the object while it’s initialization `cinit` / `init` is not complete yet.

[2019-10-02 15:10] vasilmkd commented on #1873
After an initial stab at this issue, I think I have come to the following conclusion. In order to properly support this feature, the queue has to be aware when it's empty (the last element has been dequeued) and shut itself down. This requires the queue being aware of its own size, which currently is only an approximate operation (i.e. it is not completely atomic).

To be completely honest, this r

[2019-10-02 17:56] iravid commented on #1873
I'm a bit pressed for time so can't write out all the details, but I'm fairly sure it's possible to evolve the `shutdownState` mechanism to a more sophisticated state machine that can address the draining state.

I'm not sure that the Semaphore is a good comparison because a queue does have a well-defined size, item count and pending takers.

[2019-10-02 19:24] adamgfraser opened #1882 "Flaky BlockingSpec Test"
https://circleci.com/gh/zio/zio/30419?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-10-02 22:31] #1687 closed

[2019-10-02 23:53] ghostdogpr commented on #1873
Rejecting new offers once we're in a Draining State is pretty straightforward, but making the queue shutdown when empty might be pretty tricky indeed. There are some edge cases where we take an item from an internal queue, try to consume it but when it's no longer possible because of a concurrent operation, we put it back in (maintaining the original order). So the size is not 100% reliable.

[2019-10-03 01:02] ghostdogpr opened #1884 "Alternative to Gitter"
With the latest iOS, the Gitter app (which was already poor) became barely usable because of scrolling issues. It hasn’t been updated in 2 years so I’m not confident there’ll be a fix anytime soon.

How about moving to something else that is actually working and maintained? Slack? Discord? Share your thoughts 🙏

[2019-10-03 01:03] adamgfraser commented on #1884
Those were the two I was going to suggest.

[2019-10-03 01:05] NeQuissimus commented on #1884
Vote for Slack

[2019-10-03 01:10] neko-kai commented on #1884
Gitter is clearly the most discoverable and has relevant features such as infinite addressable history. Slack workspaces are closed, so you can't link to a message publicly and free workspaces have perishable history

[2019-10-03 01:48] #1847 closed

[2019-10-03 01:52] ghostdogpr commented on #1884
The Gitter apps are actually being deprecated and will be removed from the stores: https://gitlab.com/gitlab-org/gitter/webapp/issues/2281

@neko-kai valid points, especially the ability to view a room without joining. The search UX is so bad that keeping the whole history isn’t that useful unless you have direct links. But then those useful chats should be turned into FAQs or blog posts, ideally.

[2019-10-03 02:50] softinio commented on #1884
@ghostdogpr I am super glad you brought this up as I have struggled with gitter for a while also and is frustrating.

I must admit I am not too keen on slack as the alternative though it works well the free version does not keep history and the reasons @neko-kai mentioned are all valid. We should avoid slack for sure in my opinion.

I haven't used discord enough to know if it overcomes the limitat

[2019-10-03 02:55] softinio commented on #1884
Rust lang community use Discord too. Here is sample if anyone has never tried it a functional programming one with an active scala channel:

https://discordapp.com/invite/SKaXYj

[2019-10-03 05:45] #1732 closed

[2019-10-03 05:49] iravid opened #1886 "Rename ZStream#transduce, ZStream#aggregate, ZStream#aggregateWithin"
These operations use sinks to aggregate elements and emit the results into the stream. The latter two operate asynchronously, and the last also uses timeouts from a schedule.

I noticed that `transduce` is not easily found; people usually gravitate towards `aggregate` for synchronous operations. I suggest doing the following renames:
* `transduce` => `aggregate`
* `aggregate` => `aggregateAsync`
*

[2019-10-03 06:07] vasilmkd commented on #1873
These are my observations as well.

[2019-10-03 07:24] regiskuckaertz opened #1888 "ZIO test: Impedence mismatch with && and ||"
While it is possible to write
[code]
it is not to write
[code]
or indeed any combination of `assert`, `assertM`, `||`, `&&`, etc.

One is forced to write more boilerplate:

[code]
which doesn't scale well with more than two assertions.

[2019-10-03 07:27] regiskuckaertz opened #1889 "ZIO test: multiple parameters function generators"
Right now it is easy to write generators for functions of one argument, but not more. This result in having to write tests as follows:
[code]

Perhaps we need to add `Gen.function[2|3|4|5]`.

[2019-10-03 07:49] vasilmkd commented on #1886
I agree with this change. I also had discoverability problems when I started contributing to ZIO streams. My throttling implementation uses transduce.

[2019-10-03 10:53] jdegoes opened #1891 "Add `ZEnv`"
Currently, we lack a type alias to describe the set of all environmental effects that "ship" with ZIO.

Ideally, we would have this inside the `zio` package object:

[code]

It's not possible to do this naively, because Scala.js does not support `Blocking`. However, one could extract out a package-private `ZIOTopLevel` (or `AbstractZIOPackage`?) from the existing `package.scala` inside the `zio` p

[2019-10-03 11:02] regiskuckaertz commented on #1884
One would hope MS Teams would soon get integrated with Github.

[2019-10-03 11:31] adamgfraser commented on #1889
Great idea. My top priority right now is getting the mocking framework and shared resources PRs in before the next release but I should be able to take care of this later today.

[2019-10-03 11:39] adamgfraser commented on #1888
Yes. You can avoid this by using a for comprehension to get your effectual result and then using `assert` rather than `assertM` but that is not ideal for all use cases. The challenge is that `assertM` returns a `ZIO[R, E, AssertResult]` rather than an `AssertResult`.

I see two ways we could address this. The first is we could add some methods on the BoolAlgebra companion object along the lines of

[2019-10-03 13:40] jdegoes commented on #1873
I think this is an important bit of functionality.

We'd have to measure impact on performance, but we could try something like using an `AtomicLong` to keep track of the offering process: increment at the beginning of offer, and decrement at the end. Right after incrementing, then check to see if the queue is shutdown, etc.

Now code can "wait" on the offer deterministically without race conditio

[2019-10-03 14:14] vasilmkd commented on #1873
I'm by no means expert on this, but I think performance (or not wanting queue offers and queue takes to be contended) is precisely why Java's ConcurrentLinkedQueue doesn't support an atomic `size()` operation. It even says in the javadoc that it is not useful in a concurrent environment.

[2019-10-03 14:17] jdegoes commented on #1873
Size is poorly defined for a concurrent structure, so that makes sense; but we don't need size, just an offer barrier of some type. It will have CAS and volatile overhead but in my estimation it won't be significant relative to the other overheads

[2019-10-03 20:03] #1659 closed

[2019-10-03 20:09] #1761 closed

[2019-10-03 20:49] ioleo commented on #1884
:+1: for discord
:-1: for slack
:-1: on spectrum

[2019-10-03 23:11] #1632 closed

[2019-10-04 02:21] #1889 closed

[2019-10-04 03:08] adamgfraser opened #1898 "ZIO Test: Migrate ZIO Test Internal Test Suite to ZIO Test"
ZIO Test has reached a point of maturity where it makes sense to migrate the internal test suite to use ZIO Test itself rather than the minimal test framework we are currently using. This will make it easier for contributors in the future because they will be able to use one testing framework across all ZIO projects and take advantage of all the features in ZIO Test to write and run tests.

This i

[2019-10-04 03:17] adamgfraser opened #1899 "ZIO Test: Add Support for Test Annotations"
Now that we have #1664 merged I think the next area to work on for infrastructure for ZIO Test is supporting the test annotations functionality that @jdegoes introduced.

@jdegoes With all tests being effectual now, I am wondering if we can do this in a slightly different way. What if we wrapped the `TestAnnotationMap` in a `Ref` and made it available through the environment type as part of `TestE

[2019-10-04 03:31] adamgfraser commented on #1693
Closed by #1664.

[2019-10-04 03:31] #1693 closed

[2019-10-04 03:32] adamgfraser commented on #1646
Closed by #1706.

[2019-10-04 03:32] #1646 closed

[2019-10-04 03:34] adamgfraser commented on #1802
@jdegoes Just wanted to follow up on this.

[2019-10-04 05:27] softinio commented on #1884
Ok so I took the initiative and setup a discord server for ZIO thereby reserving the ZIO name for the server on discord. Whether we decide to replace gitter with discord or not I thought there is some value in having this server in addition as it is genuinely a far superior service to gitter and what better way to decide than trying it. Happy to close it if we decide against it but at least server

[2019-10-04 06:01] iravid commented on #1884
Sure. I just joined.

In terms of alternatives, Discord seems like the only viable one.

[2019-10-04 06:38] mlangc opened #1900 "raceAll doesn't correctly inherit FiberRefs"
The new `raceAll` implementation, that isn't backed by `raceWith` anymore, does not correctly inherit `FiberRef`s. To reproduce add the following tests to `FiberRefSpec`:

[code]

cc @chikei

[2019-10-04 06:44] iravid commented on #1884
As I noted on Discord, we can't expect to get rid of Gitter any time soon, so I suggest just putting up @softinio's invite link on the ZIO/Core topic. I'll do so for zio-kafka.

[2019-10-04 08:19] vasilmkd commented on #1845
@iravid Here's an idea. Can we make `ZStreamChunk` be a syntax class over a stream of chunks?

[2019-10-04 08:48] vasilmkd commented on #1845
@iravid Maybe not the most popular idea, but worth a discussion: https://docs.oracle.com/javase/8/docs/api/java/util/stream/BaseStream.html.

[2019-10-04 11:50] #1900 closed

[2019-10-04 14:52] softinio opened #1904 "Microsite build fails with warnings"
[code]

[2019-10-04 14:57] softinio commented on #1904
Add microsite build to every build to catch these in advance

[2019-10-04 16:38] reibitto commented on #1790
I was looking for this feature just now and I stumbled upon this issue. I like this idea.

I've been using the name matching approach up until now. The `-z` option in ScalaTest, and `-ex` in specs2:
https://etorreborre.github.io/specs2/guide/SPECS2-3.5/org.specs2.guide.Selection.html

These two approaches are ergonomically different, though I guess these features overlap enough that both don't nee

[2019-10-04 17:11] adamgfraser commented on #1790
@reibitto I actually think these are both good features that would be nice to have. They have similarities but also support slightly different styles / use cases. `@@ only` seems like it would be slightly more useful if, say, you knew you wanted to only run these tests for the next few hours. Whereas the command line option could be more useful if you did a patch change and just want to run one or

[2019-10-04 17:35] reibitto commented on #1790
@adamgfraser Alright, thanks. I think I'll take a look at that then.

[2019-10-04 17:36] adamgfraser commented on #1790
@reibitto Awesome!

[2019-10-04 18:07] dkarlinsky commented on #1790
@adamgfraser I don't recall if there was actual discussion about adding a label filter command line argument. Maybe the possibility was just mentioned as "we may support this in the future"

[2019-10-04 18:09] adamgfraser commented on #1790
@dkarlinsky Yeah, I think it was definitely at that level of detail. Didn't know if you had gotten a chance to look into it at all.

[2019-10-04 19:06] chikei commented on #1900
Just to make sure, so in `raceAll` the last successful looser does not get inherited like what happened in [this test](https://github.com/mlangc/zio/blob/71ac6a77f8c6a3807377bcb5fa52e47677960ae9/core-tests/shared/src/test/scala/zio/FiberRefSpec.scala#L157)?

[2019-10-04 19:34] mlangc commented on #1900
The intended behavior is to do it like `ZIO.race` (see [these tests](https://github.com/mlangc/zio/blob/71ac6a77f8c6a3807377bcb5fa52e47677960ae9/core-tests/shared/src/test/scala/zio/FiberRefSpec.scala#L132)): Only the `FiberRef`s from the winner get inherited. If all participants in the race fail, nothing gets inherited.

[2019-10-04 19:44] adamgfraser commented on #1790
@reibitto Another thing to look at here would be implementing support for the `testQuick` command to only rerun failed tests.

[2019-10-04 23:07] reibitto opened #1909 "Schedule's `||` considers delay even when decision is "no""
I ran into unexpected behavior when using Schedule's `||`. We discussed this a bit on Gitter and I was asked to create an issue for it since Schedule might have a couple of refactorings coming up which this may affect.

Basically the issue is that `||` currently considers the delay of a Schedule even if the decision to continue is false.

If a more concrete example is helpful, this is the exact ex

[2019-10-05 13:14] iravid commented on #1884
@zio/core Is anyone against encouraging the participants in the Gitter chatroom to join the Discord server?

[2019-10-05 13:17] adamgfraser commented on #1884
I’m in favor of it.

[2019-10-05 13:52] jdegoes commented on #1884
I'd surely like to be a mod / admin!

My only concern with this is that due to its accessibility, we will "always" have to support Gitter, so Discord won't really reduce number of places we have to be, just fragment the community.

Moving away from Gitter would require:

 - Github/etc. based self-signup to chat (super easy / low friction sign in to chat)
 - Web interface

Maybe Discord supports th

[2019-10-05 14:04] jdegoes commented on #1899
@adamgfraser I think that's absolutely the right way to do it. 💪

We'll also need to modify reporters to take a set of test annotations to render, because they are "non-discoverable", a consequence of a monomorphic test annotation type.

[2019-10-05 14:05] jdegoes commented on #1888
I almost think we should eliminate `assertM` for this reason. Without gobs of implicits, it will never have the same functionality or same API as `assert`.

[2019-10-05 14:15] ghostdogpr commented on #1884
@iravid also in favor

@jdegoes Discord has a nice web interface. If you join the room we can make you admin: https://discord.gg/tS3ePv I don't think you can signup with github, however they don't force you to signup, if you join the server while logged out it creates an account automatically and you can attach it to your email later on.

[2019-10-05 14:53] adamgfraser commented on #1899
@jdegoes Great! I'll get on it.

[2019-10-05 15:12] adamgfraser commented on #1888
@jdegoes I'm not opposed to that. The downside is that it isn't quite as nice to write simple effectual assertions (e.g. `assertM(nanoTime, equalTo(0L))`. But I agree with you about consistency and the issues with going down the implicit route.

@regiskuckaertz Do you have an example of where this was inconvenient for you? That could help us think concretely about the best way to address this.

[2019-10-05 15:17] softinio commented on #1884
@jdegoes Can you join so I can make you admin sir: https://discord.gg/2ccFBr4

I think everyone will move away from gitter eventually the way it has deteriorated over the last year. In the near term I think we will see regulars for sure enjoy using discord and new people wanting to interract with us will start in gitter and then move to discord when they decide to stick around and see the benefits

[2019-10-05 16:25] regiskuckaertz commented on #1888
@adamgfraser yep, sure thing: https://github.com/zio/zio/pull/1887/files#diff-c41f30b496d69f1d24fa935cc79a247dR1352-R1357

I thought it would be possible to change the type to `(ZIO[R, E, A], A) => TestResult` but I didn't think very far 😅

[2019-10-05 18:07] adamgfraser commented on #1888
It seems like using for comprehensions could help a lot. Like in this case we could go from:

[code]

to:

[code]

Though admittedly we could also write this without using `assertM` at all:

[code]

Thinking about this more I'm a little hesitant to get rid of `assertM` altogether because it would make it more verbose and less clear to write one line effectual assertions. And this seems to be a rel

[2019-10-05 18:25] #1884 closed

[2019-10-05 20:53] jdegoes commented on #1275
@fanf Be sure to turn off tracing, too, as this can negatively affect performance.

Finally, I do want to let you know that after we have 1.0 out, I'll turn my attention to this issue and make sure you can have high performance without manual specification of blocking effects.

[2019-10-05 22:17] mschuwalow commented on #1891
I'll take this one.

[2019-10-05 22:45] mschuwalow commented on #1886
Maybe it makes sense to keep transduce around as an alias.

[2019-10-05 22:55] vasilmkd commented on #1886
How about `through`?

[2019-10-06 04:52] #1904 closed

[2019-10-06 10:58] regiskuckaertz commented on #1888
This is a library for testing effectful code so I'd vote in favour of keeping `assertM`; I'd be surprised if `assert` was used as much as `assertM` in fact.

[2019-10-06 11:07] adamgfraser commented on #1888
Actually `assert` is used 1,409 times so it is significantly more common, though `assertM` is definitely used as well. The pattern of using a for comprehension to describe an effect and then using `assert` in the yield clause is very common. How do you feel about the solutions proposed above? If we weren't going to use implicits would you want methods on an object somewhere to combine multiple eff

[2019-10-06 11:12] regiskuckaertz commented on #1888
They definitely work and are more concise than my example, so if implicits are out of the equation I'm happy to go with that 👍

I was wondering if changing `TestResult` to be a `BoolAlgebra[UIO[FailureDetails]]` would lead somewhere though. I can play with the idea on the side, it's just for my own curiosity.

[2019-10-06 11:23] adamgfraser commented on #1888
That's interesting. I think you would need to keep the `R` parameter so you could take an arbitrary `assertM` and I think you might want to keep the `E` parameter as well but that could definitely work. The advantage is that `assert` and `assertM` both return a type within our control so we can add methods on it. One disadvantage is that `assertM` would no longer return an effect so you couldn't d

[2019-10-06 19:31] LGLO commented on #258
@iravid can we close this issue, this passes:
[code]
Should we have such test in codebase?

[2019-10-07 14:37] adamgfraser opened #1927 "ZIO Test: Support SBT testQuick Command"
With the work we have been doing to add support for SBT command line arguments to ZIO Test, I think the main one we are still missing is `testQuick`. Currently this works at the file level but not the individual test level. For example, if there is a failing test in `ZQueueSpec` and I run `testQuick` in `coreTestsJVM`, after the first run it will only run `ZQueueSpec` (because that is the only fil

[2019-10-07 14:43] ghostdogpr commented on #1022
The failing test has been migrated to ZIO Test so maybe we could get this unblocked.

@adamgfraser ever tried ZIO Test on dotty?

[2019-10-07 14:45] adamgfraser commented on #1022
@ghostdogpr I tried a while back and the issue I ran into is that we depend on ZIO Streams which does not compile on Dotty yet so I think we are blocked on this until #1524 is resolved.

[2019-10-07 14:47] ghostdogpr commented on #1022
Oh i see, thanks!

[2019-10-07 14:50] adamgfraser commented on #1524
@iravid Any update on this? I know we removed the `specialized` annotations on `Chunk` that I think were one of the main issues here. Is it worth trying to compile on Dotty again?

[2019-10-07 14:56] softinio commented on #1022
I thought the issue with running tests with dotty was due to dotty not supporting macros & spec2 tests we have uses macros 🤷🏻‍♂️

[2019-10-07 14:57] adamgfraser commented on #1022
Right but I think part of the goal for migrating from Specs2 to ZIO Test was that ZIO Test would be completely cross-version and cross-platform so we could run our tests on Dotty. We're just not 100% there yet.

[2019-10-07 15:21] iravid commented on #1524
Yes!

[2019-10-07 17:10] jdegoes commented on #1710
@hamednourhani

We are using `mdoc` to write code that is checked at build time. You can find more information [here](https://scalameta.org/mdoc/):

<https://scalameta.org/mdoc/>

To begin, I think you should first look at the [ZIO Website](https://zio.dev):

<https://zio.dev>

Then you should look at areas which are weak and choose something to work on. I can then help you get started adding more

[2019-10-07 19:02] hamednourhani commented on #1710
@jdegoes it's a pleasure to working on zio. I will check the project and will come back with PR

[2019-10-08 09:37] fanf commented on #1275
Some more info: some parts of the code with ZIO are as fast as, or even faster than previous code. So it seems that it's not directly a contingency of ZIO runtime or as a whole, but usage patterns.
We suspect that the problems happen on paradigm bounds. Most likely, we have some part that make assumption/requirement on the code, which is reasonable in imperative land (synchronized block?) and is n

[2019-10-08 10:59] jdegoes commented on #1888
Ah, so that is interesting. So what if `assert` and `assertM` returned the same type: a wrapper on effectfully produced result, which _would_ have the same set of methods (`||` / `&&` / etc.).

Then maybe add a combinator to work on the underlying effect (`mapEffect`?), and you'd have about the same power as today.

[2019-10-08 11:15] Alexey8127 opened #1932 "Promise.complete violates Promise "set exactly once" rule"
I suppose that `Promise.complete` method has very special behavior:

[code]

As documentation says: `A promise represents an asynchronous variable, of [[zio.IO]] type, that can be set exactly once...`, so I expect the result of `promiseTest` to be three equal values, but actually it's not:
[code]
And that result violates the `can be set exactly once` rule. Also we have safe method `ZIO.to` to comp

[2019-10-08 11:59] adamgfraser commented on #1932
@Alexey8127 Thanks for raising! This has actually come up a couple of times recently in #1866 (raising the issue) and #1877 (adding additional documentation).

The issue here is that the `Promise` in `ZIO` is based on continuations and can contain an effect. So the "set exactly once" guarantee is that the `Promise` can be set exactly once to some, potentially effectual, value. In your example, the

[2019-10-08 12:12] Alexey8127 commented on #1932
@adamgfraser , thanks for detailed answer! As I can see at documentation it says the type of Promise value is `zio.IO`, then it does make sense. But what is the semantic difference between `action.to(promise)` and `promise.complete(action)`? Because I expected the same behavior, but it differ actually.

[2019-10-08 12:57] adamgfraser commented on #1932
@Alexey8127 No problem!

`action.to(promise)` is the equivalent of `action.run.flatMap(x => p.complete(ZIO.done(x)))`. So conceptually `to` runs the effect and then takes the result of running the effect, wraps it in an effect constructor, and completes the promise with that. Going back to the idea of completing the `Promise` with an effect `to` runs the effect first and then completes the promise

[2019-10-08 13:34] LGLO commented on #1932
Looks like documentation update didn't help. Should we reconsider API?

[2019-10-08 13:59] LGLO opened #1934 "TestClock fails in ScalaJS because of java.time API dependency"
[code]

[2019-10-08 14:09] LGLO commented on #1934
Not true. I failed to update sbt. Sorry.

[2019-10-08 19:15] adamgfraser opened #1936 "Flaky FiberRefSpec Test"
@mlangc Can you take a look?

[code]

https://circleci.com/gh/zio/zio/32289?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-10-08 19:57] yurikpanic commented on #1841
Looks like it is actually synchronization stuff, but not inserted by Scala. It comes from the JVM itself.

Here is the code, which is similar to that in the `zio.Runtime.unsafeRunSync`, which is called by `unsafeRun`. It uses Scala `Future`, not zio's fiber, but the meaning is the same.

[code]

All the code in the `X.z` goes to the `static {}` initializer section of the `X$` class. Static initial

[2019-10-08 20:43] mtsokol commented on #1927
@adamgfraser Hi, I've tried to look at it right now because I would be great to have it.
After quick googling for it and inspecting sbt internals according to https://stackoverflow.com/a/46829675/6717327 it's clear that we are missing creating `succeded_tests` deeply in `target`.

Although I've looked inside one of my projects that uses `scalaTest` framework and it turns out that `succeded_tests`

[2019-10-09 05:28] mlangc commented on #1936
I'll look into it today or tomorrow evening.

[2019-10-09 10:45] ioleo opened #1941 "Website integrated discord chat"
@softinio We should replace `open chat` (gitter integration) on website to discord.

I've found [TitanEmbeds/Titan](https://github.com/TitanEmbeds/Titan) project, but to enable it you need discord server admin rights. Could you look into it?

[2019-10-09 10:55] ghostdogpr commented on #1941
I think it was done already in https://github.com/zio/zio/pull/1914 (it wasn't deployed yet)

[2019-10-09 12:47] #1891 closed

[2019-10-09 13:49] #1524 closed

[2019-10-09 17:47] mlangc commented on #1936
@adamgfraser can you reproduce this locally? I've tried really hard (including running the test thousands of times sequentially and in parallel - both while my workstation was idle and under high load using different JVMs) but I could not reproduce the failure.

[2019-10-09 17:59] adamgfraser commented on #1936
@mlangc I can't. It definitely happened per the CI logs and I double checked that this was on a branch with `looseTimeAndCpu` implemented with `Live[Clock]` but I am also unable to reproduce.

[2019-10-09 18:52] mlangc commented on #1936
Hmm.... I've experimented with different numbers in `Schedule.recurs` in `looseTimeAndCpu`, and the smallest number where I could reproduce the issue using `nonFlaky(10000)` was 32. That being said, I see three possible solutions:

1. Bump the value of recurs to 200 or even higher, and see if that helps.
2. Let the looser wait on a promise, that only gets succeeded after the race is over, as discu

[2019-10-10 02:00] adamgfraser commented on #1927
You are totally right. I thought I remembered that feature existing but clearly I was hallucinating.

I do think it would be fairly straightforward for us to implement this ourselves. The `SummaryBuilder` already collects all the failed tests so we would just need to write this to a file after running the tests and then create a new command line option similar to what we did for `-t` to read the f

[2019-10-10 11:29] #1941 closed

[2019-10-10 14:36] softinio commented on #1941
Yup already done. Will go out next deploy.

[2019-10-10 15:42] neko-kai commented on #1441
@sebver @jantoebes @RoccoMathijn
Did you guys test whether your issue is solved in `1.0.0-RC14`?

[2019-10-10 15:47] mtsokol commented on #1927
Sounds awesome for me. Do you don't mind if I will try to do it this or next weekend? I haven't done any sbt integration feature yet, so I will look into this `-t` for an idea.

[2019-10-10 15:48] adamgfraser commented on #1927
That sounds fantastic! Let me know if you need any help as you are working through it.

[2019-10-10 17:06] RoccoMathijn commented on #1441
Hi @neko-kai,

Yeah! We're ran it successfully on acceptance without issues for a few days and since yesterday in production!

Thank you so much for your time on this. See you on another hackathon!

[2019-10-10 17:45] jdegoes commented on #1562
@adamgfraser

How about this:

[code]

[2019-10-10 17:46] jdegoes commented on #1562
The other thing that can be done with `equalTo`:

[code]

This is actually legitimate given that `equals` / `hashCode` is defined on `AnyRef`, and that is how `equalTo` is implemented.

[2019-10-10 17:47] jdegoes commented on #1562
It's very important to fix type inference issues like these.

[2019-10-10 17:55] adamgfraser commented on #1562
I'm on it. My concern had been that these solutions are less type safe in that you could call `equalTo` with a right hand side that could not possibly be equal to the left hand side. But as you say that is inherent in the definition of `equals` and the worst case is just that you write a test that doesn't make sense and so the test fails versus the current situation which causes pain for all users

[2019-10-10 18:53] #1562 closed

[2019-10-11 22:32] jdegoes commented on #1932
How about we rename `complete` to `continueWith` or something, and then introduce a new complete that has "expected" semantics?

[2019-10-11 22:37] jdegoes opened #1953 "Introduce ZEnv decorators for different ZIO modules"
Introducing a `ZEnv.scala` file, which will house a companion object for the type alias `ZEnv` (defined in `zio` package object, through `ZEnvDefinition`), we can place a number of case classes that can offer decorating behavior.

[code]

With this functionality in place, it will become possible to write:

[code]

for example, to "weave" an aspect into `Clock`.

[2019-10-11 22:48] mschuwalow commented on #1953
I'll take this one

[2019-10-11 23:09] adamgfraser commented on #1932
I think that is a good idea. I’ll take this one.

[2019-10-12 09:57] unclebob418 commented on #1898
I'd like to help out with a few of these but may need some guidance (new to ZIO and I've never worked on a team before so the PR process is a bit unfamiliar). I'll start with TestSpec since that seems the simplest.

[2019-10-12 10:33] adamgfraser commented on #1898
Great! Please feel free to reach out here or on Discord if you have questions or need help as you are working on it.

[2019-10-12 20:05] neko-kai opened #1958 "Include FiberId in Cause.interrupt"
Knowing killer Fiber's `FiberId` may help when working http4s - e.g. when viewing interrupts in log, it may be clear whether those are benign timeouts or something else.

Previous discussion: https://github.com/zio/zio/issues/1112#issuecomment-507046102

[2019-10-13 11:03] #1953 closed

[2019-10-13 13:28] #1932 closed

[2019-10-13 18:04] jdegoes opened #1960 "ZIO Test: Add ifEnv TestAspect"
It would be useful to have a test aspect that runs a test only if an environment variable satisfies a provided assertion.

[code]

To be used as:

[code]

Marks the test as ignored if the environment variable does not exist or is not set to the specified environment variable. Will need to use the live environment.

[2019-10-13 18:05] jdegoes commented on #1960
Can also imagine the property version of this, e.g. `ifProp`, which uses Java properties.

[2019-10-13 18:06] adamgfraser commented on #1960
I’ll take this.

[2019-10-13 18:48] #1934 closed

[2019-10-13 18:59] neko-kai commented on #1759
Hmm, there's a Scala bug with an example where scala fails to unify types – https://github.com/scala/bug/issues/11769, I thought it would be a good example for where `_` is better than `Any` – but surprisingly in this case `Any` works well, while both `_` and a type parameter fail!

[code]

Perhaps I was completely wrong about that and we should be using `Any` instead... The example shows there ce

[2019-10-13 19:01] jdegoes commented on #1759
Existential types are being deleted in Scala 3.x.

[2019-10-13 19:02] jdegoes commented on #1759
My 2 cents `Any` is the way to go here, because (1) there will be no choice in Scala 3, and (2) it infers well and is safe under Scalazzi, exactly as safe as an existential type.

[2019-10-13 19:06] neko-kai commented on #1759
@jdegoes
See https://github.com/zio/zio/issues/1759#issuecomment-533883673 / https://dotty.epfl.ch/docs/reference/dropped-features/existential-types.html, only `forSome` syntax is dropped, wildcards remain. (It wouldn't be possible to drop wildcards due to Java interop even if there was demand for that, aside)

[2019-10-13 19:10] jdegoes commented on #1759
@neko-kai Ah, interesting. What about `_` being co-opted for partial type application in 3.1 (ish)? Or is that no longer on the table?

[2019-10-13 19:11] neko-kai commented on #1759
@jdegoes There will be a switcheroo where `?` and `_` will swap meaning in ~3.1.

[2019-10-13 19:35] adamgfraser commented on #1759
I think if there is not a disadvantage there is some value to contributors in having one way to do something and to users in not wondering if there is some significant to the use of `_` in one place and `Any` somewhere else. It would also let us sidestep any issues between `?` and `_` since I assume at some point we will want to support both versions. Shall we open a PR to replace instances of wil

[2019-10-13 19:40] neko-kai commented on #1759
@adamgfraser That would be educational :+1:

[2019-10-13 19:41] adamgfraser commented on #1759
Okay, will do.

[2019-10-13 22:57] unclebob418 commented on #1898
I'll see if I can tackle the rest of these - the first one seemed easy enough and taking the time to understand the tests should help my understanding of how it all works

[2019-10-13 23:05] adamgfraser commented on #1898
Sounds good. Do however many you want. They vary a lot in size so whenever you reach a stopping point let me know and we can merge what you have done. Feel free to reach out any time if you have questions as you are working on them.

[2019-10-14 13:08] loicdescotte opened #1965 "ZSink.splitDelimiter"
It would be nice to have a `splitDelimiter` operation on ZSink, to be able to do something close to Akka Streams `Framing.delimiter`, i.e, change the way elements are separated in a ZStream by merging and re-splitting them.

Akka Streams `Framing.delimiter` usage example :

[code]

It could be something like :

[code]
Note : `maximumFrameLength` should have a default (unbounded ?) value.

Thanks

[2019-10-14 13:14] iravid commented on #1965
This would be a very nice generalization of `ZSink.splitLines`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-14 15:44] jaliss commented on #1630
@adamgfraser I did not get to work on this and I'll be out for a couple of weeks.  If someone else wants to take this go ahead otherwise I'll work on it once I am back.

[2019-10-14 15:53] adamgfraser commented on #1630
@jaliss No worries! Thanks for the heads up. I really appreciate it.

[2019-10-15 01:45] adamgfraser opened #1971 "ZIO Test: Simplify Test Result Types"
Issue to track simplification of ZIO Test test results. Will work on this more once #1951 is merged. Things I am thinking about:

- Add an `Ignore` case to `BoolAlgebra` - This would let us have a `zero` for various combinators to combine assertions and I think could potentially allow us to unify some of our different types for test results.
- Unify `TestSuccess` and `TestFailure` into one algebra

[2019-10-15 01:58] adamgfraser opened #1972 "ZIO Test: Prepare for 1.0 Release"
Issue to track items needed before ZIO Test 1.0 release. Please feel free to add or provide feedback.

- [x]  support test annotations (#1951)
- [x] simplify backend types (#1971)
- [ ] make sure everything that can be private is
- [ ] benchmark property based testing or get confident we can make any necessary changes in a binary compatible way
- [x] determine what if anything we want to do to mak

[2019-10-15 09:17] unclebob418 commented on #1898
Working TestAspectSpec at the moment (understanding that will help with the doco). This one is... mch harder :) getting there slowly

[2019-10-15 13:06] fanf commented on #1275
As promised, some news on the perf part: our measurement tends to confirm that the performance issue is not the fault of `ZIO` per se, but the context switching between  `ZIO` world and effectful world.
We successfully fully ported one of the performance problematic point to full `ZIO` and we are now back to the perf region where we were before the switch (> one order of magnitude better, in a pat

[2019-10-15 13:22] adamgfraser opened #1977 "Flaky CancelableFuture Test"
[code]

https://circleci.com/gh/zio/zio/33544?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-10-15 14:04] adamgfraser opened #1978 "ZIO Test: Type Inference Issue with ZSpecSyntax"
The following snippet does not compile:

[code]

While this snippet works fine:

[code]

The issue is with `ZSpecSyntax`:

[code]

In an example like the above, the test itself does not require any environment, so `R` is inferred as `Any`. But since `@@` requires `UpperR >: R` and `UpperR =:= Live[Clock]` the type constraints are not satisfied. Since the `ZSpec` doesn't require any environment it

[2019-10-15 14:33] adamgfraser commented on #1332
@mgibowski Haven't heard back on this in a while so I am going to start working on this.

[2019-10-15 18:46] iravid opened #1980 "Scaladoc warnings in ZEnv"
[code]

Why are these not fatal?

[2019-10-15 18:47] iravid commented on #1980
cc @mschuwalow

[2019-10-15 19:30] neko-kai commented on #1275
@fanf minor correction: You can have an AnyVal implicit class for by-name with AnyVal for Function0 + implicit def - see ZIOSyntax [implicit def](https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/syntax/package.scala#L25) & [class](https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/syntax/ZIOSyntax.scala#L28). This works because by-name is just sugar over Fun

[2019-10-15 19:34] fanf commented on #1275
Oh cool! I didn't know about that. A bit sad scalac doesn't do the trick by
itself. Thanks!

Le mar. 15 oct. 2019 à 21:30, Kai <notifications@github.com> a écrit :

[2019-10-15 19:36] mlangc opened #1981 "Error in type signature of `zio.stream.ZSink#optional`"
The problem is best illustrated by the following snippet:
[code]

As pointed out by @iravid, the there is an error in the type signature of
[code]
where `E` should be replaced with `Nothing`.

[2019-10-15 21:02] LGLO opened #1984 "Cause#failureOrCause can stackoverflow but should use"
`Cause#failureOrCause` stack-overflows when it's made of many nested `Both`s.
`failures` would overflow as well in this case but case for `failureOrCause` is that is requires only first `Fail`.
Basically there is problem with `foldLeft`.

I stumped on it when I created 10000 failing effects and tried to `foreachPar` them and they completed before being interrupted, so each had time to fail before

[2019-10-16 05:07] #1980 closed

[2019-10-16 07:21] regiskuckaertz opened #1987 "Flaky ZIO test"
[check this out](https://app.circleci.com/jobs/github/zio/zio/33869):
[code]

[2019-10-16 10:35] adamgfraser commented on #1984
I can work on this.

[2019-10-16 16:27] #1978 closed

[2019-10-16 19:45] regiskuckaertz commented on #1981
I don't think so, e.g. `ZIO.fromOption[A](v: => Option[A]): IO[Unit, A]`. That's the same here, as a sink that didn't receive anything yet cannot produce anything, so it must fail.

[2019-10-16 19:47] iravid commented on #1981
`ZSink#optional` is like `zio.fold(_ => None, Some(_))`, so it is supposed to eliminate the error type

[2019-10-16 20:11] regiskuckaertz commented on #1981
ok, I'm confused because that doesn't remove the `Unit` in `stream.run(sink)`. This is because `extractPure` cannot produce a `Right` for `ZSink.identity` if there never was an element in the first place.

[2019-10-16 20:20] LGLO commented on #1987
I was thinking a lot about this test some time ago. My only conclusion was that we can increase delay only.
This is because thread can be paused after passing some barrier/latch/whatever we add in test and before registering itself as a looser.

[2019-10-16 20:26] iravid commented on #1981
Sorry can you show a complete sample?

[2019-10-17 01:42] adamgfraser opened #1992 "Flaky StreamBuffer Test"
[code]

https://circleci.com/gh/zio/zio/34020?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-10-17 05:11] regiskuckaertz commented on #1981
The one in the description in fact, the expression `stream.run(sink)` will still have type `IO[Unit, Option[Int]]`. Here's the console output:
[code]

I'm trying to find out why.

[2019-10-17 05:20] regiskuckaertz commented on #1981
[code]
isn't the error type `Unit` because `run` can fail in the `Some(e)` case?

[2019-10-17 06:04] regiskuckaertz commented on #1981
yep:
[code]

[2019-10-17 06:37] regiskuckaertz commented on #1965
I'd like to take this one. So:
[code]
? Also, can we try to find a better name? `splitAt`?

[2019-10-17 07:04] iravid commented on #1965
`splitOn` would be good! To be fully compatible with the current splitLines, we need to handle both `\n` and `\r\n`. So I guess we need a list of delimiters in the signature.

Would be interesting to see how this can be handled efficiently in general. I guess we need a prefix search tree.

[2019-10-17 08:15] regiskuckaertz commented on #1965
We could probably store the platform-specific line separators somewhere.

[2019-10-17 08:20] iravid commented on #1965
Sure I don't mind making it configurable, but the default should handle both delimiters and not require a decision.

We can also keep `splitLines` separately implemented for now if that complicates things.

[2019-10-18 07:10] regiskuckaertz commented on #1965
I think yes. I struggle to find another example where this would be useful but also it seems this opens up a box of weird edge cases 🤔

[2019-10-18 08:31] Vilkina opened #1998 "Create chunk.md in datatypes section"
Create documentation for "chunk" type

[2019-10-18 08:32] Vilkina commented on #1998
Working on it

[2019-10-18 10:51] ioleo commented on #1972
For the Mocking framework:
[ ] add UManaged alias #1999

[2019-10-18 20:52] mgibowski commented on #1332
@adamgfraser thanks! sorry, I don't have the notifications on.
My work on this got interrupted with a family travel, I am glad you took it over. I will be happy to help with forthcoming things.

[2019-10-19 07:09] regiskuckaertz commented on #1882
ha, got this one too
https://app.circleci.com/jobs/github/zio/zio/34311

[2019-10-19 08:03] ghostbuster91 opened #2003 "Allow renderer to access to both actual and expected parameters"
Hi, I would like to enrich failure messages with more detailed information based on assertion result. This might be especially useful when dealing with large lists or just big data structures. It was previously mentioned in #1542, but probably that issue was about something else.

WDYT?

[2019-10-19 15:22] neko-kai opened #2005 "Interruptible regions in finalizers cause finalizers to not run after fiber is interrupted"
Example:
[code]

Expected:

Line `Waited 1s` in the console

Actual:

Nothing is printed because interruptible op `ZIO.unit.interruptible` causes the finalizer to be interrupted AGAIN for good by its own `interrupted` status.

/cc @jdegoes @darl

[2019-10-20 17:24] pk044 commented on #1630
mind if I take this one? sounds like a good opportunity to learn something useful :)

[2019-10-20 17:48] adamgfraser commented on #1630
Please do!

[2019-10-21 02:26] unclebob418 commented on #1898
@adamgfraser can you please tick off the tests migrated under #1959?
TestSpec
ConsoleSpec
EnvironmentSpec
SystemSpec

[2019-10-21 02:29] adamgfraser commented on #1898
@unclebob418 Good catch! Done now. `MockSpecSpec` is being taken care of as part of #2000 so will mark that off when it is merged but no need to do that one.

[2019-10-21 07:02] devesh-shetty commented on #2005
Hi @neko-kai ,
Could I take this up? Thanks!

[2019-10-21 07:10] neko-kai commented on #2005
@devesh-shetty
Sure, feel free to!

[2019-10-21 07:28] jdegoes commented on #2005
@neko-kai Damn, nice find. There mist be a story behind that! 😆

[2019-10-21 07:31] jdegoes commented on #2005
Hmm, actually isn't this correct behavior? What would you expect to happen? A finalizer is not special, so it is like any ordinary interruptible hole inside an uninterruptible region.

[2019-10-21 07:49] vasilmkd commented on #1992
We should decide what to do here given #2008, which breaks these tricky combinators...

[2019-10-21 08:13] neko-kai commented on #2005
@jdegoes
Well, let's see what haskell does 😅 https://repl.it/repls/WhichIrresponsibleCharacterencoding
[code]
The finalizer is not interrupted again – but then that has to do with interruption being an exception –  a one-time event. I would (intuitively) expect the finalizer to become interruptible by _another_ outside signal, but not by the _past_ interruption that caused it to execute.

[2019-10-21 21:31] mschuwalow commented on #1909
This will be fixed as part of #1798 once it lands.

[2019-10-23 00:59] adamgfraser commented on #2003
@ghostbuster91 Sorry for the delay in getting back to you on this. Detailed failure reporting is definitely a goal we have. Can you say a little more about how you see something being reported today and how you would like to see it reported?

[2019-10-23 11:10] ghostbuster91 commented on #2003
In the current implementation what is reported back to the user is the passed renderer String, but this is given upfront, before the actual evaluation of assertion, so cannot really be generated basing on the actual comparison. I would like to be able to write something like that:
[code]
Where inside of `MyAssertions.equalTo` I have access to both actual and expected objects before providing the a

[2019-10-23 15:27] #1759 closed

[2019-10-23 16:32] #1984 closed

[2019-10-23 19:38] adamgfraser commented on #2003
Got it. Yes, I think that is definitely interesting. Do you want to work on this? Otherwise I would be happy to take it.

[2019-10-23 20:30] #1965 closed

[2019-10-23 21:09] iravid opened #2021 "ZStream breakage in master"
Oops, the last merge of `ZSink.splitOn` was using outdated versions of `ZStream#mapConcat`:
[code]

cc @regiskuckaertz @vasilmkd

[2019-10-23 21:10] vasilmkd commented on #2021
Are you on it?

[2019-10-23 21:15] vasilmkd commented on #2021
Looks like there are other breakages as well? In `core`.

[2019-10-23 21:54] #2021 closed

[2019-10-24 07:15] regiskuckaertz commented on #2021
oh noes! thanks both, I didn't see that 😞

[2019-10-24 07:18] vasilmkd commented on #2021
Not your fault. Just out of order merging.

[2019-10-24 07:43] #1960 closed

[2019-10-24 07:44] #1332 closed

[2019-10-24 12:37] #1178 closed

[2019-10-24 18:43] mijicd opened #2028 "Implement TSet"
Use `TMap` to implement `TSet`.

[2019-10-24 19:43] #2028 closed

[2019-10-25 07:20] jdegoes commented on #2005
@neko-kai To get the behavior you want, you could write:

[code]

You have to handle the interrupt signal otherwise it will terminate the finalizer. It's the same thing as doing, e.g. `uninterruptibleMask { restore => restore(foo).run *> otherStuff }`

If you want an uninterruptible section to _not_ be interrupted, then you need to make sure you `run` any potentially interruptible regions passed i

[2019-10-25 18:19] jdegoes opened #2033 "Fiber composition should be parallel"
Fiber composition operators should _always_ compose in parallel.

The reason is that if in a composite fiber, one fiber fails on some operation like `join` or `await`, then all must fail; rather than waiting for the other members of the composite to complete, it makes more sense to terminate them immediately like other parallel operators.

Mostly, this will be a matter of replacing `zipWith` in `F

[2019-10-25 19:00] jdegoes opened #2034 "ZIO Test: Add assertCompletes"
ZIO Test could use a `val assertCompletes = assert(true, isTrue)` for tests that merely assert the completion of something. This would be added along side `assert` and `assertM` in the ZIO test package object.

[2019-10-25 19:03] adamgfraser commented on #2034
I can add this.

[2019-10-25 19:04] jdegoes commented on #2034
🙏

[2019-10-25 20:32] adamgfraser commented on #2033
I can work on this.

[2019-10-25 21:53] #2034 closed

[2019-10-25 22:25] jdegoes opened #2036 "Rename ZSchedule logInput / logOutput"
Rename to Rename `tapInput` / `tapOutput` for consistency with other tap methods.

In addition, we could _consider_ renaming `tapOutput` to `tap` (or maybe not, since we have `whileOutput`, etc.).

We should deprecate the old versions until `1.0.0` by adding the deprecation annotation.

[2019-10-26 11:29] mschuwalow commented on #2036
Ioll take this after https://github.com/zio/zio/pull/1798 lands

[2019-10-26 11:51] jdegoes commented on #2005
I think this is just part of ZIO semantics, which allow you to punch interruptible holes in uninterruptible regions. You should always `run` untrusted effects (i.e. effects passed into your code, which you are sequencing into your own). Or not use `interruptible` (it must be used carefully, e.g. see `raceWith`) and just use `uninterruptibleMask`.

[2019-10-26 11:51] #2005 closed

[2019-10-26 11:56] jdegoes commented on #2003
@ghostbuster91 I'd love the diffx integration!!! ❤️

[2019-10-26 17:20] #2033 closed

[2019-10-27 22:03] ahoy-jon commented on #272
@lemastero, @jdegoes wrote this article a while back http://degoes.net/articles/zio-challenge.

[2019-10-28 12:11] jdegoes opened #2047 "Compile-time errors for useless combinators"
Various combinators don't make sense for infallible errors. We should try to produce compile-time errors for:

[code]

[2019-10-28 12:32] adamgfraser commented on #2047
I would like to work on this.

[2019-10-28 14:13] adamgfraser commented on #2047
What if we do something like this?

[code]

Then the following would work.

[code]

[2019-10-28 14:16] jdegoes commented on #2047
Yes, but with our own custom implicit type so we can use implicitNotFound annotation to provide a good error(s), like, "This operation only makes sense for effects that may fail."

[2019-10-28 14:20] jdegoes commented on #2047
There is also an annotation we can use that will prevent the implicit type from appearing in the Scaladoc

[2019-10-28 20:14] mschuwalow commented on #1909
This should be resolved now
@reibitto can you confirm and close this?

[2019-10-29 01:10] #2036 closed

[2019-10-29 04:57] reibitto commented on #1909
Thanks for the Schedule rework @mschuwalow! I can confirm RC16 fixed this issue. Closing.

[2019-10-29 04:57] #1909 closed

[2019-10-29 13:14] mmuschalik opened #2052 "Intermittent Issue running ZIO schedule"
I took on a little project to get familiar with the core library by trying to solve the dining philosophers problem.

I'm experiencing some strange behavior, once I add a repeat schedule for each philosopher. It sometimes works, sometimes doesn't. It could well be the code, but I can't seem to work it out.

Real quick explanation: I want to model the forks on the table as zio semiphores and have e

[2019-10-29 14:45] iravid opened #2053 "Revise ZSchedule#onDecision"
Current signature:
[code]

Should be:
[code]

[2019-10-29 15:03] mschuwalow opened #2054 "Rename ZSchedule to Schedule"
After the recent changes to Schedule the less polymorphic version is probably not useful anymore.

/cc @jdegoes @adamgfraser

[2019-10-30 06:46] iravid opened #2055 "Add ZStream#collectM, collectWhileM"
Like `ZStream#collect` and `collectWhile`, but evaluate an effect returned by the PF.

Signatures:
[code]

[2019-10-31 08:01] TapanVaishnav commented on #1898
@adamgfraser Hi Adam, I'd like to take on the following tasks(if that's okay)
[code]

[2019-10-31 09:21] TapanVaishnav commented on #1898
Ok, no worries, go ahead. I will do the following ones then.
[code]

[2019-10-31 09:29] unclebob418 commented on #1898
Thanks @TapanVaishnav. Let me know if you have any questions - If it's something I can help with it'd be good to offload @adamgfraser a bit

[2019-10-31 10:03] adamgfraser commented on #1898
@TapanVaishnav Awesome! Thanks for contributing! `TestAspectSpec` was actually done in #1959 and `MockSpecSpec` was renamed to `ExpectationSpec` and done in #2000. Sorry, I just updated the checklist to reflect that. The others definitely look good though! What I would suggest is you pick one you want to work on initially and then when you are ready for another you can just post here with that one

[2019-10-31 10:08] TapanVaishnav commented on #1898
Seems good. I will have a look at all the remaining ones and post a new comment.

[2019-10-31 12:58] vasilmkd commented on #2055
It would be nice to add these combinators to `ZStreamChunk` and `Chunk` as well.

[2019-11-01 10:00] TimPigden opened #2068 "TestClock use of Duration and Time could be clearer"
Time or DateTime is normally a point on a continuum - see java.time for example.
Duration is the difference between two Times (always positive in zio case)
But TestClock uses Duration in setTime when it should be using some sort of DateTime as in:
[code]
In other cases it adheres to the norm, with TimeZone, ZoneId etc. and a currentDateTime: UIO[OffsetDateTime]

To make it more consistent I would

[2019-11-01 10:04] TapanVaishnav commented on #1898
I'll take the `CheckSpec` one.

[2019-11-01 10:09] adamgfraser commented on #1898
Great!

[2019-11-01 10:36] adamgfraser commented on #2068
@TimPigden Thanks for raising!

I would suggest we add a new method `setDateTime` to address the use case you suggest and add additional documentation that `setTime` sets the time to the specified duration since the epoch.

I understand your point about consistency with time units but I think there are a couple of other countervailing factors:

1. Using duration is much more convenient for most ty

[2019-11-01 10:38] iravid commented on #1546
After some thinking, the impure representation is impossible to implement without some sort of queue. At that point it becomes pretty similar to the current implementation of `ZStream.effectAsync` if used with ZQueue.

[2019-11-01 10:38] #1546 closed

[2019-11-01 10:39] iravid commented on #1462
This is currently impossible to implement generally.

[2019-11-01 10:39] #1462 closed

[2019-11-01 10:42] adamgfraser opened #2069 "ZIO Stream: Enable Tests on ScalaJS"
Currently all tests for the ZIO Streams project are in the `streams-tests/jvm` folder and thus only being run on the JVM. This ticket is to move all of those tests to the `shared` folder so that they run on both the JVM and ScalaJS and resolve any compilation or test failures that result from running them.

[2019-11-01 10:49] adamgfraser opened #2070 "Run ZIO Core Test Suite on Dotty"
Currently ZIO Core is being compiled against Dotty but we are not running the test suite on Dotty. This ticket is to enable that by changing the `testDottyJVM` command alias in `build.sbt`, get the test suite to compile on Dotty, and resolve any issues that result.

[2019-11-01 10:52] TimPigden commented on #2068
I'm happy with that.

[2019-11-01 10:53] adamgfraser commented on #2068
Okay, I will take the ticket.

[2019-11-01 11:13] likeanowl commented on #2055
I would like to help with this!

[2019-11-01 11:45] iravid commented on #2055
@likeanowl All yours!

[2019-11-01 11:55] iravid commented on #1845
Closing as this is not the right approach to the problem.

[2019-11-01 11:55] #1845 closed

[2019-11-01 12:02] iravid commented on #1981
Fixed in #1988

[2019-11-01 12:02] #1981 closed

[2019-11-01 12:04] #1831 closed

[2019-11-01 12:05] #473 closed

[2019-11-01 12:05] #466 closed

[2019-11-01 13:44] ioleo opened #2071 "Move the docs to a seperate project with its own release cycle"
Currently the documentation is versioned/released together with ZIO, which is troublesome in some scenarions, like when ZIO Mock framework was updated, but some of the examples relied on ZIO Macros (which were not yet updated at the time).

The solution is to move the docs to a seperate project `zio-docs` which will have its own release / versioning lifecycle independent of ZIO core.

[2019-11-01 15:04] adamgfraser opened #2073 "Flaky STM Test"
We are seeing some flakiness in the "read only STM shouldn't return partial state of concurrent read-write STM" test in `STMSpec.scala`. This ticket is to identify the underlying issue causing the flakiness and resolve it. We have had several issues with flakiness of tests related to STM functionality before so that we thought we had resolved so there is probably a subtle issue here. This ticket n

[2019-11-01 15:09] adamgfraser opened #2074 "Flaky RTS Test"
We are seeing flakiness in the test "cancellation is guaranteed" in `RTSSpec.scala`. This ticket requires someone with experience with main ZIO run loop.

[2019-11-01 17:50] TimPigden commented on #2068
is it too late to point out that there's a
TestClock.timeZone
but no
TestClock.currentDateTime
so the set of functions on the companion object is a slightly odd subset of the ones on the class

[2019-11-01 18:14] iravid opened #2076 "Make parts of ZManaged private"
This is necessary to evolve ZManaged's API in a backwards compatible way.

The following bits need to be changed:
- `ZManaged` itself needs to be a plain `final class` (and not a `case class`)
- The constructor needs to be hidden (`case class ZManaged[R, E, A] private ...`)
- An `apply(reservation: ZIO[R, E, Reservation[R, E, A]])` method should be provided on the companion object
- The `reserve:

[2019-11-01 18:16] #1843 closed

[2019-11-01 18:21] mschuwalow opened #2077 "Port combinators from ZIO to ZManaged"
ZManageds public API still lacks behind ZIOs API and we should explore how many of the combinators on ZIO can also be defined on ZManaged. The first part of this issue would be to collect all functions that are currently missing and in a second step investigate each one of them.

[2019-11-01 19:10] neko-kai commented on #1842
Fixed in https://github.com/zio/zio/pull/1939

[2019-11-01 19:10] #1842 closed

[2019-11-01 22:25] adamgfraser commented on #2068
It isn't too late to point it out though I don't know if it is actually a problem.

The logic I have tried to apply is that I have only added companion object functions on the test implementations when those functions are not provided by the live implementations. So for example, there is a `TestClock.adjust` but there is no `TestClock.sleep` because that functionality is already available through

[2019-11-01 23:19] mijicd opened #2078 "Remove for comprehensions from TArray"
All for-comprehensions used internally should be de-sugared.

[2019-11-01 23:20] mijicd opened #2079 "Remove for comprehensions from TMap"
All for-comprehensions used internally should be de-sugared.

[2019-11-01 23:21] mijicd opened #2080 "Remove for-comprehensions from TPromise"
All for-comprehensions used internally should be de-sugared.

[2019-11-01 23:21] mijicd opened #2081 "Remove for-comprehensions from TQueue"
All for-comprehensions used internally should be de-sugared.

[2019-11-01 23:22] mijicd opened #2082 "Remove for-comprehensions from TSemaphore"
All for-comprehensions used internally should be de-sugared.

[2019-11-01 23:22] mijicd opened #2083 "Remove for-comprehensions from TSet"
All for-comprehensions used internally should be de-sugared.

[2019-11-01 23:31] mijicd opened #2084 "Ensure all factories return STM"
Make sure all structures are created in STM, e.g. in `TSet`:

[code]

Implementers should prefer `apply` to `make` and provide additional factories where applicable (as in `TMap` and `TSat`). The issue can be split among multiple persons, in which case the following checklist apply:

- [ ] `TArray`
- [x] `TPromise`
- [x] `TQueue`
- [x] `TRef`
- [x] `TSemaphore`

To avoid duplicate work, please sta

[2019-11-02 04:09] #2068 closed

[2019-11-02 04:16] jdegoes opened #2085 "ZIO Test: Allow inheritance-style specification of spec"
[code]

[2019-11-02 07:07] adamgfraser commented on #2085
I spent a little time working on this morning and struggled to get this to work. The challenge that I ran into is that existing code uses the pattern

[code]

This means that `DefaultRunnableSpec` has to have a primary constructor with a parameter list for existing code to fill in. But then I don't know how we support the inheritance style because the compiler is going to complain that we're not p

[2019-11-02 07:54] fsvehla commented on #2078
Why?

[2019-11-02 09:41] mijicd commented on #2078
Minor win in getting rid of tail map.

On Sat, 2 Nov 2019, 08:54 Ferdinand Svehla, <notifications@github.com>
wrote:

[2019-11-02 09:58] YuvalItzchakov commented on #2053
@iravid Since `R` is contravariant, we can do:

[code]

[2019-11-02 10:01] joroKr21 opened #2088 "Use URIO in type signatures where possible"
E.g. `access`, finalizers, etc.

Would that make sense?

One reason to do this is type inference: see zio/interop-cats#104
I don't see a reason not to do it (it would also simplify a bit type signatures).

[2019-11-02 10:02] iravid commented on #2053
@YuvalItzchakov Right!

[2019-11-02 10:11] YuvalItzchakov commented on #2078
How about using https://github.com/oleg-py/better-monadic-for ?

[2019-11-02 10:39] mijicd commented on #2078
@YuvalItzchakov there's sort of a "silent" agreement not to use it inside the libraries in the organization. It's a great choice generally speaking though.

[2019-11-02 10:43] smart-ass commented on #2084
I take TArray

[2019-11-02 10:54] joroKr21 commented on #2088
Hmm, actually it doesn't with RIO I forgot that RIO is fixed to Throwable. Is there a type alias that fixea the error to Nothing?

[2019-11-02 10:56] ghostdogpr commented on #2088
@joroKr21 URIO

[2019-11-02 11:31] adamgfraser commented on #1334
This is resolved by #1949. If we identify other combinators where spurious warnings are being reported we should open a separate issue for them and we can resolve using `forkInternal`.

[2019-11-02 11:31] #1334 closed

[2019-11-02 11:47] simpadjo commented on #1886
Seems that no one is on it. Taking.

[2019-11-02 12:03] #2082 closed

[2019-11-02 12:56] AlexWerff commented on #2078
Is anyone doing that? If not I will do so.

[2019-11-02 12:57] 3link commented on #2079
I will take it, if nobody is working on it yet.

[2019-11-02 12:58] Stefanqn commented on #2080
will try

[2019-11-02 13:07] adamgfraser opened #2096 "Flaky ZIO ForkAll Test"
[code]

https://circleci.com/gh/zio/zio/36839?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-11-02 13:30] #2083 closed

[2019-11-02 13:31] mijicd commented on #2078
It's yours.

[2019-11-02 13:42] saraiva132 commented on #2077
Methods that I identified are part of ZIO and not ZManaged. I am pretty sure I missed some or I just ignored them because it just does not even make sense to mention them here. I guess we can identify the ones that make more sense and create tickets for those and I can work on these straight away :)

- absorb
- absorbWith
- asError
- Bracket related
- cached
- catchAllCause
- catchSomeCause
- coll

[2019-11-02 14:05] urmaul commented on #2069
Some tests won't succeed because they depend on unsupported features (example" https://github.com/zio/zio/blob/6bcd9042d17b83a736964fe36aed308fcb9fb2d3/core/js/src/main/scala/zio/internal/OneShot.scala#L44). Does it make sense to move only passing tests?

[2019-11-02 14:16] simpadjo commented on #1570
Tried to do it and miserably failed. Sigma types don't work well with variance annotations.

[2019-11-02 14:18] vitaly-pushkar commented on #2084
I take TRef

[2019-11-02 14:25] env0der commented on #2084
I take TQueue

[2019-11-02 14:32] vitaly-pushkar commented on #2084
@mijicd `TRef` seems to already have a `make` that returns `STM`. Is it relevant?

[2019-11-02 14:49] mijicd commented on #2084
@vitaly-pushkar let's just rename it to `apply`. I'd leave `makeCommit` as it is.

[2019-11-02 14:53] mijicd commented on #2081
Closed by #2100

[2019-11-02 14:53] #2081 closed

[2019-11-02 14:56] env0der commented on #2084
@mijicd here is `TQueue` part: https://github.com/zio/zio/pull/2103

[2019-11-02 14:58] env0der commented on #2081
Sorry for the noob question, but may I ask what's the motivation for desugaring? some performance benefits?

[2019-11-02 15:00] mijicd commented on #2081
As I said in one of the related issue, it's a minor win of saving one frame by eliminating the tail map imposed by for comprehensions.

[2019-11-02 15:02] env0der commented on #2081
I see, thanks for the explanation!

[2019-11-02 15:05] mijicd commented on #2080
Closed in #2098

[2019-11-02 15:05] #2080 closed

[2019-11-02 15:08] env0der commented on #2084
@mijicd and same for `TSemaphore` and `TPromise`: https://github.com/zio/zio/pull/2104

[2019-11-02 15:14] mijicd opened #2105 "Remove notion of immutability from TArray"
`collect`, `map` and `mapM` strongly resemble the immutable nature of scala collections. As we've discussed and implemented in other structures, we should lean toward the mutable approach. Thus being said, the aforementioned methods needs to be removed from `TArray`.

[2019-11-02 15:14] mijicd commented on #2105
cc @Stefanqn

[2019-11-02 15:46] iravid commented on #513
@saraiva132 Closing this issue as Rafael will open subsequent more accurate issues.

[2019-11-02 15:46] #513 closed

[2019-11-02 16:00] mijicd commented on #2076
cc @stkeky

[2019-11-02 16:01] mijicd commented on #2077
I propose to open this ticket for multiple contributors. Each one of them would be able to tackle a single combinator. WDYT?

@mschuwalow @saraiva132 ^

[2019-11-02 16:03] saraiva132 opened #2109 "Add ZStreamChunk#chunkN"
`  def chunkN(chunkSize: Int): ZStreamChunk[R, E, A]`

There is no guarantee that chunk have a uniform size and chunkN should constraint the chunk sizes to a parametrized value.

[2019-11-02 16:03] #2078 closed

[2019-11-02 16:04] saraiva132 opened #2110 "Add ZStreamChunk#groupedSliding"

[2019-11-02 16:07] saraiva132 commented on #2077
There is still work left to actually identify which ones make sense to implement in ZManaged. Are you suggesting that each separate ticket for each specific combinator would just be closed if it does not make sense or should that be discussed in the context of this issue?

[2019-11-02 16:09] mijicd commented on #2077
No, just keep the task list in this issue, perhaps in you comment. People could refer to this issue (e.g. part of ...) in their PRs.

[2019-11-02 16:09] mijicd commented on #2077
@iravid could you take a look at the list above?

[2019-11-02 16:22] alexvanolst commented on #1491
I'll be working on this

[2019-11-02 16:30] tenzki commented on #2070
I will take this one.

[2019-11-02 16:31] #2079 closed

[2019-11-02 16:33] mijicd commented on #2105
Closed in #2111

[2019-11-02 16:33] #2105 closed

[2019-11-02 16:53] adamgfraser commented on #2069
@urmaul Yes but we should catalog the ones we don't move and make sure that they are for reasons intrinsic to ScalaJS and the corresponding methods have documentation that they don't make sense on ScalaJS.

[2019-11-02 22:51] #2088 closed

[2019-11-03 00:18] softinio opened #2119 "Write documentation for using `ZEnv` for website"

[2019-11-03 01:14] TapanVaishnav commented on #2109
Isn't `def buffer(capacity: Int): ZStreamChunk[R, E, A]` somewhat similar to above described `chunkN` ?

[2019-11-03 01:24] TapanVaishnav commented on #1898
@unclebob418 I tried moving `checkspec` to `test` dir and now I'm getting the following error.
```Implementation restriction: access of method check in trait CheckVariants from <$anon: Function0>, would require illegal premature access to the unconstructed `this` of trait CheckVariants in package test```
which shouldn't happen because `CheckVariants` class is also being called from other classes l

[2019-11-03 01:33] unclebob418 commented on #1898
@TapanVaishnav can you please create a PR so I can see your code? just use WIP in the title

[2019-11-03 07:44] mijicd opened #2122 "Document the STM"
STM documentation is missing from microsite. The issue can be split to the following subsections:

- [x] STM
- [x] TArray
- [x] TMap
- [x] TPromise
- [x] TQueue
- [x] TRef
- [x] TSemaphore
- [x] TSet
- [x] TReentrantLock

Note that this issue has been extracted from #417, and the parent will be updated once we're done with the changes.

Raise your hand for specific subsection you'd like to work on

[2019-11-03 09:18] saraiva132 commented on #2109
Following docs buffer aims to allows a faster producer to progress independently of a slower consumer by buffering up to `capacity` chunks in a queue.

chunkN aims to break down chunks of arbitrary size to chunks of size N by slicing and re-arranging them

[2019-11-03 09:24] simpadjo opened #2126 "Test sink `sinkWithLeftover` is broken"
Seems that it has been corrupted at some point.
Will fix it.

[code]

[2019-11-03 09:26] #2055 closed

[2019-11-03 09:27] iravid opened #2127 "Add Chunk/ZStreamChunk#collectM and collectWhileM"

[2019-11-03 09:29] saraiva132 commented on #2109
@TapanVaishnav are you picking this up?

[2019-11-03 09:34] #2076 closed

[2019-11-03 09:58] TapanVaishnav commented on #2109
@saraiva132 I see, so in `chunkN` we only keep the elements till size N and removes all after that?

[2019-11-03 10:01] TapanVaishnav commented on #2109
Sure, I can pick up this.

[2019-11-03 10:25] saraiva132 commented on #2127
Taking this one

[2019-11-03 10:33] #1886 closed

[2019-11-03 10:37] iravid opened #2129 "Add ZSink.head and ZSink.last"

[2019-11-03 12:41] YuvalItzchakov commented on #1182
I'm going to start work on this if there are no objections

[2019-11-03 14:07] #2053 closed

[2019-11-03 14:10] #1491 closed

[2019-11-03 23:58] ghostdogpr opened #2142 "Ignore should not recover from unchecked exceptions"
Recently in [this issue](https://github.com/zio/zio/issues/1868) we fixed `ZIO#option` to make it NOT handle unchecked exceptions. The point was that it should be explicit using something like `sandbox`.

I think the same reasoning applies to `ZIO#ignore`. What do you think?

[2019-11-04 00:32] sideeffffect commented on #1208
Since this ticket is closed, I thought that `spec2` has been removed, but apparently [it's still here in `core-tests`](https://github.com/zio/zio/search?q=specs2&unscoped_q=specs2). Is that intentional? I realized this, when this blocked the Scala Native port (https://github.com/zio/zio/pull/1428), because `spec2` is not properly published for it.

[2019-11-04 00:38] adamgfraser commented on #1208
Sorry, I meant to respond to the issue on that but did not get a chance to earlier. We are in the process of migrating all tests to ZIO Test, with progress tracked in #1647. As you can see there are only two suites that still have to be migrated.

Ideally we would get those two suites migrated as soon as possible, but in advance of that is it possible to alter the build configuration so that Specs

[2019-11-04 00:55] arism opened #2143 "StackOverflowError on traversing a Chunk resulting from concatenating others"
Hello , I am new to ZIO .
When i was trying to solves @jdegoes "zio-intro-game" exercises  , i encountered a ```StackOverflowError``` when playing with ```Chunk``` in ```CatIncremental```
In my implementation i was folding/concatenating multiple chunks and StackOverflowError occurred when traversing the resulting chunk .
i made the example below to illustrate the problem
[code]
The stack trace err

[2019-11-04 01:22] sideeffffect commented on #1647
Probably there are [`BaseCrossPlatformSpec`](https://github.com/zio/zio/blob/master/core-tests/shared/src/test/scala/zio/BaseCrossPlatformSpec.scala) and [`TestRuntime`](https://github.com/zio/zio/blob/master/core-tests/jvm/src/test/scala/zio/TestRuntime.scala) missing on that list

[2019-11-04 01:23] adamgfraser commented on #1647
Those both just contain helper methods so once the last two test suites are migrated we can delete those. But you're right we would also want to move those to a platform specific directory.

[2019-11-04 04:01] jdegoes opened #2144 "ZIO Test: Add "not" variants of test aspects"
We have things like `jvmOnly`, `dottyOnly`, etc., that can run a test on only the JVM/Dotty/etc., but it would be nice to have their inverses: e.g. run a test everywhere except on the JVM/Dotty/etc. Maybe `exceptJvm`, `exceptJs`, `exceptDotty`, etc.

[2019-11-04 04:06] adamgfraser commented on #2144
Good idea. I will add.

[2019-11-04 04:07] jdegoes commented on #2144
You're up early! 😆

[2019-11-04 07:12] mijicd commented on #2073
Closed in #2134

[2019-11-04 07:12] #2073 closed

[2019-11-04 08:13] alexvanolst commented on #2142
I agree, I would be surprised by the current behaviour of ignore. Have opened a PR.

[2019-11-04 08:46] #2084 closed

[2019-11-04 09:41] eamelink commented on #1499
Easiest way to replicate:

    ZIO.foreachPar_(1 to 100000)(n => ZIO.unit)

Crashes with a StackOverflowError

[2019-11-04 10:41] #1339 closed

[2019-11-04 12:46] #2142 closed

[2019-11-04 13:29] hmemcpy opened #2153 "Provide a simple method to run a program to completion without explicitly folding"
In most examples, the program is run at the entry point like `program.fold(_ => 1, _ => 0)`. This gets repetitive, and also provides a source of confusion for Scala developers not familiar/comfortable with folding.

Perhaps a simpler method, like `execute`, that would fold the program with 1 and 0 as defaults? Perhaps even a `execute(errorCode: Int, exitCode: Int)` overload?

[2019-11-04 14:21] alexvanolst commented on #2153
I like the idea of this helper to make ZIO examples simpler, but I think the name `execute` could lead to some confusion since it is just a conversion to an infallible effect with the standard exit codes and nothing is being executed.

How about `exit` or `exitCode`?

[2019-11-04 20:40] felipehaack commented on #2122
Hi,
I'm new here, but I would like to work on a few items from the list `TArray, TMap, TPromise and TQueue`.
I'm just not sure if these items are already on the website (I didn't find there actually). Or, would you point me the place where these items should be placed?

[2019-11-04 20:44] mijicd commented on #2122
Hi @felipehaack, thanks for stepping up!

None of these are currently documented, and we really need them. They should be listed with other data types. Reach out if you need any help!

[2019-11-04 20:56] felipehaack commented on #2122
Thanks, I will come up with the documentation for these items and on the way there I will definitely reach you out. (I'm taking this pull request as example #1013)

[2019-11-04 22:00] pk044 commented on #2129
is it available for taking?

[2019-11-04 22:07] vasilmkd commented on #2129
Go for it.

[2019-11-05 03:03] jdegoes commented on #2085
We could use default argument, but then we need some sort of discriminatory, e.g. `Option` or something to indicate which one to choose (param or field).

I think the `Util` pattern is a bit of a smell, at least it's a non-obvious workaround to the current problem of defining local methods / data.

We could support both with another `RunnableSpec` and deprecate `DefaultRunnableSpec`.

[2019-11-05 08:06] hmemcpy commented on #2153
@alexvanolst you might be right that `execute` implies something is actually *happening*, but I also think it should be a verb of some sort that implies "running" the effect. Naming is hard :)

[2019-11-05 08:57] mijicd commented on #2077
Guys, please raise your hand to the combinator you're taking and refer to this issue in the PR, otherwise there'll be duplicated work :).

[2019-11-05 08:59] saraiva132 commented on #2077
@mijicd Guilty. yesterday I was not paying attention and did the same one. Should I update my issue up there with which ones are already done / being done ? Also at some point probably discard the ones that make no sense to port but I am unsure exactly which ones.

[2019-11-05 09:10] mijicd commented on #2077
That would be great, just convert the list to checklist.

[2019-11-05 09:19] saraiva132 commented on #2077
@mijicd  done. If someone at some point can come up and tell which ones do not make sense to port so I check them it would be great.

[2019-11-05 09:30] mijicd commented on #2077
@saraiva132 perfect, thanks!

[2019-11-05 11:59] adamgfraser commented on #1647
@zezutom Just checking in on migrating `ZIOSpecJVM`. Are you still working on this? Do you need any help to finish it?

[2019-11-05 17:09] #2144 closed

[2019-11-06 07:21] laurynasl-wix opened #2164 "Repeated runs of stream with empty input hangs"
The following program never runs to completion:

[code]

From it's output you can see that it always completes 1 iteration and then hangs after an arbitrary number of iterations.

The following also hangs, but less reliably (thanks @eamelink):
[code]

[2019-11-06 10:06] TapanVaishnav commented on #2109
@saraiva132 I started working on this and wanted to confirm one thing.
As per the above explanation, `chunkN` takes the first n elements and discards after that and returns a new `ZStreamChunk[R, E, A]` ?

[2019-11-06 14:32] #1844 closed

[2019-11-06 16:26] TimPigden opened #2166 "Duration.Infinity has incorrect asJava"
Code is
[code]
The problem is that doing .toMillis on the result will attempt to muliply Long.MaxValue by 1000 causing an overflow.
It should be JavaDuration.ofMIllis(Long.MaxValue)

[2019-11-07 04:10] TapanVaishnav commented on #2166
@TimPigden Thanks for the detailed explanation, if you don't mind then I'd like to fix this one.

[2019-11-07 04:21] TapanVaishnav commented on #2109
@saraiva132 Please have a look when you get time
https://github.com/zio/zio/pull/2171

[2019-11-07 05:51] TapanVaishnav commented on #1898
@adamgfraser @unclebob418 Created new PR, Please have a look and Sincere apologies for all the hustle.

[2019-11-07 06:05] TimPigden commented on #2166
Hi, sure. But I thought of something namely the reverse operation, but I'm
m not in a position to look at code at the moment. Can you hold on for a
couple of hours?

On Thu, 7 Nov 2019, 04:10 TapanVaishnav, <notifications@github.com> wrote:

[2019-11-07 06:13] TapanVaishnav commented on #2166
Sure, I also read the code and having concerns if is this really a bug. As, if someone wants to get `Long.MaxValue` of millis for `Infinity` object, then isn't it better to just call the `toMillis` instead of `asJava`?

[2019-11-07 07:47] TimPigden commented on #2166
Hi. No Inifinity.toJava.toMillis needs to work not cause a crash.
I spotted the bug because I used zio kafka. That allows setting of a default value of Inifinity. It then calls a java api that wants a java.time.Duration and that +subsequently calls toMillis on the java object - so the conversion happens against the bogus infinity value and zio kafka gets an exception.
looking at this code
[code]
t

[2019-11-07 09:18] saraiva132 commented on #2109
@TapanVaishnav Taking a flight I will take a look as I get time. Good work!

[2019-11-07 12:48] TapanVaishnav commented on #1898
Now that the `CheckSpec` is done, I'd like to proceed with the next available `DefaultTestReporterSpec` if that's ok?

[2019-11-07 13:30] adamgfraser commented on #1898
Great!

[2019-11-07 16:38] #1511 closed

[2019-11-07 16:52] horned-sphere commented on #2164
I have encountered this problem too (and diagnosed it). The issue is actually caused by a race in ZStream#distributedDynamicWith. If a consumer gets registered with the distributor after the stream has terminated it never sees the end of the incoming stream. This is only noticable in derived combinators like partitionEither when you feed them an empty stream.

I have a "fixed" version that I'm usi

[2019-11-07 17:04] iravid commented on #2164
@eamelink thanks for the report, and @horned-sphere thank you for diagnosing!

I’ve not had a chance to look at this yet. Maybe @mschuwalow could take a look?

[2019-11-07 21:28] ratoshniuk opened #2177 "Interop Java Futures"
Hi there!

Can we provide and interoperation for Java Futures?
They occurs very frequently in AWS, for example and it's kinda annoying to wrap them.

What do you think about this approach?

[code]

it was `thieved` from zio-sqs , but i think it could be potentially useful in production where there are so much follow problems 😞

[2019-11-07 21:31] jdegoes opened #2178 "ZIO Test: Unify order of type parameters"
We did this once before, but unfortunately it looks like there is some divergence, e.g.:

[code]

We should look at all types and see if there is an ordering we could standardize on that would be familiar to those who know `R, E, A` in ZIO.

[2019-11-07 21:34] adamgfraser commented on #2178
I agree. How about we try to standardize everything around `[R, E, L, T, S]`? `R` and `E` stay at the front in normal order to be consistent with rest of ecosystem. The others are a bit more subjective but conceptually label comes before the test, and type of the test comes before the type of the successful result.

[2019-11-07 21:50] jdegoes commented on #2178
@adamgfraser I think that makes sense. The consistency helps a lot with learnability.

[2019-11-07 21:51] adamgfraser commented on #2178
@jdegoes Totally agree. I will do tonight.

[2019-11-08 00:49] adamgfraser opened #2182 "ZIO Test: Explore Effectual Assertions"
It would be nice to be able to use effects inside of an assertion. For example, I was thinking it could be good to have an `isSerializable` assertion that would serialize an object, deserialize it, and check that the objects are the same to support our efforts to make sure all our data types are serializable. But we can't do that today because serializing and deserializing involves an effect.

I a

[2019-11-08 02:25] mschuwalow commented on #2077
My two cents on the ones remaining:

- bracket*: These will probably start having unintuitive semantics when defined on top of zmanaged. We started exploring this for Sync instances in interop cats https://github.com/zio/interop-cats/pull/39, but that discussion kind of died down. Maybe @neko-kai can provide input.

- forever: I believe does not really make sense on managed
- handleChildrenWith: p

[2019-11-08 06:38] regiskuckaertz commented on #2177
Check out the [interop-java](https://github.com/zio/interop-java) project 😉

[2019-11-08 06:38] #2177 closed

[2019-11-08 08:52] ratoshniuk commented on #2177
Thank you!

[2019-11-08 09:02] iravid opened #2187 "Fold interop-java back into this project"
We moved the conversion methods for CompletionStage and friends out to a separate project, but that seems pointless as the Java platform is always there.

The methods there can be added to a platform-specific file in this project.

Anyone know of a reason why we shouldn’t do this?

[2019-11-08 09:35] regiskuckaertz commented on #2187
True 🤔

[2019-11-08 15:38] #1802 closed

[2019-11-09 04:03] unclebob418 opened #2193 "test timeout failure"
When refactoring RandomSpec under #2037, I did a stupid thing by mistake :) some very long lists were created with size of Gen.anyInt (i.e. potentially Int.MaxValue long)

Unfortunately the 60s timeout on `ZIOBaseSpec` didn't (or wasn't able to) interrupt the test as expected. Possibly another manifestation of #1882?

Memory usage was stable, CPU was sitting around 80% on all cores. I killed it af

[2019-11-09 11:17] adamgfraser commented on #2193
@unclebob418 I think in this case the failure to timeout is due to the ZIO interruption model and the way the test was written.

The important thing to keep in mind about the ZIO interruption model is that it isn't just based on interrupting blocks of code at any given point. That wouldn't be resource safe. Rather, it is based on the runtime checking for interruption at each step in a chain of eff

[2019-11-09 11:54] dkarlinsky commented on #1647
Working on `ZIOSpecJvm`

[2019-11-09 12:04] jdegoes commented on #2187
Makes sense to me, as long as they are isolated to JVM.

[2019-11-09 12:42] zezutom commented on #1647
Apologies for my late response @adamgfraser , I did not start work on it. Thanks @dkarlinsky for taking over.

[2019-11-10 06:21] reibitto opened #2201 "Warn about dangerous uses of unsafeRun"
This was brought up on Gitter by discussion between cchepelov and @neko-kai. https://gitter.im/ZIO/Core?at=5dc00ae08fbe1d5faba1fc5e

I primarily wanted to make an issue about it so that it doesn't potentially get lost.

Not sure if my understanding is 100% correct, but it seems like the sync unsafe methods are more dangerous than the async variants because it's easier to cause deadlocks such as wh

[2019-11-10 08:26] unclebob418 commented on #2193
@adamgfraser yes, that's very helpful thanks. I've updated #2037 to remove the impure code.

[2019-11-10 08:26] #2193 closed

[2019-11-10 14:29] laurynasl-wix opened #2202 "TMap access with keys that have negative hashcodes crashes"
Trying to add or read an entry with a key that has a negative hashCode dies with "IndexOufOfBounds". The cause is that when selecting which bucket the key belongs to the `%` operator returns a negative index if the hashCode is negative.

[2019-11-10 19:07] serragnoli opened #2208 "[error] Referring to non-existent class java.time.ZoneId$"
First time I'm running ZIO's `test` from `master` and I'm getting: [sbt-test-logs.txt](https://github.com/zio/zio/files/3828812/sbt-test-logs.txt)

I did a little digging and found a closed issue https://github.com/zio/zio/issues/1934 with a PR to fix it.
Are the errors I'm seeing due to something wrong with my env or an actual issue?

[2019-11-10 19:11] softinio commented on #2208
Can you put the contents of your log in a gist or just paste in this issue?

[2019-11-10 19:26] serragnoli commented on #2208
@softinio
Thanks for replying.
Here is the [GIST](https://gist.github.com/serragnoli/920cd860720d31ba0303b39ab93994c7l) with more details.

[2019-11-10 19:27] adamgfraser commented on #2208
@serragnoli Are you using ZIO Test on ScalaJS? If so you need to add a dependency that provides the `java.time` package. You can use [scala-java-time](https://github.com/cquiroz/scala-java-time) for this.

[2019-11-10 19:36] TimPigden commented on #2166
Hi @TapanVaishnav did you do something about this? It's urgent for me and I'll need tofix in a local copy. So if you've not done anything, I'll create a one-liner PR fix

[2019-11-10 20:37] serragnoli commented on #2208
@adamgfraser
I followed this [section](https://github.com/zio/zio/blob/master/docs/about/contributing.md#prepare-your-code) of the contributor's guide.
The [dependency you mentioned](https://github.com/zio/zio/blob/master/build.sbt#L123) exists in `master` plus the [plugin](https://github.com/zio/zio/blob/master/project/plugins.sbt#L5).

What am I missing please?

[2019-11-10 20:47] adamgfraser commented on #2208
@serragnoli Sorry, I should have looked at the logs more closely. It looks like you are trying to run the tests for ZIO streams on ScalaJS, is that right? Those tests haven't been enabled on ScalaJS yet and I believe `streamsTests` doesn't have that dependency currently.

[2019-11-10 20:57] serragnoli commented on #2208
@adamgfraser
I am planning to start working on one of the open issues and I followed the contributors guide to verify whether my environment is OK. Therefore, I started SBT from the root of the project and did a  `clean; compile; test:compile; test` and noticed the errors in the GIST.

At the minute I'm under the impression the documentation may need some tweaking on how to avoid/ignore those erro

[2019-11-10 20:58] serragnoli commented on #2208
I'll clock out for a couple of hours now, but I'll be back afterwards.

[2019-11-10 20:59] adamgfraser commented on #2208
Sounds good. I will see if I can reproduce locally and come up with a recommendation. I will also be on Discord and can help there when you are back.

[2019-11-10 23:42] adamgfraser commented on #2208
@serragnoli I don't doubt the issue but I am not able to replicate locally. I think it has something to do with the `java-time` dependency and would try adding that to the `streamsTestsJS` project, but it is a little hard for me to give more definitive guidance than that since I can't reproduce it. Feel free to reach out on Discord to troubleshoot.

[2019-11-11 00:56] TapanVaishnav commented on #2166
Sorry for the delay, I've created the PR and just waiting for someone to review it.

[2019-11-11 01:10] #2166 closed

[2019-11-11 01:10] adamgfraser commented on #2166
@TimPigden @TapanVaishnav Merged.

[2019-11-11 01:11] TapanVaishnav commented on #2166
Thank you 🙇

[2019-11-11 09:11] simpadjo commented on #2208
Had the same problem. Had to disable js modules from the build for local development.

[2019-11-11 11:20] adamgfraser commented on #2208
Could you try updating [this](https://github.com/zio/zio/blob/5d533f1f8c66d36d468d15e81f1cc5b882545bb1/build.sbt#L151) line by adding the following at the end?

[code]

[2019-11-11 11:25] serragnoli commented on #2208
OK. I was looking at this issue right now. I'll try your suggestion.

[2019-11-11 11:48] serragnoli commented on #2208
@adamgfraser The dependency has fixed the issue, thanks 👍 . I added it to a couple of places as you'll be able to see in the PR please.

[2019-11-11 13:52] serragnoli commented on #2208
Hi @simpadjo
Could you re-enable the JS modules and try them against the latest from`master` please?

All the tests are now passing on my local env. It would be an extra layer of confidence before closing the ticket if the tests also work in your local env.

[2019-11-11 14:33] simpadjo commented on #2208
Works now, thank you!

[2019-11-11 14:34] #2208 closed

[2019-11-11 14:48] #2202 closed

[2019-11-11 14:51] jdegoes opened #2212 "ZIO Test: Remove or minimize creation of new runtimes"
A number of places right now where ZIO Test makes a new runtime:

[code]

We should push this up higher and higher and ideally avoid or at least minimize creation of new runtimes, since each one has its own thread pool, unhandled error reporter, etc., and the user has no control over these things when a runtime is created and used internally.

[2019-11-11 15:08] adamgfraser commented on #2212
I am working on this.

[2019-11-11 19:22] serragnoli commented on #1647
I'll work on `jvm/2.12/StacktracesSpec`

[2019-11-11 23:46] ajaychandran opened #2216 "Chunk.size always returns 0"
[code]

I think its because `size` is defined as a `final val` that references `length`. Will test the hypothesis.

[2019-11-12 03:16] #1081 closed

[2019-11-12 03:17] #108 closed

[2019-11-12 03:19] #2216 closed

[2019-11-12 05:05] ghostdogpr commented on #1023
Closing since supervision has been completely overhauled.

[2019-11-12 05:05] #1023 closed

[2019-11-12 10:05] loicdescotte commented on #872
I like this proposal, and I think it should be done entirely before 1.0 as currently we a little inconstancy in names logic IMHO, as we  have IO[E,A] for something that can fail with a E and RIO[R,A] that looks like IO with an environment R but is instead an IO with the error type set as Throwable + an env.

IO[A] would fix this.

WDYT?

[2019-11-12 10:24] ghostdogpr commented on #872
I agree with your point but I’m afraid of the confusion it would generate if we change this now, so I tend to agree with “the ship has sailed” on this.

[2019-11-12 10:27] iravid commented on #872
Yes. No more renames, please!

[2019-11-12 10:33] ioleo commented on #872
I'd also leave these "as is".

[2019-11-12 13:46] #2212 closed

[2019-11-12 18:32] vasilmkd opened #2225 "Improvements to zio.Chunk"
# TL; DR;

I would like to start a discussion on how to introduce specialized `Chunk` types for primitive types that are going to be exported, so that "power" users can utilize them in performance sensitive code.

I have documented my explorations, anyone who is interested to read is most welcome to. I will tag as many people as I can think of that might be interested in this subject area. I apolo

[2019-11-12 19:59] iravid commented on #2225
Great write-up @vasilmkd! I'm not a fan of the complexity of the second approach. The first approach is pretty promising, I think, and even though it uses mixins, it'd be interesting to benchmark the performance hit compared to the current implementation.

[2019-11-12 20:21] vasilmkd commented on #2225
Technically, a Scala mixin is a trait with no abstract methods, that is used in the with clause of the class definition in order to add or override specific behavior of the class. The second approach outlined above does use mixins, and I agree, I'm not a huge fan either.

The first approach is not a mixin technically, because the `ByteChunk` trait is a simple interface and provides no default impl

[2019-11-12 20:26] iravid commented on #2225
Ah, I see what you mean. The implementations of all the combinators would need to be re-implemented in `Buff`?

[2019-11-12 20:35] vasilmkd commented on #2225
But materializing the `Buff` is the same as now, it requires copying the contents of the `Buffer`. WDYT?

[2019-11-12 20:39] iravid commented on #2225
Yeah, but that's the best you can do with a buffer as it is mutable and cannot be used to back an immutable structure like Chunk.

[2019-11-12 20:49] vasilmkd commented on #2225
True, but I think we are misunderstanding each other. self.materialize would create an intermediate array which is then flatmapped.

[2019-11-12 20:52] iravid commented on #2225
Yes, I understand. The tradeoff here is between saving that copy and re-implementing all the combinators. I would benchmark to see if the performance gain is worthwhile as a function of the chunk size.

[2019-11-12 21:01] vasilmkd commented on #2225
What if, we override only some combinators that are clear wins, and inherit the others from the base `Chunk` trait? I don't envision `Buff` to be as complex as `Arr` to be honest.

[2019-11-12 21:04] iravid commented on #2225
If you copy the data out of a buffer into an array, that's basically the performance of `System.arraycopy`. It is going to be very fast, and the performance of every combinator on chunk will be dominated not by that copy but by the performance of boxing/unboxing incurred by applying the user's function to the data.

So again, let's benchmark. I would wager the difference is immaterial, particularl

[2019-11-12 21:06] vasilmkd commented on #2225
I see. Well if the copying is happening at native speeds, than maybe we don't need this discussion at all. Why not, for now, add convenience constructors for `java.nio.Buffer`s and pick this up again post 1.0?

[2019-11-12 22:56] vasilmkd opened #2226 "Race in a finalizer is not executed in case of interruption"
Basically, what the title says.

Running the spec on a fresh sbt instance once runs fine. Running it a second time times out. Running it a third time, it goes into a `stacktracerJVM compileIncremental` loop and never executes again.

This is a test that usually takes less than 2 seconds to run. It involves interruption. I'm pretty sure it has something to do with #2169.

-- Edit by @iravid --

The

[2019-11-13 09:26] vasilmkd commented on #2226
What I described earlier happens on a 2 core, 4 threads machine. I tried on a 4 core, 8 threads machine and it happens after the third time the test is started.

[2019-11-13 10:17] alexvanolst commented on #2129
@pk044 It is probably worth updating `runHead` and `runLast` in `ZStream` to use these sinks.

[2019-11-13 10:25] pk044 commented on #2129
@alexvanolst you're right - I'm adding that right now :)

[2019-11-13 13:31] vasilmkd commented on #2226
Here is a Java flight recording of the sbt instance running the tests with the above specified workflow. The StreamEffectAsyncSpec test was run once, then again, without issues. The third time it timed out and the fourth time it went into the `stracktracerJVM compileIncremental` loop. Again, this was after a clean compile cycle, on master, with no changes.

[flight_recording_180222xsbtbootBoot1050

[2019-11-13 14:57] NeQuissimus opened #2231 "Gen.alphaNumeric* not alphanumeric"
All the alphanumeric methods in `zio.test.Gen` are based around `Gen.alphaNumericChar`

This generator pulls in too many characters:

[code]

ASCII 91-96 need to be removed
This will also fix the weight on the gen of 52 :)

[2019-11-13 15:05] adamgfraser opened #2232 "ZIO Stream: ZStream#fromIterable Does Not Terminate on Dotty"
The below test times out on Dotty.

[code]

[2019-11-13 15:06] adamgfraser commented on #2231
Thanks for reporting! I will fix this now.

[2019-11-13 16:23] vasilmkd opened #2234 "ZStream scope error handling"
Currently, `ZStream` is defined in terms of the `val process: ZManaged[R, E, Pull[R, E, A]]` method, which defines most streams as scoped effectful iterators.

There are some constructors that accept scoped resources, immediately try to enter the scope and build a stream inside it (`ZStream.unwrapManaged`, `ZStream.fromIteratorManaged`). Passing a `ZManaged.fail` to these constructors fails with a

[2019-11-13 16:50] #2231 closed

[2019-11-13 17:23] adamgfraser opened #2235 "Flaky Stream Test"
[code]

[2019-11-13 18:48] NeQuissimus commented on #2231
@adamgfraser @jdegoes Any chance I could get an RC17 with this? :)

[2019-11-13 19:56] #2127 closed

[2019-11-13 19:59] regiskuckaertz commented on #2143
It works for me on the latest master 🤔

[2019-11-13 20:00] regiskuckaertz commented on #2074
Is this still relevant?

[2019-11-13 20:48] iravid commented on #2226
Yes, nice catch, this looks like a bug! I'm editing the description and title with a minimized reproduction.

[2019-11-13 20:56] vasilmkd commented on #2226
Funny that you just merged `fromQueue`, because it relies on this behavior.

[2019-11-13 20:58] iravid commented on #2226
Hmm, actually, I can't reproduce this with a test. So there might be something else happening here.

[2019-11-13 21:03] iravid commented on #2226
Sorry, I was fooled by `onInterrupt` which doesn't act on internal interruption. This seems to be a different issue.

[2019-11-13 21:34] arism commented on #2143
Sorry but i still have the same error on the master .
i am using adoptopenjdk ( i tried version 8 and 11 ) with default stack settings( -Xss 1024)
PS :  the problem is due to Chunk$Concat.apply witch is not tail recursive .

[2019-11-13 21:37] iravid commented on #2143
@arism @regiskuckaertz Yes, Chunk's Concat is not stack safe under repeated concatenations currently. It can be made safe by using an explicit stack when traversing the chunk, at the expense of lots of performance probably.

We should document this.

[2019-11-14 05:21] pjoneswork opened #2238 "Add access / accessM to ZStream"
Looking for the best way to access the environment of a `ZStream`.

We can currently do

[code]

But, it doesn't appear that we have the equivalent ability on `ZStream`. E.g.

[code]

I propose adding `access` and `accessM` to `ZStream`. but I'm open to other suggestions.

[2019-11-14 05:46] iravid commented on #2238
@pjoneswork would be a good addition! You can work around this for now by doing `ZStream.fromEffect(ZIO.accessM(...))`

[2019-11-14 07:41] regiskuckaertz commented on #2052
This is clearly a deadlock and the whole point of the dining philosophers' problem 😄 Acquiring both forks should be an atomic operation, otherwise deadlock is very likely to happen at some point. It is not trivial to express that, even with ZIO, _except_ if you use STM which was created to solve exactly that problem.

I'll close the issue as it doesn't seem like a bug in the library, please feel f

[2019-11-14 07:41] #2052 closed

[2019-11-14 12:36] pk044 commented on #2238
@pjoneswork are you planning to add it yourself? I'm up for implementing this in case it's free to take :)

[2019-11-14 16:00] #2235 closed

[2019-11-14 17:54] pjoneswork commented on #2238
@pk044 : Go for it! I won't have time to tackle this in the near future. Thank you!

[2019-11-14 20:50] 3link commented on #2077
I will implement `summarized `.

[2019-11-14 22:44] softinio opened #2240 "Add profiling of async code and fibers to ZMX"
Another problem with async code is profiling since JVM profilers are stack-based. ZIO now has a unique opportunity to be the first solution to provide decent profiling of async code on the JVM

[2019-11-15 14:13] adamgfraser opened #2241 "Consider Alternatives for MapN Combinators"
Currently we provide `MapN` combinators through implicit syntax so we could do this:

[code]

This is nice but requires importing the syntax, which goes against our general philosophy of providing concrete methods on concrete types and not requiring the user to import implicits.

I wonder if we would be better off with something like:

[code]

or:

[code]

We could also potentially use some kind o

[2019-11-15 14:19] adamgfraser commented on #2054
I can take care of this.

[2019-11-15 14:27] mschuwalow commented on #2054
Sure please do if you have the time.
Otherwise I can take care of it this weekend - as you prefer

[2019-11-15 14:57] mschuwalow commented on #2164
@horned-sphere thanks for diagnosing. I would consider this as a bug and actually have a pr open that fixes this is issue among other things. I would strongly appreciate if you could take a look and ensure this resolves your issue https://github.com/zio/zio/pull/2157

[2019-11-15 15:36] adamgfraser opened #2243 "Flaky FlatMapParSwitch Test"
[code]
https://circleci.com/gh/zio/zio/40788?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-11-15 15:39] adamgfraser opened #2244 "Flaky EffectAsyncMaybe Test"
[code]
https://circleci.com/gh/zio/zio/40793?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-11-15 16:12] NeQuissimus opened #2245 "testOnly happily runs things that do not exist"
This is more a UX thing than anything.
When using `testOnly` in SBT, our test runner seems to just report a happy status if the intended test suite does not exist.
I don't think it should be this way and a "missing test suite" error should be returned.

[code]

[2019-11-15 16:17] adamgfraser commented on #2245
@reibitto Do you want to take a look at this? We should probably align `Spec#only` with whatever we do here.

[2019-11-15 16:49] reibitto commented on #2245
Sure, I'll take a look at this.

[2019-11-15 18:01] NeQuissimus opened #2246 "Remove CodeCov badge"
The coverage tooling is not run anymore but the badge still exists in the README and is just misleading at this point.
Please remove :)

[2019-11-15 23:56] #2246 closed

[2019-11-16 08:32] iravid commented on #2243
@vasilmkd Any chance you could take a look?

[2019-11-16 12:52] vasilmkd commented on #2243
Did you guys merge the reimplementation of `flatMapPar` combinators, in terms of the new supervision model? Sorry, I'm a bit out of context, I wasn't paying close attention these days.

[2019-11-16 12:55] vasilmkd commented on #2226
Sorry, I've been away for a couple of days, does that mean that the issue description is out of date as well, with regards to your last comment? Thanks.

[2019-11-16 13:33] pk044 opened #2252 "Flaky TestAspectSpec"
[code]

https://circleci.com/gh/zio/zio/40961?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
https://circleci.com/gh/zio/zio/40864?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

passes here though:
https://github.com/zio/zio/commit/339a4392565fd0207eb1efe45e99aff9cf4fa4eb

[2019-11-16 19:55] #1630 closed

[2019-11-17 03:16] #2238 closed

[2019-11-17 13:04] TapanVaishnav commented on #1898
Hi Adam, as always thank you so much for your time and review(you are the best).
Now that `DefaultTestReporterSpec ` is done, I'd like to proceed with the next available one (which I believe is `GenSpec`) if you don't mind.

Also sincere apologies for the trouble but can you update the checkbox list in the PR description.
Thanks in advance

[2019-11-17 14:23] adamgfraser commented on #1898
@TapanVaishnav Thanks for your work on this and for the reminder! I updated the checklist. I think @unclebob418 may be working on GenSpec so can you please coordinate on that one? We’re almost there!

[2019-11-17 15:32] schernichkin opened #2253 "unchecked error while interrupting task created from future."
Version: 1.0-RC5

[code]
Output:
[code]

[2019-11-17 18:54] unclebob418 commented on #1898
Yes @TapanVaishnav I'm slogging it out with GenSpec. Sorry for the slow progress on this one. Perhaps give SampleSpec a go?

[2019-11-17 19:07] #1263 closed

[2019-11-17 21:35] mschuwalow opened #2255 "Run CI builds after merging into master"
Currently it is easy to silently break master as builds are only run on the pr branches.
The idea would be to merge the pr branch into master manually before running the build.

WDYT?

/cc @iravid @mijicd

[2019-11-17 21:41] mijicd commented on #2255
Master would still be broken though. Can anyone recall what's the reason for disabling strict builds (i.e. `Require branches to be up-to-date before merging`)?

[2019-11-18 00:09] #2054 closed

[2019-11-18 01:01] softinio commented on #2255
I vote re-enabling strict builds

[2019-11-18 01:21] ghostdogpr opened #2257 "Remove all code deprecated for 1.0.0"
To get ready for the 1.0.0 release, delete all code marked as `deprecated` for 1.0.0.

[2019-11-18 01:24] adamgfraser commented on #2257
We should also identify any areas where we can make other improvements to the code related to deleting the deprecated methods. Like I know in `Semaphore` we can do things slightly better now that we don't have to support the deprecated methods. I am happy to take that one in particular but we should think about whether there are any other cases like that.

[2019-11-18 01:33] ghostdogpr commented on #2257
@adamgfraser good point!

[2019-11-18 01:57] adamgfraser commented on #2257
I'll knock this out tonight.

[2019-11-18 03:06] #2257 closed

[2019-11-18 08:21] neko-kai commented on #2201
Now we have `Fiber._currentFiber` ThreadLocal. We can fail all unsafeRuns for which it's not `null`.

[2019-11-18 08:34] neko-kai opened #2261 "`race` interruption doesn't work inside `daemon` region"
https://github.com/zio/interop-cats/pull/112#issuecomment-554846476

Since interruption of child fibers on interruption of this fiber in `race` now depends on supervision, in regions where it's off `race` stops working correctly

[2019-11-18 08:38] iravid commented on #2261
Looks like we need `ZIO.daemonMask` 🧐

[2019-11-18 08:40] ghostdogpr commented on #2261
👺

(sorry)

[2019-11-18 09:46] horned-sphere commented on #2164
@mschuwalow Sorry I'm a bit late on this! The semaphore you added looks like it fixes the issue. I think the test case could be improved though. The running multiple times is a red herring (sometimes it will fail in the first time, it's very context dependent as it's a race). I've found from my tests cases that hit this it happens about 30% of the time but faily randomly. I've come up with this te

[2019-11-18 09:56] iravid commented on #2164
@horned-sphere Please send a PR with that test and I'll happily add it :-)

[2019-11-18 10:30] iravid opened #2263 "Add a signal handler for dumping the fiber stack in zio.App"
Using `sun.misc.{Signal, SignalHandler}`, add a signal hander for `SIGUSR1` that dumps the current fiber stack to stderr.

Those classes will work for the JVM, but not for ScalaJS. Something equivalent needs to be found for ScalaJS (and it should only be registered if running under node.js).

The fiber stack can be retrieved using `Fiber.dump` and `Dump#prettyPrintM`.

[2019-11-18 10:46] adamgfraser commented on #2263
Would it be possible to push this into the `Runtime` and the `Platform` where we have other options like error reporting and tracing? It would be nice to make this feature easily available to users who aren't extending `App`.

[2019-11-18 10:47] iravid commented on #2263
@adamgfraser The logic, for sure. It's up to the user to make sure it's only done once though.

[2019-11-18 11:27] JD557 opened #2264 "Add Newsletter RSS feed link on the website"
Since there's a ZIO newsletter now (#2214), it would be nice to have a direct link (or meta tag) pointing to the RSS feed: https://www.getrevue.co/profile/zio?format=rss

[2019-11-18 11:35] horned-sphere commented on #2164
On further thought; it's actually faulty. I'll fix it this evening and make a PR.

[2019-11-18 11:44] #2085 closed

[2019-11-18 13:20] adamgfraser opened #2265 "Consider Swapping Meanings of Schedule#jittered and Schedule#addRandomDelay"
We got a question on Discord this morning about why calling `jittered` now returns a `Schedule` that requires a `Console` among other things. I was part of the process to get where we are on `Schedule` and overall it has been great removing the automatic `Clock` dependency and adding a more solid foundation for building functionality like scheduling events at fixed points in time. But I think we w

[2019-11-18 14:21] fanf opened #2266 "Allow `Fiber.dump` to dump all fibers (even from other `unsafeRunSync`)"
Today (1.0-RC17), `Fiber.dump` does not print fiber dumps for fibers started from an other `unsafeRun`. This is extremely problematic in app which need to integrate with existing non `ZIO` code (typically: integration with existing Java API, porting a big non `ZIO` app to `ZIO`). In these case, you don't (and can't easely) now where a deadlock comes from.

But with today behavior, you need to know

[2019-11-18 14:29] adamgfraser commented on #2266
Thanks for reporting! Just to clarify, this was on `RC17`, right? I don't believe the fiber dump feature was available on `RC16`.

[2019-11-18 14:36] fanf commented on #2266
@adamgfraser oups, yes, sorry: RC17. Corrected in main text for accuracy, thanks!

[2019-11-18 14:37] iravid commented on #2266
It looks like the `onDone` of the `FiberContext` created in the first run is getting called after `unsafeRun` returns.

[2019-11-18 14:45] iravid commented on #2266
Ah yeah. `FiberContext#done` is called after the deadlocking fiber is forked. That causes that parent fiber to be removed from the roots because it's done.

However, that causes its children to be "lost" and become invisible to the fiber dump.

@jdegoes Should we "transplant" children of exited fibers to the `_rootFibers` set?

[2019-11-18 16:10] saraiva132 commented on #2241
I like having the method in the companion object a lot `ZIO.map4(zio1, zio2, zio3, zio4)` with `(zio1 |@| zio2 |@| zio3 |@| zio4)(f)` as an alternative

[2019-11-18 16:13] Vilkina opened #2267 "Add a microsite section for ZIO Chunk"

[2019-11-18 16:13] Vilkina commented on #2267
Working on it

[2019-11-18 17:51] adamgfraser opened #2269 "Benchmark Performance of Chunk"
We should benchmark the performance of `Chunk` versus other collection types. This will help us both demonstrate the value it adds versus existing collection types and give us a point of comparison as we explore further optimization opportunities for primitive types. Benchmarks should cover a variety of use cases (e.g. appending roughly equally sized chunks to create a tree like structure, repeate

[2019-11-18 17:57] NeQuissimus opened #2270 "Single random element"
Would it make sense to add this method?

[code]

Sometimes I just want a single random element from a `Gen` rather than a full-blown `checkM` test.

[2019-11-18 18:01] adamgfraser commented on #2270
Yes I think so. I will work on adding something like that.

[2019-11-18 18:03] jdegoes commented on #2269
/cc @Vilkina who was working on this for Scala Conf, I think.

[2019-11-18 18:13] jdegoes commented on #2266
@iravid

So we have three options:

1. We can transplant children to "orphan node" list (`_rootFibers`)
2. We can place children on grandparent's node, thus adding new children to a fiber that might not necessarily be expecting those children to be there.
3. We can replace the parent node with a "virtual" fiber that just holds the children, so it will appear in the hierarchy as normal.

Whatever w

[2019-11-18 18:13] jdegoes commented on #2266
In any case, we should fix this ASAP, I won't have time in the next week, way too busy, but can take a look after that.

[2019-11-18 18:13] adamgfraser opened #2271 "Add Additional Methods to Chunk"
Right now we are a little hit or miss on methods on `Chunk`. For example, we have `drop` and `dropWhile` but we don't have `exists` or `forall`. This can get a little annoying when you are working with `Chunk` and run into one of these situations where you either have to drop back to using a `Seq` or reimplement a method you are used to just having. This ticket is to go through the methods availab

[2019-11-18 18:16] adamgfraser commented on #2266
@jdegoes @iravid I'm not as close to this work as you are but happy to jump in here if we need additional capacity on this.

[2019-11-18 18:18] adamgfraser commented on #2271
Copying @Vilkina.

[2019-11-18 18:44] iravid commented on #2266
3 makes the most sense to me. I've been already feeling that the impedance mismatch between lexical scoping and the actual fibers that show up in `ZIO.children` can be surprising, so let's not amplify that.

@adamgfraser Would be great if you could pick this up!

[2019-11-18 18:47] adamgfraser commented on #2266
@iravid Okay I will take this.

[2019-11-18 19:08] pk044 commented on #2263
I'm up for implementing this :+1:

[2019-11-18 21:00] adamgfraser commented on #1790
Closed by #1838 .

[2019-11-18 21:00] #1790 closed

[2019-11-18 21:11] #1647 closed

[2019-11-18 21:42] adamgfraser commented on #1647
Thanks to everyone who contributed to getting these tests migrated, included @zezutom, @dzajkowski, @kapke, @ghostdogpr, @LGLO, @mschuwalow, @smart-ass, @wojtek-tg, @XLPI, @mijicd, @fagossa, @denisgarci, to @dkarlinsky and @serragnoli for getting the last tricky tests over the finish line, and to @regiskuckaertz for single-handedly migrating the stream tests! Our efforts are already paying off in

[2019-11-18 21:55] horned-sphere commented on #2164
@iravid I've made a version of it that actually works [here](https://github.com/zio/zio/pull/2273).

[2019-11-19 01:52] adamgfraser opened #2275 "Another Flaky Stream FlatMapParSwitch Test"
[info] ZIO Test
[info] - StreamSpec
[info]   - Stream.flatMapParSwitch
[info]     - interruption propagation
[info]       false did not satisfy isTrue()

https://circleci.com/gh/zio/zio/41646?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-11-19 01:57] ghostdogpr commented on #1075
Duplicated by #1882

[2019-11-19 01:57] #1075 closed

[2019-11-19 05:02] #2252 closed

[2019-11-19 05:17] adamgfraser opened #2280 "Clean up Queue Companion Objects"
Right now `ZQueue` describes the most polymorphic form of a `Queue` but doesn't have a companion object and all of the methods that would normally be on a companion object are instead on `Queue`. This is confusing and inconsistent with other ZIO data types.

We should rename the existing  `Queue` object to `ZQueue` and move it into the existing `ZQueue.scala` file. Then we should create a new `Que

[2019-11-19 05:22] ghostdogpr commented on #2280
That's because you can only create a `Queue`, not a `ZQueue`. A `ZQueue` is obtained only from operations on an existing `Queue`.

So, if we move constructors to `ZQueue`, they would still return a `Queue`, there is no need to duplicate them.

[2019-11-19 05:29] adamgfraser commented on #2280
Okay. In discussion in #2242 @jdegoes and @regiskuckaertz seemed to think the current situation was less than ideal and want to change it along these lines.

[2019-11-19 05:39] ghostdogpr commented on #2280
It makes sense to move them for consistency but no need to duplicate them since they will have the exact same types. We can add in the package object `val Queue = ZQueue`.

It's actually how it was initially but [this PR](https://github.com/zio/zio/pull/1142) made it the way it is now.

[2019-11-19 05:44] adamgfraser commented on #2280
Got it. You are definitely the expert here. Could you have constructors that create queues that are more polymorphic, like that write a value to the console every time a value is offered to them or have a fixed delay every time a value is taken? Or is the idea that you would create "normal" queues and then apply combinators to generate the more polymorphic ones?

[2019-11-19 06:04] ghostdogpr commented on #2280
Yeah I think it is. We could use an alias for the time being and split it if there's a need later.

[2019-11-19 06:32] regiskuckaertz commented on #1647
Amazing work everyone! 🎉

[2019-11-19 10:18] Vilkina commented on #2271
I can work on this. Also, we need a benchmark. So I need some help, @adamgfraser :)

[2019-11-19 11:06] saraiva132 commented on #2241
My question @adamgfraser. Do you know why syntax was added in the first place. And if deprecating syntax is an option for mapN combinators, what about the rest?

[2019-11-19 11:08] #2109 closed

[2019-11-19 11:08] freskog opened #2281 "Assertion.forall expects a list"
The current implementation of Assertion.forall seems to expect that the underlying iterable is a list.

[code]
This fails with

If I try it with a list, it works as expected.

[code]

The issue seems to be in the implementation of forall, where there's a hardcoded assumption on a list.

[2019-11-19 11:17] adamgfraser commented on #2281
Thanks for reporting! Will fix this morning!

[2019-11-19 13:49] drmarjanovic commented on #2122
Hi, I would like to take`TSet`.

Also, @felipehaack I can help you with `TArray`, `TMap` and `TQueue` if you agree.

[2019-11-19 13:50] mijicd commented on #2122
@drmarjanovic `TSet` is yours.

[2019-11-19 13:58] #2281 closed

[2019-11-19 14:19] felipehaack commented on #2122
@drmarjanovic, please, thank you.

[2019-11-19 14:22] hmemcpy opened #2285 "Provide a more helpful hint in the CanFail message"
I just upgraded to RC17, and my scratch program stopped compiling with the following error:
[code]
This is due to #2049, but I feel the failure message can be more helpful. I didn't know what to do until someone suggested mapping the result to a success value.
This suggestion could be reflected in the error message.

[2019-11-19 14:22] neko-kai commented on #1809
Done in https://github.com/zio/zio/pull/1828

[2019-11-19 14:22] #1809 closed

[2019-11-19 15:49] Twizty commented on #2261
Hi, I'd like to implement it.

[2019-11-19 15:53] saraiva132 commented on #2271
Perhaps list all combinators missing from Chunk similar to how it looks in #2077 ? And reference this issue in future PRs @adamgfraser

[2019-11-19 16:27] adamgfraser commented on #2261
@Twizty Great!

[2019-11-19 16:29] fanf opened #2287 "Pretty render of `Duration` should not be limited to seconds"
We use duraction for human-scale tasks too, like daily/weekly cron job, and it would be nice if duration can be rendered natively (ie without relying to JodaTime or Java etc) to human readable numbers (up to days perhaps, even if "day" becomes complicated - but it can be ignored for duraction, it's complicated for dates).

[2019-11-19 18:13] adamgfraser commented on #2285
The challenge here is that we are doing this through creating these ambiguous implicit instances and we need to provide one error message for all instances in which an effect can't fail. So ideally we would like to provide a nice customized error message here like "use map" but that would not be accurate advice for a variety of other cases where you are using a combinator that doesn't make sense.

[2019-11-19 18:15] adamgfraser commented on #2280
One thing we might want to think about here is binary compatibility. If we have companion objects for `Queue` and `ZQueue` we could always add new methods on them in a binary compatible way. If we just have a `val Queue = ZQueue` and later decided we did want to have separate objects with different methods would that be a breaking change?

[2019-11-19 19:25] neko-kai opened #2289 "Bring back `interruptChildren`? Or make supervision end children on Fiber end regardless of interruption"
`interruptChildren` operator still makes sense with the new supervision model when you want forks of the effect to be interrupted _when it completes_, not just when it's interrupted. Currently forks will be interrupted only if parent is _interrupted_

Alternative path would be to bring back the previous semantic of unconditional interruption on completion – this would also align better with [Struc

[2019-11-19 19:37] serragnoli commented on #2280
Just to add my 2 cents, separating the alias into 2 objects in future wouldn't strike me as a breaking change, but an implementation detail.

[2019-11-19 19:38] iravid commented on #2289
We can do this with `ensuring + ZIO.children` no? I agree on principle in any case.

I have two more thoughts that are not yet fleshed out:
- I think we need a region-based mechanism for tracking children; tracking children only on the fiber level feels a bit too coarse
- I am very bothered by the very nuanced mismatch between lexical scoping and the result of ZIO.children. This is very apparent i

[2019-11-19 19:47] adamgfraser commented on #2280
@serragnoli I totally agree with you from a subjective perspective, but my question is more whether it would be binary compatible or not.

[2019-11-19 20:03] serragnoli commented on #2232
I'll take a look at this issue.

[2019-11-19 20:08] jdegoes commented on #2280
The contract we have for ZIO & family:

 - ZIO, the class, has all methods on it
 - ZIO, the companion object, has all methods on it
 - UIO, Task, IO, RIO, URIO are all type aliases
 - The companion objects for UIO, Task, etc., have only the methods producing the specified type (e.g. UIO has all methods that accept/return UIO), with fewer numbers of type parameters where possible; these methods ju

[2019-11-19 21:45] mijicd commented on #2287
cc @bblagojevic94

[2019-11-20 00:09] ghostdogpr commented on #2280
Okay, my bad, we actually have similar cases with `ZIO.succeed` that returns a `UIO` but still defined in ZIO.scala.

I'll do this one.

[2019-11-20 00:21] ghostdogpr commented on #2226
We have a test to verifies that offers to a shutdown queue result in interruption:
[code]
This test pass properly so I'm wondering if that's the real problem?

[2019-11-20 00:49] #2280 closed

[2019-11-20 01:29] neko-kai commented on #2289
@iravid

That's the exact implementation of `ZIO#interruptChildren` on RC16 :)

Aside from ZManaged.fork? on related note [Structured Concurrency](https://wiki.openjdk.java.net/display/loom/Structured+Concurrency) usually uses nursery objects for regions, but we can of course make them ambient in the effect.

[2019-11-20 02:15] TapanVaishnav commented on #1898
Ok got it, then I can start working on `SampleSpec` but I'm going on a BizTrip from this weekend and might not be able to work full-on at this, so meanwhile, if someone wants to try `SampleSpec` then they are free to go

[2019-11-20 08:27] vasilmkd commented on #2226
Putting a prints statement after the shutting down of the queue never gets printed like so:
[code]

The queue has trouble shutting down.

[2019-11-20 08:32] ghostdogpr commented on #2226
Do you have a way to reproduce that? If I execute this snippet, "hello" gets printed well.

[2019-11-20 09:00] vasilmkd commented on #2226
Run the `streamsTestsJVM/testOnly zio.stream.StreamEffectAsyncSpec -- -t "effectAsyncMaybe back pressure" or any of the other "back pressure" tests.

[2019-11-20 09:27] ghostdogpr commented on #2226
OK, I was able to reproduce in that particular test. When the queue shuts down, it calls `p.interruptAs(fiberId)` on each pending offer p (of type `Promise`), and somehow this call never returns.

[2019-11-20 09:30] vasilmkd commented on #2226
Exactly what I observed as well. Unfortunately, my knowledge of the new interruption system ends there. I haven't had the time to dive deeper these weeks.

[2019-11-20 09:31] ghostdogpr commented on #2226
cc @jdegoes

I’ll keep digging as well.

[2019-11-20 10:36] adamgfraser commented on #2226
`interruptAs` is going to semantically block until the fiber and its children have been interrupted. So I would think conceptually the change is that previously just the `run` fiber had to be interrupted to continue, whereas now all its non-daemon children must be as well. So could there be a child fiber in `ZSink#fromEffect` that is not interruptible, and thus is causing waiting on termination to

[2019-11-20 10:43] vasilmkd commented on #2226
`ZSink.fromEffect` just evaluates the passed effect, which in this case is `ZIO.never`.

[2019-11-20 10:52] adamgfraser commented on #2226
Right, sorry. But the `run` fiber is describing the entire evaluation of the stream with the sync. So all child fibers and their children recursively created in evaluating that stream have to be interrupted. Could we do a fiber dump to see what is happening?

[2019-11-20 10:55] ghostdogpr commented on #2226
Got off work, I’ll do it tomorrow morning unless someone figures it out before. A good occasion to try out fiber dumps!

[2019-11-20 12:47] #2178 closed

[2019-11-20 19:12] mijicd commented on #2240
cc @KCala

[2019-11-20 22:08] kolov commented on #2287
I can pick this up

[2019-11-20 22:12] mijicd commented on #2287
I believe @bblagojevic94 is already on it, but perhaps the two of you can sync about it to avoid duplicated effort?

[2019-11-20 22:40] bblagojevic94 commented on #2287
@mijicd, you are right, I'm already on it. But, if @kolov wants to join we can try to split the task into smaller units.

[2019-11-20 23:03] adamgfraser opened #2295 "Should ZIO#fromEither be By Name?"
Currently `ZIO.fromEither` takes its parameter by name and wraps it in `effectTotal`. This is to a certain extent safer but I would have expected `fromEither` to just life a pure `Either` value into a `ZIO`. This approach would also be more compositional because I could always wrap the `fromEither` call in `effectSuspendTotal` if I want the lazy behavior. Should we change this? The same issues als

[2019-11-21 02:13] neko-kai commented on #2295
Previous discussion (when it was changed from strict to by-name): https://github.com/zio/zio/pull/577
^Note: I think the above was alone before tracing, there's an added aspect now that a lambda wrapper brings with it a line number

[2019-11-21 02:49] ghostdogpr commented on #2226
The `p.interruptAs(fiberId)` I was talking about is actually never executed. It seems that the shutdown itself gets interrupted, even though it is called in a `Managed` release action, and it is even explicitly marked `.uninterruptible` in `ZQueue#shutdown`.

I added `onTermination` here:
[code]
And it prints that the fiber was interrupted.

I dug a bit more to find where the interruption came fro

[2019-11-21 04:40] adamgfraser commented on #2226
That looks right to me. `uninterruptibleMask` was used in the previous implementation.

https://github.com/zio/zio/pull/2091/files

[2019-11-21 05:37] ghostdogpr commented on #2226
OK I think I figured what happens more precisely:
1. the fiber gets interrupted (from the test)
2. the finalizer of `Managed` shuts down the queue
3. the shutdown operation runs a `foreachPar` to interrupt pending offers, resulting in a `race`
4. `race` creates 2 fibers and calls `.interruptible` on them (see my previous comment)
5. the created fibers have initially `isInterrupted = false` and `is

[2019-11-21 06:43] iravid commented on #2226
@neko-kai looks like what you were talking about in the issue about interruption in finalizers...

[2019-11-21 06:43] iravid commented on #2226
Great work diagnosing this @ghostdogpr

[2019-11-21 07:47] jdegoes commented on #2295
The laziness buys us the ability to "push" the errors into the ZIO runtime system.

Otherwise users write code like this:

[code]

and now `foo` blows up, rather than `foo` returning a `ZIO`.

ZIO has good mechanisms for error reporting and recovery so I think it makes sense to push as many failures as possible into ZIO.

[2019-11-21 07:50] jdegoes commented on #2289
@neko-kai

I agree to bring this back, we can do it simply. I deleted it originally because in an early incarnation of auto-supervision, it was impossible to write.

@iravid

What happens when a region exits? Do you "forget" about the children in that region? Or maybe you "dispose" of them through a UDF specified when you create the region?

I agree with this, and it's something that a region oper

[2019-11-21 07:53] jdegoes commented on #2289
@neko-kai

The new implementation should do something like this:

[code]

Though see above, I think the need to fork/join is really telling us something about the need for monadic regions for children.

[2019-11-21 07:59] jdegoes commented on #2285
It would be nice if we could make this a warning and not an error, that way the user can fail on it if necessary (I don't know a way to do that though; maybe through @deprecated?). I agree including a link to @adamgfraser's great table would be superb. And maybe a slight tweak to the wording, something like:

[code]

[2019-11-21 08:08] jdegoes opened #2296 "WIP: The 'jittered' problem"
Sometimes we want to tweak the environment. Ordinarily this requires deconstructing and reconstructing it, which cannot be done in a generic fashion in the current environmental convention—the shape of the environment needs to be known. This is leading to environmental widening and user-pain in methods like `ZSchedule#jittered`.

It occurred to me that reconstruction is not really necessary. All w

[2019-11-21 08:39] jdegoes opened #2297 "WIP: Explore lens encoding for environment"
Lenses allow generic reconstruction of an environment of unknown type.

[code]

Using such a mechanism it becomes possible to arbitrarily deconstruct and reconstruct environments of unknown shape.

Needs to be sketched out into a more fully-fleshed prototype.

[2019-11-21 08:58] reibitto commented on #2295
Just to add on to this, should the same principle apply for things like `someOrFail(...)` and so on? I'm not exactly sure where the line should be drawn and what would be deemed "consistent" when it comes to all these methods. Right now I don't have an intuition for which ones are/should be call-by-name and which shouldn't.

I actually ran into `someOrFail` that had error logging with untracked si

[2019-11-21 09:16] ghostdogpr commented on #2226
Easy repro:
[code]

[2019-11-21 09:19] regiskuckaertz commented on #2297
Classy optics FTW

[2019-11-21 09:35] fanf commented on #2287
For your information, there is an ISO standard for period (https://en.wikipedia.org/wiki/ISO_8601#Durations). It's not nice for humans, but very handy for serialisation when you don't want to just have a number of millisec (typically in semi-human readable exchange format).
It's more "for information", because I believe it's not a format well known/used, and I believe we step in the "hard" part of

[2019-11-21 10:06] adamgfraser commented on #2297
I could work on trying to flesh out this and #2296. Would that be helpful?

[2019-11-21 10:07] adamgfraser commented on #2285
Okay let me work on this.

[2019-11-21 10:28] mschuwalow commented on #2297
I love where this is going!
We still would have pains when incrementally constructing environments, but this could solve a ton of ergonomic issues :)

[2019-11-21 10:54] Fristi opened #2299 "RC17 contains a heap memory leak?"
Thanks for all the hard work being put in ZIO, the ecosystem starts to grow in something really great.

Despite that, we are seeing an issue with the latest version. We upgraded a few days ago to RC17. I think the major change is the auto supervision right? Since that release we see the heap memory increasing and eventual our app crashes due OOM.

<img width="409" alt="Screenshot 2019-11-21 at 11

[2019-11-21 11:08] jdegoes commented on #2297
@adamgfraser It would indeed be super helpful to compare them.

I think #2296 might be a "pointfix" we could use to fix the jittered problem without impacting much downstream code, but this would be more a "real fix" that would incidentally address #2296.

In addition, @ioleo is working on an `HSet` that models the environment as a set of modules, which should be explored alongside these efforts (

[2019-11-21 11:10] adamgfraser commented on #2297
@jdegoes Awesome! `HSet` encoding sounds super interesting.

[2019-11-21 11:10] jdegoes commented on #2297
Indeed, lens encoding is great at reconstructing, but not so great at incrementally constructing. Albeit I think you could do something quite clever to solve these pains, basically a heterogeneous map, where you add a typed entry to it and get a typed lens.

[2019-11-21 11:55] neko-kai commented on #2226
@ghostdogpr @iravid

Sounds similar to https://github.com/zio/zio/issues/2005

[2019-11-21 11:58] neko-kai commented on #2299
@jdegoes @adamgfraser @ghostdogpr
All interop-cats fibers are created in a `.nonDaemon` region. Could this cause them to be added to root fibers set (if we have such a thing, i didn't look in detail) and leak memory in that way?

[2019-11-21 12:01] neko-kai commented on #2299
@Fristi Could you wrap your entire app in `.nonDaemon` and check if that changes the memory picture?

[2019-11-21 12:09] neko-kai commented on #2289
@jdegoes

👍 What do you think about interrupting children on ALL completion, not just interruption?

Is the fork/join here necessary to get an up-to-date list in ZIO.children?

[2019-11-21 12:16] neko-kai commented on #2297
I'd rather resurrect/extend [scala-records](https://github.com/scala-records/scala-records/) and use it for Env. I doubt heterogenous collections can properly support variance.

[2019-11-21 12:25] regiskuckaertz commented on #2289
imo that's a more usable behaviour, which would give `daemon` a more sensible meaning too. I feel like users will often have to write variations of `ZIO.children.flatMap(Fiber.interruptAll)` otherwise (see [recently in the stream combinators](https://github.com/zio/zio/pull/2236/files)). I may be biased though.

[2019-11-21 12:29] jdegoes commented on #2299
@neko-kai They will be added to the root fiber set. That can leak memory if the fibers never finish.

@Fristi The auto-supervision was the last feature we wanted to add before the 1.0 freeze. Unfortunately it's almost certainly the cause of the current issue, although it's hard to tell yet if it's a problem in ZIO or in user-land code.

[2019-11-21 12:30] jdegoes commented on #2299
@neko-kai Sorry, only `daemon` fibers will be added to the root set; the others will be added to their parent. The only way to leak in either case (in theory) is if the fibers never finish.

[2019-11-21 12:40] kolov commented on #2287
This task looks quite small to be worth splitting and synchronising the work.  After deciding what to render, probably there will not be much implementation code. ISO-8601 may be worth supporting, next to a one-call pretty print to produce something like `365d 6h 9m 9.76s`.

[2019-11-21 12:43] Fristi commented on #2299
Thanks for the quick response @neko-kai and @jdegoes. Nice to hear that current package is almost ready for a stable release 👍 🎉

We'll try to add `.nonDaemon` around the involved fs2-kafka code to see if that helps. We'll get back to you as soon we know more.

Correct, if that does not help we will try to come up with a app which reproduces the issue.

[2019-11-21 12:44] Fristi commented on #2299
Would also be good to document `nonDaemon` this in the interop-cats documentation page I think. If it helps I'll PR something about that later

[2019-11-21 13:00] ghostdogpr commented on #2226
Isn't the issue with `propagateAncestorInterruption`? Having an interruptible zone within a finalizer seems like a possible case, but inheriting the `interrupted` state of the parent hierarchy will cause it to be interrupted.

@jdegoes what do you think?

[2019-11-21 13:27] jdegoes commented on #2226
`race` forces both left and right to be interruptible. Maybe we should re-investigate that.

`propagateAncestorInterruption` is just a shortcircuit enabling child fibers to shut down a little faster, and doesn't actually affect interruptibility.

[2019-11-21 13:49] neko-kai commented on #2226
@jdegoes

Not making them interruptible would just cause a deadlock when interrupting the losing side when `race` is used in finalizer, not an improvement from the bug in question. Or do you mean that race interruption should be special somehow, not subject to regions?

[2019-11-21 16:32] saraiva132 commented on #647
@jdegoes What is the required work here to remove FunctionIO and close this ticket. In #667 you commented that a ticket is needed to port performance improvements to ZIO + ifThenElse was removed as per your comment from the PR and asEffect is either not required or straightforward as @regiskuckaertz said. WDYT ?

[2019-11-21 17:27] bblagojevic94 commented on #2287
@fanf, just to sum up, we need a human-readable format for `Duration` (up to days) and for now, we won't support ISO-8601?

[2019-11-21 17:29] fanf commented on #2287
Yes, but that's *my* need and understanding of how things could be
priorized. I'm nobody in the project lead, so it's up to you to decide :)

Le jeu. 21 nov. 2019 à 18:27, Bojan Blagojević <notifications@github.com> a
écrit :

[2019-11-22 00:59] #2295 closed

[2019-11-22 01:59] ghostdogpr commented on #1998
Duplicate of #2267

[2019-11-22 01:59] #1998 closed

[2019-11-22 02:00] ghostdogpr commented on #1958
This was done in Autosupervision PR.

[2019-11-22 02:00] #1958 closed

[2019-11-22 02:04] ghostdogpr commented on #921
Closing as we left gitter for discord.

[2019-11-22 02:04] #921 closed

[2019-11-22 04:26] ghostdogpr commented on #2261
Easy reproducer:
[code]
If you remove `.daemon`, it works well. Otherwise it hangs.

[2019-11-22 04:48] ghostdogpr commented on #2226
@jdegoes It's doing more than that: it causes the interruption of children fibers that are forked by a finalizer. We don't want these to inherit the `interrupted` status of their parent. The parent would not attempt to kill those children. If I remove the call to `propagateAncestorInterruption`, the test pass well.

[2019-11-22 09:13] mschuwalow commented on #2297
@neko-kai I think that at least for dotty it should be quite easy do to using just the new Selectable/selectDynamic, but I have no idea how to provide a 'safe' API on top of that.

[2019-11-22 09:28] Fristi commented on #2299
We deployed a the `nonDaemon` change yesterday and we ran our endurance test for a bit. It seems it still suffers from the memory leak problem. We want to come up with a reproducible test case, to reach a case we are stripping some logic and see if we can pin point the problem.  @sebver will try to pin point and might get back to you later next week on that. I'll be offline for a week.

[2019-11-22 10:37] vasilmkd commented on #2234
After sleeping on this for a week... I have come to the following conclusion.

There is no need to force the user to handle all errors before creating a stream from an effect and here is why. In the end, streams are translated into `ZIO` values by `run`ning them. At that point, the user will be forced by the `ZIO` runtime to handle all checked errors, which is good enough in this case.

With that

[2019-11-22 10:37] vasilmkd commented on #2226
Passes as in, it doesn't exhaust the global thread pool? @ghostdogpr

[2019-11-22 10:55] ghostdogpr commented on #2226
Yeah the finalizers aren’t getting cancelled so everything is cleaned up.

[2019-11-22 13:28] #2270 closed

[2019-11-22 13:42] #2285 closed

[2019-11-22 19:12] nadenf opened #2307 "Retry should be possible for non-effectful code"
If have a function:

[code]

It would be nice to be able to do the following:

[code]

In latest RC it is not possible due to the following error message:

[code]

[2019-11-22 19:18] adamgfraser commented on #2307
Why wouldn't you use `repeat` in this situation?

I don't think `retry` is doing what you want to do, since if it succeeds the first time it will never repeat, regardless of the schedule. If it dies it will not repeat, since `retry` will not recover from that. And since the error type is `Nothing` those are the only possibilities.

On the other hand if you do `repeat` then you will get what I thin

[2019-11-22 19:34] regiskuckaertz commented on #2307
`zio.cached(duration)` seems like a combination that comes up time and again. I was thinking about it for auth tokens delivered via SSM with rotation.

[2019-11-22 22:41] nadenf commented on #2307
Closing this as repeat actually makes a lot more sense.

[2019-11-22 22:41] #2307 closed

[2019-11-23 10:21] reibitto opened #2309 "Spurious Fiber Failure Warning when ZIO.repeat is used"
I get a fiber failure warning for this when it completes:
[code]

Output:
[code]

But this completes fine without any warnings:
[code]

Possibly related to #1949.

[2019-11-23 10:47] reibitto commented on #2309
It looks like it's the introduction of `&&` that causes this, not `Schedule.fixed` itself. For example, you can also see it with something like `Schedule.once && Schedule.once`. A plain `Schedule.once` is fine though.

[2019-11-23 14:20] mijicd opened #2311 "TSet's transform doesn't preserve the set property"
The problematic behavior has been identified by @drmarjanovic via the following snippet:

[code]

Instead of producing a singleton set, the result of this transformation is the set of 4 same elements, which is obviously wrong.

[2019-11-23 14:21] mijicd opened #2312 "TMap's transform doesn't preserve key uniqueness"
Related to #2311

[2019-11-23 15:20] StelaLeon commented on #2070
I would like to take a look at this, @tenzki are you still on it or shall i pick it up?

[2019-11-23 15:32] StelaLeon commented on #1765
I am giving this a try, it's my first issue, since I am getting used to the code base a bit more feel free to open/merge anything related to this (fyi @vasilmkd  :) )

[2019-11-23 15:50] vasilmkd commented on #1765
Feel free to tag me in the PR, I will review it. I suggest you take a look at the `StreamPullSafetySpec.scala` file for inspiration and feel free to contact me on the Discord server, should you need any help.

[2019-11-23 16:02] #2311 closed

[2019-11-23 16:02] #2312 closed

[2019-11-23 23:46] #2287 closed

[2019-11-24 01:49] mschuwalow opened #2316 "Rename provideSome to mapEnvironment / contramapEnvironment / contramap"
Feels like clearer naming and frees up the name for macros :D
WDYT?

/cc @iravid @ioleo

[2019-11-24 02:14] ghostdogpr commented on #2226
Summarized the problem and proposed fix: https://github.com/zio/zio/pull/2317

[2019-11-24 04:27] #2070 closed

[2019-11-24 04:35] adamgfraser opened #2318 "ZIO Stream: Enable Tests on Dotty"
Now that we have the test suite for ZIO Core running on Dotty we should try to enable the ZIO Stream test suite as well. We already identified one Dotty specific issue with `ZStream` in #2232 so it okay to mark some tests as `scala2Only` but we should identify all tests that are not passing as Dotty and make sure we have tickets to resolve those issues.

[2019-11-24 08:41] regiskuckaertz commented on #2316
That would be contramap as `R` is contravariant.

[2019-11-24 11:19] sideeffffect commented on #639
now we need to wire it up with in the CI, so that it gets tested and released

[2019-11-24 12:06] adamgfraser commented on #639
Yes, spent a bit of time working on that. How do I add a cross project dependency for Native? `%%%`? Trying to add the SBT test runner dependency if possible.

[2019-11-24 13:26] #2245 closed

[2019-11-24 13:57] mschuwalow commented on #2316
Good point, I would say that mapEnvironment has better discoverability than contramap though, but I think either would be an improvement over provideSome naming

[2019-11-24 14:04] adamgfraser commented on #639
Okay, I found the Scala Native Test Interface and that seems to be working. Now I am blocked on the `portable-scala-reflect` dependency. It looks like there is an [open ticket](https://github.com/scala-native/scala-native/issues/1279) to support Scala Native but that feature is not available yet. It also looks like adding reflection support in Scala Native is still [forthcoming](https://github.com

[2019-11-24 15:17] mvv opened #2323 "Error traces are not accessible via standard combinators"
I want to log error traces for better diagnostics, but combinators like `catchAll`/`catchSome`/`tapError`/`foldM`/etc strip traces off and their `Cause`-aware cousins like `catchSomeCause` catch many things besides errors.

Ideally, I would like to have something along the lines
[code]

[2019-11-24 16:28] reibitto opened #2325 "ZIO Test: Improve rendering when test selection is used"
If a suite has additional suites underneath it, I don't think it makes sense to render the parent suite label if no tests were run underneath it. For example:

[code]

I don't think "someOrFailException" should be printed out in this case. Probably neither should "ZIO" be (though it _might_ make sense to make an exception for the root node... not sure).

[2019-11-24 18:02] adamgfraser commented on #2325
I agree. Do you want to take the ticket?

[2019-11-24 18:08] softinio opened #2327 "Snapshot release and website"
We create a new staging/snapshot website such as [https://snapshot.zio.dev](https://snapshot.zio.dev) then on merge to master microsite is published to this staging website and a snapshot release is automatically done as part of circleci.

This way we have a way to look at microsite before a real release and anyone who wants to try new features before an official release they can and that will pro

[2019-11-24 18:12] mijicd commented on #2327
Absolutely.

[2019-11-24 18:12] softinio opened #2328 "Create a giter8 template for starting a new zio project"
Create a giter8 template for starting a new zio project. Perhaps base it on zio-actors as a small project.

This template is to be used by maintainers of ZIO GitHub Organization to start new projects, it should have:

- A Valid Circleci configuration
- A Valid build.sbt that includes configuration for releasing
- Common set of `project/plugins.sbt`
- makes use of `project/BuildHelper.scala` as use

[2019-11-24 18:25] serragnoli commented on #2232
I haven't had the chance to look into this issue yet, in case someone want to pick it up, feel free to do so.

[2019-11-24 19:04] mvv commented on #2296
I've used `FiberRef`s for that [here](https://github.com/mvv/zilog/blob/master/src/main/scala/com/github/mvv/zilog/ImplicitArgsLogger.scala)

[2019-11-24 19:38] neko-kai commented on #2297
@mschuwalow
With macros. Another choice is literal types, e.g. it's legal to have:
[code]

Unfortunately i threw away my snippets with exploring this, because scala-records does almost the same thing.
What scala-records does is exactly the same thing as Selectable, but in Scala 2 – it's easier in Dotty. They inherit `Dynamic` with selectDynamic implemented by a macro, when called it generates a [n

[2019-11-24 20:33] vasilmkd opened #2329 "Improve Chunk#zipAllWith"
Overload the method in `Arr`, to go through the `apply` method in the array to avoid boxing and add a scaladoc for the method.

[2019-11-25 00:07] #2261 closed

[2019-11-25 07:46] reibitto commented on #2325
I'm not sure how I'm going to fix this just yet, but I can take a look.

[2019-11-25 10:52] Twizty commented on #2309
Hi, I'd like to implement it.

[2019-11-25 10:57] reibitto commented on #2309
@Twizty I haven't started this beyond looking for a minimal example. Sure, you can take it. Thanks!

[2019-11-25 11:04] Twizty commented on #2309
@reibitto ok, then I start working on it.

[2019-11-26 02:35] adamgfraser commented on #2297
@jdegoes I'm struggling to get the lenses to be generic enough for what we want to do. I can define a `Lens[ZEnv, Clock]` for example but that isn't very helpful because the `set` operation of a `Lens[S, A]` needs an `S`, so we are reintroducing that dependency on the entire `ZEnv` that were were trying to avoid.

I would like to be able to write something like `Lens[R, Clock]` where `R >: ZEnv <:

[2019-11-26 03:02] alexknvl opened #2334 "Add fromEffectfulIterator to Stream"
[code]

Allows handling exceptions that arise during iterator's `hasNext` and `next` methods.

The existing method
[code]
returns `Stream[E, A]` for any `E`, which means it must die if the underlying iterator throws.

[2019-11-26 09:01] vasilmkd commented on #2334
@alexknvl Technically, fixing the `Throwable` as the error type on the `ZManaged` denotes that the iterator itself has can fail to be produced with a `Throwable` error. It doesn't actually say anything about the error that can be thrown by pulling the iterator. However, I agree that this is confusing and I'm looking for ways to fix it. @iravid I'd like your opinion on how to proceed. This is relat

[2019-11-26 09:11] vasilmkd commented on #2234
But what if the error is not served as part of the pull, and the produced stream whose scope cannot be entered is combined with another stream and potentially retried. There would be no way to handle the error and it would continually fail, which forces the scope error to be served on the pull...

@iravid

[2019-11-26 09:12] iravid commented on #2234
Sorry for the delay here, terribly busy with work the last few weeks. Promise to come back to this next week or this weekend if time permits.

[2019-11-26 09:13] vasilmkd commented on #2234
There is no rush. I added the comment because I was "triggered" by the other issue. :smile: I'm sure we'll find a way to solve this properly.

[2019-11-26 10:35] iravid opened #2336 "Add ZStream#groupedWithin"
Signature:
[code]

The function should delegate to `aggregateAsyncWithin` with a `Sink.collectAllN` and a `Schedule.spaced`.

[2019-11-26 11:53] iravid commented on #2334
@vasilmkd @alexknvl Looks like a much-needed addition. In fact, we should rename the existing `fromIteratorManaged` to `fromIteratorTotal`, and name this method `fromIterator`. Would be good to get this in before 1.0.

[2019-11-26 12:02] vasilmkd commented on #2334
I will still advise to be cautious. There is a lot of nuance in the implementation, considering that we have to adapt it to support element level error handling.

[2019-11-26 12:41] neko-kai commented on #2299
@sebver Any luck with a reproduction yet?

[2019-11-26 20:47] vasilmkd commented on #1479
Better late than never?

[2019-11-26 20:56] alexknvl opened #2341 "Add skip to ZSink/Sink"
[code]

I am not totally immersed into your ecosystem, so I did some testing in scalatest:
[code]

[2019-11-26 21:58] alexknvl opened #2342 "Clarify constraints on ZSink's design"
It should be clarified whether `State` in `ZSink` may or may not be potentially reused, and therefore whether it is safe to use `Ref[...]` (or a plain mutable class) as the `State` safely.

[2019-11-26 22:20] sir-wabbit opened #2343 "Consider making stepChunk not final on ZSink."
[code]
could be optimized for some `ZSink`s if it is not declared `final`.

EDIT: I am not even sure HotSpot uses `final` modifiers. I know that Scalac is supposed to be able to use those, but I don't trust Scalac at all :) I would argue that `final` is an anti-pattern except in very low-level highly optimized code.

[2019-11-26 23:45] neko-kai opened #2344 "ClassCastException BoxedUnit in ZIO.raceWith / Fiber.mapM#interrupt / Exit.foreach"
Found this stacktrace in prod, it seems to happen randomly every 5kk-th item pulled from fs2.Stream on ZIO RC16:

Unfortunately, sane ordering is lost for the error message, but it seems to happen on a path:

[code]

<details>

[code]

</details>

[2019-11-27 13:19] vasilmkd commented on #2342
Can you take a look at the `ZSink.throttle*` combinators? Does it help?

[2019-11-27 13:49] thiloplanz commented on #2309
Is this also the cause of the issue reported at https://stackoverflow.com/q/59063170/14955 ?

[2019-11-27 13:59] vasilmkd commented on #2343
@jdegoes might have some strong feelings on the scalac/jvm comment. I know the ZIO codebase strives for using the `final` modifier anywhere where it is possible to do so. Of course, a PR with these optimizations would be very welcome and I'd be very happy to take a look at.

[2019-11-27 14:21] adamgfraser commented on #2309
@thiloplanz I think it is related but slightly different. We have a general problem where fiber failures are reported when sometimes they shouldn't be because they are "intentional" in some sense (e.g. `race` is supposed to interrupt the loser). This issue in particular is caused by `race` because `Schedule#&&` is implemented in terms of `zipPar` which is implemented in terms of `race`. The Stack

[2019-11-27 14:24] adamgfraser opened #2349 "Spurious Fiber Failure Warning When Fiber#orElse is Used"
From [this](https://stackoverflow.com/questions/59063170/zio-fiber-orelse-generate-exception-messages) Stack Overflow question. The code below generates a fiber failure warning beause `f1f` fails but it is spurious because it is anticipated and handled by `Fiber#orElse`.

[code]

[2019-11-27 14:26] adamgfraser commented on #2349
@Twizty Do you want to fix as part of #2309 or should we handle this separately?

[2019-11-28 09:52] felipehaack commented on #2122
Hi @mijicd,
I would like to take the `TSemaphore` this time. Is it ok?

[2019-11-28 10:46] jdegoes opened #2351 "ZIO: Add bracketFork variants"
The current `bracket` operation cannot be interrupted during acquisition. This means if a lengthy acquisition is attempted, and the result is no longer needed, then the fiber executing the acquisition will "hang" for quite some time, until the acquisition is completed. It may be desirable in some cases to allow "fake interruption" of acquisition in a new combinator `bracketFork`.

A hypothetical `

[2019-11-28 10:49] jdegoes opened #2352 "DefaultRuntime: Do not log pure interruptions"
We should add a method on `Cause` to check to see if the cause is a "pure interruption". A pure interruption is a `Cause` formed solely through nodes that are neither `Die` nor `Fail` (although it may have any combination of `Both`, `Then`, `Trace`, `Meta`, and `Interrupt`).

A cause that is a pure interruption (even a complex one) should not, by default, be logged to standard error, in the `Defau

[2019-11-28 10:51] jdegoes opened #2353 "Cause: Add extractors for terms of Cause"
We could use some custom extractors (`unapply` methods in companion objects) for `Die`, `Fail`, `Both`, `Then`, and `Interrupt`). These custom extractors should strip `Meta` information from the nodes, and possibly `Trace` information as well (todo: discuss).

These would help people interact more naturally with the terms of the `Cause` subtype.

[2019-11-28 12:55] adamgfraser commented on #2352
Great idea! This will eliminate a wide class of spurious fiber failure warnings. I am working on this now.

[2019-11-28 13:32] adamgfraser commented on #2244
The same test for `effectAsync`, which is implemented in terms of `effectAsyncMaybe`, is also flaky.

[code]

https://circleci.com/gh/zio/zio/42956?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-11-28 14:29] sirmax opened #2355 "refineToOrDie does not constrain E1 witn E"
[code]
this signature does not constrain `E1` with `E`, letting unsound code like the one below compile
[code]

Naively this can be fixed with something like this
[code]
and it will result in a compile error
[code]

[2019-11-28 14:35] jdegoes opened #2356 "ZIO Syntax: Refactor map2, map3, ..., to mapN"
The zio.syntax package defines `map2`, `map3` syntax, etc., on tuples, which utilize sequential zip. It is not convenient for refactoring to have to change the method name from, e.g., `map2` to `map3` because one added another element in the tuple. So instead, we should call this method `mapN` so no matter how many elements the tuple has, the user calls the same method name.

[2019-11-28 14:36] jdegoes opened #2357 "ZIO Syntax: Add mapParN"
Inside the `zio.syntax` package, for tuples up to some arity, we should add `(a, b, ..., z).mapParN(...)` for performing parallel zip operations.

[2019-11-28 14:37] jdegoes opened #2358 "ZIO Execution Traces: Remove "guts" of ZIO from execution traces"
`ZIOFn` is not being consistently used in all new combinators. The code requires a detailed inspection to identify and cleanup all combinators so that ZIO internals do not appear in any execution trace.

If anyone wants to take on this issue, @neko-kai or myself can provide detailed guidance.

[2019-11-28 14:40] adamgfraser commented on #2356
@jdegoes What do you think about moving this to the `ZIO` companion object so that users do not have to rely on implicit syntax? Related to #2241.

[2019-11-28 14:48] adamgfraser commented on #2355
I am working on this.

[2019-11-28 15:32] rtar opened #2359 "`getStrLn` hangs when started from `bloop run`"
For some reason `getStrLn` hangs when started from `bloop run`. May be it is my setup only.

It does not seem to be anyhow specific to ZIO though, because just calling `StdIn.readLine()` causes the same issues.

It might be important because upcoming Metals seems to be using `bloop` to implement running the application and this might scare and alienate beginners.

I have created a minimal project

[2019-11-28 16:16] adamgfraser commented on #2353
I am working on this.

[2019-11-28 17:03] NeQuissimus opened #2362 "Test: Colouring broken for multi-line strings"
The blue colouring the test result formatter outputs fails for multi-line strings (such as stack traces):

Note: I had to remove some non-public info :)

![Screenshot from 2019-11-28 11-54-30](https://user-images.githubusercontent.com/628342/69823435-da380780-11d6-11ea-84f2-5ee22d905085.png)

[2019-11-28 20:34] #2355 closed

[2019-11-29 00:45] neko-kai commented on #2299
@jdegoes

This is most likely the cause of the problem here. There's some code in fs2 that starts-and-forgets fibers that may not end, e.g. in [Signal](https://github.com/functional-streams-for-scala/fs2/blob/master/core/shared/src/main/scala/fs2/concurrent/Signal.scala#L169):

[code]

This code will undoubtedly leak the fiber and the queue in ZIO, if a queue is discarded before all such publishin

[2019-11-29 06:40] jdegoes commented on #2299
@neko-kai I agree we will benefit from these changes and it seems like the most sensible approach (an alternative is to enhance `daemon` mode so you can specify whether or not to track the daemon in the root; if you applied such a mode to the top level main, you would get current behavior back).

Unfortunately, it will make testing tricky because when a child is GC'd is non-deterministic.

I'll re

[2019-11-29 06:45] mijicd commented on #2122
@felipehaack sure thing, go for it!

[2019-11-29 07:26] sebver commented on #2299
Hi @neko-kai, unfortunately I haven't found the time yet for a reproduction, but will hopefully come around to that this weekend.

[2019-11-29 08:39] rtar commented on #2359
Might be related: https://github.com/scalacenter/bloop/issues/882

[2019-11-29 09:13] rtar commented on #2359
I will close the issue and report it to `bloop` instead. Feel free to reopen if you feel so.

[2019-11-29 09:13] #2359 closed

[2019-11-29 10:16] pk044 commented on #2341
acquiring the head of ZSink is done here: https://github.com/zio/zio/pull/2230 - except it just returns an Option[A] instead of A. what do you think about it?

[2019-11-29 11:14] laurynasl-wix commented on #2241
How about the following:

[code]

This could be used as follows:
[code]

Now if you give the `many` method something that's not a ZIO, it will complain that it can't find an overloaded method. We can help here by also defining version with fixed arity, so that the compiler knows which one we wanted and can tell us which argument is bad.

[code]

I know this is a bit unorthodox, but I'd still love

[2019-11-29 12:01] laurynasl-wix commented on #2241
Alternatively, the decition if it's parallel or sequential can be move inside `Ops`

[code]

[2019-11-29 13:46] adamgfraser commented on #2241
It looks like we're just going to make these methods on the companion object. See #2361.

@laurynasl-wix What you're describing is an example of the partial application trick. We use it a decent amount (see, for example, the implementation of `checkSome` in ZIO Test. I find it normally makes code more complicated than code written as normal methods so we typically only use it when there is a "prob

[2019-11-29 14:12] laurynasl-wix commented on #2241
@adamgfraser Yes, it is very similar, and that's where the inspiration comes from. Now that I looked at the PR, my suggestion looks like an explicit way to summon the implicit `TupleN` classes. It would still be nice to have a way to summon them explicitly, but that can easily be done in userland.

[2019-11-29 14:19] adamgfraser commented on #2241
@laurynasl-wix Right. The idea of moving it to the companion object is there isn't any implicit you have to summon. It is just `ZIO.mapN(zio1, zio2, zio3, zio4)(f)`.

[2019-11-29 14:26] laurynasl-wix commented on #2241
Cool, thanks!

[2019-11-29 14:39] #2352 closed

[2019-11-29 21:55] jaliss commented on #2358
@jdegoes I'd like to give this a shot.

[2019-11-30 07:59] iravid commented on #2343
PRs welcome for dropping `final` from stepChunk!

[2019-11-30 08:02] iravid commented on #2342
To your question, `State` is assumed to be immutable, always. A sink itself can use mutable state (if created as `ZIO[Sink]`).

Beyond that, I agree that the documentation of the contracts for ZSink must be improved!

[2019-11-30 08:05] #2129 closed

[2019-11-30 08:08] iravid commented on #2341
#2230 added `ZSink.head`, so changing the title of this ticket to address `ZSink.skip`

[2019-11-30 08:15] iravid commented on #2164
Closed in #2157

[2019-11-30 08:15] #2164 closed

[2019-11-30 08:26] #527 closed

[2019-11-30 08:27] #525 closed

[2019-11-30 08:27] iravid commented on #512
Closing as this is out-of-scope for ZIO

[2019-11-30 08:27] #512 closed

[2019-11-30 08:28] #460 closed

[2019-11-30 08:30] #258 closed