[2018-11-05 18:28] regiskuckaertz commented on #351
That makes sense 🙌

[2018-11-05 18:37] regiskuckaertz commented on #330
Add

- **Interruption** — A user-intended abortion of the enclosing action

?

[2018-11-05 18:38] regiskuckaertz commented on #330
It really feels like things are coming together.

[2018-11-05 18:43] jdegoes commented on #330
@regiskuckaertz Added. Also I vote for removing the interruption `Throwable`. We say interruption is never accompanied by a `Throwable`. Makes it more consistent and this is the way it's used in practice, anyway.

[2018-11-05 18:45] regiskuckaertz commented on #330
Yes 👍 Interruption itself is the reason.

[2018-11-05 18:46] jdegoes commented on #330
@regiskuckaertz The other think I'm thinking about is changing `Completed` to `Returned`. This way, a fiber either _failed_ with some cause or _returned_ a value. `Complete` is quite broad. A fiber that failed is also "completed" in some very real sense.

[2018-11-05 19:46] regiskuckaertz commented on #330
I now realise that is the same vocabulary as in `scala.util.Try`, but I think _they_ got it wrong 😜

[2018-11-05 20:35] jdegoes commented on #330
That works. Maybe just shorten to Failure and Success (present tense versus past).

[2018-11-06 09:15] fanf commented on #199
OK, some more thinking on that: what should be the semantic of:
[code]

- a) `res == 1` because `ref` is updated one time, and `Schedule.once` means that it should be done only one time in all ?
- b) `res == 2`, because it is updated one time, and `repeat` means that it should be executed on *additionnal* time ?

If we go for a), and if `Schedule.recurs(1)` and `Schedule.once` have the same semant

[2018-11-06 12:41] jdegoes commented on #339
/cc @regiskuckaertz

[2018-11-06 13:18] regiskuckaertz commented on #339
@edvmorango this is a sneaky one 🐍 `s.withPermit(action)` reduces to
[code]
and that's wrong, because `acquire` won't be interruptible (that is the guarantee given by `IO.bracket`), which explains why you experience the blocking behaviour. The fix requires a weaker version of `bracket`, so to speak, one where `acquire` would be interruptible. What about this:
[code]

[2018-11-06 13:20] regiskuckaertz commented on #339
Hrm, no, sorry, the line
[code]
is wrong. I need a few minutes.

[2018-11-06 13:49] jdegoes commented on #339
@regiskuckaertz

I don't think that version will be correct.

I think you have to adopt a similar approach to [Cats-Effect `Semaphore`](https://github.com/typelevel/cats-effect/pull/403/files): an internal acquire action produces the "promise getter" and the "cleanup action".

Then in `withPermit`, you bracket that (the internal acquire), and in the use action you "get" and in the release action y

[2018-11-06 16:22] regiskuckaertz commented on #339
What exactly? I tested it with the exact same test used in the cats-effect project and it worked correctly.

I looked into their solution (`sys.error` 😱). [The fix for `acquireN`](https://github.com/scalaz/scalaz-zio/pull/354#pullrequestreview-171893414) is pretty much going in that direction, but it would require getting rid of `Promise.bracket` to be able to extract an `acquireNInternal`. Someho

[2018-11-06 17:31] #351 closed

[2018-11-06 17:40] jdegoes commented on #339
@regiskuckaertz

For one, `withPermit` will not release the permit if `task` executes.

It might not be necessary to extract out `acquireNInternal`. But rather to make sure that the cleanup action is aware the acquisition could have succeeded (or not), and must undo the effects in the event of failure.

[2018-11-06 18:14] regiskuckaertz commented on #339
I don't see my mistake 🤔 especially if `task` executes, then the `ref.get` will yield `true` and so `release` will get evaluated; this is guaranteed with `ensuring`. I tried it against Michael's test:
[code]

[2018-11-06 18:43] NeQuissimus commented on #315
Threw this into 1.0.0. I just ran into the same issue of semantics changing.

[2018-11-07 09:50] regiskuckaertz commented on #339
I've been able to make it fail once, so it definitely is wrong, I just don't see where. Anyway, let's move on to the proper solution then.

[2018-11-07 13:20] edvmorango commented on #339
@regiskuckaertz When I write tests, sometimes I have problems using ```timeout```  functions, maybe is the same with your tests.

[2018-11-07 13:52] jdegoes commented on #339
@regiskuckaertz You're right, I was reading it wrong.

The problem is that `acquire` can be interrupted after it's changed the state of the `Ref`, but before it returns (there's a `flatMap` or two in there after the state change). It's a very small window but if it's interrupted then, it will have been acquired and not yet released.

You can see it more clearly if you imagine the implementation of

[2018-11-08 01:09] #338 closed

[2018-11-08 09:03] regiskuckaertz opened #358 "Add `IOUnit` type synonym"
There's shy of 100 occurrences of `IO[Nothing, Unit]` in the library, as it represents such a large subset of effects. I'd like it to be as easy to type as `IO.unit`:
[code]
Opinion?

[2018-11-08 09:57] regiskuckaertz commented on #339
@jdegoes Thanks for the detailed explanation, I now see where my assumptions were incorrect. I've posted a draft version of Michael's fix in the PR thread, hope it helps @edvmorango !

[2018-11-08 14:30] Vilkina commented on #220
https://github.com/scalaz/scalaz-zio/commit/c2324bc1c499d2c9a3fb73d9c5e9a4669710545f#diff-ca3e85860d2530f979dc78f5b52f9915

[2018-11-08 14:36] Vilkina commented on #310
kip going

[2018-11-08 14:38] jdegoes commented on #220
@Vilkina

Here's the process to submit a pull request:

1. Fork the Scalaz ZIO repository.
2. Clone the ZIO repository into your local folder.
3. Make your changes locally.
4. Preview and commit your changes to Git.
5. Pull in the latest changes from Scalaz ZIO (typically `git pull upstream master`).
6. Resolve any conflicts and run all the tests.
7. Push your changes to your own fork of the repos

[2018-11-08 14:45] Vilkina commented on #220
How to undo this changes?

[2018-11-08 14:47] jdegoes commented on #220
<https://docs.gitlab.com/ee/topics/git/numerous_undo_possibilities_in_git/#undo-remote-changes-with-modifying-history>

[2018-11-08 14:57] Vilkina commented on #220
Git client is "crab".

[2018-11-08 15:02] fanf commented on #199
Perhaps @regiskuckaertz can be interested too in above comment since you reacted on https://github.com/scalaz/scalaz-zio/pull/323

[2018-11-08 16:38] jdegoes commented on #199
I vastly prefer _B.1_ or _B.2_. I think most people would expect `retry(recurs(1))` to mean one retry (i.e. two total executions of the original action); probably most people would expect `repeat(recurs(1))` to mean one repeat (i.e. two total executions). This implies _B.1_, I think.

[2018-11-08 16:41] #329 closed

[2018-11-08 16:44] jdegoes opened #359 "Improve testability of jittered methods of Schedule"
As the last parameter to every `jittered` method, we should add a `random: IO[Nothing, Double] = IO.sync(scala.util.Random.nextDouble())` default parameter, and have `jittered` use that.

This way, people can specify a non-random number generator when developing tests.

To begin, see `Schedule.scala`, which can be found in core/shared/main/src/scalaz/zio/.

Contributes toward #310.

[2018-11-08 17:04] kaishh commented on #358
How about `UIO[Unit]`?

[2018-11-08 18:00] regiskuckaertz commented on #199
So it's
[code]
I agree, B1, especially when you read it oud loud, "repeat io once".

[2018-11-08 18:16] jdegoes opened #360 "Improve and refine composite operations with the new Redeem/Fail"
With #342 about to land, a number of times `fork` is used to implement various operations can be reduced, because it is now possible to directly observe the result of executing a fiber.

 - [ ] **ADDITION** — Add a new operation (`io.redeem0`?) that has the full power of `Redeem`.

[code]
 - [ ] `io.raceWith` — There are possibly 2 unnecessary instances of `fork` that use `observe`; these can be r

[2018-11-08 18:34] jdegoes opened #361 "Improve raceWith"
Currently, `raceWith` uses `supervised` on left / right:

[code]

This means that the `left` and `right` fibers cannot outlive the invocation of either `leftWins` or `rightWins`.

The `supervised` combinator is used to ensure that if the main fiber is interrupted, the `left` and `right` will be interrupted, too. However, we can do that in other ways:

[code]

[2018-11-08 20:19] kaishh commented on #360
Hmm, `.runSync` version of `.bracket0` worked fine for me in previous PR; at least it passed the testsuite. Will check again with `Redeem`.

[2018-11-08 20:46] regiskuckaertz commented on #281
This is fixed with the reworked `raceWith` 🤗

[2018-11-08 20:46] #281 closed

[2018-11-08 21:02] regiskuckaertz commented on #93
Is this still happening, I don't think so?

[2018-11-08 21:06] jdegoes commented on #93
I would be surprised if you can (actually) interrupt a join or interrupt. That requires cancelation logic to remove the listeners, which AFAIK doesn’t exist yet. The current code should do the right thing but leak listeners (observers).

[2018-11-09 04:18] hepin1989 commented on #347
Shouldn't be a call by name？

[2018-11-09 09:01] regiskuckaertz commented on #361
What do you think of passing `arbiter` as an argument to `raceWith` (or `race0`)?

[2018-11-09 13:12] jdegoes commented on #361
@regiskuckaertz I'm concerned it's very low-level and there's a potential for misuse (what happens if they never complete the promise?).

I'm thinking we should change it like this:

[code]

Then we call `leftDone` when left exits (**not** when it wins), and we call `rightDone` when right exits (**not** when it wins). I think this allows the user to do all possibilities.

[2018-11-09 13:19] #341 closed

[2018-11-09 16:07] jdegoes opened #363 "Ensure interruption is not catchable"
With the unified failure model, we need to ensure that interruption is not catchable.

Currently, the RTS cannot "forget" a request to perform interruption and will interrupt at the earliest possible opportunity, but I'm not actually sure what happens in all circumstances. In particular, it may be possible to appear to "catch" an interruption and recover although later be interrupted.

If `run` do

[2018-11-10 07:51] regiskuckaertz commented on #358
Ha, [we had that previously](https://github.com/scalaz/scalaz-zio/pull/127), it was discarded because the alias was neither shorter nor self-explanatory enough.

[2018-11-10 08:20] regiskuckaertz opened #365 "Add `MonadIO`"
I think that ZIO has zero dependencies was a brilliant design decision, but it forces users to either commit to using `IO` everywhere in their program or depend on the whole cats/scalaz machinery in order to write more generic code.

Writing a program in a final encoding style should be library-agnostic, as it is a construction that is entirely encapsulated by the language. With that in mind, and

[2018-11-10 13:38] fanf commented on #199
@regiskuckaertz `io.repeat(Schedule.never)` does not terminate, so the semantic is different.

Thanks for the summary, it reads really well, I will use it :)

[2018-11-10 13:52] fanf opened #366 "Make IO.repeat and IO.retry consistant regarding Schedule.recurs and Schedule.once"
As seens in https://github.com/scalaz/scalaz-zio/issues/199, we have a problem of consistency in the semantic of `IO.repeat` when use with a number of time. As explains in comments of that issue, we want the semantic of `io.repeat(Schedule.recurs(42))` to be "execute `io` one time, and then execute it 42 more time. We also want that `io.repeat(Schedule.once) == io.repeat(Schedule.recurs(1))`.

[co

[2018-11-10 13:55] fanf commented on #199
I propose to deal with consistancy problem of repeat/retry for recurse/once in https://github.com/scalaz/scalaz-zio/issues/366 and keep that ticket for a more exhaustiv test framework for `repeat`.

[2018-11-10 14:01] fanf commented on #366
The proposed pull request to correct that issue is: https://github.com/scalaz/scalaz-zio/pull/367

[2018-11-10 16:49] regiskuckaertz commented on #199
That's nice:
[code]

[2018-11-10 18:14] regiskuckaertz commented on #273
This one can be closed, can't it? Just ran it and it looks fine.

[2018-11-10 18:19] regiskuckaertz commented on #170
I think [the redesign of `ExitResult`](https://github.com/scalaz/scalaz-zio/pull/342) solves this issue?

[2018-11-11 03:01] ghostdogpr opened #368 "Queue performance improvements"
Here are some ways we could improve the performance of Queue:

- [ ] Stop using `queue.length` or `queue.size` as it's a O(n) operation. One way would be to maintain the queue size ourselves since we know exactly how many items we add or remove.
- [ ] Stop using `queue.splitAt` (also O(n) op). It seems to me that calling `dequeue` multiple times would be faster as we would only go through the numb

[2018-11-11 09:30] ghostdogpr commented on #360
About `raceWith`, how can we avoid using `fork` on left/right since the finishers require fibers as parameters?

I submitted #369 for the rest.

[2018-11-11 12:37] wi101 commented on #368
Sounds good :) , I think for the second point, we can implement our `splitAt` using a better implementation to browse the `Queue` and `Iterable`

[2018-11-11 12:39] wi101 commented on #368
And we can use `RingBuffer` no idea about it, but I saw a PR
cc @artempyanykh

[2018-11-11 14:48] ghostdogpr commented on #368
@regiskuckaertz nice suggestions! I’ve been observing as well that we always execute some unnecessary steps that are only needed with the back pressure strategy. The impact is currently lower than size/splitAt but still exists.
On top of that, the code is getting too complicated when mixing all the cases so pushing logic to the strategy sounds good.

I’ll fiddle with your idea 👍

[2018-11-11 15:39] jdegoes commented on #365
Why `map` and `flatMap`?

Here's how I see it:

All we _really_ need is `lift`. Because then a user programs in `IO`, and lifts it up to some polymorphic `F` type (possibly Monix, possibly EitherT with Cats Effect IO, possibly Cats BIO, etc.).

Then users make `lift` the final call in all their APIs:

[code]

The drawback is that a user cannot call their own API.

That is, they cannot call `foo` f

[2018-11-11 15:57] kaishh commented on #365
I think we could just leave this to cats-effect and use quantification + [covariant syntax extensions](https://gist.github.com/kaishh/e070d96e3b3b10a6f200542714585639#file-quantified-scala-L39) to deal with the error type. We also need an extension to model termination/run as that's the only thing cats-effect doesn't model, but that's it. I've been testing this way in a private codebase for awhile

[2018-11-11 16:54] kaishh commented on #365
@jdegoes
Sure, I was going to ask if I can submit a PR ;) Though I think quantification is too general to be in interop, is it ok to create a `scalaz-zio-quantified` module?

[2018-11-11 17:07] kaishh commented on #170
Hmm, please correct me if I'm wrong, but I think we still can't tell which of the `unchecked` exceptions are the causes of termination and which of them were collected from finaliser failures ._.

[2018-11-11 18:07] kaishh commented on #273
Yes, this example should be ok now, as long as the user keeps flatMapping they should eventually get unstuck...

[2018-11-11 18:07] #273 closed

[2018-11-11 18:12] kaishh commented on #363
`run` did not catch interruption previously - just passed it along with supervised. I think let's wait until runWith/ConcurrentEffect are finished and see if we can't come up with a solution that doesn't require catching interruption – in that case run semantics need not change and we don't expose a 4-state error model :^). We can already install post-mortems on individual closures with `.onTermin

[2018-11-11 18:29] kaishh commented on #363
OTOH it would be impossible to implement performant .bracket0, .onTermination, etc. without catching interruption

[2018-11-11 20:56] regiskuckaertz commented on #365
I just wondered: "_what's the bare minimum requirement one needs so that they can write MTL-style programs with effects?_" Of course the answer is `Monad`, perhaps `MonadError`. With that people can go very far, creating mini-DSLs ad nauseum. There is a trivial embedding of ZIO into itself, but they also have the choice of another implementation (or even several of them). But yeah, `lift` is stric

[2018-11-11 21:03] jdegoes commented on #368
The most significant improvement will come by using a lock-free buffer to back the queue. @artempyanykh should be able to help here, he's already done a good chunk of the work (#259).

Until then, I'd do some "low hanging fruit" optimizations that can make the current implementation perform better. However, it won't be high-performance until it uses a buffer.

[2018-11-11 22:54] RaasAhsan commented on #340
If I'm not mistaken, I think the `MaybeLaterIO` semantics are fine. The purpose of the `MaybeLaterIO` is to specify an action to be run *on interruption*, if the fiber is still suspended in an asynchronous region. We shouldn't really be able to interrupt that action. This is equivalent to `IO.cancelable` in cats-effect.

I think the issue that arose in #267 is that the action specified in `asyncPu

[2018-11-12 01:19] #360 closed

[2018-11-12 01:20] #186 closed

[2018-11-12 07:08] RaasAhsan commented on #340
I see! If we invoked it as part of the same run loop, there could be two run loops executing for the same `Fiber`. So, what we really want to be able to do is propagate interruption from the parent `Fiber` to the child `Fiber`.

[2018-11-12 09:55] regiskuckaertz commented on #340
Is this completely loco?
[code]

[2018-11-13 07:53] regiskuckaertz commented on #340
Yeah The promise was a quick and dirty way of catching the exit result, a
lower-level équivalent would not need the unsafeRun call.

On Tue, 13 Nov 2018 at 02:05, Raas Ahsan <notifications@github.com> wrote:

--
–Regis

--

This e-mail and all attachments are confidential and may also be
privileged. If you are not the named recipient, please notify the sender
and delete the e-mail and all attachme

[2018-11-15 22:48] pierangeloc commented on #359
I'd like to pick this one

[2018-11-19 10:18] Vilkina commented on #140
I’m ready to do next PR. But I have previous PR opened.

[2018-11-22 00:56] jczuchnowski commented on #126
I can see `dropping` and `sliding` are already in ZIO's master. This issue can be closed.

[2018-11-22 05:06] #126 closed

[2018-11-22 20:50] He-Pin opened #378 "ZIO's java facade."
It makes a lot of sense to provide a Java facade to make ZIO easy to use from Java:).Could be a separate module.

[2018-11-24 06:14] jdegoes commented on #378
Would love this (in a separate module)! Could set the Java world on fire. 😉

[2018-11-24 06:43] jdegoes commented on #340
@RaasAhsan @regiskuckaertz

How about something like this:

[code]

One could add `promise.unsafeDone` to avoid the `unsafeRun`.

If this works, we can delete `AsyncIOEffect` because it can be implemented entirely in `IO.scala` without runtime support.

[2018-11-24 14:19] jdegoes commented on #361
Fixed by #376

[2018-11-24 14:19] #361 closed

[2018-11-24 17:47] jdegoes commented on #36
This one is the tricky one:

[code]

To implement composable throttling, we have to have back pressure on submission. The only way to do that with the above signature is to block. Which is not ideal.

I wonder if we could extract out a "pure" thread pool that has signatures like this:

[code]

Then we can "suspend" submissions, which allows us to quite easily due composable throttling.

This has s

[2018-11-24 17:56] jdegoes opened #381 "Improve performance through polymorphism"
Right now, many methods accept `IO[E, Unit]`.

For example:

[code]

This means that if you pass an `IO[E, A]`, you must first call `void` to discard the return value.

On the one hand, this forces a user to be explicit: they must know the return value will be discarded. This makes it harder to get order of parameters wrong (e.g. `io.bracket`). On the other hand, calling `void` involves an extrane

[2018-11-24 19:18] kaishh commented on #381
IMHO code inside zio can use unsafe .asInstanceOfs to avoid the cost, however to decrease typesafety in user code to avoid one (synchronous) op is a bit of an overstretch in my opinion.

[2018-11-24 19:43] jdegoes commented on #381
It’s still type safe. It changes this:

def ensuring(f: IO[Nothing, Unit])

To this:

def ensuring(f: IO[Nothing, Any])

For example.

It means you can pass it IO that return values.

The bad side is that in some APIs, it becomes more easy to misuse (e.g. swapping order of release and use in bracket).

An alternative would be to define ZUnit as an opaque type. You’d have to ‘voidz’ On tasks but it

[2018-11-24 20:14] hepin1989 opened #382 "Hook scalafmt with compile."
Make it easier for contribution:)
Currently, need to run scalafmt manually.

[2018-11-24 21:53] mijicd commented on #381
I'd like to pick this one assuming nobody already started to work on it.

[2018-11-24 22:17] hepin1989 commented on #382
Akka make it default, I think that's ok for code consistency

[2018-11-25 04:36] jdegoes commented on #368
@ghostdogpr As far as I know, it will be portable or mostly portable. /cc @artempyanykh

Worst case we would just create one with a duplicate API but simpler implementation for Javascript.

[2018-11-25 05:32] ghostdogpr commented on #368
Indeed from what I can see, we only use Java's `AtomicLong`, `AtomicLongArray` and `ConcurrentLinkedQueue` and they seem all supported by ScalaJS: https://github.com/scala-js/scala-js/tree/master/javalib/src/main/scala/java/util/concurrent

So I guess we can safely move the code to `shared`.

[2018-11-26 00:56] #257 closed

[2018-11-26 00:56] jdegoes commented on #382
I'm Ok for trying it on compile and seeing if users complaint. 😄

[2018-11-26 03:10] ghostdogpr commented on #325
Fixed by #328

[2018-11-26 03:10] #325 closed

[2018-11-26 07:48] artempyanykh commented on #368
@ghostdogpr thanks 😃

Right, I was specifically avoiding `Unsafe` to keep the impl. portable. However, the patch I'm working on right now that brings substantial perf improvement in concurrent scenario on JVM requires `AtomicLongFieldUpdater` which currently seems to be missing in scala-js.

Not sure if there are any fundamental reasons `A*FU` classes are absent scala-js. Opened a ticket https://g

[2018-11-26 07:52] artempyanykh commented on #368
Oh, and one more thing --

[2018-11-26 09:29] artempyanykh commented on #368
Apparently, `A*FU` classes can't be implemented in scala-js. I'll go with a separate JVM impl in my patch then.

[2018-11-26 09:41] RaasAhsan commented on #381
I prefer being precise about the types I work with. As an alternative to `Any`, we can also introduce a type parameter where we don't care about the type.

[code]

After this is implemented, I'm interested in seeing a benchmark on how much performance this will squeeze out. There's definitely a lot of fish to be caught in terms of performance, but we should be hesitant to make changes that could p

[2018-11-26 09:54] regiskuckaertz commented on #381
How about
[code]

[2018-11-26 14:40] ghostdogpr commented on #368
I started playing with `RingBuffer` and realized my tests failed because the capacity was higher than the requested one, which is intended for performance reasons.

I was initially relying on the result of `offer` to apply if needed the appropriate sliding/dropping/backpressure strategy. If we can't rely on it (currently, a queue of capacity 3 will let you add 4 items), it means we need to check t

[2018-11-26 15:48] jdegoes commented on #368
@ghostdogpr

This will be a large refactoring to `Queue`. In particular, the `RingBuffer` will be an ordinary `val` inside the `Queue`. We will need at least one `RingBuffer` for the values `A`, but possibly another one for callbacks. The logic will be quite tricky and careful thought must be used to ensure we don't accidentally suspend a taker when a value is available (example: poll value queue,

[2018-11-26 17:20] RaasAhsan commented on #340
@jdegoes  Cool idea to track the fiber! It looks like this will propagate cancellation from the parent fiber to the fiber started for the returned `IO` from `AsyncIOEffect`.

It also looks like there would be two active run loops for the same fiber. That means that there would be two threads accessing the same `FiberContext`, which isn't necessarily thread-safe, since some of these fields aren't p

[2018-11-26 17:32] #294 closed

[2018-11-26 17:55] jdegoes commented on #340
@RaasAhsan There would not be two run loops. The use of `Promise` means that the main run loop is suspended right after it invokes register on a separate fiber.

It means if you cancel the main fiber then it will cancel the fiber running the `register` command. However, if that one gets canceled, then in the above formulation, it will not cancel the main fiber. I think we could add that pretty eas

[2018-11-26 18:35] RaasAhsan commented on #340
I understand now! thought the callback was resuming the continuation immediately. Am I off base or could the `AsyncEffect` operation, including the behavior of`MaybeLater` and `MaybeLaterIO`, be implemented as a derived combinator in a similar fashion, with some help from `bracket`?

[2018-11-26 19:02] artempyanykh commented on #368
@ghostdogpr re: queue size -- it's possible to drop the power of 2 requirement, but the result would be around 15% hit in max throughput IIRC. Still, -15% shouldn't be as much as when using some external strategy e.g. `Ref.modify`.

So, if arbitrary sized queues is a must, then I'd do the change in the `RingBuffer`.

[2018-11-26 19:09] jdegoes commented on #340
@RaasAhsan Certainly, we can eliminate `AsyncIOEffect`. But we need `AsyncEffect` because it's used by `Promise`.

`Promise` is basically the pure version of `AsyncEffect`.

[2018-11-26 19:09] jdegoes commented on #340
On interruption, it's still possible: for example, the `register` function can be interrupted by, say, awaiting a promise that is interrupted.

[2018-11-26 19:29] jdegoes commented on #368
I don't think arbitrary queue size is necessary. Power of 2 is fine. We'll just have to update tests, and make sure it's labeled `requestedCapacity`, but that the returned `capacity` may be different.

[2018-11-27 08:48] ghostdogpr commented on #368
@artempyanykh I think `isFull` is wrong. If you create a `RingBuffer` with capacity 2, then offer 1 item, `isFull` returns `true`.
If I remove `- 1` in `head.get() + capacity - 1` it works OK. Or did I miss something?

[2018-11-27 09:55] artempyanykh commented on #368
@ghostdogpr nope, you're right, that's a bug :)

[2018-11-27 19:08] #340 closed

[2018-11-27 22:58] jdegoes commented on #381
@RaasAhsan Parametric polymorphism is equivalent to subtype polymorphism in this case.

That is, if you are passing `io: IO[Nothing, String]` into a function, then this:

[code]

is equivalent to this:

[code]

In both cases, the `accept` functions have no ability to know anything about the type returned by the `io` (assuming they are playing by Scalazzi rules).

It's not type unsafe. It would be

[2018-11-28 00:47] RaasAhsan commented on #381
@jdegoes Thanks for the explanation, that was very informative! When I had my original thought, I recognized it was similar to `Any` in some way, but didn't understand the complete relationship. I know the Scala compiler is very wonky with type inference, but do you have any compelling examples for why we would want one over the other in terms of utilizing parametric vs subtype polymorphism here?

[2018-11-28 00:59] kaishh commented on #381
Wildcards are not going anywhere, only `forSome` existentials. Even simple kind `*` `forSome`s have a subtly different behavior than wildcards in my experience. Also, in my experience `_` inference is a lot better than `Any`, I don't have any examples, but it may be because wildcard does not rely on variance.

[2018-11-28 15:11] jdegoes commented on #381
I agree I've never had issues with wildcard inference.

[This issue](https://github.com/lampepfl/dotty/issues/5379) discusses the possibility of `_` going away as syntax for wildcards, possibly being replaced by `?`. However it seems this won't happen till Scala 3.2, in which case maybe we should use `_` instead of `Any`.

[2018-11-28 18:43] jdegoes opened #392 "Rename JucCLQ queue"
Inside:

[code]

there is `JustCLQ`, which should be renamed `LinkedQueue`. The file should be renamed from `JustCLQ.scala` to `LinkedQueue.scala`.

[2018-11-28 18:44] jdegoes opened #393 "Create optimized version of RingBuffer for Scala.js"
The Scala.js implementation of `RingBuffer` (`/core/js/src/main/scala/scalaz/zio/internal/`) is unnecessarily complicated, because all code in Javascript is single-threaded. Therefore, the implementation can use a simple array and ordinary mutable values, without use of any atomic facilities or volatile variables.

[2018-11-28 19:34] NeQuissimus commented on #382
We should then have some sort of "verify" that the CI runs and which does not call `scalafmt`.
Otherwise the CI may format upon build and not be able to contribute those changes back. That should not happen.

At work, we have a task that does all kinds of "linting" (incl. scalafmt) and one that is meant for verification by CI.

I would not hook scalafmt into `compile` directly

[2018-11-28 19:45] jdegoes opened #394 "Split out interop into three modules"
Currently, the `interop` module holds `cats`, `scalaz72`, and `future` interop packages.

These should be split up into three top-level interop modules:

[code]

This will allow three to evolve independently and provide clearer and more useful code organization.

[2018-11-28 19:49] jdegoes opened #395 "Introduce `interop-monix` module"
Introduce a top-level module for Monix that allows two-way conversion between common types. For example:

 * `Task[A]` <-> `IO[Throwable, A]`
 * `Fiber[A]` <-> `Fiber[Throwable, A]`

etc.

[2018-11-29 23:59] jdegoes commented on #298
@cuongthamhl Can you check to see if this is still an issue?

[2018-11-30 00:00] jdegoes opened #401 "ZIO 1.0 Discussion"
List of things we need to wrap up to get to ZIO 1.0:

 - [x] Improve Scaladoc #413
 - [x] Improve Microsite #417
 - [x] Cats-Effect 1.0 instances for `Concurrent` and `ConcurrentEffect` #79
 - [x] Finalization of data type and method names #287
 - [x] Finish cleaning up API #507
 - [x] Breakup `interop` into distinct modules #394 #408
 - [x] Composable / non-monolithic RTS #36
 - [x] Solution for

[2018-11-30 00:23] cuongthamhl commented on #298
@jdegoes Yes, it's still happening as of 0.3.2.

[code]

[2018-11-30 01:47] hepin1989 commented on #401
At least,the doc of Monix is very great,we should achive that.

[2018-11-30 19:55] #392 closed

[2018-11-30 19:56] #365 closed

[2018-11-30 19:57] #339 closed

[2018-11-30 20:12] regiskuckaertz commented on #315
Just ran this with the latest master and it's now running forever. Can we close this ticket and move the discussion over [there](#248 )?

[2018-11-30 20:14] jdegoes commented on #315
@regiskuckaertz Sounds good! 👍

Thanks for doing all this housecleaning. 😆

[2018-11-30 20:14] #315 closed

[2018-11-30 20:51] regiskuckaertz opened #403 "Not all v0.4 packages made it to Maven"
Looks like only 2 packages were successfully uploaded 🤔

<img width="911" alt="screen shot 2018-11-30 at 20 54 22" src="https://user-images.githubusercontent.com/629976/49314256-c1244a00-f4e1-11e8-9c63-b4f4dae3bc5a.png">

[2018-11-30 20:57] NeQuissimus commented on #403
https://travis-ci.org/scalaz/scalaz-zio/jobs/461842863

There were actually Scaladoc failures that caused this.

[2018-11-30 21:22] regiskuckaertz commented on #298
This runs perfectly fine in SBT or Ammonite consoles, but not when using the `amm -p <file>` command. I'm tempted to say this is not a bug in ZIO 🤔

[2018-11-30 21:31] #35 closed

[2018-11-30 21:32] regiskuckaertz commented on #35
🎉 ✨ 🚀

[2018-11-30 21:52] #140 closed

[2018-11-30 21:52] jdegoes commented on #310
The only thing remaining is #359

[2018-11-30 21:53] jdegoes commented on #359
@pierangeloc Still want this one? 😄

[2018-11-30 22:13] #403 closed

[2018-12-01 06:50] pierangeloc commented on #359
Yes.
Sorry had a couple of unexpected issues that didn’t allow me to pick it up
immediately.

On Fri, 30 Nov 2018 at 22:53, John A. De Goes <notifications@github.com>
wrote:

--
______________
Pierangelo Cecchetto
Mobile:
+31 (0)6 48132469

[2018-12-01 07:16] hepin1989 commented on #394
Let me take it.

[2018-12-01 07:17] hepin1989 commented on #401
Plus update dependencies, maybe with the help of scala-steward?

[2018-12-01 10:19] hepin1989 opened #407 "Exception in thread "specs2.user-1" java.lang.StackOverflowError"
[code]

[2018-12-01 10:53] hepin1989 commented on #401
cross build with `scala 2.13`

[2018-12-01 11:36] pshirshov commented on #310
Thank you for the hard work on this. And I'm sorry that I was unable to pull myself out of business and work on this. Though hope you like @kaishh's contributions :)

[2018-12-01 16:11] mijicd commented on #401
More on organizational side, it would be helpful to close the issues that are no longer relevant and assign the remaining ones to proper milestones.

[2018-12-01 16:12] mijicd commented on #393
I'll take care of this one.

[2018-12-01 16:20] jdegoes commented on #407
Be sure to use `sbt` script from inside the repository to run the tests, because it has adequate stack size for all the examples.

[2018-12-01 17:11] kaishh commented on #407
Why not add a `.jvmopts` file with a -ss option?

[2018-12-01 17:42] jdegoes commented on #407
PRs welcome. 😄

[2018-12-02 02:31] #348 closed

[2018-12-02 05:40] hepin1989 commented on #401
refs:https://github.com/scalaz/scalaz-zio/pull/408

[2018-12-02 16:42] #26 closed

[2018-12-02 17:11] jdegoes opened #412 "Ensure there is a way for users to make a graceful shutdown of RTS"
See #370 for context. /cc @hepin1989

[2018-12-02 17:45] jdegoes opened #413 "Improve Scaladoc"
The Scaladoc for classes and traits inside ZIO can use improvement. In particular:

 - All methods should have Scaladoc.
 - All functions should include Scaladoc descriptions for all parameters.
 - Where useful, methods should have code examples to show users how to use the method.

This is a great issue for new contributors and folks wanting to learn how to use ZIO! Even if you don't know how to

[2018-12-02 18:55] hepin1989 commented on #401
Cats-effect 1.1.0 is released.

[2018-12-03 12:58] #368 closed

[2018-12-03 13:05] #359 closed

[2018-12-03 13:06] jdegoes commented on #310
Finally fixed by #359.

[2018-12-03 13:06] #310 closed

[2018-12-03 13:06] jdegoes commented on #310
@pshirshov Yes, it's been great having @kaishh contributing!

[2018-12-03 18:11] #366 closed

[2018-12-03 19:06] jdegoes opened #417 "Improve microsite"
# Documentation

- [x] Home — The "why"
- [x] Getting Started — Hello World
- [x] Overview — On-boards developers to the effect train
  - [x] Creating Effects
  - [x] Basic Operations
  - [x] Handling Errors
  - [x] Handling Resources
  - [x] Basic Concurrency
  - [x] Testing Effects
  - [x] Running Effects
  - [x] Background
- [ ] Data Types — Provides an introduction to every data type in ZIO

[2018-12-03 19:07] jdegoes opened #418 "Audit RTS"
A comprehensive audit of every line of RTS for correctness and performance. No sense doing this until 1.0 is closer to shipping (maybe mid January).

[2018-12-03 19:39] jdegoes opened #419 "Change signature of Promise.poll"
Currently, `promise.poll` has this signature:

[code]

However, other `poll` methods are trending toward `Option`, so we should change this to be consistent:

[code]

You can find `Promise.scala` in `/shared/src/main/scala/scalaz/zio/Promise.scala`.

[2018-12-03 19:40] jdegoes commented on #401
@mijicd Working on it...and getting close, I hope! 😉

[2018-12-03 21:13] #381 closed

[2018-12-03 21:21] mijicd commented on #395
I'll take care of it.

[2018-12-03 21:42] jdegoes commented on #395
@mijicd Awesome, thank you!

[2018-12-03 21:46] RaasAhsan commented on #418
One thing that isn't very clear to me is how the `killed` field in `FiberContext` (https://github.com/scalaz/scalaz-zio/blob/master/core/jvm/src/main/scala/scalaz/zio/RTS.scala#L173) is properly made visible. It's declared non-volatile, but can be accessed from multiple threads (the thread running the fiber, and a thread running an interrupt on the fiber).

If its taking advantage of the full vola

[2018-12-03 21:51] jdegoes commented on #418
@RaasAhsan It is intentionally not made visible. The worst thing that can happen is that the runtime system executes an interrupted `IO` for longer than it "should". If we benchmark and making it volatile doesn't effect performance, we could and should make that change.

[2018-12-03 21:51] jdegoes commented on #418
Or actually, just use `interrupted`, which involves `AtomicReference.get`.

[2018-12-03 21:58] RaasAhsan commented on #412
#305 #356 has additional context as well

[2018-12-04 07:16] hepin1989 commented on #150
![image](https://user-images.githubusercontent.com/501740/49425099-96830b80-f7d7-11e8-8472-324fa1a925b1.png)

[2018-12-04 09:46] Vilkina commented on #419
I'm working on this issue

[2018-12-04 10:03] regiskuckaertz commented on #419
I'm a bit sad we're not going in the opposite direction, I liked the `Alternative`-style this permitted.

[2018-12-04 13:42] jdegoes commented on #419
@regiskuckaertz I'm open to that! We just need to pick one style and stick to it. 😄

The convention could be: _in any case where a result is optional and the returned `IO` cannot fail for other reasons, then the optional result should be encoded as a `Unit` error_.

I agree that doing `p.poll <> io` is quite convenient.

Can you write up this change in more depth so @Vilkina can catch all the plac

[2018-12-04 19:41] regiskuckaertz commented on #419
@jdegoes yes, tomorrow as today was Christmas party and I’m a bit 🥳🥴🤢

[2018-12-05 12:53] kaishh commented on #363
Related: Seems like [`IO.to`](https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/IO.scala#L722) will silently not fulfil a promise when it's interrupted, right now, because `.run` won't return on interrupt.

[2018-12-05 13:02] jdegoes commented on #419
@regiskuckaertz No worries, enjoy your Christmas parties. 😆 🎉

[2018-12-05 14:18] #393 closed

[2018-12-05 14:20] jdegoes opened #426 "Create Scala.js version of OneShot.scala"
`OneShot` is a variable that can be set once. On the JVM, the getter blocks. We need a Scala.js version that does not block, whose getter simply returns the value of the variable (or throws an exception if it's null).

`OneShot` can currently be found in `/shared/src/main/scala/scalaz/zio/internal/OneShot.scala`. We should move this version to `/jvm/src/main/scala/scalaz/zio/internal/OneShot.scala

[2018-12-05 15:16] jdegoes commented on #150
@hepin1989 This is very much along the lines of something coming soon... stay tuned! 😉

[2018-12-05 15:22] jdegoes opened #427 "Check for binary compatibility in 1.x"
Once 1.0 is released, we can check for backward-compatible changes using [MiMa](https://github.com/lightbend/migration-manager).

[2018-12-05 17:16] Vilkina commented on #419
Three weeks before Christmas. Anyway, you can go to the gym or drink some more for beating hungover. But don't drink alcohol in a gym, @regiskuckaertz :)

[2018-12-05 20:06] iravid opened #428 "Add trampolining to Stream"
Currently, `Stream` has a single abstract method:
[code]

Stream is currently not stack-safe. This issue consists of several parts:
1. Add stack-safety tests on Stream (specifically - left and right associated binds, left and right associated concatenations)
2. Change Stream.fold to use the following signature:
[code]
and verify that the stack-safety tests pass afterwards.
3. Run the benchmarks wi

[2018-12-05 20:16] iravid opened #429 "Add comprehensive tests to Sink"
Preferably using property checks with generated streams.

[2018-12-05 20:16] iravid opened #430 "Add comprehensive tests to StreamChunk and StreamChunkPure"
Including an `Arbitrary` instance for `StreamChunk`.

[2018-12-05 20:17] iravid opened #431 "Add a microsite section for ZIO Streams"

[2018-12-05 20:18] iravid opened #432 "Audit specialization on Chunk, Stream and Sink"
Verify that all `@specialized` annotations are actually effective (through byte-code examination).

[2018-12-05 20:36] iravid opened #433 "Test short-circuiting behavior on Stream combinators"
The Stream combinator tests need to be enhanced to verify that short-circuiting is indeed working correctly on all combinators.

We could probably benefit from a specs2 matcher to assert correct Stream behavior.

[2018-12-05 20:43] iravid opened #434 "Add missing scaladoc to StreamChunk"

[2018-12-05 20:43] iravid opened #435 "Add missing scaladoc to Sink"

[2018-12-06 01:10] ghostdogpr commented on #394
Closed by #408

[2018-12-06 01:10] #394 closed

[2018-12-06 01:53] #327 closed

[2018-12-06 03:03] hepin1989 commented on #413
The scaladoc should descript the type parameter and parameters too, not just the behavior of the method.

[2018-12-06 08:51] mijicd commented on #428
I'd like to work on this.

[2018-12-06 09:56] TheDIM47 opened #437 "AbstractMethodError with zio 0.5.+"
After upgrading to zio 0.5.+ i'm starting to get AbstractMethodError
doobie v0.6.0. scala 2.12.7/2.12.8
zio v0.3.+ and v0.4.+ works fine.

Minimal sample:
[code]

[code]

[2018-12-06 10:02] regiskuckaertz commented on #419
@Vilkina

I know 😆

[2018-12-06 10:35] regiskuckaertz commented on #419
Ok, so in terms of `poll`, there's just `Fiber#poll` to turn into
[code]
with similar changes in `RTS` and `interop.future.FiberObjOps`. The pattern of producing an `IO[Nothing, Option[A]]` appears in several other places, but I don't know whether they should all be updated:

- `FiberLocal#get`: one could argue that the current behaviour does not follow the idiom in Scala collections where `get` m

[2018-12-06 13:46] edvmorango commented on #429
I would like to work on this.

[2018-12-06 15:15] iravid commented on #428
Thanks @mijicd!

[2018-12-06 16:32] iravid opened #438 "Stream.merge test failure"
[code]

Replicate with `prop(...).setSeed("DFaDjK56t6YD2LsElkZcyc38c8d8xO0SzxD-Z7FoDZL=")`

[2018-12-06 21:47] RaasAhsan commented on #412
@jdegoes Because this topic isn't getting much discussion, I'd like to pose a question: when would users want to shut down the thread pool of the RTS versus just letting the application end? Are there any valuable guarantees they get from doing it, and to what degree can they reason about the effects of shutting down the thread pool?

[2018-12-07 01:39] ghostdogpr commented on #437
Hmm strange, your sample works for me in a brand new project.
Did you upgrade the `interop` dependency as well?
[code]

[2018-12-07 02:16] jdegoes commented on #150
![zio-full-color-rgb](https://user-images.githubusercontent.com/156745/49623570-6f6d3b00-f98b-11e8-8aec-6c4eb5fc4121.png)

[2018-12-07 02:16] #150 closed

[2018-12-07 05:06] hepin1989 commented on #150
Really like it, both are speedy, mine is running, the new one is soaring,much better,very nice.

[2018-12-07 06:53] regiskuckaertz commented on #150
😍

[2018-12-07 08:05] sidnt commented on #417
@jdegoes wouldn't it be better to setup a different repository for the microsite altogether? That'd be a nice way to pave way for a richer microsite in the longer term and have its development stay out of the way of core zio code. I'd love to take it up and write documentation / tutorials / sample programs.

[2018-12-07 08:40] jcdelmas commented on #430
I can work on this.

[2018-12-07 14:07] TheDIM47 commented on #437
Yes. I have "interop" dependency. I'll try to play with compiler options. Thanks!

[2018-12-07 14:07] #437 closed

[2018-12-08 08:17] iravid opened #441 "Stream.fromQueue should end when the Queue is shutdown"

[2018-12-08 16:39] iravid opened #444 "Should Interrupted be a term of ExitResult rather than Cause?"
Currently `redeem0` has a continuation of type `Cause[E] => IO[E2, B]`, however this implies that `redeem0` can recover from `Interruption`.

Does this mean that `Interruption` should be a subtype of `ExitResult`? @regiskuckaertz any insights on this?

[2018-12-08 16:55] iravid commented on #444
Copying @jdegoes's response from #443 here:

That makes sense, but I'm wondering why is interruption classified as failure?

[2018-12-08 17:03] iravid commented on #444
To clarify - I don't have an opinion on whether interruption should be recoverable or not, just that `redeem0` shouldn't trick us into thinking that ;)

[2018-12-08 17:39] iravid commented on #444
Ok, I locally tried moving `Interruption` up to `ExitResult` and I see how that causes problems in `unwindStack` when coalescing the errors. You end up needing to represent composite failure causes differently as they need to also be able to represent interruption.

[2018-12-08 17:39] #444 closed

[2018-12-08 18:21] jdegoes commented on #444
It's possible to introduce two type parameters into cause `Cause[I, E]`, then `Cause[Interrupted, E]` is interrupted but `Cause[Nothing, E]` would be not interrupted. I'm not sure if it's worth it, though, especially since we're not yet 100% sold on `redeem0` not allowing recovery from interruption.

[2018-12-09 02:14] ghostdogpr commented on #441
@jdegoes isn't it possible that we still want to use the queue even if the stream ends? e.g. to do a clean shutdown, I stop the stream then `takeAll` to save the remaining queue items somewhere.

[2018-12-09 03:02] ghostdogpr commented on #441
@iravid I'm still discovering the stream semantics, maybe you can help me here. How do you end a stream? Can I just catch this by checking `cont`?

[2018-12-09 07:40] iravid commented on #441
Once the Stream's `foldLazy` starts, it can only stop from "inside" (unless of course you fork and interrupt it). The usual strategy is to pass in an `f` and `cont` that will stop when needed.

E.g., carry a boolean inside `S` and check that boolean in `cont`.

Does that help?

[2018-12-09 08:00] ghostdogpr commented on #441
@iravid thanks! I added `queue.shutdown` when `cont` is `false` to the PR.

[2018-12-09 08:16] jdegoes commented on #441
@ghostdogpr Possibly, it should be an option to `shutdown`? Or maybe if you shut down a queue, it should allow the surplus to be taken before rejecting new attempts?

[2018-12-09 08:19] ghostdogpr commented on #441
@jdegoes I think making it optional leaves the most flexibility for the user, they can decide if they want to keep using their queue or not. I'll add it.

[2018-12-09 12:52] #36 closed

[2018-12-09 12:52] #297 closed

[2018-12-09 12:52] #248 closed

[2018-12-09 20:06] JD557 commented on #148
I haven't tested #152, but I guess this issue can be closed now.

[2018-12-10 01:59] RaasAhsan opened #447 "Queue take race condition"
While investigating #438, I discovered a bug that I was able to narrow down to a race condition present in the current implementation of `Queue`. The consequence of the race condition is that elements may be removed from the queue out-of-order in which they were enqueued.

The race condition manifests here (https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/Queu

[2018-12-10 02:56] ghostdogpr commented on #447
Hey, thanks for the detailed report. I'm the one who did this in the first place 😕
The queue is intended to be fair, even though it's getting tricky now that we use several mutable queues (the previous implementation was wrapping everything in Ref.modify so there was no concurrency, which means it was also much slower).

One thing we can do in `offer` is try to poll takers only if the queue is emp

[2018-12-10 05:45] RaasAhsan commented on #447
I tried that out too, didn't see any issues! 😄  Though, just to confirm, the race condition is still there, right?

As far as fairness is concerned, it makes sense that techniques that improve performance would degrade fairness. I can identify several sources of unfairness in the current implementation, and "fixing" them would definitely degrade performance. If a fair queue is desired, perhaps tha

[2018-12-10 08:01] ghostdogpr commented on #447
Yeah I think there's still a very minimal chance that it happens.

I guess it's a compromise to find between fairness and performance. Another approach is Monix which is optimized for speed but with low fairness (no takers and putters queue, every taker and putter keep being retried without order until they can be processed).

I would say that the current implementation maintains both high perform

[2018-12-10 18:06] jdegoes commented on #447
@ghostdogpr I agree. "High performance" and "high fairness" is the sweet spot for 90% of applications.

[2018-12-10 21:52] jozic commented on #325
i'm sort of late for the party, but why doesn't `timeout` take `Duration.Finite` instead of `Duration`? Is there a good use case where someone wants to use `timeout` with `Infinity` which will turn in no-op in best case?

[2018-12-11 01:04] ghostdogpr commented on #447
I included that fix in #443

[2018-12-11 15:40] NeQuissimus opened #450 "Duration"
I would like to be able to do `10.seconds.toNanos` to emulate what I can do with the Scala/Java Duration class.

However, because `DurationSyntax` produces a `Duration` and not a `Finite`, there is no method `toNanos` available unless I pattern match on `10.seconds`.

I can see why `Infinite` does not have `toNanos` but it does make the syntax a bit hard to use in this case...

Edit: `toScalaDurat

[2018-12-11 17:43] #430 closed

[2018-12-11 23:58] #441 closed

[2018-12-11 23:59] ghostdogpr commented on #447
Closed by #443

[2018-12-11 23:59] #447 closed

[2018-12-12 05:05] RaasAhsan commented on #438
Closed by #443

[2018-12-12 05:05] #438 closed

[2018-12-15 11:37] RaasAhsan opened #456 "Queue backpressure strategy race condition"
I came across another race condition in the `Queue` implementation, particularly for the `Backpressure` strategy.

The race condition occurs in `unsafeOnQueueEmptySpace` [here](https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/Queue.scala#L349). Specifically, between the time a putter is polled on line 341 and the putter is added back to the queue on line 349:

[2018-12-15 14:55] ghostdogpr commented on #456
@RaasAhsan Thanks for the report.

I need to add an extra check after re-enqueueing the putter. If the queue is not full (because of the concurrent situation you described), re-execute `unsafeOnQueueEmptySpace`.

Will submit a PR right away. Tried your example a million times and the problem didn't occur anymore.

[2018-12-15 23:55] hepin1989 opened #459 "Rename Stream.run to Stream.runWith ?"
It currently accepts a `Sink` as the parameter, `run` normally not take any parameter.

[2018-12-16 00:01] hepin1989 opened #460 "Promise's implementation should extends AtomicReference directly."
Event the current encoding is great with `extends AnyVal` but without opaque type support which will still be a wrapper.

http://normanmaurer.me/blog/2013/10/28/Lesser-known-concurrent-classes-Part-1/

let's save memory by directly extends the AtomicReference or with an updater.

[2018-12-16 00:15] hepin1989 opened #461 "reduce compareAndSet call."
If the Promise is already completed, then there is no need for allocation.

[code]
could be

[code]

and if it's already done,there is no need to do the CAS too

[2018-12-16 08:47] regiskuckaertz commented on #363
@kaishh good catch (bad pun 😅)! I've just addressed that [here](#462 ).

[2018-12-16 20:45] artempyanykh opened #466 "Stream lock up on merge/joinWith"
Although specs are green the following code locks up in console (ran on commit 832d17a)

In case of `merge` it happens from time to time:
[code]

In case of joinWith it happens every time:
[code]

Not sure what's going on -- I discovered it while trying to add Stream benchmarks that involve merging/joining to quantify the effect on GC pressure from this change https://github.com/scalaz/scalaz-zio/

[2018-12-16 20:54] hepin1989 commented on #466
Have you tested with groupby followed by mergeall ？Akka stream will stop there .

[2018-12-17 20:22] RaasAhsan commented on #466
There are some race conditions causing inconsistent causal orderings in `Queue` that are probably the reason for this. I've reported some via #460 and #447, which are being addressed in PRs #458 . However, I feel like I'm observing some additional ones past those, which I have yet to look into as well.

[2018-12-18 00:00] ghostdogpr commented on #466
I can reproduce the `joinWith` issue with just `Stream.fromIterable(1.to(2))`. The problem is that we call `take` twice concurrently. When one take reaches Take.End, the other `take` will never complete.

I guess that's why originally there was `queue.offer(Take.End).forever` in `toQueue`? Now that there is only one `Take.End`, the logic in `joinWith` doesn't really work. cc @RaasAhsan  @iravid

I

[2018-12-18 01:00] joriscode commented on #407
I will do it as soon as I get a better internet connection (soon)!

[2018-12-18 01:10] RaasAhsan commented on #466
Ah, that's right! I'm not in favor of reverting the `toQueue`, but I have a simple change in mind that'll fix `joinWith`.

[2018-12-18 02:06] NeQuissimus commented on #450
Idea: Create a macro for `seconds`, `minutes` etc.
That should be able to return `Finite` for positive `Int` and `Duration` for negative `Int`, no?
Naturally, this only works at compile time, which is generally what these methods are used for anyways.

[2018-12-18 15:37] artempyanykh opened #473 "Compare GC pressure of Stream.merge/join before and after introducing a OneElementConcurrentQueue"
A follow up to: https://github.com/scalaz/scalaz-zio/pull/465
It's interesting to quantify the effect of specialized OneElementConcurrentQueue on Stream merge/join performance

[2018-12-19 09:16] artempyanykh commented on #466
`Stream.merge` doesn't lock up now, but I get `Interrupted` printed into stdout from time to time. Is it expected?

[2018-12-19 14:46] jdegoes commented on #363
Closed by #462.

[2018-12-19 14:46] #363 closed

[2018-12-19 14:47] #330 closed

[2018-12-19 14:50] jdegoes commented on #461
Excellent goal, however, `state.get()` is not a function (it's non-deterministic because it reads from mutable memory), so it must be called inside an `IO` to preserve referential transparency, so this is not a safe refactoring. You could put it into `IO.sync` but then you will need to flatten the nested `IO` which will be slower than the current approach.

[2018-12-20 01:33] sideeffffect commented on #419
for what it's worth, I liked the old one `def poll: IO[Nothing, Option[ExitResult[E, A]]]` better -- `poll` should behave like little peek if that thing has finished -- and that thing not being finished should be normally expected, it shouldn't be an erroneous exceptional scenario => thus `Option` instead of `fail` (`raiseChecked` maybe soon)

[2018-12-20 07:14] regiskuckaertz commented on #419
imho, that is not the case. We talk about "checked errors" but that's purely a convention, the quantification on `E` is universal, like `Either e a`.

[2018-12-20 08:31] hepin1989 commented on #461
@jdegoes For the `Promise` shouldn't it be safe?

[2018-12-20 11:14] sideeffffect commented on #419
yeah, I get that, it's just that I like to follow the convention closely
thus in my mind:

[code]

my 2 ¢

[2018-12-20 12:36] jdegoes commented on #419
@sideeffffect What are some use cases you're thinking of? We can see how hard it is to solve them using both approaches.

`IO[Nothing, Option[ExitResult[E, A]]` is a (bi) functor in a functor in a (bi) functor. It can be a little awkward to work with. `IO[Unit, ExitResult[E, A]]` is just a bifunctor in a bifunctor. One less level of nesting. Which can make it a little easier.

Maybe. We need use c

[2018-12-20 12:54] sideeffffect commented on #419
:D
![image](https://user-images.githubusercontent.com/9019485/50285982-312d4c80-045e-11e9-8eaf-0a0c0c25acb5.png)

let me answer with a question:
I see a value having all 3 methods on `Promise`
[code]
would you agree with that?

if so, how would you like to name them? I would suggest
 1. `poll`
 2. `get`
 3. `await`

and you're suggesting
 1. `pollOption`?
 2. `poll`
 3. `await`

did I get that rig

[2018-12-20 15:21] jdegoes commented on #461
No, it's never safe. In fact, `get` could be turned into a `val` to make that point clear. It's not an effectful function, it's an ordinary `IO` value.

[2018-12-20 15:22] #461 closed

[2018-12-20 16:09] #272 closed

[2018-12-20 16:09] jdegoes commented on #246
Most likely fixed.

[2018-12-20 16:09] #246 closed

[2018-12-20 16:10] jdegoes commented on #170
Fixed in the new lossless error model

[2018-12-20 16:10] #170 closed

[2018-12-20 16:10] #148 closed

[2018-12-20 16:11] jdegoes commented on #34
This should go into [Cats Effect](https://github.com/typelevel/cats-effect).

[2018-12-20 16:11] #34 closed

[2018-12-20 16:11] #347 closed

[2018-12-20 16:12] jdegoes commented on #93
This will add overhead for a fringe use case. Will close.

[2018-12-20 16:12] #93 closed

[2018-12-20 16:14] #296 closed

[2018-12-20 16:16] jdegoes commented on #278
Fixed in #262

[2018-12-20 16:16] #278 closed

[2018-12-20 16:17] jdegoes commented on #459
We use `runWith` for variants that accept a function, so that would not be appropriate here. It's very customary in FP for `run` methods to take a parameter (runReader, runState, etc.).

[2018-12-20 16:17] #459 closed

[2018-12-20 20:41] hepin1989 commented on #459
@jdegoes Thanks for the explanation.

[2018-12-20 21:07] leobenkel opened #477 "Documentation returns 404"
The documentation was working until few minutes ago it starts returning 404 : https://scalaz.github.io/scalaz-zio/

[2018-12-21 17:08] jdegoes opened #479 "Failure to deploy release"
[code]

[code]

@NeQuissimus Any idea what's going on here?

[2018-12-21 21:51] jdegoes commented on #419
How about:

We could also just have (1) `poll` and (3) `await`, and then add a method:

[code]

You could imagine `left` and `right` variants too.

Then you could do `poll.get` for the `Unit` erring variant.

[2018-12-22 01:14] jdegoes commented on #479
Fixed by deleting the staging junk. I don't know why this happened.

[2018-12-22 01:14] #479 closed

[2018-12-22 01:14] jdegoes commented on #477
Fixed!

[2018-12-22 01:14] #477 closed

[2018-12-22 01:15] ghostdogpr commented on #466
@RaasAhsan @artempyanykh I stopped printing interruptions in https://github.com/scalaz/scalaz-zio/pull/478 (just merged)

[2018-12-22 03:42] leobenkel commented on #477
Thank you !

[2018-12-23 19:35] regiskuckaertz commented on #419
Oh sweet, yeah I like that!

[2018-12-24 13:21] wongelz opened #481 "Stream.bracket produces stream with only first element"
Not sure if this is the correct usage, as there isn't much documentation to go by, but Stream.bracket seems to only ever produce 1 element...

[code]

(File IO swapped out for simple reproducible code in the example)

[2018-12-25 04:42] hepin1989 commented on #461
great to make it a `val` @jdegoes

[2018-12-26 23:08] Alexey8127 opened #483 "Queue.unbounded (bounded too) doesn't actually create new Queue when it appears as the fist IO"
I've made a simple example of Queue usage:
[code]
And found strange behavior in my REPL:
[code]

But if I add simple IO before Queue creation everything looks fine:
[code]
The corresponding output from REPL:
[code]

[2018-12-27 00:31] ghostdogpr commented on #483
Nice catch! I found the reason, will submit a PR for it ASAP.

[2018-12-28 06:58] leobenkel opened #486 "How to test ?"
Hello,

I have been writing a project using Scalaz-Zio and using IO throughout the project.

However, I am puzzled on how to write test for it.

How do I use `assert(true, ...)` when my value is `IO[Error, Boolean]` ?

Or `assert(HaveSucceed, ...)` ?

Thank you.

[2018-12-28 07:09] ghostdogpr commented on #486
If your test class extends `RTS`, you can use `unsafeRunSync` on your IO to run it and receive an `ExitResult[E, A]` when it's completed. You can then use pattern matching on the `ExitResult` (or use `toEither`) to check if it was a success or failure.

[2019-01-04 00:49] RaasAhsan commented on #481
Correct me if I'm wrong, but it seems like your `use` is just reading a single value off the `Iterator`.

[2019-01-04 11:48] wongelz commented on #481
Yes, given the type signature `read: A => IO[E, Option[B]]`, I would expect it to keep calling until it receives `IO` containing `None`.

[2019-01-07 17:48] NeQuissimus opened #487 "leftFlatMap"
I have just found myself needing `leftFlatMap`. Was this a conscious decision to not include this function?

Here is my use case:

I have an `IO[E, A]` and would like to "get rid" of the `E`. I am doing this in my `RTS`, where I provide `run` with an `IO[Nothing, ExitStatus]`.
In my case, `type E = Throwable`, which I would like to log before returning an `ExitStatus.ExitNow(1)`.
So now I find mys

[2019-01-07 18:30] regiskuckaertz commented on #487
`io.catchAll(log)`?

[2019-01-08 16:10] jdegoes commented on #487
I'm not opposed to adding it. Note you can always do `io.flip.flatMap(f).flip`.

[2019-01-08 17:14] NeQuissimus commented on #487
Yeah, that's what I did. Just seemed odd that I have to flip back and forth :)

[2019-01-08 17:17] jdegoes commented on #487
We should have, at least, a combinator `flipWith`:

[code]

[2019-01-09 01:10] sideeffffect commented on #419
I've implemented this as an extension method over at https://github.com/scalaz/scalaz-zio/pull/469

[2019-01-09 02:19] jdegoes commented on #450
We could add `toNanos` and make it return `Long.MaxValue` for `Infinite`?

[2019-01-09 13:52] NeQuissimus commented on #450
That would solve the issue but strictly speaking this would be incorrect.

[2019-01-09 14:00] sideeffffect commented on #419
or do you think the `implicit ev1: E =:= Nothing` approach is better?
I myself am not very sure...

[2019-01-09 18:02] jdegoes commented on #419
@sideeffffect It's fine either way. Since we're using the syntax pattern, let's stick with that.

The main advantage of the method style is that it is always there (easy to find for IDEs) and has good error messages. But if we want to do that, we should be consistent and port over the relevant syntax ones.

[2019-01-09 22:37] sideeffffect opened #489 "Migrate from extension methods to implicit ev: A =:= B"
Example:
[code]
instead of
[code]

[2019-01-09 22:37] sideeffffect commented on #419
@jdegoes cool, let's deal with it in another ticket: https://github.com/scalaz/scalaz-zio/issues/489

[2019-01-10 09:38] sideeffffect commented on #335
can we have a Scalafix rule for that?

[2019-01-11 00:43] NeQuissimus commented on #489
So is the idea to get rid of all the syntax extensions across ZIO?

[2019-01-11 09:04] sideeffffect commented on #489
those that can be expressed with `implicit ev1: A =:= B` I suppose...

[2019-01-11 18:04] NeQuissimus opened #500 "flatMap on fail"
I am confused :)

I am looking at the current implementation of `IO.(f|F)latMap`
https://github.com/scalaz/scalaz-zio/blob/fb92adbb8d3e5bbfa02239afd2f2a156dc9df4ab/core/shared/src/main/scala/scalaz/zio/IO.scala#L87

https://github.com/scalaz/scalaz-zio/blob/fb92adbb8d3e5bbfa02239afd2f2a156dc9df4ab/core/shared/src/main/scala/scalaz/zio/IO.scala#L849

Should it not shortcut `flatMap` if the `IO` has

[2019-01-12 09:47] regiskuckaertz commented on #500
True that it's done in `map`.

[2019-01-12 15:40] #287 closed

[2019-01-12 15:44] jdegoes commented on #489
Yes, just those that can be expressed with implicit evidence. This will make the code more consistent and lead to better IDE auto-completion and better error messages.

[2019-01-13 17:30] #487 closed

[2019-01-14 16:14] sideeffffect opened #507 "Finish cleaning up the API"
(from https://github.com/scalaz/scalaz-zio/pull/469#issuecomment-453850064 )

- [ ] Add missing `succeed` methods (some have `succeedLazy` but not `succeed`)
- [ ] `leftMap` => `mapError` (in `IO`, `Exit`, etc.)
- [ ] `redeemPure` => `fold`
- [ ] `asyncIO` => `asyncM`
- [x] `raceBoth` => `raceEither`
- [ ] `<||>` renamed to an alias

**EDIT**: Change to use named constructors for anything returned

[2019-01-14 16:14] sideeffffect commented on #507
@jdegoes please include this in https://github.com/scalaz/scalaz-zio/issues/401

[2019-01-14 16:14] sideeffffect commented on #489
@jdegoes please include this in https://github.com/scalaz/scalaz-zio/issues/401

[2019-01-15 14:07] jdegoes opened #510 "Built-in support for testing IO programs"
Supersedes #263, #264

[2019-01-15 14:14] #263 closed

[2019-01-15 14:15] #264 closed

[2019-01-16 03:24] leobenkel opened #511 "Logs while running unit test "Checked(...)""
Hey,

When I run test, using `RTS` trait in my test, I see a lot of `Checked(....)` in the log which are super annoying. It happens when I try to test that a test have failed properly.

[code]
and then I can `assert(unsafeRunToEither(io).isLeft)` to make sure it has failed as expected.

Is there a way to remove the logs ?

[2019-01-16 13:55] lemastero commented on #417
There will be hackaton. We would like to work on docs. Well unless someone is already taking care of that.

[2019-01-16 14:09] NeQuissimus commented on #417
@lemastero Go for it!

[2019-01-16 14:12] NeQuissimus commented on #511
I have this as my base test suite, it clears the logs:

[code]

[2019-01-16 15:37] hochgi opened #512 "add (performant) abstraction over semilattices"
I describe an aspect of the problem in a blog post:
https://blog.hochgi.com/2019/01/fp-ish-patterns.html?view=classic

In general, given a "join" function that is commutative and associative, we can optimize computation by re-ordering the application of that function over a sequence of elements.

here's an example to clarify what I mean:
[code]

This can obviously be implemented as `a.reduce(f)`,

[2019-01-16 16:00] lemastero opened #513 "chunkN / bufferTumblin / sliding for StreamChunk API"
I did not notice capability to split the stream into parallel n chunks like here: https://github.com/monix/streaming-benchmarks/blob/master/src/main/scala/streaming/benchmarks/ChunkedEvalFilterMapSumBenchmark.scala#L116

ZIO benchmarks: https://github.com/scalaz/scalaz-zio/blob/master/benchmarks/src/main/scala/scalaz/zio/StreamBenchmarks.scala#L64 create nested structure before the stream is creat

[2019-01-16 16:20] lemastero opened #514 "Add Twitter Future/ReactiveX Single/Java Future for IO Benchmarks"
It would be nice to have:

1. [Twitter Future](https://twitter.github.io/finagle/guide/Futures.html)
2. [Java  Future](https://docs.oracle.com/javase/8/docs/api/index.html?java/util/concurrent/Future.html), [Java CompletableFuture](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html)
3. Java Thread
4. [ReactiveX](http://reactivex.io/documentation/single.html)

in

[2019-01-16 18:11] fkowal commented on #514
https://github.com/fkowal/scalaz-zio/tree/java_benchmarks

I wanted to see this for myself. I implemented java completablefuture, rxjava.single, reactor.mono

I could polish what done already and fillin the missing ones

[2019-01-17 12:41] lemastero commented on #514
@fkowal  I think that would be nice PR (or two).

[2019-01-17 19:56] bbroeksema commented on #426
Looking at it, but need a bit of guidance:

1. As I understand the project structure, code under core/shared is shared by jvm and js projects under core.
2. There are a bunch of files in core/shared which depend on OneShot

Consequently, moving OneShot to core/jvm/... are no longer compiling. Should all those files move to core/jvm as well? If not, how than should be solved, because adding a dep o

[2019-01-17 21:10] fkowal commented on #514
#518 here's a first PR, open for comments

[2019-01-18 02:57] wongelz commented on #426
@bbroeksema

1. core/shared is shared by jvm and js projects, but conversely, core/shared can also call methods in jvm and js; if there are corresponding copies in each with the same package/class/method signatures. See how MutableConcurrentQueue (in shared) can use OneElementConcurrentQueue and RingBuffer (which reside in jvm/js). So IO can stay in shared and it will still compile (although Intel

[2019-01-18 07:19] bbroeksema commented on #426
@wongelz is there some documentation somewhere on how to test the ScalaJS part? I have literely 0 experience with ScalaJS, so it's not clear to me how to trigger the error above.

[2019-01-18 07:48] wongelz commented on #426
@bbroeksema The commands to run tests separately for ScalaJS/JVM on the core module are:
`sbt 'coreJS/test'`
`sbt 'coreJVM/test`

If you set up a simple unit test that performs a set and a get on a OneShot you should see it pass for JVM and fail with linking errors for JS.

[2019-01-18 08:14] bbroeksema commented on #426
Well, @wongelz that's weird. See #520. That one actually compiles and runs the test succesfully for me locally.

[code]

[2019-01-18 23:06] #450 closed

[2019-01-19 13:57] leszekgruchala commented on #489
Couldn't methods like `IO.absolve/flatten/unsandbox/whenM/when` and their `*Syntax` counterparts also be moved to `trait IO` using the same pattern? Or do I miss something?

[2019-01-19 14:30] #500 closed

[2019-01-19 16:15] #428 closed

[2019-01-19 16:27] NeQuissimus opened #525 "Efficiency of shortcutting"
Follow-up to #508

Methods such as `IO.map` and `IO.flatMap` currently switch over the IO's `tag`.
There may be more efficient ways of deciding code paths.

@jdegoes mentioned the Visitor Pattern
Subclassing may also be an option.

We should create some benchmarks to compare the different solutions.

[2019-01-19 16:29] #481 closed, assigned to nobody

[2019-01-19 23:47] NeQuissimus commented on #525
It's all yours :) Don't worry about the timeline

[2019-01-20 01:02] sideeffffect opened #527 "Don't suspend side-effects in function closures"
some of our interop methods look like this
[code]

but we shouldn't be suspending side-effects in function closures (`() => Future[A]`). thus the signatures should be (we might need to remove some methods):

[code]

[2019-01-20 20:11] bbroeksema commented on #426
@jdegoes huis issue can be closed I guess as me pr got merged.

[2019-01-20 21:17] LGLO commented on #525
I've made first benchmarks. I'll present this after some cleanup and further investigation, but anyway I don't intend such experiment to be merged.

`self.tag @switch match {...` is faster than overriding `map` in subclasses. TBH I don't understand why, because `self.tag` is polymorphic call and then uses quick switch and `asInstanceOf`, when adding `def map` and overriding in subclasses shoul use

[2019-01-20 22:01] NeQuissimus commented on #426
Closing. See #520 for details.

[2019-01-20 22:01] #426 closed

[2019-01-21 15:41] LGLO commented on #525
@NeQuissimus https://github.com/scalaz/scalaz-zio/pull/530 although I don't think it proves anything.

[2019-01-23 04:42] leobenkel commented on #511
ah thank you !

[2019-01-23 22:50] NeQuissimus opened #533 "Test utilities"
We should have some sort of `scalaz-zio-testing` that contains classes that are not really useful in the library itself but rather help users test their IO components.

See #529 for an example (comment)

[2019-01-23 22:53] NeQuissimus commented on #511
This may be a candidate for #533, maybe we provide some sort of `TestingRTS`.
I think otherwise we have solved your issue? Reopen if not.

[2019-01-23 22:53] #511 closed

[2019-01-24 12:24] vitaliihonta commented on #533
Can I take this one?

[2019-01-26 08:29] iravid opened #538 "Remove Sink.Step in favor of methods on Sink"
We can (probably) do away with Sink.Step by adding `def leftover(s: State): Chunk[A0]` and `def cont(s: State): Boolean` to Sink.

[2019-01-26 09:46] #241 closed

[2019-01-27 00:36] jdegoes opened #543 "Refactor Managed to be more general"
Concurrent data structures can benefit from a more general notion of managed resource, which allows acquisition to be interrupted.

To serve these aims, `Managed` must be refactored into something like this:

[code]

It should be possible to reconstruct the same capabilities around this definition of `Managed`, including a careful reconstruction of `Managed.apply`.

After this is in place, we can

[2019-01-27 00:36] jdegoes commented on #543
/cc @iravid

[2019-01-27 01:08] ghostdogpr commented on #75
Closed by #536

[2019-01-27 01:08] #75 closed

[2019-01-27 01:09] ghostdogpr commented on #79
Closed by #446

[2019-01-27 01:09] #79 closed

[2019-01-27 01:12] ghostdogpr commented on #419
Closing as `poll` not returns an `Option`.

[2019-01-27 01:12] #419 closed

[2019-01-27 01:52] ghostdogpr commented on #507
I'll do this one. A couple questions though:
- The deprecated functions are the aliases (e.g. `IO.traverse` is a deprecated alias for `IO.foreach`). I think the intention was to keep them for discoverability. Do you think we should get rid of them or keep them? Deprecated or not?
- `fold` and `asyncM` already exist but they are aliases at the moment. Do you want them to become the main function an

[2019-01-27 07:50] #358 closed

[2019-01-27 09:38] ghostdogpr commented on #507
OK, I will remove the deprecated methods then.

[2019-01-27 10:59] #507 closed

[2019-01-27 11:21] iravid commented on #543
Sounds very useful. Would adding another constructor (e.g. `Managed.interruptible`) not work? Where instead of using `bracket` in `use`, we use `ensuring`?

[2019-01-27 12:43] jdegoes commented on #543
Where would you get the `R` to feed to `release`?

[2019-01-27 12:58] iravid commented on #543
`// with some Ref dances to ensure release is actually run even if f is interrupted` ;-)

[2019-01-27 12:59] jdegoes commented on #543
The problem is that the release must be run _even if_ the acquire is interrupted, and does not produce the `R`.

[2019-01-27 12:59] iravid commented on #543
Can we keep around a `Ref[Option[R]]`?

[2019-01-27 13:01] jdegoes commented on #543
Yes, but the type signature of release demands you supply an `R`. That's why I think the above formulation is more general, because it doesn't assume that `R` is produced, so the bracket version can deal with that using a Ref Option (for example).

[2019-01-27 13:07] iravid commented on #543
Ah, I see.

But let me refocus my question: I was originally trying to understand how `UseToken` is different than keeping an `acquire` and `release`.

If I understand correctly, we can create a `Managed` usable for `Semaphore` by plugging different logic in the `use` method. I'm not sure I follow why we need to keep both `acquire` and `release` in an `IO`.

[2019-01-27 13:40] jdegoes commented on #543
This is mainly for concurrent data structures, which exhibit the following pattern:

1. They allocate memory (`setup`), typically a promise, which is effectful.
2. The acquire action only modifies state, but can be interrupted, _unlike_ acquire in bracket.
2. The release action is capable of knowing whether or not acquire succeeded merely by looking at the state (and the allocated memory, e.g. `Pr

[2019-01-27 13:55] iravid commented on #543
Ah, thanks, this makes the purpose clearer. I also forgot that we rely on the `acquire` and `release` methods in the combinators, so we can't just stuff all the logic into `use`.

[2019-01-27 13:56] iravid commented on #543
I'll give this a go some time this week.

[2019-01-28 00:53] sideeffffect commented on #489
@LGLO yep, looks good to me. thanks!

[2019-01-28 01:43] #489 closed

[2019-01-28 05:18] wongelz opened #548 "RTSSpec for scala.js - to share or to dupe"
This issue is to discuss/track the approach to refactor the existing `RTS` unit tests to cover scala.js (#22). (This depends on #515)

The tests in `RTSSpec` can be categorised into three groups:
1. Tests that will run in both JVM & JS and therefore can be shared (mainly synchronous code)
2. Tests that can be refactored to pass in JS by returning a `Future` to specs2 (ie. asynchronous code) - we w

[2019-01-29 22:48] jdegoes commented on #548
I think we should share but there's no rush. I'd like to switch to use `testz` for testing, in which case all this will become much simpler.

[2019-01-30 19:38] fkowal commented on #514
PR merged. Java Future and Java thread are missing.
Java Future is an interface with tons of implementations. So i am not sure about it.
Java Thread i am having trouble thinking of how this would look like

[2019-01-30 21:05] jdegoes opened #551 "Intermittent failure in toIO stack safety"
[code]

[2019-01-31 10:34] lemastero commented on #514
@fkowal true :) Great job! Thank you very much for adding those benchmarks ❤️ I need those.

[2019-01-31 10:34] #514 closed

[2019-02-02 12:38] lemastero opened #556 "add Chymyst to zio benchmarks"
@winitzki have done interesting work - implementation of Join-Calculus on JVM
There are some [benchmark in Chymyst/chymyst-core](https://github.com/Chymyst/chymyst-core/tree/master/benchmark/src/main/scala/io/chymyst/benchmark)

I wonder if some of zio benchmarks could include also this approach to concurrency.

I'd love :heart:  to see the numbers :)

[2019-02-04 06:42] daron666 commented on #551
@jdegoes I wasn't able to reproduce this one locally with master branch. Can you confirm?

[2019-02-04 09:21] vitaliihonta commented on #122
@jdegoes can I take it?)

[2019-02-04 12:09] jdegoes opened #559 "Intermittent failure in RTS spec reusing cached thread"
[code]

[2019-02-04 12:21] jdegoes commented on #551
That looks like the failure. Cats has a strange notion of "equality" and diagnosing these issues is a real pain.

One think I've tried is a sanity check: override the definition of equality for `IO` in the test suite, just check that the unsafeRun` values are equal.

/cc @kaishh

[2019-02-04 18:43] kaishh commented on #551
@jdegoes that's what we're doing currently. 'IO coherence checks' are disabled right now equiv only checks values

[2019-02-04 20:57] jdegoes commented on #551
Maybe we can just increase the timeout?

[2019-02-04 21:09] LGLO commented on #551
Will https://github.com/scalaz/scalaz-zio/pull/560 be enough for now? If failure happens and there is no println indicating time out then problem is somewhere else.

[2019-02-06 21:36] winitzki commented on #556
See this video for some very simple benchmarks https://www.youtube.com/watch?v=SgAneCA262o&list=PLcoadSpY7rHWh23clCzL0SuJ4fAtzVzTb&index=11  and code https://github.com/Chymyst/Chymyst/blob/master/src/test/scala/io/chymyst/lab/ChymystForkJoin.scala   - the result is that `zio` fibonacci benchmark is a bit slower than other implementations.  But the Chemical Machine implementation, when done comple

[2019-02-07 23:51] #543 closed

[2019-02-08 00:37] #22 closed

[2019-02-08 00:45] jdegoes opened #562 "Release monix task is failing master build"
See [here](
https://travis-ci.org/scalaz/scalaz-zio/jobs/490316716).

@NeQuissimus Do you think you could disable this until we get it fixed? I'd like to do a release.

[2019-02-08 00:46] jdegoes commented on #559
@kaishh Any ideas on this one?

[2019-02-08 00:48] jdegoes commented on #401
Nearly there!

[2019-02-08 01:12] NeQuissimus commented on #562
Oh, bloody Travis CI...

[2019-02-08 02:55] NeQuissimus commented on #562
I commented out `interop-monix` for now. I genuinely do not know why it is failing the way it is. But it is also late here and I am tired :)

[2019-02-08 02:57] #562 closed

[2019-02-08 03:07] jdegoes commented on #562
@NeQuissimus Thanks for the quick fix...er bandaid. 😄 🙏

[2019-02-08 16:07] jdegoes opened #564 "Split Queue into contravariant / covariant pieces"
Currently `Queue[A]` has one type parameter. We should refactor it to have two:

[code]

Then define `type Queue[A] = Queue2[A, A]` and define `val Queue = Queue2` (a fake "companion object" for the `Queue` type synonym).

Then because `Queue2` will not be invariant anymore, we can define combinators on Queues, such as:

[code]

Since this would be a breaking change, I'd like to get this in before

[2019-02-08 16:19] jdegoes opened #565 "Prototype cats effect 2.0"
Based on [this design](https://github.com/typelevel/cats-effect/issues/321). Could stick in the interop package and work out all the kinks before PR'ing to cats-effect.

Suggestion by @kaishh

[2019-02-08 16:24] jdegoes opened #566 "Split Ref / RefM into covariant / convravariant pieces"
Currently `Ref` and `RefM` have one type parameter. We may benefit from versions that have two:

[code]

Then type synonyms and fake package objects for the normal ones:

[code]

Then code which only needs to "get" can use `Ref2[_, A]`, while code that only needs to "set" can use `Ref2[_, A]`, and we can add methods to `Ref2` including standard ones like map, zip, contramap, etc.

[2019-02-08 21:35] LGLO commented on #564
What is definition of done for this issue? Does it contain all mentioned combinators or is it only about defining Queue2 and refactoring current code?

[2019-02-09 00:20] ghostdogpr commented on #564
Isn’t Queue2 quite redundant with Stream? I don’t see what it brings that I couldn’t do with Stream.

[2019-02-09 10:41] rightfold commented on #566
Code that only needs to get or set could just use `IO[Nothing, A]` and `KleisliIO[Nothing, A, Unit]`, no?

[2019-02-09 12:36] regiskuckaertz commented on #564
`Queue2` models [transducers](https://clojure.org/reference/transducers) and are not lazy (therefore not a good abstraction for infinite streams). Streams are much more powerful I would say, allow for a much broader set of usages.

[2019-02-09 15:23] jdegoes commented on #564
@ghostdogpr What @regiskuckaertz said. 😄

The filter method on a queue can be used to partition the work of the underlying queue into independent sets; e.g. imagine building a message hub on a queue where you want to return "views" of that queue for different components.

@LGLO I think definition of done is just making the separation (in a backward-compatible way). We can add methods to a class wi

[2019-02-09 15:25] jdegoes commented on #566
The main point of this is to add "views" of a ref. Maybe this isn't helpful since you can just pass the "get" function directly and map over that?

[2019-02-09 15:25] #566 closed

[2019-02-09 15:43] ghostdogpr commented on #564
I see, thanks.

Can we construct a Queue2 directly or only through map/filter/etc on a Queue?

[2019-02-09 15:49] jdegoes commented on #564
Queue will just be a type synonym for Queue2, and there's no need / way to construct one directly (i.e. different input / output parameters). But if you filter or map a Queue (e.g. `I` = `O`), then it will "change" into a Queue2, by which I mean you can't use the type synonym for it anymore.

[2019-02-10 17:30] tampler opened #567 "Bounded queue hangs for .offerAll when the put size exceeds queue max size"
Hi John

Thanks for building an awesome lib. I started to use it and found a bug in queue implementation.

My code works for small inputs, when the buffer size fits into the bounded queue. However, if I **offerAll()** a large IList, the execution **silently hangs** without any "side effects" and exceptions until Ctrl+C

Here's my project
git clone -b fiberbug https://github.com/tampler/interview_s

[2019-02-10 22:23] ghostdogpr commented on #567
Hi,

This is the expected behavior for the back pressure strategy: `offerAll` will return once all items have been added. If you don’t want to wait and pause the current fiber, you have to use `fork`. See https://scalaz.github.io/scalaz-zio/datatypes/queue.html

[2019-02-11 00:22] kaishh commented on #559
Likely just interference from other tests running in parallel, causing a new thread to appear in unyielding pool that fails `eq` test. will address

[2019-02-11 07:39] tampler commented on #567
Hi @ghostdogpr

Thanks for your oppinion. I disagree. In MY case, the program silently hangs with no signs of a runtime problem. In a larger system, that may be a substantial bug, which is very hard to spot out.

At least a warning should be issued, no? This is a lib design question, so I'm interested in what @jdegoes
thinks on that behalf. Anyways, you're welcome to offer your solutions to this

[2019-02-11 09:09] ghostdogpr commented on #567
@tampler I'm not giving you my opinion, I'm just telling you how it works. It is not a runtime problem: with a Back Pressure strategy, `offerAll` returns an IO that completes once all items have been added to the queue. If you use an unbounded queue or a Dropping or Sliding strategy, `offerAll` will return immediately.

You can refer to this video of John presenting ZIO Queue: https://www.youtube.

[2019-02-11 13:45] jdegoes commented on #567
It's true that if you offer more than can fit into the queue, then the offer side is _suspended_ until more room is available; this lets you build "composable backpressure" into your whole application, so producers never completely overwhelm consumers.

Note that it's not an actual _hang_. That is, after your consumers drain enough from the queue that the producers can put their elements in, the p

[2019-02-11 21:19] jdegoes commented on #559
@kaishh Thanks!

[2019-02-12 13:40] tampler commented on #567
Thank you for a great explanations. Many newcomers would benefit, if you update Queue docs with a short memo concerning this issue.

As for a DAG design, a commercial product would involve IO to external things, not internal components.

A short offtopic question: How can I export ZIO web documentation to EPUB or MOBI formats?

Thank you once again for building, maintaining and supporting this awe

[2019-02-16 20:39] #567 closed

[2019-02-17 12:27] lahiguera commented on #417
I volunteer for the `Data Types` section, except for `Stream` since @lemastero is already working on that. However I first need to understand ZIO, so I'm might not be as quick as desired but it will be a constant progress.

My plan is to tackle each sub-section of `Data Types` one after the other, in different PRs, but not necessarily in the order that they appear in the "table of content" of phas

[2019-02-19 02:14] NeQuissimus commented on #417
Honestly, writing docs is perfect for learning. Go for it, see what you can come up with an PR it. Even the smallest improvement to the docs is still an improvement!

[2019-02-19 05:07] sbogutyn opened #573 "Element-level error combinators for Stream"
I would like to have a possibility to continue processing the stream in case of failure.
In example below, just skip the current number on failure and process next one:

[code]

[2019-02-19 08:27] iravid commented on #573
Hi @sbogutyn, we're currently lacking in error handling combinators on `Stream` itself. In the mean time, you can work around that by using handling the error on `IO`:
[code]

[2019-02-19 18:25] sbogutyn commented on #573
Hi @iravid, thanks for help, this solved my problem.

[2019-02-19 19:49] jdegoes commented on #573
@iravid I think this ticket can be a good use case for at least one error combinator on `Stream`, which handles not the errors of the `Stream`, but the errors of the function passed to fold.

[2019-02-19 20:52] iravid commented on #573
Ah that's a good idea. I'm lacking mental bandwidth right now so I'll try and come back to this next week.

[2019-02-19 21:29] mvv opened #574 "Interrupting cancelable asynchronous resource allocations"
I think it would be useful for the library to make a conceptual distinction between interrupting control flow and interrupting "long" operations. For example, adding a variant of `asyncInterrupt` that is cancelable even inside `.uninterruptible` (at least when `noInterrupt <= 1`) would allow us to use potentially long allocating operations inside `bracket`s `acquire`:
[code]
Surely, I don't want t

[2019-02-20 22:13] lemastero commented on #556
I think I am trying compare apples with oranges in here. Closing for now.
Thank you for insight @winitzki :bowing_man:

[2019-02-20 22:13] #556 closed

[2019-02-20 22:54] lemastero commented on #417
@lahiguera If you add some Streams stuff in docs I don't mind. I've prepared some examples, wanted to translate stuff from fs2 and monix tutorial. But the time ... and zio api changed in the meanwhile too :)

[2019-02-23 18:38] jdegoes commented on #574
I'm open to doing some work here, but it needs to be extremely well developed because of the potential for resource leaks. @systemfw has some ideas.

Have you considered using `Managed`? Managed lets you describe a resource whose acquisition can be interrupted safely. It's a slightly different pattern than bracket but may accomplish what you're looking for here.

Note that this example has a race

[2019-02-23 20:31] samuelsayag commented on #413
Hello,
I am really a beginner with this library but thought I could do some scaladoc to learn it. Is there somebody already doing it?
That is also my first time contributing to anything so please give first aid/advice/thing not to do if relevant.

By the way, if it is of any importance:
I cloned the project and add it for the console just to see the look but it could not be generated.
And then aft

[2019-02-24 07:33] mvv commented on #574
* As far as I can tell, only compound (i.e. made with `flatMap`) `Managed` are interruptible, individual `Managed.make` are still uninterruptible in `acquire`. There is a test for that behavior in `ManagedSpec`.
* I could've been more clear about the example. The `future` there is *not* `scala.concurrent.Future`, but something properly designed for cancellation, like Netty's `ChannelFuture`. Anywa

[2019-02-27 07:35] jdegoes opened #584 "Failure to deploy release"
The release process is not working for the RCN candidates. If anyone has spare cycles, I'd appreciate a look, otherwise I'll get around to it when I can!

[2019-02-27 12:04] jdegoes opened #585 "Ensure proper mapping from thread interruption to ZIO interruption"
When a ZIO fiber is being interrupted (by Thread.interrupt) such interruption should run all finalizers and be cleanly translated into an `Exit.Cause.interrupt` (not `Die(InterruptedException)`).

[2019-02-27 12:46] NeQuissimus commented on #584
I don't currently have the cycles but I don't think an "RC" is allowed as a release artifact. I believe it is similar to "SNAPSHOT" artifacts being considered non-releases.

[2019-02-28 01:47] ghostdogpr commented on #584
I had a look at the Travis logs and it seems:

- The RC1 release failed in the middle of uploading the symbols because of a timeout from Sonatype. Seems to be independent from us?
[code]
- The RC2 release failed because the artifacts generated were named -RC1 and they already exist.
[code]

Now what I don't understand is why the RC2 used `-RC1`. Maybe because both are on the same commit? There was

[2019-02-28 07:27] LGLO opened #586 "`bracket` type inference problem when `acquire` E is subtype of `use` E"
[code]
Currently it doesn't compile because `use` is expected to be `ZIO[Any, Exception, Int]`.

Should work when acquire E is subtype of use E and when use E is subtype of acquire E.

EDIT:
R type inference fails here:
[code]

~Let me try to solve this puzzle.~

[2019-02-28 09:01] ghostdogpr opened #587 "Incompatibility of ioTimer in Cats interop"
Cats' `ConcurrentEffect[F]` requires a `Timer[F]`.
There was in our catz interop an `implicit def ioTimer` that returned a `Timer[Task]`.

With the new ZIO Environment, ioTimer is defined as below:
[code]

It returns a `Timer[ZIO[R, E, ?]` with `R <: Clock`, but this doesn't match the definition of `Task`.

Shall we use `Clock.Live` directly instead of relying on an environment here? Or require an

[2019-02-28 09:21] kaishh commented on #587
It should probably just take an implicit Clock as before and use IO.provide to discharge back to Task. We can provide a low priority instance for ZIO[R] without an implicit too

[2019-02-28 10:25] ghostdogpr commented on #587
Sounds good. I’ll work on this tomorrow.

[2019-02-28 16:13] oxbowlakes opened #588 "Rename Platform#nonFatal => fatal and thoroughly document"
I'm somewhat confused (I've looked at PR #182) as to whether there is a bug in https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/internal/FiberContext.scala#L293-L297. The code is

    } catch {
        // Catastrophic error handler. Any error thrown inside the interpreter is
        // either a bug in the interpreter or a bug in the user's code. Let the

[2019-03-01 08:35] LGLO commented on #586
Well, if anyone can implement it, don't wait for me. I have to master variance and type-inference before being able to implement it.

[2019-03-02 12:22] jdegoes commented on #588
It's conventional to _not_ catch any catastrophic VM-level errors

The reason is that, for example, if the VM is out of memory, then subsequent cleanup operations that allocate additional memory are not well-defined.

Now by default, only a `VirtualMachineError` should be considered "fatal". So an ordinary `Exception` should make it to the error reporter, allowing you to exit the VM (which I think

[2019-03-03 20:51] oxbowlakes commented on #588
The behaviour I'm seeing is consistent with what you have explained here - it was my misunderstanding of what "non-fatal" might mean in the context of ZIO's top-level exception handling. I think that it might warrant some documentation on the method `Platform::withNonFatal` what the intended use of that is, and what the consequences of it will be.

For example, the default implementation is a conf

[2019-03-03 20:56] jdegoes commented on #588
No worries! Let's leave this open with a new title to document the method and rename it to `fatal` instead of `nonFatal`.

[2019-03-03 20:58] jdegoes commented on #510
Closed by [ZIO environment](#582)

[2019-03-03 20:58] #510 closed

[2019-03-03 22:03] mschuwalow commented on #525
Sorry for butting in.
I think maybe using an explicit if-then-else might be another approach to consider.
Of course it isn't as nice but it might prove to be more performant, expecially if some code paths are taken far more often than others.

If a larger number of cases has to be considered using the numeric values of the tags and essentially doing binary search might be interesting. Something li

[2019-03-04 12:01] runtologist opened #598 "introduce `interop-reactiveStreams` module"
Introduce a `interop-reactiveStreams` module that allows to:
- [x] turn Streams into reactive streams Publishers and Sinks into reactive streams Subscribers - resolved by #599
- [x] turn reactive streams Subscribers to Sinks and reactive streams Publishers to Streams

The implementation should adhere to the spec (https://github.com/reactive-streams/reactive-streams-jvm) and in particular pass all

[2019-03-04 12:02] runtologist commented on #598
I'll submit a PR

[2019-03-04 12:39] runtologist commented on #598
#599

[2019-03-04 14:27] guizmaii commented on #510
Hey @jdegoes,

The link in "Closed by ZIO environment" is not correct.

It's: https://github.com/scalaz/scalaz-zio/issues/510#582
While it should be https://github.com/scalaz/scalaz-zio/issues/582

;)

[2019-03-04 15:25] iravid opened #600 "`Stream#zip` does not prioritize stream failures"
Reproduction:
[code]

This hangs instead of failing.

[2019-03-04 18:49] jdegoes commented on #510
@guizmaii Fixed! Apparently I don't know how to link to issues. 😄

[2019-03-04 22:05] jdegoes commented on #586
This would be a good test to add!

[2019-03-05 08:07] iravid commented on #598
Good stuff. I edited the original description to describe both "sides" of the interop. Would you like to work on the other half as well?

[2019-03-05 08:19] runtologist commented on #598
Yes, I will give it a try.

[2019-03-06 13:44] #600 closed

[2019-03-06 13:48] iravid opened #603 "Allow narrowing of `R` in Sink composition"

[2019-03-06 20:27] antoinesauray opened #605 "Task is not a member of package scalaz.zio.interop"
The [microsite](https://scalaz.github.io/scalaz-zio/interop/catseffect.html) does not seem to be up to date with the new Task class package

[2019-03-06 21:31] #603 closed

[2019-03-07 11:56] Vilkina commented on #417
I'm working on "Effects" now.

[2019-03-07 13:56] runtologist commented on #598
#609

[2019-03-07 14:42] ghostdogpr commented on #605
Fixed by #606

[2019-03-07 14:42] #605 closed

[2019-03-07 15:08] iravid opened #610 "Possible memory leak in queue.awaitShutdown"
Still requires investigation, but:
- Repeated executions of queue.awaitShutdown.fork.flatMap(_.interrupt) will:
   - allocate a promise
   - add the promise's completion to the queue's shutdown hook
- Assuming the queue is long running, a promise will be allocated for each execution of the above
- The promises will not be garbage collected as they are referenced by the shutdown hook

[2019-03-07 18:37] jdegoes commented on #610
That's bad. Should be a simple fix though. Once the queue is shutdown, it should not add any more hooks, but should immediately return.

[2019-03-07 23:03] ghostdogpr commented on #610
Right, we can simply have a single Promise at the queue level and have all calls to `awaitShutdown` point to it. I’ll submit a PR.

@jdegoes it’s already the case, but the code should be even simpler after the fix

[2019-03-08 09:47] #610 closed

[2019-03-09 14:54] regiskuckaertz commented on #586
It looks like this has been fixed with the latest changes to `bracket`.

[2019-03-09 15:01] #586 closed

[2019-03-09 15:04] ghostdogpr commented on #587
Closed by #593

[2019-03-09 15:04] #587 closed

[2019-03-09 22:51] jdegoes commented on #527
@sideeffffect Is this done?

[2019-03-10 20:34] jdegoes opened #618 "Revise FiberLocal"
Copy-on-write semantics with manual or auto (fork-driven) propagation.

1. A FiberLocal is created.
2. Fiber A sets the value of this FiberLocal to `42`.
3. Fiber A forks another fiber, Fiber B.
4. Fiber B reads the value of the FiberLocal and sees `42`.
5. Fiber B sets the value of the FiberLocal to `3`.
6. Fiber B reads the value of the FiberLocal and sees `3`.
7. Fiber A reads the value of the

[2019-03-10 20:38] jdegoes commented on #618
It's not necessary to make `fork` the primitive that does propagation. One can imagine an `inherit` primitive:

[code]

I don't know what the API would look like. But it could be something like this, and possibly used automatically in `fork`, as that seems the most common use case.

[2019-03-10 20:38] jdegoes commented on #618
/cc @kaishh

[2019-03-10 20:38] iravid commented on #618
yes please!!

[2019-03-10 20:39] jdegoes commented on #618
@iravid What issues would this solve for you?

Basically it would solve all mine, ever. 😆

[2019-03-10 20:40] iravid commented on #618
contextual logging, using the same pool for submitted Spark computations, etc...

[2019-03-10 21:20] iravid opened #619 "<> should not recover from defects"
E.g. `IO.dieMessage(“ouch”) <> IO.unit` should result in fiber termination.

Reasoning: defect recovery should be reserved to explicit combinators like `run` and `sandbox`. Usage of `<>`, being more common, may hide defects.

[2019-03-11 07:50] regiskuckaertz commented on #619
So, if the first IO fails with an `E` than the second one is evaluated, but if the first one “throws” then the exception is propagated?

I believe this is right indeed, makes exceptional error behaviour symmetric, and normal failure the unit of `<>`. Similar to STM.

[2019-03-11 09:40] #564 closed

[2019-03-11 17:24] jdegoes opened #620 "Add TestConsole to `testkit` package"
Modeled after `TestClock`, the `TestConsole` should be an implementation of `Console.Service` that can be constructed with a `Ref[TestConsole.Data]`, which should read lines of input from a `input: List[String]` buffer, and save lines of output to a `output: Vector[String]` buffer.

[2019-03-11 17:27] jdegoes opened #621 "Add TestScheduler to `testkit` package"
Modeled after `TestClock`, the `TestScheduler` should be an implementation of `Scheduler.Service`, that can be constructed with a `Ref[TestClock.Data]`. The scheduler should run actions as it detects that the specified "fake time" has passed, possibly by polling every 10ms or so to see what it should run next.

[2019-03-11 17:29] jdegoes opened #622 "Add TestSystem to `testkit` package"
Modeled after `TestClock`, the `TestSystem` should be an implementation of `System.Service` that can be constructed with a `Ref[TestSystem.Data]`, which should read property variables and associated data from the test data structure. For convenience, a version could be provided that takes a raw `TestSystem.Data`, which is not inside a `Ref`, and would be ideal for static data.

[2019-03-11 17:32] jdegoes opened #623 "Add TestRandom to `testkit` package"
Modeled after `TestClock`, the `TestRandom` should be an implementation of `Random.Service` that can be constructed with a `Ref[TestRandom.Data]`, which should read "random" data from lists of the various types that appear in the `Random` service interface. For convenience, different types can have defaults with constants. If a list has more than one element, "wrap around" semantics should be used

[2019-03-11 22:46] sideeffffect commented on #527
@jdegoes
not done yet, there's still one file with definitions like mentioned above
but something happened... methods like `fromFuture` disappeared from `interop-future`. how can I convert `scala.concurrent.Future` to `IO` now?

@Vilkina
the only remaining file is:
[code]

[2019-03-11 22:53] jdegoes commented on #527
@sideeffffect It's built into core now, just do `ZIO.fromFuture`, `ZIO#toFuture`, and the Fiber methods.

[2019-03-11 23:16] sideeffffect commented on #527
@jdegoes oh I see!

@Vilkina have a look at
 * `/interop-java/shared/src/main/scala/scalaz/zio/interop/javaconcurrent.scala`: all methods with names`fromFutureJava`, `fromCompletionStage`
 * `/core/shared/src/main/scala/scalaz/zio/Fiber.scala`: `fromFuture`
 * `/core/shared/src/main/scala/scalaz/zio/ZIO.scala`: `fromFuture`

since you'll be changing `javaconcurrent`, would you mind moving it from

[2019-03-12 07:37] Vilkina commented on #527
@sideeffffect I'll try to look today.

[2019-03-13 08:21] #585 closed

[2019-03-13 12:07] iravid opened #628 "Add a `Fiber#managed` combinator"
Should convert the fiber to `Managed` value that interrupts the fiber as the cleanup.

[2019-03-13 12:38] Vilkina commented on #527
@sideeffffect , do you mean copy then delete "javaconcurrent.scala" from /interop-java/shared/src/main/scala/scalaz/zio/interop/javaconcurrent.scala and move to /interop-java/jvm/src/main/scala/scalaz/zio/interop/javaconcurrent.scala ?

[2019-03-13 14:02] sideeffffect commented on #527
yes 👍

On Wed, 13 Mar 2019, 13:38 Oleksandra Holubitska, <notifications@github.com>
wrote:

[2019-03-13 17:00] Vilkina commented on #527
@sideeffffect , can you help me to solve this error?
[https://travis-ci.org/scalaz/scalaz-zio/jobs/505836577](url)

[error] /home/travis/build/scalaz/scalaz-zio/interop-java/jvm/src/test/scala/scalaz/zio/interop/javaconcurrentSpec.scala:42:47: overloaded method value supplyAsync with alternatives:
[error]   [U](x$1: java.util.function.Supplier[U], x$2: java.util.concurrent.Executor)java.util.concu

[2019-03-14 21:50] jupposessho commented on #623
Can I take this one?

[2019-03-15 07:41] runtologist opened #634 "Generalize ZStream with input/output error types to allow for combinators like `mapError`"
mapError should allow for transforming errors before running the Stream. Proposed signature:

[code]

[2019-03-15 07:42] runtologist commented on #634
The only way I could make it work so far is by going via a Queue unfortunately. Any better proposals are welcome.

[2019-03-15 12:08] iravid commented on #634
Hah yeah, this is interesting, `E` is in fact in contravariant position when working inside the `fold` function. I didn't realize this up till now. cc @jdegoes

It might be impossible to actually implement directly. I'll play around with this too.

[2019-03-15 12:44] jdegoes commented on #634
@iravid We just need producer / consumer error types in ZStream

[2019-03-15 12:48] iravid commented on #634
type parameter galaxy brain..

[2019-03-15 12:58] iravid commented on #634
@jdegoes Ah, ok, I get what you mean - like how `IndexedContT` is formulated?

[2019-03-15 13:29] iravid commented on #634
@runtologist this is what it should end up as, if you're up for the task:
[code]

It's a big change, but we can probably take a more incremental approach and not convert all combinators to the generalized form at once.

[2019-03-15 14:21] runtologist commented on #634
hehe, yes, I've been at that version of mapError, but hoped there would be another way than extending the type signatures. :) I'll make a stab at it.

[2019-03-15 14:42] iravid opened #635 "Remove R from StreamPure, StreamChunkPure"

[2019-03-15 15:47] #635 closed

[2019-03-15 20:55] jdegoes opened #638 "Re-enable Scala 2.13 test build as soon as sbt-microsites works"
sbt-microsites introduced a dependency on scalameta mdoc, which is not published against 2.13.x, and `publishLocal` fails. To avoid the issue temporarily, I disabled the test 2.13 build, but we should try to find a better workaround until the issue is fixed.

[2019-03-15 21:27] jdegoes opened #639 "Support Scala Native"
Scala Native does not support multi-threading, but that shouldn't be an issue, generally, because ZIO shares CPU between fibers. Just need to make sure no blocking code is used in core (essential) methods and that we don't use data structures / types not supported by Scala Native.

[2019-03-15 21:28] #24 closed

[2019-03-15 21:29] jdegoes commented on #277
Dispatching unhandled errors now happens outside the runtime system and with an ordinary effectful method defined on `Platform`. Closing this issue, please re-open if there is more work we need to do.

[2019-03-15 21:29] #277 closed

[2019-03-16 19:12] igrebenik opened #642 "Stream.bracket returns a stream with one element"
Following the gitter chat:

[code]

returns the Stream with first line of the file, albeit it should repeat until it returns None (in this case, all lines of the file, since null is the end of file). Hence, the following:

[code]

produces 1.

[2019-03-16 22:18] #642 closed

[2019-03-16 22:18] #619 closed

[2019-03-16 22:20] #622 closed

[2019-03-16 22:34] #628 closed

[2019-03-17 07:47] mlangc opened #645 "Cannot derive cats `Apply` for `UIO`"
Given
[code]
and `scalaz-zio-0.14` I get the following compile error (using the splain plugin):
[code]
The `scalaz` version of the above snippet, that is
[code]
compiles cleanly.

[2019-03-17 13:43] wi101 opened #646 "Fix a sporadic test case in `IOSpec`"
This test case is flaky and needs to be fixed:
Check `zipPar` method does not report failure when interrupting loser after it succeeded.
Sometimes it fails with:
[code]

[2019-03-17 14:24] jdegoes opened #647 "Add FunctionIO "profunctor" methods to ZIO"
All the `FunctionIO` methods which do not exist on `ZIO` can now be added to the `ZIO` data type, because the `ZIO` data type now cleanly subsumes the capabilities of `FunctionIO` (minus performance, of course, for the cases in which `FunctionIO` is specialized).

So we can now "move over" all the `FunctionIO` methods to `ZIO`, including:

 - [x] `compose` (with type alias `<<<`)
 - [x] `andThen`

[2019-03-17 19:10] Vilkina commented on #527
@sideeffffect , I'll do two different PR's. First with microsite changes, second is #527.

[2019-03-17 19:56] jdegoes commented on #646
This flaky test looks like it has a race condition. 😢

[2019-03-17 19:58] jdegoes opened #651 "Upgrade Scalaz 7.x instances"
We have Scalaz 7.x instances in the interop module. However, they are overly restricted to use `IO`, when many can be generalized to support `ZIO` with arbitrary `R`. This ticket is to go through and generalize as many as possible to support `R` (mainly by using `ZIO` data type instead of `IO` type alias and adding `R` parameters where necessary).

Finally, now that ZIO is a profunctor, we can thi

[2019-03-17 19:59] stsatlantis commented on #647
Hi, I would like to give it a try.

[2019-03-17 20:37] jdegoes commented on #647
@stsatlantis 🙏 💪

[2019-03-17 20:58] jdegoes commented on #645
Looks like the `Apply` instance requires evidence that `E` is a `Monoid`. I'm not sure why that is, but of course it will fail because there is no `Monoid` for `Nothing`.

[2019-03-17 23:00] jdegoes commented on #646
Actually the test is correct. What's happening is that a race condition in the runtime is sometimes adding an extra `IO.interrupt` to the failure.

[2019-03-17 23:04] jdegoes commented on #646
I take it back. It's the test!!! 😆

[code]

Sometimes, the left interrupt will cause the right to be interrupted; if it hasn't started executing yet, then we'll get _two_ interrupts, one from the left side, and one from the right side.

I think that's OK. So we need to weaken the test to check that the cause is interrupted, but not look at the exact structure of the Cause.

[2019-03-18 17:17] #646 closed

[2019-03-18 21:13] LGLO commented on #620
@jdegoes This looks like done via #626

[2019-03-18 21:17] iravid opened #656 "Add ManagedApp to ZIO"
Like `scalaz.zio.App`, but `main` should return `Managed[Environment, Nothing, Int]`.

[2019-03-18 21:20] #598 closed

[2019-03-18 21:53] jamesward opened #657 "Testing ZIOs without DefaultRuntime uses "internal" Platform"
I'm writing some tests for my ZIOs and running then with a custom `Runtime` which requires me to create a `Platform` which leads me to traits in a package named `internal` which seems scary.

[2019-03-18 22:24] jdegoes commented on #657
It kind of is scary. The stuff inside `internal` is not purely functional.

How about preferred constructors for `Runtime` that use the default `Platform`, so that for most purposes, users would never need to supply one, unless they need custom behavior for `Platform`?

[2019-03-18 22:57] jdegoes commented on #620
@LGLO Thanks!

[2019-03-18 22:57] #620 closed

[2019-03-19 10:31] runtologist opened #659 "RS interop sometimes generates to much demand"
In case of a slow Publisher with a fast Sink or a slow Stream with a fast Subscriber, more demand than allowed by the bufferSize can be generated. This leads to blocking in onNext.

[2019-03-19 10:34] runtologist opened #660 "RS interop without Take"
The Subscriber implementation in RS interop currently uses a `Queue` of `Take`, resulting in a lot of short lives objects created.

[2019-03-19 10:47] runtologist commented on #659
#661

[2019-03-19 10:47] runtologist commented on #660
#661

[2019-03-19 10:54] runtologist commented on #634
Observations so far:

There are a few places where `EI =:= EO` (basically everything returning `Stream` or `StreamR`). Due to
[code]
`EI1` and `EO1` may diverge.  In a few places, where the `E` is `Nothing`, there is a workaround, but I  don't see a generic way around this.

Also, I don't know yet, what to do with `run`. I think this change also requires changes to `Sink`. However, if this is done

[2019-03-19 13:27] jdegoes opened #664 "Rename Queue2 to ZQueue"
Following the new convention to prefix the "maximally polymorphic" variant with `Z`, we should rename `Queue2` to `ZQueue`.

The data type is inside `scalaz/zio/Queue.scala`.

[2019-03-20 09:02] Fristi opened #668 "Add combinators fromEitherM and fromOptionM"
As `IO` is a `EitherT[F, E, A]` I tend to use `EitherT.fromOptionF` and `EitherT.fromEitherF` quite frequently when I reach to an API or database.

[2019-03-20 09:04] Fristi opened #669 "Streams in a submodule?"
I think it's nicer to have streams in a submodule as projects like http4s and doobie currently still use fs2. It might confuse people to use zio stream or fs2 stream.

[2019-03-20 12:11] NeQuissimus commented on #669
I am definitely for this! PRs welcome :)

[2019-03-20 13:57] jdegoes commented on #668
Good idea!

[2019-03-20 13:57] #664 closed

[2019-03-20 14:41] jdegoes opened #672 "Add support for cross-building coreJVM with Dotty"
It's time to add cross-build support for Dotty to the coreJVM project! Shouldn't involve many (if any) code changes, just maybe a type annotation here or there. I'm happy to assist with any troubles that arise.

See [here](https://github.com/lampepfl/dotty-example-project) for an example project.

[2019-03-20 18:20] #656 closed

[2019-03-20 21:07] iravid opened #673 "Provide access to the list of forked fibers from ZIO"
The constructor, `def supervising: UIO[Iterable[Fiber[_, _]]]`, will replace the existing `ZIO.Supervise` term.

After implementing that, supervision can become a userland feature outside of the runtime and the existing `supervised` and `superviseWith` combinators can be re-implemented with `ensuring`.

[2019-03-21 08:00] runtologist commented on #634
Another one: Also after this change, it is IMO impossible to build a "Processor", i.e. a `Stream with Sink`, which just passes everything through. Most streaming libraries/frameworks allow that. Implementing a Processor probably is a good test for whether errors really are handled in a compositional way. I'll think a bit more about what changes to Sink would be needed to make that possible.

[2019-03-21 08:14] iravid commented on #634
I realize now that the variance signature for EI1 and EO1 may be wrong; it is possible that one of them should actually be a subtype of the original error, as they occur on different sides of the function. Not entirely sure about this but worth verifying.

If so, then it simplifies the case where EI ~ EO because then EI1 and EO1 can be widened to the same type.

[2019-03-21 09:06] iravid opened #677 "Move IO.fromCompletionStage to Task.fromCompletionStage in Java interop"
The implicit class currently enriches the IO companion object. Should enrich the Task companion object.

[2019-03-21 11:02] quelgar opened #678 "ZStream transduce makes spurious ZSink calls"
I expected the following test case to pass, but it fails:

[code]

The issue is that once the last value from the upstream has been processed, `transduce` finishes off by calling `Sink#initial` followed by `Sink#extract`. In the above test cases, the sequence of calls to the sink are:

1. `initial` → Sets state to `None`
2. `step` → Sets state to `Some(1)`
3. `extract` → returns `Some(1)`
4. `init

[2019-03-21 12:14] iravid commented on #678
Thanks for investigating this @quelgar! I agree that your test indicates the desired behavior. Please give this a shot if you have the time.

A few notes:
- The last calls to `initial` and `extract` are intended to process the leftovers from the last element, but that combinator is a bit of a maze so bugs are definitely possible.
- The `foldM` that swallows the errors at the end is a bit suspiciou

[2019-03-21 12:19] iravid commented on #678
Looking back in the commit history, I see that I added the call to `redeem` (which is now `ZIO#foldM`) in https://github.com/scalaz/scalaz-zio/commit/b3198d153945787ec30afe004ce556246e92a6a4, but I can't recall why. So let's fix this indeed :-)

[2019-03-21 15:38] jamesward commented on #657
In my case I needed to override Platform to not `println` failures:
https://github.com/WinterTechForum/zio-hello/blob/master/src/test/scala/MyAppSpec.scala#L25

Cause I didn't want those showing up when I run my tests.

[2019-03-21 20:38] jamesward opened #679 "Change Console.Live.getStrLn to fail with EOFException rather than returning null"
The Scala `StdIn.readLine` can produce a null value which feels weird to encounter in ZIO's `Console.Live`:
https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/console/Console.scala#L71

Should this return an Either or Option instead?

[2019-03-22 08:43] mlangc opened #680 "Cannot compile ZIO with Java 11"
Java 11 defines [String#lines](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/String.html#lines()), which conflicts with `scala.collection.immutable.StringLike#lines` causing the following compile error in ZIO:
[code]

[2019-03-22 11:40] NeQuissimus commented on #679
Indeed!

[2019-03-22 11:43] NeQuissimus commented on #657
hmm, yeah, that definitely needs to be a thing.
Maybe we should just have a "SilentPlatform" :D

[2019-03-22 13:04] jdegoes commented on #679
Woah. Not good. How about we throw IOException there and force the user to deal with it that way?

[2019-03-22 14:00] jamesward commented on #679
Yeah, not sure what the right semantics are for this.  I did a sum error:
https://github.com/WinterTechForum/zio-hello/blob/master/src/main/scala/MyApp.scala#L19-L32

[2019-03-22 15:18] jdegoes commented on #679
I'm going to say we raise [EOFException](https://docs.oracle.com/javase/7/docs/api/java/io/EOFException.html), which is already compatible with the type signature of `getStr` / `getStrLn`.

[2019-03-22 15:20] jdegoes commented on #679
For anyone who wants to take this ticket:

Change the implementation of `getStr` / `getStrLn` to fail with `ZIO.fail(new EOFException("There is no input left to read"))` or something similar whenever the underlying `StdIn.readLine()` returns `null`.

[2019-03-22 15:26] jdegoes commented on #657
Or maybe stderr instead of stdout by default?

[2019-03-22 15:27] jdegoes commented on #657
I'l look at this later. Maybe helpers can be added to `Runtime` to change platform capabilities.

[2019-03-22 15:27] jdegoes commented on #657
e.g. `Runtime#withReportError`, etc.

[2019-03-22 15:30] NeQuissimus commented on #657
FYI, in 0.6.x I added this to my testing RTS:

[code]

Something equivalent would be nice (I have yet to update our code beyond 0.6) :)

[2019-03-23 00:46] #680 closed

[2019-03-23 12:19] #645 closed

[2019-03-23 16:44] Cereopsis commented on #679
I was going to have a bash at this...

Just noticed this in scalaz.zio.testkit.TestConsole: `.mapError(_ => new IOException("There is no more input left to read"))`

I guess it would be worth synchronising with this change?

[2019-03-23 19:25] jdegoes commented on #679
@Cereopsis Yes, definitely!

[2019-03-23 21:05] #659 closed

[2019-03-24 13:55] jupposessho commented on #623
@jdegoes is it ready to close?

[2019-03-24 14:06] Cereopsis commented on #651
OK, I'm up for some type gymnastics...

[2019-03-24 14:28] jdegoes commented on #623
@jupposessho Yep, looks good to me!

[2019-03-24 14:28] #623 closed

[2019-03-24 22:26] #677 closed

[2019-03-24 22:28] #673 closed

[2019-03-24 22:55] jdegoes opened #687 "Switch from tut to mdoc"
Tut has been great for embedding compiling documentation in our microsite. However, tut has no support for incremental rebuilds and because of its REPL-like approach to code snippets, it means it is difficult to get some kind of code compiling.

This ticket is to convert from `tut` to [Scalameta MDoc](https://scalameta.org/mdoc/), which appears to improve upon `tut` in the two key ways noted above

[2019-03-24 23:26] mschuwalow opened #689 "ClockSpec in Testkit not testing TestClock"
Hi,
the following tests https://github.com/scalaz/scalaz-zio/blob/master/testkit/jvm/src/test/scala/scalaz/zio/testkit/ClockSpec.scala#L17-L40 seem to be testing the Clock.Live implementation. I assume they should test the TestClock instead?

[2019-03-24 23:51] jdegoes opened #690 "Add Scheduler helper(s)"
It would be nice to easily repeat actions until some condition is satisfied, then map the effect value to something else, which would then be returned by `ZIO#repeat`.

[code]

In particular, I'm thinking about code like this:

[code]

[2019-03-24 23:52] jdegoes commented on #689
@mschuwalow Good catch! They are leftover from a long time ago (old clock, pre Environment)

[2019-03-25 09:48] mschuwalow commented on #689
Cool. I'll try to get a pr out later.

[2019-03-25 12:38] NeQuissimus commented on #687
Are you looking to replace the microsite entirely? AFAIK tut is embedded into sbt-microsite

[2019-03-25 12:39] jdegoes commented on #687
sbt microsite now supports mdoc.

[2019-03-25 12:50] NeQuissimus commented on #687
Ah, perfect! Did not know that

[2019-03-25 18:50] ratoshniuk commented on #672
@jdegoes i will take a look

[2019-03-25 21:48] #679 closed

[2019-03-25 21:55] jamesward commented on #679
Fantastic!  Thanks @jdegoes.

[2019-03-25 22:16] jdegoes commented on #679
Thanks to @Cereopsis! 😄

Thanks for reporting @jamesward!

[2019-03-25 23:26] Cereopsis commented on #651
@jdegoes
I'm wondering how far to go particularly regarding the tests. They currently pass with eg ZIO[Any, E, A] although of course this is equivalent to the original  IO[E, A]. I reckon I can make the GenIO work something like this:

[code]
What I'm not quite so clear on at the moment is what 'R' the tests would inject. I suppose this could also be Arbitrary if it isn't actually used. Is there a

[2019-03-25 23:32] jdegoes commented on #651
I don't think there's mileage in that. A few tests, of course, for example profunctor tests, would test for that directly, but the majority of them would just have to synthesize an `R` that would then be ignored in `accessM` (because what can you do with an arbitrary `R`?), so I don't think it actually improves things. The `E` on the other hand is different because you get `genFailure` out of that

[2019-03-25 23:40] Cereopsis commented on #651
@jdegoes Yes, great, I was thinking it was redundant. I'll submit a WIP PR for your perusal

[2019-03-26 07:01] Cereopsis commented on #651
@jdegoes I reverted to using IO[E,A] in scala72Spec as it does the job. ParIO is still using Any but there's no way around that, I think

[2019-03-26 10:16] VladKopanev commented on #690
Hi, I would like to help with this!

[2019-03-26 13:02] jdegoes opened #694 "Make integration with Cats Effect more friendly"
Right now, the user requires an `implicit runtime: Runtime[R]` for their chosen environment `R` in order to summon the cats-effect instances.

It would be nice to provide this automatically. Possibly we can change `App`

[code]

Then at least, this makes `App` ready-to-go for Cats Effect. The drawback is that this implicit will make using custom environments harder. Indeed, `App` itself hard codes

[2019-03-26 13:02] jdegoes commented on #694
/cc @gvolpe

[2019-03-26 13:07] jdegoes commented on #634
Paste from a pull request:

-------

I think we have to separate producer errors from consumer errors.

[code]

like `ZQueue`.

Then things like `mapError` on `ZStream` will operate only over `ProducerError`. That is, they will not say anything about consumer errors.

Consumer errors are those generated from effectful folding functions / sinks. We can have separate combinators for those, but we ne

[2019-03-26 13:09] jdegoes opened #695 "Decrease minimum duration of a timed test from 6 seconds to 60 ms (speeds up tests)"
See [here](https://github.com/scalaz/scalaz-zio/pull/576) for background.

Essentially, with a small change, we can greatly speed up the whole test suite! 🎉

Code has been written above, just needs reworking to master.

[2019-03-26 13:23] jdegoes opened #696 "Make Managed's new reservation capability more first class"
`Managed` has a new methods of specifying allocation and disposal of a resource: namely, it's new constructor:

[code]

This provides "interruptible acquisition", unlike `bracket`. It's also safe, in that it has no possibility of leaking resources when properly utilized.

Unfortunately, people aren't discovering it there. To make it more discoverable, we should make the following changes:

1. Firs

[2019-03-26 13:24] jdegoes commented on #696
Related to #580

[2019-03-26 13:31] jdegoes commented on #651
ParIO can use R, take a look at how interop-cats does this.

[2019-03-27 00:44] gvolpe commented on #694
I'm giving it a spin at this and although it works it doesn't feel good to have two different types depending on the required capabilities.

I'm in favor of having an extra `import scalaz.zio.interop.catz.implicits.liveTimer` to bring in the `Clock.Live` instance so we can just keep using `Task` as the default effect compatible with `cats`. (As [suggested](https://github.com/scalaz/scalaz-zio/pull

[2019-03-27 02:07] jdegoes commented on #694
All right, I'm on board with this: extra import to bring in `liveTimer`. Which will allow people to use just `Task` in their `App`. 👍

[2019-03-27 02:22] gvolpe commented on #694
Okay, will get a PR ready soon. How about the `RuntimeApp`? @jdegoes

[2019-03-27 10:11] #621 closed

[2019-03-27 10:12] #689 closed

[2019-03-27 11:39] #678 closed

[2019-03-27 13:50] #694 closed

[2019-03-27 14:51] Cereopsis commented on #651
@jdegoes I have made the renaming changes suggested but need to go through the microsite quickly. If the naming is minor it could through as is? Otherwise I can get to it later

[2019-03-27 16:08] jdegoes opened #702 "Dotty failure in master"
See [here](https://travis-ci.org/scalaz/scalaz-zio/jobs/512037894)

[code]

Looks like it will need a type annotation.

@VladKopanev, can I convince you to fix this one? 😄

[2019-03-27 16:24] VladKopanev commented on #702
Sure, will do ASAP, hopefully today

[2019-03-27 19:06] VladKopanev commented on #702
I've created a PR for this, pls review.
I tried a lot of stuff and the only thing I can come up with for now it's assigning the result of `identity[A]` to a variable with type annotation. It seems like dotty compiler, in most cases, thinks that the `State` type member of `Schedule` of `identity[A]` should be `Nothing` hence when doing `reconsider` it aks the resulting `Decision` to have a `Nothing

[2019-03-28 10:09] #651 closed

[2019-03-28 10:17] jdegoes commented on #702
Fixed by #703

[2019-03-28 10:17] #702 closed

[2019-03-28 10:18] jdegoes commented on #702
@VladKopanev Thanks so much for your work on this! It was a huge life saver.

When you get a chance, can you do a followup PR that adds a "Dotty" comment, similar to the other ones? We're trying to provide as much information to the Scala 3 compiler team to help them identify and fix these problems early on.

[2019-03-28 10:24] jdegoes opened #706 "Add interruptible operation"
[code]

Thanks to types, `interruptible` can only be nested inside `uninterruptible`, whereupon it returns an effect whose interruption (or other cause of failure) can be exposed with `run`, `sandbox`, `orElse`, etc., when inside an uninterruptible block.

Note that `interruptible` allows only _localized_ catching of interruption. Outside the highest `uninterruptible`, the fiber will still be in a

[2019-03-28 10:24] jdegoes commented on #574
This problem is solved by `Managed` with `reservation`, but examples suggested by @mvv point the way to something more general, #706. Closing this in favor of that one.

[2019-03-28 10:24] #574 closed

[2019-03-28 11:59] VladKopanev commented on #702
Of course, this makes sense to me.

[2019-03-28 19:56] mvv commented on #706
A couple of points/questions:

- I would be cautious to introduce the ability to do something other than `ZIO.interrupt` on the `effect` interruption in `ZIO.interruptible(effect)`, "eaten up" interruptions could be hard to debug. I also suspect it would make implementation a bit more tricky. Do you see it as an essential feature?

- Would `effect` be interruptible in
[code]
  ?

- Would you agree

[2019-03-28 20:13] jdegoes commented on #706
1. A fiber interrupted will still be set into interrupted state regardless of whether it's in `interruptible` or `uninterruptible`. However, it will only actually begin the winddown process when it's not in an uninterruptible state, or when in it's in an interruptible state inside an uninterruptible state. In the latter case (`uninterruptible { ... interruptible { } ... }`), the fiber can be local

[2019-03-28 20:15] jdegoes commented on #706
This turns on interruptibility inside the `take`, so it can be interrupted inside there, and if it is, then it enters the parent as a `None`, who then has to deal with that.

[2019-03-28 20:20] iravid commented on #706
Why `Option[A]` rather than an interrupted IO?

[2019-03-28 20:36] kaishh commented on #706
Unlike Haskell's `mask*` family, the `.interruptible` API here is not tied to the enclosing `uninterruptible`, so the meaning of something like this
[code]
Would change non-locally depending on whether there is a surrounding `.uninterruptible` scope or not. This may be surprising. Purely theoretically IMHO,  the best behavior API reasoning-wise might be:
[code]
Where `unmask` closure provided to t

[2019-03-29 06:05] jdegoes commented on #706
@kaishh The runtime behavior of the closure still depends on where it is applied (inside or outside the right block). So I'm not sure it changes anything.

We could, however, make it statically impossible to put `interruptible` anywhere except inside an `uninterruptible` block:

[code]

Now you have to stuff the interruptible inside the uninterruptible block, since it's the only way to eliminate `

[2019-03-29 06:11] iravid commented on #706
Yes, I figured that was the reason. How about `Exit[Nothing, A]`? That way we can also preserve the rest of the fiber structure that was interrupted.

I like the intersection with `Interruptible`, but that is inconsistent with the fact that *everything* in ZIO is interruptible (except what's `uninterruptible`).

[2019-03-29 06:15] jdegoes commented on #706
This `Interruptible` marker could be renamed `InsideUninterruptible` or something. The idea is not that it _is_ interruptible, but that it is interruptible and must _occur_ inside an `uninterruptible` block to have meaning. Maybe `UninterruptibleEscape`.

How about a full-on `Exit[E, A]`? It's weird to put the defects in one place but the failure in another place. Also you have to lose information

[2019-03-29 06:18] iravid commented on #706
Right I get you. I like the `Masked/Unmasked` terminology but that may be a bit obscure for anyone not into Haskell / IRQs :-P

So `ZIO[R, Nothing, Exit[E, A]]`? 👍

[2019-03-29 06:20] iravid commented on #706
Also, I like the `IO.uninterruptible { unmask =>`. It makes it easier to reason about what's happening with regards to interruption. Does that satisfy the original requirement?

Everything converges to GHC's model eventually...

[2019-03-29 06:22] Cereopsis commented on #696
I can take this one.

[2019-03-29 06:27] jdegoes commented on #706
I want to understand this one. How does it make reasoning easier? I suppose you only have to follow the `umask` thread (where it is passed, etc.) in order to see what could be interrupted. Enforcing it has now effect unless used properly could be a bit tricky.

I think that's an alternative approach to `Exit[E, A]`. The reason being: the `Exit[E, A]` forces the interruption to the value level, whe

[2019-03-29 06:35] iravid commented on #706
[code]

Looking at these two functions, any sort of tagging (type-level / value-level) would be sufficient to make reasoning about interruption possible. So yes, I agree.

[2019-03-29 06:36] iravid commented on #706
Sorry, almost true: adding `Exit` or `Option` has an additional benefit that forces you to also deal with the value-level implications of interruption inside `outer.`

[2019-03-29 06:39] jdegoes commented on #706
All right so new proposal:

[code]

with or without `Option[A]` for the `interruptible` one.

This formulation ensures:

1. You can't actually put an interruptible anywhere, except inside an uninterruptible, so its meaning never changes depending on the location because its location is constrained by types.
2. You will always know, by looking at types, if some code you are passed is secretly inter

[2019-03-29 06:46] iravid commented on #706
Cool 👍

[2019-03-29 06:49] iravid commented on #706
Interestingly, this is similar to the `ZIO.lock` design and somewhat to the supervision design. What's the general pattern here? Monadic regions?

[2019-03-29 08:05] ghostdogpr commented on #584
The RC3 seems to have deployed properly 😀
2.11: https://repo1.maven.org/maven2/org/scalaz/scalaz-zio_2.11/1.0-RC3/
2.12: https://repo1.maven.org/maven2/org/scalaz/scalaz-zio_2.12/1.0-RC3/
Dotty: https://repo1.maven.org/maven2/org/scalaz/scalaz-zio_0.13/1.0-RC3/

It's not yet visible on Maven Central but I updated by SBT files and it's working already.

[2019-03-29 08:15] mvv commented on #706
I like this one better. Implementation-wise, how `R with
UninterruptibleEscape` is supposed to be constructed in `uninterruptible`?

On Fri, Mar 29, 2019, 09:40 John A. De Goes <notifications@github.com>
wrote:

[2019-03-29 10:14] kaishh commented on #706
With a cast since it's a phantom.

[2019-03-29 12:02] jdegoes commented on #668
[code]

[2019-03-29 12:03] Vilkina commented on #668
I'll take this one

[2019-03-29 12:55] Fristi commented on #668
I was just thinking about this aswell, but what if `fromOptionM` goes to the database? Then you want `IO`.

[2019-03-29 20:23] Cereopsis commented on #696
@jdegoes I'll try and finish the microsite bit this weekend but I was thinking of picking up #687 anyway. Perhaps I should start that sooner rather than later.

[2019-03-29 20:42] jdegoes commented on #696
@Cereopsis Sure, whichever you prefer, I'm grateful for either. 😄

[2019-03-29 20:52] Cereopsis commented on #696
@jdegoes Perhaps I won't make a meal of the code examples now, rather wait until mdoc for that. Right now I'll tweak a few words. I'm thinking that now it's enough to say that Reservation encapsulates the acquisition/release and ZManaged controls the usage of it.

[2019-03-29 20:57] jdegoes commented on #706
@iravid Yes, monadic regions.

@kaishh No need even for a cast with a cool trick I developed while prototyping `ZIO[Effect with EffectAsync, E, A]`. I ended up abandoning it because cost / benefit ratio didn't feel right, but looks like it may come in handy here...

[2019-03-30 08:09] mlangc opened #711 "Division by zero in `scalaz.zio.duration.Duration.Finite#*`"
The current implementation
[code]
divides by zero for `Duration.Zero * 1`.

[2019-03-30 08:54] #711 closed

[2019-03-30 12:26] mvv commented on #706
@jdegoes
Unfortunately, Scala fails to infer `R` when
[code]
is applied to an effect that does not use `interruptible`, e. g.
[code]
fails with
[code]

[2019-03-30 13:39] jdegoes commented on #706
@mvv You're missing a type bound on R, aren't you?

[2019-03-30 14:16] mvv commented on #706
@jdegoes
Where? `foo` is a valid program (vs `uninterruptible` type signature), it just needs type parameters to be explicitly specified:
[code]

[2019-04-01 08:14] Fristi commented on #668
[code]

[2019-04-01 21:13] #669 closed

[2019-04-02 13:15] rnd4222 opened #716 "Return types of apply methods"
For now, **IO.apply** and **ZIO.apply** returns **Task**.
Wouldn't it be better to return **UIO** here, so it can be used with whatever **E** I want?

[2019-04-02 17:29] mschuwalow commented on #716
I think having a **Task** here is a safe default, as this makes the failure recoverable if in doubt.
@jdegoes I would think that it is preferable to use the explicit effect or effectTotal respectively here, is that right?

[2019-04-02 17:42] rnd4222 commented on #716
Is it an option to add **ZIO.pure** which doesn't use call-by-name argument? Now it's not very clear how to create pure instances of **ZIO[Any, Nothing, A]** (except using **UIO.apply**).

[2019-04-02 17:51] mschuwalow commented on #716
I think ZIO.succeed is the canonical solution to this. With ZIO.succeedLazy as the lazy variant

[2019-04-02 17:55] mschuwalow commented on #696
Isn't Reservation enough to provide a conversion between Resource from catz and Managed?
Something like https://github.com/mschuwalow/zio-todo-backend/blob/develop/app/src/main/scala/com/schuwalow/zio/todo/config.scala#L52-L56. Or is this something unsafe to do.
If its safe to do it might be interesting to provide something like this in interop

[2019-04-02 18:35] jdegoes commented on #696
`Resource` can be safely converted to `Managed`, but not visa versa without losing interruptibility (it would be "safe" to do that, but in some situations, having interruptible acquisition is necessary for preventing "temporal" leaks).

[2019-04-02 22:05] kaishh commented on #696
@jdegoes
Resource's `Suspend` is interruptible,  so I think it should be possible to preserve interruption in Managed - https://github.com/typelevel/cats-effect/blob/c38156e7396988d3160480665f022ec42966c487/core/shared/src/main/scala/cats/effect/Resource.scala#L127

[2019-04-03 06:31] jdegoes commented on #706
@mvv

We should work on type inference for this.

I clarified the (ongoing) spec above, so that instead of `Option[A]`, it returns `Exit[E, A]`, and am beginning to see how to implement it. Basically by tracking `interrupt` count and by internally using redeem to catch the full cause (modifying the conditions that allow it to do so) The tricky parts are at the boundaries (making sure the runtime s

[2019-04-03 07:02] mvv commented on #706
@jdegoes
I still think that the whole `Option`/`Exit` thing is crummy (I personally would not need it 99% of the time). I would much prefer to have two combinators, each doing it's own thing, i.e (forget about `R` for a minute):
[code]
only affects interruptibility of `zio` and
[code]
that allows you to "catch" any `Cause` you want. Then, if you _really_ need it, you can use
[code]

[2019-04-03 07:24] kaishh commented on #706
@mvv `evaluate` is currently named `.sandbox`

[2019-04-03 07:44] mvv commented on #706
@kaishh @jdegoes
Less work to do ). Regardless of the user-facing type signature, `interruptible` can then be implemented with `Finalizers` only (already done that in #580). I'll try draft a PR this weekend, the `UninterruptibleEscape` and `Exit` stuff can be added on top of it.

[2019-04-03 09:32] ratoshniuk opened #717 "ZIO helpers for tests"
Can we provide some helpers to assert left or right branches?

[code]
And imagine we have some test scope, where we need to perform assertion for specific step

[code]

It could be implicit class for testz and be imported like follow:

[code]

[2019-04-03 09:40] rnd4222 commented on #716
@mschuwalow OK, makes sense. Thanks, I'm closing the issue.

[2019-04-03 09:40] #716 closed

[2019-04-03 09:40] ratoshniuk commented on #717
Or i should address this issue to testz project?

[2019-04-03 12:16] jdegoes commented on #706
I'm not opposed to having `interruptible` return the same type. It may be a little unexpected for a developer coding in an uninterruptible section to have to deal with interruption, but at least we have it in the type so it will be discoverable.

[2019-04-03 13:16] gaspb commented on #562
Hello there, any chance to have Monix interop back on its feets?
Thanks in advance! :)

[2019-04-03 15:15] vitamon opened #718 "Support Twitter Futures"
Hi!
Are there any plans to add support for [Twitter Futures](https://twitter.github.io/util/guide/util-cookbook/futures.html)?

[2019-04-04 06:57] jdegoes commented on #718
I think an interop module for Twitter futures would be great!

[2019-04-04 06:58] jdegoes commented on #717
/cc @NeQuissimus who had some ideas along these lines that could be part of `testkit`.

[2019-04-04 07:05] jdegoes commented on #706
@mvv Spec clarified. Better now?

I still think how you want to use this is dangerous. 😉

In some cases the async operation will acquire the result, but before it has a chance to resume the fiber, the fiber will be interrupted, resulting in a leak of whatever resource it represents. Maybe this is ok in your application. The ultimate solution would be to use `Managed`, which is the only safe way of

[2019-04-04 09:30] Vilkina commented on #668
@Fristi, I think we need to use 'IO' instead of 'Result'
`  def fromOptionTask[A, E](ifEmpty: => E, onError: Throwable => E)(opt: Task[Option[A]]): IO[E, A] =
  opt
    .catchAll(err => ZIO.fail(onError(err)))
    .flatMap {
      case Some(x) => ZIO.succeed(x)
      case None => ZIO.fail(ifEmpty)
    }`

What do you think?

[2019-04-04 13:26] Fristi commented on #668
Yes `Result` was a type alias. Alternatively we could also use `orDie`. Then you don't need `fromOptionTask`.

[2019-04-04 14:08] Vilkina commented on #668
https://github.com/scalaz/scalaz-zio/pull/720 I don't know why Travis doesn't want to pass it :)

[2019-04-04 14:51] ghostdogpr commented on #668
Isn’t `fromOptionM` redundant with already existing `get`?

[2019-04-05 11:37] Fristi commented on #668
With `get` you cannot provide an error.
[code]

This is what you do with `ifEmpty`

[2019-04-05 11:46] ghostdogpr commented on #668
Yes, a version with `ifEmpty` brings something, but the version mentioned initially (and in the PR) is just the same as `get`. And for Either there is `absolve`.

[2019-04-05 14:17] NeQuissimus commented on #717
I can probably at least send a PR for what I was thinking. Will need polishing. I hope to get around to it on the weekend

[2019-04-05 16:41] jdegoes opened #722 "Fix flaky Stream.++ test"
The Stream.++ test times out non-deterministically and should be fixed.

[2019-04-06 11:32] LGLO commented on #722
I'll take a look at how big are randomly generated Streams and Strings inside them. Code looks legit for me otherwise.

[2019-04-06 18:04] LGLO commented on #722
To more flaky tests found when looking how to fix this one.
[code]

[2019-04-06 19:53] mvv commented on #706
@jdegoes
Made the PR (#724). Tackled inference for Scala, but not for Dotty. Will add tests tomorrow. Re-implemented `bracket*`, `effectAsyncM` and `raceWith` seem to test fine.

[2019-04-06 22:36] jdegoes commented on #722
[code]

[2019-04-07 12:42] LGLO commented on #722
I added this, run few times on master.
[code]
No failures.
Was you failure local or CI?

[2019-04-07 20:33] ratoshniuk commented on #717
@NeQuissimus looks great, thank you!

[2019-04-08 08:44] mijicd commented on #718
Let's have it then :). I'll take care of this.

[2019-04-09 06:00] mvv opened #729 "Stack unwinding doest not run ZIO.Folds on recoverable errors after interruption"
[code]
returns `(Failure(Fail("ERR")), "NO")`. If I replace `(IO.unit *> IO.fail("ERR"))` with just `IO.fail("ERR")` the result becomes `(Failure(Interrupt), "YES")`.

There are two `unwindStack`s that happen after `f` is interrupted. First is triggered by the interruption itself and returns finalizer `(IO.unit *> IO.fail("ERR")).catchAll(r.set)`, the second happens when the execution reaches `IO.

[2019-04-09 19:13] jdegoes opened #730 "Separate project versioning from core versioning"
I am not sure exactly how to do this while keeping the release process easy and automated, but ideally the modules would be independently versioned. Following semver across all modules will be onerous and lead to unnecessary release versions.

Knowledge of SBT and plugins will be required for this ticket.

[2019-04-10 06:35] NeQuissimus commented on #730
Separate repos + https://github.com/fthomas/scala-steward to keep core updated?

[2019-04-10 22:14] jdegoes commented on #722
Travis CI

[2019-04-11 19:09] jdegoes opened #732 "Re-add support for Scala 2.13"
Due to the fact that `mdoc` is not building on 2.13, I disabled the Travis build for 2.13.

Now that 2.13 is almost a thing, we need to get it building again. It looks like [there is a way to do that](https://github.com/scalameta/mdoc/issues/156) even before `mdoc` supports 2.13.

[2019-04-11 19:10] #690 closed

[2019-04-11 19:11] #199 closed

[2019-04-11 19:11] #78 closed

[2019-04-11 19:12] #197 closed

[2019-04-11 19:54] ksarath commented on #695
Can I pick up this task?

[2019-04-11 20:22] jdegoes commented on #695
@ksarath That would be great!

[2019-04-11 22:22] justinhj commented on #588
I'm working on this. This may be a breaking change, is that ok since we're not at 1.0.0?

[2019-04-12 07:31] jdegoes opened #739 "Minor renames with deprecated old names"
For consistency, we should do a few more renames, and mark the old names as deprecated for 1.0 release, giving people an RC or two to update code.

These include the following:

 - `#void` => `#unit`. This matches `either` and `option`, whereas `void` is inherited from Haskell and has a different meaning in Java / Scala. Lots of data types have a void method that needs renaming.
 - `scalaz.zio.blo

[2019-04-12 12:32] jadireddi commented on #739
I am working on this PR.

[2019-04-12 14:08] jdegoes opened #741 "Interruption cause fails to be added to primary cause"
In the following code snippet:

[code]

the fiber will report death by `Die("foo")`, without any mention of the interruption. Now: the test is flaky, but after being made more robust, we should ensure that interruption is added to the cause to ensure lossless error reporting and improve developer UX in diagnosing what happened.

/cc @mvv

[2019-04-12 14:12] jadireddi commented on #739
https://github.com/scalaz/scalaz-zio/pull/742

[2019-04-12 14:42] jadireddi commented on #739
@jdegoes , Fixed points 1 and 2.

Please do let me know, once we are conformed changing `contramap` => `provideSome` and other `TODO's`

[2019-04-12 14:56] jdegoes opened #743 "ZIO hackathon September 21-22"
I'm planning a ZIO hackathon weekend on September 21-22 (possibly preceded by a day of informal talks), open to everyone—regardless of level, experience, or contributions to OSS, and of course, contributors to Cats Effect, Monix, or related ecosystems are welcome too!

Tentatively planning to hold this in Warsaw, Poland, as it's easy and cheap to get to from Europe, and most ZIO contributors are a

[2019-04-12 15:06] LGLO commented on #743
Idea is great!
I'll to make it, I'll take care for myself in regards of food and lodging.
The only problem is level of wifecoins, but it should be high again after vacations.

I think we need to organize place to code and reliable network there to have max productivity for these few days.

[2019-04-12 15:10] jdegoes commented on #743
@LGLO Time to invest now! 😉

Agreed on the place and network, have some volunteers to help with that side of things...

[2019-04-12 15:13] xplosunn commented on #743
I'm not really a contributor, but I would attend.

[2019-04-12 15:16] adilakhter commented on #743
I would like to attend!

[2019-04-12 15:47] jdegoes opened #744 "Improve docs + error messages for companion objects of ZIO type aliases"
ZIO has a range of type aliases, including:

 - `IO`
 - `UIO`
 - `Task`
 - `TaskR`

These type aliases have companion objects, which are named identically.

Currently, type bounds are used to ensure that, for example, all methods in the `UIO` companion object may NOT create fallible effects.

However, the error message that one gets when one tries to create a fallible effect is quite terrible:

[c

[2019-04-12 15:53] jdegoes commented on #739
Here are some other potential renames / deprecations we could make if we wanted:

 - `IO` => `BIO`
 - `TaskR` => `RIO`
 - `Task` => `IO`.

We'd have to think about the latter one as there would be a clash. But we could make the deprecation warning all the same. Maybe using an intermediate type alias.

[2019-04-12 15:55] szymonm commented on #743
Not a contributor, but I would like to attend and can help with organization (I'm from Warsaw).

[2019-04-12 16:04] jdegoes opened #745 "Hide all classes that should be private"
Several classes are showing up in Scaladoc that are not directly necessary or exposed. Examples include: `ZIOFunctions`, `ZIO_E_Any`, etc., and probably various classes in the `scalaz.zio.internal` package that will never be exposed because they are only used internally by `FiberContext`.

To present clear and useful Scaladoc, all internal classes / traits should be hidden from the user, so that o

[2019-04-12 16:05] wi101 commented on #743
I will attend!

[2019-04-12 16:07] NeQuissimus commented on #743
Love the idea. Won't be able to attend but we should collect some ideas for what to work on ahead of time and I'll leave feedback there.

[2019-04-12 16:09] iravid commented on #743
I’m in!

[2019-04-12 16:21] kamilkloch commented on #743
Great idea. I would love to come. Depends on the exact September date though. Non-contributor status thus far.

[2019-04-12 17:33] Avasil commented on #743
You mentioned `Cats-Effect` on Twitter. If it's Warsaw I can 99% come on behalf of Monix or even just help with ZIO. I want to support brilliant idea!

[2019-04-12 17:44] jdegoes commented on #743
@avasil That would be fantastic! Would love to have you there.

[2019-04-12 17:51] regiskuckaertz commented on #743
wow, that's very generous and such an exciting idea! I'm in and keen to help with the setup in any way I can.

[2019-04-12 18:59] ratoshniuk commented on #743
I would like to attend, would be funny:)

[2019-04-12 20:52] GodPlaysChess commented on #745
I would like to take that!

[2019-04-12 21:14] jdegoes commented on #745
@GodPlaysChess It's all yours! 🙏

[2019-04-12 21:15] Cereopsis commented on #743
I’ve never been to Poland. This could fix that.

[2019-04-12 23:29] lbialy commented on #743
More VirtusLabers incoming, expect me too :smile: Can take care of both lodging and food for myself :+1:

[2019-04-12 23:40] ghostdogpr commented on #743
Ok, if you’re all going to be there, I HAVE to make it!

[2019-04-13 02:02] jdegoes opened #746 "Zip consistency"
Every data type that has `zip` should also have:

 - `<*` AND `zipLeft`, which perform a `a.zip(b).map(_._1)`. The named operator can delegate to the symbolic operator.
 - `*>` AND `zipRight`, which perform a `a.zip(b).map(_._2)`.  The named operator can delegate to the symbolic operator.
 - `<*>` and `zip`. The named operator can delegate to the symbolic operator.

Every data type that has `zipPa

[2019-04-13 03:26] jadireddi commented on #746
@jdegoes , I would like to work on this PR.

[2019-04-13 05:20] heraklos commented on #744
Hello @jdegoes
I would like to take this issue.

[2019-04-13 06:13] mijicd commented on #730
Steward is already integrated but it might be suffering from [this](https://github.com/fthomas/scala-steward/pull/364#issuecomment-480937458). Fortunately, it is a known bug, and it can be fixed either by dropping the plugin, or via the approach described [here](cb372/sbt-explicit-dependencies#33).

Plugin-wise, [sbt-sonatype](https://github.com/xerial/sbt-sonatype) and [sbt-release](https://githu

[2019-04-13 06:14] mijicd commented on #743
I love the idea, see you all there!

[2019-04-13 09:27] mschuwalow commented on #743
Sounds like a great idea. I'll be there too.

[2019-04-13 14:26] jdegoes opened #747 "Fix equals and hashCode for Exit.Cause"
The `Exit.Cause` structure inside `core` (`Exit.scala`) is a _free semiring_, without multiplicative or additive identity.

In particular, for sequential composition `++` (currently called `Then`) and parallel composition `&&` (currently called `Both`), we have:

 - Associativity of sequential: `a ++ (b ++ c) == (a ++ b) ++ c`
 - Associativity of parallel: `a && (b && c) == (a && b) && c`
 - Commu

[2019-04-13 15:00] ghostdogpr commented on #584
Closing this one as RC3 was released successfully.

[2019-04-13 15:00] #584 closed

[2019-04-13 15:01] ghostdogpr commented on #672
Done in #674

[2019-04-13 15:01] #672 closed

[2019-04-13 15:31] softinio commented on #743
I need to convince you to run one here in the Bay Area :-) Love the idea.

[2019-04-13 15:38] jdegoes commented on #743
@softinio Sure, just convince more bay area engineers to contribute to ZIO. 😉

[2019-04-14 08:32] YuvalItzchakov commented on #513
I'd like to work on this one :)

[2019-04-14 12:46] #696 closed

[2019-04-14 13:48] ksarath commented on #695
@jdegoes Thank you

[2019-04-14 15:56] Cereopsis commented on #747
@jdegoes Looks like this is down to how flatten works. Taking right sequential distribution as an example:

```a ++ (b && c) must_===((a ++ b) && (a ++ c))```

[code]

Obviously Set's hashCode is going to arrive at two distinct values in this case making any equality comparison fail. I guess the question is whether a more thorough flattening operation is the answer e.g

[code]

[2019-04-14 18:39] ioleo commented on #743
I'll be there :)

[2019-04-14 20:28] Cereopsis commented on #747
Interesting. Lifting flatten (as defined above), hashCode and equals up into the trait works for all the equalities defined in this issue BUT breaks the single existing test case which exercises stripFailures.

I'll have to poke around a bit more to see why that is.

[2019-04-14 23:04] Cereopsis commented on #747
OK, so somehow that broke the pattern match in stripFailures. The case `if (c.died) c.stripFailures must beSome` was failing with input `Die(java.lang.RuntimeException)`

Turns out  the first case `case Interrupt => None` was matching and by moving `case d @ Die(_) => Some(d)` to the top it worked.

Next step, try to work out the logic behind that!

[2019-04-15 08:10] Cereopsis commented on #747
One other fly in the ointment: IOSpec.testOrElseDefectHandling fails.

[2019-04-15 10:01] tampler opened #761 "Environments compatibility"
Hello

I'm trying to test the env feature with my code, but have a hard time integrating it. Could you pls help me to resolve the issue below ?
[code]
[code]
How do I repack ZIO[Config, Nothing,Int] into ZIO[Environment, Nothing, Int] ?

Thank you!
Boris

[2019-04-15 11:53] ksarath commented on #761
Can't we use `provideSome(_ => Config)` for this case?

[2019-04-15 13:16] Dan-M commented on #687
I looked into this one and can provide a PR. But I run into an issue in `testing-effects.md`:

[code]
mdoc doesn't allow `???` and fails the build with `NotImplementedError`.
Using `mdoc:crash` still fails the build when accessing `code` in the next statement. I couldn't find a way to get the build work and left this code block without `mdoc` for now.

Another question is if you want to change the

[2019-04-15 13:21] kaishh commented on #687
I guess you can replace lazy val with def to avoid crashing there

[2019-04-15 18:12] #706 closed

[2019-04-15 18:12] #741 closed

[2019-04-15 18:26] jdegoes commented on #747
@Cereopsis Right now the use of set for sequence means that `a ++ b` compares equal to `b ++ a`. But that's incorrect. The first one says the error `a` came _before_ the error `b`, but the latter says the reverse. They say opposite things and should not be equal.

[2019-04-15 19:14] jdegoes commented on #761
`test.provide(Config(...)).fold(_ => 1, _ => 0)`

[2019-04-15 19:14] jdegoes commented on #761
Also you don't need `DefaultRuntime` because `App` already contains a runtime...

[2019-04-15 19:42] Cereopsis commented on #747
@jdegoes Yes, it felt far too simplistic/naive :-)  I just need to grok some simple patterns to see how to make the right comparisons.

[2019-04-15 19:55] tampler commented on #761
@jdegoes Thanks, worked like a charm.

I plan to attend the Lambda Conf 2019. I'd also like to contribute into Zio. Should I join some group in  https://scalaz.mobilize.io to do that ?

[2019-04-15 19:56] jdegoes commented on #761
@tampler No need for that! Just stick around here to contribute. 😄

Look forward to meeting you at LC2019, and welcome contributions. 🎉

[2019-04-15 19:56] #761 closed

[2019-04-16 11:49] #220 closed

[2019-04-16 12:34] jdegoes commented on #417
Refreshed the above list of topics.

[2019-04-16 13:36] jdegoes opened #766 "Switch from sbt-microsites to docusaurus"
As the microsite becomes increasingly larger and more like a real website, it will be useful to take advantage of capabilities provided by [Docusaurus](https://docusaurus.io).

Since we have switched from `tut` to `mdoc`, this will be an easier transition:

 - <https://scalameta.org/mdoc/docs/docusaurus.html>

It requires someone at least mildly familiar with HTML / CSS / static site generators, a

[2019-04-16 13:51] jdegoes opened #767 "Move ZIO + ecosystem to separate Github organization"
In light of #730 and other ZIO projects increasingly cluttering up the `scalaz` organization, I think it makes sense to move both ZIO and other projects in its immediate ecosystem to a separate organization on Github, in advance of the impending 1.0 release (since the groupId and artifact names may change, and we need stability post 1.0).

Unfortunately the `zio` name was already taken, but it was

[2019-04-16 14:10] NeQuissimus commented on #767
Go ahead, seems like a good idea.

[2019-04-16 14:14] ahjohannessen commented on #767
:+1:

[2019-04-16 15:45] #745 closed

[2019-04-16 18:28] softinio commented on #767
👍

Let me know if I can help with the migration and admin of new org

[2019-04-16 19:39] jdegoes opened #768 "Finish interruptible monadic regions"
## Annihilation Laws

Changes to interruptibility have "infinitesimally thin edges"; i.e. they do not introduce new regions in which interruptibility / uninterruptibility has an effect.

[code]

~~## Fusion Laws~~

~~Two adjacent interruptible/uninterruptible regions will be fused into a single region.~~

[code]

**EDIT**: _Deleted for being too surprising._

## Primitive Laws

Primitive effect co

[2019-04-16 19:44] jdegoes commented on #767
@softinio Careful what you wish for! You're an admin now. 😆 We can begin setting up one team per project and so forth.

@NeQuissimus I have a feeling the biggest pain of the migration is going to be deploying on Sonatype under a new groupid / etc. Do you think you could lend a hand there? 🙏

[2019-04-16 21:27] msosnicki commented on #747
@jdegoes can I have a look into this one? I changed the implementation and created ScalaCheck tests for it, but at the moment all the tests but left distributivity pass and I will gladly dig it deeper :)

[2019-04-16 21:29] NeQuissimus commented on #767
I have a few thoughts on that.
1) what about a domain? Sonatype generally asks for ownership of one.
2) package and artifact names? Do you want to change them as well?
3) I can do the Sonatype stuff once I have answers to the other two points

[2019-04-16 21:35] jdegoes commented on #767
1. I have `zio.world` and `zioworld.com`. I'd like a better one...
2. `scalaz-zio` => `zio`, `scalaz.zio` => `zio`. Then we'll have a different repo for every module that should be versioned independently, e.g. `zio-cats`, `zio-scalaz`, etc.
3. 🙏

[2019-04-16 21:35] jdegoes commented on #767
I know Github allows wholesale moving a repo from one org to another. That should make the setup easier.

[2019-04-16 22:02] NeQuissimus commented on #767
zio-fp.io is available

[2019-04-16 22:20] Cereopsis commented on #747
No arguments here, I probably won’t get round to looking til next week now anyway

[2019-04-17 01:56] softinio commented on #767
When shall I start moving the repos over and setting up the teams? Guess we should figure out the sonatype side of things before doing the move.

Also `zio.dev` domain is available but google domains has it marked as premium so are charing $98 per year for it

[2019-04-17 04:29] mmuschalik commented on #743
Make sure to send a personal invite to Mr. Ordersky :) . Effects made it on the list on https://dotty.epfl.ch/ but I'm certain won't make scala 3.0. If effects become more integrated into the language, I want to know how. Can it be done in a way that perhaps can still work on top of effect monads provided by libraries such as ZIO.

[2019-04-17 05:55] iravid commented on #768
Regarding absorption:
[code]

The LHS can be interrupted between `zio1` and `zio2`, but the RHS cannot. Is this intentional?

[2019-04-17 08:09] TimPigden opened #771 "RefM should permit errors in modify etc"
Currently the signature for RefM.modify is
```final def modify[R, B](f: A => ZIO[R, Nothing, (B, A)]): ZIO[R, Nothing, B] =```
This is restrictive, in that the method f might reasonably return an error. Something like
```final def modify[R, E, B](f: A => ZIO[R, E, (B, A)]): ZIO[R, E, B] =```
would be more useful

[2019-04-17 11:24] jdegoes commented on #768
@iravid I am not sure if it's a good idea yet, but the intent is to make the LHS behave the same as the RHS, i.e. it cannot be interrupted:

[2019-04-17 12:08] NeQuissimus commented on #767
https://central.sonatype.org/pages/choosing-your-coordinates.html

Things need to happen in this order:
1) Figure out domain
2) Get Sonatype permissions
3) Move repos
4) Fix builds / publishing

[2019-04-17 12:09] jdegoes commented on #767
- [x] Just got `zio.dev`

[2019-04-17 12:12] NeQuissimus commented on #767
@jdegoes Enable 2FA for your GitHub ;)

Then enable https://github.com/organizations/zio/settings/security and verify https://github.com/organizations/zio/settings/domains please :)

[2019-04-17 12:21] jdegoes commented on #767
@NeQuissimus 2FA is quite onerous, because I am traveling internationally and often change my SIM cards. Is it necessary? 🙏 😆

[2019-04-17 12:27] NeQuissimus commented on #767
Not necessary I suppose... I would recommend it though.

https://www.yubico.com/works-with-yubikey/catalog/github/
https://authy.com/guides/github/

2FA via SMS is broken anyways, don't ever use that...

[2019-04-17 12:52] jdegoes commented on #767
@NeQuissimus Since it's just an OSS project, my feeling is to keep things as simple as possible for now (rather than requiring all contributors do 2FA with phone or Yubikey). I'm 100% on board for private projects though.

[2019-04-17 12:53] jdegoes commented on #767
I further signed up for [Netlify](http://netlify.com), which is free for OSS projects. A better Github Pages with custom SSL.

I'm in the process of verifying zio.dev with Github. Could take a day.

[2019-04-17 12:54] jdegoes opened #772 "Flaky reactive test"
[code]

[2019-04-17 12:54] jdegoes commented on #772
/cc @runtologist

[2019-04-17 12:58] jdegoes commented on #746
@jadireddi Going to close this, I think / hope we got everything. 😄

[2019-04-17 12:58] #746 closed

[2019-04-17 13:35] iravid commented on #768
That'd make big resource acquisition chains (e.g. Managed trees) uninterruptible between the acquisitions. Not sure if that's a good idea either :-)

[2019-04-17 14:00] NeQuissimus commented on #767
Do you also want to replace Travis CI with Circle CI?

[2019-04-17 14:10] softinio commented on #767
Great news re: `zio.dev`.

I know circleci really well let me know if I can help with that.

[2019-04-17 15:35] jdegoes commented on #768
@iravid You're right. Although it's not a huge loss since you can `uninterruptible(...) *> allowInterrupt`.

[2019-04-17 15:59] jdegoes commented on #767
I'd love to make that change. I love Travis, but it's been very flaky recently.

[2019-04-17 16:58] jczuchnowski commented on #767
I'm for CircleCI too, and could help moving NIO (zio-nio now :laughing:  ?)

[2019-04-17 17:23] NeQuissimus commented on #767
@jdegoes Could you take care of this, please? It's to prove to Sonatype we own the domain `zio.dev`

[2019-04-17 17:44] iravid commented on #768
Another pattern (that I personally use a lot) that'd become mostly uninterruptible:
[code]

Also `allowInterrupt` is a nice throwback to the cats-effect `IO.cancelBoundary` which was really annoying :-)

May I ask (in terms of reasoning) what do we gain from the absorption laws?

[2019-04-17 18:02] runtologist commented on #772
I'm bike-tripping w/o computer. I'll take a look in a few days, when I'm back.

[2019-04-17 18:11] jdegoes commented on #768
@iravid The only thing you gain is that if coming out of an uninterruptible section that acquires a resource, then you know it will be passed to a subsequent uninterruptible continuation. I don't think that use case justifies the "peek ahead" though, so I deleted those laws.

Yes. It could be useful in the middle of an uninterruptible block, at a safe point. Anyway, I saw Haskell had it, and I cou

[2019-04-17 18:40] jdegoes commented on #767
@NeQuissimus

[Done](https://dig.whois.com.au/dig/sonatype.zio.dev)

[2019-04-17 18:42] jdegoes commented on #767
@NeQuissimus

Also [verified zio.dev with Github](https://github.com/zio)

[2019-04-17 19:21] GodPlaysChess commented on #771
I will take this!

[2019-04-17 19:31] mvv commented on #768
uninterruptible(interruptible(uninterruptible(zio))) === uninterruptible(zio)

Does not make much sense to me.

I tend to think about this in terms of interruption points. The primitive effects have no interruption points:
[code]
`asyncEffectMaybe` is an interruption point (unfortunately, several) and so is `yieldNow`.

Fiber starts with an interruption point:
[code]

The set of interruption point

[2019-04-17 19:35] jdegoes commented on #767
Other thoughts:

 - Moving the media assets to their own repository `zio-media` or something (they're big and not relevant for development)
 - Possibly having a dedicated `zio-website` project that is separate from `zio-core`.

[2019-04-17 20:10] jadireddi commented on #746
Sure @jdegoes. We can close it. We have got everything.

[2019-04-17 22:47] NeQuissimus commented on #767
If you're ready for ZIO publishing to be broken for a little while, go ahead and move the repo. I'll try to fix the build as soon as time permits.

[2019-04-18 06:59] iravid opened #773 "Add a Stream.buffer(n: Int) combinator"
The combinator should allow the surrounding parts of the stream to progress independently, allowing for pipelining. The easiest solution would be to dump the source of the stream into a bounded queue, and create a stream from that queue.

[2019-04-18 07:34] iravid commented on #768
Great explanation @mvv

[2019-04-18 10:58] Dan-M commented on #766
I can take a look at this. But at some point I will probably need support regarding content and design.

[2019-04-18 12:58] jdegoes commented on #768
@mvv @iravid

That is the "fat edges" interpretation of `interruptible` / `uninterruptible`, where the combinators themselves add additional instructions, which can form the basis of interruption.

You can see this in your mental model:

[code]

This is in fact the way things work right now, but I think a more algebraic model might be useful. Defining `(un)interruptible(foo)` to be the _exact_ sam

[2019-04-18 13:04] iravid commented on #768
I agree that the thin edge model is less surprising. The `bracket` example, with `use` being constructed as uninterruptible and remains so even if wrapped in interruptible, appears more compositional.

[2019-04-18 22:19] jdegoes commented on #767
@NeQuissimus Let me get one more RC candidate out then will be ready... thank you!

[2019-04-19 06:31] mvv commented on #768
Ah, a clash of intuitions :)

When I look at `IO.unit.interruptible`, I can't help but think that it is interruptible, just like `IO.unit.fork` is. But when I look at `bracket(acquire)(release)(x => uninterruptible(use(x)))`, I just see a fancy version of `acuire.flatMap(x => uninterruptible(use(x)))`, so I don't expect it to be uninterruptible as a whole, it's a combinator after all.

[2019-04-19 07:32] mvv opened #776 "Granular interruption levels"
I was about to write a patch that prevents `ZQueue.take` from "losing" dequeued items on interruption, but immediately got reminded of the idea to make all potentially blocking operations in ZIO to use `interruptible` to prevent deadlocks, unfortunately, at the expense of modularity.

That got me thinking that, if we are essentially copying the Haskell approach, when why not copy it in full detail

[2019-04-19 12:22] iravid opened #778 "Add more context to the default Platform#reportFailure"
Currently, it just prints the `cause.toString`. We could add some more context (e.g. `"An unhandled failure occured:"`) and maybe assist the user in checking what went wrong.

(I'd love to know myself what to do to get rid of these! cc @jdegoes )

[2019-04-19 12:44] jdegoes commented on #778
I think recently the Cause has been imlroved to show stack trace...if not, we should add that. The message printed should be enough to diagnose the problem.

Also I changed to print to std err by default.

[2019-04-19 12:48] ArturGajowy opened #779 "cats.Monad instance not stack-safe in tailRecM"
I've successfully replaced `monix.Task` with `zio.Task` in a module test, with one small caveat: I got a StackOverflowError (attached below) in a test supposed to secure against it :)

I've managed to patch it up quickly by overriding the CatsMonad class in my test classpath. You'll notice it does an additional [`ZIO.suspend` around the `f(a)` in trailRecM](https://github.com/ArturGajowy/rchain/co

[2019-04-19 13:29] iravid commented on #778
When exactly does this get called? On all defects? Would be good to have that printed as well

[2019-04-19 14:29] jdegoes commented on #778
It will be called on all unhandled typed errors, and all defects.

[2019-04-19 15:14] softinio commented on #767
Moved `scalaz-actors` to new org and renamed it to `zio-actors`. Thought it was a good first repo to move as not in critical path for publishing and we can use it as the example repo to set everything up on and then do same for other repos.

Will work on a PR for it next to rename anything `scalaz-actors` to new name and add circleci build.

@NeQuissimus Planning to configure the circleci build do

[2019-04-19 15:41] NeQuissimus commented on #767
I added the Sonatype variables.
You'll also need an encrypted key to sign artifacts. I'll generate one over the weekend.

[2019-04-19 15:44] softinio commented on #767
@NeQuissimus thank you Sir!

[2019-04-19 16:35] jdegoes commented on #776
@mvv I will think on this, but my current thought is that I would rather leave core operations with _undefined_ interruptibility, and let the user choose, than introduce a 3rd mode.

A tri-state interruptibility model is very hard to explain and understand, lacks symmetry, and will not support the same sort of laws that we can define with the current model.

If we don't choose the interruptibility

[2019-04-19 19:30] kaishh commented on #779
@ArturGajowy Thanks for submitting the issue! Would you have the cycles to submit your changes as a PR too or not this time?

[2019-04-19 19:33] ArturGajowy commented on #779
I'll give it a shot next week :)

[2019-04-19 19:40] dnaumenko commented on #743
I would like to attend!

[2019-04-19 21:13] NeQuissimus commented on #767
Key is now also in your ENV.

[2019-04-19 23:44] FrancoAra commented on #743
I will be there together with @adilakhter and probably with Assen Kolov

[2019-04-20 03:09] mperucca opened #780 "`getStrLn` uninterruptible"
In case this is unknown, the following never terminates (at least on Windows/JVM) `getStrLn.fork.flatMap(_.interrupt)`.

`blocking(getStrLn).fork.flatMap(f => ZIO.sleep(1.second) *> f.interrupt)` does not terminate either.

I've wanted this to work in order to do `longRunningComputation race getStrLn` to allow cancellation from the user through the command line.

Perhaps it's just my terminal, but

[2019-04-20 13:11] #747 closed

[2019-04-20 14:35] jdegoes commented on #780
@mperucca You are right, this needs to be fixed! Thanks for reporting, and also for being an early user. 😄

[2019-04-20 14:47] jdegoes commented on #779
Yes!

We should definitely fix this.

[2019-04-21 00:27] dmgcodevil opened #783 "Where is IO.sequence"
Hi, was looking for `IO.sequnce` but can't find it.

[2019-04-21 00:29] kaishh commented on #783
It's `IO.collectAll`

[2019-04-21 17:37] #783 closed

[2019-04-21 20:33] #771 closed

[2019-04-21 22:32] TheMayoras commented on #744
Hello @jdegoes and @heraklos, I would also like to help with this issue.

[2019-04-21 22:42] heraklos commented on #744
@TheMayoras
Hi, thanks for your message. Please take this issue 😄
It seems I won't be able to give enough time to work on this issue this month.

[2019-04-22 14:10] TheMayoras commented on #744
Hello @jdegoes,
I'm not sure if this is the right place to ask, but I am hoping to make this issue my first contribution to an open source project.  It seems doable, but I was hoping for a bit of help getting started.  I've read through most of the documentation, but I think some extra information would help me get started.

Thank You 😊

[2019-04-23 03:10] nktpro opened #785 "Interrupt leak / deadlock bug under high concurrency"
As of **v1.0-RC4**, there's a possible non-deterministic interruption leak / deadlock bug under high concurrency. I've started seeing interrupt IOs that permanently block once every thousand calls in the context of a large working app.

I've managed to create a bare minimum, standalone reproducer:

[code]

**Expected:**

- Steady, relatively constant pending count, ~= the number of system threads.

[2019-04-23 07:16] mperucca opened #786 "Chunk.empty.toArray throws ClassCastException"
`val a = Chunk.empty.toArray[String]`
gives
`java.lang.ClassCastException: [Ljava.lang.Object; cannot be cast to [Ljava.lang.String;`

I'm not sure why the casting is used in the implementation.

[2019-04-23 14:01] jdegoes commented on #744
@TheMayoras Absolutely! Thanks for your interest in this one.

Would you like me to write more explanation here, or have a short video session? Or both? 😄

[2019-04-23 14:34] jdegoes commented on #786
This will be tricky to fix but I know how.

Casting is used extensively in the implementation to avoid boxing.

[2019-04-23 14:37] jdegoes commented on #785
@nkpart Does this happen in `RC3`?

As far as I can tell from a first glance, the interruption of `abortFib` code should never block (it obviously itself blocks on `valueFib` but there are no finalizers there that could delay interruption indefinitely). Which means it's a bug and will be fixed. Thanks for your work minimizing!

[2019-04-23 14:39] jdegoes commented on #780
To fix this issue, we will have to split apart `console` into separate JVM and Scala.js packages. Then the JVM implementation of `console` will have to use the `blocking` module for `getStrLn`.

[2019-04-23 16:13] TheMayoras commented on #744
@jdegoes An explanation should hopefully be enough.  If I understand correctly, the goal for (2) is to create a new file with "improved" IO, UIO, Task, and TaskR objects that have more specific type signatures that shuffle the methods to ZIO.  Is that on the right track?  I'm sure I am missing a lot of details here.

Thank you for the guidance. I have been nervous to about contributing to anything

[2019-04-23 17:49] jdegoes commented on #744
@TheMayoras

The ticket can be structured in the following phases.

### Phase 1: Introduce UIO.scala, TaskR.scala, Task.scala, and IO.scala

Initially, these will be empty files, but soon they will contain all the "companion objects" for the type aliases `UIO`, `TaskR`, `Task`, and `IO`.

### Phase 2: Move the `UIO`, `TaskR`, `Task`, and `IO` objects into their respective files.

A simple migratio

[2019-04-23 17:50] jdegoes commented on #744
@TheMayoras Let me know if you need anything more, and I'm really excited you chose ZIO to be your first OSS contribution! (Hopefully it will be a great experience that results in more contributions. 😄 )

[2019-04-24 01:09] denisgarci commented on #780
I would like to take a crack at this issue. I have a few questions. Is this the right signature for the new console service on the JVM?
[code]
Or shoud it still be  `getStrLn: ZIO[R, IOException, String]`?

[2019-04-24 03:42] mperucca commented on #780
Maybe I'm misunderstanding, but I don't think this will work.

The following doesn't terminate:
`effectBlocking(scala.io.StdIn.readLine()).fork.flatMap(f => ZIO.sleep(1.second) *> f.interrupt)`

What I had to do was to poll the input with `scala.Console.in.ready()` and only read whenever that returned true. I'm not sure how the terminal input is buffered, but it might be necessary to only read wit

[2019-04-24 11:19] jadireddi commented on #773
I am working on this PR.

[2019-04-24 13:32] TheMayoras commented on #744
@jdegoes I just want to clarify something about **Phase 6** before I go any further.  For Task.scala for example, do you want all _E_ to be `Throwable`, or all _E_ to be `E<:Throwable`.

I was also wondering what you thought about something like a **_Guide to the Code for Beginners_**.  Explaining the reasoning behind decisions, how the code fits together, etc.  I know it would help me.

[2019-04-24 13:44] jdegoes commented on #744
@TheMayoras For `Task`, all `E` must be `Throwable`. For non-`Throwable`, a user must use `IO`, for example.

That's a great idea! Unfortunately I won't have time to work on that until the late summer...

[2019-04-24 13:51] TheMayoras commented on #744
@jdegoes I would love to help write it.  I would obviously need a lot of questions answered 😂

[2019-04-24 14:48] TheMayoras commented on #744
@jdegoes I am working on **Phase 6** on `Task.scala` right now, and I am seeing some functions that take multiple `R`'s.  For example, `raceAll` takes an `R` which I changed to `Throwable`, but it also take an `Iterable[ZIO[R1>: LowerR >: R, E, A]]`.  Should I convert `R1` to `Throwable` or change it to `R1>:`  `Throwable`?

[2019-04-24 15:01] jdegoes commented on #744
I'm good to answer questions!

For `Task`, all `R` must be converted to `Any`, so there will not be any more `R` type parameters in `Task.scala`.

[2019-04-24 15:07] TheMayoras commented on #744
@jdegoes  Sorry for all the questions, but what type of `E` should I use for `IO`?

[2019-04-24 15:08] jdegoes commented on #744
`E` will have no constraints and be fully polymorphic for `IO`. Only `R` will be replaced by `Any` in `IO`.

For `ZIO`, everything will be fully polymorphic for `R` and `E`.

[2019-04-24 15:08] jdegoes commented on #744
No worries on questions, that's what I'm here for. 😄

[2019-04-24 15:33] jdegoes opened #790 "Cats Effect: Schedule"
Introduce an effect-polymorphic class atop `ZSchedule`, with a default implementation for any Cats Effect data type (Cats IO, Monix Task, etc.).

[code]

The methods will all delegate to `ZSchedule`, but they will take the `ZIO` effect returned by `ZSchedule` methods and lift it into any effect `F[_]` that is suitable equipped.

[2019-04-24 15:37] jdegoes opened #791 "Cats Effect: STM & TRef"
Introduce an effect-polymorphic class atop `STM` and `TRef`, with a default implementation for any Cats Effect data type (Cats IO, Monix Task, etc.).

[code]

The methods will all delegate to ZIO `STM`, but they will take the `ZIO` effect returned by `STM` methods and lift it into any effect `F[_]` that is suitable equipped.

[2019-04-24 15:39] jdegoes opened #792 "Cats Effect: Queue"
Introduce an effect-polymorphic class atop `ZQueue`, with a default implementation for any Cats Effect data type (Cats IO, Monix Task, etc.).

[code]

The methods will all delegate to ZIO `ZQueue`, but they will take the `ZIO` effect returned by `ZQueue` methods and lift it into any effect `F[_]` that is suitable equipped.

[2019-04-24 15:42] jdegoes opened #793 "Cats Effect: Stream & Sink"
Introduce an effect-polymorphic class atop `ZStream` & `ZSink`, with a default implementation for any Cats Effect data type (Cats IO, Monix Task, etc.).

[code]

The methods will all delegate to ZIO `ZStream` and `ZSink`, but they will take the `ZIO` effects returned by `ZStream`/`ZSink` methods and lift it into any effect `F[_]` that is suitable equipped.

[2019-04-24 16:40] jdegoes opened #794 "Proper attribution for STM"
The design of the API for STM was lifted directly from Haskell and is due proper attribution (the implementation is original and does not resemble the Haskell implementation at all).

[2019-04-24 16:52] jdegoes commented on #794
Should look at other things too and provide proper attribution.

[2019-04-24 18:09] GodPlaysChess commented on #790
I will try this one

[2019-04-24 18:20] jdegoes commented on #790
Awesome, just ping me! 😄

[2019-04-24 18:46] NeQuissimus commented on #793
Once you have this, we should be able to bring in FS2 pretty easily, no?
Just today had a situation where I needed to interop with FS2...

[2019-04-24 19:18] timo-schmid commented on #793
This looks super interesting, i'll try to contribute it!

[2019-04-24 19:23] TheMayoras commented on #744
@jdegoes I have just finished with **Phase 6**, and when I try to compile, I get an error saying:
`D:\Software\Eclipse\Workspace\Scala\scalaz-zio_issue744\scalaz-zio\core\shared\src\main\scala\scalaz\zio\Promise.scala:56:28:`
`wrong number of type parameters for method effectAsyncInterrupt:`
`[E, A](register: (scalaz.zio.ZIO[scalaz.zio.IO.IoR,E,A] => Unit) => Either[scalaz.zio.Canceler,scalaz.zio.

[2019-04-24 20:12] VladKopanev commented on #791
I would like to try this one.

[2019-04-24 20:55] denisgarci commented on #780
@mperucca You're right I tried the `blocking` approach in a local branch and the second examples doesn't work.
[code]
The test `getStrInterruptible1` passes but `getStrInterruptible2` times out.

[2019-04-24 22:09] jdegoes commented on #780
@denisgarci

Yes, it should remain this way.

You never know with JVM methods! However, we will still need `Blocking` because we will have stuff to run in the unbounded thread pool—we can't choke up the async thread pool with this blocking IO.

I'd suggest an implementation like this:

[code]

That's for the JVM. The Scala.js implementation won't have `getStrLn`.

Probably mistakes in the above ^^

[2019-04-25 01:24] #779 closed

[2019-04-25 02:34] jadireddi commented on #792
I will contribute to this PR.

[2019-04-25 02:44] mperucca commented on #780
That implementation still does not allow interrupting `getStrLn`. The problem is that `StdIn.readline()` does not acknowledge `Thread.interrupt()`.

[2019-04-25 03:47] mperucca commented on #780
I did something like this to allow interruption.
[code]
It has issues though. Just to list a few:
1. It ignores possible `IOException` in `ready` and `read`.
2. It busy polls, maybe use `sleep` or `yieldNow` on iterations when nothing's ready to be read?
3. It doesn't consider line feeds as part of the newline.
4. Concurrent calls to `getStrLn` could still block the underlying thread and not allow

[2019-04-25 10:25] VladKopanev commented on #791
I think for convenience we could add ` def mapK[G[_]](f: F ~> G): STM[G, A]` function to all such classes, not only STM  but also Queue, Schedule,  Stream & Sink, etc. Because all concurrency primitives from cats-effect has that, I guess we don't wanna users lost such ability. I can do that in same PR.

[2019-04-25 12:30] jdegoes commented on #780
Sorry, my code was wrong. I deleted the most important part while refactoring. 😂

If we close the same input stream, it will throw `IOException`, which will terminate that fiber.

[code]

Now when the `fiber.join` is interrupted, it closes the input stream, which will throw `IOException` from `readLine`.

It is a good implementation! The main problem is the busy-waiting. It will suck up a lot of C

[2019-04-25 12:59] jdegoes commented on #791
@VladKopanev Yes, that would be fantastic!

[2019-04-25 13:00] jdegoes commented on #792
@jadireddi Superb. Thank you! 🙏

[2019-04-25 14:54] politrons opened #797 "Transform ZIO to Future Not inside a request scope."
Hi all

I´m transforming a scala Future into ZIO using the `fromFuture` operator. The problem is, that my program cannot wait until the future it's finish, and I need to pass the future to a layer that cannot work with ZIO. So I´m using `unsafeRunToFuture(monad)`, that return a future of the ZIO right type(of course I expect that the transformation it's done by composition, and no block is in plac

[2019-04-25 16:23] politrons commented on #797
``

[2019-04-25 16:23] #797 closed

[2019-04-25 17:18] mvv commented on #776
Sure. It is fine for application-level code, just hope nobody starts using `interruptible` directly in libraries.

[2019-04-25 21:36] mperucca commented on #780
We wouldn't want interrupting `getStrLn` to close standard input though, would we? Although allowing `getStrLn` again after an interrupt brings up the question of what line to return if a previous line got interrupted partway through being read.

[2019-04-26 01:46] #778 closed

[2019-04-26 01:52] jdegoes commented on #780
You tell me. 😄 In a console application it would be pretty unusual to interrupt the main read loop unless the application were terminating, in which case closing standard input would be acceptable.

With this use case: `longRunningComputation race getStrLn`, however, we should not close standard input or else the pattern cannot be repeated....

That suggests to me we investigate the JRuby solution

[2019-04-26 06:27] nktpro commented on #785
@jdegoes I tested this back to `RC1` can could still reproduce it.

Also interestingly if we fork `abortFib.interrupt`, i.e:

[code]

Then everything is fine. The interrupt happens asynchronously but also practically instantaneous. `pendingGauge` will always remain <= the number of threads even after an hour of 100% CPU load test, indicating there's no blocking or leaking whatsoever.

[2019-04-26 23:27] NeQuissimus opened #801 "Timing IO"
I would like to time the execution of (parts of) my IO.

This work but I was wondering if folks out there have a better idea :)

I would give this an "Ops" class, so one could just do `io.timed(reporter)`

[code]

[2019-04-27 00:19] ghostdogpr commented on #801
Just to be sure: are you aware of the existing `timed`, `timedWith` and `summarized` operators?

[2019-04-27 03:21] NeQuissimus commented on #801
Lol, apparently not... I'll check them out :+1:

[2019-04-27 03:25] ghostdogpr commented on #801
Will add `timed` to my [ZIO Cheat Sheet](https://github.com/ghostdogpr/zio-cheatsheet) ;)

[2019-04-27 03:25] NeQuissimus commented on #801
They do what I need, thanks! I'm in the process of updating from 0.6.x.never encountered these guys before...
My implementation chains nicer though 😜

[2019-04-27 03:25] #801 closed

[2019-04-27 13:15] timo-schmid commented on #793
I've mostly copied the ideas from #791 - feel free to let me know if I'm on the right track, or if I misunderstood anything!

[2019-04-27 13:37] jdegoes opened #803 "STM: Support Scala.js"
Currently "synchronized" is used in the implementation of STM, which is not portable to Scala.js. This functionality should be factored out into a simple data structure:

[code]

The Scala.js implementation will obviously not use locking.

The data structure can be placed in the jvm and js packages `scalaz.zio.internal`.

Then the use of `synchronized` inside `STM.scala` can be replaced by the abo

[2019-04-27 14:08] jdegoes opened #804 "Migrate tests over to 'shared' so they run on Scala.js"
A bunch of test suites right now run only on the JVM. As many as possible should be migrated over to `shared` so they run in _Scala.js_ configuration.

The tests are currently located in `core/jvm/src/test/scala/scalaz/zio` and could be moved (one by one, PR by PR) to `core/shared/src/test/scala/scalaz/zio`.

 - [x] ArbitraryCause.scala
 - [x] ExitSpec.scala
 - [x] FiberLocalSpec.scala
 - [x] Fibe

[2019-04-27 14:57] jdegoes commented on #776
@mvv Right.

I think the safest way to deal with untrusted code is to `run` it from within your `uninterruptible` block. Because after all, even if it is not interruptible / interrupted, it can still be defective (throwing errors), which will be detrimental to resource safety.

It adds a little more boilerplate but it helps make it bulletproof to untrusted code.

[2019-04-27 14:57] #776 closed

[2019-04-27 14:58] jdegoes commented on #729
Fixed.

[2019-04-27 14:58] #729 closed

[2019-04-27 14:59] jdegoes commented on #744
@TheMayoras Can you submit a pull request so I can take a more detailed look at the code?

I think since `IO` will not take `R` as a type parameter, you can just delete that `Any` in the call to `effectAsyncInterrupt`.

[2019-04-27 16:10] GodPlaysChess commented on #790
I am almost done with the first draft.

Couple of questions before I went too far

1. in order to delegate to `ZSchedule`, we need 2 natural transformations to convert back and forth between effects

[code]

For now I am keeping them in the trait and providing them from outside upon creation.
But it seems clunky and unnecessary, since a `ConcurrentEffect` constraint already indicates that we can c

[2019-04-27 16:49] jdegoes commented on #790
I would instead just require `implicit R: Runtime[R]` anywhere you need it (at the method level, not the class level). With this, you can get `ConcurrentEffect` and go from `ZIO` to `F[_]`, and you can already go from `F[_]` to `ZIO` (in a number of ways).

How does that sound?

[2019-04-27 17:12] GodPlaysChess commented on #790
I think that will work.

Just to clarify - the enduser of interop is someone who wants to use to use `Schedule` on top of `cats.effect`. So all `ZIO` types (`Runtime`, `ZIO`) should be hidden from them?

Shall I then make some analogue for `ZDecision`?

[2019-04-27 19:41] TheMayoras commented on #744
@jdegoes Just created a pull request.

[2019-04-27 19:49] runtologist commented on #772
The TCK catches assertion failures including timeouts and rethrows them with a misleading message. What we see here really are timeouts. The code looks good to me.

As I cannot reproduce this locally, I guess it is due to slow tests on Travis. I tend to extend the timeout settings for the TCK.

The timeout can be configured in code (currently 500ms) or via environment variables. The latter would b

[2019-04-27 20:41] runtologist commented on #772
update: This definitely is a timeout. When I reduce the TCK timeout to a very short setting, I can reproduce.

[2019-04-27 20:49] runtologist commented on #722
I've increased the RS TCK timeout for SinkToSubscriberTest in #806.

[2019-04-27 21:27] heraklos commented on #803
I would like to take this issue :)

[2019-04-27 22:58] kamilkloch commented on #804
`TestRuntime.scala` uses `TerminationMatchers` from specs2. TerminationMatchers cannot be used in Scala.js (reference to Thread.sleep). Any ideas?

[2019-04-28 08:58] theAnnie commented on #786
@jdegoes I was looking at this bug and I've found also something like that ```   override final def hashCode: Int = toArray.toSeq.hashCode
[code]

[2019-04-28 11:15] sideeffffect opened #807 "We got removed from Scala community build 😿"
https://github.com/scala/community-builds/commit/be8d3f07832c78044a65d3840a9338dc05943af7

explanation is given in this thread
https://contributors.scala-lang.org/t/coc-compatible-community-builds/3097

[2019-04-28 19:46] LGLO commented on #804
Not every test requires `TerminationMatchers`, so we could split `TestRuntime` and put restricted version to `shared`.
Quick test: `PromiseSpec` and `RefSpec` pass tests. `RefMSpec` errors on tests of `update` and `modify`.

[2019-04-28 20:06] vilu commented on #804
Is anyone actively working on this one? If not I would give it or a part of it a go late next week.

[2019-04-28 20:13] LGLO commented on #804
@vilu this issue can be split to many small PRs.

[2019-04-29 12:07] barambani commented on #565
I have been trying something in the past for a pet project of mine, so I would be happy to spend some time on this if it's still a relevant effort.

[2019-04-29 13:09] kaishh commented on #565
@barambani
It's definitely relelant and would be highly appreciated!

[2019-04-29 15:18] mgibowski commented on #804
I take two easy ones for the start: `ArbitraryCause.scala` and `GenIO.scala`.
The migration is so simple that I will put it into one PR.

[2019-04-29 18:17] GodPlaysChess commented on #790
I have a design question.

ZSchedule in many places operates under restriction, that an effect can not result in error
[code]

Concurrent Effect does not have such distincion on the type level, so we can't always straighforwardly delegate to underlying ZSchedule.
Basically we have `TaskR` when we need `UIO`.

I see the following approaches to deal with it:

1. In such places, instead of delegating

[2019-04-29 20:05] iravid opened #810 "ZIO.effectAsync* variants hardcode R = Any"
Of the various `ZIO.effectAsync*` variants, only `ZIO.effectAsyncInterrupt` allows a polymorphic environment.

A quick look at the code of the other variants does not surface any blockers to making them R-polymorphic, but will require some changes to the interpreter.

[2019-04-29 20:59] kaishh commented on #565
@barambani
We currently use a custom BIO* hierarchy instead of what should become CE 2, maybe useful as prior art: [Split BIO into trait hierarchy, add conversions to cats-effect hierarchy](https://github.com/7mind/izumi/pull/524)

[2019-04-29 22:24] barambani commented on #565
thanks @kaishh , good help. 👍

[2019-04-30 00:00] ghostdogpr opened #811 "Supervision is unintuitive due to internal forks"
If you execute the following code:
[code]
You expect `list` to contain the fiber just created with `fork`.
However, because `timeout` uses `race` internally and `race` forks some fibers, you receive the list of those fibers instead of the expected one. In other words, internal implementation is affecting the behavior or supervision, which leads to unexpected results for users.

[2019-04-30 00:49] jdegoes commented on #811
In general, I think that monadic regions should be inheritable, and that the lack of inheritability causes confusion for users, requires global reasoning about whether or not effects "fork", and may violate an interpretation of fork/join identity law.

[2019-04-30 00:50] jdegoes commented on #810
Right. I think this is a holdover from when using `R` had performance impact. Makes sense to generalize them for 1.0.

[2019-04-30 00:57] jdegoes commented on #807
I'm disappointed in this, because as far as I know, ZIO has only ever had pleasant and professional interactions with the Scala community build.

It's a great loss to the Scala community, because ZIO is really pushing the Scala compiler at the intersection of FP/OOP—but it's nothing we can't deal with. We'll just have to be more vigilant about testing with new versions of the Scala compiler and re

[2019-04-30 00:57] #807 closed

[2019-04-30 00:58] #772 closed

[2019-04-30 06:02] ThomasKluiters commented on #792
Hey, @jadireddi, are you still working on this? If not, I'd love to pick this one up :)

[2019-04-30 08:45] sideeffffect commented on #807
fixed in https://github.com/scala/community-builds/pull/831

thanks @jdegoes @SethTisue any everybody who contributed to this! : heart:

[2019-04-30 08:58] LGLO commented on #807
I'm afraid it was fixed in January.
I think we should just carry on with working hard and having fun without being part of community build.
Unless scala compiler regression bites us, we are just OK.
However it isn't pleasant feeling.

[2019-04-30 10:20] jadireddi commented on #792
@ThomasKluiters , At the moment i am working on other open PR review comments. You could pick this one.  Thank you.

[2019-05-01 13:51] mgibowski commented on #803
I just checked and found that the implementation also uses `java.util.concurrent.Semaphore` (`internal.globalLock`) and the spec uses `java.util.concurrent.CountDownLatch` - both of these are not implemented in Scala.js as they contain blocking operations.

@jdegoes do you consider them portable in some way in the context of zio?
Or should they rather be extracted into other simple data structures

[2019-05-01 13:55] mgibowski commented on #804
If anybody is interested in `stm/STMSpec.scala`, take a look at this first: #803

[2019-05-01 17:57] NeQuissimus opened #815 "interop(s)"
The various `interop` right now are really bugging me :D

Would there be an issue with combining them all into one `zio-interop` module and using `Optional` dependencies (see https://blog.7mind.io/no-more-orphans.html)?

[2019-05-01 20:04] kaishh commented on #815
That's similar to what we did before! (I actually got the `Optional` usage from zio). The big point of this trick is being able to stuff all instances into the companion object and have them always available without the `import scalaz.zio.interop.blah._` dance, but that would probably mean getting rid of even a big `zio-interop` module and just dump everything in core...

[2019-05-02 19:43] hamednourhani commented on #766
Hi @jdegoes is this issue still open?

[2019-05-02 20:08] LGLO commented on #766
@hamednourhani  - there is an open [WIP PR](https://github.com/scalaz/scalaz-zio/pull/784) by @Dan-M

[2019-05-02 20:45] hamednourhani commented on #766
Ok tnx

[2019-05-03 04:58] heraklos commented on #803
@jdegoes
@mgibowski is right. When compiling Scala.js code containing STM method, the error `Referring to non-existent class java.uti.concurrent.Semaphore` was thrown.
Am I supposed to create two data structure `LockedRef` and `Semaphore` to support STM in Scala.js and replace `synchronized` and `Semaphore` respectively?

[2019-05-03 14:15] ThomasKluiters commented on #792
Alright! I'll pick this issue up then :)

[2019-05-03 18:35] cloudmark commented on #743
@jdegoes not a contributor but will attend!

[2019-05-03 18:38] justinhj commented on #794
I'd be interested in doing this. Two questions though: Where will the documentation go, inline in the code or on the microsite or both? How much detail do you think I should put? I'm thinking it is enough for a brief summary of where it came from a link?

[2019-05-03 18:51] ang-mic commented on #743
I am not a contributor but I would like to be part of it :)

[2019-05-03 19:17] mgibowski commented on #804
Today I migrate `RefSpec.scala` and `FunctionIOSpec.scala`.

[2019-05-03 19:20] amelnikov-mylivn opened #817 "Add provide and provideSome methods to ZStream"
ZIO type have a method `provide` that allows to convert `ZIO[R,E,A]` type into `ZIO[Any,E,A]`.

It would be nice to have the same method for `ZStream`, so it can convert `ZStream[R,E,A]` type into `ZStream[Any,E,A]`.

P.S. Also we have `provideSome` method with close semantics which is also super useful.

[2019-05-03 19:29] runtologist commented on #743
I love the idea! I'll try to be there.

[2019-05-03 19:58] mgibowski commented on #743
Awesome, I'll be happy to join this gathering! :)

[2019-05-04 10:31] politrons opened #819 "java.lang.IllegalStateException: Not inside a request scope with JAXRS ResourceInfo"
Hi all,

I´m having some issues interacting with `JAXRs ResourceInfo` inside a `ZIO`.
When inside the ZIO I invoke this function

[code]

an exception it's throw `Die(java.lang.IllegalStateException: Not inside a request scope.)`

Any idea what's wrong?.

[2019-05-04 10:47] kaishh commented on #819
It's likely that this API uses thread locals, so you'll need to issue all calls to it from one thread. Check if creating a `Executors.newFixedThreadPool` with size=1 and using it with `.on` helps.

[2019-05-04 10:55] jadireddi commented on #817
@iravid Does this enhancement needed `Tags` approach , inline with `ZIO.scala` or need to be done in different way.

[2019-05-04 10:56] politrons commented on #819
Thanks for answer. Sounds logical what you mention, for now I just extract that computation to the main thread and just pass the variable into the ZIO. With that workaround works.

[2019-05-04 11:10] iravid commented on #817
From a quick look, I think you could implement this as just another combinator. No need to elaborate the stream structure.

[2019-05-04 11:10] tampler opened #821 "Fibers debug in Chisel"
Hello

I'm trying to integrate ZIO into a [circuit simulator](https://github.com/freechipsproject/chisel-testers) to support parallel hardware simulations in [Chisel](https://github.com/freechipsproject/chisel3).

I define some function inside my test class:
[code]
and call it twice for upper and lower channels . This works fine, but sequentially, see below
![sequential](https://user-images.github

[2019-05-04 11:20] iravid commented on #821
If `driveInputs` contains side-effects, you must use `Task(...)` to delay them. Otherwise, It will be evaluated on the calling thread. Moreover, `IO.succeed(driveInputs).fork` will not actually perform any computations on a separate fiber as `driveInputs` would have already been evaluated.