[2018-05-20 15:57] ktonga opened #3 "Church-encoded Maybe"
@jdegoes you in scalaz/scalaz#1798 specify that replacements for `Maybe` and `\/` should be church-encoded. Why exactly? as opposed to sum types.

So far I've got this, but dunno how to get rid of `B` type parameter, it should be using some sort of Haskell's `forall` but I can't figure out how to express that in Scala.

[code]

[2018-05-20 16:08] jdegoes commented on #3
@ktonga Because it's something I wanted to do anyway, as it improves performance.

First off, internally, this repository can use the Scala standard library types (Option, List, etc.), which it already does for the most part.

Second, in the few places where a `Maybe` or `\/` is exposed, we can severe the dependency and improve performance in one go.

An example is `attempt`. Currently, it's typed

[2018-05-20 16:14] ktonga commented on #3
Oh right, church encoding in the API, not defining replacement data types. Gotcha. Will try that way then.

Thanks!

[2018-05-20 16:26] jdegoes commented on #3
@ktonga This will be tricky in some places, lemme know if you need any help.

[2018-05-20 22:20] jdegoes opened #4 "Grab latest changes from scalaz/scalaz series/8.0.x"
This includes but is not limited to:

 - [x] `IOQueue`
 - [x] `IOQueueSpec`
 - [x] `IORefSpec`
 - [x] `KleisliIO`
 - [x] `KleisliIOSpec`
 - [x] `PromiseSpec`

And miscellaneous bug fixes and helpers added to `IO`, `RTS`, etc.

[2018-05-20 22:50] ktonga commented on #4
Yup. That was the plan :+1:

[2018-05-21 03:01] ktonga commented on #3
@jdegoes how you like this encoding?

[code]

[2018-05-21 03:26] ktonga commented on #3
It enables internal/private shortcuts such as

[code]
And then

[code]

[2018-05-21 04:13] ktonga commented on #3
And... without the useless intermediate `Either` allocation

[code]

[2018-05-21 14:57] jdegoes commented on #3
@ktonga I would like to avoid any intermediate data structures, not just merely avoid `Either` / `Disjunction` / `Maybe`. Adding more parameters to a parameter list has no cost (by itself), but constructing and matching on data structures adds overhead. Also with your curried representation inside `FromEA`, it will add additional overhead.

For `attempt`, we really do need:

[code]

This is the fa

[2018-05-21 15:02] ktonga commented on #3
To see other places you can take a look at my WIP PR #5

[2018-05-21 15:14] ktonga commented on #3
What is the difference (in terms of overhead) between `FromEA` and `Disjunction` trait? in both cases to invoke `absolve` you need to allocated an object to carry the two functions that take care of handling the disjunction, and with the trait it is a new instance of an anonymous class using inheritance which seems more verbose instead of just creating a value from a case class

[2018-05-21 15:31] ktonga commented on #3
Ok, fair enough. But i think we cannot reuse instances due to the polymorphism on `E` and `A`

[2018-05-21 15:39] jdegoes commented on #3
@ktonga Sure we can, we just need our good friend `asInstanceOf`. 😉

[2018-05-21 15:47] ktonga commented on #3
Oh right. I forgot about that one.

[2018-05-23 10:45] #3 closed

[2018-06-04 17:39] jdegoes commented on #4
More stuff is coming in tomorrow.

[2018-06-04 17:40] jdegoes opened #6 "Auto-publishing of snapshots on Sonatype"

[2018-06-07 14:57] jdegoes opened #7 "Bug in finalization"
Reported by @alexandru. This may be the same bug identified by @wi101.

Sample 1 — in which the inner finalizer never gets executed:
[code]

[code]

[code]

[2018-06-08 12:35] alexandru commented on #7
Note that in the first sample the second finalizer doesn't necessarily needs to run because the `use` is probably not evaluated yet, what's worrying there is just the exception.

The second sample should be more worrying, as the installed finalizer gets started twice and that's usually the symptom of an ugly race condition (a multi-threading issue?). It's reproducible though, so should be easy to

[2018-06-09 13:37] jdegoes opened #9 "Add `IO.raceAll`"
`raceAll` will rest any collection of `IO` actions and return the first one, or if all of them fail, it will return the last error.

[code]

[2018-06-09 13:42] jdegoes opened #10 "Add `IO.sequence`"
Uses `par` for parallel composition.

[code]

[2018-06-09 13:44] jdegoes opened #11 "Add `IO.traverse`"
Uses `par` for parallel composition.

[code]

[2018-06-09 14:16] jdegoes opened #12 "Add `IO.mergeAll`"
Uses `par` for parallel composition.

[code]

[2018-06-09 14:17] jdegoes opened #13 "Add `IO.reduceAll`"
Uses `par` for parallel composition.

[code]

[2018-06-09 15:25] jdegoes opened #14 "Demote `KleisliIO` from being a function"
Instead of being a function `A => IO[E, B]`, it should have a field called `run` which is a function `A => IO[E, B]`.

[2018-06-09 15:55] jdegoes opened #15 "`Fiber.interrupt` sometimes returns before fiber is actually interrupted"
By spec, `Fiber.interrupt` should not return until the fiber is interrupted and all finalizers have been successfully run. Yet this test and at least one other in `IOQueueSpec` demonstrate that `interrupt` is returning prematurely. This may be as simple as a `@volatile` bug somewhere or something more complex. It may be related to #7.

[code]

[2018-06-09 16:05] jdegoes commented on #7
Based on a preliminary analysis of this code, there are three valid outputs for this fragment.

**If interrupted before the action starts***

[code]

**Explanation**: The action is interrupted before it starts, so it prints out nothing.

**If interrupted inside the outer bracket but before the inner one***

[code]

**Explanation**: The action is interrupted after the outer resource is acquired, bu

[2018-06-09 16:33] jdegoes commented on #7
*Simplified*

[code]

**If interrupted before anything is run**

[code]

**If interrupted at any other time**

[code]

[2018-06-09 16:37] jdegoes commented on #7
[code]

[2018-06-09 17:03] jdegoes opened #16 "Fix issues in finalization"
### Add Test Cases

Add test cases from #7 and #15.

### Uninterruptible Finalization

During finalization, there cannot be any possibility of interruption.

Take this:

[code]

Change to:

[code]

Take this:

[code]

Change to:

[code]

### Volatile Single-Fiber State

Take this:

[code]

[code]

### Fix Enter Async Logic

`enterAsyncStart` does not handle `Interrupting` state. The method can be

[2018-06-10 16:48] ktonga commented on #4
Closed by #17

[2018-06-10 16:48] #4 closed

[2018-06-11 11:55] jdegoes opened #18 "IO.forkAll should return a composite fiber"
Right now we have:

[code]

Instead we should have:

[code]

[2018-06-11 12:37] ktonga commented on #6
Hey @jdegoes I'll rename the root package as part of this task. Should it be `scalaz.zio` or just `zio`?

[2018-06-11 12:48] jdegoes commented on #6
Let’s do scalaz.zio

[2018-06-11 15:20] jdegoes opened #22 "Implement support for Scala.js"
- [ ] Extract `Platform` from `RTS` to encapsulate platform-specific functionality.
 - [ ] Create `PlatformJs` and `PlatformJvm`
 - [ ] Create `RTS` using `PlatformJs`, and `RTS` using `PlatformJvm`
 - [ ] Make all tests pass, or split up tests if some require multithreading

[2018-06-11 15:53] fabianpage commented on #14
Hi

Why do you want to have KleisliIO to have a run field insted of being a function?

I tried to do that but have the feeling it's to simple and i have probably done something wrong. ;) (Just added a val run to KleisliIO, removed the extends and made all test work again)

[2018-06-11 16:01] regiskuckaertz commented on #10
I'll pick this one and [traverse](https://github.com/scalaz/scalaz-zio/issues/11) too if nobody already has.

[2018-06-11 16:17] ktonga commented on #14
@fabianpage more info in this thread https://github.com/scalaz/scalaz/pull/1857#discussion_r193571323

[2018-06-11 16:20] regiskuckaertz commented on #10
Yes, of course, great idea 👍

[2018-06-11 16:37] jdegoes commented on #10
We already have `RTSSpec`, so the method sshould probably be added there.

[2018-06-11 16:38] jdegoes opened #24 "Implement support for Scala Native"
Probably should be done after #22 so the framework is already in place.

[2018-06-11 16:41] jdegoes opened #25 "Create a microsite using sbt-microsites"
This ticket is to create machinery to give us a microsite at `http://scalaz.github/scalaz-zio/`.

[SBT Microsites](https://47deg.github.io/sbt-microsites/)

Copy and examples can be added later, and are not considered part of this ticket.

[2018-06-11 16:42] jdegoes opened #26 "Replace remaining examples with compiled code"
Edit by @NeQuissimus:

The microsite contains various example snippets in `scala` code blocks that do not currently compile.
We should replace those with `tut` blocks that are type-checked and executed as part of the microsite generation.

[2018-06-11 17:03] DennisVDB commented on #18
I'll work on this one.
However, I only see a `def forkAll[E2](l: List[IO[E2, Unit]]): IO[E2, Unit]` or did I miss it?

[2018-06-11 17:04] jdegoes commented on #18
@DennisVDB That's the right one. It needs to be replaced.

[2018-06-11 17:14] jdegoes commented on #18
*Hint: `Fiber.zipWith` can be used to solve this problem*

[2018-06-11 19:20] fabianpage commented on #13
Would that be a good testcase:

[code]

Why is the a seperated from the as?

[2018-06-11 19:24] jdegoes commented on #13
To make sure there is at least one A (or an error).

[2018-06-11 19:28] fabianpage commented on #13
Ah because i can't construct an IO[E, A] out of thin air.

I will try to implement this function

[2018-06-11 19:33] ktonga commented on #6
Closed by #20

[2018-06-11 19:33] #6 closed

[2018-06-11 19:35] ktonga commented on #16
Can we close #7 and #15 in favor of this one?

[2018-06-11 19:59] #14 closed

[2018-06-11 23:02] leandrob13 commented on #11
@jdegoes I want to take a stab at it:

[code]

Is there a performance consideration for choosing an `Iterator` over an immutable `List`?

[2018-06-12 00:14] sideeffffect opened #34 "Inspiration from Concurrent ML / Hopac"
_Moved from https://github.com/scalaz/scalaz/issues/1868_

Hello,
I've witnessed with great excitement the recent development in effect-full/asynchronous programming, like the [`IO`](http://degoes.net/articles/only-one-io) monad in `scalaz` by @jdegoes (and other Scala libs). Also, the need to work around the lack of green threads is pressing in other languages. I've been reading @wingo 's path to

[2018-06-12 02:17] #18 closed

[2018-06-12 03:26] jdegoes opened #35 "Implement a high-performance ring buffer for RTS built using CAS primitives."
The ring buffer must provide support for a limited number of readers (equal to thread count), and potentially a higher number of writers. That is, many places in the code will add work to the queue, but few will read them.

In addition, metrics are important to create good preemption. Metrics on how many ops per second, metrics on how many work units per queue, and so forth, can all be good to fee

[2018-06-12 03:29] jdegoes opened #36 "Implement composable RTS"
[code]

[2018-06-12 07:44] fabianpage commented on #22
So we would had something like that:

shared:
  - trait Platform
  - trait RTSI { self: Platform }
  - trait RTSO {self: Platform }

jvm:
  - PlatformJVM extends Platform
  - trait RTS extends RTSI with PlatformJVM
  - private object RTS extends RTSO with PlatformJVM

js:
  - PlatformJVM extends Platform
  - trait RTS extends RTSI with PlatformJVM
  - private object RTS extends RTSO with PlatformJ

[2018-06-12 07:59] #12 closed

[2018-06-12 08:20] tuleism opened #38 "Promise example looks weird"
This is the current example for using **Promise** in `Promise.scala`:

[code]

If I understand correctly, it should be

[code]

[2018-06-12 13:30] ktonga commented on #11
Closed by #33

[2018-06-12 13:30] #11 closed

[2018-06-12 13:31] ktonga commented on #9
Closed by #21

[2018-06-12 13:31] #9 closed

[2018-06-12 13:38] ktonga commented on #38
Closed by #37

[2018-06-12 13:38] #38 closed

[2018-06-12 14:17] jdegoes commented on #11
@leandrob13 Tail-recursive loop over `List` will be as fast as iteration, maybe faster.

[2018-06-12 17:08] leandrob13 commented on #10
Since `IO.traverse` is already merged, are we going to implement `IO.sequence` from `IO.traverse(list)(identity)`? @regiskuckaertz are you still going to take care of this one?

[2018-06-12 18:54] regiskuckaertz commented on #10
Yeah sorry, it's there https://github.com/scalaz/scalaz-zio/pull/39

[2018-06-13 15:15] fabianpage commented on #22
As far as i see the main problem is the missing executors. AtomicReference seems to exit in Scala.js

So the question is how to nicely seperate that part out.

[2018-06-14 07:44] wi101 commented on #16
@ktonga They contain some details to implement the test

[2018-06-14 08:51] ktonga commented on #16
Both issues are linked in this one which seems to be the one tracking the bug, and you still can open them to see the details even when they're closed. Otherwise we have three open tickets tracking the same issue. Just saying.

[2018-06-14 09:16] wi101 commented on #16
Yes, you're right

[2018-06-14 14:11] ktonga commented on #15
Close in favor of #16

[2018-06-15 18:59] jdegoes opened #43 "Introduce Void"
Using `Nothing` is too painful. We should introduce a simple `Void`:

[code]

And use wherever `Nothing` is currently used.

[2018-06-15 21:52] env0der commented on #43
See #45, hopefully that's what you've meant.

[2018-06-16 04:59] ktonga commented on #43
The name `Void` is a bit overused IMO, scalaz has it and even there is one in java which already caused some confusion. While using zio as an standalone lib will be no issue, but when using it together with scalaz base it will be confusing.

I suggest, since this inhabited type will be used only to signal the absence of errors, that we call it `NoError` (or anything similar)

WDYT @jdegoes ?

[2018-06-16 05:05] ktonga commented on #43
We also should probably start using `Unexceptional` (which i would like to rename to `Infallible`) wherever `IO[NoError, A]` is used.

[2018-06-17 17:20] #43 closed

[2018-06-17 17:22] #10 closed

[2018-06-17 17:22] #13 closed

[2018-06-17 18:38] jdegoes opened #48 "Rename SafeApp to IOApp"
For consistency with others IO abstractions.

[2018-06-17 19:04] env0der commented on #48
Please see #49

[2018-06-17 23:37] NeQuissimus opened #50 "Start publishing releases. Deprecate scalaz/ioeffect"
1) Now that this properly exists, scalaz/ioeffect technically no longer needs to exist, does it?
2) Can we tag a release for ZIO, so people using scalaz/ioeffect can migrate onto a stable version?

[2018-06-17 23:56] ktonga commented on #50
Not quite yet until I finish with #42

[2018-06-18 17:06] fommil opened #51 "should it not be called ZIO?"
shouldn't the main class not be called `ZIO`? :smile:

Then `IO[a]` could be an alias to `ZIO[Throwable, a]`

[2018-06-18 18:31] leandrob13 commented on #51
Right now that alias is called `Task` https://github.com/scalaz/scalaz-zio/blob/e20ba75df43a169f4830b27675114c0c80db865e/core/shared/src/main/scala/scalaz/zio/package.scala#L21

[2018-06-18 18:32] emilypi commented on #51
Or better yet, `type IlluminatIO a = IO Throwable a`

[2018-06-18 20:52] jdegoes opened #53 "Remove bracket as a primitive, express using other more core operations"
General sketch of idea:

[code]

 - [x] Introduce derived bracket
 - [x] Introduce primitive Ensuring
 - [ ] Remove primitive Bracket, replace with derived functionality

[2018-06-18 21:52] jdegoes commented on #51
I'm tempted to add:

[code]

😈

[2018-06-18 21:53] jdegoes commented on #50
@ktonga Hurry, Gaston Kenobi, you're our only hope! 😉

[2018-06-18 22:05] fommil commented on #51
[code]

[2018-06-18 22:08] #48 closed

[2018-06-19 00:03] emilypi commented on #51
Well, this derailed quickly. How about we settle on

[code]

[2018-06-19 11:04] jdegoes commented on #51
@emilypi
![2chm5l](https://user-images.githubusercontent.com/156745/41593723-3547ae9e-737e-11e8-9512-433576c2e34a.jpg)

[2018-06-19 11:30] jdegoes opened #54 "Turn all Scalac warnings into errors"

[2018-06-19 16:51] #54 closed

[2018-06-21 05:46] emilypi commented on #51
@jdegoes GET DISTURBED BOIIIII

Square brackets around type parameters violate my code of conduct

[2018-06-21 13:15] #51 closed

[2018-06-21 13:28] jdegoes opened #60 "Add IO.done"
[code]

[2018-06-21 13:32] ktonga commented on #60
`cata`/`fold` method in `ExitResult`?

[2018-06-21 13:33] jdegoes commented on #60
@ktonga That's always slower.

[2018-06-21 22:57] #60 closed

[2018-06-22 00:54] #16 closed

[2018-06-22 01:48] jm4games opened #63 "Feature: Async Socket IO"
So I wanted to get someones thoughts on implementing an async IO implementation using ZIO's fibers.  I think this is doable in a clean way. Essentially I could use an [AsynchronousSocketChannel](https://docs.oracle.com/javase/8/docs/api/java/nio/channels/AsynchronousChannelGroup.html) and  initiate it with the RTS thread pool. I could then proceed to implement support for async IO using fibers. My

[2018-06-22 17:58] jm4games commented on #63
Putting this idea on hold for now.

[2018-06-22 17:58] #63 closed

[2018-06-22 21:15] fommil commented on #50
One thing we should perhaps do, to avoid confusion in the future, would be to (hear me out) delete this repo (you backed up the tickets and the git repo, right?) and then rename `ioeffect` to `scalaz-zio`, then create a branch called `scalaz-ioeffect`, and force push **this** repo onto `master`. You'll have to start versioning from `v3.0.0` but that should be ok.

[2018-06-22 22:49] adamw opened #64 "Interruption doesn't work on fibers which have used bracket"
It's not that easy to reproduce but here's the minimal example I arrived at:

[code]

Even though the fiber is interrupted after 1 second, it ends up printing `working` infinitely. Interruption works correctly if the bracket (`ensuring`) never runs (so if `throw new RuntimeException("x")` is never executed) or if there's no bracket at all.

The double-forever-loop is there as the original concept

[2018-06-23 00:31] ktonga commented on #50
Let me disagree with you on this one, Sam.

First of all and most importantly, this repo is already way more popular, it has (in order of importance) more external contributors, contributions, traffic, watchers and stars than the ioeffect one. This is important from a visibility and discoverability point of view for a new project that is trying to make it into a competitive ecosystem.

Secondly, i

[2018-06-23 03:19] jdegoes commented on #64
@wi101 We'll have to clean this up and put it into a test.

As far as I can tell from a preliminary look, the correct behavior should be:

 * Prints out "working"
 * Prints out "CLEANUP; RESTARTING"
 * Prints out "working" _about_ 9 times (it's non-deterministic exactly how many)
 * Interrupts and terminates with `RuntimeException("y")` after printing "CLEANUP; RESTARTING" one more time

We can el

[2018-06-23 08:05] fommil commented on #50
Ok, we can just stick it into archive mode with a manual reference here.

[2018-06-23 08:16] fommil commented on #50
Or push ioeffect onto a branch here...

[2018-06-23 08:18] ktonga commented on #50
Yeah, I like that better.

[2018-06-23 13:14] jdegoes commented on #53
Note that @regiskuckaertz implemented Phase 1 of this, which is introducing the new derived bracket.

The next step is to refactor RTS / IO so that `Ensuring` becomes the new primitive. Then the old bracket can be removed / replaced by the new derived one.

[2018-06-23 16:32] jdegoes commented on #53
@regiskuckaertz Yes, only:

[code]

You don't need `ref`.

Then in step 3, the `Finalizer` structure can be simplified, as well as all the logic around collecting finalizers when `Bracket` is removed and replaced with the derived version.

[2018-06-23 17:12] regiskuckaertz commented on #53
Gotcha. Did that and it failed two tests where the finalizer threw an exception. To get around that I ran the finalizer in the main IO action. [Check it out](https://github.com/scalaz/scalaz-zio/pull/67).

[2018-06-23 23:11] wi101 commented on #64
This test case without `throw new RuntimeException("x")` works correctly.
We have a problem if the release had a failed result in Bracket.

@jdegoes I will commit the change, the behavior now is exactly like you mentioned ! (in the third step "working" appears exactly 9 times! 😁 )

[2018-06-23 23:42] wi101 commented on #64
@jdegoes I couldn't apply the change because the test cases in RTSSpec of brackets will fail,
I wanted to do this in RTS at the case of `Bracket`
[code]

[2018-06-24 02:17] jdegoes commented on #64
@wi101 Maybe we will defer this one a bit until after the `Finalizer` changes are in. I have a feeling I may know what the core bug is here (but maybe not), which is non-interruption.

[2018-06-24 22:15] regiskuckaertz commented on #53
The infamous step 3 😨 I've been doing some detective work but I'm not sure I got everything right. Assuming the following change:
[code]
means `finalizer` is threaded in when `nextInstr` is called. That explains why the `Ensuring` branch can be simplified to:
[code]
The fun begins in the `Fail` branch 😄 The `error` in `catchError(error)` has nowhere to go, it will be consumed by the error handler

[2018-06-24 23:59] jdegoes commented on #53
This is almost right. Make this change:

[code]

Note how the error parameter is `E` and not `Void` (in `Finalizer[E]`), but extraction of the `finalizer` will allow you to access the finalizer that has the right type `IO[Void, Unit]`.

Similar change for `interruptStack`.

[2018-06-25 00:00] jdegoes commented on #53
Oh, I think you still need `E` in `Finalizer` because it extends `Any => IO[E, Any]` so it can be pushed onto the stack without type coercion (in fact that type is not exactly right if the error changes, but that's the way it is now, I certainly wouldn't change it in this pull request).

[2018-06-25 00:17] jdegoes opened #68 "Fix issues with non-interruption after failure state"
Following #53, interruption can be made more precise, which may address #64.

Currently `uninterruptibly` is implemented like so:

[code]

This is not actually precise, because if `io.io`. fails, then the fiber will be in a permanently non-interruptible state. In theory, this can be solved by:

[code]

But this makes it much slower. With `Ensuring` becoming a fast operation thanks to #53, we can d

[2018-06-25 00:20] jdegoes commented on #53
@regiskuckaertz I made a note [here](https://github.com/scalaz/scalaz-zio/issues/68) on how `Ensuring` can be made safer than in the above example.

Basically it's changing:

[code]

to:

[code]

This guards against the normal execution case (non-failure) where the fiber might be interrupted as soon as `Finalizer` is popped off the stack, but before it completes finalization.

[2018-06-25 06:53] regiskuckaertz commented on #53
@jdegoes That makes sense, thanks for the explanation.

I thought the above refinement would fix the failing test in [my PR](https://github.com/scalaz/scalaz-zio/pull/69) but it doesn't. Will investigate later.

[2018-06-25 21:50] #64 closed

[2018-06-25 22:12] jdegoes commented on #64
@adamw Should be fixed now. Was introduced in the ZIO port but now there's a regression test case in there.

[2018-06-26 15:11] ktonga opened #72 "`Error` typeclass"
In the same vein as [Haskell's Exception](https://hackage.haskell.org/package/base-4.10.1.0/docs/Control-Exception.html#g:1)

In addition to be just a marker TC it could have functions such as `defaultError` which could be useful to define a meaningful `MonadPlus` for `IO`

[2018-06-26 15:25] fommil commented on #72
@emilypi ^^^

[2018-06-26 17:00] jdegoes commented on #72
@ktonga Why not `mzero`(Monoid zero) for `MonadPlus`?

[2018-06-26 17:06] ktonga commented on #72
That makes it harder to distinguish the `empty` `IO` (from other failed) in `plus` to hold the identity laws. It's not impossible, the implementation will differ from the one in `Plus` and we have to add `Monoid` and `Equal` constrains to `E`. If the default error is a singleton it is simpler and clearer.

[2018-06-26 17:06] jdegoes opened #73 "Remove for comprehensions in RTS.scala"
For comprehensions in `RTS.scala` add a useless final `map` operation, which slows down performance. They can all be eliminated by rewriting in terms of `flatMap`.

[2018-06-26 17:20] ktonga commented on #72
Another useful method could be `isRetryable`. I'm not saying we should mark `E` with it everywhere, just add the constraint when it makes sense and we can provide more functionality. For instance there could be two flavors of `maybeRetry` one with the constraint and another accepting an `E => Boolean`

[2018-06-26 17:37] ktonga commented on #73
Or... we could also enable this plugin https://github.com/oleg-py/better-monadic-for

[2018-06-26 17:38] jdegoes commented on #73
I'd rather keep the project as small as possible. We need to support Dotty too.

[2018-06-26 18:34] fommil commented on #72
(I'll code it up so we can see exactyl what I mean...)

[2018-06-26 18:40] jdegoes opened #74 "IOApp: add shutdown hook to interrupt main fiber"
`IOApp` can be modified to add a shutdown hook that interrupts the main fiber.

This will allow clean termination of main programs.

[code]

[2018-06-26 18:44] fommil commented on #72
https://github.com/scalaz/ioeffect/pull/61

[2018-06-26 18:59] ktonga commented on #72
Monoidal `E` it is

[2018-06-26 18:59] #72 closed

[2018-06-26 19:00] jdegoes opened #75 "Interrupt blocking IO"
Extend the fiber interruption framework to interrupt blocking IO via `Thread.interrupt`.

[2018-06-27 06:43] ktonga opened #77 "Add some docs for Interop module"

[2018-06-27 06:48] ktonga opened #78 "Move cats-effect laws test back to interop module"
It requires cats testkit to be updated to latest scalacheck

[2018-06-27 06:51] ktonga opened #79 "Implement cats-effect `ConcurrentEffect` instance for `IO`"

[2018-06-27 07:20] ktonga opened #81 "Migrate to cats-effect 1.0.0"
When it's close to be released and main libraries have adopted it

[2018-06-27 10:21] regiskuckaertz commented on #35
This question is completely unrelated, but in `IOQueue` you wrote:

I was wondering if a ring buffer would be a better implementation for the queue itself? Provided the invariant encoded by the `State` ADT is maintained.

It would probably require that _0 <= size <= capacity_ though, which to me looks reasonable 🤔 Everything below 0 or over capacity represents a notion of "potential" for what the

[2018-06-27 12:29] jdegoes commented on #79
I think this depends on #81

[2018-06-27 12:36] ktonga commented on #79
Nope, it is already in [0.10.1](https://github.com/typelevel/cats-effect/blob/v0.10.1/core/shared/src/main/scala/cats/effect/ConcurrentEffect.scala)

[2018-06-27 12:37] ktonga commented on #79
I have it mid implemented already but I have to fix a bug in `runAsync` first

[2018-06-27 12:44] ktonga opened #82 "fs2 `join` doesn't work with zio `IO` via `Effect` instance ported from `ioeffect`"
The simplest `join` such as this one hangs forever while with cats `IO` and monix `Task` it works perfectly:

[code]

I've already got the fix for this, raising a PR in a minutes

[2018-06-27 13:01] jdegoes commented on #79
I mean the laws were improved and ZIO has no chance to pass the old ones

[2018-06-27 13:14] ktonga commented on #79
Dunno, we're passing the old laws for `Effect`. You saying for `Concurrent` it's somehow different? We've got other finalization and cancellation semantics. Haven't we?

[2018-06-27 13:36] adamw commented on #64
@jdegoes thanks! this passes, though the 'big' test (https://github.com/softwaremill/akka-vs-scalaz/blob/master/core/src/test/scala/com/softwaremill/supervise/ZioSuperviseTest.scala) still fails (the interruption doesn't stop the fiber). I'll try to create another test case next week.

[2018-06-27 23:42] #82 closed

[2018-06-28 07:09] tuleism commented on #73
Currently, I only see one use of for comprehension in `RTS.scala`:

https://github.com/scalaz/scalaz-zio/blob/98559920c984545832f4c9bfa339c67fa4204f4b/core/jvm/src/main/scala/scalaz/zio/RTS.scala#L567-L571

It seems the final `map` operation is needed here, or we would need to rewrite `exitUninterruptible`. Am I missing something?

[2018-06-28 07:48] tuleism commented on #73
For `enterUninterruptible *> io.io`, it's clear to me that the final `map` will disappear compare to using `for` comprehension.

But for `io.io <* exitUninterruptible`, I still see the `map` because it is translated to:

[code]
Or are you saying that with `for` comprehension, we have one additional `map`?

[2018-06-28 07:58] ktonga commented on #73
Yeah, you right, the `map` is still there. But I don't think we can get rid of it in this case

[2018-06-28 08:04] ktonga commented on #73
In this case there is no difference, this optimization is only valid when the `for` yields the result of the last `flatMap`

[2018-06-28 09:23] ktonga commented on #36
Hey @jdegoes I'll take a stab at this if you don't mind.

I want to cut a first release but I think a shift-like feature is a must for many people and since you mentioned this was related...

Would you tell me at least in a paragraph what you have in mind for it so I can get started?

Thanks!

[2018-06-28 09:33] tuleism commented on #73
@ktonga thanks!

[2018-06-29 05:54] regiskuckaertz commented on #68
Hi @jdegoes I think I picked up a few of those [in this PR](https://github.com/scalaz/scalaz-zio/pull/86), your feedback would be mucho appreciado 🙏

[2018-07-01 08:45] jmcardon commented on #79
Yes. We didn't pass concurrent laws which prompted a super long discussion.

[2018-07-04 23:57] jmcardon commented on #81
IMO: We can start a branch now where I can PR  the instances for `ConcurrentEffect`.

Side note: Sad that `cancellable` is still a thing and that we're going to have to support the shit design decisions we spent hours trying to not have, but whatever.

[2018-07-05 00:03] tonymorris commented on #81
Why don't you just ignore cats? What is the penalty of not doing so?

If you are going to generalise, such that cats is an instance of that generalisation, I contend that you need to use a language that is superior to scala to successfully achieve this goal. One that is suitable for writing compilers.

[2018-07-05 00:07] jmcardon commented on #81
Penalty:
- No interop with http4s and related libraries, wherein we lose out in total ecosystem atm.

It's not a generalization. I'm referring to something very specific I spent hours with @jdegoes and @edmundnoble discussing in the cats-effect channels only to be overriden by a silly notion of "cancellation".

Already on it boss. Doesn't mean I'm completely out of scalaz though, which is why I'm

[2018-07-05 00:41] tonymorris commented on #81
I don't necessarily agree that those libraries are useful. But putting that aside, and supposing they are useful, then why not fork and fix, at the very least?

[2018-07-05 00:43] jmcardon commented on #81
Because the huge amount of time required to fork and fix for scalaz is better spent writing haskell.

[2018-07-05 00:53] ktonga commented on #81
Why don't we implement just the "useful" bits and throw `NonsenseException` for the rest? namely cancellable crap and friends.

Are you aware of a single useful lib that is abstracting over `Concurrent`? I think with `Effect` we have pretty much everything covered. I'm using an specialized `Applicative` with `@@` for running stuff in parallel in my own code.

[2018-07-05 02:40] alexknvl commented on #43
I believe we made a mistake by introducing `Void` as a newtype.

### Name clash with java.lang.Void

It is really annoying.

### Dead code warnings
Dead code warnings are not real warnings in pure code. The only case where they make sense is if you "accidentally" create a "value" of type `Nothing`, e.g.
[code]

It does not make any sense in pure code, because the only way we can obtain a value of

[2018-07-05 02:44] alexknvl opened #89 "Motivation for Void"
I believe we made a mistake by introducing `Void` as a newtype. Could someone provide some motivation for it?

### Name clash with java.lang.Void

It is really annoying.

### Dead code warnings
Dead code warnings are not real warnings in pure code. The only case where they make sense is if you "accidentally" create a "value" of type `Nothing`, e.g.
[code]

It does not make any sense in pure code,

[2018-07-05 05:43] alexandru opened #90 "Question on behavior"
Hi all,

In order to ensure that Cats-Effect 1.0.0 supports ZIO and Monix's Task auto-cancelable behavior, I may have discovered a problem with an assumption about `start` (`fork`) that I need to verify with you.

In this piece of code, is the specified `release` guaranteed to run?

[code]

The answer is probably *no*, but want to double check with you.

Thanks,

[2018-07-05 05:56] alexandru commented on #81
Hi all, just saw this issue ...

The implementation and laws of Cats-Effect are an on-going process and we are learning as we go.

In the end my hope is that we'll have a set of type classes that are generic and useful enough that you don't need to throw `NonsenseException`.

Version 0.10 had indeed assumptions about behavior that were not supported by ZIO, but we made a lot of progress since then

[2018-07-05 06:39] ktonga commented on #81
Hi @alexandru,

I think all the cancelable stuff will never make much sense in ZIO given the core design decisions which are unlikely going to change. I think @jdegoes and @jmcardon were clear about that in typelevel/cats-effect#192 but that input was not considered (at least yet).

Do you see possible to split `Concurrent`? and push cancelable stuff down in the hierarchy to a new TC say `Cancelab

[2018-07-05 06:56] alexandru commented on #81
That issue has been considered, and was fixed partially in typelevel/cats-effect#237. More work needs to be done, but by 1.0.0 I'm confident we'll fix all laws — as you very well know, generic type classes and laws are hard to get right — which is why Scalaz has been a goal, since when designing type classes you end up specializing them for the "reference" implementation via non-obvious assumption

[2018-07-05 07:03] alexandru commented on #81
I would be happy to talk possible improvements btw 🙂

Just wanted to make it clear that the auto-cancelable model of ZIO is being accommodated and if we have laws left that do not work for ZIO then we'll treat that as a bug.

It's hard for me however to spot inconsistencies, I'm caught up between work, multiple OSS projects and life in general 🙂 therefore I can't familiarize myself with ZIO as muc

[2018-07-05 07:09] ktonga commented on #81
You right, we are already implementing `Bracket` via `Effect` instance and we are passing the tests for that so not sure what you mean by "derive from bracket".

`Concurrent` has a few methods named something like `*cancel*` which I think are the ones causing problems with the tests not passing. I know `start` and `race` are in `Concurrent` already that's why I asked to only leave those which are

[2018-07-05 15:45] alexandru commented on #90
Never mind, found out the answer, closing.

[2018-07-05 15:46] #90 closed

[2018-07-06 20:06] #68 closed

[2018-07-06 20:25] jdegoes opened #93 "Both fiber join and interrupt should themselves be losslessly interruptible"
Interrupting fiber join or fiber interrupt should not leak resources.

[code]

This requires modifying the implementation of `join` and `interrupt` to return `Async.maybeLater` values, with cancelers that do the right thing when invoked.

[2018-07-06 22:00] jdegoes opened #96 "Capture all throwables in ExitResult"
`ExitResult` should have a `List` of throwables, which collectively represent all reasons for termination in order—including defects in finalizers.

[code]

Various changes are possible, including changing `interrupt`:

[code]

This way it is not necessary to specify a cause, or in fact, multiple causes can be specified.

All causes for a termination will have to be collected, but much of the work

[2018-07-06 22:03] jdegoes commented on #89
@alexknvl All dead code warnings are fatal errors in the build. In general, eliminating `Void` from any sum type will lead to a dead code fatal error (or at least warning). How do we fix this?

[2018-07-06 22:44] jdegoes commented on #75
The tricky part about this ticket is interrupting the right thread without performance overhead (too much locking, etc.).

[2018-07-06 22:46] jdegoes commented on #36
@ktonga This is not a simple ticket.

First off, `shift` can be implemented in `interop` already using `async` (and probably should).

Second, we need the facility to have a pure construct representing a thread pool, and to run fibers on it, and combine these into larger things, and so forth.

`fork` is a natural place for it, `io.forkOn(rts)`. How to do this without modules (since the type of `RT

[2018-07-06 22:48] alexknvl commented on #89
Just remove the flag `-Ywarn-dead-code`.

[2018-07-06 22:51] jdegoes commented on #90
@alexandru The release is only guaranteed to run if `IO(1)` completes successfully. However, it may not complete at all (due to error or defect), or it may not be started (due to interruption).

[2018-07-07 00:32] jmcardon commented on #89
@jdegoes dead code warnings are really shitty in scala. I propose removing the flag altogether,  honestly.

[2018-07-07 08:33] alexandru commented on #90
Thanks @jdegoes, yes, that’s what I thought, wanted to double check.

[2018-07-07 12:06] jdegoes opened #98 "Create IOQueue.bounded, IOQueue.unbounded"
The documentation should state that bounded queues do not lose elements when they reach maximum capacity—rather, they suspend new `offer`s.

The `unbounded` implementation can simply create a bounded queue with `Int.MaxValue`. Because there is no pre-allocation, this should work fine.

/cc @adamw

[2018-07-07 12:08] regiskuckaertz opened #99 "Add `IO.stream`?"
The following (from [J. Gibbons](https://patternsinfp.wordpress.com/2017/10/04/metamorphisms/)):
[code]
models (potentially infinite) interaction between processes. Other primitives (merging, forking, zipping, chunking, etc.) can be built on top of it. Not reactive stream grade but principled.

`List` is not lazy, however one could imagine a type `IOStream[E, A]`, schematically:
[code]

I was wond

[2018-07-07 14:09] jdegoes commented on #90
@alexandru Happy to help, let me know if you need a review or any help on the cats-effect changes.

[2018-07-07 17:11] jdegoes commented on #99
This is equivalent to `StreamT[IO, ?]`. I think we're planning for `IOStream` here which will be somewhat similar but more low-level.

[2018-07-08 01:29] jdegoes commented on #89
@alexknvl @jmcardon My main concern is not `ZIO`, but third-party libraries that depend on ZIO. Basically we're saying they can't compile user-land code that uses ZIO without removing the flag.

I'm not necessarily opposed to that, just worth thinking through first.

[2018-07-08 18:53] alex-thc commented on #74
I'll be happy to help with this. What's the best way to interrupt the main fiber given that it's not forked from any of the fibers? I can perhaps save the FiberContext it's being executed in and call interrupt() on that context in the shutdown hook.

[2018-07-09 21:04] jdegoes commented on #89
All right, let's do it!

[2018-07-10 00:44] jdegoes commented on #74
I think you just fork the user-supplied main `IO` (to get a `Fiber`), and then add a shutdown hook that calls `unsafePerformIO` on `Fiber.interrupt`.

[2018-07-10 00:50] jdegoes opened #101 "More uniform naming convention for unsafe run methods"
Rename the following three methods in `RTS.scala`:

`unsafePerformIO` => `unsafeRun`
`unsafePerformIOAsync` => `unsafeRunAsync`
`tryUnsafePerformIO` => `unsafeRunSync`

[2018-07-10 14:49] #101 closed

[2018-07-10 15:49] mielientiev opened #105 "Implement `shift` combinator"
I think one of the useful features that we need to add to ZIO is a thread shifting.
Like `io.executeOn(ioScheduler)` in Monix

[2018-07-10 18:49] regiskuckaertz commented on #98
What about `IOQueue.dropping` (dropping new elements when full) and `IOQueue.sliding` (dropping old elements when full)?

[2018-07-10 23:00] jdegoes commented on #105
This can be done via a `shift` combinator that needs to be added to the `interop` package (PRs welcome!).

The longer term solution is #36.

[2018-07-11 05:36] issackurian commented on #89
I'd like to help with this - does this just need `-Ywarn-dead-code` to be removed from `project/ScalazBuild.scala`

[2018-07-11 06:30] ktonga commented on #89
@issackurian no, the idea is to rollback #45 and remove that flag which seems to be the only motivation to introduce `Void` in first place

[2018-07-11 13:57] issackurian commented on #89
Ah ok, thanks for explaining.

[2018-07-12 02:22] jdegoes commented on #98
@regiskuckaertz Sounds good to me. 👍

The design of `offer` will have to be thought through for `dropping` and `sliding`—I suppose it means that `offer` never suspends and always returns right away.

[2018-07-12 03:06] jdegoes opened #108 "WIP: Improve definition of supervisor (DO NOT IMPLEMENT)"
We now have `Fiber.onComplete`, which looks like this:

[code]

This looks like a type of "supervisor", because anyone who calls this method can now see if and how the fiber exits (including all errors).

Currently, when a fiber is forked, an unhandled error handler may be specified, in the form `List[Throwable] => IO[Nothing, Unit]`. If this is not specified, then the uncaught error handler is us

[2018-07-16 15:51] jdegoes opened #114 "Simplify and unify naming conventions"
We have inconsistent naming conventions, and somewhat redundant given everything is scoped to the `zio` package. Since we are quickly approaching 1.0 of the library, we should make all changes now before the names are locked in for some time.

 * `IOApp` => `App`
 * `IOQueue` => `Queue`
 * `IORef` => `Ref`

Opportunities for other clear wins should also be investigated.

[2018-07-17 17:49] jdegoes commented on #74
Fixed in #113

[2018-07-17 17:49] #74 closed

[2018-07-17 18:02] jdegoes opened #118 "Improve ergonomics of typed errors and infinite computations"
### 0. Disable dead code errors

This change will introduce known dead code. The warning (which is an error) must be disabled.

### 1. Introduce Covariance

Change this:

[code]

to this:

[code]

So it is now covariant on `E` and `A`.

This will require propagating variance annotations to many subclasses of `IO`, and making minor modifications to various type signatures.

### 2. Introduce Nothing

[2018-07-17 18:17] jdegoes opened #119 "Introduce parAll"
Into the companion object of `IO`, introduce the following `parAll` method:

[code]

This method should run all values in parallel. For now, it can be build by using the `par` method on the `IO` class.

Clues as to how to build this (given the complex type signature) can be found by examining the implementation of `forkAll`, which uses a similar type signature.

[2018-07-17 18:21] jdegoes opened #120 "Introduce raceAll"
Define `raceAll` in the companion object of `IO` that is capable of racing many actions of the same type.

[code]

This can be implemented using `race` method on `IO`.

[2018-07-17 18:49] jdegoes opened #121 "Generalize all retry methods under a uniform interface"
- [x] Design generalization
 - [x] Implement sketch of generalization
 - [x] Add a couple tests to flesh out design
 - [x] Replace specialized retry methods with generic combinators, to further flesh out design
 - [ ] Update documentation, including README.md, adding a section on composing retry strategies

Proposed design now sketched out in #138

[2018-07-17 18:50] plokhotnyuk commented on #120
`Traversable` and `TraversableOnce` are deprecated  since Scala 2.13.0-M4: https://confadmin.trifork.com/dl/2018/GOTO_Berlin/Migrating_to_Scala_2.13.pdf&ved=2ahUKEwi8rNTQ5qbcAhVKKywKHUFEDNAQFjABegQIAhAB&usg=AOvVaw3KTAUBQ_jNhIQR2SsCVSKI

[2018-07-17 18:53] jdegoes opened #122 "Specialize forkAll, parAll, raceAll"
Currently, recursively using `forkAll`, `parAll`, or `raceAll` on large lists will lead to a lot of unnecessary overhead.

Each of these will generate a tree like this:

[code]

So, in the case of `D`, it's actual work will be deferred through 3 separate bounces to the thread pool.

There are three possible ways to deal with this problem:

1. Improve the logic of forking to peek down and pass inte

[2018-07-17 18:55] jdegoes opened #123 "Remove TraversableOnce, CanBuildFrom to support Scala 2.13"
With the collections redesign, some things are deprecated or removed. We should find a way to support 2.13 and older versions.

[2018-07-17 18:56] jdegoes commented on #120
@plokhotnyuk Created #123:

https://github.com/scalaz/scalaz-zio/issues/123

[2018-07-17 19:08] jdegoes commented on #119
@Vilkina has volunteered to take this ticket; although helpers are welcome to contribute!

[2018-07-17 21:01] jupposessho commented on #120
Isn't it the same implementation as the current raceAll has?

`final def raceAll[E, A](t: TraversableOnce[IO[E, A]]): IO[E, A]`

[2018-07-18 09:15] Vilkina commented on #119
Status: examining the implementation of forkAll.

[2018-07-18 14:09] jdegoes commented on #121
@ktonga

Proposed design, needs refinement:

[code]

Example Usage:

[code]

[2018-07-18 14:10] #114 closed

[2018-07-18 14:24] jdegoes opened #124 "Generalize supervisor"
Currently, using the `supervise` combinator will interrupt child fibers at the boundary, waiting until they have all been successfully terminated.

However, this can be generalized so that user-code can choose to join the fibers, instead of interrupting them, allowing them to complete normally:

[code]

[2018-07-18 18:53] jdegoes commented on #53
No, looks good, thanks!

[2018-07-18 18:53] #53 closed

[2018-07-18 23:33] jdegoes opened #125 "Add exit handler"
With a new primitive that merely registers an adapted listener onto a fiber (`FiberContext.register`), users can register an action for when a fiber terminates, and receive information on whether the fiber terminated normally, with unhandled error, or with exception.

[code]

This primitive is enough to implement `run`, as well as enhance bracket to its former level of power (providing `ExitResult

[2018-07-18 23:35] #98 closed

[2018-07-18 23:36] jdegoes opened #126 "Implement Queue.dropping, Queue.sliding"
- [ ] **Queue.dropping** — dropping new elements when full
- [ ] **Queue.sliding** — dropping old elements when full

[2018-07-18 23:38] jdegoes commented on #89
Subsumed by #118

[2018-07-18 23:38] #89 closed

[2018-07-19 11:09] sideeffffect commented on #123
[`IterableOnce`](https://scala-lang.org/files/archive/api/2.13.0-M4/scala/collection/IterableOnce.html) is only in 2.13
So `Iterable` as it is present in both [2.12.x](https://scala-lang.org/files/archive/api/2.12.x/scala/collection/Iterable.html) and [2.13.M4+](https://scala-lang.org/files/archive/api/2.13.0-M4/scala/collection/Iterable.html)?

[2018-07-19 12:36] jdegoes commented on #35
We should work with #36 on this issue. A key part will be defining the "thread pool" like abstraction which is used to provide this functionality.

[code]

[2018-07-19 13:13] artempyanykh commented on #35
Here's a high-level description of the RingBuffer project: https://gist.github.com/artempyanykh/d6a6e7a305b036727bf7995bf102b4ca

I've found these materials to be relevant, might be a good starting point:

1. Article: [The LMAX Architecture](https://martinfowler.com/articles/lmax.html) by Martin Fowler.
2. Article: [Yet another implementation of a lock-free circular array queue](https://www.codepr

[2018-07-21 16:00] Vilkina opened #130 "Error compiling project"
[error.txt](https://github.com/scalaz/scalaz-zio/files/2216306/error.txt)

[2018-07-22 05:33] Vilkina commented on #130
Hi, thank you for reply. I need your help. Can I share screen with you and you will help me to compile a project? Step by step setup?

22 июля 2018, 05:27:20, от "Ondra Pelech" <notifications@github.com>:

this is a wild guess, but after you backup you work, try git clean -xdf
perhaps it will help you

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2018-07-22 13:12] sideeffffect commented on #119
What should be the naming convention?
`parAll` rhymes with `forkAll` and `raceAll`. I originally went with `parSequence`, because it rhymes with `parTraverse` and it is essentially a *par*allel implementation of `sequence`.
But I don't have strong attachment to any of the names. What do you guys think?

[2018-07-22 15:52] jdegoes commented on #130
@Vilkina I found [this](https://github.com/scala/bug/issues/10717).

Can you say what version of Java you are running (`java -version`)?

[2018-07-22 17:54] Vilkina commented on #119
this was my ticket :(

[2018-07-22 17:55] Vilkina commented on #130
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)
mini:~ admin$

[2018-07-22 17:55] #120 closed

[2018-07-22 17:59] Vilkina commented on #119
Please, don't show implementation.

[2018-07-22 18:12] jmcardon commented on #130
Yeah, you need to downgrade to java 8.

[2018-07-22 18:20] sideeffffect commented on #119
I'm sorry @Vilkina :( I noticed John's and your post only after I submitted the PR

[2018-07-22 18:22] jdegoes commented on #130
@Vilkina According to the ticket, your version of Java may be a problem. 😞

I found [these instructions](https://stackoverflow.com/questions/46513639/how-to-downgrade-java-from-9-to-8-on-a-macos-eclipse-is-not-running-with-java-9) which may help to explain how to change the default version of Java.

[2018-07-22 18:31] jdegoes commented on #22
@fabianpage We just need an interface that has `submit` and implement that using `setImmediate` / `setTimeout(0)` in Javascript.

[2018-07-22 18:31] jdegoes commented on #22
Ah, we also need the scheduled executors bit. So we need a `submitLater` with a `Duration` and implement that using `setTimeout`.

[2018-07-22 19:17] #119 closed

[2018-07-22 20:10] anilanar commented on #130
Java 8 worked.

[2018-07-23 06:40] fabianpage commented on #22
So submit[A](block: => A): Unit and submitLater[A](block: => A, duration:Duration): Unit is all we need to implement the RTS?

Then i will try tomorrow to implement that.

[2018-07-23 07:47] Vilkina commented on #130
Thanks guys! You are amazing. I though it is Scala affecting project. I've installed everything form   from scratch to a different computer and project wasn't compile. This morning I've followed instructions:
https://stackoverflow.com/questions/46513639/how-to-downgrade-java-from-9-to-8-on-a-macos-eclipse-is-not-running-with-java-9

This is how I did it. You don't need to delete Java 9.

Step 1: I

[2018-07-23 07:48] #130 closed

[2018-07-23 11:33] regiskuckaertz commented on #124
I'll be on hols next week but if that hasn't been picked up when I'm back, I'm happy to help here, I've got experience now 😅 (or if there's more urgent to get zio closer to a 1.0, lmk).

[2018-07-23 15:46] nebtrx commented on #26
Hey, I'm looking at `good first issues` tag to see where can I start doing small contributions and I found this one.

Can you elaborate a little bit more on this one @jdegoes?

The only lead I have on this is the 8af2db6 commit which actually is not very self-explanatory

[2018-07-23 16:00] jdegoes commented on #26
@nebtrx Please see [the website for tut](https://github.com/tpolecat/tut).

We should have lots of executable code snippets as part of the documentation.

[2018-07-23 16:07] nebtrx commented on #26
Cool thx! I'll take a look at the tool and the proper way to use it

[2018-07-23 16:11] jdegoes commented on #22
@fabianpage I think that's probably correct. Although once you dive into the details, there may be a few other minor things we have to pull out into `Platform`.

[2018-07-23 21:53] artempyanykh commented on #36
I'm thinking about ZioThreadPool and the signature `submit(thunk: () => Unit): Unit` implies that submitting a task is always successful (i.e. there's a place in the queue or the caller blocks until there is).

Maybe something like
[code]
would be a fairer choice? Then the caller can choose whether they want to busy spin, sleep, block (blocking will need some additional machinery) or choose some o

[2018-07-25 08:59] baank opened #133 "Readme is missing simple usage section"
It would be nice to have a simple "Getting Started" or "Usage" section which lists out how to integrate ZIO with your app using SBT:

Similar to:
https://github.com/scalaz/scalaz

And I assuming that since there are no releases/Maven artefacts that this isn't ready for mainstream usage yet ?  Could be useful to mention who/how we should be using it.

[2018-07-26 14:58] jdegoes commented on #133
@baank There are releases:

https://oss.sonatype.org/content/repositories/snapshots/org/scalaz/scalaz-zio_2.12/

[2018-07-26 15:10] jdegoes commented on #36
@artempyanykh I agree. It makes the system more composable.

[2018-07-26 15:11] jdegoes commented on #36
As can be seen in #132, a key property of the RTS must be enabling users to run computation on a given RTS with a fixed capacity, so you can achieve deeply composable throttling, rather than just ad hoc throttling for all possible function variants.

[2018-07-26 15:39] barambani commented on #133
I notice ([here](https://oss.sonatype.org/content/repositories/snapshots/org/scalaz/)) that there are releases only for `2.12`. Is there any reason not to have one for `2.11` ? I see the cross build is already supported.

[2018-07-26 15:57] jdegoes commented on #133
We should definitely do 2.11.

[2018-07-26 21:52] #118 closed

[2018-07-26 23:51] #133 closed

[2018-07-27 04:55] virdis opened #139 "Scalaz Streams Project"
Hi John, I am the lead for Scalaz-Streams project and I don't have access to the repository. Also this project already exists https://github.com/scalaz/scalaz-stream. Should we come up with a new name for Scalaz8 streams project.

[2018-07-27 05:11] ktonga commented on #139
Well, it does not have a master branch, so I'd say you can start with an empty one and leave the other branches alone for historical reasons.

[2018-07-27 07:18] AL333Z commented on #123
Iterable may be a good replacement, but we're gonna need a new way to `BuildFrom` as well, since `CanBuildFrom` won't be an option availlable anymore.

Maybe something à la [Data.Buildable](http://hackage.haskell.org/package/buildable-0.1.0.3/docs/Data-Buildable.html)?

[2018-07-27 08:23] ktonga commented on #123
We don't need to build it we just need to fold it.

As sad as it sounds I think the best option is to implement a `fold` function in terms of `Iterator`, it has been around since ever so it's the only common interface shared among all collections across all scala versions.
So users will have to call `toIterator` on whatever collection type they have in hand, which I guess is a zero-cost operation.

[2018-07-27 08:56] AL333Z commented on #123
Hi @ktonga ,

I completely get your point about the need of a `fold` function in terms of `Iterator`.
But think I'm missing something then.

E.g. how we can implement `traverse` without notion of `build`? Specifically, how we can build an F[B]?

[code]

In the current implementation this is solved by `CanBuildFrom`.

[code]

[2018-07-27 09:03] ktonga commented on #123
@AL333Z please disdain my first comment, I amended my mistake in my last comment. We do need to build collections too.

[2018-07-27 09:07] sideeffffect commented on #123
There's `BuildFrom`, which is available from both [2.12](http://static.javadoc.io/org.scala-lang.modules/scala-collection-compat_2.12/0.1.1/scala/collection/compat/BuildFrom.html) and [2.13](https://scala-lang.org/files/archive/api/2.13.0-M4/scala/collection/BuildFrom.html)

[2018-07-27 09:09] ktonga commented on #123
We are already cross compiling for 2.11 too

[2018-07-27 09:11] sideeffffect commented on #123
I'm afraid `BuildFrom` is not available for 2.11, only 2.12+

[2018-07-27 09:12] ktonga commented on #123
But I don't think there's any diff in collections between 2.11 and 2.12 tho

[2018-07-27 09:15] sideeffffect commented on #123
the `BuildFrom` comes from the 2.12 -> 2.13 compatibility library I mentioned above

[2018-07-27 09:16] ktonga commented on #123
Ok. It seems it's not my day for making guesses

[2018-07-27 09:19] AL333Z commented on #123
I checked as well, and I got to the conclusion that there's nothing we can use from scala std lib (2.11 -> 2.13) which we can leverage for this duty.

So I was thinking about building our own, even if this decision is not gonna be easy..
E.g. where to put this? scalaz-zio? or even, scalaz (and then, how can we import that in scalaz-zio, since the dependency is reversed)?

[2018-07-27 09:20] ktonga commented on #123
I'm afraid we will need to setup the project to provide per scala version implementations

[2018-07-27 09:31] ktonga commented on #123
core has to remain zero-deps, this needs to be solved for people using zio from vanilla scala. This is already solved by the interop module for scalaz users

[2018-07-27 14:20] jdegoes commented on #139
@virdis Done! Accept the invite and feel free to add anyone else to the project.

I think we can do our work in a new master branch.

[2018-07-27 14:20] #139 closed

[2018-07-27 14:22] jdegoes commented on #15
I know @wi101 fixed this bug, I don't think there's any outstanding issues left with interruption.

[2018-07-27 14:22] #15 closed

[2018-07-27 14:51] jdegoes opened #140 "WIP: Abstract out notion of clock from timer-related methods"
- [x] Introduce `Clock` class with methods for getting the current time, nano time, and sleeping
 - [x] Create production implementation (`Live`).
 - [ ] Create test implementation (`Test`).
 - [ ] Make retry / repeat methods and Schedule methods take a Clock w/default to `Live`.
 - [ ] Add tests as appropriate
 - [ ] Document any changes in interface

[code]

[2018-07-27 16:02] ktonga commented on #123
It seems API for 2.13 collections is not yet definitive, so I would propose to start working on this in a separate long-term branch and don't merge any of this to master until 2.13 is released.
I can create the branch if you agree @jdegoes. WDYT?

[2018-07-27 16:04] jdegoes commented on #123
@ktonga Yes, that seems good, although no need to create the branch now unless someone is willing to work on this ticket right away.

Also I feel very strongly that ZIO `core` must have zero dependencies.

In the worst case we can just hard-code to `List`.

[2018-07-27 16:20] ktonga commented on #123
I think @AL333Z is. Although there is no need for a new branch if we go the `List` way :slightly_smiling_face:

I already expressed my agreement on that too

I'm down for that!

[2018-07-28 06:52] AL333Z commented on #123
I think we can just stick to `List`, avoiding the dep from scala-collection-compat.
For users which plan to use scalaz-zio without scalaz this may be enough.

`scalaz` may then bring in a more general solution, which may be addressed separately (a proper replacement for CanBuildFrom?).

[2018-07-28 18:15] barambani commented on #140
I'll have a look at this

[2018-07-29 00:57] barambani commented on #140
If still needs to be discussed a bit more I'm happy to wait, I will do some research in the meantime. I don't want to rush. Thanks

[2018-07-29 12:26] baank opened #144 "Move Future into seperate Interop"
Feel free to close this if it doesn't make sense.

But some (maybe many) of us are looking at IO as what Future should have always been. Unfortunately some existing libraries e.g HTTP Clients have Future return types and so it makes sense to include the interop module. Including the interop library I assume brings alongs all the scalaz/cats/etc dependencies as well.

Might be worth treating Future

[2018-07-29 13:56] ktonga commented on #144
Both dependencies are optional and won't be pulled by interop if the user's project doesn't yet depend on them

https://github.com/scalaz/scalaz-zio/blob/1af623cce75d20fc09feace67295c69b781ec8e3/build.sbt#L80-L81

[2018-07-29 13:56] #144 closed

[2018-07-30 02:27] jdegoes opened #145 "Implement auto-deployment"
Every time there is a successful Travis build in master, we should increment the `RC` version number, commit the change, and trigger and publish a build (e.g. `0.1.0-RC1`, `0.1.0-RC2`, `0.1.0-RC3`, ..., `0.1.0.RC999999`). The idea is to give people stable releases for "in-between" versions.

@NeQuissimus Would be great to get any insight you have into doing this.

[2018-07-30 02:31] ktonga commented on #145
Increasing the micro is meaningless. I'd like append commit sha better.

[2018-07-30 05:55] baank opened #146 "Future interop needs simplified signature or add to documentation"
Another newbie question/issue. When using the Future interop this is the signature I end up with:

val x = Future { "something" }
IO.fromFuture(() => x)(ec = scala.concurrent.ExecutionContext.Implicits.global)

When really I would've hoped for something more like:
IO.fromFuture(x)

Is it worth having an overloaded method with an easier version like below ?

[2018-07-30 06:13] ktonga commented on #146
That signature is precisely to avoid the mistake your snippet is making.

`Future` is eager, that means as soon as you call `Future.apply` the effect has been performed, that's not a desired behavior in **Pure FP** _(which ZIO encourages)_. In this case `x` must be defined as a `def` instead of as a `val` so evaluation is deferred to the time when the `IO` is run.

Also you have to be explicit on

[2018-07-30 06:15] baank commented on #146
Can we change this ticket to just cutting/pasting what you said and putting in the readme ?

I think a lot of people will make the stupid mistake I did. And you explained it really well.

[2018-07-30 06:16] ktonga commented on #146
BTW you are right about this should be added to the docs. I have to work on #77 and I definitely will include that explanation.

[2018-07-30 06:19] ktonga commented on #146
Closing since we already have a ticket for interop docs

[2018-07-30 06:19] #146 closed

[2018-07-30 11:39] NeQuissimus commented on #145
Appending the SHA is what we did with Scalaz 8.
Personally, I generally use `-SNAPSHOT` and cut frequent tags rather than have the CI do these things.

[2018-07-30 14:46] JD557 opened #148 "Sleep can't handle infinite durations"
Right now, running `IO.sleep(Duration.Inf)` blows up with `java.lang.IllegalArgumentException: toNanos not allowed on infinite Durations`.

This method can either be changed to only accept `FiniteDurations` or such that `IO.sleep(Duration.Inf)` behaves like `IO.never`.

[2018-07-30 14:54] jdegoes commented on #148
@JD557

Let's make infinite durations behave like `IO.never`.

[2018-07-30 18:49] prayagupd commented on #145
Hi @jdegoes and @NeQuissimus this is something i can pick up and contribute as "good first issue", if we decided to
- update the RC version number, which I understand as update the `build.sbt` and create a tag

[code]

- publish the artifact

[code]

[2018-07-30 18:54] NeQuissimus commented on #145
@prayagupd I would really hate for the CI to commit changes...
Also, I am pretty sure there are sbt plugins for that logical you have.

[2018-07-30 19:33] prayagupd commented on #145
thank you @NeQuissimus for the feedback. The updated `build.sbt` is not really necessary to be committed (commit is in tag not master) in my example, but important thing is to tag the current set of features in the build and push it.

I have seen https://github.com/sbt/sbt-release which i will look into it and see if it can increment the version number.

**Also, do you prefer to use the "CI build

[2018-07-30 20:05] jdegoes commented on #145
@prayagupd Let's definitely try to use the sbt-releases plugin.

There are two workflows to support:

1. Auto-building release candidates for the "next version".
2. Building releases for the "next version" and then incrementing to the "next, next version".

The process should handle both of them.

I'd prefer not to have gaps in the release numbers.

[2018-07-30 23:41] ktonga commented on #123
Closed by #147

[2018-07-30 23:41] #123 closed

[2018-07-30 23:47] jczuchnowski commented on #148
Did some quick digging. There are three values of `sealed abstract class Infinite`: `Duration.Inf`, 'Duration.MinusInf` and `Duration.Undefined` - all of which will result in `java.lang.IllegalArgumentException: toNanos not allowed on infinite Durations`.

I guess a simple match for `Duration.Infinite` should do the trick. I'd be happy to take it as my **good first issue**.

[2018-07-30 23:50] ktonga commented on #145
I think with the public API still being subject to changes we should be producing milestones instead. Eg: `...-M1`, `...-M2`

[2018-07-31 00:00] ktonga commented on #148
In this case I think the safest option is to match on `FiniteDuration` to get the nanos, and make everything else behave like `IO.never`

[2018-07-31 00:27] jczuchnowski commented on #148
Also there's a similar problem with `def repeatFixed` - it calls `toNanos` on any `Duration` passed. Only this one is on IO.scala level while the `IO.sleep` is in RTS.scala.

[2018-07-31 06:55] ktonga commented on #145
I think:

- The version should never be updated by the build
- On merge to master we publish to sonatype
- We don't use snapshot anymore coz they're evil
- We append commit SHA to the version so we give to peeps something immutable to depend on
- When we think it's time to publish something more visible (Milestone, RC or Release) we do it manually since it should be published to Maven central

[2018-07-31 14:37] jdegoes commented on #148
@jczuchnowski We should look for and eliminate all of these. In fact, maybe we should just wrap `Long` and `TimeUnit` in our own `Duration` which does not provide any unsafe functions? Otherwise I feel like the `toNanos` problem will be repeated, maybe again in ZIO, and definitely in user-land code.

[2018-07-31 14:43] jdegoes commented on #145
So we auto-publish the SHA builds (`0.1.0-7f27e9c`), and then manually build the release numbers? That seems sensible.

[2018-07-31 19:17] sideeffffect commented on #148
But `FiniteDuration` is *safe*, right? If so, shouldn't we just change every method to accept `FiniteDuration` instead of `Duration`?

[2018-07-31 19:48] jczuchnowski commented on #148
@jdegoes wouldn't that be the same as if we used `FiniteDuration` instead of `Duration`? `FiniteDuration` is `final` so it would be safe to use in our context.
Unless our own `Duration` would include also `infinite` values, but that again forces us to handle these cases internally.

[2018-07-31 20:32] sideeffffect commented on #148
I would consider something like

[code]

or rolling our own fancy Duration as @jdegoes suggested

[code]
Having infinite duration seems like a legitimate use case. That is why I didn't add any `+` or `*` (etc) methods on `zio.Duration`, because adding or multiplying values where some may be infinite just doesn't make sense to me -- more like space for bugs to hide.

what would you guys prefer?

[2018-07-31 21:28] jdegoes commented on #148
I prefer rolling our own `Duration` with `Finite` and `Infinite`, and forcing code to handle both possibilities, i.e. you cannot call `toNanos` until you know you have a `FiniteDuration`.

[2018-08-01 00:37] NeQuissimus opened #150 "Logo"
I would like to change the logo to something like this, using the font [Fabulous Steampunk](http://www.fontspace.com/marta-van-eck-designs/fabulous-steampunk).

![ZIO](http://www.fontspace.com/preview/m/6f2ecc8b1335a52d34a325ff7901bd8a.png)

The license says "Licensed as: Freeware, commercial use requires donation". Which one of the two would we fall under? :)

[2018-08-01 00:59] ktonga commented on #150
I like the old logo better :stuck_out_tongue_closed_eyes:

![image](https://user-images.githubusercontent.com/1324947/43495153-d4cf6f20-9579-11e8-8732-078df581ab44.png)

[2018-08-01 04:15] prayagupd commented on #145
Hi @ktonga and @jdegoes created a PR to publish an artifact of versioning `0.1.0-$commitSha` - https://github.com/scalaz/scalaz-zio/pull/151/files

I might have to to update [travis.yaml](https://github.com/scalaz/scalaz-zio/blob/master/.travis.yml), as I see it is using `sbt publish`, instead we need `sbt "release with-defaults"`.

If we want to publish manually we can use sbt-release as

[code]

[2018-08-01 14:18] jczuchnowski commented on #148
So I took the implementation @sideeffffect proposed and tried to apply it as is. There are couple of problems there, but the PR #152 highlights the patterns of current usage of `Duration`. I suggest we move the discussion there?

[2018-08-01 14:33] jdegoes commented on #150
I know that @wi101 created a nice one, it looked like splash paint font or something. I don't know if she did high-resolution / vector version or just the mock I saw.

We should do a proper logo.

[2018-08-01 15:01] wi101 commented on #150
@jdegoes Actually I didn't do a high-resolution.. but what do you think about it?

<img width="210" alt="zio" src="https://user-images.githubusercontent.com/3535357/43529703-274e2f48-95ac-11e8-8a17-ef529d19645e.png">

[2018-08-01 16:08] NeQuissimus commented on #150
@ktonga lol, does this work better: https://imgur.com/a/zrVm5jF
I just find the current logo a bit "plain" :) I thought that it could represent the "essential plumbing", that's why I grabbed a steampunky font.

[2018-08-01 20:43] richardbmx commented on #150
@NeQuissimus  Hi, my name is Richard. I'm a graphic designer and I love making contributions for open source projects. I see that they want a new logo for your application. If you wish, I can do it for you without any problem ... I can present some modern ideas that would improve the appearance and image of your project

[2018-08-01 20:51] NeQuissimus commented on #150
@richardbmx Give it a shot :)

[2018-08-01 20:54] richardbmx commented on #150
perfect I'm going to work on it

[2018-08-02 00:49] richardbmx commented on #150
@NeQuissimus  Here I present my proposal based on the original logo but with an improved version more personal and with different versions, it can be used as a favicon and in a vertical and horizontal version. with an icon that represents the letter Z with cuts that express and provide an optical illusion, which makes the icon a personalized Z for your project. If you want some change you can ask

[2018-08-02 04:32] jdegoes commented on #150
@wi101 I really like it, though I think the 'z' should be the same size as the other letters.

@NeQuissimus I do like steampunk. 😄

@richardbmx Thank you for mocking these up. They look very professional. My own personal taste is for something a little more adventurous and spicy. By the way I saw you donated logos to other open source projects. Thank you for your extremely generous contributions t

[2018-08-02 20:07] mantisMolloy opened #153 "Cannot resolve dependecy"
I can't pull in dependency when using sbt or gradle

Full sbt build file

[code]

Results in the following error

[code]

[code]

Also tried in gradle

[code]

Results in the following error

[code]

Also, cannot find scalaz-zio on maven central by searching for it.

[2018-08-02 20:27] mantisMolloy commented on #153
Thanks, having it working now

[2018-08-02 20:27] ssokolenko commented on #153
@mantisMolloy the scalaz-zio is published to Sonatype repository which is not searched by sbt, add the following line to make it work:

`resolvers += Resolver.sonatypeRepo("snapshots")`

[2018-08-02 23:58] #153 closed

[2018-08-04 23:05] jdegoes opened #155 "Add sonatype version badge to README"
To prevent the version numbers from becoming out of date, we should use a Sonatype version badge in the README to represent version numbers (and a Maven Central one once #50 is done).

[2018-08-04 23:34] ktonga commented on #155
I think it would be better to use placeholders together with a note to pick the latest version and add a Sonatype badge to the README, and a Maven Central one once #50 is done.

[2018-08-04 23:35] #77 closed

[2018-08-05 14:54] jdegoes commented on #155
When we have a microsite this will be easy, because when we build the HTML we can insert the version tags in doc pages.

[2018-08-05 14:59] ktonga commented on #155
I agree with that, but the issue title is a bit misleading, it might suggest to update the READMEs which are versioned, a commit per deploy would be too much noise.

[2018-08-05 17:37] #96 closed

[2018-08-06 09:37] sideeffffect commented on #155
[![Sonatype Nexus (Snapshots)](https://img.shields.io/nexus/s/https/oss.sonatype.org/org.scalaz/scalaz-zio_2.12.svg)](https://oss.sonatype.org/content/repositories/snapshots/org/scalaz/scalaz-zio_2.12/)

[code]

?

[2018-08-06 16:31] richardbmx commented on #150
@NeQuissimus  I present a folder with all the necessary files to manipulate the logo, I deliver the logo in two versions, one vertical and one additional horizontal, that I deliver an icon version to be used where they want, all the archos are 100% editable and in vector format.

If they want to change something, they inform me. regards ;-)

All File
[Google drive](https://drive.google.com/open?id

[2018-08-06 17:48] NeQuissimus commented on #150
I am going to leave it to the group to voice opinions. I just came up with the steampunky theme on a whim since I thought it would be fitting.

[2018-08-07 01:39] jdegoes opened #157 "Invariance of ordering under sequence / traverse"
We need tests for `IO.traverse`, `IO.parTraverse` (as well as `sequence`, `parSequence`) to ensure the order of results is correct (and matches the input order), and if not, flip the order of parameters to `zip` / `seq`.

[2018-08-07 07:14] AL333Z commented on #157
I'm gonna submit a PR for this one soon.

My assumptions are:
- for `IO.traverse` and `IO.sequence` both the evaluation and the results should be in order
- for `IO.parTraverse` and `IO.parSequence` only the results should be in order

I'll add an alias `IO.seq` for `IO.zipWith` as well.

[2018-08-07 07:41] ktonga commented on #157
I would make the change for all of them, but only assert order on the effects for the sequential ones.
We already did the renaming in the "composable retry" PR, so I would suggest to avoid the alias by now.

[2018-08-07 07:54] AL333Z commented on #157
That's great!
If your PR will come sooner that mine, I'll rebase afterwards.

[2018-08-07 12:31] jdegoes commented on #157
@AL333Z Yes, that's the correct set of assumption.

[2018-08-07 12:51] #157 closed

[2018-08-07 12:55] jdegoes opened #160 "Rename `toUnit` => `void`"
Now that we have replaced `Void` by `Nothing`, it makes sense to rename the methods currently named `toUnit` as `void`, which is their more idiomatic name in Haskell, PureScript, etc.

[2018-08-07 20:55] regiskuckaertz commented on #125
@jdegoes I'd like to help here but can't wrap my head around this one.
[code]
I can't figure out how to write `run` using `onExit`. Changing it to:
[code]
gets me closer, but not without changing `register` to
[code]
... once in `IO`, always in `IO` 😄 Then I can write:
[code]
Is that what you had in mind?

[2018-08-07 21:02] regiskuckaertz commented on #125
☝️ there probably should be a reference to `self` somewhere 🤔

[2018-08-07 22:58] jdegoes commented on #125
Something like this:

[code]

This isn't quite right because you have to set the `E` or `A` right after the `io` (using a `Ref`?), so you need something like `IO.absolve(io.attempt.flatMap(e => setter2(e).const(e))`, and then the exit handler must only set the termination causes (not the error).

Not 100% sure that it can be done though, and my initial type signature for `onExit` was wrong. 😄

[2018-08-08 12:58] jdegoes commented on #160
@saucam In the pull request or a commit message, next time use "Fixes #162", and then Github will automatically close the ticket when the pull request is merged. 😄

[2018-08-08 12:58] #160 closed

[2018-08-08 13:12] regiskuckaertz commented on #160
😮 I didn't know that

[2018-08-08 13:15] ktonga commented on #160
I like fixes for bugs, closes for features.

[2018-08-08 13:29] #124 closed

[2018-08-08 21:06] regiskuckaertz commented on #125
Would it make sense to add it to `Fiber`?
[code]

[2018-08-09 02:20] NeQuissimus commented on #25
@jdegoes Can you add me to the project and assign this to me? Then I'll take care of the microsite machinery.

[2018-08-09 06:41] regiskuckaertz commented on #125
I set up a branch to explore that line of thought, adding a new abstract `Fiber.finished`. It’s promising except for `Fiber.zipWith` et al.

[2018-08-09 11:49] wi101 commented on #126
@jdegoes should we add this issue in `scalaz-ioqueue` ?

[2018-08-09 14:53] NeQuissimus opened #164 "Bad type inference"
This example is from the README: (I added the definition of `openFile`, so it would type-check)

[code]

[2018-08-09 14:58] jdegoes commented on #126
@wi101 Yes, and then we can delete it here.

[2018-08-09 16:21] NeQuissimus commented on #26
In #163 I am doing most of the heavy-lifting.
I think this ticket here should probably be to replace the remaining non-tut blocks.
What do you think, @jdegoes ?

[2018-08-09 16:23] jdegoes commented on #26
@NeQuissimus Sounds good to me!

[2018-08-09 16:50] jdegoes commented on #125
@regiskuckaertz We need to think about that, but I think if both sides fail or are terminated, then we have to invoke the callback 2 times. The callback will be invoked only a single time in the event that both left and right succeed, in which case it gets the `C`.

Also we should reconstruct `ExitResult` to avoid the type casts because this is not performance sensitive code.

[2018-08-09 18:07] NeQuissimus commented on #26
Issue description updated

[2018-08-09 18:28] #25 closed

[2018-08-09 22:46] sideeffffect opened #166 "(Re)using AutoCloseable"
I was wondering, if we want to exploit the fact, that many objects on JVM that need to be manually closed implement the `AutoCloseable` interface and thus there is a predefined way to close them -- the `close` method.

my first sketch
[code]

and then it could be used like
[code]
instead of the more verbose
[code]

[2018-08-10 06:40] regiskuckaertz commented on #125
Did that 👍

[2018-08-10 11:44] jdegoes commented on #166
Looks good. I do wonder if it should go in `interop` on grounds it's interop for the Java standard library

[2018-08-10 19:43] MarkRBM opened #168 "microsite dependency example not working?"
should this be working

`libraryDependencies += "org.scalaz" %% "scalaz-zio" % "0.1.0-02a5ac6"`

It wont resolve for me I tried adding all the various sonotype resolvers snapshots/releases/public to no avail and I dont see it here https://oss.sonatype.org/#nexus-search;quick~scalaz-zio

0.1.0-SNAPSHOT works when I have the right resolver added

[2018-08-10 19:53] NeQuissimus commented on #168
hmmm, no... That's a commit sha that was only valid for my fork...

[2018-08-10 19:57] NeQuissimus commented on #168
https://travis-ci.org/scalaz/scalaz-zio/jobs/414191482#L1175

I updated the microsite

[2018-08-10 20:00] Ir1sh commented on #168
thanks but I dont think the new one is valid either "0.1.0-d315153"

[2018-08-10 21:32] prayagupd commented on #168
I am wondering the same - https://github.com/scalaz/scalaz-zio/pull/161#issuecomment-411967813

Though build says `0.1.0-d315153` artifacts are published, they are not available.

[2018-08-10 22:40] pshirshov opened #170 "Is it a good idea to keep defect lists as separate values for all the ExitStatus branches?"
It may be nice to keep consistency and allow the user to easily distinguish between defects and causes when the evaluation terminates. I've opened a P/R for this: #169

Also I'm curious what happens when computation succeds but bracket finalizers fail?
It seems logical to return the value computed. At the same time in case it happens user may wish to get a list of defects as well. So I think it ma

[2018-08-10 22:45] pshirshov opened #171 "Implement sandboxed method on IO class"
What would you say about adding 3-way `redeem` which would allow to recover from `Terminated` state?

This can be easily implemented by forking with `run` and matching on `ExitResult`. At the same time it may give user a peace of mind in situations where he isn't sure if his code wouldn't terminate and wishes to recover from bad states as cheap as he can in case of using `redeem` for error recover

[2018-08-10 23:10] NeQuissimus commented on #168
ooooooooooooohhhhhhhhhhhhhhhhhhh!
They are all sitting in my staging buckets! The build stages the artifacts but does not release them.

[2018-08-10 23:57] NeQuissimus opened #172 "commit hash releases badly broken"
Those non-SNAPSHOT commit hash versions are considered "stable" by Sonatype, not snapshots.

Hence, these artifacts need to go through the correct release procedure.
Here is the workflow with the steps we are already doing checked off:

- [ ] Create POM with license, website, developer list
- [X] Generate artifacts
- [ ] Sign artifacts
- [X] Publish artifacts
- [ ] Release staging repository

Need

[2018-08-10 23:58] NeQuissimus commented on #168
#172

[2018-08-11 00:11] kaishh commented on #171
Hi, we've decided to put ZIO in production as our main monad, but would like a bit more flexibility in API without keeping a lot of custom extension methods...

[2018-08-11 18:54] #105 closed

[2018-08-11 19:20] jmcardon opened #173 "Don't catch `StackoverflowError` and `UnknownError`"
https://github.com/scalaz/scalaz-zio/blob/master/core/jvm/src/main/scala/scalaz/zio/RTS.scala#L110

It doesn't make sense to specify to those two cases. `!isInstanceOf[VirtualMachineError]` makes more sense.

[2018-08-12 13:54] pshirshov commented on #50
Guys, it would be great if you start publishing releases. I've put zio into my production code though I have to depend on snapshot which is a dangerous practice :)

[2018-08-12 15:04] ktonga commented on #50
We are working on it, JVM libs publishing is not necessarily a breeze. I'd recommend switch to source dependency in the meantime, it's way better than depending on a snapshot and sbt support for it is pretty decent.

[2018-08-12 16:29] ktonga commented on #50
We recently had a few contributions to attempt start publishing non-snapshots versions but it's still not working. So if you say you can solve #172, please, be my guest :slightly_smiling_face: Help wanted!

[2018-08-12 17:04] pshirshov commented on #50
I may, it all works, for example for my project. But I can't submit a complete P/R bcs in order to sign, for example I need to have PGP keys packed into an encrypted tar.gz and added into the repo.

I have a short doc on secrets setup here: https://github.com/pshirshov/izumi-r2/blob/develop/doc/md/flow.md#secrets

[2018-08-12 17:06] pshirshov commented on #50
To add POMs required by Sonatype you just need to add this snippet into primary `build.sbt`:

[code]

[2018-08-12 22:58] pshirshov commented on #172
By the way, you may use any key you wish, sonatype just requires the key to be published.

You may find a short doc here: https://github.com/pshirshov/izumi-r2/blob/develop/doc/md/flow.md#secrets

[2018-08-13 01:46] jdegoes commented on #171
How about a design like this:

[code]

Then you do `io.sandboxed.redeem(...)`.

[2018-08-13 09:30] pshirshov commented on #171
I think we should try it first but this looks nice.

[2018-08-13 09:49] pshirshov commented on #172
I've updated the P/R, pls check

[2018-08-13 12:40] pshirshov commented on #172
One more P/R, #176

What is left:

- [ ] provide pgp keys and a `local.sbt` file through travis.

An example of `local.sbt`:

[code]

[2018-08-13 12:43] pshirshov commented on #173
Guys, please allow the user to redefine `nonFatal`. Sometimes it may be _very_ important to be able to customize default behavior.

[2018-08-13 19:01] pshirshov commented on #172
So, I've extended my patch with couple more settings and successfully published zio to central under my own identifier. Will update P/R soon.

[code]

[2018-08-13 19:21] pshirshov commented on #172
So, I've published current master tip as-is under my own prefix. Whose who are eager to use release artifact may depend on

[code]

[2018-08-13 21:16] pshirshov commented on #50
@ktonga : could you review the P/R and my comments on it?..

[2018-08-13 23:18] jmcardon commented on #173
What? In what situation is it appropriate to catch any version of `VirtualMachineError`?

Such errors may leave your VM in an undefined state. How on earth is this desirable behavior to customize?

[2018-08-13 23:26] pshirshov commented on #173
Once in my life I've been catching `OutOfMemoryError`s calling some native cleanup code through JNI for example.

In other situation I had to deal with a stupid library. The author has been throwing `UnknownError` and it was real pain in my ass bcs of this infamous method which is used everywhere:

[code]

[2018-08-14 13:26] #155 closed

[2018-08-14 13:28] #173 closed

[2018-08-14 13:30] #166 closed

[2018-08-14 14:26] jdegoes opened #180 "Make Scaladocs work on microsite"

[2018-08-14 17:19] pshirshov opened #182 "Allow the user to redefine `nonFatal` classes"
1. In some cases we may want to consider some exceptions as critical and let the code crash
2. In some cases we have to integrate with badly written libraries which are using fatal exceptions to signal about their issues. In my case it was `UnknownError`
3. In some rare cases we may want to handle VM errors. In my case I've been handling OOMs to trigger a chunk of native code through JNI.

Related

[2018-08-14 19:13] jdegoes commented on #182
@pshirshov I am tempted to delete `NonFatal` entirely and catch all errors. Would that be equivalent or do you prefer a custom `NonFatal` handler?

[2018-08-14 21:06] pshirshov commented on #50
Meanwhile this may be an option for those who need non-snapshot versions as-is:

[code]

I'm going to continue publishing these artifacts until the pipeline issues resolved in upstream.

[2018-08-15 02:45] jmcardon commented on #171
Sorry if I'm a tad late to this, but doesn't this sort of subvert the entire point of `zio`?

(For the record @jdegoes I've not left scala just yet and will stick around for a tad longer :). Just backed up on things to do)

being completely serious, this is what `syncThrowable` is for. When we've chatted about this over and over about separating programmer error from benign errors in the scalaz ch

[2018-08-15 02:46] jmcardon commented on #182
But _why_? There's literally [syncthrowable](https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/IO.scala#L759) for this!

[2018-08-15 08:36] kaishh commented on #171
@jmcardon

No, it's trivially done with `.run` today.

`syncThrowable` does not address the case when exception is nested deeply inside IO expression:

`def x: IO[E, Unit] = for { y <- IO.void; z = ??? } yield ()`

[2018-08-15 08:41] pshirshov commented on #182
Depends on your situation. I agree on the argument about improper usage and don't agree on the argument about broken state where you need to try to do something (pass execution to native code) but the vm can't continue to work.

[2018-08-15 08:42] kaishh commented on #182
@jmcardon

The point is being able e.g. immediately kill the VM with `System.exit()` on OutOfMemory exception to prevent additional allocations on shutdown and potential total freeze.

I can't describe how completely unrelated `syncThrowable` is for this case.

[2018-08-15 14:31] jdegoes commented on #182
@jmcardon A simple argument for having this customizable (or deleting it entirely) is that no two libraries agree on the set of `NonFatal` throwables.

My own personal preference is to catch everything because all the other libraries are broken anyway (for example, performing heap allocation on fatal exceptions!!!), and in general everything about the runtime is undefined after a truly fatal excep

[2018-08-15 14:51] #125 closed

[2018-08-15 15:00] pshirshov commented on #182
My P/R doesn't make things worse but makes them better - behavior is exactly the same as it is right now but you may alter it. So I don't know what may be an objection for this :(

[2018-08-15 15:04] jdegoes commented on #182
@pshirshov I'm inclined to agree about your PR since it just moves `nonFatal` to `RTS` which is perhaps a better place for it anyway. We need the build to pass though. 😄

[2018-08-15 15:06] pshirshov commented on #182
Build failed bcs of microsite generator I guess. Ok, I will rebase.

[2018-08-15 15:12] pshirshov commented on #182
@jdegoes , @NeQuissimus : at the moment the build is broken by a line from my other P/R:

[code]

Someone need to drop all the old unclosed staging repositories from sonatype.

[2018-08-15 15:15] NeQuissimus commented on #182
I can drop the staging artifacts when I am home. Can you send a PR with the key stuff?

[2018-08-15 17:07] #182 closed

[2018-08-15 17:27] pshirshov opened #185 "Tracing/stack correction support?"
At the moment it may be hard to restore the full execution path which lead to an exception because zio doesn't perform any stack manipulaitons nor trace execution path.

It may be kinda expensive but at the same time it may be extremely valuable for debugging/etc.

I would propose to implement additional debug runtime with tracing or stack correction support.

[2018-08-15 17:37] jdegoes commented on #185
I was thinking about this the other day. Whatever the solution, it should have no impact on performance when disabled.

[2018-08-15 19:44] jdegoes opened #186 "Add documentation and examples on ZIO microsite for Queue"

[2018-08-15 19:44] jdegoes opened #187 "Add documentation and examples on ZIO microsite for Promise"

[2018-08-15 19:44] jdegoes opened #188 "Add documentation and examples on ZIO microsite for Ref"

[2018-08-15 19:49] jdegoes opened #189 "Write ScalaFix migration for Scalaz 7.2 Task"

[2018-08-15 19:49] jdegoes opened #190 "Write ScalaFix migration for Future"

[2018-08-15 22:30] NeQuissimus commented on #50
I'll provide the rest that is needed in a bit.

[2018-08-16 14:32] #50 closed

[2018-08-16 14:32] #172 closed

[2018-08-16 14:38] #171 closed

[2018-08-16 21:05] jdegoes commented on #108
@regiskuckaertz We can play around with ideas here.

The main problem with the obvious unification:

[code]

Is that it would require you collect the child fibers on every fiber. Currently this is a flag turned on / off with the `supervise` combinator, which means you pay the cost only when you need it.

One can view the building of the weak set as being a sort of state update, suggesting a way to

[2018-08-17 17:15] pshirshov opened #193 "retryFor isn't flexible enough to be convenient"
Let's consider the following snippet:

[code]

So, here I'm doing a simple thing - I'm attempting to read from an external mutable state until I get a value or timeout occurs. Though I had to do that dirty trick with `onTimeout` because `.retryFor` does not allow me to modify "left" branch.

I guess we should implement another kind of `retryFor` which would allow us to consider last failure value

[2018-08-18 09:02] ktonga commented on #193
We are reworking the retry combinators on #141 and when it's done you can complain about anything except about lack of flexibility :laughing:

[2018-08-18 09:44] pshirshov commented on #193
Would it be possible to consider last action error while handling timeout and change left branch type? Would be perfect if so.

[2018-08-18 15:10] jdegoes commented on #193
@pshirshov Good spot! Looking at your motivating use case, I was able to generalize the retry method on `IO` under the new composable retry policy framework.

Now you get something like this (simplified):

[code]

You also a more powerful variant (`retryOrElse0`), but I don't think you need that power here.

These methods allow you to look at the last error, and decide to change the error type.

I

[2018-08-18 18:39] #121 closed

[2018-08-18 18:39] #193 closed

[2018-08-18 18:49] jdegoes opened #195 "Composable repetitions"
There are a variety of ad hoc methods on `IO` for repeating actions, either fixed number of times, variable number of times, or for certain durations. We should do something similar as for `Retry`—introduce a `Schedule` abstraction that's very flexible and composable and that can subsume the existing methods and many more.

## Usage API

Fake code to experiment with API:

[code]

[code]

[2018-08-18 18:50] pshirshov commented on #193
Yeah, that should be enough. Thank you!

[2018-08-18 23:40] pshirshov commented on #193
So, now it looks like

[code]

Which is lot better.

[2018-08-19 00:19] sideeffffect opened #196 "Snapshot artifacts published as releases"
Artefacts created from `master` are not releases. Although the tests passed, they might contain code not ready for production use. And if we want to publish *actual* release artefacts, there should be a distinction.

Unfortunately artefacts created from `master` are published to both
 * https://oss.sonatype.org/content/repositories/releases/org/scalaz/scalaz-zio_2.12/
 * https://repo1.maven.org/ma

[2018-08-19 04:32] jdegoes opened #197 "Enhance test suite for retry schedules"
This is an excellent ticket for someone who wants to thoroughly learn and master Retry schedules in ZIO. I'm happy to offer 1-on-1 support to anyone who has any questions about completing this ticket.

 - [ ] Create a new `RetrySpec`
 - [ ] Move retry-testing methods of `IOSpec` to `RetrySpec`.
 - [ ] Systematically test methods of `Schedule` by using `IO.retry`, `IO.retryOrElse`, and `IO.retryOrE

[2018-08-19 12:32] NeQuissimus commented on #196
Sonatype requires artifacts published to the `snapshots` repository to be suffixed `-SNAPSHOT`.
Currently, our artifacts are rejected by Sonatype's Snapshot repository.

There are three options:
1) We keep what we have, commit hash versions as releases
2) We switch back to using `0.1.0-SNAPSHOT` and skip on the commit hash logic
3) We manually create logic in our build to add the `-SNAPSHOT` suffi

[2018-08-19 18:04] jdegoes opened #199 "Create test suite for Repeat schedules"
This is an excellent ticket for someone who wants to thoroughly learn and master Repeat schedules in ZIO. I'm happy to offer 1-on-1 support to anyone who has any questions about completing this ticket.

 - [ ] Create a new `RepeatSpec`
 - [ ] Systematically test methods of `Schedule` by using `IO.repeat`.

[2018-08-19 20:44] pshirshov commented on #196
From my point of view you should use standard approach with tagged releases. And release after each major P/R merge.

[2018-08-19 21:30] sideeffffect commented on #196
@NeQuissimus
[we're using `sbt-dynver`](https://github.com/scalaz/scalaz-zio/blob/master/project/plugins.sbt#L7)
according to the documentation, we [shouldn't be trying to meddle with the version settings ourselves](https://github.com/dwijnand/sbt-dynver#setup), it will set `version`, `isSnapshot` and `isVersionStable` for us

we just need to set `dynverSonatypeSnapshots` to `true`:
 * https://git

[2018-08-19 23:38] NeQuissimus commented on #196
I was not aware of `dynverSonatypeSnapshots`. It seems to do what I suggest above, simple suffix `-SNAPSHOT`.
We should no longer need `sbt-release`, correct.
You are welcome to give that a shot.

[2018-08-19 23:55] ktonga commented on #196
@NeQuissimus I haven't changed my mind, still think this https://github.com/scalaz/scalaz-zio/pull/151#issuecomment-410579078

By:

I meant to add the SHA so CI artifacts are reproducible and don't break build depending on a continuously changing thing.

To me, it was over complicated for no reason.

[2018-08-19 23:59] sideeffffect commented on #196
@ktonga is using `sbt-ci-release` with default settings (plus `dynverSonatypeSnapshots` set to `true`) in conflict with your ideal situation?

[2018-08-20 00:03] ktonga commented on #196
@sideeffffect totally the contrary, it seems to do exactly what I want and even better since you can automate the release part by using tags. It is a big :+1: on my side.

[2018-08-20 12:40] NeQuissimus commented on #196
Let's try that then... Once we have this PR, we will need to cut a 0.1.0 in order for it to work correctly, if I understand what I am reading (correct me if I'm wrong).

[2018-08-20 18:43] NeQuissimus opened #200 "ioeffect Task"
I have been using the ioeffect Task type alias/object to bring Java APIs into a pure context.
Is this (https://github.com/scalaz/ioeffect/blob/master/ioeffect/src/main/scala/scalaz/ioeffect/package.scala#L17) something you'd consider for ZIO as well?
I have found it to make operating with Java APIs much more convenient.

[2018-08-21 00:04] ktonga opened #201 "Move interop module docs to the microsite"
Documentation for `interop` module is currently in a [README.md](https://github.com/scalaz/scalaz-zio/blob/master/interop/README.md) within the module's directory, it would be better if it was moved to a section in the microsite for higher visibility.

[2018-08-21 21:56] #196 closed

[2018-08-21 22:40] jdegoes commented on #200
@NeQuissimus Yes, for sure. In the `interop` module.

[2018-08-22 11:43] #201 closed

[2018-08-22 11:44] NeQuissimus commented on #201
https://scalaz.github.io/scalaz-zio/interop.html

[2018-08-22 12:29] regiskuckaertz commented on #108
Do we want to introduce a `Supervisor` abstract data type to represent the varying degrees of supervision?

- one to deal with unhandled exceptions
- one to deal with the fiber's exit result
- one to deal with the fiber's exit result and children

A user could even "change their mind" for some reason and move from one degree to another.

Also the `IO.supervisor` combinator could be updated likewis

[2018-08-22 15:37] artempyanykh commented on #35
I did some additional reading and research on the subject. Below are some of my current thoughts.

**TL;DR**

The interface for a ring buffer:

[code]

Rough plan:

1. Write a straightforward but correct implementation based on "[A Portable Lock-Free Bounded Queue](http://pirkelbauer.com/papers/icapp16.pdf)".
2. Write benchmarks and establish baseline performance. Measuring performance here could

[2018-08-22 16:32] jdegoes commented on #200
Also I believe @fommil has a much more extensive version of this somewhere on Gitlab.

[2018-08-22 16:55] fommil commented on #200
@jdegoes I have my own prelude which has a few extensions to this, but not much (it's back on github because that's what my publisher wants me to use for continuous release of the book) https://github.com/fommil/fpmortals/blob/master/example/src/main/scala/fommil/prelude/prelude.scala

I'm not sure there is anything in here you'd want to take, it's mostly convenience methods to turn IO things into

[2018-08-22 17:08] jdegoes commented on #200
Hmm, that's not what I was thinking about. There's somewhere that you defined `IO` specialized to `ZIO[Throwable, ?]`, and added lots of functions to deal with the fixed error types (e.g. `IO.fail` with `Throwable`). That could make a good basis for `Task` if it's more fleshed out than @NeQuissimus snippet.

[2018-08-22 17:11] jdegoes commented on #35
@artempyanykh Well thought out plan. 😄

[2018-08-22 18:05] fommil commented on #200
I think that's just the code in the scalaz-ioeffect repo in the package object

[2018-08-22 18:36] jdegoes commented on #108
I think using an sum type for supervisor could be one way to solve the issue. Another thing I thought of: perhaps your supervisor always gets passed `Set[Fiber[_, _]]`, but in some cases it's empty because children are not being observed? In this case, you get a more uniform type signature and more reuse across supervisors.

Finally another thing I thought about:

[code]

Now maybe you could write

[2018-08-22 18:43] jdegoes commented on #200
@fommil What happened to `upgrade-scalaz-to-cats` repo on Gitlab?

[2018-08-22 18:54] fommil commented on #200
I moved it to the attic... oh you don't want to go near that dumpster fire. I was doing horrible things.

https://gitlab.com/fommil/attic/tree/master/upgrade-typelevel-to-scalaz/src/main/scala

[2018-08-22 18:59] jdegoes commented on #200
Ah, this is what I was looking for:

[code]

[2018-08-22 18:59] jdegoes commented on #200
Looks the same as `ioeffect` though...

[2018-08-22 19:29] #195 closed

[2018-08-22 19:55] jdegoes opened #206 "Fix failing raceAll test case"
In `RTSSpec`, the following test case is failing:

[code]

This test times out. Likely this is due to a change in the implementation of `raceAll` from using `terminate` to using `IO.never` as the base case for the race. The `raceWith` implementation in `RTS` is possibly where the issue is. Likely the failure can be minimized into a new test case that will make fixing easier.

[2018-08-22 20:20] jdegoes opened #207 "Add Fiber.fromFuture"
In the `interop` package, we could add:

[code]

[2018-08-22 20:35] jdegoes opened #209 "Automate microsite generation"

[2018-08-22 20:40] NeQuissimus commented on #209
lol, #208

[2018-08-22 21:08] jdegoes commented on #193
This is the best I could do:

[code]

The main problem is that it's just awkward to convert from `Option[A]` => `IO[Unit, A]`. Probably we could add, `IO.fromOption` to do that. We already have `fromEither`.

Then it could be:

[code]

which is pretty elegant.

[2018-08-23 00:59] NeQuissimus commented on #200
So, let's just bring the `ioeffect.Task` in here?!

[2018-08-23 01:02] fommil commented on #200
Yeah that's just your originally quoted code :-)

[2018-08-23 01:03] fommil commented on #200
Btw, please make sure everything in my book's coverage of ioeffect makes it into zio, it'll mean I don't need to rewrite anything :grinning:

[2018-08-23 02:56] ktonga opened #213 "Kinda hate the way Codecov is integrated"
Can't it be integrated as a check? Like Travis. Instead of those intrusive and useless comments on every PR, which trigger undesired notifications BTW.

[2018-08-23 08:54] regiskuckaertz commented on #206
I think the problem lies in the combination of two things: (1) if two actions fail, return the last failure, (2) `never` will neither fail nor succeed ever. I can see two ways out: either create a `Never` primitive so that it can be accounted for in `raceWith`, or only allow `raceAll` on non-empty lists.

[2018-08-23 12:19] NeQuissimus commented on #213
I agree :D Especially if you're watching the entire repo...

[2018-08-23 14:52] sideeffffect opened #216 "Randomly (?) failing GPG on Travis"
[this is how it's supposed to look like](https://travis-ci.org/scalaz/scalaz-zio/jobs/419334978#L567)

but sometimes it fails

[like this](https://travis-ci.org/scalaz/scalaz-zio/jobs/419353902)

[or this](https://travis-ci.org/scalaz/scalaz-zio/jobs/419459930#L569)

is that because somebody was messing with the Travis variable(s) (like `$encrypted_316f730cabee_key` and so on...)?

[2018-08-23 15:10] jdegoes commented on #206
@regiskuckaertz It's true that `never` will not succeed or fail, but it can still be interrupted. You can think of it as an `async` task that takes a really long time to complete.

If `race` doesn't work for `never`, it will not work for a long async task.

The correct behavior of `raceAll(never, a, b, c)` is to return the first success of `a`, `b`, or `c`, and to interrupt `never`, which is the s

[2018-08-23 18:28] #213 closed

[2018-08-23 19:50] #209 closed

[2018-08-23 20:42] didierd opened #217 "Schedule.jittered(min, max) can go above max"
The formula is ` d * min + d * max * random`, instead of _e.g._`d * min * (1 - random)  + d * max * random`. It ranges from min to min + max.

I can send a PR but it seems overkill here.

[2018-08-23 22:43] jdegoes commented on #206
@regiskuckaertz

Ah, you're right. If `a`, `b`, and `c` fail, then you never know if `never` is going to end, so you have to wait it out. That's intentional and good behavior in the general case, since you can always `timeout` the product of a `race`.

So maybe there are no bugs in the current behavior. Just a "bad" test. OTOH, we probably don't want this behavior.

Perhaps we can do the following

[2018-08-24 05:59] regiskuckaertz commented on #206
Yes, it's a if `never` was to `race` as `0` is for `*`.

That's better! There is still the possibility that `io` or one of `ios` will reduce to `never`, but then it's a user concern.

[2018-08-24 06:44] regiskuckaertz commented on #108
It looks like the [supervision model in Erlang](http://erlang.org/doc/man/supervisor.html), at least if you squint your eyes 😅

It would be interesting to see how this idea can be reconciled with the declarative API of a ZIO. Perhaps `fork0` can be updated to accept an optional supervision strategy, in which case the fiber would automatically become a supervisor for its descendants.

[2018-08-24 06:56] regiskuckaertz commented on #108
Another interesting discussion is how would an event-based API (`onFork`, `onComplete`) weave itself into the current evaluation model? It’s almost as if each action should run into its own fiber and then `State` becomes a piece of shared state, implying some `Ref` around it at least.

[2018-08-24 14:25] kaishh commented on #81
If there are no theoretical blockers and no one else is currently doing it, I may implement it

[2018-08-24 15:02] jdegoes commented on #81
@kaishh As far as I know, there are no blockers. Just a matter of someone putting in the work.

[2018-08-24 15:09] jdegoes commented on #206
Exactly, and it's indistinguishable from really, really-long async tasks, too. The way I think about it is that if you're doing any kind of potentially long-running task or need to return a result to requestor in a guaranteed amount of time, you need to use timeouts to protect against (a) long-running sync code, (b) long-running async code.

[2018-08-24 15:11] jdegoes commented on #206
So how about this:

[code]

Then a user can also do:

[code]

...all from the same API.

[2018-08-24 15:12] #145 closed

[2018-08-24 15:13] jdegoes opened #220 "Make ZIO microsite look really nice"
The aesthetics of the microsite leave a lot to be desired. If someone has an eye for design and some CSS / HTML chops, they could make this really beautiful.

[2018-08-24 16:11] regiskuckaertz commented on #206
Yes 👍 I'll raise a PR tonight.

[2018-08-24 16:43] jdegoes commented on #206
@regiskuckaertz Thank you! 🙏

[2018-08-24 16:44] jdegoes commented on #197
@nicodelpiano That would be fantastic! Would love your help on this one. Happy to walk through any of the methods. There's also a bit of documentation in the microsite.

[2018-08-24 20:07] jdegoes opened #222 "Back out Codecov?"
It's stalling all builds because they never complete. Something about the Travis / Github integration is failing (though if you look at Codecov, it has coverage).

[2018-08-25 01:32] NeQuissimus commented on #222
*sigh*... I am starting to be pretty frustrated by the build stuff...
Codecov should only fail if Travis also fails...
I think I am going to grab a fresh repo, figure all this shit out and document how I did it. This is just brutal because I don't want to have you create tags willy-nilly, so we can test the build definition :(

[2018-08-25 01:35] NeQuissimus commented on #220
Check out scalaz/scalaz@e1198dfbbf8b64a9cb5e48410fbe4bc59902f7eb. It is possible to just define a template for pages.
I have virtually no design skills though :D

[2018-08-25 03:12] #206 closed

[2018-08-25 20:50] regiskuckaertz commented on #220
Something like this may help: https://jekyllthemes.io/

[2018-08-25 22:34] NeQuissimus commented on #220
I like this for the actual docs: https://jekyllthemes.io/theme/carte
And this could be sweet for the landing page: https://jekyllthemes.io/theme/personal-jekyll-theme But we'd need a nice graphic for the background.

[2018-08-26 18:57] kamilkloch commented on #168
It looks like microsite auto-publishing is not working. Getting started section is broken. ZIO newcomers quit right there.

[2018-08-26 19:25] prayagupd commented on #168
@kamilkloch neither of snapshot(https://oss.sonatype.org/content/repositories/snapshots/org/scalaz/scalaz-zio_2.12/) or staging(https://oss.sonatype.org/content/repositories/staging/org/scalaz/scalaz-zio_2.12/) have the version mentioned in microsite `"79527a84-SNAPSHOT"`. Also, commit SHA `79527a84` does not exist. Weird that `79527a84-SNAPSHOT` does not have major version attached either.

At le

[2018-08-26 19:41] kamilkloch commented on #168
@prayagupd Yes, I figured it myself, thanks. Still, microsite is listing a non-existent version and lacks the resolver for sonatype snapshots. See https://github.com/scalaz/scalaz-zio/pull/226.

[2018-08-27 02:01] NeQuissimus commented on #222
OK, so I want to get #215 merged and then I will clean things up once more if need be :)
I have this now, where I have figured out the entire process: https://github.com/NeQuissimus/test-and-stuff

[2018-08-27 02:07] NeQuissimus commented on #216
:sob:

[2018-08-27 11:10] Vilkina commented on #140
@barambani can I work with you on this issue?

[2018-08-27 11:55] kaishh commented on #81
I've ran into a blocker with `.runSyncStep` in `cats-effect-1.0.0-RC2` that doesn't really map to `ZIO` at all... postponing till http4s switches to `RC3`

[2018-08-27 12:02] alexandru commented on #81
@kaishh you can just return `Left(source)`  from it. Nobody uses it anyway and it was removed in RC3.

[2018-08-27 12:15] barambani commented on #140
@Vilkina sure thing 👍 😃. Also my info collecting activity for this has slowed down a lot due to travelling ad work so feel free. Thanks

[2018-08-27 12:39] ktonga commented on #81
@kaishh we should not merge to master til it's released IMO. So I would suggest to keep your branch up2date with the latest RC regardless of which version TL libs support

[2018-08-27 13:09] alexandru commented on #81
That's a good idea actually, wait for 1.0.0. We are releasing 1.0.0 of Cats-Effect this Monday. Updates to all libraries will follow afterwards, not sure about the timeline.

@rossbaker what do you think of the timeline for Http4s?

[2018-08-27 14:33] kaishh commented on #81
Wrong Ross Baker :) @rossabaker

[2018-08-27 14:35] alexandru commented on #81
Damn 🙂 thanks for the correction

[2018-08-27 15:04] jdegoes commented on #81
@kaishh Thanks for the update and your ongoing work on this!

@alexandru Looking forward to 1.0! 🎉

[2018-08-27 15:26] #188 closed

[2018-08-27 15:32] jdegoes commented on #140
I have additional ideas on how this can be done. I'll discuss shortly.

[2018-08-28 12:15] regiskuckaertz commented on #75
I'd love to help on that one but I need to do some reading first. Assuming we have a way of identifying the right thread, is it just a matter of reading its state and calling `Thread.interrupt` if in either of `BLOCKED` or `WAITING` states?

[2018-08-28 13:38] #200 closed

[2018-08-28 14:03] jdegoes commented on #75
The main problem with this ticket is getting the thread the fiber is currently on. This basically requires some kind of locking, because fibers can shift threads. So probably a first start would be `FiberContext.withThread(f: Thread => Unit): Unit`. The `evaluate` loop can then acquire and release a lock (probably a `java.util.concurrent.Semaphore`) right before it starts (to set the thread), and

[2018-08-28 14:06] jdegoes commented on #75
Hmm, some other things to keep in mind:

1. We may want to catch `InterruptedException` and treat it specially inside the `evaluate` loop. Treat it as a normal interruption and reset the interrupt status of the thread.
2. We'll have to be careful not to doubly-interrupt fibers. We need to somehow know when the thread is blocking on IO and it's safe to interrupt that way.
3. We have to respect the

[2018-08-28 14:31] #207 closed

[2018-08-28 17:50] NeQuissimus opened #231 "Yeah baby yeah"
https://travis-ci.org/scalaz/scalaz-zio/builds/421652339

- Tags release artifacts
- Tags publish the microsite

:tada:

![Yeah Baby](https://i.ytimg.com/vi/T5-Nx9o1yOk/maxresdefault.jpg)

[2018-08-28 18:00] NeQuissimus commented on #231
My happiness may have been premature... -.-

[2018-08-28 23:43] #231 closed

[2018-08-29 00:17] #217 closed

[2018-08-29 01:38] NeQuissimus commented on #231
https://scalaz.github.io/scalaz-zio/

and

[code]

[2018-08-29 01:40] NeQuissimus commented on #231
/cc @ktonga @sideeffffect @jdegoes @kamilkloch

[2018-08-29 01:42] jdegoes commented on #231
@NeQuissimus Hurray! 🕺 🎉 🥂

This is amazing news, and not a moment too soon, since I have a ZIO workshop this weekend. 😄

[2018-08-29 01:43] jdegoes commented on #231
@NeQuissimus Thank you for all your hard work on this! I owe you several beers, at least. 😆 ❤️ 🙏

[2018-08-29 01:48] ktonga commented on #231
Great job @NeQuissimus. Turned out it's crazy hard to have a decent release/publish process with the current state of the tooling and its documentation. Maybe a good opportunity for a blog post :slightly_smiling_face:

[2018-08-29 09:15] regiskuckaertz commented on #75
`IO.shift` will be problematic. If we add a `Shift` primitive then it can be handled but otherwise we're out of luck. Something for a follow-up PR perhaps.

[2018-08-29 11:12] jdegoes commented on #75
This could have severe performance penalties. Ordinarily, evaluation of `SyncEffect` / `AsyncEffect` is super fast (and needs to be).

We will need some other approach, like monitoring the fiber (from another thread, maybe scheduled) to see if it's making progress and trying to interrupt if it's not making progress and `noInterrupt == 0`. I'm not sure, but we definitely shouldn't lock around the e

[2018-08-29 11:37] NeQuissimus commented on #231
@jdegoes I am going to try to make it to LambdaConf 2019, we'll definitely hang out...

@ktonga I have https://github.com/NeQuissimus/test-and-stuff that I will hook up a microsite to. That shall serve as my documentation. If we had a "Scalaz blog", I would post there. My own blog is not for these kinds of things (I mostly keep odd one-liners around :D)

[2018-08-29 12:48] regiskuckaertz commented on #75
Aaah yes, I understand. Dang! With a monitoring thread, there is a need for maintaining a representation of the current state (blocked vs not blocked) of each fiber. That is no mean feat, as there can be 1000s of them. Re-locking, would your objection hold with locks that privilege writers unfairly? I'm thinking about [`ReadWriteLock`](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent

[2018-08-29 13:20] regiskuckaertz commented on #75
Alternatively, we could ask the user to make a conscious decision whether to opt-in the `Thread.interrupt` behaviour, for example when the fiber is created. It would be off by default, which implies there is no performance penalty but interruption might block.

[2018-08-29 14:02] jdegoes commented on #75
@regiskuckaertz I like that better. Let’s hold off on this ticket for a bit, as I think we need one more first before we can do this right without penalty. I’ll write it up today.

[2018-08-29 22:27] sideeffffect commented on #216
@NeQuissimus hasn't this been fixed by your recent changes?

[2018-08-29 22:45] sideeffffect commented on #231
however, opening gitter on the zio website gives you `404. This is not the chat you're looking for. Sorry. :(`

[2018-08-29 23:08] NeQuissimus commented on #231
Oh, that's because there is no ZIO Gitter.. We should probably turn it off.

[2018-08-29 23:10] NeQuissimus commented on #216
You are right!

[2018-08-29 23:10] #216 closed

[2018-08-31 13:41] scalavision commented on #22
Is there any progress on this? Or is it blocked because of other additions / changes in the RTS? I'd love to start playing with Zio in the browser :-)

[2018-09-01 10:44] mmenestret opened #237 "IO Syntax (extention methods)"
Hi,

Would it be a good idea to implement IO extension such as `pure` or `point` so we don't have to rely on Cats / Scalaz to use them ?

Thanks for your feedbacks !

[2018-09-01 15:59] mmenestret commented on #237
Just a try there, let me know :)

[2018-09-03 13:15] Vilkina commented on #140
Here is a some code of Clock.scala file

import java.util.concurrent.TimeUnit
import scala.concurrent.duration.Duration
import scala.concurrent.duration._

trait Clock[F[_]] {
  def now(unit: TimeUnit): F[Long]
  def sleep(length: Long, unit: TimeUnit): F[Unit]
}
object Clock {
  def apply[F[_]](implicit F: Clock[F]): Clock[F] = F

  implicit val ClockIO: Clock[IO[Nothing, ?]] = new Clock[IO[Nothi

[2018-09-03 13:55] edmundnoble commented on #140
Please don't make `Clock` a type class, it's just a value. *Just pass it explicitly.* Users can deal with this; if they can't they can go back to using `Future` with implicit `ExecutionContext`.

[2018-09-04 07:35] Vilkina commented on #140
@edmundnoble I can see the Future but it is too bright :)

[2018-09-04 08:55] jdegoes commented on #140
@edmundnoble I was thinking about this the whole week. I agree. It should be an ordinary value.

[2018-09-04 09:00] jdegoes commented on #140
@Vilkina The main change is that we will remove the implicit from `val ClockIO`, and also delete the `Clock.apply` method.

Also, correct me if I'm wrong @edmundnoble, but we should monomorphize to `IO`, letting us simplify to:

[code]

[2018-09-04 16:40] kaishh opened #241 "Blocking IO deadlocks `App`"
Example:

[code]

Expected output: `1 1 1 1 1 1 1` ...

Actual result: hangs forever

Works as expected with unbounded thread pool though:

[code]

Question:
As of now, I think there are only two ways I can handle blocking IO in a ZIO app - use a separate unbounded RTS and `unsafeRun` blocking tasks there, or run the entire app in unbounded thread pool. Do we need to think of another way to idioma

[2018-09-04 17:56] NeQuissimus opened #242 "Replace use of java.lang.System with system package"
See #235

[2018-09-04 19:09] scalavision commented on #22
Testing the library in a ScalaJS client, made the following compile linking errors:

[code]

[code]

[code]

[2018-09-04 20:06] kaishh commented on #241
Same with `global` executionContext:

[code]

Future can handle this, but **ONLY** if `scala.concurrent.blocking` marker is used:

[code]

[2018-09-05 12:40] Vilkina commented on #140
`import java.util.concurrent.TimeUnit
import scala.concurrent.duration.Duration
import scala.concurrent.duration._

trait Clock {
  def currentTime(unit: TimeUnit): IO[Nothing, Long]
  def nanoTime: IO[Nothing, Long]
  def sleep(length: Long, unit: TimeUnit): IO[Nothing, Unit]
}

object Clock {

  object Live extends Clock {
    def currentTime(unit: TimeUnit): IO[Nothing, Long] = IO.sync(unit.con

[2018-09-05 14:35] jdegoes commented on #241
This will definitely be fixed by 1.0.

[2018-09-05 14:54] jdegoes commented on #22
@scalavision We would create a `newWeakSet` inside `Platform`, and fake it out in Javascript. In Javascript, it would be an ordinary `Array`, probably.

[2018-09-05 15:11] jdegoes commented on #22
The `App` can have a separate `JS` implementation which does not use `addShutdownHook`.

[2018-09-05 18:17] Vilkina commented on #140
https://github.com/Vilkina/scalaz-zio/commit/ddcd124ddb5b26be24d9c52d20574c2cda97f37f

[2018-09-06 01:39] #242 closed

[2018-09-06 01:40] NeQuissimus commented on #180
Works now: Links points at https://javadoc.io/doc/org.scalaz/scalaz-zio_2.12/0.2.6

[2018-09-06 01:40] #180 closed

[2018-09-06 11:53] NeQuissimus opened #246 "2.11 test locks"
OK, so I have seen this a few times. Now I am opening an issue for somebody smarter than me to investigate:

Every now and then (yay!), the 2.11 tests (I have never seen this with 2.12) will hang at the very end. I have only ever seen this if resources are not cleaned up properly and the forked JVM cannot shut down. Not sure if that is the case here.

Example build:
https://travis-ci.org/scalaz/sc

[2018-09-06 18:03] pshirshov commented on #241
Could you give us a hint how are you going to address it?

I would propose something like:

1. Use work-stealing threadpool (not neccessarily unbounded!) for ZIO itself
2. Put all the effect computations into a separate threadpool. Unbounded or with a high upper bound.
3. Allow users to redefine both pools.

What would you say?

[2018-09-06 20:16] randbw commented on #199
I've started this :smiley:

[2018-09-06 21:33] kaishh commented on #241
NB you can use `IO.shift(ec: ExecutionContext)` to put blocking tasks on a separate thread pool

[2018-09-07 07:10] enzief commented on #189
@jdegoes I'd like to gradually provide help with this.

[2018-09-09 07:34] jdegoes commented on #241
@pshirshov

The problem with this proposal is that (2) will make ZIO very slow in common cases. Although it has nice ergonomics from the user's point of view.

I will write up my current proposal in separate ticket and reference it here.

[2018-09-10 07:44] scalavision commented on #22
Thanks John! I am a bit blocked due to work at the moment. Will have a look at it as soon as I get the opportunity :-)

[2018-09-10 12:35] jdegoes opened #248 "Thread pool management"
Thread pool management is an unsolved problem in the ecosystem, with some initial attempts provided by [linebacker](https://christopherdavenport.github.io/linebacker/) and `cats-effect` `evalOn`, which shifts to and from an `ExecutionContext` under `bracket`.

A solution must contend with the following competing goals:

1. Aggressively adding threads without bound will decrease throughput.
2. Fail

[2018-09-10 12:36] jdegoes commented on #241
@pshirshov @kaishh See #248 for the current proposed solution.

[2018-09-10 13:57] pshirshov commented on #248
I have to add my 5 cents:

1. Scheduling problem is a fundamental problem
2. You can't do a lot in case you don't know the shape of your dependency graph ahead of time. So you have to use heuristics
3. Each heuristic can be spoiled. Ideally I would prefer to have a basic zio interface which can be implemented in completely sync manner, without any scheduling.

[2018-09-10 16:01] NeQuissimus opened #249 "Hacktoberfest"
FYI, I am going to label all the "Good first issue" tickets with "Hacktoberfest" or whatever they will require.
May get ZIO on some people's map...

More info:
https://hacktoberfest.digitalocean.com/

[2018-09-10 21:27] jdegoes commented on #248
There's no need to do scheduling as part of this proposal. Though if there is no scheduling then an unbounded thread pool is the only way to guarantee software correctness (otherwise unintended starvation can lead to deadlocks).

[2018-09-10 21:51] #237 closed

[2018-09-10 22:38] jdegoes commented on #189
@enzief That would be awesome. Thank you!

[2018-09-11 00:28] pshirshov commented on #248
Just a note on terminology: when we submit tasks into an unbounded threadpool it's a "scheduling" too, just one of the simplest form. And yup, in case the pool is limited there is always a risk of exhaustion. It would be kinda incorrect to call it "deadlock" - by definition of deadlock. "starvation" term is widely used to describe situation when you have not enough threads to finish computation, t

[2018-09-11 06:30] jdegoes commented on #248
This is already done in ZIO, `flatMap` saves a continuation, with a heap-reified stack (of course, it assumes you are "programming in IO" rather than programming outside IO and wrapping large chunks of code in `IO.sync` / `IO.async`). Nonetheless, I am not proposing to do _new_ scheduling as part of this ticket. Only mentioning that having a synchronous, single-threaded `SyncIO` will make it easie

[2018-09-15 10:53] iravid opened #254 "Add a solution for composing bracketed resources"
Composing brackets is a pain:
[code]

Prior art:
- http://hackage.haskell.org/package/managed - very simple to port, partially applies `IO.bracket` to create a monad
- http://hackage.haskell.org/package/resourcet - allows more fine-grained control on resource cleanup (e.g. cleanup handlers can run before the bracket region ends), abstracts over the effect type. Would be harder to port; I don't kno

[2018-09-15 11:04] kaishh commented on #254
There's also `Using` in 2.13 standard library that does this for `Try` - https://github.com/scala/scala/pull/6907

[2018-09-15 13:04] iravid commented on #254
True. Added that and cats-effect's `Resource`

[2018-09-21 03:18] JohnSColeman commented on #248
Sometimes I'd like to execute with RTS on the current thread rather than use the default executor service. Is there a convenient way to do this?

[2018-09-21 12:11] #254 closed

[2018-09-21 12:31] iravid opened #257 "Support par/parWith in Managed"
See discussion in #252 for details

[2018-09-21 12:41] iravid opened #258 "Make Managed stack safe in maps and binds"
Both of these tests currently fail:

[code]

[2018-09-23 11:51] jdegoes commented on #246
Probably we should make sure that all tests run `supervised` in case where any ongoing work is done in fibers.

Also we should hook into the testing framework to shut down the thread pools after each test suite is done.

[2018-09-23 19:48] #249 closed

[2018-09-23 19:49] NeQuissimus commented on #168
This should no longer be an issue. Please reopen if it is.

[2018-09-23 19:49] #168 closed

[2018-09-23 19:50] NeQuissimus commented on #197
Can this issue be closed?

[2018-09-23 19:57] nicodelpiano commented on #197
I think the first two items are done, but we definitely need to add more tests to the test suite. I'm happy to do it!

[2018-09-24 00:21] jdegoes opened #263 "Make testing IO programs easier"
Testing IO programs is not easy right now. One must either use heavy-duty, type-unsafe, and dysfunctional mocking machinery from the world of Java, or one must invent a lot of custom and complex machinery for use with final tagless style.

Testing IO programs should be easy, which means that it should be possible to make programs that are polymorphic in the effect type, so that either `IO` may be

[2018-09-24 00:30] jdegoes opened #264 "Make testing IO programs trivial"
After #263, we can create a `TestIO` data type that allows the user to provide a mock effect for purposes of testing a piece of effectful code.

[2018-09-24 00:52] ghostdogpr commented on #186
I'll work on this one.

[2018-09-24 08:04] dandxy89 commented on #186
Here is a good example @ghostdogpr - [Elevator System](https://github.com/wi101/elevator-system/blob/master/src/main/scala/com/elevator/ElevatorSystem.scala)

[2018-09-24 10:10] regiskuckaertz opened #265 "Introduce `IO#withFilter`?"
To allow for guard expressions in for comprehensions:

[code]

Could be added to `IOSyntax` perhaps?

[2018-09-24 15:12] edmundnoble commented on #263
I don't see what an `Effect` type class would actually *do* for testing. One thing that would certainly be nice is a testz harness for `zio`, which `zio` should probably implement itself to avoid circular dependencies.

[2018-09-24 20:44] jdegoes commented on #263
@edmundnoble A user should be able to write code over `IO`, which interacts with the real world, and over `TestIO`, which does not interact with the real world. That's not possible without subtyping or type classes.

[2018-09-26 10:53] Vilkina commented on #220
I can help with html/css :) and some php and js.

[2018-09-27 06:07] ArturGajowy commented on #258
I think the culprit is in here
https://github.com/scalaz/scalaz-zio/blob/6de73e9ad132181c7de9e661d2a70fc8a52e4f7a/core/shared/src/main/scala/scalaz/zio/KleisliIO.scala#L358

See also https://github.com/scalaz/scalaz-kleisliio/issues/13

[2018-09-27 22:01] kaishh commented on #263
So, basically, `cats-effect` with blessed primitives and without `Sync` at the bottom?

Note that one doesn't have to stoop down to using Java libraries for test doubles – we've found it pretty easy to test IO with [distage](https://izumi.7mind.io/v0.5.50-SNAPSHOT/doc/distage/)

And tagless final situation isn't so bad, [quantified implicits](https://gist.github.com/kaishh/e070d96e3b3b10a6f2005427

[2018-09-27 22:32] jdegoes commented on #263
@edmundnoble A different interpreter doesn't help, because people are using `IO.sync`, `IO.async`, which interact with the real world and which cannot be mocked (not easily, anyway).

@kaishh The module approach is interesting. I'll work up an alternative soon.

Quantified implicits looks interesting, too, and could make a nice addition to `interop`. 😄

[2018-09-28 11:14] pshirshov commented on #263
@jdegoes could you give us a hint what do you dislike in our approach? At the moment we have several services in production and we use typelevel code with cats/zio. And things are going well.

To get some impressions regarding our tech you may check a demo repo: https://github.com/pshirshov/izumi-workshop-01

Also you may find some slides here (there is some observation of the DI and our answer to

[2018-09-28 13:18] jdegoes opened #271 "Fix broken tests with race condition"
These broken tests are causing spurious failures on Travis:

[code]

Both of these tests must wait to interrupt the fiber until _after_ the fiber has been started, because even though the `acquire` cannot be interrupted if the forked fiber starts, it's possible the forked fiber will be interrupted _before_ acquire begins executing.

The fix is to use a `Promise`, for example (or `Semaphore`), whic

[2018-09-28 13:22] jdegoes opened #272 "Add circuit breaker?"
@wi101 suggested a circuit breaker can be built atop `Schedule`, in which case it should be just a few lines of code.

[code]

Creating a circuit breaker will involve allocating a `Ref` to hold the state of the `policy` (and maybe other things).

[2018-09-28 14:24] kaishh opened #273 "Synchronous flatMaps cause fiber starvation"
Given:

[code]

Expected:

Prints for `running 1-50`

Actual:

Prints `running 1-$numCores` for ~15 seconds, then slowly climbs to a higher number.

Inserting an asynchronous boundary fixes that, but note that ZIO lacks a `.yield` function in API for this use case, such as cats-effect's `ContextShift.shift` –

[code]

However, AFAIK, explicit cooperative concurrency via `.yield` combinator is a no

[2018-09-28 14:35] jdegoes commented on #248
@JohnSColeman No, although if this ticket is completed, you can execute a `SyncIO` on any thread.

@pshirshov

I think it should be possible to provide an execution context, or run on the "current" thread. The main point, I think, is that `SyncIO` should never be able to hop threads, which means (a) no yielding, and (b) no async. This gives you a very strong guarantee and an easy way to reason abo

[2018-09-28 14:39] jdegoes commented on #272
Probably, it would help to provide a `default` circuit breaker, or maybe just combinators that allow more easier production of the three closed/open/half-open states.

[2018-09-28 14:49] jdegoes commented on #273
This is closely related to #248, and the proper fix probably depends on how that ticket turns out (please contribute feedback!).

For now you can switch to an unbounded thread pool, you can use `IO.sleep(0.seconds)`, which is a semantic `yield` (I'd accept a PR that added the function), or you can reduce `YieldMaxOpCount` to something like `1000`.

[2018-09-28 14:57] jdegoes commented on #271
Fixed by #247

[2018-09-28 14:57] #271 closed

[2018-09-28 15:16] edmundnoble commented on #263
You don't need to use final tagless with type classes. Just pass around an `HttpClient[F]`.

Furthermore I have *still* not seen any code that requires IO to be mocked for testing. @alexknvl and I have talked about one situation where this would be useful: to test that concurrency is working properly, we could interpret an `IO` into a statement in linear temporal logic, and test it against predica

[2018-09-28 15:20] pshirshov commented on #263
@jdegoes aha, I see. I just wish to say that these are bit different matters. Our DI has no contradictions with yours and these approaches would greatly work together (as well our DI works nice with final tagless: https://izumi.7mind.io/v0.5.50-SNAPSHOT/doc/distage/index.html#tagless-final-style-with-distage)

Would you like a chat about your needs? We would be happy to contribute our technology i

[2018-09-28 15:21] jdegoes commented on #263
Sure, that still requires a type class for `IO` though.

Whether you want to call it "mocked" or not is beside the point, though: the main point is that `getUrl` of `HttpClient` may not actually interact with the real world in a testing environment; which implies polymorphism; which implies the existence of something like `Effect[F]` / `BifunctorIO[F]`.

[2018-09-28 15:27] jdegoes commented on #263
@edmundnoble I don't care about "mocking IO", I care about mocking hunks of code that users pass into `IO.sync` / `IO.async`. I don't care if the underlying implementation of "mock IO" uses IO or not. That's irrelevant.

Please prove that you can write a polymorphic `crawl` that takes an `HttpClient[F]` without also requiring a type class (or a dictionary) providing `IO`-like methods (such as `fla

[2018-09-28 15:27] jdegoes commented on #263
@pshirshov Yes, I agree they are quite compatible and I'd be happy to chat about ways we could work together. Appreciate your team's contributions to the library.

[2018-09-28 15:31] pshirshov commented on #263
@edmundnoble

This is not your usual DI. You may call it a "hybrid module system", for example. If you check or try it - I'm sure you would agree that it's far beyond any other "classic" DI and provides unprecedented flexibility while keeping your code typesafe 😄

@jdegoes happy to know that you are okay to chat. I'll send you a quick email in case you wouldn't mind.

[2018-09-28 15:34] edmundnoble commented on #263
[code]

This is all you've provided. I can adapt the signature exactly as in here. You haven't provided a body for `crawl`, so I don't know what capabilities you actually want. Furthermore, there are issues with having a type class over two-parameter type constructors: you can't use transformers at *all* anymore, and code *must* run in `IO`. At that point, the abstraction is useless, because there

[2018-09-28 15:40] pshirshov commented on #263
In our case it's a non-invasive modular tool which may leave no trace after leaving compiler. In case you point me to our `@Id` thing - it's a `StaticAnnotation` and instead of using it you may tag your keys with types. Moreover you may throw out our introspection strategy and even drop support for `@Id`

Is it a dogm? For example we brought 50% performance boost (conservative estimation) to our c

[2018-09-28 15:42] edmundnoble commented on #263
I really don't care about the runtime parts, could be compile-time only and it'd be the same. It's not a dogma, it's just what DI is; overcomplication. Passing arguments to functions should always work, with the sole exception of type classes (which have proven themselves). I'm kind of amazed that the code benefited performance-wise from DI. That to me indicates severe architecture problems.

[2018-09-28 15:45] pshirshov commented on #263
Not true. In case your apps are small - yes. In case your apps are huge - you would have a big dependency graph to manage and transform. What would be the cost of typical refactoring in terms of `O(n)` where `n` is the amount of nodes in your graph?

Computers may process graphs better than people, aren't they?

What about 1M LoC?

Not the code.... The development cost and speed...

[2018-09-28 15:46] edmundnoble commented on #263
Programs are graphs. Transforming a dependency graph == passing and transforming values. Dependency injection is an inner platform. If you can't manage all of your values, you should consider avenues other than automating the entire practice of programming.

[2018-09-28 15:47] jdegoes commented on #263
This is wrong already, because `HttpClient` requires a type constructor of `F[_, _]`, and you've provided it a type constructor of `F[_]`. Moreover, let's assume `crawl` uses polymorphic errors and therefore requires a `redeem` method with a type signature that allows changing the error type.

You're stuck.

Nonsense. Code can run in `EitherT[F, ?, ?]` and infinitely many other data types.

The nu

[2018-09-28 15:50] kaishh commented on #263
@jdegoes
Note that, while `BifunctorIO` class does exist in our codebase, it's not used for mocking – the API it exposes is too large and includes .sync, it's basically there just not to couple with ZIO too explicitly, but the only instance is ZIO itself.

Instead, the `dummy`/`production` implementations of Services are injected for tests as in your HttpClient example.

For polymorphism, IMHO giv

[2018-09-28 15:50] pshirshov commented on #263
I can though why should I in case I may write a tool, cut costs (in US dollars) by half and make customer happy?

In case we speak in form of ultimate imperatives you may wish to consider other platform than github, hmm? Some people may be amazed if some guys speaking in ultimative terms would type their stuff directly into `/dev/null`.

[2018-09-28 15:51] edmundnoble commented on #263
`HttpClient` requiring an `F[_, _]` is the bug.

Also, what are you talking about? What about `StateT[F, S, IO[?, ?]]`? That's not a type that will be inferred. As well, using `EitherT[F, ?, ?]` means not being able to access `IO` primitives that also deal with error types, because the error type will belong to `EitherT`, meaning you will have no instance.

"The number of data types that provide a

[2018-09-28 15:51] jdegoes commented on #263
Btw: to be clear I don't think DI belongs in Scalaz proper (e.g. `scalaz-core` or `scalaz-zio`) but I am personally interested in learning more about DIStage, and a solution in this space sufficiently principled could easily live in the broader Scalaz ecosystem (alongside Scalaz Schema, etc.). In any case, I love to foster collaboration between firms doing interesting work and open source projects

[2018-09-28 15:52] edmundnoble commented on #263
I'm aware that you love to foster cooperation. Not all cooperation produces better code. Some code deserves to be deleted or not included in the scalaz umbrella. This I believe is an example.

[2018-09-28 16:01] kaishh commented on #263
@edmundnoble
On "never a library, always a framework", note that opinionated tagless final machinery such Haskell's mtl easily becomes as restrictive, or more so, than a runtime framework does. It's no different in that regard – passthrough instances for common transformers are defined ahead of time, out of control of application developer.

It's also obvious that DI has to be a framework. It's ac

[2018-09-28 16:03] jdegoes commented on #263
Nope. If `HttpClient` had 20 methods, some returning errors of one type, and some returning errors of another type, and some not returning errors at all, then I would want to capture those distinctions precisely.

That you want to pretend all operations can fail equally and with the same error type, and that you are willing to lose the ability to track error recovery statically, is a subjective pe

[2018-09-28 16:03] pshirshov commented on #263
Thank you kind Sir for your permission!

Without waiving any your rights on rejecting any code from being accepted anywhere, may I ask you what is it for? Is it something intended to represent the beauty of universe? Or something we eat? Or something which may be used instead of a lube?

May I ask you to support your point with some evidence? I ultimately value the opinion of the "Luxury functiona

[2018-09-28 16:06] pshirshov commented on #263
@kaishh

That's true, though it may work on compiler level only. At least.

At least when you have a _plan_ you may introspect it and refine it.

[2018-09-28 16:07] jmcardon commented on #263
@pshirshov wew.

I think this should stay technical, as it has remained this whole thread. A tad uncalled for.

[2018-09-28 16:09] edmundnoble commented on #263
Evidence? Would you like me to conduct a study? Perhaps see if every feature of scalaz can increase ROI, and delete them otherwise? Asinine.

@jdegoes you have made multiple incorrect assumptions about my intentions, and typed quite a bit without answering anything. If you're using newtypes to replace transformers, *the types still don't line up*.

[2018-09-28 16:11] hrhino commented on #263
Ditto on this.

I don't know about zio, but (main) scalaz bills itself as "Principled Functional Programming in Scala". DI frameworks are fundamentally, IMO, not functional programming, which emphasizes passing values into functions. Having a framework which magically passes values around is not that.

[2018-09-28 16:29] edmundnoble commented on #263
I started attacking you? You said I was implying I wanted you to commit suicide, now you're calling me fascist, and earlier you said to commit my comments "to /dev/null". I never said anything about intelligence or mental faculties. Smart people write what I consider to be bad code *all the time*. *Most* of the time, in fact. Don't let my high standards get to you. I don't know you personally. Thi

[2018-09-28 16:31] jmcardon commented on #263
@pshirshov there's a very strong difference between technical criticism ("You can't manage all your runtime values") vs full on ad hominems (mentions of lube and suicide).

Talk to anyone in this thread who's met me in person (note: everyone except you and kaishh), I'm the furthest thing from the tone police, and yet I still think you're going a little far. Just cool it and chill with the personal

[2018-09-28 16:32] kaishh commented on #263
@hrhino

Wouldn't that be definition by ritual? As long as pure functions as used, does it matter if a framework calls them or not? Are shapeless and scalaz-deriving excluded from being magical? If it's because their rules are "known" by someone who looks into sources of inductive implicits, then distage planner is simple. too. If it's because they're fully compile-time, `distage` is too, it can r

[2018-09-28 16:35] pshirshov commented on #263
Sorry, but I see noticeable difference between "pure technical criticism" and telling me that I should

Though fine. In case I'm wrong here - I'm very sorry and wish everyone who was offended all the best.

[2018-09-28 16:37] emilypi commented on #263
Why is statically deriving lawful typeclasses being brought up in here? It requires laws in order to do so - it simply does not work properly without it. What laws would you propose for dependency injection? It is not relevant in any way, and exposes a severe misunderstanding of the core concepts of both the typeclass design space, as well as static derivation.

[2018-09-28 16:38] edmundnoble commented on #263
Oh to be clear, what I meant was that DI was an inner platform, not that you shouldn't be programming. I hope that's not how it came across.

[2018-09-28 16:43] pshirshov commented on #263
@emilypi

Because it's another kind of "magic" where a lot of work is done according to some predefined rules I guess.

So, essentially a "DI" does some work for you by wiring your code with values. According to some predefined rules.

DI problem can be formalised in terms of completing adding missing edges into your reference graph in non-contradictive manner, according to some restrictions set b

[2018-09-28 16:44] hrhino commented on #263
good point; thank you for the suggestion. Tempers seem a bit heated and people are misconstruing others' comments to be more malicious than they are.

[2018-09-28 16:54] emilypi commented on #263
@pshirshov I know what DI is. I do not need an explanation. DI is adhoc and lawless. I prefer the secretely revolutionary DI mechanism embedded in Java 1.0 called `new`, and it has served me well so far. What you conflate as "magic", is actually a fundamental difference that needs to be addressed between lawful derivation making use of free theorems and typeclass laws, and unlawful ad-hoc graph co

[2018-09-28 17:12] pshirshov commented on #263
True. Kinda.

Not neccessarily, depends on definition.

It would be good but we don't have it. As well you may wish to be able to intervene into the process for good purpose.

As I said before - it's possible to formalise it.

Eh. I guess it would be better to say "blackbox" instead of "magic". A CPU is based on a set of strict rules and _has_ a formal model, may be represented as a function. Thou

[2018-09-28 17:14] kaishh commented on #263
@emilypi
Do you say that pure DI instructions of form `InstantiateThat(ctor, arg1, arg2)` don't derive trivially, from a type's SOP? There's less magic than in newtype deriving `Eq` (e.g. no coerce)
Which is what our framework does. There's nothing ad-hoc about it, you input types, you get a list of operations.

I suppose scalac breaks all the laws of the universe when it does separate compilation

[2018-09-28 17:30] hrhino commented on #263
This has gotten off-topic, either way: the issue is "Make testing IO programs easier" (apparently by introducing effect typeclasses), and about halfway back up the conversation there are good points made and conversation which should be continued irrespective of whether DI is or is not a good idea.

[2018-09-28 17:37] pshirshov commented on #263
I've answered why. Because we do exactly this - we tests real apps based on zio/cats. So I've tried to share what we do and blown after that sentence. What I've tried to say - there is one scalable way to write reliable code and write atomic reliable and repeatable tests. Maybe there are others. I think people don't like the "DI" words - I've already seen multiple angry FP guys on several meetups

[2018-09-28 18:44] tonymorris commented on #263
Show the code where "there was a 50% performance boost" by 'introducing DI."

That article is total horseshit by the way.

[2018-09-28 18:45] Milyardo commented on #263
So with regards to effect typeclasses, I'm also not sure what is being tested. What does a hypothetical `TestIO` do? The typeclass proposal also seems unclear as to if the purpose is hypothetical `TestIO` or for abstracting over methods with common signatures on `IO`/`Ref/`Fiber`, which doesn't seem to be about testing at all to me.

[2018-09-28 19:03] emilypi commented on #263
[code]

Are trivial derivations the point? You are proposing a stateful dictionary to load dependencies into your graph. Now reconsider the complexity you're introducing in contrast to that point.

[code]
Coercion is a non-sequitur. Where are you getting that? Newtyping does not entail coercion - that is an unfortunate side effect of optimization that is only ever allowed in a provably lawful cont

[2018-09-28 19:14] pshirshov commented on #263
This post wasn't for me but...

Sorry, what mutable dictionary?

Please enlighten me

Please enlighten me. Then we discuss your definition.

Please enlighten me.

It is half-baked, true. Though I doubt you checked things behind it. Also as I said before - the problem can be expressed in completely formal terms.

Please enligthen me. Also I would insist that it is possible to make the problem forma

[2018-09-28 19:17] pshirshov commented on #263
@tonymorris

Could you prove that? Better in formal manner.

I mentioned that I meant development cost reduction. In usd. Also not di itself but several technologies altogether.

[2018-09-28 19:33] kaishh commented on #263
@emilypi

A. State is not required for the general problem at all, the algorithm can run recursively and simply re-instantiate dependencies.
B. Even with sharing, explicit state is not required, as for **non-recursive** graphs, module system can work by tying the knot into itself – http://ezyang.tumblr.com/post/146124297712/why-rmc-cant-be-defined-coinductively
C. Presence of state is not even rel

[2018-09-28 19:37] jdegoes commented on #263
@Milyardo @edmundnoble

Please test this code:

[code]

Your unit test should not interact with the real world.

_Hint_: You can't do it, because it's impossible.

Not without refactoring the code to introduce indirection. `IO.sync` and `IO.async` permit arbitrary hunks of effectful code to be incorporated into `IO`, therefore any type signature that features `IO` can do anything at all; in this c

[2018-09-28 19:55] tonymorris commented on #263
I resent even wasting the effort on DI to type this sentence.

You are almost certainly not going to convince me of this, so feel free to ignore my curiosity when I ask to see your methods and means of measurement.

[2018-09-28 20:10] pshirshov commented on #263
The method is simple: automate the most expensive rituals from developer's daily life and decouple teams by introducing a powerful language to build APIs.

The measurement methodology is trivial: median feature/fix delivery time and some other KPIs.

[2018-09-28 20:15] tonymorris commented on #263
Yeah, so I am going to call shenanigans. Scalaz is not the project for magic woowoo DI nonsense. There are lots of gullible Scala programmers out there, but not here. Try elsewhere.

"Try a global variable and make your code buggy. It will save you moneeeeeey!" -- Scalaz.

[2018-09-28 20:21] pshirshov commented on #263
There is no `magic` in these terms. There isn't so much difference between, for example, FMs internal state (or zio internal state) and our planner state. The only difference is the domain. And the presence of garbage collector which we run when we finish building the "script" for our interpreter.

Understood and considered.

You've triggered on prohibited "DI" abbreviation not even trying to unde

[2018-09-28 20:32] tonymorris commented on #263
No I didn't. I was taking the piss. I have seen all the varieties of pretentiously passing function arguments, including the one you are proposing here.

[2018-09-28 20:36] pshirshov commented on #263
Could you please point me to such a thing? From what I know there is nothing like that at the moment. Nor for scala nor for anything else.

[2018-09-28 20:40] tonymorris commented on #263
The idea of abusing `implicit` to do "dependency injection" comes up all the time. I believe it will even appear in the language or standard library one day. It's bogus though. This proposal is just another variation on that abusing of implicit.

Here's a thing. Never use `implicit` in a way that you cannot also write a type-class in Haskell. Doing otherwise is a bad idea, though the reasons it is

[2018-09-28 20:41] pshirshov commented on #263
Holy moly. How implicits are related to the thing I'm talking about?...

facepalm.jpg

[2018-09-28 20:42] tonymorris commented on #263
Because you linked it.

link.jpg.png.pdf

[2018-09-28 20:47] tonymorris commented on #263
https://izumi.7mind.io/v0.5.50-SNAPSHOT/doc/distage/index.html#tagless-final-style-with-distage

Remember.jpg?

[2018-09-28 20:53] pshirshov commented on #263
Remember. You would be surprised but it's not about DI over implicits. At all.

[2018-09-28 21:04] tonymorris commented on #263
Cool. Show me the code.

[2018-09-28 21:05] pshirshov commented on #263
Fine. It's in the repo.

[2018-09-28 21:09] tonymorris commented on #263
the

[2018-09-28 21:35] tonymorris commented on #263
Which repo? Which code? Please show me the code.

[2018-09-28 22:39] emilypi commented on #263
@tonymorris you have incredible patience.

[2018-09-29 05:35] Milyardo commented on #263
Lets say were were to use Effect typeclasses, whats the benefit to implementing our own, versus implementing the cats one for interop? What would the differentiator between the two.

[2018-09-29 16:27] kaishh commented on #263
@tonymorris

You can easily write the filthiest possible DI as a Haskell type-class, your point?

[code]

Made with `❤️ stack ❤️`, btw.

`distage` doesn't use implicits, except for materialising type tags.

There's a GitHub link on the doc site. I trust you'll find it yourself, eventually.

[2018-09-30 14:59] Vilkina commented on #220
I want to take this ticket.

[2018-09-30 18:44] kubukoz commented on #81
Can this be closed, since https://github.com/scalaz/scalaz-zio/pull/247 has been merged?

[2018-10-01 07:33] alexknvl commented on #263
@jdegoes

This might be of interest - https://hackage.haskell.org/package/IOSpec. I am very curious what is possible given a proper final tagless abstraction over IO's concurrency capabilities :+1:

Other options are conceptually very similar, but I think final tagless would be the most idiomatic and least error-prone.

@kaishh

:heart: I think the code can be written a bit clearer using macros (I

[2018-10-01 20:22] kaishh commented on #81
@jdegoes Can we release 0.2.9?

[2018-10-01 21:38] jdegoes commented on #81
@kaishh Will do!

[2018-10-01 22:13] kaishh commented on #81
Thanks!

[2018-10-02 21:01] Milyardo commented on #263
@alexknvl

Isn't that why we're writing tests instead of relying on the compiler to find bugs for us?

[2018-10-02 21:05] alexknvl commented on #263
@Milyardo

How would you test that nothing in your code uses `sync` despite being given access to it and unless it is in some blessed parts of the code like `MVar`?

[2018-10-02 21:36] kaishh opened #277 "Nested unsafeRuns cause deadlock & lost exceptions"
Example:

[code]

Expected:

`RejectedExecutionException` due to exhausted thread pool.

Actual:

Deadlock. `RejectedExecutionException` is received at some point and is continuously rethrown, but it doesn't terminate.

[code]

[2018-10-02 21:53] pshirshov commented on #277
Uhu, uhu. We almost got this stuff in real prod 😠

[2018-10-02 21:54] pshirshov commented on #277
`Terminated(_:RejectedExecutionException)` to be more precise

[2018-10-02 23:13] ioleo opened #278 "Parallelism level for parAll and traverseAll"
Use case: say you want to send thousands of requests to another service, but you do know, that it can't handle more than 20 open connections. One of the possible approaches would be simply use `IO.parAll(requests)`, however, I don't think there is a way in current API to control the parallelism level.

[2018-10-03 02:08] pshirshov commented on #278
I guess a semaphore primitive would work

[2018-10-03 05:47] regiskuckaertz commented on #277
That may be a silly question, but in what situation would you want to do that?

[2018-10-03 05:50] regiskuckaertz commented on #278
Also, there is ongoing work for abstracting all that in https://github.com/scalaz/scalaz-zio/pull/262 , keep your eyes peeled.

[2018-10-03 11:29] pshirshov commented on #277
Our teammate needed a cache of limited size with soft references so he wrote this chunk:

[code]

Actually, he hand't much choice. This case is kinda crappy but still legal.

[2018-10-03 12:28] Vilkina commented on #220
I've run microsite locally. @jdegoes, please, assign this ticket to me :)

[2018-10-03 12:42] NeQuissimus commented on #220
@Vilkina No need to assign, we don't usually use that. Just send a PR that says "Closes #220" in its description and the PR will be linked to this ticket

[2018-10-03 12:55] jdegoes commented on #263
This is the most compelling argument for `Effect[F[_, _]]`. It's more machinery than stuffing your `IO` functions into a data structure, but you have stronger guarantees.

[2018-10-03 12:58] jdegoes commented on #277
Thanks for reporting! This looks like it should work to me.

[2018-10-03 14:59] Milyardo commented on #263
I had assumed a mythical effect typeclass would still have `sync`, and if it doesn't, how it not just a plain bimonad?

[2018-10-03 20:34] kaishh opened #281 ".timeout always loses errors in timed out computations & waits for full duration"
Example:
[code]

Expected: Immediate exit with an exception

Actual: Waits for 30 seconds, then reports true.

Cause: The error on the left side of the `.race` is ignored and the right branch with the timer is taken.

Also happens if the second argument of timeout throws:

[code]

`.timeout` is secretly `IO[Nothing, B]`, not `IO[E, B]` as of now due to this

[2018-10-04 23:01] xplosunn opened #283 "IO.fromTry"
The current implementation of fromTry is just a conversion from a Try value. This means that if I have a side-efectfull method that returns a Try, I have to do some weird workaround to avoid it getting evaluated on the parameter resolution, such as `IO.point(()).flatMap(_ => tryMethod())`. If I had a method that I could call which would evaluate the Try body later, then I wouldn't have this issue.

[2018-10-05 12:55] jdegoes commented on #283
The current one could be changed to be by name `=>`. Basically, `IO.sync(try).flatMap { case Success(v) => IO.now(v); case Failure(t) => IO.fail(t) }`.

[2018-10-05 22:59] pshirshov commented on #277
Sorry for spamming, just left it here for future reference.

[2018-10-05 23:20] NeQuissimus commented on #277
@pshirshov I folded up the thread dump for you ;)

[2018-10-05 23:36] pshirshov commented on #277
Ah, thanks.

<details> Never knew about this feature. </details>

[2018-10-06 06:36] regiskuckaertz commented on #277
@kaishh Try by removing the `.run` as it reifies the error in the value channel. I'm able to run your program consistently with that modification.

[2018-10-06 07:13] regiskuckaertz commented on #277
Introducing a delay will block though.
[code]
I'll keep on investigating.

[2018-10-06 08:11] kaishh commented on #277
@regiskuckaertz the point of the test is to check if forking is consistent in presence of intermediate blockinng unsafeRuns, I.e. .run or fork.join should make it exhaust the pool, but not diverge.

[2018-10-06 14:34] pshirshov commented on #277
From my point of view rejection must be treated specifically and lead to `Terminated()` exit result.

[2018-10-06 20:39] sacsar commented on #190
I've come via the hacktoberfest tag. If you can provide a little more detail, I can perhaps take this on.

[2018-10-06 23:16] regiskuckaertz commented on #277
There isn't an opportunity to exhaust the thread pool or throw an rejected exception, because each task blocks on its child completing (with `run`):
[code]
After `corePoolSize` tasks have been submitted, the next one is added to the queue and this is where the program stops, because no thread will be created until the queue is full.

I haven't experienced that on my machine; was it with the exact

[2018-10-07 00:11] pshirshov commented on #277
Yup, it should _stop_ in case the queue backing thread pool rejected to take new task, not got stuck.

Yes, exactly the same and it reproduces always. We are on jdk10/jdk11. If you wanna we may check it on 8 as well.

[2018-10-07 12:27] pshirshov commented on #277
@jdegoes I've tried to check your theory with the following dirty snippet:

[code]

But the test hanged, didn't exit.

<details>
<summary>The code is still the same</summary>

[code]

</details>

The behaviour is the same on jdk8 so it seems to be consistent.

[2018-10-07 13:33] kaishh commented on #277
@regiskuckaertz
Sorry! The exception is indeed never thrown with `LinkedBlockingQueue`. I've tried different queues before submitting the report and did not recheck. For `SynchronousQueue` setting a breakpoint on `RejectedExecutionException` does show me unending throws.

@pshirshov
The fork happens in `RTS.register`:
[code]

Overriding defaultHandler can't help it.

[2018-10-07 13:40] regiskuckaertz commented on #277
Sorry, I meant `hang`, not `stop` indeed; lost in translation 😓 From my understanding of how a thread pool works, threads above `corePoolSize` will only be created when the queue is full. This example is kind of the perfect storm since:

- previously submitted task will only complete when the subsequent ones have
- a task is submitted by the previously submitted task
- after `corePoolSize` have be

[2018-10-07 13:41] regiskuckaertz commented on #277
@kaishh ah, ok gotcha 🤗 Thanks for looking into it, I'll investigate using a `SynchronousQueue` instead 👍

[2018-10-07 14:16] pshirshov commented on #277
Same problem with

[code]

On `SynchronousQueue`.

All the threads stuck with ```
"pool-2-thread-42" #52 prio=5 os_prio=31 tid=0x00007f8cb88a7000 nid=0x7903 in Object.wait() [0x000070000b6f6000]
   java.lang.Thread.State: WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	- waiting on <0x00000006c063d170> (a java.util.concurrent.atomic.AtomicReference)
	at java.lang.Object.wait(

[2018-10-07 21:57] #283 closed

[2018-10-07 21:58] jdegoes opened #286 "Make ZIO even more serialization friendly"
- [ ] Change `sealed trait` to `sealed abstract class` everywhere
 - [ ] Mark all classes as serializable (including `Clock`)
 - [ ] Ensure all traits or classes captured by `IO` methods are by default serializable

[2018-10-08 07:31] regiskuckaertz commented on #277
@jdegoes Yes. _When_ rejection occurs, it manifests itself as an exception treated by the error handler (which can be provided via `fork0`) and will also lead to a `Terminated(RejectedExecutionException)`. That happens [here](https://github.com/scalaz/scalaz-zio/blob/master/core/jvm/src/main/scala/scalaz/zio/RTS.scala#L913-L915), and `unsafeRun` will receive it [here](https://github.com/scalaz/sca

[2018-10-08 16:15] jdegoes commented on #277
So the scenario is essentially:

 - Task 1: Start, wait on Task 2
 - Task 2: Start, wait on Task 3
 - Task 3: Start, wait on Task 4
 - ...
 - Task N: Start, wait on Task N + 1.
 - Task N + 1: Hold (in thread pool queue)

where `N` = `maximumPoolSize`.

Separately, we have a hypothetical (?) problem of infinite errors due to `RejectedExecutionException` (which should surely be looked at and fixed s

[2018-10-08 16:31] regiskuckaertz commented on #277
Haven't yet had the time to look into that.

Via a separate `IO` interpreter? Something taking IO into a graph data structure that can be analysed for degenerate cases like this one.

[2018-10-08 16:34] jdegoes opened #287 "Finalize method / data type names for 1.0"
List of proposed changes:

 - [ ] `IO.traverse`: **Add** an alias: `IO.foreach`
 - [ ] `IO.parTraverse`: Rename to `IO.traversePar`
 - [ ] `IO.traversePar`: **Add** an alias: `IO.foreachPar`
 - [ ] `io.redeemPure` Rename to `io.fold` (?)
 - [ ] `io.redeem` **Add** an alias `io.foldM` (?)
 - [ ] `io.asyncPure` rename to `io.asyncM`
 - [ ] `IO.sequence`: **Add** an alias: `IO.collect`.
 - [ ] `IO.pa

[2018-10-08 16:37] kaishh opened #288 ".supervised on failing computation causes deadlock"
Example:

[code]

Expected: Exceptions

Actual: Hangs

[2018-10-08 17:01] kaishh commented on #287
`-` on traverse, parTraverse, sequence – IMHO it's better to retain common names for these, soft `-` on redeem – I personally haven't had a use for redeemPure yet, so I'd prefer to keep a shorter name for the variant I do use. `+` on asyncM and timeout

[2018-10-08 17:29] pshirshov commented on #277
A livelock on pool exhaustion is, um, expected behavior. It's possible to detect it with a heuristic but you can't solve all class of these problems, they are  fundamental.

What needs to be fixed is that `RejectedExecutionException` livelock occurring when pool stops accepting new tasks. This should be enough.

[2018-10-08 17:52] jdegoes commented on #277
We could solve this in several ways:

1. A separate dedicated thread with an unbounded queue for dispatching errors. This would solve this problem specifically, because it would mean that reporting an unhandled error such as `RejectedExecutionException` would not cause further errors of the same type.
2. Not forking uncaught error handlers (which is the current behavior); but rather assuming they

[2018-10-08 18:01] pshirshov commented on #277
Tbh I would go with (2). This would require the minimal amount of new code. In case you create a dedicate thread you may need to start taking care of it's termination for example. Of course you would make it daemon but someone may need to instantiate multiple `RTSses` during app lifecycle, so these threads may become a problem in case implemented without taking care of all the potential usecases.

[2018-10-09 08:49] regiskuckaertz commented on #277
It seems a good heuristic would be to keep track of (1) the "depth" of a fiber and (2) whether the parent fiber is observing it; when `depth == corePoolSize && ∀ f ∈ ancestors(this). observed(f)`, the RTS could reject any new task. Easier said than done 😄

[2018-10-09 10:15] kaishh commented on #248
@jdegoes

These are two separate issues! Some libraries, e.g. http4s want to _both_ spawn a ton of fibers and stay within the same thread pool. IMHO, we have to support `.async`'s staying within the same pool pool purely because of interop with code that assumes that `shift` is enough to ensure execution on a specific pool.

On SyncIO, I think it's a great idea, we should also think if we want `.s

[2018-10-09 18:46] fanf opened #291 "Provide a RTS object implementation for direct use of unsafeRun"
AFAIK, there is no object in ZIO that can be called directly for `unsafeRun`, something like `object JvmRunner extends RTS`. That raises a number of questions, especially for new commers. Perhaps there is some rationals for it, but I didn't found them, and questions on gitter/twitter didn't pointed to a clear answer.

I know that there is the `App` trait, I know that you can just `new RTS{}.unsafe

[2018-10-09 22:50] kaishh opened #293 "Semaphore broken?"
Example:

[code]

Blocks forever. Removing `.fork` from `release` makes it work.

[2018-10-10 00:48] jdegoes opened #294 "Change default thread pool used by RTS"
The current thread pool is fixed. We should change it to something that's more dynamic and will eventually shut down all threads after sufficient inactivity.

[2018-10-10 01:00] jdegoes commented on #291
It's possible. The question is what kind of thread pool to create to make such an operation sane (probably unbounded, which quickly retires unused threads).

Also if it exists people will use it, which may lead to troubles common to using global thread pools. 😄

[2018-10-10 06:10] RaasAhsan commented on #294
I'd like to work on this. I was thinking we can allocate a ThreadPoolExecutor (https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ThreadPoolExecutor.html), perhaps configured with a certain `corePoolSize` of 2 or so, a higher maximumPoolSize to handle bursts of activity, and a keepAliveTime of 60 seconds before threads are reclaimed.

[2018-10-10 06:31] RaasAhsan commented on #294
Started some work in #295. Check it out!

[2018-10-10 13:42] jdegoes commented on #293
Possibly relevant since Semaphore was ported from FS2:

<https://github.com/typelevel/cats-effect/issues/380>

[2018-10-10 19:16] jdegoes commented on #293
@kaishh We will switch to daemonic threads, see #295 / #294, which will hopefully solve problems like this.

This example looks unsound. The `s.acquireN(50)` should never succeed.

I will be finishing `STM` soon in which case we may as well delete this `Semaphore`. It would be interesting, though, to see if the source `Semaphore` also has this problem or if it was introduced in the port.

[2018-10-10 22:12] jdegoes opened #296 "Use readable fiber names when being co-opted by the RTS"
[code]

[2018-10-11 02:38] JohnSColeman commented on #248
@jdegoes I would also like to know why ExecutorService instead of ExecutionContext? We can derive an ES from and EC, but not the other way and it seems counter intuitive for a Scala app. I'd like the RTS to be able to share the EC of the host application for a mixed IO project.

[2018-10-11 12:08] pshirshov opened #297 "Separate thread pools for different kinds of zio tasks"
The proposal:

1. Introduce new method, `IO.blocking(a: => A): IO[Nothing, A]`, equivalent so `sync`
2. All the `blocking` computations  should be scheduled to a separate thread pool with high upper boundary and short queue
3. As well we may support scala's `blocking` and schedule such tasks to that thread pool (proposed by @kaishh in several discussions)
4. We may create one more thread pool inte

[2018-10-11 12:10] pshirshov commented on #296
I'm still bit unhappy with this snippet, that's why I didn't submitted it as a P/R yet (this is a copypaste from our private codebase).

I kinda dislike hashcode usage, but the only sane alternative I see is to use a static counter which is even worse than hashcode.

So, would be happy to hear other ideas, then I may submit it.

[2018-10-11 17:43] cuongthamhl opened #298 "ZIO stuck when running Future related code"
This issue is preventing us from using the library in production.

Steps to reproduce:

- Create a Ammonite test script *test.sc*

[code]
- `amm -p test.sc`

**Output**
[code]

Step through the code in debug mode, it seems the troubling code is https://github.com/scalaz/scalaz-zio/blob/master/core/jvm/src/main/scala/scalaz/zio/RTS.scala#L209.

[code]

[2018-10-11 19:05] cuongthamhl commented on #273
@jdegoes Can you provide an example on how to switch to an unbounded thread pool by using `IO.sleep(0.seconds)`?

Also how can I reduce the `YieldMaxOpCount` in RTS?  I thought it's marked as `final`. Here's how I run an IO:

[code]

[2018-10-12 06:10] regiskuckaertz commented on #288
I'm looking into this one, thanks for reporting!

[2018-10-12 08:20] regiskuckaertz commented on #298
Might be related to the ongoing work on #248 and #297

[2018-10-14 20:31] scalavision commented on #22
@jdegoes How should `runSync` in RTS be handled? I understand that this method will have to block if necessary, I am not sure if that is possible to do in a nice way in Javascript? It seems like there are some implementations of something similar in jQuery (Deferred), in async.js and in Ecmascript 2017 etc. but it is probably a bit challenging to make work.

https://github.com/scalavision/scalaz-z

[2018-10-15 11:44] #288 closed

[2018-10-15 14:39] jdegoes commented on #298
@cuongthamhl For now, I suggest replacing the default thread pool with one that scales to have more threads.

[2018-10-16 00:00] jdegoes commented on #296
I think we can do the following:

1. Assign each `RTS` a monotonically increasing integer.
2. Assign each `Fiber` in each `RTS` a monotonically increasing integer.
3. Have fibers utilize `Thread.setName` to dynamically change the names of threads based on their RTS and fiber identifier.

This would allow very good thread dumps, e.g.:

[code]

[2018-10-16 00:15] jdegoes commented on #293
Confirmed, Semaphore is definitely broken. It works in simple examples but inevitably deadlocks in more complex examples. TBD if these changes were introduced in the port or not.

[2018-10-16 00:34] pshirshov commented on #296
I would not recommend to dynamically change thread name. It looks like hell in jvisualvm and other instrumentation/monitoring tools.

Not sure about perf impact, never measured it.

[2018-10-16 05:40] regiskuckaertz commented on #293
I can have a look later this week

[2018-10-16 15:39] scalavision commented on #22
I'll look into the Javascript Event Loop, see what I kind find :-)

[2018-10-16 15:40] jdegoes commented on #22
`runSync` cannot be implemented in Javascript. For now it would be fine to throw an exception if someone calls that method, although eventually we should separate the RTS using a common base (`CommonRTS`) and not have the `unsafeRun` / `unsafeRunSync` in the Javascript version.

[2018-10-16 19:56] RaasAhsan commented on #297
All the blocking computations should be scheduled to a separate thread pool with high upper boundary and short queue

So ZIO will maintain multiple pools as part of its RTS or will there be a single pool per RTS? Will this discourage users from creating their own pools?

If your processor supports hyperthreading on its cores, `core_number * 2` would yield a higher throughput. Do we want to take ad

[2018-10-16 20:07] pshirshov commented on #297
Two pools (plus timers pool)

Yes

If we hit the limit of blocking pool (and get rejection exception), computation should be `Terminated` I think. It's better to set the limit instead of spawning thousands of threads effectively killing the OS scheduler (IMO). The limit itself is still discussable though I think that quadratic/qubic one is fine enough.

When I said "core number" I meant "hardware

[2018-10-16 20:18] RaasAhsan commented on #297
I was talking about the primary ZIO fixed pool for computation you mentioned in the OP. If you have 8 threads running fibers in a fixed pool of size 8 and one of them submits a task to a saturated queue, should the entire computation fail? Adding to work queue only spawns new threads if the current number of live threads is fewer than maximum and the work queue is full.

[2018-10-16 20:19] pshirshov commented on #297
I've updated my comment.

I think you may make both the upper boundaries configurable. Primary pool should have `cores+1` by default, and blocking pool should have `pow(cores, 2)` by default.

`RTS.maximumBlockingOps : Option[Int] = Some(cores * cores)`
`RTS.maximumCPUOps : Option[Int] = Some(cores + 1)`

[2018-10-16 20:21] ritschwumm commented on #22
i guess that means i cannot implement an old-style event listener in the browser which returns true or false to the caller, right? would i still be able to call Event.preventDefault near the end of an IO operation with a guarantee i won't be shuffled through any setTimeout  before that?

[2018-10-16 20:41] RaasAhsan commented on #297
The purpose of a fixed pool is to prevent CPU overscheduling while still being productive. Those threads in the pool will pull and execute tasks to completion. If you submit a task and all threads are currently busy, the task is queued in memory. Whenever a thread finishes its task, it will begin processing the next one. This offers a means of graceful degradation: latency for a task may increase

[2018-10-16 21:15] pshirshov commented on #297
Depends on load profile. In case you produce more than you can consume - the app/machine will die anyway.

You may set a short queue but it wouldn't change anything, really. In case you are producing faster than consuming - you have a problem. And your effective consumption speed is limited by number of cores. Plus one thread to fill the scheduling gaps.

Unbounded queue is the worst thing I can i

[2018-10-17 21:16] scalavision commented on #22
I am really not sure how this will turn out in practice :-) I have only tried to print to the console. I am not an expert on the internals of RTS either, but it seems to me that the codeblock of the IO will be put to run asynchronoulsy on the event loop via setTimeout. So your `preventDefault` can be called inside the IO right? Sorry, if I misunderstand what your want to achieve here ...

My take

[2018-10-18 22:13] RaasAhsan opened #305 "Determine how App exit and ExitStatus should behave"
Since both the default RTS fiber pool and timer pool spawn daemon threads now, the JVM immediately exits when the main thread completes. Unless the pools are intentionally overriden to be non-daemon, it seems like two of the inhabitants of the `ExitStatus` ADT don't serve much purpose anymore: `ExitWhenDone` and `DoNotExit`.

My proposal is to remove the `ExitWhenDone` and `DoNotExit` constructors

[2018-10-19 10:21] jdegoes commented on #305
Maybe in combination with an `awaitPending: IO[Nothing, Unit]` method that will resume when no threads are in use?

[2018-10-19 13:06] artempyanykh commented on #297
It's totally reasonable to have separate threadpools for IO vs CPU bound tasks. The question is -- do we want to introduce one more thread pool for blocking stuff into any RTS or maybe we would like to have separate `RTS`s for different types of workload and allow users to explicitly `shift` onto `RTS` of his choosing if needed? IIRC the latter was considered here https://github.com/scalaz/scalaz-

[2018-10-19 13:31] pshirshov commented on #297
We do. `Terminated` :)

I guess it a question for @jdegoes . I would vote for just one RTS.

[2018-10-19 13:53] artempyanykh commented on #297
@pshirshov not sure I follow. Terminated is an exit status that signals either interruption or unhandled exception during execution. Do you suggest using it for flow control as well?

[2018-10-19 14:08] regiskuckaertz commented on #297
I like the idea of having multiple RTS that each capture an evaluation mechanism. It would be useful for the `SyncIO` data type (or other interesting subsets like `ParIO` 😋): we could enforce a composed RTS to have the ability (or lack thereof) to evaluate IO actions that may contain `SyncIO`s. The JS RTS would not have that ability and so trying to run a `SyncIO` in JS would fail at compile-time.

[2018-10-19 16:03] #293 closed

[2018-10-19 16:08] RaasAhsan commented on #305
I'd be interested in hearing how that would work. But if that `IO` is running on the same `RTS` as the one it is shutting down, could possibly run into some issues if we rely on `shutdown` and `awaitTermination`:
- If `Async` is used somehow, the continuation would never be restarted because task submission would be rejected
- Non-terminating `Runnable`s would prevent the pool from shutting down.

[2018-10-19 17:53] RaasAhsan commented on #297
I thought that having `RTS` contain every type of pool seemed a bit at odds with the goal of having multiple composable RTS. If every `RTS` has a dedicated pool, should each also have a dedicated timer pool (what it looks like right now), or should a separate type be developed for that?

[2018-10-20 07:34] regiskuckaertz commented on #241
This seems to be working as expected now, can we consider it fixed?

[2018-10-20 20:18] RaasAhsan commented on #273
@cuongthamhl You can shift to another thread pool with the `IO.shift` combinator. However, to shift back to the RTS pool, you will need to insert an explicit asynchronous boundary via `IO.sleep(0.seconds)`.

[code]

[2018-10-22 17:24] neko-kai opened #309 "Schedules should take a Clock parameter"
Right now `Schedule` module uses `system.nanoTime` directly, meaning that it cannot be used with a deterministic timesource (e.g. for tests)

[2018-10-22 17:26] #309 closed, assigned to nobody

[2018-10-22 17:30] pshirshov opened #310 "ZIO uses entropy sources directly and preventing us from writing determenistic async tests"
At the moment ZIO relies on external entropy sources which cannot be substituted by determenistic implementations:

[code]

`Schedule` uses these methods directly, so it's literally impossible to write a determenistic repeatable test for an asynchronous protocol involving `Schedule`.

Another problematic place is:

[code]

I think all such things must be hidden behind an interface and it must be p

[2018-10-22 18:38] pshirshov commented on #310
By the way, an example of such an interface:

[code]

[2018-10-22 19:15] ratoshniuk commented on #287
as @kaishh said I put `traverse`, `parTraverse`, `sequence` and `redeem`

implemented `timeout`

others are renamed

[2018-10-22 21:41] tugh commented on #187
I think this issue should be closed because #292 is merged.

[2018-10-23 05:49] #187 closed

[2018-10-23 08:37] regiskuckaertz commented on #287
- `raceEither` ⇒ `race` ([see](https://github.com/scalaz/scalaz-zio/pull/311#discussion_r227278862))
- `race` ⇒ `raceMerge`
- `raceWith` ⇒ `race0`
- `sandboxed` ⇒ `sandbox`
- `sandboxWith` ⇒ `sandbox0`
- `parWith` ⇒ `par0`
- `seqWith` ⇒ `seq0`
- `supervised` ⇒ `supervise`
- `supervised` ⇒ `supervise0` (the more powerful version)
- `timed` ⇒ `time`
- `timed0` ⇒ `time0`
- `uninterruptibly` ⇒ `atomic

[2018-10-23 08:47] regiskuckaertz commented on #287
In the companion:
- `asyncPure` ⇒ `asyncM`
- `superviseWith` ⇒ `supervise0`

I think indeed `traverse` and `sequence` are part of the functional vernacular, whereas foreach has an imperative after-taste.

[2018-10-23 18:40] mijicd commented on #257
I have started to work on this issue in #303. However, as agreed with @iravid, I have closed the PR until I understand the approach proposed in [this comment](https://github.com/scalaz/scalaz-zio/pull/252#issuecomment-423510265).

@jdegoes could you please explain the idea in 2-3 short sentences so that I can continue working on this, and hopefully reopen the PR with the proper implementation.

[2018-10-24 00:50] sideeffffect commented on #287
my 2 bikeshedding cents:

* names -- cannonical names and deprecated alisases, for example:
  * let `forEach` be the canonical name here, because it conveys better the specific meaning specific to `IO`
  * let `traverse` be a deprecated alias that is still easy to discover (not only in IDE) by people already familiar with the concept, but advising them to use `forEach`

* flavors -- good as suffix

[2018-10-25 22:28] pierangeloc opened #315 "Fork not working correctly with new thread pool"
With ZIO version `0.3.1` I run this code

[code]

The program ends immediately, instead of printing continuously. With ZIO version `0.2.9` instead, it runs correctly.
If I replace the thread pool with the old one, the program runs again properly.

[code]

Looks like something is not working properly in the new  default thread pool.

[2018-10-25 23:17] kaishh commented on #315
It's correct. The program exits once the main fiber exits. If you want this program to run forever, put an `IO.never` at the end.

[2018-10-26 09:04] artempyanykh commented on #315
@RaasAhsan btw, what was the reasoning behind setting pool threads as _deamon_? If some threads run fibers with cleanup actions, they may get killed before the cleanup is finished and thus the program will terminate incorrectly.

Do we imply that main Fiber should always join forked Fibers?

[2018-10-26 11:31] regiskuckaertz commented on #315
@artempyanykh that's a great question. what is more sensible? at this point it becomes a usability issue, we should compare both behaviours with real-world examples

[2018-10-26 17:01] RaasAhsan commented on #315
@artempyanykh I think its an appropriate choice for several reasons.

1. It forces the user to think about and explicitly define the criteria for application exit.
2. Waiting on the threads in the RTS pool to die can be unpredictable. This may be less of an issue with the pool that you defined (where core threads time out very quickly), but only when tasks finish quickly. Long-running tasks and no

[2018-10-27 12:16] pshirshov commented on #315
I said that unbound pool or unbound queue aren't great at all. RN zio has a broad choice of crappy heuristics and there is no good way to address the problem except of task separation.

[2018-10-28 09:30] jdegoes commented on #310
👍 This is related to #245, #309

[2018-10-28 09:40] jdegoes commented on #287
- [ ] `promise.error` => `promise.fail`

Also I'm agreed on the desirability of aliases for `sequence`, `traverse`, etc. The aliases are for people who know FP (it's quite standard terminology) but the other ones are for the much larger non-FP market.

The "default = Seq" is interesting. We should be consistent. I also like designing for dot syntax so putting `Par` as a suffix always (rather than

[2018-10-28 09:42] jdegoes commented on #287
Oh, and for `With`, I think we should save that suffix for variants that take a "compose" function as a parameter, rather than using it for the "most powerful" variant. I admit I don't really like the `foo0` convention (I'd rather `foo'` 😄 ), but I feel `With` is a poor fit for the most powerful variant, too.

[2018-10-28 09:45] jdegoes commented on #287
@kaishh I agree it's more common to use `redeem` than `redeemPure`. Though there's an emerging pattern in ZIO to suffix `M` for monadic versions of functions (e.g. `mapM` in `Schedule`). I'm not sure what to do about the tension between consistency in naming convention and the higher relative importance of `redeem`.

[2018-10-28 09:47] jdegoes commented on #315
I agree this is a problem. Unfortunately the change to default thread pool solved some real problems at the cost of others. It was a fast change, but a real change involves separating blocking IO as per @pshirshov's tickets.

[2018-10-28 09:48] jdegoes commented on #315
@pierangeloc We should probably make `ExitStatus` handle this. That way if users use our `App`, they have to be explicit about what they want to happen when the main fiber ends.

[2018-10-28 09:49] jdegoes commented on #305
I think #315 demonstrates that the main method being explicit about what to do when the main fiber terminates is a good thing and will minimize user confusion.

[2018-10-28 09:52] #286 closed

[2018-10-28 10:03] jdegoes commented on #310
Oh, and the original one: #140

I know @Vilkina got busy with stuff and maybe someone can chip in with the remaining work.

[2018-10-28 12:48] sideeffffect opened #316 "Packages are pushed to `staging`, not `snapshot`"
follow-up on https://github.com/scalaz/scalaz-zio/pull/261

---

Apparently we now don't publish to snapshot artefacts [`snapshots`](https://oss.sonatype.org/content/repositories/snapshots/org/scalaz/scalaz-zio_2.12/) but to [`staging`](https://oss.sonatype.org/content/repositories/staging/org/scalaz/scalaz-zio_2.12/)

@NeQuissimus suspects that it's an issue with Sonatype, opened https://issues.s

[2018-10-28 13:41] NeQuissimus commented on #316
Oh, I forgot about this! I will provide them with a new Gist

[2018-10-29 01:33] RaasAhsan commented on #305
There are other factors in #315 that should at least be identified and considered. Regardless of which direction we go, users should understand `App` when they use it. It was difficult in this case, because as OP pointed out:
1. Functionality changed between versions.
2. The consequences of the change weren't properly documented anywhere.

I won't try to fight this anymore, but I can make accordin

[2018-10-29 06:37] Vilkina commented on #310
@jdegoes will continue after 1st November.

[2018-10-29 11:07] kaishh commented on #281
The problem persists if the action terminated, not failed:

[code]

[2018-10-29 12:06] jdegoes commented on #281
@kaishh Noted.

**TODO**: We should make semantics such that termination of the action results in immediate timeout.

[2018-10-29 15:12] kaishh opened #320 "Supervision is broken with race"
Example:

[code]

Expected:
[code]

Actual:
[code]

[2018-10-30 09:27] karolchmist opened #321 "Write test suite for RefM"
RefM currently has no test suite. It should have a test suite similar to `RefSpec`.

[2018-10-30 10:10] karolchmist commented on #291
Inside the package object zio:

[code]

Delegate the thread pools to existing globals in Scala (e.g. global execution context).

This may in some cases require adapters from `ExecutionContext` etc to whatever ZIO uses.

TODO: Is there something like a default scheduled executor sitting around in Scala, or must the actor system be used for the scheduled executor that ZIO requires???

[2018-10-30 11:12] fanf commented on #199
I've open a PR for first very simple tests on `repeat` and I'm not sure of the semantic of `repeat(Schedule.recurs(0))` as shown in the failing test.

[2018-10-30 12:13] jdegoes opened #324 "Eliminate `raceWith` as primitive operation"
Draft of overall approach:

[code]

/cc @regiskuckaertz

[2018-10-30 12:34] regiskuckaertz commented on #324
I'll play with the idea 😄

[2018-10-30 12:54] jdegoes commented on #324
👍❤️

I purposefully changed the signature of ‘raceWith’, btw—this one is more powerful because the caller can choose not to be interrupted by calling observe instead of join on the winning fiber.

[2018-10-30 13:36] jdegoes opened #325 "Simplify signature of `io.timeout`"
1. Rename the current timeout to be `timeout0`.

[code]
2. Introduce a new simplified `timeout`:

[code]

3. Introduce an alternate simplified `timeoutFail`:

[code]

[2018-10-30 14:33] darbyo commented on #325
Claimed 👍

[2018-10-30 21:33] hepin1989 commented on #325
change it to private method ？

[2018-10-30 22:10] randbw commented on #199
Hi, I was still planning on finishing this off. As stated I've begun already and am going to focus more of my spare time on this ticket now that some of my others in the scalaz-ioqueue project have been finished.

If desired I can also open a PR for what I've done so far although I was thinking to wait until it was closer to completion before I did that.

[2018-10-31 13:13] jdegoes opened #327 "Enhance `interop` package for `Future`"
The [interop package](https://github.com/scalaz/scalaz-zio/blob/master/interop/shared/src/main/scala/scalaz/zio/interop/future.scala) could use a few enhancement:

1. Add `toIO: IO[Nothing, IO[Throwable, A]]` onto `Future` objects.
2. Add `toFiber: Fiber[Throwable, A]` onto `Future` objects.

Note that the `toIO` functionality already exists, but as `IO.fromFuture` (it's a method added onto the `I

[2018-10-31 13:20] jdegoes opened #329 "Thread `Clock` through methods of `Schedule`"
The insides of `Schedule` looks like this:

[code]

For improved testability with schedules that get the current time, `Schedule` should be changed to this:

[code]

This will likely require threading `Schedule` through additional methods.

[2018-10-31 13:21] jasperstein commented on #329
I'll take this one :-)

[2018-10-31 13:32] jdegoes opened #330 "Make failure / error terminology consistent across zero"
### V2 proposal

An `IO[E, A]` / `Fiber[E, A]` either fails for some `Cause[E]`, or returns an `A`.

 - **Failure** — Any means by which a program may fail, including:
    - _Failure due to interruption_
    - _Failure due to unchecked error_
    - _Failure due to checked error_
    - _Failure due to interruption_
 - **Checked Error** — A statically-typed error value.
    Examples:
     - The `E`

[2018-10-31 14:07] saucam commented on #321
I can take this one

[2018-10-31 14:21] karolchmist commented on #321
It's in PR *https://github.com/scalaz/scalaz-zio/pull/322), I need to fix linting check

[2018-10-31 14:27] saucam commented on #321
oh ok !

[2018-10-31 14:50] karolchmist commented on #321
But if you see some possible improvements, please contribute as well :)

[2018-10-31 20:56] regiskuckaertz commented on #320
With https://github.com/scalaz/scalaz-zio/pull/326:
[code]
Since `race` creates two fibers for each opponent, plus one for the finalizer.

[2018-11-01 07:40] fanf opened #333 "Simplify definition of Schedule `forever` and `once`"
Now that `unfold` is available, `forever` can be simplified by using it. And `once` can use `forever`.

[2018-11-01 07:49] fanf commented on #199
@randbw oh sorry! During the scala.io scala-center spree, I looked for an easy, and since that one was silent since some time, I tried it. I don't need to have my PR merged :) And I'm sure that having some tests is better than no test (so yeah for a PR!), and a full test suit is even better than some test (I don't know about the convention for #zio, but perhaps it's ok to make PR so that the probl

[2018-11-01 08:36] jdegoes opened #335 "Ensure all methods that can be final are final"
We have some methods, e.g. `schedule.run`, which are declared like so:

[code]

We should change all methods that are not designed to be overridden to be `final`:

[code]

As far as I know, the only methods that should remain non-final are the public fields and methods of `RTS.scala` in the `jvm` directory of the `core` project.

[2018-11-01 11:00] saucam commented on #335
I'll take this one

[2018-11-03 12:21] jdegoes opened #337 "Add io.flip"
Add a method and a test to flip the type parameters around in an `IO` (i.e. `IO[E, A]` to `IO[A, E]`):

[code]

This makes it easier to do a bunch of error handling.

[2018-11-03 12:38] #321 closed

[2018-11-03 13:38] jdegoes opened #338 "Simplify Semaphore.releaseN"
It looks to me like we can simply run the `loop` in `uninterruptibly` to simplify `releaseN`, i.e. no need for `Promise.bracket`.

[2018-11-03 13:40] jdegoes opened #339 "Add 2 more tests to SemaphoreSpec"
These tests should be [inspired by and credit @mpilquist's work on Cats-Effect `Semaphore`](https://github.com/typelevel/cats-effect/pull/403/commits/0970f0f52c0d4410e329bc044888f23e4ed611a7).

[2018-11-03 13:50] jdegoes opened #340 "Allow asyncPure actions to be interrupted"
Using `unsafeRunAsync` means that mechanisms like interruption fail to propagate.

Blocks #267

[2018-11-03 13:57] jdegoes opened #341 "Keep track of distinction between interruption and defect termination"
Currently we have only `ExitResult.Terminated`, which obscures the distinction between different types of termination:

 * Terminated due to interruption.
 * Terminated due to fatal error.

To solve this problem, we should do the following:

1. Add more cases to `ExitResult` that precisely capture the possible scenarios.
[code]
2. Rename `terminate`: `IO.terminate` => `IO.fatal(t: Throwable)`, inc

[2018-11-03 17:13] kaishh commented on #341
- on rename, this will break most of the code written in ZIO and subjectively, I like current name better, being a verb that carries the semantic of unrecoverable termination

[2018-11-04 04:16] ghostdogpr commented on #341
I had a shot at this: #342

[2018-11-04 09:26] enzief opened #345 "Intermittent failure in RefMSpec"
Sometimes `modifyFold` test fails, sometimes it doesn't.

https://travis-ci.org/scalaz/scalaz-zio/jobs/450429126

[2018-11-04 10:56] #345 closed

[2018-11-04 12:41] #320 closed

[2018-11-04 12:41] #324 closed

[2018-11-04 13:44] jdegoes opened #347 "Improve fromFuture in interop package"
Currently the signature has this type:

[code]

We should change to:

[code]

Because in general the construction of a future is an effect, and rather than sticking it into a thunk (like we're doing now), we should probably be just sticking it into `IO`.

There will be `future.unsafeToIO` if people really want that.

[2018-11-04 14:27] #337 closed, assigned to nobody

[2018-11-04 14:49] jdegoes commented on #287
@kaishh @regiskuckaertz @sideeffffect

I made some quite substantial modifications, incorporating all feedback from this thread. Summary of high-level changes:

1. Now `par` is always a suffix, rather than sometimes a suffix, and sometimes a prefix, to aid discoverability with auto-complete.
2. The sequential version is always the default, because parallel code has overhead and users should be exp

[2018-11-04 14:50] jdegoes commented on #287
Btw what do folks think of the `F` suffix rather than `M` suffix for the effectful versions? I see it's used by Cats in some places (`asyncF`) and has the nice benefit of starting with a sound that sounds similar to "eff" in "effect". Although `M` is more common in Haskell code.

[2018-11-04 15:07] regiskuckaertz commented on #287
I like it. `M` and `A` are used in Haskell/[Scalaz](https://github.com/scalaz/scalaz/pull/2022#pullrequestreview-171333848) already to abstract over _any_ monad/applicative. `F` makes more sense locally.

[2018-11-04 15:20] regiskuckaertz commented on #287
PureScript [uses `E`](https://pursuit.purescript.org/packages/purescript-eff/3.2.1/docs/Control.Monad.Eff#t:Eff) for `Eff`-specific functions.

[2018-11-04 16:12] sideeffffect commented on #287
2 other bikeshedding cents:
regarding `F`, `A`, `M` suffixes -- shouldn't they be used for communicating if the function works with a `F`unctor, `A`pplicative functor or `M`onad respectively?
In that case, the decision should be made on case by case basis, considering each function and what functionality from the `IO` class it needs.
E.g. if it only uses `ap` or `pure` inside, it should use `A` as

[2018-11-04 16:16] jdegoes commented on #287
@sideeffffect Since ZIO is standalone, there are no dependencies on Scalaz / Cats, so no type classes, so no monad / applicative / functor.

I'd be nice to use name overloading here to bypass the issue entirely, although I think in most cases that would have no effect because after erasure, they end up the same, anyway.

[2018-11-04 16:18] sideeffffect commented on #287
@jdegoes possible typos:

* [ ]  `IO.collectPar`: **Add** an alias `IO.parSequence`.

shouldn't it be

* [ ]  `IO.collectPar`: **Add** an alias `IO.sequencePar`.

?

and

[2018-11-04 16:38] jdegoes commented on #287
@regiskuckaertz How about `Exit` instead of `Result`? Thinking that `Result` is pretty generic but `Exit` is more specific.

[2018-11-04 16:38] jdegoes commented on #287
@sideeffffect Fixed, thanks!

[2018-11-04 16:42] kaishh commented on #347
We already have this exact function in interop.Task.fromFuture

[2018-11-04 16:47] jdegoes commented on #347
@kaishh It seems like the package is not consistent in where it places things (sometimes on the `IO` companion object, sometimes on the `Task` companion object).

[2018-11-04 16:58] regiskuckaertz commented on #287
[code]
The longer I look at it, the more I think `Exit` works.

[2018-11-04 16:59] regiskuckaertz commented on #287
What about:
- `Ref` ⇒ `Var`
- `RefM` ⇒ `VarF`
following the decision to drop the `M` suffix?

[2018-11-04 17:32] jdegoes opened #348 "Implement race variant with cats-effect semantics"
Implement `raceAttempt` (?) that does:

[code]

[2018-11-04 17:41] jdegoes commented on #287
@regiskuckaertz 👍

If we actually do all this, we should make a ScalaFix migration to update code for the changes.

[2018-11-04 20:53] sideeffffect commented on #287
@regiskuckaertz why would you want to rename the `Ref` class for *references* to `Var` even though the are not *variables*?

[2018-11-04 22:42] RaasAhsan opened #350 "Home for derived concurrency types"
I haven't seen one yet, but is there a home where derived types for concurrency should go? ZIO provides a powerful set of primitives (`Ref`, `Queue`, `RefM`, `Semaphore`) in which many other concurrent data structures (latches, barriers, locks, maps) can be defined in terms of. They would provide immense value to users, but perhaps this library isn't the best home for them?

- same package
- separ

[2018-11-04 23:11] jdegoes commented on #348
/cc @kaishh

[2018-11-04 23:14] jdegoes commented on #287
@regiskuckaertz They're not variables in the PLT / math sense, but they're variables in the Scala sense (`var` versus `val`). Makes a certain amount of sense to someone working in Scala.

[2018-11-04 23:33] kaishh commented on #287
I'd rather we not introduce more names for the same concepts. I'm personally more in favor of keeping `RefM` or even `RefF`.

[2018-11-04 23:40] kaishh commented on #348
Will look into it. Similar code is already in Concurrent PR, we'd also need to unsupervise raceWith to implement Concurrent's racePair :\

[2018-11-05 01:45] RaasAhsan opened #351 "bracket0 breaks when cancelled"
[code]

Output is:
[code]

There should also be a released in there. If you change the `bracket0` to `bracket`, the output is correct:
[code]

I'm going to try to find out what's going on here and attempt a fix, but please do let me know if you know why this is happening!

[2018-11-05 02:04] RaasAhsan commented on #351
I think I've figure out why release isn't being called. The whole ensuring finalizer is being run, but the fiber that was forked to run `use` hasn't been completed, so it can't observe the `ExitResult` of it and tries to interrupt the `use` fiber, but never calls `release`.

Should the `tryObserve` `None` case invoke `release` w/ a `ExitResult.Terminated` after running `interrupt` on the fiber?

[2018-11-05 05:16] edvmorango commented on #339
I'm writing these tests, but I have a doubt:

[code]
 ```withPermit```  is ignoring the ```timeoutFail``` and blocking until get a ```acquire```  is this the expected behaviour?

[2018-11-05 07:43] regiskuckaertz commented on #287
@sideeffffect I know, `RefF` looked odd is all. I'm not attached to it so I will go with what the consensus is 🤗

I don't think this is too far off the PLT wisdom. In languages like Scala, Java, C etc, a `var x : A` is just a `val x : Ref[Option[A]]` with syntactic sugar; see Pierce 2002.

[2018-11-05 16:28] jdegoes commented on #351
@RaasAhsan

I think this code:

[code]

is wrong and should be:

[code]

The reason is that the `f.join` will be interrupted, but not the inner forked fiber; so the finalizer will be run before the inner forked fiber exits.

/cc @regiskuckaertz

[2018-11-05 18:21] jdegoes commented on #330
### V2 proposal

An `IO[E, A]` / `Fiber[E, A]` either fails for some `Cause[E]`, or returns an `A`.

 - **Failure** — Any means by which a program may fail, including:
    - _Failure due to interruption_
    - _Failure due to unchecked error_
    - _Failure due to checked error_
 - **Checked Error** — A statically-typed error value.
    Examples:
     - The `E` in `Either[E, A]`
     - The `E` in