[2020-01-30 15:59] ajaychandran commented on #2761
@alvNa [better-monadic-for](https://github.com/oleg-py/better-monadic-for) is a compiler plugin that desugars `for` comprehensions for data-types like `ZIO` that do not define `withFilter`.
All you need to do is update your build file,
[code]
and your snippet will compile just fine.

[2020-01-30 16:06] softinio commented on #2721
@peterlopen thank you!

[2020-01-30 16:12] ajaychandran commented on #2761
@adamgfraser

When using the plugin, type inference works as expected.

[code]

[2020-01-30 16:15] adamgfraser commented on #2761
@ajaychandran Yes understood. The plugin is one solution for limitations in the Scala compiler's treatment of irrefutable destructurings. I think it is definitely good for people to know about the plugin and what it can do if they want to use it but I think there is still an issue of what the best treatment of this issue is in ZIO since ideally we would not like users to have to use plugins for de

[2020-01-30 16:22] ajaychandran commented on #2761
@adamgfraser :+1:

@alvNa  For reference, the compiler issue is being tracked [here](https://github.com/lampepfl/dotty/issues/2573).

[2020-01-30 16:25] alvNa commented on #2761
I appreciate your explanation @adamgfraser.
As you mentioned it would be an nice feature, but I understand it's not an easy task currently.
Thank you very much.

[2020-01-30 16:25] #2761 closed

[2020-01-30 17:09] adamgfraser commented on #2762
I'm not a big fan of this. I think in your example the right signature for submit is `UIO[Unit]` (assuming you want to discard the information about whether there was any value and whether there was capacity in the queue). Having `Any` in types that are not contravariant leads to the risk of types being widened inadvertently. In your case, I would use the last way of writing this and take it as an

[2020-01-30 17:12] adamgfraser commented on #2761
Maybe we remove the existing `withFilter` and move it to ZIO Syntax where we can use some minimal `HasDefault[E]` implicit evidence to do this in a more polymorphic way.

@jdegoes What do you think?

[2020-01-30 17:50] adamgfraser commented on #2693
@regiskuckaertz I tend to think you are right. `tapError` is very similar to combinators like `ensuring` in that it creates the possibility that both the original effect and the tap / ensuring effect would fill fail. We've dealt with that in combinators like `ensuring` by requiring them not to fail and I think we should probably do the same here since even though we can preserve both errors with `

[2020-01-30 18:00] adamgfraser commented on #2693
In `tap` we are guaranteed that if the tap effect begins executing the original effect has completed successfully, so there can be at most one error (the error from the tap effect).

In contrast with `tapError` there is already one original error and then without the proposed restriction the tap effect could fail with its own error so we would have two errors, forcing us to use something like `Cau

[2020-01-30 18:02] iravid commented on #2693
The same could be applied to catchAll.

Put differently, I am not convinced this is equivalent to finalizers.

[2020-01-30 18:07] adamgfraser commented on #2693
I think there is actually a significant difference with `catchAll`.

The contract of `catchAll` is essentially "transform the error value with the specified function" so `catchAll` is always going to throw away the old error and return a new effect based on that. It unambiguously is only going to return the result of the `catchAll` effect, whether it is a success or failure.

In contrast, the cont

[2020-01-30 18:09] Vilkina commented on #2271
I want to suggest and implement`groupBy`, `groupMap`,`indexOf`, `min`,`minBy`, `toSet` for now. After benchmark merged :)

[2020-01-30 18:10] iravid commented on #2693
Uhh, you could equivalently argue that the contract should be that if the catchAll handler fails, both errors should be preserved

[2020-01-30 18:15] iravid commented on #2693
Are there any other combinators, apart from tapError, that exhibit the same ambiguity?

[2020-01-30 18:15] adamgfraser commented on #2693
So sorry, I think we agree that in `catchAll` if the handler succeeds the overall effect should succeed with the result of the handler and if the handler fails the effect should fail with the result of the handler.

For `tapError`, if the tap succeeds the overall effect should fail with the error of the original effect. If the tap fails what should we fail with?

[2020-01-30 18:16] adamgfraser commented on #2693
I think `tapCause` is the only one that exhibits the same ambiguity. The pattern is where do something that is "on the side" of the normal data flow and is not a finalizer, which I think is just tap variants.

[2020-01-30 18:22] iravid commented on #2693
Im of the opinion that for tapError and tapCause failing with the new cause is a perfectly fine choice.

Aggregating errors with `Then` is something we need to investigate more thoroughly in terms of the affect on user ergonomics; we have only ever used it (if I’m not mistaken) for preserving finalizer defects.

If this is only about tapError/Cause, I wouldn’t mind making them infallible, but I do

[2020-01-30 18:24] iravid commented on #2693
A while ago I thought that Cause.Then#failureOrOption should give you the latest failure rather than the earliest, but I think that breaks other things

[2020-01-30 18:32] adamgfraser commented on #2693
I tend to agree with you that using `Cause.Then` here was a mistake on my part and should be reverted.

Saying we will just fail with the tap error is perfectly logical. I think sometimes it could result in counterintuitive results. For example, `ZIO.fail("Invalid user").tapCause(_ => ZIO.fail("Logging service down"` would return an effect that failed with the logging error but not the original us

[2020-01-30 19:21] ajaychandran commented on #2762
@adamgfraser
I agree with your main argument but I don't care for the return value in my usecase.
On second glance, I don't care if the value is enqueued either. :blush:

The initial motivation was to simplify usecases that involved `Option.fold`. But perhaps this is not justification enough to add `ZIO.any`.

If we were to add a convenience method on `Queue`, is this what you had in mind?
[code]

[2020-01-30 19:42] adamgfraser commented on #2762
@ajaychandran I think you would need to think through a bit what behavior you would want when the queue was at capacity (e.g. in your first example you were happy to make "best efforts" to offer and move on regardless versus in this case you are retrying until there is capacity) and how the method would behave for different queue implementations (I believe this implementation could lead to continu

[2020-01-30 19:48] ajaychandran commented on #2762
@adamgfraser Thank you for the inputs. Will pick this up in a different thread.

[2020-01-30 19:48] #2762 closed

[2020-01-30 21:03] Vilkina commented on #2269
[code]

[2020-01-30 22:36] horned-sphere commented on #2739
@adamgfraser I'm traveling at the moment and don't have my laptop so I won't be able to work on this until Monday. If it's causing a lot of disruption the best thing to do would be to revert back to the version with the flaky test case. That was far more robust despite the slightly undesirable non-determinism for errors. Next time around I'll make sure I do a thorough burn on all of the test cases

[2020-01-31 05:28] adamgfraser opened #2771 "ZIO Test: Support Richer Reporting of Test Results"
Currently ZIO Test results are predominantly reported in the console, with JUnit XML reports generated through SBT integration. Over time I think we are also going to want to support generating test reports in a richer format such as HTML or XML. We're starting to provide metrics on test results through test annotations (e.g. how long a test took, how many times it had to be repeated, what tags ap

[2020-01-31 07:11] peterlopen commented on #2721
@softinio
wrt:
`reference to App is ambiguous;
it is both defined in object Session and imported subsequently by
import zio.App
object MyApp extends App {
`
I can think of 3 ways how to fix this (however I do not like any of them):
1. removing `import zio.App` from code snippet
2. aliasing zio.App to ZApp in import and using that one in code snippet
3. removing import, and using zio.App in code sn

[2020-01-31 07:16] peterlopen commented on #2721
@softinio
`error: /home/plopen/projects/zio/docs/howto/mock_services.md:236:49: not found: value accountObserverLive
      val result = app.provideLayer(mockEnv >>> accountObserverLive)
`
this one is weird too - mockEnv from previous mdoc block is available, however accountObserverLive is not (even in the block following directly after its definition).

My idea would be to merge those blocks toget

[2020-01-31 10:58] lassebn commented on #2771
For me JSON could be a good format to work with. A specific use case I have right now is to find all tests which have a specific tag. Given the output below (dummy output adapted from JUnit XML)

[code]

I can easily find those tests using
[code]
for example.

I don't know if this should be a final (custom) report though or if JSON would be an acceptable intermediate or primary format for ZIO test

[2020-01-31 13:39] adamgfraser opened #2772 "Support Memoizing Layers"
We should implement a method to memoize a layer. This is important to allow a layer to be created once and provided to multiple services. This issue is currently impacting ZIO Test because we provide a separate copy of the test environment to each test and the test environment depends on the live environment, so each time we create a new test we create a new copy of the live environment, including

[2020-01-31 14:15] vasilmkd commented on #2772
![zio-timers](https://user-images.githubusercontent.com/7115459/73545815-67e4dd00-443c-11ea-966c-a3da32353b2e.PNG)
![zio-memory-leak](https://user-images.githubusercontent.com/7115459/73545819-6a473700-443c-11ea-9e8d-c4764675d9b0.PNG)
![zio-heap-full](https://user-images.githubusercontent.com/7115459/73545822-6c10fa80-443c-11ea-9155-8e753ccaf202.PNG)

@adamgfraser Feel free to tag anyone here that

[2020-01-31 14:20] vasilmkd commented on #2772
I'm also uploading the whole heap (4 Gb), I will update this comment when available.

[2020-01-31 20:05] fsvehla opened #2776 "STM.tap"
[code]

[2020-01-31 20:06] adamgfraser commented on #2776
You want to take the ticket?

[2020-01-31 20:29] fsvehla commented on #2776
@adamgfraser Yep!

[2020-01-31 20:29] adamgfraser commented on #2776
@fsvehla Great! Can you add `tapError` and `tapBoth` too?

[2020-01-31 20:33] fsvehla commented on #2776
Sure thing

[2020-01-31 20:52] adamgfraser commented on #2772
Following up on this, the `default` environments are generally `val` definitions so I don't think this problem is as bad as I feared, though this will still be an important feature for more advanced use cases with layers that do have meaningful costs to acquire and release and need to be shared among multiple dependencies.

[2020-01-31 20:55] fsvehla commented on #2776
Seems like @mijicd started on this independently in #2777 so I I’m not working on this anymore.

[2020-01-31 20:57] mijicd commented on #2776
@fsvehla feel free to continue with `tapError` / `tapBoth`, although they might be a bit quirky.

[2020-01-31 21:02] fsvehla commented on #2776
Taking `tapError` / `tapBoth`

[2020-01-31 22:45] mijicd commented on #2776
These two might be quirky from a semantic point of view. Let's say you have the following signature:

[code]

Failure we got from running `self` would prevent `f` to be committed as well.

cc @jdegoes to verify this

[2020-01-31 23:21] adamgfraser commented on #2776
Another transactional effect would have to subsequently recover from the error within the transaction for the tap effect to be committed. So for example this test passes:

[code]

But if the transaction fails and we recover outside of the transaction, for example by committing after the tap effect and then ignoring the resulting ZIO error the tap effect would never be committed. I think this is ju

[2020-02-01 01:09] jdegoes commented on #2772
I have some feedback on this. I will write it up.

[2020-02-01 04:19] adamgfraser commented on #2772
That would be great! I think we have tracked down the cause of the performance problems in our internal test suite to a particular test suite (will have a fix for that tomorrow) so we can focus on the right long term answer here.

[2020-02-01 11:16] mijicd commented on #2776
That would certainly suffice for test purposes, however, it forces breaking of transactional boundary which is unfortunate.

[2020-02-01 12:20] adamgfraser commented on #2776
You're right. You could do something like:

[code]

[2020-02-01 15:07] mijicd commented on #2776
This is definitely better, however, note that:

[code]

is equivalent to:

[code]

In essence, for `tapError` to be used, we'll need to follow it with a more powerful combinator to prevent its result from being rollbacked.

[2020-02-01 15:10] #2126 closed

[2020-02-01 16:09] adamgfraser commented on #2776
Yes, in my example it is definitely kind of trivial but the `tapError` effect could be separate from the error handler by a lot of other logic that assumes success. I kind of think about it like how with `ZIO` we use `tapError` but our applications almost always don't fail at the top level, we catch and recover from the error somewhere. `STM` just lets us created different isolated "programs" that

[2020-02-01 20:40] adamgfraser opened #2781 "How Should We Support Chunk In Effect Combinators?"
We just merged #2380 providing overloaded versions of `foreach` for `Option` and `Chunk`.

For `Option` this could just be regarded as a convenience method for making working with optional values slightly more ergonomic in some cases. `Option` has at most one value so a lot of variants of "collection" operations aren't meaningful.

But `Chunk` is our own collection type so theoretically I would th

[2020-02-02 00:09] #2325 closed

[2020-02-02 14:05] vasilmkd commented on #2551
Any usecases for streams that immediately end with a `B`, instead of `Control`?

[2020-02-02 15:03] jdegoes commented on #2781
Maybe `Chunk` becomes first class, with first-class support everywhere, and the rest are just derivative. Maybe all the methods are shifted over to work, if not with `Chunk`, then anything that is `ChunkLike`, e.g.:

[code]

One could also imagine `NonEmptyChunk` being a subtype of `Chunk` (a kind of marker interface that guarantees at least one element). Mainly so you could do `foreach` over non-

[2020-02-02 15:07] jdegoes opened #2784 "ZIO Test: Supporting pluggable diffing"
It's probably out of scope for ZIO Test to directly support diffing without external dependencies (how does MUnit do it?). Nonetheless, the design of ZIO Test should at minimum support _pluggable_ diffing, and we could prove that out with an integration module for `diffx`.

[2020-02-02 15:35] vasilmkd commented on #2551
@jdegoes We may need to rethink our `Either[B, Control]` solution, because it doesn't really help us with `fromEffect`. The effect can fail with an `E`, and our scope error type is nothing, so it needs to be delegated to a "lazy acquisition" in a `Push`, which then needs an `A` as input, and it seems that we are back to square one.

[2020-02-02 15:37] jdegoes opened #2785 "ZIO Test: Historical reports"
Thanks to test annotations, we have the ability to collect metrics on test runs, including:

 - flakiness (how many executions before passing?)
 - timing (how long did individual tests and suites take?)
 - data distributions (how "varied" are randomly generated data?)
 - hot spots (which tests / suites fail most frequently during development?)
 - totals (total tests, suites, failures, flaky tests,

[2020-02-02 16:53] jdegoes opened #2786 "ZIO Core: Add more control flow combinators to avoid the need for explicit recursion"
The following combinators might be useful to add to `ZIO`, together with the companion objects for the ZIO type aliases (`Task`, `UIO`, `URIO`, `RIO`, `IO`).

[code]

A more powerful version would be:

[code]

#### Example Usage

[code]

[2020-02-02 17:06] adamgfraser commented on #2785
This would be a good feature to add.

I think we may want to think of this along with #2771 with point in time reports providing some valuable information (e.g. test timing) and then time series analysis of those point in time reports providing even more insights on top of that. In that issue it was suggested that JSON could be a good format for other tools to be able to ingest. This would also su

[2020-02-02 17:19] adamgfraser commented on #2784
They do it internally. See [here](https://github.com/scalameta/munit/tree/master/munit/shared/src/main/scala/munit/internal/difflib) We may want to consider doing the same to provide the best possible experience with zero dependencies. It looks like they use the Myers diff algorithm, which is the same one used by Github. It would be a bit of a project to add but I don't think it would be too bad.

[2020-02-02 18:01] adamgfraser commented on #2781
Yes, you could definitely do that. You might not even need `fromChunk` (which non-linear structures like trees couldn't implement). We already have all of our methods return `List` as the output type so they could just go to returning `Chunk`. Then we would just need a way of converting an arbitrary collection to a `Chunk`. I do feel like this brings us away from the standard library though in a w

[2020-02-02 18:09] jdegoes commented on #2784
👍 for built in string diffing (easy/lightweight).

[2020-02-02 21:17] jdegoes opened #2787 "ZIO Core: Add orElse variants"
[code]

[2020-02-02 21:20] jdegoes commented on #2772
@adamgfraser I too have been thinking about memoization. Not for performance, per se, but rather, to avoid construction of multiple implementations of the same resource.

Right now, if you use the same layer twice, e.g. `foo >>> bar`, `foo >>> baz`, then `foo` resources will be allocated twice. Now a simple `ZLayer#memoize` could let you solve that problem with, `foo.memoize.flatMap { foo => >...

[2020-02-02 21:21] adamgfraser commented on #2772
@jdegoes Love it!

[2020-02-03 05:04] adamgfraser commented on #2786
I am working on this.

[2020-02-03 12:32] #2787 closed

[2020-02-03 12:52] jdegoes opened #2791 "ZIO Test: Delete S parameter?"
I couldn't find `S` parameter being used. It is "washed away" to `Any` in runners. It's possible with test annotations, users who want to extract information from a test execution can now do so through test annotations, rather than needing a separate type parameter.

Needs investigation.

[2020-02-03 13:06] jdegoes opened #2792 "ZIO Test: Add verify TestAspect"
It would be useful to have a `TestAspect` that allows verification of "post conditions" after tests are run.

[code]

**Example**

[code]

[2020-02-03 13:22] adamgfraser commented on #2791
Yes I agree we can delete the `S` type parameter. It is not being used anywhere and removing it would make method signatures shorter, particular for test aspects, and would make a couple of the tests aspects more polymorphic. For example `failure`, and `nonTermination` need to constrain `S` to be `Unit` because we need to have a value that we can put in the success channel. With test annotations w

[2020-02-03 13:23] adamgfraser commented on #2792
I will add this.

[2020-02-03 13:44] pshirshov commented on #2792
Out of curiosity: are you going to verify them after ALL the tests finish or immediately after each test?

[2020-02-03 13:50] adamgfraser commented on #2792
I was thinking after each test.

[2020-02-03 15:09] jdegoes commented on #2792
We could consider making that configurable too, e.g. verifyEach vs verifyAll.

[2020-02-03 15:12] adamgfraser commented on #2792
Yes. We would have to think a bit about what we do with the failure in `verifyAll`. Right now we have the concept that suites either fail with an error pr produce a collection of tests. Presumably we want to keep the test results even if the verification condition fails so we can't just fail at the suite level. Maybe we append the failure to each of the tests?

[2020-02-03 15:22] pshirshov commented on #2792
Whie this idea looks nice it's gonna be one more hell in real life. You don't need postconditions for pure code and you are creating another great opportunity for impure code have interference.

[2020-02-03 15:35] jdegoes commented on #2792
Exactly, so they all fail for the same reason, i.e. failed post-condition. It would be odd to have all the tests "pass" but the suite "fail" so I think that's more intuitive.

I think it's useful for verifying appropriate cleanup is done after a suite, in an integration or systems test. Whether or not it's a good idea to write such code, well, let's leave that for the user to decide. 😉

[2020-02-03 15:44] jdegoes commented on #2772
This is just a sketch:

[code]

The idea would be in the composition operators `>>>` and `++`, we check the memo map to see if the dependency is available. If it is, we use it. If it's not there, we obtain it, add a finalizer (to the outer `Managed`), and store it in the memo map.

The `build` function would construct the empty memo map, backing it with a `Ref`, and then use that to build the whol

[2020-02-03 15:51] jdegoes commented on #2772
^^^ @adamgfraser

We could incorporate this via `ZLayer#shared`, so you could do something like `val sharedDb = Database.live.shared` to avoid allocating resources more than once for a database as it's fed into various other layers.

Then atop this machinery for "sharing", we could add memoize, like `def memoize: UManaged[ZLayer[A, E, B]]`. This would do all the work upfront (lazily) and stuff the

[2020-02-03 15:54] jdegoes commented on #2786
Hmm, should probably be called `iterate` rather than `iterateM` because there is no useful version of the base `iterate`, similar to `ZIO.foreach`, etc.

[2020-02-03 15:55] adamgfraser commented on #2786
Yes. I also think we should curry `initial` for better type inference on `cont` and `inc`.

[2020-02-03 16:58] jdegoes opened #2794 "ZIO Core: Add provideLayerSome"
A hypothetical `provideLayerSome` could split `R` into two parts: the part being provided, and the remainder.

Experiment:

[code]

[2020-02-03 17:34] #2791 closed

[2020-02-03 18:35] jdegoes commented on #2551
@vasilmkd

How about this:

[code]

Or the obvious generalization (`ZIO` => `ZManaged`).

[2020-02-03 18:51] jdegoes commented on #2792
(Guess with this semantic we would not need 2 versions of verify, just one...)

[2020-02-03 18:53] adamgfraser commented on #2792
Unless you wanted to be able to call it on a suite and have verification done after each test.

[2020-02-03 19:06] jdegoes commented on #2792
@adamgfraser Ah right, I suppose that makes sense.

[2020-02-03 19:11] jdegoes opened #2797 "CI/CD: Investigate GitHub Actions for CI/CD"

[2020-02-03 19:20] jdegoes opened #2798 "CD: Investigate GitHub Packages for deployment"
<https://github.com/features/packages>

[2020-02-03 20:47] vasilmkd commented on #2551
Not sure how `ZIO => ZManaged` would work with eliminating the `E` with element level errors.

[2020-02-03 21:56] calvinlfer commented on #2122
hello @mijicd, @francisToth and myself would like to pick up whatever is remaining 😸

[2020-02-03 21:58] adamgfraser commented on #2122
@calvinlfer Awesome!

[2020-02-04 05:33] mijicd commented on #2122
@calvinlfer amazing, thanks!

[2020-02-04 11:30] adamgfraser opened #2802 "Port Combinators from ZIO to STM"
There are a variety of combinators on ZIO that don't exist on STM right now. Many of these methods don't make sense for STM (e.g. methods dealing with fibers, interruption, importing side effecting code into ZIO, etc...). But there are many others that would make sense and would be helpful to have (e.g. `flatMapError`).

The first part of this issue is to go through the methods in ZIO and identify

[2020-02-04 11:56] mijicd commented on #2802
I will go through this tonight and update the issue with implementable combinators.

[2020-02-04 12:09] adamgfraser commented on #2802
Awesome!

[2020-02-04 12:36] fsvehla commented on #2776
Do we have consensus if `tapBoth|Error` make sense?

[2020-02-04 12:39] adamgfraser commented on #2776
My perspective would be that they do.

@mijicd What do you think?

[2020-02-04 12:48] mijicd commented on #2776
I am a bit worried about use scenarios mentioned above, but they're definitely implementable and can be useful in certain scenarios. If we go with them, this behavior needs to be clearly stated.

Summoning @jdegoes as tie-breaker :).

[2020-02-04 19:42] jdegoes commented on #2532
@adamgfraser

I think this is the right track. Then maybe we allow tests and suites to store a `ZLayer`. Then compose them all together in a logical fashion. Such that people can do `provideLayer(foo.shared)` or something. It'd be awesome if the whole "sharing" thing could be factored out of variants and pushed into `ZLayer`.

I sense #2772 is relevant.

[2020-02-04 20:36] jdegoes commented on #2551
@vasilmkd I wouldn't start with `ZManaged`, I'd start with `ZIO` and see where it leads.

A "done-on-construction" sink/stream would just be left of a ZIO effect. This allows it to fail or use an environment. Or maybe we would forbid use of the environment there

[2020-02-04 20:37] jdegoes commented on #2776
I think it makes sense to have them. Obviously if the error is not recovered from, then the transaction will have no effect. But much code cannot know if the transaction will be recovered from (at a higher-level) and could therefore call `tapError` to effect changes in the transaction on an error state.

[2020-02-04 20:39] vasilmkd commented on #2551
So, would you say that `Stream.suceeed(a: A)` and `Stream.fromEffect(zio: ZIO[R, E, A]) are `ZManaged[R, Nothing, Left[ZIO[R, E, A]]]`?

For the record, I'm in favor of keeping the use of the environment. I don't see a real reason to forbid it.

[2020-02-04 22:18] jdegoes commented on #2551
@vasilmkd Yes, that's right. Then you can eliminate remainders entirely, but still fail (and possibly access the environment, if there is no reason to forbid it).

[2020-02-04 22:19] #2792 closed

[2020-02-04 23:38] horned-sphere commented on #2739
@adamgfraser I've spent some time hammering that test case (run it millions of times in parallel without seeing any failures) and it seems to be OK.

I took a look at the failed CI run that you linked and, in the commit it ran against, it seems to have the old, unfixed, version of the combinator ([see here](https://github.com/zio/zio/blob/9b29d1e2eebac5162e9578fa2b9248090513f35d/core/shared/src/ma

[2020-02-05 08:52] vasilmkd commented on #2551
We could then do `Sink.collectAllN(n: Int)` to mean `ZManaged[Any, Nothing, Either[ZIO[Any, Nothing, Nil.type], Control[Any, Nothing, List[A], A, List[A]]]` with size 0 being covered in the left case. 🤣

[2020-02-05 09:35] mijicd commented on #2802
I've collected all combinators that can be added to (Z)STM. Obviously, we could add more by committing and invoking the respective operation on ZIO, but I'd prefer not to do that now as it would clutter the interface.

Please take a look at the lists, suggest combinators that we could add/remove, and enjoy hacking :).

### ZSTM

- [ ] absolve
- [ ] andThen (with aliases)
- [ ] bimap
- [ ] catchAll

[2020-02-05 16:32] adamgfraser opened #2811 "Flaky TestAspectSpec Test"
[code]

https://circleci.com/gh/zio/zio/54485?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-02-05 17:14] adamgfraser commented on #2802
How about:

**Trait**
- [ ] compose
- [ ] doUntil*
- [ ] doWhile*
- [ ] eventually
- [ ] forever
- [ ] summarized

**Companion object:**
- [ ] filter
- [ ] partition
- [ ] replicate
- [ ] require
- [ ] validate
- [ ] validateFirst
- [ ] whenCase
- [ ] whenCaseM

* Would need to be implemented directly rather than in terms of schedule

[2020-02-05 18:10] mijicd commented on #2802
Thanks for adding them! I agree with most, and have 2 remarks:

- I'm not sure whether `forever` is needed.
- We already have `filter` on trait, and it operates with different semantics. That being said, we should either omit `filter` here, or think about some renaming.

[2020-02-05 18:27] adamgfraser commented on #2802
Yes, `forever` has somewhat different semantics here since you wouldn't use it to like run a server forever. It is more "keep running this until it fails" like `eventually` is "keep running this until it succeeds". And yes you're right that `filter` has a somewhat different semantic here than in ZIO with the way it is implemented in terms of `collect`. Maybe it becomes `filterM`?

[2020-02-05 18:28] mijicd commented on #2802
We can actually rename `filter` to `retryUntil`?

[2020-02-05 18:29] adamgfraser commented on #2802
Yes and maybe add a `retryWhile` variant.

[2020-02-05 18:35] mijicd commented on #2802
I'll add those 2 separately and remove filter. With that in place, we can add `filter` to the companion easily.

[2020-02-05 18:42] #2786 closed

[2020-02-05 20:30] mijicd commented on #2802
After merging #2812, here's the final list of combinators to be added:

#### Class

- [ ] absolve
- [ ] andThen (with aliases)
- [ ] bimap
- [ ] catchAll
- [ ] catchSome
- [ ] compose
- [ ] doUntil
- [ ] doWhile
- [ ] eventually
- [ ] filterOrDie
- [ ] filterOrDieMessage
- [ ] filterOrElse
- [ ] filterOrElse_
- [ ] filterOrFail
- [ ] flatMapError
- [ ] flip
- [ ] flipWith
- [ ] flattenErrorOption

[2020-02-05 23:13] vasilmkd commented on #2269
Excellent first benchmarks. It would be really helpful if we could also run these benchmarks for non array chunks, which I believe are quite a bit slower than array backed chunks, due to boxing and pointer indirection. A healthy mix of concats, slices and singletons would go a really long way towards looking for optimizations.

[2020-02-06 01:07] ghostdogpr commented on #316
Closing this since we are properly releasing snapshots now

[2020-02-06 01:07] #316 closed

[2020-02-06 05:07] thesamet opened #2816 "In ZLayer.fromServicesM, R should not have type bounds"
In `ZLayer.fromServiceM` functions, `R` has a type bound of `<: Has[_]`. I think that this requirement is unnecessary, as in the definition of `ZLayer[RIn, E, ROut]` - `RIn` is unbounded. This creates a problem when the effect provided fromServiceM is an `IO`, as in that case `R` is `Any`, and is not a sub-type of `Has[_]`.

Let me know if this is unintentional and I can put together a PR.

[2020-02-06 05:14] adamgfraser commented on #2816
Yes I believe this is correct.

[2020-02-06 05:22] adamgfraser commented on #2816
PR would be much appreciated. 🙏

[2020-02-06 05:37] sken77 commented on #2802
I'll do

absolve
either
doWhile
doUntil
bimap

[2020-02-06 13:16] vasilmkd commented on #1765
Stream combinators that keep running state that have been made safe so far:

- [ ] `++` (`concat`)
- [ ] `absolve`
- [x] `aggregate`
- [ ] `aggregateAsync`
- [ ] `aggregateAsyncWithinEither`
- [ ] `aggregateAsyncWithin`
- [x] `aggregateManaged`
- [x] `buffer`
- [x] `bufferDropping`
- [x] `bufferSliding`
- [x] `bufferUnbounded`
- [ ] `catchAll`
- [ ] `catchAllCause`
- [ ] `chunkN`
- [ ] `collectWhi

[2020-02-06 13:22] vasilmkd commented on #1765
@mschuwalow I'm once again asking for your help. Would you mind helping out with the `GroupBy` testing? :pray:

[2020-02-06 14:09] vasilmkd opened #2821 "ZIO#absolve from a fallible effect?"
Is there a reason why ZIO#absolve is available on effects with error type `E` instead of `Nothing`? It seems a bit odd to me, because its inverse, `either` creates an infallible effect.

[2020-02-06 14:17] adamgfraser commented on #2821
I think just because we can unify it. If I have `ZIO[R, E, Either[E, A]` it is perfectly sensible to take any `E` values in the error channel and any any values in the left side of the either and put them both into the error channel. There is some loss of information there if you do have errors from both sources in where the error originally came from but a lot of more specific combinators do that

[2020-02-06 14:23] vasilmkd commented on #2821
Thanks. Feel free to close this.

[2020-02-06 20:34] adamgfraser opened #2824 "Flaky ZStream#interruptWhen Test"
[code]

https://circleci.com/gh/zio/zio/54820?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-02-06 20:44] sken77 commented on #2802
ill do

andThen >>>
compose <<<
catchAll
eventually
flatMapError
flipWith
flattenErrorOption

btw flip is already there

[2020-02-06 20:59] mijicd commented on #2802
Please split them up in logical groups though (:heart: for smaller PRs :)).

[2020-02-07 03:50] #2816 closed

[2020-02-07 04:58] sken77 commented on #2802
orDie
orDieWith

[2020-02-07 07:53] sken77 commented on #2802
doing
[code]

[2020-02-07 11:37] #2776 closed

[2020-02-07 11:38] #2821 closed

[2020-02-07 11:41] mijicd commented on #2755
@cheatmenot That'd be great. We have some helpers in both `interop-java` and `interop-guava`, feel free to take a look and suggest any changes you find necessary.

@adamgfraser I am closing this issue, but we should once again reconsider pulling the Java interop back into the core lib itself. We had some issues about that.

[2020-02-07 11:41] #2755 closed

[2020-02-07 12:14] #2794 closed

[2020-02-07 12:51] mijicd commented on #2802
Tackling factories (`fromOption`, `fromFunction` and `fromFunctionM`).

[2020-02-07 13:13] dkarlinsky commented on #2784
I would like to give this a shot.
@adamgfraser are we talking only about string diffing or also structured things like case classes?

[2020-02-07 18:05] jdegoes opened #2835 "Add ZIO to Dotty community build"
<https://github.com/lampepfl/dotty/tree/master/community-build/community-projects>

[2020-02-07 18:07] adamgfraser commented on #2835
I will do this.

[2020-02-07 18:23] adamgfraser commented on #2784
@dkarlinsky That would be great! Initial scope is just string diffing.

[2020-02-08 00:06] sken77 commented on #2802
adding
[code]

[2020-02-08 02:37] adamgfraser opened #2842 "Flaky Supervise Fibers Test"
[code]

https://circleci.com/gh/zio/zio/55390

[2020-02-08 04:19] adamgfraser opened #2844 "Make Sure We Are Ready to Publish for Next Release Candidate"
We've had a lot of changes since the last release candidate so as we come up on RC18 it would be good to make sure we are all set to publish our various projects without any hiccups. Things that come to mind are:

- [ ] **Scala Native** - we added Scala Native support but not sure if we need to do anything else to publish for that
- [x] **ZIO Test Magnolia and JUnit Test Runner** - We added ZIO Te

[2020-02-08 04:54] sken77 commented on #2802
doing sumarized

[2020-02-08 09:20] mijicd commented on #2802
Taking care of `left`, `right`, `orLeft`, `orRight`.

[2020-02-08 11:33] dkarlinsky commented on #2784
Cool @adamgfraser.
So it seems we would need to have the diff or the the two values to be diffed somehow included in `AssertionValue`. The actual value is there already, so if `Assertion` could optionally have the expected value, we would be able to create the diff in `DefaultTestReporter`, as part of `renderFragment`, for example.
So `equalTo` assertion will have the expected value and the test r

[2020-02-08 12:37] adamgfraser commented on #2784
@dkarlinsky I think that makes sense.

[2020-02-08 16:20] mijicd commented on #2844
I don't think there's anything special require for Dotty and native, but we'll double-check it.

[2020-02-08 17:30] adamgfraser commented on #2772
Closed by #2775.

[2020-02-08 17:30] #2772 closed

[2020-02-08 17:31] adamgfraser commented on #2844
Thank you! 🙏

[2020-02-08 17:43] adamgfraser opened #2851 "ZIO Test: Make it Easier to Configure Number of Property Based Tests"
Currently we can configure the size of generators using the `Sized` service but we can't configure the number of times to run a property based test without changing our code to use `checkN` instead of `check`. It could be nice to be able to continue to write tests with `check` but have those tests access some parameter with the number of times to run property based tests. This could be used, for e

[2020-02-09 10:14] vasilmkd commented on #2551
I thought I could fix `ZSink` for the time being, and maybe press on with the element level errors, but I came across the following observation. `ZSink#flatMap` _cannot_ be reliably implemented without a scope in which to keep the current state. Allow me to explain.

If the original sink in a `flatMap` combination emits elements as remainders, these remainders need to be fed through the second sin

[2020-02-09 14:23] jdegoes commented on #2851
I think the tradeoffs are exactly as you list them.

I think I'd prefer a single `TestConfig` or something trait that exposes 3-6 pieces of data that are used during the test, things like:

 - default number of retries
 - default number of repetitions
 - default number of samples
 - default size of generated values
 - etc.

Basically "ZIO Test Default Settings". These settings don't have to be eff

[2020-02-09 16:23] adamgfraser commented on #2851
Yes I think that is more scalable if we are going to have more than just one more piece of data. I will work on this.

[2020-02-09 19:07] vasilmkd commented on #2551
@jdegoes @iravid

I started implementing the new `Either[ZIO[R, E, A], Control]`, and apart from more convoluted code (unsurprisingly, but it did not deter me), I noticed one thing. Getting back an effect `ZIO[R, E, A]` in the left case now needs an implicit contract. Do we only evaluate this effect once, is it safe to evaluate it again, what do we do in case of an error `E`? I.e. we are back to o

[2020-02-10 02:58] sken77 commented on #2802
Doing `onFirst`, `onSecond`

[2020-02-10 05:05] sken77 commented on #2802
Ill add all the `option` related ones

[code]

[2020-02-10 12:28] fsvehla opened #2859 "effectBlockingInterrupt does not shift into the blocking pool"
While `blocking.blocking` properly shifts the effect into the Blocking pool, `effectBlockingInterrupt` does not.

Wrapping the effect returned by `effectBlockingInterrupt` into `blocking` does not resolve the issue.

I can also reproduce on RC17 with `effectBlocking` (which AFAICT was only renamed in master).

I’ve pushed a branch to reproduce it [here](https://github.com/fsvehla/zio/tree/fsvehla/

[2020-02-10 12:31] adamgfraser commented on #2859
Will take a look.

[2020-02-10 13:13] vasilmkd commented on #2551
If we really think about this Either effectful value or stream/sink control formulation, we have to ask ourselves, what kinds of errors are we handling with the future element level errors. The error type on the left side (the effect) is not really the same with the error on pull. Personally, this reminds me again of the scope error type, or even a separate error type for the scope.

[2020-02-10 15:25] Esardes opened #2861 "ZIO test: java.lang.InternalError: Malformed class name"
I think this is the same error as [this](https://github.com/mockito/mockito-scala/issues/117).

I have an exception defined in something similar as
[code]

When I try, in a test, to do `fails(isSubtype[Exception.MyException](anything))`,  I get an internal error
[code]

If I redefine my Exception to be
[code]
and my test to use `fails(isSubtype[MyException](anything))`, it works

[2020-02-10 17:16] jdegoes commented on #2551
First off, it should be, `Either[ZIO[B], Control[A, B]]` (other type parameters elided), because when the sink is done, it must produce a `B` value—whether it consumes nothing, or whether it consumes some `A`. But we could make this much more uniform if you like: `Either[Control[Unit, B], Control[A, B]]`. Then the same contract applies to both sides: the left hand side needs no input. The right ha

[2020-02-10 17:26] vasilmkd commented on #2551
I like the idea of `Unit` meaning no input. Is that not enough to unify degenerate sinks with other sinks that accept input?

[2020-02-10 17:36] jdegoes commented on #2551
The problem is that some streams/sinks do not know statically if they are degenerate (e.g. n > 0), which means you need the Either to defer that decision until runtime, and force all combinators to do the right thing by handling the degenerate possibility explicitly.

[2020-02-10 19:55] vasilmkd commented on #2551
The contract can be the same, that's awesome. Maybe we do not need the full Control on the left side, because there is no need for a query, if we already know that the sink/stream is an effectfully produced value (degenerate), as an optimization (fewer object allocations).

There is one more aspect to consider. Currently, we are rewriting streams to be able to be pulled again after they have signa

[2020-02-10 21:36] vasilmkd commented on #2551
Ah, now I see I have written `ZIO[R, E, A]` when I meant `ZIO[R, E, B]`, I was on my phone, I apologize for the confusion.

[2020-02-10 22:37] vasilmkd commented on #2551
@jdegoes

Do you mind giving a quick implementation of `def fromEffect[R, E, B](effect: ZIO[R, E, B])`? Here are my thoughts:

It is too tempting to express it using the `Left` (`ZStream[R, E, Any, B, Nothing]`) effect, but we are facing the following challenge. The effect should only ever be executed once, and the value memoized. But what happens if the effect fails? This is easily solvable in ou

[2020-02-11 01:41] #2859 closed

[2020-02-11 06:12] sken77 commented on #2802
doing `forever` `merge`

[2020-02-11 08:05] vasilmkd commented on #2861
This is a known Scala on JVM pre JDK 9. https://github.com/scala/bug/issues/2034

Not sure that we can do anything about it.

[2020-02-11 08:36] mijicd commented on #2802
Tackled some/none on companion.

[2020-02-11 09:55] mijicd commented on #2802
Tackled partition.

[2020-02-11 12:29] dkarlinsky commented on #2861
The assertion should probably catch the exception and fall back to the FQCN.
In one of my projects I had the following code to "safely" get simple class name:
[code]
@adamgfraser WDYT?

[2020-02-11 12:40] vasilmkd commented on #2861
I'm not sure we should be doing this. This is relying too much on the way Scala encodes class names on the JVM. In other instances where this bug has been encountered, we worked around by reorganizing the code structure. I'm against this change.

[2020-02-11 12:50] adamgfraser commented on #2861
Let’s step back for a minute here. My understanding is the the issue arises from calling getSimpleClassName in Assertion.isSubtype. Notice that we’re not using this method to determine whether the assertion is true (we do a subtype check for that) but just to render the assertion result. So it seems a little silly to blow up on just trying to render something when it doesn’t change whether the tes

[2020-02-11 13:01] dkarlinsky commented on #2784
So I copied the MUnit difflib into zio-test and hooked it up to `renderFragment`.
This is the output I'm currently getting:
![image](https://user-images.githubusercontent.com/1577551/74238797-317e4c00-4cdf-11ea-824b-8a4fc41aeced.png)
It looks like this algorithm is geared towards multi line inputs, and highlights changes at line granularity.
I think that a lot of string equality assertions in test

[2020-02-11 13:09] vasilmkd commented on #2861
In the end, I have no power here, so feel free to disregard my opinion. I linked the relevant scala repository issue in my first comment, there should be enough information there to make a decision.

[2020-02-11 13:11] adamgfraser commented on #2784
Just to be clear, we want to implement our own diffing functionality based on the Myers diff algorithm versus use the implementation from MUnit. Agree that how to present diffing results requires some thought but I don’t think the underlying algorithm relies on any concept of lines (it is used to power diffing on Github and I think the presentation of single line diffs there is fine for example).

[2020-02-11 13:19] dkarlinsky commented on #2784
Ok, I will look into the algorithm itself

[2020-02-11 13:40] adamgfraser commented on #2861
@vasilmkd i don’t want to disregard your opinion, I want us to make the best decision together based on all the information available to us. We’ve got this assertion, at least as I understand it we can always tell whether A is a subtype of B. We want to have some way to render that assertion (doesn’t have to be valid code but has to be informative to the user) and we have this wart in the language

[2020-02-11 13:46] vasilmkd commented on #2861
Sorry for sounding harsh, but I don't have a problem with you disregarding my opinion. 🤣

It's not going to be fixed, or rather, it's fixed in JDK 9 and upwards by the JVM developers, not by Scala. I see it as a wart of the virtual machine, not the language, and therefore, to me, it is undefined behavior. For as long as we are running on JDK 8, we should treat all code that causes this exception t

[2020-02-11 14:20] adamgfraser commented on #2861
What if we just use `getName` instead of `getSimpleName`?

Also, as I am looking at it I wonder if we need a `Manifest` here instead of a `ClassTag`. For example, the following test passes right now:

[code]

[2020-02-11 15:48] vasilmkd commented on #2551
I found an interesting haskell library that claims to implement bi-directional messaging between the producer and the consumer side, as well as a sink and a transducer data type. I'm linking it here so that I do not lose the resource, but I'm still learning to read and understand Haskell code, so I will comment more when I have analyzed it a bit better.

https://hackage.haskell.org/package/drinker

[2020-02-11 15:53] jdegoes opened #2873 "ZIO Core: Add temporary DefaultRuntime to assist with migration"
I think we should bring back a backward-compatible `DefaultRuntime` for RC18 and ship it `@deprecated` so that people will know it's going away in 1.0. This will assist with the migration. Also in the docs we can point people to the more official way to do things: with the bootstrap runtime and `provideLayer`.

To implement this ticket:

 - Dig back into RC17 code and look at `DefaultRuntime`
 - I

[2020-02-11 16:05] adamgfraser commented on #2873
I’ll take this.

[2020-02-11 16:11] jdegoes commented on #2551
I agree this should be `ZStream[R, E, Any, B, Nothing]`. This precisely models an effect: it's an effect that produces no values, but terminates right away with a `B`, or fails with an `E`.

A separate operator could shift the terminal value into the stream value.

I'll address the other questions later and also propose try to propose a simpler design that removes the need for some of these questi

[2020-02-11 19:29] adamgfraser commented on #2861
Just submitted a PR for this. I took the approach of trying to use the `getSimpleName` and if that fails falling back to `getName`.

@dkarlinsky Thank you for the suggestion. I ended up handling the error a slightly different because I didn't like if the class name was quoted splitting on `$` could lead to only returning a fragment of the class name but I incorporated your basic idea of catching a

[2020-02-11 20:13] sken77 commented on #2802
doing

[code]

[2020-02-11 21:28] HansBrende opened #2876 "ZIO.cached doesn't work for ttl = Duration.Infinity"
[code]
prints:
[code]
expected output:
[code]

Also, please note the javadoc on `System.nanoTime()`:

https://docs.oracle.com/javase/8/docs/api/java/lang/System.html#nanoTime--

[2020-02-11 21:31] adamgfraser commented on #2876
Thanks for reporting! Will take a look.

[2020-02-11 21:58] jdegoes commented on #2551
Yes, you are right, we can optimize that to be more minimal, but keep the (reduced) contract, perhaps.

That will require a lot of state tracking. Perhaps the contract should be that pulling from a stream that has already signaled end is undefined?

We could explore an alternate state machine encoding:

[code]

whose dual would be something like:

[code]

This at least makes the contract clear in

[2020-02-11 22:31] vasilmkd commented on #2551
@jdegoes @iravid

The `Step` proposal is very similar to the `Step` encoding that we had in `ZSink` when I first started contributing to the project, so that's something. 😆

On a more serious note, I'm guessing we should augment the `Done` case for `ZSink` with leftovers. And I'm not sure how that ties in with `ZStream`, or rather, what should the dual to leftovers be.

We are already rewriting `Z

[2020-02-11 23:08] vasilmkd commented on #2551
I need to ask this question. If we are going to seriously consider a state machine representation, which will end up wrapping all outputs and next states, isn't that even more expensive than a `Managed[R, Nothing, Option[A] => ZIO[R, Either[E, B], Any]]` encoding for `ZSink`?

[2020-02-11 23:34] jdegoes commented on #2551
I'm not sure about that. The moment we do that, we lose the ability to do `sink1 >>> sink2 >>> sink3`, which is extremely desirable.

Agreed. And it's my feeling that when we do it exactly right, the pieces will call come together perfectly (they fit together well right now, but not quite perfectly, so we have to do a bit more work). I'm committed to helping that happen and appreciate your help an

[2020-02-11 23:42] #2876 closed

[2020-02-12 06:35] vasilmkd commented on #2551
UTC +1 (Central European Time).

[2020-02-12 09:34] mijicd commented on #2802
Tackled `filter`.

[2020-02-12 12:24] #2861 closed

[2020-02-12 12:38] #2873 closed

[2020-02-12 15:17] #2187 closed

[2020-02-12 15:19] regiskuckaertz commented on #1972
hiya, I'd like to add

- [ ] no "Coming soon" page on the site. For a library of ZIO's stature, it has received a bit of criticism on this side of the ocean.

[2020-02-12 15:20] regiskuckaertz opened #2881 "Add a JS-specific interop layer for promises"
Same as Java interop but for [`scala.scalajs.js.Promise`](https://www.scala-js.org/api/scalajs-library/1.0.0-M2/scala/scalajs/js/Promise.html). Methods can be added to ZIO trait and companion objects via the `*PlatformSpecific` traits in the `js` branch.

[2020-02-12 15:23] adamgfraser commented on #1972
Yes, I think this actually fits into a broader issue of needing to get ZIO Test its own microsite or at least section on the main navigation. Content for ZIO Test currently exists under "Use Cases - Testing" and "How To - Test Effects" but it is split across two places and the summary of the "How To" page says "coming soon" even though there is content on the subpages you can navigate to form the

[2020-02-12 15:28] regiskuckaertz commented on #1972
Ouch, I missed the "Test" in the title, sorry for the confusion. I meant for the whole ZIO library, but yeah I agree with you the situation right now is not ideal. Let me know if I can help 👍

[2020-02-12 15:37] regiskuckaertz commented on #2781
Do you think `Chunk` is here to stay? I'm asking because the effort is not trivial and it may be that [the upcoming implementation of `Vector`](https://github.com/scala/scala/pull/8534) obliterates the need for it—IIRC the reason it was added in the first place is good append and random access.

[2020-02-12 15:41] regiskuckaertz commented on #2737
Looks like this is done.

[2020-02-12 15:41] #2737 closed

[2020-02-12 15:42] regiskuckaertz commented on #2736
Looks like this is done.

[2020-02-12 15:42] #2736 closed

[2020-02-12 15:42] regiskuckaertz commented on #2835
Done here: https://github.com/lampepfl/dotty/pull/8249

[2020-02-12 15:42] #2835 closed

[2020-02-12 15:51] regiskuckaertz commented on #2699
It feels counter-intuitive to return `false` in my opinion. The contract of sliding/dropping is that they _will_ drop elements on the floor but that has nothing to do with the success of the enqueue operation. In fact they guarantee the operation will be successful, right? (barring the queue has been shut down)

[2020-02-12 16:13] regiskuckaertz commented on #2551
This is a super interesting ticket and I'd love to help. Can I try my hands at migrating some `ZStream` functions?

[2020-02-12 16:16] regiskuckaertz commented on #2661
@megri gonna close this as it's been resolved, but please feel free to reopen if your experience with the latest build is different.

[2020-02-12 16:16] #2661 closed

[2020-02-12 16:18] vasilmkd commented on #2699
After thinking for a few weeks about this, I tend to agree with you @regiskuckaertz.

[2020-02-12 16:19] vasilmkd commented on #2551
@regiskuckaertz Of course! However, be warned that we still haven't landed on a finalized encoding, and you may end up rewriting the code. However, it will still be valuable implementation experience for the whole undertaking. 😄

[2020-02-12 16:38] regiskuckaertz commented on #2613
It seems like adding support for weighted distributions, for skewing the probabilities, akin to the `frequency` function in QC and Hedgehog, is a logical generalisation for that feature?

[2020-02-12 16:42] adamgfraser commented on #2613
We have `Gen.weighted` for that so I think it is more a matter of using that in the implementation of these generators.

[2020-02-12 16:43] regiskuckaertz commented on #2613
ah, didn't see it. Yeah that makes sense 👍

[2020-02-12 18:56] jdegoes commented on #2781
Yes, Chunk is here to stay. Vector boxes primitives, Chunk does not.

@adamgfraser I forgot about this ticket. I was more imagining that methods like `ZIO.foreach` would be polymorphic in the collection type. They would support returning anything that can be created from a chunk. So you'd do, e.g. `ZIO.foreach[Vector](...)` to get back a `Vector`.

I think that can be done in a lower-kinded (infer

[2020-02-13 03:02] ghostdogpr commented on #2699
Okay, it makes sense. I'll return `true` then.

[2020-02-13 04:56] #2699 closed

[2020-02-13 05:26] sken77 commented on #2802
doing reject/rejectM

[2020-02-13 07:28] jkobejs commented on #2720
Doing fromIterable, fromIterator, fromChunk

[2020-02-13 08:00] regiskuckaertz commented on #2720
@jkobejs I did fromChunk [here](https://github.com/zio/zio/pull/2889) but happy to remove it, as I only needed it for writing a test 😅

[2020-02-13 08:04] jkobejs commented on #2720
You don't need to remove it, I'll remove it. 😄

[2020-02-13 09:00] regiskuckaertz opened #2890 "Flaky validateFirstPar"
On Dotty:

[code]

[2020-02-13 09:16] regiskuckaertz commented on #2720
Taking flatmap.

[2020-02-13 21:41] thesamet opened #2895 "zio-test's provideLayer is broken"
I have a test suite that uses `provideLayer`. Since 5f99983b, the tests fail without providing any output:

[code]

[2020-02-13 21:52] thesamet commented on #2895
Added a minimal example of this issue in this commit https://github.com/thesamet/zio/commit/63b332e623260a153a25d128473e402ca8538c79

[2020-02-13 22:11] adamgfraser commented on #2895
Thanks for reporting! Will take a look.

[2020-02-13 22:49] adamgfraser commented on #2895
Looks like some kind of early initialization issue. If I change to `lazy val layer4` it works. Trying to track down.

[2020-02-14 13:21] vasilmkd commented on #2551
@jdegoes Something that we haven't revisited since the last big migration of `ZStream`.
https://github.com/zio/zio/issues/1388#issuecomment-520394659

[2020-02-14 13:59] iravid commented on #2551
We actually did discuss that at some point (can't find the issue though... might've been on Gitter); the problem with that encoding was partial extraction.

[2020-02-14 14:06] vasilmkd commented on #2551
Sending an equivalent of `Pull.end` doesn't suffice?

[2020-02-14 14:12] iravid commented on #2551
Actually, that might be possible if it's `ZManaged[Pull => ZIO[...]]`. Not sure how different it is from the current encoding proposed in this issue though.

[2020-02-14 14:26] vasilmkd commented on #2551
Yes, the `ZManaged` is absolutely needed.

[2020-02-14 14:48] adamgfraser commented on #2895
I looked into this and I actually don't think the issue is related to that PR or even `ZLayer`. I was able to minimize to the following:

[code]

I think the problem is actually related to the way we changed `DefaultRunnableSpec` to be a trait and early initialization issues in Scala. If we define a local value within the spec like `env` above it is fine to use in evaluating tests in the spec itse

[2020-02-14 15:15] adamgfraser commented on #2895
@jdegoes Can you think of anything better to do here?

[2020-02-14 16:26] jdegoes commented on #2895
@adamgfraser

A quick analysis of the code suggests That `RunnableSpec.run` may be the problem, because it's accessing the `spec` in building a `val`.

I'd make that `def` and any other `val` a `def` too.

[2020-02-14 16:27] jdegoes commented on #2551
@vasilmkd Thanks for bringing that up. I really liked the simplicity of that design and its suitability for performance optimization.

In that design, we'd have something like:

[code]

The complication arises because the stream can run out of elements before the sink can produce a `B`.

Ultimately, we must have a specialization of `ZStream.Control` for `InputStream`, and a specialization of `ZSin

[2020-02-14 16:30] iravid commented on #2551
My intuition is that making the sink the driver for the operation makes combinators like `aggregate` which require control over the transduction process harder to write, while not gaining much in terms of expressiveness compared to the current encoding.

Happy to see otherwise though!

[2020-02-14 16:33] adamgfraser commented on #2895
@jdegoes You are 100% right. That resolves the problem very cleanly. Thank you!

[2020-02-14 16:38] vasilmkd commented on #2551
How is this a problem, and why hasn't it been a problem up to now? Or, in other words, how is this solved in the other encoding that we have discussed so far?

[2020-02-14 16:44] iravid commented on #2720
Doing `fromEffect`, `bracket` and `ensuring`

[2020-02-14 16:47] regiskuckaertz commented on #2720
@iravid I took the liberty of ticking them off the list; makes it easier for people to know which ones are left for grabs.

Taking various constructors: die, fail, halt, range, succeed, empty, never, unit.

[2020-02-14 16:50] iravid commented on #2720
@regiskuckaertz Much appreciated! 🙏🏻

[2020-02-14 17:01] iravid commented on #2720
Doing take as well.

[2020-02-14 17:02] regiskuckaertz commented on #2720
Nice! I was just looking at takeWhile. It looks like for these, we will have to override the end marker to be `()`.

[2020-02-14 17:08] iravid commented on #2720
I went with `Option[B]` as that can retain maximal information

[2020-02-14 17:09] iravid commented on #2720
(although I might be proven wrong when we get to combinators that combine streams...)

[2020-02-14 17:12] iravid commented on #2720
@regiskuckaertz @vasilmkd

This is actually pretty reminiscent of `fs2.Pull`. That one has type parameters for outputs and a result type. But only pulls with `B = Unit` can be converted back to streams.

`B` might indeed prove challenging when we start composing streams. We already glossed over it in `flatMap` - maybe we should have set the resulting `B` to `List[B1]`?

[2020-02-14 17:12] iravid commented on #2719
Doing `ZSink.drain`

[2020-02-14 17:13] regiskuckaertz commented on #2720
Ha, yes I like both `Option` and `List`. Will use that and also update flatMap 👍

[2020-02-14 17:29] vasilmkd commented on #2720
What if these lists start to get out of hand? What about infinite lists (I know the implementation does not go through `flatMap`), but semantically, it's the same thing.

[2020-02-14 17:31] iravid commented on #2720
Yes, that's a good point. It may be infeasible to keep those `B` values around.

[2020-02-14 17:33] iravid commented on #2720
I suggest that we do not make any special effort to preserve `B` values when it is not immediately apparent how to do so. We might need some specific combinators for doing that (e.g. `flatMapAccumulate` that takes a `(B, B) => B` in addition...)

[2020-02-14 17:44] vasilmkd commented on #2720
Ok. Personally, I have no problem with that. But this has already happened before. We didn't care about errors, throwing them around at our convenience, just for the sake of fast iteration. Then the effort to correct that started, which still isn't finished, and now we are starting another rewrite. I'm not complaining, but these things, these special features, these things that are genuniely _hard

[2020-02-14 18:02] regiskuckaertz commented on #2720
Alright, not changing flatMap then.

[2020-02-14 18:10] adamgfraser opened #2900 "Rationalize Redundant Methods"
I noticed that with some of our recent additions we have a couple of methods that do the same thing:

[code]

[code]

Does anyone have a preference for which versions we should keep?

[2020-02-14 18:26] #2895 closed

[2020-02-14 19:01] iravid commented on #2720
@vasilmkd Thanks for voicing that concern, it is indeed valid and your work around those combinators was essential in fleshing out how error preservation should work!

So if I follow what you're saying - you are not yet convinced by `B` on `ZStream`? I'm of the same opinion, so  I am naturally shying away from investing too much time in supporting it properly throughout the combinators.

Perhaps a

[2020-02-14 19:47] iravid commented on #2720
To clarify, there is no hard deadline to get this branch in, as we are not guaranteeing binary compatibility for the streams module until 1.1/1.2. There's ample time, therefore, to experiment and get this right.

If you (@vasilmkd @regiskuckaertz et al) feel it's better to figure out exactly how to utilize and compose `B` values before continuing to port combinators, I'm onboard with that.

[2020-02-14 21:44] mijicd commented on #2802
Doing `flatten`, `_1`, _2`

[2020-02-14 21:50] jdegoes commented on #2551
@vasilmkd Well, in our usual encodings, the stream is the driver. But this encoding flips that, so the sink becomes the driver, responsible for pulling what it needs from the stream.

(More later.)

[2020-02-14 21:59] vasilmkd commented on #2720
Officially summoning @jdegoes to the discussion, just so he is aware of the `flatMap` `B`s situation.

[2020-02-14 22:26] sken77 commented on #2802
Doing `mergeAll` from the companion

[2020-02-14 23:36] sken77 commented on #2802
Doing `reduceAll` from the companion

[2020-02-15 12:17] jdegoes opened #2907 "Create provideCustomLayer"
In many user-cases, `provideSomeLayer` will be utilized:

 - to provide the non-ZEnv part of the environment
 - to provide the non-(ZEnv + test) part of the environment (ZIO Test)

We could have helpers, `provideCustomLayer`, affixed to the data types, which simply call `provideSomeLayer`, and which fix the remainder to be ZEnv (in ZIO Core) and ZEnv + TestEnvironment (in ZIO Test).

Then a lot of

[2020-02-15 12:23] adamgfraser commented on #2907
I will take this.

[2020-02-15 15:00] jdegoes commented on #2900
I like the `orElse` variants because they are at least part of the same family, with consistent naming.

OTOH `asError` mirrors `as` and there is precedent for that pattern across the combinators.

🤷‍♂

[2020-02-15 15:01] #2907 closed

[2020-02-15 22:25] marktoujiline commented on #2900
What advantage does `asError` or `orElseFail` provide over `mapError`?
[code]

[2020-02-15 22:27] adamgfraser commented on #2900
@marktoujiline Just ergonomics. saves you from having to write a function that ignores its input when you just want to map the error to a constant value.

[2020-02-15 22:36] marktoujiline commented on #2900
Reason I'm asking is ZIO has so many ways to handle errors it can be overwhelming, especially for someone starting out (like me). I'd prefer having just `mapError` and `flatMapError` if possible. The smaller the surface area of ZIO, the easier it is to learn.

[2020-02-15 22:40] adamgfraser commented on #2900
I hear you. I think the ship has kind of sailed on that because there is another set of people who want the more specific combinator for their use case. My advice for a beginner would be that essentially every error handling combinator is implemented in terms of `foldM` so if you use that you will never be wrong and then there is probably a more specific variant for your use case.

[2020-02-16 12:51] mijicd commented on #2802
Tackled `mapN`.

[2020-02-16 13:00] mijicd commented on #2802
Tackled `replicate`.

[2020-02-16 21:21] pshirshov opened #2917 "ZIO LightTypeTag"
Proof of concept support for zlayer has been introduced in https://github.com/zio/zio/pull/2911

Things left to do:

- [x] Izumi LightTypeTag has to be copied into the [new repo ](https://github.com/zio/izumi-reflect)under ZIO organization
- [x] Setup sonatype publishing
- [x] ZIO codebase should be switched to zio.dev:izumi-reflect (see https://github.com/zio/zio/pull/2967)
- [ ] Binary compatibi

[2020-02-16 22:15] sken77 opened #2918 "refactor ZManaged and ZIO mergeAll/reduceAll combinators"
https://github.com/zio/zio/pull/2910

[2020-02-16 23:49] sken77 commented on #2802
add

`whenCase`
`whenCaseM`

[2020-02-17 00:11] #2918 closed

[2020-02-17 06:01] sken77 commented on #2802
add
`validate`
`validateFirst`

[2020-02-17 21:39] mijicd commented on #2802
Porting `refineOrDie` and `refineOrDieWith`.

[2020-02-17 21:59] jkobejs commented on #2720
Taking fold related combinators

[2020-02-17 23:11] ioleo commented on #2692
@adamgfraser @jdegoes FYI: started working on this. Looks promising so far. Will post PR when its complete.

[2020-02-18 12:24] jdegoes commented on #2692
@ioleo Awesome, keep us posted! 🙏

[2020-02-18 13:18] jdegoes commented on #2720
I do think it's worthwhile to look at problematic cases early on. After all, we're hoping this will be the last incarnation of stream for 1.x.

On Stream `flatMap` with `B` (and `++`), to avoid losing information, you'd ideally want a semigroup on `B`. We can't do that directly, of course, but we can force `Unit` or `List` (making our own "free" semigroup), as has been suggested; the latter is ina

[2020-02-18 17:06] dariusrobson opened #2929 "ZLayer succeed, fromEffect, and fromManaged inconsistent?"
```ZLayer.fromEffect``` and ```ZLayer.fromManaged``` accept a IO/Managed where ```A <: Has[_]```
whereas ```ZLayer.succeed``` just accepts ```A``` (and the implementation wraps this in ```Has(a)```).

Client code to create a Layer for effectful/managed resources requires wrapping in ```Has(_)``` but this is not the case for values. Is this inconsistent? (and should it be addressed?)

[code]

[2020-02-18 17:09] dariusrobson commented on #2929
@iravid @adamgfraser I have created an issue to discuss these ZLayer signatures (as mentioned on discord)

[2020-02-18 18:22] iravid commented on #2929
Just doing `A: Tagged` on all versions and not requiring `A <: Has[_]` seems more ergonomic to me. cc @adamgfraser

[2020-02-18 19:27] vasilmkd commented on #2720
What if we go full conduit style?

`ZConduit[-R, +E, -I, +O, +Z] = ZManaged[R, Nothing, I => ZIO[R, Either[E, B], O]]` with

`type ZStream[-R, +E, +O] = ZConduit[R, E, Unit, O, Unit]` and

`type ZSink[-R, +E, -I, +Z] = ZConduit[R, E, I, Unit, Z]`?

[2020-02-18 19:30] HansBrende commented on #2900
I personally like the `orElse` variants better, because they seem less ambiguous.

If `as` is mapping a success to a success, `asError` sounds like you are mapping a success to an error, when it is really mapping an error to an error.

[2020-02-18 19:33] adamgfraser commented on #2929
I think that makes sense. Will update tonight.

[2020-02-18 20:29] jdegoes commented on #2720
What is Z?

[2020-02-18 20:33] vasilmkd commented on #2720
`B` in our previous discussion.

[2020-02-18 20:50] sken77 commented on #2802
so the ones left are `caughtSome` requires `Cause` in ZIO how would that translate in ZSTM? any further discussio for `forever`?

[2020-02-18 21:19] vasilmkd commented on #2720
First of all, sorry I couldn't write more in depth any sooner. My reasoning is the following.

Why have concepts like `degenerate` sinks (just a value) and streams with just 1 value, when we can unify them in a data structure that ends with the value (`def succeed[A](a: A): ZConduit[Any, Nothing, Unit, Nothing, A]`). If we do want a stream with 1 value, we can have the following type signature (al

[2020-02-18 22:18] jdegoes commented on #2720
@vasilmkd I like it. You have some errors in your code snippets which confused me.

Note fiber has zip and zipWith which are really versions of `++`. I'll try to write more soon but I think you're onto something nice and clean which has the properties we want.

[2020-02-18 22:25] vasilmkd commented on #2720
I was typing these directly into github comments. I'm sure they can be corrected in a code editor. Also we probably need other type variables, for some reason `I` and `O` seem weird to type, especially when you need `I1` and `O1`, but it may just be me.

The inspiration definitely comes from the `conduit` Haskell library, but it is a ZIO native translation. 😄

[2020-02-19 01:36] adamgfraser commented on #2929
So looking at this more I actually don't think we can do this. It makes the simple case slightly more ergonomic but makes anything more complicated significantly more difficult. The issue is that `Has` lets us safely express multiple dependencies, whereas with `Tagged` we can only express one dependency at a time.

For example, consider the definition of the `TestConsole` service:

[code]

Here th

[2020-02-19 02:56] adamgfraser commented on #2802
We should be able to implement `catchSome` without `Cause`. We can just use `catch` and recover with the partial function if it matters or else retail. I guess `forever` is up for debate but I think it is a well defined combinator. It is certainly easy to implement.

[2020-02-19 06:41] iravid commented on #2720
I see several issues:
1. I am still not seeing usecases that justify adding `I` and `B` to `ZStream`, and paying the cost of bad error messages (type aliases always expand in error messages) and more sophisticated semantics. But still willing to be convinced by a good usecase! The comparison to `fs2.Pull` is a good one, but we've seen that we are able to write all combinators without `B`, whereas

[2020-02-19 07:00] iravid commented on #2929
Ahh, that makes sense. Thank you for clarifying @adamgfraser. I am 👍 on changing `succeed` to `[A <: Has[_]]` and coming up later with good names for the `A: Tagged` versions of the other constructors.

Agreed on the potential confusing on `fromServicesM/fromServicesManaged`, though I think those constructors are addressing usecases that are far less common than `fromManagedService/fromEffectServi

[2020-02-19 07:04] iravid commented on #2720
Maybe we can ask @snoyman for common usecases for `i` and `r` on sources in `ConduitT`?

[2020-02-19 07:11] iravid commented on #2720
Thinking about this again, I'm open to `ZStream` and `ZSink` being case classes (rather than type aliases) over a more general `ZConduit` data type that can represent streams and sinks. That would eliminate most of my ergonomics concerns.

[2020-02-19 08:09] vasilmkd commented on #2720
I agree about `ZStream`, I'm already in love with its current ergonomics. `ZSink` kind of worries me these days. It seems that it has become a kitchen sink for every feature that we are hesitant to add to`ZStream`. It needs to end with a value? Check. It needs to accept input elements? Check. It needs to be queriable at any moment (essentially be a stream at the same time)? Check. It can bypass al

[2020-02-19 08:15] vasilmkd commented on #2720
Maybe these features can be distributed among the two new data types, surely they are not needed by both.

[2020-02-19 10:27] dariusrobson commented on #2929
I think that having both (```A <: Has[_]``` and ```A: Tagged```) versions would be ideal.

I was doing something like this:

[code]

and expected a way to remove the ```.map(Has(_))``` boilerplate
But I completely see the problems with naming conflicts.

[2020-02-19 12:20] jdegoes commented on #2720
If we do the more conduit model, maybe we should use OOP here and make `ZSink` and `ZStream` extend `ZConduit`. That way "common operators" can be left in `ZConduit` and specific operators can be located in the children. Might achieve the benefits of `case class` wrappers, but also additional benefits: no need to delegate common methods to a common implementation.

[2020-02-19 12:26] jdegoes commented on #2720
While we're bikeshedding maybe we should also discuss chunkifying everything:

[code]

Would be awesome to get down to 1 data type in 2 flavors.

[2020-02-19 12:29] vasilmkd commented on #2720
There is one problem with this though that we are not considering, and it is the usual one: `aggregateAsync`. @iravid Would you be willing to look for an alternative solution for the whole combinator? I'm starting to suspect that using a `ZSink` might not be the best solution.

[2020-02-19 12:31] vasilmkd commented on #2720
Returning a non empty chunk of units seems a bit strange to me.

[2020-02-19 12:39] vasilmkd commented on #2720
If you think about it more carefully, the "common" combinators would be the combinators that are more traditional to `ZSink`, and would utilize features that are just not needed in `ZStream` like pushing, producing a final value and returning remainders.

What if we instead define a `ZPipeline[-R, +E, -I, +O, +Z] =:= ZConduit[R, E, I, O, Z]` which would contain the logic for interaction between th

[2020-02-19 12:47] jdegoes commented on #2720
@vasilmkd I did briefly consider online aggregation:

[code]

[2020-02-19 13:06] iravid commented on #2720
@jdegoes

That'd be nice. Which operators would be common to the two? And say we've been upcasted to a conduit - how do we get back to a more specific type?

One of the biggest downsides of implicit chunking is how easy it is to lose the chunking (by doing e.g. `stream.flatMap(ZStream.succeed(_))`. I find the explicit chunking a nice benefit of the current implementation.

@vasilmkd

What is the p

[2020-02-19 13:14] vasilmkd commented on #2720
Agreed on the chunking.

@iravid `ZSink` as defined in terms of `ZConduit` doesn't directly support querying the state. It needs a wrapper like `ZAggregator` sketched above.

[2020-02-19 13:24] jdegoes commented on #2720
@vasilmkd

@iravid and I discussed transducer as another type of conduit:

[code]

Common operations (from `Profunctor`, `Arrow`, and error handling / scheduling stuff) would go on the supertype `ZConduit` (and possibly be overridden in subtypes to the most specific type possible, e.g. composing a stream with a transducer should yield a stream, rather than a conduit), while anything `Applicative`

[2020-02-19 13:36] vasilmkd commented on #2720
I think we will still need a `ZAggregator` as I currently don't see a way for `ZTransducer` to output an `O` without providing an `I` (needed for `aggregateAsync`).

@jdegoes Are you saying we should press forward with this design? 😱

[2020-02-19 13:39] iravid commented on #2720
Possibly we could have an `exposeState` combinator that results in a `Ref` (or similar construct) that you could query for the current state?

[2020-02-19 13:42] iravid commented on #2720
Yes, the biggest issue today with chunking is that not all combinators are ported, so staying chunked is not as attractive. Let's go ahead with doing implicit chunking. I found myself flattening out chunks a bunch of times to improve ergonomics so this is telling.

[2020-02-19 13:48] vasilmkd commented on #2720
This is what I meant by an alternative approach to `aggregateAsync`. :+1:

@iravid Missing combinators seems more like a sign of a young library. It is our own fault as implementors too, we seem to overlook `ZStreamChunk` when adding new features.

I'm hesitant to go for implicit chunking at the moment. Would you allow some more time to think about it?

[2020-02-19 13:52] iravid commented on #2720
Ah, sure. `aggregateAsync`'s API doesn't have to change; it can do that adaptation internally.

Sure.

Some more of my thoughts on this:
- The only benefit to explicit chunking is not losing the chunking accidentally. Phantom types are an interesting approach but we are already on 5 type parameters :-P Other cons to explicit chunking is the need to write combinators that handle both cases. That's

[2020-02-19 13:55] vasilmkd commented on #2720
Ok, I see your point. Just out of curiosity, would Dotty's match types help out in this situation (and the typeclass workaround that you sketched out for me). Not saying we should pursue it, just interested.

[2020-02-19 14:02] vasilmkd commented on #2720
Having an empty `Chunk[I]` fed to the push method on `ZSink` can be used as a signal to extract the current state. Maybe. We might have a problem with `Chunk[Unit]` being fed to a `ZStream` though. Not sure how `I =:= Nothing` would work in this case?

[2020-02-19 14:04] jdegoes commented on #2720
Right, I feel like, with manual chunking:

 - ❌ few people will use it (only super knowledgeable experts for high-perf scenarios)
 - ❌ it's twice the code to maintain
 - ✅ it's clear when you lose chunking

With automatic chunking:

 - ✅ everyone will use it
 - ✅ it's half the code to maintain
 - ❌ it's unclear when you lose chunking (but experts can figure it out)

Thus it seems like automatic ch

[2020-02-19 14:06] jdegoes commented on #2720
I think that's interesting. Certainly, if we don't have `Chunk.NonEmpty` requirement on input, then we have the type-level guarantee that you can always extract "state" for what would be a `ZTransducer`. Which is enough to satisfy online aggregation requirement.

The main tradeoff is that allowing empty chunks on either side just makes more work for common cases, but we can abstract over that, of

[2020-02-19 14:10] jdegoes commented on #2720
So we are at some variation of:

[code]

where `ZTransducer` is also used for online aggregation, where `O` is the state of the aggregator (which means we should have easy / friendly applicative composition over these things).

[2020-02-19 14:20] vasilmkd commented on #2720
Exposing subtypes of `Chunks` is not something that we have done up to now and might interfere with the planned improvements (hopefully). It would be harder to maintain source and binary compatibility in case of changes.

[2020-02-19 14:22] iravid commented on #2720
Actually going back on `ZTransducer` - why do we need both `ZSink` and `ZTransducer`? It appears that `ZTransducer` can express the same things that `ZSink` can.

[2020-02-19 14:24] vasilmkd commented on #2720
Yeah, with an empty `Chunk` as input, it serves mostly as a type alias to `ZSink` it seems.

[2020-02-19 14:27] iravid commented on #2720
Right. We can safely start off with `ZSink` only and tackle online aggregation first to see how feasible it is to handle.

[2020-02-19 14:52] jdegoes commented on #2720
Sinks produce a value when they are done. Transducers produce (potentially) a value at every step. So they have different forms

[2020-02-19 15:10] iravid commented on #2720
Aren't we saying that a sink is a transducer that outputs Unit values?

[2020-02-19 15:27] jdegoes commented on #2720
Not quite:

 - transducers never finish (Z should be Nothing, in fact)
 - sinks finish with a value
 - transducers compose applicatively on output
 - sinks compose applicatively/monadically on terminal value

[2020-02-19 15:59] iravid commented on #2720
Ok! Let’s see where this takes us

[2020-02-19 16:12] iravid commented on #2720
@vasilmkd would you have the cycles to refactor the staging branch?

[2020-02-19 16:19] vasilmkd commented on #2720
It will be my absolute honor. I always find cycles for ZIO.

[2020-02-19 16:49] jdegoes commented on #2720
@vasilmkd Careful there, you'll end up working for Ziverge 😂

[2020-02-19 17:48] vasilmkd commented on #2720
Are 100 pull requests to ZIO a good enough portfolio? Fifth contributor by lines added? Asking for a friend. @jdegoes

[2020-02-19 20:23] iravid commented on #2720
Updated the description. New staging branch is `feature/zconduit`.

[2020-02-19 20:25] iravid commented on #2720
I am also still unclear on which current ZSinks stays ZSinks and which ZSinks become ZTransducers. I guess this will clarify as we go, but @jdegoes @vasilmkd please share any intuitions/examples you might have.

[2020-02-19 21:51] jdegoes commented on #2720
Any reframing ones will become transducers. Actually, I think we can have a combinator, `ZSink#toTransducer` that turns a sink into a transducer, by repeating it. Then `ZStream#transduce(sink)` will simply be implemented as `self >>> sink.toTransducer`.

[2020-02-20 04:23] softinio commented on #2844
Verified dotty we are 100% good and ready here it is it being published successfully for snapshot:
https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio_0.22/

But I don't see any scala native jars being published so we may have a problem there. Will dig more and if issue will work on fixing it asap.

[2020-02-20 04:44] softinio commented on #2721
@peterlopen

Sorry for late reply (I need to fix my github email filtering :-) )

Agree with merging block.

Ultimate solution is to get it fixed in mdoc via the issue I created. Failing that guess choose from the 3 options the one that provides the most clarity in the docs. Maybe 3? Which is the one you hate the least :-) ?

[2020-02-20 09:50] zach-albia commented on #2264
I would like to work on this. Where would be a good place to put this link?

[2020-02-20 11:18] zach-albia opened #2938 "Update "How to > Use Module Pattern" docs in view of ZLayer"
Now that we have `ZLayer`, an update on structuring large ZIO programs would be a great help to newcomers along with a separate page for `ZLayer`.

[2020-02-20 11:35] adamgfraser commented on #2938
Yes, updating the documentation on the website is one of the last gating items for `ZLayer` being ready for RC18.

[2020-02-20 11:37] adamgfraser commented on #2938
I also think as part of this we should move away from using `>` as part of the module pattern. See further discussion at https://github.com/zio/zio-macros/issues/101.

[2020-02-20 12:07] zach-albia commented on #2938
Is someone already working on this? If not, would like to lend a hand here.

[2020-02-20 12:59] pierangeloc commented on #2938
I am rewriting this how to with `ZLayer` should open a PR in a few hours. Maybe you could take care of documenting the mocking updates?

[2020-02-20 14:49] vasilmkd commented on #2720
@jdegoes I'm not sure that `ZStream#transduce` can work that way. There is no way to know when to stop feeding a transducer, because each `O` it produces is a valid output that needs to continue downstream.

[2020-02-20 14:57] jdegoes commented on #2720
@vasilmkd The new transducers do not stop. They are pure transducers and transform many-to-many, e.g. reframing, json decoding, unzipping, etc.

[2020-02-20 15:03] vasilmkd commented on #2720
So each feed to the `Transducer` is outputted downstream?

Are they allowed to keep state? Because if they don't it means that we can remove the `ZManaged` layer from the implementation, and I'm not sure if that means that a `ZSink` can be converted to a transducer, because it does keep state.

Sorry if I'm being confused for no reason.

[2020-02-20 15:13] iravid commented on #2720
They have to be stateful, yes. E.g. if you're decoding json lines and are currently searching for a newline.

[2020-02-20 15:16] jdegoes commented on #2720
Yes, unless we define a rule saying an empty chunk does not need to be passed down (as an optimization). But otherwise, yes, always.

They are certainly stateful (sinks and transducers), and transducers and sinks cannot be unified further (beyond conduit) because sinks end with a value, and transducers never end.

[2020-02-20 16:27] gstraymond opened #2939 "ZIO Test: provideManagedShared starts managed 2 times"
This simple test with an environment runs `Managed.succeed(println("managed acquired"))` 2 times although I use `provideManagedShared`.

[code]

Output:

[code]

This behavior is producing errors when used with integrations tests where Managed objects are starting servers.

ZIO version: `1.0.0-RC17`

[2020-02-20 16:39] adamgfraser commented on #2939
@gstraymond I am not able to reproduce your issue on `master` or on `RC17` (see https://scastie.scala-lang.org/hlGVUv8BTeOd8fl1xcRJEQ). What test runner are you using?

[2020-02-20 16:45] gstraymond commented on #2939
I run the tests from sbt test runner using the configuration here https://zio.dev/docs/usecases/usecases_testing

[2020-02-20 17:10] adamgfraser commented on #2939
I was able to replicate your issue on RC17 using the SBT test runner. It looks like it has to do with handling of suspending side effects between the test runner and the test framework. In your example, if I do `Managed.effectTotal(println("managed acquired"))` the line is only printed once. So for now I would check that side effects such as starting servers are properly suspended in effect constr

[2020-02-20 20:06] protocarl opened #2940 "Running hello world with graalvm fails with scala.MatchError: null"
Running a zio hello world with graalvm fails with scala.MatchError: null

I put together a hello world app with zio `1.0.0-RC17+421-424ddcd4-SNAPSHOT` and graalvm `graalvm-ce:20.0.0-java11`

https://github.com/protocarl/zio-graalvm-hello-world

compile with:
`sbt graalvm-native-image:packageBin`

run with:
`docker run -it -v $(pwd)/target:/target oracle/graalvm-ce:20.0.0-java11 /target/graalvm-nat

[2020-02-20 20:13] protocarl commented on #2940
zio version `1.0.0-RC17` works as expected:
[code]

[2020-02-20 23:01] neko-kai commented on #2940
Looks like just a typo https://github.com/zio/zio/pull/2941
@protocarl I guess you better disable Tracing on graal-native-image because it only works on the JVM/GraalVM-JIT (by wrapping `run` in `.untraced`)

[2020-02-20 23:37] #2940 closed

[2020-02-20 23:51] sken77 commented on #2802
ok. doing `catchSome` and `forever

[2020-02-21 07:02] softinio commented on #2844
I believe we will need to add this plugin to be able to do scala native releases:

https://github.com/portable-scala/sbt-crossproject/

There seems to be a potential problem with the latest release of this plugin though that I am looking into that I want to make sure no issue before proceed with it.

[2020-02-21 08:47] zach-albia commented on #2938
@pierangeloc I'll take it.

[2020-02-21 13:23] adamgfraser opened #2949 "ZIO Core: Type Inference Issue with ZLayer.fromServices"
@mtsokol Identified a type inference issue with `ZLayer.fromServices`:

[code]

It appears that the Scala compiler is trying to infer the types for `fromServices` from the specified return type for `liveFailing` and is inappropriately taking just the left hand side of the `&` instead of both types, maybe because it is not a true intersection type. Assigned to an intermediate `val` and then returni

[2020-02-21 13:30] mtsokol commented on #2949
@adamgfraser Sure, I also think that we can elevate it to Scala team via an issue to check with their evaluation on this.

[2020-02-21 13:31] adamgfraser commented on #2949
@mtsokol I will open issues.

[2020-02-21 20:54] pshirshov commented on #2917
@jdegoes : I've published the code as is, with minimal modifications plus added a[ simple GH Actions workflow](https://github.com/zio/izumi-reflect/actions?query=workflow%3A%22Build+%5BGithub+Actions%5D%22). Could you have a quick look?

[2020-02-21 21:11] adamgfraser commented on #2929
Resolves by #2937.

[2020-02-21 21:11] #2929 closed

[2020-02-21 21:12] adamgfraser commented on #2939
@gstraymond Did this work for you? If so do you want to close?

[2020-02-22 08:03] mlangc commented on #2074
I can't reproduce this with d5d1f7ab2516f6163970443425a27df8f3d3cdbb and `nonFlaky(10000)`.

[2020-02-22 08:06] mlangc commented on #1977
I can't reproduce this with d5d1f7ab2516f6163970443425a27df8f3d3cdbb and `nonFlaky(10000)`.

[2020-02-22 10:31] adamgfraser commented on #2074
Okay, let's close and we can reopen if it gets reported again. No point in having these sitting out there if we can't reproduce.

[2020-02-22 10:31] #2074 closed

[2020-02-22 10:32] adamgfraser commented on #1977
Okay let's close.

[2020-02-22 10:32] #1977 closed

[2020-02-22 15:55] jdegoes opened #2955 "ZIO Test: Add `diagnose` TestAspect"
A hypothetical `diagnose` `TestAspect` would be designed to do the following:

 - isolate the test
 - run the test
 - do a localized (not global!) fiber dump at the end of the test (if failed/timed out/etc)
 - detect and print out which fibers are still running and what they're waiting on and where they are

[2020-02-22 16:40] gaelrenoux opened #2956 "Schedule.exponential applies the exponential factor on first delay"
I'm using 1.0.0-RC17.

When retrying a ZIO using Schedule.exponential, the first wait is not the duration given in the call to exponential, but the duration given multiplied by the factor. Is it the intended behavior ? If so, it's very counter-intuitive.

The following waits for 5 seconds before the first retry:
[code]

[2020-02-22 17:06] adamgfraser commented on #2955
I will take this.

[2020-02-22 17:11] gaelrenoux opened #2957 "Schedule.elapsed.whileOutput intersection triggers wrongly"
Using 1.0.0-RC17

Take the following code:
[code]
Here's the output:
[code]
Ideally, it shouldn't trigger a second attempt (because it would be outside the second schedule), but  I can see where that comes from. The second Schedule still being correct at that point, and it takes the longest delay of the two schedules. What I don't get is how it actually attempts a third time. After the second fail

[2020-02-22 17:18] adamgfraser commented on #2957
I will take a look at this.

[2020-02-22 17:51] adamgfraser commented on #2956
Will look at this along with #2957.

[2020-02-22 18:01] gaelrenoux commented on #2956
For this one, the fix seems simple enough (remove the `+1` in Schedule.exponential), but I didn't want to create a PR before someone would confirm it's not intended behavior.

[2020-02-22 18:35] jdegoes commented on #2955
@adamgfraser You're a machine! ❤️🤖😂

[2020-02-22 19:35] HansBrende commented on #2900
@adamgfraser does my above comment seem reasonable to you?

[2020-02-22 22:11] softinio commented on #2844
All good with using https://github.com/portable-scala/sbt-crossproject/ we need to add this to be able to release native.

Be good to see it work with snapshots before next release.

[2020-02-22 23:57] adamgfraser commented on #2900
@HansBrende Yes. I don't have a strong opinion on which ones to keep so was leaving this open but you and @jdegoes both expressed some preference for the `orElse` variants. I think that makes sense and no one has spoken up for the alternative so will go ahead and implement that.

I agree that a combinator that just fails something with a value could make sense. You can already do it easily with `z

[2020-02-23 01:49] mijicd commented on #2844
@softinio can you make a PR with this one? We should be able to verify the outcome immediately :).

[2020-02-23 02:21] adamgfraser commented on #2957
@gaelrenoux I think the current behavior is correct. Here is the analysis:

1. The effect is executed once before being retried with the schedule
2. At that point, the effect of `Schedule.spaced` and `Schedule.elapsed` begin executing. `speed` sleeps for 10 seconds and then returns `1` while `elapsed` immediately returns with a close to 0L delay. The `whileOutput` operator processes immediately af

[2020-02-23 02:48] softinio commented on #2844
@mijicd yeah I was planning on doing that to `actors` first to verify before `zio`, but I don't think I have bandwidth to get to it done for one to two weeks, do you have time to tackle it and tag me to review by any chance before then? Else I will of course.

[2020-02-23 06:52] mlangc commented on #2074
@adamgfraser shouldn't we remove the `@@ flaky` though? Otherwise the bug is guaranteed to not show up again....

[2020-02-23 08:38] mijicd commented on #2844
@softinio I'll play with it today.

[2020-02-23 09:48] #2842 closed

[2020-02-23 10:28] adamgfraser commented on #2074
You're totally right. Just opened a PR to remove it.

[2020-02-23 11:56] gaelrenoux commented on #2957
I'm not sure I get it here. After the second failure (point 4), Schedule.elapsed should evaluates to roughly 10 seconds, which means Schedule.elapsed.whileOutput(_ < 3.seconds) should decide to halt. Then the intersection should halt as well.

Thanks for the workaround by the way, it's probably better than what I was doing (fails faster). The doc explicitly offer the intersected schedules though (

[2020-02-23 13:05] adamgfraser commented on #2956
Resolved by #2959.

[2020-02-23 13:05] #2956 closed

[2020-02-23 13:32] jdegoes opened #2962 "ZIO Core: Tracking side-effects with ZIO Environment"
This issue is more a thought experiment than anything else. But I think it's useful to jot this down somewhere since I did work on this concept last year, at the time when we introduced ZIO Environment, and others have since opened tickets and pull requests (@sideeffffect).

The core idea: **ZIO Environment has grown powerful enough that it's possible to easily track side-effects in the type syste

[2020-02-23 13:34] #2900 closed

[2020-02-23 19:00] adamgfraser commented on #2957
@gaelrenoux The problem is that when we combine two schedules the effects of each schedule are evaluated in parallel. `Schedule.elapsed` returns immediately with the elapsed time each time it recurs, it has no way to "wait" for the other schedule to evaluate. So `elapsed` returns roughly 0 seconds and indicated to continue back at point 2, and then at point 4 when we check with both schedules they

[2020-02-23 19:52] mijicd commented on #2844
@softinio this plugin is already part of the project, I'm investigating the issue further.

[2020-02-24 02:59] zach-albia commented on #2938
I think zio/zio-macros#101 needs to be resolved before the mocking updates page can be updated. Of course, I can always write on the assumption we're moving away from the `>` syntax. Please advise?

[2020-02-24 08:30] gstraymond commented on #2939
Works flawlessly using `effectTotal`, thanks !

[2020-02-24 08:30] #2939 closed

[2020-02-24 12:31] mijicd commented on #2802
With the last 2 being completed, I'm closing the issue. @sken77, @adamgfraser thanks for collaborating on this one!

[2020-02-24 12:31] #2802 closed

[2020-02-24 15:58] pshirshov commented on #2917
Snapshots available here: https://oss.sonatype.org/content/repositories/snapshots/dev/zio/

[2020-02-24 18:35] pshirshov commented on #2917
Releases are working too: https://repo1.maven.org/maven2/dev/zio/izumi-reflect_2.13/

[2020-02-24 20:05] #2096 closed

[2020-02-24 20:55] felher opened #2968 "fiber from `ZManaged.useForever` not interrupted when dying on main fiber"
Hello folks,
I'm not sure this is really an issue or just a misunderstanding on my part, but here it goes.

Here is a small program, which creates an resource of a blaze http server, waits 3 seconds and then either does nothing, interrupts the server or just dies (Or a combination of the latter two). A link to a full example ready to be cloned is below.

[code]

When the program is run without arg

[2020-02-25 08:45] mijicd opened #2969 "Use mergify to merge Steward's PR"
Scala Steward is an amazing tool, but taking care of all PRs it makes throughout the organization takes a lot of time, and based on the current state, we're not coping with it successfully. I propose introducing [Mergify](https://mergify.io/) to help us with that. More information about configuring Mergify to do this can be found at [Steward's FAQ](https://github.com/fthomas/scala-steward/blob/mas

[2020-02-25 13:12] ioleo commented on #2692
Its progressing slowly, due to little time, but I will do my best to deliver this within next few days (I hope to have it merged before the next release).

[2020-02-25 14:28] adamgfraser commented on #2969
Sounds like a great idea!

[2020-02-25 14:32] adamgfraser opened #2970 "ZIO Test: Subtype Assertion Does Not Work with Primitive Types"
The following test fails:

[code]

The reason appears to be that the `runtimeClass` of the `ClassTag` is `int` but the class of the actual value is `java.lang.Integer`. We probably need some special logic to handle these types.

Thanks to @sken77 for reporting!

[2020-02-25 14:47] mijicd commented on #2969
I'll give it a try tonight then, and propagate slowly!

[2020-02-25 17:30] regiskuckaertz commented on #2720
With the zconduit encoding I tried to write `collectAll`:

[code]

is that right? It feels weird to fail all the time. Or perhaps sending an empty chunk should be the signal to fail and convert to a list? Still feels a bit artificial.

[2020-02-25 17:32] vasilmkd commented on #2720
I'm still unsure how to properly handle leftovers. I feel like I've failed to do that before proposing this encoding.

[2020-02-25 17:37] vasilmkd commented on #2720
@regiskuckaertz I would say sending an empty chunk should be the signal to stop accumulating.

[2020-02-25 17:46] regiskuckaertz commented on #2720
Yeah. Or perhaps it is a transducer, since it can produce a list at any point in time. But the fact it is used to collect _all_ makes me think it is a sink. 🙃

[2020-02-25 19:29] jdegoes commented on #2720
@vasilmkd Don't worry about leftovers too much, they can be encoded as a special type of sink that emits:

[code]

This is really only necessary for applicative and monad operators on sinks.

@regiskuckaertz

If you have to fail in every step, it's a good sign it's a transducer and not a sink. Failure should only be used when something is "done".

So we have two choices:

 - Use an empty chunk to

[2020-02-25 19:41] #2970 closed

[2020-02-25 21:21] adamgfraser commented on #2949
Issues opened at https://github.com/scala/bug/issues/11898 and https://github.com/lampepfl/dotty/issues/8378.

[2020-02-25 21:24] adamgfraser commented on #2955
Closed by #2965.

[2020-02-25 21:39] mijicd commented on #2969
Mergify works very smooth in tackling PR's. For example, on `interop-monix` I've configured it using the quoted refined setup (with slight modification):

[code]

This means, only patch updates will be merged automatically, while all of them will assign me and Salar to review them (if there are other volunteers, shout :)).

The downside of it is that we have to drop the required PR reviews. That b

[2020-02-25 21:41] adamgfraser commented on #2969
@mijicd You mean we have to drop the requirement for an approval before merging any PR?

[2020-02-25 21:41] mijicd commented on #2969
@adamgfraser Exactly.

[2020-02-25 22:03] mijicd commented on #2969
@adamgfraser my assumption about disabling github config, and expanding mergify's seems to be working. Check out [this config](https://github.com/zio/interop-twitter/blob/master/.mergify.yml), and these 2 PRs:

- https://github.com/zio/interop-twitter/pull/84
- https://github.com/zio/interop-twitter/pull/80

[2020-02-26 05:31] iravid commented on #2720
Now that we’re doing implicit chunking and always using chunks on inputs, we could wrap that in Option to signal stream end without losing too much performance.

This way we don’t have to overload the meaning of empty chunks and not worry about always sending non-empty chunks throughout the stream.

[2020-02-26 07:14] regiskuckaertz commented on #2720
Ah yeah I think `collectAll` is a sink after all, and perhaps a transducer equivalent could be called `ZTransducer.scan` or similar. So something like this instead, which could easily be adapted to receive an `Option[Chunk[I]]`:

[code]

So I was writing `ZStream#run` at the same time and I think the only thing that is weird to play with is the implicit contract of "sending an empty chunk/none wil

[2020-02-26 08:04] iravid opened #2973 "ZIO.AccessMPartiallyApplied#apply should allow narrowing the environment"
[code]

`apply` here is unnecessarily restricting `R` in the effect returned from `f`. Should be `[R1 <: R, E, A](f: R => ZIO[R1, E, A]): ZIO[R1, E, A]`.

Same probably holds re `AccessPartiallyApplied`.

[2020-02-26 10:26] regiskuckaertz commented on #2720
Just for reference: https://github.com/zio/zio/compare/feature/zconduit...regiskuckaertz:rk-constructors-zconduit#diff-abdb82129eb2f8ac241976bbfe32e72fR136-R153

[2020-02-26 10:44] adamgfraser commented on #2973
You’re right. I will fix.

[2020-02-26 10:44] iravid commented on #2973
Thanks ❤️

[2020-02-26 11:19] adamgfraser commented on #2973
So the disadvantage of this is it makes type inference significantly worse. For example, the code below no longer compiles:

[code]

Previously when the `R` type was fixed the compiler could infer that since the `R` in the return type is `System`, the `R` in `accessM` is also `System`. With this change it can't do that and complains that the parameter type for the function is missing.

We can add

[2020-02-26 11:59] iravid commented on #2973
Ah. My usecase is something like this:
[code]

I'd like to write `ZIO.accessM[Module]`, not `ZIO.accessM[Module with Blocking]`.

[2020-02-26 12:04] adamgfraser commented on #2973
Right. You could always do something like `ZIO.environment[Module].flatMap(_.module.method)` but that is not as nice. Well we can add. A bit of a shame to have to specify types for the simple cases but maybe that is to be expected when accessing the environment. We could potentially have separate methods that give you the flexibility with worse type inference but that seems like too many ways to d

[2020-02-26 12:07] iravid commented on #2973
I actually never thought I could do away with `R` entirely on `accessM`. It's only for very simple cases (like the System accessors) that it works; anything more complex (e.g. accessM followed by another combinator) would break down immediately and require `R`.

I think it's reasonable for `R` to be required there.

[2020-02-26 12:09] adamgfraser commented on #2973
I agree.

[2020-02-26 12:10] iravid commented on #2973
In the meantime, I took advantage of this situation and just rewrote my accessors as
[code]

:-)

Maybe we should wait for some other opinions.

For writing accessors, the current situation is probably fine. `ZIO.accessM` as a general utility probably could be better off with allowing narrowing.

[2020-02-26 12:37] jdegoes commented on #2720
@iravid

That's probably preferable.

A natural question is, do we use:

 - `Option[Chunk[I]]`
 - `Either[Option[IE], Chunk[I]]`

That is, do downstream conduits benefit from knowing whether upstream conduits terminated with error, or successfully? In most cases, I think not, transducers cannot do anything with a failure, other than emit the current state, which they must always do; and sinks will

[2020-02-26 12:57] adamgfraser commented on #2973
Nice! Sounds good.

[2020-02-26 13:24] regiskuckaertz commented on #2720
@jdegoes yes precisely. I had the phantom type but was missing `Emit`. Thank you 🙏 will try that encoding.

[2020-02-26 15:16] jdegoes commented on #2720
@regiskuckaertz This change would mean transducers must fail on stream end, since they cannot output a terminal value of Nothing.

I'm trying to decide if that's good or bad...

[2020-02-26 15:41] #2955 closed

[2020-02-26 15:45] adamgfraser commented on #2949
Following up on responses from Scala / Dotty teams it sounds like this is a limitation of the compiler.  There was an interesting idea from @smarter that if we do something like this it will work:

[code]

This requires introducing this `ZLayer2` type alias and users using that. I tend to think that specifying the type parameters in `fromServices` is not much harder than specifying the argument ty

[2020-02-26 15:51] regiskuckaertz commented on #2720
How about moving the final value into `Emit` too? Then a transducer would also have a way out?

[code]

[2020-02-26 16:27] regiskuckaertz commented on #2720
ha, no it doesn't help transducers.

[2020-02-26 17:16] mtsokol commented on #2949
@adamgfraser Sure, it would be an exaggeration to introduce type aliases for that. Let's stay with specifying type params (maybe we can add a mention about it in `fromServices` scaladoc for users encountering it in the future?). Thank you once again for help! 🙂

[2020-02-26 19:58] jdegoes commented on #2720
@regiskuckaertz

The problem is that transducers have `Z =:= Nothing`, so they can't ever emit a terminal (`Z`) value; and, moreover, we don't want to allow sinks to emit the `Z` value on the output channel, as that would complicate combinators (they should be forced to output `Z` on the `Either[E, Z]` termination channel).

If end-of-stream were all we had to worry about, then it's not an issue f

[2020-02-27 08:28] iravid commented on #2720
[code]

This is really clever. I hope we don't run into GADT shenanigans in the implementation of the `SignalFunction`, where pattern-matching on `signal: S` doesn't expose the type member properly and requires casting the return value from the function.

[2020-02-27 08:58] regiskuckaertz commented on #2720
Tried yesterday and I’m afraid we do 😭 but of I’m not mistaken we can add methods on signal to witness the coercion. Will try when back from the gym.

Sent from my iPhone

[2020-02-27 13:57] regiskuckaertz commented on #2720
Right so nope, there is no method when you don't know the input type. So it's casting, which is not looking great:

[code]

 So perhaps not worth it after all.

[2020-02-27 17:53] mlangc commented on #2968
You can have exactly the behavior you want by rewriting your `run` function a bit:

[code]

I thought about this for a while, and I don't think that the behavior you describe is a bug. `ZManaged` guaranties that resources are closed as soon as the `use` block terminates. By using `useForever` though, this will never happen, unless you interrupt it explicitly - as you do in the `interrupt` case. Wh

[2020-02-27 20:05] iravid commented on #2968
In RC17, parent fibers dying will not cause child fibers to be interrupted. Only interrupting the parent fiber will cause the child fiber to be interrupted. So I don't think this is a bug, no.

This is partly why it's usually advisable to construct the entire application as a `ZManaged` instance, so that finalizers for resources always run. @mlangc's formulation looks pretty good. Here's another t

[2020-02-27 20:12] iravid commented on #2720
@regiskuckaertz https://japgolly.blogspot.com/2017/06/dependently-typed-functions.html @japgolly wrote up some workarounds for that issue a while back.

It forces you to `fold` the `signal`, which maybe isn't too bad?

[2020-02-28 06:42] regiskuckaertz commented on #2720
Lol I literally thought about a fold in my sleep, I’ll play with that idea 👍

Sent from my iPhone

[2020-02-28 10:10] thobson opened #2978 "Mockable - unable to mock methods with type parameters"
Assuming we have a method on a module similar to this:

`def put(key: String, value: String): UIO[Unit]`

we can easily create a capability tag and mockable implementation:

`object put extends Method[Any, (String, String), Unit]`

However this doesn't work if we change the method to:

`def putK[K: Show](key: K, value: String): UIO[Unit]`

I was able to create a capability tag using a class:

`cla

[2020-02-28 10:20] jdegoes commented on #2969
In my experience, most of the Scala Steward PRs that stick around for some time fail the build or have merge conflicts (i.e. there is a reason no one is clicking the merge button).

It's easy enough to merge the ones that pass everything, but the other ones require investigation and work. Yet disabling required PR reviews would potentially impact every PR.

It's kind of nice to have a human making

[2020-02-28 10:45] mijicd commented on #2969
Agreed, I'm closing this one, but note to maintainers: pay attention to your repositories :)!

[2020-02-28 10:45] #2969 closed

[2020-02-28 11:44] vasilmkd commented on #2720
I'm sorry if this is a stupid question, but have we not arrived back to the managed `Pull[R, E, A] => ZIO[R, Either[E, B], Unit]` encoding for `ZSink` (accepting a reified result of the stream pull, which to me looks like a repackaging of the pull itself)? Again, sorry if I'm completely off base here.

[2020-02-28 11:48] jdegoes commented on #2720
@vasilmkd Not at all! In that encoding, the sink itself is responsible for pulling elements from the stream. The conduit encoding has not changed since the above versions (`SignalFunction`, if we use it, is only about guaranteeing that you can force a value from a sink when the stream ends).

[2020-02-28 11:55] vasilmkd commented on #2720
Can we maybe go for a simpler representation, for example extending `Take` with a fourth case, `case object Query extends Take[Nothing]`?
cc @iravid

[2020-02-28 13:58] jdegoes commented on #2720
I think I prefer just `Option[Chunk[I]]` because there are only 2 cases: it's done or there's more.

I will write this up later. I think I found a simple way to solve the transducer issue.

[2020-02-28 19:04] adamgfraser opened #2981 "ZIO Core: Improve Rendering of Fiber Dumps"
There is a lot of great information in fiber dumps about what fibers currently exist, who their parents are, and what they are doing to help diagnose deadlocks or other concurrency issues. However, right now the visualize presentation is not as good as it could be in clearly showing which fibers are parents of another fiber versus siblings. This ticket is to improve the `Fiber.prettyPrintM` to pri

[2020-02-28 23:45] japgolly commented on #2720
Hehe, nice flashback seeing that article. It'll be better in Scala 3 in that you'll literally be able to do stuff like `type X = (f: F) => f.Y` but unfortunately writing libraries rather than apps means you're always years behind.

If you're (wanting to) work with existential types, especially in a Scala-friendly way, this talk is probably going to be good value too: https://www.youtube.com/watch?

[2020-03-01 06:47] iravid commented on #2973
Closing this one. I think it's fine as-is.

[2020-03-01 06:47] #2973 closed

[2020-03-01 11:04] ioleo commented on #2692
@jdegoes @adamgfraser Got it working. Just need to do some cleanup + update docs / examples and I will be opening the PR today or tomorrow. I think you will like it :)

[2020-03-01 17:07] regiskuckaertz commented on #2720
Still a lot of boilerplate but it works:

[code]

Without all these antics we'd have something like:

[code]

[2020-03-01 20:55] KamalKang opened #2988 "Add benchmarks for TReentrantLock"
Add benchmark for TReentrantLock and compare performance with Java StampedLock.

[2020-03-01 21:10] jdegoes commented on #2978
I think `Method` itself will not work for polymorphic methods.

I think that would require `MethodPoly1`, e.g.

[code]

Maybe there's another way (I am not sure), but in any case, requires some new support in ZIO Test.

[2020-03-01 22:30] jdegoes commented on #2797
@softinio 🙏 ❤️

[2020-03-01 22:30] jdegoes commented on #2798
@softinio 🙏 ❤️

[2020-03-01 22:34] jdegoes commented on #2781
After thinking about this for quite some time, here's what I think we should do:

1. Support Chunk input, chunk output
2. Support Iterable input, List output
3. Where it makes sense, support Option input, Option output
4. Delegate everything else to a third-party library (e.g. ZIO Prelude)

[2020-03-01 22:47] #2384 closed

[2020-03-01 22:48] #2240 closed

[2020-03-01 22:49] #2383 closed

[2020-03-01 22:49] #2381 closed

[2020-03-01 22:50] #2382 closed

[2020-03-01 22:50] #2386 closed

[2020-03-01 22:52] adamgfraser commented on #2968
Resolved by #2748.

[2020-03-01 22:52] #2968 closed

[2020-03-01 23:11] adamgfraser commented on #2781
That sounds good. I will add these.

[2020-03-01 23:12] jdegoes commented on #2957
Documentation fixed!

[2020-03-01 23:14] #2957 closed

[2020-03-01 23:16] jdegoes opened #2990 "ZIO Core: Consider separating decision from update in Schedule"
See #2957 for context.

If the update function could _only_ update state, then the decision could be extracted from the state, like so:

[code]

This would allow you to race left and right updaters, and then at the moment the first one finishes, ask both if they want to continue.

[2020-03-01 23:20] jdegoes opened #2991 "Utilize `blockingOn` pervasively in FiberContext"
When async effects are constructed, they may specify the fiber ids of fibers they are blocking on. This is utilized in Promise but not utilized in FiberContext or many other places.

To provide more diagnostic information, this feature should be utilized whenever possible in FiberContext methods.

[2020-03-01 23:38] ajaychandran commented on #2471
@jdegoes Hi, could you provide a description for the parameter? What does this mean for the async effect if the fiber fails?

[2020-03-02 00:55] jdegoes commented on #2471
The parameter is a hint as to which fibers may ultimately complete the async callback.

[2020-03-02 07:51] ajaychandran commented on #2471
Thanks for the info.

[2020-03-02 11:39] jdegoes opened #2993 "Improve Ref#toString"
It can be improved by rendering the contents of the ref:

[code]

[2020-03-02 11:41] adamgfraser commented on #2993
I'll take this.

[2020-03-02 12:24] #2471 closed

[2020-03-02 12:43] felher commented on #2968
Ah, great. Thanks to @mlangc  and @iravid for the explanation why this isn't a bug and thanks to @adamgfraser and @jdegoes for fixing it nonetheless.

[2020-03-02 12:55] #2993 closed

[2020-03-02 15:53] adamgfraser commented on #2781
Looking at this there are quite a few combinators that we would want `Chunk` variants for.

- [ ] firstSuccessOf
- [ ] raceAll
- [ ] collectAll
- [ ] CollectAllPar
- [ ] collectAllParN
- [ ] collectAllSuccesses
- [ ] collectAllSuccessesPar
- [ ] collectAllSuccessesParN
- [ ] collectAllWith
- [ ] collectAllWithPar
- [ ] collectAlWithParN
- [ ] filter
- [ ] firstSuccessOf
- [ ] foldLeft
- [ ] foldRi

[2020-03-02 16:01] #2824 closed

[2020-03-02 17:40] jdegoes opened #2998 "ZIO Test: Use lightweight type tag instead of ClassTag in TestAnnotation"

[2020-03-02 17:41] adamgfraser commented on #2998
Good idea. I will take care of this.

[2020-03-02 19:20] #2998 closed

[2020-03-03 01:12] ioleo commented on #2978
@thobson It's not currently supported, but thank you for raising this. I will look into it.

[2020-03-03 14:14] jdegoes opened #3001 "Make warnings errors when developing locally"

[2020-03-03 14:59] adamgfraser commented on #3001
Will fix.

[2020-03-03 16:59] #3001 closed

[2020-03-03 20:05] jdegoes opened #3006 "Delete all deprecated methods"

[2020-03-03 20:06] adamgfraser commented on #3006
I will do this now.

[2020-03-03 20:06] jdegoes commented on #1112
Closing since everything here is done except for ZRef, which won't hold up the release.

[2020-03-03 20:16] jdegoes commented on #1971
@adamgfraser Is this still relevant?

[2020-03-03 20:17] adamgfraser commented on #1971
@jdegoes No.

[2020-03-03 20:17] #1971 closed

[2020-03-03 20:19] jdegoes commented on #1972
@adamgfraser I tried to update this as best as I could. Looks like we're getting close.

I might add some wish list things:

 - Environment narrowing for specs, so you could do: `spec @@ provideLayer(foo)`
 - Easy way to run tests that have some tag, e.g. `-- -tag "interruption"`.
 - Printing of random seeds from failed tests

I think Gen performance will improve but only with general Stream impro

[2020-03-03 20:26] adamgfraser commented on #1972
@jdegoes I think that is a good list. Regarding your specific points:

- Environment narrowing - Agreed. We need to think more about how to do that.
- Tags - That functionality already exists with the syntax you describe.
- Printing of random seeds - Yes. I will add that.

I think the other big thing to think about fitting in is the structured reporting of test results and metrics. I think we coul

[2020-03-03 20:30] softinio opened #3008 "Zlayer docs missing from microsite due to misconfiguration"
New pages added to docs need to be added to the side bar config here:

https://github.com/zio/zio/blob/master/website/sidebars.json#L68

Noticed this page was not:

https://github.com/zio/zio/blob/master/docs/howto/use_modules_and_layers.md

Be good to do an audit of the docs to make sure nothing else missing.

[2020-03-03 20:31] softinio commented on #3008
cc @pierangeloc fyi

[2020-03-03 20:58] adamgfraser commented on #3008
@softinio Thanks for reporting and sorry about that! Will fix now.

[2020-03-03 22:47] #3008 closed

[2020-03-03 23:19] CptnKirk opened #3011 "Can't combine Duration.Finite with a Duration"
Regression from RC17 -> RC18

It's not obvious how to combine a `Duration.Finite` and a `Duration` from `.timed`.

As a result a `mapAccum(Duration.Zero){...}` from RC17 breaks in RC18.

[2020-03-03 23:29] adamgfraser commented on #3011
Let me take a look.

[2020-03-03 23:49] adamgfraser commented on #3011
@CptnKirk I don't think there is an issue in combining `Duration.Finite` and `Duration`. You can just do it with `+` assuming you want to add them. I think the issue is that `Duration.Zero` returns a `Duration.Finite` so when you do `mapAccum(Duration.Zero)(???)` the inferred type of the state being accumulated is `Duration.Finite` instead of `Duration` and so `+` doesn't return the right type (si

[2020-03-04 01:20] #3006 closed

[2020-03-04 07:06] nktpro opened #3013 "[Bug] Runtime#unsafeRunToFuture is broken in RC-18"
`Runtime#unsafeRunToFuture` is broken in RC-18 release as part of interruption rework in https://github.com/zio/zio/commit/681063606b157b7f98f51c664fc7e7a4c1a82918. I did a full bisect of the recent commits and that one was confirmed to be the cause.

Here's a quick reproducer:

[code]

Which will terminate with:

[code]

It's somewhat non-deterministic (hence the `repeat`).

[2020-03-04 10:16] FloWi opened #3014 "Option[Bug] when running tests from IntelliJ in RC18"
In RC17 I was able to run the tests from within IntelliJ. I think in RC18 s.th. broke.

I get this error from the ZTestRunner.
[code]

Don't know if it's a bug in ZIO Test or something is wrong with IDEA.

[2020-03-04 10:22] adamgfraser commented on #3014
@FloWi That functionality is powered by [ZIO Intellij](https://github.com/zio/zio-intellij). There is a known issue that it is not providing this functionality right now after the update to RC18 and work is ongoing to update. I would suggest that we close and open an issue there to track progress as I do not believe there is anything we can do from the ZIO Test end at this point.

Copying @hmemcpy

[2020-03-04 10:43] ioleo commented on #1972
Some of work still to do:
- [ ] composable & more expressive mocks (and, or, andThen, repeats) + mocking composed environments #3000
- [ ] update mocking docs/examples
- [ ] move `zio-macros` project as submodule withing `zio/zio`
- [ ] drop `delegate/enrich` family of macros
- [ ] adjust accessors generation macro (`@accessible`) to use `Has`
- [ ] move method tags generation macro (`@mockable`)

[2020-03-04 14:55] FloWi commented on #3014
Good to know, thanks. I'm happy to close it here. I'll open an issue at the ZIO Intellij project.

[2020-03-04 14:55] #3014 closed

[2020-03-04 18:08] jdegoes commented on #3013
It looks like supervision is killing a fiber running the effect.

Why that is happening remains to be investigated, however. Probably the solution is a `forkDaemon` somewhere.

Thanks for the writeup, we will have this fixed in time for 1.0!

[2020-03-04 18:22] adamgfraser commented on #3013
I looked into this a bit last night. I was able to resolve by using `forkDaemon` here:

[code]

I think the issue is basically that the parent fiber can terminate before the child completes the promise in `Fiber.toFutureWith`. However, I noticed that when I did that interruption no longer interrupted the underlying effect (e.g. the same message continues to get printed to the console) so needs a l

[2020-03-04 23:16] CptnKirk commented on #3011
I see.  I was confused by the error message and pointer at the `+`
[code]

Adding type ascription did solve my problem.  However, this isn't very ergonomic.  In fact it seems that combining Finite values results in a Duration.  This is also unexpected, as two finite values can't combine to form an infinite (only a larger finite value).  You mentioned something about an overflow, however I'd expect

[2020-03-05 00:13] softinio opened #3019 "Upgrade Docusaurus and other JS dependencies to latest 1.x version"
Upgrade Docusaurus to version `v1.14.4`

Do not upgrade to 2.x yet as its a WIP.

[2020-03-05 00:19] softinio opened #3020 "Add a Docusaurus blog to website"
Docusaurus has blog functionality. So my idea is we add it and use it similar to:

<https://scalameta.org/mdoc/blog/>

Content we should add to the blog:

- Copy of releases notes
- Newsletter content: Maybe actually have the newsletter content here and email sent is a copy or a link to our blog as an idea
- Write blogs related to new functionality
- Invite outside contributors to add new blogs vi

[2020-03-05 00:29] softinio commented on #2938
@zach-albia @pierangeloc Can this issue be closed as we have:

https://zio.dev/docs/howto/howto_use_layers

and

https://docs.google.com/document/d/1P0mx1gSNU2UTi-9PXUeY8O74v5gyK-UETznM1SbkQjA/edit#heading=h.tsittnt9c96t

[2020-03-05 00:51] jdegoes commented on #3013
I think it's time for `ZIO.adopt`. I can look into this over the weekend probably, or maybe Friday.

[2020-03-05 02:14] ghostdogpr opened #3021 "unsafeFromLayer fails with ScalaJS"
Found this in the interop-cats project, we need to build a `Runtime[ZEnv]` in a test and calling `unsafeFromLayer` fails on ScalaJS. In particular `addShutdownHook` calls `js.Dynamic.global.onunload = { (_: Any) => action() }` which throws in this context (ZIO Test).

[code]

[2020-03-05 06:03] zach-albia commented on #2938
@softinio Yes, I'll close it then.

[2020-03-05 06:03] #2938 closed

[2020-03-05 07:55] jedws commented on #2649
boo, creating a bespoke set of names for established concepts (especially in this case core combinators) is an alluring but ultimately flawed exercise as it significantly reduces the ability for the learner to see broader patterns and access primary material on the subject.

I gave a whole talk on why if names matter, then why do people insist on changing them to "easier" names? https://www.youtub

[2020-03-05 08:37] ghostdogpr commented on #2226
I ran my old reproducing test with RC18 and I can confirm it works properly.
Closing this ticket and big 👏 @jdegoes

[2020-03-05 08:37] #2226 closed

[2020-03-05 08:48] ghostdogpr commented on #2844
- Dotty was released well: https://repo1.maven.org/maven2/dev/zio/zio_0.22/1.0.0-RC18-1/
- The JUnit Runner too: https://repo1.maven.org/maven2/dev/zio/zio-test-junit_2.13/1.0.0-RC18-1/
- I don't see ZIO Test Magnolia. And indeed it's missing in the big `aggregate(...)` in build.sbt
- Scala Native is still TODO as mentioned above

[2020-03-05 11:52] jdegoes commented on #2226
@ghostdogpr Thanks for confirming!

[2020-03-05 12:14] vasilmkd commented on #2226
I can also confirm that the `streams` tests that were exhibiting this behavior now work correctly. Thanks!

[2020-03-05 12:15] adamgfraser commented on #2226
Awesome!

[2020-03-05 12:32] jdegoes commented on #3020
Would be amazing.

[2020-03-05 15:18] neko-kai commented on #3021
A global shutdownHook won't work. Not only this won't work on JS, it also doesn't work in sbt (https://github.com/sbt/sbt/issues/4794)

[2020-03-05 15:26] adamgfraser commented on #3021
Yes, I think we should probably just remove it and say that on ScalaJS the caller is responsible for shutting down the managed runtime. I don't think there is a way to support this in ScalaJS. I can fix.

[2020-03-05 16:02] MaT1g3R opened #3026 "Folding on Option[A] with ZIO values no longer compiles"
This code block below used to compile fine on RC17, but it no longer compiles on RC 18

[code]

[2020-03-05 16:05] adamgfraser commented on #3026
@MaT1g3R The signature of `succeed` was changed to be by name to provide greater safety in capturing potential unintended side effects so they can be managed by the ZIO Runtime. The Scala compiler does not unify by name and by value functions in your context. You can fix by changing `IO.succeed` to `IO.succeed(_)` in your example.

[2020-03-05 16:07] MaT1g3R commented on #3026
Thank you, that worked

[2020-03-05 16:07] #3026 closed

[2020-03-05 17:18] jdegoes opened #3029 "Add tags to tests / suites to make it easier to run related tests together"
Currently ZIO Test lets us attach tags to tests and suites, but we're not using that feature.

It would be useful to add tags that allow us to group related tests. For example, all tests of interruption could utilize the tag "interruption", whether they are testing ZIO, ZStream, ZManaged, etc. Similarly, error handling tests could utilize the tag "errors". And so forth.

[2020-03-05 17:39] #3021 closed

[2020-03-06 01:00] jdegoes opened #3035 "ZIO Test: Add Laws"
Why can't laws be values? /cc @adamgfraser

[code]

Maybe with an added `zio.test` operator:

[code]

Mainly thinking this would be useful _downstream_. 😉

The other thing is what to do when a law requires something else from the type. That could possibly be stuffed in `R`, but there may be a more elegant way.

[2020-03-06 01:09] adamgfraser commented on #3035
I was thinking the same thing. I will take this.

[2020-03-06 01:41] luis3m commented on #2962
Perhaps I'm short-sighted, but I can hardly think of an useful non-side-effectful ZIO function. As you mentioned, in practice side-effects are embedded everywhere. For instance, `ZIO.succeed` is normally accompanied by a side-effectful IO in another branch of the same block of code:

[code]

Another concern is type aliases, will UIO continue to require `Any` as environment or `SideEffect`?

[code]

[2020-03-06 02:47] adamgfraser commented on #3011
Resolved by #3032.

[2020-03-06 02:47] #3011 closed

[2020-03-06 04:13] nadenf opened #3037 "ZIO Core: ZLayer.fromServices should support more than 5"
It is very common to have more than 5 services being supplied to a module.

Ideally this would be auto-generated so we can have a much larger limit.
But would be happy if in the short term it could be extended to at least 10.

[2020-03-06 04:18] nadenf opened #3038 "ZIO Core: ZLayer.fromServicesMany should be removed"
It is confusing what the difference is between ZLayer.fromServices and ZLayer.fromServicesMany is and when you should use one or the other.

Would be good to consider removing ZLayer.fromServicesMany entirely.

[2020-03-06 04:24] nadenf opened #3039 "ZIO Core: ZLayer fails to infer types"
The following will not be represented as ZLayer[A with B, Nothing, C]:

[code]

And instead needs to be written as such to be usable:

[code]
Likewise for ZLayer.succeed etc.

It would be great if the types could be inferred somehow (can we cast to C?).  Otherwise the [documentation](https://zio.dev/docs/howto/howto_use_layers) should be updated so that every example has the types specified e.g.
[

[2020-03-06 05:32] adamgfraser commented on #3037
Agreed this is a quick win. I will add this tomorrow.

[2020-03-06 05:36] adamgfraser commented on #3038
I don't think we can remove these methods. The reason for the distinction between these variants and the normal variants is the `fromServices` allows you to build a layer that outputs a single service (e.g. `ZLayer[A, Nothing, B]`). But if you want to build a layer that outputs more than one service (e.g. `ZLayer[A, Nothing, B with C]`) you need the `Many` variant, hence the name. This is not that

[2020-03-06 05:57] adamgfraser commented on #3039
Yes, I think this is an unfortunate consequence of structural typing and `Has` being invariant. Solutions are:

1. Specify the type parameters to `fromServices` (e.g. `fromServices[A, B, C]`)
2. define any values in the service defintion that do not just implement the service as `private` (e.g. `private val x = 10`)
3. Define a constructor that returns the correct type (e.g `object Service { def a

[2020-03-06 09:33] octavz commented on #3013
@jdegoes  Hi, this is the only way to use `akka-http` with `ZIO`, and not only, any `unsafeToFuture` out there will crash.

There are a lot of people using this setup, please give this a high priority otherwise we have to stick to RC-17 and once this is fixed perhaps you can release a small update RC-18-xx.

Thank You

[2020-03-06 12:15] jdegoes commented on #3013
I'll try to fix today!

[2020-03-06 12:20] fsvehla commented on #3013
@octavz If it’s urgent, you could fulfill a `scala.concurrent.Promise` by using `unsafeRunAsync`, emulating `unsafeRunToFuture` (unless both methods share this issue)

[2020-03-06 13:37] jdegoes commented on #3035
Here's another variation with capabilities (maybe too complicated, I am not sure):

[code]

[2020-03-06 13:49] jdegoes commented on #3013
Anyone want to test #3040 to see if it solves the problem?

[2020-03-06 13:53] jdegoes commented on #3038
Possibly better Scaladoc would help resolve the issue, guiding users toward the "single service" variants unless they know what they are doing.

[2020-03-06 13:54] adamgfraser commented on #3038
Yes, I will work on it.

[2020-03-06 15:01] adamgfraser commented on #3029
This would be great. I think one thing we could do to build on this would be define a common set of tags, possibly in `ZIOBaseSpec`, so we don't have issues with inconsistent tags (e.g. "interrupt" versus "interruption"). For example:

[code]

We could possibly define our own internal `tag` test aspect that only accepts a `ZIOTag` which is a sealed trait to enforce this further at the type level b

[2020-03-06 16:18] senia-psm commented on #3013
@jdegoes I have ~10 tests that are broken with this bug. With #3040 all test are green! Thank you!

[2020-03-06 19:09] jdegoes opened #3046 "ZIO Test: Add double implication"
`(l <==> r) = (l ==> r) && (r ==> l)`

[2020-03-06 19:40] WesselVS commented on #3046
Seems like a good first issue, I'd like to pick this up

[2020-03-06 19:41] adamgfraser commented on #3046
Great!

[2020-03-06 20:09] WesselVS commented on #3046
Here
https://github.com/zio/zio/pull/3049 (not sure how to link that pull request to this issue)

[2020-03-06 20:10] adamgfraser commented on #3046
@WesselVS Thanks! You can just say "resolves" and the issue number in your PR to link them. Will take a look.

[2020-03-06 20:34] #3013 closed

[2020-03-06 20:55] #3046 closed

[2020-03-07 00:56] jdegoes opened #3052 "ZIO Clock: Failure to reflect exception in type"
Generated by `clock.currentDateTime`, which can apparently throw:

[code]

The fix is to reflect the possibility of failure in the return type. I am not sure if `ZoneRulesException` is the only exception, or if there are others that can be thrown, but they should be reflected in the type and captured via `Task(...).refineOrDie { ... }`.

[2020-03-07 15:53] dkarlinsky commented on #2784
@softinio rereading the comment now, I realize that that was what @adamgfraser meant.
Sorry about the confusion.

[2020-03-07 17:12] jdegoes commented on #2784
@dkarlinsky No worries at all! Just a simple misunderstanding and we can still reuse the bulk of the work no matter what happens around the diffing algorithm

[2020-03-07 17:48] softinio commented on #2784
@dkarlinsky no problem at all. All clear and good now :-)

[2020-03-07 20:49] gaelrenoux commented on #2949
Potentially linked to this, I've had a compilation error in this. Method something1 is fine, but the compiler fails in something2 on the line `r1 ++ r2`
[code]
Error is:
[code]

[2020-03-08 04:31] adamgfraser commented on #3037
Closed by #3054.

[2020-03-08 04:31] #3037 closed

[2020-03-08 08:01] octavz opened #3060 "in Java 9 newInstance is deprecated"
Starting with Java 9 `newInstance` is deprecated and the build will throw a warning:

[code]

I can make a PR.

[2020-03-08 08:04] octavz opened #3061 "Type inference when creating ZLayer from a subtype"
[code]

looked into it a bit and seems that `Has[A]` can be made `Has[+A]` and if I didn't do it wrong seems to fix the issue, given some `asInstanceOf` are added here and there, I tried it and tests seem to pass. I can show the code in a PR.

[2020-03-08 10:37] adamgfraser commented on #3061
@octavz `Has` is intentionally invariant. We cannot make `Has` covariant because then composing two effects that require `Has[A]` and `Has[B]` would return a `Has[A with B]` instead of a `Has[A] with Has[B]` and we cannot construct an `A with B` generically given an `A` and a `B` without macros.

In your situation you can just specify the type or use a constructor for your service that returns the

[2020-03-08 11:00] #3061 closed

[2020-03-08 11:01] octavz commented on #3061
seems is not possible

[2020-03-08 12:12] jorge-vasquez-2301 commented on #3052
@jdegoes I can work on this one 😃

[2020-03-08 12:13] jorge-vasquez-2301 commented on #3029
@jdegoes @adamgfraser I can work on this 😃

[2020-03-08 12:43] gabro opened #3063 "Combinators to recover from defects"
I have an application which is a client-facing HTTP API. This application communicates with an external service which may occasionally be unreachable.

Whenever this happens and kill the fiber with `IO.die(ServiceFooNotAvailable`: I don't want this error to appear in my "domain errors" since my business logic can't do anything about it.

I do need however to translate this error to something intel

[2020-03-08 12:59] adamgfraser commented on #3063
I will take this. One question is what the semantics should be if there is more than one cause. It seems most intuitive to me that we should refail if there are additional causes beyond the one being "caught" but that is different from your second implementation.

[2020-03-08 13:03] iravid commented on #3063
I think it's fair to use `find` semantics; that is, `catchSomeDie` / `catchAllDie` handle the defect if the function matches just one of the causes.

I think that is what `catchSome` does for `Both(Fail, Fail)`.

[2020-03-08 13:11] adamgfraser commented on #3063
Okay I will take a look. Just checking the first one seems very dubious.

[2020-03-08 13:24] adamgfraser commented on #3029
@jorge-vasquez-2301 Awesome!

[2020-03-08 13:24] adamgfraser commented on #3052
@jorge-vasquez-2301 As part of this can we understand when this exception can occur?

[2020-03-08 14:25] gabro commented on #3063
I agree that matching on any of the causes seems reasonable from a user perspective

[2020-03-08 14:42] jdegoes commented on #3063
I'd suggest this family of combinators, if it existed, would be the inverse to `refineOrDie` family.

`refineOrDie` family takes part of the typed error channel and converts it into a non-recoverable error.

You can imagine an `unrefine` family taking part of the non-recoverable error and converting it into the typed error channel.

Symmetry between these could be a guiding design principle of the

[2020-03-08 14:52] adamgfraser commented on #3060
Please do!

[2020-03-08 14:55] jdegoes commented on #3052
<https://docs.oracle.com/javase/8/docs/api/java/time/ZoneId.html#systemDefault-->

[code]

The methods we are calling in `package.scala` for `Clock` should be audited for the exceptions they throw, and those exceptions properly reflected in the types.

I know for sure `ZoneId.systemDefault` throws because it did so on my machine and I was totally surprised by it! This is used indirectly in the `cu

[2020-03-08 15:22] adamgfraser commented on #3052
Yeah. I wonder if we should have some kind of algebraic data type of valid values so it is impossible for those failures occur. But maybe too much work that is outside our area of focus.

[2020-03-08 16:46] gaelrenoux opened #3065 "ZIO always waits for timeout expiration in acquire/release of bracket"
Using ZIO 1.0.0-RC18
Effects which are configured with a timeout always wait for the timeout to expire (even when we've had a successful result before that time), when within the acquire or release portion of a bracket.

Here's a piece of code reproducing the issue:
[code]

Prints:
[code]

[2020-03-08 16:48] octavz opened #3066 "Aliases for ZLayer"
@jdegoes, @adamgfraser

As discussed on Discord, would be very useful to have some extra aliases.
`type Layer[+E, +A] = ZLayer[Any, E, A]`
`type ULayer[A] = Layer[Nothing, A]`

I think ULayer is extra useful in tests, I found myself using it everywhere, `provideLayre(layer)` `layer` is `ULayer` given the fact that `Has` is invariant and we are required to use signature everywhere we have subtypes

[2020-03-08 16:48] adamgfraser commented on #3066
@octavz https://github.com/zio/zio/pull/3064.

[2020-03-08 17:45] #3038 closed

[2020-03-08 19:41] neko-kai commented on #3065
This is linked to a change in RC18:

Before, `timeout` would work correctly here, because both sides would be forced interruptible, now neither is, so a `timeout` in bracket can't finish early.

[code]

[2020-03-09 00:08] smarter opened #3068 "Trick used to support implicit search negation cannot be used with Dotty"
https://github.com/zio/zio/tree/master/core/shared/src/main/scala-2.12%2B/zio contains a bunch of definitions all following the same pattern:
[code]

This trick is intentionally not supported by dotty, see part 4 of http://dotty.epfl.ch/docs/reference/changed-features/implicit-resolution.html, instead one should use [`scala.implicits.Not`](https://github.com/lampepfl/dotty/blob/master/library/src/

[2020-03-09 00:10] adamgfraser commented on #3068
@smarter Thanks for following up on this! I am working on adding a version specific file that uses the `Not` combinator to address this.

[2020-03-09 08:05] gabro commented on #3063
I like the idea of symmetry! That said I think this family of combinators would be symmetrical do the "die" part of `refineOrDie`, since there's no "unrefinement" from `E` to `Throwable` going on (if anything, the opposite).

The symmetric with `die` made me think of a possible name:

[code]

what do you all think?

[2020-03-09 09:51] jdegoes opened #3071 "ZIO Core: Ensure orElse is associative with respect to errors"
Copied over from interop-cats.

/cc @neko-kai @adamgfraser

[2020-03-09 10:28] adamgfraser commented on #3066
Closed by #3064.

[2020-03-09 10:28] #3066 closed

[2020-03-09 10:33] adamgfraser commented on #3071
I will take a look at this morning.

[2020-03-09 11:23] iravid opened #3073 "Can't fork fibers and propagate them outside zipWithPar"
[code]

This fails immediately because `printer` is interrupted after `zipWithPar` ends. It is interrupted because `zipWithPar` races both sides in a new fiber, which interrupts all descendants when it ends.

cc @jdegoes @adamgfraser

[2020-03-09 11:23] iravid commented on #3073
refs https://github.com/zio/zio-kafka/issues/135

[2020-03-09 11:41] iravid commented on #3073
@jdegoes Some possible ideas I had:
- add a regional combinator that forks fiber under a different parent:
[code]
- add a forking behavior that says that when the parent ends, the fibers await the termination of their grandparent

[2020-03-09 11:57] jdegoes commented on #3073
How about:

[code]

Then we can grab the supervisor at the beginning and pass it down all the way to the fibers forked with `raceWith`. Would that work?

Tricky, almost requires `evalOn` to do properly.

Essentially we have to somewhat disentangle the notion of "scope" from "fiber".

[2020-03-09 12:03] iravid commented on #3073
I'm not sure it's enough to have something that directly forks an effect. You need something that modifies where fibers are forked throughout an entire region to make this composable.

So it'd have to be:
[code]

[2020-03-09 12:42] adamgfraser commented on #3073
I think having the parent adopt is interesting but we would need to remove the fiber from the parent and add it to the grandparent in way that was concurrency safe. I think we would also need to check if the grandparent was itself in wind down and if so transplant to it’s parent or possibly the root fibers.

[2020-03-09 12:50] jdegoes commented on #3073
@iravid Let me think about that. It's close...

@adamgfraser I went down that path before I deleted transplanting / relocation. It's super complex because we can't atomically operate across the state of more than one fiber.

[2020-03-09 12:57] adamgfraser commented on #3073
@jdegoes Yes it seems like you would need something like STM to do that.

[2020-03-09 12:59] adamgfraser commented on #3073
If we just fork on the grandparent are we creating another set of issues where the child is not going to be interrupted if the child is interrupted?

[2020-03-09 16:19] #2988 closed

[2020-03-09 19:39] #3065 closed

[2020-03-09 19:40] adamgfraser commented on #3071
Closed by #3076.

[2020-03-09 19:40] #3071 closed

[2020-03-09 20:08] jdegoes opened #3078 "Scala.js test failures: JSCom has been closed"
A ticket to collect evidence for our dreaded error:
[code]

[code]

[2020-03-09 20:08] adamgfraser commented on #3078
Nice!

[2020-03-09 20:18] jdegoes commented on #3078
Relevant:

<https://github.com/npm/npm/issues/12741#issuecomment-275739690>

We may need to modify the way V8 is started:

[code]

[2020-03-10 08:28] unclebob418 opened #3082 "Improve performance of `TReentrantLock`"
Following from @KamalKang's work to benchmark performance in #3005 , we have some work to do to try and close the gap. I'll be working on this with support from @mijicd

[2020-03-10 11:04] #3063 closed

[2020-03-10 11:05] #3068 closed

[2020-03-10 11:07] Baccata opened #3083 "Add "ZLayer#orElse""
As far as I know, it's currently not possible to define it in userland since `scope` is not exposed publicly, and defining it using `build` means allocating resources twice if the LHS fails.

[2020-03-10 11:09] adamgfraser commented on #3083
It can be implemented in terms of `fold` but users shouldn't have to do that. I will submit a PR to add shortly.

[2020-03-10 11:19] Baccata opened #3084 "Add "ZLayer#andWith" combinator doing both of `++` and `>>>`"
I found the `layer0 ++ (layer0 >>> layer1)` pattern to be repeated on several occasions in my project, and made a custom operator for it:

[code]

Not certain it's something you guys would like to add, but I figure it doesn't hurt to suggest.

[2020-03-10 12:02] adamgfraser commented on #3084
Yes I think we could potentially use some sort of `passthrough` operator that turns a layer that "hides" its inputs into one that exposes its inputs downstream. Let me work on this.

[2020-03-10 12:03] jdegoes opened #3085 "ZIO Core: catchSomeDefect"
A hypothetical `catchSomeDefect` would allow responding to a subset of defects:

[code]

/cc @gabro

[2020-03-10 12:03] adamgfraser commented on #3085
I am working on this.

[2020-03-10 12:08] hepin1989 commented on #3085
Just catchDefect，it accept a partial function,so no need the some word

[2020-03-10 12:09] gabro commented on #3085
That's perfect, thanks @jdegoes and @adamgfraser

[2020-03-10 12:10] adamgfraser commented on #3085
@hepin1989 `catchDefect` would imply that it catches all defects, which is not the case. For consistency with other combinators `catchSome` and `catchSomeCause` we definitely need the current name. We could potentially add `catchAllDefect` that would catch all defects.

[2020-03-10 12:16] neko-kai commented on #3084
Sorry for harsh words, but I believe such an operator should be primary and MemoMap should be phased out in its favor – it's solving the wrong problem by silently caching "private" dependencies, and thereby encourages "private" dependencies, and it breaks referential transparency to do it which it makes it even harder to reason about.

[2020-03-10 12:35] adamgfraser commented on #3084
@neko-kai Feedback always welcome! I think that gets to a larger design discussion of whether to hide or pass through dependencies. Great to have that here but I am going to continue to proceed with incremental improvements based on existing design pending resolution of that discussion.

[2020-03-10 14:00] xkrillex opened #3087 "Managed released immediately when Layer is constructed - before tests has run"
There seems to be an issue where the Managed is released immediately when the Layer has been constructed, before the tests has started:

[code]

Experienced this when providing the ZLayer to a suite with `provideSomeLayerShared`

[2020-03-10 14:36] jdegoes commented on #3087
Could be related to `zipPar`.

[2020-03-10 15:14] hepin1989 commented on #3085
@adamgfraser more practical

[2020-03-10 15:48] #3085 closed

[2020-03-10 16:00] sideeffffect commented on #2962
I think if this will get implemented, it will influence the architecture of ZIO apps in a good way. `SideEffect` will nudge programmers to capture side effects (via `effectTotal` & co.) only in the lowest layer(s) of the app. I think this is good from architectural point of view, and will also help people who come new to an already existing ZIO app to comprehend the code base.

[2020-03-10 16:45] fanf commented on #1841
I'm having something similar for `RC18`, but somehow it is worse than in `RC16` and makes use of a personnal runtime hard - actually I didn't find a way for now. I tried to adapt my code to use `class` in place of object where possible, and `lazy val` everywhere, but it still deadlock.

I really need to be able to have a stable reference to `ZioRuntime`, and I really need to be able to have object

[2020-03-10 19:49] ioleo commented on #2734
@thesamet Thanks for raising the issue. It's on my roadmap, now that we've got Mock for complex environments (#3000) I'll see what we can do for polymorphic methods and ZStream support.

[2020-03-10 21:23] fanf commented on #1841
It is also reproducible by using current `1.0.0-RC18-1+44-24f507c2+20200310-2150-SNAPSHOT` with the `Runtime.default` object:

[code]

[2020-03-11 00:13] #3084 closed

[2020-03-11 02:32] contrun commented on #3060
I just found the same issue. @octavz  do you mind I make a pr?

[2020-03-11 09:39] fanf commented on #1841
I tried to minimuze reproduce our working env in `RC16` to get insight about difference, because given explanation about object lock, it should not, and... Actually it does not work in `RC16`. So now, I don't get why it works on our app at all. That may be phase 3 of grief^W bug hunting, or something.

[2020-03-11 09:40] ioleo opened #3097 "ZIO Mock: implicit free encoding for spies"
As a follow up to #3000 we'd like to reintroduce Spying functionality that is not based on implicits.

The fundamental problem is to be able to compose environment constructors/deconstructors for a composite `R <: Has[_]` we need a list of calls or modules being spied on.

One possible approach is to add a deconstructor reference for `Has[A]` in `Method[A, In, Out]`: `URLayer[Has[A], Proxy]` - a d

[2020-03-11 09:52] fanf commented on #1841
Hum. So it seems that by pure happenstance, we only used the `someRoot.zioRuntime.runtime.unsafeRun(...)` version in objects in RC16 code, and that I changed some of these call to `someRoot.zioRuntime.unsafeRun(...)` while migrating to RC18 when attempting to debug things (some blocking effects where not marked as being so). So maybe it's not more broken, I was just observing compensating bugs.

[2020-03-11 10:43] #3083 closed

[2020-03-11 11:14] fillson-shady opened #3098 "ZLayer does not support fork"
I have 2 almost identical tests in which `ZLayer` with pool of forked workers and a work `Queue` was created.
First test written for `zio:1.0.0-RC17` works fine, however second one written for `zio:1.0.0-RC18` got stuck on `queue.take` call and never completes.

This is succeeded test (for `zio:1.0.0-RC17`):
[code]

This is failing test (for `zio:1.0.0-RC18`):
[code]

Is it a bug or `ZLayer` is no

[2020-03-11 11:18] adamgfraser commented on #3098
@fillson-shady We believe this is related to #3073 since zipWithPar is used internally in ZLayer. We are working on a fix.

[2020-03-11 11:18] fanf commented on #1841
I confirm that the situation is similar in `RC16` and  `RC18-2`. It's extremely suprising but not more than before.

[2020-03-11 11:53] fillson-shady commented on #3098
@adamgfraser Thank you so much for the quick reply and great support! I'm sure it will be fixed in `zio:1.0.0`

[2020-03-11 12:18] neko-kai opened #3100 "Uninterruptible race should auto-disconnect children"
There was a proposal before to make `race` auto-disconnect to avoid a deadlock caused by interruption inheritance in `x.race(ZIO.never).uninterruptible` ([link](https://github.com/zio/zio/pull/2317#issuecomment-559926500))

However, the most recent supervision overhaul does not implement this proposal - this leaves `race` unsafe to use in uninterruptible sections, as evidenced by recent bug report

[2020-03-11 13:05] jdegoes commented on #3078
<https://github.com/scala-js/scala-js/blob/master/nodejs-env/src/main/scala/org/scalajs/jsenv/nodejs/NodeJSEnv.scala>

[2020-03-11 15:32] #2692 closed

[2020-03-11 21:11] #3052 closed

[2020-03-12 07:07] vpavkin commented on #2077
I'll take reject/rejectM if noone started those yet :)

[2020-03-12 07:10] adamgfraser commented on #2077
@vpavkin Great!

[2020-03-12 11:45] KadekM commented on #1841
@fanf I confirm it can be rather suprising. I initially spent nontrivial amount of time figuring it out. I worry when mainstream large imperative apps try to plug in ZIO to some specific module of their software "for trial" and they hit this issue and back away very quickly.

[2020-03-12 16:19] LeeTibbert opened #3112 "stacktracerNative/publishLocal is broken"
#### Presenting problem:

      "sbt stacktracerNative/publishLocal" fails with
[code]
Note the [error]. Because of the Scaladoc generation failure, the publishLocal fails.

#### Expected behavior:
[code]
With the [warning], the publishLocal proceeds to succeed.

This worked in the early hours of March 3, 2020.

#### Analysis
`git bisect` revealed that PR #3003 "Enable Fatal Warnings by Default" i

[2020-03-12 16:32] leobenkel opened #3113 "`java.lang.StackOverflowError` in `ZTrace`"
I encountered :

[code]
in version `1.0.0-RC16`

[2020-03-12 16:34] adamgfraser commented on #3113
If possible can you try upgrading to `1.0.0-RC18-2` and see if the issue is still present? Or if you have a minimized example we can check it on that.

[2020-03-12 16:37] leobenkel commented on #3113
I got this exception as part of a large project in production.
And since I didnt get the stack trace, I do not know what produced it :/
And since it is in production I cannot change the version in used at the moment :/
sorry.

[2020-03-12 17:05] jdegoes commented on #3100
It's an easy change and may lead to fewer surprises. 👍

[2020-03-12 17:42] jdegoes commented on #1841
Wrapping `unsafeRun` always in `lazy val` variable should solve this problem, shouldn't it?

Possibly we could do something like this:

Maybe:

[code]

Any volunteers to test?

[2020-03-12 19:09] #3112 closed

[2020-03-12 19:11] leobenkel commented on #3113
@adamgfraser I tried to update to `RC18` but the change in the Environment with the Layer is triggering a nightmare of changes that I cannot handle at the moment. Also, while searching for tutorial on how to convert the old to the new architecture, I saw post about `fork` being broken, which is a critical part of my application. So switching to `RC18` is out of the question right now.

[2020-03-12 19:24] ioleo opened #3115 "ZIO Mock: expect no calls"
Previous ZIO Mock encoding had the `Expectation.nothing` helper which allowed to create mocked services which should not be called. As a follow-up to discussion on discord, there are a few ideas how to support that in the new encoding:

* create empty layers which don't call a Proxy, but immidietly die with MockException
[code]
* intercept all calls to `A` service at `Has` level, dieing with MockE

[2020-03-12 19:24] adamgfraser commented on #3113
@leobenkel Totally hear you about migrating. The issue with `fork` is only if you do `fork` inside of `zipWithPar`. As far as resources take a look at this [migration guide](https://docs.google.com/document/d/1P0mx1gSNU2UTi-9PXUeY8O74v5gyK-UETznM1SbkQjA/edit?usp=sharing) we put together. Totally understand waiting to upgrade, especially for an application you are using in production, but it also m

[2020-03-12 19:31] leobenkel commented on #3113
ok, i will look at the migration guide and come back to you. Thanks !

[2020-03-12 20:42] fanf commented on #1841
@jdegoes not sure I understood correctly what you meant, but that still block (with a different trace for main:
[code]
[code]

[2020-03-12 21:58] jdegoes commented on #1841
You can't call `.get()` on the `Lazy`

[2020-03-12 22:11] fanf commented on #1841
I don't get it. If I don't call `get()`, thet value is not computed. Calling `get()` at the outermost possible place (in `main`) leads to the same lock. Not calling it leads to, well, nothing.

[2020-03-12 22:19] jdegoes commented on #1841
Interesting. So there is a deadlock even if there is only one top-level `get` in `main`?

In that case we may be able to do something.

Have you tried only using `unsafeRunToFuture`?

[2020-03-12 22:39] fanf commented on #1841
There was two `get()`: one in main, and one in object `Elsewhere`. It's the one in `Elsewhere` (the one which should write `2000` that block. I need that one, because in my case, `Elsewhere` is where all the initialisation side effects happen.

`unsafeRunToFuture` also block with:
[code]

[code]

[2020-03-12 22:40] fanf commented on #1841
And as previously, if I remove the call to `Blocking` in my `unsafeRun`, it does not block (sorry for that pun)

[2020-03-12 22:52] fanf commented on #1841
Oups previous comment is actually false, something didn't compile correctly.

So: contrary to previous case, `unsafeRunToFuture` blocks with or without calling `Blocking` in my unsafe methode

[2020-03-12 23:49] LeeTibbert commented on #3112
@adamgfraser  Thank you for your review & acceptance of this PR.

I share your approach of disabled warnings being a code smell only
to be used in the most necessary situations, and then in the smallest
scope.

For those reading along six months from now, including myself, or reading
rapidly, the scope of this PR is the stacktracer project and then only when
building for Scala Native..  On Scala N

[2020-03-13 10:48] radutoev commented on #3020
I can look into this one if it's ok.

[2020-03-13 11:18] jdegoes commented on #3020
@radutoev That would be awesome, thank you!

[2020-03-13 13:25] radutoev commented on #3020
Any suggestions about a first blog post that I could add?

Maybe something is already written that would be a good first post.

[2020-03-13 13:53] ioleo opened #3121 "ZIO Test: surpress fiber failures"
Currently when running ZIO's tests we're seeing fiber failure traces printed in between suites, even though all tests succeed.

[code]

[2020-03-13 13:57] adamgfraser commented on #3121
I will take a look at this. I'm not sure we should suppress fiber failures as much as understand why fiber failures are being logged in general. For example in the code above it looks like the fiber failure was an interruption which shouldn't normally be logged in production or test environments.

[2020-03-13 16:19] softinio commented on #3020
@radutoev What would be great is if you can start off with:

1) Create a blog for each release we did including the release notes and dating the blog the date of the release:

<https://github.com/zio/zio/releases>

2) Create a blog for each newsletter we have published and date the blog the same date as the newsletter was published:

<https://www.getrevue.co/profile/zio>

3) Write a new blog intro

[2020-03-13 19:41] ioleo commented on #1972
A few more things I'll try to get in before 1.0 release:
- [ ] split macros into `zio-macros-core` & `zio-macros-test` (iff @adamgfraser confirms he's OK with that solution) & make sure they are ready to be published together with `zio/zio`
- [ ] mocking polymorphic methods #2978
- [ ] mock expecting no calls #3115
- [ ] reintroduce spies with implicit free encoding #3097
- [ ] support mocking ZSt

[2020-03-13 21:47] adamgfraser commented on #3035
Resolved by #3111.

[2020-03-13 21:47] #3035 closed

[2020-03-13 22:09] adamgfraser commented on #2721
@peterlopen You still working on this? Anything you need to push it forward?

[2020-03-14 00:54] #3121 closed

[2020-03-14 16:39] ioleo opened #3133 "ZIO Test: make test reporting more extensible"
Following up a discussion on Discord:

To make ZIO Test more pluggable we need to address two problems:

### Seperate report generating from rendering

We need to have an intermediate format which captures all of the information. We can base it of current **Line**, **Message** and **Fragment** in the **FailureRenderer**, but we need to abstract over the target.

For example: in [Fragment.apply](ht

[2020-03-14 17:44] mikail-khan commented on #3133
Is part of this ticket going to address the huge trace output that gets returned when there is a test failure? I don't think that is a good user experience. For example:

`SourceLocation(ZIO.scala,zio.ZIO,retryOrElseEither,1397), SourceLocation(ZIO.scala,zio.ZIO$,effectSuspendTotal,2260), SourceLocation(ZIO.scala,zio.ZIO,zipWithPar,1861), SourceLocation(ZIO.scala,zio.ZIO$,effectSuspendTotal,2260),

[2020-03-14 17:46] hmemcpy commented on #3133
Please put this behind a [`<details>` tag](https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d)

[2020-03-14 18:29] adamgfraser commented on #3133
@mikail-khan I would say that is a separate issue since that is a point fix that I can probably do myself in the next couple of days versus this is a longer term issue that will require design discussion and input from multiple parties. Do you want to create a separate issue for that and I will take the ticket?

[2020-03-14 20:53] mikail-khan commented on #3133
sure @adamgfraser  - will do :+1:

[2020-03-14 21:15] mikail-khan opened #3135 "Improve Trace Output When A Test Fails"
sure @adamgfraser  - will do :+1:

_Originally posted by @mikail-khan in https://github.com/zio/zio/issues/3133#issuecomment-599133622_

see https://github.com/zio/zio/issues/3133#issuecomment-599107863

[2020-03-14 22:39] adamgfraser commented on #3135
I will take this one.

[2020-03-15 03:50] reibitto opened #3139 "Scala.js scala-java-time dependency"
I brought this up on Discord, but seeing as this might need long-form discussion, thought I'd create an issue.

Basically, it seems like ZIO Scala.js projects require a dependency on `scala-java-time` starting with RC18. When I upgraded one of my Scala projects from RC17 to RC18-2, I started getting errors like:

[code]

It seems like the moment you refer to `Runtime.default` you start getting the

[2020-03-15 03:54] reibitto opened #3140 "Consider adding collectAllPar_?"
@adamgfraser brought this up, and it's something I was looking for as well. I wanted to create an issue so that it doesn't get lost.

We currently have `foreachPar_` but not `collectAllPar_`. Should the latter be added for consistency?

If the aim is for perfect symmetry, there's also `collectAllParN`, `collectAll`, and so on.

You can always do `.unit` which is fine in many cases. Besides consist

[2020-03-15 04:02] adamgfraser commented on #3139
Yes. I think it relates to the slightly different encoding for the default services in RC18-2. Let me see if I can make them lazier.

[2020-03-15 04:03] adamgfraser commented on #3140
I agree these make sense. I can add if no one has objections.

[2020-03-15 05:55] leobenkel opened #3141 "Error in Schedule#randomDelay"
I think at https://github.com/zio/zio/blob/237e1f728dc3de36969bc9164e34a3617d450be7/core/shared/src/main/scala/zio/Schedule.scala#L841-L844

The `n - minNanos` should be `n + minNanos`, no ?

look at :
https://scastie.scala-lang.org/VOg7J4X0TNu33qI6u3yCIw

With `-` instead of `+` you always get zero.
https://scastie.scala-lang.org/3IcsPnm4SQCJ9VrLDQgHiQ

[2020-03-15 11:18] adamgfraser commented on #3141
Yes you are right. Will fix!

[2020-03-15 12:38] reibitto opened #3146 "Random range functions"
I feel Random might benefit from range variants for generating random numbers, like `nextInt(low, high)` (or `nextIntRange(low, high)` if you'd rather not use overloading).

Reason being for convenience considering that it's a very common operation. And to avoid mistakes like https://github.com/zio/zio/issues/3141. At a glance it's not easy to tell there's a bug there.

[2020-03-15 12:44] adamgfraser commented on #3146
Yes I think so too. Also the Scala standard library added `between` variants to `scala.util.Random`  for that so I think we need to add to maintain parity with that functionality. I was running into the same thing in fixing #3141 so can fold into that. We should largely be able to pull existing functionality from the generators for those ranges up into `Random`.

[2020-03-15 12:48] reibitto commented on #3146
Oh nice, I didn't realize they added that in Scala 2.13 (still stuck on 2.12 on some of my projects). Then yeah, I agree that it makes sense to match the naming. Least amount of surprise that way.

[2020-03-15 15:16] #3141 closed

[2020-03-15 22:28] ioleo opened #3150 "ZIO Macros: add DebugProperties"
Add `DebugProperties` listing with one option `debug: Boolean` which turns on/off logging of the generated body, modify accessible/mockable macros to use that system property and do logging if enabled.

[2020-03-16 07:28] hmemcpy opened #3152 "ZIO Test: include source location traces for all test executions"
To improve the usability of ZIO Tests when running with external runners (such as IntelliJ), it would be very helpful to have the exact source information (preferably, `filename:line_number`) of the executing tests. This would allow adding features such as navigation to the exact test, or, in case of failures, going to the exact line that failed.

Perhaps traces could be added with annotations?

[2020-03-16 13:01] peterlopen commented on #2721
@adamgfraser created PR, sorry for not pushing it earlier.

[2020-03-16 13:02] adamgfraser commented on #2721
@peterlopen No problem! We all have a lot going on, especially these days. Will take a look today.

[2020-03-16 18:37] #3146 closed

[2020-03-16 18:39] #3140 closed

[2020-03-17 03:50] HansBrende opened #3156 "ZIO.fromServices causes IntelliJ to run out of memory in v1.0.0-RC18-2"
I had something like

[code]

which worked fine in  v1.0.0-RC18-1, but caused IntelliJ to run out of memory and freeze every time I had that source code file open when I updated to v1.0.0-RC18-2.

In v1.0.0-RC18-2, when I replaced it with
[code]
memory was normal.

This is probably an IntelliJ bug or a Scala plugin bug, but I thought I should bring it to your attention anyway.

Tested on IntelliJ

[2020-03-17 04:04] adamgfraser commented on #3156
Thanks for reporting!

This issue has been discussed on Discord as well. Our current understanding is that the new environment encoding created the issue in RC18-1 as well but that these issues were exacerbated by the addition of higher arity variants of layer constructors in #3054. Some users like you have reported that things worked fine in the RC18-1 though others report experiencing the issues

[2020-03-17 07:21] hmemcpy commented on #3133
I'd like to work on this. I started some initial work on separating the reporter from the test renderer. The main idea is to have a renderer that understands the spec structure, and customized printers to emit the needed format. I'm basing this on how specs2 does it - it can instantiate custom printers with reflection, so they can be entirely independent of zio and live in their own libraries.

[2020-03-17 12:21] adamgfraser commented on #3133
@hmemcpy That would be fantastic! I think we should be able to do it without reflect by just adding some methods on runnable specs that let you update the printer, I think we were close to that in your prior version of this.

[2020-03-17 12:37] hmemcpy commented on #3133
@adamgfraser yeah, I think this is doable without reflection.
I wanted to support a scenario where I could specify an external implementation of a renderer, so I don't have to instantiate any custom runner logic, so I don't have to couple to zio from the intellij plugin - i.e. I could just call the spec's main, passing it some arguments. But thinking about it, I would still have to at least import

[2020-03-17 12:49] mikail-khan commented on #3156
@adamgfraser I did an experiment by commenting out all the arities beyond 5 parameters and the memory issue still occurs. Adding this information here for completeness.

[2020-03-17 12:57] adamgfraser commented on #3156
@mikail-khan Thank you! From the latest reports we are getting and the status of [this](https://youtrack.jetbrains.com/issue/SCL-17221) issue it appears that the problem has been resolved. Are you able to try the latest nightly and see if that fixes it for you?

[2020-03-17 15:35] HansBrende commented on #3156
@adamgfraser I have tried the latest nightly build, can confirm that it fixed the issue for me.

[2020-03-17 15:37] adamgfraser commented on #3156
@HansBrende That's fantastic! Shall we close this issue then?

[2020-03-17 15:39] mikail-khan commented on #3156
@HansBrende please could you feedback on that JetBrains ticket so their developer knows. He was asking for feedback on his fix. Thank you

[2020-03-17 15:45] HansBrende commented on #3156
@adamgfraser @mikail-khan sure.

[2020-03-17 15:45] #3156 closed

[2020-03-17 19:01] #3029 closed

[2020-03-17 20:02] adamgfraser commented on #3060
@octavz Just wanted to check in on this. If you got pulled in other directions sounds like @contrun is able to work on it. Would be good to get this resolved.

[2020-03-17 20:33] LeeTibbert commented on #3060
I have other fish to fry, but if neither @octavz nor @contrun have time to fix this, let me know and I can take a run at it.

[2020-03-17 20:44] LeeTibbert commented on #3060
And, of course, as I just discovered, the fix is not as simple as the straight forward textual
substitution described in the Java 9 [doc](https://docs.oracle.com/javase/9/docs/api/java/lang/Class.html) for the `newInstance` method.

I believe that Zio wants to support Java 8 and above.  Different text is needed on J8 vs J9+.

[2020-03-17 20:49] LeeTibbert commented on #3060
Ah! I see now.  Java * has the getDeclaredConstructor() method, so the obvious substitution
works. Pretty clever deprecation evolution on the part of the Java devos.

@contrun, as a user, thank you for the PR.

[2020-03-17 21:29] #3060 closed

[2020-03-18 09:43] nadenf opened #3165 "ZIO Macros: Fails with method with type parameter"
Given the following module:
[code]

It will fail to compile with the following error:
[code]

[2020-03-18 10:17] politrons opened #3166 "Race Sink not working as I expect"
Hi all,
I'm following documentation of ZStream and ZSink. I'm trying to use the race operator since I consider it could be pretty useful, but somehow I cannot make it works as I expect.

Just like the documentation  said, the sink that process the input and generate the output faster win.
Well having this example

[code]

Where obviously the second sink should always win since he is delaying just

[2020-03-18 17:59] GuillaumeSaintRaymondSonos opened #3171 "ZIO Test: provideLayerShared"
Trying to migrate my existing codebase to ZIO `1.0.0-RC18-2` (from `RC-17`).

I'm trying to use `provideLayerShared` on a spec:
- I provide a layer `Layer[_, _, Has[R]]` for the spec
- the tests inside the spec are typed to `ZIO[R, _, _]`

Here is a simple example where `R` is a `String`.

[code]

And the compilation returns
[code]

Does the tests need to be typed  `ZIO[Has[R], _, _]` ?
In this ca

[2020-03-18 18:59] alexknvl commented on #2334
Adapted my original snippet to `RC18-2`:

[code]

[2020-03-18 19:01] alexknvl opened #3172 "Don't overload methods with completely different signatures and the same arguments"
In `StreamEffect`:
[code]
I am surprised that anything in that code works with these overloads, considering that the second method is *polymorphic in its return value* and both are polymorphic in their arguments!

[2020-03-18 19:09] alexknvl opened #3173 "Suspicious forcing of a lazy parameter and a discarded non-unit"
In `StreamEffect`:
[code]
@adamgfraser

---
On a separate note, perhaps it's also a good time to address #2334

[2020-03-18 19:13] adamgfraser commented on #3171
You need to access `Has[String]` instead of `String` from the environment and then use `get`:

[code]

[2020-03-18 19:13] adamgfraser commented on #3173
I will look at this.

[2020-03-18 19:16] adamgfraser commented on #3172
I will fix this.

[2020-03-18 19:32] GuillaumeSaintRaymondSonos commented on #3171
All clear, thanks a lot !

[2020-03-18 19:32] #3171 closed

[2020-03-19 01:00] nadenf commented on #3165
@ioleo .. Not working for me. I did just cherry-pick your fix into the latest ZIO master.

Original code:
[code]

Error:
[code]

[2020-03-19 01:27] threeseed opened #3177 "ZIO Core: Add foreachM"
In standard Scala to execute a function for each item in the list you would do:
[code]

In ZIO this becomes:
[code]

It would be nice if there was a foreachM which would allow you to write:
[code]

Similar to how we have whenM.

[2020-03-19 01:29] nadenf opened #3178 "ZIO Core: Add option"
It is very common when wrapping APIs to see the following style of method:
[code]
i.e. where it either returns the object or throws an exception.

We have Task.either which allows you to convert this to an either. But it would be nice as well to have Task.option as sometimes I don't care about why it failed.

[2020-03-19 01:35] ghostdogpr commented on #3178
It's already there no? https://javadoc.io/doc/dev.zio/zio_2.12/latest/zio/ZIO.html#option(implicitev:zio.CanFail[E]):zio.URIO[R,Option[A]]

[2020-03-19 03:54] adamgfraser commented on #3178
The other combinator you may want to look at is `Task#getOrFail` if you want to lift an optional value into a `Task`.

[2020-03-19 03:59] adamgfraser commented on #3177
I'm not sure this adds a lot of value over doing the `flatMap` call. Also, if we wanted to support this in a consistent way I think we would want to have variants for the different variants of `foreach` (e.g. do it sequentially, do it in parallel, do it in parallel with bounded parallelism, do it for `Chunk` versos `Iterable`, etc...). I think if anything we already have too many variants of these

[2020-03-19 04:02] nadenf commented on #3178
Really not sure how I missed that. Closing !

[2020-03-19 04:02] #3178 closed

[2020-03-19 04:07] nadenf commented on #3177
Completely understand. But I would add that looping over items is about as fundamental as it gets for so if you were going to add surface area it's probably tolerable.

I would add that with for comprehensions it does end up being an extra line of code that doesn't add much value:
[code]

[2020-03-19 08:17] ioleo commented on #3165
Thanks. Looking into it.

[2020-03-19 09:01] ioleo commented on #3165
@nadenf Judging by the error message I'd say you've got your type annotation wrong somewhere. Basically, the accessors add `Has[Service]` to your `R` environment. Check the updated examples in the PR.

[2020-03-19 11:44] adamgfraser commented on #3173
Resolved by #3175.

[2020-03-19 11:44] #3173 closed

[2020-03-19 11:46] #3172 closed

[2020-03-19 13:18] vasilmkd commented on #3166
`Sink.fromFunction` expects a pure function, which is not what you have provided, given the `Thread.sleep`. I suggest evaluating an effect with `Sink.fromEffect`, in which you will use `Clock` to `sleep` for a given duration, and you should see the correct behavior.

[2020-03-19 13:19] vasilmkd commented on #3166
I'll write a snippet, just give me a moment.

[2020-03-19 13:29] vasilmkd commented on #3166
I guess there is an issue after all, looking into it.

[2020-03-19 13:38] vasilmkd commented on #3166
@iravid We have implemented `ZSink#race` to mean the first sink to successfully finish (i.e. produce a value) wins, however we do not race effects inside the implementation (in fact we use `zipPar` which waits for both effects to finish. Technically, we are not racing the effects that these sinks execute, but rather the sinks as a whole, which are state machines, and we allow them to progress unti

[2020-03-19 14:09] iravid commented on #3166
Sure, racing the effects in Sink#race would be an improvement over waiting for both sides in every step. Though it may complicate the code considerably, because on subsequent steps, you have to wait for the other side to finish. The benefit would only be apparent when stepping and then immediately extracting, like in the example.

[2020-03-19 21:25] nadenf commented on #3165
@jdegoes .. I don't think this should be closed yet.

@ioleo .. If you look at what it says is required:

[code]

Notice how ZendeskError is in both E and A "slots" ?

[2020-03-20 00:24] ioleo commented on #3165
@nadenf You're right, I missed that and the examples I added were not sufficient to catch that, I'll have it fixed soon. Thanks!

[2020-03-20 01:05] ioleo commented on #3165
@nadenf Updated the examples to catch this error and fixed the logic. Thanks again for reporting! :pray:

[2020-03-20 02:11] nadenf commented on #3165
@ioleo @jdegoes  .. Looks great. Thanks for the amazing turnaround time !

[2020-03-20 02:11] #3165 closed

[2020-03-20 14:07] luis3m commented on #2962
After some time thinking about this, I think I finally understand what @sideeffffect is suggesting. The idea is to track standalone side-effects with this proposed new `SideEffect` service which will motive people to move these side-effects to services.

Move from:
[code]
To write this:
[code]

If that's what you are suggesting then I also think that will influence the architecture of ZIO apps in

[2020-03-20 20:34] neko-kai commented on #2962
@luis3m
No, If you create an instance of `CacheService` and supply it with a `SideEffect` instance such that `CacheService` uses it but doesn't expose it to clients, then there won't be a `SideEffect` dependency on clients. I've wrote about this pattern a bit in the second section of izumi zio.Has-support [docs](https://izumi.7mind.io/latest/release/doc/distage/basics.html#zio-has-bindings) (err,

[2020-03-20 23:55] luis3m commented on #2962
@neko-kai like this, I suppose:

[code]

Right?

[2020-03-21 01:59] sideeffffect commented on #2962
@luis3m yep, I think we're on the same page :smile:

[2020-03-21 17:12] simpadjo commented on #2719
@iravid I'd take some but don't see the branch. Is there anything done at the moment?

[2020-03-21 19:38] simpadjo commented on #2981
@adamgfraser what about modifying `Fiber.dumpStr`instead?
So it first prints the fibers hierarchy tree with minimal inline information and then individual fiber stacktraces via `prettyPrintM` as before?

[2020-03-21 20:10] adamgfraser commented on #2981
@simpadjo That sounds like a great idea!

[2020-03-21 20:55] simpadjo commented on #2981
Ok, picking this one then.

[2020-03-21 21:02] bogdanmanate commented on #2981
Hi @adamgfraser,
I will give it a try.

[2020-03-21 21:04] adamgfraser commented on #2981
@simpadjo @bogdanmanate Can you please coordinate?

[2020-03-21 21:09] bogdanmanate commented on #2981
@simpadjo are you also on the zio discord channel ?

[2020-03-21 21:28] iravid commented on #2719
@simpadjo Hey - the branch is `feature/zconduit`.

[2020-03-22 05:06] sir-wabbit opened #3187 "Improve type inference for ZSink"
POC example:
[code]

As you can see, it is possible to implement `ZSink`'s methods without relying on `=:=` proofs, which would inevitably result in bad type inference (AFAIU). I am currently investigating whether all methods on `ZSink` can be fixed in a similar manner.

[2020-03-22 05:29] alexknvl commented on #3187
This method is particularly suspect:
[code]

There is no reason to require equality between inputs and outputs as far as I can tell!

[2020-03-22 14:05] jdegoes commented on #3187
@alexknvl Love it!

[2020-03-22 19:37] kitlangton commented on #2371
Should this issue be closed since #2492 got merged?

[2020-03-23 02:06] alexknvl commented on #780
Here is a POC for the JRuby approach. I verified that it has the expected behavior on JRE8 + MacOS.

[code]

[2020-03-23 02:12] alexknvl commented on #780
Is the usage of reflection a problem? I don't know much about Java 9+.

[2020-03-23 05:33] #1819 closed

[2020-03-23 07:01] alexknvl commented on #780
An improved POC that shows that both polling and JRuby solution work. Polling can be used as a fallback solution.

<details>
<summary>Snippet</summary>

[code]

</details>

[2020-03-23 07:39] #2625 closed

[2020-03-23 10:09] fcabouat opened #3200 "ZStream, merge multiple effectful streams provokes unknown Fiber interrupt"
Hi,

I think I might have found a bug when merging 3 streams ? Am I doing something wrong here ?

[code]

INFO  2020
INFO  35
INFO  1040
ERROR Exception in thread "main" zio.FiberFailure: Fiber failed.
ERROR An interrupt was produced by #8.
ERROR No ZIO Trace available.

https://scastie.scala-lang.org/ERbRyMh0QOCyXcENPHXi8w

Regards,

[2020-03-23 13:25] jdegoes commented on #780
@alexknvl This is really great! I'd shy away from reflection if another solution is possible. Does your alternate formulation still support interruption?

[2020-03-23 16:01] iravid commented on #3200
Hi @fcabouat, which ZIO version is this?

[2020-03-23 16:43] ioleo opened #3203 "ZIO Macros: add optional wrapper for accessors"
As pointed out by DmytroOrlov on discord:

To resolve this we should add an optional argument to `@accessible` macro, eg `@accessible(">")` that if defined, will be the name of wrapping object.

Examples:

[code]

[code]

[code]

[2020-03-23 18:09] alexknvl commented on #780
@jdegoes https://github.com/alexknvl/interruptible-getstrln
All three strategies work equally well as far as I can tell. All three versions are interruptible.

[2020-03-23 18:48] tylerprete commented on #3200
@iravid I can reproduce on 1.0.0-RC18-2

[2020-03-23 18:52] fcabouat commented on #3200
Same version for me, 1.0.0-RC18-2 and 1.0.0-RC18 in the Scastie :)

[2020-03-23 19:25] #2334 closed

[2020-03-23 19:28] iravid commented on #3200
Thanks for the info @fcabouat and @tylerprete. This appears to be the same problem we had with `ZManaged#zipWithPar`. A workaround fro now is `ZStream.mergeAll(3)(s1, s2, s3)` - that works correctly in the scastie you attached.

[2020-03-23 20:18] fanf opened #3205 "Missing API for `ZSchedule` which takes a list of durations"
Sometime, we want to exexcute a given action after specific (user provided) intervals of time, and it would be handy to have a pair of API for that: one matching `fixed` semantic, and one matching `spaced` one.

I imagine a combinator taking a list of durations for parameter, and building the corresponding schedule so that:
[code]
(I will let you choose better names

[2020-03-23 20:19] adamgfraser commented on #3205
`Schedule.fromIterable`?

[2020-03-23 21:31] neko-kai commented on #3203
The accessor object should inherit from `Service` for the method to be resolved to the `Service` method in IDE - otherwise it will still be the object's method. I think @DmytroOrlov means the version of module pattern with type parameter specifically:

[code]

[2020-03-23 21:53] fcabouat commented on #3200
Thanks, the workaround also works on my real case and even looks cleaner !

[2020-03-24 13:48] adamgfraser commented on #3205
@jeremyrsmith You still working on this?

[2020-03-24 14:08] jeremyrsmith commented on #3205
@adamgfraser I think it will be easy for someone more familiar with `Schedule`... I realized I don't actually grok it that well.

[2020-03-24 14:24] mijicd opened #3212 "Refine retry storms handling"
The strategy implemented in #3210 enabled performance increase of long-running transactions "stuck" in retrying. The purpose of this ticket is to come up with the solution to the problem described in [this comment](https://github.com/zio/zio/pull/3210#issuecomment-603164543) which is the possibility to block many transactions due to the long one holding a global lock.

[2020-03-24 15:23] adamgfraser commented on #3205
@jeremyrsmith Okay. I will take it.

[2020-03-24 19:46] fillson-shady opened #3213 "Stream randomly does not completes"
Hello!

I use zio together with [zio-grpc](https://github.com/scalapb/zio-grpc) and have strange behaviour in case of bidirectional streaming. I run same test multiple times and it randomly fails or passes.

The problem is in stream closing on the client side. Client code looks like:
[code]
where `GrpcClient.transmitRetry` is auto-generated gRPC stub with zio retry logic.

Internally bidirectional

[2020-03-24 20:08] #2369 closed

[2020-03-24 20:27] runtologist commented on #2991
I'm working on this.

[2020-03-24 20:43] holinov opened #3214 "`sbt test` hungs when using ZLayer"
https://github.com/holinov/zlayer_kills_sbt
just try to run `sbt clean gmbot/test`

i have idea why this going on - one of my layers have some methods implemented as
[code]
and this makes sbt freeze.

sbt log
[code]

[2020-03-25 00:15] fcabouat opened #3217 "zio-macros : generate accessors for "flat" service"
Hi,

In https://github.com/zio/zio/issues/3203, there is some discussion to change the target structure of the `@accessible` macro.

Could be a non-goal, but it might be worth considering flexibility in the source structure, allowing accessors generation from "flat" Traits departing from the "module pattern" conventions ?

(Following Discord discussion)

Package => contains traits of my services +

[2020-03-25 01:15] ioleo opened #3218 "ZIO Test: typeChecks assertion does not expand macros"
It seems sometimes macros are not expanded in `typeChecks` assertion:

[code]

Results in:
[code]

While the same cases actually compiled (in Examples project) behave as expected.
The error message from first test basically tells that the macro is not expanded.
While similar test suite for accessible macro behaves as expected:
[AccessibleSpec](https://github.com/zio/zio/blob/master/macros/shared/s

[2020-03-25 02:08] nadenf opened #3219 "ZIO Core: Add isError/isSuccess"
Feel free to close this if it doesn't make sense but I seem to be commonly writing:
[code]

Ideally it would be nice to have something like:
[code]

[2020-03-25 10:33] adamgfraser commented on #3219
@nadenf Can you say a little more about your use case? We have found that these use cases are almost always better handled with a combinator such as `foldM` because you want to know if an effect failed or succeeded and then you want to do something with the success or failure. In your example you can determine whether the effect succeeded but you will have to evaluate the effect again (which may r

[2020-03-25 18:35] #3205 closed

[2020-03-25 21:10] nadenf commented on #3219
@adamgfraser .. Not interested in the actual response just whether it returned successful.

For example:

[code]

[2020-03-25 23:44] holinov commented on #3214
Seems to be local problem. Closing issue

[2020-03-25 23:44] #3214 closed

[2020-03-26 08:58] fsvehla commented on #3214
Zio.die and dieMessage can be used to create an effect that will contain a defect even if E is not a Throwable.

[2020-03-26 15:25] fillson-shady commented on #3213
It seems, that race was in my code - between a fiber that completes client and a locking operation `dataQueue.take`. It is always hard to debug such async and interpreted (like in zio) code.
I'm sorry for disturbing and closing this task.
Anyway thank you so much for great library which is now changes the game in Scala world!

[2020-03-26 15:25] #3213 closed

[2020-03-26 18:22] neko-kai commented on #3100
Fixed in https://github.com/zio/zio/pull/3125

[2020-03-26 18:22] #3100 closed

[2020-03-27 08:00] #2881 closed

[2020-03-27 10:37] reibitto opened #3226 "ZIO Test: `@@ only` TestAspect"
This idea came up once before here:
https://github.com/zio/zio/pull/1838#issuecomment-535629515

Basically for when you want to run individual tests/suites with a TestAspect.

I like this idea for cases where you don't want to deal with labels and such.

There might be a few corner cases to think about when it comes to precedence. For example, what happens when you have an `@@ ignore` on a suite,

[2020-03-27 11:00] adamgfraser commented on #3226
I think we have the tools to do this now. We can add a static test annotation with `@@ only` and modify the test executor to first scan the specs for ones annotated with `only` and if any exist, only run those. As you say there are some tricky cases where we basically give the test framework conflicting instructions but we should be able to figure something out there. I will work on this.

[2020-03-27 13:52] iravid commented on #3213
No worries and thank you for taking the time to open the issue! To debug these issues, you can use the `TestAspect.diagnose` aspect in ZIO Test. That will give you a fiber dump that shows which fiber is hanging on what.

[2020-03-27 17:35] #3219 closed

[2020-03-28 14:42] joprice commented on #2299
Maybe this is fixed? Bumping to the newest release showed constant 50mb sawtooth for me  https://github.com/sebver/zio-memory-issue/compare/master...joprice:master

[2020-03-28 18:34] neko-kai commented on #2299
@sebver @Fristi Could you confirm whether the issue is fixed on `RC-18-2` ?

[2020-03-28 19:27] #2978 closed

[2020-03-28 21:19] jdegoes opened #3234 "Create BitChunk"
A BitChunk is a chunk of bits, whose length method returns the number of bits in the chunk, and whose apply / get / etc. methods all operate on the bits.

A `Chunk[X]` should have a `toBitChunk` method, for all `X` such that `X` can be easily viewed as a sequence of bits—most notably, `Chunk[Byte]`.

The methods on `BitChunk` should be similar to the methods on `Chunk`, but of course, specialized

[2020-03-29 10:47] nadenf opened #3235 "ZIO Core: Add ZIO.if"
In an ideal world I would be able to write code like this:

[code]

And it would match up nicely with ZIO.when.

[2020-03-29 11:13] nadenf opened #3236 "ZIO Core: Clarity over ZIO.when/if"
Given the following code .. (2) and (3) compile and (1) and (4) don't.
This is confusing as it is perfectly normal to have an if statement without the else.

[code]
One way of reconciling this is to only support "when" at the end e.g. doSomething.when(..) and add support for (1) to "if". Or just make "if" a synonym for "when".

[2020-03-29 12:14] ioleo opened #3237 "ZIO Mock: support polymorphic Services"
Issue raised on discord:

Currently there is no special handling for polymorphic services (only for polymorphic methods).
For now, users would have to create seperate machinery for each type eg.

[code]

Which is obviously boilerplate we'd like to avoid (and would also unnecessarily fatten the JAR).

[2020-03-29 14:57] jdegoes opened #3238 "Optimize Chunk#++"
`zio.Chunk`

Currently, chunk concatenation is lazy, but does not utilize a balanced tree. Balancing is necessary to achieve efficient performance in the presence of operations on the concatenated tree.

See [here](https://en.wikipedia.org/wiki/Rope_(data_structure))

[2020-03-29 22:47] afsalthaj opened #3240 "Expose all system properties and environment variables in maps"

[2020-03-30 11:08] adamgfraser commented on #3240
@afsalthaj Can you say a little more about this issue?

[2020-03-30 11:33] ahoy-jon opened #3242 "ZIO.Chunk classCast exception"
I am working on  #3241

I created this test :
[code]

with this error
[code]

Is that behavior normal?
Should we update the documentation in https://github.com/zio/zio/blob/master/docs/datatypes/chunk.md ?

[2020-03-30 11:34] adamgfraser commented on #3242
Does this replicate if you do with normal `Chunk` constructor on `master`?

[2020-03-30 12:37] ahoy-jon commented on #3242
Very good question! 😃 It is the same on "1.0.0-RC18-2+73-c6e7b4e6-SNAPSHOT"

The bug is "simple", the classTag is obtained on the first element. Here I am using an Int, to start the chunk, it is expected to follow with ints.

If we try to create a chunk with :
[code]
It doesn't work again.

This is a bad practice to create a `Chunk[AnyVal]` or a `Chunk[Any]`, but it is not documented.

That being

[2020-03-30 13:14] ahoy-jon commented on #3240
I had the issue another day, `System.Service` is defined as:
[code]
it would be nice to have 2 more methods:
[code]

[2020-03-30 14:04] adamgfraser commented on #3240
I see. Will add.

[2020-03-30 15:25] erdebee opened #3243 "Allow for user-supplied parameter rendering in Assertion"
When writing assertions, supplied parameters for an `Assertion` are always rendered using the `_.toString` method.

All classes/traits involved like `Render` and `RenderParam` are sealed, so we have to implement our own `_.toString` to any supplied values, which is not user friendly, and requires a lot of adapters to be used.

Can ZIO test implement Assertion variants that allow for custom rendere

[2020-03-30 15:27] adamgfraser commented on #3243
Thanks for raising! I will add.

[2020-03-30 15:50] sebver commented on #2299
Cool, I can confirm this issue is resolved now 👍

[2020-03-30 16:13] vilu commented on #3234
I would be up for working on this one.

[2020-03-30 17:32] adamgfraser commented on #3243
@rbrondgeest Agree we could have some nicer syntax for this but if you have a `render` method for a type that returns a `String` can't you just do `Assertion(param(render(myAssertion)))`?

[2020-03-30 18:37] rbrondgeest commented on #3243
That would only work for the “expected” side of the assertion.

[2020-03-31 06:35] Fristi commented on #2299
I have no issues with RC18-2

[2020-03-31 08:50] dhpiggott commented on #3087
I'm seeing the same sort of issue with 1.0.0-RC18-2. Was https://github.com/zio/zio/pull/3101 expected to mitigate this in 1.0.0-RC18-2?

[2020-03-31 11:18] adamgfraser commented on #3087
@dhpiggott Do you have a small example to reproduce? This seems to be working as expected:

[code]

[2020-03-31 14:19] adamgfraser commented on #2299
Closed by #2748.

[2020-03-31 14:19] #2299 closed

[2020-03-31 16:47] iravid commented on #3242
This is by design. Would be great to add a warning to Chunk about this.

[2020-03-31 18:09] adamgfraser commented on #3242
Closed by #3249.

[2020-03-31 18:09] #3242 closed

[2020-03-31 18:41] #3240 closed

[2020-03-31 19:30] #2323 closed

[2020-04-01 05:31] nadenf opened #3254 "ZIO Core: Add whenNotM/ifNotM"
Given the following code:

[code]
Without a whenNotM/ifNotM you will need create a superfluous fileNotExists method.

[2020-04-01 16:22] #3087 closed

[2020-04-01 16:40] dhpiggott commented on #3087
@adamgfraser I didn't have a small example - just a large one - but had been going to prepare and share one in the next day or so. I see you've now fixed it though. Thank you!

[2020-04-01 16:41] adamgfraser commented on #3087
@dhpiggott Yes, the issue was only in nested suites which is why it didn't show up in my simple example. Sorry it took us a little while to get this one resolved!

[2020-04-01 17:16] dhpiggott commented on #3087
No worries - thank you for such a great library! To provide a little more context, we have an integration test suite which is provided with a shared layer. That layer is expensive to create (think multiple Docker containers expensive) - hence making it be shared. The number of tests and the wall-time taken by each is such that running them in parallel is highly desirable (it's the ability to do th

[2020-04-02 03:37] adamgfraser commented on #3254
I'm a little worried about the proliferation of methods here. This can be written easily today as:

[code]

Or:

[code]

`whenNot` also feels awkward to me. If we do something here maybe we call it `unless`? I'm not sure this is a net positive though given it is one more way to do a very similar thing even though it is slightly more ergonomic in some cases.

[2020-04-02 04:16] ahoy-jon commented on #3238
after #3241
I could help someone do it.

[2020-04-02 13:02] jdegoes opened #3260 "Give TRef the polymorphic treatment"
Given that `ZRef` is only used to update immutable data, and given that much immutable data that is accessed concurrently is ideally stored in `TRef` structures inside the environment, it can make a lot of sense to port the polymorphism of `ZRef` into `TRef`.

Of course, we could have `ZTRef` and `TRef`, where `TRef` would be the less polymorphic version, similar to the relationship between `ZRef`

[2020-04-02 15:23] #2981 closed

[2020-04-02 15:28] adamgfraser commented on #3254
Closed by #3259.

[2020-04-02 15:28] #3254 closed

[2020-04-02 16:31] ioleo opened #3261 "Convert accessible and mockable macros into blackbox macros"
Opening this issue as a reminder to myself to finally get to it and rewrite them :)

[2020-04-02 18:54] vasilmkd commented on #3260
I'd like to work on this.

[2020-04-02 18:54] adamgfraser commented on #3260
Awesome!

[2020-04-03 01:17] #3260 closed

[2020-04-03 07:25] ioleo opened #3268 "Improve ZIO Mock documentation"
I have a feeling that the mocking documentation could be improved. I could use help from someone who will approach it with a fresh look to proofread whats already available and propose improvements either in form of PR or at least some comments that might help me identify parts that are unclear.

[2020-04-03 12:35] #2734 closed

[2020-04-03 15:01] serrufSe opened #3271 "ZManaged is not finalized"
Hello. I found that ZManaged can be not finalized after interruption in this small example
[code]
in output only
[code]
Is this is expected behavior ? It is look like vary common case, when in application level we start use some resource (like server) for forever in separate fiber and immediately start do some background work and late try to restart whole application.

Sorry for my english.
btw ZI

[2020-04-03 15:02] serrufSe commented on #3271
ZIO version 1.0.0-RC18-2

[2020-04-03 15:47] adamgfraser commented on #3271
@serrufSe Thanks for reporting! If you replace `ZIO.unit.forever` with `ZIO.never` or even `UIO(println("forever"))` it looks like it works as expected. So it seems like there is something with `ZIO.unit.forever` in particular, which is creating a very tight infinite loop with a constant value. Investigating further, but hopefully that at least gets your immediate issue resolved.

[2020-04-03 15:58] adamgfraser commented on #3271
Ah, interesting. If I replace `useForever` with `use(_ => ZIO.infinity)` it works correctly. So it looks like the forked fiber is being garbage collected before the finalizer is run.

[2020-04-03 16:16] serrufSe commented on #3271
Thanks for quick reply. Look like `use(_ => ZIO.infinity)` is fitted for my case.

[2020-04-03 22:15] LeeTibbert opened #3277 "ZIO web doc should explain Platform differences prior to Zio 1.0.0"
### Overview
Zio is incredibly open and welcoming in its documentation & support.  In that spirit...

From my recent work with the three platforms (JVM, JS, & Native) in the Zio GitHub directory,
I have come to believe that the web [documentation](https://zio.dev/docs), perhaps in or
below the `Overview` section, would benefit from a _small_ section explaining two topics
below.

I believe making t

[2020-04-03 22:19] adamgfraser commented on #3277
Great suggestions! I will work on this.

[2020-04-03 22:35] LeeTibbert commented on #3277
Thanks Adam,  I did not mean to generate first level work for you...

A related related to the "zero dependencies", I think. Is that I have not yet stumbled
across a place which describes minimal required versions. Perhaps because
ZIO has been evolving so quickly that any such documentation would be overwhelmed
by events.

I suspect from a recently accepted PR about jsPromise that Zio requires an

[2020-04-03 22:45] LeeTibbert commented on #3277
Reporting as I find/remember them.

scala/zio/blocking & variants are not available with scalaJs.

[2020-04-03 23:03] LeeTibbert commented on #3277
core/shared/src/main/scala/zio/Runtime.scala methods unsafeRun() & unsafeRunSync() are preceded by the  comment:  I believe these routines are foundational and is called by code a
[code]
I believe these routines are foundational: unsafeRun is called in the example
at https://zio.dev/docs/overview/overview_running_effects:
`runtime.unsafeRun(ZIO(println("Hello World!")))`.  That example
works, but

[2020-04-03 23:11] LeeTibbert commented on #3277
Doc issues being identified and rising to the top is, IMHO, a sign of maturity for ZIO.

Please consider making the "hello-world" example more prominent.  It exists, but is hard to find.
I suspect that a lot of new people start by looking for a "hello-world" example.

Different people have different learning styles.  It is impossible for doc, even hyperlinked doc,
to address all of them, but some

[2020-04-03 23:31] LeeTibbert opened #3278 "js & native core/Runtime should do better job handling unsafeRun() & unsafeRunSync()"
This is more of a forget-me-not than an Issue to be resolved for the pending Zio 1.0.0. It addresses
internals which should probably not be changed at near remove.

The methods unsafeRun() and unsafeRunSync()  in core/shared/src/main/scala/zio/Runtime.scala
are preceded by the comment:
[code]
Running the entire Zio test ensemble works for me with scalaJS so the
javascript event loop "run to comple

[2020-04-04 10:49] reibitto opened #3280 "ZIO Test: Cancel after first failure feature"
I particularly find this feature useful when I just refactor some code that potentially could break a lot of stuff. I do a test run as a sanity check. And if I see a failure, I'd rather stop there and fix the issue rather than have the tests continue to run for a while only to see something like "300 errors".

Technically this could be generalized as "Cancel after N failures". I don't know if that

[2020-04-04 10:59] reibitto commented on #3280
One more thing to think about is failures when running tests in parallel. For example, scalatest has `CancelAfterFailure` but you can't use that with `ParallelTestExecution`.

I don't foresee ZIO Test having this problem considering ZIO supports interruption, but thought I'd mention it anyway.

[2020-04-05 00:50] adamgfraser commented on #3278
Using `unsafeRun` and `unsafeRunSync` on Scala.js is definitely unsafe. ZIO Test specifically uses `unsafeRunAsync` to avoid this (see [here](https://github.com/zio/zio/blob/a9082ed03864dba3f9a59bce10e172eeaf00c6e9/test/shared/src/main/scala/zio/test/RunnableSpec.scala#L49)). The failure can be somewhat indeterministic because it occurs if there is an asynchronous step and then we have to block fo

[2020-04-05 13:59] #3277 closed

[2020-04-05 14:02] jdegoes opened #3289 "Add BenchmarkSpec"
A hypothetical benchmark spec would benchmark "tests" and report timing information, allowing configuration using aspects like `@@ warmup(50) @@ parallelism(5) @@ iterations(1000)`.

TODO: Spec this out more.

[2020-04-05 14:06] simpadjo opened #3290 "New Stream encoding: very basic transducing doesn't work"
I tried to write basic examples and failed so far:

[code]

Both tests fail due to timeout.
In the first one `idSink` continuously receives `None` input.

Pinging @regiskuckaertz and @iravid

[2020-04-05 14:07] adamgfraser commented on #3289
I would like to work on this.

[2020-04-05 17:13] susliko opened #3296 "ZIO `andThen` is broken"
The method `.andThen` is now defined as
[code]
While its context type parameter bound should be `R1 >: R` instead of `R1 >: A`

[2020-04-05 17:38] adamgfraser commented on #3296
I don't think it is broken but the type signature can be simplified. This method is supposed to take the output type of this effect, the `A` value, and send it to a second effect that requires the `A` as its environment type, representing arrow composition.

The signature can be simplified as done in [this](https://github.com/zio/zio/pull/3294/files) open PR to:

[code]